<template>
  <div class="permission-wrap">
    <van-nav-bar title="权益说明" left-arrow @click-left="_toReturn" fixed></van-nav-bar>
    <div class="integral">
      <div class="integral-top" v-show="levelList.length > 0">等级说明</div>
      <div class="integral-bottom" v-for="(item,index) in levelList" :key="index">
        <div class="integral-left">
          <img :src="allImgDomainName + item.wens_ranglogo" class="icon"/>
          <p class="name">{{item.wens_rangname}}</p>
        </div>
        <div class="integral-right">
          <div class="empty-content">
            <div class="empty" v-for="(items, myIntegral) in levelList[index].pList" :key="myIntegral">
              <span class="plus" :class="{'active': items.pType === 1}"></span>
              <span class="name" :class="{'active': items.pType === 1}">{{items.name}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-if="privilegeList && privilegeList.length">
      <div class="statement">
        <div class="statement-top">
          <p>权益说明</p>
        </div>
        <div class="statement-bottom" v-for="(aerry,myStatement) in privilegeList" :key="myStatement">
          <div class="statement-left">
            <img :src="allImgDomainName + aerry.wens_picture" class="icons"/>
            <p class="names">{{aerry.name}}</p>
          </div>
          <div class="statement-right">
            <div class="appdescription">{{aerry.wens_description}}</div>
          </div>
        </div>
      </div>
      <!-- <div class="permission-bottom">
        <div class="permission-bottom-left"></div>
        <span>没有更多了</span>
        <div class="permission-bottom-right"></div>
      </div> -->
    </div>
    <div class="no-data-box" v-else>
      <no-data :loading="requestLoading"></no-data>
    </div>
  </div>
</template>

<script>
import NoData from '@/components/no-data'
import { api } from '@/api'
import { allImgDomainNameMixin } from '@/assets/js/mixin'

export default {
  name: 'level-interests-statement',
  mixins: [allImgDomainNameMixin],
  components: {
    NoData
  },
  data () {
    return {
      levelList: [],
      privilegeList: [],
      requestLoading: false // 接口请求加载动画
    }
  },
  created () {
    this.getRatLevelList()
  },
  methods: {
    _toReturn () {
      this.$router.go(-1)
    },
    getRatLevelList () {
      this.requestLoading = true
      const params = {
        companyId: this.$route.query.companyId
      }
      api.commonCall(params, 'ratLevelList').then(res => {
        this.requestLoading = false
        if (res.success) {
          this.levelList = res.data.levelList
          this.privilegeList = res.data.privilegeList
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.border-1px-center(@color: #E8E9EB, @width: 100%) {
  position: relative;
  &::after {
    content: ' ';
    width: @width;
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    border-top: 1px solid @color;
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
      transform: translateX(-50%) scaleY(0.7);
      -webkit-transform: translateX(-50%) scaleY(0.7);
    }

    @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
      transform: translateX(-50%) scaleY(0.5);
      -webkit-transform: translateX(-50%) scaleY(0.5);
    }
  }
}

.permission-wrap{
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background-color: #f8f8f8;
  .integral{
    width: 95%;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 110px;
    background-color: #38393E;
    border-radius: 8px;
    .integral-top{
      width: 100%;
      height: 60px;
      background-color: #1b2649;
      font-family: "PingFang SC";
      font-size: 28px;
      color: #FFFFFF;
      text-align: center;
      line-height: 60px;
      font-weight: bold;
    }
    .integral-bottom{
      width: 100%;
      padding: 30px 0;
      overflow: hidden;
      background-color: #1b2649;
      display: flex;
      align-items: center;
      &:nth-child(2n){
        background-color: #253363;
      }
      .integral-left{
        width: 25%;
        height: 100%;
        float: left;
        text-align: center;
        .icon{
          width: 64px;
          height: 64px;
          border-radius: 50%;
        }
        p{
          font-family: "PingFang SC";
          font-size: 24px;
          color: #FFFFFF;
          text-align: center;
          font-weight: bold;
          margin-top: 5px;
          word-wrap: break-word;
          word-break: break-all;
        }
      }
      .integral-right{
        width: 75%;
        height: 100%;
        float: left;
        .empty-content{
          width: 100%;
          overflow: hidden;
          margin-top: 22px;
          margin-bottom: 22px;
          .empty{
            width: 50%;
            overflow: hidden;
            float: left;
            &:nth-child(odd) {
              clear: left;
            }
            .plus {
              display: block;
              width: 22px;
              height: 22px;
              float: left;
              border-radius: 35px;
              margin-top: 7.5px;
              border: 0px solid;
              margin-left: 15px;
              background: url("~@/assets/images/membership/plus.svg") no-repeat no-repeat center center;
              background-size: 100% 100%;
              -webkit-filter: grayscale(100%);
              -moz-filter: grayscale(100%);
              -o-filter: grayscale(100%);
              filter: grayscale(100%);
              &.active {
                -webkit-filter: grayscale(0%);
                -moz-filter: grayscale(0%);
                -o-filter: grayscale(0%);
                filter: grayscale(0%);
              }
            }
            .name {
              font-family: "PingFang SC";
              font-size: 24px;
              color: #898C9C;
              line-height: 40px;
              margin-left: 15px;
              margin-right: 10px;
              word-wrap: break-word;
              word-break: break-all;
              &.active {
                word-wrap: break-word;
                word-break: break-all;
                color: rgb(145, 145, 5);
              }
            }
          }
        }
      }
    }
  }
  .statement{
    width: 95%;
    overflow: hidden;
    margin: 30px auto;
    background-color: #FFFFFF;
    border-radius: 12px;
    .statement-top{
      width: 95%;
      height: 70px;
      margin: 0 auto;
      p{
        font-family: "PingFang SC";
        font-size: 28px;
        color: #434349;
        text-align: center;
        line-height: 70px;
        font-weight: bold;
      }
    }
    .statement-bottom{
      width: 100%;
      overflow: hidden;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      &:not(:last-child) {
        .border-1px-center(@color: #F1EFF8, @width: 654px);
      }
      .statement-left{
        width: 30%;
        height: 100%;
        float: left;
        text-align: center;
        .icons{
          width: 80px;
          height: 80px;
          border-radius: 8px;
          margin-top: 20px;
        }
        p{
          font-family: "PingFang SC";
          font-size: 24px;
          color: #434349;
          text-align: center;
          margin-top: 10px;
          margin-bottom: 20px;
        }
      }
      .statement-right{
        margin: 20px;
        width: 64%;
        height: 100%;
        float: left;
        word-wrap: break-word;
        .appdescription{
          width: 100%;
          @{deep} * {
            max-width: 100% !important;
          }
        }
      }
    }
  }
  .permission-bottom{
    width: 100%;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    .permission-bottom-left{
      width: 124px;
      height: 1px;
      float: left;
      margin-top: 24px;
      margin-left: 22%;
      background-color: #979797;
    }
    span{
      font-family: "PingFang SC";
      font-size: 28px;
      color: #A9ABAF;
      float: left;
      margin-left: 8px;
      line-height: 50px;
    }
    .permission-bottom-right{
      width: 124px;
      height: 1px;
      float: left;
      margin-top: 24px;
      margin-left: 8px;
      background-color: #979797;
    }
  }
}
</style>
