<template>
  <div class="membership-management-wrap">
    <van-nav-bar title="会员管理" left-arrow @click-left="_toReturn"></van-nav-bar>
    <top-box :index="index" @getCompanyId="getCompanyId" @getGrade="getGrade" @switchIndex="switchIndex">
      <!-- 齐创币 -->
      <trade ref="tradeRef" slot="trade" :companyId="companyId"></trade>

      <!-- 会员 -->
      <level ref="levelRef" slot="level" :companyId="companyId" :gradeData="gradeData"></level>

      <!-- 出勤 -->
      <attend ref="attendRef" slot="attend" :companyId="companyId"></attend>
    </top-box>
  </div>
</template>

<script>
import TopBox from '@/components/membership-management/top-box'
import Trade from '@/components/membership-management/trade'
import Level from '@/components/membership-management/level'
import Attend from '@/components/membership-management/attend'

export default {
  name: 'membership-management',
  components: {
    TopBox,
    Trade,
    Level,
    Attend
  },
  data () {
    return {
      index: '2', // '1'-齐创币，'2'-会员，'3'-出勤
      companyId: '',
      gradeData: {}
    }
  },
  mounted () {
    this.index = this.$route.query.index + '' || '2'
    this.companyId = this.$route.query.companyId || ''
  },
  methods: {
    _toReturn () {
      this.$router.go(-1)
    },
    switchIndex (index) {
      if (this.index === index) return

      this.index = index
      this.$router.replace({
        path: '/membershipManagement',
        query: { index: index, companyId: this.companyId }
      })

      this.$nextTick(() => {
        if (this.index === '1') {
          this.$refs.tradeRef.$emit('dataLoad')
        } else if (this.index === '2') {
          this.$refs.levelRef.$emit('dataLoad', this.gradeData)
        } else if (this.index === '3') {
          this.$refs.attendRef.$emit('dataLoad')
        }
      })
    },
    getCompanyId (id) {
      this.companyId = id
      this.$router.replace({
        path: '/membershipManagement',
        query: { index: this.index, companyId: id }
      })

      this.$nextTick(() => {
        if (this.index === '1') {
          this.$refs.tradeRef.$emit('dataLoad')
        } else if (this.index === '2') {
          this.$refs.levelRef.$emit('dataLoad', this.gradeData)
        } else if (this.index === '3') {
          this.$refs.attendRef.$emit('dataLoad')
        }
      })
    },
    getGrade (obj) {
      this.gradeData = obj
      this.$nextTick(() => {
        if (this.index === '2') {
          this.$refs.levelRef.$emit('getGrade', this.gradeData)
        }
      })
    }
  }
}
</script>

<style scoped lang="less">
.membership-management-wrap {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background-color: #f8f8f8;
}
</style>
