<template>
  <div class="qualityEvaluation-wrap">
    <van-nav-bar title="质量评价" left-arrow @click-left="_toReturn"></van-nav-bar>
  </div>
</template>

<script>
export default {
  name: 'qualityEvaluation',
  data () {
    return {}
  },
  mounted () {},
  methods: {
    _toReturn () {
      this.$router.go(-1)
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

  .qualityEvaluation-wrap{
    width: 100%;
    min-height: 100vh;
    background: #F8F8F8;
  }
</style>
