<template>
  <div class="v-header-wrap">
    <i @click.stop.prevent="_goBack"></i>
    <p>{{title}}</p>
  </div>
</template>

<script type="text/ecmascript-6">
export default {
  name: 'v-header',
  props: {
    title: {
      type: String,
      default: ''
    }
  },
  data () {
    return {}
  },
  mounted () {},
  methods: {
    _goBack () {
      this.$router.go(-1)
    }
  }
}
</script>

<style scoped lang="less">
.v-header-wrap {
  background: rgba(255, 255, 255, 1);
  position: relative;
  &::after {
    display: block;
    width: 100%;
    height: 1px;
    content: "";
    background: rgba(232, 233, 235, 1);
  }
  i {
    display: inline-block;
    content: " ";
    height: 20px;
    width: 20px;
    border-width: 0 0 3px 3px;
    border-color: #2e3033;
    border-style: solid;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    position: absolute;
    top: 36px;
    left: 36px;
  }
  p {
    height: 96px;
    line-height: 96px;
    font-size: 34px;
    font-weight: 500;
    color: rgba(46, 48, 51, 1);
    text-align: center;
  }
}
</style>
