<template>
  <div class="not-used">
    <div class="not-used-content" :class="{'higher': item.turnUpIcon}" v-for="(item, index) in data" :key="index">
      <div class="not-used-content-option" :class="{'used-icon': item.usedStatus === '1', 'overdue-icon': item.usedStatus === '2'}">
        <div>
          <div class="not-used-box-left">
            <img v-if="item.mistiming > 0 && item.mistiming < 86400000" class="expire" src="@/assets/images/coupon/expire-soon.svg" alt="">
            <p :class="item.usedStatus === '0' ? 'p-amount-red' : 'p-amount'">&yen;<span>{{item.discountAmount}}</span></p>
            <p :class="item.usedStatus === '0' ? 'p-text-red' : 'p-text'">{{item.activityUsing === '0' ? '满' + (item.fullReductType === 1 ? item.activityAmount : item.fullReductType === 2 ? item.fullReductQty : ' ') + fullReductUnitText(item.fullReductType) + '可用' : '立减券'}}</p>
            <p class="isStack">{{item.isStack === '0' ? '(不可叠加)' : '(可叠加)'}}</p>
          </div>
          <div class="not-used-box-center">
            <p>{{item.name ? item.name : thresholdText(item.receivingThreshold)}} ({{item.pubOrgName}})</p>
          </div>
        </div>
        <hr/>
        <div>
          <div class="not-used-content-left">
            <p v-if="item.usedStatus === '1'">订单编码：<span class="can-jump" @click="toOrderDetail(item)">{{item.orderNumber}}</span></p>
            <p v-if="item.usedStatus === '1'">使用时间：{{item.usedDate}}</p>
            <p v-if="item.usedStatus === '1'">使用门店：{{item.storeName}}</p>
            <p>有效期：{{item.validDate + ' ~ ' + item.invalidDate}}</p>
            <!-- <p>有效时段：{{item.beginTime ? item.beginTime : '00:00:00'}} ~ {{item.endTime}}</p> -->
            <!-- <p>活动编号：{{item.activityNumber}}</p> -->
            <p>类&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;型：{{thresholdText(item.receivingThreshold)}}</p>
          </div>
          <div class="not-used-content-right" v-if="item.usedStatus === '0'">
            <button class="btn" @click="_toGoodList(item)">立即使用</button>
            <img
              :src="item.turnUpIcon ? require('@/assets/images/coupon/turnup.svg') : require('@/assets/images/coupon/turndown.svg')"
              class="img-icon"
              @click="showUpOrDown(index)"
            >
          </div>
        </div>
      </div>

      <div class="bottom" v-if="item.turnUpIcon">
        <p v-if="item.availableType === 'D'">使用范围：通用券</p>
        <p v-else-if="item.availableType === 'C'">使用范围：{{item.availableName}}渠道专属</p>
        <p v-else-if="item.availableType === 'B'">使用范围：{{item.availableName}}分类专属</p>
        <p v-else-if="item.availableType === 'A'">使用范围：{{item.availableName}}商品专属</p>
        <p>券的来源：{{item.receiveType === '0' ? '商家处领取获得' : '自动发放'}}</p>
      </div>
    </div>
  </div>
</template>

<script>
import { getCookie } from '@/utils/common'
export default {
  name: 'not-used',
  props: {
    data: {
      type: Array,
      required: true
    }
  },
  data () {
    return {}
  },
  mounted () {
  },
  methods: {
    fullReductUnitText (type) {
      switch (type) {
        case 1:
          return '元'
        case 2:
          return '只'
        default:
          return ''
      }
    },
    thresholdText (threshold) {
      switch (threshold) {
        case 'A':
          return '普通优惠券'
        case 'B':
          return '新人优惠券'
        case 'C':
          return '首单优惠券'
        case 'D':
          return '等级优惠券'
        case 'E':
          return '红包优惠券'
        default:
          return '优惠券'
      }
    },
    showUpOrDown (index) {
      this.$set(this.data[index], 'turnUpIcon', !this.data[index].turnUpIcon)
    },
    _toGoodList (item) {
      this.$router.push({
        path: '/goodsList',
        query: {
          condition: JSON.parse(getCookie('selectedChannel')).channelName ? '销售渠道_ownerName_' + JSON.parse(getCookie('selectedChannel')).channelName : ''
        }
      })
    },
    toOrderDetail (item) {
      this.$router.push({
        path: '/orderDetail',
        query: {
          orderId: item.orderId,
          easbillid: item.easbillid,
          wens_business: item.wens_business === '2' ? '2' : '1' // 订单类型： 2为养猪订单 1为其他类型订单
        }
      })
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.not-used{
  width: 100%;
  height: 100%;
  .not-used-content{
    width: 706px;
    margin: 0 auto 22px;
    position: relative;
    &.higher {
      margin-bottom: 134px;
    }
    .not-used-content-option{
      position: relative;
      width: 100%;
      background: #fff;
      border-radius: 12px;
      box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.15);
      overflow: hidden;
      z-index: 1;
      >div {
        display: flex;
      }
      &.used-icon {
        .bg-img('~@/assets/images/coupon/used-icon');
        background-position: 634px 0;
        background-size: 72px 86px;
        background-repeat: no-repeat;
      }
      &.overdue-icon {
        .bg-img('~@/assets/images/coupon/overdue-icon');
        background-position: 634px 0;
        background-size: 72px 86px;
        background-repeat: no-repeat;
      }
      .not-used-box-left{
        width: 28%;
        position: relative;
        min-height: 160px;
        .isStack {
          font-size: 24px;
          color: #999;
          text-align: center;
        }
        .expire{
          position: absolute;
          top: 0px;
          left: 0px;
          width: 80px;
        }
        .p-amount-red{
          font-size: 24px;
          color: #E02020;
          text-align: center;
          padding-top: 30px;
          span{
            font-size: 40px;
          }
        }
        .p-amount{
          font-size: 24px;
          color:rgba(153,153,153,1);
          text-align: center;
          padding-top: 30px;
          span{
            font-size: 40px;
          }
        }
        .p-text-red{
          text-align: center;
          font-size: 24px;
          color: #E02020;
        }
        .p-text{
          text-align: center;
          font-size: 24px;
          color:rgba(153,153,153,1);
        }
      }
      .not-used-box-center{
        box-sizing: border-box;
        width: 72%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px 20px;
        p{
          font-size: 28px;
          color: #333;
          word-wrap: break-word;
          word-break: break-all;
        }
        span{
          display: block;
          font-size: 24px;
          color: #A9ABAF;
          padding-top: 8px;
        }
      }
      hr {
        width: 100%;
        height: 1px;
        border: none;
        border-top: 1px dashed #cccccc;
      }
      .not-used-content-left {
        padding: 20px 0;
        p {
          padding-left: 24px;
          font-size: 24px;
          color: #999;
          line-height: 40px;
          .can-jump {
            color: #2763CF;
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
      .not-used-content-right{
        width: 236px;
        padding: 20px 0;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        .btn{
          width: 132px;
          height: 48px;
          border: none;
          background: linear-gradient(to right, #F59900, #F4793B);
          line-height: 48px;
          font-size: 24px;
          color: #fff;
          border-radius: 8px;
        }
        .img-icon{
          width: 20px;
          height: 16px;
          margin-top: 16px;
        }
      }
      .tip-icon {
        position: absolute;
        right: 8px;
        top: 2px;
        width: 72px;
        img{
          width: 100%;
        }
      }
    }
    .bottom{
      box-sizing: border-box;
      position: absolute;
      bottom: -112px;
      width: 100%;
      height: 124px;
      padding: 32px 0 20px;
      background-color: #fff;
      border-radius: 12px;
      box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.15);
      p{
        font-size: 24px;
        color: #999;
        padding-left: 22px;
        &:not(:first-child) {
          padding-top: 4px;
        }
      }
    }
  }
}
</style>
