<template>
  <div class="concern-item" v-if="type === 'goods'">
    <img
      v-lazy="allImgDomainName + data.thumbnail"
      alt=""
      class="goods-img"
      @click="seeGoodsDetails"
    >
    <div class="content">
      <h3 class="name" @click="seeGoodsDetails">{{data.itemName}}</h3>
      <span class="sales" @click="toShop">{{data.storeName || data.ownerName}}</span>
      <p class="tag">
        <span v-if="+data.itemType === 1">非单卖品</span>
        <!-- <span v-if="data.combItemId">组合大促</span> -->
        <span v-if="data.combName">{{data.combName}}</span>
      </p>
      <div class="price-info">
        <div class="left" v-if="data.itemPrice">
          <span class="price">{{data.itemPrice | keepTwoNum}}</span>
          <span class="unit"> 元/{{data.saleUnitName}}</span>
        </div>
        <div class="left" v-else>
          <span class="price">敬请期待</span>
        </div>
        <div class="right" v-if="data.count">{{data.count}}人收藏</div>
      </div>
    </div>
  </div>

  <div class="concern-item shop" v-else-if="type === 'shop'">
    <img
      v-lazy="{ src: allImgDomainName + data.useImg, error: require('@/assets/images/default/store_logo.jpg') }"
      alt=""
      class="goods-img"
    >
    <div class="content">
      <h3 class="name">{{data.storeName || data.ownerName}}</h3>
      <span class="sales" v-if="data.count">{{data.count}}人关注</span>
    </div>
  </div>
</template>

<script>
import { allImgDomainNameMixin } from '@/assets/js/mixin'

export default {
  name: 'concern-item',
  mixins: [allImgDomainNameMixin],
  props: {
    type: {
      default: 'goods'
    },
    data: {
      type: Object,
      required: true
    }
  },
  data () {
    return {}
  },
  created () {},
  methods: {
    seeGoodsDetails () {
      this.$emit('seeGoodsDetails', this.data.itemId, this.data.itemType, this.data.combItemId, this.data.isZZItem)
    },
    toShop () {
      this.$emit('toShop', this.data.ownerId)
    }
  }
}
</script>

<style lang="less" scoped>
  @import "~@/assets/css/mixin.less";

  .concern-item {
    width: 100%;
    height: 280px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 0 24px;
    display: flex;
    align-items: center;

    &.shop {
      height: 180px;

      .goods-img {
        width: 160px;
        height: 160px;
        flex: 0 0 160px;
      }

      .content {
        .name {
          font-size: 30px;
          line-height: 36px;
        }
      }
    }

    .goods-img {
      width: 260px;
      height: 260px;
      flex: 0 0 260px;
    }
    .content {
      height: 100%;
      flex: 1;
      margin-left: 24px;
      position: relative;
      .tag {
        >span {
          font-size: 26px;
          background: #e33240;
          color: white;
          padding: 0 6px;
          margin-right: 10px;
        }
      }
      .border-1px();
      .name {
        width: 100%;
        font-size: 28px;
        line-height: 34px;
        margin-top: 29px;
        display: -webkit-box;
        -webkit-line-clamp: 2; // 限制文本的行数，只显示两行
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
        word-break: break-all;
      }
      .sales {
        /*display: block;*/
        /*width: 100%;*/
        font-size: 22px;
        color: #8e939a;
        line-height: 56px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .price-info {
        width: 100%;
        font-size: 24px;
        color: #8e939a;
        padding: 32px 0;
        display: flex;
        justify-content: space-between;
        position: absolute;
        left: 0;
        bottom: 0;
        .left {
          flex: 2;
          .coin-symbol {
            color: #e33240;
          }
          .price {
            color: #e33240;
            font-size: 32px;
          }
          .unit {
            font-size: 22px;
            color: #e33240;
          }
        }
        .right {
          flex: 1;
          font-size: 22px;
          margin-top: 4px;
          text-align: right;
        }
      }
    }
  }
</style>
