<template>
  <div>
    <div class="demo-upload-list" v-for="(item, index) in uploadList" :key="index">
      <template v-if="item.status === 'finished' && (item.type === 'mp4' ? item.showUrl : true)">
        <img :src="item.showUrl ? item.showUrl : allImgDomainName + item.url">
        <div class="demo-upload-list-cover">
          <Icon type="ios-trash-outline" @click.native="handleRemove(item)"></Icon>
        </div>
      </template>
      <template v-else>
        <Progress v-if="item.showProgress" :percent="item.percentage" hide-info></Progress>
      </template>
    </div>
    <Upload
      ref="upload"
      :show-upload-list="false"
      :on-success="handleSuccess"
      accept="image/*, video/*"
      :format="['jpg','jpeg','png','mp4']"
      :on-format-error="handleFormatError"
      :on-exceeded-size="handleMaxSize"
      :before-upload="handleBeforeUpload"
      multiple
      type="drag"
      :action="uploadImageUrl"
      style="display: inline-block;width:1.54667rem;"
    >
      <div style="width: 1.54667rem;height: 1.54667rem;">
        <van-icon name="photograph" size="1.54667rem"/>
      </div>
    </Upload>
    <video
      ref="video"
      controls="controls"
      :src="videoSrc"
      @loadeddata="captureImage"
      preload="none"
      v-show="false"
    ></video>
  </div>
</template>

<script>
import { allImgDomainNameMixin } from '@/assets/js/mixin'
import { DOMAIN_NAME } from '@/api/index'

export default {
  mixins: [allImgDomainNameMixin],
  data () {
    return {
      uploadList: [],
      uploadImageUrl: '',
      videoSrc: '',
      cacheVideoSrc: '',
      currentFile: null
    }
  },
  created () {
    this.uploadImageUrl = DOMAIN_NAME + 'wens/auth/file/uploadImage.do'
  },
  methods: {
    captureImage () {
      let canvas = document.createElement('canvas')
      canvas.width = this.$refs.video.videoWidth
      canvas.height = this.$refs.video.videoHeight
      canvas.getContext('2d').drawImage(this.$refs.video, 0, 0, canvas.width, canvas.height)

      this.$set(this.currentFile, 'showUrl', canvas.toDataURL('image/png'))

      this.$emit('uploadFile', this.uploadList)
    },
    handleRemove (file) {
      const fileList = this.$refs.upload.fileList
      this.$refs.upload.fileList.splice(fileList.indexOf(file), 1)
      this.$emit('uploadFile', this.uploadList)
    },
    handleSuccess (res, file) {
      if (res.success !== 'success') {
        this.$toast.fail('上传图片失败')
        return
      }

      file.url = res.data[0]
      file.type = res.data[0].substr(res.data[0].indexOf('.') + 1)

      if (file.type === 'mp4') {
        this.currentFile = file
        this.videoSrc = this.cacheVideoSrc
      } else {
        this.$emit('uploadFile', this.uploadList)
      }
    },
    handleFormatError (file) {
      this.$Notice.warning({
        title: 'The file format is incorrect',
        desc:
          'File format of ' +
          file.name +
          ' is incorrect, please select jpg or png.'
      })
    },
    handleMaxSize (file) {
      this.$Notice.warning({
        title: 'Exceeding file size limit',
        desc: 'File  ' + file.name + ' is too large, no more than 2M.'
      })
    },
    handleBeforeUpload (file) {
      if (file.type.includes('mp4')) {
        let imgUrl = ''
        if (window.createObjectURL !== undefined) {
          imgUrl = window.createObjectURL(file)
        } else if (window.URL !== undefined) {
          imgUrl = window.URL.createObjectURL(file)
        } else if (window.webkitURL !== undefined) {
          imgUrl = window.webkitURL.createObjectURL(file)
        }
        this.cacheVideoSrc = imgUrl
      }
      // return false;
      const check = this.uploadList.length < 5
      if (!check) {
        this.$toast.fail('最多上传5个文件~')
      }
      return check
    }
  },
  mounted () {
    this.uploadList = this.$refs.upload.fileList
  }
}
</script>

<style scoped>
.demo-upload-list {
  display: inline-block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  border: 1px solid transparent;
  border-radius: 4px;
  overflow: hidden;
  background: #fff;
  position: relative;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  margin-right: 4px;
}

.demo-upload-list img {
  width: 100%;
  height: 100%;
}

.demo-upload-list-cover {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
}

.demo-upload-list:hover .demo-upload-list-cover {
  display: block;
}

.demo-upload-list-cover i {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  margin: 0 2px;
}
</style>
