<template>
  <div class="questionnaire-wrap">
    <van-nav-bar :title="questionnaireType === 1 ? '调查问卷' : '满意度调查'" left-arrow @click-left="toReturn"></van-nav-bar>

    <van-tabs v-model="active" @click="tabChange">
      <van-tab v-for="(tabItem, tabIndex) in tabList" :key="tabIndex" :title="tabItem.title">
        <van-pull-refresh v-model="isLoading" @refresh="onRefresh" v-if="questionnaireList && questionnaireList.length">
          <van-list v-model="loading" :finished="finished" @load="onLoad" :offset="200" finished-text="没有更多了">
            <div class="not-submitted">
              <div class="not-submitted-content" v-for="(item, index) in questionnaireList" :key="index">
                <div class="submitted-text">
                  <img
                    src="@/assets/images/questionnaire/questionnaire.svg"
                  />{{item.name}}<span class="status">（{{item.isAnswerStatus === '1' ? '未提交' : '已提交'}}）</span>
                </div>
                <div class="submitted-find">
                  <p @click="toQuestionnaireDetails(item)">查看</p>
                  <img src="@/assets/images/questionnaire/find.svg"/>
                </div>
              </div>
            </div>
          </van-list>
        </van-pull-refresh>
        <div class="no-data-box" v-else>
          <no-data :loading="requestLoading"></no-data>
        </div>
      </van-tab>
    </van-tabs>

    <!-- 置顶悬浮按钮 -->
    <scroll-to-top-hover-btn></scroll-to-top-hover-btn>
  </div>
</template>

<script>
import NoData from '@/components/no-data'
import ScrollToTopHoverBtn from '@/components/scroll-to-top-hover-btn/index'
import { api } from '@/api'

export default {
  name: 'questionnaire',
  components: {
    NoData,
    ScrollToTopHoverBtn
  },
  data () {
    return {
      active: 0,
      tabList: [
        {
          title: '全部',
          isAnswerStatus: '0'
        },
        {
          title: '未提交',
          isAnswerStatus: '1'
        },
        {
          title: '已提交',
          isAnswerStatus: '2'
        }
      ],
      questionnaireList: [],
      cacheList: [],
      // 上拉加载及下拉刷新
      page: {
        index: 1,
        size: 8,
        total: 0
      },
      loading: false, // 控制上拉加载的加载动画
      finished: false, // 控制在页面往下移动到底部时是否调用接口获取数据
      isLoading: false, // 控制下拉刷新的加载动画
      requestLoading: false, // 接口请求加载动画
      questionnaireType: 1 // 问卷类型 1：调查问卷 2：季度满意度调查
    }
  },
  watch: {
    $route () {
      this.initLoadData()
      this.getQuestionnaireList()
    }
  },
  created () {
    this.active = +this.$route.query.index || 0
    this.questionnaireType = +this.$route.query.type || 1
    this.getQuestionnaireList()
  },
  methods: {
    toReturn () {
      this.$router.go(-1)
    },
    toQuestionnaireDetails (item) {
      this.$router.push({
        path: '/questionnaireDetails',
        query: {
          id: item.id
        }
      })
    },
    // 下拉刷新
    onRefresh () {
      this.page.index = 1
      this.cacheList = []
      this.getQuestionnaireList()
    },
    // 上拉加载
    onLoad () {
      this.page.index++
      this.getQuestionnaireList()
    },
    // 初始化下拉刷新和上拉加载数据
    initLoadData () {
      this.page.index = 1
      this.page.total = 0
      this.cacheList = []
      this.loading = false // 控制上拉加载的加载动画
      this.finished = false // 控制在页面往下移动到底部时是否调用接口获取数据
      this.isLoading = false // 控制下拉刷新的加载动画
      this.questionnaireList = []
    },
    tabChange () {
      this.$router.replace({
        path: '/questionnaire',
        query: {
          index: this.active,
          type: this.questionnaireType
        }
      })
    },
    getQuestionnaireList () {
      this.requestLoading = true
      let userInfo = JSON.parse(sessionStorage.getItem('userInfo'))
      let params = {
        oId: userInfo.id,
        page: this.page.index,
        length: this.page.size,
        isAnswerstatus: this.tabList[this.active].isAnswerStatus, // 0: 全部 1：未提交 2：已提交
        bizType: this.questionnaireType === 2 ? '1' : '0' // 是否为满意度调查问卷 1:是 0:否
      }
      api.commonCall(params, 'getqueDetialeList').then(res => {
        this.requestLoading = false
        if (res.success) {
          this.cacheList = this.cacheList.concat(res.data.list)
          this.questionnaireList.splice(0, this.questionnaireList.length, ...this.cacheList)
          this.page.total = res.data.count
          this.finished = false
          this.loading = false

          if (this.cacheList.length >= this.page.total || !res.data.list.length) {
            this.finished = true
          }
          setTimeout(() => {
            this.isLoading = false
          }, 100)
        } else {
          setTimeout(() => {
            this.isLoading = false
          }, 100)
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.questionnaire-wrap{
  width: 100%;
  min-height: 100vh;
  background-color: #f8f8f8;

  @{deep}.van-tabs__nav--line{
    .van-tabs__line{
      width: 72px !important;
      border-radius: 5px !important;
    }
  }

  .not-submitted{
    width: 100%;
    .not-submitted-content{
      width: 96%;
      margin: 0 auto;
      background-color: #FFFFFF;
      border-radius: 10px;
      margin-top: 20px;
      padding-bottom: 20px;
      &:last-child{
        margin-bottom: 20px;
      }
      .submitted-text{
        overflow: hidden;
        padding: 22px 16px 0;
        line-height: 40px;
        color: #363638;
        font-size: 28px;
        img{
          display: inline-block;
          vertical-align: text-bottom;
          width: 24px;
          height: 29px;
          margin-right: 10px;
        }
        .status {
          color: #d0d0d0;
        }
      }
      .submitted-find{
        width: 100%;
        overflow: hidden;
        img{
          width: 24px;
          height: 20px;
          float: right;
          margin-top: 34px;
          margin-right: 10px;
        }
        p{
          float: right;
          font-size: 24px;
          color: #214E90;
          margin-top: 30px;
          margin-right: 20px;
        }
      }
    }
  }
  .refer{
    width: 100%;
    min-height: 900px;
    .refer-content{
      width: 96%;
      height: 142px;
      margin: 0 auto;
      background-color: #FFFFFF;
      border-radius: 10px;
      margin-top: 20px;
      &:last-child{
        margin-bottom: 20px;
      }
      .refer-text{
        width: 100%;
        overflow: hidden;
        img{
          width: 24px;
          height: 29px;
          float: left;
          margin-left: 16px;
          margin-top: 22px;
        }
        p{
          float: left;
          font-size: 28px;
          color: #363638;
          margin-top: 16px;
          margin-left: 10px;
        }
      }
      .refer-find{
        width: 100%;
        overflow: hidden;
        img{
          width: 24px;
          height: 20px;
          float: right;
          margin-top: 40px;
          margin-right: 10px;
        }
        p{
          float: right;
          font-size: 24px;
          color: #214E90;
          margin-top: 34px;
          margin-right: 20px;
        }
      }
    }
  }
}
</style>
