<template>
  <div class="questionnaire-details-wrap">
    <van-nav-bar title="调查问卷详情" left-arrow @click-left="toReturn"></van-nav-bar>

    <!--问卷标题-->
    <div class="content-wrapper" v-if="questionDetails">
      <div class="questionnaire-details-top">
        <div class="subject">
          <p>{{questionDetails.name}}</p>
        </div>
        <div class="subject-content">
          <p>{{questionDetails.wensExplain}}</p>
        </div>
      </div>

      <!-- 问卷内容 -->
      <div class="questionnaire-details-content">
        <!-- 客户信息填写（只有通过中台链接进入时需要填写） -->
        <div class="user-info" v-if="isCopy === 1">
          <div class="user-info-name">
            <span class="accord-with">*</span>
            <p>客户名称：</p>
            <input type="text" maxlength="20" v-model="unRegister">
          </div>
          <div class="user-info-org">
            <span class="accord-with">*</span>
            <p>所属组织：</p>
            <!-- <input type="text" maxlength="20" v-model="unRegisterOrg"> -->
            <select v-model="threeOrg">
              <option v-for="item in threeListOrgList" :value="item.id" :key="item.id">{{item.name}}</option>
            </select>
          </div>
        </div>
        <div class="topic-types-option" v-for="(topicItem, topicIndex) in topicsList" :key="'Q_' + topicIndex">
          <!-- 单选题 -->
          <div class="topic-types-two" v-if="topicItem.type === '0' && !topicItem.ishide">
            <div class="topic-types-two-title">
              <span class="accord-with" v-if="topicItem.inmust">*</span>
              <p class="p-topic-one">{{topicItem.titlenumber}}.&nbsp;&nbsp;{{topicItem.name}}<span class="tips">[单选]</span></p>
            </div>
            <div class="topic-types-two-content">
              <p>{{topicItem.namedefinition}}</p>
              <van-radio-group v-model="topicItem.answer" @change="queryRelation(topicItem)">
                <van-radio
                  v-for="(radioItem, radioIndex) in topicItem.answerList"
                  :key="'radio_' + radioIndex"
                  :name="radioItem.optionasn"
                  :disabled="isAnswerStatus === '2'"
                  checked-color="#ff9f00"
                >
                  {{radioItem.option}}
                  <input type="text" v-if="radioItem.isnull && isAnswerStatus === '1'" :disabled="isAnswerStatus === '2'" v-model="radioItem.other"/>
                  <img v-if="radioItem.optionpicture" v-lazy="allImgDomainName + radioItem.optionpicture">
                </van-radio>
              </van-radio-group>
            </div>
          </div>
          <!-- 多选题 -->
          <div class="topic-types-three" v-else-if="topicItem.type === '1' && !topicItem.ishide">
            <div class="topic-types-three-title">
              <span class="accord-with" v-if="topicItem.inmust">*</span>
              <p class="p-topic-two">{{topicItem.titlenumber}}.&nbsp;&nbsp;{{topicItem.name}}<span class="tips">[多选]</span></p>
            </div>
            <div class="topic-types-three-content">
              <p>{{topicItem.namedefinition}}</p>
              <div class="multiple-list">
                <van-checkbox-group v-model="topicItem.answer">
                  <van-cell-group>
                    <van-cell
                      v-for="(checkboxItem, checkboxIndex) in topicItem.answerList"
                      :key="'checkbox_' + checkboxIndex"
                      :clickable="isAnswerStatus !== '2'"
                      @click="toggle(checkboxItem, checkboxIndex, topicItem)"
                    >
                      <van-checkbox
                        ref="checkboxes"
                        slot="icon"
                        :name="checkboxItem.optionasn"
                        checked-color="#ff9f00"
                        :disabled="isAnswerStatus === '2'"
                      >
                        {{checkboxItem.option}}
                        <input type="text" v-if="checkboxItem.isnull && isAnswerStatus === '1'" :disabled="isAnswerStatus === '2'" v-model="checkboxItem.other" @click.stop="inputClick(topicIndex, checkboxIndex)"/>
                        <img v-if="checkboxItem.optionpicture" v-lazy="allImgDomainName + checkboxItem.optionpicture">
                      </van-checkbox>
                    </van-cell>
                  </van-cell-group>
                </van-checkbox-group>
              </div>
            </div>
          </div>
          <!-- 简答题 -->
          <div class="topic-types-five" v-else-if="topicItem.type === '2' && !topicItem.ishide">
            <div class="topic-types-five-title">
              <span class="accord-with" v-if="topicItem.inmust">*</span>
              <p class="p-topic-four">{{topicItem.titlenumber}}.&nbsp;&nbsp;{{topicItem.name}}<span class="tips">(字数:{{(topicItem.minnum || 0) + '~' + (topicItem.maxnum || 200)}})</span></p>
            </div>
            <div class="topic-types-five-content">
              <p>{{topicItem.namedefinition}}</p>
              <van-field
                class="textarea"
                v-model="topicItem.answer"
                type="textarea"
                placeholder="请输入"
                rows="4"
                clearable
                show-word-limit
                :maxlength="topicItem.maxnum || 200"
                :disabled="isAnswerStatus === '2'"
              />
            </div>
          </div>
          <!-- 评分题 -->
          <div class="topic-types-four" v-else-if="topicItem.type === '3' && !topicItem.ishide">
            <div class="topic-types-four-title">
              <span class="accord-with" >*</span>
              <p class="p-topic-three">{{topicItem.titlenumber}}.&nbsp;&nbsp;{{topicItem.name}}<span class="tips">(分值:{{(topicItem.minscore || 1) + '~' + (topicItem.maxscore || 10)}})</span></p>
              <p class="p-explain">{{topicItem.namedefinition}}</p>
            </div>
            <div class="topic-types-four-content" v-for="(gradingItem, gradingIndex) in topicItem.answerList" :key="'grading_' + gradingIndex">
              <img v-if="gradingItem.optionpicture" v-lazy="allImgDomainName + gradingItem.optionpicture">
              <p>{{gradingItem.option}}</p>
              <van-slider
                v-model="topicItem.answer[gradingIndex]"
                active-color="#ff9f00"
                :min="topicItem.minscore || 1"
                :max="topicItem.maxscore || 10"
                :disabled="isAnswerStatus === '2'"
              ></van-slider>
              <van-stepper
                v-model="topicItem.answer[gradingIndex]"
                integer
                disable-input
                :min="topicItem.minscore || 1"
                :max="topicItem.maxscore || 10"
                :disabled="isAnswerStatus === '2'"
              />
              <div class="number-mark">
                <span
                  v-for="(scaleItem, scaleIndex) in topicItem.gradingScale"
                  :key="'number_' + scaleIndex"
                  :style="{left: (1 / (topicItem.gradingScale.length - 1) * scaleIndex * 530 - 14) / 75 + 'rem'}"
                >{{scaleItem}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="questionnaire-details-btn" v-if="isAnswerStatus === '1'">
        <div class="submission" @click="submit">提交</div>
      </div>
    </div>

    <!-- 答题进度条 -->
    <div class="progressbar" v-if="isAnswerStatus === '1'">
      <div class="progressbar-main">
        <div class="progressbar-main-content" :style="{height: progressbarHeight / 75 + 'rem'}">
          <div class="progressbar-main-dot"></div>
        </div>
        <div class="progressbar-main-text">{{progressbarValue}}%</div>
      </div>
    </div>
  </div>
</template>

<script>
import { api } from '@/api'
import { _debounce, isWeiXin } from '@/utils/common'
import { allImgDomainNameMixin, WXMixin } from '@/assets/js/mixin'

export default {
  name: 'questionnaire-details',
  mixins: [allImgDomainNameMixin, WXMixin],
  data () {
    return {
      questionDetails: null, // 问卷详情
      topicsList: [], // 题目列表
      isAnswerStatus: '2', // 已答状态，1：未答，2：已答
      showNumInput: false, // 显示数字键盘
      isSubmitFlag: false, // 记录提交状态
      progressbarValue: 0, // 进度条百分比
      unRegister: '', // 客户名称
      threeOrg: '', // 三级公司
      isCopy: 2, // 是否复制链接进入 1:是 2：否
      threeListOrgList: [], // 所属组织列表
      isMiniProgram: false // 是否在小程序web-view中打开
    }
  },
  computed: {
    progressbarHeight () { // 进度条高度（px）
      return this.progressbarValue / 100 * 600
    }
  },
  watch: {
    topicsList: {
      handler (newVal, oldVal) {
        if (newVal && newVal.length) {
          let totalLen = newVal.length
          let finishLen = 0
          for (let i = 0; i < newVal.length; i++) {
            if ((newVal[i].type === '0' && newVal[i].answer) ||
              (newVal[i].type === '1' && newVal[i].answer && newVal[i].answer.length) ||
              (newVal[i].type === '2' && newVal[i].answer) ||
              (newVal[i].type === '3' && newVal[i].answer && newVal[i].answer.length && newVal[i].answer.length === newVal[i].answerList.length)
            ) {
              finishLen++
            }
          }
          this.progressbarValue = Math.round(finishLen / totalLen * 100)
        }
      },
      immediate: true,
      deep: true
    }
  },
  created () {
    this.isCopy = +this.$route.query.doRedirect === 1 && +this.$route.query.customerType === 3 ? 1 : 2
    this.getQueDetailsList(this.$route.query.id)
    if (this.isCopy === 1) this.getThreeOrgList()

    if (isWeiXin()) {
      // 判断是否在小程序环境
      this.WXMiniprogramGetEnv(isMiniProgram => {
        this.isMiniProgram = isMiniProgram
      })
    }
  },
  methods: {
    toReturn () {
      if (window.history.length > 1) {
        this.$router.go(-1)
      } else {
        this.$router.push('/')
      }
    },
    toggle (item, index, topicItem) { // 多选题
      if (this.isAnswerStatus === '2') return

      // this.$refs.checkboxes[index].toggle()
      if (topicItem.answer.indexOf(item.optionasn) > -1) {
        topicItem.answer.splice(topicItem.answer.indexOf(item.optionasn), 1)
      } else {
        topicItem.answer.splice(topicItem.answer.length, 0, item.optionasn)
      }
      this.queryRelation(topicItem)
    },
    queryRelation (topicItem) {
      // 选项是否有关联题目
      if (topicItem.relationList && topicItem.relationList.length) {
        for (let i = 0; i < topicItem.relationList.length; i++) {
          if (+topicItem.type === 0) { // 单选
            for (let s = 0; s < this.topicsList.length; s++) {
              if (topicItem.relationList[i].relationId === this.topicsList[s].id) {
                this.$set(this.topicsList[s], 'ishide', !(topicItem.answer === topicItem.relationList[i].relationOption))
              }
            }
          } else if (+topicItem.type === 1) { // 多选
            for (let s = 0; s < this.topicsList.length; s++) {
              if (topicItem.relationList[i].relationId === this.topicsList[s].id) {
                this.$set(this.topicsList[s], 'ishide', !(topicItem.answer.indexOf(topicItem.relationList[i].relationOption) > -1))
              }
            }
          }
        }
      }
    },
    getQueDetailsList (id) {
      let params = {
        id: id
      }
      if (this.isCopy === 2) {
        params.oId = JSON.parse(sessionStorage.getItem('userInfo')) && JSON.parse(sessionStorage.getItem('userInfo')).id
        params.customer = JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId // 渠道id
      }
      api.commonCall(params, 'getqueDetialePage').then(res => {
        if (res.success) {
          this.questionDetails = res.data
          this.isAnswerStatus = this.questionDetails.isAnswerStatus

          /**
           * 题目类型
           * 单选题：singleQuestionList（type为0），
           * 多选题：multipleQuestionList（type为1），
           * 问答题：answerQuestionList（type为2），
           * 评分题：gradingQuestionList（type为3）
           */
          // 初始化题目列表（按题号排序）
          let summaryTopic = [
            ...this.questionDetails.singleQuestionList,
            ...this.questionDetails.multipleQuestionList,
            ...this.questionDetails.answerQuestionList,
            ...this.questionDetails.gradingQuestionList
          ]
          summaryTopic.sort((a, b) => +a.titlenumber < +b.titlenumber ? -1 : 1)
          summaryTopic.forEach(v => { // 改写字段值
            v.inmust = v.inmust && JSON.parse(v.inmust)
          })
          this.topicsList = summaryTopic
          const questionList = JSON.parse(JSON.stringify(summaryTopic))

          // 初始化
          this.topicsList.forEach((v, i) => {
            // 初始化评分题刻度值
            if (v.type === '3') {
              let min = v.minscore || 0
              let max = v.maxscore || 10
              let scaleArray = []
              for (let i = min; i <= max; i++) {
                scaleArray.push(i)
              }
              this.$set(v, 'gradingScale', scaleArray)
            }

            // 初始化题目答案
            if (this.isAnswerStatus === '1') { // 如果未提交，则显示默认值
              if (v.type === '0') { // 单选题
                let defaul = ''
                for (let i = 0; i < v.answerList.length; i++) {
                  // 是否默认选中某个选项
                  if (v.answerList[i].defaul) {
                    defaul = v.answerList[i].optionasn
                  }
                  // 是否可以填空
                  if (v.answerList[i].isnull) {
                    this.$set(v.answerList[i], 'other', '')
                  }
                }
                this.$set(v, 'answer', defaul)
                this.queryRelation(v)
              } else if (v.type === '1') { // 多选题
                let defaulList = []
                for (let i = 0; i < v.answerList.length; i++) {
                  // 是否默认选中某个选项
                  if (v.answerList[i].defaul) {
                    defaulList.push(v.answerList[i].optionasn)
                  }
                  // 是否可以填空
                  if (v.answerList[i].isnull) {
                    this.$set(v.answerList[i], 'other', '')
                  }
                }
                this.$set(v, 'answer', defaulList)
                this.queryRelation(v)
              } else if (v.type === '2') { // 问答题
                this.$set(v, 'answer', '')
              } else if (v.type === '3') { // 评分题
                this.$set(v, 'answer', [])
              }
            } else { // 如果已提交，则显示答案
              if (v.type === '0') { // 单选题
                let answer = questionList[i].answer[0] ? questionList[i].answer[0].option : ''
                this.$set(v, 'answer', answer)
              } else if (v.type === '1') { // 多选题
                let answer = []
                for (let s = 0; s < questionList[i].answer.length; s++) {
                  answer.push(questionList[i].answer[s].option)
                }
                this.$set(v, 'answer', answer)
              } else if (v.type === '2') { // 问答题
                let answer = questionList[i].answer[0] ? questionList[i].answer[0].answer : ''
                this.$set(v, 'answer', answer)
              } else if (v.type === '3') { // 评分题
                let answer = []
                for (let s = 0; s < questionList[i].answer.length; s++) {
                  answer.push(parseInt(questionList[i].answer[s].answer))
                }
                this.$set(v, 'answer', answer)
              }
            }
          })
        } else {
          this.questionDetails = {}
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    submit () {
      // 未注册的客户填写，检查客户名称和所属组织
      if (this.isCopy === 1) {
        if (!this.unRegister || !this.unRegister.trim()) {
          this.$toast('请填写客户名称')
          return
        } else if (!this.threeOrg || !this.threeOrg.trim()) {
          this.$toast('请填写所属组织')
          return
        }
      }

      // 检查每一题
      let questionList = JSON.parse(JSON.stringify(this.topicsList))
      for (let j = 0; j < questionList.length; j++) {
        let v = questionList[j]

        if (v.type === '0') { // 单选题
          if (v.ishide || !v.inmust || (v.inmust && v.answer)) { // 如果隐藏就非必答，inmust：是否必答
            if (!v.ishide && v.answer) {
              let answerItem = v.answerList.find(item => item.optionasn === v.answer)
              if (answerItem.isnull && answerItem.optionmust && !answerItem.other) {
                this.$toast('第' + v.titlenumber + '题输入框请输入内容！')
                return
              } else {
                this.$set(v, 'answerList', [{
                  option: answerItem.optionasn,
                  answer: answerItem.other ? answerItem.option + '-' + answerItem.other : answerItem.option, // 如果选择了其他
                  score: answerItem.score
                }])
              }
              this.$set(v, 'qtype', '0')
            }
          } else {
            this.$toast('第' + v.titlenumber + '题未完成作答，请检查！')
            return
          }
        } else if (v.type === '1') { // 多选题
          if (v.ishide || !v.inmust || (v.inmust && v.answer && v.answer.length)) {
            if (!v.ishide && v.answer && v.answer.length) {
              let arr = []
              for (let i = 0; i < v.answer.length; i++) {
                let answerItem = v.answerList.find(item => item.optionasn === v.answer[i])
                if (answerItem.isnull && answerItem.optionmust && !answerItem.other) {
                  this.$toast('第' + v.titlenumber + '题请输入答案！')
                  return
                } else {
                  arr.push({
                    option: answerItem.optionasn,
                    answer: answerItem.other ? answerItem.option + '-' + answerItem.other : answerItem.option
                  })
                }
              }
              this.$set(v, 'answerList', arr)
              this.$set(v, 'qtype', '1')
            }
          } else {
            this.$toast('第' + v.titlenumber + '题未完成作答，请检查！')
            return
          }
        } else if (v.type === '2') { // 问答题
          let min = v.minnum || 0
          let max = v.maxnum || 200
          if (v.ishide || !v.inmust || (v.inmust && v.answer)) {
            if (!v.ishide && v.answer) {
              if (!v.answer.trim()) {
                this.$toast('第' + v.titlenumber + '题答案不能为空格！')
                return
              }
              if (min <= v.answer.length && v.answer.length <= max) {
                this.$set(v, 'answerList', [{
                  option: '',
                  answer: v.answer
                }])
                this.$set(v, 'qtype', '2')
              } else {
                this.$toast('第' + v.titlenumber + '题不符合字数要求，请检查！')
                return
              }
            }
          } else {
            this.$toast('第' + v.titlenumber + '题未完成作答，请检查！')
            return
          }
        } else if (v.type === '3') { // 评分题
          let min = v.minscore || 1
          let max = v.maxscore || 10
          if (v.ishide || !v.inmust || (v.inmust && v.answer && v.answer.length && v.answer.length === v.answerList.length)) {
            if (!v.ishide && v.answer && v.answer.length) {
              let arr = []
              for (let i = 0; i < v.answer.length; i++) {
                if (min <= v.answer[i] && v.answer[i] <= max) {
                  arr.push({
                    option: v.answerList[i].option,
                    optionasn: v.answerList[i].optionasn,
                    answer: v.answer[i]
                  })
                } else {
                  this.$toast('第' + v.titlenumber + '题不符合分值范围，请检查！')
                  return
                }
              }
              this.$set(v, 'answerList', arr)
              this.$set(v, 'qtype', '3')
            }
          } else {
            this.$toast('第' + v.titlenumber + '题未完成作答，请检查！')
            return
          }
        }
      }

      this.$dialog.confirm({
        title: '提示',
        message: '确定要提交本问卷？'
      }).then(() => {
        this.setAnswerPage(questionList)
      }).catch(() => {

      })
    },
    setAnswerPage: _debounce(function (questionList) {
      if (this.isSubmitFlag) return
      this.isSubmitFlag = true

      const _this = this
      let params = {
        id: this.questionDetails.id, // 问卷id
        number: this.questionDetails.number, // 问卷编码
        name: this.questionDetails.name, // 问卷名称
        questionList: questionList
      }
      if (this.isCopy === 1) { // 中台复制链接进来
        params.unRegister = this.unRegister // 未注册人姓名
        params.unRegisterOrg = this.threeOrg // 未注册人服务部
      } else {
        params.customer = JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId // 渠道id
        params.bizpartneruser = JSON.parse(sessionStorage.getItem('userInfo')).id // 答卷人id
      }
      api.commonCall(params, 'saveAnswerPage').then(res => {
        if (res.success) {
          if (this.isMiniProgram && this.$route.query.page) {
            this.$toast({
              message: '提交成功',
              onClose () {
                _this.WXMiniprogramNavigateBack(1, failRes => {
                  _this.toReturn()
                })
              }
            })
          } else {
            this.$toast('提交成功')
            setTimeout(() => {
              _this.toReturn()
            }, 500)
          }
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
          setTimeout(() => {
            this.isSubmitFlag = false
          }, 1000)
        }
      })
    }, 500),
    // 多选input框点击时选项默认选中
    inputClick (topicIndex, checkboxIndex) {
      let newAnswer = new Set([...this.topicsList[topicIndex].answer, this.topicsList[topicIndex].answerList[checkboxIndex].optionasn])
      this.$set(this.topicsList[topicIndex], 'answer', [...newAnswer])
      this.queryRelation(this.topicsList[topicIndex])
    },
    getThreeOrgList () {
      api.commonCall({}, 'getZZThreeOrgList').then(res => {
        if (res.success) {
          this.threeListOrgList = res.data.orgList
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.questionnaire-details-wrap {
  width: 100%;
  position: relative;
  .content-wrapper {
    .questionnaire-details-top {
      width: 96%;
      overflow: hidden;
      margin: 0 auto;
      border-bottom: 1px dotted #d0d0d0;
      .subject {
        width: 100%;
        overflow: hidden;
        p {
          font-size: 40px;
          color: #333;
          font-weight: 600;
          text-align: center;
          padding: 40px 0;
        }
      }
      .subject-content {
        width: 100%;
        overflow: hidden;
        word-wrap: break-word;
        word-break: break-all;
        p {
          text-align: center;
          font-size: 24px;
          color: #999;
          padding-bottom: 40px;
        }
      }
    }
    .questionnaire-details-content{
      width: 96%;
      overflow: hidden;
      margin: 0 auto;
      .user-info {
        .user-info-name,
        .user-info-org{
          width: 100%;
          overflow: hidden;
          height: 64px;
          line-height: 64px;
          margin-bottom: 20px;
          .accord-with {
            float: left;
            font-size: 28px;
            color: #f00;
            font-weight: 600;
            margin-top: 10px;
          }
          p {
            float: left;
            font-weight: 600;
            font-size: 28px;
            color: #333;
            margin-top: 8px;
            margin-left: 10px;
            width: 140px;
          }
          input {
            float: left;
            font-weight: 600;
            font-size: 28px;
            color: #333;
            margin-top: 8px;
            margin-left: 5px;
            width: 500px;
            border: none;
            border-bottom: 1px solid #d0d0d0;
            line-height: 50px;
          }
          select {
            width: 500px;
            border: 1px solid #d0d0d0;
            border-radius: 12px;
            height: 60px;
            line-height: 60px;
          }
        }
        .user-info-name {
          margin-top: 20px;
        }
      }
      .topic-types-option{
        width: 100%;
        overflow: hidden;
        .topic-types-two{
          width: 100%;
          overflow: hidden;
          margin-bottom: 20px;
          .topic-types-two-title{
            width: 100%;
            overflow: hidden;
            margin-top: 20px;
            .accord-with {
              float: left;
              font-size: 28px;
              color: #f00;
              font-weight: 600;
              margin-top: 10px;
            }
            .p-two{
              float: left;
              font-weight: 600;
              font-size: 28px;
              color: #333;
              margin-top: 8px;
              margin-left: 5px;
            }
            .p-topic-one{
              float: left;
              font-weight: 600;
              font-size: 28px;
              color: #333;
              margin-top: 1px;
              margin-left: 10px;
              word-wrap: break-word;
              word-break: break-all;
              width: 96%;
              .tips{
                font-size: 20px;
                color: #B4B4B4;
              }
            }
          }
          .topic-types-two-content{
            width: 100%;
            overflow: hidden;
            p{
              font-size: 24px;
              color: #999;
              text-align: left;
              padding-top: 10px;
              padding-left: 12px;
            }
            @{deep}.van-radio-group{
              width: 695px;
              overflow: hidden;
              border: 1px solid #d0d0d0;
              margin: 15px auto 0;
              border-radius: 6px;
              .van-radio{
                width: 100%;
                min-height: 80px;
                border-bottom: 1px solid #d0d0d0;
                font-size: 24px;
                color: #666;
                position: relative;
                padding: 10px 0;
                &:last-child{
                  border: 0px;
                }
                .van-icon{
                  margin: 0 20px;
                }
                .van-radio__label {
                  margin-left: 0;
                }
                img {
                  margin-top: 4px;
                  display: block;
                  height: 200px;
                }
                input {
                  width: 150px;
                  outline-style: none;
                  border-radius: 12px;
                  border: 1px solid #ccc;
                }
              }
            }
          }
        }
        .topic-types-three{
          width: 100%;
          overflow: hidden;
          margin-bottom: 30px;
          .topic-types-three-title{
            width: 100%;
            overflow: hidden;
            margin-top: 20px;
            .accord-with{
              float: left;
              font-size: 28px;
              color: #f00;
              font-weight: 600;
              margin-top: 10px;
            }
            .p-three{
              float: left;
              font-weight: 600;
              font-size: 28px;
              color: #333;
              margin-top: 5px;
              margin-left: 5px;
            }
            .p-topic-two{
              float: left;
              font-weight: 600;
              font-size: 28px;
              color: #333;
              margin-top: 1px;
              margin-left: 10px;
              word-wrap: break-word;
              word-break: break-all;
              width: 96%;
              .tips{
                font-size: 20px;
                color: #B4B4B4;
              }
            }
          }
          .topic-types-three-content{
            width: 100%;
            overflow: hidden;
            p {
              font-size: 24px;
              color: #999;
              text-align: left;
              padding-top: 10px;
              padding-left: 12px;
            }
            .multiple-list{
              width: 695px;
              overflow: hidden;
              border: 1px solid #d0d0d0;
              border-radius: 6px;
              margin: 10px auto 0;
              margin-top: 10px;
              .van-checkbox-group{
                width: 100%;
                overflow: hidden;
                padding: 0px;
                margin: 0px;
                .van-cell-group{
                  width: 100%;
                  overflow: hidden;
                  .van-cell{
                    border-bottom: 1px solid #d0d0d0;
                    padding: 8px 0;
                    min-height: 80px;
                    position: relative;
                    &:last-child{
                      border-bottom: 0px;
                    }
                  }
                  .van-checkbox{
                    margin-left: 20px;
                    .van-icon{
                      width: 40px;
                      height: 40px;
                      font-size: 25px;
                    }
                    img {
                      display: block;
                      height: 200px;
                      margin-top: 8px;
                    }
                    input {
                      width: 150px;
                      outline-style: none;
                      border-radius: 12px;
                      border: 1px solid #ccc;
                    }
                  }
                }
              }
            }
          }
        }
        .topic-types-four{
          width: 100%;
          overflow: hidden;
          margin-top: 20px;
          .topic-types-four-title{
            width: 100%;
            overflow: hidden;
            margin-top: 20px;
            .accord-with{
              float: left;
              font-size: 28px;
              color: #f00;
              font-weight: 600;
              margin-top: 10px;
            }
            .p-four{
              float: left;
              font-weight: 600;
              font-size: 28px;
              color: #333;
              margin-top: 5px;
              margin-left: 5px;
            }
            .p-topic-three{
              float: left;
              font-weight: 600;
              font-size: 28px;
              color: #333;
              margin-top: 1px;
              margin-left: 10px;
              width: 96%;
              word-wrap: break-word;
              word-break: break-all;
              .tips{
                font-size: 20px;
                color: #B4B4B4;
              }
            }
            .p-explain{
              font-size: 24px;
              color: #999;
              float: left;
              text-align: left;
              padding-left: 12px;
            }
          }
          .topic-types-four-content{
            width: 100%;
            overflow: hidden;
            margin: 20px 0 40px 0;
            p{
              font-size: 24px;
              color: #999;
              text-align: left;
              padding-top: 20px;
              padding-left: 12px;
            }
            .van-slider{
              width: 530px;
              height: 4px;
              float: left;
              margin-top: 30px;
              margin-left: 20px;
              margin-bottom: 18px;
              .custom-button{
                width: 25px;
                height: 25px;
                border-radius: 50%;
                border: 2px solid #ff9f00;
                text-align: center;
                line-height: 35px;
                background-color: #FFFFFF;
              }
              .van-slider__button-wrapper{
                border-radius: 50%;
              }
              @{deep}.van-slider__button{
                width: 28px;
                height: 28px;
              }
            }
            @{deep} .van-stepper {
              float: left;
              margin: 15px 0 0 25px;
              .van-stepper__minus, .van-stepper__plus {
                width: 44px;
                height: 44px;
                &::before {
                  width: 20px;
                }
              }
              .van-stepper__plus {
                &::after {
                  height: 20px;
                }
              }
              .van-stepper__input {
                width: 48px;
                height: 44px;
                color: #666;
              }
            }
            .number-mark{
              width: 530px;
              height: 40px;
              float: left;
              margin-top: -18px;
              margin-left: 20px;
              position: relative;
              span{
                position: absolute;
                width: 28px;
                text-align: center;
                font-size: 24px;
                color: #666;
                margin-top: 13px;
              }
            }
            img {
              display: block;
              height: 220px;
              padding-top: 20px;
            }
          }
        }
        .topic-types-five{
          width: 100%;
          overflow: hidden;
          margin-bottom: 20px;
          .topic-types-five-title{
            width: 100%;
            overflow: hidden;
            margin-top: 20px;
            .accord-with{
              float: left;
              font-size: 28px;
              color: #f00;
              font-weight: 600;
              margin-top: 10px;
            }
            .p-five{
              float: left;
              font-weight: 600;
              font-size: 28px;
              color: #333;
              margin-top: 5px;
              margin-left: 5px;
            }
            .p-topic-four{
              float: left;
              font-weight: 600;
              font-size: 28px;
              color: #333;
              margin-top: 1px;
              margin-left: 10px;
              word-wrap: break-word;
              word-break: break-all;
              width: 96%;
              .tips{
                font-size: 20px;
                color: #B4B4B4;
              }
            }
          }
          .topic-types-five-content{
            width: 100%;
            overflow: hidden;
            p {
              font-size: 24px;
              color: #999;
              text-align: left;
              padding-top: 10px;
              padding-left: 12px;
            }
            .text{
              width: 685px;
              height: 150px;
              margin-left: 12px;
              margin-top: 10px;
              border: 1px solid #d0d0d0;
              border-radius: 6px;
              padding: 10px 10px;
            }
            .textarea {
              width: 700px;
              margin: 10px auto 0;
              padding: 10px;
              border: 1px solid #d0d0d0;
              border-radius: 6px;
            }
          }
        }
      }
    }
    .questionnaire-details-btn{
      width: 100%;
      overflow: hidden;
      .submission{
        margin: 20px auto;
        width: 695px;
        height: 80px;
        background-color: #ff9f00;
        /*margin: 40px 12px;*/
        border-radius: 6px;
        color: #FFFFFF;
        line-height: 80px;
        font-size: 28px;
        text-align: center;
        font-weight: 600;
        margin-bottom: 30px;
      }
    }
  }
  .progressbar {
    position: fixed;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    opacity: 0.9;
    z-index: 9;
    .progressbar-main {
      width: 30px;
      height: 600px;
      border-radius: 12px;
      background: #dfdfdf;
      .progressbar-main-content {
        width: 30px;
        background: #ff9f00;
        border-radius: 12px;
        display: table-cell;
        vertical-align: bottom;
        .progressbar-main-dot {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background: #ff4c00;
        }
      }
      .progressbar-main-text {
        font-size: 24px;
        position: absolute;
        right: -6px;
      }
    }
  }
}
</style>
