<template>
  <div class="is-killing-wrap">
    <div class="killing">
      <div class="spike-forecast-content" v-for="(item, index) in data" :key="index">
        <div class="spike-forecast-content-left">
          <img
            v-lazy="allImgDomainName + item.itemThumbnail"
            alt
            :key="item.itemThumbnail"
            @click="goSpikeDetails(item)"
          >
        </div>
        <div class="spike-forecast-content-right">
          <div class="spike-forecast-content-title">
            <p>{{item.itemName}}</p>
          </div>
          <div class="spike-forecast-content-price">
            <p class="p-price">秒杀价：</p>
            <p class="p-yuan"><span>{{item.spikePrice | keepTwoNum}}</span>元/{{item.priceType === '1' ? '只' : '斤'}}</p>
            <p class="p-department">{{item.orgName}}</p>
          </div>
          <div class="spike-forecast-content-retail">
            <p class="p-retail">零售价：{{item.salePrice | keepTwoNum}}元/{{item.priceType === '1' ? '只' : '斤'}}</p>
            <p class="p-average-weight" v-if="spikeType === 'spikeNow'">均重：{{item.averageWeight | keepTwoNum}}{{item.saleUnitName}}</p>
          </div>
          <div class="spike-forecast-content-bottom">
            <div class="spike-forecast-time">
              <div class="spike-forecast-time-title">
                <p :class="spikeType === 'spikeNow' ? '' : 'time-notice'">
                  {{spikeType === 'spikeNow' ? '距结束：' : '距开始：'}}
                  <van-count-down :time="item.lengthOfCountdownTime" format="DD天 HH:mm:ss"/>
                </p>
              </div>
              <div class="spike-forecast-time-bottom" v-show="spikeType === 'spikeNow'">
                <span>已售{{item.saleQty / item.spikeQty * 100 | keepTwoNum}}%</span>
                <div class="progress">
                  <!-- <div class="progress-text progress-color"></div> -->
                  <van-progress :percentage="item.saleQty / item.spikeQty * 100" color="#FF968D" :show-pivot='false'/>
                </div>
              </div>
            </div>
            <div class="remind-btn">
              <div class="remind-go-btn" @click="goSpikeDetails(item)" v-if="spikeType === 'spikeNow'"><p>去抢购</p></div>
              <div class="remind-me-btn" @click="openSpikeReminder(item, index)" v-else-if="spikeType === 'spikeTrailer' && item.isRemindMe"><p>{{+item.isReminder ? '取消提醒' : '提醒我'}}</p></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { allImgDomainNameMixin } from '@/assets/js/mixin'

export default {
  name: 'flash-sale-goods-list',
  mixins: [allImgDomainNameMixin],
  props: {
    data: {
      type: Array,
      required: true
    },
    nowDate: {
      type: String,
      required: true
    },
    spikeType: {
      type: String,
      default: 'spikeNow'
    }
  },
  data () {
    return {

    }
  },
  watch: {
    data: {
      handler (val) {
        this.data.forEach((v, i) => {
          let now = new Date(this.nowDate && this.nowDate.replace(/-/g, '/')).getTime() // 当前时间(服务器时间)
          let begin = new Date(v.beginDate && v.beginDate.replace(/-/g, '/')).getTime() // 开始日期
          let end = new Date(v.endDate && v.endDate.replace(/-/g, '/')).getTime() // 截止日期
          let beforeBeginTime = new Date(v.beginDate && v.beginDate.replace(/-/g, '/')).getTime() - (1000 * 60 * 5) // 开始前5分钟时间
          if (now < begin) {
            this.$set(this.data[i], 'lengthOfCountdownTime', begin - now)
            this.$set(this.data[i], 'isRemindMe', now >= beforeBeginTime ? 0 : 1)
          } else if (now > begin) {
            this.$set(this.data[i], 'lengthOfCountdownTime', end - now)
          }
        })
      },
      immediate: true
    }
  },
  mounted () {

  },
  methods: {
    goSpikeDetails (item) {
      this.$router.push({
        path: '/flashSaleDetails',
        query: {
          id: item.itemId, // 商品id
          seckillingId: item.id // 秒杀id
        }
      })
    },
    openSpikeReminder (item, index) {
      this.$emit('openSpikeReminder', item, index)
    }
  }
}
</script>

<style lang="less" scoped>
.is-killing-wrap{
  width: 100%;
  height: 100%;
  .killing {
    width: 100%;
    overflow: hidden;
    .spike-forecast-content{
      width: 92%;
      height: 284px;
      margin: 0 auto;
      border-bottom: 1px solid #E6E6E6;
      display: flex;
      align-items: center;
      &:last-child{
        border-bottom: 0;
      }
      .spike-forecast-content-left{
        width: 240px;
        height: 240px;
        float: left;
        img{
          width: 240px;
          height: 240px;
          border-radius: 12px;
        }
      }
      .spike-forecast-content-right{
        width: 430px;
        height: 240px;
        float: left;
        margin-left: 20px;
        .spike-forecast-content-title{
          width: 100%;
          overflow: hidden;
          p{
            color: #3C3C3E;
            font-size: 32px;
            font-weight: 600;padding-top: 10px;
          }
        }
        .spike-forecast-content-price{
          width: 100%;
          overflow: hidden;
          .p-price{
            float: left;
            color: #363638;
            font-size: 24px;
            padding-top: 14px;
          }
          .p-yuan{
            font-size: 24px;
            color: #E63E32;
            float: left;
            padding-top: 8px;
            span{
              font-size: 36px;
              font-family: 'AvenirLTStd-Black';
            }
          }
          .p-department{
            float: right;
            color: #A9ABAF;
            font-size: 24px;
            padding-top: 14px;
          }
        }
        .spike-forecast-content-retail{
          width: 100%;
          overflow: hidden;
          .p-retail{
            float: left;
            font-size: 24px;
            color: #a9abaf;
            padding-top: 8px;
            text-decoration: line-through;
          }
          .p-average-weight{
            float: right;
            color: #A9ABAF;
            font-size: 24px;
            padding-top: 8px;
          }
        }
        .spike-forecast-content-bottom{
          width: 100%;
          overflow: hidden;
          .spike-forecast-time{
            width: 60%;
            overflow: hidden;
            float: left;
            .spike-forecast-time-title{
              width: 100%;
              overflow: hidden;
              p{
                font-size: 24px;
                color: #A9ABAF;
                padding-top: 4px;
                &.time-notice {
                  margin-top: 30px;
                }
              }
              .van-count-down, .van-divider {
                font-size: 24px;
                display: inline-block;
              }
            }
            .spike-forecast-time-bottom{
              width: 100%;
              overflow: hidden;
              span{
                float: left;
                font-size: 24px;
                color: #A9ABAF;
                padding-top: 2px;
              }
              .progress{
                width: 112px;
                height: 8px;
                float: left;
                margin-left: 10px;
                margin-top: 16px;
                border: 1px solid #FF968D;
                border-radius: 16px;
                .progress-text{
                  height: 100%;
                  text-align: center;
                }
                .progress-color{
                  width: 37%;
                  background-color: #FF968D;
                }
              }
            }
          }
          .remind-btn{
            width: 40%;
            overflow: hidden;
            float: left;
            .remind-go-btn{
              width: 152px;
              height: 56px;
              border-radius: 12px;
              float: right;
              margin-top: 16px;
              background: #E63E32 url("~@/assets/images/flash-sale/triangle-icon.png") no-repeat 112px center;
              background-size: 16px 16px;
              p{
                font-size: 24px;
                text-align: left;
                line-height: 56px;
                color: #FFFFFF;
                padding-left: 24px;
              }
            }
            .remind-me-btn{
              width: 152px;
              height: 52px;
              border-radius: 12px;
              float: right;
              margin-top: 16px;
              background: #F39801 url("~@/assets/images/flash-sale/remind.svg") no-repeat 16px center;
              p{
                font-size: 24px;
                text-align: left;
                height: 52px;
                line-height: 54px;
                color: #FFFFFF;
                padding-left: 44px;
              }
            }
          }
        }
      }
    }
  }
}
</style>
