<template>
  <div class="help-center-details">
    <van-nav-bar title="帮助中心" left-arrow @click-left="onClickLeft"></van-nav-bar>
    <div class="details">
      <div class="question">
        <span class="tag">问</span>
        <div class="text"><p>{{details.name}}</p></div>
      </div>
      <div class="answer">
        <span class="tag">答</span>
        <div class="text" v-html="details.description_tag"></div>
      </div>
    </div>
  </div>
</template>

<script>
import { api } from '@/api'

export default {
  name: 'help-center-details',
  data () {
    return {
      details: {}
    }
  },
  created () {
    let id = this.$route.query.id
    if (!id) {
      this.$router.go(-1)
      return
    }
    this.getQueryDetails(id)
  },
  methods: {
    onClickLeft () {
      this.$router.go(-1)
    },
    getQueryDetails (id) {
      api.commonCall({ id: id }, 'queryCommonProblemDetail').then(res => {
        if (res.success) {
          this.details = res.data
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";
.help-center-details {
  width: 100%;
  min-height: 100vh;
  .details {
    padding-left: 20px;
    .question {
      padding: 28px 0 24px;
      position: relative;
      &::after {
        position: absolute;
        box-sizing: border-box;
        content: ' ';
        pointer-events: none;
        right: 0;
        bottom: 0;
        width: calc(100% - 72px);
        height: 1px;
        border-top: 1px solid #EEEEEE;
        transform: scaleY(0.5);
      }
      .tag {
        margin-right: 20px;
        display: inline-block;
        width: 52px;
        height: 52px;
        line-height: 52px;
        box-sizing: border-box;
        background-color: #F59900;
        border-radius: 50%;
        text-align: center;
        color: #fff;
        font-size: 28px;
        font-family: PingFangSC-Regular, PingFang SC;
      }
      .text {
        box-sizing: border-box;
        padding-right: 20px;
        width: calc(100% - 72px);
        display: inline-block;
        vertical-align: top;
        p {
          margin-top: 10px;
          line-height: 34px;
          color: #333333;
          font-size: 28px;
          font-family: PingFangSC-Regular, PingFang SC;
          word-wrap: break-word;
          word-break: break-all;
        }
      }
    }
    .answer {
      margin-top: 22px;
      .tag {
        margin-right: 20px;
        display: inline-block;
        width: 52px;
        height: 52px;
        line-height: 56px;
        box-sizing: border-box;
        background-color: #51C16C;
        border-radius: 50%;
        text-align: center;
        color: #fff;
        font-size: 28px;
        font-family: PingFangSC-Regular, PingFang SC;
      }
      .text {
        box-sizing: border-box;
        padding-right: 42px;
        display: inline-block;
        vertical-align: top;
        width: calc(100% - 72px);
        margin-top: 10px;
        @{deep} * {
          max-width: 100% !important;
          word-wrap: break-word;
          word-break: break-all;
        }
      }
    }
  }
}
</style>
