<template>
  <div class="help-center">
    <van-nav-bar title="帮助中心" left-arrow @click-left="onClickLeft"></van-nav-bar>

    <div class="help-center-content">
      <van-tabs type="card" v-model="active" @change="_tabChange">
        <van-tab title="常见问题">
          <!-- 搜索框 -->
          <form action="">
            <van-search
              v-model="searchText"
              placeholder="搜一搜"
              :left-icon="require('@/assets/images/index-2/icon-search.svg')"
              shape="round"
              @blur="onSearch"
            ></van-search>
          </form>

          <!-- 分类标签 -->
          <van-tabs
            class="head-tabs"
            :class="{searching}"
            v-model="queryCatActive"
            sticky
            :ellipsis="false"
            swipeable
            title-inactive-color="#999999"
            :title-active-color="searching ? '#999999' : '#E02020'"
            @change="_changeQueryTab"
            @click="_clickQueryTab"
          >
            <van-tab
              v-for="(item, index) in queryCatList"
              :key="index"
              :title="item.name.zh_CN"
            >
              <!-- 具体问题 -->
              <div class="query-list" v-if="queryList && queryList.length">
                <van-pull-refresh v-model="isLoading" @refresh="onRefresh">
                  <van-list v-model="loading" :finished="finished" @load="onLoad" :offset="200" finished-text="没有更多了">
                    <van-cell
                      v-for="(item, index) in queryList"
                      :key="index"
                      :title="item.name"
                      is-link
                      center
                      @click="_toDetails(item.id)"
                    />
                  </van-list>
                </van-pull-refresh>
              </div>
              <div class="no-data-box" v-else>
                <no-data :loading="requestLoading"></no-data>
              </div>
            </van-tab>
          </van-tabs>
        </van-tab>

        <van-tab title="新手指南">
          <!-- 分类标签 -->
          <van-tabs
            class="head-tabs2"
            v-model="guideCatActive"
            :border="false"
            sticky
            :ellipsis="false"
            swipeable
            title-inactive-color="#999999"
            title-active-color="#F59900"
            @change="_changeGuideTab"
          >
            <van-tab v-for="(item, index) in guideCatList" :key="'van-tab-' + index">
              <template slot="title">
                <div class="img">
                  <img v-lazy="allImgDomainName + item.picture" alt="">
                </div>
                <span>{{item.name.zh_CN}}</span>
              </template>

              <!-- 指南详情 -->
              <div class="guide-box">
                <div class="content" v-if="guideDetails.description_tag">
                  <div class="title" v-if="guideDetails.name">{{guideDetails.name}}</div>
                  <div class="text" v-html="guideDetails.description_tag"></div>
                </div>
                <div class="no-data-box" v-else>
                  <no-data :loading="requestLoading"></no-data>
                </div>
              </div>
            </van-tab>
          </van-tabs>
        </van-tab>
      </van-tabs>
    </div>
  </div>
</template>

<script>
import NoData from '@/components/no-data'
import { api } from '@/api'
import { allImgDomainNameMixin } from '@/assets/js/mixin'

export default {
  name: 'help-center',
  mixins: [allImgDomainNameMixin],
  data () {
    return {
      active: 0,
      queryCatList: [], // 常见问题分类列表
      queryCatActive: 0, // 常见问题分类下标
      searching: 0, // 是否正在搜索，0 - 否，1 - 是
      searchText: '',
      queryList: [], // 问题列表
      requestLoading: false, // 接口请求加载动画
      loading: false, // 控制上拉加载的加载动画
      isLoading: false, // 控制下拉刷新的加载动画
      finished: false, // 控制在页面往下移动到底部时是否调用接口获取数据
      cacheList: [],
      page: {
        index: 1,
        size: 12,
        total: 0
      },
      guideCatList: [], // 新手指南分类列表
      guideCatActive: 0, // 新手指南分类下标
      guideDetails: {} // 新手指南详情
    }
  },
  created () {
    this.active = +this.$route.query.active || 0
    this.searching = +this.$route.query.searching || 0
    this.searchText = this.$route.query.searchText || ''

    if (this.active === 0) {
      this.queryCatActive = +this.$route.query.catActive || 0
      this.getQueryCatList()
    } else {
      this.guideCatActive = +this.$route.query.catActive || 0
      this.getGuideCatList()
    }
  },
  methods: {
    onClickLeft () {
      this.$router.go(-1)
    },
    _tabChange () {
      this.searching = 0
      if (+this.$route.query.active !== this.active) {
        this.$router.replace({
          path: '/helpCenter',
          query: {
            active: this.active,
            catActive: 0,
            searching: this.searching,
            searchText: this.searchText
          }
        })
      }
      if (this.active === 0) {
        this.queryCatActive = 0
        this.page.index = 1
        this.cacheList = []
        this.queryList = []
        this.getQueryCatList()
      } else {
        this.guideDetails = {}
        this.guideCatActive = 0
        this.getGuideCatList()
      }
    },
    _clickQueryTab (idx) {
      if (+this.searching && +this.queryCatActive === idx) {
        this.searching = 0
        if (+this.$route.query.catActive !== this.queryCatActive) {
          this.$router.replace({
            path: '/helpCenter',
            query: {
              active: this.active,
              catActive: this.queryCatActive,
              searching: this.searching,
              searchText: this.searchText
            }
          })
        }
        this.page.index = 1
        this.cacheList = []
        this.queryList = []
        this.getQueryList(this.queryCatList[this.queryCatActive].id)
      }
    },
    _changeQueryTab () {
      if (+this.searching) {
        this.searching = 0
      }
      if (+this.$route.query.catActive !== this.queryCatActive) {
        this.$router.replace({
          path: '/helpCenter',
          query: {
            active: this.active,
            catActive: this.queryCatActive,
            searching: this.searching,
            searchText: this.searchText
          }
        })
      }
      this.page.index = 1
      this.cacheList = []
      this.queryList = []
      this.getQueryList(this.queryCatList[this.queryCatActive].id)
    },
    _changeGuideTab (index) {
      if (+this.$route.query.catActive !== this.guideCatActive) {
        this.$router.replace({
          path: '/helpCenter',
          query: {
            active: this.active,
            catActive: this.guideCatActive,
            searching: this.searching,
            searchText: this.searchText
          }
        })
      }
      this.guideDetails = {}
      this.getGuideDetails(this.guideCatList[this.guideCatActive].id)
    },
    // 搜索问题
    onSearch () {
      this.searching = 1
      this.$router.replace({
        path: '/helpCenter',
        query: {
          active: this.active,
          catActive: this.queryCatActive,
          searching: this.searching,
          searchText: this.searchText
        }
      })

      this.page.index = 1
      this.cacheList = []
      this.queryList = []
      this.searchQueryList()
    },
    // 搜索问题列表
    searchQueryList () {
      this.requestLoading = true
      let params = {
        sourcePort: '1', // 0-pc 1-mob
        keywords: this.searchText,
        page: this.page.index,
        pageSize: this.page.size
      }
      api.commonCall(params, 'searchCommonProblemList').then(res => {
        this.requestLoading = false
        if (res.success) {
          this.cacheList = this.cacheList.concat(res.data.list)
          this.queryList.splice(0, this.queryList.length, ...this.cacheList)
          this.page.total = res.data.count

          this.finished = false
          this.loading = false
          if (this.cacheList.length >= this.page.total) {
            this.finished = true
          }
          setTimeout(() => {
            this.isLoading = false
          }, 100)
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    // 获取问题分类列表
    getQueryCatList () {
      api.commonCall({ sourcePort: '1' }, 'queryProblemCategoryList').then(res => {
        if (res.success) {
          this.queryCatList = res.data.list
          if (+this.searching) {
            this.searchQueryList()
          } else {
            if (this.queryCatList && this.queryCatList.length) {
              this.getQueryList(this.queryCatList[this.queryCatActive].id)
            }
          }
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    // 获取问题列表
    getQueryList (catId) {
      this.requestLoading = true
      let params = {
        sourcePort: '1', // 0-pc 1-mob
        categoryId: catId,
        page: this.page.index,
        pageSize: this.page.size
      }
      api.commonCall(params, 'queryCommonProblemList').then(res => {
        this.requestLoading = false
        if (res.success) {
          this.cacheList = this.cacheList.concat(res.data.list)
          this.queryList.splice(0, this.queryList.length, ...this.cacheList)
          this.page.total = res.data.count

          this.finished = false
          this.loading = false
          if (this.cacheList.length >= this.page.total) {
            this.finished = true
          }
          setTimeout(() => {
            this.isLoading = false
          }, 100)
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    // 下拉刷新
    onRefresh () {
      this.page.index = 1
      this.cacheList = []
      if (+this.searching) {
        this.searchQueryList()
      } else {
        this.getQueryList(this.queryCatList[this.queryCatActive].id)
      }
    },
    // 上拉加载
    onLoad () {
      this.page.index++
      if (+this.searching) {
        this.searchQueryList()
      } else {
        this.getQueryList(this.queryCatList[this.queryCatActive].id)
      }
    },
    // 获取新手指南分类列表
    getGuideCatList () {
      api.commonCall({ sourcePort: '1' }, 'queryNewBieGuideCategoryList').then(res => {
        if (res.success) {
          this.guideCatList = res.data.list
          if (this.guideCatList && this.guideCatList.length) {
            this.getGuideDetails(this.guideCatList[this.guideCatActive].id)
          }
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    // 获取新手指南详情
    getGuideDetails (id) {
      this.requestLoading = true
      api.commonCall({ id }, 'queryNewBieGuideDetail').then(res => {
        this.requestLoading = false
        if (res.success) {
          this.guideDetails = res.data
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    _toDetails (id) {
      this.$router.push({
        path: '/helpCenterDetails',
        query: { id }
      })
    }
  },
  components: {
    NoData
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.help-center {
  width: 100%;
  background-color: #fff;
  .help-center-content {
    min-height: calc(100vh - 92px);
    @{deep}.van-tabs--card {
      .van-tabs__wrap {
        padding: 20px 28px 0;
        height: 80px;
        .van-tabs__nav--card {
          height: 80px;
          margin: 0;
          border: 0;
          .van-tab {
            color: #666666;
            background: #EBEBEB;
            border-right: 0;
            &:nth-child(1) {
              border-radius: 16px 0 0 16px;
            }
            &:nth-child(2) {
              border-radius: 0 16px 16px 0;
            }
            &.van-tab--active {
              font-size: 32px;
              color: #fff;
              background: linear-gradient(90deg, #FEB815 0%, #FF9F00 100%);
            }
          }
        }
      }
    }

    @{deep}.van-search {
      margin: 20px 28px 0;
      padding: 0;
      .van-search__content {
        padding-left: 14px;
        border-radius: 16px;
        background-color: #EBEBEB;
        .van-cell {
          line-height: 36px;
          .van-field__left-icon {
            margin-right: 16px;
          }
          .van-field__control::placeholder {
            color: #999999;
          }
        }
      }
    }

    @{deep}.head-tabs {
      &.searching {
        .van-tabs__line {
          background-color: transparent;
        }
      }
      .van-tabs__content {
        min-height: calc(100vh - 350px);
      }
      .van-tabs__wrap {
        padding: 14px 28px 0;
        height: 68px;
        background-color: #fff;
      }
      .van-tab {
        padding: 0 24px;
      }
    }
    @{deep}.head-tabs2 {
      .van-tabs__wrap {
        height: 100%;
        padding: 40px 28px 0;
        .van-tab__text {
          .img {
            height: 80px;
            line-height: 80px;
            margin-bottom: 6px;
            text-align: center;
            img {
              vertical-align: middle;
              width: 60px;
              height: 60px;
              border-radius: 16px;
            }
          }
          span {
            font-size: 24px;
            font-family: PingFangSC-Regular, PingFang SC;
          }
        }
        .van-tab {
          padding: 0 18px;
        }
        .van-tabs__line {
          height: 0;
        }
        .van-tab--active {
          .van-tab__text {
            .img {
              img {
                width: 80px;
                height: 80px;
              }
            }
          }
        }
      }
    }

    .query-list {
      padding: 0 28px;
      @{deep}.van-cell {
        padding: 0;
        line-height: 100px;
        font-size: 28px;
        &:not(:last-child)::after {
          left: 0;
        }
        .van-cell__right-icon {
          height: 100px;
          line-height: 100px;
        }
      }
    }

    .guide-box {
      padding: 22px 20px 0;
      background: #ffffff;
      .title {
        margin-bottom: 18px;
        line-height: 56px;
        font-size: 40px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: bold;
        color: #333333;
        word-wrap: break-word;
        word-break: break-all;
      }
      .text {
        @{deep} * {
          max-width: 100% !important;
          word-wrap: break-word;
          word-break: break-all;
        }
      }
    }
  }
}
</style>
