<template>
  <div class="my-concern" :class="{isEdit, inputLayout}">
    <!-- 导航栏 -->
    <tab-navbar
      :init-index="initIndex"
      @on-tab="toggleTab"
      @click-left="onClickLeft"
      @click-right="onClickRight"
      :icon="false"
      :tab-list="tabList"
      :right-text="(initIndex == 0 && goodsConcern.length == 0 || initIndex == 1 && shopConcern.length == 0) ? '' : isEdit ? '完成' : '编辑'"
      :right-color="isEdit ? 'black' : 'grey'"
      :isFixed="false"
    ></tab-navbar>
    <!-- 搜索框 -->
    <!--<div class="search-box">-->
    <!--<div>-->
    <!--<van-icon name="search"/>-->
    <!--<input ref="input" type="text" :placeholder="index ? '搜索店铺' : '搜索商品'" v-model="inputText"-->
    <!--@focus="inputLayout = true" @blur="inputLayout = false"/>-->
    <!--</div>-->
    <!--</div>-->
    <!-- 商品 -->
    <div v-if="!index" class="list-box">
      <van-pull-refresh
        v-model="goodsParams.isLoading"
        @refresh="onGoodsRefresh"
        v-if="goodsConcern&&goodsConcern.length"
      >
        <van-list
          v-model="goodsParams.loading"
          :finished="goodsParams.finished"
          @load="onGoodsLoad"
          :offset="200"
        >
          <checkbox
            :isChoose="item.isChoose"
            :isContentSelect="isEdit"
            @select="(e) => {select('goods', e, item)}"
            v-for="(item, index) in goodsConcern"
            :key="index + 'goods'"
          >
            <div class="list">
              <concern-item
                type="goods"
                :data="item"
                @seeGoodsDetails="seeGoodsDetails"
                @toShop="toShop"></concern-item>
            </div>
          </checkbox>
        </van-list>
      </van-pull-refresh>
      <div class="no-data-box" v-else>
        <no-data :loading="requestLoading" url="collect" text="目前暂无收藏"></no-data>
      </div>
    </div>

    <!-- 店铺 -->
    <div v-else class="list-box">
      <van-pull-refresh
        v-model="shopParams.isLoading"
        @refresh="onShopRefresh"
        v-if="shopConcern&&shopConcern.length"
      >
        <van-list
          v-model="shopParams.loading"
          :finished="shopParams.finished"
          @load="onShopLoad"
          :offset="200"
        >
          <checkbox
            :isChoose="item.isChoose"
            :isContentSelect="isEdit"
            @select="(e) => {select('shop', e, item)}"
            v-for="(item, index) in shopConcern"
            :key="index + 'shop'"
          >
            <div class="list" @click="goPage('shop', {ownerId: item.ownerId})">
              <!--<p>{{item}}</p>-->
              <concern-item type="shop" :data="item"></concern-item>
            </div>
          </checkbox>
        </van-list>
      </van-pull-refresh>
      <div class="no-data-box" v-else>
        <no-data :loading="requestLoading" url="collect" text="目前暂无收藏"></no-data>
      </div>
    </div>

    <transition name="slideUp" mode="out-in">
      <!-- 商品底部按钮 -->
      <bottom-button
        v-if="isEdit && !index && goodsConcern.length"
        key="goods"
        :btns="btns1"
        @on-btn="btnClick"
      >
        <checkbox :isContentSelect="true" :isChoose="goodsChoose" @select="(e) => {select('goods', e)}">全选</checkbox>
      </bottom-button>
      <!--取消批量加入购物车-->
      <!--<bottom-button-->
      <!--:btns="goodAddToCart?[{text: '加入购物车', color: 'yellow'}, {text: '删除', color: 'red'}]:[{text: '删除', color: 'red'}]"-->
      <!--v-if="isEdit && !index"-->
      <!--key="goods" @on-btn="btnClick">-->
      <!--<checkbox :isContentSelect="true" :isChoose="goodsChoose" @select="(e) => {select('goods', e)}">全选</checkbox>-->
      <!--</bottom-button>-->
      <!-- 店铺底部按钮 -->
      <bottom-button
        v-else-if="isEdit && index === 1 && shopConcern.length"
        key="shop"
        :btns="btns2"
        @on-btn="btnClick"
      >
        <checkbox :isContentSelect="true" :isChoose="shopChoose" @select="(e) => {select('shop', e)}">全选</checkbox>
      </bottom-button>
    </transition>
  </div>
</template>

<script>
import TabNavbar from '@/components/tab-navbar'
import ConcernItem from '@/components/concern/concern-item'
import Checkbox from '@/components/checkbox'
import BottomButton from '@/components/bottom-button'
import NoData from '@/components/no-data'
import { api } from '@/api'
import { getCookie } from '@/utils/common'

export default {
  name: 'my-concern',
  components: {
    TabNavbar,
    Checkbox,
    ConcernItem,
    BottomButton,
    NoData
  },
  data () {
    return {
      btns1: [{ text: '加入购物车', color: 'yellow' }, { text: '删除', color: 'red' }], // 商品底部按钮
      btns2: [{ text: '删除', color: 'red' }], // 店铺底部按钮
      inputLayout: false, // input框是否选中
      initIndex: 0,
      inputText: '',
      isEdit: false,
      pageSize: 10,
      pageNo: 1,
      index: 0, // 0：商品，1：店铺
      tabList: [{ title: '商品' }, { title: '店铺' }],
      goodsConcern: [],
      goodsSelect: [],
      goodsChoose: false,
      shopConcern: [],
      shopSelect: [],
      shopChoose: false,
      // 上拉加载及下拉刷新
      goodsParams: {
        index: 1,
        size: 6,
        total: 0,
        cacheList: [],
        loading: false, // 控制上拉加载的加载动画
        finished: false, // 控制在页面往下移动到底部时是否调用接口获取数据
        isLoading: false // 控制下拉刷新的加载动画
      },
      shopParams: {
        index: 1,
        size: 6,
        total: 0,
        cacheList: [],
        loading: false, // 控制上拉加载的加载动画
        finished: false, // 控制在页面往下移动到底部时是否调用接口获取数据
        isLoading: false // 控制下拉刷新的加载动画
      },
      token: null,
      requestLoading: false // 接口请求加载动画
      // goodAddToCart: true, // 商品可以加入购物车（只有一件）
    }
  },
  beforeRouteUpdate (to, from, next) {
    this.init(to)

    next()
  },
  created () {
    this.init(this.$route)
    this.token = sessionStorage.getItem('token')
  },
  methods: {
    // 初始化
    init (route) {
      this.initParams()
      let index = route.query.index + ''

      // 只能是0,1,'0','1'
      if (!/^(0|1)$/.test(index)) {
        this.$router.replace({
          name: 'myConcern',
          query: {
            index: 0
          }
        })

        return
      }

      this.initIndex = this.index = +index

      this.isEdit = false
      this.inputText = ''
      // this.pageNo = 1;
      if (!this.index) {
        this.goodsCollectQuery()
      } else {
        this.shopConcernQuery()
      }
    },
    // 跳页面
    goPage (name, query) {
      if (!this.isEdit) {
        this.$router.push({ name, query })
      }
    },
    // 查看商品详情
    seeGoodsDetails (id, type, combItemId, isZZItem) {
      if (!this.isEdit) {
        this.$router.push({ path: isZZItem !== '1' ? '/goodsDetails' : '/breedingPigDetails', query: { id, type, combItemId } })
      }
    },
    // 跳转店铺页面
    toShop (ownerId) {
      if (!this.isEdit) {
        this.$router.push({ path: '/shop', query: { ownerId } })
      }
    },
    // 底部按钮点击
    btnClick (item) {
      if (!this.index && item.text === '删除' && this.goodsSelect.length) {
        // 商品删除
        this.$dialog.confirm({
          title: '提示',
          message: `确定要取消关注这${this.goodsSelect.length}种商品吗？`
        }).then(() => {
          this.delGoods()
        }).catch(() => {

        })
      } else if (!this.index && item.text === '加入购物车' && this.goodsSelect.length) {
        // 商品加入购物车
        this.addToCart()
      } else if (this.index && item.text === '删除' && this.shopSelect.length) {
        // 店铺删除
        this.$dialog.confirm({
          title: '提示',
          message: `确定要取消关注这${this.shopSelect.length}家店铺吗？`
        }).then(() => {
          this.delShops()
        }).catch(() => {

        })
      }
    },
    // 切换导航
    toggleTab (index) {
      if (this.index === index) return

      this.initParams()
      this.$router.replace({
        name: 'myConcern',
        query: { index }
      })
    },
    // 编辑&完成
    onClickRight () {
      this.isEdit = !this.isEdit
      if (!this.isEdit) {
        if (!this.index) { // 商品收藏
          this.select('goods', false)
        } else { // 店铺收藏
          this.select('shop', false)
        }
      }
    },
    // 返回
    onClickLeft () {
      this.$router.go(-1)
    },
    // 选中
    select (type, e, item) {
      let list = this[type + 'Concern']
      let length = list.length
      let arr = []

      if (item) {
        item.isChoose = e

        arr = list.filter(v => {
          return v.isChoose
        })

        this[type + 'Choose'] = length === arr.length
      } else {
        this[type + 'Choose'] = e

        list.forEach(v => {
          v.isChoose = this[type + 'Choose']

          arr.push(v)
        })
      }

      this[type + 'Select'] = arr

      this[type + 'Concern'].splice(0, this[type + 'Concern'].length, ...list)

      // 取消批量加入购物车
      // if (this[type + 'Select'].length > 1 && this[type + 'Select'][0].isChoose) {
      //   this.goodAddToCart = false;
      // } else {
      //   this.goodAddToCart = true;
      // }
    },
    // 商品收藏列表
    goodsCollectQuery () {
      this.requestLoading = true
      api.commonCall({ page: this.goodsParams.index, pageSize: this.goodsParams.size }, 'queryItemCollect').then(res => {
        this.requestLoading = false
        if (res.success) {
          this.goodsChoose = false
          // this.goodsSelect = []

          res.data.list.forEach(v => {
            v.isChoose = false
          })

          this.goodsParams.cacheList = this.goodsParams.cacheList.concat(res.data.list)
          this.goodsConcern.splice(
            0,
            this.goodsConcern.length,
            ...this.goodsParams.cacheList
          )
          this.goodsParams.total = res.data.count

          let itemList = []
          this.goodsConcern.forEach((v, i) => {
            // 批量查询商品重量范围传参
            let weightRangeParams = {
              ownerId: v.ownerId,
              unitId: v.isAssistOrder === 'true'
                ? v.assistUnitId
                : v.saleUnitId,
              itemId: v.itemId,
              assistattrId: ''
            }
            if (v.assistAttrIds && v.assistAttrIds.length && v.assistAttrIds[0].attrId) {
              weightRangeParams.assistattrId = v.assistAttrIds[0].attrId
            }
            itemList.push(weightRangeParams)
          })

          // 批量查询商品重量范围
          let weightRangeList = {}
          let p = api.itemListWeightRangeQuery({ itemList }).then(res => {
            if (res.success) {
              res.data.forEach(v => {
                weightRangeList[v.itemId] = v.weightRange || []
              })

              this.goodsConcern.forEach((v, i) => {
                let item = this.goodsConcern[i]

                let weightRange = weightRangeList[v.itemId]
                if (weightRange && weightRange.length && weightRange[0].id) {
                  item.wtRangeId = weightRange[0].id + ''
                }
              })
            } else {
              res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
            }
          })

          Promise.all([p]).then(res => {
            this.goodsParams.finished = false
            this.goodsParams.loading = false
            if (this.goodsParams.cacheList.length >= this.goodsParams.total) {
              this.goodsParams.finished = true
            }
            setTimeout(() => {
              this.goodsParams.isLoading = false
            }, 100)
          })
        }
      })
    },
    // 店铺收藏列表
    shopConcernQuery () {
      this.requestLoading = true
      let params = {
        page: this.shopParams.index,
        pageSize: this.shopParams.size
      }
      api.commonCall(params, 'queryShopConcern').then(res => {
        this.requestLoading = false
        if (res.success) {
          this.shopChoose = false
          this.shopSelect = []

          res.data.list.forEach(v => {
            v.isChoose = false
          })

          this.shopParams.cacheList = this.shopParams.cacheList.concat(
            res.data.list
          )
          this.shopConcern.splice(
            0,
            this.shopConcern.length,
            ...this.shopParams.cacheList
          )
          this.shopParams.finished = false

          // this.shopParams.index = res.data.currentPage
          this.shopParams.loading = false

          if (this.shopConcern.length >= res.data.count) {
            this.shopParams.finished = true
          }
          setTimeout(() => {
            this.shopParams.isLoading = false
          }, 100)
        }
      })
    },
    // 初始化参数
    formatParams (v, combList) {
      let paramItem = []
      if (!(+v.itemType === 1)) {
        let item = {
          ownerId: v.ownerId,
          itemId: v.itemId,
          isChoose: '1',
          customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
        }

        item.unitId = v.saleUnitId + ''
        item.assistUnitId = v.isAssistOrder === 'true' ? v.assistUnitId + '' : null

        if (v.isAssistOrder === 'true') {
          item.assistQty = 1
        } else {
          item.qty = 1
        }

        if (v.weightRange && v.weightRange.length && v.weightRange[0].id) {
          item.wtRangeId = v.weightRange[0].id + ''
        }

        if (v.assistAttrArray && v.assistAttrArray[0]) {
          item.assistattrId = JSON.parse(v.assistAttrArray[0]).id + ''
        }

        paramItem.push(item)
      } else {
        paramItem.push({
          isChoose: '1',
          combItemId: v.combItemId,
          entryType: '1',
          ownerId: v.ownerId,
          qty: 1,
          customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
        })
        combList.forEach(child => {
          let item = {
            ownerId: v.ownerId,
            itemId: child.id,
            isChoose: '1',
            entryType: '2',
            combItemId: v.combItemId,
            combItemEntryId: child.combEntryId,
            combBaseQty: child.baseQty,
            customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
          }

          item.unitId = child.saleUnit + ''
          item.assistUnitId = child.isAssistOrder ? child.assistUnit + '' : null

          if (child.isAssistOrder) {
            item.assistQty = child.baseQty * 1
          } else {
            item.qty = child.baseQty * 1
          }

          if (child.assistattrId && child.assistattrId !== ' ') item.assistattrId = child.assistattrId

          paramItem.push(item)
        })
      }

      return paramItem
    },
    // 商品加入购物车
    addToCart () {
      if (this.token) {
        let params = {
          items: [],
          itemList: [],
          customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
        }
        let ids = {}
        let list = []
        let callArray = [] // 调用queryGoodsDetail接口数组

        this.goodsSelect.forEach(v => {
          // itemIsBuy传参
          let item2 = {
            itemId: v.itemId,
            qty: 1,
            type: +v.itemType === 1 ? '1' : '0'
          }

          if (v.assistAttrArray && v.assistAttrArray[0] && !(+v.itemType === 1)) {
            item2.assistAttrId = JSON.parse(v.assistAttrArray[0]).id + ''
          }

          let item3 = {
            id: v.itemId,
            combItemId: +v.itemType === 1 ? v.combItemId : '',
            type: +v.itemType === 1 ? '1' : '0',
            ownerId: v.ownerId
          }

          if (!(+v.itemType === 1)) {
            item3.name = v.itemName
          }

          params.items.push(item2)
          params.itemList.push(item3)

          // saveGoods传参
          if (!(+v.itemType === 1)) {
            ids[v.itemId] = this.formatParams(v)
          } else {
            let item = v
            let p = api.queryGoodsDetail({ id: item.combItemId, type: '1' }).then(res => {
              if (res.success) {
                ids[item.itemId] = this.formatParams(item, res.data.combList)
              } else {
                // this.$toast.fail('部分组合促销信息查询失败')
              }
            })
            callArray.push(p)
          }
        })

        if (!params.items.length) {
          return
        }

        this.$set(this.btns1[0], 'loading', true)
        Promise.all(callArray).then(() => {
          api.itemIsBuy(params).then(res => {
            if (res.success) {
              if (!res.data.list.length) {
                this.$set(this.btns1[0], 'loading', false)
                this.$toast.fail('商品已失效')
                return
              }

              let hasInValid = params.items.length !== res.data.list.length

              res.data.list.forEach(v => {
                if (+v.isBuy) {
                  list = list.concat(ids[v.itemId])
                }
              })

              if (!list.length) {
                this.$set(this.btns1[0], 'loading', false)
                this.$toast.fail(hasInValid ? '部分商品暂时不能加入购物车或已失效' : '部分商品暂时不能加入购物车')
                return
              }

              api.saveGoods({ list }).then(res => {
                this.$set(this.btns1[0], 'loading', false)
                if (res.success) {
                  let param = {
                    page: 1,
                    pageSize: 999,
                    isGetCountOnly: 1,
                    customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
                  }
                  if (this.$store.state.intoPage === 0 && getCookie('selectedChannel')) {
                    param.owner = JSON.parse(getCookie('selectedChannel')).channelId
                  } else if (this.$store.state.intoPage === 1 && this.$store.state.channel.currentChannel && this.$store.state.channel.currentChannel.channelId) {
                    param.owner = this.$store.state.channel.currentChannel.channelId
                  }
                  api.queryCart(param).then(res => {
                    if (res.success) {
                      this.$store.dispatch('setShoppingCartCount', res.data.count)
                    }
                  })
                  this.onClickRight()
                  this.$toast.success('加入购物车成功')
                } else {
                  res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
                }
              })
            } else {
              this.$set(this.btns1[0], 'loading', false)
              res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
            }
          })
        })
      } else {
        this.$toast('请先登录')
        this.$router.push({ path: '/loginRandom', query: { redirect: this.$route.fullPath } })
      }
    },
    // 删除收藏的商品
    delGoods () {
      let params = {
        itemIdList: [],
        combIdList: []
      }
      this.goodsSelect.forEach(v => {
        if (!(+v.itemType === 1)) { // 如果是普通商品
          params.itemIdList.push(v.itemId)
        } else { // 如果是组合商品
          params.combIdList.push(v.combItemId)
        }
      })

      api.commonCall(params, 'itemCollectDel').then(res => {
        if (res.success) {
          this.onClickRight()
          this.goodsParams.index = 1
          this.goodsParams.cacheList = []
          this.goodsSelect = []
          this.goodsConcern = []
          this.goodsCollectQuery()
        } else {
          this.$toast('取消关注失败')
        }
      })
    },
    // 删除关注的店铺
    delShops () {
      let ownerIdList = []
      this.shopSelect.forEach(v => {
        ownerIdList.push(v.ownerId)
      })

      api.commonCall({ ownerIdList }, 'shopConcernDel').then(res => {
        if (res.success) {
          this.shopParams.index = 1
          this.shopParams.cacheList = []
          this.shopSelect = []
          this.shopConcern = []
          this.shopConcernQuery()
        } else {
          this.$toast('取消关注失败')
        }
      })
    },
    // 商品下拉刷新
    onGoodsRefresh () {
      this.goodsParams.index = 1
      this.goodsParams.cacheList = []
      this.goodsCollectQuery()
    },
    // 商品上拉加载
    onGoodsLoad () {
      this.goodsParams.index++
      this.goodsCollectQuery()
    },
    // 店铺下拉刷新
    onShopRefresh () {
      this.shopParams.index = 1
      this.shopParams.cacheList = []
      this.shopConcernQuery()
    },
    // 店铺上拉加载
    onShopLoad () {
      this.shopParams.index++
      this.shopConcernQuery()
    },
    // 初始化下拉列表参数
    initParams () {
      this.goodsConcern = []
      this.goodsParams = {
        index: 1,
        size: 6,
        total: 0,
        cacheList: [],
        loading: false, // 控制上拉加载的加载动画
        isLoading: false // 控制下拉刷新的加载动画
      }
      this.shopConcern = []
      this.shopParams = {
        index: 1,
        size: 6,
        total: 0,
        cacheList: [],
        loading: false, // 控制上拉加载的加载动画
        isLoading: false // 控制下拉刷新的加载动画
      }
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.my-concern {
  overflow-x: hidden;
  &.inputLayout {
    padding-bottom: 0 !important;

    .bottom-button {
      position: relative;
    }
  }

  &.isEdit {
    padding-bottom: 96px;

    .list-box {
      @{deep} .van-checkbox__icon {
        margin-left: 0 !important;
      }

      @{deep} .van-checkbox__label {
        width: calc(100% - 92px) !important;
      }

      @{deep} .concern-item {
        padding-left: 0;
      }
    }
  }

  .list-box {
    @{deep} .van-checkbox__icon {
      // transition: all .2s;
      margin-left: -92px;
    }

    @{deep} .van-checkbox__label {
      // transition: all .2s;
      width: 100%;
    }

    @{deep} .concern-item {
      // transition: all .2s;

      .right {
        // display: none !important;
      }
    }
  }

  .search-box {
    height: 96px;
    background: rgb(245, 245, 245);
    padding: 18px 24px;
    box-sizing: border-box;
    font-size: 28px;

    > div {
      width: 100%;
      height: 100%;
      background: white;
      border-radius: 100px;
      overflow: hidden;
      position: relative;

      i {
        font-size: 30px;
        color: #c1c4ca;
        position: absolute;
        width: 70px;
        text-align: center;
        line-height: 60px;
      }

      input {
        display: block;
        border: 0;
        outline: none;
        width: calc(100% - 100px);
        height: 100%;
        margin-left: 70px;

        &::-webkit-input-placeholder {
          color: #c1c4ca;
        }
      }
    }
  }
}

.no-data-box {
  background: white;
}
</style>
