<template>
  <!-- 标题加导航 -->
  <div class="tab-navbar" :class="[rightColor, {isFixed}, {rightText}]">
    <van-nav-bar
      left-arrow
      @click-left="onClickLeft"
      :right-text="rightText"
      @click-right="onClickRight"
    >
      <!-- 中间导航 -->
      <van-tabs v-model="active" @click="onclick" slot="title">
        <van-tab v-for="(item, index) in tabList" :key="index + 'tab'" :title="item.title"></van-tab>
      </van-tabs>

      <!-- 右边图标 -->
      <slot v-if="icon">
        <i class="van-shopcart" v-if="cartIcon" slot="right" @click="onClickRight(1)">
          <i v-if="count">{{count}}</i>
        </i>

        <i class="van-ver-menu" slot="right" @click="onClickRight(2)"></i>
      </slot>
    </van-nav-bar>
  </div>
</template>

<script>
export default {
  name: 'index',
  props: {
    count: {}, // 购物车数量
    initIndex: {}, // 初始化导航index
    rightText: {}, // 右边文字
    isFixed: {
      // 是否display: fixed
      default: true
    },
    icon: {
      // 是否显示右边图标
      default: true
    },
    cartIcon: {
      // 是否显示右边购物车图标
      default: true
    },
    rightColor: {
      // 右边文字颜色
      default: ''
    },
    tabList: {
      // 导航文字
      default: () => ([
        {
          title: '商品'
        },
        {
          title: '详情'
        },
        {
          title: '评价'
        },
        {
          title: '养户'
        }
      ])
    }
  },
  watch: {
    initIndex (n) {
      // 初始化index
      this.active = n
    }
  },
  data () {
    return {
      active: 0
    }
  },
  created () {
    this.active = this.initIndex
  },
  methods: {
    // 切换导航
    onclick (index) {
      this.$emit('on-tab', index)
    },
    // 左箭头
    onClickLeft () {
      this.$emit('click-left')
    },
    // 右边
    onClickRight (i) {
      this.$emit('click-right', i)
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.tab-navbar {
  &.isFixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
  }

  &.rightText {
    @{deep}.van-nav-bar__right {
      // right: 30px !important;
    }
  }

  &.red {
    @{deep}.van-nav-bar__text {
      color: #e33240;
    }
  }

  &.grey {
    @{deep}.van-nav-bar__text {
      color: #8e939a;
    }
  }

  &.black {
    @{deep}.van-nav-bar__text {
      color: #2e3033;
    }
  }

  @{deep}.van-nav-bar {
    height: 96px;
    line-height: 96px;
    .van-nav-bar__left {
      padding: 0 16px;
      .van-icon {
        color: #2e3033;
        width: 64px;
        height: 64px;
        line-height: 64px;
      }
    }

    .van-nav-bar__title {
      min-width: 30%;
      max-width: 60%;
      .van-tabs--line {
        padding: 0;
        .van-tab {
          font-size: 30px;
          color: #8e939a;
        }
        .van-tab--active {
          color: #f44;
        }
      }
    }

    .van-nav-bar__right {
      padding: 0 16px;
      .van-ver-menu,
      .van-shopcart {
        display: inline-block;
        height: 64px;
        width: 64px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 48px 48px;
        vertical-align: middle;
      }
      .van-ver-menu {
        .bg-img("ver-menu");
      }
      .van-shopcart {
        .bg-img("shopcart");
        margin-right: 16px;
        position: relative;
        i {
          position: absolute;
          display: block;
          top: 0;
          left: 56px;
          background: white;
          border: 1px solid red;
          color: red;
          font-size: 20px;
          height: 20px;
          line-height: 24px;
          border-radius: 20px;
          padding: 0 6px;
          transform: translate(-50%);
        }
      }
    }
  }

  @{deep}.van-tabs {
    height: 96px;

    .van-tabs__wrap {
      height: 96px;

      &:after {
        border-top: 0;
      }

      .van-tabs__nav {
        padding-bottom: 0;

        .van-tabs__line {
          bottom: 0px;
        }

        .van-tab {
          line-height: 96px;
        }
      }
    }
  }
}
</style>
