<template>
  <div class="bidding-details">
    <div class="details-top">
      <van-nav-bar
        :title="goodsDetail.applyStatus === 1 ? '竞价出价' : '竞价报名'"
        left-arrow
        @click-left="_return">
      </van-nav-bar>
      <div class="details-top-bottom">
        <div class="details-top-bottom-left">
          <p v-if="bidStatus === '1'">未开始</p>
          <p v-else-if="bidStatus === '2'">进行中</p>
          <p v-else-if="bidStatus === '3'">已结束</p>
        </div>
        <div class="details-top-bottom-right">
          <p>{{bidStatus === '1' ? '距离开拍仅剩' : '距离结束仅剩'}}&nbsp;<van-count-down :time="lengthOfCountdownTime" @finish="finish"><template slot="default" slot-scope="timeData">{{timeData.days}}&nbsp;天&nbsp;&nbsp;&nbsp;&nbsp;{{timeData.hours | fillZero}}&nbsp;时&nbsp;{{timeData.minutes | fillZero}}&nbsp;分&nbsp;{{timeData.seconds | fillZero}}&nbsp;秒</template></van-count-down></p>
        </div>
      </div>
    </div>
    <div class="details-content">
      <div class="details-content-rotary">
        <div class="banner-wrapper">
          <div class="one-price" v-show="goodsDetail.biddingMode === '0'"></div>
          <my-video
            ref="myVideo"
            v-if="goodsDetail.videoList && goodsDetail.videoList[0]"
            v-show="showVideo"
            :video-url="goodsDetail.videoList[0]"
            class="my-video"
            @pause="showVideo = false"
          ></my-video>
          <van-swipe :width="swiperW" :height="swiperH" @change="changeBanner" v-if="goodsDetail && goodsDetail.itemPicList">
            <van-swipe-item v-for="(item, index) in goodsDetail.itemPicList" :key="index">
              <div
                class="img"
                v-lazy:background-image="{ src: allImgDomainName + item, error: require('@/assets/images/default/wens-bg.jpg') }"
                @click="viewPicDetail(index, goodsDetail.itemPicList)"
              ></div>

              <!-- 播放按钮 -->
              <div
                class="begin-video-box van-bottom"
                v-if="goodsDetail.videoList && goodsDetail.videoList[0] && index === 0"
                @click.stop="playVideo"
              >视频</div>
            </van-swipe-item>
            <!--自定义指示器-->
            <div class="custom-indicator" slot="indicator">
              {{(goodsDetail.itemPicList && goodsDetail.itemPicList.length) ? bannerIndex + 1 : 0}}/{{(goodsDetail.itemPicList && goodsDetail.itemPicList.length) ? goodsDetail.itemPicList.length : 0}}
            </div>
          </van-swipe>
          <div v-else-if="goodsDetail && !goodsDetail.itemPicList">
            <img v-lazy="require('@/assets/images/default/wens-bg.jpg')" :width="swiperW" :height="swiperH">
          </div>
        </div>
      </div>
      <div class="details-content-bottom">
        <div class="cah">
          <div class="cam">
            <div class="cam-left">
              <div class="cam-left-title">
                <h3>{{goodsDetail.itemName}}</h3>
              </div>
              <div class="cam-left-content">
                <h6>{{goodsDetail.biddingMode !== '0' ? '当前最高价：' : '今日指导价：'}}</h6>
                <p v-if="(goodsDetail.biddingMode !== '0' && maxPrice !== '0') || (goodsDetail.biddingMode === '0' && goodsDetail.minPrice !== '0')">
                  <span>{{goodsDetail.biddingMode !== '0' ? maxPrice : goodsDetail.minPrice | keepTwoNum}}</span>&nbsp;元/{{goodsDetail.saleUnitName}}
                </p>
                <p class="margin-top" v-else>敬请期待</p>
              </div>
              <div class="cam-left-bottom">
                <p><i>{{goodsDetail.count}}人</i>已报名</p>
                <p><i>{{browseMan}}次</i>围观</p>
                <p v-if="goodsDetail.totalDelay > 0">已延时<i>{{goodsDetail.totalDelay}}分钟</i></p>
              </div>
            </div>
            <div class="cam-right">
              <span @click="_remind">{{isRemind ? '已设提醒' : '设置提醒'}}</span>
            </div>
            <div v-if="goodsDetail.biddingMode !== '0' && goodsDetail.delay" class="can-tip">
              <p>注意：本竞价为延时竞价，在结束前<strong>{{goodsDetail.delay}}分钟</strong>内出价，结束时间顺延<strong>{{goodsDetail.delay}}分钟</strong></p>
            </div>
            <div v-else-if="goodsDetail.biddingMode === '0'" class="can-tip">
              <p>注意：“今日指导价”仅供竞价客户作为出价参考，最终中标价格为<strong>“交割当天指导价+加价”</strong>，每位竞价客户仅能出价<strong>一次</strong>，请大家谨慎出价，谢谢</p>
            </div>
          </div>
          <div class="can">
            <div class="can-top">
              <div class="can-top-float">
                <p v-if="goodsDetail.biddingMode !== '0'">起&nbsp;&nbsp;拍&nbsp;价：<span v-if="goodsDetail.minPrice !== '0'">{{goodsDetail.minPrice | keepTwoNum}}元/{{goodsDetail.saleUnitName}}</span><span v-else>敬请期待</span></p>
                <p v-if="goodsDetail.biddingMode !== '0'">加价幅度：<span>{{goodsDetail.addPrice | keepTwoNum}}元/{{goodsDetail.saleUnitName}}</span></p>
                <p v-if="goodsDetail.biddingMode !== '0'">起拍数量：<span>{{goodsDetail.beginNumber}}{{goodsDetail.assistUnitName}}</span></p>
                <p v-if="goodsDetail.biddingMode !== '0'">加拍幅度：<span>{{goodsDetail.addNumber}}{{goodsDetail.assistUnitName}}</span></p>
                <p>竞价总数：<span>{{goodsDetail.upperLimit}}{{goodsDetail.assistUnitName}}</span></p>
                <p>均&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;重：<span>{{goodsDetail.averageWeight}}{{goodsDetail.saleUnitName}}</span></p>
                <p>竞价编号：<span>{{goodsDetail.number}}</span></p>
                <p>发&nbsp;&nbsp;布&nbsp;方：<span>{{goodsDetail.org}}</span></p>
              </div>
            </div>
            <div class="can-both">
              <p>竞价开始时间：<span>{{goodsDetail.beginDate}}</span></p>
              <p>竞价结束时间：<span>{{goodsDetail.endDate}}</span></p>
            </div>
            <div class="can-bottom">
              <p>交割日期：<span>{{goodsDetail.deliveryBeginDate}}</span> ~ <span>{{goodsDetail.deliveryEndDate}}</span></p>
            </div>
          </div>
        </div>
        <div class="cai" v-if="goodsDetail.biddingMode !== '0'">
          <div class="cao" @click="_toRecord">
            <p>出价记录：<span>&nbsp;{{goodsRecord.count}}次出价</span></p>
            <van-icon name="arrow"></van-icon>
          </div>
          <div class="cap-wrap">
            <div class="cap">
              <div class="cap-left" v-for="(item, index) in goodsRecord.bisList" :key="index">
                <div class="cap-left-top">
                  <div class="cap-left-top-left" v-if="item.bidStatus === 'A'"><p>领先</p></div>
                  <div class="cap-left-top-left"  v-else-if="item.bidStatus === 'B'"><p>排队</p></div>
                  <div class="cap-left-top-left right-cap" v-else-if="item.bidStatus === 'C'"><p>出局</p></div>
                  <!-- <div class="cap-left-top-right"></div> -->
                </div>
                <div class="cap-left-bottom">
                  <p>&yen;<span>{{item.bidAmount}}</span></p>
                  <h6>{{item.customerNumber}}<span v-if="item.isMy === '1'">(我)</span></h6>
                </div>
              </div>
              <div class="cap-left" v-if="goodsRecord.count === 0">
                <div class="cap-left-top">
                  <span class="no-data">暂无记录</span>
                </div>
                <div class="cap-left-bottom">
                  <img src="@/assets/images/auction/no-data.png">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="caj">
          <div class="caq">
            <div class="caq-top">
              <p>竞价流程：</p>
            </div>
            <div class="caq-content">
              <!--<div class="caq-content-one">
                <p>交保证金</p>
              </div>
              <div class="caq-content-right"></div>
              <div class="caq-content-two">
                <p>出价竞价</p>
              </div>
              <div class="caq-content-right"></div>
              <div class="caq-content-three">
                <p>竞价成功</p>
              </div>
              <div class="caq-content-right"></div>
              <div class="caq-content-four">
                <p>支付货款</p>
              </div>
              <div class="caq-content-right"></div>
              <div class="caq-content-fire">
                <p>交易成功</p>
              </div>-->
            </div>
          </div>
          <div class="car" @click="_toBiddingRules(goodsDetail.bidType, goodsDetail.isNeedMargin)">
            <p>竞价规则</p>
            <van-icon name="arrow"></van-icon>
          </div>
          <div class="car" v-if="goodsDetail.isNeedMargin" @click="_toMarginAgreement(goodsDetail.bidType, goodsDetail.isNeedMargin)">
            <p>保证金规则<span>&nbsp;&nbsp;未拍到全额退款</span></p>
            <van-icon name="arrow"></van-icon>
          </div>
        </div>
        <div class="cak">
          <div class="cas" v-if="goodsDetail.famersName">
            <div class="cas-top">
              <p>送拍养户：{{goodsDetail.famersName}}</p>
            </div>
            <div class="cas-bottom" @click="_toMap(goodsDetail.longitude, goodsDetail.latitude, goodsDetail.famersAddress)">
              <div class="cas-bottom-ws"></div>
              <svg-icon class="icon-location" iconname="bidding_location"></svg-icon>
              <p>{{goodsDetail.famersAddress}}</p>
              <van-icon name="arrow"></van-icon>
            </div>
          </div>
          <div class="cat" v-if="goodsDetail.isNeedMargin" @click="_toPromise(goodsDetail.bidType, goodsDetail.isNeedMargin)">
            <p>卖家承诺：</p>
            <van-icon name="arrow"></van-icon>
          </div>
          <!-- <div class="cau" @click="_toNotice">
            <p>竞价须知：</p>
            <van-icon name="arrow"></van-icon>
          </div> -->
        </div>
        <div class="cal">
          <div class="cav">
            <div class="cav-top">
              <p>竞品详情：</p>
            </div>
            <div class="cav-content" v-html="goodsDetail.itemDescription"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- 底部出价、数量按钮 -->
    <div class="bidding-details-bottom" v-if="goodsDetail.applyStatus !== 1">
      <div class="day" v-if="goodsDetail.biddingMode !== '0'">
        <div class="day-one">
          <div class="day-one-left" @click="_priceCut">
            <svg-icon class="icon-reduce" iconname="bidding_reduce"></svg-icon>
          </div>
          <div class="day-one-center">
            <p><span>&yen;</span>{{offerPrice | keepTwoNum}}</p>
          </div>
          <div class="day-one-right" @click="_priceAdd">
            <svg-icon class="icon-plus" iconname="bidding_plus"></svg-icon>
          </div>
        </div>
        <div class="day-two">
          <div class="day-two-left" @click="_numCut">
            <svg-icon class="icon-reduce" iconname="bidding_reduce"></svg-icon>
          </div>
          <div class="day-two-center">
            <p>{{offerNumber}}{{goodsDetail.assistUnitName}}</p>
          </div>
          <div class="day-two-right" @click="_numAdd">
            <svg-icon class="icon-plus" iconname="bidding_plus"></svg-icon>
          </div>
        </div>
      </div>
      <!-- 一次出价模式下的加价 -->
      <div class="oncePrice" v-else>
        <div class="priceInput">
          <div class="priceInput-center">
            <input type="number" placeholder="请输入加价价格" v-model="oncePrice">
          </div>
          <div class="priceInput-right">
            元/{{goodsDetail.saleUnitName}}
          </div>
        </div>
      </div>
      <div class="daz" :class="{gray: bidStatus === '1' || bidStatus === '3' || !isQueryEsignOrRule}" @click="isQueryEsignOrRule && _offerSumbit()">
        <p>{{goodsDetail.biddingMode !== '0'? '出价' : '加价'}}</p>
      </div>
    </div>

    <div class="details-bottom" :class="{gray: enroll === true || !isQueryEsignOrRule}" @click="enroll === false && isQueryEsignOrRule && _signUp()" v-else>
      <p>竞价报名</p>
    </div>

    <div class="zab" v-if="showRemind">
      <div class="vac">
        <div class="poa"><h5>设置提醒</h5></div>
        <div class="pab">
          <h6>提醒时间：</h6>
          <div class="pac" :class="{pad: beforeOffer}" @click="_before">
            <div class="pac-one"></div>
            <p>竞价前5分钟提醒</p>
          </div>
          <div class="pac" :class="{pad: afterOffer}" @click="_after">
            <div class="pac-one"></div>
            <p>结束前10分钟提醒</p>
          </div>
        </div>
        <div class="pae">
          <p>提醒方式：</p>
          <p>短信提醒手机号：{{phone}}</p>
          <div class="paf">
            <svg-icon class="icon" iconname="bidding_wechat-logo"></svg-icon>
            <p>微信关注温氏商城公众号，第一时间通知竞价信息。</p>
          </div>
        </div>
        <span @click="_remindSure">确定</span>
        <h4 @click="showRemind = false">取消</h4>
      </div>
    </div>
    <div class="lad" v-if="offerBid">
      <div class="laf">
        <div class="lal">
          <p>竞价确认</p>
        </div>
        <div class="lam">
          <h6 v-if="goodsDetail.biddingMode !== '0'">您上次竞价价格：{{lastPrice | keepTwoNum}}元/{{goodsDetail.saleUnitName}}&nbsp;数量：{{lastNum}}{{goodsDetail.assistUnitName}}</h6>
          <h3>您本次竞价</h3>
          <h4>{{goodsDetail.biddingMode !== '0' ? '价格：￥' : '加价：￥'}}
            <span v-if="goodsDetail.biddingMode !== '0'">{{offerPrice | keepTwoNum}}</span>
            <span v-else>{{oncePrice}}</span>
            元/{{goodsDetail.saleUnitName}}
          </h4>
          <h5>数量：{{goodsDetail.biddingMode !== '0' ? offerNumber : goodsDetail.upperLimit}}{{goodsDetail.assistUnitName}}</h5>
          <div class="lan" @click="_offerSure">确定</div>
          <div class="lao" @click="offerBid = false">取消</div>
        </div>
      </div>
    </div>
    <div class="lah" v-if="bidSuccess">
      <div class="laj">
        <div class="lap">
          <p>温馨提示</p>
        </div>
        <div class="laq">
          <div class="laq-one"></div>
          <h3>出价成功</h3>
          <p>尊敬的客户，您出价已成功！</p>
          <span @click="_successSure">确定</span>
        </div>
      </div>
    </div>
    <div class="bidSuccess-wrap">
      <!--竞价报名弹出框-->
      <div class="reminder" v-if="failShow">
        <div class="jak">
          <div class="jal">
            <p>温馨提示</p>
          </div>
          <div class="jam">
            <p>尊敬的客户<span v-if="curUserPhone">（{{curUserPhone}}）</span>：</p>
            <h2 v-if="curUserPhone">&nbsp;&nbsp;&nbsp;&nbsp;您还没有缴纳保证金。</h2>
            <h2 v-else>&nbsp;&nbsp;&nbsp;&nbsp;{{failText}}</h2>
            <p v-if="curUserPhone">请及时联系我们的客服人员线下缴纳保证金后才能参与我们的竞价。</p>
            <div class="jao" v-if="cusPhone">
              <div class="jao-phone"></div>
              <p>客服电话：</p>
              <p class="phone">{{cusPhone}}</p>
            </div>
          </div>
          <div class="btn">
            <span @click="_failBtn">确定</span>
          </div>
        </div>
      </div>
      <!--报名成功弹出框-->
      <div class="registration" v-if="successShow">
        <div class="vaf">
          <div class="vah">
            <p>温馨提示</p>
          </div>
          <div class="vai">
            <div class="vai-one"></div>
            <h5>报名成功</h5>
            <p>您本场竞价的编码为：</p>
            <h4>{{applyObj.number}}</h4>
            <h6>竞价时间：{{goodsDetail.beginDate}}</h6>
            <span @click="_successBtn">确定</span>
          </div>
        </div>
      </div>
      <!--设置提醒成功-->
      <div class="registration" v-if="setupShop">
        <div class="vaf">
          <div class="vah">
            <p>温馨提示</p>
          </div>
          <div class="vai">
            <div class="vai-one"></div>
            <h5>设置提醒成功</h5>
            <span @click="_setupBtn">确定</span>
          </div>
        </div>
      </div>
      <!-- 是否取消提醒 -->
      <div class="registration" v-if="cancelReminderShow">
        <div class="vafs">
          <div class="vah">
            <p>是否取消提醒</p>
          </div>
          <div class="vais">
            <span @click="_setCancelReminder">确定</span>
            <span @click="cancelReminderShow = false" class="span1">取消</span>
          </div>
        </div>
      </div>
      <!--提醒客户已出局-->
      <div class="registration" v-if="hintUserOut">
        <div class="vaf">
          <div class="vah">
            <p>温馨提示</p>
          </div>
          <div class="vai">
            <div class="vai-one"></div>
            <h5>尊敬的客户，您的报价已出局，请重新出价。</h5>
            <span @click="hintUserOut = false">确定</span>
          </div>
        </div>
      </div>
    </div>

    <!-- 竞价规则 -->
    <van-dialog
      class="bidding-rules"
      id="rulesDialogDiv"
      :class="{'disabled': rulesDialogCount >= 0 || !rulesDialogScrollToBottom}"
      v-model="showRulesDialog"
      show-confirm-button
      :confirm-button-text="rulesDialogCount >= 0 ? `${rulesDialogBtnText}（${rulesDialogCount}）` : `${rulesDialogBtnText}`"
      :beforeClose="dialogConfirm"
    >
      <bidding-rules-article :htmlContent="richText.JJGZ"></bidding-rules-article>
    </van-dialog>

    <!-- 私人客户/公司客户选择 -->
    <van-dialog class="customer-choose" v-model="showCustomerChoose" @confirm="customerChooseConfirm">
      <van-radio-group v-model="customerType">
        <van-radio name="1">私人客户</van-radio>
        <van-radio name="2">公司客户</van-radio>
      </van-radio-group>
    </van-dialog>
  </div>
</template>

<script>
import myVideo from '@/views/goods-details/video'
import BiddingRulesArticle from '@/components/bidding/bidding-rules-article'
import { ImagePreview } from 'vant'
import { api } from '@/api'
import { _debounce, getVisibilityChange, isObject, scrollTop, getScrollTop } from '@/utils/common'
import { allImgDomainNameMixin } from '@/assets/js/mixin'

export default {
  name: 'bidding-details',
  mixins: [allImgDomainNameMixin],
  inject: ['reload'],
  data () {
    return {
      bidStatus: '0', // 1 - 未开始, 2 - 进行中, 3 - 已结束
      showRemind: false, // 显示闹钟提醒弹窗
      isRemind: false, // 是否已设置提醒
      offerBid: false,
      bidSuccess: false,
      lengthOfCountdownTime: null, // 倒计时时长
      goodsDetail: {},
      maxPrice: null,
      goodsRecord: {},
      bannerIndex: 0, // 轮播图图片下标
      swiperH: 0, // 轮播图高
      swiperW: 0, // 轮播图宽
      showVideo: '', // 显示视频
      enroll: false,
      ownerId: null,
      offerPrice: '',
      offerNumber: '',
      lastPrice: ' ',
      lastNum: ' ',
      bidId: '',
      beforeOffer: false,
      afterOffer: false,
      phone: '',
      beforeNum: null,
      afterNum: null,
      failShow: false,
      successShow: false,
      applyObj: {},
      setupShop: false,
      browseMan: null,
      beforeSure: false,
      afterSure: false,
      curUserPhone: '', // 登录用户电话
      cusPhone: '', // 联系电话
      failText: '', // 报名失败提示框文字
      isSubmitFlag1: false, // 记录出价提交状态
      isSubmitFlag2: false, // 记录报名提交状态
      maxPriceTimer: null,
      cancelReminderShow: false,
      oncePrice: null, // 加价价格
      isOut: false,
      hintUserOut: false,
      getResultTimer: null, // 获取竞价结果定时器
      showRulesDialog: false, // 显示“竞价规则”弹出框
      rulesDialogCount: 10, // “竞价规则”弹出框倒计时
      rulesDialogScrollToBottom: false, // “竞价规则”弹出框是否滚动到底部
      rulesDialogBtnText: '我已阅读并同意', // “竞价规则”弹出框按钮文字
      useEsign: false, // 是否开启电子签
      signUrl: '', // 签署地址
      richText: {}, // 富文本
      isQueryEsignOrRule: false, // 是否已查询完是否签电子签（养猪）或已查看规则（养禽）
      showCustomerChoose: false, // 电子签发起签署选择私人客户/公司客户显示框
      customerType: '1', // 客户类型
      done: null // 规则框beforeClose回调函数参数done
    }
  },
  watch: {
    bidStatus (newVal, oldVal) {
      if ((newVal !== oldVal) && (oldVal === '1' || oldVal === '2' || oldVal === '3')) {
        this.reload()
      }
    },
    isOut () {
      if (this.isOut) {
        this.hintUserOut = true
      }
    },
    oncePrice () {
      // 通过正则过滤小数点后两位
      this.oncePrice = (this.oncePrice && this.oncePrice.match(/^\d*(\.?\d{0,2})/g)[0]) || null
    },
    showRulesDialog: {
      immediate: true,
      handler (newVal, oldVal) {
        if (newVal === true) {
          this.$nextTick(() => {
            const el = document.querySelector('#rulesDialogDiv > .van-dialog__content')
            const offsetHeight = el.offsetHeight
            const baseDistance = el.scrollHeight - offsetHeight // 透明度从0到1的距离
            const btn = document.querySelector('#rulesDialogDiv .van-dialog__confirm')
            if (offsetHeight - el.scrollHeight >= -1) {
              this.rulesDialogScrollToBottom = true
            }

            // 滚动监听
            el.onscroll = e => {
              // 渐变色
              if (!this.rulesDialogScrollToBottom && this.rulesDialogCount < 0) {
                let base = e.target.scrollTop / baseDistance
                btn.style.opacity = 0.5 + (base < 0 ? 0 : base > 1 ? 1 : base) / 2
              }

              if ((offsetHeight + e.target.scrollTop) - e.target.scrollHeight >= -1) {
                this.rulesDialogScrollToBottom = true
              }
            }
          })
          this.rulesDialogCountDown()
        } else if (newVal === false) {
          // 移除监听
          if (document.querySelector('#rulesDialogDiv > .van-dialog__content')) {
            document.querySelector('#rulesDialogDiv > .van-dialog__content').onscroll = null
          }
        }
      }
    }
  },
  created () {
    this.scaleSwiper()
    window.onresize = this.scaleSwiper

    this._getDetail() // 获取商品详情
    this._initUserInfo() // 查询会员信息
    this._getBrowse() // 浏览人数

    // 处理页面可见属性的改变 - 纠正服务器时间
    document.addEventListener(getVisibilityChange().visibilityChange, this.handleVisibilityChange, false)
  },
  methods: {
    // 消除键盘关闭后页面被撑起，导致按钮响应区域错位
    scrollToTop () {
      scrollTop(window, getScrollTop(), 0, 100)
    },
    _remind () {
      if (!this.isRemind) {
        this.showRemind = true
      } else {
        this.cancelReminderShow = true
      }
    },
    _setCancelReminder () {
      this.cancelReminderShow = false
      this.isRemind = false
      this.$toast('已取消设置提醒')
      this._remindSure()
    },
    _remindSure () {
      if (this.beforeNum || this.afterNum) {
        let params = {
          bidId: this.$route.query.id,
          beginMinute: this.beforeNum,
          endMinute: this.afterNum,
          markup: this.oncePrice
        }
        api.commonCall(params, 'saveMessageReminder').then(res => {
          if (res.success) {
            this.showRemind = false
            this.beforeNum = null
            this.afterNum = null
            this.beforeOffer = false
            this.afterOffer = false
            this.setupShop = true
            this.isRemind = true
          } else {
            res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
          }
        })
      } else {
        let params = {
          bidId: this.$route.query.id,
          beginMinute: null,
          endMinute: null
        }
        api.commonCall(params, 'saveMessageReminder').then(res => {
          if (res.success) {
            this.showRemind = false
          } else {
            res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
          }
        })
      }
    },
    _offerSumbit () {
      if (this.bidStatus === '2') {
        if ((this.goodsDetail.biddingMode === '0' && !+this.oncePrice) || (this.goodsDetail.biddingMode !== '0' && !+this.offerPrice)) {
          this.$toast('出价不能为空或0')
        } else if (this.goodsDetail.biddingMode !== '0' && !+this.offerNumber) {
          this.$toast('数量不能为空或0')
        } else {
          this.offerBid = true
        }
      }
    },
    _offerSure: _debounce(function () {
      if (this.isSubmitFlag1) return
      this.isSubmitFlag1 = true

      let number = this.goodsDetail.biddingMode !== '0' ? this.offerNumber : this.goodsDetail.upperLimit
      let bidPrice = this.goodsDetail.biddingMode !== '0'
        ? this.offerPrice
        : this.$BigDecimal.add(new this.$BigDecimal(this.goodsDetail.minPrice).getValue(), new this.$BigDecimal(this.oncePrice).getValue())

      let params = {
        bidId: this.$route.query.id,
        bidPrice: bidPrice,
        bidNum: number,
        markup: this.oncePrice
      }

      api.commonCall(params, 'saveUserBidPrice').then(res => {
        if (res.success) {
          this.offerBid = false
          this.bidSuccess = true
          // 竞价结果定时器暂不上线
          // this.getResultTimer = setInterval(() => {
          //   this.getResult(res.data.resultId)
          // }, 1000)

          setTimeout(() => {
            this.isSubmitFlag1 = false
          }, 1000)
        } else {
          this.offerBid = false
          this.oncePrice = null
          res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))

          setTimeout(() => {
            this.isSubmitFlag1 = false
          }, 1000)
        }
      })
    }, 500),
    getResult (id) {
      const params = {
        resultId: id
      }
      api.commonCall(params, 'getResult').then(res => {
        if (res.success) {
          if (isObject(res.data.result) && res.data.result.code !== null) {
            // 清除定时器
            clearInterval(this.getResultTimer)

            if (res.data.result.code === '0') { // 失败
              this.$toast(res.data.result.message)
            } else {
              this.bidSuccess = true
            }
          }
        }
      })
    },
    _successSure () {
      this.bidSuccess = false
      this.reload()
    },
    // 监听轮播
    changeBanner (index) {
      this.bannerIndex = index
    },
    // 控制轮播宽高
    scaleSwiper () {
      this.swiperW = window.innerWidth
      this.swiperH = window.innerHeight / 2
    },
    // 播放视频
    playVideo () {
      this.showVideo = true
      this.$nextTick(() => {
        this.$refs.myVideo.$refs.myVideoRef.goOnPlay()
      })
    },
    // 图片预览
    viewPicDetail (index, picList) {
      let list = []
      // eslint-disable-next-line
      for (let [index, elem] of picList.entries()) {
        list.push(this.allImgDomainName + elem)
      }
      ImagePreview({
        images: list,
        startPosition: index
      })
    },
    _return () {
      if (window.history.length > 1) {
        this.$router.go(-1)
      } else {
        this.$router.push('/')
      }
    },
    _toRecord () {
      this.$router.push({
        path: '/biddingOffer',
        query: {
          id: this.$route.query.id
        }
      })
    },
    _toBiddingRules (bidType, isNeedMargin) {
      this.$router.push({
        path: '/biddingRules',
        query: {
          bidType,
          isNeedMargin
        }
      })
    },
    _toMarginAgreement (bidType, isNeedMargin) {
      this.$router.push({
        path: '/marginAgreement',
        query: {
          bidType,
          isNeedMargin
        }
      })
    },
    _getDetail () {
      let params = {
        id: this.$route.query.id
      }
      api.commonCall(params, 'wsAuctionInfoDetails').then(res => {
        if (res.success) {
          res.data.bidNumber = res.data.bidNumber.replace('JJBM-', '')

          this.goodsDetail = res.data
          this.offerPrice = res.data.maxPrice
          this.maxPrice = res.data.maxPrice
          this.offerNumber = res.data.beginNumber

          let nowTime = new Date(res.data.currentTime && res.data.currentTime.replace(/-/g, '/')).getTime()
          let beginTime = new Date(res.data.beginDate.replace(/-/g, '/')).getTime() // 开始时间
          let endTime = new Date(res.data.endDate.replace(/-/g, '/')).getTime() // 结束时间
          let beforeBeginTime = new Date(res.data.beginDate.replace(/-/g, '/')).getTime() - (1000 * 60 * 5) // 开始前5分钟时间
          let beforeEndTime = new Date(res.data.endDate.replace(/-/g, '/')).getTime() - (1000 * 60 * 10) // 结束前10分钟时间

          let NTime = beginTime - nowTime
          let ETime = endTime - nowTime

          if (ETime <= 0) {
            this.enroll = true
          } else {
            this.enroll = false
          }
          // 设置倒计时
          if (NTime > 0) {
            this.bidStatus = '1'
            this.lengthOfCountdownTime = NTime
          } else if (NTime <= 0 && ETime >= 0) {
            this.bidStatus = '2'
            this.lengthOfCountdownTime = ETime
          } else {
            this.bidStatus = '3'
            this.lengthOfCountdownTime = 0
          }

          if (nowTime >= beforeBeginTime) {
            this.beforeSure = true
          } else {
            this.beforeSure = false
          }
          if (nowTime >= beforeEndTime) {
            this.afterSure = true
          } else {
            this.afterSure = false
          }

          this._getBidFileInfo(this.goodsDetail.bidType, this.goodsDetail.isNeedMargin) // 获取卖家承诺、竞价规则、保证金须知富文本
          this._newOffer() // 上一次出价
          this._getRecord() // 出价记录
          this._getSet() // 设置提醒
          // 获取最高出价
          if (this.goodsDetail.applyStatus === 1 && this.goodsDetail.biddingMode !== '0' && this.bidStatus === '2') {
            this.maxPriceTimer = setInterval(() => {
              // this._getMaxPrice()
              this._getRecord()
            }, 1000)
          }
        } else {
          res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    // 最高价
    _getMaxPrice () {
      let params = {
        id: this.$route.query.id
      }
      api.commonCall(params, 'getHighestBidPrice').then(res => {
        if (res.success) {
          this.maxPrice = res.data.maxPrice
        }
      })
    },
    _getBrowse (id) {
      let params = {
        objectId: this.$route.query.id
      }
      api.commonCall(params, 'getBrowseCount').then(res => {
        if (res.success) {
          this.browseMan = res.data.count
        }
      })
    },
    _getSet () {
      let params = {
        bidId: this.$route.query.id
      }
      api.commonCall(params, 'getMessageReminder').then(res => {
        if (res.success) {
          if (res.data.status === '0') {
            this.isRemind = false
          } else if (res.data.status === '1') {
            this.isRemind = true
          }
        } else {
          res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    _getRecord () {
      let params = {
        id: this.$route.query.id,
        page: 1,
        pageSize: 3
      }
      api.commonCall(params, 'wsBidRecordList').then(res => {
        if (res.success) {
          if (res.data.totalDelay && this.goodsDetail.totalDelay !== res.data.totalDelay) {
            this.$set(this.goodsDetail, 'totalDelay', res.data.totalDelay)
          }
          if (res.data.biddingEndDate && this.goodsDetail.endDate !== res.data.biddingEndDate) {
            this.$set(this.goodsDetail, 'endDate', res.data.biddingEndDate)
          }

          let count = 0
          let flg = false
          res.data.bisList.forEach((item) => {
            if (item.customerNumber) {
              item.customerNumber = item.customerNumber.replace('JJBM-', '')
              item.customerNumber = item.customerNumber.replace(item.customerNumber.substring(9, 12), '***')
            }

            if ((item.bidStatus === 'B' || item.bidStatus === 'A') && item.isMy === '1') {
              count++
            } else if (item.bidStatus === 'C' && item.isMy === '1') {
              flg = true
            }
          })
          this.goodsRecord = res.data

          if (count > 0 || flg === false) {
            this.isOut = false
          } else if (count === 0 && flg && this.goodsDetail.biddingMode !== '0') {
            this.isOut = true
          }

          if (res.data.bisList && res.data.bisList[0] && res.data.bisList[0].bidAmount && this.maxPrice !== res.data.bisList[0].bidAmount) {
            this.maxPrice = res.data.bisList[0].bidAmount
          }
        }
      })
    },
    _newOffer () {
      let params = {
        bidId: this.$route.query.id
      }
      api.commonCall(params, 'queryUserPriceByBidId').then(res => {
        if (res.success) {
          if (res.data) {
            this.lastPrice = res.data.bidPrice
            this.lastNum = res.data.bidNum
            if (res.data.bidNum && +res.data.bidNum !== 0) {
              this.offerNumber = res.data.bidNum
            }
          }
        } else {
          res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    _before () {
      if (this.beforeSure === false) {
        if (this.beforeOffer === true) {
          this.beforeOffer = false
          this.beforeNum = null
        } else {
          this.beforeOffer = true
          this.beforeNum = 5
        }
      }
    },
    _after () {
      if (this.afterSure === false) {
        if (this.afterOffer === true) {
          this.afterOffer = false
          this.afterNum = null
        } else {
          this.afterOffer = true
          this.afterNum = 10
        }
      }
    },
    _setupBtn () {
      this.setupShop = false
    },
    _signUp: _debounce(function () {
      if (this.isSubmitFlag2) return
      this.isSubmitFlag2 = true

      let params = {
        objectId: this.$route.query.id,
        ownerId: this.ownerId
      }
      api.commonCall(params, 'wsApplyInfo').then(res => {
        if (res.success) {
          this.applyObj = res.data
          this.successShow = true

          setTimeout(() => {
            this.isSubmitFlag2 = false
          }, 1000)
        } else {
          if (res.message) {
            this.failShow = true
            let str = res.message
            if (str.indexOf('登录用户:') > -1) {
              this.curUserPhone = str.substring(str.indexOf('登录用户:') + 5, str.indexOf(',还未缴纳保证金'))
              if (str.indexOf('联系电话:') > -1) {
                this.cusPhone = str.substring(str.indexOf('联系电话:') + 5, str.length)
              }
            } else {
              this.failText = str.replace('调用移动分销接口失败：', '')
            }
          }

          setTimeout(() => {
            this.isSubmitFlag2 = false
          }, 1000)
        }
      })
    }, 500),
    _failBtn () {
      this.failShow = false
    },
    _successBtn () {
      this.successShow = false
      this.reload()
    },
    _initUserInfo () {
      let userInfo = JSON.parse(sessionStorage.getItem('userInfo'))
      this.ownerId = userInfo && userInfo.id
      this.phone = userInfo && userInfo.phone && userInfo.phone.replace(userInfo.phone.substring(3, 7), '****')
      if (!this.ownerId) {
        api.userInfo().then(res => {
          if (res.success) {
            this.ownerId = res.data.id
            this.phone = res.data.phone.replace(res.data.phone.substring(3, 7), '****')
          } else {
            res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
          }
        })
      }
    },
    _priceCut () {
      if (this.lastPrice) {
        if (this.offerPrice > this.lastPrice) {
          let p1 = new this.$BigDecimal(this.offerPrice)
          let p2 = new this.$BigDecimal(this.goodsDetail.addPrice)
          let p3 = this.$BigDecimal.subtract(p1.getValue(), p2.getValue())
          this.offerPrice = p3
        } else {
          this.offerPrice = this.lastPrice
        }
      } else {
        if (this.offerPrice > this.goodsDetail.minPrice) {
          let p1 = new this.$BigDecimal(this.offerPrice)
          let p2 = new this.$BigDecimal(this.goodsDetail.addPrice)
          let p3 = this.$BigDecimal.subtract(p1.getValue(), p2.getValue())
          this.offerPrice = p3
        } else {
          this.offerPrice = this.goodsDetail.minPrice
        }
      }
    },
    _priceAdd () {
      let num1 = new this.$BigDecimal(this.offerPrice)
      let num2 = new this.$BigDecimal(this.goodsDetail.addPrice)
      let num3 = this.$BigDecimal.add(num1.getValue(), num2.getValue())
      this.offerPrice = num3
    },
    _numCut () {
      if (this.offerNumber > this.goodsDetail.beginNumber) {
        this.offerNumber = this.offerNumber - this.goodsDetail.addNumber
        if (this.offerNumber < this.goodsDetail.beginNumber) {
          this.offerNumber = this.goodsDetail.beginNumber
        }
        if (this.offerNumber !== this.goodsDetail.beginNumber && this.offerNumber % this.goodsDetail.addNumber !== 0) {
          this.offerNumber = Math.ceil((this.offerNumber - this.goodsDetail.beginNumber) / this.goodsDetail.addNumber) * this.goodsDetail.addNumber + this.goodsDetail.beginNumber
        }
      } else {
        this.offerNumber = this.goodsDetail.beginNumber
      }
    },
    _numAdd () {
      if (this.offerNumber < this.goodsDetail.upperLimit) {
        this.offerNumber = this.offerNumber + this.goodsDetail.addNumber
        if (this.offerNumber > this.goodsDetail.upperLimit) {
          this.offerNumber = this.goodsDetail.upperLimit
        }
        if (this.offerNumber !== this.goodsDetail.upperLimit && this.offerNumber % this.goodsDetail.addNumber !== 0) {
          this.offerNumber = Math.floor((this.offerNumber - this.goodsDetail.beginNumber) / this.goodsDetail.addNumber) * this.goodsDetail.addNumber + this.goodsDetail.beginNumber
        }
      } else {
        this.offerNumber = this.goodsDetail.upperLimit
      }
    },
    _toPromise (bidType, isNeedMargin) {
      this.$router.push({
        path: '/sellerPromise',
        query: {
          bidType,
          isNeedMargin
        }
      })
    },
    _toNotice () {
      this.$router.push({
        path: '/notesBidding'
      })
    },
    _toMap (longitude, latitude, farmersAddress) {
      this.$router.push({
        path: '/biddingDetailsMap',
        query: {
          longitude,
          latitude,
          farmersAddress
        }
      })
    },
    handleVisibilityChange () {
      // 如果页面是展示状态
      if (document[getVisibilityChange().changeState] === 'visible') {
        // 获取最高出价
        if (this.goodsDetail.applyStatus === 1 && this.goodsDetail.biddingMode !== '0' && this.bidStatus === '2') {
          this.maxPriceTimer = setInterval(() => {
            // this._getMaxPrice()
            this._getRecord()
          }, 1000)
        }
      } else {
        // 停止获取最高出价
        if (this.maxPriceTimer) {
          clearInterval(this.maxPriceTimer)
        }
      }
    },
    rulesDialogIfShow () {
      api.commonCall({}, 'isBiddingRuleRead').then(res => {
        if (res.success) {
          if (res.data.isRead === false) {
            this.showRulesDialog = true
          } else {
            this.showRulesDialog = false
          }
          this.isQueryEsignOrRule = true
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    rulesDialogBeforeClose (action, done) {
      if (this.rulesDialogCount >= 0 || !this.rulesDialogScrollToBottom) {
        done(false)
        return
      }

      if (action === 'confirm') {
        api.commonCall({}, 'setBiddingRuleRead').then(res => {
          if (res.success) {
            done()
          } else {
            res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
            done(false)
          }
        })
      }
    },
    rulesDialogCountDown () {
      // 10秒倒计时
      let clock = setInterval(() => {
        this.rulesDialogCount--
        if (this.rulesDialogCount < 0) {
          clearInterval(clock)
        }
      }, 1000)
    },
    // 查询是否已签署电子签
    getBidContractSignStatus () {
      api.commonCall({ bidId: this.$route.query.id }, 'getBidContractSignStatus').then(res => {
        if (res.success) {
          this.useEsign = res.data.useEsign
          if (this.useEsign) { // 是否开启电子签
            if (res.data.signStatus === 'D') {
              this.showRulesDialog = true
              this.rulesDialogBtnText = '未签署，发起签署'
            } else if (res.data.signStatus === 'A') {
              this.showRulesDialog = true
              this.rulesDialogBtnText = '上次签署失败，重新发起'
            } else if (res.data.signStatus === 'B') {
              this.showRulesDialog = true
              this.rulesDialogBtnText = '已发起，继续签署'
              this.signUrl = res.data.signUrl
            } else if (res.data.signStatus === 'F') {
              this.showRulesDialog = true
              this.rulesDialogBtnText = '有新四级公司，发起签署'
            }
            this.isQueryEsignOrRule = true
          } else {
            this.rulesDialogIfShow()
          }
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    // 发起电子签签署
    launchSignFlow (action, done) {
      if (this.rulesDialogCount >= 0 || !this.rulesDialogScrollToBottom) {
        done(false)
        return
      }

      if (action === 'confirm') {
        if (this.signUrl) {
          // done()
          window.location.href = this.signUrl
        } else {
          // let params = {
          //   bidId: this.$route.query.id,
          //   redirectUrl: window.location.href
          // }
          // api.commonCall(params, 'launchSignFlow').then(res => {
          //   if (res.success) {
          //     // done()
          //     this.signUrl = res.data.signUrl
          //     if (this.signUrl) {
          //       window.location.href = this.signUrl
          //     }
          //   } else {
          //     res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
          //     done(false)
          //   }
          // })
          this.showCustomerChoose = true
          this.done = done
        }
      }
    },
    dialogConfirm (action, done) {
      if (this.useEsign) {
        if (this.goodsDetail.bidType === '1') { // 养猪
          this.launchSignFlow(action, done)
        } else if (this.goodsDetail.bidType === '2' || this.goodsDetail.bidType === '3') { // 老鸡或鸡苗
          this.rulesDialogBeforeClose(action, done)
        }
      } else {
        this.rulesDialogBeforeClose(action, done)
      }
    },
    // 客户类型选择框确认事件
    customerChooseConfirm () {
      let params = {
        bidId: this.$route.query.id,
        redirectUrl: window.location.href,
        customerType: this.customerType
      }
      api.commonCall(params, 'launchSignFlow').then(res => {
        if (res.success) {
          this.signUrl = res.data.signUrl
          if (this.signUrl) {
            window.location.href = this.signUrl
          }
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
          this.done(false)
        }
      })
    },
    _getBidFileInfo (bidType, isNeedMargin) {
      api.commonCall({ bidType, isNeedMargin }, 'getBidFileInfo').then(res => {
        if (res.success) {
          this.richText = res.data || {}

          if (this.goodsDetail.bidType === '1') { // 养猪
            this.getBidContractSignStatus() // 查询是否已签署电子签
          } else if (this.goodsDetail.bidType === '2' || this.goodsDetail.bidType === '3') { // 老鸡或鸡苗
            this.rulesDialogIfShow() // 获取当前用户是否已查看“竞价规则”
          }
        } else {
          this.$dialog.alert({
            title: '温馨提示',
            message: res.message && res.message.replace('调用移动分销接口失败：', '')
          }).then(() => {
            this._return()
          })
        }
      })
    },
    // 倒计时结束时触发
    finish () {
      if (this.bidStatus !== '0') {
        this.bidStatus = '3'
      }
    }
  },
  beforeDestroy () {
    if (this.maxPriceTimer) {
      clearInterval(this.maxPriceTimer)
    }
    clearInterval(this.getResultTimer)
  },
  destroyed () {
    document.removeEventListener(getVisibilityChange().visibilityChange, this.handleVisibilityChange, false)
  },
  components: {
    myVideo,
    BiddingRulesArticle
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.bidding-details {
  .details-top{
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #ffffff;
    right: 0;
    left: 0;
    z-index: 9;
    .details-top-title{
      width: 100%;
      height: 80px;
      p{
        font-family: "PingFang SC";
        font-size: 36px;
        color: #333A43;
        text-align: center;
        line-height: 80px;
        font-weight: bold;
        padding-right: 48px;
      }
    }
    .details-top-bottom{
      width: 100%;
      height: 66px;
      box-shadow: 0 1px 40px 10px #f5f5f5;
      .details-top-bottom-left{
        width: 188px;
        height: 100%;
        float: left;
        background-color: #F39801;
        p{
          font-family: "PingFang SC";
          font-size: 26px;
          color: #ffffff;
          text-align: center;
          line-height: 66px;
        }
      }
      .details-top-bottom-right{
        width: 562px;
        height: 100%;
        float: left;
        background-color: #444444;
        p{
          font-family: "PingFang SC";
          font-size: 26px;
          color: #ffffff;
          text-align: center;
          line-height: 66px;
          .van-count-down {
            display: inline;
            font-size: 26px;
            color: #ffffff;
          }
        }
      }
    }
  }
  .details-content{
    padding-top: 90px;
    width: 100%;
    height: 100%;
    .details-content-rotary{
      width: 100%;
      .banner-wrapper {
        height: calc(100vh / 2);
        overflow: hidden;
        position: relative;
        z-index: 0;
        .one-price{
          position: absolute;
          width: 138px;
          height: 52px;
          top: 90px;
          left: 0;
          background: url("~@/assets/images/auction/details-oneprice.svg") no-repeat center center;
          background-size: 100% 100%;
        }
        .my-video {
          z-index: 99;
        }
        .img {
          height: calc(100vh / 2);
          background-size: 100% 100%;
        }
        .custom-indicator {
          position: absolute;
          right: 10px;
          bottom: 10px;
          padding: 4px 10px;
          font-size: 26px;
          color: #fff;
          background: rgba(0, 0, 0, 0.3);
        }
      }
    }
  }
  .details-content-bottom{
    width: 100%;
    min-height: 2000px;
    .cah{
      width: 100%;
      overflow: hidden;
      box-sizing: border-box;
      border-bottom: 18px solid #F8F8F8;
      border-top: 18px solid #F8F8F8;
      .cam{
        width: 706px;
        overflow: hidden;
        box-sizing: border-box;
        border-bottom: 2px solid #f8f8f8;
        margin: 0 auto;
        .cam-left{
          width: 70%;
          float: left;
          .cam-left-title{
            width: 100%;
            h3{
              display: block;
              width: 100%;
              font-family: "PingFang SC";
              font-size: 32px;
              color: #414143;
              margin-top: 28px;
              margin-bottom: 15px;
              font-weight: bold;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            }
          }
          .cam-left-content{
            width: 100%;
            overflow: hidden;
            h6{
              float: left;
              font-family: "PingFang SC";
              font-size: 24px;
              color: #A9ABAF;
              font-weight: normal;
              margin-top: 10px;
            }
            p{
              font-family: "PingFang SC";
              font-size: 24px;
              color: #E63E32;
              &.margin-top {
                margin-top: 10px;
              }
              span{
                font-family: 'AvenirLTStd-Black';
                font-size: 36px;
                color: #E63E32;
              }
            }
          }
          .cam-left-bottom{
            width: 100%;
            overflow: hidden;
            margin-top: 10px;
            margin-bottom: 34px;
            p{
              font-family: "PingFang SC";
              font-size: 24px;
              color: #A9ABAF;
              float: left;
              &:not(:first-child) {
                margin-left: 26px;
                .border-vertical-1px-left(@color: #979797, @left: -13px);
              }
              i {
                font-style: normal;
                font-family: "PingFang SC";
                font-size: 24px;
                color: #E63E32;
              }
            }
          }
        }
        .cam-right{
          float: right;
          span{
            display: block;
            width: 150px;
            height: 116px;
            font-size: 24px;
            font-family: "PingFang SC";
            color: #48484a;
            margin-top: 52px;
            line-height: 190px;
            background: url("~@/assets/images/auction/clock.svg") no-repeat center top;
            background-size: 68px 68px;
            text-align: center;
            margin-bottom: 30px;
          }
        }
        .can-tip{
          width: 100%;
          float: left;
          box-sizing: border-box;
          margin-bottom: 34px;
          p{
            letter-spacing: 2px;
            color: #a9abaf;
            font-size: 24px;
            line-height: 40px;
            strong{
              color: #48484a;
              font-size: 24px;
            }
          }
        }
      }
      .can{
        width: 706px;
        overflow: hidden;
        margin: 0 auto;
        margin-top: 30px;
        .can-top{
          width: 100%;
          .can-top-float {
            p{
              float: left;
              width: 50%;
              overflow: hidden;
              font-family: "PingFang SC";
              font-size: 24px;
              color: #A9ABAF;
              margin-top: 10px;
              display: block;
              &:nth-child(1), &:nth-child(2) {
                margin-top: 0px;
              }
              span{
                font-family: "PingFang SC";
                font-size: 24px;
                color: #1E1E00;
              }
            }
          }
        }
        .can-both{
          width: 100%;
          overflow: hidden;
          p{
            font-family: "PingFang SC";
            font-size: 24px;
            color: #A9ABAF;
            margin-top: 10px;
            span{
              font-family: "PingFang SC";
              font-size: 24px;
              color: #1E1E00;
              vertical-align: top;
              margin-top: 10px;
            }
          }
        }
        .can-bottom{
          width: 100%;
          overflow: hidden;
          p{
            font-family: "PingFang SC";
            font-size: 24px;
            color: #A9ABAF;
            margin-top: 10px;
            margin-bottom: 34px;
            span{
              font-family: "PingFang SC";
              font-size: 24px;
              color: #1E1E00;
              margin-top: 10px;
              margin-bottom: 34px;
            }
          }
        }
      }
    }
  }
  .cai{
    width: 100%;
    box-sizing: border-box;
    border-bottom: 18px solid #F8F8F8;
    .cao{
      width: 706px;
      height: 106px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      p{
        flex: 1;
        font-family: "PingFang SC";
        font-size: 26px;
        color: #A9ABAF;
      }
      span{
        font-family: "PingFang SC";
        font-size: 26px;
        color: #1E1E00;
        font-weight: 400;
      }
    }
    .cap-wrap{
      width: 706px;
      margin: 0 auto 44px;
      .cap{
        height: 100%;
        overflow: hidden;
        .cap-left{
          width: 222px;
          float: left;
          border: 2px solid #979797;
          box-sizing: border-box;
          border-radius: 12px;
          margin-right: 18px;
          position: relative;
          &:last-child {
            margin-right: 0;
          }
          .cap-left-top{
            width: 100%;
            height: 52px;
            box-sizing: border-box;
            .cap-left-top-left{
              width: 100%;
              height: 100%;
              float: left;
              background-color: #F39801;
              border-top-left-radius: 12px;
              border-top-right-radius: 12px;
              box-sizing: border-box;
              &.right-cap{
                background-color: #626264;
              }
              p{
                font-family: "PingFang SC";
                font-size: 24px;
                color: #ffffff;
                text-align: center;
                line-height: 44px;
                font-weight: 600;
              }
            }
            /*.cap-left-top-right{
              width: 138px;
              height: 100%;
              float: left;
              background-color: #979797;
              border-top-right-radius: 12px;
              box-sizing: border-box;
              position: absolute;
              right: 0px;
              p{
                font-family: "PingFang SC";
                font-size: 24px;
                color: #ffffff;
                text-align: center;
                line-height: 52px;
              }
            }*/
            .no-data{
              display: block;
              width: 100%;
              height: 100%;
              font-size: 24px;
              text-align: center;
              background: #666666;
              color: #FFFFFF;
              line-height: 52px;
            }
          }
          .cap-left-bottom{
            width: 100%;
            height: 112px;
            text-align: center;
            overflow: hidden;
            img{
              display: inline-block;
              width: 152px;
              margin-top: 29px;
            }
            p{
              font-size: 24px;
              font-family: "PingFang SC";
              color: #F39801;
              text-align: center;
              span{
                font-size: 36px;
                font-family: "PingFang SC";
                color: #F39801;
              }
            }
            h6{
              font-size: 24px;
              font-family: "PingFang SC";
              color: #48484A;
              text-align: center;
              line-height: 33px;
              word-wrap: break-word;
              word-break: break-all;
            }
          }
        }
      }
    }
  }
  .caj{
    width: 100%;
    // height: 366px;
    box-sizing: border-box;
    border-bottom: 18px solid #F8F8F8;
    .caq{
      width: 726px;
      height: 240px;
      margin: 0 auto;
      box-sizing: border-box;
      // border-bottom: 1px solid #F8F8F8;
      .caq-top{
        width: 100%;
        height: 106px;
        p{
          font-family: "PingFang SC";
          font-size: 26px;
          color: #48484A;
          text-align: left;
          line-height: 106px;
          padding-left: 6px;
          font-weight: 600;
        }
      }
      .caq-content{
        width: 100%;
        height: 146px;
        background: url("~@/assets/images/auction/bidding-process.svg") no-repeat center top;
        background-size: 706px 112px;
        /*.caq-content-one{
          width: 102px;
          height: 100%;
          float: left;
          background: url("~@/assets/images/auction/coin.png") no-repeat center top;
          background-size: 68px 68px;
          p{
            font-family: "PingFang SC";
            font-size: 24px;
            color: #48484A;
            float: left;
            margin-top: 80px;
          }
        }
        .caq-content-right{
          width: 14px;
          height: 30px;
          box-sizing: border-box;
          float: left;
          margin-left: 15px;
          margin-top: 23px;
          background: url("~@/assets/images/auction/right-xq.png") no-repeat right center;
          background-size: 100% 100%;
        }
        .caq-content-two{
          width: 102px;
          height: 100%;
          float: left;
          background: url("~@/assets/images/auction/plus-xq.png") no-repeat center top;
          background-size: 68px 68px;
          margin-left: 19px;
          p{
            font-family: "PingFang SC";
            font-size: 24px;
            color: #48484A;
            float: left;
            margin-top: 80px;
          }
        }
        .caq-content-three{
          width: 102px;
          height: 100%;
          float: left;
          background: url("~@/assets/images/auction/bank-card.png") no-repeat center top;
          background-size: 68px 68px;
          margin-left: 19px;
          p{
            font-family: "PingFang SC";
            font-size: 24px;
            color: #48484A;
            float: left;
            margin-top: 80px;
          }
        }
        .caq-content-four{
          width: 102px;
          height: 100%;
          float: left;
          background: url("~@/assets/images/auction/bidding-price-xq.png") no-repeat center top;
          background-size: 68px 68px;
          margin-left: 19px;
          p{
            font-family: "PingFang SC";
            font-size: 24px;
            color: #48484A;
            float: left;
            margin-top: 80px;
          }
        }
        .caq-content-fire{
          width: 102px;
          height: 100%;
          float: left;
          background: url("~@/assets/images/auction/plus-xq.png") no-repeat center top;
          background-size: 68px 68px;
          margin-left: 22px;
          p{
            font-family: "PingFang SC";
            font-size: 24px;
            color: #48484A;
            float: left;
            margin-top: 80px;
          }
        }*/
      }
    }
    .car{
      width: 706px;
      height: 108px;
      margin: 0 auto;
      box-sizing: border-box;
      border-top: 1px solid #F8F8F8;
      display: flex;
      align-items: center;
      p{
        flex: 1;
        font-family: "PingFang SC";
        font-size: 26px;
        color: #48484A;
        font-weight: bold;
      }
      span{
        font-family: "PingFang SC";
        font-size: 26px;
        color: #A9ABAF;
        font-weight: 400;
      }
    }
  }
  .cak{
    width: 100%;
    box-sizing: border-box;
    border-bottom: 18px solid #F8F8F8;
    .cas{
      width: 706px;
      height: 284px;
      margin: 0 auto;
      box-sizing: border-box;
      border-bottom: 2px solid #F8F8F8;
      .cas-top{
        width: 100%;
        height: 106px;
        p{
          font-family: "PingFang SC";
          font-size: 26px;
          color: #48484A;
          float: left;
          margin-top: 34px;
          font-weight: bold;
        }
      }
      .cas-bottom{
        width: 100%;
        height: 178px;
        display: flex;
        align-items: center;
        .cas-bottom-ws{
          width: 190px;
          height: 144px;
          background: url("~@/assets/images/auction/ws.png") no-repeat center center;
          background-size: 100% 100%;
        }
        .icon-location {
          margin-left: 12px;
          font-size: 28px;
        }
        p{
          flex: 1;
          margin-left: 4px;
          font-family: "PingFang SC";
          font-size: 24px;
          color: #48484A;
        }
      }
    }
    .cat{
      width: 706px;
      height: 108px;
      margin: 0 auto;
      box-sizing: border-box;
      border-bottom: 2px solid #f8f8f8;
      display: flex;
      align-items: center;
      p{
        flex: 1;
        font-family: "PingFang SC";
        font-size: 26px;
        color: #48484A;
        font-weight: bold;
      }
    }
    .cau{
      width: 706px;
      height: 108px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      p{
        flex: 1;
        font-family: "PingFang SC";
        font-size: 26px;
        color: #48484A;
        font-weight: bold;
      }
    }
  }
  .cal {
    width: 100%;
    background-color: white;
    padding-bottom: 230px;
    .cav {
      width: 706px;
      margin: 0 auto;
      .cav-top {
        height: 92px;
        line-height: 92px;
        width: 100%;
        p {
          font-family: "PingFang SC";
          font-size: 26px;
          color: #48484A;
          font-weight: bold;
        }
      }
      .cav-content {
        @{deep} * {
          max-width: 100% !important;
        }
      }
    }
  }
  .bidding-details-bottom{
    width: 100%;
    height: 228px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FCF6DF;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    box-shadow: 0 -1px 0.26667rem -1px #FCF6DF;
    .day{
      width: 726px;
      height: 88px;
      margin: 0 auto;
      margin-top: 14px;
      .day-one{
        width: 356px;
        height: 100%;
        float: left;
        border: 1px solid #5E6173;
        box-sizing: border-box;
        border-radius: 12px;
        background-color: #5E6173;
        .day-one-left{
          width: 85px;
          height: 100%;
          float: left;
          border-bottom-left-radius: 12px;
          border-top-left-radius: 12px;
          display: flex;
          align-items: center;
          justify-content: center;
          .icon-reduce {
            font-size: 20px;
          }
        }
        .day-one-center{
          width: 180px;
          height: 100%;
          line-height: 84px;
          float: left;
          background-color: #FFFFFF;
          font-family: PingFangSC-Medium, PingFang SC;
          font-size: 32px;
          font-weight: bold;
          color: #f39801;
          text-align: center;
          p{
            span{
              font-size: 26px;
            }
          }
          &.can-be-input {
            position: relative;
            .sign {
              font-size: 26px;
              position: absolute;
              top: 50%;
              left: 20px;
              transform: translateY(-50%);
            }
            input {
              box-sizing: border-box;
              width: 100%;
              padding: 0 20px 0 40px;
              border: 0;
              text-align: center;
            }
          }
        }
        .day-one-right{
          width: 85px;
          height: 100%;
          float: left;
          border-bottom-right-radius: 12px;
          border-top-right-radius: 12px;
          display: flex;
          align-items: center;
          justify-content: center;
          .icon-plus {
            font-size: 20px;
          }
        }
      }
      .day-two{
        width: 356px;
        height: 100%;
        float: right;
        border: 1px solid #5E6173;
        box-sizing: border-box;
        border-radius: 12px;
        font-family: "PingFang SC";
        font-size: 26px;
        color: #F39801;
        text-align: center;
        line-height: 88px;
        background-color: #5E6173;
        .day-two-left{
          width: 85px;
          height: 100%;
          float: left;
          border-bottom-left-radius: 12px;
          border-top-left-radius: 12px;
          display: flex;
          align-items: center;
          justify-content: center;
          .icon-reduce {
            font-size: 20px;
          }
        }
        .day-two-center{
          width: 180px;
          height: 100%;
          line-height: 84px;
          float: left;
          background-color: #FFFFFF;
          font-family: PingFangSC-Medium, PingFang SC;
          font-size: 32px;
          color: #434349;
          text-align: center;
          font-weight: bold;
          &.can-be-input {
            position: relative;
            .unit {
              font-size: 26px;
              position: absolute;
              top: 50%;
              right: 20px;
              transform: translateY(-50%);
            }
            input {
              box-sizing: border-box;
              width: 100%;
              padding: 0 50px 0 20px;
              border: 0;
              text-align: center;
            }
          }
        }
        .day-two-right{
          width: 85px;
          height: 100%;
          float: right;
          border-bottom-right-radius: 12px;
          border-top-right-radius: 12px;
          display: flex;
          align-items: center;
          justify-content: center;
          .icon-plus {
            font-size: 20px;
          }
        }
      }
    }
    .oncePrice{
      width: 726px;
      height: 88px;
      margin: 0 auto;
      margin-top: 14px;
      .priceInput{
        width: 100%;
        .priceInput-center{
          width: 87%;
          float: left;
          background-color: #FFFFFF;
          input{
            width: 98%;
            font-family: "PingFang SC";
            font-size: 32px;
            color: #434349;
            text-align: center;
            line-height: 88px;
            border-radius: 12px;
            border: none;
          }
        }
        .priceInput-right{
          width: 11%;
          margin-left:2%;
          float: left;
          line-height: 88px;
          font-size: 32px;
        }
      }
    }
  }
  .details-bottom{
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #F39801;
    p{
      font-family: "PingFang SC";
      color: #FFFFFF;
      font-size: 36px;
      text-align: center;
      line-height: 100px;
      font-weight: bold;
    }
    &.gray{
      background: #E8E9EB;
    }
  }
  .daz{
    width: 726px;
    height: 100px;
    margin: 0 auto;
    margin-top: 12px;
    background-color: #f39801;
    border-radius: 12px;
    &.gray{
      background: #E8E9EB;
    }
    p{
      text-align: center;
      line-height: 100px;
      font-family: "PingFang SC";
      font-size: 36px;
      color: #ffffff;
      font-weight: bold;
    }
  }
  .zab{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.2);
    z-index: 99999;
    .vac{
      width: 606px;
      height: 676px;
      position: absolute;
      top: 458px;
      left:72px;
      .bg-img("~@/assets/images/index-2/reminder-bg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% 100%;
      margin-top: -125px;
      border-radius: 24px;
      span{
        width: 266px;
        height: 86px;
        background-color: #F39801;
        display: inline-block;
        margin-top: 20px;
        float: left;
        margin-left: 28px;
        font-family: "PingFang SC";
        font-size: 36px;
        color: #ffffff;
        text-align: center;
        line-height: 86px;
        border-radius: 12px;
      }
      h4{
        width: 266px;
        height: 86px;
        background-color: #A9ABAF;
        display: inline-block;
        margin-top: 20px;
        float: right;
        margin-right: 28px;
        font-family: "PingFang SC";
        font-size: 36px;
        color: #ffffff;
        text-align: center;
        line-height: 86px;
        border-radius: 12px;
      }
      .poa{
        width: 100%;
        height: 126px;
        h5{
          font-family: "PingFang SC";
          font-size: 32px;
          color: #ffffff;
          text-align: center;
          line-height: 100px;
          font-weight: bold;
        }
      }
      .pab{
        width: 544px;
        height: 183px;
        margin: 0 auto;
        border-bottom: 2px solid #E4E5E6;
        box-sizing: border-box;
        h6{
          font-family: "PingFang SC";
          font-size: 24px;
          color: #48484A;
          float: left;
          margin-top: 18px;
        }
        .pac{
          width: 312px;
          height: 44px;
          float: right;
          margin-top: 18px;
          margin-right: 101px;
          .pac-one{
            width: 32px;
            height: 32px;
            border-radius: 28px;
            float: left;
            margin-top: 6px;
            background: url("~@/assets/images/auction/tick-black.png") no-repeat center center;
            background-size: 100% 100%;
          }
          p{
            font-size: 32px;
            color: #A9ABAF;
            font-family: "PingFang SC";
            line-height: 44px;
            text-align: center;
            padding-left: 5px;
          }
        }
        .pad{
          .pac-one{
            background: url("~@/assets/images/auction/tick-@1x.png") no-repeat center center;
            background-size: 100% 100%;
          }
        }
      }
      .pae {
        width: 560px;
        height: 200px;
        margin: 0 auto;
        margin-top: 23px;
        p {
          font-family: "PingFang SC";
          font-size: 24px;
          color: #A9ABAF;
          line-height: 55px;
        }
        .paf {
          width: 100%;
          height: 66px;
          .icon {
            float: left;
            margin-top: 17px;
            margin-right: 12px;
            font-size: 40px;
          }
          p {
            font-size: 24px;
            font-family: "PingFang SC";
            color: #48484A;
          }
        }
      }
    }
  }
  .lad{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.2);
    z-index: 99999;
    .laf{
      width: 606px;
      // height: 676px;
      position: absolute;
      top: 458px;
      left:72px;
      .bg-img("~@/assets/images/index-2/reminder-bg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% 100%;
      margin-top: -125px;
      border-radius: 24px;
      .lal{
        width: 100%;
        height: 126px;
        float: left;
        p{
          font-family: "PingFang SC";
          font-size: 32px;
          color: #FFFFFF;
          text-align: center;
          line-height: 110px;
        }
      }
      .lam{
        width: 100%;
        // height: 550px;
        text-align: center;
        h6{
          font-family: "PingFang SC";
          font-size: 24px;
          color: #A9ABAF;
          margin-top: 52px;
        }
        h3{
          font-family: "PingFang SC";
          font-size: 36px;
          color: #48484A;
          font-weight: bold;
          margin-top: 60px;
        }
        p{
          font-family: "PingFang SC";
          font-size: 32px;
          color: #48484A;
          margin-top: 36px;
        }
        h4{
          font-size: 32px;
          font-family: "PingFang SC";
          color: #E51C23;
          margin-top: 16px;
          span{
            font-family: "PingFang SC";
            font-size: 52px;
            color: #E51C23;
          }
        }
        h5{
          font-size: 32px;
          font-family: "PingFang SC";
          color: #48484A;
          margin-top: 20px;
        }
        .lan{
          width: 266px;
          height: 86px;
          float: left;
          background-color: #F39801;
          margin: 60px 0 60px 28px;
          border-radius: 12px;
          font-family: "PingFang SC";
          font-size: 36px;
          color: #FFFFFF;
          text-align: center;
          line-height: 86px;
        }
        .lao{
          width: 266px;
          height: 86px;
          float: left;
          background-color: #A9ABAF;
          margin: 60px 0 60px 28px;
          border-radius: 12px;
          font-family: "PingFang SC";
          font-size: 36px;
          color: #FFFFFF;
          text-align: center;
          line-height: 86px;
        }
      }
    }
  }

  .lah{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.2);
    z-index: 99999;
    .laj{
      width: 606px;
      height: 676px;
      position: absolute;
      top: 458px;
      left:72px;
      .bg-img("~@/assets/images/index-2/reminder-bg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% 100%;
      margin-top: -125px;
      border-radius: 24px;
      .lap{
        width: 100%;
        height: 126px;
        float: left;
        p{
          font-family: "PingFang SC";
          font-size: 32px;
          color: #FFFFFF;
          text-align: center;
          line-height: 110px;
        }
      }
      .laq{
        width: 100%;
        height: 550px;
        text-align: center;
        .laq-one{
          display: inline-block;
          width: 108px;
          height: 108px;
          border-radius: 90px;
          .bg-img("~@/assets/images/index-2/reminder-success");
          background-repeat: no-repeat;
          background-position: center;
          background-size: 100% 100%;
          margin-top: 106px;
        }
        h3{
          font-family: "PingFang SC";
          font-size: 36px;
          color: #48484A;
          margin-top: 16px;
          font-weight: bold;
        }
        p{
          font-family: "PingFang SC";
          font-size: 24px;
          color: #A9ABAF;
          margin-top: 16px;
        }
        span{
          display: inline-block;
          width: 272px;
          height: 86px;
          background-color: #F39801;
          border-radius: 12px;
          font-size: 36px;
          font-family: "PingFang SC";
          color: #FFFFFF;
          line-height: 86px;
          text-align: center;
          margin-top: 62px;
        }
      }
    }
  }
  .bidSuccess-wrap{
    .reminder{
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      background: rgba(0,0,0,0.2);
      z-index: 99999;
      .jak{
        width: 606px;
        position: absolute;
        top: 458px;
        left: 72px;
        .bg-img("~@/assets/images/index-2/reminder-bg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        margin-top: -125px;
        border-radius: 24px;
        .jal{
          width: 100%;
          height: 126px;
          box-sizing: border-box;
          p{
            font-family: "PingFang SC";
            font-size: 32px;
            color: #ffffff;
            text-align: center;
            line-height: 110px;
          }
        }
        .jam{
          width: 500px;
          min-height: 300px;
          margin: 0 auto;
          p{
            font-family: "PingFang SC";
            font-size: 28px;
            color: #48484A;
            margin-top: 14px;
          }
          h2{
            font-family: "PingFang SC";
            font-size: 40px;
            color: #F39801;
            margin-top: 10px;
          }
          .jao{
            width: 100%;
            margin-top: 32px;
            .jao-phone{
              width: 24px;
              height: 24px;
              float: left;
              background: url("~@/assets/images/auction/telephone.png") no-repeat center center;
              background-size: 100% 100%;
              margin-top: 10px;
            }
            p{
              font-family: "PingFang SC";
              font-size: 28px;
              color: #48484A;
              &.phone {
                font-size: 40px;
                text-align: center;
                margin-top: 4px;
              }
            }
          }
        }
        .btn {
          width: 100%;
          height: 160px;
          line-height: 160px;
          text-align: center;
          span{
            display: inline-block;
            width: 272px;
            height: 86px;
            background-color: #F39801;
            border-radius: 12px;
            font-size: 36px;
            font-family: "PingFang SC";
            color: #FFFFFF;
            line-height: 86px;
            text-align: center;
          }
        }
      }
    }
    .registration{
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      background: rgba(0,0,0,0.2);
      z-index: 99999;
      .vaf{
        width: 606px;
        height: 676px;
        position: absolute;
        top: 458px;
        left:72px;
        .bg-img("~@/assets/images/index-2/reminder-bg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        margin-top: -125px;
        border-radius: 24px;
        .vah{
          width: 100%;
          height: 126px;
          float: left;
          p{
            font-family: "PingFang SC";
            font-size: 32px;
            color: #FFFFFF;
            text-align: center;
            line-height: 110px;
          }
        }
        .vai{
          width: 100%;
          height: 500px;
          float: left;
          .vai-one{
            width: 108px;
            height: 108px;
            float: left;
            .bg-img("~@/assets/images/index-2/reminder-success");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% 100%;
            border-radius: 90px;
            margin-left: 250px;
            margin-right: 248px;
            margin-top: 24px;
          }
          h5{
            font-family: "PingFang SC";
            font-size: 36px;
            color: #48484A;
            float: left;
            font-weight: bold;
            margin-top: 16px;
            width: 100%;
            text-align: center;
          }
          p{
            font-family: "PingFang SC";
            font-size: 24px;
            color: #A9ABAF;
            float: left;
            width: 100%;
            text-align: center;
            margin-top: 32px;
          }
          h4{
            font-family: "PingFang SC";
            font-size: 52px;
            color: #48484A;
            float: left;
            width: 100%;
            text-align: center;
            margin-top: 6px;
          }
          h6{
            font-family: "PingFang SC";
            font-size: 24px;
            color: #48484A;
            float: left;width: 100%;
            text-align: center;
            margin-top: 6px;
          }
          span{
            width: 272px;
            height: 86px;
            background-color: #F39801;
            display: inline-block;
            margin-top: 38px;
            float: left;
            margin-left: 168px;
            font-family: "PingFang SC";
            font-size: 36px;
            color: #ffffff;
            text-align: center;
            line-height: 86px;
            border-radius: 12px;
          }
        }
      }
      .vafs{
        width: 606px;
        height: 376px;
        position: absolute;
        top: 458px;
        left:72px;
        .bg-img("~@/assets/images/index-2/reminder-bg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        margin-top: -105px;
        border-radius: 24px;
        .vah{
          width: 100%;
          height: 126px;
          float: left;
          p{
            font-family: "PingFang SC";
            font-size: 32px;
            color: #FFFFFF;
            text-align: center;
            line-height: 80px;
          }
        }
        .vais{
          width: 100%;
          margin-top:200px;
          span{
            width: 200px;
            height: 86px;
            padding: 30px 50px;
            background-color: #F39801;
            // display: inline-block;
            margin-top: 338px;
            // float: left;
            margin-left: 100px;
            font-family: "PingFang SC";
            font-size: 36px;
            color: #ffffff;
            text-align: center;
            line-height: 86px;
            border-radius: 12px;
          }
          .span1{
            background-color: #cccccc;
          }
        }
      }
    }
  }
  .begin-video-box {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 0 30px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 24px;
    color: #3985ff;
    background: rgba(255, 255, 255, 0.8);
    z-index: 10;
    &.van-bottom {
      bottom: 20px;
    }
    &:before {
      background: url("~@/assets/images/video/play.png") no-repeat 0;
      background-size: 30px 30px;
      content: "";
      position: relative;
      display: inline-block;
      vertical-align: middle;
      margin-top: -2px;
      margin-right: 5px;
      width: 31px;
      height: 31px;
    }
    &:after {
      border-radius: 50px;
      border-color: #3b8afb;
    }
    &:hover {
      background: rgba(255, 255, 255, 0.8);
    }
  }

  .van-icon-arrow {
    font-size: 32px;
    color: #A9ABAF;
  }

  @{deep}.van-dialog {
    &.bidding-rules {
      top: 50%;
      width: 95%;
      border-radius: 20px;
      .van-dialog__content {
        height: 1000px;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
      }
      .van-dialog__confirm {
        color: #fff;
        background: linear-gradient(
          90deg,
          rgba(255, 107, 82, 1) 0%,
          rgba(227, 50, 64, 1) 100%
        );
      }
      &.disabled {
        .van-dialog__confirm {
          opacity: .5;
        }
      }
    }

    &.customer-choose {
      .van-dialog__content {
        padding: 48px 40px;
      }
    }
  }

  @{deep} .van-radio {
    font-size: 40px;
    .van-radio__icon {
      font-size: 40px;
      .van-icon {
        color: rgba(0, 0, 0, 0);
        width: 32px;
        height: 32px;
        position: relative;
        border: 0;
        background-color: transparent;
        &::before,
        &::after {
          content: " ";
          display: block;
          width: 32px;
          height: 32px;
          box-sizing: border-box;
          border-radius: 50%;
          position: absolute;
          left: 0;
          top: 4px;
          transition: all 0.2s;
        }
        &::before {
          border: 10px solid #F59900;
          opacity: 0;
        }
        &::after {
          border: 1px solid #c1c4ca;
          opacity: 1;
        }
      }
      &.van-radio__icon--checked {
        .van-icon-success {
          &::before {
            opacity: 1;
          }
          &::after {
            opacity: 0;
          }
        }
      }
      .van-icon-success {
        &::after {
          opacity: 1;
        }
        &::before {
          opacity: 0;
        }
      }
    }
  }
}
</style>
