<template>
  <div class="bidding-rules">
    <van-nav-bar title="竞价规则" left-arrow fixed @click-left="_toReturn"></van-nav-bar>

    <bidding-rules-article :bidType="bidType" :isNeedMargin="isNeedMargin"></bidding-rules-article>
  </div>
</template>

<script>
import BiddingRulesArticle from '@/components/bidding/bidding-rules-article'

export default {
  name: 'bidding-rules',
  components: {
    BiddingRulesArticle
  },
  data () {
    return {
      bidType: '', // 竞价类型
      isNeedMargin: true // 竞价是否需要保证金
    }
  },
  created () {
    if (this.$route.query.bidType) {
      this.bidType = this.$route.query.bidType
    }
    if (typeof this.$route.query.isNeedMargin === 'boolean') {
      this.isNeedMargin = this.$route.query.isNeedMargin
    }
  },
  methods: {
    _toReturn () {
      this.$router.go(-1)
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.bidding-rules {
  padding-top: 92px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  @{deep}.bidding-rules-article {
    >div {
      .content {
        p {
          margin-top: 10px;
        }
      }
    }
  }
}
</style>
