<template>
  <div class="bidding-record-details">
    <div class="quotation-top-title">
      <van-nav-bar title="竞价明细" left-arrow @click-left="_toReturn"></van-nav-bar>
    </div>

    <!-- 项目信息 -->
    <!-- 生猪 -->
    <div class="bidding-project" ref="biddingProjectDiv" v-if="bidType === 1">
      <div class="bidding-project-item">
        <span class="title">竞价编码：</span>
        <span class="content">{{bidObj.number}}</span>
      </div>
      <div class="bidding-project-item">
        <span class="title">竞价时间：</span>
        <span class="content">{{bidObj.createTime}}</span>
      </div>
      <div class="bidding-project-item">
        <span class="title">竞价商品：</span>
        <span class="content">{{bidObj.name}}</span>
      </div>
      <div class="bidding-project-item">
        <span class="title">{{bidObj.biddingMode !== '0' && bidObj.bidType === '1' ? '起拍价：' : '今日指导价：'}}</span>
        <span class="content" v-if="bidObj.lowPrice">&yen;{{bidObj.lowPrice | keepTwoNum}}元/{{bidObj.bidType !== '1' ? bidObj.assistUnitName : bidObj.saleUnitName}}</span>
        <span class="content" v-else>敬请期待</span>
      </div>
      <div class="bidding-project-item" v-show="bidObj.biddingMode !== '0'">
        <span class="title">加价幅度：</span>
        <span class="content">&yen;{{bidObj.addPrice | keepTwoNum}}元/{{bidObj.bidType !== '1' ? bidObj.assistUnitName : bidObj.saleUnitName}}</span>
      </div>
      <div class="bidding-project-item">
        <span class="title">竞价总数：</span>
        <span class="content">{{bidObj.totalQty}}{{bidObj.assistUnitName}}</span>
      </div>
      <div class="bidding-project-item">
        <span class="title">当前状态：</span>
        <span class="content" v-if="bidObj.bidStatus === 'A'">未开始</span>
        <span class="content" v-else-if="bidObj.bidStatus === 'B'">竞价中</span>
        <span class="content" v-else-if="bidObj.bidStatus === 'C'">评标中</span>
        <span class="content" v-else-if="bidObj.bidStatus === 'D'">已定标</span>
        <span class="content" v-else-if="bidObj.bidStatus === 'E'">已发货</span>
        <span class="content" v-else-if="bidObj.bidStatus === 'F'">流标</span>
      </div>
    </div>
    <!-- 老鸡、鸡苗 -->
    <div class="bid-project" ref="biddingProjectDiv" v-else>
      <p class="bid-project-title">{{bidObj.projectName}}</p>
      <div class="bid-project-item bid-project-number-item">
        <div class="bid-item-left">
          <p class="title">竞价编码：</p>
          <p class="content">{{bidObj.projectNumber}}</p>
        </div>
        <div class="bid-item-right" v-if="bidObj.bidType === '3'">
          <p class="title">出苗日期：</p>
          <p class="content">{{bidObj.shippingDate}}</p>
        </div>
      </div>
      <div class="bid-project-item">
        <div class="bid-item-left">
          <p class="title">竞价数：</p>
          <p class="content">{{bidObj.totalBidNum}}</p>
        </div>
        <div class="bid-item-right">
          <p class="title">中标数：</p>
          <p class="content">{{bidObj.winNum}}</p>
        </div>
      </div>
      <div class="bid-project-item">
        <div class="bid-item-left">
          <p class="title">开始时间：</p>
          <p class="content">{{bidObj.startTime}}</p>
        </div>
        <div class="bid-item-right">
          <p class="title">结束时间：</p>
          <p class="content">{{bidObj.endTime}}</p>
        </div>
      </div>
      <div class="bid-project-item">
        <div class="bid-item-left">
          <p class="title">当前状态：</p>
          <p class="content" v-if="bidObj.billStatus === 'A'">未开始</p>
          <p class="content" v-else-if="bidObj.billStatus === 'B'">竞价中</p>
          <p class="content" v-else-if="bidObj.billStatus === 'C'">评标中</p>
          <p class="content" v-else-if="bidObj.billStatus === 'D'">已定标</p>
        </div>
        <div class="bid-item-right">
          <p class="title">总额：</p>
          <p class="content">{{bidObj.winTotalPrice}}</p>
        </div>
      </div>
    </div>

    <!-- 明细表格 -->
    <!-- 生猪 -->
    <div class="quotation-content" v-if="bidType === 1">
      <div class="quotation-top" :class="{'fixed': getScrollTop1 > 0}">
        <div class="quotation-top-content">
          <div class="quotation-top-content-item">时间</div>
          <div class="quotation-top-content-item">
            <p>{{bidObj.biddingMode !== '0' ? '竞价价格' : '加价'}}</p>
          </div>
          <div class="quotation-top-content-item">竞价数</div>
          <div class="quotation-top-content-item">中标数</div>
          <div class="quotation-top-content-item">排名状态</div>
          <div class="quotation-top-content-item">弃标状态</div>
        </div>
      </div>
      <div class="daq" v-for="(item, index) in recordList.list" :key="index">
        <div class="daq-one">
          <p>{{index + 1}}. {{item.bidTime}}</p>
        </div>
        <div class="daq-two">&yen;{{(item.biddingMode !== '0' ? item.bidPrice : item.markup) | keepTwoNum}}</div>
        <div class="daq-three">{{item.bidQty}}</div>
        <div class="daq-three">{{item.winBigQty}}</div>
        <div class="daq-four">{{item.bidStatus === 'A' ? '领先' : item.bidStatus === 'B' ? '排队中' : item.bidStatus === 'C' ? '出局' : ''}}</div>
        <div class="daq-four">{{item.abandoned === '0' ? '未弃标' : item.abandoned === '1' ? '已弃标' : ''}}</div>
      </div>
      <div class="no-list" v-if="recordList.count === 0">
        <img src="@/assets/images/auction/no-list.png">
      </div>
    </div>
    <!-- 老鸡、鸡苗 -->
    <div class="quotation-table" v-else>
      <p class="quotation-table-time">{{bidObj.orderTime}}</p>
      <div class="quotation-table-content">
        <div class="table-head" :class="{'fixed': getScrollTop1 > 0}">
          <div><span>商品</span></div>
          <div><span>竞价价格/数量</span></div>
          <div><span>中标数/状态</span></div>
          <div><span>价格</span></div>
          <div><span>联系人</span></div>
          <div><span>提货地址</span></div>
        </div>
        <div class="table-main" v-for="(item, index) in bidObj.itemOfferList" :key="index">
          <div><p>{{item.itemName}}</p></div>
          <div>
            <p>{{item.bidPrice}}元/{{bidObj.bidType === '3' ? '只' : '斤'}}</p>
            <p>{{item.bidNum}}只</p>
          </div>
          <div>
            <p>{{item.bidWinNum}}</p>
            <p :class="{colorOrange: item.bidStatus === '1'}">{{item.bidStatus === '0' ? '未中标' : '已中标'}}</p>
          </div>
          <div>{{item.guidePrice}}元</div>
          <div>
            <p>{{item.addressMan}}</p>
            <p>{{item.addressPhone}}</p>
          </div>
          <div>{{item.address}}</div>
        </div>
      </div>
    </div>

    <!-- 悬浮置顶按钮 -->
    <scroll-to-top-hover-btn :displayDistance="44"></scroll-to-top-hover-btn>
  </div>
</template>

<script>
import ScrollToTopHoverBtn from '@/components/scroll-to-top-hover-btn/index'
import { api } from '@/api'
import { getScrollTop } from '@/utils/common'

export default {
  name: 'bidding-record-details',
  components: {
    ScrollToTopHoverBtn
  },
  data () {
    return {
      bidObj: {},
      recordList: {},
      getScrollTop1: 0, // 距离顶部高度
      bidType: 1
    }
  },
  created () {
    window.addEventListener('scroll', this.handleScroll)
    this.bidType = +this.$route.query.bidType
    if (this.bidType === 1) {
      this._getList()
      this.bidObj = JSON.parse(this.$route.query.bidObj)
    } else {
      this._getChickenList()
    }
  },
  methods: {
    _getList () {
      let params = {
        id: this.$route.query.id,
        ownerId: this.$route.query.ownerId
      }
      api.commonCall(params, 'getBidProjectDetails').then(res => {
        if (res.success) {
          this.recordList = res.data
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    _toReturn () {
      this.$router.go(-1)
    },
    // 监听滚动事件
    handleScroll () {
      this.getScrollTop1 = getScrollTop() - 44 - this.$refs.biddingProjectDiv.clientHeight
    },
    _getChickenList () {
      let params = {
        id: this.$route.query.id
      }
      api.commonCall(params, 'queryBiddingRecordDetail').then(res => {
        if (res.success) {
          this.bidObj = res.data
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    }
  },
  destroyed () {
    window.removeEventListener('scroll', this.handleScroll)
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.bidding-record-details {
  min-height: 100vh;
  background-color: #F8F8F8;
  .bidding-project {
    width: 100%;
    background: white;
    box-sizing: border-box;
    padding: 0 20px;
    font-size: 0;
    margin-bottom: 20px;
    overflow: hidden;
    .bidding-project-item {
      float: left;
      width: 710px;
      height: 50px;
      line-height: 50px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      &:nth-child(4), &:nth-child(5), &:nth-child(6), &:nth-child(7) {
        width: 355px;
      }
      span {
        &.title {
          display: inline-block;
          width: 130px;
          font-family: "PingFang SC";
          font-size: 26px;
          color: #333333;
          font-weight: bold;
        }
        &.content {
          font-family: "PingFang SC";
          font-size: 26px;
          color: #333333;
        }
      }
    }
  }
  .quotation-content{
    width: 100%;
    background-color: #ffffff;
    .quotation-top {
      width: 100%;
      height: 88px;
      background-color: #ffffff;
      border-bottom: 2px solid #f8f8f8;
      box-sizing: border-box;
      &.fixed {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
      }
      .quotation-top-content{
        width: 726px;
        height: 88px;
        margin: 0 auto;
        .quotation-top-content-item {
          height: 100%;
          float: left;
          font-family: "PingFang SC";
          font-size: 24px;
          color: #48484A;
          text-align: center;
          line-height: 88px;
          font-weight: bold;
          &:nth-of-type(1) {
            width: 25%;
          }
          &:nth-of-type(2) {
            width: 17%;
          }
          &:nth-of-type(3), &:nth-of-type(4) {
            width: 13%;
          }
          &:nth-of-type(5), &:nth-of-type(6) {
            width: 16%;
          }
        }
      }
    }
    .daq{
      width: 726px;
      height: 109px;
      margin: 0 auto;
      border-bottom: 2px solid #f8f8f8;
      box-sizing: border-box;
      background-color: #ffffff;
      .daq-one{
        width: 25%;
        height: 100%;
        float: left;
        p{
          width: 100%;
          font-family: "PingFang SC";
          font-size: 24px;
          color: #48484A;
          text-align: center;
          position: relative;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      .daq-two{
        width: 17%;
        height: 100%;
        float: left;
        font-family: "PingFang SC";
        font-size: 24px;
        color: #48484A;
        text-align: center;
        line-height: 109px;
      }
      .daq-three{
        width: 13%;
        height: 100%;
        float: left;
        font-family: "PingFang SC";
        font-size: 24px;
        color: #48484A;
        text-align: center;
        line-height: 109px;
      }
      .daq-four{
        width: 16%;
        height: 100%;
        float: left;
        font-family: "PingFang SC";
        font-size: 24px;
        color: #48484A;
        text-align: center;
        line-height: 109px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .no-list{
      width: 100%;
      background: #FFFFFF;
      text-align: center;
      img{
        display: inline-block;
        width: 80%;
      }
    }
  }
  .bid-project {
    padding: 26px 0 24px 0;
    background: #ffffff;
    .bid-project-title {
      height: 50px;
      font-size: 36px;
      font-family: 'PingFangSC-Medium', 'PingFang SC';
      font-weight: 500;
      color: #3C3C3E;
      line-height: 50px;
      margin: 0 0 18px 42px;
    }
    .bid-project-item {
      height: 76px;
      padding: 12px 30px 10px 42px;
      font-family: 'PingFangSC-Regular', 'PingFang SC';
      border-bottom: 1px solid #D8D8D8;
      .bid-item-left,
      .bid-item-right {
        width: 304px;
        min-height: 98px;
        float: left;
        .title {
          height: 34px;
          font-size: 24px;
          font-weight: 400;
          color: #999999;
          line-height: 34px;
        }
        .content {
          height: 40px;
          font-size: 28px;
          font-weight: 400;
          color: #333333;
          line-height: 40px;
        }
      }
      .bid-item-right {
        float: right;
      }
      &.bid-project-number-item {
        height: 106px;
        word-break: break-all;
      }
    }
  }
  .quotation-table {
    background: #ffffff;
    margin-top: 28px;
    .quotation-table-time {
      width: 100%;
      height: 56px;
      font-size: 28px;
      font-family: 'PingFangSC-Regular', 'PingFang SC';
      font-weight: 400;
      color: #6A6A6A;
      line-height: 56px;
      text-align: center;
    }
    .quotation-table-content {
      width: 100%;
      overflow-y: auto;
      .table-head {
        width: 200%;
        display: flex;
        background-color: #ffffff;
        border-top: 1px solid #D8D8D8;
        border-bottom: 1px solid #D8D8D8;
        &.fixed {
          position: fixed;
          top: 0;
          left: 0;
          z-index: 1;
        }
        >div {
          &:not(:last-child) {
            border-right: 1px solid #D8D8D8;
          }
          span {
            line-height: 60px;
          }
          &:nth-child(1) {
            flex: 6;
            text-align: left;
            span {
              padding-left: 40px;
            }
          }
          &:nth-child(2) {
            flex: 5;
            text-align: right;
            span {
              padding-right: 30px;
            }
          }
          &:nth-child(3) {
            flex: 5;
            text-align: right;
            span {
              padding-right: 54px;
            }
          }
          &:nth-child(4) {
            flex: 4;
            text-align: right;
            span {
              padding-right: 54px;
            }
          }
          &:nth-child(5) {
            flex: 6;
            text-align: right;
            span {
              padding-right: 54px;
            }
          }
          &:nth-child(6) {
            flex: 7;
            text-align: right;
            span {
              padding-right: 54px;
            }
          }
        }
      }
      .table-main {
        width: 200%;
        display: flex;
        &:not(:last-child) {
          border-bottom: 1px solid #D8D8D8;
        }
        >div {
          &:not(:last-child) {
            border-right: 1px solid #D8D8D8;
          }
          p {
            line-height: 48px;
          }
          &:nth-child(1) {
            flex: 6;
            text-align: left;
            p {
              padding-left: 40px;
            }
          }
          &:nth-child(2) {
            flex: 5;
            text-align: right;
            p {
              padding-right: 30px;
            }
          }
          &:nth-child(3) {
            flex: 5;
            text-align: right;
            p {
              padding-right: 54px;
              &.colorOrange {
                color: #F59900;
              }
            }
          }
          &:nth-child(4) {
            flex: 4;
            text-align: right;
            p {
              padding-right: 54px;
              &.colorOrange {
                color: #F59900;
              }
            }
          }
          &:nth-child(5) {
            flex: 6;
            text-align: right;
            word-wrap: break-word;
            word-break: break-all;
            overflow: hidden;
            p {
              padding-right: 20px;
              &.colorOrange {
                color: #F59900;
              }
            }
          }
          &:nth-child(6) {
            flex: 7;
            text-align: right;
            p {
              padding-right: 54px;
              &.colorOrange {
                color: #F59900;
              }
            }
          }
        }
      }
    }
  }

  @{deep} .scroll-to-top-hover-btn-wrapper {
    .content {
      background-color: rgba(255, 255, 255, 0.85);
    }
  }
}
</style>
