<template>
  <div class="bidding-notice-wrapper">
    <van-nav-bar title="竞价" left-arrow @click-left="_toReturn">
      <div slot="right" class="screen" :class="{'already': isScreening}" @click.stop="showAttributeFiltering = true">
        <div class="screen-icon"></div>
        <span>{{isScreening ? '已筛选' : '筛选'}}</span>
      </div>
    </van-nav-bar>

    <div class="notice-content">
      <div class="notice-content-top">
        <div class="bidding-notice">
          <span>竞价预告</span>
        </div>
        <div class="notice-mad-job">
          <span @click="_toPanicBuy">正在疯抢</span>
        </div>
        <!-- <div class="history">
          <span @click="_toHistory">竞价历史</span>
        </div> -->
        <div class="bidding-win-notice">
          <span @click="_toAffiche">中标公告</span>
        </div>
      </div>
      <van-tabs v-model="active" :swipe-threshold="5" sticky swipeable class="head-tabs" @change="_changeTab">
        <van-tab v-for="(item, index) in myBiddingCatList" :key="index" :title="item.name">
          <div class="notice-content-bar">
            <ul class="list">
              <li class="item" :class="{active: dateSort !== null && priceSort === null}" @click="_time">
                时间
                <div class="icon-group">
                  <i class="up" :class="{'current': dateSort === '1' && priceSort === null}"></i>
                  <i class="down" :class="{'current': dateSort === '0' && priceSort === null}"></i>
                </div>
              </li>
              <li class="item" :class="{active: priceSort !== null && dateSort === null}" @click="_price">
                价格
                <div class="icon-group">
                  <i class="up" :class="{'current': priceSort === '1' && dateSort === null}"></i>
                  <i class="down" :class="{'current': priceSort === '0' && dateSort === null}"></i>
                </div>
              </li>
            </ul>
          </div>

          <div class="notice-content-bottom">
            <van-pull-refresh v-model="isLoading" @refresh="onRefresh" v-if="forecastList && forecastList.length">
              <van-list v-model="loading" :finished="finished" @load="onLoad" :offset="200" finished-text="没有更多了">
                <div class="cab" v-for="(item, index) in forecastList" :key="index" @click="_toDetail(item.id)">
                  <div class="cab-picture">
                    <div class="one-price" v-if="item.biddingMode === '0'"></div>
                    <img v-lazy="allImgDomainName + item.itemThumbnail" alt :key="item.itemThumbnail">
                  </div>
                  <div class="cab-content">
                    <div v-if="active === 0">
                      <h5>{{item.itemName}}</h5>
                      <p>发布方：{{item.publishingOrgName}}</p>
                      <p>{{item.biddingMode !== '0' ? '起拍价：' : '指导价：'}}
                        <span v-if="item.lowerPrice">&yen;{{item.lowerPrice | keepTwoNum}}元/{{item.bidType === '3' ? item.assistUnitName : item.saleUnitName}}</span>
                        <span v-else>敬请期待</span>
                      </p>
                      <p>竞价日期：{{item.biddingBeginDate}}</p>
                      <p>竞价数量：{{item.upperLimit}}{{item.assistUnitName}}</p>
                      <div class="cab-sign" @click.stop="_signUp(item)" v-if="item.applyStatus === 0">
                        <p>报名</p>
                      </div>
                      <div class="cab-sign gray" @click.stop v-else>
                        <p>已报名</p>
                      </div>
                    </div>
                    <div v-else>
                      <h5>{{item.wens_name}}</h5>
                      <p>发布公司：{{item.org}}</p>
                      <p v-if="item.bidType === '3'">出苗日期：{{item.wens_emergedate}}</p>
                      <p>开始时间：{{item.wens_biddingbegindate}}</p>
                      <p>结束时间：{{item.wens_biddingenddate}}</p>
                      <div class="snatch" @click="_toDetail(item.id)">
                        <p>马上抢</p>
                      </div>
                    </div>
                  </div>
                </div>
              </van-list>
            </van-pull-refresh>
            <div class="no-data-box" v-else>
              <no-data :loading="requestLoading"></no-data>
            </div>
          </div>
        </van-tab>
      </van-tabs>

      <!-- 弹出框 -->
      <div class="bidSuccess-wrap">
        <!--竞价报名弹出框-->
        <div class="reminder" v-if="failShow">
          <div class="jak">
            <div class="jal">
              <p>温馨提示</p>
            </div>
            <div class="jam">
              <p>尊敬的客户<span v-if="curUserPhone">（{{curUserPhone}}）</span>：</p>
              <h2 v-if="curUserPhone">&nbsp;&nbsp;&nbsp;&nbsp;您还没有缴纳保证金。</h2>
              <h2 v-else>&nbsp;&nbsp;&nbsp;&nbsp;{{failText}}</h2>
              <p v-if="curUserPhone">请及时联系我们的客服人员线下缴纳保证金后才能参与我们的竞价。</p>
              <div class="jao" v-if="cusPhone">
                <div class="jao-phone"></div>
                <p>客服电话：</p>
                <p class="phone">{{cusPhone}}</p>
              </div>
            </div>
            <div class="btn">
              <span @click="_failBtn">确定</span>
            </div>
          </div>
        </div>
        <!--报名成功弹出框-->
        <div class="registration" v-if="successShow">
          <div class="vaf">
            <div class="vah">
              <p>温馨提示</p>
            </div>
            <div class="vai">
              <div class="vai-one"></div>
              <h5>报名成功</h5>
              <p>您本场竞价的编码为：</p>
              <h4>{{enlistObj.number}}</h4>
              <h6>竞价时间：{{goodsTime}}</h6>
              <span @click="_successBtn">确定</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 筛选框 -->
    <attribute-filtering
      :show="showAttributeFiltering"
      :data="attributeFilteringList"
      @selected="selected"
    ></attribute-filtering>

    <!-- 悬浮置顶按钮 -->
    <scroll-to-top-hover-btn></scroll-to-top-hover-btn>
  </div>
</template>

<script>
import NoData from '@/components/no-data'
import ScrollToTopHoverBtn from '@/components/scroll-to-top-hover-btn/index'
import AttributeFiltering from '@/components/attribute-filtering'
import { api } from '@/api'
import { allImgDomainNameMixin } from '@/assets/js/mixin'
import { _debounce } from '@/utils/common'

export default {
  name: 'bidding-notice',
  mixins: [allImgDomainNameMixin],
  components: {
    NoData,
    ScrollToTopHoverBtn,
    AttributeFiltering
  },
  data () {
    return {
      myBiddingCatList: [ // 竞价分类
        {
          name: '生猪',
          bidType: '1'
        },
        {
          name: '老鸡',
          bidType: '2'
        },
        {
          name: '鸡苗',
          bidType: '3'
        }
      ],
      active: 0, // 竞价分类下标，0：生猪，1：老鸡，2：鸡苗
      priceSort: null,
      dateSort: '0',
      forecastList: [],
      goodsTime: '',
      ownerId: null,
      enlistObj: {},
      failShow: false,
      successShow: false,
      // 上拉加载及下拉刷新
      page: {
        index: 1,
        size: 6,
        total: 0
      },
      cacheList: [],
      loading: false, // 控制上拉加载的加载动画
      finished: false, // 控制在页面往下移动到底部时是否调用接口获取数据
      isLoading: false, // 控制下拉刷新的加载动画
      curUserPhone: '', // 登录用户电话
      cusPhone: '', // 联系电话
      failText: '', // 报名失败提示框文字
      isSubmitFlag: false, // 记录报名提交状态
      requestLoading: false, // 接口请求加载动画
      showAttributeFiltering: false, // 显示属性过滤
      attributeFilteringList: [], // 选择的属性过滤
      isScreening: false, // 是否“已筛选”
      publishOrgIds: '' // 选中组织id集合
    }
  },
  created () {
    let query = this.$route.query
    this.active = +query.active || 0

    if (this.active === 0) {
      this._getBuyList()
    } else {
      this._getChickenList()
    }
    this._initUserInfo()
  },
  methods: {
    _changeTab (index) {
      if (+this.$route.query.index !== index) {
        this.$router.replace({
          path: '/biddingNotice',
          query: { active: index }
        })
      }
      this.page.index = 1
      this.cacheList = []
      this.forecastList = []
      this.attributeFilteringList = []
      this.publishOrgIds = ''
      this.isScreening = false
      if (this.active === 0) {
        this._getBuyList()
      } else {
        this._getChickenList()
      }
    },
    // 下拉刷新
    onRefresh () {
      this.page.index = 1
      this.cacheList = []
      if (this.active === 0) {
        this._getBuyList()
      } else {
        this._getChickenList()
      }
    },
    // 上拉加载
    onLoad () {
      this.page.index++
      if (this.active === 0) {
        this._getBuyList()
      } else {
        this._getChickenList()
      }
    },
    _toReturn () {
      if (window.history.length > 1) {
        this.$router.go(-1)
      } else {
        this.$router.push('/')
      }
    },
    _toPanicBuy () {
      this.$router.replace({
        path: '/robbing'
      })
    },
    _toHistory () {
      this.$router.replace({
        path: '/biddingHistory'
      })
    },
    _toAffiche () {
      this.$router.replace({
        path: '/biddingWinNotice'
      })
    },
    _price () {
      this.page.index = 1
      this.cacheList = []
      this.dateSort = null
      this.priceSort = this.priceSort === '1' || this.priceSort === null ? '0' : '1'
      if (this.active === 0) {
        this._getBuyList()
      } else {
        this._getChickenList()
      }
    },
    _time () {
      this.page.index = 1
      this.cacheList = []
      this.priceSort = null
      this.dateSort = this.dateSort === '1' || this.dateSort === null ? '0' : '1'
      if (this.active === 0) {
        this._getBuyList()
      } else {
        this._getChickenList()
      }
    },
    _getBuyList () {
      this.requestLoading = true
      let params = {
        pageSize: this.page.size,
        page: this.page.index,
        priceSort: this.priceSort,
        dateSort: this.dateSort,
        bidType: this.myBiddingCatList[this.active].bidType
      }
      api.commonCall(params, 'queryBiddingByNotice').then(res => {
        this.requestLoading = false
        if (res.success) {
          this.cacheList = this.cacheList.concat(res.data.list)
          this.forecastList.splice(0, this.forecastList.length, ...this.cacheList)
          this.page.total = res.data.count
          this.finished = false
          this.loading = false
          if (this.cacheList.length >= this.page.total) {
            this.finished = true
          }

          setTimeout(() => {
            this.isLoading = false
          }, 100)
        } else {
          res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    _signUp: _debounce(function (item) {
      if (!sessionStorage.getItem('token')) { // 判断是否登录
        this.$toast('请先登录')
        this.$router.push({ path: '/loginRandom', query: { redirect: this.$route.fullPath } })
        return
      }

      if (this.isSubmitFlag) return
      this.isSubmitFlag = true

      this.judgeAndSignUp(item)
    }, 500),
    // 查询是否已签署电子签
    getBidContractSignStatus (id) {
      return new Promise(resolve => {
        api.commonCall({ bidId: id }, 'getBidContractSignStatus').then(res => {
          if (res.success) {
            if (res.data.useEsign) { // 是否开启电子签
              if (res.data.signStatus === 'C') {
                resolve(true)
              } else {
                resolve(false)
              }
            } else {
              api.commonCall({}, 'isBiddingRuleRead').then(res => {
                if (res.success) {
                  if (res.data.isRead) {
                    resolve(true)
                  } else {
                    resolve(false)
                  }
                } else {
                  resolve(false)
                  res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
                }
              })
            }
          } else {
            resolve(false)
            res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
          }
        })
      })
    },
    isBiddingRuleRead () {
      return new Promise(resolve => {
        api.commonCall({}, 'isBiddingRuleRead').then(res => {
          if (res.success) {
            if (res.data.isRead) {
              resolve(true)
            } else {
              resolve(false)
            }
          } else {
            resolve(false)
            res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
          }
        })
      })
    },
    async judgeAndSignUp (item) {
      let isReadOrSign // 是否已查看/已签署
      if (item.bidType === '1') { // 养猪竞价
        isReadOrSign = await this.getBidContractSignStatus(item.id) // 查询是否已签署电子签
      } else if (item.bidType === '2' || item.bidType === '3') { // 淘汰鸡或鸡苗竞价
        isReadOrSign = await this.isBiddingRuleRead() // 查询是否已查看“竞价规则”
      }

      if (isReadOrSign) {
        let params = {
          objectId: item.id,
          ownerId: this.ownerId
        }
        // 请求报名接口
        api.commonCall(params, 'wsApplyInfo').then(res => {
          if (res.success) {
            this.goodsTime = item.biddingBeginDate
            this.enlistObj = res.data
            this.successShow = true

            setTimeout(() => {
              this.isSubmitFlag = false
            }, 1000)
          } else {
            if (res.message) {
              this.failShow = true
              let str = res.message
              if (str.indexOf('登录用户:') > -1) {
                this.curUserPhone = str.substring(str.indexOf('登录用户:') + 5, str.indexOf(',还未缴纳保证金'))
                if (str.indexOf('联系电话:') > -1) {
                  this.cusPhone = str.substring(str.indexOf('联系电话:') + 5, str.length)
                }
              } else {
                this.failText = str.replace('调用移动分销接口失败：', '')
              }
            }

            setTimeout(() => {
              this.isSubmitFlag = false
            }, 1000)
          }
        })
      } else {
        this.failShow = true
        this.failText = '报名失败，您未查看规则或签署电子签，请进入竞价详情页查看或签署！'
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      }
    },
    _toDetail (id) {
      this.$router.push({
        path: this.active === 0 ? '/biddingDetails' : '/biddingChickDetails',
        query: {
          id: id
        }
      })
    },
    _initUserInfo () {
      this.ownerId = JSON.parse(sessionStorage.getItem('userInfo')) && JSON.parse(sessionStorage.getItem('userInfo')).id
      if (!this.ownerId) {
        api.userInfo().then(res => {
          if (res.success) {
            this.ownerId = res.data.id
          }
        })
      }
    },
    _failBtn () {
      this.failShow = false
    },
    _successBtn () {
      this.successShow = false
      this.page.index = 1
      this.cacheList = []
      if (this.active === 0) {
        this._getBuyList()
      } else {
        this._getChickenList()
      }
    },
    _getChickenList () {
      this.requestLoading = true
      let params = {
        pageSize: this.page.size,
        page: this.page.index,
        bidType: this.myBiddingCatList[this.active].bidType
      }
      if (this.publishOrgIds) {
        params.publishOrgIds = this.publishOrgIds
      }
      api.commonCall(params, 'queryBiddingChickensByNotice').then(res => {
        this.requestLoading = false
        if (res.success) {
          if ((!this.attributeFilteringList || !this.attributeFilteringList.length) && res.data.publishOrgList) {
            this.attributeFilteringList.push({
              name: '发布组织',
              multiSelect: true,
              range: res.data.publishOrgList.map(item => ({ name: item.orgName, id: item.orgId }))
            })
          }
          this.cacheList = this.cacheList.concat(res.data.bidChickenInfoList)
          this.forecastList.splice(0, this.forecastList.length, ...this.cacheList)
          this.page.total = res.data.count
          this.finished = false
          this.loading = false
          if (this.cacheList.length >= this.page.total) {
            this.finished = true
          }
          setTimeout(() => {
            this.isLoading = false
          }, 100)
        } else {
          res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    // 选中属性过滤的值
    selected (val, isSelected) {
      this.isScreening = isSelected
      let params = val.key.split(';')
      for (let key in params) {
        if (params[key].split('_')[0] === '发布组织') {
          if (this.publishOrgIds !== params[key].split('_')[3]) {
            this.publishOrgIds = params[key].split('_')[3]
            this.page.index = 1
            this.cacheList = []
            this.forecastList = []
            this._getChickenList()
          }
        }
      }
      this.showAttributeFiltering = false
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.border-horizontal-2px(@color: #E8E9EB) {
  position: relative;
  &:after {
    content: ' ';
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    border-top: 4px solid @color;
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
      transform: scaleY(0.7);
      -webkit-transform: scaleY(0.7);
    }

    @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
      transform: scaleY(0.5);
      -webkit-transform: scaleY(0.5);
    }
  }
}

.bidding-notice-wrapper {
  @{deep} .van-nav-bar {
    &__right {
      padding: 0 12px;
      .screen {
        .screen-icon {
          display: inline-block;
          vertical-align: middle;
          width: 40px;
          height: 40px;
          .bg-img("~@/assets/images/index-2/screen");
          background-repeat: no-repeat;
          background-position: center;
          background-size: 100% 100%;
        }
        span {
          font-size: 24px;
          text-align: center;
        }
        &.already {
          .screen-icon {
            .bg-img("~@/assets/images/index-2/alreadyscreen");
          }
          span {
            color: #F59900;
          }
        }
      }
    }
  }
  .notice-content {
    width: 100%;
    height: 100%;
    .notice-content-top {
      width: 100%;
      height: 88px;
      box-sizing: border-box;
      display: flex;
      .bidding-notice,
      .notice-mad-job,
      .history,
      .bidding-win-notice {
        height: 100%;
        line-height: 100%;
        flex: 1;
        text-align: center;
        letter-spacing: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
          height: 54px;
          line-height: 54px;
          font-size: 26px;
          font-family: "PingFang SC";
          color: #767B81;
          font-weight: bold;
        }
      }
      .bidding-notice {
        span {
          font-size: 32px;
          color: #E03C31;
          .border-horizontal-2px(#E03C31);
        }
      }
    }
  }
  .notice-content-bar {
    width: 100%;
    height: 70px;
    // .border-1px();
    .list {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      .item {
        text-align: center;
        &.screen {
          flex: 0 0 120px;
          text-align: center;
          position: relative;
          &::before {
            content: "";
            height: 40px;
            width: 1px;
            background-color: #e8e9eb;
            position: absolute;
            left: 0;
            top: 0;
          }
        }
        font-size: 28px;
        flex: 1;
        .icon-group {
          height: 44px;
          display: inline-block;
          vertical-align: middle;
          margin-left: 6px;
          .up {
            display: block;
            width: 0;
            height: 0;
            border-left: 9px solid transparent;
            border-right: 9px solid transparent;
            border-bottom: 9px solid #c1c4ca;
            margin-top: 8px;
            &.current {
              border-bottom: 9px solid #e33240;
            }
          }
          .down {
            display: block;
            width: 0;
            height: 0;
            border-left: 9px solid transparent;
            border-right: 9px solid transparent;
            border-top: 9px solid #c1c4ca;
            margin-top: 5px;
            &.current {
              border-top: 9px solid #e33240;
            }
          }
        }
        &.active {
          color: #e33240;
        }
      }
    }
  }
  .notice-content-bottom {
    width: 100%;
    height: 100%;
    .cab {
      width: 698px;
      box-sizing: border-box;
      border-bottom: 2px solid #E6E6E6;
      margin: 0 auto;
      padding: 30px 0;
      overflow: hidden;
      .cab-picture {
        width: 280px;
        min-height: 248px;
        float: left;
        position: relative;
        .one-price{
          position: absolute;
          width: 86px;
          height: 32px;
          top: 0;
          left: 0;
          border-top-left-radius: 12px;
          border-top-right-radius: 15px;
          border-bottom-right-radius: 15px;
          background: url("~@/assets/images/auction/one-price.svg") no-repeat center center;
          background-size: 100% 100%;
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
      .cab-content {
        width: 418px;
        height: 280px;
        float: left;
        box-sizing: border-box;
        position: relative;
        h5 {
          display: block;
          width: 100%;
          font-family: "PingFang SC";
          font-size: 32px;
          color: #363638;
          margin-top: 18px;
          margin-left: 22px;
          font-weight: bold;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        p {
          display: block;
          font-family: "PingFang SC";
          font-size: 22px;
          color: #363638;
          margin-left: 22px;
          margin-top: 8px;
        }
        span {
          font-family: 'AvenirLTStd-Black';
          font-size: 24px;
          color: #E63E32;
        }
        .cab-sign {
          width: 116px;
          height: 50px;
          padding-right: 26px;
          border-radius: 12px;
          background: #E63E32 url("~@/assets/images/auction/snatch-at-once@1x.png") no-repeat 90px center;
          background-size: 16px 16px;
          border: 0px solid;
          box-sizing: border-box;
          position: absolute;
          right: 0;
          bottom: 32px;
          &.gray {
            background: #E8E9EB;
          }
          p {
            font-family: "PingFang SC";
            font-size: 26px;
            color: #FFFFFF;
            text-align: center;
            line-height: 50px;
            margin: 0;
          }
        }
        .snatch {
          width: 152px;
          height: 54px;
          border-radius: 12px;
          position: absolute;
          right: 0;
          bottom: 0;
          background: #F39801 url("~@/assets/images/auction/snatch-at-once@1x.png") no-repeat 120px center;
          background-size: 16px 16px;
          padding-right: 16px;
          p {
            font-family: "PingFang SC";
            font-size: 25px;
            color: #ffffff;
            text-align: center;
            line-height: 54px;
            margin: 0;
          }
        }
      }
    }
  }
  .sign-up-info{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    position: fixed;
    left: 0;
    top: 0;
    .sign-up-info-wrap{
      position: absolute;
      left: 50%;
      top: 50%;
      width: 80%;
      background: #222222;
      margin-left: -40%;
      margin-top: -25%;
      padding: 40px 0;
      span{
        display: block;
        text-align: center;
        color: #fff;
        font-size: 26px;
        line-height: 45px;
      }
    }
  }
  .bidSuccess-wrap{
    .reminder{
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      background: rgba(0,0,0,0.2);
      z-index: 99999;
      .jak{
        width: 606px;
        position: absolute;
        top: 458px;
        left: 72px;
        .bg-img("~@/assets/images/index-2/reminder-bg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        margin-top: -125px;
        border-radius: 24px;
        .jal{
          width: 100%;
          height: 126px;
          box-sizing: border-box;
          p{
            font-family: "PingFang SC";
            font-size: 32px;
            color: #ffffff;
            text-align: center;
            line-height: 110px;
          }
        }
        .jam{
          width: 500px;
          min-height: 300px;
          margin: 0 auto;
          p{
            font-family: "PingFang SC";
            font-size: 28px;
            color: #48484A;
            margin-top: 14px;
          }
          h2{
            font-family: "PingFang SC";
            font-size: 40px;
            color: #F39801;
            margin-top: 10px;
            word-wrap: break-word;
            word-break: break-all;
          }
          .jao{
            width: 100%;
            margin-top: 32px;
            .jao-phone{
              width: 24px;
              height: 24px;
              float: left;
              background: url("~@/assets/images/auction/telephone.png") no-repeat center center;
              background-size: 100% 100%;
              margin-top: 10px;
            }
            p{
              font-family: "PingFang SC";
              font-size: 28px;
              color: #48484A;
              &.phone {
                font-size: 40px;
                text-align: center;
                margin-top: 4px;
              }
            }
          }
        }
        .btn {
          width: 100%;
          height: 160px;
          line-height: 160px;
          text-align: center;
          span{
            display: inline-block;
            width: 272px;
            height: 86px;
            background-color: #F39801;
            border-radius: 12px;
            font-size: 36px;
            font-family: "PingFang SC";
            color: #FFFFFF;
            line-height: 86px;
            text-align: center;
          }
        }
      }
    }
    .registration{
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      background: rgba(0,0,0,0.2);
      z-index: 99999;
      .vaf{
        width: 606px;
        height: 676px;
        position: absolute;
        top: 458px;
        left:72px;
        .bg-img("~@/assets/images/index-2/reminder-bg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        margin-top: -125px;
        border-radius: 24px;
        .vah{
          width: 100%;
          height: 126px;
          float: left;
          p{
            font-family: "PingFang SC";
            font-size: 32px;
            color: #FFFFFF;
            text-align: center;
            line-height: 110px;
          }
        }
        .vai{
          width: 100%;
          height: 550px;
          float: left;
          .vai-one{
            width: 108px;
            height: 108px;
            float: left;
            .bg-img("~@/assets/images/index-2/reminder-success");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% 100%;
            border-radius: 90px;
            margin-left: 250px;
            margin-right: 248px;
            margin-top: 24px;
          }
          h5{
            font-family: "PingFang SC";
            font-size: 36px;
            color: #48484A;
            float: left;
            font-weight: bold;
            margin-top: 16px;
            width: 100%;
            text-align: center;
          }
          p{
            font-family: "PingFang SC";
            font-size: 24px;
            color: #A9ABAF;
            float: left;
            width: 100%;
            text-align: center;
            margin-top: 32px;
          }
          h4{
            font-family: "PingFang SC";
            font-size: 52px;
            color: #48484A;
            float: left;
            width: 100%;
            text-align: center;
            margin-top: 6px;
          }
          h6{
            font-family: "PingFang SC";
            font-size: 24px;
            color: #48484A;
            float: left;width: 100%;
            text-align: center;
            margin-top: 6px;
          }
          span{
            width: 272px;
            height: 86px;
            background-color: #F39801;
            display: inline-block;
            margin-top: 38px;
            float: left;
            margin-left: 168px;
            font-family: "PingFang SC";
            font-size: 36px;
            color: #ffffff;
            text-align: center;
            line-height: 86px;
            border-radius: 12px;
          }
        }
      }
    }
  }

  @{deep} .scroll-to-top-hover-btn-wrapper {
    bottom: 140px;
  }
}
</style>
