<template>
  <div class="bidding-win-details-wrapper">
    <van-nav-bar title="中标公告详情" left-arrow @click-left="onClickLeft"></van-nav-bar>
    <div class="bidding-win-details-content">
      <div class="title" v-if="bidType === 1"><span>{{winDetail.number}}{{winDetail.name}}</span></div>
      <div class="title" v-else><span>{{winDetail.projectName}}</span></div>
      <div class="time">{{bidType === 1 ? winDetail.winDate : winDetail.openTime}}</div>
      <div class="content">
        <!-- bidType === 1 为生猪 -->
        <div v-if="bidType === 1">
          <div class="content-top">
            <ul>
              <!-- <li><span>发布方：</span>{{winDetail.orgName}}</li> -->
              <li><span>项目编码：</span>{{winDetail.number}}</li>
              <li><span>竞价标的：</span>{{winDetail.itemName}}</li>
              <li><span>评标时间：</span>{{winDetail.winDate}}</li>
              <!-- <li>养户：{{winDetail.famersName}}</li> -->
            </ul>
          </div>
          <div class="content-main" v-for="(item, index) in winDetail.list" :key="index">
            <div class="tb-header">
              <van-row>
                <van-col span="4">NO.{{index + 1}}</van-col>
                <van-col span="20" class="bidtime">{{item.bidTime.substr(0,16)}}</van-col>
              </van-row>
            </div>
            <div class="tb-info">
              <div class="my-list">
                <van-row>
                  <van-col span="24" class="user"><span>用户：</span>&nbsp;&nbsp;{{item.customerName}}</van-col>
                  <van-col span="24" class="col-left"><span>编码：</span>&nbsp;&nbsp;{{item.customerNumber}}</van-col>
                  <van-col span="12"><span>数量：</span>&nbsp;&nbsp;{{item.winBigQty}}{{winDetail.assistUnitName}}</van-col>
                  <van-col span="12" class="right-van-vol-12"><span>价格：</span>&nbsp;&nbsp;&yen;{{item.bidPrice}}元/{{winDetail.saleUnitName}}</van-col>
                </van-row>
              </div>
            </div>
          </div>
        </div>

        <!-- bidType === 2 为老鸡、鸡苗 -->
        <div v-else>
          <div class="content-top">
            <ul>
              <li><span>项目编码：</span>{{winDetail.projectNumber}}</li>
              <li><span>评标时间：</span>{{winDetail.createDate}}</li>
            </ul>
          </div>
          <div class="content-main" v-for="(item, index) in winDetail.list" :key="index">
            <div v-if="winDetail.list[index].offerList && winDetail.list[index].offerList.length">
              <p class="main-item-name"><span>竞价标的：</span>{{item.itemName}}</p>
              <div v-for="(offerItem, offerIndex) in winDetail.list[index].offerList" :key="offerIndex">
                <div class="tb-header">
                  <van-row>
                    <van-col span="4">{{offerItem.no}}</van-col>
                    <van-col span="20" class="bidtime">{{offerItem.biddingTime.substr(0,16)}}</van-col>
                  </van-row>
                </div>
                <div class="tb-info">
                  <div class="my-list">
                    <van-row>
                      <van-col span="24" class="user"><span>用户：</span>&nbsp;&nbsp;{{offerItem.user}}</van-col>
                      <van-col span="24" class="col-left"><span>编码：</span>&nbsp;&nbsp;{{offerItem.number}}</van-col>
                      <van-col span="12"><span>数量：</span>&nbsp;&nbsp;{{offerItem.winningNum}}只</van-col>
                      <van-col span="12" class="right-van-vol-12"><span>价格：</span>&nbsp;&nbsp;&yen;{{offerItem.bidMoney}}元/{{winDetail.bidType === '3' ? '只' : '斤'}}</van-col>
                    </van-row>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="content-footer">
          <ul>
            <!-- <li>交接地址：{{winDetail.address}}</li> -->
            <!-- <li>交割开始时间：{{winDetail.beginDate}}</li>
            <li>交割截止时间：{{winDetail.endDate}}</li> -->
            <li><span>联系人：</span>{{bidType === 1 ? winDetail.contact : winDetail.man}}</li>
            <li><span>电话：</span>{{bidType === 1 ? winDetail.contactPhone : winDetail.manPhone}}</li>
          </ul>
          <p>如有异议，自本公告发布之日起1个工作日内以书面形式向发布公司提出，逾期将不予受理。</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { api } from '@/api'

export default {
  name: 'bidding-win-notice-details',
  data () {
    return {
      winDetail: {},
      bidType: 1 // 1为生猪，2为老鸡/鸡苗
    }
  },
  mounted () {
    this.bidType = +this.$route.query.bidType
    if (this.bidType === 1) {
      this._getWinDetail()
    } else {
      this._getWinChickDetail()
    }
  },
  methods: {
    onClickLeft () {
      this.$router.go(-1)
    },
    _getWinDetail () {
      let params = {
        id: this.$route.query.id,
        page: 1,
        pageSize: 100
      }
      api.commonCall(params, 'getWinningBidDetails').then(res => {
        if (res.success) {
          this.winDetail = res.data
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    _getWinChickDetail () {
      let params = {
        id: this.$route.query.id,
        page: 1,
        pageSize: 100
      }
      api.commonCall(params, 'getWinningChickenBidDetail').then(res => {
        if (res.success) {
          this.winDetail = res.data
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.bidding-win-details-wrapper {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background: #f8f8f8;
  .bidding-win-details-content {
    padding: 30px;
    span{font-weight: 600;}
    .title {
      color: #2e3033;
      text-align: center;
      font-size: 32px;
      letter-spacing: 1px;
    }

    .time {
      padding-top: 20px;
      padding-bottom: 30px;
      color: #8e939a;
      text-align: center;
      font-size: 20px;
    }

    .content {
      color: #2e3033;
      letter-spacing: 1px;
      overflow: hidden;
      font-size: 24px;

      .content-top{
        width: 100%;
        height: 100%;
        margin-bottom: 30px;
        color: #5e6173;
        li{
          font-size: 24px;
          line-height: 40px;
          padding-left: 20px;
        }
      }
      .van-col{
        font-size: 24px;
      }
      .content-main{
        width: 100%;
        height: 100%;
        background: #FFFFFF;
        border-radius: 12px;
        margin-bottom: 10px;
        .main-item-name {
          font-size: 24px;
          line-height: 40px;
          padding-left: 20px;
          span {
            font-weight: 600;
          }
        }
        .tb-header{
          width: 100%;
          height: 58px;
          line-height: 58px;
          background: #898c9c;
          border-radius: 12px 12px 0 0;
          text-align: center;
          color: #FFFFFF;
          .left-van-vol{
            text-align: right!important;
            padding-right: 20px;
          }
          .bidtime{
            color: #D4D4D4;
            font-size: 20px;
            text-align: right;
            padding-right: 20px;
          }
        }

        .tb-info{
          width: 98%;
          margin: 0 auto;
          background: #FFFFFF;
          font-size: 24px;
          padding: 5px 0;
          .my-list{
            width: 100%;
            min-height: 150px;
            margin-bottom: 10px;
            .user{
              margin-top: 18px;
            }
          }
          .van-col{
            margin-top: 8px;
            font-size: 24px;
            padding-left: 20px;
          }
          .right-van-vol-12{
            text-align: right;
            padding-right: 20px;
          }
        }
      }

      .content-footer{
        margin-top: 22px;
        li{
          height: 40px;
          line-height: 40px;
          font-size: 24px;
          padding-left: 20px;
          color: #5e6173;
        }
        p{
          text-indent: 2em;
          font-size: 20px;
          color: #898C9C;
          margin-top: 24px;
          padding: 0 0 0 20px;
        }
      }
    }
  }
}
</style>
