<template>
  <div class="amap-page-container">
    <div class="return-btn" @click.stop="_return"><van-icon name="arrow-left" size="0.5333rem"/></div>
    <el-amap vid="amap1" :style="'height: ' + clientHeight + 'px'" :center="center" :amap-manager="amapManager" :zoom="zoom" :plugin="plugin" class="amap-1">
      <el-amap-marker ref="amapMarker" vid="marker" :position="marker.position" :visible="marker.visible" :draggable="marker.draggable" :events="marker.events"></el-amap-marker>
    </el-amap>
    <div class="info-box">
      <p>{{$route.query.farmersAddress}}</p>
      <p>地址：{{mapAddress}}</p>
      <p>距您 {{mapDistance}}km</p>
      <div class="btn" @click="openGaodeApp">前往高德地图</div>
    </div>
  </div>
</template>

<script>
import { AMapManager } from 'vue-amap'

let amapManager = new AMapManager()

export default {
  name: 'bidding-details-map',
  data () {
    const _this = this
    return {
      clientHeight: '', // 浏览器高度
      zoom: 12,
      center: [Number(_this.$route.query.longitude), Number(_this.$route.query.latitude)],
      marker: {
        position: [Number(_this.$route.query.longitude), Number(_this.$route.query.latitude)],
        visible: true,
        draggable: false,
        events: {
          click: () => {

          }
        }
      },
      amapManager,
      plugin: [
        {
          pName: 'Scale',
          events: {}
        },
        {
          pName: 'Geolocation',
          panToLocation: false, // 定位成功后将定位到的位置不作为地图中心点
          events: {
            init (o) {
              // o 是高德地图定位插件实例
              o.getCurrentPosition((status, result) => {
                if (result && result.position) {
                  let p1 = [Number(_this.$route.query.longitude), Number(_this.$route.query.latitude)]
                  let p2 = [result.position.lng, result.position.lat]
                  _this.mapDistance = parseFloat(AMap.GeometryUtil.distance(p1, p2) / 1000).toFixed(1)
                  _this.$nextTick()
                } else {
                  _this.$toast('定位失败')
                }
              })
            }
          }
        },
        {
          pName: 'Geocoder',
          events: {
            init (o) {
              let geocoder = new AMap.Geocoder({
                city: '全国'
              })
              geocoder.getAddress([Number(_this.$route.query.longitude), Number(_this.$route.query.latitude)], (status, result) => {
                if (status === 'complete' && result.regeocode) {
                  _this.mapAddress = result.regeocode.formattedAddress
                }
              })
            }
          }
        }
      ],
      mapAddress: '', // 地图根据坐标返回的地址
      mapDistance: null // 养户坐标距当前定位距离
    }
  },
  mounted () {
    this.clientHeight = `${document.documentElement.clientHeight}`
  },
  methods: {
    _return () {
      this.$router.go(-1)
    },
    openGaodeApp () {
      this.$refs.amapMarker.$$getInstance().markOnAMAP({
        name: this.mapAddress,
        position: this.$refs.amapMarker.$$getPosition()
      })
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

/* 隐藏版权 */
@{deep}.amap-copyright {
  display: none !important;
}
/* 隐藏logo */
@{deep}.amap-logo {
  display: none !important;
}
/* 地图控件 */
@{deep}.amap-controls {
  .amap-scalecontrol {
    bottom: 290px !important;
  }
  .amap-geolocation-con {
    bottom: 350px !important;
    .amap-geo {
      border-radius: 10px;
    }
  }
}

.amap-page-container {
  height: 100%;
  .return-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 90px;
    height: 90px;
    border-radius: 10px;
    box-shadow: -5px 5px 10px -2px rgba(0, 0, 0, 0.2), 5px 5px 10px -2px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, .95);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .info-box {
    width: 680px;
    position: absolute;
    bottom: 6px;
    left: 50%;
    transform: translate(-50%, -6px);
    border-radius: 10px;
    background: #fff;
    padding: 20px;
    p {
      font-size: 24px;
      line-height: 40px;
      &:nth-child(1) {
        font-size: 30px;
        font-weight: bold;
        line-height: 50px;
      }
      &:nth-child(3) {
        color: #8e939a;
      }
    }
    .btn {
      width: 670px;
      height: 70px;
      line-height: 70px;
      margin: 20px auto 0;
      color: #f39800;
      border: 1px solid #f39800;
      border-radius: 10px;
      text-align: center;
    }
  }
}
</style>
