<template>
  <div class="bidding-win-notice-wrapper">
    <van-nav-bar title="竞价" left-arrow @click-left="_toReturn"></van-nav-bar>

    <div class="affiche-content">
      <div class="affiche-content-top">
        <div class="bidding-notice">
          <span @click="_toForecast">竞价预告</span>
        </div>
        <div class="notice-mad-job">
          <span @click="_toPanicBuy">正在疯抢</span>
        </div>
        <!-- <div class="history">
          <span @click="_toHistory">竞价历史</span>
        </div> -->
        <div class="bidding-win-notice">
          <span>中标公告</span>
        </div>
      </div>
      <van-tabs v-model="active" :swipe-threshold="5" sticky swipeable class="head-tabs" @change="_changeTab">
        <van-tab v-for="(catListItem, catListIndex) in biddingCatList" :key="catListIndex" :title="catListItem.name">
          <div class="affiche-content-main">
            <ul v-if="winList && winList.length">
              <van-pull-refresh v-model="isLoading" @refresh="onRefresh">
                <van-list v-model="loading" :finished="finished" @load="onLoad" :offset="200" finished-text="没有更多了">
                  <li v-for="(item, index) in winList" :key="index" @click="_toDetails(item.id)">
                    <div class="list_left">
                      <p class="list_title" v-if="active === 0">{{item.number}}（{{item.name}}）中标公告</p>
                      <p class="list_title" v-else>{{item.title}}中标公告</p>
                      <p class="list_time">{{item.createDate}}</p>
                    </div>
                    <div class="list_right">
                      <img :src='moreRightImgSrc'/>
                    </div>
                  </li>
                </van-list>
              </van-pull-refresh>
            </ul>
            <div class="no-data-box" v-else>
              <no-data :loading="requestLoading"></no-data>
            </div>
          </div>
        </van-tab>
      </van-tabs>
    </div>
  </div>
</template>
<script>
import { allImgDomainNameMixin } from '@/assets/js/mixin'
import NoData from '@/components/no-data'
import { api } from '@/api'

export default {
  name: 'bidding-win-notice',
  mixins: [allImgDomainNameMixin],
  data () {
    return {
      moreRightImgSrc: require('@/assets/images/more_right.svg'),
      winList: [],
      // 上下拉刷新加载
      page: {
        index: 1,
        pageSize: 15,
        total: 0
      },
      cacheList: [],
      loading: false, // 控制上拉加载的加载动画
      finished: false, // 控制在页面往下移动到底部时是否调用接口获取数据
      isLoading: false, // 控制下拉刷新的加载动画
      requestLoading: false, // 接口请求加载动画
      biddingCatList: [ // 竞价分类
        {
          name: '生猪'
        },
        {
          name: '老鸡/鸡苗'
        }
      ],
      active: 0 // 竞价分类下标，0：生猪，1：老鸡/鸡苗
    }
  },
  created () {
    let query = this.$route.query
    this.active = +query.active || 0

    if (this.active === 0) {
      this._getList()
    } else {
      this._getChickenList()
    }
  },
  methods: {
    // 下拉刷新
    onRefresh () {
      this.page.index = 1
      this.cacheList = []
      if (this.active === 0) {
        this._getList()
      } else {
        this._getChickenList()
      }
    },
    // 上拉加载
    onLoad () {
      this.page.index++
      if (this.active === 0) {
        this._getList()
      } else {
        this._getChickenList()
      }
    },
    _getList () {
      this.requestLoading = true
      let params = {
        page: this.page.index,
        pageSize: this.page.pageSize
      }
      api.commonCall(params, 'getWinningBidInfo').then(res => {
        this.requestLoading = false
        if (res.success) {
          this.cacheList = this.cacheList.concat(res.data.list)
          this.winList.splice(0, this.winList.length, ...this.cacheList)
          this.page.total = res.data.count
          this.finished = false
          this.loading = false

          if (this.cacheList.length >= this.page.total) {
            this.finished = true
          }

          setTimeout(() => {
            this.isLoading = false
          }, 100)
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    _toReturn () {
      if (window.history.length > 1) {
        this.$router.go(-1)
      } else {
        this.$router.push('/')
      }
    },
    _toForecast () {
      this.$router.replace({
        path: '/biddingNotice'
      })
    },
    _toPanicBuy () {
      this.$router.replace({
        path: '/robbing'
      })
    },
    _toHistory () {
      this.$router.replace({
        path: '/biddingHistory'
      })
    },
    _toDetails (id) {
      this.$router.push({
        path: '/biddingWinNoticeDetails',
        query: {
          id: id,
          bidType: this.active === 0 ? 1 : 2
        }
      })
    },
    _changeTab (index) {
      if (+this.$route.query.index !== index) {
        this.$router.replace({
          path: '/biddingWinNotice',
          query: { active: index }
        })
      }
      this.page.index = 1
      this.cacheList = []
      if (this.active === 0) {
        this._getList()
      } else {
        this._getChickenList()
      }
    },
    _getChickenList () {
      this.requestLoading = true
      let params = {
        page: this.page.index,
        pageSize: this.page.pageSize
      }
      api.commonCall(params, 'getChickenWinningBidInfo').then(res => {
        this.requestLoading = false
        if (res.success) {
          this.cacheList = this.cacheList.concat(res.data.list)
          this.winList.splice(0, this.winList.length, ...this.cacheList)
          this.page.total = res.data.count
          this.finished = false
          this.loading = false

          if (this.cacheList.length >= this.page.total) {
            this.finished = true
          }

          setTimeout(() => {
            this.isLoading = false
          }, 100)
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    }
  },
  components: {
    NoData
  }
}
</script>

<style scoped lang="less">
@import "~@/assets/css/mixin.less";

.border-horizontal-2px(@color: #E8E9EB) {
  position: relative;
  &:after {
    content: ' ';
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    border-top: 4px solid @color;
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
      transform: scaleY(0.7);
      -webkit-transform: scaleY(0.7);
    }

    @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
      transform: scaleY(0.5);
      -webkit-transform: scaleY(0.5);
    }
  }
}

.bidding-win-notice-wrapper{
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background: #f8f8f8;
  .affiche-content {
    width: 100%;
    .affiche-content-top {
      background: #ffffff;
      width: 100%;
      height: 88px;
      box-sizing: border-box;
      display: flex;
      .bidding-notice,
      .notice-mad-job,
      .history,
      .bidding-win-notice {
        height: 100%;
        line-height: 100%;
        flex: 1;
        text-align: center;
        letter-spacing: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
          height: 54px;
          line-height: 54px;
          font-size: 26px;
          font-family: "PingFang SC";
          color: #767B81;
          font-weight: bold;
        }
      }
      .bidding-win-notice{
        span {
          font-size: 32px;
          color: #E03C31;
          .border-horizontal-2px(#E03C31);
        }
      }
    }
  }
  .affiche-content-main {
    // width: 96%;
    // margin: 20px auto;
    ul{
      width: 96%;
      margin: 20px auto;
      background: #ffffff;
      border-radius: 12px;
      li{
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
        font-size: 0;
        list-style: none;
        .border-1px(#E1E1E1);
        .list_left{
          display: inline-block;
          width: 90%;
          .list_title{
            display: block;
            width: 100%;
            font-family: "PingFang SC";
            font-size: 28px;
            color: #434349;
            height: 34px;
            line-height: 34px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .list_time{
            font-family: "PingFang SC";
            font-size: 20px;
            color: #D4D4D4;
            height: 28px;
            line-height: 28px;
          }
        }
        .list_right{
          display: inline-block;
          vertical-align: top;
          width: 10%;
          text-align: right;
          img{
            width: 20px;
            height: 20px;
            margin-top: 18px;
          }
        }
      }
    }
  }
}
</style>
