<template>
  <div class="bidding-chick-details">
    <div class="details-top">
      <van-nav-bar
        title="竞价出价"
        left-arrow
        @click-left="_return">
      </van-nav-bar>
      <div class="details-top-bottom">
        <div class="details-top-bottom-left">
          <p v-if="bidStatus === '1'">未开始</p>
          <p v-else-if="bidStatus === '2'">进行中</p>
          <p v-else-if="bidStatus === '3'">已结束</p>
        </div>
        <div class="details-top-bottom-right">
          <p>{{bidStatus === '1' ? '距离开拍仅剩' : '距离结束仅剩'}}&nbsp;<van-count-down :time="lengthOfCountdownTime" @finish="finish"><template slot="default" slot-scope="timeData">{{timeData.days}}&nbsp;天&nbsp;&nbsp;&nbsp;&nbsp;{{timeData.hours | fillZero}}&nbsp;时&nbsp;{{timeData.minutes | fillZero}}&nbsp;分&nbsp;{{timeData.seconds | fillZero}}&nbsp;秒</template></van-count-down></p>
        </div>
      </div>
    </div>
    <div class="details-content">

      <!-- 项目信息 -->
      <div class="details-content-info">
        <div class="info-title" @click="showInfoClick">
          <span class="title">{{goodsDetail.wens_name}}</span>
          <svg-icon class="triangle-icon" :class="{'triangle-down-icon': !showInfo}" iconname="chick-bidding_triangle"></svg-icon>
        </div>
        <div class="info-list" ref="collapse">
          <div class="info-list-item">
            <div class="info-list-item-left">
              <p class="item-label">发布公司：</p>
              <p class="item-value">{{goodsDetail.org}}</p>
            </div>
            <div class="info-list-item-right">
              <p class="item-label">类型：</p>
              <p class="item-value">{{goodsDetail.bidType === '3' ? '鸡苗竞价' : goodsDetail.bidType === '2' ? '老鸡竞价' : ''}}</p>
            </div>
          </div>
          <div class="info-list-item" v-if="goodsDetail.bidType === '3'">
            <div class="info-list-item-left">
              <p class="item-label">出苗日期：</p>
              <p class="item-value">{{goodsDetail.wens_emergedate}}</p>
            </div>
          </div>
          <div class="info-list-item">
            <div class="info-list-item-right">
              <p class="item-label">项目联系人：</p>
              <p class="item-value">{{goodsDetail.wens_contact}}</p>
            </div>
            <div class="info-list-item-right">
              <p class="item-label">联系电话：</p>
              <p class="item-value">{{goodsDetail.wens_phone}}</p>
            </div>
          </div>
          <div class="info-list-item">
            <div class="info-list-item-left">
              <p class="item-label">开始时间：</p>
              <p class="item-value">{{goodsDetail.wens_biddingbegindate}}</p>
            </div>
            <div class="info-list-item-right">
              <p class="item-label">结束时间：</p>
              <p class="item-value">{{goodsDetail.wens_biddingenddate}}</p>
            </div>
          </div>
          <div class="info-list-item" v-if="goodsDetail.wens_tip">
            <div class="info-list-item-left">
              <p class="item-value text-red">{{goodsDetail.wens_tip}}</p>
            </div>
          </div>
          <div class="info-list-item">
            <div class="info-list-item-left">
              <p class="item-label">备注：</p>
              <p class="item-value">{{goodsDetail.wens_remarks}}</p>
            </div>
          </div>
        </div>
      </div>

      <!-- 鸡苗列表 -->
      <div class="details-content-chick-list" :class="{'show-num-input': showNumInput}">
        <!-- <van-checkbox-group v-model="result"> -->
          <van-cell-group>
            <van-cell
              v-for="(item, index) in chickList"
              :key="index"
              ref="chickListRef"
              @click="toggle(index)"
            >
              <van-checkbox
                ref="checkboxes"
                slot="icon"
                checked-color="#F59900"
                label-disabled
                v-model="item.selected"
                :name="item.wens_goods"
                @change="checkboxChange(item)"
              >
                <div class="chick-list-info">
                  <p class="info-name">{{item.wens_goods}}</p>
                  <div class="chick-list-info-left">
                    <img v-lazy="allImgDomainName + item.wens_picture" alt="">
                  </div>
                  <div class="chick-list-info-right">
                    <div class="info-right-item"> 提货点：<span>{{item.wens_site}}</span></div>
                    <div class="info-right-item"> 总数量：<span>{{item.wens_total}}只</span></div>
                    <div class="info-right-item"> 加拍幅度：<span>{{+item.wens_addvalue || 1}}只</span></div>
                    <div class="info-right-item"> 起拍数量：<span>{{item.wens_startvalue}}只</span></div>
                    <div class="info-right-item"> 指导价：<span v-if="+item.wens_price">{{item.wens_price | keepTwoNum}}元/{{goodsDetail.bidType === '3' ? '只' : '斤'}}</span><span v-else>无底价</span></div>
                    <div class="info-right-item"> 备注：<span>{{item.wens_note}}</span></div>
                  </div>
                </div>
                <div class="chick-list-bottom">
                  <div class="day" :class="{'selected': item.selected}">
                    <div class="day-one">
                      <div class="day-one-left" @click.stop="_priceCut(item)">
                        <svg-icon class="icon-minus" iconname="chick-bidding_minus"></svg-icon>
                      </div>
                      <div class="day-one-center">
                        <span class="sign">&yen;</span>
                        <input type="text" readonly v-model="item.offerPrice" @click.stop="onShowInput(index, item, 1)">
                      </div>
                      <div class="day-one-right" @click.stop="_priceAdd(item)">
                        <svg-icon class="icon-plus" iconname="chick-bidding_plus"></svg-icon>
                      </div>
                    </div>
                    <div class="day-two">
                      <div class="day-two-left" @click.stop="_numCut(item)">
                        <svg-icon class="icon-minus" iconname="chick-bidding_minus"></svg-icon>
                      </div>
                      <div class="day-two-center">
                        <input type="text" readonly v-model="item.offerNumber" @click.stop="onShowInput(index, item, 2)">
                        <span class="unit">只</span>
                      </div>
                      <div class="day-two-right" @click.stop="_numAdd(item)">
                        <svg-icon class="icon-plus" iconname="chick-bidding_plus"></svg-icon>
                      </div>
                    </div>
                  </div>
                </div>
              </van-checkbox>
            </van-cell>
          </van-cell-group>
        <!-- </van-checkbox-group> -->
      </div>
    </div>

    <div class="details-bottom" :class="{gray: goodsDetail.billStatus === 'A' || goodsDetail.billStatus === 'B' || bidStatus === '1' || bidStatus === '3'}" @click="goodsDetail.billStatus === 'C' && _signUp() ">
      <p>下单</p>
    </div>

    <van-popup v-model="offerBid" position="bottom" round style="max-height: 80%;">
      <div class="wrap-top">
        <div class="title">您本次竞价情况如下：</div>
      </div>
      <div class="wrap-center">
        <div class="lam-list">
          <div class="lam-list-content" v-for="(item, index) in chickSelectList" :key="index">
            <div class="lam-list-img">
              <img v-lazy="allImgDomainName + item.itemPicture" alt="">
            </div>
            <div class="lam-list-main">
              <p>{{item.itemName}}</p>
              <div class="list-main-price">价格：<span class="num">{{item.bidPrice}}</span>元/{{goodsDetail.bidType === '3' ? '只' : '斤'}}</div>
              <div class="list-main-number">数量：<span class="num">{{item.bidNum}}</span>只</div>
            </div>
          </div>
        </div>
      </div>
      <div class="wrap-bottom">
        <div class="btn" @click="offerBid = false">取消</div>
        <div class="btn" @click="_offerSure">确定</div>
      </div>
    </van-popup>

    <div class="lah" v-if="bidSuccess">
      <div class="laj">
        <div class="lap">
          <p>温馨提示</p>
        </div>
        <div class="laq">
          <div class="laq-one"></div>
          <h3>下单成功</h3>
          <p>尊敬的客户，您已成功下单，请等待业务员定标审核！</p>
          <span @click="_successSure">确定</span>
        </div>
      </div>
    </div>

    <!-- 数字键盘 -->
    <van-number-keyboard
      ref="numberKeyboard"
      :show="showNumInput"
      theme="custom"
      :extra-key="showNumInputType === 1 ? ['00', '.'] : ['00']"
      close-button-text="确定"
      @blur="onBlur"
      @input="onInput"
      @delete="onDelete"
    />
  </div>
</template>

<script>
import { api } from '@/api'
import { _debounce, getVisibilityChange, scrollTop, getScrollTop } from '@/utils/common'
import { allImgDomainNameMixin } from '@/assets/js/mixin'

export default {
  name: 'bidding-chick-details',
  mixins: [allImgDomainNameMixin],
  inject: ['reload'],
  data () {
    return {
      bidStatus: '0', // 1 - 未开始, 2 - 进行中, 3 - 已结束
      offerBid: false,
      bidSuccess: false,
      lengthOfCountdownTime: null, // 倒计时时长
      goodsDetail: {},
      chickList: [], // 鸡苗列表
      showInfo: true, // 显示项目信息折叠面板
      chickSelectList: [], // 鸡苗选中列表
      recordLastPrice: '', // 记录上一次出价（对于所有商品）
      showNumInput: false, // 显示数字键盘
      showNumInputType: 1, // 数字键盘类型（1-价格，2-数量）
      currentIndex: {} // 当前输入的列表下标
    }
  },
  watch: {
    bidStatus (newVal, oldVal) {
      if ((newVal !== oldVal) && (oldVal === '1' || oldVal === '2' || oldVal === '3')) {
        this.reload()
      }
    }
  },
  created () {
    this._getDetail() // 获取商品详情

    // 处理页面可见属性的改变 - 纠正服务器时间
    document.addEventListener(getVisibilityChange().visibilityChange, this.handleVisibilityChange, false)
  },
  methods: {
    showInfoClick () {
      let height = this.$refs.collapse.getBoundingClientRect().height
      if (height) { // 收缩
        this.$refs.collapse.style.height = height + 'px'
        // eslint-disable-next-line no-unused-vars
        let f = document.body.offsetHeight // 必加
        this.$refs.collapse.style.height = '0px'
        this.showInfo = false
      } else { // 展开
        this.$refs.collapse.style.height = 'auto'
        height = this.$refs.collapse.getBoundingClientRect().height
        this.$refs.collapse.style.height = '0px'
        // eslint-disable-next-line no-unused-vars
        let f = document.body.offsetHeight // 必加
        this.$refs.collapse.style.height = height + 'px'
        this.showInfo = true
      }
    },
    _offerSure: _debounce(function () {
      let params = {
        bidId: this.$route.query.id,
        priceList: this.chickSelectList
      }
      api.commonCall(params, 'saveUserBiddingPrice').then(res => {
        if (res.success) {
          this.offerBid = false
          this.bidSuccess = true
        } else {
          this.offerBid = false
          this.bidSuccess = false
          res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    }, 500),
    _successSure () {
      this.bidSuccess = false
      this.reload()
    },
    _return () {
      if (window.history.length > 1) {
        this.$router.go(-1)
      } else {
        this.$router.push('/')
      }
    },
    _getDetail () {
      let params = {
        id: this.$route.query.id,
        ownerId: JSON.parse(sessionStorage.getItem('userInfo')) && JSON.parse(sessionStorage.getItem('userInfo')).id
      }
      api.commonCall(params, 'bidChickensProjectDetails').then(res => {
        if (res.success) {
          this.goodsDetail = res.data
          this.chickList = res.data.bidChickensEntityInfo
          let nowTime = new Date(res.data.nowTime && res.data.nowTime.replace(/-/g, '/')).getTime()
          let beginTime = new Date(res.data.wens_biddingbegindate.replace(/-/g, '/')).getTime() // 开始时间
          let endTime = new Date(res.data.wens_biddingenddate.replace(/-/g, '/')).getTime() // 结束时间
          let NTime = beginTime - nowTime
          let ETime = endTime - nowTime

          // 设置倒计时
          if (NTime > 0) {
            this.bidStatus = '1'
            this.lengthOfCountdownTime = NTime
          } else if (NTime <= 0 && ETime >= 0) {
            this.bidStatus = '2'
            this.lengthOfCountdownTime = ETime
          } else {
            this.bidStatus = '3'
            this.lengthOfCountdownTime = 0
          }

          this.chickList.forEach(v => {
            this.$set(v, 'selected', false)
          })
        } else {
          res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    // 倒计时结束时触发
    finish () {
      if (this.bidStatus !== '0') {
        this.bidStatus = '3'
      }
    },
    toggle (index) {
      // this.$refs.checkboxes[index].toggle()
    },
    checkboxChange (item) {
      if (item.selected) {
        !item.offerPrice && this.$set(item, 'offerPrice', Number(item.wens_price).toFixed(2))
        !item.offerNumber && this.$set(item, 'offerNumber', item.wens_startvalue)
      } else {
        this.$set(item, 'offerPrice', '')
        this.$set(item, 'offerNumber', '')
      }
    },
    _priceCut (item) {
      let p1 = new this.$BigDecimal(item.offerPrice)
      let p3 = this.$BigDecimal.subtract(p1.getValue(), '0.1')
      if (p3 <= 0) {
        this.$toast('价格需大于0')
        return
      }
      this.$set(item, 'offerPrice', p3 + '')

      !item.selected && this.$set(item, 'selected', !item.selected)
    },
    _priceAdd (item) {
      let num1 = new this.$BigDecimal(item.offerPrice)
      let num3 = this.$BigDecimal.add(num1.getValue(), '0.1')
      this.$set(item, 'offerPrice', num3 + '')

      !item.selected && this.$set(item, 'selected', !item.selected)
    },
    _numCut (item) {
      this.$set(item, 'offerNumber', (+item.offerNumber - (+item.wens_addvalue || 1) > item.wens_startvalue ? +item.offerNumber - (+item.wens_addvalue || 1) : item.wens_startvalue) + '')

      !item.selected && this.$set(item, 'selected', !item.selected)
    },
    _numAdd (item) {
      this.$set(item, 'offerNumber', (+item.offerNumber + (+item.wens_addvalue || 1) > item.wens_total ? item.wens_total : +item.offerNumber + (+item.wens_addvalue || 1)) + '')

      !item.selected && this.$set(item, 'selected', !item.selected)
    },
    // 弹出数字键盘
    onShowInput (i, item, type) {
      if (this.showNumInput) return

      if (type === 1) { // 价格
        item.offerPrice && (this.recordLastPrice = item.offerPrice)
      }
      this.showNumInputType = type
      this.currentIndex = i
      this.showNumInput = true

      // 为了数字键盘不挡住输入框，将页面往上滚动
      this.$nextTick(() => {
        if (this.$refs.chickListRef[i]) {
          let distance = this.$refs.chickListRef[i].getBoundingClientRect().top + this.$refs.chickListRef[i].offsetHeight > window.innerHeight - this.$refs.numberKeyboard.$el.offsetHeight
            ? this.$refs.chickListRef[i].getBoundingClientRect().top + this.$refs.chickListRef[i].offsetHeight - (window.innerHeight - this.$refs.numberKeyboard.$el.offsetHeight)
            : 0
          scrollTop(window, getScrollTop(), getScrollTop() + distance, 300)
        }
      })
    },
    // 数字键盘输入
    onInput (num) {
      let item = this.chickList[this.currentIndex]
      if (this.showNumInputType === 1) { // 价格
        if (item.offerPrice) {
          if (num === '.' && item.offerPrice.indexOf(num) > -1) return // 只能输入最多一个小数点
          if (item.offerPrice.split('.')[1] && (item.offerPrice.split('.')[1].length >= 2 || item.offerPrice.split('.')[1].length + num.length > 2)) return // 如果存在小数点，小数点后只能输入最多两位数字
        }
        this.$set(item, 'offerPrice', item.offerPrice ? item.offerPrice + num + '' : num + '')
      } else if (this.showNumInputType === 2) { // 数量
        if (num === '.') return // 不能输入小数点
        this.$set(item, 'offerNumber', item.offerNumber ? item.offerNumber + num + '' : num + '')
      }
    },
    // 数字键盘删除
    onDelete () {
      let item = this.chickList[this.currentIndex]
      if (this.showNumInputType === 1) { // 价格
        if (!item.offerPrice) return
        let old = item.offerPrice
        this.$set(item, 'offerPrice', old.length - 1 > 0 ? old.substr(0, old.length - 1) + '' : '')
      } else if (this.showNumInputType === 2) { // 数量
        if (!item.offerNumber) return
        let old = item.offerNumber
        this.$set(item, 'offerNumber', old.length - 1 > 0 ? old.substr(0, old.length - 1) + '' : '')
      }
    },
    // 数字键盘关闭
    onBlur () {
      let item = this.chickList[this.currentIndex]
      if (this.showNumInputType === 1) { // 价格
        if (isNaN(item.offerPrice)) return
        if (+item.offerPrice > 0) {
          this.$set(item, 'offerPrice', Number(item.offerPrice).toFixed(2))
        } else {
          this.$set(item, 'offerPrice', this.recordLastPrice || Number(item.wens_price).toFixed(2))
          this.$toast('价格需大于0')
        }
        this.recordLastPrice = ''
      } else if (this.showNumInputType === 2) { // 数量
        if (isNaN(item.offerNumber)) return
        if (+item.offerNumber < +item.wens_startvalue) {
          this.$set(item, 'offerNumber', item.wens_startvalue)
          this.$toast('数量不得小于起拍数')
        } else if (+item.offerNumber > +item.wens_total) {
          this.$set(item, 'offerNumber', item.wens_total)
          this.$toast('数量不得大于总数')
        } else {
          this.$set(item, 'offerNumber', item.offerNumber)
        }
      }

      !item.selected && this.$set(item, 'selected', !item.selected)
      this.showNumInput = false
    },
    _signUp () {
      if (this.bidStatus === '2') {
        this.chickSelectList = []
        this.chickList.forEach(v => {
          if (v.selected) {
            this.chickSelectList.push({
              bidPrice: v.offerPrice,
              bidNum: v.offerNumber,
              itemId: v.wens_goodId,
              itemName: v.wens_goods,
              itemPicture: v.wens_picture,
              siteId: v.siteId
            })
          }
        })
        if (this.chickSelectList.length) {
          this.offerBid = true
        } else {
          this.$toast('请选择商品')
        }
      }
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.bidding-chick-details {
  min-height: calc(100vh - 210px);
  padding-top: 90px;
  padding-bottom: 120px;
  .details-top{
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;
    background-color: #ffffff;
    .details-top-title{
      width: 100%;
      height: 80px;
      p{
        font-family: "PingFang SC";
        font-size: 36px;
        color: #333A43;
        text-align: center;
        line-height: 80px;
        font-weight: bold;
        padding-right: 48px;
      }
    }
    .details-top-bottom{
      width: 100%;
      height: 66px;
      box-shadow: 0 1px 40px 10px #f5f5f5;
      .details-top-bottom-left{
        width: 188px;
        height: 100%;
        float: left;
        background-color: #F39801;
        p{
          font-family: "PingFang SC";
          font-size: 26px;
          color: #ffffff;
          text-align: center;
          line-height: 66px;
        }
      }
      .details-top-bottom-right{
        width: 562px;
        height: 100%;
        float: left;
        background-color: #444444;
        p{
          font-family: "PingFang SC";
          font-size: 26px;
          color: #ffffff;
          text-align: center;
          line-height: 66px;
          .van-count-down {
            display: inline;
            font-size: 26px;
            color: #ffffff;
          }
        }
      }
    }
  }
  .details-content{
    width: 100%;
    background: #F8F8F8;
    .details-content-info {
      background: #FFFFFF;
      margin-bottom: 18px;
      padding: 84px 0 6px 0;
      .info-title {
        padding-left: 42px;
        min-height: 50px;
        line-height: 50px;
        display: flex;
        align-items: center;
        .title {
          color: #3C3C3E;
          font-size: 36px;
          font-family: 'PingFangSC-Medium', 'PingFang SC';
          font-weight: bold;
          word-wrap: break-word;
          word-break: break-all;
        }
        .triangle-icon {
          display: inline-block;
          flex: 0 0 26px;
          width: 26px;
          height: 14px;
          margin: 0 22px;
          font-size: 26px;
          transition: transform 0.3s;
          &.triangle-down-icon {
            transform: rotate(180deg);
          }
        }
      }
      .info-list {
        transition: height 0.3s ease-in-out;
        will-change: height;
        overflow: hidden;
        .info-list-item {
          padding: 12px 0 10px 42px;
          display: flex;
          .border-1px(#D8D8D8);
          &:last-child {
            .border-none();
          }
          .info-list-item-left, .info-list-item-right {
            flex: 1;
          }
          .item-label {
            height: 34px;
            line-height: 34px;
            font-size: 24px;
            font-family: 'PingFangSC-Regular', 'PingFang SC';
            font-weight: 400;
            color: #999999;
          }
          .item-value {
            line-height: 40px;
            margin-top: 1px;
            font-size: 28px;
            font-family: 'PingFangSC-Regular', 'PingFang SC';
            font-weight: 400;
            color: #333333;
            &.text-red {
              color: red;
            }
          }
        }
      }
    }
    .details-content-chick-list {
      background: #ffffff;
      width: 100%;
      &.show-num-input {
        padding-bottom: 400px;
      }
      @{deep}.van-cell-group {
        &.van-hairline--top-bottom::after, .van-hairline-unset--top-bottom::after {
          border-width: 0 0 1px 0;
        }
        .van-cell {
          padding: 34px 42px 38px 34px;
          .van-checkbox {
            width: 100%;
            .van-checkbox__label {
              width: 100%;
              margin-left: 36px;
            }
          }
        }
      }
      .chick-list-info {
        width: 100%;
        height: 100%;
        overflow: hidden;
        .info-name {
          width: 100%;
          min-height: 50px;
          font-size: 36px;
          font-family: 'PingFangSC-Medium', 'PingFang SC';
          color: #3C3C3E;
          line-height: 50px;
          margin-bottom: 18px;
        }
        .chick-list-info-left {
          width: 220px;
          float: left;
          img {
            width: 220px;
            height: 220px;
            border-radius: 12px;
          }
        }
        .chick-list-info-right {
          width: calc(100% - 270px);
          float: left;
          margin-left: 44px;
          .info-right-item {
            min-height: 40px;
            font-size: 28px;
            font-family: 'PingFangSC-Regular', 'PingFang SC';
            font-weight: 400;
            color: #999999;
            line-height: 40px;
            padding-bottom: 8px;
            word-wrap: break-word;
            word-break: break-all;
            &:last-child {
              padding-bottom: 0;
            }
            span {
              color: #333333;
            }
          }
        }
      }
      .chick-list-bottom{
        width: 100%;
        height: 60px;
        margin-top: 20px;
        position: relative;
        .day{
          height: 60px;
          margin: 0 auto;
          overflow: hidden;
          .day-one{
            height: 100%;
            float: left;
            overflow: hidden;
            .day-one-left{
              float: left;
              width: 20px;
              height: 100%;
              margin-right: 10px;
              display: flex;
              align-items: center;
              justify-content: center;
              .icon-minus {
                font-size: 20px;
                color: #333333;
              }
            }
            .day-one-center{
              float: left;
              width: 180px;
              height: 60px;
              line-height: 60px;
              background-color: #EDEDED;
              border-radius: 12px;
              font-family: 'PingFangSC-Medium', 'PingFang SC';
              font-size: 26px;
              color: #333333;
              text-align: center;
              position: relative;
              .sign {
                font-size: 26px;
                position: absolute;
                top: 50%;
                left: 20px;
                transform: translateY(-50%);
              }
              input {
                box-sizing: border-box;
                width: 100%;
                padding: 0 20px 0 40px;
                border: 0;
                text-align: center;
                background: transparent;
              }
            }
            .day-one-right{
              float: left;
              width: 20px;
              height: 100%;
              margin-left: 10px;
              display: flex;
              align-items: center;
              justify-content: center;
              .icon-plus {
                font-size: 20px;
                color: #333333;
              }
            }
          }
          .day-two{
            height: 100%;
            float: right;
            overflow: hidden;
            .day-two-left{
              float: left;
              width: 20px;
              height: 100%;
              margin-right: 10px;
              display: flex;
              align-items: center;
              justify-content: center;
              .icon-minus {
                font-size: 20px;
                color: #333333;
              }
            }
            .day-two-center{
              float: left;
              width: 180px;
              height: 60px;
              line-height: 60px;
              background-color: #EDEDED;
              border-radius: 12px;
              font-family: 'PingFangSC-Medium', 'PingFang SC';
              font-size: 26px;
              color: #333333;
              text-align: center;
              position: relative;
              .unit {
                font-size: 26px;
                position: absolute;
                top: 50%;
                right: 20px;
                transform: translateY(-50%);
              }
              input {
                box-sizing: border-box;
                width: 100%;
                padding: 0 50px 0 20px;
                border: 0;
                text-align: center;
                background: transparent;
              }
            }
            .day-two-right{
              float: left;
              width: 20px;
              height: 100%;
              margin-left: 10px;
              display: flex;
              align-items: center;
              justify-content: center;
              .icon-plus {
                font-size: 20px;
                color: #333333;
              }
            }
          }
          &.selected {
            .day-one {
              .day-one-left{
                .icon-minus {
                  color: #F59900;
                }
              }
              .day-one-center {
                background-color: #F59900;
                color: #ffffff;
              }
              .day-one-right{
                .icon-plus {
                  color: #F59900;
                }
              }
            }
            .day-two {
              .day-two-left{
                .icon-minus {
                  color: #F59900;
                }
              }
              .day-two-center {
                background-color: #F59900;
                color: #ffffff;
              }
              .day-two-right{
                .icon-plus {
                  color: #F59900;
                }
              }
            }
          }
        }
      }
    }
  }
  .details-bottom{
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #F39801;
    p{
      font-family: 'PingFangSC-Medium', 'PingFang SC';
      color: #FFFFFF;
      font-size: 36px;
      text-align: center;
      line-height: 100px;
      font-weight: bold;
    }
    &.gray{
      background: #E8E9EB;
    }
  }
  .daz{
    width: 726px;
    height: 100px;
    margin: 0 auto;
    margin-top: 12px;
    background-color: #f39801;
    border-radius: 12px;
    &.gray{
      background: #E8E9EB;
    }
    p{
      text-align: center;
      line-height: 100px;
      font-family: "PingFang SC";
      font-size: 36px;
      color: #ffffff;
      font-weight: bold;
    }
  }
  @{deep}.van-popup {
    display: flex;
    flex-direction: column;
    -webkit-box-orient: vertical;
    align-items: stretch;
    max-height: 80%;
    overflow-y: visible;
    .wrap-top {
      flex-shrink: 0;
      .border-1px(#D8D8D8);
      .title {
        padding-left: 46px;
        height: 98px;
        line-height: 98px;
        color: #333333;
        font-size: 36px;
        font-weight: 600;
      }
    }
    .wrap-center {
      flex: 1 1 auto;
      max-height: calc(100% - 240px);
      padding: 0 50px;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      .lam-list {
        .lam-list-content {
          padding: 14px 0;
          &:not(:last-child) {
            .border-1px(#D8D8D8);
          }
          .lam-list-img {
            width: 78px;
            height: 78px;
            margin-right: 22px;
            display: inline-block;
            vertical-align: middle;
            img {
              width: 100%;
              height: 100%;
              border-radius: 12px;
            }
          }
          .lam-list-main {
            width: calc(100% - 100px);
            display: inline-block;
            vertical-align: middle;
            p {
              height: 40px;
              font-size: 32px;
              color: #333333;
              line-height: 40px;
              margin-bottom: 12px;
            }
            .list-main-price,
            .list-main-number {
              height: 40px;
              display: inline-block;
              font-size: 24px;
              color: #666666;
              line-height: 40px;
              .num {
                line-height: 40px;
                margin-right: 12px;
                font-size: 36px;
                font-family: 'AvenirLTStd-Black';
              }
            }
            .list-main-price {
              margin-right: 96px;
              .num {
                color: #E02020;
              }
            }
            .list-main-number {
              .num {
                color: #333333;
              }
            }
          }
        }
      }
    }
    .wrap-bottom {
      flex-shrink: 0;
      text-align: center;
      padding: 26px 48px 36px 46px;
      .border-before-1px(#D8D8D8);
      .btn{
        display: inline-block;
        vertical-align: middle;
        width: 320px;
        height: 80px;
        line-height: 80px;
        background-color: #F39801;
        border-radius: 12px;
        font-family: 'PingFangSC-Regular', 'PingFang SC';
        font-size: 36px;
        color: #FFFFFF;
        text-align: center;
        cursor: pointer;
        &:nth-child(1) {
          background-color: #A9ABAF;
          margin-right: 16px;
        }
      }
    }
  }

  .lah{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.2);
    z-index: 99999;
    .laj{
      width: 606px;
      height: 676px;
      position: absolute;
      top: 458px;
      left:72px;
      .bg-img("~@/assets/images/index-2/reminder-bg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% 100%;
      margin-top: -125px;
      border-radius: 24px;
      .lap{
        width: 100%;
        height: 126px;
        float: left;
        p{
          font-family: "PingFang SC";
          font-size: 32px;
          color: #FFFFFF;
          text-align: center;
          line-height: 110px;
        }
      }
      .laq{
        width: 100%;
        height: 550px;
        text-align: center;
        .laq-one{
          display: inline-block;
          width: 108px;
          height: 108px;
          border-radius: 90px;
          .bg-img("~@/assets/images/index-2/reminder-success");
          background-repeat: no-repeat;
          background-position: center;
          background-size: 100% 100%;
          margin-top: 66px;
        }
        h3{
          font-family: 'PingFangSC-Medium', 'PingFang SC';
          font-size: 36px;
          color: #48484A;
          margin-top: 16px;
          font-weight: bold;
        }
        p{
          width: 364px;
          font-family: 'PingFangSC-Regular', 'PingFang SC';
          font-size: 28px;
          color: #A9ABAF;
          margin: 24px auto 0 auto;
        }
        span{
          display: inline-block;
          width: 272px;
          height: 86px;
          background-color: #F39801;
          border-radius: 12px;
          font-size: 36px;
          font-family: 'PingFangSC-Regular', 'PingFang SC';
          color: #FFFFFF;
          line-height: 86px;
          text-align: center;
          margin-top: 58px;
        }
      }
    }
  }

  @{deep}.van-dialog {
    &.bidding-rules {
      top: 50%;
      width: 95%;
      border-radius: 20px;
      .van-dialog__content {
        height: 1000px;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
      }
      .van-dialog__confirm {
        color: #fff;
        background: linear-gradient(
          90deg,
          rgba(255, 107, 82, 1) 0%,
          rgba(227, 50, 64, 1) 100%
        );
      }
      &.disabled {
        .van-dialog__confirm {
          opacity: .5;
        }
      }
    }

    &.customer-choose {
      .van-dialog__content {
        padding: 48px 40px;
      }
    }
  }

  @{deep} .van-radio {
    font-size: 40px;
    .van-radio__icon {
      font-size: 40px;
      .van-icon {
        color: rgba(0, 0, 0, 0);
        width: 32px;
        height: 32px;
        position: relative;
        border: 0;
        background-color: transparent;
        &::before,
        &::after {
          content: " ";
          display: block;
          width: 32px;
          height: 32px;
          box-sizing: border-box;
          border-radius: 50%;
          position: absolute;
          left: 0;
          top: 4px;
          transition: all 0.2s;
        }
        &::before {
          border: 10px solid #F59900;
          opacity: 0;
        }
        &::after {
          border: 1px solid #c1c4ca;
          opacity: 1;
        }
      }
      &.van-radio__icon--checked {
        .van-icon-success {
          &::before {
            opacity: 1;
          }
          &::after {
            opacity: 0;
          }
        }
      }
      .van-icon-success {
        &::after {
          opacity: 1;
        }
        &::before {
          opacity: 0;
        }
      }
    }
  }
}
</style>
