<template>
  <div class="bidding-esign">
    <van-nav-bar title="竞价电子签" left-arrow fixed @click-left="_toReturn"></van-nav-bar>

    <van-pull-refresh v-model="isLoading" @refresh="onRefresh" v-if="esignList && esignList.length">
      <van-list v-model="loading" :finished="finished" @load="onLoad" :offset="200" finished-text="没有更多了">
        <ul class="esign-list">
          <li v-for="(item, index) in esignList" :key="index">
            <div class="item" @click="goDetails(item.flowId, item.level3OrgName)">
              <div class="content">
                <p class="text">{{item.level3OrgName}} 竞价协议</p>
                <span class="time">{{item.createDate}}</span>
              </div>
            </div>
          </li>
        </ul>
      </van-list>
    </van-pull-refresh>

    <div class="no-data-box" v-else>
      <no-data :loading="requestLoading"></no-data>
    </div>

    <!-- 置顶悬浮按钮 -->
    <scroll-to-top-hover-btn></scroll-to-top-hover-btn>
  </div>
</template>

<script>
import NoData from '@/components/no-data'
import ScrollToTopHoverBtn from '@/components/scroll-to-top-hover-btn/index'
import { api } from '@/api'

export default {
  name: 'bidding-esign',
  components: {
    NoData,
    ScrollToTopHoverBtn
  },
  data () {
    return {
      // 上拉加载及下拉刷新
      page: {
        index: 1,
        size: 6,
        total: 0
      },
      cacheList: [],
      loading: false, // 控制上拉加载的加载动画
      finished: false, // 控制在页面往下移动到底部时是否调用接口获取数据
      isLoading: false, // 控制下拉刷新的加载动画
      esignList: [], // 电子签列表
      requestLoading: false // 接口请求加载动画
    }
  },
  created () {
    this.getEsignList()
  },
  methods: {
    _toReturn () {
      this.$router.go(-1)
    },
    // 下拉刷新
    onRefresh () {
      this.page.index = 1
      this.cacheList = []
      this.getEsignList()
    },
    // 上拉加载
    onLoad () {
      this.page.index++
      this.getEsignList()
    },
    getEsignList () {
      let params = {
        pageNo: this.page.index,
        pageSize: this.page.size
      }
      api.commonCall(params, 'getBidEsignListByUser').then(res => {
        if (res.success) {
          this.cacheList = this.cacheList.concat(res.data.bidEsignList)
          this.esignList.splice(0, this.esignList.length, ...this.cacheList)
          this.page.total = res.data.count
          this.finished = false
          this.loading = false
          if (this.cacheList.length >= this.page.total) {
            this.finished = true
          }

          setTimeout(() => {
            this.isLoading = false
          }, 100)
        } else {
          res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    goDetails (flowId, title) {
      this.$router.push({
        path: 'biddingEsignDetails',
        query: {
          flowId,
          title
        }
      })
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.bidding-esign {
  padding-top: 92px;
  .esign-list {
    width: 100%;
    padding: 0 24px;
    box-sizing: border-box;
    overflow-x: hidden;
    .item {
      width: 100%;
      height: 150px;
      display: flex;
      align-items: center;
      .border-1px();
      .img-box {
        width: 144px;
        height: 90px;
        border-radius: 10px;
        overflow: hidden;
        flex: 0 0 144px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .content {
        margin-left: 24px;
        width: 500px;
        .text {
          width: 100%;
          font-size: 30px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          .van-read {
            display: inline-block;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            // background: rgb(50, 150, 255);
            background: #e33240;
            margin-right: 10px;
          }
        }
        .time {
          color: #8e939a;
          font-size: 24px;
        }
      }
    }
  }
}
</style>
