<template>
  <div class="bidding-history-wrapper">
    <van-nav-bar title="竞价" left-arrow @click-left="_toReturn"></van-nav-bar>

    <div class="content-history">
      <div class="content-history-top">
        <div class="notice">
          <span @click="_toForecast">竞价预告</span>
        </div>
        <div class="mad-job">
          <span @click="_toPanicBuy">正在疯抢</span>
        </div>
        <div class="history">
          <span>竞价历史</span>
        </div>
        <div class="bidding-win-notice">
          <span @click="_toAffiche">中标公告</span>
        </div>
      </div>
      <div class="content-history-content">
        <!-- <van-tabs v-model="active" :swipe-threshold="5" sticky swipeable class="head-tabs" @change="_changeTab">
          <van-tab v-for="(item, index) in myBiddingCatList" :key="index" :title="item.name"> -->
            <van-pull-refresh v-model="isLoading" @refresh="onRefresh" v-if="historyList && historyList.length">
              <van-list v-model="loading" :finished="finished" @load="onLoad" :offset="200" finished-text="没有更多了">
                <div class="dad" v-for="(item, index) in historyList" :key="index">
                  <div class="dad-picture">
                    <div class="one-price" v-if="item.biddingMode === '0'"></div>
                    <img v-lazy="allImgDomainName + item.itemThumbnail" alt :key="item.itemThumbnail">
                  </div>
                  <div class="dad-content" v-if="item.bidType === '1'">
                    <div class="dad-content-top">
                      <p>{{item.name}}</p>
                    </div>
                    <div class="dad-content-publisher">
                      <p>发布方：{{item.publishingOrgName}}</p>
                    </div>
                    <div class="dad-content-price">
                      <p>{{item.biddingMode !== '0' ? '最高价：' : '指导价：'}}</p>
                      <!-- <span>&yen;</span> -->
                      <h5>{{item.biddingMode !== '0' ? item.highestPrice : item.lowerPrice | keepTwoNum}}</h5>
                      <span>元/{{item.saleUnitName}}</span>
                    </div>
                    <div class="dad-content-bottom">
                      <div class="dah">
                        <div class="dah-top">
                          <p>出价次数<span> {{item.offerNum}} </span>次</p>
                        </div>
                        <div class="dah-bottom">
                          <p v-if="item.lengthOfCountdownTime > 0">剩余<van-count-down :time="item.lengthOfCountdownTime" format="DD天 HH:mm:ss"/></p>
                          <p v-else>已结束</p>
                        </div>
                      </div>
                      <div class="dai">
                        <div class="snatch" @click="_toDetail(item)">
                          <p>查看</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="dad-chick-content" v-else>
                    <div class="dad-chick-content-top">
                      <p>{{item.name}}</p>
                    </div>
                    <div class="dad-chick-content-main">
                      <p class="row">发布公司：{{item.publishingOrgName}}</p>
                      <p class="row" v-if="item.bidType === '3'">出苗日期：{{item.emergeDate}}</p>
                      <p class="row">开始时间：{{item.biddingBegindate}}</p>
                      <p class="row">结束时间：{{item.biddingEnddate}}</p>
                      <div class="snatch" @click="_toDetail(item)">
                        <p>查看</p>
                      </div>
                    </div>
                  </div>
                </div>
              </van-list>
            </van-pull-refresh>
            <div class="no-data-box" v-else>
              <no-data :loading="requestLoading"></no-data>
            </div>
          <!-- </van-tab>
        </van-tabs> -->
      </div>
    </div>

    <!-- 悬浮置顶按钮 -->
    <scroll-to-top-hover-btn></scroll-to-top-hover-btn>
  </div>
</template>

<script>
import NoData from '@/components/no-data'
import ScrollToTopHoverBtn from '@/components/scroll-to-top-hover-btn/index'
import { api } from '@/api'
import { allImgDomainNameMixin } from '@/assets/js/mixin'

export default {
  name: 'bidding-history',
  mixins: [allImgDomainNameMixin],
  data () {
    return {
      myBiddingCatList: [ // 竞价分类
        {
          name: '生猪',
          bidType: '1'
        },
        {
          name: '老鸡',
          bidType: '2'
        },
        {
          name: '鸡苗',
          bidType: '3'
        }
      ],
      active: 0, // 竞价分类下标，0：生猪，1：老鸡，2：鸡苗
      historyList: [],
      // 上拉加载及下拉刷新
      page: {
        index: 1,
        size: 6,
        total: 0
      },
      cacheList: [],
      loading: false, // 控制上拉加载的加载动画
      finished: false, // 控制在页面往下移动到底部时是否调用接口获取数据
      isLoading: false, // 控制下拉刷新的加载动画
      requestLoading: false // 接口请求加载动画
    }
  },
  created () {
    let query = this.$route.query
    this.active = +query.active || 0

    this._getHistoryList()
  },
  methods: {
    _changeTab (index) {
      if (+this.$route.query.index !== index) {
        this.$router.replace({
          path: '/biddingHistory',
          query: { active: index }
        })
      }
      this.page.index = 1
      this.cacheList = []
      this._getHistoryList()
    },
    // 下拉刷新
    onRefresh () {
      this.page.index = 1
      this.cacheList = []
      this._getHistoryList()
    },
    // 上拉加载
    onLoad () {
      this.page.index++
      this._getHistoryList()
    },
    _toReturn () {
      if (window.history.length > 1) {
        this.$router.go(-1)
      } else {
        this.$router.push('/')
      }
    },
    _toForecast () {
      this.$router.replace({
        path: '/biddingNotice'
      })
    },
    _toPanicBuy () {
      this.$router.replace({
        path: '/robbing'
      })
    },
    _toAffiche () {
      this.$router.replace({
        path: '/biddingWinNotice'
      })
    },
    _getHistoryList () {
      this.requestLoading = true
      let params = {
        pageSize: this.page.size,
        page: this.page.index
      }
      api.commonCall(params, 'queryHistoryBidding').then(res => {
        this.requestLoading = false
        if (res.success) {
          let nowTime = new Date(res.data.currentTime && res.data.currentTime.replace(/-/g, '/')).getTime() || new Date().getTime()
          res.data.list.forEach((v, i) => {
            let begin = new Date(v.biddingBegindate && v.biddingBegindate.replace(/-/g, '/')).getTime() // 开始日期
            let end = new Date(v.biddingEnddate && v.biddingEnddate.replace(/-/g, '/')).getTime() // 结束日期
            if (nowTime < begin) {
              this.$set(v, 'lengthOfCountdownTime', begin - nowTime)
            } else {
              this.$set(v, 'lengthOfCountdownTime', end - nowTime)
            }
          })

          this.cacheList = this.cacheList.concat(res.data.list)
          this.historyList.splice(0, this.historyList.length, ...this.cacheList)
          this.page.total = res.data.count
          this.finished = false
          this.loading = false

          if (this.cacheList.length >= this.page.total) {
            this.finished = true
          }

          setTimeout(() => {
            this.isLoading = false
          }, 100)
        } else {
          res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    _toDetail (item) {
      this.$router.push({
        path: item.bidType === '1' ? '/biddingDetails' : '/biddingChickDetails',
        query: {
          id: item.id
        }
      })
    }
  },
  components: {
    NoData,
    ScrollToTopHoverBtn
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

* {
  box-sizing: border-box;
}

.border-horizontal-2px(@color: #E8E9EB) {
  position: relative;
  &:after {
    content: ' ';
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    border-top: 4px solid @color;
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
      transform: scaleY(0.7);
      -webkit-transform: scaleY(0.7);
    }

    @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
      transform: scaleY(0.5);
      -webkit-transform: scaleY(0.5);
    }
  }
}

.bidding-history-wrapper {
  .content-history {
    width: 100%;
    height: 100%;
    .content-history-top {
      width: 100%;
      height: 88px;
      box-sizing: border-box;
      display: flex;
      .notice,
      .mad-job,
      .history,
      .bidding-win-notice {
        height: 100%;
        line-height: 100%;
        flex: 1;
        text-align: center;
        letter-spacing: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
          height: 54px;
          line-height: 54px;
          font-size: 26px;
          font-family: "PingFang SC";
          color: #767B81;
          font-weight: bold;
        }
      }
      .history {
        span {
          font-size: 32px;
          color: #E03C31;
          .border-horizontal-2px(#E03C31);
        }
      }
    }
  }
  .content-history-content {
    width: 100%;
    height: 100%;
  }
  .dac {
    width: 100%;
  }
  .dad {
    width: 698px;
    border-bottom: 2px solid #E6E6E6;
    margin: 0 auto;
    padding: 30px 0;
    overflow: hidden;
    .dad-picture {
      width: 280px;
      height: 248px;
      display: inline-block;
      vertical-align: top;
      overflow: hidden;
      position: relative;
      border-radius: 12px;
      .one-price{
        position: absolute;
        width: 86px;
        height: 32px;
        top: 0;
        left: 0;
        border-top-left-radius: 12px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        background: url("~@/assets/images/auction/one-price.svg") no-repeat center left;
        background-size: 100% 100%;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
    .dad-content {
      width: 418px;
      height: 248px;
      display: inline-block;
      vertical-align: top;
      padding: 0 12px;
      >div {
        clear: both;
      }
      .dad-content-top {
        width: 100%;
        height: 62px;
        p {
          display: block;
          width: 100%;
          font-family: "PingFang SC";
          font-size: 32px;
          color: #3C3C3E;
          font-weight: bold;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      .dad-content-publisher {
        width: 100%;
        height: 40px;
        line-height: 40px;
        p {
          font-family: "PingFang SC";
          font-size: 24px;
          color: #363638;
        }
      }
      .dad-content-price {
        width: 100%;
        height: 50px;
        line-height: 50px;
        p {
          font-family: "PingFang SC";
          font-size: 24px;
          color: #363638;
          display: inline-block;
        }
        span {
          font-family: "PingFang SC";
          font-size: 26px;
          color: #E63E32;
          display: inline-block;
        }
        h5 {
          font-family: 'AvenirLTStd-Black';
          font-size: 36px;
          color: #E63E32;
          display: inline-block;
        }
      }
      .dad-content-bottom {
        width: 100%;
        height: 96px;
        .dah {
          width: 65%;
          height: 100%;
          float: left;
          .dah-top {
            width: 100%;
            height: 48px;
            line-height: 48px;
            p {
              font-family: "PingFang SC";
              font-size: 24px;
              color: #363638;
            }
            span {
              font-family: "PingFang SC";
              font-size: 24px;
              color: #E63E32;
            }
          }
          .dah-bottom {
            width: 100%;
            height: 48px;
            line-height: 48px;
            p {
              font-family: "PingFang SC";
              font-size: 24px;
              color: #363638;
              .van-count-down {
                display: inline;
                font-family: "PingFang SC";
                font-size: 24px;
                color: #363638;
              }
            }
          }
        }
        .dai {
          width: 35%;
          height: 100%;
          float: left;
          position: relative;
          .snatch {
            width: 132px;
            height: 54px;
            border-radius: 12px;
            position: absolute;
            bottom: 0;
            background: #E63E32 url("~@/assets/images/auction/snatch-at-once@1x.png") no-repeat 100px center;
            background-size: 16px 16px;
            padding-right: 16px;
            p {
              font-family: "PingFang SC";
              font-size: 25px;
              color: #ffffff;
              text-align: center;
              line-height: 54px;
            }
          }
        }
      }
    }
    .dad-chick-content {
      width: 418px;
      height: 280px;
      display: inline-block;
      vertical-align: top;
      padding: 0 12px;
      position: relative;
      .dad-chick-content-top {
        width: 100%;
        height: 62px;
        p {
          display: block;
          width: 100%;
          font-family: "PingFang SC";
          font-size: 32px;
          color: #3C3C3E;
          font-weight: bold;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      .dad-chick-content-main {
        .row {
          font-family: "PingFang SC";
          font-size: 24px;
          color: #363638;
          height: 40px;
          line-height: 40px;
        }
        .snatch {
          width: 132px;
          height: 54px;
          border-radius: 12px;
          position: absolute;
          right: 0;
          bottom: 0;
          background: #E63E32 url("~@/assets/images/auction/snatch-at-once@1x.png") no-repeat 100px center;
          background-size: 16px 16px;
          padding-right: 16px;
          margin-right: 6px;
          p {
            font-family: "PingFang SC";
            font-size: 25px;
            color: #ffffff;
            text-align: center;
            line-height: 54px;
          }
        }
      }
    }
  }

  @{deep} .scroll-to-top-hover-btn-wrapper {
    bottom: 140px;
  }
}
</style>
