<template>
  <div class="record-wrap">
    <div class="record-top">
      <van-nav-bar title="我的竞价" left-arrow @click-left="_toReturn">
        <div slot="right" class="esign-icon" @click="toBiddingEsign">
          <span class="icon"></span>
          <span class="text">电子签</span>
        </div>
        <span slot="right" class="screen-btn" @click="showScreen = !showScreen"></span>
      </van-nav-bar>

      <div class="screen-wrap" v-if="showScreen">
        <div class="screen-item">
          <span>公司名称:</span>
          <div class="input-wrap">
            <!-- <input v-model="orgName" type="text" placeholder="请输入公司名称" /> -->
            <van-field
              v-model="orgName"
              type="text"
              clearable
              placeholder="请输入公司名称"
            />
          </div>
        </div>
        <div class="screen-item">
          <span>日期:</span>
          <div class="input-wrap date">
            <input v-model="startDate" type="text" readonly placeholder="请选择开始日期" @click="_startSelect" />
            <van-icon v-if="startDate" name="clear" @click.stop.prevent="onEmpty('startDate')"></van-icon>
          </div>
          <span class="link">--</span>
          <div class="input-wrap date">
            <input v-model="endDate" type="text" readonly placeholder="请选择结束日期" @click="_endSelect" />
            <van-icon v-if="endDate" name="clear" @click.stop.prevent="onEmpty('endDate')"></van-icon>
          </div>
        </div>
        <div class="screen-item" v-if="+active === 0">
          <span>项目状态:</span>
          <div class="input-wrap">
            <select v-model="bidStatus">
              <option v-for="item in bidStatusList" :value="item.value" :key="item.value">{{item.label}}</option>
            </select>
            <van-icon v-if="bidStatus" name="clear" @click.stop.prevent="onEmpty('bidStatus')"></van-icon>
          </div>
        </div>
        <div class="screen-item">
          <span>中标状态:</span>
          <div class="input-wrap">
            <select v-model="winningBidStatus">
              <option v-for="item in winningBidStatusList" :value="item.value" :key="item.value">{{item.label}}</option>
            </select>
            <van-icon v-if="winningBidStatus" name="clear" @click.stop.prevent="onEmpty('winningBidStatus')"></van-icon>
          </div>
        </div>
        <div class="screen-item" v-if="winningBidStatus === '1' && +active === 0">
          <span>是否弃标</span>
          <div class="input-wrap">
            <select v-model="abandonedStatus">
              <option v-for="item in abandonedStatusList" :value="item.value" :key="item.value">{{item.label}}</option>
            </select>
            <van-icon v-if="abandonedStatus" name="clear" @click.stop.prevent="onEmpty('abandonedStatus')"></van-icon>
          </div>
        </div>
        <div class="screen-item">
          <span class="cancel" @click="_clear">清空</span>
          <span class="check" @click="_search">查找</span>
        </div>
      </div>
    </div>

    <div class="record-content">
      <van-tabs v-model="active" sticky swipeable border @change="_changeTab">
        <van-tab v-for="(item, index) in biddingCatList" :title="item.name" :key="index">
          <van-pull-refresh v-model="isLoading" @refresh="onRefresh">
            <van-list v-model="loading" :finished="finished" @load="onLoad" :offset="200" finished-text="没有更多了" v-if="biddingList && biddingList.length">
              <div class="record-lest" v-for="(items, index) in biddingList" :key="index">
                <div class="lest-top">
                  <div class="lest-top-left">
                    <div class="lest-top-line"></div>
                    <p>{{items.orgName}}</p>
                  </div>
                  <div class="lest-top-content">
                    <!-- <p>日期：</p> -->
                    <span>{{items.createTime}}</span>
                  </div>
                  <div class="lest-top-right" v-if="+active === 0">
                    <span v-if="items.bidStatus === 'A'">未开始</span>
                    <span v-else-if="items.bidStatus === 'B'">竞价中</span>
                    <span v-else-if="items.bidStatus === 'C'">评标中</span>
                    <span v-else-if="items.bidStatus === 'D'">已定标</span>
                    <span v-else-if="items.bidStatus === 'E'">已发货</span>
                    <span v-else-if="items.bidStatus === 'F'">流标</span>
                  </div>
                  <div class="lest-top-right" v-else>
                    <span v-if="items.billStatus === 'A'">未开始</span>
                    <span v-else-if="items.billStatus === 'B'">竞价中</span>
                    <span v-else-if="items.billStatus === 'C'">评标中</span>
                    <span v-else-if="items.billStatus === 'D'">已定标</span>
                  </div>
                </div>
                <div class="lest-content">
                  <div class="lest-content-img">
                    <img v-lazy="allImgDomainName + items.itemThumbnail" alt :key="item.itemThumbnail">
                  </div>
                  <div class="lest-content-right" v-if="+active === 0">
                    <div class="lest-title">
                      <p>{{items.name}}</p>
                      <van-button
                        v-if="items.bidStatus === 'D' && +items.isWining === 1 && +items.isDelivered === 0 && items.abandonStatus !== 'B'"
                        :class="{'not-btn': items.abandonStatus === 'C'}"
                        @click="items.abandonStatus === 'A' && discardBid(items)"
                      >{{items.abandonStatus === 'A' ? '弃标' : '已弃标'}}</van-button>
                    </div>
                    <div class="lest-data">
                      <div>
                        <p>{{items.biddingMode !== '0' && items.bidType !== '3' ? '起拍价：' : '指导价：'}}</p>
                        <span v-if="items.lowPrice !== '0'">&yen;{{items.lowPrice | keepTwoNum}}元/{{items.bidType === '3' ? items.assistUnitName : items.saleUnitName}}</span>
                        <span v-else>敬请期待</span>
                      </div>
                      <div>
                        <p>竞价总数：</p>
                        <span>{{items.totalQty}}{{items.assistUnitName}}</span>
                      </div>
                    </div>
                    <div class="lest-data">
                      <p>{{items.biddingMode !== '0' ? '出价：' : '加价：'}}</p>
                      <span class="red">&yen;{{items.biddingMode !== '0' ? items.bidPrice : (items.markup || 0) | keepTwoNum}}元/{{items.bidType === '3' ? items.assistUnitName : items.saleUnitName}}</span>
                    </div>
                    <div class="lest-data">
                      <div>
                        <p>竞价数：</p>
                        <span>{{items.biddingMode !== '0' ? items.bidQty : items.totalQty}}{{items.assistUnitName}}</span>
                      </div>
                      <div>
                        <p>中标数：</p>
                        <span>{{items.winBigQty}}{{items.assistUnitName}}</span>
                      </div>
                    </div>
                    <div class="lest-data">
                      <div>
                        <p>冻结金额：</p>
                        <span>&yen;{{items.frozenAmount | keepTwoNum}}元</span>
                      </div>
                    </div>
                  </div>
                  <div class="lest-content-right" v-else>
                    <div class="lest-title">
                      <p>{{items.projectName}}</p>
                    </div>
                    <div class="lest-data">
                      <div>
                        <p>竞价总数：</p>
                        <span>{{items.totalNum}}只</span>
                      </div>
                    </div>
                    <div class="lest-data">
                      <div>
                        <p>竞价数：</p>
                        <span>{{items.totalBidNum}}只</span>
                      </div>
                    </div>
                    <div class="lest-data">
                      <div>
                        <p>中标数：</p>
                        <span>{{items.winNum}}只</span>
                      </div>
                    </div>
                    <div class="lest-data">
                      <div>
                        <p>冻结金额：</p>
                        <span>&yen;{{items.iceMoney | keepTwoNum}}元</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="lest-bottom">
                  <div class="lest-bottom-left">
                    <p>竞价编码：</p>
                    <span>{{items.bidType !== '3' ? items.number : items.projectNumber}}</span>
                  </div>
                  <div class="lest-bottom-right" @click="_toDetail(items)">
                    <p>竞价明细&nbsp;&gt;</p>
                  </div>
                </div>
              </div>
            </van-list>
            <div class="no-data-box" v-else>
              <no-data :loading="requestLoading"></no-data>
            </div>
          </van-pull-refresh>
        </van-tab>
      </van-tabs>
    </div>

    <!-- 日期选择 -->
    <van-popup v-model="startShow" position="bottom" :style="{ height: '40%' }">
      <van-datetime-picker
        v-model="startTime"
        type="date"
        title="选择开始日期"
        :max-date="maxStartDate"
        @cancel="startShow = false"
        @confirm="onStartDateConfirm"
      />
    </van-popup>
    <van-popup v-model="endShow" position="bottom" :style="{ height: '40%' }">
      <van-datetime-picker
        v-model="endTime"
        type="date"
        title="选择结束日期"
        show-toolbar
        :min-date="minEndDate"
        @cancel="endShow = false"
        @confirm="onEndDateConfirm"
      />
    </van-popup>

    <!-- 悬浮置顶按钮 -->
    <scroll-to-top-hover-btn></scroll-to-top-hover-btn>
  </div>
</template>

<script>
import ScrollToTopHoverBtn from '@/components/scroll-to-top-hover-btn/index'
import NoData from '@/components/no-data'
import { api } from '@/api'
import { allImgDomainNameMixin } from '@/assets/js/mixin'
import { zero, _debounce } from '@/utils/common'

export default {
  name: 'bidding-record',
  mixins: [allImgDomainNameMixin],
  components: {
    ScrollToTopHoverBtn,
    NoData
  },
  data () {
    return {
      showScreen: false, // 筛选显示
      orgName: null, // 公司名称
      startDate: null, // 开始日期
      endDate: null, // 结束日期
      biddingCatList: [ // 竞价分类
        {
          name: '生猪'
        },
        {
          name: '老鸡/鸡苗'
        }
      ],
      active: 0, // 竞价分类下标，0：生猪，1：老鸡/鸡苗
      winningBidStatus: null, // 中标状态
      winningBidStatusList: [
        {
          value: '0',
          label: '未中标'
        },
        {
          value: '1',
          label: '已中标'
        }
      ],
      bidStatus: null, // 项目状态
      bidStatusList: [
        {
          value: 'A',
          label: '未开始'
        },
        {
          value: 'B',
          label: '竞价中'
        },
        {
          value: 'C',
          label: '评标中'
        },
        {
          value: 'D',
          label: '已定标'
        },
        {
          value: 'E',
          label: '已发货'
        },
        {
          value: 'F',
          label: '流标'
        }
      ],
      abandonedStatus: null, // 是否弃标
      abandonedStatusList: [
        {
          value: '0',
          label: '未弃标'
        },
        {
          value: '1',
          label: '已弃标'
        }
      ],
      startShow: false,
      endShow: false,
      startTime: new Date(), // 当前选中开始日期
      endTime: new Date(), // 当前选中结束日期
      biddingList: [],
      // 上拉加载及下拉刷新
      page: {
        index: 1,
        size: 6,
        total: 0
      },
      cacheList: [],
      loading: false, // 控制上拉加载的加载动画
      finished: false, // 控制在页面往下移动到底部时是否调用接口获取数据
      isLoading: false, // 控制下拉刷新的加载动画
      ownerId: null,
      requestLoading: false // 接口请求加载动画
    }
  },
  computed: {
    maxStartDate () {
      const currentYear = new Date().getFullYear()
      return this.endDate ? new Date(this.endDate.replace(/-/g, '/')) : new Date(currentYear + 10, 11, 31)
    },
    minEndDate () {
      const currentYear = new Date().getFullYear()
      return this.startDate ? new Date(this.startDate.replace(/-/g, '/')) : new Date(currentYear - 10, 0, 1)
    }
  },
  watch: {
    $route () {
      let query = this.$route.query
      this.orgName = query.orgName || null
      this.startDate = query.startDate || null
      this.endDate = query.endDate || null
      this.bidStatus = query.bidStatus || null
      this.winningBidStatus = query.winningBidStatus || null
      this.abandonedStatus = query.abandonedStatus || null
      this.active = +query.active || 0
      this.page.index = 1
      this.cacheList = []
      this.biddingList = []
      if (this.active === 0) { // 生猪
        this._biddingList()
      } else { // 老鸡、鸡苗
        this._biddingChickenList()
      }
    },
    winningBidStatus (val) {
      if (val !== '1') {
        this.abandonedStatus = null
      }
    }
  },
  created () {
    let query = this.$route.query
    this.orgName = query.orgName || null
    this.startDate = query.startDate || null
    this.endDate = query.endDate || null
    this.bidStatus = query.bidStatus || null
    this.winningBidStatus = query.winningBidStatus || null
    this.abandonedStatus = query.abandonedStatus || null
    this.active = +query.active || 0
    this.page.index = 1
    this.cacheList = []
    this.biddingList = []
    if (this.active === 0) { // 生猪
      this._biddingList()
    } else { // 老鸡、鸡苗
      this._biddingChickenList()
    }
    this._initUserInfo()
  },
  methods: {
    _startSelect () {
      this.startShow = true
      this.startTime = this.startDate ? new Date(this.startDate.replace(/-/g, '/')) : new Date()
    },
    _endSelect () {
      this.endShow = true
      this.endTime = this.endDate ? new Date(this.endDate.replace(/-/g, '/')) : new Date()
    },
    onStartDateConfirm () {
      if (this.endDate && this.startTime > new Date(this.endDate.replace(/-/g, '/'))) {
        this.$toast('不能大于结束时间')
      } else {
        this.startDate = this.formatDate(this.startTime)
        this.startShow = false
      }
    },
    onEndDateConfirm () {
      if (this.startDate && this.endTime < new Date(this.startDate.replace(/-/g, '/'))) {
        this.$toast('不能小于开始时间')
      } else {
        this.endDate = this.formatDate(this.endTime)
        this.endShow = false
      }
    },
    // 格式化日期
    formatDate (date) {
      let _date = date || new Date()
      return `${_date.getFullYear()}-${zero(_date.getMonth() + 1)}-${zero(_date.getDate())}`
    },
    _search () {
      this.showScreen = false
      this.page.index = 1
      this.$router.replace({
        path: '/biddingRecord',
        query: {
          orgName: this.orgName,
          startDate: this.startDate,
          endDate: this.endDate,
          bidStatus: this.bidStatus,
          winningBidStatus: this.winningBidStatus,
          abandonedStatus: this.abandonedStatus,
          active: this.active
        }
      })
    },
    _clear () {
      this.showScreen = false
      this.orgName = null
      this.startDate = null
      this.endDate = null
      this.bidStatus = null
      this.winningBidStatus = null
      this.abandonedStatus = null
      this.page.index = 1

      this.$router.replace({
        path: '/biddingRecord',
        query: {
          active: this.active
        }
      })
    },
    onEmpty (item) {
      if (item === 'startDate') {
        this.startDate = null
      } else if (item === 'endDate') {
        this.endDate = null
      } else if (item === 'bidStatus') {
        this.bidStatus = null
      } else if (item === 'winningBidStatus') {
        this.winningBidStatus = null
      } else if (item === 'abandonedStatus') {
        this.abandonedStatus = null
      }
    },
    _changeTab (index) {
      if (+this.$route.query.index !== index) {
        this.$router.replace({
          path: '/biddingRecord',
          query: {
            orgName: this.orgName,
            startDate: this.startDate,
            endDate: this.endDate,
            bidStatus: this.bidStatus,
            winningBidStatus: this.winningBidStatus,
            abandonedStatus: this.abandonedStatus,
            active: this.active
          }
        })
      }
    },
    // 下拉刷新
    onRefresh () {
      this.page.index = 1
      this.cacheList = []
      this.biddingList = []
      if (this.active === 0) { // 生猪
        this._biddingList()
      } else { // 老鸡、鸡苗
        this._biddingChickenList()
      }
    },
    // 上拉加载
    onLoad () {
      this.page.index++
      if (this.active === 0) { // 生猪
        this._biddingList()
      } else { // 老鸡、鸡苗
        this._biddingChickenList()
      }
    },
    _toReturn () {
      this.$router.go(-1)
    },
    _biddingList () {
      this.requestLoading = true
      let params = {
        orgName: this.orgName,
        startDate: this.startDate,
        endDate: this.endDate,
        bidStatus: this.bidStatus,
        isWining: this.winningBidStatus,
        abandoned: this.abandonedStatus,
        pageSize: this.page.size,
        page: this.page.index
      }
      api.commonCall(params, 'getBidProject').then(res => {
        this.requestLoading = false
        if (res.success) {
          this.cacheList = this.cacheList.concat(res.data.list)
          this.biddingList.splice(0, this.biddingList.length, ...this.cacheList)
          this.page.total = res.data.count
          this.finished = false
          this.loading = false

          if (this.cacheList.length >= this.page.total) {
            this.finished = true
          }

          setTimeout(() => {
            this.isLoading = false
          }, 100)
        } else {
          setTimeout(() => {
            this.isLoading = false
          }, 100)
          res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    _initUserInfo () {
      this.ownerId = JSON.parse(sessionStorage.getItem('userInfo')) && JSON.parse(sessionStorage.getItem('userInfo')).id
      if (!this.ownerId) {
        api.userInfo().then(res => {
          if (res.success) {
            this.ownerId = res.data.id
          } else {
            res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
          }
        })
      }
    },
    _toDetail (item) {
      this.$router.push({
        path: '/biddingRecordDetails',
        query: {
          id: item.id,
          ownerId: this.ownerId,
          bidObj: JSON.stringify(item),
          bidType: item.bidType
        }
      })
    },
    discardBid (item) {
      if (+item.winBigQty === +item.bidQty) { // 当中标数量等于竟拍数量，弃标提示扣除保证金
        this.$dialog.confirm({
          title: '提示',
          message: '弃标后将会扣除保证金！确定要弃标吗？'
        }).then(() => {
          this.bidAbandonApply(item.id)
        }).catch(() => {

        })
      } else if (+item.winBigQty < +item.bidQty) { // 当中标数量小于竟拍数量，不提示
        this.$dialog.confirm({
          title: '提示',
          message: '确定要弃标吗？'
        }).then(() => {
          this.bidAbandonApply(item.id)
        }).catch(() => {

        })
      } else { // 当中标数量大于竟拍数量，提示无法弃标
        this.$dialog.confirm({
          title: '提示',
          message: '中标数大于竞价数，不允许弃标！'
        }).then(() => {

        }).catch(() => {

        })
      }
    },
    bidAbandonApply: _debounce(function (bidId) {
      api.commonCall({ bidId }, 'bidAbandonApply').then(res => {
        if (res.success) {
          this.$toast.success('弃标成功，等待审核')
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    }, 500),
    // 跳转到竞价电子签
    toBiddingEsign () {
      this.$router.push('/biddingEsign')
    },
    _biddingChickenList () {
      this.requestLoading = true
      let params = {
        orgName: this.orgName || '',
        startDate: this.startDate || '',
        endDate: this.endDate || '',
        bidStatus: this.winningBidStatus || '',
        pageSize: this.page.size,
        page: this.page.index
      }
      api.commonCall(params, 'queryBiddingRecordList').then(res => {
        this.requestLoading = false
        if (res.success) {
          this.cacheList = this.cacheList.concat(res.data.list)
          this.biddingList.splice(0, this.biddingList.length, ...this.cacheList)
          this.page.total = res.data.count
          this.finished = false
          this.loading = false

          if (this.cacheList.length >= this.page.total) {
            this.finished = true
          }

          setTimeout(() => {
            this.isLoading = false
          }, 100)
        } else {
          setTimeout(() => {
            this.isLoading = false
          }, 100)
          res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.record-wrap{
  width: 100%;
  min-height: 100vh;
  // overflow-y: auto;
  // -webkit-overflow-scrolling: touch;
  background-color: #F8F8F8;
  .record-top{
    position: relative;
    @{deep}.van-nav-bar {
      .van-nav-bar__right {
        .screen-btn{
          margin-left: 32px;
          display: block;
          width: 48px;
          height: 42px;
          background: url("~@/assets/images/index-2/screening-icon.svg") no-repeat center;
          background-size: 48px 42px;
        }
        .esign-icon {
          display: flex;
          // flex-direction: column;
          align-items: center;
          justify-content: center;
          .icon {
            display: inline-block;
            width: 48px;
            height: 48px;
            background-size: 48px 48px;
            background-position: center;
            background-repeat: no-repeat;
            .bg-img("~@/assets/images/auction/e-sign");
          }
          .text {
            color: #666666;
            font-size: 24px;
          }
        }
      }
    }
    .screen-wrap{
      width: 100%;
      background: white;
      box-sizing: border-box;
      padding: 20px 44px 0 32px;
      font-size: 0;
      .screen-item{
        font-size: 0;
        padding-top: 5px;
        padding-bottom: 20px;
        span{
          display: inline-block;
          vertical-align: top;
          width: 20%;
          font-size: 28px;
          font-family: PingFangSC-Medium, PingFang SC;
          color: #434349;
          line-height: 54px;
          &.link {
            width: 10%;
            font-size: 36px;
            text-align: center;
          }
          &.check, &.cancel {
            width: 330px;
            height: 80px;
            line-height: 80px;
            font-size: 32px;
            border-radius: 16px;
            color: #FFFFFF;
            box-sizing: border-box;
            text-align: center;
            &:active {
              opacity: 0.9;
            }
          }
          &.check {
            margin-left: 14px;
            background-color: #F59900;
          }
          &.cancel {
            background-color: #A9ABAF;
          }
        }
        .input-wrap{
          display: inline-block;
          width: 80%;
          height: 54px;
          border: 1px solid #979797;
          border-radius: 4px;
          box-sizing: border-box;
          position: relative;
          &.date{
            width: 35%;
            position: relative;
            @{deep}.van-icon-clear {
              position: absolute;
              right: 0;
              height: 50px;
              line-height: 50px;
              padding: 0 10px;
              font-size: 26px;
              color: #8e939a;
              vertical-align: middle;
            }
          }
          @{deep}.van-field {
            height: 100%;
            padding: 0 10px;
            font-size: 28px;
            box-sizing: border-box;
            .van-field__control {
              color: #2e3033;
            }
            .van-field__clear {
              padding: 0 16px;
            }
          }
          input{
            width: 100%;
            height: 100%;
            font-size: 28px;
            border: none;
            box-sizing: border-box;
            padding: 0 10px;
            &::placeholder {
              color: #969799;
            }
          }
          select{
            width: 100%;
            height: 100%;
            font-size: 28px;
            border: none;
            box-sizing: border-box;
            padding: 0 10px;
            background-color: #fff;
          }
          @{deep}.van-icon-clear {
            position: absolute;
            right: 0;
            height: 50px;
            line-height: 50px;
            padding: 0 10px;
            font-size: 26px;
            color: #8e939a;
            vertical-align: middle;
            background-color: #fff;
          }
        }
      }
    }
  }
  .record-content{
    width: 100%;
    min-height: 700px;
    background-color: #F8F8F8;
    .record-lest{
      width: 726px;
      margin: 20px auto 0;
      background-color: #FFFFFF;
      border-radius: 10px;
      .lest-top{
        width: 100%;
        height: 59px;
        box-sizing: border-box;
        border-bottom: 1px solid #F1EFF8;
        .lest-top-left{
          width: 33%;
          height: 100%;
          float: left;
          .lest-top-line{
            width: 4px;
            height: 26px;
            float: left;
            background-color: #F17533;
            margin-top: 18px;
            margin-right: 10px;
          }
          p{
            font-family: "PingFang SC";
            float: left;
            line-height: 57px;
            font-size: 24px;
            color: #48484A;
            width: 94%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
        .lest-top-content{
          width: 52%;
          height: 100%;
          float: left;
          p{
            font-size: 24px;
            font-family: "PingFang SC";
            color: #48484a;
            line-height: 57px;
            float: left;
          }
          span{
            font-size: 24px;
            font-family: "PingFang SC";
            color: #48484a;
            line-height: 57px;
            float: left;
          }
        }
        .lest-top-right{
          width: 13%;
          height: 100%;
          float: left;
          font-size: 24px;
          font-family: "PingFang SC";
          color: #E51C23;
          line-height: 57px;
          text-align: left;
        }
      }
      .lest-content{
        width: 100%;
        height: 248px;
        padding: 15px 0;
        border-bottom: 1px solid #F1EFF8;
        .lest-content-img{
          width: 248px;
          height: 248px;
          float: left;
          margin-left: 12px;
          border-radius: 12px;
          img{
            width: 248px;
            height: 248px;
          }
        }
        .lest-content-right{
          width: 454px;
          height: 248px;
          float: left;
          margin-left: 12px;
          .lest-title{
            width: 100%;
            height: 60px;
            font-family: "PingFang SC";
            font-size: 30px;
            color: #363638;
            text-align: left;
            line-height: 60px;
            font-weight: bold;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            p {
              display: inline-block;
              max-width: 340px;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
            @{deep}.van-button {
              float: right;
              font-size: 24px;
              color: #fff;
              background-color: #E33240;
              border-color: #E33240;
              height: 40px;
              line-height: 40px;
              padding: 0 8px;
              margin-right: 16px;
              margin-top: 10px;
              &.not-btn {
                opacity: 0.5;
              }
            }
          }
          .lest-data {
            width: 100%;
            height: 44px;
            display: flex;
            &:nth-of-type(2) {
              margin-top: 12px;
            }
            >div {
              flex: 1;
              overflow: hidden;
              // text-overflow: ellipsis;
              white-space: nowrap;
            }
            p{
              font-family: "PingFang SC";
              font-size: 24px;
              color: #48484A;
              display: inline-block;
              line-height: 44px;
            }
            span{
              font-family: "PingFang SC";
              font-size: 24px;
              color: #898C9C;
              display: inline-block;
              line-height: 44px;
              &.red {
                color: #E51C23;
              }
            }
          }
        }
      }
      .lest-bottom{
        width: 100%;
        height: 74px;
        .lest-bottom-left{
          height: 100%;
          float: left;
          p{
            font-family: "PingFang SC";
            font-size: 24px;
            color: #48484A;
            float: left;
            line-height: 74px;
            margin-left: 16px;
          }
          span{
            font-size: 24px;
            color: #898C9C;
            font-family: "PingFang SC";
            float: left;
            line-height: 74px;
          }
        }
        .lest-bottom-right{
          height: 100%;
          float: right;
          p{
            font-family: "PingFang SC";
            font-size: 24px;
            color: #214E90;
            text-align: left;
            line-height: 74px;
            margin-right: 16px;
          }
        }
      }
    }
  }
  .no-data-box {
    height: calc(100vh - 100px);
  }
}
</style>
