<template>
  <div class="bidding-offer">
    <div class="offer-top-title">
      <van-nav-bar title="出价记录" left-arrow @click-left="_toReturn"></van-nav-bar>
    </div>
    <div class="offer-content">
      <div class="offer-top" :class="{'fixed': getScrollTop1 > 0}">
        <div class="offer-top-content">
          <div class="dat">状态</div>
          <div class="dau">出价用户</div>
          <div class="dav">竞价价格</div>
          <div class="dax">时间</div>
        </div>
      </div>
      <div class="eab" v-for="(item, index) in offerList.bisList" :key="index">
        <div class="eab-one">
          <div class="eab-one-bt" v-if="item.bidStatus === 'A'">领先</div>
          <div class="eab-one-bt" v-else-if="item.bidStatus === 'B'">排队</div>
          <div class="eab-one-bt invalid" v-else-if="item.bidStatus === 'C'">出局</div>
        </div>
        <div class="eab-two"><span>{{item.customerNumber}}{{item.isMy === '1' ? '(我)' : ''}}</span></div>
        <div class="eab-three">&yen;{{item.bidAmount}}</div>
        <div class="eab-four"><p>{{item.bidTime}}</p></div>
      </div>
      <div class="no-list"  v-if="offerList.count === 0">
        <img src="@/assets/images/auction/no-list.png">
      </div>
    </div>

    <!-- 悬浮置顶按钮 -->
    <scroll-to-top-hover-btn :displayDistance="44"></scroll-to-top-hover-btn>
  </div>
</template>

<script>
import ScrollToTopHoverBtn from '@/components/scroll-to-top-hover-btn/index'
import { api } from '@/api'
import { getScrollTop } from '@/utils/common'

export default {
  name: 'bidding-offer',
  components: {
    ScrollToTopHoverBtn
  },
  data () {
    return {
      offerList: {},
      getScrollTop1: 0 // 距离顶部高度
    }
  },
  created () {
    window.addEventListener('scroll', this.handleScroll)
  },
  mounted () {
    this._getList()
  },
  methods: {
    _getList () {
      let params = {
        id: this.$route.query.id
      }
      api.commonCall(params, 'wsBidRecordList').then(res => {
        if (res.success) {
          res.data.bisList.forEach(item => {
            if (item.customerNumber) {
              item.customerNumber = item.customerNumber.replace('JJBM-20', '')
              item.customerNumber = item.customerNumber.replace(item.customerNumber.substring(7, 10), '***')
            }
          })
          this.offerList = res.data
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    _toReturn () {
      this.$router.go(-1)
    },
    // 监听滚动事件
    handleScroll () {
      this.getScrollTop1 = getScrollTop() - 44
    }
  },
  destroyed () {
    window.removeEventListener('scroll', this.handleScroll)
  }
}
</script>

<style lang="less" scoped>
.bidding-offer {
  .offer-content{
    width: 100%;
    .offer-top{
      width: 100%;
      height: 88px;
      background-color: #ffffff;
      border-bottom: 2px solid #f8f8f8;
      box-sizing: border-box;
      &.fixed {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
      }
      .offer-top-content{
        width: 726px;
        height: 88px;
        margin: 0 auto;
        .dat, .dau, .dav, .dax {
          height: 100%;
          float: left;
          font-family: "PingFang SC";
          font-size: 28px;
          color: #48484A;
          text-align: center;
          line-height: 88px;
          font-weight: bold;
        }
        .dat{
          width: 20%;
        }
        .dau{
          width: 35%;
        }
        .dav{
          width: 20%;
        }
        .dax{
          width: 25%;
        }
      }
    }
    .eab{
      width: 726px;
      height: 109px;
      background-color: #ffffff;
      margin: 0 auto;
      box-sizing: border-box;
      border-bottom: 2px solid #f8f8f8;
      .eab-one{
        width: 20%;
        height: 100%;
        float: left;
        text-align: center;
        line-height: 109px;
        .eab-one-bt{
          width: 100px;
          height: 36px;
          background-color: #F39801;
          font-family: "PingFang SC";
          font-size: 24px;
          color: #ffffff;
          display: inline-block;
          text-align: center;
          border-radius: 4px;
          line-height: 36px;
          &.invalid{
            background: #E8E9EB;
          }
        }
      }
      .eab-two{
        width: 35%;
        height: 100%;
        float: left;
        font-family: "PingFang SC";
        font-size: 24px;
        color: #48484A;
        text-align: center;
        line-height: 109px;
        word-wrap: break-word;
        word-break: break-all;
        overflow: hidden;
        span {
          display: inline-block;
          line-height: 36px;
        }
       }
      .eab-three{
        width: 20%;
        height: 100%;
        float: left;
        font-family: "PingFang SC";
        font-size: 24px;
        color: #48484A;
        text-align: center;
        line-height: 109px;
      }
      .eab-four{
        width: 25%;
        height: 100%;
        float: left;
        text-align: center;
        p{
          width: 100%;
          font-family: "PingFang SC";
          font-size: 24px;
          color: #48484A;
          text-align: center;
          position: relative;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
    .no-list{
      width: 100%;
      background: #FFFFFF;
      text-align: center;
      img{
        display: inline-block;
        width: 80%;
      }
    }
  }
}
</style>
