<template>
  <membership-wrapper
    class="bond-return-application"
    title="保证金退还申请"
    :left-arrow="true"
  >
    <div class="van-content">
      <div>
        <!-- 三级公司 -->
        <div class="three-level-company required">
          <span>三级公司</span>
          <div class="content-right" @click="!$route.query.id && select('three_level_company')">
            <span>{{threeLevelCompanySelected.name || '请选择三级公司'}}</span>
            <div class="arrow" v-if="!$route.query.id">
              <van-icon name="arrow"></van-icon>
            </div>
          </div>
        </div>

        <!-- 司机公司 -->
        <div class="four-level-company required">
          <span>四级公司</span>
          <div class="content-right" @click="select('four_level_company')">
            <span>{{fourLevelCompanySelected.name || '请选择四级公司'}}</span>
            <div class="arrow">
              <van-icon name="arrow"></van-icon>
            </div>
          </div>
        </div>

        <!-- 可退还余额 -->
        <div class="available-balance">
          <span>可用余额(元)</span>
          <div class="content-right">
            <span>{{threeLevelCompanySelected.useableAmount | keepTwoNum}}</span>
          </div>
        </div>

        <!-- 充值金额 -->
        <div class="input-amount required">
          <span>退还金额(元)</span>
          <div class="content-right">
            <van-field
              class="from-input"
              v-model="inputMoney"
              readonly
              clearable
              placeholder="请输入金额"
              @click.stop="() => {}"
              @touchstart.native.stop="onShowInput"
            >
              <div class="clear-btn" slot="button" v-if="showNumInput">
                <van-icon name="clear" @click.stop.prevent="onEmpty"></van-icon>
              </div>
            </van-field>
            <div class="arrow">
              <van-icon name="arrow"></van-icon>
            </div>
          </div>
        </div>
      </div>

      <bottom-button :btns="[{ text: '提交', color: 'red' }]" @on-btn="onBtn"></bottom-button>
    </div>

    <!-- 数字键盘 -->
    <van-number-keyboard
      :show="showNumInput"
      theme="custom"
      :extra-key="['00', '.']"
      close-button-text="确定"
      @blur="onBlur"
      @input="onInput"
      @delete="onDelete"
    />

    <!-- 上拉框 -->
    <pull-up-selection
      :data="pullUpSelectionList"
      :show="showPullUpSelection"
      @cancel="cancelSelect"
      :title="pullUpTitle"
      @selected="pullUpSelected"
    ></pull-up-selection>
  </membership-wrapper>
</template>

<script>
import MembershipWrapper from '@/components/membership-center/membership-wrapper'
import BottomButton from '@/components/bottom-button'
import PullUpSelection from '@/components/pull-up-selection'
import { api } from '@/api'
import { _debounce } from '@/utils/common'

const moneyReg = /^(([1-9][0-9]*)|(([0]\.\d{1,2}|[1-9][0-9]*\.\d{1,2})))$/ // 判断是否为金额（小数点后2位的数字）

export default {
  name: 'bond-return-application',
  data () {
    return {
      result: true, // 充值结果
      inputMoney: '', // 输入退还金额
      showNumInput: false, // 显示数字键盘
      showPullUpSelection: false, // 显示上拉框
      pullUpSelectionList: [], // 上拉框显示列表
      pullUpTitle: '', // 上拉框标题
      threeLevelCompanyList: [], // 三级公司列表
      threeLevelCompanySelected: {}, // 选中三级公司
      fourLevelCompanyList: [], // 四级公司列表
      fourLevelCompanySelected: {}, // 选中四级公司
      isSubmitFlag: false // 记录提交状态
    }
  },
  computed: {

  },
  created () {
    let query = this.$route.query
    if (query.id) {
      this.threeLevelCompanySelected = {
        id: query.id,
        name: query.name,
        useableAmount: query.useableAmount
      }
      this.queryFourLevelCompany(this.threeLevelCompanySelected.id)
    } else {
      this.getThreeLevelCompany()
    }
  },
  methods: {
    // 弹出数字键盘
    onShowInput () {
      if (!this.showNumInput) {
        this.showNumInput = true
      }
    },
    // 数字键盘输入
    onInput (num) {
      if (num === '.' && this.inputMoney.indexOf(num) > -1) return // 只能输入最多一个小数点
      if (this.inputMoney.split('.')[1] && this.inputMoney.split('.')[1].length >= 2) return // 如果存在小数点，小数点后只能输入最多两位数字
      this.inputMoney += num + ''
    },
    // 数字键盘删除
    onDelete () {
      let old = this.inputMoney
      this.inputMoney = old.length - 1 > 0 ? old.substr(0, old.length - 1) + '' : ''
    },
    // 数字键盘关闭
    onBlur () {
      // 金额处理：补充小数点及后两位
      if (this.inputMoney && this.inputMoney.trim() !== '') {
        let rs = this.inputMoney.indexOf('.')
        if (rs < 0) {
          rs = this.inputMoney.length
          this.inputMoney += '.'
        }
        while (this.inputMoney.length <= rs + 2) {
          this.inputMoney += '0'
        }

        // 检查是否时正确的金额，否则重新输入
        if (!this.threeLevelCompanySelected || !this.threeLevelCompanySelected.id) {
          this.inputMoney = ''
          this.$toast('请先选择三级公司')
        } else if (!moneyReg.test(this.inputMoney)) {
          this.inputMoney = ''
          this.$toast('请输入正确的金额')
        } else if (this.threeLevelCompanySelected.useableAmount && parseFloat(this.inputMoney) > this.threeLevelCompanySelected.useableAmount) {
          this.inputMoney = this.threeLevelCompanySelected.useableAmount.toFixed(2) + ''
          this.$toast('不能超过可用金额')
        }
      }
      this.showNumInput = false
    },
    // 数字清空
    onEmpty () {
      this.inputMoney = ''
    },
    // 选择
    select (type) {
      this.pullUpSelectionList.splice(0, this.pullUpSelectionList.length)
      if (type === 'three_level_company') {
        this.pullUpTitle = '选择三级公司'
        this.pullUpSelectionList = this.threeLevelCompanyList.map(v => {
          return {
            name: v.orgName,
            id: v.orgId,
            useableAmount: v.useableAmount
          }
        })
        this.showPullUpSelection = true
      } else if (type === 'four_level_company') {
        if (!this.threeLevelCompanySelected || !this.threeLevelCompanySelected.id) {
          this.$toast('请先选择三级公司')
        } else {
          this.pullUpTitle = '选择四级公司'
          if (!this.fourLevelCompanyList || !this.fourLevelCompanyList.length) {
            this.$toast('无可选的四级公司')
          } else {
            this.pullUpSelectionList = this.fourLevelCompanyList.map(v => {
              return {
                name: v.orgName,
                id: v.orgId
              }
            })
            this.showPullUpSelection = true
          }
        }
      }
    },
    // 取消选择上拉
    cancelSelect () {
      this.showPullUpSelection = false
    },
    // 上拉选中
    pullUpSelected (item, index) {
      if (this.pullUpTitle === '选择三级公司') {
        this.threeLevelCompanySelected = this.pullUpSelectionList.find(v => v.id === item.id)
        this.fourLevelCompanySelected = {}
        this.queryFourLevelCompany(this.threeLevelCompanySelected.id)
      } else if (this.pullUpTitle === '选择四级公司') {
        this.fourLevelCompanySelected = this.pullUpSelectionList.find(v => v.id === item.id)
      }
      this.showPullUpSelection = false
    },
    // 获取三级公司列表
    getThreeLevelCompany () {
      api.commonCall({ page: 1, pageSize: 999 }, 'queryMarginRecordList').then(res => {
        if (res.success) {
          this.threeLevelCompanyList = res.data.list
        }
      })
    },
    // 根据三级公司查询四级公司列表
    queryFourLevelCompany (orgId) {
      api.commonCall({ orgId }, 'getLevelFourOrgs').then(res => {
        if (res.success) {
          this.fourLevelCompanyList = res.data.levelFourOrgInfos
        } else {
          res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    // 点击提交按钮
    onBtn (item) {
      if (!this.threeLevelCompanySelected || !this.threeLevelCompanySelected.id) {
        this.$toast('请选择三级公司')
      } else if (!this.fourLevelCompanySelected || !this.fourLevelCompanySelected.id) {
        this.$toast('请选择四级公司')
      } else if (!this.inputMoney || !moneyReg.test(this.inputMoney)) {
        this.$toast('请输入正确的金额')
      } else if (parseFloat(this.inputMoney) > this.threeLevelCompanySelected.useableAmount) {
        this.inputMoney = this.threeLevelCompanySelected.useableAmount.toFixed(2) + ''
        this.$toast('不能超过可用金额')
      } else {
        this.bidRefundApply()
      }
    },
    bidRefundApply: _debounce(function () {
      if (this.isSubmitFlag) return
      this.isSubmitFlag = true

      let params = {
        levelFourOrgId: this.fourLevelCompanySelected && this.fourLevelCompanySelected.id,
        refundAmount: this.inputMoney
      }

      api.commonCall(params, 'bidRefundApply').then(res => {
        if (res.success) {
          this.$toast.success('提交成功')
          setTimeout(() => {
            this.$router.go(-1)
          }, 500)
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
          setTimeout(() => {
            this.isSubmitFlag = false
          }, 1000)
        }
      })
    }, 500)
  },
  components: {
    MembershipWrapper,
    BottomButton,
    PullUpSelection
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.play {
  width: 202px;
  height: 202px;
  font-size: 130px;
  color: black;

  &::before {
    display: inline-block;
  }
}

.bond-return-application {
  .format-img {
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .active {
    position: relative;
    transform: rotate(0deg);
    overflow: hidden;

    &:active {
      &::before {
        content: " ";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background: rgba(0, 0, 0, 0.08);
      }
    }
  }

  .van-content {
    height: calc(100% - 92px);
    -webkit-overflow-scrolling: touch;
    overflow: auto;
    background: white;
  }

  .dividing-line {
    height: 20px;
    background: #f5f5f5;
  }

  .three-level-company, .four-level-company, .available-balance {
    padding: 35px 24px;
    &.required {
      &::before {
        position: absolute;
        left: 10px;
        color: #ee0a24;
        font-size: 28px;
        content: '*';
      }
    }
    > span {
      font-size: 30px;
      color: #2e3033;
    }
    .content-right {
      display: flex;
      float: right;
      overflow: hidden;
      color: #8e939a;
      .arrow {
        margin: auto;
        i {
          font-size: 24px;
          color: #8e939a;
          padding: 0 0 0 15px;
          vertical-align: middle;
        }
      }
    }
    .border-1px();
  }

  .input-amount {
    padding: 35px 24px;
    .border-1px();
    &.required {
      &::before {
        position: absolute;
        left: 10px;
        color: #ee0a24;
        font-size: 28px;
        content: '*';
      }
    }
    > span {
      font-size: 30px;
      color: #2e3033;
    }
    .content-right {
      display: flex;
      float: right;
      overflow: hidden;
      .clear-btn {
        margin: auto;
        i {
          font-size: 26px;
          color: #8e939a;
          vertical-align: middle;
        }
      }
      .arrow {
        margin: auto;
        i {
          font-size: 24px;
          color: #8e939a;
          padding: 0 0 0 15px;
          vertical-align: middle;
        }
      }
      @{deep} .van-cell {
        padding: 0;
      }
      @{deep} .van-cell:not(:last-child)::after {
        border: none;
      }
      @{deep} .van-field__control {
        text-align: right;
        color: #8e939a;
        font-size: 30px;
      }
    }
  }

  .type {
    > div {
      display: flex;
      align-items: center;
      margin-top: 55px;
      > div {
        margin: auto;
        &:nth-child(1) {
          width: 140px;
          > div {
            width: 54px;
            height: 54px;
            .format-img;
            &.weixin {
              .bg-img("~@/assets/images/icon/weixin");
              margin: auto;
            }
            &.c-card {
              .bg-img("~@/assets/images/icon/CCard");
              margin: auto;
            }
          }
        }
        &:nth-child(2) {
          flex: 1;
          > div {
            &:nth-child(1) {
              color: #2e3033;
              font-size: 30px;
            }

            &:nth-child(2) {
              font-size: 24px;
              padding-top: 10px;
              color: #8e939a;
            }
          }
        }
        &:nth-child(3) {
          width: 112px;
        }
        &.van-my-radio {
          > i {
            margin: auto;
            display: block;
            width: 32px;
            height: 32px;
            position: relative;
            &::before,
            &::after {
              content: " ";
              width: 100%;
              height: 100%;
              border-radius: 50%;
              box-sizing: border-box;
              transition: all 0.2s;
              position: absolute;
              left: 0;
              top: 0;
            }
            &::before {
              border: 1px solid rgb(193, 196, 202);
              opacity: 1;
            }
            &::after {
              border: 10px solid rgb(227, 50, 64);
              opacity: 0;
            }
            &.select {
              &::before {
                opacity: 0;
              }
              &::after {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }

  @{deep}.van-radio {
    .border-1px(rgb(232, 233, 235));
    padding: 40px 30px;
    .van-radio__label {
      width: calc(100% - 60px);
      font-size: 30px;
      color: #2e3033;
      .address-top {
        display: inline-block;
        width: 100%;
        text-align: right;
        padding-bottom: 10px;
        > span {
          float: left;
          font-size: 30px;
        }
      }
    }

    .van-radio__icon {
      .van-icon {
        color: rgba(0, 0, 0, 0);
        width: 32px;
        height: 32px;
        position: relative;
        border: 0;
        background-color: transparent;
        &::before,
        &::after {
          content: " ";
          display: block;
          width: 32px;
          height: 32px;
          box-sizing: border-box;
          border-radius: 50%;
          position: absolute;
          left: 0;
          top: 4px;
          transition: all 0.2s;
        }
        &::before {
          border: 10px solid #e33240;
          opacity: 0;
        }
        &::after {
          border: 1px solid #c1c4ca;
          opacity: 1;
        }
      }
      &.van-radio__icon--checked {
        .van-icon-success {
          &::before {
            opacity: 1;
          }
          &::after {
            opacity: 0;
          }
        }
      }
      .van-icon-success {
        &::after {
          opacity: 1;
        }
        &::before {
          opacity: 0;
        }
      }
    }
  }

  .result {
    > div {
      > div {
        text-align: center;
        &:first-child {
          width: 120px;
          height: 120px;
          margin: 120px auto 45px;
          .format-img;
        }
        &:nth-child(2) {
          font-size: 30px;
        }
        &:nth-child(3) {
          margin-top: 20px;
          font-size: 26px;
        }
      }
    }
    .success {
      > div {
        &:first-child {
          .bg-img("~@/assets/images/icon/success");
        }
        &:nth-child(2) {
          color: #4a9c75;
        }
        &:nth-child(3) {
          color: #999ea4;
        }
      }
    }

    .fail {
      > div {
        &:first-child {
          .bg-img("~@/assets/images/icon/fail");
        }
        &:nth-child(2) {
          color: #f95c5c;
        }
      }
    }
  }
}
</style>
