<template>
  <div class="asset-center">
    <van-nav-bar title="保证金" left-arrow @click-left="_toReturn"></van-nav-bar>
    <div class="asset-details">
      <div class="asset-top">
        <div class="asset-top-title">
          <p>{{$route.query.orgName}}</p>
          <span class="bond-return-btn" @click.stop="toBondReturnApplication">退还</span>
        </div>
        <div class="asset-top-quota"><p>总额度（元）：</p></div>
        <div class="asset-top-ber">
          <p>{{$route.query.amount | keepTwoNum}}</p>
        </div>
        <div class="asset-top-bottom">
          <div class="asset-left">
            <p>可用额度</p>
            <span>{{$route.query.useableAmount | keepTwoNum}}</span>
          </div>
          <div class="asset-right">
            <p>冻结额度</p>
            <span>{{$route.query.frozenAmount | keepTwoNum}}</span>
          </div>
        </div>
      </div>
      <van-pull-refresh v-model="isLoading" @refresh="onRefresh" v-if="toList && toList.length">
        <van-list v-model="loading" :finished="finished" @load="onLoad" :offset="200" finished-text="没有更多了">
          <div class="asset-list" v-for="(arry, index) in toList" :key="index">
            <div class="asset-list-title">
              <div class="asset-list-title-item">
                <span>{{index + 1}}.<span>{{arry.orgName}}</span></span>
              </div>
              <div class="asset-list-title-item">
                <span>{{arry.number}}</span>
              </div>
            </div>
            <div class="asset-list-item">交易金额：
              <span
                :class="{'green': arry.amountType === 'A', 'red': arry.amountType === 'B',
                  'grey': arry.amountType === 'C', 'blue': arry.amountType === 'D', 'orange': arry.amountType === 'E'}"
              >{{plusOrMinus(arry.amountType)}}{{arry.amount | keepTwoNum}}&nbsp;元</span>
            </div>
            <div class="asset-list-item">金额类型：
              <span>{{amountTypeText(arry.amountType)}}</span>
            </div>
            <div class="asset-list-item">总余额：
              <span>{{arry.totalAmount | keepTwoNum}}&nbsp;元</span>
            </div>
            <div class="asset-list-item">可用余额：
              <span>{{arry.usableAmount | keepTwoNum}}&nbsp;元</span>
            </div>
            <div class="asset-list-item">创建人：
              <span>{{arry.creator}}</span>
            </div>
            <div class="asset-list-item">创建时间：
              <span>{{arry.createDate}}</span>
            </div>
          </div>
        </van-list>
      </van-pull-refresh>

      <div class="no-data-box" v-else>
        <no-data :loading="requestLoading"></no-data>
      </div>
    </div>
  </div>
</template>

<script>
import NoData from '@/components/no-data'
import { api } from '@/api'

export default {
  name: 'asset-center',
  data () {
    return {
      toList: [],
      // 上拉加载及下拉刷新
      page: {
        index: 1,
        size: 10,
        total: 0
      },
      cacheList: [],
      loading: false, // 控制上拉加载的加载动画
      finished: false, // 控制在页面往下移动到底部时是否调用接口获取数据
      isLoading: false, // 控制下拉刷新的加载动画
      requestLoading: false // 接口请求加载动画
    }
  },
  components: {
    NoData
  },
  mounted () {
    this._getDetailList()
  },
  methods: {
    amountTypeText (type) {
      switch (type) {
        case 'A':
          return '存入'
        case 'B':
          return '扣款'
        case 'C':
          return '冻结'
        case 'D':
          return '解冻'
        case 'E':
          return '退款'
        case 'F':
          return '弃标扣款'
        default:
          return ''
      }
    },
    plusOrMinus (type) {
      switch (type) {
        case 'A':
          return '+'
        case 'B':
          return '-'
        default:
          return ''
      }
    },
    _getDetailList () {
      this.requestLoading = true
      let params = {
        orgId: this.$route.query.id,
        page: this.page.index,
        pageSize: this.page.size
      }
      api.commonCall(params, 'queryMarginDetailList').then(res => {
        this.requestLoading = false
        if (res.success) {
          this.cacheList = this.cacheList.concat(res.data.list)
          this.toList.splice(0, this.toList.length, ...this.cacheList)
          this.page.total = res.data.count
          this.finished = false
          this.loading = false

          if (this.cacheList.length >= this.page.total) {
            this.finished = true
          }

          setTimeout(() => {
            this.isLoading = false
          }, 100)
        }
      })
    },
    // 下拉刷新加载
    onRefresh () {
      this.page.index = 1
      this.cacheList = []
      this._getDetailList()
    },
    // 上拉刷新加载
    onLoad () {
      this.page.index++
      this._getDetailList()
    },
    _toReturn () {
      this.$router.go(-1)
    },
    toBondReturnApplication () {
      let query = this.$route.query
      this.$router.push({
        path: '/bondReturnApplication',
        query: {
          id: query.id,
          name: query.orgName,
          useableAmount: query.useableAmount
        }
      })
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.asset-center {
  height: 100vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background-color: #f5f5f5;
  @{deep} .van-hairline--bottom {
    .van-nav-bar__text {
      color: #e33240;
    }
  }
  .asset-details{
    width: 100%;
    min-height: 700px;
    padding-top: 20px;
    .asset-top{
      width: 95%;
      // height: 270px;
      margin: 0 auto;
      margin-bottom: 20px;
      border-radius: 12px;
      background: url("~@/assets/images/auction/marginbackground.png") no-repeat center center;
      background-size: 100% 100%;
      .asset-top-title{
        width: 92%;
        height: 76px;
        margin: 0 auto;
        box-sizing: border-box;
        border-bottom: 1px solid #FFFFFF;
        position: relative;
        p{
          font-family: "PingFang SC";
          font-size: 26px;
          color: #FFFFFF;
          text-align: center;
          line-height: 74px;
        }
        .bond-return-btn {
          position: absolute;
          top: 16px;
          right: 0;
          color: #48484a;
          font-family: "PingFang SC";
          font-size: 26px;
          cursor: pointer;
          height: 40px;
          line-height: 40px;
        }
      }
      .asset-top-quota{
        width: 92%;
        height: 52px;
        margin: 0 auto;
        p{
          font-family: "PingFang SC";
          font-size: 24px;
          color: #FFFFFF;
          text-align: left;
          line-height: 52px;
        }
      }
      .asset-top-ber{
        width: 92%;
        height: 100px;
        margin: 0 auto;
        p{
          font-family: "PingFang SC";
          font-size: 60px;
          color: #FFFFFF;
          text-align: center;
          line-height: 100px;
        }
      }
      .asset-top-bottom {
        width: 92%;
        height: 120px;
        margin: 0 auto;
        box-sizing: border-box;
        .asset-left, .asset-right{
          width: 50%;
          height: 100%;
          float: left;
          p{
            font-family: "PingFang SC";
            font-size: 24px;
            color: #FFFFFF;
            text-align: center;
            line-height: 65px;
          }
          span{
            font-family: "PingFang SC";
            font-size: 24px;
            color: #FFFFFF;
            text-align: center;
            display: block;
          }
        }
      }
    }
    .asset-list {
      width: 95%;
      background-color: #FFFFFF;
      margin: 0 auto 20px auto;
      padding: 0 20px 10px 20px;
      box-sizing: border-box;
      border-radius: 12px;
      overflow: hidden;
      .asset-list-title {
        overflow: hidden;
        border-bottom: 1px solid #d8d8d8;
        margin-bottom: 6px;
        .asset-list-title-item {
          display: inline-block;
          height: 70px;
          line-height: 70px;
          &:nth-child(1) {
            float: left;
            span {
              span{
                margin-left: 16px;
              }
            }
          }
          &:nth-child(2) {
            float: right;
          }
        }
      }
      .asset-list-item {
        width: 50%;
        float: left;
        color: #515a6e;
        span{
          font-family: "PingFang SC";
          font-size: 28px;
          color: #2e3033;
          text-align: center;
          &.green {
            color: #4a9c75;
          }
          &.red {
            color: #e33240;
          }
          &.grey {
            color: #778899;
          }
          &.blue {
            color: #4169E1;
          }
          &.orange {
            color: #FF8C00;
          }
        }
        &:nth-child(6) {
          width: 100%;
        }
        &:nth-child(7) {
          width: 100%;
        }
      }
    }
  }
}
</style>
