<template>
  <div>
    <van-nav-bar title="保证金协议" left-arrow @click-left="_toReturn"></van-nav-bar>

    <div class="rich-text" v-html="richText.BZJXZ"></div>
    <!-- <div class="tab">
      <h3>第一条</h3>
      <h4>保证金的缴纳：</h4>
      <p>保证金是客户参与温氏商城竞价的凭证。如客户有意参加温氏竞价销售，须缴纳卖家设置的保证金金额。保证金不可作货款之用。客户参与竞价前，需以人民币两万元/次的标准，联系卖家并按卖家的指引缴纳保证金。</p>
      <h3>第二条</h3>
      <h4>保证金的返还：</h4>
      <p>客户在参与竞价项目时，系统会根据“客户的竞价数量*该竞价项目所设置的单头保证金”冻结相应的保证金金额。客户所参与的竞价项目结束并评标后，未中标客户的保证金自动解冻。对已中标客户的保证金，中标订单在完成确认后方可解冻。</p>
      <h3>第三条</h3>
      <h4>保证金的扣除：</h4>
      <p>1、保证金因退还、扣除发生变动，温氏商城客户端会以信息提示或短信形式发送通知给客户。</p>
      <p>2、客户中标后，因客户个人问题，导致交割未能在48小时内，将按“客户中标的数量*竞价项目的单见保证金”扣除相应的保证金金额。 </p>
      <h3>第四条</h3>
      <h4>客户在以下情况中不允许发起保证金退还申请：</h4>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;1、客户已成功报名参与某个竞价项目，该竞价项目尚未开始；</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;2、客户参与的竞价项目结束，尚未评标；</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;3、客户中标，尚未完成中标订单的确认。</p>
      <h3>第五条</h3>
      <h4>在符合以下条件时，卖家退还客户的保证金：</h4>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;1、客户未成功竞价：例如在竞价过程中始终未出价、在竞价过程中出局并放弃加价等情况。</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;2、用户竞价成功后，卖家主动关闭交易或未履行发货或因卖家其他原因导致交易未完成的。</p>
      <p>客户所参与的竞价项目结束后，可向卖家提出返还申请，具体流程请咨询卖家。</p>
    </div> -->
  </div>
</template>

<script>
import { api } from '@/api'

export default {
  name: 'margin-agreement',
  data () {
    return {
      richText: {},
      bidType: '',
      isNeedMargin: true
    }
  },
  created () {
    let query = this.$route.query
    if (!query.bidType || !query.isNeedMargin) {
      this.$router.go(-1)
      return
    }

    this.bidType = query.bidType
    this.isNeedMargin = query.isNeedMargin

    this._getBidFileInfo(this.bidType, this.isNeedMargin)
  },
  mounted () {

  },
  methods: {
    _getBidFileInfo (bidType, isNeedMargin) {
      api.commonCall({ bidType, isNeedMargin }, 'getBidFileInfo').then(res => {
        if (res.success) {
          this.richText = res.data || {}
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    _toReturn () {
      this.$router.go(-1)
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.tab{
  width: 100%;
  height: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  h3{
    font-family: "PingFang SC";
    font-size: 32px;
    color: #333;
    font-weight: bold;
    line-height: 60px;
    margin-top: 20px;
    &:first-child {
      margin-top: 0;
    }
  }
  p{
    font-family: "PingFang SC";
    font-size: 28px;
    color: #48484a;
    margin-top: 8px;
  }
  h4{
    font-family: "PingFang SC";
    font-size: 28px;
    color: #48484a;
    margin-top: 8px;
  }
}
.rich-text {
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  @{deep} * {
    max-width: 100% !important;
  }
}
</style>
