<template>
  <div>
    <van-nav-bar title="竞价须知" left-arrow @click-left="_toReturn"></van-nav-bar>
    <div class="tab">
      <h3>一、保证金的缴纳</h3>
      <p>保证金是竞价人参加竞价的凭证，如用户有意参加相关商品竞价活动，则须缴纳卖家设置的参与竞价活动的保证金。</p>
      <h4>缴纳次数:</h4>
      <span>如参加升价拍，每个商品的竞价只需要缴纳一次保证金；</span>
      <span>如参加降价拍，每出价一次都需要缴纳一次保证金，并且每次出价只可以竞价一件拍品。</span>
      <h3>二、保证金的返还：</h3>
      <h4>在符合以下条件时将原路退还用户保证金：</h4>
      <p>1.用户未成功竞价商品：例如在竞价过程中始终未出价、在竞价过程中放弃加价等情况；</p>
      <p>2.用户竞价成功后，商家主动关闭交易或未履约发货或因商家其他原因导致交易未完成的；</p>
      <p>竞价结束后，系统会自动在1-15个工作日内将款项内退还到支付账号中，如您缴纳的竞价保证金符合退还条件，但是系统未予退还，您可以联系温氏客服400-xxx-5500，我们会尽快帮您处理。</p>
      <h3>三、保证金的扣除：</h3>
      <p>1.在升价拍竞价成功之时起的72小时内未按照成交价格支付拍品货款的；在降价拍竞价成功之时起的24小时内未按照成交价格支付拍品货款的</p>
      <p>2.在竞价成功且付款后，竞价人申请退款（卖家提供7天无理由退货服务的除外）。</p>
      <p>如理。因卖家原因导致竞价人不付款，竞价人可在交易关闭的15天内联系温氏客服400-xxx-5500，逾期保证金申诉不给予受</p>
      <h3>四、保证金抵货款：</h3>
      <p>用户竞价成功后，如果保证金金额小于最终成交价，用户交纳的保证金将自动转化为部分成交款，用户需在规定时间内交纳剩余尾款；如果保证金金额大于或者等于最终成交价，用户需要全额支付货款，保证金将在订单完成后返还给用户。</p>
      <h3>五、违约责任成交不卖的违约赔偿：</h3>
      <p>用户竞价成功并支付成交款后，如因送拍机构原因出现了“成交不卖”的违规行为，包括但不限于关闭交易或未履约发货，送拍机构应为用户办理退款，同时，用户还将获得由送拍机构提供的金额为所缴纳保证金金额一倍的违约金作为赔偿。退款、赔偿及法律责任的追究，由送拍机构线下与用户自行联系完成。所涉款项不通过温氏平台支付，温氏平台亦不对此承担任何义务与法律责任。</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'notes-bidding',
  data () {
    return {}
  },
  mounted () {

  },
  methods: {
    _toReturn () {
      this.$router.go(-1)
    }
  }
}
</script>

<style lang="less" scoped>
.tab{
  width: 100%;
  height: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  h3{
    font-family: "PingFang SC";
    font-size: 32px;
    color: #333;
    font-weight: bold;
  }
  p{
    font-family: "PingFang SC";
    font-size: 28px;
    color: #48484a;
    margin-top: 8px;
  }
  h4{
    font-family: "PingFang SC";
    font-size: 28px;
    color: #48484a;
    margin-top: 8px;
  }
}
</style>
