<template>
  <div class="robbing">
    <van-nav-bar title="竞价" left-arrow @click-left="_toReturn">
      <div slot="right" class="screen" :class="{'already': isScreening}" @click.stop="showAttributeFiltering = true">
        <div class="screen-icon"></div>
        <span>{{isScreening ? '已筛选' : '筛选'}}</span>
      </div>
    </van-nav-bar>

    <div class="content-robbing">
      <div class="content-robbing-top">
        <div class="notice">
          <span @click="_toForecast">竞价预告</span>
        </div>
        <div class="mad-job">
          <span>正在疯抢</span>
        </div>
        <!-- <div class="history">
          <span @click="_toHistory">竞价历史</span>
        </div> -->
        <div class="bidding-win-notice">
          <span @click="_toAffiche">中标公告</span>
        </div>
      </div>
      <div class="content-robbing-content">
        <van-tabs v-model="active" :swipe-threshold="5" sticky swipeable class="head-tabs" @change="_changeTab">
          <van-tab v-for="(item, index) in myBiddingCatList" :key="index" :title="item.name">
            <div class="robbing-content-picture"></div>
            <van-pull-refresh v-model="isLoading" @refresh="onRefresh" v-if="panicBuyList && panicBuyList.length">
              <van-list v-model="loading" :finished="finished" @load="onLoad" :offset="200" finished-text="没有更多了">
                <div class="dad" v-for="(item, index) in panicBuyList" :key="index">
                  <div class="dad-picture">
                    <div class="one-price" v-if="item.biddingMode === '0'"></div>
                    <img v-lazy="allImgDomainName + item.itemThumbnail" alt :key="item.itemThumbnail">
                  </div>
                  <div class="dad-content" v-if="active === 0">
                    <div class="dad-content-top">
                      <p>{{item.itemName}}</p>
                    </div>
                    <div class="dad-content-publisher">
                      <p>发布方：{{item.publishingOrgName}}</p>
                    </div>
                    <div class="dad-content-price">
                      <p>{{item.biddingMode !== '0' ? '最高价：' : '指导价：'}}</p>
                      <!-- <span>&yen;</span> -->
                      <h5>{{item.biddingMode !== '0' ? item.highestPrice : item.lowerPrice | keepTwoNum}}</h5>
                      <span>元/{{item.saleUnitName}}</span>
                    </div>
                    <div class="dad-content-bottom">
                      <div class="dah">
                        <div class="dah-top">
                          <p>出价次数<span> {{item.offerNum}} </span>次</p>
                        </div>
                        <div class="dah-bottom">
                          <p>剩余<van-count-down :time="item.lengthOfCountdownTime" format="DD天 HH:mm:ss"/></p>
                        </div>
                      </div>
                      <div class="dai">
                        <div class="snatch" @click="_toDetail(item.id)">
                          <p>马上抢</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="dad-chick-content" v-else>
                    <div class="dad-chick-content-top">
                      <p>{{item.wens_name}}</p>
                    </div>
                    <div class="dad-chick-content-main">
                      <p>发布公司：{{item.org}}</p>
                      <p v-if="item.bidType === '3'">出苗日期：{{item.wens_emergedate}}</p>
                      <p>开始时间：{{item.wens_biddingbegindate}}</p>
                      <p>结束时间：{{item.wens_biddingenddate}}</p>
                      <div class="snatch" @click="_toDetail(item.id)">
                        <p>马上抢</p>
                      </div>
                    </div>
                  </div>
                </div>
              </van-list>
            </van-pull-refresh>
            <div class="no-data-box" v-else>
              <no-data :loading="requestLoading"></no-data>
            </div>
          </van-tab>
        </van-tabs>
      </div>
    </div>

    <!-- 筛选框 -->
    <attribute-filtering
      :show="showAttributeFiltering"
      :data="attributeFilteringList"
      @selected="selected"
    ></attribute-filtering>

    <!-- 悬浮置顶按钮 -->
    <scroll-to-top-hover-btn></scroll-to-top-hover-btn>
  </div>
</template>

<script>
import NoData from '@/components/no-data'
import ScrollToTopHoverBtn from '@/components/scroll-to-top-hover-btn/index'
import AttributeFiltering from '@/components/attribute-filtering'
import { api } from '@/api'
import { allImgDomainNameMixin } from '@/assets/js/mixin'

export default {
  name: 'robbing',
  mixins: [allImgDomainNameMixin],
  components: {
    NoData,
    ScrollToTopHoverBtn,
    AttributeFiltering
  },
  data () {
    return {
      myBiddingCatList: [ // 竞价分类
        {
          name: '生猪',
          bidType: '1'
        },
        {
          name: '老鸡',
          bidType: '2'
        },
        {
          name: '鸡苗',
          bidType: '3'
        }
      ],
      active: 0, // 竞价分类下标，0：生猪，1：老鸡，2：鸡苗
      panicBuyList: [],
      // 上拉加载及下拉刷新
      page: {
        index: 1,
        size: 6,
        total: 0
      },
      cacheList: [],
      loading: false, // 控制上拉加载的加载动画
      finished: false, // 控制在页面往下移动到底部时是否调用接口获取数据
      isLoading: false, // 控制下拉刷新的加载动画
      requestLoading: false, // 接口请求加载动画
      showAttributeFiltering: false, // 显示属性过滤
      attributeFilteringList: [], // 选择的属性过滤
      isScreening: false, // 是否“已筛选”
      publishOrgIds: '' // 选中组织id集合
    }
  },
  created () {
    let query = this.$route.query
    this.active = +query.active || 0

    if (this.active === 0) { // 生猪
      this._getList()
    } else { // 老鸡、鸡苗
      this._getChickenList()
    }
  },
  methods: {
    _changeTab (index) {
      if (+this.$route.query.index !== index) {
        this.$router.replace({
          path: '/robbing',
          query: { active: index }
        })
      }
      this.page.index = 1
      this.cacheList = []
      this.panicBuyList = []
      this.attributeFilteringList = []
      this.publishOrgIds = ''
      this.isScreening = false
      if (this.active === 0) { // 生猪
        this._getList()
      } else { // 老鸡、鸡苗
        this._getChickenList()
      }
    },
    // 下拉刷新
    onRefresh () {
      this.page.index = 1
      this.cacheList = []
      if (this.active === 0) { // 生猪
        this._getList()
      } else { // 老鸡、鸡苗
        this._getChickenList()
      }
    },
    // 上拉加载
    onLoad () {
      this.page.index++
      if (this.active === 0) { // 生猪
        this._getList()
      } else { // 老鸡、鸡苗
        this._getChickenList()
      }
    },
    _toReturn () {
      if (window.history.length > 1) {
        this.$router.go(-1)
      } else {
        this.$router.push('/')
      }
    },
    _toForecast () {
      this.$router.replace({
        path: '/biddingNotice'
      })
    },
    _toHistory () {
      this.$router.replace({
        path: '/biddingHistory'
      })
    },
    _toAffiche () {
      this.$router.replace({
        path: '/biddingWinNotice'
      })
    },
    _getList () {
      this.requestLoading = true
      let params = {
        pageSize: this.page.size,
        page: this.page.index,
        bidType: this.myBiddingCatList[this.active].bidType
      }
      api.commonCall(params, 'queryBiddingByNow').then(res => {
        this.requestLoading = false
        if (res.success) {
          let nowTime = new Date(res.data.currentTime && res.data.currentTime.replace(/-/g, '/')).getTime() || new Date().getTime()
          res.data.list.forEach((v, i) => {
            let begin = new Date(v.biddingBegindate && v.biddingBegindate.replace(/-/g, '/')).getTime() // 开始日期
            let end = new Date(v.biddingEnddate && v.biddingEnddate.replace(/-/g, '/')).getTime() // 结束日期
            if (nowTime < begin) {
              this.$set(v, 'lengthOfCountdownTime', 0)
            } else {
              this.$set(v, 'lengthOfCountdownTime', end - nowTime)
            }
          })

          this.cacheList = this.cacheList.concat(res.data.list)
          this.panicBuyList.splice(0, this.panicBuyList.length, ...this.cacheList)
          this.page.total = res.data.count
          this.finished = false
          this.loading = false

          if (this.cacheList.length >= this.page.total) {
            this.finished = true
          }

          setTimeout(() => {
            this.isLoading = false
          }, 100)
        } else {
          res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    _toDetail (id) {
      this.$router.push({
        path: this.active === 0 ? '/biddingDetails' : '/biddingChickDetails',
        query: {
          id: id
        }
      })
    },
    _getChickenList () {
      this.requestLoading = true
      let params = {
        pageSize: this.page.size,
        page: this.page.index,
        bidType: this.myBiddingCatList[this.active].bidType
      }
      if (this.publishOrgIds) {
        params.publishOrgIds = this.publishOrgIds
      }
      api.commonCall(params, 'queryBiddingChickensByNow').then(res => {
        this.requestLoading = false
        if (res.success) {
          if ((!this.attributeFilteringList || !this.attributeFilteringList.length) && res.data.publishOrgList) {
            this.attributeFilteringList.push({
              name: '发布组织',
              multiSelect: true,
              range: res.data.publishOrgList.map(item => ({ name: item.orgName, id: item.orgId }))
            })
          }
          this.cacheList = this.cacheList.concat(res.data.bidChickenInfoList)
          this.panicBuyList.splice(0, this.panicBuyList.length, ...this.cacheList)
          this.page.total = res.data.count
          this.finished = false
          this.loading = false

          if (this.cacheList.length >= this.page.total) {
            this.finished = true
          }

          setTimeout(() => {
            this.isLoading = false
          }, 100)
        } else {
          res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    // 选中属性过滤的值
    selected (val, isSelected) {
      this.isScreening = isSelected
      let params = val.key.split(';')
      for (let key in params) {
        if (params[key].split('_')[0] === '发布组织') {
          if (this.publishOrgIds !== params[key].split('_')[3]) {
            this.publishOrgIds = params[key].split('_')[3]
            this.page.index = 1
            this.cacheList = []
            this._getChickenList()
          }
        }
      }
      this.showAttributeFiltering = false
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

* {
  box-sizing: border-box;
}

.border-horizontal-2px(@color: #E8E9EB) {
  position: relative;
  &:after {
    content: ' ';
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    border-top: 4px solid @color;
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
      transform: scaleY(0.7);
      -webkit-transform: scaleY(0.7);
    }

    @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
      transform: scaleY(0.5);
      -webkit-transform: scaleY(0.5);
    }
  }
}

.robbing {
  @{deep} .van-nav-bar {
    &__right {
      padding: 0 12px;
      .screen {
        .screen-icon {
          display: inline-block;
          vertical-align: middle;
          width: 40px;
          height: 40px;
          .bg-img("~@/assets/images/index-2/screen");
          background-repeat: no-repeat;
          background-position: center;
          background-size: 100% 100%;
        }
        span {
          font-size: 24px;
          text-align: center;
        }
        &.already {
          .screen-icon {
            .bg-img("~@/assets/images/index-2/alreadyscreen");
          }
          span {
            color: #F59900;
          }
        }
      }
    }
  }
  .content-robbing {
    width: 100%;
    height: 100%;
    .content-robbing-top {
      width: 100%;
      height: 88px;
      box-sizing: border-box;
      display: flex;
      .notice,
      .mad-job,
      .history,
      .bidding-win-notice {
        height: 100%;
        line-height: 100%;
        flex: 1;
        text-align: center;
        letter-spacing: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
          height: 54px;
          line-height: 54px;
          font-size: 26px;
          font-family: "PingFang SC";
          color: #767B81;
          font-weight: bold;
        }
      }
      .mad-job {
        span {
          font-size: 32px;
          color: #E03C31;
          .border-horizontal-2px(#E03C31);
        }
      }
    }
  }
  .content-robbing-content {
    width: 100%;
    height: 100%;
    .robbing-content-picture {
      width: 706px;
      height: 140px;
      margin: 6px auto 0;
      background: url("~@/assets/images/auction/mad-job-picture.png") no-repeat center center;
      background-size: 100% 100%;
    }
  }
  .dac {
    width: 100%;
  }
  .dad {
    width: 698px;
    border-bottom: 2px solid #E6E6E6;
    margin: 0 auto;
    padding: 30px 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    .dad-picture {
      width: 280px;
      height: 248px;
      overflow: hidden;
      position: relative;
      border-radius: 12px;
      .one-price{
        position: absolute;
        width: 86px;
        height: 32px;
        top: 0;
        left: 0;
        border-top-left-radius: 12px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        background: url("~@/assets/images/auction/one-price.svg") no-repeat center left;
        background-size: 100% 100%;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
    .dad-content {
      width: 418px;
      padding: 0 12px;
      >div {
        clear: both;
      }
      .dad-content-top {
        width: 100%;
        p {
          display: block;
          width: 100%;
          font-family: "PingFang SC";
          font-size: 32px;
          color: #3C3C3E;
          font-weight: bold;
          word-wrap: break-word;
          word-break: break-all;
        }
      }
      .dad-content-publisher {
        width: 100%;
        height: 40px;
        line-height: 40px;
        p {
          font-family: "PingFang SC";
          font-size: 24px;
          color: #363638;
        }
      }
      .dad-content-price {
        width: 100%;
        height: 50px;
        line-height: 50px;
        p {
          font-family: "PingFang SC";
          font-size: 24px;
          color: #363638;
          display: inline-block;
        }
        span {
          font-family: "PingFang SC";
          font-size: 26px;
          color: #E63E32;
          display: inline-block;
        }
        h5 {
          font-family: 'AvenirLTStd-Black';
          font-size: 36px;
          color: #E63E32;
          display: inline-block;
        }
      }
      .dad-content-bottom {
        width: 100%;
        height: 96px;
        .dah {
          width: 65%;
          height: 100%;
          float: left;
          .dah-top {
            width: 100%;
            height: 48px;
            line-height: 48px;
            p {
              font-family: "PingFang SC";
              font-size: 24px;
              color: #363638;
            }
            span {
              font-family: "PingFang SC";
              font-size: 24px;
              color: #E63E32;
            }
          }
          .dah-bottom {
            width: 100%;
            height: 48px;
            line-height: 48px;
            p {
              font-family: "PingFang SC";
              font-size: 24px;
              color: #363638;
              .van-count-down {
                display: inline;
                font-family: "PingFang SC";
                font-size: 24px;
                color: #363638;
              }
            }
          }
        }
        .dai {
          width: 35%;
          height: 100%;
          float: left;
          position: relative;
          .snatch {
            width: 152px;
            height: 54px;
            border-radius: 12px;
            position: absolute;
            bottom: 0;
            background: #E63E32 url("~@/assets/images/auction/snatch-at-once@1x.png") no-repeat 120px center;
            background-size: 16px 16px;
            padding-right: 16px;
            p {
              font-family: "PingFang SC";
              font-size: 25px;
              color: #ffffff;
              text-align: center;
              line-height: 54px;
            }
          }
        }
      }
    }
    .dad-chick-content {
      width: 418px;
      padding: 0 12px 60px;
      position: relative;
      .dad-chick-content-top {
        width: 100%;
        p {
          display: block;
          width: 100%;
          font-family: "PingFang SC";
          font-size: 32px;
          color: #3C3C3E;
          font-weight: bold;
          word-wrap: break-word;
          word-break: break-all;
        }
      }
      .dad-chick-content-main {
        p {
          font-family: "PingFang SC";
          font-size: 24px;
          color: #363638;
          height: 40px;
          line-height: 40px;
        }
        .snatch {
          width: 152px;
          height: 54px;
          border-radius: 12px;
          position: absolute;
          right: 0;
          bottom: 0;
          background: #E63E32 url("~@/assets/images/auction/snatch-at-once@1x.png") no-repeat 120px center;
          background-size: 16px 16px;
          padding-right: 16px;
          p {
            font-family: "PingFang SC";
            font-size: 25px;
            color: #ffffff;
            text-align: center;
            line-height: 54px;
          }
        }
      }
    }
  }
  .dae{
    width: 698px;
    height: 270px;
    border-bottom: 2px solid #E6E6E6;
    margin: 0 auto;
    margin-top: 22px;
    .dae-picture{
      width: 280px;
      height: 248px;
      float: left;
      background: url("~@/assets/images/auction/dan-series-pig@3x.png") no-repeat center center;
      background-size: 100% 100%;
    }
    .dae-content{
      width: 418px;
      height: 248px;
      float: left;
      .dae-content-top{
        width: 100%;
        height: 62px;
        p{
          font-family: "PingFang SC";
          font-size: 32px;
          color: #3C3C3E;
          float: left;
          margin-top: 18px;
          margin-left: 22px;
          font-weight: bold;
        }
      }
      .dae-content-publisher{
        width: 100%;
        height: 40px;
        p{
          font-family: "PingFang SC";
          font-size: 22px;
          color: #363638;
          float: left;
          margin-top: 8px;
          margin-left: 22px;
        }
      }
      .dae-content-price{
        width: 100%;
        height: 50px;
        p{
          font-family: "PingFang SC";
          font-size: 22px;
          color: #363638;
          float: left;
          margin-left: 22px;
          margin-top: 8px;
        }
        span{
          font-family: "PingFang SC";
          font-size: 24px;
          color: #E63E32;
          float: left;
          margin-top: 10px;
        }
        h5{
          font-family: "PingFang SC";
          font-size: 36px;
          color: #E63E32;
          float: left;
        }
      }
      .dae-content-bottom{
        width: 100%;
        height: 96px;
        .daj{
          width: 50%;
          height: 100%;
          float: left;
          .daj-top{
            width: 100%;
            height: 36px;
            p{
              font-family: "PingFang SC";
              font-size: 22px;
              color: #363638;
              float: left;
              margin-top: 2px;
              margin-left: 22px;
            }
            span{
              font-family: "PingFang SC";
              font-size: 22px;
              color: #E63E32;
            }
          }
          .daj-bottom{
            width: 100%;
            height: 40px;
            p{
              font-family: "PingFang SC";
              font-size: 22px;
              color: #363638;
              float: left;
              margin-top: 8px;
              margin-left: 22px;
            }
          }
        }
        .dak{
          width: 50%;
          height: 100%;
          float: left;
          .snatch{
            width: 152px;
            height: 54px;
            float: right;
            border-radius: 12px;
            margin-top: 14px;
            background: #E63E32 url("~@/assets/images/auction/snatch-at-once@1x.png") no-repeat 140px center;
            background-size: 16px 16px;
            padding-right: 16px;
            p{
              font-family: "PingFang SC";
              font-size: 26px;
              color: #ffffff;
              text-align: center;
              line-height: 54px;
            }
          }
        }
      }
    }
  }
  .robbing-bottom{
    width: 100%;
    height: 50px;
    p{
      font-family: "PingFang SC";
      font-size: 22px;
      color: #8e8e8e;
      text-align: center;
    }
  }

  @{deep} .scroll-to-top-hover-btn-wrapper {
    bottom: 140px;
  }
}
</style>
