<template>
  <div>
    <van-nav-bar title="卖家承诺" left-arrow @click-left="_toReturn"></van-nav-bar>

    <div class="rich-text" v-html="richText.MJCN"></div>
    <!-- <div class="tab">
      <h3>一、服务承诺</h3>
      <h4>A. 商家承诺</h4>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;1.卖家承诺所发拍品如实描述。</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;2.卖家成交不卖，卖家应将保证金退一赔一给竞买成功人。</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;3.竞价成功后，拍品全国包邮(港澳台除外)。其中拍品重50斤以上（大件家具30斤）或面积大于2个平方不包邮，二手车、房地产、运输设备、不动产、明星见面会等也不包邮。</p>
      <h4>B. 拍卖行承诺</h4>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;友情提示:根据中华人民共和国法律，拍卖行具有合法的拍卖经营主体资格，在中华人民共和国法律和政策允许的范围内，组织和开展拍卖活动。凡参加拍卖行组织、开展的文物、网络竞投拍卖、艺术品等收藏品拍卖活动的委托人、竞买人、买受人和其他相关各方均视为同意且应遵守《中华人民共和国拍卖法》。</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;1.依据《中华人民共和国拍卖法》的规定，拍卖行承诺如实描述拍品。</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;2.拍卖行成交不卖，拍卖行应将保证金退一赔一向竞买成功人。</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;3.关于拍卖行佣金收取：依据《中华人民共和国拍卖法》的规定，竞买人在竞价成功后，需根据拍卖行约定（商品页面描述佣金额），缴纳约定比例、数额的佣金。</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;4.关于运费：由竞买成功人承担，以拍卖行实际商品描述运费为准。（如：贵重商品额外保险费用需要由竞买成功人承担）。</p> -->
      <!-- <p>竞价结束后，系统会自动在1-15个工作日内将款项内退还到支付账号中，如您缴纳的竞价保证金符合退还条件，但是系统未予退还，您可以联系温氏客服400-xxx-5500，我们会尽快帮您处理。</p>
      <h3>C.保证金的扣除：</h3>
      <p>1.在升价拍竞价成功之时起的72小时内未按照成交价格支付拍品货款的；在降价拍竞价成功之时起的24小时内未按照成交价格支付拍品货款的</p>
      <p>2.在竞价成功且付款后，竞价人申请退款（卖家提供7天无理由退货服务的除外）。</p>
      <p>3.关于拍卖行佣金收取：依据《中华人民共和国拍卖法》的规定，竞买人在竞价成功后，需根据拍卖行约定（商品页面描述佣金额），缴纳约定比例、数额的佣金。</p>
      <p>4.关于运费：由竞买成功人承担，以拍卖行实际商品描述运费为准。（如：贵重商品额外保险费用需要由竞买成功人承担）。</p> -->
      <!-- <h3>二、竞价活动基础服务</h3>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;1.如实描述承诺：卖家承诺如实描述，一旦发现描述不符的拍品，买家可在交易成功后指定期限内向温氏投诉卖家。</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;2.保证金保障：卖家入驻竞价平台需缴纳较高的经营保证金，买家维权有保障。</p>
      <h3>三、拍卖行特色服务</h3>
      <h4>A. 不支持7天无理由退货</h4>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;拍卖拍品不同于普通网购商品，多数属于孤品或者数量较少，消费者通过竞价方式购买拍品，一旦售出将影响拍品价值，不支持7天无理由退货。</p>
      <h4>B. 支持线下预览</h4>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;送拍机构如支持线下预览是指其公司已选定场地预展拍品，竞买人可在竞价结束前，亲自或委托他人查看竞价品实物；如竞价者未到现场鉴赏，视默认为该竞价品的实际属性。</p>
      <h4>C. 关于鉴定证书</h4>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;若拍卖行选择提供鉴定证书，即卖家承诺所发布的拍品已取得省级以上鉴定证书或作者本人出具的书面鉴定文本，反之即不提供。</p>
    </div> -->
  </div>
</template>

<script>
import { api } from '@/api'

export default {
  name: 'seller-promise',
  data () {
    return {
      richText: {},
      bidType: '',
      isNeedMargin: true
    }
  },
  created () {
    let query = this.$route.query
    if (!query.bidType || !query.isNeedMargin) {
      this.$router.go(-1)
      return
    }

    this.bidType = query.bidType
    this.isNeedMargin = query.isNeedMargin

    this._getBidFileInfo(this.bidType, this.isNeedMargin)
  },
  mounted () {

  },
  methods: {
    _getBidFileInfo (bidType, isNeedMargin) {
      api.commonCall({ bidType, isNeedMargin }, 'getBidFileInfo').then(res => {
        if (res.success) {
          this.richText = res.data || {}
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    _toReturn () {
      this.$router.go(-1)
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.tab{
  width: 100%;
  height: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  h3{
    font-family: "PingFang SC";
    font-size: 32px;
    color: #333;
    font-weight: bold;
    line-height: 60px;
    margin-top: 20px;
    &:first-child {
      margin-top: 0;
    }
  }
  p{
    font-family: "PingFang SC";
    font-size: 28px;
    color: #48484a;
    margin-top: 8px;
  }
  h4{
    font-family: "PingFang SC";
    font-size: 28px;
    color: #48484a;
    margin-top: 8px;
  }
}
.rich-text {
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  @{deep} * {
    max-width: 100% !important;
  }
}
</style>
