<template>
  <membership-wrapper
    class="customer-feedback-switch-type"
    title="意见反馈"
    left-arrow
  >
    <div class="type-choose">
      <div class="type-list-item" v-for="(item, index) in feedbackTypeList" :key="'feedback-type-' + index" @click="chooseFeedbackType(item)">
        <span>{{item.name}}</span>
        <van-icon name="arrow" />
      </div>
    </div>
  </membership-wrapper>
</template>

<script>
import MembershipWrapper from '@/components/membership-center/membership-wrapper'
import { api } from '@/api'

export default {
  name: 'customer-feedback-switch-type',
  components: {
    MembershipWrapper
  },
  data () {
    return {
      feedbackTypeList: [] // 反馈类型选择
    }
  },
  created () {
    this.queryFeedbackTypeList()
  },
  methods: {
    // 查询反馈类型
    queryFeedbackTypeList () {
      api.commonCall({}, 'returnFeedbackTypeList').then(res => {
        if (res.success) {
          this.feedbackTypeList = res.data.list
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    chooseFeedbackType (item) {
      if (item.name === '降价申请') {
        this.$router.push({
          path: 'priceReduceApply',
          query: {
            typeName: item.name,
            typeId: item.id
          }
        })
      } else {
        this.$router.push({
          path: 'customerFeedback',
          query: {
            typeName: item.name,
            typeId: item.id
          }
        })
      }
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.customer-feedback-switch-type {
  background-color: #fff;
  .type-choose {
    padding: 20px 22px;
    .type-list-item {
      margin-bottom: 20px;
      width: 100%;
      height: 120px;
      line-height: 120px;
      text-align: center;
      .bg-img("~@/assets/images/customer-feedback/backgroundyellow");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% 120px;
      position: relative;
      span {
        height: 50px;
        line-height: 50px;
        color: #FFFFFF;
        font-size: 36px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
      }
      @{deep}.van-icon-arrow {
        position: absolute;
        right: 28px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 36px;
        color: #fff;
      }
    }
  }
}
</style>
