<template>
  <membership-wrapper
    class="customer-feedback-details"
    :title="detail.feedbackType || '反馈详情'"
    :left-arrow="true"
    id="feedbackDetailsContent"
    :class="{'show-reply-input-area': showReplyInputArea}"
  >
    <!-- 自定义步骤条 -->
    <div class="steps-wrapper">
      <div class="steps-box">
        <div class="step" v-for="(item, index) in stepsList" :key="'step-' + index">
          <div class="step-title"><span :class="{'current': currentState === index}">{{item}}</span></div>
          <div class="step-circle-container"><span :class="{'current': currentState === index}">{{index + 1}}</span></div>
          <div class="step-line"></div>
        </div>
      </div>
    </div>

    <div class="content">
      <!-- 已提交块 -->
      <div class="content-0" v-if="currentState === 0">
        <!-- 反馈描述 -->
        <div class="complaint-description">
          <div class="title">{{detail.feedbackType || '反馈'}}描述</div>
          <van-field
            label="反馈类型："
            v-model="detail.feedbackType"
            readonly
          />

          <van-field
            :value="detail.channelName"
            readonly
          >
            <span slot="label">组&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;织：</span>
          </van-field>

          <van-field
            v-model="detail.theme"
            readonly
          >
            <span slot="label">主&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;题：</span>
          </van-field>

          <div class="textarea-wrap">
            <van-field
              v-model="detail.feedbackContent"
              type="textarea"
              label="问题描述："
              readonly
              autosize
            />
          </div>

          <div class="media-wrap">
            <div class="media-wrap-title">
              <span>图片/视频：</span>
            </div>
            <div class="media-wrap-value">
              <ul class="media-list">
                <li
                  class="format-img"
                  v-for="(child, childIndex) in detail.pictureList"
                  :style="{backgroundImage: `url(${allImgDomainName + child})`}"
                  :key="childIndex + 'child'"
                  @click="viewPic(childIndex, detail.pictureList)"
                ></li>
                <li
                  class="video-box"
                  v-for="(child, childIndex) in detail.videoList"
                  :key="childIndex + 'video'"
                  @click="viewVideo(child)"
                ></li>
              </ul>
              <!-- <van-uploader
                v-model="previewUploadList"
                accept="image/*,video/*"
                upload-text="图片/视频"
                preview-size="2rem"
                disabled
                :deletable="false"
                :show-upload="false"
              ></van-uploader> -->
            </div>
          </div>

          <van-field
            v-model="detail.createTime"
            readonly
          >
            <span slot="label">时&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;间：</span>
          </van-field>
        </div>
      </div>

      <!-- 处理中块 -->
      <div class="content-1" :class="{'show-reply-input-area': showReplyInputArea}" v-else-if="currentState === 1">
        <!-- 反馈描述 -->
        <div class="complaint-description">
          <van-collapse v-model="collapseIndex" :border="false">
            <van-collapse-item :title="detail.feedbackType + '描述' || '反馈描述'" name="1" :border="false">
              <van-field
                label="反馈类型："
                v-model="detail.feedbackType"
                readonly
              />

              <van-field
                :value="detail.channelName"
                readonly
              >
                <span slot="label">组&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;织：</span>
              </van-field>

              <van-field
                v-model="detail.theme"
                readonly
              >
                <span slot="label">主&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;题：</span>
              </van-field>

              <div class="textarea-wrap">
                <van-field
                  v-model="detail.feedbackContent"
                  type="textarea"
                  label="问题描述："
                  readonly
                  autosize
                />
              </div>

              <div class="media-wrap">
                <div class="media-wrap-title">
                  <span>图片/视频：</span>
                </div>
                <div class="media-wrap-value">
                  <ul class="media-list">
                    <li
                      class="format-img"
                      v-for="(child, childIndex) in detail.pictureList"
                      :style="{backgroundImage: `url(${allImgDomainName + child})`}"
                      :key="childIndex + 'child'"
                      @click="viewPic(childIndex, detail.pictureList)"
                    ></li>
                    <li
                      class="video-box"
                      v-for="(child, childIndex) in detail.videoList"
                      :key="childIndex + 'video'"
                      @click="viewVideo(child)"
                    ></li>
                  </ul>
                  <!-- <van-uploader
                    v-model="previewUploadList"
                    accept="image/*,video/*"
                    upload-text="图片/视频"
                    preview-size="2rem"
                    disabled
                    :deletable="false"
                    :show-upload="false"
                  ></van-uploader> -->
                </div>
              </div>

              <van-field
                v-model="detail.createTime"
                readonly
                :border="false"
              >
                <span slot="label">时&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;间：</span>
              </van-field>
            </van-collapse-item>
          </van-collapse>
        </div>

        <!-- 客服回复 -->
        <div class="service-reply">
          <div class="reply-box" v-for="(item, index) in detail.replyList" :key="'reply-box-' + index" :class="{'me': item.isMy === '1'}">
            <div class="reply-person">
              <span>{{item.isMy === '1' ? '我' : '客服回复'}}</span>
            </div>
            <div class="reply-content">
              <div class="content-bg">
                <p class="text">{{item.replyInfo}}</p>
                <!-- <ul class="media-list">
                  <li
                    class="format-img"
                    v-for="(child, childIndex) in previewUploadList"
                    :style="{backgroundImage: `url(${allImgDomainName + child})`}"
                    :key="childIndex + 'child'"
                    @click="viewPic(childIndex, item.picList)"
                  ></li>
                  <li
                    class="video-box"
                    v-for="(child, childIndex) in previewUploadList"
                    :key="childIndex + 'video'"
                    @click="viewVideo(child)"
                  ></li>
                </ul> -->
                <p class="time">{{item.replyTime}}</p>
              </div>
            </div>
          </div>
        </div>

        <!-- 回复输入框 -->
        <transition name="slideUp" mode="out-in">
          <div class="fixed" v-show="showReplyInputArea">
            <div class="reply-input-area">
              <div class="summit-btn" @click.stop="replySubmit">提交</div>

              <div class="input-box">
                <div class="textarea-wrap">
                  <van-field
                    ref="replyInputField"
                    v-model="replyText"
                    type="textarea"
                    placeholder="请输入内容..."
                    clearable
                    :border="false"
                    :maxlength="500"
                    @blur="scrollToTop()"
                  />
                  <span class="tips">{{replyText.length}}/500</span>
                </div>

                <!-- <van-uploader
                  v-model="previewUploadList"
                  accept="image/*,video/*"
                  upload-text="图片/视频"
                  preview-size="2rem"
                  :max-count="5"
                  :after-read="onAfterRead"
                  :before-delete="onBeforeDelete"
                ></van-uploader> -->
              </div>
            </div>
          </div>
        </transition>

        <van-overlay :show="showReplyInputArea" @click="showReplyInputArea = false" />
      </div>

      <!-- 已解决块 -->
      <div class="content-2" v-else-if="currentState === 2">
        <!-- 反馈描述 -->
        <div class="complaint-description">
          <van-collapse v-model="collapseIndex" :border="false">
            <van-collapse-item :title="detail.feedbackType + '描述' || '反馈描述'" name="1" :border="false">
              <van-field
                label="反馈类型："
                v-model="detail.feedbackType"
                readonly
              />

              <van-field
                :value="detail.channelName"
                readonly
              >
                <span slot="label">组&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;织：</span>
              </van-field>

              <van-field
                v-model="detail.theme"
                readonly
              >
                <span slot="label">主&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;题：</span>
              </van-field>

              <div class="textarea-wrap">
                <van-field
                  v-model="detail.feedbackContent"
                  type="textarea"
                  label="问题描述："
                  readonly
                  autosize
                />
              </div>

              <div class="media-wrap">
                <div class="media-wrap-title">
                  <span>图片/视频：</span>
                </div>
                <div class="media-wrap-value">
                  <ul class="media-list">
                    <li
                      class="format-img"
                      v-for="(child, childIndex) in detail.pictureList"
                      :style="{backgroundImage: `url(${allImgDomainName + child})`}"
                      :key="childIndex + 'child'"
                      @click="viewPic(childIndex, detail.pictureList)"
                    ></li>
                    <li
                      class="video-box"
                      v-for="(child, childIndex) in detail.videoList"
                      :key="childIndex + 'video'"
                      @click="viewVideo(child)"
                    ></li>
                  </ul>
                </div>
              </div>

              <van-field
                v-model="detail.createTime"
                readonly
                :border="false"
              >
                <span slot="label">时&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;间：</span>
              </van-field>
            </van-collapse-item>
          </van-collapse>
        </div>

        <!-- 解决方案 -->
        <div class="solution">
          <van-field
            v-model="detail.resolvedText"
            type="textarea"
            label="解决方案："
            :border="false"
            readonly
            autosize
          />
          <div class="time">
            <span>{{detail.resolvedTime}}</span>
          </div>
        </div>

        <!-- 客服回复 -->
        <div class="service-reply">
          <div class="reply-box" v-for="(item, index) in detail.replyList" :key="'reply-box-' + index" :class="{'me': item.isMy === '1'}">
            <div class="reply-person">
              <span>{{item.isMy === '1' ? '我' : '客服回复'}}</span>
            </div>
            <div class="reply-content">
              <div class="content-bg">
                <p class="text">{{item.replyInfo}}</p>
                <p class="time">{{item.replyTime}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- 评价块 -->
      <div class="content-3" v-else-if="currentState === 3">
        <div class="evaluate">
          <div class="title">
            <span>请对客服人员进行评价</span>
          </div>
          <div class="score">
            <img class="icon" src="@/assets/images/customer-feedback/customer-service.svg">
            <van-rate v-model="score" void-color="#F59900" size="0.53333rem" gutter="0.21333rem"></van-rate>
          </div>
          <div class="textarea-wrap">
            <van-field
              v-model="evaluateText"
              type="textarea"
              placeholder="请不要吝惜您的赞美..."
              rows="13"
              clearable
              :border="false"
              :maxlength="500"
              @blur="scrollToTop()"
            />
            <span class="tips">{{evaluateText.length}}/500</span>
          </div>
        </div>
      </div>

      <!-- 完成块 -->
      <div class="content-4" v-else-if="currentState === 4">
        <!-- 评价成功 -->
        <div class="success" v-if="showSuccess">
          <div class="img"></div>
          <p>评价成功，感谢您的参与</p>
        </div>

        <!-- 评价完成详情 -->
        <div v-else>
          <!-- 反馈描述 -->
          <div class="complaint-description">
            <van-collapse v-model="collapseIndex" :border="false">
              <van-collapse-item :title="detail.feedbackType + '描述' || '反馈描述'" name="1" :border="false">
                <van-field
                  label="反馈类型："
                  v-model="detail.feedbackType"
                  readonly
                />

                <van-field
                  :value="detail.channelName"
                  readonly
                >
                  <span slot="label">组&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;织：</span>
                </van-field>

                <van-field
                  v-model="detail.theme"
                  readonly
                >
                  <span slot="label">主&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;题：</span>
                </van-field>

                <div class="textarea-wrap">
                  <van-field
                    v-model="detail.feedbackContent"
                    type="textarea"
                    label="问题描述："
                    readonly
                    autosize
                  />
                </div>

                <div class="media-wrap">
                  <div class="media-wrap-title">
                    <span>图片/视频：</span>
                  </div>
                  <div class="media-wrap-value">
                    <ul class="media-list">
                      <li
                        class="format-img"
                        v-for="(child, childIndex) in detail.pictureList"
                        :style="{backgroundImage: `url(${allImgDomainName + child})`}"
                        :key="childIndex + 'child'"
                        @click="viewPic(childIndex, detail.pictureList)"
                      ></li>
                      <li
                        class="video-box"
                        v-for="(child, childIndex) in detail.videoList"
                        :key="childIndex + 'video'"
                        @click="viewVideo(child)"
                      ></li>
                    </ul>
                    <!-- <van-uploader
                      v-model="previewUploadList"
                      accept="image/*,video/*"
                      upload-text="图片/视频"
                      preview-size="2rem"
                      disabled
                      :deletable="false"
                      :show-upload="false"
                    ></van-uploader> -->
                  </div>
                </div>

                <van-field
                  v-model="detail.createTime"
                  readonly
                  :border="false"
                >
                  <span slot="label">时&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;间：</span>
                </van-field>
              </van-collapse-item>
            </van-collapse>
          </div>

          <!-- 解决方案 -->
          <div class="solution">
            <van-field
              v-model="detail.resolvedText"
              type="textarea"
              label="解决方案："
              :border="false"
              readonly
              autosize
            />
            <div class="time">
              <span>{{detail.resolvedTime}}</span>
            </div>
          </div>

          <!-- 客服回复 -->
          <div class="service-reply" v-if="detail.replyList && detail.replyList.length">
            <div class="reply-box" v-for="(item, index) in detail.replyList" :key="'reply-box-' + index" :class="{'me': item.isMy === '1'}">
              <div class="reply-person">
                <span>{{item.isMy === '1' ? '我' : '客服回复'}}</span>
              </div>
              <div class="reply-content">
                <div class="content-bg">
                  <p class="text">{{item.replyInfo}}</p>
                  <p class="time">{{item.replyTime}}</p>
                </div>
              </div>
            </div>
          </div>

          <!-- 我的评价 -->
          <div class="evaluate">
            <div class="title">
              <span>我的评价</span>
            </div>
            <div class="score">
              <img class="icon" src="@/assets/images/customer-feedback/customer-service.svg">
              <van-rate :value="+detail.customerScore" void-color="#F59900" size="0.53333rem" gutter="0.21333rem" readonly></van-rate>
            </div>
            <div class="textarea-wrap">
              <p>{{detail.evaluationContent}}</p>
            </div>
            <div class="time">{{detail.evaluateTime}}</div>
          </div>
        </div>
      </div>

      <!-- 底部按钮 -->
      <bottom-button
        v-if="currentState === 1 || currentState === 2 || currentState === 3"
        v-show="!showReplyInputArea"
        :btns="currentState === 1 ? [{ text: '回复', color: 'red' }] : currentState === 2 ? [{ text: '进行评价', color: 'red'}] : [{ text: '提交', color: 'red' }]"
        @on-btn="onBottomButton"
      ></bottom-button>
    </div>

    <!-- 视频预览 -->
    <video-preview :show="showVideoPreview" :videoUrl="videoUrl" @close="closeVideoPreiviw"></video-preview>
    <van-overlay :show="showVideoPreview" z-index="2010"/>
  </membership-wrapper>
</template>

<script>
import MembershipWrapper from '@/components/membership-center/membership-wrapper'
import BottomButton from '@/components/bottom-button'
import VideoPreview from '@/components/video-preview/video-preview'
import { scrollTop, getScrollTop, _debounce } from '@/utils/common'
import { api } from '@/api'
import { allImgDomainNameMixin } from '@/assets/js/mixin'
import { ImagePreview } from 'vant'

export default {
  name: 'customer-feedback-details',
  mixins: [allImgDomainNameMixin],
  inject: ['reload'],
  components: {
    MembershipWrapper,
    BottomButton,
    VideoPreview
  },
  data () {
    return {
      stepsList: ['已提交', '处理中', '已解决', '评价', '完成'], // 步骤列表
      currentState: 0, // 当前步骤
      collapseIndex: [], // 折叠面板
      showSuccess: false, // 显示评价成功
      detail: {}, // 详情信息
      evaluateText: '', // 评价文字
      replyText: '', // 回复文字
      previewUploadList: [],
      time: '', // 时间
      score: 5, // 评分
      showReplyInputArea: false, // 显示回复输入框
      videoUrl: '', // 预览视频地址
      showVideoPreview: false // 显示视频预览
    }
  },
  computed: {

  },
  watch: {
    showReplyInputArea (val) {
      if (val) {
        this.$nextTick(() => {
          let div = document.querySelector('#feedbackDetailsContent')
          div.scrollTop = div.scrollHeight
          this.$refs.replyInputField.focus()
        })
      }
    }
  },
  created () {
    let query = this.$route.query
    if (!query.id) {
      this.$router.go(-1)
      return
    }

    this.queryFeedbackDetail(query.id)
  },
  mounted () {

  },
  methods: {
    // 消除键盘关闭后页面被撑起，导致按钮响应区域错位
    scrollToTop () {
      scrollTop(window, getScrollTop(), 0, 100)
    },
    // 上传图片
    _uploadImage (file, type, name, size, e) {
      // 传递一个 FormData 对象
      // let formData = new FormData()
      // 'file' 可变 相当于 input 表单的name 属性
      // formData.append('file', file)
      api.uploadImage(file, res => {
        if (res.success) {
          if (type === 'mp4' || type === 'avi' || type === 'quicktime') {
            this.uploadList.push({
              name: name,
              url: res.data[0],
              size: size + ''
            })
          } else {
            this.uploadList.push({ url: res.data[0] })
          }
          e.status = 'done'
        } else {
          e.status = 'failed'
          e.message = '上传失败'
          this.$toast.fail(res.msg || '上传图片或视频失败')
        }
      })
    },
    onAfterRead (e) {
      let file = e.file
      let type = file.type.split('/')[1]
      e.status = 'uploading'
      e.message = '上传中...'
      this._uploadImage(file, type, file.name, file.size, e)
    },
    // 删除上传图片
    onBeforeDelete (e) {
      let index = this.previewUploadList.findIndex(v => v.content === e.content)
      if (index > -1) {
        this.uploadList.splice(index, 1)
        return true
      } else {
        return false
      }
    },
    // 图片预览
    viewPic (index, picList) {
      let list = []
      // eslint-disable-next-line
      for (let [index, elem] of picList.entries()) {
        list.push(this.allImgDomainName + elem)
      }
      ImagePreview({
        images: list,
        startPosition: index
      })
    },
    // 打开视频预览
    viewVideo (path) {
      this.videoUrl = path
      this.showVideoPreview = true
    },
    // 关闭视频预览
    closeVideoPreiviw () {
      this.showVideoPreview = false
    },
    queryFeedbackDetail (id) {
      return api.commonCall({ id }, 'queryFeedbackDetail').then(res => {
        if (res.success) {
          this.detail = res.data
          switch (this.detail.billStatus) {
            case 'A': // 已提交
              this.currentState = 0
              return
            case 'B': // 处理中
              this.currentState = 1
              return
            case 'C': // 已解决
              this.currentState = 2
              return
            case 'D': // 已评价
              this.currentState = 4
          }
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    replySubmit () {
      if (!this.replyText || !this.replyText.trim()) {
        this.$toast('回复内容不能为空')
      } else {
        this.customerReply()
      }
    },
    onBottomButton (btn) {
      if (btn.text === '回复') {
        this.showReplyInputArea = true
      } else if (btn.text === '进行评价') {
        this.currentState = 3
      } else if (btn.text === '提交') {
        if (!this.score) {
          this.$toast('请评分')
        } else if (!this.evaluateText || !this.evaluateText.trim()) {
          this.$toast('评价内容不能为空')
        } else {
          this.saveEvaluateContent()
        }
      }
    },
    customerReply: _debounce(function () {
      if (this.isSubmitFlag) return
      this.isSubmitFlag = true

      let params = {
        id: this.$route.query.id,
        replyInfo: this.replyText
      }

      api.commonCall(params, 'customerReply').then(res => {
        if (res.success) {
          this.$toast.success('回复成功')
          this.replyText = ''
          this.showReplyInputArea = false
          this.queryFeedbackDetail(this.$route.query.id).then(() => {
            this.$nextTick(() => {
              let div = document.querySelector('#feedbackDetailsContent')
              div.scrollTop = div.scrollHeight
            })
          })
          setTimeout(() => {
            this.isSubmitFlag = false
          }, 1000)
        } else {
          setTimeout(() => {
            this.isSubmitFlag = false
          }, 1000)
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    }, 500),
    saveEvaluateContent: _debounce(function () {
      if (this.isSubmitFlag) return
      this.isSubmitFlag = true

      let params = {
        id: this.$route.query.id,
        customerScore: this.score,
        evaluationContent: this.evaluateText
      }

      api.commonCall(params, 'saveEvaluateContent').then(res => {
        if (res.success) {
          this.$toast.success('提交成功')
          this.currentState = 4
          this.showSuccess = true
          setTimeout(() => {
            this.isSubmitFlag = false
          }, 1000)
        } else {
          setTimeout(() => {
            this.isSubmitFlag = false
          }, 1000)
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    }, 500)
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.customer-feedback-details {
  @{deep}.van-action-sheet {
    .van-action-sheet__header {
      line-height: 116px;
      font-weight: bold;
      font-family: PingFangSC-Medium, PingFang SC;
    }
    .van-action-sheet__item {
      // text-align: left;
    }
  }
  @{deep}.van-collapse {
    .van-collapse-item {
      .van-collapse-item__title {
        padding: 30px 26px 28px;
        .van-cell__title {
          flex: none;
          span {
            font-size: 36px;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: bold;
          }
        }
      }
      .van-collapse-item__wrapper {
        .van-collapse-item__content {
          padding: 0;
        }
      }
    }
  }
  @{deep}.van-overlay {
    background-color: transparent !important;
  }
  @{deep}.van-rate__icon {
    font-size: 40px !important;
  }

  @{deep}.van-field {
    textarea[readonly="readonly"] {
      word-break: break-all;
    }
  }

  &.show-reply-input-area {
    overflow: hidden;
  }

  .steps-wrapper {
    position: relative;
    padding: 0 66px;
    overflow: hidden;
    background-color: #fff;
    &::after {
      position: absolute;
      box-sizing: border-box;
      content: ' ';
      pointer-events: none;
      right: 0;
      bottom: 0px;
      left: 0;
      width: 100%;
      height: 10px;
      border-top: 10px solid #EEEEEE;
    }
    .steps-box {
      position: relative;
      display: flex;
      .step {
        position: relative;
        flex: 1;
        float: left;
        padding: 100px 0 48px;
        &:last-child {
          position: absolute;
          right: 1px;
          width: auto;
          .step-title {
            span {
              left: 4px !important;
            }
          }
          .step-circle-container {
            left: 26px !important;
          }
        }
        .step-title {
          width: 52px;
          height: 34px;
          position: relative;
          display: inline-block;
          margin-left: 0;
          span {
            width: 96px;
            position: absolute;
            left: -48px;
            font-size: 24px;
            font-family: PingFangSC-Regular, PingFang SC;
            color: #999999;
            text-align: center;
            overflow: hidden;
            text-overflow: clip;
            white-space: nowrap;
            &.current {
              color: #333A43;
            }
          }
        }
        .step-circle-container {
          position: absolute;
          top: 60px;
          left: -26px;
          z-index: 1;
          transform: translateY(-50%);
          span {
            display: inline-block;
            width: 52px;
            height: 52px;
            line-height: 52px;
            box-sizing: border-box;
            background-color: #D8D8D8;
            border-radius: 50%;
            text-align: center;
            color: #fff;
            font-size: 24px;
            font-family: PingFangSC-Regular, PingFang SC;
            &.current {
              background-color: #F59900;
            }
          }
        }
        .step-line {
          position: absolute;
          top: 60px;
          left: 0;
          width: 100%;
          height: 4px;
          background-color: #D8D8D8;
        }
      }
    }
  }

  .content {
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    // min-height: calc(100% - 200px);
    background: #fff;

    @{deep}.van-field {
      padding: 24px 24px 24px 32px;
      &::after {
        position: absolute;
        box-sizing: border-box;
        content: ' ';
        pointer-events: none;
        right: 0;
        bottom: 0;
        left: 26px;
        width: 698px;
        border-bottom: 1px solid #E5E5E5;
        -webkit-transform: scaleY(.5);
        transform: scaleY(.5);
      }
      .van-cell__title {
        span {
          font-size: 24px;
        }
      }
      .van-field__label {
        width: 120px;
      }
    }

    .textarea-wrap {
      position: relative;
      clear: both;
      @{deep} .van-field {
        padding: 24px 24px 24px 32px;
      }
      .tips {
        position: absolute;
        bottom: 12px;
        right: 22px;
        font-size: 24px;
        color: #999ea4;
      }
    }

    .media-wrap {
      position: relative;
      display: flex;
      box-sizing: border-box;
      width: 100%;
      padding: 24px 24px 24px 32px;
      &::after {
        position: absolute;
        box-sizing: border-box;
        content: ' ';
        pointer-events: none;
        right: 0;
        bottom: 0;
        left: 26px;
        width: 698px;
        border-bottom: 1px solid #E5E5E5;
        -webkit-transform: scaleY(.5);
        transform: scaleY(.5);
      }
      .media-wrap-title {
        flex: none;
        width: 130px;
        span {
          color: #323233;
          font-size: 24px;
          line-height: 48px;
        }
      }
      .media-wrap-value {
        flex: 1;
        // .media-list {
        //   > li {
        //     width: 140px;
        //     height: 140px;
        //     &.video-box {
        //       &::before {
        //         width: 50px;
        //         height: 50px;
        //         border: 2px solid rgba(255, 255, 255, .7);
        //       }
        //       &::after {
        //         border-left: 18px solid rgba(255, 255, 255, .8);
        //         border-top: 11px solid rgba(0,0,0,0);
        //         border-bottom: 11px solid rgba(0,0,0,0);
        //         margin-left: 56px;
        //       }
        //     }
        //   }
        // }
        .media-list {
          overflow: hidden;
          > li {
            width: 180px;
            height: 180px;
            float: left;
            margin-right: 10px;
            margin-top: 10px;
            border-radius: 6px;
            &:nth-child(3n) {
              margin-right: 0;
            }
            &.format-img {
              background-position: center;
              background-size: 100% 100%;
              background-repeat: no-repeat;
            }
            &.video-box {
              background: rgb(0, 0, 0);
              position: relative;
              &::before,&::after {
                content: ' ';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
              }
              &::before {
                width: 85px;
                height: 85px;
                background: linear-gradient(to bottom, rgba(255, 255, 255, .6), rgba(255, 255, 255, .4));
                border-radius: 50%;
                margin: auto;
                border: 4px solid rgba(255, 255, 255, .7);
                box-sizing: border-box;
              }
              &::after {
                width: 0;
                height: 0;
                overflow: hidden;
                border-left: 32px solid rgba(255, 255, 255, .8);
                border-top: 20px solid rgba(0,0,0,0);
                border-bottom: 20px solid rgba(0,0,0,0);
                margin: auto;
                margin-left: 80px;
              }
            }
          }
        }
        .upload-img-wrap {
          display: inline-block;
          position: relative;
          img {
            width: 140px;
            height: 140px;
            margin-right: 30px;
            margin-bottom: 15px;
            vertical-align: middle;
          }
          video {
            width: 140px;
            height: 140px;
            margin-right: 24px;
            margin-bottom: 15px;
            vertical-align: middle;
          }
          i {
            font-style: normal;
            position: absolute;
            top: -13px;
            right: 15px;
            width: 33px;
            height: 33px;
            background-size: 33px 33px;
            background-repeat: no-repeat;
            .bg-img('~@/assets/images/order/icon-close');
          }
        }
      }
    }

    .content-0 {
      background: #fff;
      .complaint-description {
        .title {
          position: relative;
          height: 50px;
          line-height: 50px;
          font-size: 36px;
          font-family: PingFangSC-Medium,PingFang SC;
          font-weight: bold;
          color: #3C3C3E;
          padding: 30px 26px 28px;
        }
      }
    }

    .content-1, .content-2 {
      min-height: calc(100vh - 380px);
      background: #fff;
      padding-bottom: 100px;
      &.show-reply-input-area {
        position: relative;
        min-height: calc(100vh - 768px);
        padding-bottom: 488px;
        // overflow-y: hidden;
      }
      .complaint-description {
        position: relative;
        margin-bottom: 10px;
        &::after {
          position: absolute;
          box-sizing: border-box;
          content: ' ';
          pointer-events: none;
          right: 0;
          bottom: -10px;
          left: 0;
          width: 100%;
          height: 10px;
          border-top: 10px solid #EEEEEE;
        }
      }
      .service-reply {
        margin-bottom: 20px;
        padding: 0 26px;
        .reply-box {
          margin-top: 40px;
          overflow: hidden;
          &.me {
            position: relative;
            .reply-person {
              float: right;
              margin-right: 0;
              position: absolute;
              bottom: 0;
              right: 0;
            }
            .reply-content {
              float: right;
              margin-right: 124px;
              .content-bg {
                background-color: #FFF8EE;
                border-radius: 20px 20px 0px 20px;
              }
            }
          }
          .reply-person {
            width: 100px;
            float: left;
            margin-right: 24px;
            span {
              line-height: 34px;
              font-size: 24px;
              font-family: PingFangSC-Regular, PingFang SC;
              color: #3C3C3E;
            }
          }
          .reply-content {
            width: 526px;
            float: left;
            .content-bg {
              padding: 16px 34px;
              background-color: #F8F8F8;
              border-radius: 0px 20px 20px 20px;
              p {
                width: 100%;
                line-height: 40px;
                font-size: 28px;
                color: #333333;
                font-family: PingFangSC-Regular, PingFang SC;
                word-wrap: break-word;
                word-break: break-all;
                &.text {
                  margin-bottom: 14px;
                }
                &.time {
                  padding-top: 18px;
                  font-size: 24px;
                  color: #666666;
                  text-align: right;
                  position: relative;
                  &::before {
                    position: absolute;
                    box-sizing: border-box;
                    content: ' ';
                    pointer-events: none;
                    right: 0;
                    top: 0;
                    left: -34px;
                    width: 526px;
                    height: 1px;
                    border-top: 1px solid #FFFFFF;
                  }
                }
              }
              .media-list {
                margin-bottom: 22px;
                > li {
                  width: 120px;
                  height: 120px;
                  &.format-img {
                    background-position: center;
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                  }
                  &.video-box {
                    &::before {
                      width: 50px;
                      height: 50px;
                      border: 2px solid rgba(255, 255, 255, .7);
                    }
                    &::after {
                      border-left: 18px solid rgba(255, 255, 255, .8);
                      border-top: 11px solid rgba(0,0,0,0);
                      border-bottom: 11px solid rgba(0,0,0,0);
                      margin-left: 56px;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .fixed {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
      }
      .reply-input-area {
        position: relative;
        padding: 18px 22px 22px 22px;
        background: #fff;
        z-index: 2;
        &::before {
          position: absolute;
          box-sizing: border-box;
          content: ' ';
          pointer-events: none;
          right: 0;
          top: 0;
          left: 0;
          width: 100%;
          height: 1px;
          border-top: 1px solid #E5E5E5;
        }
        .summit-btn {
          position: absolute;
          right: 22px;
          top: -58px;
          width: 140px;
          height: 58px;
          line-height: 58px;
          background: linear-gradient(90deg, rgba(251, 201, 0, 1) 0%, rgba(245, 153, 0, 1) 100%);
          border-radius: 6px;
          text-align: center;
          font-size: 28px;
          font-family: PingFangSC-Regular, PingFang SC;
          color: #FFFFFF;
        }
        .input-box {
          padding: 22px 0 18px 24px;
          background-color: #FAFAFA;
          border-radius: 8px;
          .textarea-wrap {
            position: relative;
            // margin-bottom: 22px;
            padding-bottom: 28px;
            clear: both;
            @{deep}.van-field {
              padding: 0;
              background-color: transparent;
              .van-field__body {
                line-height: 40px;
                textarea {
                  padding-right: 24px;
                  height: 380px;
                }
              }
            }
            .tips {
              position: absolute;
              bottom: 0;
              right: 22px;
              font-size: 24px;
              color: #999ea4;
            }
          }
          @{deep}.van-uploader {
            .van-uploader__wrapper {
              >div {
                &:nth-child(4n) {
                  margin-right: 0;
                }
              }
              .van-uploader__upload {
                margin: 0 22px 22px 0;
                background-color: transparent;
                border: 1px dashed #979797;
              }
              .van-uploader__preview {
                margin: 0 22px 22px 0;
                .van-uploader__preview-delete {
                  color: #191919;
                  background-color: transparent;
                }
              }
            }
          }
        }
      }
    }

    .content-2 {
      .solution {
        position: relative;
        margin-bottom: 10px;
        &::after {
          position: absolute;
          box-sizing: border-box;
          content: ' ';
          pointer-events: none;
          right: 0;
          bottom: -10px;
          left: 0;
          width: 100%;
          height: 10px;
          border-top: 10px solid #EEEEEE;
        }
        .time {
          overflow: hidden;
          padding: 0 28px 30px;
          span {
            float: right;
            height: 34px;
            line-height: 34px;
            font-size: 24px;
            font-family: PingFangSC-Regular, PingFang SC;
            color: #666666;
          }
        }
      }
    }

    .content-3{
      min-height: calc(100vh - 410px);
      background: #fff;
      padding: 30px 22px 100px;
      .evaluate {
        .title {
          text-align: center;
          span {
            font-size: 36px;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: bold;
          }
        }
        .score {
          margin-top: 28px;
          padding-left: 46px;
          .icon {
            width: 42px;
            height: 52px;
            margin-right: 40px;
          }
        }
        .textarea-wrap {
          margin-top: 40px;
          background-color: #FAFAFA;
          position: relative;
          clear: both;
          @{deep}.van-cell {
            background-color: transparent;
          }
          @{deep} .van-field {
            padding: 24px 24px 46px 24px;
          }
          @{deep}.van-field__control {
            line-height: 40px;
          }
          .tips {
            position: absolute;
            bottom: 12px;
            right: 22px;
            font-size: 24px;
            font-family: PingFangSC-Regular, PingFang SC;
            color: #999999;
          }
        }
      }
    }

    .content-4 {
      min-height: calc(100vh - 280px);
      .success {
        overflow: hidden;
        .img {
          margin: 108px auto 0;
          width: 544px;
          height: 386px;
          background-image: url('~@/assets/images/customer-feedback/pic-success.svg');
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-position: center center;
        }
        p {
          width: 544px;
          margin: 0 auto;
          margin-top: 30px;
          text-align: center;
          font-size: 32px;
          font-family: PingFangSC-Regular, PingFang SC;
          color: #999999;
        }
      }

      .complaint-description {
        position: relative;
        margin-bottom: 10px;
        &::after {
          position: absolute;
          box-sizing: border-box;
          content: ' ';
          pointer-events: none;
          right: 0;
          bottom: -10px;
          left: 0;
          width: 100%;
          height: 10px;
          border-top: 10px solid #EEEEEE;
        }
      }
      .solution {
        position: relative;
        margin-bottom: 10px;
        &::after {
          position: absolute;
          box-sizing: border-box;
          content: ' ';
          pointer-events: none;
          right: 0;
          bottom: -10px;
          left: 0;
          width: 100%;
          height: 10px;
          border-top: 10px solid #EEEEEE;
        }
        .time {
          overflow: hidden;
          padding: 0 28px 30px;
          span {
            float: right;
            height: 34px;
            line-height: 34px;
            font-size: 24px;
            font-family: PingFangSC-Regular, PingFang SC;
            color: #666666;
          }
        }
      }
      .service-reply {
        margin-bottom: 10px;
        padding: 0 26px 40px;
        position: relative;
        &::after {
          position: absolute;
          box-sizing: border-box;
          content: ' ';
          pointer-events: none;
          right: 0;
          bottom: -10px;
          left: 0;
          width: 100%;
          height: 10px;
          border-top: 10px solid #EEEEEE;
        }
        .reply-box {
          margin-top: 40px;
          overflow: hidden;
          &.me {
            position: relative;
            .reply-person {
              float: right;
              margin-right: 0;
              position: absolute;
              bottom: 0;
              right: 0;
            }
            .reply-content {
              float: right;
              margin-right: 124px;
              .content-bg {
                background-color: #FFF8EE;
                border-radius: 20px 20px 0px 20px;
              }
            }
          }
          .reply-person {
            width: 100px;
            float: left;
            margin-right: 24px;
            span {
              line-height: 34px;
              font-size: 24px;
              font-family: PingFangSC-Regular, PingFang SC;
              color: #3C3C3E;
            }
          }
          .reply-content {
            width: 526px;
            float: left;
            .content-bg {
              padding: 16px 34px;
              background-color: #F8F8F8;
              border-radius: 0px 20px 20px 20px;
              p {
                width: 100%;
                line-height: 40px;
                font-size: 28px;
                color: #333333;
                font-family: PingFangSC-Regular, PingFang SC;
                word-wrap: break-word;
                word-break: break-all;
                &.text {
                  margin-bottom: 14px;
                }
                &.time {
                  padding-top: 18px;
                  font-size: 24px;
                  color: #666666;
                  text-align: right;
                  position: relative;
                  &::before {
                    position: absolute;
                    box-sizing: border-box;
                    content: ' ';
                    pointer-events: none;
                    right: 0;
                    top: 0;
                    left: -34px;
                    width: 526px;
                    height: 1px;
                    border-top: 1px solid #FFFFFF;
                  }
                }
              }
              .media-list {
                margin-bottom: 22px;
                > li {
                  width: 120px;
                  height: 120px;
                  &.format-img {
                    background-position: center;
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                  }
                  &.video-box {
                    &::before {
                      width: 50px;
                      height: 50px;
                      border: 2px solid rgba(255, 255, 255, .7);
                    }
                    &::after {
                      border-left: 18px solid rgba(255, 255, 255, .8);
                      border-top: 11px solid rgba(0,0,0,0);
                      border-bottom: 11px solid rgba(0,0,0,0);
                      margin-left: 56px;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .evaluate {
        padding: 40px 26px 30px;
        .title {
          span {
            font-size: 36px;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: bold;
          }
        }
        .score {
          margin-top: 28px;
          .icon {
            width: 42px;
            height: 52px;
            margin-right: 40px;
          }
        }
        .textarea-wrap {
          margin-top: 28px;
          p {
            color: #3C3C3E;
            line-height: 40px;
            font-size: 28px;
            font-family: PingFangSC-Regular,PingFang SC;
          }
        }
        .time {
          margin-top: 30px;
          color: #666666;
          font-size: 28px;
          font-family: MicrosoftYaHei;
        }
      }
    }
  }

  @{deep}.bottom-button {
    .bottom-button-content {
      .button {
        &:first-child {
          background: #FFC057;
        }
        &:last-child {
          background: #F59900;
        }
      }
    }
  }
}
</style>
