<template>
  <membership-wrapper
    class="price-reduce-apply"
    title="降价申请"
    left-arrow
    :backPage="false"
    @click-left="onClickLeft"
  >
    <!-- 加载的内容-->
    <div class="content van-content" :class="{ showAdd }">
      <!-- 列表页面 -->
      <div id="content-1" class="content-1">
        <!-- 搜索框 -->
        <form action="">
          <van-search
            v-model="filterFiled"
            placeholder="请输入搜索关键词"
            :left-icon="require('@/assets/images/index-2/icon-search.svg')"
            shape="round"
            background="#FF9F00"
            @blur="onSearch"
          ></van-search>
        </form>
        <!-- 列表 -->
        <van-pull-refresh
          v-model="isLoading"
          @refresh="onRefresh"
          v-if="applyList && applyList.length"
        >
          <van-list
            v-model="loading"
            :finished="finished"
            :offset="200"
            finished-text="没有更多了"
            @load="onLoad"
          >
            <div class="list-wrap" v-for="(item, index) in applyList" :key="'suggestion-' + index">
              <div class="list-wrap-top">
                <div class="list-wrap-top-title">
                  <div class="list-wrap-top-line"></div>
                  <p>主&nbsp;&nbsp;&nbsp;题：{{item.motif}}</p>
                  <span class="status" :class="statusTextColor(item.billStatus)">{{statusText(item.billStatus)}}</span>
                </div>
                <div class="list-wrap-top-content">
                  <p>问题描述：{{item.description}}</p>
                </div>
              </div>
              <div class="list-wrap-bottom">
                <div class="list-wrap-bottom-line">
                  <p>反馈时间：{{item.requestDate}}</p>
                </div>
                <div class="list-wrap-bottom-line">
                  <p>单据编号：{{item.billNo}}</p>
                </div>
                <span class="list-wrap-bottom-button" @click="_toDetail(item.id)">查看详情</span>
              </div>
            </div>
          </van-list>
        </van-pull-refresh>

        <div class="no-data-box" v-else>
          <no-data :loading="requestLoading"></no-data>
        </div>

        <!-- 置顶悬浮按钮 -->
        <scroll-to-top-hover-btn targetDiv="content-1"></scroll-to-top-hover-btn>
      </div>

      <!-- 新增页面 -->
      <div class="content-3">
        <div class="input-content">
          <div class="title">降价申请</div>

          <van-field
            v-model="orgSelected.name"
            readonly="readonly"
            required
            @click="showOrgPicker = true"
          >
            <span slot="label">组&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;织：</span>
            <div slot="input" class="custom-van-field">
              <span :class="{'placeholder': !orgSelected || !orgSelected.name}">{{orgSelected.name || '请选择组织'}}</span>
              <van-icon :name="showOrgPicker ? 'arrow-up' : 'arrow-down'"/>
            </div>
          </van-field>

          <!-- 选择销售品种 -->
          <div class="van-cell-cus van-cell--required van-field">
            <div class="title-box"><span>选择销售品种：</span></div>
            <div class="value-box" v-if="salesVarietyList && salesVarietyList.length">
              <van-radio-group v-model="salesVarietySelected">
                <van-radio
                  v-for="(item, index) in salesVarietyList"
                  :key="index"
                  :name="item.geneticsmrkId"
                  class="checkbox"
                >{{ item.geneticsmrkName }}
                </van-radio>
              </van-radio-group>
            </div>
          </div>

          <van-field
            placeholder="请输入主题"
            v-model="theme"
            :maxlength="20"
            required
            clearable
          >
            <span slot="label">主&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;题：</span>
          </van-field>

          <div class="textarea-wrap">
            <van-field
              v-model="queText"
              type="textarea"
              label="问题描述："
              placeholder="请输入降价理由"
              rows="4"
              autosize
              required
              clearable
              :maxlength="500"
              @blur="scrollToTop()"
            />
            <span class="tips">{{queText.length}}/500(描述不少于10个字)</span>
          </div>

          <div class="media-wrap">
            <div class="media-wrap-title">
              <span>图片/视频：</span>
            </div>
            <div class="media-wrap-value">
              <!-- <div class="upload-img-wrap" v-for="(item, index) in uploadList" :key="index">
                <img :src="allImgDomainName+item.url" v-if="!item.name">
                <video :src="allImgDomainName+item.url" v-if="item.name"></video>
                <i @click.stop.prevent="_deleteImg(index)"></i>
              </div> -->
              <van-uploader
                v-model="previewUploadList"
                accept="image/*,video/*"
                upload-text="图片/视频"
                preview-size="2rem"
                :max-count="5"
                :after-read="onAfterRead"
                :before-delete="onBeforeDelete"
              ></van-uploader>
            </div>
          </div>

          <van-field
            v-model="reduceRangeSelected"
            label="降价幅度："
            readonly="readonly"
            required
            @click="selectReduceRange"
          >
            <div slot="input" class="custom-van-field">
              <span :class="{'placeholder': !reduceRangeSelected}">{{reduceRangeSelected || '请选择降价幅度'}}</span>
              <van-icon :name="showReduceRangePicker ? 'arrow-up' : 'arrow-down'"/>
            </div>
          </van-field>

          <van-field
            class="label-large"
            placeholder="请输入申请人手机号"
            v-model="phone"
            type="tel"
            :maxlength="11"
            clearable
          >
            <span slot="label">申请人号码：</span>
          </van-field>
        </div>
      </div>
    </div>

    <!-- 底部新增按钮  -->
    <bottom-button
      :btns="showAdd ? [{ text: '提交', color: 'red' }] : [{ text: '新增', color: 'red' }]"
      @on-btn="onClickBottomBtn"
    ></bottom-button>

    <!-- 底部弹出选择框（投诉组织） -->
    <van-action-sheet
      v-model="showOrgPicker"
      title="选择组织"
      :actions="orgList"
      @select="chooseOrg"
    />

    <!-- 底部弹出选择框（投诉组织） -->
    <van-action-sheet
      v-model="showReduceRangePicker"
      title="选择降价幅度"
      :actions="reduceRangeList"
      @select="chooseReduceRange"
    />
  </membership-wrapper>
</template>

<script>
import MembershipWrapper from '@/components/membership-center/membership-wrapper'
import BottomButton from '@/components/bottom-button'
import NoData from '@/components/no-data'
import ScrollToTopHoverBtn from '@/components/scroll-to-top-hover-btn/index'
import { scrollTop, getScrollTop, _debounce, isPhone } from '@/utils/common'
import { api } from '@/api'
import { allImgDomainNameMixin } from '@/assets/js/mixin'
import { mapGetters } from 'vuex'

export default {
  name: 'price-reduce-apply',
  mixins: [allImgDomainNameMixin],
  components: {
    MembershipWrapper,
    BottomButton,
    NoData,
    ScrollToTopHoverBtn
  },
  data () {
    return {
      showAdd: false, // 显示申请页
      applyList: [], // 降价申请列表
      filterFiled: '', // 关键字过滤
      // 上拉加载及下拉刷新
      page: {
        index: 1,
        size: 6,
        total: 0
      },
      cacheList: [],
      loading: false, // 控制上拉加载的加载动画
      finished: false, // 控制在页面往下移动到底部时是否调用接口获取数据
      isLoading: false, // 控制下拉刷新的加载动画
      feedbackTypeId: '', // 当前选中反馈类型id
      orgSelected: {}, // 投诉组织
      theme: '', // 主题
      queText: '', // 问题描述
      phone: '', // 手机号
      previewUploadList: [], // 预览上传文件集合
      uploadList: [], // 上传文件集合
      showOrgPicker: false, // 显示底部组织选择框
      salesVarietyList: [], // 销售品种选择列表
      salesVarietySelected: '', // 当前选中销售品种
      showReduceRangePicker: false, // 显示底部降价幅度选择框
      reduceRangeList: [], // 降价幅度选择列表
      reduceRangeSelected: '', // 当前选中降价幅度
      isSubmitFlag: false, // 记录提交状态
      requestLoading: false // 接口请求加载动画
    }
  },
  computed: {
    ...mapGetters(['allChannel']),
    // 投诉组织列表（当前客户关联的渠道门店）
    orgList () {
      return this.allChannel.map(v => ({ name: v.channelName, id: v.channelId }))
    }
  },
  watch: {
    orgSelected (val) {
      let customerName = JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerName
      let findItem = this.salesVarietyList.find(v => v.geneticsmrkId === this.salesVarietySelected)
      let salesVarietyName = findItem ? findItem.geneticsmrkName : ''
      if (customerName && val.name && salesVarietyName) {
        this.theme = customerName + val.name + salesVarietyName + '降价申请'
      } else {
        this.theme = ''
      }
    },
    salesVarietySelected (val) {
      let customerName = JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerName
      let findItem = this.salesVarietyList.find(v => v.geneticsmrkId === val)
      let salesVarietyName = findItem ? findItem.geneticsmrkName : ''
      if (customerName && this.orgSelected.name && salesVarietyName) {
        this.theme = customerName + this.orgSelected.name + salesVarietyName + '降价申请'
      } else {
        this.theme = ''
      }
    }
  },
  created () {
    let query = this.$route.query
    if (!query.typeId) {
      this.$router.replace('/customerFeedbackSwitchType')
      return
    }

    this.feedbackTypeId = query.typeId
    this.queryPriceApplyList()
  },
  methods: {
    // 消除键盘关闭后页面被撑起，导致按钮响应区域错位
    scrollToTop () {
      scrollTop(window, getScrollTop(), 0, 100)
    },
    // 上传图片
    _uploadImage (file, type, name, size, e) {
      // 传递一个 FormData 对象
      // let formData = new FormData()
      // 'file' 可变 相当于 input 表单的name 属性
      // formData.append('file', file)
      api.uploadImage(file, res => {
        if (res.success) {
          if (type === 'mp4' || type === 'avi' || type === 'quicktime') {
            this.uploadList.push({
              name: name,
              url: res.data[0],
              size: size + ''
            })
          } else {
            this.uploadList.push({ url: res.data[0] })
          }
          e.status = 'done'
        } else {
          e.status = 'failed'
          e.message = '上传失败'
          this.$toast.fail(res.msg || '上传图片或视频失败')
        }
      })
    },
    onAfterRead (e) {
      let file = e.file
      let type = file.type.split('/')[1]
      e.status = 'uploading'
      e.message = '上传中...'
      this._uploadImage(file, type, file.name, file.size, e)
    },
    // 删除上传图片
    onBeforeDelete (e) {
      let index = this.previewUploadList.findIndex(v => v.content === e.content)
      if (index > -1) {
        this.uploadList.splice(index, 1)
        return true
      } else {
        return false
      }
    },
    // 清空填写数据
    clearSubmitData () {
      this.orgSelected = {}
      this.theme = ''
      this.queText = ''
      this.phone = ''
      this.previewUploadList = []
      this.uploadList = []
      this.salesVarietyList = []
      this.salesVarietySelected = ''
      this.reduceRangeList = []
      this.reduceRangeSelected = ''
    },
    onClickLeft () {
      if (this.showAdd) {
        this.showAdd = false
        this.clearSubmitData()
      } else {
        this.$router.go(-1)
      }
    },
    onClickBottomBtn () {
      if (this.showAdd) {
        this.submit()
      } else {
        this.showAdd = true
      }
    },
    _toDetail (id) {
      this.$router.push({
        path: '/priceReduceApplyDetails',
        query: { id }
      })
    },
    statusText (status) {
      switch (status) {
        case 'A':
          return '暂存'
        case 'B':
          return '已提交'
        case 'C':
          return '已同意'
        default:
          return ''
      }
    },
    statusTextColor (status) {
      switch (status) {
        case 'A':
          return 'orange'
        case 'B':
          return 'blue'
        case 'C':
          return 'green'
        default:
          return ''
      }
    },
    // 选择组织
    chooseOrg (item) {
      this.orgSelected = item
      this.showOrgPicker = false

      this.reduceRangeList = []
      this.reduceRangeSelected = ''
      this.salesVarietyList = []
      this.salesVarietySelected = ''
      this.querySalesVariety(this.orgSelected.id)
    },
    // 查询销售品种
    querySalesVariety (ownerId) {
      api.commonCall({ ownerId }, 'querySalesVariety').then(res => {
        if (res.success) {
          this.salesVarietyList = res.data.list
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
          this.$toast({
            position: 'bottom',
            message: '请重新选择组织'
          })
        }
      })
    },
    selectReduceRange () {
      if (!this.orgSelected || !this.orgSelected.id) {
        this.$toast('请先选择组织')
        return
      }
      this.queryPriceRange(this.orgSelected.id)
      this.showReduceRangePicker = true
    },
    chooseReduceRange (item) {
      this.reduceRangeSelected = item.name
      this.showReduceRangePicker = false
    },
    // 查询降价幅度
    queryPriceRange (ownerId) {
      this.reduceRangeList = [{ loading: true }]
      api.commonCall({ ownerId }, 'queryPriceRange').then(res => {
        if (res.success) {
          this.reduceRangeList = res.data.priceRange.map(v => ({ name: v }))
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    // 下拉刷新
    onRefresh () {
      this.page.index = 1
      this.cacheList = []
      this.queryPriceApplyList()
    },
    // 上拉加载
    onLoad () {
      this.page.index++
      this.queryPriceApplyList()
    },
    onSearch () {
      this.page.index = 1
      this.cacheList = []
      this.queryPriceApplyList()
    },
    // 查询降价申请列表
    queryPriceApplyList () {
      this.requestLoading = true
      let params = {
        page: this.page.index,
        pageSize: this.page.size,
        keywords: this.filterFiled,
        feedbackType: this.feedbackTypeId
      }

      api.commonCall(params, 'queryPriceApplyList').then(res => {
        this.requestLoading = false
        if (res.success) {
          this.cacheList = this.cacheList.concat(res.data.list)
          this.applyList.splice(0, this.applyList.length, ...this.cacheList)
          this.page.total = res.data.count
          this.finished = false

          this.loading = false

          if (this.cacheList.length >= this.page.total) {
            this.finished = true
          }
          setTimeout(() => {
            this.isLoading = false
          }, 100)
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    submit: _debounce(function () {
      if (this.isSubmitFlag) return
      this.isSubmitFlag = true

      if (!this.orgSelected || !this.orgSelected.id) {
        this.$toast('请选择组织')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (!this.salesVarietySelected) {
        this.$toast('请选择销售品种')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (!this.theme || !this.theme.trim()) {
        this.$toast('主题不能为空')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (this.queText.length < 10 || this.queText.trim().length < 10) {
        this.$toast('问题描述不少于10个字')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (!this.reduceRangeSelected) {
        this.$toast('请选择降价幅度')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (this.phone && !isPhone(this.phone)) {
        this.$toast('请输入正确的手机号')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else {
        let uploadImageList = []
        let uploadVideoList = []

        // eslint-disable-next-line
        for (let [index, elem] of this.uploadList.entries()) {
          if (elem.name) {
            uploadVideoList.push(elem)
          } else {
            uploadImageList.push({ pictureUrl: elem.url })
          }
        }

        let params = {
          feedbackType: this.feedbackTypeId,
          motif: this.theme.trim(),
          description: this.queText.trim(),
          ownerId: this.orgSelected.id,
          material: this.salesVarietySelected,
          reducedRange: this.reduceRangeSelected,
          pictures: uploadImageList, // 图片集合
          attachments: uploadVideoList // 视频集合
        }
        if (this.phone) {
          params.phone = this.phone
        }

        api.commonCall(params, 'addPriceApply').then(res => {
          if (res.success) {
            this.$toast.success('提交成功')
            setTimeout(() => {
              this.onRefresh()
              this.showAdd = false
              this.clearSubmitData()
            }, 500)
            setTimeout(() => {
              this.isSubmitFlag = false
            }, 1000)
          } else {
            setTimeout(() => {
              this.isSubmitFlag = false
            }, 1000)
            res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
          }
        })
      }
    }, 500)
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.price-reduce-apply {
  @{deep}.van-search {
    padding: 16px 30px;
    .van-search__content {
      padding-left: 28px;
      border-radius: 16px;
      background-color: #FFFFFF;
      .van-cell {
        line-height: 34px;
        .van-field__control::placeholder {
          color: #C2C2C2;
        }
      }
    }
  }

  @{deep}.van-action-sheet {
    .van-action-sheet__header {
      line-height: 116px;
      font-weight: bold;
      font-family: PingFangSC-Medium, PingFang SC;
    }
    .van-action-sheet__item {
      // text-align: left;
    }
  }

  > .content {
    overflow: hidden;
    position: relative;
    box-sizing: border-box;

    &.van-content {
      height: calc(100vh - 92px);
    }

    &.showAdd {
      .content-1 {
        left: -750px !important;
      }

      .content-3 {
        left: 0 !important;
      }
    }

    &.showDetail {
      .content-1 {
        left: -750px !important;
      }

      .content-2 {
        left: 0 !important;
      }
    }

    .content-1 {
      background: #f5f5f5;
      transition: background 0.2s;
      -webkit-overflow-scrolling: touch;
      overflow: auto;
      height: calc(100% - 96px);
      position: absolute;
      left: 0px;
      top: 0;
      width: 100%;
      transition: left 0.3s;
      .list-wrap {
        width: 706px;
        margin: 22px auto 0;
        background-color: #FFFFFF;
        border-radius: 10px;
        .list-wrap-top{
          width: 100%;
          padding: 28px 0 20px;
          box-sizing: border-box;
          border-bottom: 1px solid #F1EFF8;
          .list-wrap-top-title{
            height: 100%;
            display: flex;
            align-items: center;
            .list-wrap-top-line{
              width: 4px;
              height: 26px;
              background-color: #F17533;
            }
            p{
              max-width: 560px;
              margin-left: 12px;
              font-family: PingFangSC-Medium, PingFang SC;
              display: inline-block;
              height: 40px;
              line-height: 40px;
              font-size: 28px;
              font-weight: 500;
              color: #333333;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            .status {
              height: 34px;
              line-height: 34px;
              margin: 0 22px 0 auto;
              font-family: PingFangSC-Regular, PingFang SC;
              font-size: 24px;
              &.blue {
                color: #214E90;
              }
              &.orange {
                color: #F59900;
              }
              &.green {
                color: #67C23A;
              }
              &.gray {
                color: #999999;
              }
            }
          }
          .list-wrap-top-content{
            margin-top: 10px;
            display: flex;
            p{
              margin-left: 16px;
              width: 690px;
              height: 34px;
              line-height: 34px;
              font-size: 24px;
              font-family: PingFangSC-Regular, PingFang SC;
              color: #999999;
              display: -webkit-box;
              -webkit-line-clamp: 1; // 限制文本的行数，只显示两行
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
              word-wrap: break-word;
              word-break: break-all;
            }
          }
          .list-wrap-top-right{
            width: 13%;
            height: 100%;
            float: left;
            font-size: 24px;
            font-family: "PingFang SC";
            color: #E51C23;
            line-height: 57px;
            text-align: left;
          }
        }
        .list-wrap-bottom{
          width: 100%;
          padding: 20px 0 28px;
          position: relative;
          .list-wrap-bottom-line{
            height: 100%;
            margin-top: 12px;
            display: flex;
            p{
              margin-left: 16px;
              width: 690px;
              height: 34px;
              line-height: 34px;
              font-size: 24px;
              font-family: PingFangSC-Regular, PingFang SC;
              color: #999999;
              display: -webkit-box;
              -webkit-line-clamp: 1; // 限制文本的行数，只显示两行
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
              word-wrap: break-word;
              word-break: break-all;
            }
          }
          .list-wrap-bottom-button {
            position: absolute;
            right: 22px;
            bottom: 32px;
            display: inline-block;
            width: 142px;
            height: 46px;
            line-height: 46px;
            border-radius: 24px;
            border: 1px solid #214E90;
            color: #214E90;
            font-size: 24px;
            font-family: PingFangSC-Regular,PingFang SC;
            text-align: center;
          }
        }
        .content {
          overflow: hidden;
          .title {
            margin: 43px 0;
            position: relative;
            font-size: 0;
            display: flex;
            padding: 0 24px;
            vertical-align: middle;
            span, p {
              display: inline-block;
              vertical-align: middle;
            }
            span {
              &.icon {
                width: 34px;
                height: 30px;
                margin-right: 20px;
                background: url("~@/assets/images/order/shopper@2x.png") no-repeat center center /
                  34px 30px;
              }
              &.status {
                line-height: 30px;
                font-size: 30px;
                font-weight: 400;
                color: rgb(255, 93, 19);
                padding-right: 20px;
              }
            }
            p {
              flex: 1;
              height: 30px;
              font-size: 30px;
              font-weight: 500;
              color: rgb(46, 48, 51);
              line-height: 30px;
              .arrow {
                line-height: 30px;
                font-size: 26px;
                color: rgb(46, 48, 51);
                width: 40px;
                text-align: center;
                top: 2px;
              }
            }
          }
          .list-item {
            font-size: 0;
            margin-bottom: 30px !important;
            padding: 0 24px;
            &:last-child {
              margin-bottom: 0;
            }
            .text-wrap {
              display: inline-block;
              vertical-align: middle;
            }
            .text-wrap {
              width: 100%;
              .item {
                padding: 0 30px;
                font-size: 28px;
                color: #8e939a;
                i,
                span {
                  display: inline-block;
                  vertical-align: middle;
                }
                i {
                  font-size: 24px;
                  font-style: normal;
                }
                span {
                  float: right;
                  font-size: 28px;
                }
              }
            }
          }
        }
        .do-some-wrap {
          min-height: 70px;
          padding: 24px;
          text-align: right;
          font-size: 0;
          border-top: 1px solid rgb(232, 233, 235, 1);
          span {
            &:not(.no-evaluate) {
              display: inline-block;
              width: 130px;
              padding: 17px;
              margin-left: 16px;
              font-size: 26px;
              text-align: center;
              font-weight: 400;
              color: rgba(46, 48, 51, 1);
              border: 2px solid #c1c4ca;
              border-radius: 35px;
              user-select: none;
              &:first-child {
                margin-left: 0;
              }
              &.color1 {
                color: #ffffff;
                border-color: rgba(255, 107, 82, 1);
                background: linear-gradient(
                  90deg,
                  rgba(255, 107, 82, 1) 0%,
                  rgba(227, 50, 64, 1) 100%
                );
              }
              &.color2 {
                color: #e33240;
                border-color: #e33240;
                background: rgba(255, 248, 249, 1);
              }
            }
            &.no-evaluate {
              line-height: 70px;
              display: inline-block;
              font-size: 26px;
              color: rgba(150, 150, 150, .7);
            }
          }
        }
      }
    }

    .content-2 {
      background: white;
      position: absolute;
      top: 0;
      left: 750px;
      width: 100%;
      -webkit-overflow-scrolling: touch;
      height: 100%;
      overflow: auto;
      transition: left 0.3s;
      .sugQue, .sugAns {
        .title {
          height: 60px;
          line-height: 60px;
          font-size: 32px;
          padding-left: 10px;
        }
        > div:not(.title) {
          overflow: hidden;
          padding: 8px 0 8px 10px;
          > div {
            &:first-child {
              width: 150px;
              padding-right: 10px;
              text-align: right;
              color: #5e6166;
              float: left;
            }
            &:last-child {
              width: calc(100% - 160px);
              float: right;
            }
          }
        }
      }
      .sugQue {
        padding: 30px 0;
      }
      .sugAns {
        border-top: 1px solid #eef0f5;
        padding: 30px 0;
      }
    }

    .content-3 {
      background: white;
      position: absolute;
      top: 0;
      left: 750px;
      width: 100%;
      -webkit-overflow-scrolling: touch;
      height: calc(100% - 96px);
      overflow: auto;
      transition: left 0.3s;
      .input-content {
        padding-bottom: 26px;
        .title {
          position: relative;
          height: 50px;
          line-height: 50px;
          font-size: 36px;
          font-family: PingFangSC-Medium,PingFang SC;
          font-weight: bold;
          color: #3C3C3E;
          padding: 24px 26px;
          &::after {
            position: absolute;
            box-sizing: border-box;
            content: ' ';
            pointer-events: none;
            right: 0;
            bottom: 0;
            left: 26px;
            width: 698px;
            border-bottom: 1px solid #E5E5E5;
            -webkit-transform: scaleY(.5);
            transform: scaleY(.5);
          }
        }
        .custom-van-field {
          font-size: 28px;
          font-family: PingFangSC-Regular, PingFang SC;
          color: #323233;
          .placeholder {
            color: #999999;
            font-size: 24px;
          }
          .van-icon {
            color: #333333;
            margin-left: 12px;
            vertical-align: middle;
          }
        }
        .van-cell-cus {
          position: relative;
          box-sizing: border-box;
          width: 100%;
          padding: 24px 24px 24px 32px;
          overflow: hidden;
          color: #323233;
          font-size: 0.37333rem;
          background-color: #fff;
          .title-box {
            font-size: 24px;
          }
          .value-box {
            margin-top: 26px;
            border: 1px solid #ECECEC;
            border-radius: 10px;
            @{deep} .van-radio {
              &:not(:last-child) {
                .border-1px(#E5E5E5);
              }
              padding: 40px 30px;
              .van-radio__label {
                width: calc(100% - 60px);
                font-size: 32px;
                color: #2e3033;
                .address-top {
                  display: inline-block;
                  width: 100%;
                  text-align: right;
                  padding-bottom: 10px;
                  > span {
                    float: left;
                    font-size: 30px;
                  }
                }
              }
              .van-radio__icon {
                .van-icon {
                  color: rgba(0, 0, 0, 0);
                  width: 32px;
                  height: 32px;
                  position: relative;
                  border: 0;
                  background-color: transparent;
                  &::before,
                  &::after {
                    content: " ";
                    display: block;
                    width: 32px;
                    height: 32px;
                    box-sizing: border-box;
                    border-radius: 50%;
                    position: absolute;
                    left: 0;
                    top: 4px;
                    transition: all 0.2s;
                  }
                  &::before {
                    border: 10px solid #F59900;
                    opacity: 0;
                  }

                  &::after {
                    border: 1px solid #c1c4ca;
                    opacity: 1;
                  }
                }
                &.van-radio__icon--checked {
                  .van-icon-success {
                    &::before {
                      opacity: 1;
                    }
                    &::after {
                      opacity: 0;
                    }
                  }
                }
                .van-icon-success {
                  &::after {
                    opacity: 1;
                  }
                  &::before {
                    opacity: 0;
                  }
                }
              }
            }
          }
        }
        @{deep}.van-field {
          padding: 24px 24px 24px 32px;
          &::after {
            position: absolute;
            box-sizing: border-box;
            content: ' ';
            pointer-events: none;
            right: 0;
            bottom: 0;
            left: 26px;
            width: 698px;
            border-bottom: 1px solid #E5E5E5;
            -webkit-transform: scaleY(.5);
            transform: scaleY(.5);
          }
          .van-field__label {
            width: 120px;
            span {
              font-size: 24px;
            }
          }
          &.label-large {
            .van-field__label {
              width: 150px;
            }
          }
          .van-field__value {
            .van-field__control::placeholder {
              font-size: 24px;
              color: #999999;
            }
          }
        }

        .textarea-wrap {
          position: relative;
          clear: both;
          @{deep} .van-field {
            padding: 24px 24px 50px 32px;
          }
          .tips {
            position: absolute;
            bottom: 12px;
            right: 22px;
            font-size: 24px;
            color: #999ea4;
          }
        }

        .media-wrap {
          position: relative;
          display: flex;
          box-sizing: border-box;
          width: 100%;
          padding: 24px 24px 24px 32px;
          &::after {
            position: absolute;
            box-sizing: border-box;
            content: ' ';
            pointer-events: none;
            right: 0;
            bottom: 0;
            left: 26px;
            width: 698px;
            border-bottom: 1px solid #E5E5E5;
            -webkit-transform: scaleY(.5);
            transform: scaleY(.5);
          }
          .media-wrap-title {
            flex: none;
            width: 130px;
            span {
              color: #323233;
              font-size: 24px;
              line-height: 48px;
            }
          }
          .media-wrap-value {
            flex: 1;
            .upload-img-wrap {
              display: inline-block;
              position: relative;
              img {
                width: 140px;
                height: 140px;
                margin-right: 30px;
                margin-bottom: 15px;
                vertical-align: middle;
              }
              video {
                width: 140px;
                height: 140px;
                margin-right: 24px;
                margin-bottom: 15px;
                vertical-align: middle;
              }
              i {
                font-style: normal;
                position: absolute;
                top: -13px;
                right: 15px;
                width: 33px;
                height: 33px;
                background-size: 33px 33px;
                background-repeat: no-repeat;
                .bg-img('~@/assets/images/order/icon-close');
              }
            }
          }
        }
      }
    }
  }
}
</style>
