<template>
  <membership-wrapper
    class="price-reduce-apply-details"
    title="降价申请"
    :left-arrow="true"
  >
    <!-- 自定义步骤条 -->
    <div class="steps-wrapper">
      <div class="steps-box">
        <div class="step" v-for="(item, index) in stepsList" :key="'step-' + index">
          <div class="step-title"><span :class="{'current': currentState === index}">{{item}}</span></div>
          <div class="step-circle-container"><span :class="{'current': currentState === index}">{{index + 1}}</span></div>
          <div class="step-line"></div>
        </div>
      </div>
    </div>

    <div class="content">
      <div class="content-0" v-if="!isModify">
        <div class="description">
          <div class="title">降价申请</div>

          <van-field
            :value="detail.ownerName"
            readonly
          >
            <span slot="label">组&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;织：</span>
          </van-field>

          <van-field
            v-model="detail.motif"
            readonly
          >
            <span slot="label">主&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;题：</span>
          </van-field>

          <van-field
            v-model="detail.materialName"
            readonly
          >
            <span slot="label">销售品种：</span>
          </van-field>

          <van-field
            v-if="currentState === 1"
            readonly
          >
            <span slot="label">折扣金额：</span>
            <div slot="input"><span class="reduced-price">{{detail.reducedPrice | keepTwoNum}}</span> 元</div>
          </van-field>

          <van-field
            v-if="currentState === 1"
            readonly
            is-link
          >
            <span slot="label">销售折扣：</span>
            <div slot="input"><span class="discount-number" @click="toSalesDiscount">{{detail.discountNumber}}</span></div>
          </van-field>

          <div class="textarea-wrap">
            <van-field
              v-model="detail.description"
              type="textarea"
              label="问题描述："
              readonly
              autosize
            />
          </div>

          <div class="media-wrap">
            <div class="media-wrap-title">
              <span>图片/视频：</span>
            </div>
            <div class="media-wrap-value">
              <ul class="media-list">
                <li
                  class="format-img"
                  v-for="(child, childIndex) in detail.pictureList"
                  :style="{backgroundImage: `url(${allImgDomainName + child})`}"
                  :key="childIndex + 'child'"
                  @click="viewPic(childIndex, detail.pictureList)"
                ></li>
                <li
                  class="video-box"
                  v-for="(child, childIndex) in detail.videoList"
                  :key="childIndex + 'video'"
                  @click="viewVideo(child.url)"
                ></li>
              </ul>
              <!-- <van-uploader
                v-model="previewUploadList"
                accept="image/*,video/*"
                upload-text="图片/视频"
                preview-size="2rem"
                disabled
                :deletable="false"
                :show-upload="false"
              ></van-uploader> -->
            </div>
          </div>

          <van-field
            readonly
          >
            <span slot="label">降价幅度：</span>
            <div slot="input">{{detail.reducedRange}}元/斤</div>
          </van-field>

          <van-field
            class="label-large"
            v-model="detail.phone"
            readonly
          >
            <span slot="label">申请人号码：</span>
          </van-field>

          <van-field
            v-model="detail.requestDate"
            readonly
          >
            <span slot="label">时&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;间：</span>
          </van-field>
        </div>
      </div>

      <div class="content-1" v-else-if="detail.billStatus === 'A' && currentState === 0 && isModify">
        <div class="title">降价申请</div>

        <van-field
          v-model="orgSelected.name"
          readonly="readonly"
          required
          @click="showOrgPicker = true"
        >
          <span slot="label">组&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;织：</span>
          <div slot="input" class="custom-van-field">
            <span :class="{'placeholder': !orgSelected || !orgSelected.name}">{{orgSelected.name || '请选择组织'}}</span>
            <van-icon :name="showOrgPicker ? 'arrow-up' : 'arrow-down'"/>
          </div>
        </van-field>

        <!-- 选择销售品种 -->
        <div class="van-cell-cus van-cell--required van-field">
          <div class="title-box"><span>选择销售品种：</span></div>
          <div class="value-box" v-if="salesVarietyList && salesVarietyList.length">
            <van-radio-group v-model="salesVarietySelected">
              <van-radio
                v-for="(item, index) in salesVarietyList"
                :key="index"
                :name="item.geneticsmrkId"
                class="checkbox"
              >{{ item.geneticsmrkName }}
              </van-radio>
            </van-radio-group>
          </div>
        </div>

        <van-field
          placeholder="请输入主题"
          v-model="theme"
          :maxlength="20"
          required
          clearable
        >
          <span slot="label">主&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;题：</span>
        </van-field>

        <div class="textarea-wrap">
          <van-field
            v-model="queText"
            type="textarea"
            label="问题描述："
            placeholder="请输入降价理由"
            rows="4"
            autosize
            required
            clearable
            :maxlength="500"
            @blur="scrollToTop()"
          />
          <span class="tips">{{queText.length}}/500(描述不少于10个字)</span>
        </div>

        <div class="media-wrap">
          <div class="media-wrap-title">
            <span>图片/视频：</span>
          </div>
          <div class="media-wrap-value">
            <ul class="media-list">
              <li
                class="format-img"
                v-for="(child, childIndex) in initialUploadPicList"
                :style="{backgroundImage: `url(${allImgDomainName + child.url})`}"
                :key="childIndex + 'child'"
                @click="viewPic2(childIndex, [...initialUploadPicList, ...uploadList])"
              >
                <i class="van-icon van-icon-clear van-uploader__preview-delete" @click.stop.prevent="_deleteImg(childIndex)"></i>
              </li>
              <li
                class="video-box"
                v-for="(child, childIndex) in initialUploadVideoList"
                :key="childIndex + 'video'"
                @click="viewVideo(child.url)"
              >
                <i class="van-icon van-icon-clear van-uploader__preview-delete" @click.stop.prevent="_deleteImg(childIndex)"></i>
              </li>
            </ul>
            <van-uploader
              v-model="previewUploadList"
              accept="image/*,video/*"
              upload-text="图片/视频"
              preview-size="2rem"
              :max-count="maxNumOfFiles"
              :after-read="onAfterRead"
              :before-delete="onBeforeDelete"
            ></van-uploader>
          </div>
        </div>

        <van-field
          v-model="reduceRangeSelected"
          label="降价幅度："
          readonly="readonly"
          required
          @click="selectReduceRange"
        >
          <div slot="input" class="custom-van-field">
            <span :class="{'placeholder': !reduceRangeSelected}">{{reduceRangeSelected || '请选择降价幅度'}}</span>
            <van-icon :name="showReduceRangePicker ? 'arrow-up' : 'arrow-down'"/>
          </div>
        </van-field>

        <van-field
          class="label-large"
          placeholder="请输入申请人手机号"
          v-model="phone"
          type="tel"
          :maxlength="11"
          clearable
        >
          <span slot="label">申请人号码：</span>
        </van-field>
      </div>

      <!-- 底部按钮 -->
      <bottom-button
        v-if="detail.billStatus === 'A' && currentState === 0"
        :btns="isModify ? [{ text: '取消', color: 'gray' }, { text: '重新提交', color: 'red' }] : [{ text: '修改', color: 'red' }]"
        @on-btn="onBottomButton"
      ></bottom-button>
    </div>

    <!-- 底部弹出选择框（投诉组织） -->
    <van-action-sheet
      v-model="showOrgPicker"
      title="选择组织"
      :actions="orgList"
      @select="chooseOrg"
    />

    <!-- 底部弹出选择框（投诉组织） -->
    <van-action-sheet
      v-model="showReduceRangePicker"
      title="选择降价幅度"
      :actions="reduceRangeList"
      @select="chooseReduceRange"
    />

    <!-- 视频预览 -->
    <video-preview :show="showVideoPreview" :videoUrl="videoUrl" @close="closeVideoPreiviw"></video-preview>
    <van-overlay :show="showVideoPreview" z-index="2010"/>
  </membership-wrapper>
</template>

<script>
import MembershipWrapper from '@/components/membership-center/membership-wrapper'
import BottomButton from '@/components/bottom-button'
import VideoPreview from '@/components/video-preview/video-preview'
import { scrollTop, getScrollTop, _debounce, isPhone } from '@/utils/common'
import { api } from '@/api'
import { allImgDomainNameMixin } from '@/assets/js/mixin'
import { ImagePreview } from 'vant'
import { mapGetters } from 'vuex'

export default {
  name: 'price-reduce-apply-details',
  mixins: [allImgDomainNameMixin],
  inject: ['reload'],
  components: {
    MembershipWrapper,
    BottomButton,
    VideoPreview
  },
  data () {
    return {
      stepsList: ['已提交', '已同意'], // 步骤列表
      currentState: 0, // 当前步骤
      detail: {}, // 详情信息
      previewUploadList: [], // 预览上传文件集合
      videoUrl: '', // 预览视频地址
      showVideoPreview: false, // 显示视频预览
      isModify: false, // 是否修改
      orgSelected: {}, // 投诉组织
      theme: '', // 主题
      queText: '', // 问题描述
      phone: '', // 手机号
      uploadList: [], // 上传文件集合
      initialUploadList: [], // 最初的文件集合
      showOrgPicker: false, // 显示底部组织选择框
      salesVarietyList: [], // 销售品种选择列表
      salesVarietySelected: '', // 当前选中销售品种
      showReduceRangePicker: false, // 显示底部降价幅度选择框
      reduceRangeList: [], // 降价幅度选择列表
      reduceRangeSelected: '', // 当前选中降价幅度
      isSubmitFlag: false // 记录提交状态
    }
  },
  computed: {
    ...mapGetters(['allChannel']),
    // 投诉组织列表（当前客户关联的渠道门店）
    orgList () {
      return this.allChannel.map(v => ({ name: v.channelName, id: v.channelId }))
    },
    maxNumOfFiles () { // 最大可上传文件数
      return 5 - this.initialUploadList.length > 0 ? 5 - this.initialUploadList.length : 0
    },
    initialUploadPicList () {
      return this.initialUploadList.filter(v => !v.name)
    },
    initialUploadVideoList () {
      return this.initialUploadList.filter(v => v.name)
    }
  },
  created () {
    let query = this.$route.query
    if (!query.id) {
      this.$router.go(-1)
      return
    }

    this.queryPriceApplyDetail(query.id)
  },
  mounted () {

  },
  methods: {
    // 消除键盘关闭后页面被撑起，导致按钮响应区域错位
    scrollToTop () {
      scrollTop(window, getScrollTop(), 0, 100)
    },
    // 上传图片
    _uploadImage (file, type, name, size, e) {
      // 传递一个 FormData 对象
      // let formData = new FormData()
      // 'file' 可变 相当于 input 表单的name 属性
      // formData.append('file', file)
      api.uploadImage(file, res => {
        if (res.success) {
          if (type === 'mp4' || type === 'avi' || type === 'quicktime') {
            this.uploadList.push({
              name: name,
              url: res.data[0],
              size: size + ''
            })
          } else {
            this.uploadList.push({ url: res.data[0] })
          }
          e.status = 'done'
        } else {
          e.status = 'failed'
          e.message = '上传失败'
          this.$toast.fail(res.msg || '上传图片或视频失败')
        }
      })
    },
    onAfterRead (e) {
      let file = e.file
      let type = file.type.split('/')[1]
      e.status = 'uploading'
      e.message = '上传中...'
      this._uploadImage(file, type, file.name, file.size, e)
    },
    // 删除上传图片
    onBeforeDelete (e) {
      let index = this.previewUploadList.findIndex(v => v.content === e.content)
      if (index > -1) {
        this.uploadList.splice(index, 1)
        return true
      } else {
        return false
      }
    },
    // 删除详情返回的文件
    _deleteImg (index) {
      this.initialUploadList.splice(index, 1)
    },
    // 图片预览
    viewPic (index, picList) {
      let list = []
      // eslint-disable-next-line
      for (let [index, elem] of picList.entries()) {
        list.push(this.allImgDomainName + elem)
      }
      ImagePreview({
        images: list,
        startPosition: index
      })
    },
    viewPic2 (index, picList) {
      let list = []
      // eslint-disable-next-line
      for (let [index, elem] of picList.entries()) {
        if (!elem.name) {
          list.push(this.allImgDomainName + elem.url)
        }
      }
      ImagePreview({
        images: list,
        startPosition: index
      })
    },
    // 打开视频预览
    viewVideo (path) {
      this.videoUrl = path
      this.showVideoPreview = true
    },
    // 关闭视频预览
    closeVideoPreiviw () {
      this.showVideoPreview = false
    },
    // 查询降价申请详情
    queryPriceApplyDetail (id) {
      return api.commonCall({ id }, 'queryPriceApplyDetail').then(res => {
        if (res.success) {
          this.detail = res.data
          switch (this.detail.billStatus) {
            case 'A': // 暂存
              this.stepsList = ['暂存', '已同意']
              this.currentState = 0
              return
            case 'B': // 已提交
              this.currentState = 0
              return
            case 'C': // 已同意
              this.currentState = 1
          }
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    // 选择组织
    chooseOrg (item) {
      this.orgSelected = item
      this.showOrgPicker = false

      this.reduceRangeList = []
      this.reduceRangeSelected = ''
      this.salesVarietyList = []
      this.salesVarietySelected = ''
      this.querySalesVariety(this.orgSelected.id)
    },
    // 查询销售品种
    querySalesVariety (ownerId) {
      api.commonCall({ ownerId }, 'querySalesVariety').then(res => {
        if (res.success) {
          this.salesVarietyList = res.data.list
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
          this.$toast({
            position: 'bottom',
            message: '请重新选择组织'
          })
        }
      })
    },
    selectReduceRange () {
      if (!this.orgSelected || !this.orgSelected.id) {
        this.$toast('请先选择组织')
        return
      }
      this.queryPriceRange(this.orgSelected.id)
      this.showReduceRangePicker = true
    },
    chooseReduceRange (item) {
      this.reduceRangeSelected = item.name
      this.showReduceRangePicker = false
    },
    // 查询降价幅度
    queryPriceRange (ownerId) {
      this.reduceRangeList = [{ loading: true }]
      api.commonCall({ ownerId }, 'queryPriceRange').then(res => {
        if (res.success) {
          this.reduceRangeList = res.data.priceRange.map(v => ({ name: v }))
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    onBottomButton (btn) {
      if (btn.text === '修改') {
        // 可修改的字段初始化赋值
        this.orgSelected.name = this.detail.ownerName
        this.orgSelected.id = this.detail.ownerId
        this.querySalesVariety(this.orgSelected.id)
        this.theme = this.detail.motif || ''
        this.queText = this.detail.description || ''
        this.phone = this.detail.phone || ''
        this.salesVarietySelected = this.detail.materialId || ''
        this.reduceRangeSelected = this.detail.reducedRange || ''
        if (this.detail.pictureList) {
          let picList = this.detail.pictureList.map(v => ({ url: v }))
          this.initialUploadList = this.initialUploadList.concat(picList)
        }
        if (this.detail.videoList) {
          this.initialUploadList = this.initialUploadList.concat(this.detail.videoList)
        }
        this.isModify = true
      } else if (btn.text === '重新提交') {
        this.submit()
      } else if (btn.text === '取消') {
        this.isModify = false
      }
    },
    // 跳转销售折扣页
    toSalesDiscount () {
      this.$router.push('/salesDiscount')
    },
    submit: _debounce(function () {
      if (this.isSubmitFlag) return
      this.isSubmitFlag = true

      if (!this.orgSelected || !this.orgSelected.id) {
        this.$toast('请选择组织')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (!this.salesVarietySelected) {
        this.$toast('请选择销售品种')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (!this.theme || !this.theme.trim()) {
        this.$toast('主题不能为空')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (this.queText.length < 10 || this.queText.trim().length < 10) {
        this.$toast('问题描述不少于10个字')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (!this.reduceRangeSelected) {
        this.$toast('请选择降价幅度')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (this.phone && !isPhone(this.phone)) {
        this.$toast('请输入正确的手机号')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else {
        let uploadImageList = []
        let uploadVideoList = []
        let allUploadList = [...this.initialUploadList, ...this.uploadList]

        // eslint-disable-next-line
        for (let [index, elem] of allUploadList.entries()) {
          if (elem.name) {
            uploadVideoList.push(elem)
          } else {
            uploadImageList.push({ pictureUrl: elem.url })
          }
        }

        let params = {
          id: this.detail.id,
          feedbackType: this.detail.feedbackTypeId,
          motif: this.theme.trim(),
          description: this.queText.trim(),
          ownerId: this.orgSelected.id,
          material: this.salesVarietySelected,
          reducedRange: this.reduceRangeSelected,
          pictures: uploadImageList, // 图片集合
          attachments: uploadVideoList // 视频集合
        }
        if (this.phone) {
          params.phone = this.phone
        }

        api.commonCall(params, 'addPriceApply').then(res => {
          if (res.success) {
            this.$toast.success('提交成功')
            setTimeout(() => {
              this.reload()
            }, 500)
          } else {
            setTimeout(() => {
              this.isSubmitFlag = false
            }, 1000)
            res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
          }
        })
      }
    }, 500)
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.price-reduce-apply-details {
  @{deep}.van-field {
    textarea[readonly="readonly"] {
      word-break: break-all;
    }
  }

  .steps-wrapper {
    position: relative;
    padding: 0 280px;
    overflow: hidden;
    background-color: #fff;
    &::after {
      position: absolute;
      box-sizing: border-box;
      content: ' ';
      pointer-events: none;
      right: 0;
      bottom: 0px;
      left: 0;
      width: 100%;
      height: 10px;
      border-top: 10px solid #EEEEEE;
    }
    .steps-box {
      position: relative;
      display: flex;
      .step {
        position: relative;
        flex: 1;
        float: left;
        padding: 100px 0 48px;
        &:last-child {
          position: absolute;
          right: 1px;
          width: auto;
          .step-title {
            span {
              left: 4px !important;
            }
          }
          .step-circle-container {
            left: 26px !important;
          }
        }
        .step-title {
          width: 52px;
          height: 34px;
          position: relative;
          display: inline-block;
          margin-left: 0;
          span {
            width: 96px;
            position: absolute;
            left: -48px;
            font-size: 24px;
            font-family: PingFangSC-Regular, PingFang SC;
            color: #999999;
            text-align: center;
            overflow: hidden;
            text-overflow: clip;
            white-space: nowrap;
            &.current {
              color: #333A43;
            }
          }
        }
        .step-circle-container {
          position: absolute;
          top: 60px;
          left: -26px;
          z-index: 1;
          transform: translateY(-50%);
          span {
            display: inline-block;
            width: 52px;
            height: 52px;
            line-height: 52px;
            box-sizing: border-box;
            background-color: #D8D8D8;
            border-radius: 50%;
            text-align: center;
            color: #fff;
            font-size: 24px;
            font-family: PingFangSC-Regular, PingFang SC;
            &.current {
              background-color: #F59900;
            }
          }
        }
        .step-line {
          position: absolute;
          top: 60px;
          left: 0;
          width: 100%;
          height: 4px;
          background-color: #D8D8D8;
        }
      }
    }
  }

  .content {
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    // min-height: calc(100% - 200px);
    background: #fff;

    @{deep}.van-field {
      padding: 24px 26px;
      &::after {
        position: absolute;
        box-sizing: border-box;
        content: ' ';
        pointer-events: none;
        right: 0;
        bottom: 0;
        left: 26px;
        width: 698px;
        border-bottom: 1px solid #E5E5E5;
        -webkit-transform: scaleY(.5);
        transform: scaleY(.5);
      }
      .van-cell__title {
        span {
          font-size: 24px;
        }
      }
      .van-field__label {
        width: 120px;
      }
      &.label-large {
        .van-field__label {
          width: 150px;
        }
      }

      .van-field__control--custom {
        span {
          &.reduced-price {
            font-size: 40px;
            font-family: 'AvenirLTStd-Black';
            color: #E02020;
          }
          &.discount-number {
            color: #2763CF;
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }

    .textarea-wrap {
      position: relative;
      clear: both;
      @{deep} .van-field {
        padding: 24px 26px;
      }
      .tips {
        position: absolute;
        bottom: 12px;
        right: 22px;
        font-size: 24px;
        color: #999ea4;
      }
    }

    .media-wrap {
      position: relative;
      display: flex;
      box-sizing: border-box;
      width: 100%;
      padding: 24px 26px;
      &::after {
        position: absolute;
        box-sizing: border-box;
        content: ' ';
        pointer-events: none;
        right: 0;
        bottom: 0;
        left: 26px;
        width: 698px;
        border-bottom: 1px solid #E5E5E5;
        -webkit-transform: scaleY(.5);
        transform: scaleY(.5);
      }
      .media-wrap-title {
        flex: none;
        width: 130px;
        span {
          color: #323233;
          font-size: 24px;
          line-height: 48px;
        }
      }
      .media-wrap-value {
        flex: 1;
        // .media-list {
        //   > li {
        //     width: 140px;
        //     height: 140px;
        //     &.video-box {
        //       &::before {
        //         width: 50px;
        //         height: 50px;
        //         border: 2px solid rgba(255, 255, 255, .7);
        //       }
        //       &::after {
        //         border-left: 18px solid rgba(255, 255, 255, .8);
        //         border-top: 11px solid rgba(0,0,0,0);
        //         border-bottom: 11px solid rgba(0,0,0,0);
        //         margin-left: 56px;
        //       }
        //     }
        //   }
        // }
        .media-list {
          overflow: hidden;
          > li {
            width: 180px;
            height: 180px;
            float: left;
            margin-right: 10px;
            margin-top: 10px;
            border-radius: 6px;
            &:nth-child(3n) {
              margin-right: 0;
            }
            &.format-img {
              background-position: center;
              background-size: 100% 100%;
              background-repeat: no-repeat;
            }
            &.video-box {
              background: rgb(0, 0, 0);
              position: relative;
              &::before,&::after {
                content: ' ';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
              }
              &::before {
                width: 85px;
                height: 85px;
                background: linear-gradient(to bottom, rgba(255, 255, 255, .6), rgba(255, 255, 255, .4));
                border-radius: 50%;
                margin: auto;
                border: 4px solid rgba(255, 255, 255, .7);
                box-sizing: border-box;
              }
              &::after {
                width: 0;
                height: 0;
                overflow: hidden;
                border-left: 32px solid rgba(255, 255, 255, .8);
                border-top: 20px solid rgba(0,0,0,0);
                border-bottom: 20px solid rgba(0,0,0,0);
                margin: auto;
                margin-left: 80px;
              }
            }
          }
        }
        .upload-img-wrap {
          display: inline-block;
          position: relative;
          img {
            width: 140px;
            height: 140px;
            margin-right: 30px;
            margin-bottom: 15px;
            vertical-align: middle;
          }
          video {
            width: 140px;
            height: 140px;
            margin-right: 24px;
            margin-bottom: 15px;
            vertical-align: middle;
          }
          i {
            font-style: normal;
            position: absolute;
            top: -13px;
            right: 15px;
            width: 33px;
            height: 33px;
            background-size: 33px 33px;
            background-repeat: no-repeat;
            .bg-img('~@/assets/images/order/icon-close');
          }
        }
      }
    }

    .content-0 {
      background: #fff;
      padding-bottom: 122px;
      .description {
        .title {
          position: relative;
          height: 50px;
          line-height: 50px;
          font-size: 36px;
          font-family: PingFangSC-Medium,PingFang SC;
          font-weight: bold;
          color: #3C3C3E;
          padding: 30px 26px 28px;
        }
      }
    }

    .content-1 {
      padding-bottom: 122px;
      .title {
        position: relative;
        height: 50px;
        line-height: 50px;
        font-size: 36px;
        font-family: PingFangSC-Medium,PingFang SC;
        font-weight: bold;
        color: #3C3C3E;
        padding: 24px 26px;
        &::after {
          position: absolute;
          box-sizing: border-box;
          content: ' ';
          pointer-events: none;
          right: 0;
          bottom: 0;
          left: 26px;
          width: 698px;
          border-bottom: 1px solid #E5E5E5;
          -webkit-transform: scaleY(.5);
          transform: scaleY(.5);
        }
      }
      .custom-van-field {
        font-size: 28px;
        font-family: PingFangSC-Regular, PingFang SC;
        color: #323233;
        .placeholder {
          color: #999999;
          font-size: 24px;
        }
        .van-icon {
          color: #333333;
          margin-left: 12px;
          vertical-align: middle;
        }
      }
      .van-cell-cus {
        position: relative;
        box-sizing: border-box;
        width: 100%;
        padding: 24px 24px 24px 32px;
        overflow: hidden;
        color: #323233;
        font-size: 0.37333rem;
        background-color: #fff;
        .title-box {
          font-size: 24px;
        }
        .value-box {
          margin-top: 26px;
          border: 1px solid #ECECEC;
          border-radius: 10px;
          @{deep} .van-radio {
            &:not(:last-child) {
              .border-1px(#E5E5E5);
            }
            padding: 40px 30px;
            .van-radio__label {
              width: calc(100% - 60px);
              font-size: 32px;
              color: #2e3033;
              .address-top {
                display: inline-block;
                width: 100%;
                text-align: right;
                padding-bottom: 10px;
                > span {
                  float: left;
                  font-size: 30px;
                }
              }
            }
            .van-radio__icon {
              .van-icon {
                color: rgba(0, 0, 0, 0);
                width: 32px;
                height: 32px;
                position: relative;
                border: 0;
                background-color: transparent;
                &::before,
                &::after {
                  content: " ";
                  display: block;
                  width: 32px;
                  height: 32px;
                  box-sizing: border-box;
                  border-radius: 50%;
                  position: absolute;
                  left: 0;
                  top: 4px;
                  transition: all 0.2s;
                }
                &::before {
                  border: 10px solid #F59900;
                  opacity: 0;
                }

                &::after {
                  border: 1px solid #c1c4ca;
                  opacity: 1;
                }
              }
              &.van-radio__icon--checked {
                .van-icon-success {
                  &::before {
                    opacity: 1;
                  }
                  &::after {
                    opacity: 0;
                  }
                }
              }
              .van-icon-success {
                &::after {
                  opacity: 1;
                }
                &::before {
                  opacity: 0;
                }
              }
            }
          }
        }
      }
      @{deep}.van-field {
        padding: 24px 24px 24px 32px;
        &::after {
          position: absolute;
          box-sizing: border-box;
          content: ' ';
          pointer-events: none;
          right: 0;
          bottom: 0;
          left: 26px;
          width: 698px;
          border-bottom: 1px solid #E5E5E5;
          -webkit-transform: scaleY(.5);
          transform: scaleY(.5);
        }
        .van-field__label {
          width: 120px;
          span {
            font-size: 24px;
          }
        }
        &.label-large {
          .van-field__label {
            width: 150px;
          }
        }
        .van-field__value {
          .van-field__control::placeholder {
            font-size: 24px;
            color: #999999;
          }
        }
      }

      .textarea-wrap {
        position: relative;
        clear: both;
        @{deep} .van-field {
          padding: 24px 24px 50px 32px;
        }
        .tips {
          position: absolute;
          bottom: 12px;
          right: 22px;
          font-size: 24px;
          color: #999ea4;
        }
      }

      .media-wrap {
        position: relative;
        display: flex;
        box-sizing: border-box;
        width: 100%;
        padding: 24px 24px 24px 32px;
        &::after {
          position: absolute;
          box-sizing: border-box;
          content: ' ';
          pointer-events: none;
          right: 0;
          bottom: 0;
          left: 26px;
          width: 698px;
          border-bottom: 1px solid #E5E5E5;
          -webkit-transform: scaleY(.5);
          transform: scaleY(.5);
        }
        .media-wrap-title {
          flex: none;
          width: 130px;
          span {
            color: #323233;
            font-size: 24px;
            line-height: 48px;
          }
        }
        .media-wrap-value {
          flex: 1;
          .media-list {
            > li {
              width: 150px;
              height: 150px;
              margin: 16px 16px 16px 0;
              &.format-img {
                position: relative;
              }
              &.video-box {
                position: relative;
                &::before {
                  width: 70px;
                  height: 70px;
                }
                &::after {
                  margin-left: 65px;
                }
              }
            }
          }
        }
      }
    }
  }

  // @{deep}.bottom-button {
  //   .bottom-button-content {
  //     .button {
  //       &:first-child {
  //         background: #FFC057;
  //       }
  //       &:last-child {
  //         background: #F59900;
  //       }
  //     }
  //   }
  // }
}
</style>
