<template>
  <div class="my-video" v-if="isShowVideo">
    <video :ref="vid" :id="vid" webkit-playsinline="true" playsinline="true" x5-video-player-type="h5-page" controls class="video-js vjs-default-skin">
      <source :src="DOMAIN_NAME + 'wens/auth/file/readVideo.do?path=' + url" type="video/mp4" />
    </video>

    <van-icon class="play-icon" @click="goOnPlay" v-if="showButton" name="play" />
  </div>
</template>

<script>
import videojs from 'video.js'
import videoZhCn from 'video.js/dist/lang/zh-CN.json'
import 'videojs-contrib-hls'
import 'video.js/dist/video-js.css'
import { DOMAIN_NAME } from '@/api'
import { isWeiXin } from '@/utils/common'

videojs.addLanguage('zh-CN', videoZhCn)

export default {
  name: 'myVideo',
  created () {
    this.DOMAIN_NAME = DOMAIN_NAME
  },
  data () {
    return {
      player: null,
      showButton: false,
      videojs: null,
      isShowVideo: true,
      noClose: true,
      playing: false,
      DOMAIN_NAME: ''
    }
  },
  props: {
    vid: {
      default: 'my-video'
    },
    url: {
      default: ''
    },
    options: {
      default: () => ({})
    },
    poster: {
      default: ''
    },
    type: {
      default: 'endHide'
    }
  },
  methods: {
    goOnPlay () {
      if (this.player) {
        this.player.play()
      } else {
        this.playVideo()
      }
    },
    pause () {
      this.player.pause()
    },
    playVideo () {
      // 如果videojs已定义
      if (this.$refs[this.vid]) {
        videojs(this.vid).dispose()
        this.isShowVideo = false

        this.$nextTick(() => {
          this.isShowVideo = true

          setTimeout(() => {
            this.showVideo()
          }, 100)
        })
      } else {
        this.showVideo()
      }
    },
    showVideo () {
      if (this.type === 'endShow') this.noClose = false
      this.player = videojs(this.vid, this.options, () => {
        // 时间格式
        let initTime = () => {
          let c = this.player.currentTime()
          let d = this.player.duration()

          let format = function (t) {
            let ts = parseInt(t)
            let arr = []
            arr[1] = ((ts % 60) + 100 + '').substr(1)
            arr[0] = parseInt(ts / 60) || '0'

            return arr.join(':')
          }

          return format(c) + '/' + format(d)
        }

        let timeBox = document.querySelector('#' + this.vid + ' .vjs-remaining-time.vjs-time-control.vjs-control')
        let remainingTime = timeBox.querySelector('.vjs-remaining-time-display')
        if (remainingTime) {
          timeBox.removeChild(remainingTime)
        }

        let span = document.createElement('span')
        span.className = 'remainingTime'
        span.textContent = initTime()

        timeBox.appendChild(span)

        this.player.on('timeupdate', () => {
          span.textContent = initTime()
        })

        this[this.type]()

        setTimeout(() => {
          this.weixinPlay(() => {
            this.player.play()
          })
        }, 100)
      })
    },
    weixinPlay (fn) {
      if (!isWeiXin()) {
        fn()
      } else {
        if (window.WeixinJSBridge) {
          window.WeixinJSBridge.invoke('getNetworkType', {}, fn)
        } else {
          document.addEventListener('WeixinJSBridgeReady', function () {
            window.WeixinJSBridge.invoke('getNetworkType', {}, fn)
          })
        }
      }
    },
    endHide () {
      this.player.on('play', () => {
        this.showButton = false
        this.$emit('ready', true)
      })
      this.player.on('pause', () => {
        this.showButton = true
      })
      this.player.on('error', () => {
        this.showButton = false
        this.$emit('ready', true)
      })
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.my-video {
  position: relative;
  width: 100%;
  height: 100%;

  // 播放视频按钮
  @{deep}.vjs-big-play-button {
    display: none;
  }

  @{deep}.vjs-icon-placeholder {
    line-height: 3em !important;

    &::before {
      line-height: inherit !important;
    }
  }

  // 剩余时间
  @{deep}.vjs-remaining-time.vjs-time-control.vjs-control {
    span[aria-hidden="true"] {
      display: none;
    }
  }

  &:after {
    content: " ";
    user-select: none;
    position: absolute;
    z-index: -1;
  }

  &:hover .playButton {
    background: rgba(150, 0, 0, 0.5);
  }

  .play-icon {
    width: 140px;
    height: 140px;
    font-size: 120px;
    line-height: 140px;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    margin: auto;
  }

  .playButton {
    background: rgba(0, 0, 0, 0.4);
    border: 2px solid rgba(255, 255, 255, 0.7);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    font-size: 34px;
    color: white;
    padding-top: 8px;
    padding-left: 25px;
  }

  .closeVideo {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 24px;
    height: 24px;
    z-index: 3;
    background: none;
    color: rgba(255, 255, 255, 0.6);

    i {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
</style>
