<template>
  <div class="countdown">
    <span class="hour">{{countdownData.hour}}</span> :
    <span class="minute">{{countdownData.minute}}</span> :
    <span class="second">{{countdownData.second}}</span>
  </div>
</template>

<script>
import { countdown } from '@/utils/common'

export default {
  name: 'index',
  data () {
    return {
      countdownData: {}
    }
  },
  created () {
    countdown(1542902400, 1542988800, date => {
      this.countdownData = date
    })
  },
  methods: {}
}
</script>

<style lang="less" scoped>
.countdown {
  span {
    padding: 3px 6px;
    background-color: #2e3033;
    border-radius: 4px;
    color: #fff;
    font-size: 22px;
    line-height: 22px;
  }
}
</style>
