<template>
  <transition name="fade">
    <div class="pull-up-selection-wrapper" @click="handelCancel" v-show="show">
      <transition name="slideUp">
        <div class="content" v-if="show" @click.stop>
          <h2 class="title">{{title}}</h2>
          <div class="loading" v-if="loading">
            <van-loading></van-loading>
          </div>
          <ul class="list" ref="listRef" v-else>
            <li
              class="item"
              :class="{'selected-highlight': item.name ? item.name === currentSelected : item.channelName === currentSelected}"
              v-for="(item, index) in data"
              :key="index"
              @click.stop="selected(item, index)"
            >{{item.name ? item.name : item.channelName}}</li>
          </ul>
          <div class="cancel-wrapper">
            <a href="javascript:;" class="cancel" @click.stop="handelCancel">取消</a>
          </div>
        </div>
      </transition>
    </div>
  </transition>
</template>

<script>
import { scrollTop, getScrollTop } from '@/utils/common'

export default {
  name: 'pull-up-selection',
  props: {
    show: {
      type: Boolean,
      default: true
    },
    loading: {
      type: Boolean,
      default: false
    },
    title: {
      type: [Number, String],
      default: '选择省份'
    },
    data: {
      type: Array,
      required: true
    },
    currentSelected: { // 当前选中内容高亮
      type: String,
      default: null
    },
    recordScrollPosition: { // 记录弹出下拉框前滚动位置，下拉框关闭时恢复到滚动位置
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      scrolltop: 0 // 滚动条距离顶部位置
    }
  },
  computed: {
    currentIndex () {
      return this.data.findIndex(v => v.name ? v.name === this.currentSelected : v.channelName === this.currentSelected)
    }
  },
  watch: {
    show (val) {
      if (val) {
        // 保存页面滚动到的位置
        if (this.recordScrollPosition) {
          this.scrolltop = getScrollTop()
        }

        this.$nextTick(() => {
          document.body.style.overflow = 'hidden'

          // 当前选中内容显示在视野中间
          if (this.$refs.listRef && this.$refs.listRef.children && this.$refs.listRef.children[this.currentIndex]) {
            scrollTop(this.$refs.listRef, 0, this.$refs.listRef.children[this.currentIndex].offsetHeight * (this.currentIndex + 0.5) - this.$refs.listRef.offsetHeight / 2, 500)
          }
        })
      } else {
        document.body.style.overflow = 'visible'

        // 恢复页面滚动到的位置
        if (this.recordScrollPosition) {
          scrollTop(window, 0, this.scrolltop, 0)
        }
      }
    }
  },
  created () {

  },
  methods: {
    selected (item, index) {
      this.$emit('selected', item, index)
    },
    // 取消
    handelCancel () {
      this.$emit('cancel')
    }
  },
  destroyed () {
    if (document.body.style.overflow === 'hidden') {
      document.body.style.overflow = 'visible'
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.pull-up-selection-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.6);
  .content {
    width: 100%;
    height: 70%;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    // transform: translate3d(0, 100%, 0);
    .loading {
      text-align: center;
    }
    .title {
      font-size: 26px;
      color: #8e939a;
      text-align: center;
      line-height: 96px;
      .border-1px();
    }
    .list {
      position: absolute;
      top: 96px;
      left: 0;
      right: 0;
      bottom: 116px;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
      .item {
        padding: 25px 28px;
        line-height: 48px;
        font-size: 30px;
        color: #2e3033;
        text-align: center;
        word-wrap: break-word;
        word-break: break-all;
        .border-1px();
        &:last-child {
          .border-none();
        }
        &.selected-highlight {
          color: #e33240;
        }
      }
    }
    .cancel-wrapper {
      height: 116px;
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      background: #f5f5f5;
      .cancel {
        display: block;
        line-height: 100px;
        margin-top: 16px;
        text-align: center;
        font-size: 30px;
        color: #2e3033;
        background-color: #fff;
      }
    }
  }
}
</style>
