<template>
  <membership-wrapper class="return-details" :title="'退换货服务详情'" :left-arrow="true">
    <!-- 步骤条 -->
    <div style="background: white;">
      <my-step :data="stepData" :active="detail.status === 'B' ? 3 : 4"></my-step>
    </div>

    <!-- 服务单信息 -->
    <div class="return-info">
      <div class="return-title">服务单信息</div>

      <div class="info-goods">
        <div :style="{backgroundImage: `url(${orderInfo.photo})`}"></div>
        <div>
          <div>
            <span>{{orderInfo.text}}</span>
            <span>数量：{{+itemList[0].isAssistOrder ? itemList[0].alterAssistQty : orderInfo.number}}（{{+itemList[0].isAssistOrder ? itemList[0].itemAssistUnitName : itemList[0].itemUnitName}}）； 价格：{{totalPrice.toString().split('.')[0]|| '0'}}.{{totalPrice.toString().split('.')[1]|| '00'}}</span>
          </div>
        </div>
      </div>

      <div class="info-list">
        <div>
          <div class="label">申请原因：</div>
          <div class="content">{{listInfo.assistantName}}</div>
        </div>
        <div>
          <div class="label">问题描述：</div>
          <div class="content">{{listInfo.returnReason}}</div>
        </div>
        <div>
          <div class="label">收货地址：</div>
          <div class="content">{{listInfo.detailAddress}}</div>
        </div>
        <div>
          <div class="label">取件地址：</div>
          <div class="content">{{listInfo.detailAddress}}</div>
        </div>
        <div>
          <div class="label">联系人：</div>
          <div class="content">{{listInfo.consigneeName}}</div>
        </div>
        <div>
          <div class="label">手机号码：</div>
          <div class="content">{{listInfo.consigneePhone}}</div>
        </div>
      </div>
    </div>

    <!-- 售后进度 -->
    <!--<div class="return-process">-->
    <!--<div class="return-title">售后进度</div>-->
    <!--<van-steps direction="vertical" :active="0" active-color="#4A9C75">-->
    <!--<van-step v-for="(item, index) in bbbbbbb" :key="index + 'bbbb'">-->
    <!--<div class="process-box">-->
    <!--<div class="process-content">{{item.text}}</div>-->
    <!--<div class="process-time">{{item.time}}</div>-->
    <!--</div>-->
    <!--</van-step>-->
    <!--</van-steps>-->
    <!--</div>-->
  </membership-wrapper>
</template>

<script>
import MembershipWrapper from '@/components/membership-center/membership-wrapper'
import MyStep from '@/components/my-step'
import { api } from '@/api'

export default {
  name: 'return-details',
  data () {
    return {
      orderInfo: {},
      itemList: [],
      totalPrice: null,
      detail: {},
      info: {},
      listId: '',
      stepData: [
        {
          // 步骤条信息
          text: '提交申请',
          time: ''
        },
        {
          text: ''
        },
        {
          text: '商家审核',
          time: ''
        },
        {
          text: '待客户确认'
        },
        {
          text: '完成',
          time: ''
        }
      ],
      listInfo: []
    }
  },
  created () {
    this.orderInfo = this.$route.query
    if (!this.orderInfo.id) {
      this.$router.push('/')
    }
    this.itemList = JSON.parse(this.orderInfo.itemList)
    this.totalPrice = this.orderInfo.number * this.itemList[0].itemPrice
    this.queryReturnOrderDetail()
  },
  methods: {
    queryReturnOrderDetail () {
      api.queryReturnOrderDetail({ id: this.$route.query.id }).then(res => {
        if (res.success) {
          this.listInfo = res.data
          res.data.returnTypeText =
            res.data.returnType === '1' ? '退货退款' : '退货'
          this.detail = res.data
          let stepData = this.stepData
          stepData[0].time = res.data.createTime
          stepData[4].time = res.data.auditDate || res.data.invalidDate
          this.stepData.splice(0, this.stepData.length, ...stepData)
        }
      })
    }
  },
  components: {
    MyStep,
    MembershipWrapper
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.return-details {
  .format-img {
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  @{deep}.van-icon-checked {
    &::before {
      position: absolute;
      content: " ";
      display: inline-block;
      width: 24px;
      height: 24px;
      border: 8px solid #c8e1d5;
      border-radius: 50%;
      background: #4a9c75;
      left: -8px;
      top: -8px;
    }
  }

  > div:not(:last-child) {
    margin-bottom: 16px;
  }

  > div {
    background: white;

    .return-title {
      font-size: 32px;
      color: #2e3033;
      padding: 35px 0 45px;
    }

    &.return-info {
      padding: 0 24px;

      > .info-goods {
        display: flex;
        padding-bottom: 40px;
        margin-bottom: 50px;

        .border-1px();

        > div {
          &:first-child {
            width: 140px;
            height: 140px;
            background-size: 100% 100%;
            background-position: center;
            background-repeat: no-repeat;
          }

          &:nth-child(2) {
            flex: 1;
            flex-direction: column;
            padding-left: 24px;

            > div {
              &:first-child {
                > span {
                  display: block;
                  color: #2e3033;
                  font-size: 28px;

                  &:nth-child(2) {
                    color: #8e939a;
                    font-size: 26px;
                    padding-top: 15px;
                  }
                }
              }
            }
          }
        }
      }

      .info-list {
        > div {
          font-size: 26px;
          display: flex;
          padding-bottom: 25px;
          line-height: 38px;

          &:last-child {
            padding-bottom: 45px;
          }

          .label {
            width: 130px;
            text-align: right;
            color: #8e939a;
            padding-right: 16px;
          }

          .content {
            flex: 1;
            color: #2e3033;
          }
        }
      }
    }

    &.return-process {
      padding: 0 24px;
      padding-bottom: 35px;

      .process-box {
        padding-left: 30px;

        .process-content {
          font-size: 28px;
          padding-bottom: 12px;
        }

        .process-time {
          font-size: 26px;
        }
      }
    }
  }
}
</style>
