<template>
  <membership-wrapper class="return-management" :title="'退换货管理'" :left-arrow="true">
    <!-- 导航栏 -->
    <van-tabs v-model="active" @change="changeTab">
      <!-- 搜索框 -->
      <div class="search-box">
        <div>
          <van-icon name="search" @click="search"/>
          <input ref="input" type="text" :placeholder="placeholder" v-model="inputText">
        </div>
      </div>
      <van-tab title="售后申请">
        <div class="list">
          <van-pull-refresh v-model="isLoading" @refresh="onRefresh" v-if="list&&list.length">
            <van-list v-model="loading" :finished="finished" @load="onLoad" :offset="200">
              <div class="item" v-for="(item, index) in list" :key="index + 'list'">
                <!-- 渠道 -->
                <div class="owner-title">
                  <i></i>
                  <span>{{item.ownerName}}</span>
                </div>

                <!-- 商品信息 -->
                <div
                  class="product"
                  v-for="(child, ci) in item.itemList"
                  :key="ci + 'child' + index"
                >
                  <div @click="goPage(item, child, 0)">
                    <div v-lazy:background-image="allImgDomainName + child.itemPic"></div>

                    <div>
                      <div>
                        <span>{{child.itemName}}</span>
                        <span>数量：{{child.isAssistOrder ? child.alterAssistQty : child.qty}} {{child.isAssistOrder ? child.itemAssistUnitName : child.itemUnitName}}</span>
                      </div>

                      <div v-if="!active" @click.stop="goPage(item, child, 1)">
                        <span
                          :class="[child.state == 1 || child.state == 2 ? 'selectColor' : '']"
                        >{{child.state == 1 ? '审核中' : child.state == 2 ? '完成' : '申请售后'}}</span>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- 状态信息 -->
                <div class="list-status" v-if="active">
                  <div>
                    <span>服务单号：{{item.orderNum}}</span>

                    <span>当前状态：
                      <span
                        :style="{color: item.statusText === '待审核' ? '#E33240' : '#2E3033'}"
                      >{{item.statusText}}</span>
                    </span>
                  </div>

                  <div v-if="active === 1">
                    <span>取消申请</span>
                  </div>
                </div>
              </div>
            </van-list>
          </van-pull-refresh>
          <div class="no-data-box" v-else>
            <no-data :loading="requestLoading"></no-data>
          </div>
        </div>
      </van-tab>
      <van-tab title="处理中">
        <div class="list">
          <van-pull-refresh
            v-model="isLoading"
            @refresh="onRefresh"
            v-if="returnList&&returnList.length"
          >
            <van-list v-model="loading" :finished="finished" @load="onLoad" :offset="200">
              <div class="item" v-for="(item, index) in returnList" :key="index + 'list'">
                <!-- 渠道 -->
                <div class="owner-title">
                  <i></i>
                  <span>{{item.ownerName}}</span>
                </div>

                <!-- 商品信息 -->
                <div class="product" @click="goPage(item, child, 0)">
                  <div>
                    <div
                      class="img"
                      v-lazy:background-image="allImgDomainName + item.entry[0].itemPic"
                    ></div>
                    <div>
                      <div>
                        <span>{{item.entry[0].itemName}}</span>
                        <p>
                          数量：{{parseInt(item.entry[0].isAssistOrder ? item.entry[0].alterAssistQty :
                          item.entry[0].qty)}}
                          <span
                            class="unit"
                          >（{{item.entry[0].isAssistOrder ? item.entry[0].itemAssistUnitName : item.entry[0].itemUnitName}}）</span>
                        </p>
                        <p class="exchange" v-if="item.entry[0].isAssistOrder">
                          约 {{item.entry[0].qty}}
                          （{{item.entry[0].itemUnitName}}）
                        </p>
                      </div>
                      <div v-if="!active" @click.stop="goPage(item, item, 1)">
                        <span
                          :class="[item.state==1||item.state==2?'selectColor':'']"
                        >{{item.state==1?'审核中':item.state==2?'完成':'申请售后'}}</span>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- 状态信息 -->
                <div class="list-status" v-if="active">
                  <div>
                    <span>服务单号：{{item.id}}</span>
                    <span>当前状态：
                      <span
                        :style="{color: item.statusText === '待审核' ? '#E33240' : '#2E3033'}"
                      >{{billStatusList[item.billStatus]}}</span>
                    </span>
                  </div>
                  <div v-if="active === 1" @click="returnOrderDelete(index,item.id)">
                    <span>取消申请</span>
                  </div>
                </div>
              </div>
            </van-list>
          </van-pull-refresh>
          <div class="no-data-box" v-else>
            <no-data :loading="requestLoading"></no-data>
          </div>
        </div>
      </van-tab>
      <van-tab title="申请记录">
        <div class="list">
          <van-pull-refresh
            v-model="isLoading"
            @refresh="onRefresh"
            v-if="returnList&&returnList.length"
          >
            <van-list v-model="loading" :finished="finished" @load="onLoad" :offset="200">
              <div class="item" v-for="(item, index) in returnList" :key="index + 'list'">
                <!-- 渠道 -->
                <div class="owner-title">
                  <i></i>
                  <span>{{item.ownerName}}</span>
                </div>

                <!-- 商品信息 -->
                <div class="product" @click="goPage(item, child, 0)">
                  <div>
                    <div
                      class="img"
                      v-lazy:background-image="allImgDomainName + item.entry[0].itemPic"
                    ></div>
                    <div>
                      <div>
                        <span>{{item.entry[0].itemName}}</span>
                        <p>
                          数量：{{parseInt(item.entry[0].isAssistOrder ? item.entry[0].alterAssistQty :
                          item.entry[0].qty)}}
                          <span
                            class="unit"
                          >（{{item.entry[0].isAssistOrder ? item.entry[0].itemAssistUnitName : item.entry[0].itemUnitName}}）</span>
                        </p>
                        <p class="exchange" v-if="item.entry[0].isAssistOrder">
                          约 {{item.entry[0].qty}}
                          （{{item.entry[0].itemUnitName}}）
                        </p>
                      </div>
                      <div v-if="!active" @click.stop="goPage(item, item, 1)">
                        <span
                          :class="[item.state==1||item.state==2?'selectColor':'']"
                        >{{item.state==1?'审核中':item.state==2?'完成':'申请售后'}}</span>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- 状态信息 -->
                <div class="list-status" v-if="active">
                  <div>
                    <span>服务单号：{{item.id}}</span>
                    <span>当前状态：
                      <span
                        :style="{color: item.statusText === '待审核' ? '#E33240' : '#2E3033'}"
                      >{{billStatusList[item.billStatus]}}</span>
                    </span>
                  </div>
                </div>
              </div>
            </van-list>
          </van-pull-refresh>
          <div class="no-data-box" v-else>
            <no-data :loading="requestLoading"></no-data>
          </div>
        </div>
      </van-tab>
    </van-tabs>
  </membership-wrapper>
</template>

<script>
import MembershipWrapper from '@/components/membership-center/membership-wrapper'
import NoData from '@/components/no-data'
import { api } from '@/api'
import { allImgDomainNameMixin } from '@/assets/js/mixin'

export default {
  name: 'return-management',
  mixins: [allImgDomainNameMixin],
  data () {
    return {
      active: 0, // 0：售后申请，1：处理中，2：申请记录
      inputText: '',
      list: [],
      returnList: [],
      billStatus: 'B',
      billStatusList: {
        A: '审核中',
        B: '审核中',
        C: '审核通过',
        D: '审核失败'
      },

      // 上拉加载及下拉刷新
      page: {
        index: 1,
        size: 6,
        total: 0
      },
      cacheList: [],
      loading: false, // 控制上拉加载的加载动画
      finished: false, // 控制在页面往下移动到底部时是否调用接口获取数据
      isLoading: false, // 控制下拉刷新的加载动画
      requestLoading: false // 接口请求加载动画
    }
  },
  created () {
    this.active = this.$route.query.active ? this.$route.query.active : 0
    if (this.active === 0) {
      this.orderListQuery()
    } else if (this.active === 1) {
      this.billStatus = 'B'
      this.returnOrderListQuery()
    } else if (this.active === 2) {
      this.billStatus = ''
      this.returnOrderListQuery()
    }
  },
  methods: {
    changeTab (index, title) {
      this.active = index
      this.initLoadData()
      this.inputText = ''
      if (this.active === 0) {
        this.orderListQuery()
      } else if (this.active === 1) {
        this.billStatus = 'B'
        this.returnOrderListQuery()
      } else if (this.active === 2) {
        this.billStatus = ''
        this.returnOrderListQuery()
      }
    },
    search () {
      this.initLoadData()
      if (this.active) {
        this.returnOrderListQuery()
      } else {
        this.orderListQuery()
      }
    },
    // 跳转页面
    // position: 0(列表项),1(按钮)
    goPage (item, child, position) {
      // 此处应该是通过child.status进行判断，总共三个状态：
      // 0：申请售后，1：审核中，2：完成
      // 0-》申请售后页面，1/2-》售后详情页面
      // 后台暂时还没有status状态，此处先通过所处页面active进行判断
      let query = {
        time: item.createTime,
        shopName: item.ownerName,
        photo: child.itemPic ? this.allImgDomainName + child.itemPic : this.defaultProImg,
        text: child.itemName,
        number: parseInt(child.isAssistOrder ? child.alterAssistQty : child.qty),
        itemList: JSON.stringify([
          {
            ownerId: item.ownerId,
            orderId: item.orderId,
            itemId: child.itemId,
            itemPrice: child.itemPrice,
            orderEntryId: child.itemEntryId,
            unitId: child.itemUnitId,
            itemUnitName: child.itemUnitName,
            isAssistOrder: child.isAssistOrder ? '1' : '0',
            itemAssistUnitName: child.itemAssistUnitName,
            itemAssistUnitId: child.itemAssistUnitId,
            alterAssistQty: parseInt(child.alterAssistQty)
          }
        ])
      }
      if (position) {
        if (child.state) {
          this.$router.push({
            path: '/returnDetails'
          })
        } else {
          this.$router.push({
            path: '/afterSale',
            query
          })
        }
      } else {
        if (this.active) {
          query.id = child.itemId
          this.$router.push({
            path: '/returnDetails',
            query
          })
        } else {
          this.$router.push({
            name: 'goodsDetails',
            query: {
              id: child.itemId
            }
          })
        }
      }
    },
    // 查询所有可退货的订单
    orderListQuery () {
      this.requestLoading = true
      const params = {
        customerName: this.inputText,
        status: 'H',
        page: this.page.index,
        pageSize: this.page.size
      }
      api.orderListQuery(params).then(res => {
        this.requestLoading = false
        if (res.success) {
          this.setData(res)
        }
      })
    },
    // 退货申请列表
    returnOrderListQuery () {
      this.requestLoading = true
      const params = {
        page: this.page.index,
        pageSize: this.page.size
      }
      if (this.billStatus) {
        // B：申请中，C:申请通过，D：申请未提供
        params.billStatus = this.billStatus
      }
      if (this.inputText) {
        params.orderId = this.inputText
      }
      api.returnOrderListQuery(params).then(res => {
        this.requestLoading = false
        if (res.success) {
          this.setData(res)
        }
      })
    },
    // 退货申请删除
    returnOrderDelete (index, id) {
      api.returnOrderDelete({ id }).then(res => {
        if (res.success) {
          this.returnList.splice(index, 1)
        }
      })
    },
    // 下拉刷新
    onRefresh () {
      this.finished = false
      this.page.index = 1
      this.cacheList = []
      if (this.active === 0) {
        this.orderListQuery()
      } else if (this.active === 1) {
        this.billStatus = 'B'
        this.returnOrderListQuery()
      } else if (this.active === 2) {
        this.billStatus = ''
        this.returnOrderListQuery()
      }
    },
    // 上拉加载
    onLoad () {
      this.page.index++
      if (this.active === 0) {
        this.orderListQuery()
      } else if (this.active === 1) {
        this.billStatus = 'B'
        this.returnOrderListQuery()
      } else if (this.active === 2) {
        this.billStatus = ''
        this.returnOrderListQuery()
      }
    },
    // 初始化下拉刷新和上拉加载数据
    initLoadData () {
      this.page = {
        index: 1,
        size: 6,
        total: 0
      }
      this.cacheList = []
      this.loading = false // 控制上拉加载的加载动画
      this.finished = false // 控制在页面往下移动到底部时是否调用接口获取数据
      this.isLoading = false // 控制下拉刷新的加载动画
      this.list = []
      this.returnList = []
    },
    setData (res) {
      this.cacheList = this.cacheList.concat(res.data.list)
      if (this.active) {
        this.returnList.splice(0, this.list.length, ...this.cacheList)
      } else {
        this.list.splice(0, this.list.length, ...this.cacheList)
      }
      this.page.total = res.data.count
      this.finished = false

      this.loading = false

      if (this.cacheList.length >= this.page.total) {
        this.finished = true
      }
      setTimeout(() => {
        this.isLoading = false
      }, 100)
    }
  },
  computed: {
    placeholder () {
      return this.active
        ? '搜索订单号/商品编号/服务单号'
        : '搜索订单号/商品编号/订单编号'
    }
  },
  components: {
    MembershipWrapper,
    NoData
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.selectColor {
  background: #ffffff !important;
  border: 1px solid #979797;
  color: #5e6166 !important;
}

.return-management {
  .format-img {
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .active {
    position: relative;
    transform: rotate(0deg);
    overflow: hidden;

    &:active {
      &::before {
        content: " ";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background: rgba(0, 0, 0, 0.08);
      }
    }
  }

  @{deep} .van-tab {
    color: #2e3033;
  }

  @{deep} .van-tab--active {
    color: #f44;
  }

  .search-box {
    height: 96px;
    background: rgb(245, 245, 245);
    padding: 18px 24px;
    box-sizing: border-box;
    font-size: 28px;

    > div {
      width: 100%;
      height: 100%;
      background: white;
      border-radius: 100px;
      overflow: hidden;
      position: relative;

      i {
        font-size: 30px;
        color: #c1c4ca;
        position: absolute;
        width: 70px;
        text-align: center;
        line-height: 60px;
      }

      input {
        display: block;
        border: 0;
        outline: none;
        width: calc(100% - 100px);
        height: 100%;
        margin-left: 70px;

        &::-webkit-input-placeholder {
          color: #c1c4ca;
        }
      }
    }
  }

  .list {
    .item {
      background: white;
      padding: 0 24px;
      margin-bottom: 16px;

      > div {
        &.owner-title {
          padding: 30px 0;
          height: 40px;
          overflow: hidden;

          i {
            .bg-img("~@/assets/images/icon/shop");
            background-size: 48px 48px;
            background-position: center;
            float: left;
            width: 34px;
            height: 40px;
            margin-right: 16px;
          }

          span {
          }
        }

        &.product {
          > div {
            display: flex;
            padding-bottom: 40px;

            > div {
              &:first-child {
                width: 180px;
                height: 180px;
                background-size: 100% 100%;
                background-position: center;
                background-repeat: no-repeat;
              }

              &:nth-child(2) {
                flex: 1;
                display: flex;
                flex-direction: column;
                padding-left: 24px;

                > div {
                  &:first-child {
                    flex: 1;

                    > span {
                      display: block;
                      color: #2e3033;
                      font-size: 28px;
                      line-height: 34px;

                      &:nth-child(2) {
                        color: #8e939a;
                        font-size: 26px;
                        padding-top: 15px;
                      }
                    }
                  }

                  &:nth-child(2) {
                    overflow: hidden;

                    > span {
                      float: right;
                      display: block;
                      width: 170px;
                      height: 60px;
                      line-height: 60px;
                      box-sizing: border-box;
                      border-radius: 100px;
                      color: white;
                      font-size: 26px;
                      background: linear-gradient(
                        90deg,
                        rgba(255, 107, 82, 1) 0%,
                        rgba(227, 50, 64, 1) 100%
                      );
                      text-align: center;
                      .active;
                    }
                  }
                }
              }
            }
          }
          .exchange {
            margin-top: 10px;
            font-size: 24px;
            color: #f95c5c;
          }
        }

        &.list-status {
          display: flex;
          align-items: center;
          padding-bottom: 40px;

          > div {
            &:first-child {
              flex: 1;

              > span {
                font-size: 26px;
                color: #5e6166;
                display: block;

                &:first-child {
                  padding-bottom: 15px;
                }

                > span {
                  color: #e33240;
                }
              }
            }

            &:nth-child(2) {
              > span {
                box-sizing: border-box;
                padding-top: 7px;
                width: 170px;
                height: 60px;
                border: 1px solid rgba(151, 151, 151, 1);
                display: block;
                border-radius: 100px;
                color: #5e6166;
                text-align: center;
                .active;
              }
            }
          }
        }
      }
    }
  }
}
</style>
