<template>
  <div class="list" :class="{active: arrow, line}" :style="myStyle" @click.stop="onClick">
    <div class="label" v-if="title || $slots.head">
      <slot name="head">{{title}}</slot>
    </div>

    <div class="content">
      <slot></slot>
    </div>

    <div class="arrow" v-if="arrow">
      <van-icon name="arrow"></van-icon>
    </div>
  </div>
</template>

<script>
export default {
  name: 'index',
  props: {
    arrow: {}, // 箭头
    title: {}, // 左边文字
    line: {}, // 下边框
    click: {
      // 是否可点击
      default: false
    },
    myStyle: {
      // 自定义样式
      default: () => ({})
    }
  },
  methods: {
    // 点击
    onClick () {
      if (this.arrow || this.click) {
        this.$emit('on-click')
      }
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.list {
  color: #2e3033;
  font-size: 30px;
  line-height: 40px;
  background: white;
  padding: 35px 0;
  display: flex;

  &.active {
    &:active {
      position: relative;
      overflow: hidden;
      transform: rotate(0deg);

      &::before {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.08);
        z-index: 1;
      }
    }
  }

  &.line {
    .border-1px(rgb(232, 233, 235));
  }

  .label {
    margin: auto;
    padding: 0 24px;
  }

  .content {
    color: #8e939a;
    flex: 1;
    text-align: right;
  }

  .arrow {
    margin: auto;

    i {
      font-size: 24px;
      color: #c1c4ca;
      padding: 0 30px;
      vertical-align: middle;
    }
  }
}
</style>
