<template>
  <div class="bidding-rules-article">
    <div class="rich-text" v-html="htmlContent || richText.JJGZ"></div>

    <!-- <div v-if="bidType === '1'">
      <div class="title">
        <h2>温氏商城生猪竞价及交易规则</h2>
      </div>
      <div class="content">
        <h3>第一章&nbsp;&nbsp;总则</h3>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;第一条&nbsp;&nbsp;&nbsp;&nbsp;为规范温氏食品集团股份有限公司（以下简称“温氏股份”）生猪产品于温氏商城的竞价交易行为，保护竞价交易当事人的合法权益和社会公共利益，根据《民法通则》与《合同法》等有关法律、行政法规及规章，根据公开、公平、公正和诚实信用的原则，制定本规则。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;第二条&nbsp;&nbsp;&nbsp;&nbsp;本规则适用于温氏股份属下各单位（以下简称“卖家”）所组织的生猪产品温氏商城竞价交易活动。温氏股份属下各单位、客户及其他参与者应当遵守本规则。</p>
        <br/>

        <h3>第二章&nbsp;&nbsp;关键词解释</h3>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;<b>标的：</b>温氏股份下属分、子公司销售的生猪。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;<b>单头保证金：</b>每竞价一头生猪，需交纳并冻结的保证金。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;<b>标的成交上限：</b>竞价项目中允许中标的最大数量。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;<b>交割：</b>交易双方按照温氏生猪销售有关规则约定，完成中标所指定的生猪的物权和所有权转移的过程。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;<b>保证金冻结金额：</b>为参与竞价标的的“竞价数量×单头保证金”之和。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;<b>可竞价数量：</b>客户允许竞价的最大数量，等于“可用保证金总额/竞价项目单头保证金”。</p>
        <br/>

        <h3>第三章&nbsp;&nbsp;客户管理</h3>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;第三条&nbsp;&nbsp;&nbsp;&nbsp;温氏商城-生猪竞价仅对公司的注册客户开放。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;第四条&nbsp;&nbsp;&nbsp;&nbsp;出现下列情况，卖家有权立即取消客户的竞价资格，且宣布客户参与的竞价项目无效。造成损失的，将追究相关赔偿责任：</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;1、提供虚假材料，骗取竞价资格的；</p>
        <p class="no-margin-top">&nbsp;&nbsp;&nbsp;&nbsp;2、进行恶意竞价；</p>
        <p class="no-margin-top">&nbsp;&nbsp;&nbsp;&nbsp;3、采取不正当手段诋毁、排挤或串通其它客户的；</p>
        <p class="no-margin-top">&nbsp;&nbsp;&nbsp;&nbsp;4、非客观原因，频繁出现欠款、停货；</p>
        <p class="no-margin-top">&nbsp;&nbsp;&nbsp;&nbsp;5、其它违反有关法律法规及温氏股份规定需终止合作关系的情况。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;第五条&nbsp;&nbsp;&nbsp;&nbsp;注册客户属下的分管账户，不能代表注册客户参与竞价。</p>
        <br/>

        <h3>第四章&nbsp;&nbsp;交易品</h3>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;第六条&nbsp;&nbsp;&nbsp;&nbsp;体重在170斤/头以上，健康、无残缺的一级生猪。</p>
        <br/>

        <h3>第五章&nbsp;&nbsp;客户保证金管理</h3>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;第七条&nbsp;&nbsp;&nbsp;&nbsp;保证金是客户参与温氏商城生猪竞价的凭证。如客户有意参加温氏肉猪竞价销售，须缴纳卖家设置的保证金金额。保证金不可作货款之用。客户参与竞价前，需联系卖家并按卖家的指引缴纳保证金。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;第八条&nbsp;&nbsp;&nbsp;&nbsp;客户在参与竞价项目时，系统会根据“客户的竞价数量*该竞价项目所设置的单头保证金”冻结相应的保证金金额。客户所参与的竞价项目结束并评标后，未中标客户的保证金自动解冻。对已中标客户的保证金，中标订单在完成发货后即可解冻。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;第九条&nbsp;&nbsp;&nbsp;&nbsp;保证金因存入、退还及扣除发生变动，温氏商城客户端会以系统信息的形式，告知客户。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;第十条&nbsp;&nbsp;&nbsp;&nbsp;客户在以下情况中不允许发起保证金退还申请：</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;1、客户已成功报名参与任意竞价项目，该竞价项目尚未开始；</p>
        <p class="no-margin-top">&nbsp;&nbsp;&nbsp;&nbsp;2、客户参与的竞价项目结束，尚未评标；</p>
        <p class="no-margin-top">&nbsp;&nbsp;&nbsp;&nbsp;3、客户的竞价项目已中标，尚未完成中标订单的确认。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;第十一条&nbsp;&nbsp;&nbsp;&nbsp;符合以下条件时，客户可向卖家提出保证金退还申请：</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;1、客户未成功竞价：例如在竞价过程中始终未出价、在竞价过程中出局并放弃加价等情况。</p>
        <p class="no-margin-top">&nbsp;&nbsp;&nbsp;&nbsp;2、客户竞价成功后，卖家主动关闭交易或未履行发货或因卖家其他原因导致交易未完成的。</p>
        <p class="no-margin-top">&nbsp;&nbsp;&nbsp;&nbsp;客户所参与的竞价项目结束后，可向卖家提出返还保证金的申请，具体流程请咨询卖家。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;第十二条&nbsp;&nbsp;&nbsp;&nbsp;客户中标后，因客户个人问题，导致交割未能在竞价项目规定的交割时间内完成，将按“客户中标的肉猪数量*竞价项目的单头保证金”扣除相应的保证金金额。</p>
        <br/>

        <h3>第六章&nbsp;&nbsp;竞价流程</h3>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;第十三条&nbsp;&nbsp;&nbsp;&nbsp;卖家发布竞价项目后，有意参与当次竞价的客户，可登录温氏商城客户端查看生猪竞价交易信息，缴纳保证金后报名参与竞价。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;第十四条&nbsp;&nbsp;&nbsp;&nbsp;客户参与竞价项目后，系统会根据该项目的单头保证金，自动计算出客户最大可竞价头数。竞价过程中，系统根据客户竞价的头数自动冻结相应的保证金。竞价成功并确认交割订单后，系统自动释放保证金。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;第十五条&nbsp;&nbsp;&nbsp;&nbsp;客户在竞价开始前报名即可获得竞价编号。若未提前报名，则在竞价过程中，第一次出价时获得对应的竞价编号。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;第十六条&nbsp;&nbsp;&nbsp;&nbsp;竞价价格不得低于起拍价，出价出局后再次加价，自动从最低的有效价格开始加价。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;第十七条&nbsp;&nbsp;&nbsp;&nbsp;中标规则为按报价高者所得，如出现相同报价的，报价时间靠前者优先进行降序排列，标的成交上限各客户的中标数量进行分配。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;第十八条&nbsp;&nbsp;&nbsp;&nbsp;中标公告将列出客户参与竞价报价并已中标的情况。客户在确认中标后，需在当日内联系卖家并商定交割事宜。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;第十九条&nbsp;&nbsp;&nbsp;&nbsp;未中标的客户所在竞价项目中所冻结的保证金，将在中标公告发出后自动解冻。</p>
        <br/>

        <h3>第七章&nbsp;&nbsp;交割</h3>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;第二十条&nbsp;&nbsp;&nbsp;&nbsp;生猪交割事宜按照温氏股份生猪销售相关规定执行。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;第二十一条&nbsp;&nbsp;&nbsp;&nbsp;竞价生猪的交割只能由中标客户本人完成，则“中标客户名称、付款方、取货方”三方一致，不允许其他客户代中标客户完成交割。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;第二十二条&nbsp;&nbsp;&nbsp;&nbsp;客户竞价成功的生猪，在交割时原则上按车为单位装运。</p>
        <br/>

        <h3>第八章&nbsp;&nbsp;异常情况处理</h3>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;第二十三条&nbsp;&nbsp;&nbsp;&nbsp;卖家对温氏商城竞价模式的运作状态进行实时监控，若出现异常情况，卖家将第一时间通知客户。客户在遇到异常情况时，应及时通过各种有效渠道向卖家反馈。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;第二十四条&nbsp;&nbsp;&nbsp;&nbsp;如因恶意攻击、系统故障等不可控因素造成系统平台运作异常，卖家有权取消受到影响的竞价项目。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;第二十五条&nbsp;&nbsp;&nbsp;&nbsp;对于因客户自身网络环境等其它非卖家因素造成的出价异常并造成的客户损失（包含但不限于经济损失），卖家不承担任何责任。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;第二十六条&nbsp;&nbsp;&nbsp;&nbsp;对于严重的有意在平台进行的攻击，诋毁及欺诈等行为，卖家将移交公检法机关处理，并保留追究行为人法律责任的权利。</p>
        <br/>

        <h3>第九章&nbsp;&nbsp;违约/争议处理</h3>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;第二十七条&nbsp;&nbsp;&nbsp;&nbsp;出现不在本规定范围内的争议，由双方协商解决。协商不成的，可依法向有管辖权的法院起诉。</p>
        <br/>

        <h3>第十章&nbsp;&nbsp;附则</h3>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;第二十八条&nbsp;&nbsp;&nbsp;&nbsp;本规则解释权归温氏股份所有。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;第二十九条&nbsp;&nbsp;&nbsp;&nbsp;本规则自发布之日起开始实施。</p>
        <br/>
      </div>
    </div>
    <div v-else-if="bidType === '2'">
      <div class="title">
        <h2>温氏商城老鸡（老鸭）竞价及交易规则</h2>
      </div>
      <div class="content">
        <h3>第一章&nbsp;&nbsp;总则</h3>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;第一条&nbsp;&nbsp;&nbsp;&nbsp;为规范温氏食品集团股份有限公司（以下简称“温氏股份”）老鸡（老鸭）产品于温氏商城（mall.wens.com.cn）的竞价交易行为，保护竞价交易当事人的合法权益和社会公共利益，根据《民法通则》与《合同法》等有关法律、行政法规及规章，根据公开、公平、公正和诚实信用的原则，制定本规则。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;第二条&nbsp;&nbsp;&nbsp;&nbsp;本规则适用于温氏股份下属各单位（以下简称“卖家”）所组织的老鸡（老鸭）产品温氏商城竞价交易活动。温氏股份下属各单位、客户及其他参与者应当遵守本规则。</p>
        <br/>

        <h3>第二章&nbsp;&nbsp;关键词解释</h3>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;<b>标的：</b>温氏股份下属分、子公司销售的老鸡、老鸭（含种鸡、蛋鸡、种鸭和定养老鸡/鸭等，下同）。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;<b>单只保证金：</b>每竞价一只老鸡（老鸭），需交纳并冻结的保证金。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;<b>标的成交上限：</b>竞价项目中允许中标的最大数量。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;<b>交割：</b>交易双方按照温氏股份销售有关规则约定，完成中标所指定的老鸡（老鸭）的物权和所有权转移的过程。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;<b>保证金冻结金额：</b>为参与竞价标的的“竞价数量×单只保证金”之和。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;<b>可竞价数量：</b>客户允许竞价的最大数量，等于“可用保证金总额/竞价项目单只保证金”。</p>
        <br/>

        <h3>第三章&nbsp;&nbsp;客户管理</h3>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;第三条&nbsp;&nbsp;&nbsp;&nbsp;温氏商城-老鸡（老鸭）竞价仅对公司的注册客户开放。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;第四条&nbsp;&nbsp;&nbsp;&nbsp;出现下列情况，卖家有权立即取消客户的竞价资格，且宣布客户参与的竞价项目无效。造成损失的，将追究相关赔偿责任：</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;1、提供虚假材料，骗取竞价资格的；</p>
        <p class="no-margin-top">&nbsp;&nbsp;&nbsp;&nbsp;2、进行恶意竞价；</p>
        <p class="no-margin-top">&nbsp;&nbsp;&nbsp;&nbsp;3、采取不正当手段诋毁、排挤或串通其它客户的；</p>
        <p class="no-margin-top">&nbsp;&nbsp;&nbsp;&nbsp;4、非客观原因，频繁出现欠款、停货；</p>
        <p class="no-margin-top">&nbsp;&nbsp;&nbsp;&nbsp;5、其它违反有关法律法规及温氏股份规定需终止合作关系的情况。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;第五条&nbsp;&nbsp;&nbsp;&nbsp;注册客户下属的分管账户，不能代表注册客户参与竞价。</p>
        <br/>

        <h3>第四章&nbsp;&nbsp;交易品</h3>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;第六条&nbsp;&nbsp;&nbsp;&nbsp;健康、无残缺的老鸡、老鸭（含种鸡、蛋鸡、种鸭和定养老鸡/鸭等）。</p>
        <br/>

        <h3>第五章&nbsp;&nbsp;客户保证金管理</h3>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;第七条&nbsp;&nbsp;&nbsp;&nbsp;保证金是客户参与温氏商城老鸡（老鸭）竞价的凭证。如客户有意参加温氏肉老鸡（老鸭）竞价销售，须缴纳卖家设置的保证金金额。保证金不可作货款之用。客户参与竞价前，需联系卖家并按卖家的指引缴纳保证金。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;第八条&nbsp;&nbsp;&nbsp;&nbsp;客户在参与竞价项目时，系统会根据“客户的竞价数量*该竞价项目所设置的单只保证金”冻结相应的保证金金额。客户所参与的竞价项目结束并评标后，未中标客户的保证金自动解冻。对已中标客户的保证金，中标订单在完成发货后即可解冻。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;第九条&nbsp;&nbsp;&nbsp;&nbsp;保证金因存入、退还及扣除发生变动，温氏商城客户端会以系统信息的形式，告知客户。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;第十条&nbsp;&nbsp;&nbsp;&nbsp;客户在以下情况中不允许发起保证金退还申请：</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;1、客户已成功报名参与任意竞价项目，该竞价项目尚未开始；</p>
        <p class="no-margin-top">&nbsp;&nbsp;&nbsp;&nbsp;2、客户参与的竞价项目结束，尚未评标；</p>
        <p class="no-margin-top">&nbsp;&nbsp;&nbsp;&nbsp;3、客户的竞价项目已中标，尚未完成中标订单的确认。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;第十一条&nbsp;&nbsp;&nbsp;&nbsp;符合以下条件时，客户可向卖家提出保证金退还申请：</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;1、客户未成功竞价：例如在竞价过程中始终未出价、在竞价过程中出局并放弃加价等情况。</p>
        <p class="no-margin-top">&nbsp;&nbsp;&nbsp;&nbsp;2、客户竞价成功后，卖家主动关闭交易或未履行发货或因卖家其他原因导致交易未完成的。</p>
        <p class="no-margin-top">&nbsp;&nbsp;&nbsp;&nbsp;客户所参与的竞价项目结束后，可向卖家提出返还保证金的申请，具体流程请咨询卖家。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;第十二条&nbsp;&nbsp;&nbsp;&nbsp;客户中标后，因客户个人问题，导致交割未能在竞价项目规定的交割时间内完成，卖家将按“客户中标的老鸡（老鸭）数量*竞价项目的单只保证金”扣除相应的保证金金额。</p>
        <br/>

        <h3>第六章&nbsp;&nbsp;竞价流程</h3>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;第十三条&nbsp;&nbsp;&nbsp;&nbsp;卖家发布竞价项目后，有意参与当次竞价的客户，可登录温氏商城客户端查看老鸡（老鸭）竞价交易信息，缴纳保证金后报名参与竞价。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;第十四条&nbsp;&nbsp;&nbsp;&nbsp;客户参与竞价项目后，系统会根据该项目的单只保证金，自动计算出客户最大可竞价只数。竞价过程中，系统根据客户竞价的只数自动冻结相应的保证金。竞价成功并确认交割订单后，系统自动释放保证金。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;第十五条&nbsp;&nbsp;&nbsp;&nbsp;客户在竞价开始前报名即可获得竞价编号。若未提前报名，则在竞价过程中，第一次出价时获得对应的竞价编号。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;第十六条&nbsp;&nbsp;&nbsp;&nbsp;竞价价格不得低于起拍价，出价出局后再次加价，自动从最低的有效价格开始加价。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;第十七条&nbsp;&nbsp;&nbsp;&nbsp;中标规则为按报价高者所得，如出现相同报价的，报价时间靠前者优先进行降序排列，标的成交上限各客户的中标数量进行分配。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;第十八条&nbsp;&nbsp;&nbsp;&nbsp;中标公告将列出客户参与竞价报价并已中标的情况。客户在确认中标后，需在当日内联系卖家并商定交割事宜。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;第十九条&nbsp;&nbsp;&nbsp;&nbsp;未中标的客户所在竞价项目中所冻结的保证金，将在中标公告发出后自动解冻。</p>
        <br/>

        <h3>第七章&nbsp;&nbsp;交割</h3>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;第二十条&nbsp;&nbsp;&nbsp;&nbsp;老鸡（老鸭）交割事宜按照温氏股份老鸡（老鸭）销售相关规定执行。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;产品交割方式：</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;1. 地点：卖方下属场所</p>
        <p class="no-margin-top">&nbsp;&nbsp;&nbsp;&nbsp;2. 交割方式：乙方自备车辆、笼具，负责产品运输，运输费用由乙方承担，如委托他人运输必须有乙方的委托证明。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;第二十一条&nbsp;&nbsp;&nbsp;&nbsp;竞价老鸡（老鸭）的交割只能由中标客户本人完成，则“中标客户名称、付款方、取货方”三方一致，不允许其他客户代中标客户完成交割。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;第二十二条&nbsp;&nbsp;&nbsp;&nbsp;客户竞价成功的老鸡（老鸭），在交割时原则上按车为单位装运。</p>
        <br/>

        <h3>第八章&nbsp;&nbsp;异常情况处理</h3>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;第二十三条&nbsp;&nbsp;&nbsp;&nbsp;卖家对温氏商城竞价模式的运作状态进行实时监控，若出现异常情况，卖家将第一时间通知客户。客户在遇到异常情况时，应及时通过各种有效渠道向卖家反馈。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;第二十四条&nbsp;&nbsp;&nbsp;&nbsp;如因恶意攻击、系统故障等不可控因素造成系统平台运作异常，卖家有权取消受到影响的竞价项目。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;第二十五条&nbsp;&nbsp;&nbsp;&nbsp;对于因客户自身网络环境等其它非卖家因素造成的出价异常并造成的客户损失（包含但不限于经济损失），卖家不承担任何责任。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;第二十六条&nbsp;&nbsp;&nbsp;&nbsp;对于严重的有意在平台进行的攻击，诋毁及欺诈等行为，卖家将移交公检法机关处理，并保留追究行为人法律责任的权利。</p>
        <br/>

        <h3>第九章&nbsp;&nbsp;违约/争议处理</h3>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;第二十七条&nbsp;&nbsp;&nbsp;&nbsp;出现不在本规定范围内的争议，由双方协商解决。协商不成的，可依法向有管辖权的法院起诉。</p>
        <br/>

        <h3>第十章&nbsp;&nbsp;附则</h3>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;第二十八条&nbsp;&nbsp;&nbsp;&nbsp;本规则解释权归温氏股份所有。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;第二十九条&nbsp;&nbsp;&nbsp;&nbsp;本规则自发布之日起开始实施。</p>
        <br/>
      </div>
    </div>
    <div v-else>
      <div class="title">
        <h2>温氏商城竞价及交易规则</h2>
      </div>
      <div class="content">

      </div>
    </div> -->
  </div>
</template>

<script>
import { api } from '@/api'

export default {
  name: 'bidding-rules-article',
  props: {
    bidType: {
      type: String,
      default: ''
    },
    isNeedMargin: {
      type: Boolean,
      default: true
    },
    htmlContent: {
      type: String,
      default: ''
    }
  },
  watch: {
    bidType: {
      handler (val) {
        if (val === '1' || val === '2' || val === '3') {
          this._getBidFileInfo(val, this.isNeedMargin)
        }
      },
      immediate: true
    }
  },
  data () {
    return {
      richText: {}
    }
  },
  created () {

  },
  methods: {
    _getBidFileInfo (bidType, isNeedMargin) {
      api.commonCall({ bidType, isNeedMargin }, 'getBidFileInfo').then(res => {
        if (res.success) {
          this.richText = res.data
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    }
  },
  components: {

  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.bidding-rules-article {
  .rich-text {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    @{deep} * {
      max-width: 100% !important;
    }
  }
  // >div {
  //   padding: 0 10px;
  //   .title {
  //     padding: 35px 0;
  //     h2 {
  //       font-size: 42px;
  //       color: #333;
  //       font-weight: bold;
  //       text-align: center;
  //     }
  //   }
  //   .content {
  //     h3, p {
  //       font-family: "PingFang SC";
  //     }
  //     h3 {
  //       font-size: 32px;
  //       color: #333;
  //       font-weight: bold;
  //     }
  //     p {
  //       font-size: 28px;
  //       color: #48484a;
  //       margin-top: 8px;
  //       &.no-margin-top {
  //         margin-top: 0;
  //       }
  //     }
  //   }
  // }
}
</style>
