<template>
  <div class="driver">
    <van-nav-bar
      :title="title"
      left-arrow
      :right-text="isManagement || showAdd ? '' : '管理'"
      @click-right="onClickRight"
      @click-left="onClickLeft"
    />
    <!-- 加载的内容-->
    <div class="content van-content" :class="{showAdd}">
      <!-- 管理页面 -->
      <div class="content-1" :class="{management, edit}">
        <van-pull-refresh
          v-model="isLoading"
          @refresh="onRefresh"
          v-if="driverList&&driverList.length"
        >
          <van-list v-model="loading" :finished="finished" @load="onLoad" :offset="200">
            <van-radio-group v-model="cacheDriver" @change="changeRadio">
              <div v-for="(item, index) in driverList" :key="index + 'driver'" class="radio-box">
                <div>
                  <!-- 左边的单选框 -->
                  <van-radio :name="index">
                    <div
                      class="dri-list van-dri-list"
                      @click="(e) => {if (isManagement) e.stopPropagation();}"
                    >
                      <div>
                        <div
                          class="format-img van-img"
                          v-lazy:background-image="{ src: allImgDomainName + item.headJpg,
                            error: require('@/assets/images/default_profile@2x.png') }"
                        ></div>
                      </div>

                      <div>
                        <div>{{item.name}}</div>

                        <div>
                          <div v-if="item.driverPhone">手机号码：{{item.driverPhone.replace(/(.{3})(.{4})(.{4})/, '$1 $2 $3')}}</div>
                          <div v-if="item.carTypeName">车辆类型：{{item.carTypeName}}</div>
                          <div v-if="item.carId">车牌号码：{{item.carId}}</div>
                          <div v-if="item.driverId">身份证号：{{item.driverId}}</div>
                        </div>
                      </div>
                    </div>
                  </van-radio>
                </div>

                <div class="set-default-box">
                  <div style="text-align: right" class="set-text">
                    <span style="color: #FFAA17;" v-if="item.driverStatus === 'B'">审核中</span>
                    <span style="color: #F95C5C;" v-else-if="item.driverStatus === 'A'">审核失败</span>
                    <span style="color: #44AD7B;" v-else>审核通过</span>
                    <span @click.stop="deleteDri(item,index)">删除</span>
                  </div>

                  <!-- 下边的单选框 -->
                  <!--<van-radio :name="index" @click="setDefaultDri(item)">-->
                  <!--<div class="set-default">-->
                  <!--<span>{{index === cacheDriver ? '默认司机' : '设为默认司机'}}</span>-->
                  <!--<span @click.stop="() => {}">-->
                  <!--<span style="color: #FFAA17;" v-if="item.driverStatus === 'B'">审核中</span>-->
                  <!--<span style="color: #F95C5C;" v-else-if="item.driverStatus === 'A'">审核失败</span>-->
                  <!--<span v-else @click="editDri(item,index)">编辑</span>-->
                  <!--<span @click.stop="deleteDri(item,index)">删除</span>-->
                  <!--</span>-->
                  <!--</div>-->
                  <!--</van-radio>-->
                </div>
              </div>
            </van-radio-group>
          </van-list>
        </van-pull-refresh>
        <div class="no-data-box" v-else>
          <no-data :loading="requestLoading"></no-data>
        </div>
      </div>
      <!-- 新增页面 -->
      <div class="content-2">
        <div class="list">
          <div class="label">司机头像</div>

          <div class="content">
            <van-uploader accept="image/*" :after-read="onRead1">
              <img class="headJpg" v-if="!addDriList.headJpg && !imgList.headJpg" :src="defaultImg">
              <img
                class="headJpg"
                v-if="addDriList.headJpg&&!imgList.headJpg"
                :src="allImgDomainName+addDriList.headJpg"
              >
              <img class="headJpg" v-if="imgList.headJpg" :src="allImgDomainName+imgList.headJpg">
            </van-uploader>
          </div>

          <!--<div class="arrow">-->
            <!--<van-icon name="arrow"/>-->
          <!--</div>-->
        </div>

        <div class="list">
          <div class="label">司机姓名</div>

          <div class="content">
            <input type="text" placeholder="请输入司机姓名" v-model="addDriList.name">
          </div>

          <!--<div class="arrow">-->
            <!--<van-icon name="arrow"/>-->
          <!--</div>-->
        </div>

        <div class="list">
          <div class="label">手机号码</div>

          <div class="content">
            <input type="text" maxlength="11" placeholder="请输入手机号码" v-model="addDriList.driverPhone">
          </div>

          <!--<div class="arrow">-->
            <!--<van-icon name="arrow"/>-->
          <!--</div>-->
        </div>

        <div class="list" @click="selectCarType">
          <div class="label">车辆类型</div>

          <div class="content">
            <input type="text" placeholder="请选择车辆类型" v-model="addDriList.carTypeName" readonly="readonly">
          </div>

          <div class="arrow">
            <van-icon name="arrow"/>
          </div>
        </div>

        <div class="list">
          <div class="label">车牌号码</div>

          <div class="content">
            <input type="text" placeholder="请输入车牌号码" v-model="addDriList.carId">
          </div>

          <!--<div class="arrow">-->
            <!--<van-icon name="arrow"/>-->
          <!--</div>-->
        </div>

        <div class="list">
          <div class="label">身份证号</div>

          <div class="content">
            <input type="text" maxlength="18" placeholder="请输入身份证号" v-model="addDriList.driverId">
          </div>

          <!--<div class="arrow">-->
            <!--<van-icon name="arrow"/>-->
          <!--</div>-->
        </div>
        <div class="list">
          <div class="label">身份证照片</div>

          <div class="content">
            <van-uploader accept="image/*" :after-read="onRead2">
              <div class="img defaultBg" v-if="!addDriList.frontJpg&&!imgList.frontJpg"></div>
              <div
                class="img"
                v-if="addDriList.frontJpg&&!imgList.frontJpg"
                :style="{backgroundImage: `url(${allImgDomainName}${addDriList.frontJpg})`}"
              ></div>
              <img class="img" v-if="imgList.frontJpg" :src="allImgDomainName+imgList.frontJpg">
            </van-uploader>

            <van-uploader accept="image/*" :after-read="onRead3" style="margin-left: 20px;">
              <div class="img defaultBg" v-if="!addDriList.contraryJpg&&!imgList.contraryJpg"></div>
              <div
                class="img"
                v-if="addDriList.contraryJpg&&!imgList.contraryJpg"
                :style="{backgroundImage: `url(${allImgDomainName}${addDriList.contraryJpg})`}"
              ></div>
              <img
                class="img"
                v-if="imgList.contraryJpg"
                :src="allImgDomainName+imgList.contraryJpg"
              >
            </van-uploader>
          </div>

          <!--<div class="arrow">-->
            <!--<van-icon name="arrow"/>-->
          <!--</div>-->
        </div>
      </div>
    </div>

    <!-- 底部按钮 -->
    <!-- <bottom-button @on-btn="btnClick" :btns="btns"></bottom-button> -->

    <!-- 上拉框 -->
    <pull-up-selection
      :data="carList"
      :show="showPullUpSelection"
      @cancel="cancelSelect"
      title="选择车辆类型"
      @selected="pullUpSelected"
    ></pull-up-selection>
  </div>
</template>

<script>
import PullUpSelection from '@/components/pull-up-selection'
import NoData from '@/components/no-data'
import { api } from '@/api'
import { allImgDomainNameMixin } from '@/assets/js/mixin'
import { isPhone, checkIDCard, _debounce } from '@/utils/common'

export default {
  name: 'driver',
  mixins: [allImgDomainNameMixin],
  data () {
    return {
      type: '', // account为个人中心管理司机,否则为订单页管理司机
      isMe: false,
      titleClickStatus: true,
      title: '选择司机',
      driverList: [],
      cacheDriver: -1,
      cacheEdit: 0,
      cacheSelect: 0,
      isManagement: false,
      management: false,
      edit: false,
      showAdd: false,
      btns: [
        {
          text: '新增司机',
          color: 'red'
        }
      ],
      showPullUpSelection: false,
      defaultImg: require('@/assets/images/default_profile@2x.png'),
      params: {
        avatar: {
          name: '',
          path: ''
        },
        idCard: '',
        carId: '',
        carTypeId: '',
        telephone: '',
        driverName: '',
        frontJpg: {
          name: '',
          path: ''
        },
        contraryJpg: {
          name: '',
          path: ''
        }
      },
      // 上拉加载及下拉刷新
      page: {
        index: 1,
        size: 6,
        total: 0
      },
      cacheList: [],
      loading: false, // 控制上拉加载的加载动画
      finished: false, // 控制在页面往下移动到底部时是否调用接口获取数据
      isLoading: false, // 控制下拉刷新的加载动画
      carList: [], // 司机列表
      addDriList: [],
      imgList: {
        headJpg: '',
        frontJpg: '',
        contraryJpg: ''
      },
      isSubmitFlag: false, // 记录提交状态
      requestLoading: false // 接口请求加载动画
    }
  },
  created () {
    let query = JSON.parse(sessionStorage.getItem('placeOrder'))
    this.type = this.$route.query.type

    // 当前为订单页管理司机
    if (this.type === 'account') {
      this.isManagement = true
      this.edit = true
      this.management = true
    }

    // 当前为下单页选择司机
    // if (this.$route.query.cacheDriver > -1) {
    //   this.cacheDriver = this.$route.query.cacheDriver
    // }
    if (query && query.cacheDriver > -1) {
      this.cacheDriver = query.cacheDriver
    }

    this.init()
    this.cardType()
  },
  methods: {
    cardType () {
      // 车辆类型
      api.carTypeQuery().then(res => {
        if (res.success) {
          this.carList = res.data.list.map(item => {
            return {
              name: item.carTypeName,
              number: item.carTypeId
            }
          })
        }
      })
    },
    init () {
      this.requestLoading = true
      const params = {
        pageNo: this.page.index,
        pageSize: this.page.size
      }
      if (JSON.parse(sessionStorage.getItem('placeOrder')) && JSON.parse(sessionStorage.getItem('placeOrder')).status) {
        params.status = 'C'
      }
      api.driverListQuery(params).then(res => {
        this.requestLoading = false
        if (res.success) {
          this.cacheList = this.cacheList.concat(res.data.list)
          this.driverList.splice(0, this.driverList.length, ...this.cacheList)
          this.page.total = res.data.totalNumber
          this.finished = false
          this.page.index = res.data.currentPage
          this.loading = false

          if (this.cacheList.length >= this.page.total) {
            this.finished = true
          }
          setTimeout(() => {
            this.isLoading = false
          }, 100)
        }
      })
    },
    // 下拉刷新
    onRefresh () {
      this.page.index = 1
      this.cacheList = []
      this.init()
    },
    // 上拉加载
    onLoad () {
      this.page.index++
      this.init()
    },
    // 设为默认司机
    setDefaultDri (item) {
      this.addDriList = item
      this.addDriList.isDefault = 1
      this._driverAdd()
    },
    // 编辑
    editDri (item, index) {
      // 设置原始信息
      this.title = '修改司机信息'
      this.addDriList = item
      this.showAdd = true
    },
    // 删除
    deleteDri (item, index) {
      let params = {
        fid: item.id,
        auditing: true,
        userId: item.id,
        delegationtype: '2'
      }
      api.commonCall(params, 'delegationDetail').then(res => {
        if (res.success) {
          let params = {
            customerid: res.data.customerId,
            userid: item.id,
            auditing: true,
            relationship: '委托司机'
          }
          this.deleteDeleApi(params)
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    deleteDeleApi (params) {
      this.$dialog.confirm({
        title: '提示',
        message: '确定要删除该司机吗？'
      }).then(() => {
        // 删除受托人
        api.commonCall(params, 'deleteDelegation').then(res => {
          if (res.success) {
            this.page.index = 1
            this.page.total = 0
            this.cacheList = []
            this.driverList = []
            this.$toast.success('删除司机成功')
            this.init()
            this.saveDriverCache()
          } else {
            res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
          }
        })
      }).catch(() => {

      })
    },
    // 选择地址
    changeRadio (index) {
      if (this.isManagement && !this.isMe) {
        this.isMe = false
      } else if (!this.isMe) {
        this.saveDriverCache()

        // this.$router.replace({
        //   path: '/placeOrder'
        // })
        this.$router.go(-1)
      } else {
        this.isMe = false
      }
    },
    // 保存当前列表司机信息
    saveDriverCache () {
      let cache = JSON.parse(sessionStorage.getItem('placeOrder'))
      let query = {}
      let driverId = cache.driverId || []
      driverId[+cache.driverIndex] = this.driverList[this.cacheDriver] ? this.driverList[this.cacheDriver].id : ''
      query.driverId = driverId
      query.cacheData = cache.cacheData

      this.$route.query.addressId &&
      (query.addressId = this.$route.query.addressId)
      this.$route.query.changeCount &&
      (query.changeCount = this.$route.query.changeCount)
      this.$route.query.isQuickOrder &&
      (query.isQuickOrder = this.$route.query.isQuickOrder)

      sessionStorage.setItem('placeOrder', JSON.stringify(query))
    },
    // 上拉选中
    pullUpSelected (item, index) {
      this.showPullUpSelection = false
      this.addDriList.carTypeId = item.number
      this.addDriList.carTypeName = item.name
    },
    // 选择城市
    selectCarType () {
      this.showPullUpSelection = true
    },
    // 取消选择上拉
    cancelSelect () {
      this.showPullUpSelection = false
    },
    onRead1 (e) {
      let file = e.file
      this._uploadImage(file, 'headJpg')
    },
    onRead2 (e) {
      let file = e.file
      this._uploadImage(file, 'frontJpg')
    },
    onRead3 (e) {
      let file = e.file
      this._uploadImage(file, 'contraryJpg')
    },
    // 上传图片
    _uploadImage (file, img) {
      // 传递一个 FormData 对象
      // let formData = new FormData()
      // 'file' 可变 相当于 input 表单的name 属性
      // formData.append('file', file)
      api.uploadImage(file, res => {
        if (res.success) {
          this.imgList[img] = res.data[0]
        } else {
          this.$toast.fail(res.msg || '上传图片失败')
        }
      })
    },
    btnClick (btn) {
      if (btn.text === '新增司机') {
        this.title = '新增司机'
        this.showAdd = true
        this.addDriList = []
        this.imgList = {
          headJpg: '',
          frontJpg: '',
          contraryJpg: ''
        }
      } else {
        this._driverAdd()
      }
    },
    // 管理司机
    onClickRight () {
      if (this.titleClickStatus) {
        this.titleClickStatus = false

        this.isManagement = true
        this.cacheSelect = this.cacheDriver

        // 控制动画
        this.management = true

        // 控制动画
        setTimeout(() => {
          this.cacheDriver = this.cacheEdit

          this.edit = true

          // 手动触发更新，解决动画完成后无法滚动问题
          if (this.driverList.length) {
            setTimeout(() => {
              var a = this.driverList.pop()
              setTimeout(() => {
                this.driverList.push(a)
              }, 0)
            }, 300)
          }
        }, 200)

        // 限制连续点击
        setTimeout(() => {
          this.titleClickStatus = true
        }, 500)
      }
    },
    // 返回按键
    onClickLeft () {
      if (!this.showAdd) {
        // 当前为管理页
        if (this.isManagement) {
          // 当前为个人中心管理司机
          if (this.type === 'account') {
            this.$router.go(-1)

            // 当前为订单页管理司机
          } else if (this.titleClickStatus) {
            this.titleClickStatus = false

            this.isManagement = false
            this.cacheEdit = this.cacheDriver

            // 控制动画
            this.edit = false

            // 控制动画
            setTimeout(() => {
              if (this.cacheSelect !== this.cacheEdit) {
                this.isMe = true
                this.cacheDriver = this.cacheSelect
              }
              this.management = false
            }, 300)

            // 限制连续点击
            setTimeout(() => {
              this.titleClickStatus = true
            }, 500)
          }
        } else {
          // this.$router.replace({
          //   path: '/placeOrder',
          //   query: this.$route.query
          // })
          this.$router.go(-1)
        }

        // 当前为新增页
      } else {
        this.showAdd = false
      }
    },
    // 司机信息新增校验
    _driverCheck (driverId, driverPhone) {
      const params = { driverId: driverId, driverPhone: driverPhone }
      return api.driverCheck(params).then(res => {
        if (res.success) {
          return new Promise(resolve => {
            resolve({ valid: res.data.list && res.data.list.length })
          })
        } else {
          throw res.message
        }
      })
    },
    _driverAdd: _debounce(function () {
      if (this.isSubmitFlag) return
      this.isSubmitFlag = true

      this.addDriList.headJpg = this.imgList.headJpg ? this.imgList.headJpg : this.addDriList.headJpg
      this.addDriList.frontJpg = this.imgList.frontJpg ? this.imgList.frontJpg : this.addDriList.frontJpg
      this.addDriList.contraryJpg = this.imgList.contraryJpg ? this.imgList.contraryJpg : this.addDriList.contraryJpg
      if (!this.addDriList.headJpg) {
        this.$toast('请上传司机头像')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (!this.addDriList.name) {
        this.$toast('请输入司机姓名')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (!this.addDriList.name.trim()) {
        this.$toast('司机姓名不能为空格')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (!isPhone(this.addDriList.driverPhone)) {
        this.$toast('手机号码有误')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (!this.addDriList.carTypeId) {
        this.$toast('请选择车辆类型')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (!this.addDriList.carId) {
        this.$toast('请输入车牌号码')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (!checkIDCard(this.addDriList.driverId)) {
        this.$toast('请输入正确的身份证号')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (!this.addDriList.frontJpg) {
        this.$toast('请上传身份证正面照')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (!this.addDriList.contraryJpg) {
        this.$toast('请上传身份证反面照')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else {
        if (this.addDriList.id) {
          this._submit()
        } else {
          this._driverCheck(this.addDriList.driverId, this.addDriList.driverPhone).then(res => {
            if (res.valid) {
              this.$toast.fail('司机信息已被注册')
              setTimeout(() => {
                this.isSubmitFlag = false
              }, 1000)
            } else {
              this._submit()
            }
          }).catch(err => {
            setTimeout(() => {
              this.isSubmitFlag = false
            }, 1000)
            this.$toast.fail(err)
          })
        }
      }
    }, 500),
    _submit () {
      const params = {
        headJpg: this.addDriList.headJpg,
        name: this.addDriList.name,
        driverPhone: this.addDriList.driverPhone,
        carTypeId: this.addDriList.carTypeId,
        carId: this.addDriList.carId,
        driverId: this.addDriList.driverId,
        frontJpg: this.addDriList.frontJpg,
        contraryJpg: this.addDriList.contraryJpg,
        isDefault: this.addDriList.isDefault ? this.addDriList.isDefault : 0
      }

      api.driverAdd(params).then(res => {
        if (res.success) {
          // 重新获取列表
          this.page.index = 1
          this.page.total = 0
          this.cacheList = []
          this.driverList = []
          this.init()
          this.showAdd = false
          this.addDriList = []
          this.$toast.success('新增司机成功')
          setTimeout(() => {
            this.isSubmitFlag = false
          }, 1000)
        } else {
          setTimeout(() => {
            this.isSubmitFlag = false
          }, 1000)
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    }
  },
  beforeRouteEnter (to, from, next) {
    if (from.path !== '/placeOrder' && from.path !== '/groupBuyingPlaceOrder' && from.path !== '/confirmOrder') {
      sessionStorage.removeItem('placeOrder')
    }
    next()
  },
  computed: {
    // 管理页面的title
    managementTitle () {
      switch (this.type) {
        case 'account':
          return '司机信息维护'
        default:
          return '管理司机'
      }
    }
  },
  watch: {
    showAdd (n) {
      this.$set(this.btns[0], 'text', n ? '提交审核' : '新增司机')

      n || (this.title = this.isManagement ? this.managementTitle : '选择司机')
    },
    isManagement (n) {
      this.title = n ? this.managementTitle : '选择司机'
    }
  },
  components: {
    PullUpSelection,
    NoData
  }
}
</script>

<style scoped lang="less">
@import "~@/assets/css/mixin.less";

.driver {
  background: white;

  .format-img {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
  }

  .active {
    position: relative;
    overflow: hidden;

    &:active {
      &:after {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.08);
      }
    }
  }

  @{deep} .van-hairline--bottom {
    .van-ellipsis {
      font-size: 32px;
      color: #2e3033;
    }

    .van-nav-bar__text {
      font-size: 30px;
      color: #2e3033;
    }
  }

  > .content {
    overflow: hidden;
    position: relative;
    box-sizing: border-box;

    &.van-content {
      height: calc(100vh - 92px);
    }

    &.showAdd {
      .content-1 {
        left: -750px !important;
      }

      .content-2 {
        left: 0 !important;
      }
    }

    .content-1 {
      background: #f5f5f5;
      transition: background 0.2s;
      -webkit-overflow-scrolling: touch;
      overflow: auto;
      // height: calc(100% - 96px);
      height: 100%;
      position: absolute;
      left: 0px;
      top: 0;
      width: 100%;
      transition: left 0.3s;

      &.management {
        .radio-box {
          > div:first-child {
            @{deep} .van-radio {
              .van-radio__icon {
                margin-left: -66px !important;
              }

              .van-radio__label {
                width: calc(100% - 24px) !important;
              }
            }
          }
        }
      }

      &.edit {
        .radio-box {
          padding-bottom: 90px !important;
        }
      }

      .radio-box {
        position: relative;
        z-index: 1;
        padding-bottom: 0;
        transition: padding-bottom 0.3s;
        margin-bottom: 16px;

        > div:first-child {
          @{deep} .van-radio {
            .van-radio__icon {
              // vertical-align: top;
              // margin-top: 76px;
            }
          }
        }

        .dri-list {
          color: #2e3033;
          display: flex;

          &.van-dri-list {
            padding: 32px 0;
          }

          > div {
            &:first-child {
              padding-right: 40px;

              > div {
                border-radius: 50%;
                width: 120px;
                height: 120px;

                &.van-img {
                  width: 120px;
                  height: 120px;
                }
              }
            }

            &:last-child {
              > div {
                &:first-child {
                  font-size: 30px;
                  padding-bottom: 20px;
                }

                &:last-child {
                  font-size: 26px;
                }
              }
            }
          }
        }

        .set-default-box {
          height: 90px;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          z-index: -1;

          .set-text {
            background: white;
            line-height: 90px;
            font-size: 28px;
            color: #2e3033;
            text-align: right;

            > span {
              &:last-child {
                color: #428be9;
                padding-left: 50px;
                padding-right: 24px;

                > span {
                  &:last-child {
                    color: #f95c5c;
                    margin-left: 50px;
                  }
                }
              }
            }
          }

          .set-default {
            line-height: 90px;
            font-size: 28px;
            color: #2e3033;
            display: flex;
            justify-content: space-between;

            > span {
              &:last-child {
                color: #428be9;

                > span {
                  &:last-child {
                    color: #f95c5c;
                    margin-left: 50px;
                  }
                }
              }
            }
          }
        }

        @{deep} .van-radio {
          background: white;
          .border-1px(rgb(232, 233, 235));

          .van-radio__label {
            transition: all 0.2s;
            width: calc(100% - 90px);
            box-sizing: border-box;
            font-size: 26px;
            color: #2e3033;
            padding-right: 24px;
          }

          .van-radio__icon {
            transition: all 0.2s;
            padding-left: 30px;

            &.van-radio__icon--checked {
              .van-icon-success {
                display: block;
                color: rgba(0, 0, 0, 0);
                border: 0;
                background-color: transparent;

                &:before {
                  content: " ";
                  display: block;
                  width: 32px;
                  height: 32px;
                  box-sizing: border-box;
                  border: 10px solid #e33240;
                  border-radius: 50%;
                }
              }
            }

            .van-icon-success {
              display: block;
              color: rgba(0, 0, 0, 0);
              border: 0;
              background-color: transparent;

              &:before {
                content: " ";
                display: block;
                width: 32px;
                height: 32px;
                border: 2px solid #c1c4ca;
                box-sizing: border-box;
                border-radius: 50%;
              }
            }
          }
        }
      }
    }

    .content-2 {
      background: white;
      position: absolute;
      top: 0;
      left: 750px;
      width: 100%;
      -webkit-overflow-scrolling: touch;
      height: calc(100% - 96px);
      overflow: auto;
      transition: left 0.3s;

      .list {
        display: flex;
        align-items: center;
        padding: 35px 24px;
        color: #2e3033;
        font-size: 28px;
        line-height: 40px;

        .content {
          flex: 1;
          text-align: right;

          input {
            text-align: right;
            margin-left: auto;
            display: block;
            border: 0;
            outline: none;

            &::-webkit-input-placeholder {
              color: #c1c4ca;
            }
          }

          .img {
            display: inline-block;
            width: 170px;
            height: 110px;
            border-radius: 10px;
            overflow: hidden;

            &:nth-child(n + 2) {
              margin-left: 20px;
            }

            &.defaultBg {
              background: rgb(223, 226, 231);
              position: relative;

              &:after,
              &:before {
                content: " ";
                position: absolute;
                border-radius: 6px;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                background: rgb(193, 196, 202);
              }

              &:after {
                width: 48px;
                height: 6px;
              }

              &:before {
                height: 48px;
                width: 6px;
              }
            }
          }

          .headJpg {
            width: 110px;
            height: 110px;
            border-radius: 50%;
            border: 0;
            display: block;
            margin-left: auto;
          }

          > span {
            color: #c1c4ca;
          }
        }

        .arrow {
          > i {
            color: #c1c4ca;
            vertical-align: middle;
            padding-left: 20px;
          }
        }
      }
    }
  }
}
</style>
