<template>
  <div class="place-order">
    <div class="navbar">
      <van-nav-bar title="填写订单" left-arrow @click-left="onleftclick"/>
    </div>

    <div class="content van-content">
      <!-- 配送地址 -->
      <!-- <div v-if="category === 1 || category === 3">
        <div class="personal active" @click="goRecevingAddress">
          <div>
            <div>
              <span>{{addressInfo.contactName}}</span>
              <span>{{addressInfo.telephone && addressInfo.telephone.replace(/^(.{3}).+(.{4})$/, '$1****$2')}}</span>
            </div>
            <div>{{addressInfo.addressName}}{{addressInfo.address2}}</div>
            <div>{{addressInfo.address}}</div>
          </div>
          <div>
            <van-icon name="arrow"/>
          </div>
        </div>

        <div class="line"></div>

        <div class="remark">
          <div>备注</div>
          <div>
            <input class="input" type="text" placeholder="请填写相关备注信息">
          </div>
        </div>
      </div> -->

      <!-- 司机 -->
      <!-- <div v-if="category === 2 || category === 3"> -->
        <!-- <div class="driver active" v-if="!firstEnter" @click="goDriver">
          <div>
            <div
              class="format-img"
              :style="{backgroundImage: `url(${allImgDomainName}${driverInfo.headJpg})`}"
            ></div>
          </div>

          <div>
            <div>
              <span>{{driverInfo.name}}</span>

              <span>{{driverInfo.driverPhone && driverInfo.driverPhone.replace(/^(.{3}).+(.{4})$/, '$1****$2')}}</span>
            </div>

            <div>车辆类型：{{driverInfo.carTypeName}}</div>
          </div>

          <div>
            <van-icon name="arrow"/>
          </div>
        </div>
        <list v-else :arrow="true" @on-click="goDriver">
          <div slot="head">
            <div class="head">请选择司机</div>
          </div>
        </list>

        <div class="line2"></div> -->

        <!-- <div class="remark">
          <div>备注</div>
          <div>
            <input class="input" type="text" placeholder="请填写相关备注信息">
          </div>
        </div> -->
      <!-- </div> -->

      <!-- 订单 -->
      <div class="order-list" v-if="shoppingCartSelectedList && shoppingCartSelectedList.length">
        <div
          class="order-item"
          v-for="(item, index) in shoppingCartSelectedList"
          :key="index + 'shop'"
        >
          <div class="title">
            <i></i>
            <span class="owner-name">{{item.storeName || item.ownerName}}</span>
            <van-tag color="#f39800" plain v-if="item.ownerType === '1'">养禽</van-tag>
            <van-tag color="#f39800" plain v-else-if="item.ownerType === '2'">养猪</van-tag>
            <van-tag color="#f39800" plain v-else-if="item.ownerType === '3'">乳业</van-tag>
            <van-tag color="#f39800" plain v-else-if="item.ownerType === '4'">鲜品</van-tag>
            <van-tag color="#f39800" plain v-else-if="item.ownerType === '5'">蛋业</van-tag>
            <van-tag color="#f39800" plain v-else-if="item.ownerType === '6'">熟食</van-tag>
          </div>

          <div
            class="goods-item"
            v-for="(childItem, childIndex) in item.cartList"
            :class="[childItem.comFlag ? (childItem.comFlag === 1 || childItem.comFlag === 'last') ? 'border-' + childItem.comFlag : 'border-middle' : '']"
            :key="childIndex + 'item'"
          >
            <div class="comList" v-if="childItem.comFlag === 1"><span>组合大促</span></div>
            <div class="goods-item-inner">
              <div
                class="goods-img format-img"
                v-lazy:background-image="allImgDomainName + childItem.itemPic"
              ></div>
              <!--<div class="goods-img format-img"-->
              <!--v-if="childItem.itemPic"-->
              <!--:style="{backgroundImage: 'url(' + (allImgDomainName+childItem.itemPic)+ ')'}"></div>-->
              <!--&lt;!&ndash;:style="{backgroundImage: 'url(' + (childItem.itemPic?allImgDomainName+childItem.itemPic:defaultProImg)+ ')'}"></div>&ndash;&gt;-->
              <!--<div class="goods-img format-img"-->
              <!--v-else-->
              <!--:style="{backgroundImage: 'url(' + defaultProImg+ ')'}"></div>-->
              <div class="goods-content">
                <div>{{childItem.itemName}}</div>

                <div
                  v-show="childItem.assistattrName || childItem.wtRangeMap"
                >{{childItem.assistattrName}} {{childItem.wtRangeMap && childItem.wtRangeMap.name + ' ' + childItem.wtRangeMap.uom_name}}</div>

                <div class="input-remark">
                  <input class="input" type="text" placeholder="请输入备注（100个字以内）" :maxlength="100" v-model="childItem.remark">
                  <!-- <span class="input-word-count">{{(childItem.remark && childItem.remark.length) || 0}}/100</span> -->
                </div>

                <div class="price-module">
                  <span>
                    <span>{{childItem.price.toString().split('.')[0] || 0}}</span>.{{childItem.price.toString().split('.')[1] || '00'}} 元/{{childItem.unitName}}
                  </span>

                  <!--<span>x <span>{{childItem.qty}}</span></span>-->
                  <span v-if="!changeCount">
                    <p
                      class="text-right"
                    >{{childItem.isAssistOrder ? childItem.assistQty : childItem.qty}}（{{childItem.isAssistOrder ? childItem.assistunitName : childItem.unitName}}）</p>
                    <!-- <p
                      class="red text-right"
                      v-if="childItem.isAssistOrder && childItem.maxAvgWeight"
                    >约 {{childItem.assistQty * childItem.maxAvgWeight | keepTwoNum}}（{{childItem.unitName}}）</p>
                    <p
                      class="red text-right"
                      v-else-if="childItem.isAssistOrder"
                    >约 {{childItem.assistQty * childItem.conversionRate | keepTwoNum}}（{{childItem.unitName}}）</p> -->
                  </span>
                  <span v-else>
                    <p class="product-number">
                      <input
                        maxlength="4"
                        type="text"
                        v-model="childItem.qty"
                        @keyup="changeInitVal(index, childIndex, item)"
                      >
                      （{{childItem.isAssistOrder ? childItem.assistunitName : childItem.unitName}}）
                    </p>
                    <!-- <p class="red text-right" v-if="childItem.isAssistOrder">约 {{childItem.assistQty}}（{{childItem.unitName}}）</p> -->
                  </span>
                </div>
              </div>
            </div>
          </div>
          <!-- 赠品列表 -->
          <div
            class="proList"
            v-if="item.proReturnGoods && item.proReturnGoods.length"
          >
            <span>以下赠品</span>
          </div>
          <div
            class="goods-item"
            v-if="item.proReturnGoods && item.proReturnGoods.length"
            v-for="(childItem, childIndex) in item.proReturnGoods"
            :key="childIndex + 'proItem'"
          >
            <div class="goods-item-inner">
              <div
                class="goods-img format-img"
                v-lazy:background-image="allImgDomainName + childItem.itemPic"
              ></div>
              <div class="goods-content">
                <div>{{childItem.itemName}}</div>
                <div v-show="childItem.assistattrName">{{childItem.assistattrName}}</div>
                <div class="price-module">
                  <span>
                    <span>--</span>
                  </span>
                  <span>
                    <p class="text-right">{{+childItem.qty}}（{{childItem.unitName}}）</p>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="params">
            <div class="list active" @click="togglePopup('warehouse', index, item.ownerId, item.ownerType)">
              <div class="label">提货点</div>
              <div class="content-right">{{item.warehouseName || '请选择'}}</div>
              <div class="arrow">
                <van-icon name="arrow"/>
              </div>
            </div>

            <div class="list active" @click="togglePopup('needDate', index, item.ownerId, item.ownerType)">
              <div class="label">要货时间</div>
              <div class="content-right">{{item.needDate && typeof item.needTime === 'number' ? item.needDate + ' ' + item.needTimeSlot : '请选择'}}</div>
              <div class="arrow">
                <van-icon name="arrow"/>
              </div>
            </div>

            <div class="list active" @click="togglePopup('arrivalTime', index, item.ownerId, item.ownerType)">
              <div class="label">到场时间</div>
              <div class="content-right">{{item.arrivalTime || '请选择'}}</div>
              <div class="arrow">
                <van-icon name="arrow"/>
              </div>
            </div>

            <div class="list active" @click="goDriver(index)">
              <div class="label">司机信息</div>
              <div class="content-right">{{item.driverName || '请选择'}}</div>
              <div class="arrow">
                <van-icon name="arrow"/>
              </div>
            </div>

            <div class="list active">
              <div class="label">配送方式</div>
              <div class="content-right">{{expressName}}</div>
              <div class="arrow">
                <van-icon name="arrow"/>
              </div>
            </div>

            <div class="list active" @click="showCouponPopup(index)">
              <div class="label">优惠券</div>
              <div class="content-right" v-if="item.couponList && item.couponList.length">{{(item.discountAmount ? '-' + item.discountAmount.toFixed(2) : item.discountAmount.toFixed(2)) + '元' || '请选择优惠券'}}</div>
              <div class="content-right" v-else>暂无优惠券</div>
              <div class="arrow">
                <van-icon name="arrow"/>
              </div>
            </div>

            <div class="list active">
              <div class="label">配送时间</div>
              <div class="content-right">{{deliveryTime}}</div>
              <div class="arrow">
                <van-icon name="arrow"/>
              </div>
            </div>

            <div class="list">
              <div class="label">买家留言</div>
              <div class="content">
                <input class="input" type="text" placeholder="填写内容已和商家协商确认" v-model="item.orderRemark">
              </div>
            </div>
          </div>

          <div class="total">
            共 <span>{{item.totalCount || 0}}</span> 件，商品总金额：<span>{{item.total ? item.total.toFixed(2) : '0.00'}} 元</span>
          </div>
        </div>
      </div>

      <div v-else class="loading">
        <van-loading size="1.2267rem" />
      </div>
    </div>

    <!-- 弹出框 -->
    <pop-up
      :up="up"
      @hide="() => {up = false}"
      :line="true"
      :btns="[{name: '确认', color: 'white'}]"
      title="平台优惠"
      class="checkbox-box"
      @btn-click="up = false"
    >
      <div class="place-coupon" v-if="cartListIndex !== -1">
        <div class="place-coupon-option">
          <div class="place-coupon-list" v-for="(item, index) in shoppingCartSelectedList[cartListIndex].couponList" :key="index" @click="selectedCoupon(item, index)"  v-if="(item.activityUsing === '0' && item.activityAmount <= totalPrice) || item.activityUsing === '1'">
            <div class="place-coupon-content">
              <p class="p-yuan">&yen;<span>{{item.discountAmount}}</span></p>
              <p class="p-text">{{item.activityUsing === '0' ? '满' + item.activityAmount + '元可用' : '立减券'}}</p>
            </div>
            <div class="place-coupon-text">
              <!-- <p v-if="item.availableType === 'D'">通用券</p>
              <p v-else-if="item.availableType === 'C'">{{item.availableName}}渠道专属</p>
              <p v-else-if="item.availableType === 'B'">{{item.availableName}}分类专属</p>
              <p v-else-if="item.availableType === 'A'">{{item.availableName}}商品专属</p> -->
              <p>{{thresholdText(item.receivingThreshold)}}({{item.pubOrgName}})</p>
              <span>{{item.expirationDate}}</span>
            </div>
            <div class="coupon-selected" v-if="item.isSelect">
              <img src="@/assets/images/coupon/selected.svg" alt="">
            </div>
          </div>
          <div class="coupon-content-bottom" @click="clearCoupon">
            <p>暂不使用优惠</p>
            <div class="uncoupon-selected" v-if="isClearCoupon">
              <img src="@/assets/images/coupon/selected.svg" alt="">
            </div>
          </div>
        </div>
        <hr style="border:6px solid #e5e5e5;"/>
        <!-- <div class="place-unCoupon-bottom">
          <p class="p-title">以下优惠券不满足使用条件</p>
          <div class="coupon-two" v-for="(item, index) in unCouponList" :key="index">
            <div class="coupon-two-left">
              <p class="p-yuan">&yen;<span>5</span></p>
              <p class="p-text">满50可用</p>
            </div>
            <div class="coupon-two-right">
              <p>全场通用</p>
              <span>2019.11.6-2019.11.29</span>
            </div>
          </div>
        </div> -->
      </div>
    </pop-up>

    <!-- 底部按钮 -->
    <bottom-button :btns="btns" @on-btn="submit">
      <div class="total-total">
        <span>优惠
          <span>{{discountAmount ? '- ' + discountAmount : discountAmount | keepTwoNum}} 元</span>，应付：<span>{{discountAmount ? (totalPrice - discountAmount > 0 ? totalPrice - discountAmount : 0) : totalPrice | keepTwoNum}} 元</span>
        </span>
      </div>
    </bottom-button>

    <!-- 底部弹出选择框 -->
    <van-popup v-model="showPopupSelect" position="bottom" :lock-scroll="false">
      <!-- 熟食日期选择器 -->
      <van-datetime-picker
        v-if="showDatePicker"
        v-model="datePick"
        type="date"
        :min-date="minDate"
        title="选择日期"
        @confirm="onDatePickConfirm"
        @cancel="onDatePickCancel"
      />

      <div class="popup" v-else>
        <div class="popup-content">
          <div class="title">{{popupTitle}}</div>

          <div class="select-list">
            <div
              v-for="item in popupInfo[popupType]"
              :key="item.value"
              @click="clickSelect(item)"
            >{{popupType === 'warehouse' && item.warehouseName ||
              popupType === 'needDate' && (item.date + ' ' + item.time_slot) ||
              popupType === 'arrivalTime' && item}}
            </div>
          </div>

          <div class="button" @click="cancel">取消</div>
        </div>
      </div>
    </van-popup>
  </div>
</template>

<script>
import BottomButton from '@/components/bottom-button'
import PopUp from '@/components/pop-up'
import Checkbox from '@/components/checkbox'
import List from '@/components/list'
import { allImgDomainNameMixin } from '@/assets/js/mixin'
import { api } from '@/api'
import { mapActions, mapGetters } from 'vuex'
import { _debounce, zero } from '@/utils/common'

export default {
  name: 'place-order',
  mixins: [allImgDomainNameMixin],
  components: {
    Checkbox,
    PopUp,
    BottomButton,
    List
  },
  data () {
    return {
      btns: [{ text: '提交订单', color: 'red', loadingText: '提交中...' }], // 底部按钮
      changeCount: false,
      deliveryTime: '48小时内发货',
      expressName: '自提', // 配送方式
      up: false, // 优惠券弹出框
      category: 2,
      shoppingCartSelectedList: [], // 购物车选中列表
      shoppingCartRejectedList: [], // 购物车剔除列表
      addressInfo: {},
      driverInfo: {},
      totalNum: 0,
      totalPrice: 0,
      driverId: '',
      addressId: '',
      selectCoupon: 0,
      orderSaveFlag: false, // 记录订单提交状态
      selectCouponIdArr: [], // 选中优惠券id集合
      firstEnter: true,
      driverList: [],
      showPopupSelect: false,
      popupType: '',
      popupInfo: {
        warehouse: [],
        needDate: [],
        arrivalTime: []
      },
      cartListIndex: -1,
      warehouseList: [], // 提货点列表
      needTimeSelect: [], // 要货时间列表
      arrivalTimeList: [], // 到场时间列表
      needDate: '', // 查询的要求要货日期
      needTime: -1, // 查询的要求要货时间(0-不限, 1-上午, 2-下午)
      showDatePicker: false, // 显示时间选择器
      minDate: new Date(), // 时间选择器可选最小时间
      datePick: new Date(), // 时间选择器选中时间
      cacheDriver: [],
      loadingToast: null,
      discountAmount: 0, // 优惠金额
      isClearCoupon: false
    }
  },
  computed: {
    ...mapGetters(['allChannel']),
    // 底部弹出框标题
    popupTitle () {
      switch (this.popupType) {
        case 'warehouse':
          return '选择提货点'
        case 'needDate':
          return '选择要货时间'
        case 'arrivalTime':
          return '选择到场时间'
        default:
          return ''
      }
    }
  },
  watch: {
    showPopupSelect (val) {
      if (val === false) {
        this.showDatePicker = false
      }
    }
  },
  created () {
    let query = JSON.parse(sessionStorage.getItem('placeOrder'))
    this.driverId = query && query.driverId
    this.addressId = query && query.addressId

    // this.driverId = this.$route.query.driverId
    // this.addressId = this.$route.query.addressId

    if (this.driverId) {
      this.firstEnter = false
      this.driverListQuery()
    }

    // if (this.category === 1) {
    //   this._customerAddressQuery()
    //
    // } else if (this.category === 2) {
    //   this.driverListQuery()
    //
    //   // 司机&个人
    // } else {
    //   // this._customerAddressQuery()
    //   // this.driverListQuery()
    // }

    let params = { page: 1, pageSize: 999, customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId }
    let isQuickOrder = this.$route.query.isQuickOrder
    isQuickOrder ? (params.isQuickOrder = isQuickOrder + '') : (params.isChoose = '1')
    this.changeCount = this.$route.query.changeCount === '1'

    if (this.$route.query.date) {
      params.date = this.$route.query.date
    }

    api.queryCart(params).then(res => {
      if (res.success) {
        if (res.data.list && res.data.list.length > 0) {
          if (this.changeCount && res.data.list[0]) {
            res.data.list[0].cartList[0].qty = 0
            res.data.list[0].cartList[0].assistQty = 0
          }

          res.data.list.forEach(shopItem => {
            let comFirstIndex
            shopItem.cartList.forEach((v, i) => {
              // 将主品放置第一位
              if (+v.entryType === 1) {
                comFirstIndex = i
              } else if (+v.entryType === 2 && +v.isMainProduct === 1) {
                let cacheMain = v
                shopItem.cartList.splice(i, 1)
                shopItem.cartList.splice(comFirstIndex + 1, 0, cacheMain)
              }

              if (+v.entryType === 1) {
                this.shoppingCartRejectedList.push(v)
              } else if (+v.entryType === 2 && +v.storeQty <= 0) {
                this.shoppingCartRejectedList.push(v)
                shopItem.cartList.splice(i, 1)
              }
            })
          })

          // this.shoppingCartSelectedList = (this.$route.query.cacheData && JSON.parse(this.$route.query.cacheData)) || res.data
          this.shoppingCartSelectedList = (query && query.cacheData) || res.data.list
          if (this.driverList && this.driverId) {
            for (let j = 0; j < this.driverId.length; j++) {
              let isFind = false
              for (let i = 0; i < this.driverList.length; i++) {
                if (this.driverList[i].id === this.driverId[j]) {
                  this.shoppingCartSelectedList[j].driverId = this.driverList[i].id // 司机id
                  this.shoppingCartSelectedList[j].driverName = this.driverList[i].name // 司机名称
                  isFind = true
                  this.cacheDriver[j] = i
                }
              }
              if (!isFind) {
                // 该单选择的司机和司机列表之间一个都对不上，清空该单的司机
                this.clearDriverCache(j)
              }
            }
          } else {
            // 该客户受托拉货列表为空或者选择的司机全为空时，清空所有订单上的司机
            for (let i = 0; i < this.shoppingCartSelectedList.length; i++) {
              this.clearDriverCache(i)
            }
          }

          if (!this.shoppingCartSelectedList || !this.shoppingCartSelectedList.length) {
            this.$toast('商品已失效，请重新下单')
            setTimeout(() => {
              this.$router.go(-1)
            }, 500)
          } else {
            let itemListParams = []

            this.shoppingCartSelectedList.forEach((v, i) => {
              // 添加每个店铺的type
              let findChannel = this.allChannel.find(o => o.channelId === v.ownerId)
              v.ownerType = findChannel ? findChannel.channelType : ''

              this.getWarehouse(v.ownerId, i)
              this.getNeedTime(v.ownerId, v.ownerType, i)
              this.getArrivalTime(v.ownerId, i)
              this.getCouponList(v.ownerId, i)

              let comFlag = 0
              let qtyFlag = 0
              let comFirstId = ''
              let ownerParamItem = {
                ownerid: this.shoppingCartSelectedList[i].ownerId,
                itemList: []
              }

              for (let itemIndex = 0; itemIndex < v.cartList.length; itemIndex++) {
                let item = v.cartList[itemIndex]
                if (+item.entryType === 1) {
                  comFlag = 1
                  qtyFlag = item.qty
                  comFirstId = item.id
                  this.shoppingCartSelectedList[i].cartList.splice(itemIndex, 1)
                  itemIndex--
                  continue
                } else if (+item.entryType === 2) {
                  if (!this.shoppingCartSelectedList[i].cartList[itemIndex + 1] || +this.shoppingCartSelectedList[i].cartList[itemIndex + 1].entryType !== 2) {
                    item.comFlag = 'last'
                    if (comFlag === 1) item.comFlag = ''
                    this.shoppingCartSelectedList[i].cartList[itemIndex - comFlag + 1].totalCom = comFlag
                    comFlag = 0
                  } else {
                    item.comFlag = comFlag
                    if (comFlag === 1) {
                      item.qtyFlag = qtyFlag
                      item.comFirstId = comFirstId
                    }
                    comFlag++
                  }
                }

                // 批量查询上市计划最大预测均重传参
                let maxAvgWeightParams = {
                  ownerId: ownerParamItem.ownerid,
                  unitId: item.isAssistOrder
                    ? item.assistunitId
                    : item.unitId,
                  itemId: item.itemId,
                  assistattrId: item.assistattrId
                }
                itemListParams.push(maxAvgWeightParams)
              }
            })

            this.totalBill()

            // 获取上市计划最大预测均重
            api.itemListWeightRangeQuery({ itemList: itemListParams }).then(res => {
              if (res.success) {
                let maxAvgWeightList = res.data
                for (let i = 0; i < this.shoppingCartSelectedList.length; i++) {
                  let item = this.shoppingCartSelectedList[i]
                  if (item.cartList.length > 0) {
                    for (let j = 0; j < item.cartList.length; j++) {
                      maxAvgWeightList.forEach(item => {
                        if (item.itemId === this.shoppingCartSelectedList[i].cartList[j].itemId && item.maxAvgWeight) {
                          this.$set(this.shoppingCartSelectedList[i].cartList[j], 'maxAvgWeight', item.maxAvgWeight)
                          this.totalBill()
                        }
                      })
                    }
                  }
                  this.$set(this.shoppingCartSelectedList, i, item)
                }
              }
            })
          }
        }
      } else {
        res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
      }
    })
  },
  // 防止不断返回同一个页面
  beforeRouteUpdate (to, from, next) {
    if (to.path === from.path) {
      this.$router.go(-1)
    }

    next()
  },
  methods: {
    ...mapActions(['setShoppingCartCount']),
    thresholdText (threshold) {
      switch (threshold) {
        case 'A':
          return '普通优惠券'
        case 'B':
          return '新人优惠券'
        case 'C':
          return '首单优惠券'
        case 'D':
          return '等级优惠券'
        case 'E':
          return '红包优惠券'
        default:
          return '优惠券'
      }
    },
    // 改变立即下单的值
    changeInitVal (i, ci, data) {
      data.cartList[ci].qty = parseInt(data.cartList[ci].qty) || 0
      data.cartList[ci].assistQty = (data.cartList[ci].qty
        ? data.cartList[ci].isAssistOrder
          ? (data.cartList[ci].maxAvgWeight
            ? data.cartList[ci].qty * data.cartList[ci].maxAvgWeight
            : data.cartList[ci].qty * data.cartList[ci].conversionRate)
          : data.cartList[ci].qty
        : 0
      ).toFixed(2)
      this.$set(this.shoppingCartSelectedList, i, data)
      this.totalBill()
    },
    // 获取司机列表信息
    driverListQuery () {
      api.driverListQuery({ pageNo: 1, pageSize: 1000, status: 'C' }).then(res => {
        if (res.success) {
          this.driverList = res.data.list
        }
      })
    },
    // 清空某列司机信息
    clearDriverCache (index) {
      if (this.shoppingCartSelectedList && this.shoppingCartSelectedList[index]) {
        this.shoppingCartSelectedList[index].driverId = '' // 司机id
        this.shoppingCartSelectedList[index].driverName = '' // 司机名称
      }
    },
    // 获取收货人信息
    _customerAddressQuery () {
      const params = { page: 1, pageSize: 1000 }

      api.customerAddressQuery(params).then(res => {
        if (res.success) {
          if (!this.addressId) {
            let info = null

            for (let i = 0; i < res.data.list.length; i++) {
              if (res.data.list[i].isDefault) {
                info = res.data.list[i]

                break
              }
            }

            this.addressInfo = info || res.data.list[0]
            this.addressId = this.addressInfo.id
          } else {
            for (let i = 0; i < res.data.list.length; i++) {
              if (res.data.list[i].id === this.addressId) {
                this.addressInfo = res.data.list[i]

                break
              }
            }
          }
        }
      })
    },
    // 提货点
    getWarehouse (ownerId, index) {
      // 获取提货点列表
      api.warehouseListQuery({ ownerId }).then(res => {
        if (res.success) {
          this.$set(this.warehouseList, index, res.data.list)

          this.$nextTick(() => {
            if (this.warehouseList[index].length > 0) {
              !this.shoppingCartSelectedList[index].warehouseId && this.$set(
                this.shoppingCartSelectedList[index],
                'warehouseId',
                this.warehouseList[index][0].warehouseId
              )
              !this.shoppingCartSelectedList[index].warehouseName && this.$set(
                this.shoppingCartSelectedList[index],
                'warehouseName',
                this.warehouseList[index][0].warehouseName
              )
              !this.shoppingCartSelectedList[index].warehouseNumber && this.$set(
                this.shoppingCartSelectedList[index],
                'warehouseNumber',
                this.warehouseList[index][0].warehouseNumber
              )
            }
          })
        } else {
          // res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    // 要货日期
    getNeedTime (ownerId, ownerType, index) {
      if (ownerType === '5') { // 如果是蛋业
        // 初始化日期：蛋业可选要货日为3天内
        let nowDay = new Date()
        let tomorrowDay = new Date(nowDay.getTime() + 24 * 60 * 60 * 1000)
        let secondDay = new Date(nowDay.getTime() + 2 * 24 * 60 * 60 * 1000)
        let thirdDay = new Date(nowDay.getTime() + 3 * 24 * 60 * 60 * 1000)
        let nowDate = nowDay.getFullYear() + '-' + zero(nowDay.getMonth() + 1) + '-' + zero(nowDay.getDate())
        let tomorrowDate = tomorrowDay.getFullYear() + '-' + zero(tomorrowDay.getMonth() + 1) + '-' + zero(tomorrowDay.getDate())
        let secondDate = secondDay.getFullYear() + '-' + zero(secondDay.getMonth() + 1) + '-' + zero(secondDay.getDate())
        let thirdDate = thirdDay.getFullYear() + '-' + zero(thirdDay.getMonth() + 1) + '-' + zero(thirdDay.getDate())

        switch (this.$route.query.date) {
          case nowDate:
            this.$set(this.needTimeSelect, index, [
              { date: this.$route.query.date, time: 2, time_slot: '下午' }
            ])
            break
          case tomorrowDate:
          case secondDate:
          case thirdDate:
            this.$set(this.needTimeSelect, index, [
              { date: this.$route.query.date, time: 0, time_slot: '不限' },
              { date: this.$route.query.date, time: 1, time_slot: '上午' },
              { date: this.$route.query.date, time: 2, time_slot: '下午' }
            ])
            break
          default:
            break
        }
        // this.$set(this.needTimeSelect, index, [
        //   { date: nowDate, time: 2, time_slot: '下午' },
        //   { date: tomorrowDate, time: 0, time_slot: '不限' },
        //   { date: tomorrowDate, time: 1, time_slot: '上午' },
        //   { date: tomorrowDate, time: 2, time_slot: '下午' },
        //   { date: secondDate, time: 0, time_slot: '不限' },
        //   { date: secondDate, time: 1, time_slot: '上午' },
        //   { date: secondDate, time: 2, time_slot: '下午' },
        //   { date: thirdDate, time: 0, time_slot: '不限' },
        //   { date: thirdDate, time: 1, time_slot: '上午' },
        //   { date: thirdDate, time: 2, time_slot: '下午' }
        // ])
        this.$nextTick(() => {
          if (this.needTimeSelect[index].length > 0) {
            !this.shoppingCartSelectedList[index].needDate && this.$set(
              this.shoppingCartSelectedList[index],
              'needDate',
              this.needTimeSelect[index][0].date
            )
            !this.shoppingCartSelectedList[index].needTime && this.$set(
              this.shoppingCartSelectedList[index],
              'needTime',
              this.needTimeSelect[index][0].time
            )
            !this.shoppingCartSelectedList[index].needTimeSlot && this.$set(
              this.shoppingCartSelectedList[index],
              'needTimeSlot',
              this.needTimeSelect[index][0].time_slot
            )
          }
        })
      } else if (ownerType === '6') { // 如果是熟食，日期随意选择
        // 默认今天
        this.$nextTick(() => {
          !this.shoppingCartSelectedList[index].needDate && this.$set(
            this.shoppingCartSelectedList[index],
            'needDate',
            this.formatDate(this.datePick)
          )
          !this.shoppingCartSelectedList[index].needTime && this.$set(
            this.shoppingCartSelectedList[index],
            'needTime',
            0
          )
          !this.shoppingCartSelectedList[index].needTimeSlot && this.$set(
            this.shoppingCartSelectedList[index],
            'needTimeSlot',
            ''
          )
        })
      } else {
        // 获取要货日期和时间
        api.needTimeQuery({ ownerId }).then(res => {
          if (res.success) {
            this.needDate = res.data[0] ? res.data[0].need_date : this.needDate
            this.needTime = res.data[0] ? res.data[0].need_time : this.needTime

            switch (this.needTime) {
              case 0:
                this.$set(this.needTimeSelect, index, [
                  { date: this.needDate, time: 1, time_slot: '上午' },
                  { date: this.needDate, time: 2, time_slot: '下午' }
                ])
                break
              case 1:
                this.$set(this.needTimeSelect, index, [{ date: this.needDate, time: 1, time_slot: '上午' }])
                break
              case 2:
                this.$set(this.needTimeSelect, index, [{ date: this.needDate, time: 2, time_slot: '下午' }])
                break
              default:
                this.$set(this.needTimeSelect, index, [])
            }

            this.$nextTick(() => {
              if (this.needTimeSelect[index].length > 0) {
                !this.shoppingCartSelectedList[index].needDate && this.$set(
                  this.shoppingCartSelectedList[index],
                  'needDate',
                  this.needTimeSelect[index][0].date
                )
                !this.shoppingCartSelectedList[index].needTime && this.$set(
                  this.shoppingCartSelectedList[index],
                  'needTime',
                  this.needTimeSelect[index][0].time
                )
                !this.shoppingCartSelectedList[index].needTimeSlot && this.$set(
                  this.shoppingCartSelectedList[index],
                  'needTimeSlot',
                  this.needTimeSelect[index][0].time_slot
                )
              }
            })
          } else {
            // res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
          }
        })
      }
    },
    // 到场时间
    getArrivalTime (ownerId, index) {
      api.commonCall({ ownerId }, 'getArrivalTime').then(res => {
        if (res.success) {
          this.$set(this.arrivalTimeList, index, res.data.arrivalTimes)

          this.$nextTick(() => {
            if (this.arrivalTimeList[index].length > 0) {
              !this.shoppingCartSelectedList[index].arrivalTime && this.$set(
                this.shoppingCartSelectedList[index],
                'arrivalTime',
                this.arrivalTimeList[index][0]
              )
            }
          })
        }
      })
    },
    // 选择收货地址
    goRecevingAddress () {
      let query = {}

      this.driverId && (query.driverId = this.driverId)
      this.addressId && (query.addressId = this.addressId)
      this.$route.query.changeCount &&
        (query.changeCount = this.$route.query.changeCount)
      this.$route.query.isQuickOrder &&
        (query.isQuickOrder = this.$route.query.isQuickOrder)

      this.$router.push({
        path: '/receivingAddress',
        query
      })
    },
    // 选择司机
    goDriver (index) {
      let query = {
        cacheDriver: this.cacheDriver[index],
        driverIndex: index,
        cacheData: this.shoppingCartSelectedList,
        status: 'C'
      }

      this.driverId && (query.driverId = this.driverId)
      this.addressId && (query.addressId = this.addressId)
      this.$route.query.changeCount &&
        (query.changeCount = this.$route.query.changeCount)
      this.$route.query.isQuickOrder &&
        (query.isQuickOrder = this.$route.query.isQuickOrder)

      sessionStorage.setItem('placeOrder', JSON.stringify(query))

      this.$router.push({
        path: '/driver'
      })
    },
    onleftclick () {
      this.$router.go(-1)
    },
    // 获取可用优惠券列表
    getCouponList (ownerId, i) {
      let coupons = []
      for (let s = 0; s < this.shoppingCartSelectedList[i].cartList.length; s++) {
        coupons.push({
          orderType: 'A', // A:普通订单可用 B:全部订单可用
          ownerId: ownerId, // 渠道id
          itemId: this.shoppingCartSelectedList[i].cartList[s].itemId // 商品id
        })
      }
      this.$set(
        this.shoppingCartSelectedList[i],
        'discountAmount',
        0
      )
      api.commonCall({ coupons: coupons }, 'getCanUseCouponList').then(res => {
        if (res.success) {
          this.$set(
            this.shoppingCartSelectedList[i],
            'couponList',
            res.data.couponList
          )
          // this.unCouponList = res.data.unCouponList  后台返回需要的数据后，再放开显示
          this.shoppingCartSelectedList[i].couponList.forEach((v, i) => {
            this.$set(v, 'isSelect', 0)
          })
        }
      })
    },
    showCouponPopup (index) {
      this.cartListIndex = index
      this.up = true
    },
    selectedCoupon (item, index) {
      this.isClearCoupon = false
      this.selectCouponIdArr = this.shoppingCartSelectedList[this.cartListIndex].selectCouponIdArr || []
      // 判断是选中优惠券还是取消优惠券
      if (this.shoppingCartSelectedList[this.cartListIndex].couponList[index].isSelect) {
        this.selectCouponIdArr.splice(this.selectCouponIdArr.indexOf(item.id), 1)
        this.$set(this.shoppingCartSelectedList[this.cartListIndex].couponList[index], 'isSelect', 0)
        this.$set(
          this.shoppingCartSelectedList[this.cartListIndex],
          'discountAmount',
          this.shoppingCartSelectedList[this.cartListIndex].discountAmount - item.discountAmount
        )
        this.discountAmount = this.discountAmount - item.discountAmount
        if (this.discountAmount !== 0) {
          this.$set(
            this.shoppingCartSelectedList[this.cartListIndex],
            'activityIsStack',
            '1'
          )
        }
      } else {
        let isSelectCoupon = this.isSelectCoupon(item.id)
        // 如果已经选择了优惠券，则判断当前选择的优惠券是否可叠加
        if (this.shoppingCartSelectedList[this.cartListIndex].selectCouponIdArr && this.shoppingCartSelectedList[this.cartListIndex].selectCouponIdArr.length) {
          if (item.activityIsStack === '1' && this.shoppingCartSelectedList[this.cartListIndex].activityIsStack === '1') { // 可叠加优惠券只能和可叠加优惠券一块使用
            if (!isSelectCoupon) {
              this.selectCouponIdArr.push(item.id)
              this.$set(this.shoppingCartSelectedList[this.cartListIndex].couponList[index], 'isSelect', 1)
              this.discountAmount = this.discountAmount + +item.discountAmount
              this.$set(
                this.shoppingCartSelectedList[this.cartListIndex],
                'discountAmount',
                this.shoppingCartSelectedList[this.cartListIndex].discountAmount + +item.discountAmount
              )
            } else {
              this.$toast.fail('该优惠券已被其他订单使用')
              this.up = false
              return
            }
          } else {
            this.$toast.fail('该优惠券不可叠加使用')
            this.up = false
            return
          }
        } else {
          if (!isSelectCoupon) {
            this.selectCouponIdArr.push(item.id)
            this.$set(this.shoppingCartSelectedList[this.cartListIndex].couponList[index], 'isSelect', 1)
            this.discountAmount = this.discountAmount + +item.discountAmount
            this.$set(
              this.shoppingCartSelectedList[this.cartListIndex],
              'discountAmount',
              this.shoppingCartSelectedList[this.cartListIndex].discountAmount + +item.discountAmount
            )
            this.$set(
              this.shoppingCartSelectedList[this.cartListIndex],
              'activityIsStack',
              item.activityIsStack
            )
          } else {
            this.$toast.fail('该优惠券已被其他订单使用')
            this.up = false
            return
          }
        }
      }
      this.$set(
        this.shoppingCartSelectedList[this.cartListIndex],
        'selectCouponIdArr',
        this.selectCouponIdArr
      )
      this.totalBill()
    },
    // 判断该优惠券是否有其他订单已经选择
    isSelectCoupon (id) {
      let flg = false
      for (let i = 0; i < this.shoppingCartSelectedList.length; i++) {
        if (this.shoppingCartSelectedList[i].selectCouponIdArr && this.shoppingCartSelectedList[i].selectCouponIdArr.length) {
          this.shoppingCartSelectedList[i].selectCouponIdArr.map(v => {
            if (id === v) {
              flg = true
            }
          })
        }
      }
      return flg
    },
    clearCoupon () {
      this.isClearCoupon = true
      this.selectCouponIdArr = []
      this.discountAmount = 0
      this.shoppingCartSelectedList[this.cartListIndex].couponList.forEach((v, i) => {
        this.$set(v, 'isSelect', 0)
      })
      this.$set(
        this.shoppingCartSelectedList[this.cartListIndex],
        'selectCouponIdArr',
        this.selectCouponIdArr
      )
      this.$set(
        this.shoppingCartSelectedList[this.cartListIndex],
        'discountAmount',
        this.discountAmount
      )
      this.$set(
        this.shoppingCartSelectedList[this.cartListIndex],
        'discountAmount',
        0
      )
      this.up = false
    },
    // 底部弹出选择框
    togglePopup (type, index, ownerId, ownerType) {
      this.showPopupSelect = true
      this.popupType = type
      this.cartListIndex = index
      if (this.popupType === 'warehouse') {
        this.$set(this.popupInfo, 'warehouse', this.warehouseList[index])
      } else if (this.popupType === 'needDate') {
        if (ownerType === '6') { // 如果是熟食，打开日期选择器
          this.showDatePicker = true
        } else {
          this.$set(this.popupInfo, 'needDate', this.needTimeSelect[index])
        }
      } else if (this.popupType === 'arrivalTime') {
        this.$set(this.popupInfo, 'arrivalTime', this.arrivalTimeList[index])
      }
    },
    // 底部弹出选择框列表点击
    clickSelect (item) {
      this.showPopupSelect = false
      if (this.popupType === 'warehouse') {
        this.$set(
          this.shoppingCartSelectedList[this.cartListIndex],
          'warehouseId',
          item.warehouseId
        )
        this.$set(
          this.shoppingCartSelectedList[this.cartListIndex],
          'warehouseName',
          item.warehouseName
        )
        this.$set(
          this.shoppingCartSelectedList[this.cartListIndex],
          'warehouseNumber',
          item.warehouseNumber
        )
      } else if (this.popupType === 'needDate') {
        this.$set(
          this.shoppingCartSelectedList[this.cartListIndex],
          'needDate',
          item.date
        )
        this.$set(
          this.shoppingCartSelectedList[this.cartListIndex],
          'needTime',
          item.time
        )
        this.$set(
          this.shoppingCartSelectedList[this.cartListIndex],
          'needTimeSlot',
          item.time_slot
        )
      } else if (this.popupType === 'arrivalTime') {
        this.$set(
          this.shoppingCartSelectedList[this.cartListIndex],
          'arrivalTime',
          item
        )
      }
    },
    // 底部弹出选择框取消
    cancel () {
      this.showPopupSelect = false
    },
    // 底部弹出日期选择器确认
    onDatePickConfirm () {
      this.showPopupSelect = false
      this.$set(
        this.shoppingCartSelectedList[this.cartListIndex],
        'needDate',
        this.formatDate(this.datePick)
      )
      this.$set(
        this.shoppingCartSelectedList[this.cartListIndex],
        'needTime',
        0
      )
      this.$set(
        this.shoppingCartSelectedList[this.cartListIndex],
        'needTimeSlot',
        ''
      )
    },
    // 底部弹出日期选择器取消
    onDatePickCancel () {
      this.showPopupSelect = false
    },
    // 格式化日期
    formatDate (date) {
      let _date = date || new Date()

      return `${_date.getFullYear()}-${zero(_date.getMonth() + 1)}-${zero(_date.getDate())}`
    },
    // 计算账单
    totalBill () {
      let totalCount = 0
      let totalPrice = 0
      for (let i = 0; i < this.shoppingCartSelectedList.length; i++) {
        if (this.shoppingCartSelectedList[i].cartList && this.shoppingCartSelectedList[i].cartList.length > 0) {
          let total = 0
          let count = 0

          for (let j = 0; j < this.shoppingCartSelectedList[i].cartList.length; j++) {
            let item = this.shoppingCartSelectedList[i].cartList[j]
            count += item.isAssistOrder
              ? item.assistQty
              : item.qty

            total += +item.exeuAmount ||
              (item.isAssistOrder
                ? (item.maxAvgWeight
                  ? item.assistQty * item.maxAvgWeight
                  : item.assistQty * item.conversionRate)
                : item.qty) * item.price
          }

          this.shoppingCartSelectedList[i].total = total
          this.shoppingCartSelectedList[i].totalCount = count
          totalPrice += total
          totalCount += count
        }
      }
      this.totalNum = totalCount
      // 是否使用优惠券
      // this.totalPrice = this.shoppingCartSelectedList[i].coupon && this.shoppingCartSelectedList[i].coupon.id ? totalPrice : totalPrice - this.shoppingCartSelectedList[i].coupon.discountAmount
      this.totalPrice = totalPrice
    },
    // 提交订单
    submit: _debounce(function () {
      if (this.orderSaveFlag) return
      this.orderSaveFlag = true

      let customer = JSON.parse(sessionStorage.getItem('defaultCustomer'))
      if (customer.isEntrustDelivery && !customer.isEntrustOrder) {
        this.$toast.fail('当前用户角色只是客户【' + customer.customerName + '】的司机，不能进行下单操作！')

        setTimeout(() => {
          this.orderSaveFlag = false
        }, 1000)
        return
      }

      if (this.changeCount && this.shoppingCartSelectedList[0].cartList[0].qty <= 0) {
        this.$toast('数量不能为0')

        setTimeout(() => {
          this.orderSaveFlag = false
        }, 1000)
        return
      }

      let params = {
        orderItem: []
      }
      let couponIdArr = [] // 优惠券id集合
      // 如果category等于1，则是个人，否则为司机
      // if (this.category === 1) {
      //   let addressInfo = this.addressInfo;
      //   params.consigneeId = this.addressId;
      //   params.consigneeAddress = addressInfo.addressName + addressInfo.address2;
      //   params.consigneePhone = addressInfo.telephone;
      //   params.consigneeName = addressInfo.contactName;
      // } else {
      // 司机
      // 如果没有选择司机,则return
      // if (!this.currentDriverId) {
      //     this.$toast('请选择司机信息~');
      //     return;
      // }

      // params.orderType = '2'; //订单类型
      // if (this.driverId) {
      //   let driverItem
      //   for (let i = 0; i < this.driverList.length; i++) {
      //     if (this.driverId === this.driverList[i].id) {
      //       driverItem = this.driverList[i]
      //     }
      //   }
      //   params.driverId = driverItem.id // 司机id
      //   params.driverName = driverItem.name // 司机名称
      //   params.driverPhone = driverItem.driverPhone // 司机手机号
      //   params.driverCart = driverItem.driverId // 司机身份证
      //   params.driverNub = driverItem.carId // 司机车牌号
      // }
      // }
      let totalPrice = 0 // 总价

      for (let i = 0; i < this.shoppingCartSelectedList.length; i++) {
        let shopItem = {} // 店铺
        let itemEntry = [] // 店铺中的商品项
        let subTotalPrice = 0 // 每个门店的总价
        // shopItem.subtotal = '0' // 金额小计用不到，但是必传，则随便传个0
        shopItem.ownerId = this.shoppingCartSelectedList[i].ownerId // 渠道id
        shopItem.payType = '001' // 付款方式

        if (this.warehouseList[i] && this.warehouseList[i].length) {
          if (this.shoppingCartSelectedList[i].warehouseId) {
            shopItem.warehouse = this.shoppingCartSelectedList[i].warehouseId // 提货点id
          } else {
            this.$toast('请选择提货点')
            setTimeout(() => {
              this.orderSaveFlag = false
            }, 1000)
            return
          }
        }

        if (typeof this.shoppingCartSelectedList[i].needTime === 'number') {
          shopItem.arrivalDate = this.shoppingCartSelectedList[i].needDate // 要货日期
          shopItem.needTime = this.shoppingCartSelectedList[i].needTime + '' // 要货时间
        } else {
          this.$toast('请选择要货时间')
          setTimeout(() => {
            this.orderSaveFlag = false
          }, 1000)
          return
        }

        if (this.arrivalTimeList[i] && this.arrivalTimeList[i].length) {
          if (this.shoppingCartSelectedList[i].arrivalTime) {
            shopItem.arrivalTime = this.shoppingCartSelectedList[i].arrivalTime // 到场时间
          } else {
            this.$toast('请选择到场时间')
            setTimeout(() => {
              this.orderSaveFlag = false
            }, 1000)
            return
          }
        }

        if (this.shoppingCartSelectedList[i].driverId) {
          shopItem.driverId = this.shoppingCartSelectedList[i].driverId // 司机id
        }

        // 使用优惠券(添加两个参数：优惠券ID集合、优惠金额总和)
        if (this.shoppingCartSelectedList[i].selectCouponIdArr && this.shoppingCartSelectedList[i].selectCouponIdArr.length) {
          couponIdArr = this.shoppingCartSelectedList[i].selectCouponIdArr
          shopItem.couponIds = couponIdArr.join(',')
          shopItem.cutAmount = this.shoppingCartSelectedList[i].discountAmount
        }

        this.shoppingCartSelectedList[i].message
          ? (shopItem.orderRemark = this.shoppingCartSelectedList[i].message)
          : (shopItem.orderRemark = '') // 留言
        shopItem.orderRemark = this.shoppingCartSelectedList[i].orderRemark // 留言
        if (this.shoppingCartSelectedList[i].cartList && this.shoppingCartSelectedList[i].cartList.length > 0) {
          for (let j = 0; j < this.shoppingCartSelectedList[i].cartList.length; j++) {
            if (this.shoppingCartSelectedList[i].cartList[j].comFlag === 1) {
              itemEntry.push({
                shoppingCartId: this.shoppingCartSelectedList[i].cartList[j].id,
                entryType: '1'
              })
            }

            let money = (this.shoppingCartSelectedList[i].cartList[j].isAssistOrder
              ? (this.shoppingCartSelectedList[i].cartList[j].maxAvgWeight
                ? this.shoppingCartSelectedList[i].cartList[j].assistQty * this.shoppingCartSelectedList[i].cartList[j].maxAvgWeight
                : this.shoppingCartSelectedList[i].cartList[j].assistQty * this.shoppingCartSelectedList[i].cartList[j].conversionRate)
              : this.shoppingCartSelectedList[i].cartList[j].qty) * this.shoppingCartSelectedList[i].cartList[j].price

            let item = {
              shoppingCartId: this.shoppingCartSelectedList[i].cartList[j].id,
              itemId: this.shoppingCartSelectedList[i].cartList[j].itemId,
              name: this.shoppingCartSelectedList[i].cartList[j].itemName,
              price: this.shoppingCartSelectedList[i].cartList[j].price + '',
              money: money + '',
              entryType: this.shoppingCartSelectedList[i].cartList[j].entryType || '0',
              remark: this.shoppingCartSelectedList[i].cartList[j].remark
            }

            this.shoppingCartSelectedList[i].cartList[j].wtRangeMap && (item.wtRangeId = this.shoppingCartSelectedList[i].cartList[j].wtRangeMap.id)

            if (+this.shoppingCartSelectedList[i].cartList[j].assistattrId) {
              item.assistattrId = this.shoppingCartSelectedList[i].cartList[j].assistattrId
            }

            if (this.shoppingCartSelectedList[i].cartList[j].isAssistOrder) {
              item.assistQty = this.shoppingCartSelectedList[i].cartList[j].assistQty + ''
              item.assistUnitId = this.shoppingCartSelectedList[i].cartList[j].assistunitId
              this.shoppingCartSelectedList[i].cartList[j].maxAvgWeight && (item.maxAvgWeight = this.shoppingCartSelectedList[i].cartList[j].maxAvgWeight)
            } else {
              item.qty = this.shoppingCartSelectedList[i].cartList[j].qty + ''
              item.unitId = this.shoppingCartSelectedList[i].cartList[j].unitId
            }

            itemEntry.push(item)
            subTotalPrice += money
            totalPrice += money
          }
        }
        shopItem.subtotal = subTotalPrice + ''
        shopItem.itemEntry = itemEntry // 店铺项
        params.orderItem.push(shopItem)
      }
      params.amount = totalPrice + '' // 总金额
      // params.orderType = this.category + '';
      params.customerId = JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
      params.comeFrom = 'mobile'

      this.$set(this.btns[0], 'loading', true)
      this.loadingToast = this.$toast.loading({
        duration: 0, // 持续展示
        overlay: true, // 显示背景蒙层
        message: '正在提交...'
      })

      // 提交订单
      api.commonCall(params, 'wsPurOrderSave').then(res => {
      // api.purOrderSave(params).then(res => {
        this.$set(this.btns[0], 'loading', false)
        this.loadingToast && this.loadingToast.clear()
        if (res.success) {
          this.$toast.success('提交成功')

          // 如果选择了优惠券则调用接口返回优惠券id和订单id
          if (couponIdArr.length) {
            let orderIdList = []
            res.data.map(v => {
              orderIdList.push({
                orderId: v.orderId
              })
            })
            api.commonCall({ orderIds: orderIdList }, 'updateCouponRecordStatus').then(res => {

            })
          }

          // 删除购物车剔除列表
          let params = { ids: [], type: 1, customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId }
          this.shoppingCartRejectedList.forEach(v => {
            params.ids.push(v.id)
          })
          if (!params.ids.length) {
            // 重新获取购物车列表
            api.queryCart({ page: 1, pageSize: 999, isGetCountOnly: 1, customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId }).then(res => {
              if (res.success) {
                this.setShoppingCartCount(res.data.count)
              }
              // setTimeout(() => {
              //   this.orderSaveFlag = false
              // }, 1000)
            })

            setTimeout(() => {
              this.$router.replace({ path: '/' })
            }, 500)
          } else {
            api.deleteCart(params).then(response => {
              if (response.success) {
                // 重新获取购物车列表
                api.queryCart({ page: 1, pageSize: 999, isGetCountOnly: 1, customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId }).then(res => {
                  if (res.success) {
                    this.setShoppingCartCount(res.data.count)
                  }
                  // setTimeout(() => {
                  //   this.orderSaveFlag = false
                  // }, 1000)
                })

                setTimeout(() => {
                  this.$router.replace({ path: '/' })
                }, 500)
              }
            })
          }
        } else {
          setTimeout(() => {
            this.orderSaveFlag = false
          }, 1000)
          // res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
          // this.$toast({
          //   position: 'bottom',
          //   message: res.stack
          // })
          this.$dialog.alert({
            title: '温馨提示',
            message: res.message && res.message.replace('调用移动分销接口失败：', '')
          }).then(() => {

          })
        }
      })
    }, 500)
  },
  beforeRouteEnter (to, from, next) {
    if (from.path !== '/driver') {
      if (sessionStorage.getItem('placeOrder')) {
        sessionStorage.removeItem('placeOrder')
      }
    }
    next()
  },
  beforeDestroy () {
    this.loadingToast && this.loadingToast.value && this.loadingToast.clear()
  }
}
</script>

<style scoped lang="less">
@import "~@/assets/css/mixin.less";

.place-order {
  background: rgba(245, 245, 245, 1);
  padding-bottom: 96px;

  .format-img {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }

  .checkbox-box {
    background-color: #f8f8f8;
    .checkbox-content {
      padding: 28px;
    }

    .place-coupon{
      width: 100%;
      /*height: 100%;*/
      // min-height: 100vh;
      background-color: #f8f8f8;
      .place-coupon-option{
        width: 94%;
        overflow: hidden;
        margin: 0 auto;
        padding-top: 20px;
        background-color: #f8f8f8;
        .place-coupon-list {
          width: 98%;
          height: 166px;
          background: url("~@/assets/images/coupon/plice-coupon-background.svg") no-repeat;
          background-size: 100% 100%;
          padding: 0;
          position: relative;
          .place-coupon-content{
            width: 24%;
            height: 100%;
            float: left;
            .p-yuan{
              font-size: 24px;
              font-weight: 600;
              color: #fff;
              text-align: center;
              padding-top: 40px;
              span{
                font-size: 50px;
              }
            }
            .p-text{
              font-size: 20px;
              color: #fff;
              text-align: center;
            }
          }
          .place-coupon-text{
            width: 60%;
            height: 100%;
            float: left;
            p{
              font-size: 22px;
              color: #333;
              text-align: left;
              padding-left: 26px;
              padding-top: 40px;
            }
            span{
              display: inline-block;
              text-align: left;
              padding-left: 26px;
              font-size: 24px;
              color: #A9ABAF;
              padding-top: 8px;
            }
          }
          .coupon-selected {
            width: 46px;
            position: absolute;
            top: 60px;
            right: 30px;
            img {
              width: 100%;
            }
          }
        }
        .coupon-content-bottom{
          width: 100%;
          height: 88px;
          p{
            float: left;
            font-size: 28px;
            line-height: 88px;
            padding-left: 30px;
          }
          .uncoupon-selected {
            width: 46px;
            float: right;
            margin: 20px 20px 0 0;
            img {
              width: 100%;
            }
          }
        }
      }
      // .place-unCoupon-bottom{
      //   width: 100%;
      //   overflow: hidden;
      //   .p-title{
      //     font-size: 28px;
      //     color: #333;
      //     text-align: left;
      //     padding-top: 18px;
      //     padding-left: 52px;
      //   }
      //   .coupon-two{
      //     width: 94%;
      //     height: 166px;
      //     margin: 0 auto;
      //     margin-top: 20px;
      //     background: url("~@/assets/images/coupon/plice-uncoupon-background.svg") no-repeat;
      //     background-size: 100% 100%;
      //     &:last-child{
      //       margin-bottom: 20px;
      //     }
      //     .coupon-two-left{
      //       width: 28%;
      //       height: 100%;
      //       float: left;
      //       .p-yuan{
      //         font-size: 24px;
      //         color: #999;
      //         font-weight: 600;
      //         text-align: center;
      //         padding-top: 30px;
      //         span{
      //           font-size: 60px;
      //         }
      //       }
      //       .p-text{
      //         font-size: 24px;
      //         color: #E02020 ;
      //         text-align: center;
      //       }
      //     }
      //     .coupon-two-right{
      //       width: 65%;
      //       height: 100%;
      //       float: left;
      //       p{
      //         font-size: 32px;
      //         color: #333;
      //         text-align: left;
      //         padding-left: 26px;
      //         padding-top: 40px;
      //       }
      //       span{
      //         display: inline-block;
      //         text-align: left;
      //         padding-left: 26px;
      //         font-size: 24px;
      //         color: #A9ABAF;
      //         padding-top: 8px;
      //       }
      //     }
      //   }
      // }
    }

    /*@{deep} .van-radio {
      .border-1px(rgb(232, 233, 235));
      background: white;

      .van-radio__label {
        transition: all 0.2s;
        width: calc(100% - 90px);
        box-sizing: border-box;
        font-size: 26px;
        color: #2e3033;
        padding-right: 24px;
      }

      .van-radio__icon {
        transition: all 0.2s;
        padding-left: 30px;

        &.van-radio__icon--checked {
          .van-icon-success {
            display: block;
            color: rgba(0, 0, 0, 0);
            border: 0;
            background-color: transparent;

            &:before {
              content: " ";
              display: block;
              width: 32px;
              height: 32px;
              box-sizing: border-box;
              border: 10px solid #e33240;
              border-radius: 50%;
            }
          }
        }

        .van-icon-success {
          display: block;
          color: rgba(0, 0, 0, 0);
          border: 0;
          background-color: transparent;

          &:before {
            content: " ";
            display: block;
            width: 32px;
            height: 32px;
            border: 1px solid #c1c4ca;
            box-sizing: border-box;
            border-radius: 50%;
          }
        }
      }
    }*/
  }

  .list {
    height: 96px;
    display: flex;
    align-items: center;
    font-size: 28px;

    .label {
      width: 180px;
      text-align: center;
      color: #8e939a;
      line-height: 96px;
    }

    .content {
      flex: 1;
    }

    .content-right {
      flex: 1;
      text-align: right;
      color: #2e3033;
    }

    .arrow {
      font-size: 24px;
      color: #c1c4ca;
      width: 70px;
      text-align: center;
      padding-top: 4px;
    }
  }

  .active {
    position: relative;
    overflow: hidden;

    &:active {
      &:after {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.08);
      }
    }
  }

  .input {
    display: block;
    outline: none;
    width: 100%;
    border: 0;
    height: 60px;

    &::-webkit-input-placeholder {
      color: #c1c4ca;
    }
  }

  > .content {
    &.van-content {
      padding-top: 92px;
    }

    .line {
      .bg-img("~@/assets/images/border");
      height: 6px;
      background-size: contain;
      margin-bottom: 16px;
    }

    .line2 {
      .bg-img("~@/assets/images/border2");
      height: 6px;
      background-size: contain;
      margin-bottom: 16px;
    }

    .personal {
      display: flex;
      align-items: center;
      background: white;

      > div {
        &:first-child {
          width: calc(100% - 90px);
          box-sizing: border-box;
          padding: 50px 70px 50px 30px;

          > div {
            color: #2e3033;

            &:first-child {
              font-size: 36px;
              padding-bottom: 25px;

              > span {
                &:first-child {
                  padding-right: 50px;
                }
              }
            }

            &:last-child {
              font-size: 26px;
            }
          }
        }

        &:last-child {
          width: 90px;
          text-align: center;
          color: rgb(193, 196, 202);
          font-size: 24px;
        }
      }
    }

    .driver {
      display: flex;
      align-items: center;
      background: white;

      > div {
        &:first-child {
          padding-left: 24px;
          padding-right: 40px;

          div {
            width: 120px;
            height: 120px;
            border-radius: 50%;
          }
        }

        &:nth-child(2) {
          width: calc(100% - 274px);
          box-sizing: border-box;
          padding: 50px 70px 50px 0;

          > div {
            color: #2e3033;

            &:first-child {
              font-size: 36px;
              padding-bottom: 25px;

              > span {
                &:first-child {
                  padding-right: 50px;
                }
              }
            }

            &:last-child {
              font-size: 26px;
            }
          }
        }

        &:last-child {
          width: 90px;
          text-align: center;
          color: rgb(193, 196, 202);
          font-size: 24px;
        }
      }
    }

    .remark {
      margin-bottom: 16px;
      background: white;
      height: 96px;
      font-size: 28px;
      display: flex;

      > div {
        &:first-child {
          width: 120px;
          color: #8e939a;
          height: 100%;
          line-height: 96px;
          text-align: center;
        }

        &:last-child {
          flex: 1;
          padding-top: 18px;
        }
      }
    }

    .order-list {
      .order-item {
        margin-bottom: 16px;
        background: white;

        .title {
          display: flex;
          padding: 40px 0;

          i {
            .bg-img("~@/assets/images/icon/shop");
            display: block;
            width: 80px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
          }

          .owner-name {
            color: #2e3033;
            font-size: 30px;
          }

          .van-tag {
            height: 32px;
            margin-left: 20px;
            padding: 2px 6px;
          }
        }

        .goods-item {
          padding: 0 24px 30px;
          position: relative;
          >.comList {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            text-align: center;
            background: #e33240;
            color: white;
          }
          &.border-1 {
            border: 1px solid #e33240;
            border-bottom: 0;
            padding-top: 60px;
          }
          &.border-middle {
            border: 1px solid #e33240;
            border-top: 0;
            border-bottom: 0;
          }
          &.border-last {
            border: 1px solid #e33240;
            border-top: 0;
          }
          .goods-item-inner{
            display: flex;

            .goods-img {
              width: 180px;
              height: 180px;
            }

            .goods-content {
              flex: 1;
              padding-left: 24px;
              display: flex;
              flex-direction: column;

              > div {
                color: #2e3033;

                &:first-child {
                  font-size: 28px;
                  line-height: 36px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  display: -webkit-box;
                  -webkit-line-clamp: 2;
                  -webkit-box-orient: vertical;
                  word-wrap: break-word;
                  word-break: break-all;
                }

                &:nth-child(2) {
                  font-size: 22px;
                  padding: 15px 0;
                  color: #8e939a;
                }

                &.input-remark {
                  position: relative;
                  input {
                    height: 50px;
                    font-size: 26px;
                    color: #8e939a;
                  }
                  .input-word-count {
                    text-align: center;
                    position: absolute;
                    right: 7px;
                    top: 1px;
                    bottom: 1px;
                    padding-left: 7px;
                    background: #fff;
                    z-index: 1;
                    display: inline-flex;
                    align-items: flex-end;
                    color: #808695;
                    font-size: 24px;
                  }
                }

                &.price-module {
                  .product-number {
                    input {
                      width: 80px;
                      line-height: 36px;
                      text-align: center;
                      color: #5e6166;
                      background: rgba(200, 200, 200, 0.5);
                      border: 0;
                    }
                  }
                }

                &:last-child {
                  flex: 1;
                  display: flex;
                  justify-content: space-between;
                  align-items: flex-end;

                  > span {
                    color: #e33240;
                    font-size: 22px;

                    &:last-child {
                      padding-right: 46px;
                    }

                    > span {
                      font-size: 30px;
                    }
                  }
                }
              }
            }
          }
        }

        .proList {
          border-bottom: 2px dashed #e33240;
          // text-align: center;
          margin: 0 20px 20px;
          >span {
            background: #e33240;
            color: white;
            display: inline-block;
            padding: 1px 6px 0;
            position: relative;
            margin-bottom: -2px;
          }
        }

        .total {
          font-size: 28px;
          color: #2e3033;
          text-align: right;
          padding: 40px 0;
          padding-right: 30px;

          > span {
            color: #e33240;
          }
        }
      }
    }

    .loading {
      margin: auto;
      width: 380px;
      height: 380px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .total-total {
    text-align: right;
    padding-right: 30px;

    > span {
      font-size: 30px;
      color: #2e3033;
      > span {
        color: #e33240;
      }
    }
  }

  .popup {
    color: #2e3033;
    font-size: 30px;
    background: rgb(245, 245, 245);
    text-align: center;

    .active {
      position: relative;
      transform: rotate(0deg);
      overflow: hidden;

      &:active {
        &::before {
          content: " ";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 1;
          background: rgba(0, 0, 0, 0.08);
        }
      }
    }

    > .popup-content > div {
      background: white;
    }

    .title {
      line-height: 96px;
      height: 96px;
      color: #8e939a;
      font-size: 26px;
      .border-1px(rgba(232, 233, 235, 1));
    }

    .select-list {
      min-height: 3 * 96px;
      max-height: 8 * 96px;
      -webkit-overflow-scrolling: touch;
      overflow: auto;

      > div {
        line-height: 96px;
        height: 96px;
        .active;
        .border-1px(rgba(232, 233, 235, 1));
      }
    }

    .button {
      .active;
      margin-top: 16px;
      line-height: 100px;
      height: 100px;
    }
  }
}

.red {
  color: #f95c5c;
}

.text-right {
  text-align: right;
}
</style>
