<template>
  <div class="place-order">
    <div class="navbar">
      <van-nav-bar title="提交订单" :border="false" left-arrow @click-left="onClickLeft"/>
    </div>

    <div v-if="shoppingCartSelectedList && shoppingCartSelectedList.length">
      <div
        class="content van-content"
        v-for="(item, index) in shoppingCartSelectedList"
        :key="index + 'shop'"
      >
        <!-- 货物自提&物流配送 -->
        <div class="top-wrap">
          <div class="tab-box">
            <div class="tab" :class="{'active': tabIndex === 1}" @click="tabChange(1)"><span>货物自提</span></div>
            <div class="tab" :class="{'active': tabIndex === 2}" @click="tabChange(2)"><span>物流配送</span></div>
          </div>
          <div class="wrap-content">
            <div class="list active warehouse" @click="togglePopup('warehouse', index, item.ownerId, item.ownerType)">
              <i class="label-icon location"></i>
              <div class="content-right">
                <p>{{item.warehouseName || '请选择'}}</p>
                <!-- <p>黄经理  13880888500</p> -->
              </div>
              <div class="arrow">
                <van-icon name="arrow"/>
              </div>
            </div>
            <div class="list active needdate" @click="togglePopup('needDate', index, item.ownerId, item.ownerType)">
              <div class="label">要货时间</div>
              <div class="content-right">{{item.needDate && typeof item.needTime === 'number' ? item.needDate + ' ' + item.needTimeSlot : '请选择'}}</div>
              <div class="arrow">
                <van-icon name="arrow"/>
              </div>
            </div>
          </div>
        </div>

        <!-- 订单 -->
        <div class="order-list">
          <div class="order-item">
            <div class="title">
              <i></i>
              <span class="owner-name">{{item.storeName || item.ownerName}}</span>
              <van-tag color="#EE0000" plain v-if="item.ownerType === '1'">养禽</van-tag>
              <van-tag color="#EE0000" plain v-else-if="item.ownerType === '2'">养猪</van-tag>
              <van-tag color="#EE0000" plain v-else-if="item.ownerType === '3'">乳业</van-tag>
              <van-tag color="#EE0000" plain v-else-if="item.ownerType === '4'">鲜品</van-tag>
              <van-tag color="#EE0000" plain v-else-if="item.ownerType === '5'">蛋业</van-tag>
              <van-tag color="#EE0000" plain v-else-if="item.ownerType === '6'">熟食</van-tag>
            </div>

            <div
              class="goods-item"
              v-for="(childItem, childIndex) in item.cartList"
              :class="[childItem.comFlag ? (childItem.comFlag === 1 || childItem.comFlag === 'last') ? 'border-' + childItem.comFlag : 'border-middle' : '']"
              :key="childIndex + 'item'"
            >
              <div class="comList" v-if="childItem.comFlag === 1"><span>组合大促</span></div>
              <div class="goods-item-inner">
                <div
                  class="goods-img format-img"
                  v-lazy:background-image="allImgDomainName + childItem.itemPic"
                ></div>
                <div class="goods-content">
                  <div>{{childItem.itemName}}</div>

                  <div
                    v-show="childItem.assistattrName || childItem.wtRangeMap"
                  >{{childItem.assistattrName}} {{childItem.wtRangeMap && childItem.wtRangeMap.name + ' ' + childItem.wtRangeMap.uom_name}}</div>

                  <div class="input-remark">
                    <input class="input" type="text" placeholder="请输入备注（100个字以内）" :maxlength="100" v-model="childItem.remark">
                    <!-- <span class="input-word-count">{{(childItem.remark && childItem.remark.length) || 0}}/100</span> -->
                  </div>

                  <div class="price-module">
                    <span>
                      <span>{{childItem.price.toString().split('.')[0] || 0}}</span>.{{childItem.price.toString().split('.')[1] || '00'}} 元/{{childItem.unitName}}
                    </span>

                    <!--<span>x <span>{{childItem.qty}}</span></span>-->
                    <span v-if="!changeCount">
                      <p
                        class="text-right"
                      >{{childItem.isAssistOrder ? childItem.assistQty : childItem.qty}}（{{childItem.isAssistOrder ? childItem.assistunitName : childItem.unitName}}）</p>
                      <!-- <p
                        class="red text-right"
                        v-if="childItem.isAssistOrder && childItem.maxAvgWeight"
                      >约 {{childItem.assistQty * childItem.maxAvgWeight | keepTwoNum}}（{{childItem.unitName}}）</p>
                      <p
                        class="red text-right"
                        v-else-if="childItem.isAssistOrder"
                      >约 {{childItem.assistQty * childItem.conversionRate | keepTwoNum}}（{{childItem.unitName}}）</p> -->
                    </span>
                    <span v-else>
                      <p class="product-number">
                        <input
                          maxlength="4"
                          type="text"
                          v-model="childItem.qty"
                          @keyup="changeInitVal(index, childIndex, item)"
                        >
                        （{{childItem.isAssistOrder ? childItem.assistunitName : childItem.unitName}}）
                      </p>
                      <!-- <p class="red text-right" v-if="childItem.isAssistOrder">约 {{childItem.assistQty}}（{{childItem.unitName}}）</p> -->
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <!-- 赠品列表 -->
            <div
              class="proList"
              v-if="item.proReturnGoods && item.proReturnGoods.length"
            >
              <span>以下赠品</span>
            </div>
            <div v-if="item.proReturnGoods && item.proReturnGoods.length">
              <div
                class="goods-item"
                v-for="(childItem, childIndex) in item.proReturnGoods"
                :key="childIndex + 'proItem'"
              >
                <div class="goods-item-inner">
                  <div
                    class="goods-img format-img"
                    v-lazy:background-image="allImgDomainName + childItem.itemPic"
                  ></div>
                  <div class="goods-content">
                    <div>{{childItem.itemName}}</div>
                    <div v-show="childItem.assistattrName">{{childItem.assistattrName}}</div>
                    <div class="price-module">
                      <span>
                        <span>--</span>
                      </span>
                      <span>
                        <p class="text-right">{{+childItem.qty}}（{{childItem.unitName}}）</p>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="params">
              <!-- <div class="list active" @click="togglePopup('warehouse', index, item.ownerId, item.ownerType)">
                <div class="label">提货点</div>
                <div class="content-right">{{item.warehouseName || '请选择'}}</div>
                <div class="arrow">
                  <van-icon name="arrow"/>
                </div>
              </div> -->

              <!-- <div class="list active" @click="togglePopup('needDate', index, item.ownerId, item.ownerType)">
                <div class="label">要货时间</div>
                <div class="content-right">{{item.needDate && typeof item.needTime === 'number' ? item.needDate + ' ' + item.needTimeSlot : '请选择'}}</div>
                <div class="arrow">
                  <van-icon name="arrow"/>
                </div>
              </div> -->

              <div class="list active" @click="togglePopup('arrivalTime', index, item.ownerId, item.ownerType)">
                <div class="label">到场时间</div>
                <div class="content-right">{{item.arrivalTime || '请选择'}}</div>
                <div class="arrow">
                  <van-icon name="arrow"/>
                </div>
              </div>

              <div class="list active" @click="goDriver(index)">
                <div class="label">司机信息</div>
                <div class="content-right">{{item.driverName || '请选择'}}</div>
                <div class="arrow">
                  <van-icon name="arrow"/>
                </div>
              </div>

              <!-- <div class="list active">
                <div class="label">配送方式</div>
                <div class="content-right">{{expressName}}</div>
                <div class="arrow">
                  <van-icon name="arrow"/>
                </div>
              </div> -->

              <div class="list active" @click="showCouponPopup(index)">
                <div class="label">优惠券</div>
                <div
                  v-if="item.couponList && item.couponList.length"
                  class="content-right"
                  :class="{'highlight': item.discountAmount}"
                >{{item.discountAmount ? '-' + item.discountAmount.toFixed(2) + '元' : isClearCoupon ? '暂不用' : '请选择'}}</div>
                <div class="content-right" v-else>无可用</div>
                <div class="arrow">
                  <van-icon name="arrow"/>
                </div>
              </div>

              <div class="list active">
                <div class="label">配送时间</div>
                <div class="content-right">{{deliveryTime}}</div>
                <div class="arrow">
                  <van-icon name="arrow"/>
                </div>
              </div>

              <div class="list active">
                <div class="label">支付方式</div>
                <div class="content-right">{{paymentMode}}</div>
                <div class="arrow">
                  <van-icon name="arrow"/>
                </div>
              </div>

              <div class="list">
                <div class="label">买家留言</div>
                <div class="content">
                  <input class="input" type="text" placeholder="填写内容已和商家协商确认" v-model="item.orderRemark">
                </div>
              </div>
            </div>

            <div class="total">
              共 <span>{{item.totalCount || 0}}</span> 件，总金额：<span>{{item.total ? item.total.toFixed(2) : '0.00'}} 元</span>
            </div>
          </div>
        </div>

        <!-- <div v-else class="loading">
          <van-loading size="1.2267rem" />
        </div> -->
      </div>
    </div>

    <div class="no-data-box" v-else>
      <no-data :loading="requestLoading" url="no_order" text="暂无可提交订单"></no-data>
    </div>

    <div class="ws-copyright">© Copyright Reserved WENS</div>

    <!-- 底部按钮 -->
    <bottom-button :btns="btns" @on-btn="submit">
      <div class="total-total">
        <span>优惠
          <span>{{totalDiscountAmount ? '-' + totalDiscountAmount.toFixed(2) : '0.00'}} 元</span>，应付：<span>{{totalDiscountAmount ? (totalPrice - totalDiscountAmount > 0 ? totalPrice - totalDiscountAmount : 0) : totalPrice | keepTwoNum}} 元</span>
        </span>
      </div>
    </bottom-button>

    <!-- 弹出框 -->
    <pop-up
      :up="up"
      @hide="() => {up = false}"
      :line="true"
      :btns="[{name: '确认', color: 'white'}]"
      title="平台优惠"
      listenScroll
      class="checkbox-box"
      @handleScroll="handleScroll"
      @btn-click="up = false"
    >
      <div class="place-coupon" v-if="cartListIndex !== -1">
        <!-- 可用优惠券列表 -->
        <div class="place-coupon-option" v-if="couponList && couponList.length">
          <van-list v-model="loading" :finished="finished" finished-text="">
            <van-checkbox-group v-model="selectCouponIdArr">
              <!--  v-if="(item.activityUsing === '0' && item.activityAmount <= totalPrice) || item.activityUsing === '1'" -->
              <div class="place-coupon-list" v-for="(item, index) in couponList" :key="index" @click="selectedCoupon(item, index)">
                <div class="place-coupon-content">
                  <p class="p-yuan">&yen;<span>{{item.discountAmount}}</span></p>
                  <p class="p-text">{{+item.activityUsing === 0 ? '满' + (item.fullReductType === 1 ? item.activityAmount : item.fullReductType === 2 ? item.fullReductQty : ' ') + fullReductUnitText(item.fullReductType) + '可用' : '立减券'}}</p>
                </div>
                <div class="place-coupon-text">
                  <p>{{item.name ? item.name : thresholdText(item.receivingThreshold)}} ({{item.pubOrgName}})</p>
                  <span>{{item.validDate + ' ~ ' + item.invalidDate}}</span>
                  <p class="stack">{{item.activityIsStack === '1' ? '可叠加' : '不可叠加'}}</p>
                </div>
                <div class="coupon-selected">
                  <van-checkbox disabled :name="item.id" ref="checkboxes"></van-checkbox>
                </div>
              </div>
            </van-checkbox-group>
          </van-list>
          <div class="coupon-content-bottom" @click="clearCoupon" ref="couponListBottomRef">
            <p>暂不使用优惠</p>
            <div class="uncoupon-selected">
              <van-checkbox v-model="isClearCoupon"></van-checkbox>
            </div>
          </div>
        </div>
        <!-- 不可用优惠券列表 -->
        <div class="place-unCoupon-bottom" v-if="unCouponList && unCouponList.length">
          <hr style="border:3px solid #e5e5e5;"/>
          <p class="p-title">以下优惠券不满足使用条件</p>
          <div class="coupon-two" v-for="(item, index) in unCouponList" :key="index">
            <div class="coupon-two-left">
              <p class="p-yuan">&yen;<span>{{item.discountAmount}}</span></p>
              <p class="p-text">{{+item.activityUsing === 0 ? '满' + (item.fullReductType === 1 ? item.activityAmount : item.fullReductType === 2 ? item.fullReductQty : ' ') + fullReductUnitText(item.fullReductType) + '可用' : '立减券'}}</p>
            </div>
            <div class="coupon-two-right">
              <p>{{item.name ? item.name : thresholdText(item.receivingThreshold)}} ({{item.pubOrgName}})</p>
              <span class="date">{{item.validDate + ' ~ ' + item.invalidDate}}</span>
              <div class="reason">
                <van-icon name="info-o" />
                <span>{{item.reason}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </pop-up>

    <!-- 底部弹出选择框 -->
    <van-popup v-model="showPopupSelect" position="bottom" :lock-scroll="false">
      <!-- 熟食日期选择器 -->
      <van-datetime-picker
        v-if="showDatePicker"
        v-model="datePick"
        type="date"
        :min-date="minDate"
        title="选择日期"
        @confirm="onDatePickConfirm"
        @cancel="onDatePickCancel"
      />

      <div class="popup" v-else>
        <div class="popup-content">
          <div class="title">{{popupTitle}}</div>

          <div class="select-list">
            <div
              v-for="item in popupInfo[popupType]"
              :key="item.value"
              @click="clickSelect(item)"
            >{{popupType === 'warehouse' && item.warehouseName ||
              popupType === 'needDate' && (item.date + ' ' + item.time_slot) ||
              popupType === 'arrivalTime' && item}}
            </div>
          </div>

          <div class="button" @click="cancel">取消</div>
        </div>
      </div>
    </van-popup>
  </div>
</template>

<script>
import BottomButton from '@/components/bottom-button'
import PopUp from '@/components/pop-up'
import NoData from '@/components/no-data'
import { allImgDomainNameMixin } from '@/assets/js/mixin'
import { api } from '@/api'
import { mapActions, mapGetters } from 'vuex'
import { _debounce, zero, getCookie, knapsack, gcdOfArray } from '@/utils/common'

export default {
  name: 'place-order',
  mixins: [allImgDomainNameMixin],
  components: {
    PopUp,
    BottomButton,
    NoData
  },
  data () {
    return {
      tabIndex: 1, // 标签页下标
      btns: [{ text: '提交订单', color: 'red', loadingText: '提交中...' }], // 底部按钮
      changeCount: false,
      deliveryTime: '48小时内发货',
      paymentMode: '线上支付',
      expressName: '自提', // 配送方式
      shoppingCartSelectedList: [], // 购物车选中列表
      shoppingCartRejectedList: [], // 购物车剔除列表
      addressInfo: {},
      driverInfo: {},
      totalNum: 0,
      totalPrice: 0,
      driverId: '',
      addressId: '',
      orderSaveFlag: false, // 记录订单提交状态
      firstEnter: true,
      driverList: [],
      showPopupSelect: false,
      popupType: '',
      popupInfo: {
        warehouse: [],
        needDate: [],
        arrivalTime: []
      },
      cartListIndex: -1,
      warehouseList: [], // 提货点列表
      needTimeSelect: [], // 要货时间列表
      arrivalTimeList: [], // 到场时间列表
      needDate: '', // 查询的要求要货日期
      needTime: -1, // 查询的要求要货时间(0-不限, 1-上午, 2-下午)
      showDatePicker: false, // 显示时间选择器
      minDate: new Date(), // 时间选择器可选最小时间
      datePick: new Date(), // 时间选择器选中时间
      cacheDriver: [],
      loadingToast: null, // 页面加载动画
      up: false, // 优惠券弹出框
      selectCouponIdArr: [], // 选中优惠券id集合
      totalDiscountAmount: 0, // 优惠券优惠金额
      isClearCoupon: false, // 是否暂不用优惠券
      cacheList: [],
      couponList: [], // 分页加载的可用优惠券列表
      unCouponList: [], // 分页加载的不可用优惠券列表
      page: {
        index: 1,
        size: 10,
        total: 0
      },
      loading: false, // 控制上拉加载的加载动画
      finished: false, // 控制在页面往下移动到底部时是否调用接口获取数据
      requestLoading: false // 接口请求加载动画
    }
  },
  computed: {
    ...mapGetters(['allChannel']),
    // 底部弹出框标题
    popupTitle () {
      switch (this.popupType) {
        case 'warehouse':
          return '选择提货点'
        case 'needDate':
          return '选择要货时间'
        case 'arrivalTime':
          return '选择到场时间'
        default:
          return ''
      }
    }
  },
  watch: {
    showPopupSelect (val) {
      if (val === false) {
        this.showDatePicker = false
      }
    }
  },
  created () {
    let query = JSON.parse(sessionStorage.getItem('placeOrder'))
    this.driverId = query && query.driverId
    this.addressId = query && query.addressId

    // this.driverId = this.$route.query.driverId
    // this.addressId = this.$route.query.addressId

    if (this.driverId) {
      this.firstEnter = false
      this.driverListQuery()
    }

    let params = { page: 1, pageSize: 999, customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId }
    if (this.$store.state.intoPage === 0 && getCookie('selectedChannel')) {
      params.owner = JSON.parse(getCookie('selectedChannel')).channelId
    } else if (this.$store.state.intoPage === 1 && this.$store.state.channel.currentChannel && this.$store.state.channel.currentChannel.channelId) {
      params.owner = this.$store.state.channel.currentChannel.channelId
    }
    let isQuickOrder = this.$route.query.isQuickOrder
    isQuickOrder ? (params.isQuickOrder = isQuickOrder + '') : (params.isChoose = '1')
    this.changeCount = this.$route.query.changeCount === '1'

    if (this.$route.query.date) {
      params.date = this.$route.query.date
    }

    this.requestLoading = true
    api.queryCart(params).then(res => {
      this.requestLoading = false
      if (res.success) {
        if (res.data.list && res.data.list.length > 0) {
          if (this.changeCount && res.data.list[0]) {
            res.data.list[0].cartList[0].qty = 0
            res.data.list[0].cartList[0].assistQty = 0
          }

          res.data.list.forEach(shopItem => {
            let comFirstIndex
            shopItem.cartList.forEach((v, i) => {
              // 将主品放置第一位
              if (+v.entryType === 1) {
                comFirstIndex = i
              } else if (+v.entryType === 2 && +v.isMainProduct === 1) {
                let cacheMain = v
                shopItem.cartList.splice(i, 1)
                shopItem.cartList.splice(comFirstIndex + 1, 0, cacheMain)
              }

              if (+v.entryType === 1) {
                this.shoppingCartRejectedList.push(v)
              } else if (+v.entryType === 2 && +v.storeQty <= 0) {
                this.shoppingCartRejectedList.push(v)
                shopItem.cartList.splice(i, 1)
              }
            })
          })

          // this.shoppingCartSelectedList = (this.$route.query.cacheData && JSON.parse(this.$route.query.cacheData)) || res.data
          this.shoppingCartSelectedList = (query && query.cacheData) || res.data.list

          if (this.driverList && this.driverId) {
            for (let j = 0; j < this.driverId.length; j++) {
              let isFind = false
              for (let i = 0; i < this.driverList.length; i++) {
                if (this.driverList[i].id === this.driverId[j]) {
                  this.shoppingCartSelectedList[j].driverId = this.driverList[i].id // 司机id
                  this.shoppingCartSelectedList[j].driverName = this.driverList[i].name // 司机名称
                  isFind = true
                  this.cacheDriver[j] = i
                }
              }
              if (!isFind) {
                // 该单选择的司机和司机列表之间一个都对不上，清空该单的司机
                this.clearDriverCache(j)
              }
            }
          } else {
            // 该客户受托拉货列表为空或者选择的司机全为空时，清空所有订单上的司机
            for (let i = 0; i < this.shoppingCartSelectedList.length; i++) {
              this.clearDriverCache(i)
            }
          }

          if (!this.shoppingCartSelectedList || !this.shoppingCartSelectedList.length) {
            this.$toast('商品已失效，请重新下单')
            setTimeout(() => {
              this.$router.go(-1)
            }, 500)
          } else {
            if (!query || !query.cacheData) {
              // 开启加载动画
              this.loadingToast = this.$toast.loading({
                duration: 0, // 持续展示 toast
                // overlay: true, // 是否显示背景遮罩层
                message: '加载中...'
              })
            }

            let itemListParams = []
            let callArray = []

            this.shoppingCartSelectedList.forEach((v, i) => {
              // 添加每个店铺的type
              let findChannel = this.allChannel.find(o => o.channelId === v.ownerId)
              v.ownerType = findChannel ? findChannel.channelType : ''

              let p1 = this.getWarehouse(v.ownerId, i)
              let p2 = this.getNeedTime(v.ownerId, v.ownerType, i)
              let p3 = this.getArrivalTime(v.ownerId, i)
              let p4 = this.getCouponList(v.ownerId, i)
              callArray.push(p1, p2, p3, p4)

              let comFlag = 0
              let qtyFlag = 0
              let comFirstId = ''
              let ownerParamItem = {
                ownerid: this.shoppingCartSelectedList[i].ownerId,
                itemList: []
              }

              for (let itemIndex = 0; itemIndex < v.cartList.length; itemIndex++) {
                let item = v.cartList[itemIndex]
                if (+item.entryType === 1) {
                  comFlag = 1
                  qtyFlag = item.qty
                  comFirstId = item.id
                  this.shoppingCartSelectedList[i].cartList.splice(itemIndex, 1)
                  itemIndex--
                  continue
                } else if (+item.entryType === 2) {
                  if (!this.shoppingCartSelectedList[i].cartList[itemIndex + 1] || +this.shoppingCartSelectedList[i].cartList[itemIndex + 1].entryType !== 2) {
                    item.comFlag = 'last'
                    if (comFlag === 1) item.comFlag = ''
                    this.shoppingCartSelectedList[i].cartList[itemIndex - comFlag + 1].totalCom = comFlag
                    comFlag = 0
                  } else {
                    item.comFlag = comFlag
                    if (comFlag === 1) {
                      item.qtyFlag = qtyFlag
                      item.comFirstId = comFirstId
                    }
                    comFlag++
                  }
                }

                // 批量查询上市计划最大预测均重传参
                let maxAvgWeightParams = {
                  ownerId: ownerParamItem.ownerid,
                  unitId: item.isAssistOrder
                    ? item.assistunitId
                    : item.unitId,
                  itemId: item.itemId,
                  assistattrId: item.assistattrId
                }
                itemListParams.push(maxAvgWeightParams)
              }
            })

            this.totalBill()

            // 获取上市计划最大预测均重
            let p = api.itemListWeightRangeQuery({ itemList: itemListParams }).then(res => {
              if (res.success) {
                let maxAvgWeightList = res.data
                for (let i = 0; i < this.shoppingCartSelectedList.length; i++) {
                  let item = this.shoppingCartSelectedList[i]
                  if (item.cartList.length > 0) {
                    for (let j = 0; j < item.cartList.length; j++) {
                      maxAvgWeightList.forEach(item => {
                        if (item.itemId === this.shoppingCartSelectedList[i].cartList[j].itemId && item.maxAvgWeight) {
                          this.$set(this.shoppingCartSelectedList[i].cartList[j], 'maxAvgWeight', item.maxAvgWeight)
                          this.totalBill()
                        }
                      })
                    }
                  }
                  this.$set(this.shoppingCartSelectedList, i, item)
                }
              }
            })
            callArray.push(p)

            // 关闭加载动画
            Promise.all(callArray).then(() => {
              this.loadingToast && this.loadingToast.clear()
            })
          }
        }
      } else {
        res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
      }
    })
  },
  // 防止不断返回同一个页面
  beforeRouteUpdate (to, from, next) {
    if (to.path === from.path) {
      this.$router.go(-1)
    }

    next()
  },
  methods: {
    ...mapActions(['setShoppingCartCount']),
    fullReductUnitText (type) {
      switch (type) {
        case 1:
          return '元'
        case 2:
          return '只'
        default:
          return ''
      }
    },
    thresholdText (threshold) {
      switch (threshold) {
        case 'A':
          return '普通优惠券'
        case 'B':
          return '新人优惠券'
        case 'C':
          return '首单优惠券'
        case 'D':
          return '等级优惠券'
        case 'E':
          return '红包优惠券'
        default:
          return '优惠券'
      }
    },
    tabChange (index) {
      // 暂无物流配送，屏蔽切换tab
      // this.tabIndex = index
    },
    // 改变立即下单的值
    changeInitVal (i, ci, data) {
      data.cartList[ci].qty = parseInt(data.cartList[ci].qty) || 0
      data.cartList[ci].assistQty = (data.cartList[ci].qty
        ? data.cartList[ci].isAssistOrder
          ? (data.cartList[ci].maxAvgWeight
            ? data.cartList[ci].qty * data.cartList[ci].maxAvgWeight
            : data.cartList[ci].qty * data.cartList[ci].conversionRate)
          : data.cartList[ci].qty
        : 0
      ).toFixed(2)
      this.$set(this.shoppingCartSelectedList, i, data)
      this.totalBill()
    },
    // 获取司机列表信息
    driverListQuery () {
      api.driverListQuery({ pageNo: 1, pageSize: 1000, status: 'C' }).then(res => {
        if (res.success) {
          this.driverList = res.data.list
        }
      })
    },
    // 清空某列司机信息
    clearDriverCache (index) {
      if (this.shoppingCartSelectedList && this.shoppingCartSelectedList[index]) {
        this.shoppingCartSelectedList[index].driverId = '' // 司机id
        this.shoppingCartSelectedList[index].driverName = '' // 司机名称
      }
    },
    // 获取收货人信息
    _customerAddressQuery () {
      const params = { page: 1, pageSize: 1000 }

      api.customerAddressQuery(params).then(res => {
        if (res.success) {
          if (!this.addressId) {
            let info = null

            for (let i = 0; i < res.data.list.length; i++) {
              if (res.data.list[i].isDefault) {
                info = res.data.list[i]

                break
              }
            }

            this.addressInfo = info || res.data.list[0]
            this.addressId = this.addressInfo.id
          } else {
            for (let i = 0; i < res.data.list.length; i++) {
              if (res.data.list[i].id === this.addressId) {
                this.addressInfo = res.data.list[i]

                break
              }
            }
          }
        }
      })
    },
    // 提货点
    getWarehouse (ownerId, index) {
      // 获取提货点列表
      return api.warehouseListQuery({ ownerId }).then(res => {
        if (res.success) {
          this.$set(this.warehouseList, index, res.data.list)

          this.$nextTick(() => {
            if (this.warehouseList[index].length > 0) {
              !this.shoppingCartSelectedList[index].warehouseId && this.$set(
                this.shoppingCartSelectedList[index],
                'warehouseId',
                this.warehouseList[index][0].warehouseId
              )
              !this.shoppingCartSelectedList[index].warehouseName && this.$set(
                this.shoppingCartSelectedList[index],
                'warehouseName',
                this.warehouseList[index][0].warehouseName
              )
              !this.shoppingCartSelectedList[index].warehouseNumber && this.$set(
                this.shoppingCartSelectedList[index],
                'warehouseNumber',
                this.warehouseList[index][0].warehouseNumber
              )
            }
          })
        } else {
          // res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    // 要货日期
    getNeedTime (ownerId, ownerType, index) {
      if (ownerType === '5') { // 如果是蛋业
        // 初始化日期：蛋业可选要货日为3天内
        let nowDay = new Date()
        let tomorrowDay = new Date(nowDay.getTime() + 24 * 60 * 60 * 1000)
        let secondDay = new Date(nowDay.getTime() + 2 * 24 * 60 * 60 * 1000)
        let thirdDay = new Date(nowDay.getTime() + 3 * 24 * 60 * 60 * 1000)
        let nowDate = nowDay.getFullYear() + '-' + zero(nowDay.getMonth() + 1) + '-' + zero(nowDay.getDate())
        let tomorrowDate = tomorrowDay.getFullYear() + '-' + zero(tomorrowDay.getMonth() + 1) + '-' + zero(tomorrowDay.getDate())
        let secondDate = secondDay.getFullYear() + '-' + zero(secondDay.getMonth() + 1) + '-' + zero(secondDay.getDate())
        let thirdDate = thirdDay.getFullYear() + '-' + zero(thirdDay.getMonth() + 1) + '-' + zero(thirdDay.getDate())

        switch (this.$route.query.date) {
          case nowDate:
            this.$set(this.needTimeSelect, index, [
              { date: this.$route.query.date, time: 2, time_slot: '下午' }
            ])
            break
          case tomorrowDate:
          case secondDate:
          case thirdDate:
            this.$set(this.needTimeSelect, index, [
              { date: this.$route.query.date, time: 0, time_slot: '不限' },
              { date: this.$route.query.date, time: 1, time_slot: '上午' },
              { date: this.$route.query.date, time: 2, time_slot: '下午' }
            ])
            break
          default:
            break
        }
        // this.$set(this.needTimeSelect, index, [
        //   { date: nowDate, time: 2, time_slot: '下午' },
        //   { date: tomorrowDate, time: 0, time_slot: '不限' },
        //   { date: tomorrowDate, time: 1, time_slot: '上午' },
        //   { date: tomorrowDate, time: 2, time_slot: '下午' },
        //   { date: secondDate, time: 0, time_slot: '不限' },
        //   { date: secondDate, time: 1, time_slot: '上午' },
        //   { date: secondDate, time: 2, time_slot: '下午' },
        //   { date: thirdDate, time: 0, time_slot: '不限' },
        //   { date: thirdDate, time: 1, time_slot: '上午' },
        //   { date: thirdDate, time: 2, time_slot: '下午' }
        // ])
        this.$nextTick(() => {
          if (this.needTimeSelect[index].length > 0) {
            !this.shoppingCartSelectedList[index].needDate && this.$set(
              this.shoppingCartSelectedList[index],
              'needDate',
              this.needTimeSelect[index][0].date
            )
            !this.shoppingCartSelectedList[index].needTime && this.$set(
              this.shoppingCartSelectedList[index],
              'needTime',
              this.needTimeSelect[index][0].time
            )
            !this.shoppingCartSelectedList[index].needTimeSlot && this.$set(
              this.shoppingCartSelectedList[index],
              'needTimeSlot',
              this.needTimeSelect[index][0].time_slot
            )
          }
        })
      } else if (ownerType === '6') { // 如果是熟食，日期随意选择
        // 默认今天
        this.$nextTick(() => {
          !this.shoppingCartSelectedList[index].needDate && this.$set(
            this.shoppingCartSelectedList[index],
            'needDate',
            this.formatDate(this.datePick)
          )
          !this.shoppingCartSelectedList[index].needTime && this.$set(
            this.shoppingCartSelectedList[index],
            'needTime',
            0
          )
          !this.shoppingCartSelectedList[index].needTimeSlot && this.$set(
            this.shoppingCartSelectedList[index],
            'needTimeSlot',
            ''
          )
        })
      } else {
        // 获取要货日期和时间
        return api.needTimeQuery({ ownerId }).then(res => {
          if (res.success) {
            this.needDate = res.data[0] ? res.data[0].need_date : this.needDate
            this.needTime = res.data[0] ? res.data[0].need_time : this.needTime

            switch (this.needTime) {
              case 0:
                this.$set(this.needTimeSelect, index, [
                  { date: this.needDate, time: 1, time_slot: '上午' },
                  { date: this.needDate, time: 2, time_slot: '下午' }
                ])
                break
              case 1:
                this.$set(this.needTimeSelect, index, [{ date: this.needDate, time: 1, time_slot: '上午' }])
                break
              case 2:
                this.$set(this.needTimeSelect, index, [{ date: this.needDate, time: 2, time_slot: '下午' }])
                break
              default:
                this.$set(this.needTimeSelect, index, [])
            }

            this.$nextTick(() => {
              if (this.needTimeSelect[index].length > 0) {
                !this.shoppingCartSelectedList[index].needDate && this.$set(
                  this.shoppingCartSelectedList[index],
                  'needDate',
                  this.needTimeSelect[index][0].date
                )
                !this.shoppingCartSelectedList[index].needTime && this.$set(
                  this.shoppingCartSelectedList[index],
                  'needTime',
                  this.needTimeSelect[index][0].time
                )
                !this.shoppingCartSelectedList[index].needTimeSlot && this.$set(
                  this.shoppingCartSelectedList[index],
                  'needTimeSlot',
                  this.needTimeSelect[index][0].time_slot
                )
              }
            })
          } else {
            // res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
          }
        })
      }
    },
    // 到场时间
    getArrivalTime (ownerId, index) {
      return api.commonCall({ ownerId }, 'getArrivalTime').then(res => {
        if (res.success) {
          this.$set(this.arrivalTimeList, index, res.data.arrivalTimes)

          this.$nextTick(() => {
            if (this.arrivalTimeList[index].length > 0) {
              !this.shoppingCartSelectedList[index].arrivalTime && this.$set(
                this.shoppingCartSelectedList[index],
                'arrivalTime',
                this.arrivalTimeList[index][0]
              )
            }
          })
        }
      })
    },
    // 选择司机
    goDriver (index) {
      let query = {
        cacheDriver: this.cacheDriver[index],
        driverIndex: index,
        cacheData: this.shoppingCartSelectedList,
        status: 'C'
      }

      this.driverId && (query.driverId = this.driverId)
      this.addressId && (query.addressId = this.addressId)
      this.$route.query.changeCount &&
        (query.changeCount = this.$route.query.changeCount)
      this.$route.query.isQuickOrder &&
        (query.isQuickOrder = this.$route.query.isQuickOrder)

      sessionStorage.setItem('placeOrder', JSON.stringify(query))

      this.$router.push({
        path: '/driver'
      })
    },
    onClickLeft () {
      this.$router.go(-1)
    },
    // 上拉加载
    onLoad () {
      this.page.index++

      this.cacheList = this.cacheList.concat(this.shoppingCartSelectedList[this.cartListIndex].couponList.slice((this.page.index - 1) * this.page.size, this.page.index * this.page.size))
      this.couponList.splice(0, this.couponList.length, ...this.cacheList)
      this.finished = false
      if (this.cacheList.length >= this.page.total) {
        this.finished = true
      }
    },
    handleScroll (scrollTop, offsetHeight) {
      if (this.up && !this.finished && scrollTop > this.$refs.couponListBottomRef.offsetTop - (this.$refs.couponListBottomRef.offsetHeight + offsetHeight)) {
        this.onLoad()
      }
    },
    // 获取可用优惠券列表
    getCouponList (ownerId, index) {
      let coupons = []
      for (let s = 0; s < this.shoppingCartSelectedList[index].cartList.length; s++) {
        coupons.push({
          orderType: 'A', // A:普通订单可用 B:全部订单可用
          ownerId: ownerId, // 渠道id
          itemId: this.shoppingCartSelectedList[index].cartList[s].itemId // 商品id
        })
      }
      return api.commonCall({ coupons: coupons }, 'getCanUseCouponList').then(res => {
        if (res.success) {
          let couponList = [] // 可用优惠券
          let unCouponList = [] // 不可用优惠券
          let stackableList = [] // 可用的可叠加优惠券
          let stackableMoneyList = [] // 可用的可叠加的（满减金额）优惠券
          let stackableQuantityList = [] // 可用的可叠加的（满减数量）优惠券
          let unstackableList = [] // 可用的不可叠加优惠券
          res.data.couponList.forEach(v => {
            if ((+v.activityUsing === 0 && ((v.fullReductType === 1 && v.activityAmount <= this.totalPrice) || (v.fullReductType === 2 && v.fullReductQty <= this.totalNum))) || +v.activityUsing === 1) {
              couponList.push(v)
              if (v.activityIsStack === '1') {
                stackableList.push(v)
                if (v.fullReductType === 1) { // 按金额满减
                  stackableMoneyList.push(v)
                } else if (v.fullReductType === 2) { // 按数量满减
                  stackableQuantityList.push(v)
                }
              } else {
                unstackableList.push(v)
              }
            } else {
              this.$set(v, 'reason', '不满足' + (v.fullReductType === 1 ? '金额' : v.fullReductType === 2 ? '数量' : ' ') + '条件')
              unCouponList.push(v)
            }
          })
          // 初始化列表
          !this.shoppingCartSelectedList[index].couponList && this.$set(this.shoppingCartSelectedList[index], 'couponList', couponList)
          !this.shoppingCartSelectedList[index].unCouponList && this.$set(this.shoppingCartSelectedList[index], 'unCouponList', [...unCouponList, ...res.data.unCouponList])

          // 给定默认值
          this.$nextTick(() => {
            let stackableMoneyTotalAmt = 0 // 可用的可叠加（满减金额）优惠券的金额最大值
            let stackableQuantityTotalAmt = 0 // 可用的可叠加（满减数量）优惠券的金额最大值
            let stackableMoneyTotalAmtCombItem = [] // 可用的可叠加（满减金额）优惠券的金额最大值的组合项
            let stackableQuantityTotalAmtCombItem = [] // 可用的可叠加（满减数量）优惠券的金额最大值的组合项
            let unstackableMaxAmt = 0 // 可用的不可叠加优惠券的金额最大值
            let unstackableMaxAmtItem = {} // 可用的不可叠加优惠券的金额最大值的一项
            if (couponList && couponList.length && !this.shoppingCartSelectedList[index].discountAmount) {
              // 计算可用的可叠加（满减金额）优惠券的金额最大值
              let weights1 = stackableMoneyList.map(v => v.activityAmount)
              let values1 = stackableMoneyList.map(v => v.discountAmount)
              let gcdCount1 = gcdOfArray(weights1)
              let handleWeight1 = weights1.map(v => parseInt(v / gcdCount1))
              let result1 = knapsack(handleWeight1, values1, Math.floor(+this.totalPrice / gcdCount1)) // 01背包问题
              stackableMoneyTotalAmt = result1[0] || 0
              stackableMoneyTotalAmtCombItem = result1[1] && result1[1].map(v => stackableMoneyList[v])

              // 计算可用的可叠加（满减数量）优惠券的金额最大值
              let weights2 = stackableQuantityList.map(v => v.fullReductQty)
              let values2 = stackableQuantityList.map(v => v.discountAmount)
              let gcdCount2 = gcdOfArray(weights2) // 求减满数量数组里的最大公约数
              let handleWeight2 = weights2.map(v => parseInt(v / gcdCount2))
              let result2 = knapsack(handleWeight2, values2, Math.floor(+this.totalNum / gcdCount2)) // 01背包问题
              stackableQuantityTotalAmt = result2[0] || 0
              stackableQuantityTotalAmtCombItem = result2[1] && result2[1].map(v => stackableQuantityList[v])

              // 计算可用的不可叠加优惠券的金额最大值
              unstackableList.forEach(v => {
                if (+v.discountAmount > unstackableMaxAmt) {
                  unstackableMaxAmt = +v.discountAmount
                  unstackableMaxAmtItem = JSON.parse(JSON.stringify(v))
                }
              })

              // 计算可用的可叠加（满减金额和数量）优惠券和不可叠加优惠券中的金额最大值
              let max = Math.max(stackableMoneyTotalAmt, stackableQuantityTotalAmt, unstackableMaxAmt)
              if (max === unstackableMaxAmt) { // 不可叠加最大
                this.selectCouponIdArr.push(unstackableMaxAmtItem.id)
                this.$set(this.shoppingCartSelectedList[index], 'couponCanStack', false)
                this.$set(this.shoppingCartSelectedList[index], 'discountAmount', unstackableMaxAmt)
                this.$set(this.shoppingCartSelectedList[index], 'discountCumulativeNum', (unstackableMaxAmtItem.fullReductType === 1 && +unstackableMaxAmtItem.activityAmount) || (unstackableMaxAmtItem.fullReductType === 2 && +unstackableMaxAmtItem.fullReductQty))
              } else if (max === stackableMoneyTotalAmt) { // 可叠加（满减金额）最大
                this.selectCouponIdArr = stackableMoneyTotalAmtCombItem.map(v => v.id)
                this.$set(this.shoppingCartSelectedList[index], 'couponCanStack', true)
                this.$set(this.shoppingCartSelectedList[index], 'discountAmount', stackableMoneyTotalAmt)
                this.$set(this.shoppingCartSelectedList[index], 'discountCumulativeNum', stackableMoneyTotalAmtCombItem.reduce((total, item) => (total + item.activityAmount), 0))
              } else if (max === stackableQuantityTotalAmt) {
                this.selectCouponIdArr = stackableQuantityTotalAmtCombItem.map(v => v.id)
                this.$set(this.shoppingCartSelectedList[index], 'couponCanStack', true)
                this.$set(this.shoppingCartSelectedList[index], 'discountAmount', stackableQuantityTotalAmt)
                this.$set(this.shoppingCartSelectedList[index], 'discountCumulativeNum', stackableQuantityTotalAmtCombItem.reduce((total, item) => (total + item.fullReductQty), 0))
              }
              this.$set(this.shoppingCartSelectedList[index], 'selectCouponIdArr', this.selectCouponIdArr)
              this.totalBill()
            }
          })
        }
      })
    },
    showCouponPopup (index) {
      this.cartListIndex = index

      this.page.total = this.shoppingCartSelectedList[this.cartListIndex].couponList.length
      this.cacheList = this.cacheList.concat(this.shoppingCartSelectedList[this.cartListIndex].couponList.slice((this.page.index - 1) * this.page.size, this.page.index * this.page.size))
      this.couponList.splice(0, this.couponList.length, ...this.cacheList)
      this.unCouponList = this.shoppingCartSelectedList[this.cartListIndex].unCouponList || []
      this.selectCouponIdArr = this.shoppingCartSelectedList[this.cartListIndex].selectCouponIdArr || []

      this.up = true
    },
    selectedCoupon (item, index) {
      if (this.isClearCoupon) {
        this.isClearCoupon = false
      }

      // 判断是选中优惠券还是取消优惠券
      if (this.selectCouponIdArr.indexOf(item.id) > -1) {
        this.selectCouponIdArr.splice(this.selectCouponIdArr.indexOf(item.id), 1)
        this.$set(this.shoppingCartSelectedList[this.cartListIndex], 'discountAmount', (this.shoppingCartSelectedList[this.cartListIndex].discountAmount || 0) - +item.discountAmount)
        this.$set(this.shoppingCartSelectedList[this.cartListIndex], 'discountCumulativeNum', (this.shoppingCartSelectedList[this.cartListIndex].discountCumulativeNum || 0) - ((item.fullReductType === 1 && +item.activityAmount) || (item.fullReductType === 2 && +item.fullReductQty)))
        if (this.selectCouponIdArr && this.selectCouponIdArr.length === 0) {
          this.$set(this.shoppingCartSelectedList[this.cartListIndex], 'couponCanStack', true)
        }
      } else {
        let isSelectCoupon = this.isSelectCoupon(item.id)
        // 如果已经选择了优惠券，则判断当前选择的优惠券是否可叠加
        if (this.selectCouponIdArr && this.selectCouponIdArr.length) {
          if (item.activityIsStack === '1' && this.shoppingCartSelectedList[this.cartListIndex].couponCanStack) { // 可叠加优惠券只能和可叠加优惠券一块使用
            if (!isSelectCoupon) {
              let temp = (this.shoppingCartSelectedList[this.cartListIndex].discountCumulativeNum || 0) + ((item.fullReductType === 1 && +item.activityAmount) || (item.fullReductType === 2 && +item.fullReductQty))
              if (temp <= ((item.fullReductType === 1 && this.totalPrice) || (item.fullReductType === 2 && this.totalNum))) {
                this.selectCouponIdArr.push(item.id)
                this.$set(this.shoppingCartSelectedList[this.cartListIndex], 'discountAmount', (this.shoppingCartSelectedList[this.cartListIndex].discountAmount || 0) + +item.discountAmount)
                this.$set(this.shoppingCartSelectedList[this.cartListIndex], 'discountCumulativeNum', temp)
              } else {
                this.$toast.fail('已超出' + (item.fullReductType === 1 ? '金额' : item.fullReductType === 2 ? '数量' : ' ') + '条件，不可再叠加')
                return
              }
            } else {
              this.$toast.fail('该优惠券已被其他订单使用')
              return
            }
          } else if (item.activityIsStack === '1' && this.shoppingCartSelectedList[this.cartListIndex].couponCanStack === false) {
            this.$toast.fail('已选优惠券不可叠加使用')
            return
          } else {
            this.$toast.fail('该优惠券不可叠加使用')
            return
          }
        } else {
          if (!isSelectCoupon) {
            let temp = (this.shoppingCartSelectedList[this.cartListIndex].discountCumulativeNum || 0) + ((item.fullReductType === 1 && +item.activityAmount) || (item.fullReductType === 2 && +item.fullReductQty))
            if (temp <= ((item.fullReductType === 1 && this.totalPrice) || (item.fullReductType === 2 && this.totalNum))) {
              this.selectCouponIdArr.push(item.id)
              this.$set(this.shoppingCartSelectedList[this.cartListIndex], 'discountAmount', (this.shoppingCartSelectedList[this.cartListIndex].discountAmount || 0) + +item.discountAmount)
              this.$set(this.shoppingCartSelectedList[this.cartListIndex], 'discountCumulativeNum', temp)
              this.$set(this.shoppingCartSelectedList[this.cartListIndex], 'couponCanStack', item.activityIsStack === '1')
            } else {
              this.$toast.fail('已超出' + (item.fullReductType === 1 ? '金额' : item.fullReductType === 2 ? '数量' : ' ') + '条件，不可再叠加')
              return
            }
          } else {
            this.$toast.fail('该优惠券已被其他订单使用')
            return
          }
        }
      }
      this.$set(this.shoppingCartSelectedList[this.cartListIndex], 'selectCouponIdArr', this.selectCouponIdArr)
      this.totalBill()
    },
    // 判断该优惠券是否有其他订单已经选择
    isSelectCoupon (id) {
      for (let i = 0; i < this.shoppingCartSelectedList.length; i++) {
        if (this.shoppingCartSelectedList[i].selectCouponIdArr && this.shoppingCartSelectedList[i].selectCouponIdArr.length) {
          for (let j = 0; j < this.shoppingCartSelectedList[i].selectCouponIdArr.length; j++) {
            if (id === this.shoppingCartSelectedList[i].selectCouponIdArr[j]) {
              return true
            }
          }
        }
      }
      return false
    },
    clearCoupon () {
      this.isClearCoupon = true
      this.selectCouponIdArr = []
      this.$set(this.shoppingCartSelectedList[this.cartListIndex], 'selectCouponIdArr', this.selectCouponIdArr)
      this.$set(this.shoppingCartSelectedList[this.cartListIndex], 'discountAmount', 0)
      this.$set(this.shoppingCartSelectedList[this.cartListIndex], 'discountCumulativeNum', 0)
      this.totalBill()
    },
    // 底部弹出选择框
    togglePopup (type, index, ownerId, ownerType) {
      this.showPopupSelect = true
      this.popupType = type
      this.cartListIndex = index
      if (this.popupType === 'warehouse') {
        this.$set(this.popupInfo, 'warehouse', this.warehouseList[index])
      } else if (this.popupType === 'needDate') {
        if (ownerType === '6') { // 如果是熟食，打开日期选择器
          this.showDatePicker = true
        } else {
          this.$set(this.popupInfo, 'needDate', this.needTimeSelect[index])
        }
      } else if (this.popupType === 'arrivalTime') {
        this.$set(this.popupInfo, 'arrivalTime', this.arrivalTimeList[index])
      }
    },
    // 底部弹出选择框列表点击
    clickSelect (item) {
      this.showPopupSelect = false
      if (this.popupType === 'warehouse') {
        this.$set(
          this.shoppingCartSelectedList[this.cartListIndex],
          'warehouseId',
          item.warehouseId
        )
        this.$set(
          this.shoppingCartSelectedList[this.cartListIndex],
          'warehouseName',
          item.warehouseName
        )
        this.$set(
          this.shoppingCartSelectedList[this.cartListIndex],
          'warehouseNumber',
          item.warehouseNumber
        )
      } else if (this.popupType === 'needDate') {
        this.$set(
          this.shoppingCartSelectedList[this.cartListIndex],
          'needDate',
          item.date
        )
        this.$set(
          this.shoppingCartSelectedList[this.cartListIndex],
          'needTime',
          item.time
        )
        this.$set(
          this.shoppingCartSelectedList[this.cartListIndex],
          'needTimeSlot',
          item.time_slot
        )
      } else if (this.popupType === 'arrivalTime') {
        this.$set(
          this.shoppingCartSelectedList[this.cartListIndex],
          'arrivalTime',
          item
        )
      }
    },
    // 底部弹出选择框取消
    cancel () {
      this.showPopupSelect = false
    },
    // 底部弹出日期选择器确认
    onDatePickConfirm () {
      this.showPopupSelect = false
      this.$set(
        this.shoppingCartSelectedList[this.cartListIndex],
        'needDate',
        this.formatDate(this.datePick)
      )
      this.$set(
        this.shoppingCartSelectedList[this.cartListIndex],
        'needTime',
        0
      )
      this.$set(
        this.shoppingCartSelectedList[this.cartListIndex],
        'needTimeSlot',
        ''
      )
    },
    // 底部弹出日期选择器取消
    onDatePickCancel () {
      this.showPopupSelect = false
    },
    // 格式化日期
    formatDate (date) {
      let _date = date || new Date()

      return `${_date.getFullYear()}-${zero(_date.getMonth() + 1)}-${zero(_date.getDate())}`
    },
    // 计算账单
    totalBill () {
      let totalCount = 0
      let totalPrice = 0
      let totalDiscountAmount = 0
      for (let i = 0; i < this.shoppingCartSelectedList.length; i++) {
        if (this.shoppingCartSelectedList[i].cartList && this.shoppingCartSelectedList[i].cartList.length > 0) {
          let total = 0
          let count = 0

          for (let j = 0; j < this.shoppingCartSelectedList[i].cartList.length; j++) {
            let item = this.shoppingCartSelectedList[i].cartList[j]
            count += item.isAssistOrder
              ? item.assistQty
              : item.qty

            total += +item.exeuAmount ||
              (item.isAssistOrder
                ? (item.maxAvgWeight
                  ? item.assistQty * item.maxAvgWeight
                  : item.assistQty * item.conversionRate)
                : item.qty) * item.price
          }

          this.shoppingCartSelectedList[i].total = total
          this.shoppingCartSelectedList[i].totalCount = count
          totalPrice += total
          totalCount += count
          totalDiscountAmount += this.shoppingCartSelectedList[i].discountAmount || 0
        }
      }
      this.totalNum = totalCount
      // 是否使用优惠券
      // this.totalPrice = this.shoppingCartSelectedList[i].coupon && this.shoppingCartSelectedList[i].coupon.id ? totalPrice : totalPrice - this.shoppingCartSelectedList[i].coupon.discountAmount
      this.totalPrice = totalPrice
      this.totalDiscountAmount = totalDiscountAmount
    },
    // 提交订单
    submit: _debounce(function () {
      if (this.orderSaveFlag) return
      this.orderSaveFlag = true

      let customer = JSON.parse(sessionStorage.getItem('defaultCustomer'))
      if (customer.isEntrustDelivery && !customer.isEntrustOrder) {
        this.$toast.fail('当前用户角色只是客户【' + customer.customerName + '】的司机，不能进行下单操作！')

        setTimeout(() => {
          this.orderSaveFlag = false
        }, 1000)
        return
      }

      if (this.changeCount && this.shoppingCartSelectedList[0].cartList[0].qty <= 0) {
        this.$toast('数量不能为0')

        setTimeout(() => {
          this.orderSaveFlag = false
        }, 1000)
        return
      }

      let params = {
        orderItem: []
      }
      let couponIdArr = [] // 优惠券id集合
      let totalPrice = 0 // 总价

      for (let i = 0; i < this.shoppingCartSelectedList.length; i++) {
        let shopItem = {} // 店铺
        let itemEntry = [] // 店铺中的商品项
        let subTotalPrice = 0 // 每个门店的总价
        // shopItem.subtotal = '0' // 金额小计用不到，但是必传，则随便传个0
        shopItem.ownerId = this.shoppingCartSelectedList[i].ownerId // 渠道id
        shopItem.payType = '001' // 付款方式

        if (this.warehouseList[i] && this.warehouseList[i].length) {
          if (this.shoppingCartSelectedList[i].warehouseId) {
            shopItem.warehouse = this.shoppingCartSelectedList[i].warehouseId // 提货点id
          } else {
            this.$toast('请选择提货点')
            setTimeout(() => {
              this.orderSaveFlag = false
            }, 1000)
            return
          }
        }

        if (typeof this.shoppingCartSelectedList[i].needTime === 'number') {
          shopItem.arrivalDate = this.shoppingCartSelectedList[i].needDate // 要货日期
          shopItem.needTime = this.shoppingCartSelectedList[i].needTime + '' // 要货时间
        } else {
          this.$toast('请选择要货时间')
          setTimeout(() => {
            this.orderSaveFlag = false
          }, 1000)
          return
        }

        if (this.arrivalTimeList[i] && this.arrivalTimeList[i].length) {
          if (this.shoppingCartSelectedList[i].arrivalTime) {
            shopItem.arrivalTime = this.shoppingCartSelectedList[i].arrivalTime // 到场时间
          } else {
            this.$toast('请选择到场时间')
            setTimeout(() => {
              this.orderSaveFlag = false
            }, 1000)
            return
          }
        }

        if (this.shoppingCartSelectedList[i].driverId) {
          shopItem.driverId = this.shoppingCartSelectedList[i].driverId // 司机id
        }

        // 使用优惠券(添加两个参数：优惠券ID集合、优惠金额总和)
        if (this.shoppingCartSelectedList[i].selectCouponIdArr && this.shoppingCartSelectedList[i].selectCouponIdArr.length) {
          couponIdArr = this.shoppingCartSelectedList[i].selectCouponIdArr
          shopItem.couponIds = couponIdArr.join(',')
          shopItem.cutAmount = this.shoppingCartSelectedList[i].discountAmount
        }

        this.shoppingCartSelectedList[i].message
          ? (shopItem.orderRemark = this.shoppingCartSelectedList[i].message)
          : (shopItem.orderRemark = '') // 留言
        shopItem.orderRemark = this.shoppingCartSelectedList[i].orderRemark // 留言
        if (this.shoppingCartSelectedList[i].cartList && this.shoppingCartSelectedList[i].cartList.length > 0) {
          for (let j = 0; j < this.shoppingCartSelectedList[i].cartList.length; j++) {
            if (this.shoppingCartSelectedList[i].cartList[j].comFlag === 1) {
              itemEntry.push({
                shoppingCartId: this.shoppingCartSelectedList[i].cartList[j].id,
                entryType: '1'
              })
            }

            let money = (this.shoppingCartSelectedList[i].cartList[j].isAssistOrder
              ? (this.shoppingCartSelectedList[i].cartList[j].maxAvgWeight
                ? this.shoppingCartSelectedList[i].cartList[j].assistQty * this.shoppingCartSelectedList[i].cartList[j].maxAvgWeight
                : this.shoppingCartSelectedList[i].cartList[j].assistQty * this.shoppingCartSelectedList[i].cartList[j].conversionRate)
              : this.shoppingCartSelectedList[i].cartList[j].qty) * this.shoppingCartSelectedList[i].cartList[j].price

            let item = {
              shoppingCartId: this.shoppingCartSelectedList[i].cartList[j].id,
              itemId: this.shoppingCartSelectedList[i].cartList[j].itemId,
              name: this.shoppingCartSelectedList[i].cartList[j].itemName,
              price: this.shoppingCartSelectedList[i].cartList[j].price + '',
              money: money + '',
              entryType: this.shoppingCartSelectedList[i].cartList[j].entryType || '0',
              remark: this.shoppingCartSelectedList[i].cartList[j].remark
            }

            this.shoppingCartSelectedList[i].cartList[j].wtRangeMap && (item.wtRangeId = this.shoppingCartSelectedList[i].cartList[j].wtRangeMap.id)

            if (+this.shoppingCartSelectedList[i].cartList[j].assistattrId) {
              item.assistattrId = this.shoppingCartSelectedList[i].cartList[j].assistattrId
            }

            if (this.shoppingCartSelectedList[i].cartList[j].isAssistOrder) {
              item.assistQty = this.shoppingCartSelectedList[i].cartList[j].assistQty + ''
              item.assistUnitId = this.shoppingCartSelectedList[i].cartList[j].assistunitId
              this.shoppingCartSelectedList[i].cartList[j].maxAvgWeight && (item.maxAvgWeight = this.shoppingCartSelectedList[i].cartList[j].maxAvgWeight)
            } else {
              item.qty = this.shoppingCartSelectedList[i].cartList[j].qty + ''
              item.unitId = this.shoppingCartSelectedList[i].cartList[j].unitId
            }

            itemEntry.push(item)
            subTotalPrice += money
            totalPrice += money
          }
        }
        shopItem.subtotal = subTotalPrice + ''
        shopItem.itemEntry = itemEntry // 店铺项
        params.orderItem.push(shopItem)
      }
      params.amount = totalPrice + '' // 总金额
      params.customerId = JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
      params.comeFrom = 'mobile'

      this.$set(this.btns[0], 'loading', true)
      this.loadingToast = this.$toast.loading({
        duration: 0, // 持续展示
        overlay: true, // 显示背景蒙层
        message: '正在提交...'
      })

      // 提交订单
      api.commonCall(params, 'wsPurOrderSave').then(res => {
      // api.purOrderSave(params).then(res => {
        this.$set(this.btns[0], 'loading', false)
        this.loadingToast && this.loadingToast.clear()
        if (res.success) {
          this.$toast.success('提交成功')

          // 如果选择了优惠券则调用接口返回优惠券id和订单id
          // if (couponIdArr.length) {
          //   let orderIdList = []
          //   res.data.map(v => {
          //     orderIdList.push({
          //       orderId: v.orderId
          //     })
          //   })
          //   api.commonCall({ orderIds: orderIdList }, 'updateCouponRecordStatus').then(res => {

          //   })
          // }

          // 删除购物车剔除列表
          let params = { ids: [], type: 1, customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId }
          this.shoppingCartRejectedList.forEach(v => {
            params.ids.push(v.id)
          })
          if (!params.ids.length) {
            // 重新获取购物车列表
            let param = {
              page: 1,
              pageSize: 999,
              isGetCountOnly: 1,
              customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
            }
            if (this.$store.state.intoPage === 0 && getCookie('selectedChannel')) {
              param.owner = JSON.parse(getCookie('selectedChannel')).channelId
            } else if (this.$store.state.intoPage === 1 && this.$store.state.channel.currentChannel && this.$store.state.channel.currentChannel.channelId) {
              param.owner = this.$store.state.channel.currentChannel.channelId
            }
            api.queryCart(param).then(res => {
              if (res.success) {
                this.setShoppingCartCount(res.data.count)
              }
              // setTimeout(() => {
              //   this.orderSaveFlag = false
              // }, 1000)
            })

            setTimeout(() => {
              this.$router.replace({ path: '/' })
            }, 500)
          } else {
            api.deleteCart(params).then(response => {
              if (response.success) {
                // 重新获取购物车列表
                let param = {
                  page: 1,
                  pageSize: 999,
                  isGetCountOnly: 1,
                  customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
                }
                if (this.$store.state.intoPage === 0 && getCookie('selectedChannel')) {
                  param.owner = JSON.parse(getCookie('selectedChannel')).channelId
                } else if (this.$store.state.intoPage === 1 && this.$store.state.channel.currentChannel && this.$store.state.channel.currentChannel.channelId) {
                  param.owner = this.$store.state.channel.currentChannel.channelId
                }
                api.queryCart(param).then(res => {
                  if (res.success) {
                    this.setShoppingCartCount(res.data.count)
                  }
                  // setTimeout(() => {
                  //   this.orderSaveFlag = false
                  // }, 1000)
                })

                setTimeout(() => {
                  this.$router.replace({ path: '/' })
                }, 500)
              }
            })
          }
        } else {
          setTimeout(() => {
            this.orderSaveFlag = false
          }, 1000)
          // res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
          // this.$toast({
          //   position: 'bottom',
          //   message: res.stack
          // })
          this.$dialog.alert({
            title: '温馨提示',
            message: res.message && res.message.replace('调用移动分销接口失败：', '')
          }).then(() => {

          })
        }
      })
    }, 500)
  },
  beforeRouteEnter (to, from, next) {
    if (from.path !== '/driver') {
      if (sessionStorage.getItem('placeOrder')) {
        sessionStorage.removeItem('placeOrder')
      }
    }
    next()
  },
  beforeDestroy () {
    this.loadingToast && this.loadingToast.value && this.loadingToast.clear()
  }
}
</script>

<style scoped lang="less">
@import "~@/assets/css/mixin.less";

@{deep}.van-checkbox {
  .van-checkbox__icon--checked {
    .van-icon {
      background-color: #F59900;
      border-color: #F59900;
    }
  }
}

.place-order {
  min-height: calc(100vh - 146px);
  background: #F1F1F1;
  padding-bottom: 146px;
  position: relative;

  .ws-copyright {
    position: absolute;
    width: 100%;
    bottom: 104px;
    color: #999999;
    font-size: 16px;
    font-family: Microsoft YaHei;
    text-align: center;
  }

  .format-img {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    @{deep}.van-nav-bar {
      background: #E60012;
      &__title {
        font-size: 38px;
        color: #FFFFFF;
      }
      &__left {
        .van-nav-bar__arrow {
          color: #FFFFFF !important;
        }
      }
    }
  }

  .checkbox-box {
    .place-coupon{
      width: 100%;
      background-color: #f8f8f8;
      .place-coupon-option{
        overflow: hidden;
        padding-top: 20px;
        background-color: #f8f8f8;
        .place-coupon-list {
          width: 100%;
          height: 174px;
          background: url("~@/assets/images/coupon/plice-coupon-background.svg") no-repeat center center;
          background-size: 100% 100%;
          position: relative;
          box-sizing: border-box;
          padding: 0 20px;
          margin-bottom: 14px;
          display: flex;
          .place-coupon-content{
            width: 160px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column;
            .p-yuan{
              color: #fff;
              font-size: 24px;
              font-family: Avenir-Black, Avenir;
              font-weight: 900;
              text-align: center;
              span{
                font-size: 60px;
              }
            }
            .p-text{
              font-size: 24px;
              color: #fff;
              text-align: center;
            }
          }
          .place-coupon-text{
            width: 440px;
            height: 100%;
            display: flex;
            justify-content: center;
            flex-flow: column;
            padding-left: 26px;
            box-sizing: border-box;
            overflow: hidden;
            p{
              margin-bottom: 8px;
              color: #333;
              font-size: 32px;
              font-weight: 500;
              display: -webkit-box;
              -webkit-line-clamp: 2; // 限制文本的行数，只显示两行
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
              word-wrap: break-word;
              word-break: break-all;
              &.stack {
                color: #666;
                font-size: 24px;
              }
            }
            span{
              display: inline-block;
              font-size: 24px;
              color: #A9ABAF;
            }
          }
          .coupon-selected {
            width: 110px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            @{deep} .van-checkbox--disabled {
              cursor: pointer;
              .van-checkbox__icon--disabled {
                cursor: pointer;
                .van-icon {
                  color: #fff;
                  background-color: #fff;
                }
              }
              .van-checkbox__icon--checked {
                .van-icon {
                  background-color: #F59900;
                  border-color: #F59900;
                }
              }
            }
          }
        }
        .coupon-content-bottom{
          width: 100%;
          height: 88px;
          box-sizing: border-box;
          padding: 0 20px;
          display: flex;
          justify-content: space-between;
          p{
            color: #999999;
            font-size: 28px;
            line-height: 88px;
            padding-left: 30px;
          }
          .uncoupon-selected {
            width: 110px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
      .place-unCoupon-bottom{
        width: 100%;
        overflow: hidden;
        .p-title{
          padding: 18px 0 18px 52px;
          color: #333;
          font-size: 28px;
        }
        .coupon-two{
          width: 100%;
          height: 174px;
          background: url("~@/assets/images/coupon/plice-uncoupon-background.svg") no-repeat center center;
          background-size: 100% 100%;
          position: relative;
          box-sizing: border-box;
          padding: 0 20px;
          margin-bottom: 14px;
          display: flex;
          .coupon-two-left{
            width: 200px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column;
            .p-yuan{
              color: #999;
              font-size: 24px;
              font-family: Avenir-Black, Avenir;
              font-weight: 900;
              text-align: center;
              span{
                font-size: 60px;
              }
            }
            .p-text{
              font-size: 24px;
              color: #E02020;
              text-align: center;
            }
          }
          .coupon-two-right{
            width: 510px;
            height: 100%;
            display: flex;
            justify-content: center;
            flex-flow: column;
            padding: 0 10px 0 26px;
            box-sizing: border-box;
            overflow: hidden;
            .reason {
              color: #666;
              font-size: 24px;
              display: flex;
              align-items: center;
              .van-icon {
                color: #E02020;
                font-size: 26px;
              }
              >span {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
            }
            p{
              margin-bottom: 8px;
              color: #333;
              font-size: 32px;
              font-weight: 500;
              display: -webkit-box;
              -webkit-line-clamp: 2; // 限制文本的行数，只显示两行
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
              word-wrap: break-word;
              word-break: break-all;
            }
            .date{
              display: inline-block;
              color: #A9ABAF;
              font-size: 24px;
            }
          }
        }
      }
    }
  }

  .list {
    margin: 0 20px;
    height: 96px;
    display: flex;
    align-items: center;
    font-size: 28px;
    .border-1px(#CCCCCC);
    &.active {
      position: relative;
      overflow: hidden;
      &:active {
        background: rgba(0, 0, 0, 0.05);
      }
    }
    .label {
      width: 180px;
      padding-left: 12px;
      color: #666666;
      line-height: 96px;
    }
    .label-icon {
      flex-shrink: 0;
      display: inline-block;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center;
      &.location {
        width: 74px;
        height: 92px;
        .bg-img("~@/assets/images/new-version/place-order/location");
      }
    }
    .content {
      flex: 1;
    }
    .content-right {
      flex: 1;
      text-align: right;
      color: #333333;
      &.highlight {
        color: #e33240;
      }
    }
    .arrow {
      font-size: 24px;
      color: #999999;
      width: 70px;
      text-align: center;
      padding-top: 4px;
    }
    &.warehouse {
      padding: 32px 0;
      .content-right {
        text-align: left;
        padding-left: 28px;
        p {
          &:nth-child(1) {
            color: #333333;
            font-size: 38px;
            font-weight: bold;
            display: -webkit-box;
            -webkit-line-clamp: 2; // 限制文本的行数，只显示两行
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            word-wrap: break-word;
            word-break: break-all;
          }
          &:nth-child(2) {
            color: #666666;
            font-size: 26px;
          }
        }
      }
    }
    &.needdate {
      .content-right {
        color: #1A4BB4;
      }
    }
  }

  .input {
    display: block;
    outline: none;
    width: 100%;
    border: 0;
    height: 60px;

    &::-webkit-input-placeholder {
      color: #c1c4ca;
    }
  }

  >div {
    .content {
      background-position: top center;
      background-size: 100% 324px;
      background-repeat: no-repeat;
      .bg-img('~@/assets/images/new-version/place-order/top-bg');
      &.van-content {
        padding-top: 92px;
      }

      .top-wrap {
        margin: 10px 12px 16px;
        box-shadow: -5px 5px 6px -4px #E0E0E0, 5px 5px 6px -4px #E0E0E0;
        .tab-box {
          height: 68px;
          display: flex;
          align-items: flex-end;
          .tab {
            flex: 1;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #EFEFEF;
            position: relative;
            list-style: none;
            transition: all 0.2s linear;
            &:first-child {
              border-radius: 12px 0 0 0;
              &::before {
                content: '';
                display: none;
                width: 40px;
                height: 100%;
                background: #FFFFFF;
                position: absolute;
                right: -20px;
                top: 0;
                z-index: 1;
                transform: skew(30deg);
              }
            }
            &:last-child {
              border-radius: 0 12px 0 0;
              &::before {
                content: '';
                display: none;
                width: 40px;
                height: 100%;
                background: #FFFFFF;
                position: absolute;
                left: -20px;
                top: 0;
                z-index: 1;
                transform: skew(-30deg);
              }
            }
            &.active {
              height: 68px;
              background: #FFFFFF;
              &:first-child {
                box-shadow:0px -5px 10px -5px #E0E0E0;
                &::before {
                  display: block;
                  box-shadow: 5px 0 6px -5px #E0E0E0;
                }
              }
              &:last-child {
                box-shadow:0px -5px 10px -5px #E0E0E0;
                &::before {
                  display: block;
                  box-shadow: -5px 0 6px -5px #E0E0E0;
                }
              }
              span {
                color: #333333;
              }
            }
            span {
              color: #999999;
            }
          }
        }
        .wrap-content {
          background: #FFFFFF;
          border-bottom-right-radius: 12px;
          border-bottom-left-radius: 12px;
          .list {
            &:last-child {
              &::after {
                border: 0;
              }
            }
          }
        }
      }

      .order-list {
        margin-bottom: 20px;
        .order-item {
          margin: 0 12px 20px;
          border-radius: 12px;
          box-shadow: 0 0 6px #E0E0E0;
          background: white;
          .title {
            display: flex;
            align-items: center;
            padding: 18px 24px;
            i {
              display: inline-block;
              width: 60px;
              height: 60px;
              margin-right: 14px;
              background-repeat: no-repeat;
              background-size: 100% 100%;
              background-position: center;
              .bg-img("~@/assets/images/new-version/place-order/shop-icon");
            }
            .owner-name {
              color: #000000;
              font-size: 36px;
            }
            .van-tag {
              font-size: 20px;
              height: 32px;
              margin-left: 8px;
              padding: 0 4px;
              border-radius: 6px;
            }
          }

          .goods-item {
            padding: 0 24px 30px;
            position: relative;
            >.comList {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              text-align: center;
              background: #e33240;
              color: white;
            }
            &.border-1 {
              border: 1px solid #e33240;
              border-bottom: 0;
              padding-top: 60px;
            }
            &.border-middle {
              border: 1px solid #e33240;
              border-top: 0;
              border-bottom: 0;
            }
            &.border-last {
              border: 1px solid #e33240;
              border-top: 0;
            }
            .goods-item-inner{
              display: flex;

              .goods-img {
                width: 180px;
                height: 180px;
              }

              .goods-content {
                flex: 1;
                padding-left: 24px;
                display: flex;
                flex-direction: column;

                > div {
                  color: #2e3033;

                  &:first-child {
                    font-size: 28px;
                    line-height: 36px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    word-wrap: break-word;
                    word-break: break-all;
                  }

                  &:nth-child(2) {
                    font-size: 22px;
                    padding: 15px 0;
                    color: #8e939a;
                  }

                  &.input-remark {
                    position: relative;
                    input {
                      height: 50px;
                      font-size: 26px;
                      color: #8e939a;
                    }
                    .input-word-count {
                      text-align: center;
                      position: absolute;
                      right: 7px;
                      top: 1px;
                      bottom: 1px;
                      padding-left: 7px;
                      background: #fff;
                      z-index: 1;
                      display: inline-flex;
                      align-items: flex-end;
                      color: #808695;
                      font-size: 24px;
                    }
                  }

                  &.price-module {
                    .product-number {
                      input {
                        width: 80px;
                        line-height: 36px;
                        text-align: center;
                        color: #5e6166;
                        background: rgba(200, 200, 200, 0.5);
                        border: 0;
                      }
                    }
                  }

                  &:last-child {
                    flex: 1;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;

                    > span {
                      color: #e33240;
                      font-size: 28px;

                      &:last-child {
                        padding-right: 46px;
                      }

                      > span {
                        font-size: 36px;
                      }
                    }
                  }
                }
              }
            }
          }

          .proList {
            border-bottom: 2px dashed #e33240;
            // text-align: center;
            margin: 0 20px 20px;
            >span {
              background: #e33240;
              color: white;
              display: inline-block;
              padding: 1px 6px 0;
              position: relative;
              margin-bottom: -2px;
            }
          }

          .total {
            font-size: 28px;
            color: #2e3033;
            text-align: right;
            padding: 40px 0;
            padding-right: 30px;

            > span {
              color: #e33240;
            }
          }
        }
      }

      .loading {
        margin: auto;
        width: 380px;
        height: 380px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .total-total {
    text-align: right;
    padding-right: 30px;

    > span {
      font-size: 30px;
      color: #2e3033;
      > span {
        color: #e33240;
      }
    }
  }

  .popup {
    color: #2e3033;
    font-size: 30px;
    background: rgb(245, 245, 245);
    text-align: center;

    .active {
      position: relative;
      transform: rotate(0deg);
      overflow: hidden;
      &:active {
        &::before {
          content: " ";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 1;
          background: rgba(0, 0, 0, 0.08);
        }
      }
    }

    > .popup-content > div {
      background: white;
    }

    .title {
      line-height: 96px;
      height: 96px;
      color: #8e939a;
      font-size: 26px;
      .border-1px(rgba(232, 233, 235, 1));
    }

    .select-list {
      min-height: 3 * 96px;
      max-height: 8 * 96px;
      -webkit-overflow-scrolling: touch;
      overflow: auto;

      > div {
        line-height: 96px;
        height: 96px;
        .active;
        .border-1px(rgba(232, 233, 235, 1));
      }
    }

    .button {
      .active;
      margin-top: 16px;
      line-height: 100px;
      height: 100px;
    }
  }
}

.red {
  color: #f95c5c;
}

.text-right {
  text-align: right;
}
</style>
