<template>
  <div class="receiving-address">
    <van-nav-bar
      :title="title"
      left-arrow
      :right-text="isManagement || showAdd ? '' : '管理'"
      @click-right="onClickRight"
      @click-left="onClickLeft"
    />

    <div class="content van-content" :class="{showAdd}">
      <!-- 管理页面 -->
      <div class="content-1" :class="{management, edit}">
        <div v-if="addressList&&addressList.length">
          <van-radio-group v-model="cacheAddress " @change="changeRadio">
            <div v-for="(item, index) in addressList" :key="index + 'address'" class="radio-box">
              <div>
                <!-- 左边的单选框 -->
                <van-radio :name="index">
                  <div class="add-list" @click="(e) => {if (isManagement) e.stopPropagation();}">
                    <div>
                      <span>{{item.receiverName}}</span>

                      <span>{{item.receiverPhone.replace(/^(.{3})(.+)(.{4})$/, '$1 $2 $3')}}</span>
                    </div>

                    <div>
                      <!--{{item.address}}-->
                      {{item.areaName}} {{item.detailAddress}}
                    </div>
                  </div>
                </van-radio>
              </div>

              <div class="set-default-box">
                <!-- 下边的单选框 -->
                <van-radio :name="index" @click="setDefaultAddress(item)">
                  <div class="set-default">
                    <span>{{index === cacheAddress ? '默认地址' : '设为默认地址'}}</span>

                    <span @click.stop="() => {}">
                      <span @click="modify(item,index)">编辑</span>

                      <span @click="deleteAdd(item,index)">删除</span>
                    </span>
                  </div>
                </van-radio>
              </div>
            </div>
          </van-radio-group>
        </div>
        <div class="no-data-box" v-else>
          <no-data :loading="requestLoading" url="address" text="暂无收货地址"></no-data>
        </div>
      </div>

      <!-- 新增页面 -->
      <div class="content-2">
        <div class="list">
          <div class="label">收货人</div>

          <div class="content">
            <input type="text" placeholder="请输入收货人" v-model="addAddressInfo.receiverName">
          </div>
        </div>

        <div class="list">
          <div class="label">手机号码</div>

          <div class="content">
            <input type="text" maxlength="11" placeholder="请输入手机号码" v-model="addAddressInfo.receiverPhone">
          </div>
        </div>

        <div class="list active" @click="selectCity">
          <div class="label">所在地区</div>

          <div class="content">
            <span v-if="!addAddressInfo.areaName">请选择</span>
            <span v-else style="color: #2E3033">{{addAddressInfo.areaName}}</span>
          </div>

          <div class="arrow">
            <van-icon name="arrow"/>
          </div>
        </div>

        <div class="list">
          <div class="label">详细地址</div>

          <div class="content">
            <input type="text" placeholder="街道、楼盘号等" v-model="addAddressInfo.detailAddress">
          </div>
        </div>
      </div>
    </div>

    <!-- 底部按钮 -->
    <bottom-button @on-btn="btnClick" :btns="btns"></bottom-button>

    <!-- 上拉框 -->
    <pull-up-selection
      :data="city"
      :show="showPullUpSelection"
      :loading="selectionLoading"
      :title="selectionTitle"
      @cancel="cancelSelect"
      @selected="pullUpSelected"
    ></pull-up-selection>
  </div>
</template>

<script>
import BottomButton from '@/components/bottom-button'
import PullUpSelection from '@/components/pull-up-selection'
import NoData from '@/components/no-data'
import { api } from '@/api'
import { isPhone } from '@/utils/common'

export default {
  name: 'receiving-address',
  components: {
    PullUpSelection,
    BottomButton,
    NoData
  },
  data () {
    return {
      type: '', // account为个人中心管理收货地址,否则为订单页管理收货地址
      // isMe: false,
      titleClickStatus: true,
      title: '选择收货地址',
      addressList: [],
      cacheAddress: -1,
      cacheEdit: 0,
      cacheSelect: 0,
      isManagement: false,
      management: false,
      edit: false,
      showAdd: false,
      btns: [
        {
          text: '新增收货地址',
          color: 'red'
        }
      ],
      showPullUpSelection: false,
      city: [],
      addAddressInfo: {},
      selectionTitle: '选择省份',
      requestLoading: false, // 接口请求加载动画
      selectionLoading: false // 地址选择上拉框加载状态
    }
  },
  created () {
    this.type = this.$route.query.type

    // 当前为个人中心管理收货地址
    if (this.type === 'account') {
      this.isManagement = true
      this.edit = true
      this.management = true
    }

    this._customerAddressQuery()
    this._getProvince()
  },
  watch: {
    showAdd (n) {
      this.$set(this.btns[0], 'text', n ? '保存并使用' : '新增收货地址')

      n || (this.title = this.isManagement ? '管理收货地址' : '选择收货地址')
    },
    isManagement (n) {
      this.title = n ? '管理收货地址' : '选择收货地址'
    }
  },
  methods: {
    // 设为默认地址
    setDefaultAddress (item) {
      this.addAddressInfo = item
      this.addAddressInfo.isornot = true
      this._customerAddressSave()
    },
    // 编辑
    modify (item, index) {
      // 设置原始信息
      this.title = '编辑收货地址'
      this.showAdd = true
      this.addAddressInfo = item
      // this.address = this.addAddressInfo.addressName;
    },
    // 删除
    deleteAdd (item, index) {
      this.$dialog.confirm({
        title: '提示',
        message: '确定要删除该收货地址吗？'
      }).then(() => {
        api.commonCall({ id: item.id }, 'CustomerAddressRemove').then(res => {
          if (res.success) {
            this._customerAddressQuery()
          } else {
            res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
          }
        })
      }).catch(() => {

      })
    },
    // 选择地址
    changeRadio (index) {
      // 如果当前不是管理地址
      if (!this.isManagement) {
        let query = {}

        query.addressId = this.addressList[index].id
        this.$route.query.driverId &&
          (query.driverId = this.$route.query.driverId)
        this.$route.query.changeCount &&
          (query.changeCount = this.$route.query.changeCount)
        this.$route.query.isQuickOrder &&
          (query.isQuickOrder = this.$route.query.isQuickOrder)
        this.$route.query.deliverDate &&
        (query.deliverDate = this.$route.query.deliverDate)
        this.$router.replace({
          path: this.$route.query.isZZOrder ? '/breedingPigPlaceOrder' : '/placeOrder',
          query
        })
      }
    },
    // 上拉选中
    pullUpSelected (item, index) {
      if (item.level === '001') {
        this.selectionTitle = '选择城市'
        this.addAddressInfo.areaName = ''
        this.addAddressInfo.areaName += item.name + '/'
        this.addAddressInfo.area = []
        this.addAddressInfo.area.push(item.number)
        this._getCity(item.number)
      } else if (item.level === '002') {
        this.selectionTitle = '选择区县'
        this.addAddressInfo.areaName += item.name + '/'
        this.addAddressInfo.area.push(item.number)
        this._getCounty(item.number)
      } else {
        this.addAddressInfo.areaName += item.name
        this.addAddressInfo.area.push(item.number)
        this.showPullUpSelection = false
      }
    },
    // 选择城市
    selectCity () {
      // this.addressShow = true;
      this.selectionTitle = '选择省份'
      this.showPullUpSelection = true
      this._getProvince()
    },
    // 取消选择上拉
    cancelSelect () {
      this.showPullUpSelection = false
      this.addAddressInfo.areaName = ''
    },
    btnClick (btn) {
      if (btn.text === '新增收货地址') {
        this.title = '新增收货地址'
        this.showAdd = true
        this.addAddressInfo = {}
      } else {
        this._customerAddressSave()
      }
    },
    // 管理收货地址
    onClickRight () {
      if (this.titleClickStatus) {
        this.titleClickStatus = false

        this.isManagement = true
        this.cacheSelect = this.cacheAddress

        // 控制动画
        this.management = true

        // 控制动画
        setTimeout(() => {
          this.cacheAddress = this.cacheEdit

          this.edit = true
        }, 200)

        // 限制连续点击
        setTimeout(() => {
          this.titleClickStatus = true
        }, 500)
      }
    },
    // 返回按键
    onClickLeft () {
      if (!this.showAdd) {
        // 当前为管理页
        if (this.isManagement) {
          // 当前为个人中心管理收货地址
          if (this.type === 'account') {
            this.$router.go(-1)

            // 当前为订单页管理收货地址
          } else if (this.titleClickStatus) {
            this.titleClickStatus = false

            this.isManagement = false
            this.cacheEdit = this.cacheAddress

            // 控制动画
            this.edit = false

            // 控制动画
            setTimeout(() => {
              if (this.cacheSelect !== this.cacheEdit) {
                // this.isMe = true
                this.cacheAddress = this.cacheSelect
              }
              this.management = false
            }, 300)

            // 限制连续点击
            setTimeout(() => {
              this.titleClickStatus = true
            }, 500)
          }
        } else {
          this.$router.go(-1)
        }

        // 当前为新增页
      } else {
        this.showAdd = false
      }
    },
    _customerAddressQuery () {
      this.requestLoading = true
      api.commonCall({ custNumber: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId }, 'CustomerAddressList').then(res => {
        this.requestLoading = false
        if (res.success) {
          this.addressList.splice(0, this.addressList.length, ...res.data)

          res.data.forEach((v, i) => {
            if (v.id === this.$route.query.addressId) {
              // this.isMe = true
              this.cacheAddress = i
            }
            if (!this.$route.query.addressId && v.isornot) {
              this.cacheAddress = i
            }
          })
        }
      })
    },
    _customerAddressSave () {
      if (!this.addAddressInfo.receiverName || !this.addAddressInfo.receiverName.trim()) {
        this.$toast('请输入收货人')
      } else if (!isPhone(this.addAddressInfo.receiverPhone)) {
        this.$toast('手机号码有误')
      } else if (!this.addAddressInfo.area || this.addAddressInfo.area === '[]') {
        this.$toast('请选择所在地区')
      } else if (!this.addAddressInfo.detailAddress || !this.addAddressInfo.detailAddress.trim()) {
        this.$toast('请输入详细地址')
      } else {
        const params = {
          id: this.addAddressInfo.id ? this.addAddressInfo.id : '',
          receiverName: this.addAddressInfo.receiverName, // 收货人名称
          area: this.addAddressInfo.area, // 收货地址编码
          detailAddress: this.addAddressInfo.detailAddress, // 详细地址
          receiverPhone: this.addAddressInfo.receiverPhone, // 收货人电话
          isornot: this.addAddressInfo.isornot // 是否默认
            ? this.addAddressInfo.isornot
            : false,
          custName: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerName, // 客户名称
          custNumber: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId // 客户id
        }
        api.commonCall(params, 'CusReceiverAddressSave').then(res => {
          this.requestLoading = false
          if (res.success) {
            // 重新获取列表
            this._customerAddressQuery()
            this.showAdd = false
            this.addAddressInfo = {}
          } else {
            res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
          }
        })
      }
    },

    _getProvince () {
      this.selectionLoading = true
      api.queryAddress({ level: '001' }).then(res => {
        this.selectionLoading = false
        if (res.success) {
          this.city = res.data
        }
      })
    },
    _getCity (parent) {
      this.selectionLoading = true
      api.queryAddress({ level: '002', parent: parent }).then(res => {
        this.selectionLoading = false
        if (res.success) {
          this.city = res.data
        }
      })
    },
    _getCounty (parent) {
      this.selectionLoading = true
      api.queryAddress({ level: '003', parent: parent }).then(res => {
        this.selectionLoading = false
        if (res.success) {
          this.city = res.data
        }
      })
    }
  }
}
</script>

<style scoped lang="less">
@import "~@/assets/css/mixin.less";

.receiving-address {
  background: white;

  .active {
    position: relative;
    overflow: hidden;

    &:active {
      &:after {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.08);
      }
    }
  }

  @{deep} .van-hairline--bottom {
    .van-ellipsis {
      font-size: 32px;
      color: #2e3033;
    }

    .van-nav-bar__text {
      font-size: 30px;
      color: #2e3033;
    }
  }

  > .content {
    overflow: hidden;
    position: relative;
    box-sizing: border-box;

    &.van-content {
      height: calc(100vh - 92px);
    }

    &.showAdd {
      .content-1 {
        left: -750px !important;
      }

      .content-2 {
        left: 0 !important;
      }
    }

    .content-1 {
      background: white;
      transition: background 0.2s;
      -webkit-overflow-scrolling: touch;
      overflow: auto;
      height: calc(100% - 96px);
      position: absolute;
      left: 0px;
      top: 0;
      width: 100%;
      transition: left 0.3s;

      &.management {
        background: #f5f5f5;

        .radio-box {
          > div:first-child {
            @{deep} .van-radio {
              .van-radio__icon {
                margin-left: -66px !important;
              }

              .van-radio__label {
                width: calc(100% - 24px) !important;
              }
            }
          }
        }
      }

      &.edit {
        background: #f5f5f5;

        .radio-box {
          padding-bottom: 106px !important;
        }
      }

      .radio-box {
        position: relative;
        z-index: 1;
        padding-bottom: 0;
        transition: padding-bottom 0.3s;

        .add-list {
          padding: 33px 0;
          color: #2e3033;

          > div {
            font-size: 26px;

            &:first-child {
              display: flex;
              align-items: center;
              padding-bottom: 16px;
              justify-content: space-between;

              > span {
                font-size: 28px;

                &:first-child {
                  font-size: 30px;
                }
              }
            }
          }
        }

        .set-default-box {
          height: 106px;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          z-index: -1;

          .set-default {
            line-height: 90px;
            font-size: 28px;
            color: #2e3033;
            display: flex;
            justify-content: space-between;

            > span {
              &:last-child {
                color: #428be9;

                > span {
                  &:last-child {
                    color: #f95c5c;
                    margin-left: 50px;
                  }
                }
              }
            }
          }
        }

        @{deep} .van-radio {
          background: white;
          .border-1px(rgb(232, 233, 235));

          .van-radio__label {
            transition: all 0.2s;
            width: calc(100% - 90px);
            box-sizing: border-box;
            font-size: 26px;
            color: #2e3033;
            padding-right: 24px;
          }

          .van-radio__icon {
            transition: all 0.2s;
            padding-left: 30px;

            &.van-radio__icon--checked {
              .van-icon-success {
                display: block;
                color: rgba(0, 0, 0, 0);
                border: 0;
                background-color: transparent;

                &:before {
                  content: " ";
                  display: block;
                  width: 32px;
                  height: 32px;
                  box-sizing: border-box;
                  border: 10px solid #e33240;
                  border-radius: 50%;
                }
              }
            }

            .van-icon-success {
              display: block;
              color: rgba(0, 0, 0, 0);
              border: 0;
              background-color: transparent;

              &:before {
                content: " ";
                display: block;
                width: 32px;
                height: 32px;
                border: 1px solid #c1c4ca;
                box-sizing: border-box;
                border-radius: 50%;
              }
            }
          }
        }
      }
    }

    .content-2 {
      background: white;
      position: absolute;
      top: 0;
      left: 750px;
      width: 100%;
      -webkit-overflow-scrolling: touch;
      height: calc(100% - 96px);
      overflow: auto;
      transition: left 0.3s;

      .list {
        display: flex;
        padding: 35px 24px;
        color: #2e3033;
        font-size: 28px;
        line-height: 40px;

        .content {
          flex: 1;
          text-align: right;
          input {
            text-align: right;
            margin-left: auto;
            display: block;
            border: 0;
            outline: none;

            &::-webkit-input-placeholder {
              color: #c1c4ca;
            }
          }

          > span {
            color: #c1c4ca;
          }
        }

        .arrow {
          color: #c1c4ca;
          vertical-align: middle;
          padding-left: 20px;
        }
      }
    }
  }
}
</style>
