<template>
  <div class="v4-popup-wrap"></div>
</template>

<script type="text/ecmascript-6">
export default {
  components: {},
  data () {
    return {}
  },
  mounted () {},
  methods: {}
}
</script>

<style scoped lang="less">
</style>
