<template>
  <van-tabbar v-model="active" class="tabbar-wrapper">
    <!--<van-tabbar-item icon="shop" :to="tab.router" v-for="(tab, index) in tabbarList" :key="index">-->
    <van-tabbar-item
      icon="shop"
      :to="tab.router"
      v-for="(tab, index) in tabbarList"
      :key="index"
      :badge="tab.title === '购物车' && shopCount ? shopCount: ''"
      :class="{'noinfo': !(tab.title === '购物车' && shopCount)}"
    >
      <span>{{tab.title}}</span>
      <img
        slot="icon"
        slot-scope="props"
        :src="props.active ? tab.active : tab.normal"
        class="icon"
      >
    </van-tabbar-item>
  </van-tabbar>
</template>

<script>
import { api } from '@/api'

export default {
  name: 'index',
  props: {
    activeIndex: {
      type: Number,
      default: 0
    }
  },
  data () {
    return {
      active: 0,
      tabbarList: [
        {
          title: '主页',
          normal: require('./icon_home@3x.png'),
          active: require('./icon_home_active@3x.png'),
          router: '/'
        },
        {
          title: '分类',
          normal: require('./icon_order@3x.png'),
          active: require('./icon_order_active@3x.png'),
          router: {
            path: '/goodsList'
          }
        },
        // {
        //   title: '订单',
        //   normal: require('./icon_order@3x.png'),
        //   active: require('./icon_order_active@3x.png'),
        //   router: {
        //     path: '/order',
        //     query: { index: 0, orderType: 0, businessIndex: 0, biztypeId: '' }
        //   }
        // },
        {
          title: '购物车',
          normal: require('./icon_cart@3x.png'),
          active: require('./icon_cart_active@3x.png'),
          router: '/shoppingCart'
        },
        {
          title: '我的',
          normal: require('./icon_my@3x.png'),
          active: require('./icon_my_active@3x.png'),
          router: '/membershipCenter'
        }
      ]
    }
  },
  created () {
    this.active = this.activeIndex
    // 购物车总数
    api.queryCart({ page: 1, pageSize: 999, isGetCountOnly: 1 }).then(res => {
      if (res.success) {
        this.$store.dispatch('setShoppingCartCount', res.data.count)
      }
    })
  },
  computed: {
    // 购物车数量
    shopCount () {
      return this.$store.state.shoppingCartCount
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.tabbar-wrapper {
  height: 95px;
  padding-top: 5px;
  box-shadow: 0 -1px 20px -1px #f5f5f5;
  @{deep} .van-info {
    background-color: #f44;
    z-index: 1;
  }
  .noinfo {
    @{deep} .van-info {
      border: 0;
      padding: 0;
      margin: 0;
    }
  }
  .icon {
    width: 42px;
    height: 42px;
  }
}

.van-tabbar-item {
  font-size: 24px;
}

.van-tabbar-item {
  color: #8e939a;
}

.van-tabbar-item--active {
  color: #e33240;
}
</style>
