<template>
  <div class="ws-admin-account">
    <div class="ws-header">
      <van-icon name="arrow-left" class="arrow-left" @click="_goPev"/>
    </div>
    <p class="title">{{isEnterprise === '1' ? '个人' : '企业'}}用户注册</p>
    <div class="userNumber">
      <div class="left van-left">+86
        <i class="up-inco"></i>
      </div>
      <div class="right" :class="{'redbor': select}">
        <van-field
          class="form-input"
          type="number"
          maxlength="11"
          v-model="phone"
          @focus="telNumFocus"
          @blur="telNumBlur"
          clearable
          placeholder="请输入手机号码"
        />
      </div>
    </div>
    <div class="validateNum" :class="{'redbor': selects}">
      <van-field
        class="form-input"
        maxlength="6"
        v-model="validate"
        @focus="valiFocus"
        @blur="valiBlur"
        clearable
        placeholder="请输入验证码"
      />
      <span class="valiNum" :class="{'can-not-click': isGetCodeFlag}" v-if="countdown < 1" @click="_getCode">获取验证码</span>
      <span class="time" v-if="countdown >= 1">{{countdown}}秒后重新获取</span>
    </div>
    <div class="account">
      <bottom-button :btns="[{ text: '下一步', color: 'yellow' }]" @on-btn="_goNext" :class="{'opacity': opacity}"></bottom-button>
    </div>
    <div class="com-account">
      <span class="icon" :class="isEnterprise === '1' ? 'personageIcon' : 'companyIcon'"></span>
      <span @click="_goCompany">切换{{accountText}}用户注册</span>
    </div>
    <van-dialog
      v-model="show"
      show-confirm-button
      show-cancel-button
      confirm-button-text="同意并继续"
      @cancel="_goIndex"
    >
      <div class="agreement">
        <span class="title">温氏销售平台注册协议</span>
        <div class="agree-content">
          <p class="review-tips">【审慎阅读】您在申请注册流程中点击同意前，应当认真阅读以下协议。请您务必审慎阅读、充分理解协议中相关条款内容，其中包括：</p>
          <ul>
            <li>1、与您约定免除或限制责任的条款；</li>
            <li>2、与您约定法律适用和管辖的条款；</li>
            <li>3、其他以粗体下划线标识的重要条款。</li>
            <li>如您对协议有任何疑问，可向平台客服咨询。</li>
          </ul>
          <p class="review-tips">【特别提示】当您按照注册页面提示填写信息、阅读并同意协议且完成全部注册程序后，即表示您已充分阅读、理解并接受协议的全部内容。</p>
          <span class="stop-res">阅读协议的过程中，如果您不同意相关协议或其中任何条款约定，您应立即停止注册程序。</span>
          <span class="clause" @click="_goRegisterAgreement">《温氏企业用户注册协议和隐私条款》</span>
          <p class="clause" @click="_goUndertaking">《客户经营温氏鲜活畜禽产品承诺书》</p>
        </div>
      </div>
    </van-dialog>
  </div>
</template>

<script>
import BottomButton from '@/components/bottom-button'
import { isPhone } from '@/utils/common'
import { api } from '@/api'

export default {
  name: 'account',
  components: {
    BottomButton
  },
  data () {
    return {
      phone: '',
      validate: '',
      opacity: true,
      select: false,
      selects: false,
      show: true,
      countdown: 0, // 倒数60秒计时
      params: {},
      isEnterprise: '1', // '1' - 企业，'2' - 个人
      isGetCodeFlag: false // 记录获取手机验证码请求状态
    }
  },
  computed: {
    accountText () {
      return this.isEnterprise === '1' ? '企业' : (this.isEnterprise === '2' ? '个人' : '')
    }
  },
  watch: {
    phone (val) {
      if (val === '' || this.validate === '') {
        this.opacity = true
      } else {
        this.opacity = false
      }
    },
    validate (val) {
      if (val === '' || this.phone === '') {
        this.opacity = true
      } else {
        this.opacity = false
      }
    }
  },
  created () {
    this.params = this.$route.params
    this.params.accountPhone && (this.phone = this.params.accountPhone)
    this.params.isEnterprise && (this.isEnterprise = this.params.isEnterprise)
  },
  methods: {
    telNumFocus () {
      this.select = true
    },
    telNumBlur () {
      this.select = false
    },
    valiFocus () {
      this.selects = true
    },
    valiBlur () {
      this.selects = false
    },
    _goIndex () {
      this.$router.push({ path: '/' })
    },
    _goNext () {
      if (!isPhone(this.phone)) {
        this.$toast('手机号码有误')
      } else if (!this.validate) {
        this.$toast('请输入验证码')
      } else {
        api.wsSMSValidate({ account: this.phone, smsCode: this.validate, type: 'saveCustomer' }).then(res => {
          if (res.success && (res.data && res.data.code === '01')) {
            if (!+res.data.isExist) {
              this.$router.push({
                name: 'userAccount',
                params: {
                  accountPhone: this.phone,
                  isEnterprise: this.isEnterprise
                }
              })
            } else {
              this.$toast('用户已存在')
            }
          } else {
            this.$toast((res.data && res.data.msg) || res.message || '验证失败')
          }
        })
      }
    },
    _goCompany () {
      this.isEnterprise = this.isEnterprise === '2' ? '1' : '2'
    },
    _goPev () {
      this.$router.replace({ name: 'loginRandom' })
    },
    _goRegisterAgreement () {
      this.$router.push({ name: 'registerAgreement' })
    },
    _goUndertaking () {
      this.$router.push({ name: 'undertaking' })
    },
    // 60s倒数计时函数
    _setTime () {
      if (this.countdown === 0) {
        return
      } else {
        this.countdown--
      }
      setTimeout(() => {
        this._setTime()
      }, 1000)
    },
    _getCode () {
      if (this.isGetCodeFlag) return
      this.isGetCodeFlag = true

      if (!isPhone(this.phone)) {
        this.$toast('手机号码有误')
        setTimeout(() => {
          this.isGetCodeFlag = false
        }, 1000)
      } else {
        let params = { account: this.phone, terminal: 'mobile' }

        api.wsSendSMS(params).then(res => {
          if (res.success && (res.data && res.data.success)) {
            this.$toast((res.data && res.data.msg) || '验证码已发送')
            this.countdown = +res.data.timeout || 60
            this._setTime() // 倒数计时函数
            setTimeout(() => {
              this.isGetCodeFlag = false
            }, 1000)
          } else {
            setTimeout(() => {
              this.isGetCodeFlag = false
            }, 1000)
            this.$toast((res.data && res.data.msg) || '获取验证码失败')
          }
        }, err => {
          err.message && this.$toast(err.message)
          setTimeout(() => {
            this.isGetCodeFlag = false
          }, 1000)
        })
      }
    }
  }
  // 从注册页回来，不再显示注册规则
  // beforeRouteEnter (to, from, next) {
  //   if (from.path === '/registerAgreement' || from.path === '/undertaking') {
  //     next(vm => {
  //       vm.$data.show = false
  //     })
  //   }
  //   next()
  // }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.format-img {
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.ws-admin-account {
  width: 100%;
  height: 100%;
  .ws-header {
    padding: 36px 30px;
    .arrow-left {
      font-size: 32px;
      font-weight: bold;
    }
  }
  .title {
    display: block;
    font-size: 48px;
    padding: 50px 40px 76px;
  }
  .userNumber {
    padding: 0 40px;
    display: flex;
    .left {
      width: 130px;
      font-size: 32px;
      color: #2e3033;
      padding: 24px 0;
      text-align: center;
      .border-1px(#dfe2e7);
      &.van-left {
        line-height: 48px;
      }
      .up-inco {
        display: inline-block;
        width: 15px;
        height: 10px;
        // margin-left: 30px;
        .bg-img("~@/assets/images/login/upicon");
        background-size: 100% 100%;
        vertical-align: middle;
        margin-top: -4px;
      }
    }
    .right {
      width: 100%;
      margin-left: 40px;
      .border-1px(#dfe2e7);
      &.redbor {
        .border-1px(#e33240);
      }
      .form-input {
        font-size: 32px;
        padding: 24px 0;
      }
    }
  }
  .validateNum {
    margin: 46px 40px 0;
    position: relative;
    .border-1px(#dfe2e7);
    &.redbor {
      .border-1px(#e33240);
    }
    .form-input {
      font-size: 32px;
      padding: 24px 220px 24px 0;
    }
    .valiNum {
      font-size: 28px;
      line-height: 36px;
      color: #2763CF;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -18px;
      &.can-not-click {
        color: #c8c9cc;
        cursor: not-allowed;
      }
    }
    .time {
      font-size: 28px;
      line-height: 36px;
      color: #999ea4;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -18px;
    }
  }
  .account {
    padding: 0 40px;
    margin-top: 100px;
    .login-btn {
      background: linear-gradient(
        90deg,
        rgba(255, 107, 82, 1) 0%,
        rgba(227, 50, 64, 1) 100%
      );
      font-size: 32px;
      color: #fff;
      opacity: 0.5;
      &.large-alp {
        opacity: 1;
      }
    }
    @{deep}.bottom-button {
      position: static;
      &.opacity {
        opacity: 0.5;
      }
    }
  }
  .com-account {
    padding: 50px 40px 0;
    .icon {
      display: inline-block;
      vertical-align: middle;
      margin-right: 12px;
      width: 36px;
      height: 36px;
      .format-img;
      &.personageIcon {
        .bg-img('~@/assets/images/customer-account/person');
      }
      &.companyIcon {
        .bg-img('~@/assets/images/customer-account/business');
      }
    }
    span {
      font-size: 28px;
      color: #2763CF;
    }
  }
  .agreement {
    padding: 63px 40px 70px;
    .title {
      padding: 0 0 54px;
      display: block;
      font-size: 30px;
      color: #2e3033;
      text-align: center;
      font-weight: 600;
    }
    .agree-content {
      .review-tips {
        font-size: 26px;
        line-height: 32px;
        color: #2e3033;
        font-weight: 600;
      }
      ul {
        margin-top: 40px;
        margin-bottom: 40px;
        li {
          font-size: 26px;
          line-height: 32px;
          color: #2e3033;
          &:last-child {
            margin-top: 40px;
          }
        }
      }
      .stop-res {
        display: block;
        font-size: 26px;
        line-height: 32px;
        margin-top: 40px;
      }
      .clause {
        display: block;
        font-size: 26px;
        line-height: 32px;
        color: #428be9;
        margin-top: 40px;
      }
    }
  }

  @{deep}.van-dialog {
    top: 50%;
    border-radius: 12px;
    .van-dialog__confirm {
      color: #fff;
      background: #E70113;
    }
  }
}
</style>
