<template>
  <div class="ws-admin-four-customer">
    <van-nav-bar title="选择公司" left-arrow @click-left="_goPev(1)"></van-nav-bar>

    <!-- 搜索框 -->
    <form action="">
      <van-search
        v-model="searchText"
        placeholder="请输入公司"
        :left-icon="require('@/assets/images/index-2/icon-search.svg')"
        shape="round"
        background="#FF9F00"
        @blur="search"
      ></van-search>
    </form>

    <div class="checkbox-choose">
      <van-pull-refresh v-model="isLoading" @refresh="onRefresh" v-if="orgList && orgList.length">
        <van-radio-group v-model="customerId" ref="listRef">
          <van-index-bar :index-list="indexList">
            <div v-for="(item, index) in orgGroupList" :key="index">
              <van-index-anchor :index="item.key"></van-index-anchor>
              <van-radio
                v-for="(childItem, childIndex) in item.value"
                :key="childIndex"
                :name="childItem.orgId"
                class="checkbox"
              >{{ childItem.orgName }}</van-radio>
            </div>
          </van-index-bar>
        </van-radio-group>
        <!-- <van-radio-group v-model="customerId" ref="listRef">
          <van-radio
            v-for="(item, index) in orgList"
            :key="index"
            :name="item.orgId"
            class="checkbox"
          >{{ item.orgName }}</van-radio>
        </van-radio-group> -->
      </van-pull-refresh>
      <div class="no-data-box" v-else>
        <no-data :loading="requestLoading"></no-data>
      </div>
    </div>
    <div class="choose-sure">
      <van-button size="large" class="login-btn" @click="_goPev(2)">确定</van-button>
    </div>

    <!-- 置顶悬浮按钮 -->
    <scroll-to-top-hover-btn></scroll-to-top-hover-btn>
  </div>
</template>

<script>
import NoData from '@/components/no-data'
import ScrollToTopHoverBtn from '@/components/scroll-to-top-hover-btn/index'
import { api } from '@/api'
import { scrollTop, formatDataByGroup } from '@/utils/common'

export default {
  name: 'choose-four-customer',
  components: {
    NoData,
    ScrollToTopHoverBtn
  },
  data () {
    return {
      searchText: '', // 搜索关键字
      cacheSearchText: '', // 缓存搜索关键字
      orgList: [], // 四级公司列表
      customerId: '', // 当前选中四级公司id
      fromPathName: '',
      isLoading: false, // 控制下拉刷新的加载动画
      requestLoading: false // 接口请求加载动画
    }
  },
  computed: {
    customerName () { // 当前选中四级公司名称
      if (this.customerId) {
        let findItem = this.orgList.find(v => v.orgId === this.customerId)
        return findItem ? findItem.orgName : ''
      } else {
        return ''
      }
    },
    orgGroupList () { // 分组后的四级公司列表
      let groupList = formatDataByGroup(this.orgList, 'orgFirstNumber')
      return groupList.sort((a, b) => a.key < b.key ? -1 : 1)
    },
    indexList () { // 过滤空的索引列表
      return this.orgGroupList.map(v => v.key)
    },
    orgGroupListIndex () { // 分组排序后当前选中四级公司下标
      let idxSum = 0
      for (let i = 0; i < this.orgGroupList.length; i++) {
        let itemIdx = this.orgGroupList[i].value.findIndex(v => v.orgId === this.customerId)
        if (itemIdx > -1) {
          idxSum += itemIdx
          break
        } else {
          idxSum += this.orgGroupList[i].value.length
        }
      }
      return idxSum
    }
  },
  created () {
    this.customerId = this.$route.params.customerId || ''
  },
  mounted () {
    this.queryCustomer().then(() => {
      this.$nextTick(() => {
        // 当前选中内容显示在视野中间
        if (this.$refs.listRef && this.$refs.listRef.children && this.$refs.listRef.children[this.orgGroupListIndex] && this.$refs.listRef.children[this.orgGroupListIndex].$el) {
          scrollTop(window, 0, this.$refs.listRef.children[this.orgGroupListIndex].$el.offsetTop + 90 - window.innerHeight / 2, 500)
        }
      })
    })
  },
  methods: {
    // 查询所有渠道
    queryCustomer () {
      this.requestLoading = true
      let params = {
        orgName: this.cacheSearchText, // 过滤四级公司名称
        type: this.$route.params.clientType,
        entrance: this.$route.params.entrance // 0:注册开户 1:网银代扣
      }
      return api.commonCall(params, 'queryLevle4OrgInfo').then(res => {
        this.requestLoading = false
        if (res.success) {
          let sortArr = res.data.orgList
          this.orgList = sortArr.sort((a, b) => a.orgName.localeCompare(b.orgName, 'zh'))
          // 如果接口只返回一条记录，则默认选上
          if (this.orgList && this.orgList.length === 1) {
            this.customerId = this.orgList[0].orgId
          }
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    // 下拉刷新
    onRefresh () {
      this.orgList = []
      this.customerId = ''
      this.queryCustomer()
    },
    // 搜索
    search () {
      // 如果没有修改关键字时，就不再搜索了
      if (this.searchText !== this.cacheSearchText) {
        this.orgList = []
        this.cacheSearchText = this.searchText
        this.customerId = ''
        this.queryCustomer()
      }
    },
    _goPev (index) {
      if (index === 1) {
        this.$router.replace({
          name: this.fromPathName,
          query: this.$route.query ? this.$route.query : {},
          params: this.$route.params ? this.$route.params : {}
        })
      } else if (index === 2) {
        if (this.customerId === '' || this.customerName === '') {
          this.$toast('请选择公司')
          return
        }

        let params = this.$route.params ? this.$route.params : {}
        params.customerId = this.customerId || this.$route.params.customerId
        params.customer = this.customerName || this.$route.params.customer
        this.$router.replace({
          name: this.fromPathName,
          query: this.$route.query ? this.$route.query : {},
          params: params
        })
      }
    }
  },
  // 从注册页回来，不再显示注册规则
  beforeRouteEnter (to, from, next) {
    if (from.name === null) {
      if (to.query && JSON.stringify(to.query) !== '{}') {
        next(vm => {
          vm.$router.push({ name: 'withholdAgreementAdd', query: to.query })
        })
      } else {
        next(vm => {
          vm.$router.push({ name: 'account' })
        })
      }
    }

    next(vm => {
      vm.$data.fromPathName = from.name
    })
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.ws-admin-four-customer {
  width: 100%;
  height: 100%;
  @{deep}.van-search {
    padding: 16px 30px;
    .van-search__content {
      padding-left: 28px;
      border-radius: 16px;
      background-color: #FFFFFF;
      .van-cell {
        line-height: 34px;
        .van-field__control::placeholder {
          color: #C2C2C2;
        }
      }
    }
  }

  @{deep}.van-index-bar {
    .van-index-anchor {
      background-color: #f8f8f8;
    }
  }

  .checkbox-choose {
    width: 100%;
    padding-bottom: 100px;
    .checkbox {
      padding: 40px 0;
      margin-left: 24px;
      .border-1px(#e8e9eb);
    }
  }

  .choose-sure {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    .login-btn {
      font-size: 30px;
      color: #fff;
      background: linear-gradient(
        90deg,
        rgba(255, 193, 56, 1) 0%,
        rgba(255, 162, 0, 1) 100%
      );
    }
  }
}

@{deep} .van-radio {
  .border-1px(rgb(232, 233, 235));
  padding: 40px 30px;

  .van-radio__label {
    width: calc(100% - 60px);
    font-size: 30px;
    color: #2e3033;

    .address-top {
      display: inline-block;
      width: 100%;
      text-align: right;
      padding-bottom: 10px;

      > span {
        float: left;
        font-size: 30px;
      }
    }
  }

  .van-radio__icon {
    .van-icon {
      color: rgba(0, 0, 0, 0);
      width: 32px;
      height: 32px;
      position: relative;
      border: 0;
      background-color: transparent;

      &::before,
      &::after {
        content: " ";
        display: block;
        width: 32px;
        height: 32px;
        box-sizing: border-box;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 4px;
        transition: all 0.2s;
      }

      &::before {
        border: 10px solid #e33240;
        opacity: 0;
      }

      &::after {
        border: 1px solid #c1c4ca;
        opacity: 1;
      }
    }

    &.van-radio__icon--checked {
      .van-icon-success {
        &::before {
          opacity: 1;
        }

        &::after {
          opacity: 0;
        }
      }
    }

    .van-icon-success {
      &::after {
        opacity: 1;
      }

      &::before {
        opacity: 0;
      }
    }
  }
}
</style>
