<template>
  <div class="choose-opening-bank">
    <van-nav-bar title="选择开户行" left-arrow @click-left="_goPev(1)"></van-nav-bar>

    <!-- 搜索框 -->
    <form action="">
      <van-search
        v-model="searchText"
        placeholder="请输入开户行"
        :left-icon="require('@/assets/images/index-2/icon-search.svg')"
        shape="round"
        background="#FF9F00"
        @blur="search"
      ></van-search>
    </form>

    <div class="checkbox-choose van-chose">
      <van-pull-refresh v-model="isLoading" @refresh="onRefresh" v-if="bankInfoList && bankInfoList.length">
        <van-radio-group v-model="bankId">
          <van-radio
            v-for="(item, index) in bankInfoList"
            :key="index"
            :name="item.bankId"
            class="checkbox"
          >{{ item.bankName }}</van-radio>
        </van-radio-group>
      </van-pull-refresh>
      <div class="no-data-box" v-else>
        <no-data :loading="requestLoading"></no-data>
      </div>
    </div>

    <div class="choose-sure">
      <van-button size="large" class="login-btn" @click="_goPev(2)">确定</van-button>
    </div>

    <!-- 置顶悬浮按钮 -->
    <scroll-to-top-hover-btn></scroll-to-top-hover-btn>
  </div>
</template>

<script>
import NoData from '@/components/no-data'
import ScrollToTopHoverBtn from '@/components/scroll-to-top-hover-btn/index'
import { api } from '@/api'

export default {
  name: 'choose-opening-bank',
  components: {
    NoData,
    ScrollToTopHoverBtn
  },
  data () {
    return {
      searchText: '',
      bankInfoList: [], // 开户行银行信息列表
      bankId: '', // 当前选中银行id
      fromPathName: '',
      isLoading: false, // 控制下拉刷新的加载动画
      requestLoading: false // 接口请求加载动画
    }
  },
  computed: {
    bankObj () {
      return this.bankInfoList.find(v => v.bankId === this.bankId) || {}
    },
    bankName () {
      return this.bankObj.bankName || ''
    },
    bankCollectChannel () {
      return this.bankObj.collectChannel || ''
    }
  },
  created () {
    this.$route.params.bankName && (this.bankId = this.$route.params.bankId)
    this.queryBankInfo()
  },
  methods: {
    // 查询开户行银行信息
    queryBankInfo (name = '') {
      this.requestLoading = true
      let params = {
        orgId: this.$route.params.customerId
      }
      name && (params.bankName = name)
      api.commonCall(params, 'queryBankInfo').then(res => {
        this.requestLoading = false
        if (res.success) {
          this.bankInfoList = res.data.itemList
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    // 下拉刷新
    onRefresh () {
      this.bankId = ''
      this.bankInfoList = []
      this.queryBankInfo(this.searchText)
    },
    // 搜索
    search () {
      this.bankId = ''
      this.bankInfoList = []
      this.queryBankInfo(this.searchText)
    },
    _goPev (index) {
      if (index === 1) {
        this.$router.replace({
          name: this.fromPathName,
          query: this.$route.query ? this.$route.query : {},
          params: this.$route.params ? this.$route.params : {}
        })
      } else if (index === 2) {
        if (!this.bankId || !this.bankName || !this.bankCollectChannel) {
          this.$toast('请选择开户行')
          return
        }

        let params = this.$route.params ? this.$route.params : {}
        params.bankId = this.bankId
        params.bankName = this.bankName
        params.bankCollectChannel = this.bankCollectChannel
        this.$router.replace({
          name: this.fromPathName,
          query: this.$route.query ? this.$route.query : {},
          params: params
        })
      }
    }
  },
  // 获取上一级页面路径
  beforeRouteEnter (to, from, next) {
    if (from.name === null) {
      next(vm => {
        vm.$router.push({ name: 'withholdAgreementAdd', query: to.query })
      })
    }

    next(vm => {
      vm.$data.fromPathName = from.name
    })
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.choose-opening-bank {
  width: 100%;
  height: 100%;

  @{deep}.van-search {
    padding: 16px 30px;
    .van-search__content {
      padding-left: 28px;
      border-radius: 16px;
      background-color: #FFFFFF;
      .van-cell {
        line-height: 34px;
        .van-field__control::placeholder {
          color: #C2C2C2;
        }
      }
    }
  }

  .checkbox-choose {
    width: 100%;
    padding-bottom: 100px;
    .checkbox {
      padding: 40px 0;
      margin-left: 24px;
      .border-1px(#e8e9eb);
    }
  }

  .choose-sure {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    .login-btn {
      font-size: 30px;
      color: #fff;
      background: linear-gradient(
        90deg,
        rgba(255, 193, 56, 1) 0%,
        rgba(255, 162, 0, 1) 100%
      );
    }
  }
}

@{deep} .van-radio {
  .border-1px(rgb(232, 233, 235));
  padding: 40px 30px;

  .van-radio__label {
    width: calc(100% - 60px);
    font-size: 30px;
    color: #2e3033;

    .address-top {
      display: inline-block;
      width: 100%;
      text-align: right;
      padding-bottom: 10px;

      > span {
        float: left;
        font-size: 30px;
      }
    }
  }

  .van-radio__icon {
    .van-icon {
      color: rgba(0, 0, 0, 0);
      width: 32px;
      height: 32px;
      position: relative;
      border: 0;
      background-color: transparent;

      &::before,
      &::after {
        content: " ";
        display: block;
        width: 32px;
        height: 32px;
        box-sizing: border-box;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 4px;
        transition: all 0.2s;
      }

      &::before {
        border: 10px solid #e33240;
        opacity: 0;
      }

      &::after {
        border: 1px solid #c1c4ca;
        opacity: 1;
      }
    }

    &.van-radio__icon--checked {
      .van-icon-success {
        &::before {
          opacity: 1;
        }

        &::after {
          opacity: 0;
        }
      }
    }

    .van-icon-success {
      &::after {
        opacity: 1;
      }

      &::before {
        opacity: 0;
      }
    }
  }
}
</style>
