<template>
  <div class="ws-undertaking">
    <div class="ws-header">
      <van-icon name="arrow-left" class="arrow-left" @click="_goPev"/>
    </div>
    <div class="text">
      为保护温氏食品集团股份有限公司及其下属分公司以及合作客户的共同利益，保证温氏鲜活畜禽产品质量安全，使经营行为符合法律法规的要求，本人郑重承诺：
      <br /><br />
      一、不用其他鲜活畜禽产品冒充温氏鲜活畜禽产品销售。
      <br /><br />
      二、不使用温氏鲜活畜禽产品顶替其他鲜活畜禽产品送检测部门检测。
      <br /><br />
      三、不得购买或者仿冒温氏产品标识、温氏检疫证明进行假冒行为。
      <br /><br />
      四、购买温氏鲜活畜禽产品后在销售前不使用兽药和含有药物的饲料。
      <br /><br />
      若违反上述承诺，本人愿意接受温氏食品集团股份有限公司取消销售基金奖励处理、停止合作，并承担相应经济损失与法律责任。
      <br/><br/>
      分公司：____________  &nbsp;&nbsp;承诺客户：____________
      <br/><br/>
      代表人：____________  &nbsp;&nbsp;身份证号码：____________
      <br/><br/>
      经营地址：____________
      <br/><br/>
      年 月 日 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 年 月 日
    </div>
  </div>
</template>
<script>
export default {
  name: 'undertaking',
  methods: {
    _goPev () {
      this.$router.go(-1)
    }
  }
}
</script>

<style lang="less" scoped>
.ws-undertaking {
  width: 100%;
  height: 100%;
  .ws-header {
    padding: 36px 30px;
    .arrow-left {
      font-size: 32px;
      font-weight: bold;
    }
  }
  .text{
    padding: 20px 30px;
  }
}
</style>
