<template>
  <div class="ws-admin-register-personal-info">
    <van-nav-bar title="用户开户" left-arrow @click-left="_goPev"></van-nav-bar>

    <!-- 信息填写 -->
    <div class="form-content" v-if="step === 1">
      <div class="form-box">
        <div class="form-item">
          <span class="desc">请选择对应的公司 <span class="must">*</span></span>
          <van-field
            class="form-input"
            v-model="customer"
            readonly
            placeholder="请选择对应的公司"
            right-icon="arrow"
            @click="_goFourCustomer"
          />
        </div>
        <div class="form-item" v-if="isEnterprise === '2'">
          <span class="desc">公司名称 <span class="must">*</span></span>
          <van-field
            maxlength="50"
            class="form-input"
            v-model="customerName"
            placeholder="请输入公司名称"
          />
        </div>
        <div class="form-item up-load">
          <span class="desc">身份证（头像）面照片 <span class="must">*</span></span>
          <van-uploader
            v-model="previewUploadImg1"
            accept="image/*"
            :max-count="1"
            :before-read="beforeRead1"
            :after-read="afterRead1"
            :before-delete="beforeDelete1"
          >
            <i class="addFront"></i>
          </van-uploader>
          <p class="upload-desc">请确保照片清晰可辩认，限制每个10MB以内，仅支持：jpg,png,jpeg</p>

          <span class="desc">身份证（国徽）面照片 <span class="must">*</span></span>
          <van-uploader
            v-model="previewUploadImg2"
            accept="image/*"
            :max-count="1"
            :before-read="beforeRead2"
            :after-read="afterRead2"
            :before-delete="beforeDelete2"
          >
            <i class="addBack"></i>
          </van-uploader>
          <p class="upload-desc">请确保照片清晰可辩认，限制每个10MB以内，仅支持：jpg,png,jpeg</p>
        </div>
        <div class="form-item">
          <span class="desc">姓名 <span class="must">*</span></span>
          <van-field
            class="form-input"
            v-model="userName"
            placeholder="请输入姓名"
            maxlength="30"
            :disabled="!!registerId"
          />
        </div>
        <div class="form-item">
          <span class="desc">身份证号码 <span class="must">*</span></span>
          <van-field
            class="form-input"
            maxlength="18"
            v-model="idcard"
            placeholder="请输入身份证号码"
            :disabled="!!registerId"
            @input.native="idcard = idcard.replace(/[^0-9A-Z]/g, '')"
          />
        </div>
        <div class="form-item">
          <v-box title="身份证地址" required is-link :disabled="!!registerId" @rightClick="selectCity(1)">
            <div class="v-select-wrap" :class="[{'placeholder': !cardAddress1}, {'disabled': !!registerId}]">{{cardAddress1 || '请选择省/市/区'}}</div>
          </v-box>
          <van-field
            class="form-input"
            v-model="cardAddress2"
            placeholder="请输入详细地址"
            maxlength="50"
            :disabled="!!registerId"
          />
        </div>
        <div class="form-item up-load">
          <span class="desc">营业执照照片</span>
          <van-uploader
            v-model="previewUploadImg3"
            accept="image/*"
            :max-count="1"
            :before-read="beforeRead3"
            :after-read="afterRead3"
            :before-delete="beforeDelete3"
          >
            <i class="addLicense"></i>
          </van-uploader>
          <p class="upload-desc">请确保照片清晰可辩认，限制每个10MB以内，仅支持：jpg,png,jpeg</p>

          <span class="desc">经营场所照片</span>
          <van-uploader
            v-model="previewUploadImg4"
            accept="image/*"
            :max-count="1"
            :before-read="beforeRead4"
            :after-read="afterRead4"
            :before-delete="beforeDelete4"
          >
            <i class="addPremises"></i>
          </van-uploader>
          <p class="upload-desc">请确保照片清晰可辩认，限制每个10MB以内，仅支持：jpg,png,jpeg</p>

          <p class="hint"><span class="must">*</span>注：“营业执照照片”或“经营场所照片”，请必须上传其中至少一项。</p>
        </div>
        <div class="form-item">
          <span class="desc">营业执照统一社会信用代码</span>
          <van-field
            maxlength="18"
            class="form-input"
            v-model="businessNumber"
            placeholder="请输入营业执照统一社会信用代码"
            @input.native="businessNumber = businessNumber.replace(/[^0-9A-Z]/g, '')"
          />
        </div>
        <div class="form-item">
          <v-box title="经营地址" required is-link @rightClick="selectCity(2)">
            <div class="v-select-wrap" :class="{'placeholder': !businessAddress1}">{{businessAddress1 || '请选择省/市/区'}}</div>
          </v-box>
          <van-field
            class="form-input"
            v-model="businessAddress2"
            placeholder="请输入详细地址"
            maxlength="50"
          />
        </div>
        <div class="form-item no-border-bottom">
          <p class="desc">经营性质 <span class="must">*</span></p>
          <van-radio-group v-model="businessType">
            <van-radio name="批发">批发</van-radio>
            <van-radio name="零售">零售</van-radio>
            <van-radio name="中介">中介</van-radio>
          </van-radio-group>
        </div>
        <div class="form-item">
          <span class="desc">主要销售区域</span>
          <van-field
            class="form-input"
            v-model="salesTerritory"
            placeholder="请输入主要销售区域"
            maxlength="50"
          />
        </div>
        <div class="form-item" v-if="varietyByOrgInfo && varietyByOrgInfo.length">
          <p class="desc">经营品种 <span class="must">*</span></p>
          <van-checkbox-group v-model="businessLines" direction="horizontal">
            <van-checkbox v-for="(item, index) in varietyByOrgInfo" :key="'checkbox_' + index" :name="item.itemName">{{item.itemName}}</van-checkbox>
          </van-checkbox-group>
        </div>
        <div class="form-item">
          <span class="desc">预计月销售量</span>
          <van-field
            type="number"
            class="form-input"
            v-model="monthlySales"
            placeholder="请输入预计月销售量"
            @blur="_isAllNumber"
            maxlength="50"
          />
        </div>
        <div class="form-item">
          <span class="desc">介绍人姓名</span>
          <van-field
            class="form-input"
            v-model="introducerName"
            placeholder="介绍人姓名，如没有可填“无”"
            maxlength="30"
          />
        </div>
        <div class="form-item">
          <span class="desc">备注</span>
          <van-field
            class="form-input"
            v-model="remark"
            rows="2"
            autosize
            type="textarea"
            placeholder="请输入备注"
            maxlength="200"
          />
        </div>
      </div>
      <bottom-button :btns="[{ text: '下一步', color: 'red' }]" @on-btn="_goAuditing" :class="{'opacity': opacity}"></bottom-button>
    </div>

    <!-- 注册完成 -->
    <div class="content-2" v-else-if="step === 2">
      <div class="account-finish">
        <p class="title">注册完成</p>
        <p>亲爱的客户您好，您已经完成注册，请等待管理员审核！</p>
        <div class="icon"></div>
        <p>页面将在<span>{{countdown}}秒</span>后跳转到温氏商城首页，谢谢！</p>
      </div>
    </div>

    <!-- 上拉框 -->
    <pull-up-selection
      :data="city"
      :show="showRegion"
      :loading="selectionLoading"
      :title="selectionTitle"
      recordScrollPosition
      @cancel="cancelSelect"
      @selected="pullUpSelected"
    ></pull-up-selection>
  </div>
</template>

<script>
import BottomButton from '@/components/bottom-button'
import VBox from '@/components/vbox/vbox'
import PullUpSelection from '@/components/pull-up-selection'
import { allImgDomainNameMixin } from '@/assets/js/mixin'
import { api } from '@/api'
import { checkIDCard, checkUSCC, _debounce, imageCompression } from '@/utils/common'

export default {
  name: 'user-account',
  mixins: [allImgDomainNameMixin],
  components: {
    BottomButton,
    VBox,
    PullUpSelection
  },
  data () {
    return {
      step: 1, // 1 - 填写信息，2 - 注册完成
      customer: '', // 四级公司
      customerId: '', // 四级公司id
      customerName: '', // 公司名称
      idcard: '',
      opacity: true,
      imgUrl1: '',
      previewUploadImg1: [], // 上传图片预览
      imgUrl2: '',
      previewUploadImg2: [], // 上传图片预览
      imgUrl3: '',
      previewUploadImg3: [], // 上传图片预览
      imgUrl4: '',
      previewUploadImg4: [], // 上传图片预览
      params: {},
      varietyByOrgInfo: [],
      city: [],
      showRegion: false,
      selectionTitle: '',
      addressIndex: 1,
      userName: '',
      cardAddress1: '', // 身份证地址-省-市
      cardAddress2: '', // 身份证地址街道门牌号
      cardAddressList: [],
      businessAddress1: '', // 经营地址-省-市
      businessAddress2: '', // 经营地址街道门牌号
      businessAddressList: [],
      businessNumber: '', // 营业执照统一社会信用代码
      businessType: '', // 经营性质
      salesTerritory: '', // 销售区域
      businessLines: [], // 经营品种
      monthlySales: 0, // 月销售量
      introducerName: '', // 介绍人姓名
      remark: '', // 备注
      isEnterprise: '1', // 1: 个人开户 2：企业开户
      accountPhone: '', // 注册手机号
      countdown: 6, // 倒计时5秒
      isSubmitFlag: false, // 记录提交状态
      selectionLoading: false, // 地址选择上拉框加载状态
      registerId: '', // 开户被驳回返回的注册id
      clientType: '' // 客户分类 A：种猪客户 B：毛禽客户 C: 毛猪客户
    }
  },
  watch: {
    customer (val) {
      this.isOpacity()
    },
    idcard (val) {
      this.isOpacity()
    },
    imgUrl1 (val) {
      this.isOpacity()
    },
    imgUrl2 (val) {
      this.isOpacity()
    },
    customerName () {
      this.isOpacity()
    },
    userName () {
      this.isOpacity()
    },
    cardAddress1 () {
      this.isOpacity()
    },
    cardAddress2 () {
      this.isOpacity()
    },
    imgUrl3 () {
      this.isOpacity()
    },
    imgUrl4 () {
      this.isOpacity()
    },
    businessNumber () {
      this.isOpacity()
    },
    businessAddress1 () {
      this.isOpacity()
    },
    businessAddress2 () {
      this.isOpacity()
    },
    businessType () {
      this.isOpacity()
    },
    businessLines () {
      this.isOpacity()
    }
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      if (from.path === '/account') {
        vm.getCustomerInfo()
      }
    })
  },
  created () {
    this.params = this.$route.params

    if (!this.params.accountPhone || !this.params.isEnterprise || !this.params.clientType) {
      this.$router.replace({ name: 'account' })
      return
    }

    this.params.imgUrl1 && (this.imgUrl1 = this.params.imgUrl1)
    this.params.imgUrl2 && (this.imgUrl2 = this.params.imgUrl2)
    this.params.imgUrl3 && (this.imgUrl3 = this.params.imgUrl3)
    this.params.imgUrl4 && (this.imgUrl4 = this.params.imgUrl4)
    this.imgUrl1 && this.previewUploadImg1.push({ url: this.allImgDomainName + this.imgUrl1 })
    this.imgUrl2 && this.previewUploadImg2.push({ url: this.allImgDomainName + this.imgUrl2 })
    this.imgUrl3 && this.previewUploadImg3.push({ url: this.allImgDomainName + this.imgUrl3 })
    this.imgUrl4 && this.previewUploadImg4.push({ url: this.allImgDomainName + this.imgUrl4 })
    this.params.isEnterprise && (this.isEnterprise = this.params.isEnterprise)
    this.params.accountPhone && (this.accountPhone = this.params.accountPhone)
    this.params.idcard && (this.idcard = this.params.idcard)
    this.params.userName && (this.userName = this.params.userName)
    this.params.cardAddress1 && (this.cardAddress1 = this.params.cardAddress1)
    this.params.cardAddressList && (this.cardAddressList = this.params.cardAddressList)
    this.params.cardAddress2 && (this.cardAddress2 = this.params.cardAddress2)
    this.params.businessAddress1 && (this.businessAddress1 = this.params.businessAddress1)
    this.params.businessAddressList && (this.businessAddressList = this.params.businessAddressList)
    this.params.businessAddress2 && (this.businessAddress2 = this.params.businessAddress2)
    this.params.businessNumber && (this.businessNumber = this.params.businessNumber)
    this.params.businessType && (this.businessType = this.params.businessType)
    this.params.salesTerritory && (this.salesTerritory = this.params.salesTerritory)
    this.params.businessLines && (this.businessLines = this.params.businessLines)
    this.params.monthlySales && (this.monthlySales = this.params.monthlySales)
    this.params.introducerName && (this.introducerName = this.params.introducerName)
    this.params.remark && (this.remark = this.params.remark)
    this.params.customer && (this.customer = this.params.customer)
    this.params.customerId && (this.customerId = this.params.customerId)
    this.params.customerName && (this.customerName = this.params.customerName)
    this.params.clientType && (this.clientType = this.params.clientType)
    if (this.customerId) {
      this.getVarietyByOrgInfo(this.customerId)
    }
    this.params.registerId && (this.registerId = this.params.registerId)
    this.queryCustomer()
  },
  methods: {
    // 上传图片
    _uploadImage (file, img, e) {
      // 传递一个 FormData 对象
      // let formData = new FormData()
      // 'file' 可变 相当于 input 表单的name 属性
      // formData.append('file', file)
      api.uploadImage(file, res => {
        if (res.success) {
          this[img] = res.data[0]
          e.status = 'done'
        } else {
          e.status = 'failed'
          e.message = '上传失败'
          this.$toast.fail(res.msg || '上传图片失败')
        }
      })
    },
    _uploadImage2 (file, img, e) {
      // 传递一个 FormData 对象
      // let formData = new FormData()
      // 'file' 可变 相当于 input 表单的name 属性
      // formData.append('file', file)
      return new Promise((resolve, reject) => {
        api.uploadImage(file, res => {
          if (res.success) {
            this[img] = res.data[0]
            resolve(true)
          } else {
            this.$toast.fail(res.msg || '上传图片失败')
            resolve(false)
          }
        })
      })
    },
    beforeRead1 (file) {
      if (file.type !== 'image/jpeg' && file.type !== 'image/jpg' && file.type !== 'image/png') {
        this.$toast('请上传图片格式文件')
        return false
      }
      return true
    },
    afterRead1 (e) {
      let file = e.file
      e.status = 'uploading'
      e.message = '上传中...'
      this._uploadImage2(file, 'imgUrl1', e).then(isSuccess => {
        if (isSuccess) {
          if (!this.registerId) { // 如果未注册
            // 身份证识别
            imageCompression(file, compressedBase64 => {
              if (compressedBase64) {
                this.getIdCardOcr(compressedBase64.split('base64,')[1], 'front').then(result => {
                  e.status = 'done'
                  result.name && (this.userName = result.name)
                  result.cardNo && (this.idcard = result.cardNo)
                  if (result.address) {
                    let address = result.address
                    let provinceIndex = -1
                    let proKeywords = ['省', '自治区', '特别行政区', '北京市', '上海市', '天津市', '重庆市', '广西', '内蒙古', '宁夏', '新疆', '西藏']
                    for (let i = 0; i < proKeywords.length; i++) {
                      if (address.indexOf(proKeywords[i]) > -1) {
                        provinceIndex = address.indexOf(proKeywords[i]) + proKeywords[i].length
                        break
                      }
                    }
                    let province = address.substring(0, provinceIndex)
                    province && (address = address.substring(provinceIndex, address.length))
                    let city = address.substring(0, address.indexOf('市'))
                    city && (address = address.substring(address.indexOf('市') + 1, address.length))
                    let country = address.substring(0, address.indexOf('区') > -1 ? address.indexOf('区') : address.indexOf('县'))
                    country && (address = address.substring(address.indexOf('区') > -1 ? address.indexOf('区') + 1 : address.indexOf('县') + 1, address.length))
                    let detailAdd = address
                    this.setCardAddress(province, city, country, detailAdd)
                  }
                  if (result.name || result.cardNo || result.address) {
                    this.$toast({
                      duration: 4000, // 展示时长
                      message: '请核对您的身份证信息是否一致'
                    })
                  }
                }).catch(() => {
                  e.status = 'done'
                })
              } else {
                e.status = 'done'
              }
            })
          } else {
            e.status = 'done'
          }
        } else {
          e.status = 'failed'
          e.message = '上传失败'
        }
      })
    },
    beforeDelete1 () {
      if (this.imgUrl1) {
        this.imgUrl1 = ''
      }
      return true
    },
    beforeRead2 (file) {
      if (file.type !== 'image/jpeg' && file.type !== 'image/jpg' && file.type !== 'image/png') {
        this.$toast('请上传图片格式文件')
        return false
      }
      return true
    },
    afterRead2 (e) {
      let file = e.file
      e.status = 'uploading'
      e.message = '上传中...'
      this._uploadImage(file, 'imgUrl2', e)
    },
    beforeDelete2 () {
      if (this.imgUrl2) {
        this.imgUrl2 = ''
      }
      return true
    },
    beforeRead3 (file) {
      if (file.type !== 'image/jpeg' && file.type !== 'image/jpg' && file.type !== 'image/png') {
        this.$toast('请上传图片格式文件')
        return false
      }
      return true
    },
    afterRead3 (e) {
      let file = e.file
      e.status = 'uploading'
      e.message = '上传中...'
      this._uploadImage2(file, 'imgUrl3', e).then(isSuccess => {
        if (isSuccess) {
          // 营业执照识别
          imageCompression(file, compressedBase64 => {
            if (compressedBase64) {
              this.getBusinessLicenceOcr(compressedBase64.split('base64,')[1]).then(result => {
                e.status = 'done'
                result.uniCode && (this.businessNumber = result.uniCode)
                if (result.address) {
                  let address = result.address
                  let provinceIndex = -1
                  let proKeywords = ['省', '自治区', '特别行政区', '北京市', '上海市', '天津市', '重庆市', '广西', '内蒙古', '宁夏', '新疆', '西藏']
                  for (let i = 0; i < proKeywords.length; i++) {
                    if (address.indexOf(proKeywords[i]) > -1) {
                      provinceIndex = address.indexOf(proKeywords[i]) + proKeywords[i].length
                      break
                    }
                  }
                  let province = address.substring(0, provinceIndex)
                  province && (address = address.substring(provinceIndex, address.length))
                  let city = address.substring(0, address.indexOf('市'))
                  city && (address = address.substring(address.indexOf('市') + 1, address.length))
                  let country = address.substring(0, address.indexOf('区') > -1 ? address.indexOf('区') : address.indexOf('县'))
                  country && (address = address.substring(address.indexOf('区') > -1 ? address.indexOf('区') + 1 : address.indexOf('县') + 1, address.length))
                  let detailAdd = address
                  this.setBusinessAddress(province, city, country, detailAdd)
                }
                if (result.uniCode || result.address) {
                  this.$toast({
                    duration: 4000, // 展示时长
                    message: '请核对您的营业执照信息是否一致'
                  })
                }
              }).catch(() => {
                e.status = 'done'
              })
            } else {
              e.status = 'done'
            }
          })
        } else {
          e.status = 'failed'
          e.message = '上传失败'
        }
      })
    },
    beforeDelete3 () {
      if (this.imgUrl3) {
        this.imgUrl3 = ''
      }
      return true
    },
    beforeRead4 (file) {
      if (file.type !== 'image/jpeg' && file.type !== 'image/jpg' && file.type !== 'image/png') {
        this.$toast('请上传图片格式文件')
        return false
      }
      return true
    },
    afterRead4 (e) {
      let file = e.file
      e.status = 'uploading'
      e.message = '上传中...'
      this._uploadImage(file, 'imgUrl4', e)
    },
    beforeDelete4 () {
      if (this.imgUrl4) {
        this.imgUrl4 = ''
      }
      return true
    },
    _closeOne () {
      this.imgUrl1 = ''
    },
    _closeTwo () {
      this.imgUrl2 = ''
    },
    _closeThree () {
      this.imgUrl3 = ''
    },
    _closeFour () {
      this.imgUrl4 = ''
    },
    _goFourCustomer () {
      let params = this._setParams()
      this.$router.replace({
        name: 'chooseFourCustomer',
        params: params
      })
    },
    _setParams () {
      let params = this.params
      params.customer = this.customer
      params.customerId = this.customerId
      params.customerName = this.customerName
      params.isEnterprise = this.isEnterprise
      params.accountPhone = this.accountPhone
      params.idcard = this.idcard
      params.imgUrl1 = this.imgUrl1
      params.imgUrl2 = this.imgUrl2
      params.imgUrl3 = this.imgUrl3
      params.imgUrl4 = this.imgUrl4
      params.userName = this.userName
      params.cardAddress1 = this.cardAddress1
      params.cardAddressList = this.cardAddressList
      params.cardAddress2 = this.cardAddress2
      params.businessAddress1 = this.businessAddress1
      params.businessAddressList = this.businessAddressList
      params.businessAddress2 = this.businessAddress2
      params.businessNumber = this.businessNumber
      params.businessType = this.businessType
      params.salesTerritory = this.salesTerritory
      params.businessLines = this.businessLines
      params.monthlySales = this.monthlySales
      params.introducerName = this.introducerName
      params.remark = this.remark
      params.registerId = this.registerId
      params.clientType = this.clientType
      params.entrance = '0'
      return params
    },
    // 检查月销量是否为大于等于0的正整数
    _isAllNumber () {
      if (this.monthlySales < 0) {
        this.monthlySales = 0
      } else {
        this.monthlySales = this.monthlySales ? Math.round(this.monthlySales) : this.monthlySales
      }
    },
    _goAuditing: _debounce(function () {
      if (this.isSubmitFlag) return
      this.isSubmitFlag = true
      if (!this.customer) {
        this.$toast('请选择公司')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (this.isEnterprise === '2' && (!this.customerName || !this.customerName.trim())) {
        this.$toast('请填写公司名称')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (!this.imgUrl1) {
        this.$toast('请上传身份证正面照片')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (!this.imgUrl2) {
        this.$toast('请上传身份证反面照片')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (!this.userName || !this.userName.trim()) {
        this.$toast('请填写姓名')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (!this.idcard) {
        this.$toast('请填写身份证号码')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (!this.registerId && !checkIDCard(this.idcard)) {
        this.$toast('请填写正确的身份证号码')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (!this.cardAddress1) {
        this.$toast('请选择身份证地址')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (!this.cardAddress2 || !this.cardAddress2.trim()) {
        this.$toast('请填写详细的身份证地址')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (!this.imgUrl3 && !this.imgUrl4) {
        this.$toast('请上传“营业执照照片”或“经营场所照片”中的至少一项')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (this.businessNumber && !checkUSCC(this.businessNumber)) {
        this.$toast('请填写正确的营业执照统一社会信用代码')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (!this.businessAddress1) {
        this.$toast('请选择经营地址')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (!this.businessAddress2 || !this.businessAddress2.trim()) {
        this.$toast('请填写详细的经营地址')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (!this.businessType) {
        this.$toast('请选择经营性质')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (this.varietyByOrgInfo && this.varietyByOrgInfo.length && !this.businessLines.length) {
        this.$toast('请选择经营品种')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else {
        let params = {
          phone: this.accountPhone,
          ownerId: this.customerId,
          customerType: this.isEnterprise === '1' ? 'CT01' : 'CT02',
          ownerName: this.customerName,
          obImg: this.imgUrl1,
          reImg: this.imgUrl2,
          customerName: this.userName,
          idCard: this.idcard,
          idcardArea: this.cardAddressList,
          idcardAddress: this.cardAddress2,
          blImg: this.imgUrl3,
          businessImg: this.imgUrl4,
          blNumber: this.businessNumber, // 经营执照号，工商登记号，税务登记号，三证合一
          businessNumber: this.businessNumber,
          taxNumber: this.businessNumber,
          manageArea: this.businessAddressList,
          manageAddress: this.businessAddress2,
          nature: this.businessType, // 经营性质
          saleArea: this.salesTerritory,
          variety: this.businessLines.toString(),
          monthlySale: this.monthlySales ? this.monthlySales + '' : '0',
          introducerName: this.introducerName,
          remark: this.remark,
          id: this.registerId,
          classify: this.clientType // 客户类型
        }
        api.saveCustomerInfo(params).then(res => {
          if (res.success) {
            this.step = 2
            this._setCountdown()
            setTimeout(() => {
              this.isSubmitFlag = false
            }, 1000)
          } else {
            setTimeout(() => {
              this.isSubmitFlag = false
            }, 1000)
            res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
          }
        })
      }
    }, 500),
    _goPev () {
      let params = this._setParams()
      this.$router.replace({
        name: 'account',
        params: params
      })
    },
    toggle (index) {
      this.$refs.checkboxes[index].toggle()
    },
    // 查询经营品种
    getVarietyByOrgInfo (orgId) {
      let params = {
        orgId: orgId
      }
      api.commonCall(params, 'queryVarietyByOrgInfo').then(res => {
        if (res.success) {
          this.varietyByOrgInfo = res.data.itemList
        }
      })
    },
    // 取消选择上拉
    cancelSelect () {
      this.showRegion = false
      if (this.addressIndex === 1) {
        this.cardAddress1 = ''
        this.cardAddressList = []
      } else {
        this.businessAddress1 = ''
        this.businessAddressList = []
      }
    },
    // 选择城市
    selectCity (index) {
      this.selectionTitle = '选择省份'
      this.showRegion = true
      this.addressIndex = index
      this._getProvince()
    },
    // 上拉选中
    pullUpSelected (item, index, type) {
      if (item.level === '001') {
        if (this.addressIndex === 1) {
          this.cardAddress1 = ''
          this.cardAddressList = []
          this.cardAddress1 += item.name + '/'
          this.cardAddressList.push(item.number)
        } else {
          this.businessAddress1 = ''
          this.businessAddressList = []
          this.businessAddress1 += item.name + '/'
          this.businessAddressList.push(item.number)
        }
        this.selectionTitle = '选择城市'
        this._getCity(item.number)
      } else if (item.level === '002') {
        if (this.addressIndex === 1) {
          this.cardAddress1 += item.name + '/'
          this.cardAddressList.push(item.number)
        } else {
          this.businessAddress1 += item.name + '/'
          this.businessAddressList.push(item.number)
        }
        this.selectionTitle = '选择区县'
        this._getCounty(item.number)
      } else if (item.level === '003') {
        if (this.addressIndex === 1) {
          this.cardAddress1 += item.name
          this.cardAddressList.push(item.number)
        } else {
          this.businessAddress1 += item.name
          this.businessAddressList.push(item.number)
        }
        this.showRegion = false
      }
    },
    _getProvince () {
      this.selectionLoading = true
      return new Promise(resolve => {
        api.queryAddress({ level: '001' }).then(res => {
          this.selectionLoading = false
          if (res.success) {
            this.city = res.data
          }
          resolve()
        })
      })
    },
    _getCity (parent) {
      this.selectionLoading = true
      return new Promise(resolve => {
        api.queryAddress({ level: '002', parent: parent }).then(res => {
          this.selectionLoading = false
          if (res.success) {
            this.city = res.data
          }
          resolve()
        })
      })
    },
    _getCounty (parent) {
      this.selectionLoading = true
      return new Promise(resolve => {
        api.queryAddress({ level: '003', parent: parent }).then(res => {
          this.selectionLoading = false
          if (res.success) {
            this.city = res.data
          }
          resolve()
        })
      })
    },
    isOpacity () {
      if (
        (this.isEnterprise === '2' && this.customerName === '') ||
        this.customer === '' ||
        this.imgUrl1 === '' ||
        this.imgUrl2 === '' ||
        this.userName === '' ||
        this.idcard === '' ||
        this.cardAddress1 === '' ||
        this.cardAddress2 === '' ||
        this.businessAddress1 === '' ||
        this.businessAddress2 === '' ||
        this.businessType === '' ||
        (this.imgUrl3 === '' && this.imgUrl4 === '') ||
        (this.varietyByOrgInfo && this.varietyByOrgInfo.length && this.businessLines === [])
      ) {
        this.opacity = true
      } else {
        this.opacity = false
      }
    },
    // 5s倒数计时函数
    _setCountdown () {
      if (this.countdown === 0) {
        this.$router.replace({ path: '/' })
        return
      } else {
        this.countdown--
      }
      setTimeout(() => {
        this._setCountdown()
      }, 1000)
    },
    // 根据手机号获取上次客户注册时保存的信息
    getCustomerInfo () {
      let params = {
        phone: this.params.accountPhone
      }
      api.commonCall(params, 'queryCustomerInfo').then(res => {
        if (res.success) {
          if (JSON.stringify(res.data) !== '{}') {
            this.registerId = res.data.id || ''
            this.customer = res.data.orgName || ''
            this.customerId = res.data.orgId || ''
            this.customerName = res.data.ownerName || ''
            this.idcard = res.data.idcard || ''
            this.userName = res.data.customerName || ''
            this.cardAddress1 = res.data.idcardAreaName || ''
            this.cardAddressList = res.data.idcardAreaNameNumber || []
            this.cardAddress2 = res.data.idcardAddress || ''
            this.clientType = res.data.classify || ''
            if (res.data.obImg) {
              this.imgUrl1 = res.data.obImg
              this.previewUploadImg1.push({ url: this.allImgDomainName + res.data.obImg })
            }
            if (res.data.reImg) {
              this.imgUrl2 = res.data.reImg
              this.previewUploadImg2.push({ url: this.allImgDomainName + res.data.reImg })
            }
            if (res.data.blImg) {
              this.imgUrl3 = res.data.blImg
              this.previewUploadImg3.push({ url: this.allImgDomainName + res.data.blImg })
            }
            if (res.data.businessImg) {
              this.imgUrl4 = res.data.businessImg
              this.previewUploadImg4.push({ url: this.allImgDomainName + res.data.businessImg })
            }
            this.businessNumber = res.data.blNumber || ''
            this.businessAddress1 = res.data.manageAreaName || ''
            this.businessAddressList = res.data.manageAreaNameNumber || []
            this.businessAddress2 = res.data.manageAddress || ''
            this.businessType = res.data.nature || ''
            this.salesTerritory = res.data.saleArea || ''
            this.businessLines = (res.data.variety && res.data.variety.split(',')) || []
            this.monthlySales = res.data.monthlySale || 0
            this.remark = res.data.remark || ''
            this.varietyByOrgInfo = res.data.itemList || []
            this.introducerName = res.data.introducerName || ''
          }
        }
      })
    },
    // 设置身份证地址
    async setCardAddress (pro, cit, cou, det) {
      await this._getProvince()
      let findItem1 = pro && this.city.find(v => v.name.indexOf(pro) > -1)
      if (findItem1 && findItem1.number) {
        this.cardAddress1 += findItem1.name + '/'
        this.cardAddressList.push(findItem1.number)
        await this._getCity(findItem1.number)
        let findItem2 = cit && this.city.find(v => v.name.indexOf(cit) > -1)
        if (findItem2 && findItem2.number) {
          this.cardAddress1 += findItem2.name + '/'
          this.cardAddressList.push(findItem2.number)
          await this._getCounty(findItem2.number)
          let findItem3 = cou && this.city.find(v => v.name.indexOf(cou) > -1)
          if (findItem3 && findItem3.number) {
            this.cardAddress1 += findItem3.name
            this.cardAddressList.push(findItem3.number)
          }
        }
      }
      this.cardAddress2 = det
    },
    // 设置营业执照地址
    async setBusinessAddress (pro, cit, cou, det) {
      await this._getProvince()
      let findItem1 = pro && this.city.find(v => v.name.indexOf(pro) > -1)
      if (findItem1 && findItem1.number) {
        this.businessAddress1 += findItem1.name + '/'
        this.businessAddressList.push(findItem1.number)
        await this._getCity(findItem1.number)
        let findItem2 = cit && this.city.find(v => v.name.indexOf(cit) > -1)
        if (findItem2 && findItem2.number) {
          this.businessAddress1 += findItem2.name + '/'
          this.businessAddressList.push(findItem2.number)
          await this._getCounty(findItem2.number)
          let findItem3 = cou && this.city.find(v => v.name.indexOf(cou) > -1)
          if (findItem3 && findItem3.number) {
            this.businessAddress1 += findItem3.name
            this.businessAddressList.push(findItem3.number)
          }
        }
      }
      this.businessAddress2 = det
    },
    /**
     * 获取身份证识别信息
     * idCardImg - base64编码
     * idCardSide - front：身份证含照片的一面；back：身份证带国徽的一面
     */
    getIdCardOcr (img, side) {
      return new Promise((resolve, reject) => {
        api.commonCall({ idCardImg: img, idCardSide: side }, 'idCardOcr').then(res => {
          if (res.success) {
            resolve(res.data)
          } else {
            resolve(null)
            res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
          }
        }, err => {
          reject(err)
        })
      })
    },
    /**
     * 营业执照识别信息
     * businessLicenceImg - base64编码
     */
    getBusinessLicenceOcr (img) {
      return new Promise((resolve, reject) => {
        api.commonCall({ businessLicenceImg: img }, 'businessLicenceOcr').then(res => {
          if (res.success) {
            resolve(res.data)
          } else {
            resolve(null)
            res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
          }
        }, err => {
          reject(err)
        })
      })
    },
    // 查询所有渠道
    queryCustomer () {
      let params = {
        orgName: '', // 过滤四级公司名称
        type: this.clientType,
        entrance: '0' // 0:注册开户 1:网银代扣
      }
      return api.commonCall(params, 'queryLevle4OrgInfo').then(res => {
        if (res.success) {
          // 如果接口只返回一条记录，则默认选上
          if (res.data.orgList && res.data.orgList.length === 1) {
            this.customerId = res.data.orgList[0].orgId
            this.customer = res.data.orgList[0].orgName
          }
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.ws-admin-register-personal-info {
  width: 100%;
  height: 100%;
  .form-content {
    .form-box {
      padding: 0 40px 36px;
      overflow: hidden;
      .form-item {
        margin-top: 46px;
        .border-1px(#dfe2e7);
        &.no-border-bottom {
          &::after {
            border-top: 0;
          }
        }
        .must {
          color: red;
        }
        p.desc{
          margin-bottom: 10px;
        }
        .form-input {
          font-size: 32px;
          padding: 24px 0;
        }
        @{deep}.vbox-wrap {
          width: 100%;
          padding-left: 0;
          .left {
            width: 176px;
          }
          .right{
            width: 100%;
            line-height: 60px;
            padding: 24px 0;
            .v-select-wrap {
              font-size: 32px;
              color: #333333;
              min-height: 48px;
              line-height: 48px;
              text-align: left;
              &.placeholder {
                color: #999999;
              }
              &.disabled {
                color: #969799;
              }
            }
          }
        }
        .van-radio-group {
          display: inline-block;
          padding-left: 20px;
          width: 100%;
          .van-radio {
            width: 50%;
            float: left;
            margin: 10px 0;
          }
        }
        @{deep}.van-checkbox {
          margin-bottom: 20px;
          .van-checkbox__icon--checked {
            .van-icon {
              background-color: #F59900;
              border-color: #F59900;
            }
          }
        }
      }
      .up-load {
        margin-top: 46px;
        overflow: hidden;
        @{deep}.van-uploader {
          display: block;
          width: 560px;
          height: 354px;
          border-radius: 12px;
          margin: 10px 0;
          .van-uploader__preview {
            width: 560px;
            height: 354px;
            .van-uploader__preview-image {
              width: 560px;
              height: 354px;
            }
          }
          .addBack,
          .addFront,
          .addLicense,
          .addPremises {
            display: inline-block;
            width: 560px;
            height: 354px;
            background-size: 100% 100%;
          }
          .addFront {
            .bg-img("~@/assets/images/customer-account/front");
          }
          .addBack {
            .bg-img("~@/assets/images/customer-account/back");
          }
          .addLicense,
          .addPremises {
            .bg-img("~@/assets/images/customer-account/upload");
          }
        }
        .upload-img-wrap {
          width: 560px;
          height: 354px;
          border-radius: 12px;
          position: relative;
          margin: 10px 0;
          img {
            width: 100%;
            height: 354px;
          }
          .close {
            display: block;
            width: 33px;
            height: 33px;
            .bg-img("~@/assets/images/login/close");
            background-size: 100% 100%;
            position: absolute;
            right: -16px;
            top: -16px;
          }
        }
        .upload-desc{
          width: 566px;
          color: #999999;
          margin-bottom: 36px;
        }
        .hint {
          color: #666666;
          margin-bottom: 36px;
        }
      }
    }
    @{deep}.bottom-button {
      position: static;
      &.opacity {
        opacity: 0.5;
      }
    }
  }

  .content-2 {
    height: calc(100vh - 92px);
    background: #F8F8F8;
    .account-finish {
      width: 100%;
      p{
        text-align: center;
        line-height: 50px;
        &:nth-child(2) {
          margin-top: 26px;
        }
      }
      .title{
        padding-top: 34px;
        height: 50px;
        font-size: 36px;
        font-weight: 600;
        color: rgba(51,51,51,1);
        line-height: 50px;
      }
      span {
        color: #d8ab17;
      }
      .icon {
        width: 560px;
        height: 400px;
        margin: 32px auto 38px;
        .bg-img("~@/assets/images/customer-account/pic-pig");
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
    }
  }

  @{deep}.van-field__body {
    .van-field__icon .van-icon {
      font-size: 24px;
    }
  }

  @{deep} .van-radio {
    .van-radio__icon {
      .van-icon {
        color: rgba(0, 0, 0, 0);
        width: 32px;
        height: 32px;
        position: relative;
        border: 0;
        background-color: transparent;

        &::before,
        &::after {
          content: " ";
          display: block;
          width: 32px;
          height: 32px;
          box-sizing: border-box;
          border-radius: 50%;
          position: absolute;
          left: 0;
          top: 4px;
          transition: all 0.2s;
        }

        &::before {
          border: 10px solid #F59900;
          opacity: 0;
        }

        &::after {
          border: 1px solid #c1c4ca;
          opacity: 1;
        }
      }

      &.van-radio__icon--checked {
        .van-icon-success {
          &::before {
            opacity: 1;
          }

          &::after {
            opacity: 0;
          }
        }
      }

      .van-icon-success {
        &::after {
          opacity: 1;
        }

        &::before {
          opacity: 0;
        }
      }
    }
  }
}
</style>
