<template>
  <div class="account-esign-details">
    <van-nav-bar
      title="开户电子签详情"
      left-arrow
      fixed
      right-text="下载"
      @click-left="_toReturn"
      @click-right="onClickRight"
    ></van-nav-bar>

    <div id="pdf"></div>
    <!-- <div class="content"> -->
      <!-- <div
        v-show="loadedRatio > 0 && loadedRatio < 1"
        class="progress-bar"
        :style="{ width: loadedRatio * 100 + '%' }"
      ></div>

      <div class="container">
        <pdf
          ref="pdf"
          style="width: 100%;"
          :src="fileUrl"
          :page="page"
          @progress="loadedRatio = $event"
          @num-pages="numPages = $event"
          @error="error"
        ></pdf>
      </div>

      <van-pagination
        v-model="page"
        :page-count="numPages"
        mode="simple"
      /> -->
    <!-- </div> -->

    <!-- 引导用户点击右上角打开其他浏览器进行下载 -->
    <div class="guide-download" v-show="guideDownload" @click="guideDownload = false">
      <img src="@/assets/images/groupbuying/arrows.png" alt="" class="arrows-img"/>
      <p>点击右上角按钮，选择其他浏览器打开下载！</p>
    </div>
  </div>
</template>

<script>
// import pdf from 'vue-pdf'
import Pdfh5 from 'pdfh5'
import 'pdfh5/css/pdfh5.css'
import { api } from '@/api'
import { isWeiXin } from '@/utils/common'

export default {
  name: 'withhold-agreement-esign-view',
  components: {
    // pdf
  },
  data () {
    return {
      pdfh5: null, // 实例化pdfh5
      fileUrl: '',
      page: 1,
      loadedRatio: 0,
      numPages: 0,
      guideDownload: false
    }
  },
  created () {
    this.flowId = this.$route.query.flowId
    if (!this.flowId) {
      this.$router.go(-1)
    } else {
      this.getEsignFlowFileUrl(this.flowId)
    }
  },
  methods: {
    _toReturn () {
      this.$router.go(-1)
    },
    onClickRight () {
      if (isWeiXin()) {
        this.guideDownload = true
      } else {
        window.open(this.fileUrl, '_blank')
      }
    },
    getEsignFlowFileUrl (flowId) {
      api.commonCall({ flowId }, 'getEsignFlowFileUrl').then(res => {
        if (res.success) {
          if (res.data.fileUrl) {
            this.fileUrl = res.data.fileUrl
            this.initPdfh5()
          }
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    // 实例化pdfh5
    initPdfh5 () {
      // 实例化
      this.pdfh5 = new Pdfh5('#pdf', {
        pdfurl: this.fileUrl,
        type: 'ajax', // 请求pdf方式
        renderType: 'canvas' // pdf渲染模式
      })

      this.pdfh5.on('ready', () => {
        console.log(this.pdfh5)
        console.log('总页数：' + this.pdfh5.totalNum)
      })

      // 监听加载失败
      this.pdfh5.on('error', (msg, time) => {
        console.log('信息：' + msg + '，耗时：' + time)
      })

      // 监听完成事件
      this.pdfh5.on('complete', (status, msg, time) => {
        console.log('状态：' + status + '，信息：' + msg + '，耗时：' + time + '毫秒，总页数：' + this.pdfh5.totalNum)
      })
    },
    error (err) {
      console.log(err)
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.account-esign-details {
  width: 100%;
  padding-top: 92px;
  min-height: calc(100vh - 92px);

  @{deep}.pdfjs {
    .loadingBar {
      height: 2px;
      .progress {
        .glimmer {
          background-color: #F39801;
        }
      }
    }
  }

  .content {
    position: relative;
    box-sizing: border-box;
    padding: 10px 16px 20px;
    min-height: calc(100vh - 92px);
    background-color: #ffffff;
    .progress-bar {
      height: 4px;
      background-color: #F39801;
    }
    .container {
      width: 100%;
      margin: 0px auto 10px auto;
      background-color: #ffffff;
      box-shadow: darkgrey 0px 2px 6px 0px;
    }
  }

  .guide-download {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 102;
    .arrows-img {
      width: 340px;
      position: absolute;
      right: 20px;
      top: 20px;
    }
    p {
      font-size: 36px;
      color: #fff;
      margin-top: 320px;
      text-align: center;
    }
  }
}
</style>
