<template>
  <div class="withhold-agreement">
    <van-nav-bar title="代扣协议" left-arrow @click-left="_toReturn"></van-nav-bar>

    <div class="info-box" v-if="esignList && esignList.length">
      <div class="info-box-title">
        <div class="title-left">四级公司</div>
        <div class="title-right">状态</div>
      </div>
      <van-pull-refresh v-model="isLoading" @refresh="onRefresh">
        <van-list v-model="loading" :finished="finished" @load="onLoad" :offset="200">
          <div class="info-box-detail" v-for="(item, index) in esignList" :key="index" @click="goDetails(item.flowId, item.companyName, item.status)">
            <div class="detail-left">
              <p class="title">{{item.companyName}}</p>
              <!-- <p>协议号：{{item.protocolNumber || '无'}}</p> -->
              <p>{{item.signDate || item.modifyTime || item.createTime}}</p>
              <p v-if="item.status === 'D'">驳回原因：{{item.rejectReason}}</p>

              <div class="edit" v-if="item.status === 'A' || item.status === 'D'" @click.stop="toEdit(item)">
                <i class="edit-icon"></i>修改
              </div>
              <div class="edit" v-else-if="item.status === 'C' && item.signUrl && !item.signDate" @click.stop="toEsign(item)">
                <i class="edit-icon"></i>签署
              </div>
              <div class="turn-icon"></div>
              <div class="status-text" :class="statusTextColor(item.status)">{{statusText(item)}}</div>
            </div>
          </div>
        </van-list>
      </van-pull-refresh>
    </div>
    <div class="no-data-box" v-else>
      <no-data :loading="requestLoading"></no-data>
    </div>
    <bottom-button :btns="[{ text: '新增', color: 'red' }]" @on-btn="addWithholdAgreement"></bottom-button>
  </div>
</template>

<script>
import NoData from '@/components/no-data'
import BottomButton from '@/components/bottom-button'
import { api } from '@/api'

export default {
  name: 'withhold-agreement',
  components: {
    BottomButton,
    NoData
  },
  data () {
    return {
      // 上拉加载及下拉刷新
      page: {
        index: 1,
        size: 6,
        total: 0
      },
      cacheList: [],
      loading: false, // 控制上拉加载的加载动画
      finished: false, // 控制在页面往下移动到底部时是否调用接口获取数据
      isLoading: false, // 控制下拉刷新的加载动画
      esignList: [], // 电子签列表
      requestLoading: false // 接口请求加载动画
    }
  },
  created () {
    this.getEsignList()
  },
  methods: {
    statusText (item) {
      switch (item.status) {
        case 'A':
          return '暂存'
        case 'B':
          return '审核中'
        case 'C':
          return item.signUrl && item.signDate ? '已生效' : '待签署'
        case 'D':
          return '审核不通过'
        case 'E':
          return '处理中'
        default:
          return ''
      }
    },
    statusTextColor (status) {
      switch (status) {
        case 'A':
          return 'grey'
        case 'B':
          return 'orange'
        case 'C':
          return 'green'
        case 'D':
          return 'red'
        case 'E':
          return 'orange'
        default:
          return ''
      }
    },
    _toReturn () {
      if (window.history.length > 1) {
        this.$router.go(-1)
      } else {
        this.$router.push('/')
      }
    },
    addWithholdAgreement () {
      this.$router.push({
        name: 'withholdAgreementAdd'
      })
    },
    // 下拉刷新
    onRefresh () {
      this.page.index = 1
      this.cacheList = []
      this.getEsignList()
    },
    // 上拉加载
    onLoad () {
      this.page.index++
      this.getEsignList()
    },
    getEsignList () {
      let params = {
        page: this.page.index,
        pageSize: this.page.size
      }
      api.commonCall(params, 'queryWithholdInfo').then(res => {
        if (res.success) {
          this.cacheList = this.cacheList.concat(res.data.openEsignList)
          this.esignList.splice(0, this.esignList.length, ...this.cacheList)
          this.page.total = res.data.count
          this.finished = false
          this.loading = false
          if (this.cacheList.length >= this.page.total) {
            this.finished = true
          }

          setTimeout(() => {
            this.isLoading = false
          }, 100)
        } else {
          res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    goDetails (flowId, title, status) {
      if (status === 'C') {
        this.$router.push({
          path: 'withholdAgreementEsignView',
          query: {
            flowId,
            title
          }
        })
      }
    },
    toEdit (item) {
      let params = {
        customer: item.orgName,
        customerId: item.orgId,
        bankCard: item.cardPicture,
        bankCardName: item.cardName,
        bankCardNumber: item.cardNumber,
        bankId: item.bankId,
        bankName: item.bankName,
        bankCollectChannel: item.collectChannel,
        accountType: item.cardType,
        accountProperties: item.custType,
        agreementId: item.id,
        clientType: item.classify // 客户类型
      }

      this.$router.push({
        name: 'withholdAgreementAdd',
        params: params
      })
    },
    toEsign (item) {
      window.location.href = item.signUrl
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.withhold-agreement {
  min-height: 100vh;
  background: rgba(248, 248, 248, 1);
  .info-box{
    padding: 20px 28px 116px;
    .info-box-title{
      width: 100%;
      font-size: 32px;
      height: 78px;
      line-height: 78px;
      background: #ffffff;
      border-radius: 12px 12px 0 0;
      border-bottom: 2px solid #E6E6E6;
      .title-left,
      .title-right {
        box-sizing: border-box;
        width: 50%;
        float: left;
        font-size: 32px;
        font-family: PingFangSC-Medium, PingFang SC;
        color: #333333;
      }
      .title-left {
        padding-left: 20px;
      }
      .title-right {
        text-align: right;
        padding-right: 64px;
      }
    }
    .info-box-detail {
      box-sizing: border-box;
      width: 100%;
      background: #ffffff;
      padding: 18px 26px;
      font-family: PingFangSC-Regular,PingFang SC;
      border-radius: 0 0 12px 12px;
      overflow: hidden;
      &:not(:first-child) {
        .border-before-1px(#E5E5E5);
      }
      .detail-left {
        position: relative;
        min-height: 130px;
        padding-right: 200px;
        p{
          word-wrap: break-word;
          word-break: break-all;
          &:nth-of-type(2),
          &:nth-of-type(3) {
            line-height: 34px;
            margin-top: 8px;
            font-size: 28px;
            color: #666666;
          }
        }
        .title {
          color: #214E90;
          font-size: 32px;
        }
        .edit {
          position: absolute;
          right: 0;
          top: 5px;
          display: flex;
          align-items: center;
          color: #214E90;
          .edit-icon {
            width: 30px;
            height: 30px;
            flex: 0 0 30px;
            margin-right: 4px;
            background-position: center;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            .bg-img('~@/assets/images/withhold-agreement/edit');
          }
        }
        .turn-icon {
          width: 18px;
          height: 28px;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          background-position: center;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          .bg-img('~@/assets/images/withhold-agreement/turn');
        }
        .status-text {
          position: absolute;
          right: 0;
          bottom: 0;
          line-height: 40px;
          font-size: 28px;
          color: #0C0C0C;
          &.green {
            color: #67C23A;
          }
          &.orange {
            color: #F59900;
          }
          &.red {
            color: #E02020;
          }
          &.grey {
            color: #666666;
          }
        }
      }
    }
  }
}

</style>
