<template>
  <div class="withhold-agreement-add">
    <van-nav-bar title="代扣协议" left-arrow @click-left="_goPev"></van-nav-bar>

    <!-- 信息填写 -->
    <div class="form-content" v-if="!isFinish">
      <div class="form-box">
        <div class="form-item">
          <span class="desc">客户分类<span class="must">*</span></span>
          <van-field
            class="form-input"
            v-model="clientTypeName"
            readonly
            placeholder="请选择客户分类"
            :right-icon="showPicker ? 'arrow-up' : 'arrow-down'"
            @click="showPicker = true"
          />
        </div>
        <div class="form-item">
          <span class="desc">请选择对应的四级公司<span class="must">*</span></span>
          <van-field
            class="form-input"
            v-model="customer"
            readonly
            placeholder="请选择对应的四级公司"
            right-icon="arrow"
            @click="_goFourCustomer"
          />
        </div>
        <div class="up-load">
          <span class="desc">请上传代扣银行卡照片<span class="must">*</span></span>
          <van-uploader
            v-model="previewUploadImg"
            accept="image/*"
            :max-count="1"
            :before-read="beforeRead"
            :after-read="afterRead"
            :before-delete="beforeDelete"
          >
            <i class="addBankCard"></i>
          </van-uploader>
          <p class="upload-desc">须为 I 类卡，请确保照片清晰可辩认，限制每个10MB以内，仅支持：jpg,png,jpeg</p>
        </div>
        <div class="form-item">
          <span class="desc">户名<span class="must">*</span></span>
          <van-field
            class="form-input"
            v-model="bankCardName"
            placeholder="请输入请银行卡开户户名"
            maxlength="30"
          />
        </div>
        <div class="form-item">
          <span class="desc">银行卡卡号<span class="must">*</span></span>
          <van-field
            type="number"
            class="form-input"
            v-model="bankCardNumber"
            placeholder="提取银行卡卡号，可修改"
            maxlength="19"
          />
        </div>
        <!-- <div class="form-item">
          <span class="desc">开户行<span class="must">*</span></span>
          <van-field
            class="form-input"
            v-model="bankName"
            readonly
            placeholder="请选择对应的开户行"
            right-icon="arrow"
            @click="_goChooseOpeningBank"
          />
        </div> -->
        <div class="form-item no-border-bottom">
          <p class="desc">账户类型<span class="must">*</span></p>
          <van-radio-group v-model="accountType">
            <!-- <van-radio name="01">信用卡</van-radio> -->
            <van-radio name="02">灵通卡</van-radio>
            <van-radio name="03">单位卡</van-radio>
            <van-radio name="04">储蓄账号(存折)</van-radio>
            <van-radio name="05">对公账户</van-radio>
            <van-radio name="06">金穗卡</van-radio>
          </van-radio-group>
        </div>
        <div class="form-item no-border-bottom">
          <p class="desc">账号属性<span class="must">*</span></p>
          <van-radio-group v-model="accountProperties">
            <van-radio name="01">个人账号</van-radio>
            <van-radio name="02">对公账号</van-radio>
          </van-radio-group>
        </div>
      </div>
      <bottom-button :btns="btns" @on-btn="_goAuditing" :class="{'opacity': opacity}"></bottom-button>
    </div>

    <!-- 签署完成 -->
    <div class="content-2" v-else>
      <div class="account-finish">
        <p class="title">{{isFinishSuccess ? '签署完成' : '签署失败'}}</p>
        <p>{{isFinishSuccess ? '亲爱的客户您好，您已完成签署！' : '亲爱的客户您好，您可以以后继续完成签署！'}}</p>
        <div class="icon"></div>
        <p>页面将在<span>{{countdown}}秒</span>后跳转到温氏商城首页，谢谢！</p>
      </div>
    </div>

    <!-- 协议弹出框 -->
    <van-dialog
      v-model="show"
      show-confirm-button
      show-cancel-button
      confirm-button-text="同意并继续"
      :beforeClose="_toSign"
      @cancel="cancel"
    >
      <div class="agreement">
        <p class="title">授权及承诺书</p>
        <div class="agree-content">
          <ul>
            <li>致中国农业银行股份有限公司：<span>{{customer}}</span></li>
            <br/>
            <li>付款人：<span>{{userName}}</span> (下称付款人）因 <span>购买禽畜产品</span> 需要向收款人：<span></span>   (下称收款人）支付 <span>贷款</span>，付款人授权贵行或中国农业银行股份有限公司的其他机构（具体以收款人确定的农业银行经办行为准，以下统称“农业银行”）根据收款人的代收指令从付款人指定账户中扣划上述款项。付款人和收款人在此作出如下授权和承诺：</li>
            <br/>
            <li>一、付款人自愿授权农业银行按照收款人划款要求和指定金额，从本人指定的下列付款账户划款至收款人指定账户，而无需在每次划款前征求本人意见。付款人指定的付款账户及本人证件资料和联系信息如下：</li>
            <li>账户名称：<span>{{bankCardName}}</span></li>
            <li>账号：<span>{{bankCardNumber}}</span></li>
            <!-- <li>开户行：<span>{{bankName}}</span></li> -->
            <li>账户类型：<span>{{accountType}}</span>（02-灵通卡；03-单位卡；04-储蓄账号(存折)；05-对公账户；06-金穗卡）</li>
            <li>账号属性：<span>{{accountProperties}}</span>（01-个人账号，02-对公账号）</li>
            <li>身份证号码：<span v-if="isEnterprise === '1'">{{idcard}}</span>（付款人为个人）</li>
            <li>组织机构代码（或其他单位证件）：<span v-if="isEnterprise === '2'">{{businessNumber}}</span>（付款人为单位）</li>
            <li>本人手机号码：<span v-if="isEnterprise === '1'">{{accountPhone}}</span>（付款人为个人）</li>
            <li>单位联系电话：<span v-if="isEnterprise === '2'">{{accountPhone}}</span>（付款人为单位）</li>
            <li>付款人地址：<span v-if="isEnterprise === '2'">{{address}}</span>（付款人为单位）</li>
            <li>如因上述账户余额不足、被挂失、被托管、被冻结、被有权机关扣划、销户等原因导致扣划不成功，由付款人承担责任。若上述付款账户发生变更，付款人应协同收款人共同出具新的授权书，否则由此导致的责任由付款人承担。</li>
            <br/>
            <li>二、收款人保证已按照相关法律法规的要求，对付款人进行了身份识别审查，并妥善保管了付款人身份资料。</li>
            <br/>
            <li>三、收款人和付款人共同保证本授权及承诺书上的签章真实有效，本授权及承诺书中指定的付款账户为付款人所有，本授权及承诺书所列指定付款账户及付款人证件资料和联系信息真实、正确，并对本授权及承诺书的真实有效性负责。</li>
            <br/>
            <li>四、在农业银行严格执行收款人发出的委托收款指令的前提下，对农业银行因执行收款人委托收款指令引发的争议、纠纷等，均由收款人与付款人之间自行解决，农业银行不承担任何责任。</li>
            <br/>
            <li>五、农业银行因严格执行收款人委托收款指令而遭受付款人索赔所造成的全部损失，收款人将无条件承担赔偿责任。</li>
            <br/>
            <li>六、付款人应及时通过查询付款账户核对扣款信息的准确性，如有异议应及时通知收款人和农业银行。</li>
            <br/>
            <li>七、本授权及承诺书第一条中的付款账户或其他信息发生变更的，甲方应提前10个工作日向农业银行提交经收款人签章确认的信息变更通知书，否则，由此导致的损失和纠纷由付款人承担。</li>
            <br/>
            <li>八、本授权及承诺书自出具之日起生效，有效期至付款人单方或付款人和收款人共同提交终止授权书面文件且农业银行受理并办妥终止授权手续之日止。</li>
            <br/>
            <li>九、若收款人或农业银行终止代收款合作的，由收款人负责通知付款人，农业银行对此不承担责任。</li>
            <br/>
            <li>本授权及承诺书一式二份，一份留存银行，一份留存收款人。</li>
            <br/>
            <li>付款人（签章）：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;收款人（公章）：</li>
            <li>法定代表人</li>
            <li>或授权代理人</li>
            <li>日期：年&nbsp;&nbsp;月&nbsp;&nbsp;日&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日期：年&nbsp;&nbsp;月&nbsp;&nbsp;日</li>
          </ul>
        </div>
      </div>
    </van-dialog>

    <!-- 底部弹出选择框（客户分类） -->
    <van-action-sheet
      v-model="showPicker"
      title="选择客户分类"
      :actions="clientList"
      @select="chooseType"
    />
  </div>
</template>

<script>
import BottomButton from '@/components/bottom-button'
import { allImgDomainNameMixin } from '@/assets/js/mixin'
import { api } from '@/api'
import { checkBankCard, _debounce, imageCompression } from '@/utils/common'

export default {
  name: 'withhold-agreement-add',
  mixins: [allImgDomainNameMixin],
  components: {
    BottomButton
  },
  data () {
    return {
      btns: [{ text: '下一步', color: 'red' }],
      opacity: true,
      bankCard: '',
      previewUploadImg: [], // 上传图片预览
      vBool: true,
      city: [],
      showRegion: false,
      selectionTitle: '',
      addressName: '',
      bankCardName: '', // 银行卡开户户名
      bankCardNumber: '', // 银行卡卡号
      // bankId: '', // 开户行银行id
      // bankName: '', // 开户行银行名称
      // bankCollectChannel: '', // 开户行银行收集渠道
      accountType: '', // 账户类型
      accountProperties: '', // 账号属性
      show: false,
      query: {}, // 路由query
      params: {}, // 路由params
      isFinish: 0, // 0 - 信息填写，1 - 签署完成
      isFinishSuccess: true, // 是否成功签署
      userName: '',
      customer: '',
      customerId: '',
      isEnterprise: '1',
      accountPhone: '', // 注册手机号
      idcard: '', // 身份证号
      businessNumber: '', // 经营执照号码
      address: '', // 经营地址
      countdown: 6, // 倒计时5秒
      agreementId: '', // 代扣协议id（驳回状态进入才有）
      clientList: [{
        name: '毛禽客户',
        value: 'B'
      }, {
        name: '毛猪客户',
        value: 'C'
      }, {
        name: '种猪客户',
        value: 'A'
      }], // 客户列表
      clientType: '', // 客户分类 A：种猪客户 B：毛禽客户 C: 毛猪客户
      showPicker: false // 显示底部选择框
    }
  },
  computed: {
    clientTypeName () {
      let findItem = this.clientList.find(v => v.value === this.clientType)
      return (findItem && findItem.name) || ''
    }
  },
  watch: {
    clientType () {
      this.isOpacity()
    },
    customer (val) {
      this.isOpacity()
    },
    bankCard (val) {
      this.isOpacity()
    },
    bankCardName (val) {
      this.isOpacity()
    },
    bankCardNumber (val) {
      this.isOpacity()
    },
    // bankName (val) {
    //   this.isOpacity()
    // },
    accountType (val) {
      this.isOpacity()
    },
    accountProperties (val) {
      this.isOpacity()
    }
  },
  created () {
    this.query = this.$route.query

    // 判断是否签署完成界面
    if (this.$route.query.isFinish && typeof +this.$route.query.isFinish === 'number') {
      this.isFinish = +this.$route.query.isFinish
      if (this.isFinish) {
        this._setCountdown()
      }
    }
  },
  mounted () {
    this.params = this.$route.params
    this.params.accountPhone && (this.accountPhone = this.params.accountPhone)
    this.params.isEnterprise && (this.isEnterprise = this.params.isEnterprise)
    this.params.idcard && (this.idcard = this.params.idcard)
    this.params.userName && (this.userName = this.params.userName)
    this.params.businessNumber && (this.businessNumber = this.params.businessNumber)
    this.params.businessAddress1 && (this.address = this.params.businessAddress1 + '/' + this.params.businessAddress2)
    if (this.params.bankCard) {
      this.bankCard = this.params.bankCard
      this.previewUploadImg.push({ url: this.allImgDomainName + this.bankCard })
    }
    this.params.bankCardName && (this.bankCardName = this.params.bankCardName)
    this.params.bankCardNumber && (this.bankCardNumber = this.params.bankCardNumber)
    // this.params.bankId && (this.bankId = this.params.bankId)
    // this.params.bankName && (this.bankName = this.params.bankName)
    // this.params.bankCollectChannel && (this.bankCollectChannel = this.params.bankCollectChannel)
    this.params.accountType && (this.accountType = this.params.accountType)
    this.params.accountProperties && (this.accountProperties = this.params.accountProperties)
    this.params.customer && (this.customer = this.params.customer)
    this.params.customerId && (this.customerId = this.params.customerId)
    this.params.agreementId && (this.agreementId = this.params.agreementId)
    this.params.clientType && (this.clientType = this.params.clientType)
  },
  methods: {
    // 上传图片
    _uploadImage (file, img, e) {
      // 传递一个 FormData 对象
      // let formData = new FormData()
      // 'file' 可变 相当于 input 表单的name 属性
      // formData.append('file', file)
      return new Promise((resolve, reject) => {
        api.uploadImage(file, res => {
          if (res.success) {
            this[img] = res.data[0]
            resolve(true)
          } else {
            this.$toast.fail(res.msg || '上传图片失败')
            resolve(false)
          }
        })
      })
    },
    beforeRead (file) {
      if (file.type !== 'image/jpeg' && file.type !== 'image/jpg' && file.type !== 'image/png') {
        this.$toast('请上传图片格式文件')
        return false
      }
      return true
    },
    afterRead (e) {
      let file = e.file
      e.status = 'uploading'
      e.message = '上传中...'
      this._uploadImage(file, 'bankCard', e).then(isSuccess => {
        if (isSuccess) {
          // 银行卡识别
          imageCompression(file, compressedBase64 => {
            if (compressedBase64) {
              this.getBankCardOcr(compressedBase64.split('base64,')[1]).then(result => {
                e.status = 'done'
                if (result.bankCardNumber) {
                  this.bankCardNumber = result.bankCardNumber.replace(/\s*/g, '')
                  this.$toast({
                    duration: 4000, // 展示时长
                    message: '请核对您的银行卡信息是否一致'
                  })
                }
              }).catch(() => {
                e.status = 'done'
              })
            } else {
              e.status = 'done'
            }
          })
        } else {
          e.status = 'failed'
          e.message = '上传失败'
        }
      })
    },
    beforeDelete () {
      if (this.bankCard) {
        this.bankCard = ''
      }
      return true
    },
    _goPev () {
      this.$router.go(-1)
    },
    _goAuditing: _debounce(function () {
      if (this.isSubmitFlag) return
      this.isSubmitFlag = true

      if (!this.clientType) {
        this.$toast('请选择客户分类')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (!this.customer) {
        this.$toast('请选择四级公司')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (!this.bankCard) {
        this.$toast('请上传银行卡照片')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (!this.bankCardName) {
        this.$toast('请填写户名')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (!this.bankCardNumber) {
        this.$toast('请填写银行卡卡号')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (!checkBankCard(this.bankCardNumber)) {
        this.$toast('请填写正确的银行卡卡号')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (!this.accountType) {
        this.$toast('请选择账户类型')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (!this.accountProperties) {
        this.$toast('请选择账号属性')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else {
        let userInfo = JSON.parse(sessionStorage.getItem('userInfo'))
        let params = {
          ownerId: this.customerId,
          cardType: this.accountType,
          cardName: this.bankCardName,
          cardNumber: this.bankCardNumber,
          lastFourCard: this.bankCardNumber.substr(-4),
          custType: this.accountProperties,
          cardPic: this.bankCard,
          id: this.agreementId,
          userId: userInfo.id,
          classify: this.clientType // 客户类型
        }

        this.$set(this.btns[0], 'loading', true)
        api.saveWithholdInfo(params).then(res => {
          this.$set(this.btns[0], 'loading', false)
          if (res.success) {
            this.$toast.success({
              durations: 4000,
              message: '提交成功，请耐心等待审核！'
            })
            setTimeout(() => {
              this.$router.go(-1)
            }, 500)

            setTimeout(() => {
              this.isSubmitFlag = false
            }, 1000)
          } else {
            setTimeout(() => {
              this.isSubmitFlag = false
            }, 1000)
            res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
          }
        })
      }
    }, 500),
    _goFourCustomer () {
      if (!this.clientType) {
        this.$toast('请先选择客户分类')
        return
      }
      // 不传bankId、bankName、bankCollectChannel，清空开户行信息
      this.$router.replace({
        name: 'chooseFourCustomer',
        query: this.query,
        params: {
          isEnterprise: this.isEnterprise,
          userName: this.userName,
          idcard: this.idcard,
          businessNumber: this.businessNumber,
          accountPhone: this.accountPhone,
          address: this.address,
          customer: this.customer,
          customerId: this.customerId,
          bankCard: this.bankCard,
          bankCardName: this.bankCardName,
          bankCardNumber: this.bankCardNumber,
          accountType: this.accountType,
          accountProperties: this.accountProperties,
          agreementId: this.agreementId,
          clientType: this.clientType,
          entrance: '1'
        }
      })
    },
    _goChooseOpeningBank () {
      if (!this.customerId || !this.customer) {
        this.$toast('请先选择四级公司')
        return
      }

      this.$router.replace({
        name: 'chooseOpeningBank',
        query: this.query,
        params: {
          isEnterprise: this.isEnterprise,
          userName: this.userName,
          idcard: this.idcard,
          businessNumber: this.businessNumber,
          accountPhone: this.accountPhone,
          address: this.address,
          customer: this.customer,
          customerId: this.customerId,
          bankCard: this.bankCard,
          bankCardName: this.bankCardName,
          bankCardNumber: this.bankCardNumber,
          // bankId: this.bankId,
          // bankName: this.bankName,
          // bankCollectChannel: this.bankCollectChannel,
          accountType: this.accountType,
          accountProperties: this.accountProperties,
          agreementId: this.agreementId,
          clientType: this.clientType
        }
      })
    },
    isOpacity () {
      if (
        this.clientType === '' ||
        this.customer === '' ||
        this.bankCard === '' ||
        this.bankCardName === '' ||
        this.bankCardNumber === '' ||
        // this.bankName === '' ||
        this.accountType === '' ||
        this.accountProperties === ''
      ) {
        this.opacity = true
      } else {
        this.opacity = false
      }
    },
    cancel () {
      this.show = false
      this.isFinish = 1
      this.isFinishSuccess = false
      this._setCountdown()
    },
    _toSign (action, done) {
      if (action === 'confirm') {
        let userInfo = JSON.parse(sessionStorage.getItem('userInfo'))
        let params = {
          redirectUrl: window.location.href + '?isFinish=1',
          level4Org: this.customerId,
          userId: userInfo.id
        }

        api.launchAccountSignFlow(params).then(res => {
          if (res.success) {
            if (res.data && res.data.signUrl) {
              window.location.href = res.data.signUrl
            }
            done()
          } else {
            res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
            done(false)
          }
        })
      }
    },
    // 5s倒数计时函数
    _setCountdown () {
      if (this.countdown === 0) {
        this.$router.replace({ path: '/' })
        return
      } else {
        this.countdown--
      }
      setTimeout(() => {
        this._setCountdown()
      }, 1000)
    },
    /**
     * 银行卡识别信息
     * bankCardImg - base64编码
     */
    getBankCardOcr (img) {
      return new Promise((resolve, reject) => {
        api.commonCall({ bankCardImg: img }, 'bankCardOcr').then(res => {
          if (res.success) {
            resolve(res.data)
          } else {
            resolve(null)
            res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
          }
        }, err => {
          reject(err)
        })
      })
    },
    // 选择客户分类
    chooseType (item) {
      // 清空已选的四级公司
      if (this.clientType !== item.value) {
        this.customer = ''
        this.customerId = ''
      }
      this.clientType = item.value
      this.showPicker = false
      this.queryCustomer()
    },
    // 查询所有渠道
    queryCustomer () {
      let params = {
        orgName: '', // 过滤四级公司名称
        type: this.clientType,
        entrance: '1' // 0:注册开户 1:网银代扣
      }
      return api.commonCall(params, 'queryLevle4OrgInfo').then(res => {
        if (res.success) {
          // 如果接口只返回一条记录，则默认选上
          if (res.data.orgList && res.data.orgList.length === 1) {
            this.customerId = res.data.orgList[0].orgId
            this.customer = res.data.orgList[0].orgName
          }
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.withhold-agreement-add {
  width: 100%;
  height: 100%;
  .must {
    color: red;
  }
  .form-content {
    .form-box {
      padding: 0 40px 36px;
      .form-item {
        margin-top: 36px;
        .border-1px(#dfe2e7);
        &.no-border-bottom {
          &::after {
            border-top: 0;
          }
        }
        p.desc{
          margin-bottom: 10px;
        }
        .form-input {
          font-size: 32px;
          padding: 24px 0;
        }
        .vbox-wrap {
          width: 9rem;
          height: 100px;
          padding-left:0;
          @{deep}.left {
            width: 176px;
          }
          @{deep}.right{
            width: 100%;
            line-height: 60px;
          }
        }
        .v-select-wrap {
          font-size: 32px;
          color: #2e3033;
          min-height: 46px;
          line-height: 46px;
        }
        .van-radio-group {
          display: inline-block;
          padding-left: 20px;
          width: 100%;
          .van-radio {
            width: 50%;
            float: left;
            margin: 10px 0;
          }
        }
      }
      .up-load {
        margin-top: 36px;
        @{deep}.van-uploader {
          display: block;
          width: 544px;
          height: 354px;
          border-radius: 12px;
          margin: 10px 0;
          .van-uploader__preview {
            width: 544px;
            height: 354px;
            .van-uploader__preview-image {
              width: 544px;
              height: 354px;
            }
          }
          .addBankCard {
            display: inline-block;
            width: 544px;
            height: 354px;
            background-size: 100% 100%;
            .bg-img("~@/assets/images/customer-account/upload");
          }
        }
        .upload-img-wrap {
          width: 544px;
          height: 354px;
          border-radius: 12px;
          position: relative;
          margin: 10px 0;
          img {
            width: 100%;
            height: 354px;
          }
          .close {
            display: block;
            width: 33px;
            height: 33px;
            .bg-img("~@/assets/images/login/close");
            background-size: 100% 100%;
            position: absolute;
            right: -16px;
            top: -16px;
          }
        }
        .upload-desc{
          height: 80px;
          line-height: 40px;
          color: #999999;
        }
      }
    }
    @{deep}.bottom-button {
      position: static;
      &.opacity {
        opacity: 0.5;
      }
    }
  }

  .content-2 {
    height: calc(100vh - 92px);
    background: #F8F8F8;
    .account-finish {
      width: 100%;
      p{
        text-align: center;
        line-height: 50px;
        &:nth-child(2) {
          margin-top: 26px;
        }
      }
      .title{
        padding-top: 34px;
        height: 50px;
        font-size: 36px;
        font-weight: 600;
        color: rgba(51,51,51,1);
        line-height: 50px;
      }
      span {
        color: #d8ab17;
      }
      .icon {
        width: 560px;
        height: 400px;
        margin: 32px auto 38px;
        .bg-img("~@/assets/images/customer-account/pic-pig");
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
    }
  }

  @{deep}.van-dialog {
    height: 91vh;
    border-radius: 20px;
    top: 48%;
    width: 96%;
    .van-dialog__content {
      padding: 0 6px;
    }
    .van-dialog__confirm {
      color: #fff;
      background: linear-gradient(
        90deg,
        rgba(255, 107, 82, 1) 0%,
        rgba(227, 50, 64, 1) 100%
      );
    }
    .title {
      font-size: 34px;
      text-align: center;
      font-weight: 600;
    }
    ul {
      height: 80vh;
      overflow-y: auto;
    }
    span{
      text-decoration: underline;
    }
  }

  @{deep} .van-radio {
    .van-radio__icon {
      .van-icon {
        color: rgba(0, 0, 0, 0);
        width: 32px;
        height: 32px;
        position: relative;
        border: 0;
        background-color: transparent;

        &::before,
        &::after {
          content: " ";
          display: block;
          width: 32px;
          height: 32px;
          box-sizing: border-box;
          border-radius: 50%;
          position: absolute;
          left: 0;
          top: 4px;
          transition: all 0.2s;
        }

        &::before {
          border: 10px solid #F59900;
          opacity: 0;
        }

        &::after {
          border: 1px solid #c1c4ca;
          opacity: 1;
        }
      }

      &.van-radio__icon--checked {
        .van-icon-success {
          &::before {
            opacity: 1;
          }

          &::after {
            opacity: 0;
          }
        }
      }

      .van-icon-success {
        &::after {
          opacity: 1;
        }

        &::before {
          opacity: 0;
        }
      }
    }
  }
}
</style>
