<template>
  <membership-wrapper class="account-security" :title="'账户安全'" :left-arrow="true">
    <div class="content van-content">
      <!-- 修改登录密码 -->
      <list arrow="true" line="true" @on-click="goPage('modifyPassword')">
        <div class="account-list">
          <div class="icon1"></div>
          <div>
            <div>修改登录密码</div>
            <div>建议您定期更改密码以保护账户安全</div>
          </div>
        </div>
      </list>

      <!-- 修改手机验证 -->
      <list arrow="true" line="true" @on-click="goPage('modifyPhone')">
        <div class="account-list">
          <div class="icon2"></div>
          <div>
            <div>修改手机验证</div>
            <div
              v-if="userInfo&&userInfo.phone"
            >{{userInfo.phone.replace(/^(.{3}).+(.{4})$/,'$1****$2')}}，若已丢失或停用，请尽快更换</div>
          </div>
        </div>
      </list>

      <!-- 实名认证 -->
      <list arrow="true" line="true" @on-click="goPage('certification')">
        <div class="account-list">
          <div class="icon3"></div>
          <div>
            <div>实名认证</div>
            <div v-if="userInfo&&userInfo.userName">您认证的实名信息：{{realNameInfo}}</div>
          </div>
        </div>
      </list>
    </div>
  </membership-wrapper>
</template>

<script>
import MembershipWrapper from '@/components/membership-center/membership-wrapper'
import List from '@/components/list'
import { api } from '@/api'

export default {
  name: 'account-security',
  data () {
    return {
      userInfo: null
    }
  },
  created () {
    this.getUserInfo()
  },
  computed: {
    realNameInfo () {
      let arr = []
      let name = this.userInfo.userName
      let idCard = this.userInfo.idCard
      if (name) {
        // 名字加*号，区分长度为2或2以上
        // name = name[2] ? `${name[0]}*${name[name.length - 1]}` : `${name[0]}*`
        arr.push(name)
      }
      if (idCard) {
        // 身份证加*号
        // idCard = idCard.replace(
        //   /^(.{6}).+(.{4})$/,
        //   `$1${''.padEnd(idCard.length - 10, '*')}$2`
        // )
        arr.push(idCard)
      }
      return arr.join('，')
    }
  },
  methods: {
    // 跳页面
    goPage (name) {
      this.$router.push({ name })
    },
    // 获取用户信息
    getUserInfo () {
      if (!this.userInfo) {
        this.userInfo = JSON.parse(sessionStorage.getItem('userInfo'))

        if (!this.userInfo) {
          api.userInfo().then(res => {
            if (res.success) {
              this.userInfo = res.data
            } else {
              res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
            }
          })
        }
      }
    }
  },
  components: {
    MembershipWrapper,
    List
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.account-security {
  .format-img {
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .van-content {
    height: calc(100% - 92px);
  }

  .content {
    background: white;
  }

  .account-list {
    text-align: left;
    display: flex;
    align-items: center;

    .icon1 {
      .bg-img("~@/assets/images/icon/Shape");
    }

    .icon2 {
      .bg-img("~@/assets/images/icon/Shape1");
    }

    .icon3 {
      .bg-img("~@/assets/images/icon/Shape2");
    }

    > div {
      &:first-child {
        width: 64px;
        height: 64px;
        padding: 0 40px;
        .format-img;
        background-size: contain;
      }

      &:last-child {
        flex: 1;

        > div {
          &:first-child {
            color: #2e3033;
            font-size: 30px;
            padding-bottom: 10px;
          }

          &:last-child {
            color: #8e939a;
            font-size: 24px;
          }
        }
      }
    }
  }
}
</style>
