<template>
  <membership-wrapper id="call-center" class="call-center" title="客服中心" :left-arrow="true" :backPage="false" @click-left="toMembershipCenter">
    <van-collapse v-model="activeName">
      <van-collapse-item v-for="(item, index) in filterList" :key="index" :name="index">
        <div slot="title" class="title">
          {{item.key}}
          <img src="@/assets/images/call-center/customer_service_icon.png" alt @click.stop="openCustomerService(item.value[0])">
          <a
            v-if="item.value[0] && item.value[0].cusServiceSetting && item.value[0].cusServiceSetting.phone"
            :href="'tel:' + (item.value[0].cusServiceSetting.areaCode || '') + item.value[0].cusServiceSetting.phone"
            @click.stop
          ><img src="@/assets/images/call-center/call_up_icon.png" alt></a>
        </div>
        <div class="content">
          <span
            v-for="(storeItem, storeIndex) in item.value"
            :key="storeIndex"
            :class="{'active': storeItem.id === ($route.query.ownerId || channel.currentChannel.channelId)}"
          >{{storeItem.name}}<van-icon v-if="storeItem.id === ($route.query.ownerId || channel.currentChannel.channelId)" name="success" size="0.4rem"/>
          </span>
        </div>
      </van-collapse-item>
    </van-collapse>

    <!-- 底部按钮 -->
    <bottom-button id="call-center-btn" class="call-center-btn" onclick="ud.showPanel()" :btns="btns"></bottom-button>
  </membership-wrapper>
</template>

<script>
import MembershipWrapper from '@/components/membership-center/membership-wrapper'
import BottomButton from '@/components/bottom-button'
import { KFMixin } from '@/assets/js/mixin'
import { formatDataByGroup } from '@/utils/common'
import { api } from '@/api'
import { mapGetters } from 'vuex'

export default {
  name: 'call-center',
  mixins: [KFMixin],
  data () {
    return {
      btns: [
        {
          text: '联系客服',
          color: 'red'
        }
      ],
      activeName: [],
      list: []
    }
  },
  computed: {
    ...mapGetters(['channel']),
    filterList () {
      return this.list.filter(v => v.key)
    }
  },
  mounted () {
    this.initUdesk()
    this.getCustomerService()
  },
  methods: {
    initUdesk () {
      // 接入Udesk客服
      (function (a, h, c, b, f, g) {
        a.UdeskApiObject = f
        a[f] = a[f] || function () {
          (a[f].d = a[f].d || []).push(arguments)
        }
        g = h.createElement(c)
        g.async = 1
        g.charset = 'utf-8'
        g.src = b
        g.onload = () => {
          // if (sessionStorage.getItem('token')) {
          //   let userInfoJson = sessionStorage.getItem('userInfo')
          //   let userInfo = JSON.parse(userInfoJson)
          //   let cname = userInfo.userName
          //   let ctags = JSON.parse(getCookie('selectedChannel')) && JSON.parse(getCookie('selectedChannel')).channelName
          //   let customerToken = userInfo.id
          //   let cdesc = '温氏商城客户，来自MOB端'
          //   let userGroup = userInfo.group
          //   let userNick = userInfo.nickname
          //   let cphone = userInfo.phone
          //   let webToken = userInfo.id
          //   let nonce = Math.random().toString(36).substr(2)
          //   let timestamp = new Date().getTime()
          //   let signStr = 'nonce=' + nonce + '&timestamp=' + timestamp + '&web_token=' + webToken + '&7a0627529435458f96fb812da349868b'
          //   // eslint-disable-next-line
          //   signStr = hex_sha1(signStr)
          //   let signature = signStr.toUpperCase()
          //   ud({
          //     'customer': {
          //       'c_name': cname,
          //       'c_cf_客户分组': userGroup,
          //       'c_cf_客户昵称': userNick,
          //       'c_tags': ctags,
          //       'customer_token': customerToken,
          //       'c_desc': cdesc,
          //       'c_phone': cphone,
          //       'nonce': nonce,
          //       'signature': signature,
          //       'timestamp': timestamp,
          //       'web_token': webToken
          //     }
          //   })
          // }
        }
        c = h.getElementsByTagName(c)[0]
        c.parentNode.insertBefore(g, c)
      })(window, document, 'script', 'https://assets-cli.s2.udesk.cn/im_client/js/udeskApi.js', 'ud')
      ud({
        code: '3ch2f07',
        link: 'https://wens.s2.udesk.cn/im_client/?web_plugin_id=3238',
        targetSelector: '#call-center-btn',
        mobile: {
          mode: 'inner',
          color: '#307AE8',
          pos_flag: 'hmb',
          onlineText: '联系客服，在线咨询',
          offlineText: '客服下班，请留言',
          pop: {
            direction: 'top',
            arrow: {
              top: 0,
              left: '70%'
            }
          }
        },
        panel: {
          css: {
            top: '0'
          }
        }
      })
    },
    getCustomerService () {
      api.commonCall({ isStore: '1' }, 'customerAuthQueryWens').then(res => {
        if (res.success) {
          this.list = formatDataByGroup(res.data.list.slice(0, res.data.list.length), 'salesAreaName')

          for (let i = 0; i < this.list.length; i++) {
            this.activeName.push(i)
          }
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    openCustomerService (item) {
      let userInfoJson = sessionStorage.getItem('userInfo')
      let userInfo = JSON.parse(userInfoJson)
      let cname = userInfo.userName
      let ctags = item.cusServiceSetting && item.cusServiceSetting.label
      let customerToken = userInfo.id
      let cdesc = '温氏商城客户，来自MOB端'
      let userGroup = userInfo.group
      let userNick = userInfo.nickname
      let cphone = userInfo.phone
      let webToken = userInfo.id
      let nonce = Math.random().toString(36).substr(2)
      let timestamp = new Date().getTime()
      let signStr = 'nonce=' + nonce + '&timestamp=' + timestamp + '&web_token=' + webToken + '&7a0627529435458f96fb812da349868b'
      // eslint-disable-next-line
      signStr = hex_sha1(signStr)
      let signature = signStr.toUpperCase()
      ud({
        customer: {
          c_name: cname,
          c_cf_客户分组: userGroup,
          c_cf_客户昵称: userNick,
          c_tags: ctags,
          customer_token: customerToken,
          c_desc: cdesc,
          c_phone: cphone,
          nonce: nonce,
          signature: signature,
          timestamp: timestamp,
          web_token: webToken
        }
      })

      ud.showPanel()
    },
    toMembershipCenter () {
      this.$router.replace('/membershipCenter')
      this.$router.go(-1)
    }
  },
  components: {
    MembershipWrapper,
    BottomButton
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.call-center {
  color: #2e3033;
  @{deep}.van-collapse-item {
    .title {
      img {
        width: 70px;
        height: 70px;
        vertical-align: middle;
        margin-left: 30px;
      }
      a {
        display: inline-block;
        margin-left: 30px;
        img {
          margin-left: 0;
        }
      }
    }
    .content {
      span {
        display: inline-block;
        padding: 6px 12px;
        border: 1px solid #979797;
        border-radius: 10px;
        margin: 0 20px 20px 0;
        &.active {
          color: #e33240;
          border-color: #e33240;
        }
        .van-icon-success {
          vertical-align: text-bottom;
        }
      }
    }
  }

  .call-center-btn {
    display: none !important;
  }
}
</style>
