<template>
  <membership-wrapper class="certification" :title="'实名认证'" :left-arrow="true">
    <div class="van-content">
      <list title="用户头像" line="true" :my-style="{paddingTop: '13px', paddingBottom: '13px'}">
        <i
          class="profile"
          v-lazy:background-image="{ src: allImgDomainName + userInfo.avatar,
            error: require('@/assets/images/default_profile@2x.png') }"
        ></i>
      </list>

      <list title="用户名" line="true">{{userInfo.userName}}</list>

      <list title="认证时间" line="true" v-if="userInfo.time">{{userInfo.time}}</list>

      <list
        title="绑定手机"
        line="true"
      >{{userInfo.phone?userInfo.phone.replace(/(^.{3}).+(.{4})$/, '$1****$2'):''}}</list>

      <list
        title="身份证"
      >{{userInfo.idCard}}</list>

      <list class="picture" line="true">
        <div
          class="img"
          :style="{backgroundImage: `url(${allImgDomainName}${userInfo.pictureObverse})`}"
        ></div>

        <div
          class="img"
          :style="{backgroundImage: `url(${allImgDomainName}${userInfo.pictureReverse})`}"
        ></div>
      </list>
    </div>
  </membership-wrapper>
</template>

<script>
import MembershipWrapper from '@/components/membership-center/membership-wrapper'
import List from '@/components/list'
import { api } from '@/api'
import { allImgDomainNameMixin } from '@/assets/js/mixin'

export default {
  name: 'certification',
  mixins: [allImgDomainNameMixin],
  components: {
    MembershipWrapper,
    List
  },
  data () {
    return {
      userInfo: null
    }
  },
  filters: {
    nameConvert (name) {
      let param = ''
      for (let i = 0; i < name.length; i++) {
        if (i === 0 || i === name.length - 1) {
          param += name[i]
        } else {
          param += '*'
        }
      }
      return param
    }
  },
  created () {
    this.getUserInfo()
  },
  methods: {
    // 获取用户信息
    getUserInfo () {
      if (!this.userInfo) {
        this.userInfo = JSON.parse(sessionStorage.getItem('userInfo'))

        if (!this.userInfo) {
          api.userInfo().then(res => {
            if (res.success) {
              this.userInfo = res.data
            } else {
              res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
            }
          })
        }
      }
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.certification {
  color: #2e3033;

  .format-img {
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .van-content {
    height: calc(100% - 92px);
    background: white;
  }

  > div {
    > div {
      padding-right: 30px;
    }
  }

  .profile {
    display: inline-block;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: rgb(245, 245, 245);
    .format-img;
  }

  .picture {
    .img {
      display: inline-block;
      // border-radius: 14px;
      width: 170px;
      height: 110px;
      margin-left: 20px;
      .format-img;
      border: 1PX #ccc solid;
    }
  }
}
</style>
