<template>
  <membership-wrapper
    class="coupon"
    :title="'优惠券'"
    :right-color="isEdit ? 'black' : 'grey'"
    :left-arrow="true"
    :right-text="isEdit ? '完成' : '编辑'"
    @click-right="clickRight"
  >
    <div class="van-content content" :class="{isEdit}">
      <div v-if="coupon && coupon.length">
        <div
          class="coupon-box"
          :class="{isEdit}"
          v-for="(item, index) in coupon"
          :key="index + 'coupon'"
        >
          <!-- 店铺 -->
          <div class="owner-title">
            <i></i>

            <span>{{item.ownerName}}</span>
          </div>

          <!-- 列表 -->
          <div class="coupon-list">
            <checkbox
              :isChoose="child.isChoose"
              :isContentSelect="isEdit"
              @select="(e) => {select(e, child)}"
              v-for="(child, childIndex) in item.list"
              :key="childIndex + 'child' + index"
            >
              <div class="coupon-item">
                <div>
                  <div>
                    <span>{{child.price - 0}}</span> 元
                  </div>

                  <div>{{child.description}}</div>

                  <div>有效期 {{child.time}}</div>
                </div>

                <div @click="selectCoupon(child.id)">立即领取</div>
              </div>
            </checkbox>
          </div>
        </div>
      </div>

      <div class="no-data-box" v-else>
        <no-data :loading="requestLoading" text="目前暂无优惠券"></no-data>
      </div>
    </div>

    <!-- 底部按钮 -->
    <transition name="slideUp">
      <bottom-button @on-btn="btnClick" :btns="[{text: '删除', color: 'red'}]" v-if="isEdit">
        <checkbox :isContentSelect="true" :isChoose="isChoose" @select="(e) => {select(e)}">全选</checkbox>
      </bottom-button>
    </transition>
  </membership-wrapper>
</template>

<script>
import Checkbox from '@/components/checkbox'
import MembershipWrapper from '@/components/membership-center/membership-wrapper'
import BottomButton from '@/components/bottom-button'
import NoData from '@/components/no-data'

export default {
  name: 'coupon',
  created () {
    this.queryCoupon()
  },
  methods: {
    // 底部按钮点击
    btnClick (item) {
      if (item.text === '删除' && this.selectList.length) {
        this.$dialog
          .confirm({
            title: '提示',
            message: `确定要删除这${this.selectList.length}张优惠券吗？`
          })
          .then(() => {})
      }
    },
    // 选中
    select (e, item) {
      let list = this.coupon
      let num = 0
      let arr = []

      // 优惠券
      if (item) {
        item.isChoose = e

        list.forEach(v => {
          v.list.forEach(item => {
            num++

            item.isChoose && arr.push(item)
          })
        })

        this.isChoose = num === arr.length

        // 全选
      } else {
        this.isChoose = e

        list.forEach(v => {
          v.list.forEach(item => {
            item.isChoose = this.isChoose

            arr.push(item)
          })
        })
      }

      this.selectList = arr

      this.coupon.splice(0, this.coupon.length, ...list)
    },
    // 编辑$完成
    clickRight () {
      this.isEdit = !this.isEdit
    },
    // 立即领取
    selectCoupon () {},
    queryCoupon () {
      this.requestLoading = true
      new Promise(resolve => {
        resolve(this.ddd)
      }).then(res => {
        this.requestLoading = false
        if (res.success) {
          res.data.forEach(v => {
            v.list.forEach(item => {
              item.isChoose = false
            })
          })

          this.coupon = res.data
        }
      })
    }
  },
  data () {
    return {
      selectList: [],
      isEdit: false,
      coupon: [],
      isChoose: false,
      ddd: {
        success: true,
        data: [
          // {
          //   ownerName: '温氏',
          //   list: [
          //     {
          //       id: '2423424',
          //       description: '购满200使用',
          //       time: '2018.07.18-2020.07.16',
          //       price: '60.00'
          //     },
          //     {
          //       id: '2423424',
          //       description: '购满200使用',
          //       time: '2018.07.18-2020.07.16',
          //       price: '60.00'
          //     },
          //     {
          //       id: '2423424',
          //       description: '购满200使用',
          //       time: '2018.07.18-2020.07.16',
          //       price: '60.00'
          //     },
          //     {
          //       id: '2423424',
          //       description: '购满200使用',
          //       time: '2018.07.18-2020.07.16',
          //       price: '60.00'
          //     }
          //   ]
          // },
          // {
          //   ownerName: '联营销售部',
          //   list: [
          //     {
          //       id: '2423424',
          //       description: '购满200使用',
          //       time: '2018.07.18-2020.07.16',
          //       price: '60.00'
          //     }
          //   ]
          // }
        ]
      },
      requestLoading: false // 接口请求加载动画
    }
  },
  components: {
    BottomButton,
    MembershipWrapper,
    Checkbox,
    NoData
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.coupon {
  .format-img {
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .van-content {
    height: calc(100% - 92px);
  }

  .content {
    -webkit-overflow-scrolling: touch;
    overflow: auto;
    box-sizing: border-box;
    transition: padding-bottom 0.2s;

    &.isEdit {
      padding-bottom: 96px;
    }

    .coupon-box {
      background: white;
      overflow: hidden;
      margin-bottom: 16px;

      &.isEdit {
        .coupon-item {
          margin: 0;
        }

        @{deep}.van-checkbox__icon {
          margin-left: 0 !important;
        }

        @{deep}.van-checkbox__label {
          width: calc(100% - 92px) !important;
        }
      }

      .owner-title {
        padding: 40px 0;
        padding-left: 24px;
        height: 40px;
        overflow: hidden;

        i {
          .bg-img("~@/assets/images/icon/shop");
          background-size: 48px 48px;
          background-position: center;
          float: left;
          width: 34px;
          height: 40px;
          margin-right: 16px;
        }

        span {
        }
      }

      .coupon-list {
        > div {
          margin-bottom: 40px;
        }

        @{deep}.van-checkbox__icon {
          // transition: all .2s;
          margin-left: -92px;
        }

        @{deep}.van-checkbox__label {
          // transition: all .2s;
          width: 100%;
        }
      }
    }
  }

  .coupon-item {
    .bg-img("~@/assets/images/coupon");
    .format-img;
    background-position: right center;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    margin: 0 24px;
    // transition: all .2s;
    height: 204px;
    display: flex;

    > div {
      height: 100%;
      color: white;

      &:first-child {
        flex: 1;
        padding-left: 26px;
        overflow: hidden;

        > div {
          font-size: 22px;
          line-height: 1.8em;

          &:first-child {
            font-size: 36px;

            span {
              font-size: 56px;
              line-height: 1.8em;
            }
          }
        }
      }

      &:last-child {
        width: 200px;
        font-size: 28px;
        text-align: center;
        line-height: 204px;
      }
    }
  }
}
</style>
