<template>
  <membership-wrapper
    class="customer-application"
    :title="title"
    :left-arrow="true"
    :backPage="!index"
    @click-left="clickLeft"
  >
    <transition name="slide-right">
      <!-- 销售部申请 -->
      <div class="van-content content" v-if="!index">
        <van-pull-refresh v-model="isLoading" @refresh="onRefresh" v-if="customer && customer.length">
          <van-list v-model="loading" :finished="finished" @load="onLoad" :offset="200">
            <list
              v-for="(item, index) in customer"
              :key="index + 'customer'"
              line="true"
              arrow="true"
              :title="item.channelName"
              @on-click="click(item)"
            >
              <span
                :style="{color: statusStyle(item.billStatus).color}"
              >{{statusStyle(item.billStatus).text}}</span>
            </list>
          </van-list>
        </van-pull-refresh>
        <div class="no-data-box" v-else>
          <no-data :loading="requestLoading"></no-data>
        </div>
      </div>
    </transition>

    <transition name="slide-left">
      <!-- 申请详情 -->
      <div class="van-content" v-if="selectItem">
        <list line="true" title="申请状态">
          <span
            class="detail-item"
            :style="{color: statusStyle(selectItem.billStatus).color}"
          >{{statusStyle(selectItem.billStatus).text}}</span>
        </list>

        <list line="true" title="区域省份">
          <span class="detail-item">{{selectItem.channelAreaName.split('/')[0] || '其他'}}</span>
        </list>

        <list line="true" title="申请时间">
          <span class="detail-item">{{formatTime(selectItem.reqDate)}}</span>
        </list>
      </div>

      <!-- 修改销售部 -->
      <div class="van-content content" v-if="!selectItem && index">
        <!-- 搜索框 -->
        <div class="search-box">
          <div>
            <van-icon name="search" @click="search"/>
            <input
              ref="input"
              type="text"
              placeholder="搜索销售部门"
              v-model="inputText"
              @focus="inputLayout = true"
              @blur="inputLayout = false"
            >
          </div>
        </div>

        <van-pull-refresh v-model="isLoading" @refresh="onRefresh" v-if="customer && customer.length">
          <van-list v-model="loading" :finished="finished" @load="onLoad" :offset="200">
            <div
              class="detail-checkbox-list"
              v-for="(item, index) in customer"
              :key="index + 'modify'"
            >
              <checkbox
                :isContentSelect="true"
                :isChoose="item.isChoose"
                @select="(e) => {select(e, index, item)}"
              >
                <span class="detail-checkbox">{{item.name}}</span>
              </checkbox>
            </div>
          </van-list>
        </van-pull-refresh>
        <div class="no-data-box" v-else>
          <no-data :loading="requestLoading"></no-data>
        </div>
      </div>
    </transition>

    <!-- 底部按钮 -->
    <bottom-button :btns="btns" v-if="!selectItem" :key="index + 'bottom'" @on-btn="onBtn"></bottom-button>

    <!-- 选择城市 -->
    <div slot="slot-right" v-if="!selectItem && index">
      <span class="slot-right" @click.stop="selectCity">{{selectedCity}}</span>
      <!--<span class="slot-right" @click.stop="selectCity">{{selectedCity}}</span>-->
    </div>

    <!-- 城市选择器 -->
    <pull-up-selection
      :data="region"
      :show="showPullUpSelection"
      @cancel="cancelSelect"
      @selected="pullUpSelected"
    ></pull-up-selection>
  </membership-wrapper>
</template>

<script>
import List from '@/components/list'
import Checkbox from '@/components/checkbox'
import BottomButton from '@/components/bottom-button'
import PullUpSelection from '@/components/pull-up-selection'
import MembershipWrapper from '@/components/membership-center/membership-wrapper'
import NoData from '@/components/no-data'
import { api } from '@/api'
import { _debounce } from '@/utils/common'

export default {
  name: 'customer-application',
  data () {
    return {
      selectedCity: '全部',
      showPullUpSelection: false,
      inputText: '',
      btns: [{ text: '修改', color: 'white' }],
      title: '销售部申请',
      customer: [],
      index: 0, // 0:销售部申请 1:修改&详情
      selectItem: null,
      city: [],
      // 上拉加载及下拉刷新
      page: {
        index: 1,
        size: 20,
        total: 0
      },
      cacheList: [],
      loading: false, // 控制上拉加载的加载动画
      finished: false, // 控制在页面往下移动到底部时是否调用接口获取数据
      isLoading: false, // 控制下拉刷新的加载动画
      ownerId: '',
      cancelList: [],
      addList: [],
      relFlag: false, // 记录列表查询状态
      isSubmitFlag: false, // 记录提交状态
      requestLoading: false // 接口请求加载动画
    }
  },
  created () {
    this.init()
  },
  methods: {
    init () {
      this.requestLoading = true
      const params = {
        page: this.page.index,
        pageSize: this.page.size
      }
      api.customerRelQuery(params).then(res => {
        this.requestLoading = false
        if (res.success) {
          this.cacheList = this.cacheList.concat(res.data.list)
          this.customer.splice(0, this.customer.length, ...this.cacheList)
          this.customer.forEach(v => {
            v.isChoose = false
          })
          this.page.total = res.data.count
          this.finished = false

          this.loading = false

          if (this.cacheList.length >= this.page.total) {
            this.finished = true
          }
          setTimeout(() => {
            this.isLoading = false
          }, 100)
        }
      })
    },
    // 下拉刷新
    onRefresh () {
      this.page.index = 1
      this.cacheList = []
      if (this.index) {
        this.queryRelCustomerList()
      } else {
        this.init()
      }
    },
    // 上拉加载
    onLoad () {
      this.page.index++
      if (this.index) {
        this.queryRelCustomerList()
      } else {
        this.init()
      }
    },
    // 弹出地址选择器
    selectCity () {
      this.showPullUpSelection = true
    },
    // 取消选择上拉（地区）
    cancelSelect () {
      this.showPullUpSelection = false
    },
    // 上拉选中
    pullUpSelected (item, index) {
      this.showPullUpSelection = false
      this.selectParams = true // 选择区域或者输入查找条件
      this.area = item.number
      this.selectedCity = item.name
      this.queryRelCustomerList()
    },
    // 输入查找条件
    search () {
      this.selectParams = true // 选择区域或者输入查找条件
      this.queryRelCustomerList()
    },
    // 根据地区查询渠道信息
    queryRelCustomerList () {
      // this.cancelList = [];
      // this.addList = [];
      // this.customer = [];
      if (this.relFlag) return
      this.relFlag = true

      if (this.selectParams) {
        this.initLoadParams()
        this.selectParams = false
      }

      this.requestLoading = true

      let params = {
        pageNo: this.page.index,
        pageSize: this.page.size,
        isinnerorg: '1'
      }
      this.area && this.area !== '全部' && (params.area = this.area)
      this.inputText && (params.name = this.inputText)

      api.queryRelCustomerList(params).then(res => {
        this.requestLoading = false
        if (res.success) {
          this.cacheList = this.cacheList.concat(res.data.list)
          this.customer.splice(0, this.customer.length, ...this.cacheList)
          for (let i = 0; i < this.customer.length; i++) {
            if (this.customer[i].isRel) {
              this.customer[i].isChoose = true
              this.$set(this.customer, i, this.customer[i])
            }
            if (this.customer[i].id === this.ownerId) {
              this.customer.splice(i, 1)
              break
            }
          }

          this.page.total = res.data.totalNumber
          this.finished = false

          this.loading = false

          if (this.cacheList.length >= this.page.total) {
            this.finished = true
          }
          setTimeout(() => {
            this.isLoading = false
            this.relFlag = false
          }, 100)
        } else {
          this.relFlag = false
        }
        // if (res.success) {
        //   this.customer = res.data;
        //   for (let i = 0; i < this.customer.length; i++) {
        //     if (this.customer[i].isRel) {
        //       this.customer[i].isChoose = true;
        //       this.$set(this.customer, i, this.customer[i]);
        //     }
        //     if (this.customer[i].id === this.ownerId) {
        //       this.customer.splice(i, 1);
        //       break;
        //     }
        //   }
        // }
      })
    },
    // 取消
    // cancelSelect() {
    //   this.showPullUpSelection = false;
    // },
    // // 选择城市
    // pullUpSelected(a, b, c) {
    //   this.selectedCity = a.name;
    //
    //   this.showPullUpSelection = false;
    // },
    // 选中修改
    select (e, index, item) {
      item.isChoose = e
      this.$set(this.customer, index, item)

      if (item.isRel) {
        if (e) {
          this.cancelList.splice(this.cancelList.indexOf(item.id), 1)
        } else {
          this.cancelList.push(item.id)
        }
      } else {
        if (e) {
          this.addList.push(item.id)
        } else {
          this.addList.splice(this.addList.indexOf(item.id), 1)
        }
      }
    },
    // 底部按钮
    onBtn: _debounce(function (item) {
      if (item.text === '修改') {
        this.initLoadParams()
        this.index = 1
        this.inputText = ''
        let userData = sessionStorage.getItem('userInfo')
        if (userData && userData !== '{}') {
          this.ownerId = JSON.parse(userData).ownerId
        } else {
          api.userInfo().then(res => {
            if (res.success) {
              this.ownerId = res.data.ownerId
            } else {
              res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
            }
          })
        }
        this.cancelList = []
        this.addList = []
        this.customer = []
        this.queryRelCustomerList()
      } else if (item.text === '提交') {
        if (this.isSubmitFlag) return
        this.isSubmitFlag = true
        let params = {}
        this.cancelList.length && (params.delIds = this.cancelList)
        this.addList.length && (params.reqIds = this.addList)

        if (params.reqIds || params.delIds) {
          api.customerReq(params).then(res => {
            if (res.success) {
              setTimeout(() => {
                this.isSubmitFlag = false
              }, 1000)
              this.initLoadParams()
              // this.page.index = 1;
              this.init()
              this.index = 0
              this.$toast.success({
                durations: 2000,
                message: '修改成功'
              })
            } else {
              setTimeout(() => {
                this.isSubmitFlag = false
              }, 1000)
              res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
            }
          })
        } else {
          setTimeout(() => {
            this.isSubmitFlag = false
          }, 1000)
          this.$toast.fail('请选择销售部')
        }
      }
    }, 500),
    initLoadParams () {
      this.page.index = 1
      this.page.total = 0
      this.cacheList = []
      this.loading = false // 控制上拉加载的加载动画
      this.isLoading = false // 控制下拉刷新的加载动画
    },
    // 导航栏左箭头
    clickLeft () {
      this.index = 0
      this.selectItem = null
      if (!this.index) {
        this.customer = []
        this.page = {
          index: 1,
          size: 20,
          total: 0
        }
        this.cacheList = []
        this.loading = false // 控制上拉加载的加载动画
        this.isLoading = false // 控制下拉刷新的加载动画
        this.init()
      }
    },
    // 查看状态详情
    click (item) {
      this.selectItem = item
      this.index = 1
      this.title = item.customerName
    },
    // 初始化时间格式
    formatTime (date) {
      let arr = date.split(' ')[0].split('-')

      return `${arr[0]}年${arr[1]}月${arr[2]}日`
    },
    // 审核状态文字和颜色信息
    statusStyle (status) {
      switch (status) {
        case 'C':
          return {
            text: '审核通过',
            color: '#4A9C75'
          }
        case 'B':
          return {
            text: '审核中',
            color: '#FFAA17'
          }
        case 'D':
        case 'A':
          return {
            text: '审核不通过',
            color: '#F95C5C'
          }
        default:
          return {
            text: '',
            color: ''
          }
      }
    }
  },
  watch: {
    index (n) {
      this.btns = n
        ? [{ text: '提交', color: 'red' }]
        : [{ text: '修改', color: 'white' }]
      this.title = n ? '修改销售部' : '销售部申请'
    }
  },
  computed: {
    region () {
      var regionList = [{ number: '全部', name: '全部' }]
      regionList = regionList.concat(this.$store.getters.allRegion, { value: '其他', number: '其他', name: '其他' })
      return regionList
    }
  },
  components: {
    BottomButton,
    MembershipWrapper,
    PullUpSelection,
    Checkbox,
    List,
    NoData
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.customer-application {
  .format-img {
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .slide-left-enter-active,
  .slide-left-leave-active {
    position: absolute !important;
    bottom: 0;
    width: 100%;
    transition: left 0.3s;
    box-sizing: border-box;
  }

  .slide-left-enter,
  .slide-left-leave-to {
    left: 750px;
  }

  .slide-left-enter-to,
  .slide-left-leave {
    left: 0;
  }

  .slide-right-enter-active,
  .slide-right-leave-active {
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: right 0.3s;
    box-sizing: border-box;
  }

  .slide-right-enter,
  .slide-right-leave-to {
    right: 750px;
  }

  .slide-right-enter-to,
  .slide-right-leave {
    right: 0;
  }

  .van-content {
    height: calc(100% - 92px);
    background: white;
  }

  .content {
    padding-bottom: 96px;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    overflow: auto;

    .detail-item {
      padding-right: 30px;
    }

    .detail-checkbox-list {
      .border-1px(rgb(232, 233, 235));

      .detail-checkbox {
        display: block;
        height: 110px;
        font-size: 30px;
        line-height: 110px;
      }
    }

    .search-box {
      height: 96px;
      background: rgb(245, 245, 245);
      padding: 18px 24px;
      box-sizing: border-box;
      font-size: 28px;

      > div {
        width: 100%;
        height: 100%;
        background: white;
        border-radius: 100px;
        overflow: hidden;
        position: relative;

        i {
          font-size: 30px;
          color: #c1c4ca;
          position: absolute;
          width: 70px;
          text-align: center;
          line-height: 60px;
        }

        input {
          display: block;
          border: 0;
          outline: none;
          width: calc(100% - 100px);
          height: 100%;
          margin-left: 70px;

          &::-webkit-input-placeholder {
            color: #c1c4ca;
          }
        }
      }
    }
  }

  .slot-right {
    margin: auto;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    line-height: 1.2em;
    color: #2e3033;
    font-size: 30px;

    &::before {
      position: absolute;
      content: " ";
      bottom: 10px;
      right: 0;
      border-top: 7px solid #2e3033;
      border-left: 7px solid rgba(0, 0, 0, 0);
      border-right: 7px solid rgba(0, 0, 0, 0);
      transform: rotate(-45deg);
    }

    &:active {
      &::after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        content: " ";
        background: rgba(0, 0, 0, 0.08);
      }
    }
  }
}
</style>
