<template>
  <membership-wrapper class="personal-info"
    :title="type === 'CT01' ? '个人信息' : '企业信息'"
    :left-arrow="true"
    :backPage="false"
    :right-text="isSubmit ? '' : '提交'"
    @click-right="clickRight"
    @click-left="toSetInfo">

    <!-- 提交成功提示 -->
    <div class="checked" v-if="isSubmit">
      <i></i>
      <span>您已成功上传相关资料，将在下次登录后生效</span>
    </div>

    <div class="content" :class="{isSubmit}">
      <!-- 个人用户 -->
      <div class="content-1" v-if="type === 'CT01'">
        <list title="用户头像" line="true" :my-style="{paddingTop: '13px', paddingBottom: '13px'}">
          <div class="up-load">
            <van-uploader :after-read="onRead1" accept="image/*" class="profile">
              <img :src="/^(blob:|data:image)/.test(showImg) ? showImg : (allImgDomainName + showImg)" v-if="userInfo.avatar" @error="imgError" />
            </van-uploader>
            <div class="arrow" v-if="!isSubmit">
              <van-icon name="arrow"></van-icon>
            </div>
          </div>
        </list>

        <list title="用户名" class="padding-right" line="true">{{userInfo.userName}}</list>

        <!-- <list title="销售部" class="padding-right" line="true" v-if="userInfo.relationCustomerList && userInfo.relationCustomerList.length">
          <span class="customerName">{{userInfo.relationCustomerList.slice(0, 10).map(v => v.customerName).join('，')}}</span>
        </list> -->

        <!--<list title="用户类型" line="true" :arrow="!isSubmit" @on-click="togglePopup('customerType')">-->
        <!--{{this.userInfo.customerType=='CT01'?'个人用户':'企业用户'}}-->
        <!--</list>-->

        <list title="用户类型" class="padding-right" line="true" :arrow="false" @on-click="toUserChoose">
          {{userInfo.group || ''}}
        </list>

        <list title="昵称" class="padding-right" line="true">
          <div class="up-load">
            <van-field class="from-input" v-model="userInfo.nickname" clearable placeholder="请输入昵称"/>
          </div>
        </list>

        <list title="性别" line="true" :arrow="!isSubmit" @on-click="togglePopup('sex')">{{genderType}}</list>

        <list title="生日" line="true" :arrow="!isSubmit" @on-click="togglePopup('time')">{{birthParam || ''}}</list>

        <list class="picture" title="身份证" line="true" v-if="false">
          <div class="up-load">
            <div class="frontage">
              <img :src="allImgDomainName+userInfo.pictureObverse" v-if="userInfo.pictureObverse">
            </div>
            <div class="opposite">
              <img :src="allImgDomainName+userInfo.pictureReverse" v-if="userInfo.pictureReverse">
            </div>
            <!--<van-uploader :after-read="onRead2" class="frontage">-->
            <!--<img :src="allImgDomainName+userInfo.pictureObverse" v-if="userInfo.pictureObverse">-->
            <!--</van-uploader>-->
            <!--<van-uploader :after-read="onRead3" class="opposite">-->
            <!--<img :src="allImgDomainName+userInfo.pictureReverse" v-if="userInfo.pictureReverse">-->
            <!--</van-uploader>-->
            <div class="arrow" v-if="!isSubmit">
              <van-icon name="arrow"></van-icon>
            </div>
          </div>
        </list>
      </div>

      <!-- 企业用户 -->
      <div class="content-2" v-else>
        <list title="企业标志" line="true" :my-style="{paddingTop: '13px', paddingBottom: '13px'}">
          <div class="up-load">
            <van-uploader :after-read="onReadCompany1" accept="image/*" class="profile">
              <img :src="/^(blob:|data:image)/.test(showImg) ? showImg : (allImgDomainName + showImg)" v-if="userInfo.logo" @error="imgError">
            </van-uploader>
            <div class="arrow" v-if="!isSubmit">
              <van-icon name="arrow"></van-icon>
            </div>
          </div>
        </list>

        <list title="用户名" class="padding-right" line="true">{{userInfo.userName}}</list>

        <list title="销售部" class="padding-right" line="true">{{userInfo.relationCustomerList.map(v => v.customerName).join('，')}}</list>

        <!--<list title="用户类型" line="true" :arrow="!isSubmit" @on-click="togglePopup('customerType')">-->
        <!--{{this.userInfo.customerType=='CT01'?'个人用户':'企业用户'}}-->
        <!--</list>-->

        <list title="用户类型" class="padding-right" line="true" :arrow="!isSubmit" @on-click="toUserChoose">
          {{userInfo.group || ''}}
        </list>

        <list title="公司名称" line="true">
          <div class="up-load">
            <van-field class="from-input" v-model="userInfo.comName" clearable placeholder="请输入公司名称"/>
            <div class="arrow" v-if="!isSubmit">
              <van-icon name="arrow"></van-icon>
            </div>
          </div>
        </list>

        <list title="公司地址" line="true">
          <div class="up-load">
            <van-field class="from-input" v-model="userInfo.address" clearable placeholder="请输入公司地址"/>
            <div class="arrow" v-if="!isSubmit">
              <van-icon name="arrow"></van-icon>
            </div>
          </div>
        </list>

        <list title="公司行业" line="true" :arrow="!isSubmit" @on-click="togglePopup('comTradeName')">
          {{userInfo.comTradeName}}
        </list>

        <list title="公司规模" line="true" :arrow="!isSubmit" @on-click="togglePopup('comScaleName')">
          {{userInfo.comScaleName}}
        </list>

        <list class="picture" title="法人身份证" line="true" v-if="false">
          <div class="up-load">
            <div class="frontage">
              <img :src="allImgDomainName+userInfo.pictureObverse" v-if="userInfo.pictureObverse">
            </div>
            <div class="opposite">
              <img :src="allImgDomainName+userInfo.pictureReverse" v-if="userInfo.pictureReverse">
            </div>
            <!--<van-uploader :after-read="onReadCompany2" class="frontage">-->
            <!--<img :src="allImgDomainName+userInfo.pictureObverse" v-if="userInfo.pictureObverse">-->
            <!--</van-uploader>-->
            <!--<van-uploader :after-read="onReadCompany3" class="opposite">-->
            <!--<img :src="allImgDomainName+userInfo.pictureReverse" v-if="userInfo.pictureReverse">-->
            <!--</van-uploader>-->
            <div class="arrow" v-if="!isSubmit">
              <van-icon name="arrow"></van-icon>
            </div>
          </div>
        </list>

        <list class="picture" title="营业执照" v-if="false">
          <div class="up-load">
            <div class="frontage">
              <img :src="allImgDomainName+userInfo.pictureBLicence" v-if="userInfo.pictureBLicence">
            </div>
            <!--<van-uploader :after-read="onReadCompany4" class="frontage">-->
            <!--<img :src="allImgDomainName+userInfo.pictureBLicence" v-if="userInfo.pictureBLicence">-->
            <!--</van-uploader>-->
            <div class="arrow" v-if="!isSubmit">
              <van-icon name="arrow"></van-icon>
            </div>
          </div>
        </list>
      </div>
    </div>

    <!-- 底部弹出 -->
    <van-popup v-model="show" position="bottom">
      <div class="popup">
        <div class="popup-content" v-if="popupInfo[popupType]">
          <div class="title">{{popupTitle}}</div>

          <div class="list">
            <div v-for="item in popupInfo[popupType]" :key="item.value" @click="clickList(item.value || item)">
              {{item.content || item.name}}
            </div>
          </div>

          <div class="button" @click="cancel">取消</div>
        </div>

        <!-- 时间选择器 -->
        <div v-else>
          <van-datetime-picker @confirm="confirm" @cancel="cancel" v-model="birthday" type="date"
            :max-date="maxDate"
            :min-date="minDate"/>
        </div>
      </div>
    </van-popup>
  </membership-wrapper>
</template>

<script>
import MembershipWrapper from '@/components/membership-center/membership-wrapper'
import List from '@/components/list'
import { api } from '@/api'
import { allImgDomainNameMixin } from '@/assets/js/mixin'
import { zero } from '@/utils/common'

export default {
  name: 'customer-info',
  mixins: [allImgDomainNameMixin],
  data () {
    return {
      userInfo: null,
      type: '', // 'CT01'：个人，'CT02'：企业
      isSubmit: false,
      birthday: new Date(),
      birthParam: null,
      show: false,
      popupType: '',
      popupInfo: {
        sex: [{
          value: '1',
          content: '男'
        }, {
          value: '2',
          content: '女'
        }, {
          value: ' ',
          content: '保密'
        }],
        customerType: [
          //   {
          //   value: 'CT01',
          //   content: '个人用户'
          // }, {
          //   value: 'CT02',
          //   content: '企业用户'
          // },
        ],
        customerName: [],
        comScaleName: [],
        comTradeName: []
      },
      maxDate: new Date(), // 最大选择日期
      minDate: new Date(1900, 0, 1), // 最小选择日期
      userType: '',
      showImg: ''
    }
  },
  created () {
    this.getUserInfo()
    // 用户类型
    if (this.$route.params.userTypeList) {
      this.userType = this.$route.params.userTypeList.join('，')
    }
  },
  methods: {
    imgError () {
      this.showImg = require('@/assets/images/default_profile@2x.png')
    },
    toSetInfo () {
      this.$router.replace('/setInfo')
      this.$router.go(-1)
    },
    // 上传图片
    _uploadImage (file, img) {
      // 传递一个 FormData 对象
      // let formData = new FormData()
      // 'file' 可变 相当于 input 表单的name 属性
      // formData.append('file', file)
      api.uploadImage(file, res => {
        if (res.success) {
          if (/logo|avatar/.test(img)) {
            this.showImg = res.data[0]
          }
          this.userInfo[img] = res.data[0]
        } else {
          this.$toast.fail(res.msg || '上传图片失败')
        }
      })
    },
    onRead1 (e) {
      let file = e.file
      this._uploadImage(file, 'avatar')
    },
    onRead2 (e) {
      let file = e.file
      this._uploadImage(file, 'pictureObverse')
    },
    onRead3 (e) {
      let file = e.file
      this._uploadImage(file, 'pictureReverse')
    },
    onReadCompany1 (e) {
      let file = e.file
      this._uploadImage(file, 'logo')
    },
    onReadCompany2 (e) {
      let file = e.file
      this._uploadImage(file, 'pictureObverse')
    },
    onReadCompany3 (e) {
      let file = e.file
      this._uploadImage(file, 'pictureReverse')
    },
    onReadCompany4 (e) {
      let file = e.file
      this._uploadImage(file, 'pictureBLicence')
    },
    // 获取用户信息
    getUserInfo () {
      if (!this.userInfo) {
        this.userInfo = JSON.parse(sessionStorage.getItem('userInfo'))
        if (this.userInfo && this.userInfo !== '{}') {
          this.initData()
        } else {
          api.userInfo().then(res => {
            if (res.success) {
              this.userInfo = res.data
              this.initData()
            } else {
              res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
            }
          })
        }
      }
    },
    initData () {
      this.userInfo.customerType = this.userInfo.customerType || 'CT01'
      this.type = this.userInfo.customerType
      if (this.type === 'CT01') {
        this.userInfo.avatar && (this.showImg = this.userInfo.avatar)
        var date = this.userInfo.birthday && this.userInfo.birthday.split(' ')[0]
        this.birthday = date ? new Date(date) : new Date()
        this.birthParam = date || null
      } else {
        this.userInfo.logo && (this.showImg = this.userInfo.logo)
        this._getList()
      }
    },
    _getList () {
      // 获取公司规模列表
      api.assistantdataQuery({ groupNumber: 'companyScale' }).then(res => {
        if (res.success) {
          this.$set(this.popupInfo, 'comScaleName', res.data)
          if (this.userInfo.comScaleId) {
            for (let elem of res.data.values()) {
              if (elem.id === this.userInfo.comScaleId) {
                this.userInfo.comScaleName = elem.name
              }
            }
          }
        }
      })
      // 获取公司行业列表
      api.assistantdataQuery({ groupNumber: 'companyTrade' }).then(res => {
        if (res.success) {
          this.$set(this.popupInfo, 'comTradeName', res.data)
          if (this.userInfo.comTradeId) {
            for (let elem of res.data.values()) {
              if (elem.id === this.userInfo.comTradeId) {
                this.userInfo.comTradeName = elem.name
              }
            }
          }
        }
      })
    },
    clickRight () {
      let params = this.userInfo
      if (this.type === 'CT01') {
        if (!this.userInfo.avatar) {
          this.$toast('请上传用户头像')
          return
        } else if (this.userInfo.nickname && !this.userInfo.nickname.trim()) {
          this.$toast('昵称不能为空格')
          return
        } else {
          params.avatar = this.userInfo.avatar
          params.customerType = this.userInfo.customerType
          params.nickname = this.userInfo.nickname.trim()
          params.gender = this.userInfo.gender.trim()
          params.birthday = this.birthParam && this.birthParam + ' 00:00:00'
          params.pictureObverse = this.userInfo.pictureObverse
          params.pictureReverse = this.userInfo.pictureReverse
        }
      } else if (this.type === 'CT02') {
        if (!this.userInfo.logo) {
          this.$toast('请上传企业标志')
          return
        } else if (!this.userInfo.comName) {
          this.$toast('请输入公司名称')
          return
        } else if (!this.userInfo.comName.trim()) {
          this.$toast('公司名称不能为空格')
          return
        } else if (!this.userInfo.address) {
          this.$toast('请输入公司地址')
          return
        } else if (!this.userInfo.address.trim()) {
          this.$toast('请输入正确的公司地址')
          return
        } else if (!this.userInfo.comTradeId) {
          this.$toast('请选择公司行业')
          return
        } else if (!this.userInfo.comScaleId) {
          this.$toast('请选择公司规模')
          return
        } else {
          params.logo = this.userInfo.logo
          params.customerType = this.userInfo.customerType
          params.comName = this.userInfo.comName.trim()
          params.address = this.userInfo.address.trim()
          params.comTradeId = this.userInfo.comTradeId
          params.comScaleId = this.userInfo.comScaleId
          params.pictureObverse = this.userInfo.pictureObverse
          params.pictureReverse = this.userInfo.pictureReverse
        }
      }

      api.updateUserInfo(params).then(res => {
        if (res.success) {
          this.isSubmit = true
          this.$toast.success('提交成功')
        } else {
          res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    // 初始化时间
    formatDate (date) {
      let _date = date || new Date()

      return `${_date.getFullYear()}-${zero(_date.getMonth() + 1)}-${zero(_date.getDate())}`
    },
    togglePopup (type) {
      this.show = true
      this.popupType = type
    },
    toUserChoose () {
      this.$router.replace({
        name: 'userChoose',
        params: this.$route.params ? this.$route.params : ''
      })
    },
    // 底部弹出框列表点击
    clickList (item) {
      this.show = false
      if (this.popupType === 'sex') {
        this.userInfo.gender = item
      } else if (this.popupType === 'customerType') {
        this.userInfo.customerType = item
      } else if (this.popupType === 'comTradeName') {
        this.userInfo.comTradeName = item.name
        this.userInfo.comTradeId = item.id
      } else if (this.popupType === 'comScaleName') {
        this.userInfo.comScaleName = item.name
        this.userInfo.comScaleId = item.id
      }
    },
    // 时间选择器取消
    cancel () {
      this.show = false
    },
    // 时间选择器确定
    confirm () {
      this.show = false
      this.birthParam = this.formatDate(this.birthday)
    }
  },
  computed: {
    // 底部弹出框标题
    popupTitle () {
      switch (this.popupType) {
        case 'sex':
          return '选择性别'
        case 'customerType':
          return '选择用户类型'
        case 'comScaleName':
          return '选择公司规模'
        case 'comTradeName':
          return '选择公司行业'
        default:
          return ''
      }
    },
    // 性别
    genderType () {
      switch (this.userInfo.gender.trim()) {
        case '1':
          return '男'
        case '2':
          return '女'
        case '':
          return '保密'
        default:
          return ''
      }
    }
    // 用户类型
    // customerType() {
    //   switch (this.userInfo.customerType) {
    //     case 'CT01':
    //       return '个人用户';
    //     case 'CT02':
    //       return '企业用户';
    //     default:
    //       return '个人用户'
    //   }
    // }
  },
  components: {
    List,
    MembershipWrapper
  }
}
</script>

<style lang="less" scoped>
  @import "~@/assets/css/mixin.less";

  .personal-info {
    color: #2E3033;

    .format-img {
      background-size: 100% 100%;
      background-position: center;
      background-repeat: no-repeat;
    }

    .checked {
      background: white;
      display: flex;
      padding: 80px 60px;
      margin-bottom: 16px;

      i {
        display: block;
        width: 86px;
        height: 79px;

        .format-img;
        .bg-img('~@/assets/images/checked');
      }

      span {
        flex: 1;
        color: #428BE9;
        font-size: 28px;
        padding-left: 50px;
      }
    }

    .content {
      .padding-right {
        padding-right: 30px;
        .customerName {
          display: inline-block;
          width: 500px;
          // overflow: hidden;
          // text-overflow: ellipsis;
          // white-space: nowrap;
        }
      }

      &.isSubmit {
        > div {
          > div {
            padding-right: 30px;
          }
        }
      }
    }

    .up-load {
      display: flex;
      float: right;
      overflow: hidden;
      .profile {
        display: block;
        float: right;
        width: 110px;
        height: 110px;
        background: #EDEDEF;
        border-radius: 50%;
        img {
          border-radius: 50%;
        }
      }
      @{deep} .van-cell {
        padding: 0;
      }
      @{deep} .van-cell:not(:last-child)::after {
        border: none;
      }
      @{deep} .van-field__control {
        text-align: right;
        color: #8E939A;
        font-size: 30px;
      }
      .frontage {
        display: block;
        width: 170px;
        height: 110px;
        background: #EDEDEF;
        text-align: center;
        border-radius: 12px;
      }
      .opposite {
        display: block;
        width: 170px;
        height: 110px;
        background: #EDEDEF;
        text-align: center;
        border-radius: 12px;
        margin-left: 30px;
      }
      img {
        width: 100%;
        height: 110px;
      }
    }

    .popup {
      color: #2E3033;
      font-size: 30px;
      background: rgb(245, 245, 245);
      text-align: center;

      .active {
        position: relative;
        transform: rotate(0deg);
        overflow: hidden;

        &:active {
          &::before {
            content: ' ';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            background: rgba(0, 0, 0, .08);
          }
        }
      }

      > .popup-content > div {
        background: white;
      }

      .title {
        line-height: 96px;
        height: 96px;
        color: #8E939A;
        font-size: 26px;
        .border-1px(rgba(232, 233, 235, 1))
      }

      .list {
        max-height: 8 * 96px;
        -webkit-overflow-scrolling: touch;
        overflow: auto;

        > div {
          line-height: 96px;
          height: 96px;
          .active;
          .border-1px(rgba(232, 233, 235, 1))
        }
      }

      .button {
        .active;
        margin-top: 16px;
        line-height: 100px;
        height: 100px;
      }
    }
  }
</style>
