<template>
  <membership-wrapper class="help-center" title="帮助中心" :left-arrow="true">
    <div>
      <div class="content" v-for="(listItem, listIndex) in list" :key="listIndex">
        <list
          v-for="item in listItem"
          @on-click="goPage(item.to, item.query)"
          :key="item.title"
          :title="item.title"
          line="true"
          arrow="true"
        ></list>
      </div>
    </div>
  </membership-wrapper>
</template>

<script>
import List from '@/components/list'
import MembershipWrapper from '@/components/membership-center/membership-wrapper'

export default {
  name: 'help-center',
  data () {
    return {
      list: [
        [
          {
            title: '意见反馈',
            to: 'customerFeedbackSwitchType'
          },
          {
            title: '调查问卷',
            to: 'questionnaire'
          }
        ], [

        ]
      ]
    }
  },
  methods: {
    goPage (name, query = {}) {
      if (name) {
        this.$router.push({
          name,
          query
        })
      }
    }
  },
  components: {
    List,
    MembershipWrapper
  }
}
</script>

<style lang="less" scoped>
.help-center {
  color: #2e3033;
  .content {
    margin-top: 16px;
    &:first-child {
      margin-top: 0;
    }
  }
}
</style>
