<template>
  <membership-wrapper
    class="history"
    :title="'历史访问'"
    :right-color="isEdit ? 'black' : 'grey'"
    :left-arrow="true"
    :right-text="isEdit ? '完成' : '编辑'"
    @click-right="clickRight"
  >
    <div class="van-content content" :class="{isEdit}">
      <div class="history-list">
        <van-pull-refresh v-model="isLoading" @refresh="onRefresh" v-if="history && history.length">
          <van-list v-model="loading" :finished="finished" @load="onLoad" :offset="200" finished-text="没有更多了">
            <div class="goods-list" v-for="(item, index) in history" :key="index">
              <p class="time" v-if="index === 0 || history[index].browseDate !== history[index - 1].browseDate">{{item.browseDate}}</p>
              <div class="goods-box">
                <div class="myCheckbox" v-if="isEdit">
                  <checkbox
                    :isChoose="item.isChoose"
                    :isContentSelect="isEdit"
                    @select="(e) => {select(e, item)}"
                    :key="'item' + index"
                  >
                  </checkbox>
                </div>
                <div class="goods-img">
                  <img
                    v-lazy="allImgDomainName + item.ItemThumbnail"
                    alt
                    @click="goPage(item.itemId, item.isZZItem)"
                  >
                </div>
                <div class="goods-info" :class="{'no-border-top': index === 0 || history[index].browseDate !== history[index - 1].browseDate}">
                  <p class="goods-title">{{item.itemName}}</p>
                  <p class="goods-owner">{{item.storeName || item.ownerName}}</p>
                  <p class="goods-price">{{item.itemPrice}}元/{{item.itemSaleUnitName}}</p>
                </div>
              </div>
            </div>
          </van-list>
        </van-pull-refresh>

        <div class="no-data-box" v-else>
          <no-data :loading="requestLoading" url="history" text="暂无浏览历史"></no-data>
        </div>
      </div>
    </div>

    <!-- 底部按钮 -->
    <transition name="slideUp">
      <bottom-button :btns="[{text: '删除', color: 'red'}]" v-if="isEdit" @on-btn="btnClick">
        <checkbox :isContentSelect="true" :isChoose="isChoose" @select="(e) => {select(e)}">全选</checkbox>
      </bottom-button>
    </transition>
  </membership-wrapper>
</template>

<script>
import Checkbox from '@/components/checkbox'
import MembershipWrapper from '@/components/membership-center/membership-wrapper'
import BottomButton from '@/components/bottom-button'
import NoData from '@/components/no-data'
import { allImgDomainNameMixin } from '@/assets/js/mixin'
import { api } from '@/api'

export default {
  name: 'history',
  mixins: [allImgDomainNameMixin],
  components: {
    BottomButton,
    MembershipWrapper,
    Checkbox,
    NoData
  },
  data () {
    return {
      isEdit: false,
      history: [],
      isChoose: false,
      loading: false, // 控制上拉加载的加载动画
      finished: false, // 控制在页面往下移动到底部时是否调用接口获取数据
      isLoading: false, // 控制下拉刷新的加载动画
      requestLoading: false, // 接口请求加载动画
      cacheList: [],
      page: {
        index: 1,
        size: 6,
        total: 0
      }
    }
  },
  created () {
    this.queryhistory()
  },
  methods: {
    goPage (id, isZZItem) {
      if (!this.isEdit) {
        this.$router.push({
          path: isZZItem !== '1' ? '/goodsDetails' : '/breedingPigDetails',
          query: {
            id: id
          }
        })
      }
    },
    // 选中
    select (e, item) {
      let list = this.history
      let length = list.length
      let arr = []

      if (item) {
        item.isChoose = e

        arr = list.filter(v => {
          return v.isChoose
        })

        this.isChoose = length === arr.length
      } else {
        this.isChoose = e

        list.forEach(v => {
          v.isChoose = this.isChoose

          arr.push(v)
        })
      }

      this.history.splice(0, this.history.length, ...list)
    },
    clickRight () {
      this.isEdit = !this.isEdit
    },
    queryhistory () {
      this.requestLoading = true
      let params = {
        page: this.page.index,
        pageSize: this.page.size,
        sourceType: 'mobile'
      }
      api.commonCall(params, 'queryItemBrowseRecord').then(res => {
        this.requestLoading = false
        if (res.success) {
          this.cacheList = this.cacheList.concat(res.data.list)
          this.history.splice(0, this.history.length, ...this.cacheList)
          this.page.total = res.data.count
          this.finished = false
          this.loading = false
          if (this.cacheList.length >= this.page.total) {
            this.finished = true
          }
          setTimeout(() => {
            this.isLoading = false
          }, 100)
        }
      })
    },
    // 下拉刷新
    onRefresh () {
      this.page.index = 1
      this.cacheList = []
      this.queryhistory()
    },
    // 上拉加载
    onLoad () {
      this.page.index++
      this.queryhistory()
    },
    // 删除
    btnClick () {
      let browseIdList = []
      for (let i = 0; i < this.history.length; i++) {
        if (this.history[i].isChoose) {
          browseIdList.push(this.history[i].id)
        }
      }
      api.commonCall({ browseIdList: browseIdList }, 'deleteItemBrowseRecord').then(res => {
        if (res.success) {
          this.$toast.success('删除成功')
          this.isEdit = false
          this.onRefresh()
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.history {
  .format-img {
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .van-content {
    height: calc(100% - 92px);
  }

  .content {
    -webkit-overflow-scrolling: touch;
    overflow: auto;
    box-sizing: border-box;
    transition: padding-bottom 0.2s;

    &.isEdit {
      padding-bottom: 96px;

      @{deep}.van-checkbox__icon {
        margin-left: 0 !important;
      }

      @{deep}.van-checkbox__label {
        width: calc(100% - 92px) !important;
      }

      @{deep}.goods-item {
        padding-left: 0;
      }
    }

    .history-list {
      @{deep}.van-checkbox__icon {
        // transition: all .2s;
        margin-left: -92px;
      }

      @{deep}.van-checkbox__label {
        // transition: all .2s;
        width: 100%;
      }

      @{deep}.goods-item {
        // transition: all .2s;

        .right {
          display: none !important;
        }
      }
      .goods-list {
        background: #ffffff;
        padding: 0 20px;
        .time {
          text-indent: 1em;
          font-size: 39px;
          font-weight: 500;
          padding: 30px 0 20px;
          border-bottom: 1px solid #eeeeee;
        }
        .goods-box {
          height: 260px;
          .myCheckbox {
            width: 88px;
            float: left;
            margin-top: 110px;
          }
          .goods-img {
            width: 40%;
            float: left;
            img{
              width: 240px;
            }
          }
          .goods-info{
            width: 47%;
            float: left;
            border-top: 1px solid #eee;
            &.no-border-top {
              border-top: 0;
            }
            .goods-title {
              font-size: 28px;
              margin-top: 50px;
            }
            .goods-owner {
              font-size: 24px;
              color: #666;
            }
            .goods-price {
              color: red;
              margin-top: 60px;
            }
          }
        }
      }
    }
  }
}
</style>
