<template>
  <membership-wrapper class="integral" :title="'积分等级'" :left-arrow="true">
    <div class="van-content content">
      <div class="wrapper">
        <div class="integral-number-wrap">
          <img src="@/assets/images/integral.png">
          <p>
            <span>{{currentGrade}}</span>
          </p>
          <p>
            <i>可用积分</i>
          </p>
        </div>
        <div class="integral-number-wrap">
          <img src="@/assets/images/grade.png">
          <p>
            <span>{{gradeName}}(Lv.{{grade}})</span>
          </p>
          <p>
            <i>等级</i>
          </p>
        </div>
        <div class="integral-number-wrap">
          <van-circle
            v-model="currentRate"
            color="#EAC34B"
            size="3.2rem"
            layer-color="#ebedf0"
            :stroke-width="60"
            :rate="gradePercentage"
            :speed="50"
          >
            <div class="circle-inner">
              <h4>距下一级还差</h4>
              <p>{{ gradeDiffer }}</p>
              <span>
                <i>{{ gradePercentage | keepZeroNum }}%</i>
              </span>
            </div>
          </van-circle>
        </div>
      </div>

      <div class="line"></div>

      <van-list
        v-model="loading"
        :finished="finished"
        finished-text="没有更多了"
        @load="onLoad"
        :offset="200"
        v-if="integralList&&integralList.length"
      >
        <ul class="integral-list">
          <li>
            <div class="list-wrapper" v-for="(items, index) in integralList" :key="index">
              <div class="title">
                <p>{{items.bizDate}}</p>
              </div>
              <div class="content">
                <p>{{items.remark}}</p>
                <div class="change">
                  <div class="number">{{items.beginpoints | keepZeroNum}}</div>
                  <div class="right-arrow">
                    <span
                      :class="{'color-1': items.points <= 0, 'color-2': items.points > 0}"
                    >{{items.points > 0 ? '+' : '-'}}{{items.points | keepZeroNum}}</span>
                  </div>
                  <div class="number">{{items.finalpoints | keepZeroNum}}</div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </van-list>
      <div class="no-data-box" v-else>
        <no-data :loading="requestLoading"></no-data>
      </div>
    </div>
  </membership-wrapper>
</template>

<script>
import MembershipWrapper from '@/components/membership-center/membership-wrapper'
import NoData from '@/components/no-data'
import { api } from '@/api'

export default {
  name: 'integral',
  data () {
    return {
      currentGrade: 0, // 当前积分
      totalGrade: 1, // 当前级总积分
      grade: 0, // 等级
      gradeName: '', // 等级名称
      currentRate: 0, // 当前进度
      loading: false, // 控制上拉加载的加载动画
      finished: false, // 控制在页面往下移动到底部时是否调用接口获取数据
      // 上拉加载及下拉刷新
      page: {
        index: 1,
        size: 10,
        total: 0
      },
      cacheList: [],
      integralList: [], // 积分明细列表
      requestLoading: false // 接口请求加载动画
    }
  },
  computed: {
    // 距离下一级积分
    gradeDiffer () {
      return this.totalGrade - this.currentGrade
    },
    // 积分百分比
    gradePercentage () {
      let per = (this.currentGrade / this.totalGrade) * 100
      return per > 100 ? 100 : per
    }
  },
  created () {
    this.memberPointQuery()
    this.queryIntegralList()
  },
  methods: {
    memberPointQuery () {
      api.memberPointQuery({ customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId }).then(res => {
        if (res.success) {
          this.currentGrade = res.data.totalPoints
          this.totalGrade = res.data.nextGradePoints
          this.grade = ~~res.data.gradeNumber
          this.gradeName = res.data.gradeName
        }
      })
    },
    queryIntegralList () {
      this.requestLoading = true
      const params = {
        customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId,
        page: this.page.index,
        pageSize: this.page.size
      }
      api.queryIntegralList(params).then(res => {
        this.requestLoading = false
        if (res.success) {
          this.cacheList = this.cacheList.concat(res.data.list)
          this.integralList.splice(0, this.integralList.length, ...this.cacheList)

          this.page.total = res.data.count
          this.finished = false

          this.page.index = res.data.page
          this.loading = false

          let total = 0
          // eslint-disable-next-line
          for (let [i, e] of this.integralList.entries()) {
            total++
          }

          if (total >= this.page.total) {
            this.finished = true
          }
        }
      })
    },
    // 上拉加载
    onLoad () {
      // let index = this.page.index++
      this.page.index++
      this.queryIntegralList()
    }
  },
  components: {
    MembershipWrapper,
    NoData
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.integral {
  .van-content {
    height: calc(100% - 92px);
    // background: white;
  }

  .content {
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    .wrapper {
      position: relative;
      overflow: hidden;
      background: white;

      .integral-number-wrap {
        float: left;
        width: 33.33%;
        padding: 20px 0;
        text-align: center;
        img {
          /*width: 90px;*/
          height: 160px;
        }
        p {
          &:nth-child(2) {
            margin-top: 20px;
          }
          i,
          span {
            font-weight: 500;
            font-style: normal;
          }
          i {
            font-size: 30px;
            color: rgba(46, 48, 51, 1);
          }
          span {
            font-size: 44px;
            color: rgba(227, 50, 64, 1);
          }
        }

        .circle-inner {
          width: 100%;
          text-align: center;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          line-height: 1;

          h4 {
            font-size: 24px;
            color: rgba(46, 48, 51, 1);
          }
          p {
            color: rgba(227, 50, 64, 1);
            font-size: 44px;
            margin: 10px 0 10px;
          }
          span {
            display: block;
            padding-top: 10px;
            color: #657180;
            font-size: 28px;
            &:before {
              content: "";
              display: block;
              width: 100px;
              height: 1px;
              margin: 0 auto;
              background: #e0e3e6;
              position: relative;
              top: -10px;
            }
          }
          span i {
            font-style: normal;
            color: rgba(46, 48, 51, 1);
          }
        }
      }
    }

    > .line {
      height: 16px;
      background: rgb(245, 245, 245);
    }

    .integral-list {
      width: 100%;
      padding: 0 10px;
      box-sizing: border-box;
      overflow-x: hidden;

      li {
        .list-wrapper {
          margin-top: 30px;
          .title {
            text-align: center;
            p {
              color: #515a6e;
            }
          }
          .content {
            border: 2px solid #e8eaec;
            border-radius: 20px;
            width: 100%;
            background: white;
            margin-top: 10px;
            padding: 20px;

            p {
              padding: 20px 0px;
              border-bottom: 2px solid #e8eaec;
              margin-bottom: 20px;
              text-align: center;
            }

            .change {
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 30px 0;

              .number {
                height: 48px;
                line-height: 48px;
                font-size: 48px;
                font-weight: 600;
              }

              .right-arrow {
                display: inline-block;
                position: relative;
                width: 180px;
                height: 48px;
                margin: 0 20px;

                &:before {
                  display: inline-block;
                  content: "";
                  width: 180px;
                  height: 4px;
                  background: #c7c7cc;
                  position: absolute;
                  top: 50%;
                }

                &:after {
                  display: inline-block;
                  content: "";
                  height: 18px;
                  width: 18px;
                  border-width: 4px 4px 0 0;
                  border-color: #c7c7cc;
                  border-style: solid;
                  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
                  position: absolute;
                  top: 50%;
                  left: 155px;
                  margin-top: -9px;
                }

                span {
                  position: relative;
                  left: 50px;
                  top: -20px;
                  font-size: 36px;

                  &.color-1 {
                    color: #e33240;
                  }
                  &.color-2 {
                    color: #44ad7b;
                  }
                }
              }
            }
          }
        }
      }
    }

    .no-data-box {
      background: white;
    }
  }
}
</style>
