<template>
<membership-wrapper class="membership-center" title="我的" :left-arrow="true">
  
    <!-- 头部信息 -->
    <div class="head-box">
      <div
        class="head"
        v-if="token && userInfo"
        v-lazy:background-image="{ src: allImgDomainName + (userInfo && userInfo.avatar),
          loading: require('@/assets/images/default_head@2x.png'),
          error: require('@/assets/images/default_head@2x.png') }"
      >
        <!-- <i></i> -->
      </div>
      <div class="head bg" v-else></div>
      <div class="user-info">
        <div class="name" v-if="!token" @click.stop="goLoginOrMenu">您好，请登录</div>
        <div class="name" v-else>
          <span
            class="customer"
            @click.stop="_toCsgr"
          >{{customer.current && customer.current.customerName}}{{customer.current && customer.current.relationship ? '（' + customer.current.relationship + '）': ''}}</span>
          <i class="switch-icon" @click.stop="_toCsgr"></i>
        </div>
        <div class="info" >
          <p>{{customer.current && customer.current.customerMobile}}</p>
          <p>客户编号：{{customer.current && customer.current.customerNumber}}</p>
          <p>客户名称：{{customer.current && customer.current.customerNumber}}</p>
          <p><input type="button" class="but" value="切换用户" @click="on" ></p>
        </div>
      </div>
      <div class="settings">
        <svg-icon class="icon-settings" iconname="membership-center_settings" @click.native.stop="goPage('setInfo')"></svg-icon>
      </div>
    </div>

    <div class="content">
      <!-- 顶部导航栏 -->
      <div class="top-nav-box">
        <div @click="goPage('myConcern')">
          <span>{{count.goodsCollectQty || 233.2}}</span>
          <span>余额</span>
        </div>
        <div @click="goPage('order', {index: 0, orderType: 1, businessIndex: 0, biztypeId: '', needDateRange: getDateFromToday(-7) + '~' + getDateFromToday(0)})">
          <span>{{count.recentOrderQty || 10000}}</span>
          <span>保证金</span>
        </div>
        <div @click="goPage('history')">
          <span>{{count.browseRecordQty || 0}}</span>
          <span>冻结额</span>
        </div>
      </div>
      <!-- 我的预约单 -->
        <div class="nav-wrap">
        <div class="nav-wrap_title">
          <span class="left">我的预约单</span>
          <span class="right" @click="goPage('wallet')">查看更多<van-icon name="arrow"/></span>
        </div>
          <div class="less" @click="12345" style="float:right">
             <div class="icon">
              <svg-icon iconname="membership-center_wallet-recharge"></svg-icon>
            </div>
            <span>处方单</span></div>
          <div class="less1" @click="12345" style="float:left">
             <div class="icon1">
              <svg-icon iconname="membership-center_wallet-recharge"></svg-icon>
            </div>
            <span>预约单</span>
            </div></div>
      <!-- 我的订单 -->
      <div class="nav-wrap">
        <div class="nav-wrap_title">
          <span class="left">我的订单</span>
          <span class="right" @click="goPages()">全部订单<van-icon name="arrow"/></span>
        </div>
        <div class="nav-box my-order">
          <div @click="goPage('order', {index: 2, orderType: 0, businessIndex: 0, biztypeId: ''})">
            <div class="icon">
              <svg-icon iconname="membership-center_order-confirmed"></svg-icon>
              <div class="info" v-if="orderCount.unConfirmed">{{orderCount.unConfirmed > 99 ? '99+' : orderCount.unConfirmed}}</div>
            </div>
            <span>待确认</span>
          </div>
          <div @click="goPage('order', {index: 6, orderType: 0, businessIndex: 0, biztypeId: ''})">
            <div class="icon">
              <svg-icon iconname="membership-center_order-pickup"></svg-icon>
              <div class="info" v-if="orderCount.confirmed">{{orderCount.confirmed > 99 ? '99+' : orderCount.confirmed}}</div>
            </div>
            <span>已确认</span>
          </div>
          <div @click="goPage('order', {index: 1, orderType: 1, businessIndex: 0, biztypeId: ''})">
            <div class="icon">
              <svg-icon iconname="membership-center_order-paid"></svg-icon>
              <div class="info" v-if="orderCount.unPay">{{orderCount.unPay > 99 ? '99+' : orderCount.unPay}}</div>
            </div>
            <span>待付款</span>
          </div>
          <div @click="goPage('order', isPurchaseZz ? {index: 2, orderType: 1, businessIndex: 0, biztypeId: ''} : {index: 3, orderType: 1, businessIndex: 0, biztypeId: ''})">
            <div class="icon">
              <svg-icon :iconname="isPurchaseZz ? 'membership-center_order-express' : 'membership-center_order-evaluate'" :class="{'express': isPurchaseZz}"></svg-icon>
              <div class="info" v-if="isPurchaseZz ? orderCount.zzDelivery : orderCount.unEvaluated">{{isPurchaseZz ? (orderCount.zzDelivery > 99 ? '99+' : orderCount.zzDelivery) : (orderCount.unEvaluated > 99 ? '99+' : orderCount.unEvaluated)}}</div>
            </div>
            <span>{{isPurchaseZz ? '商品出库' : '待评价'}}</span>
          </div>
          <div @click="goPage('returnManagement')">
            <div class="icon">
              <svg-icon iconname="membership-center_order-return"></svg-icon>
            </div>
            <span>售后</span>
          </div>
        </div>
      </div>
      <!-- 订单状态 -->
      <div class="stuats" @click="1245">
          这是用来展示订单详情
      </div>
       <!-- 我的收藏 -->
        <div class="nav-wrap">
        <div class="nav-wrap_title">
          <span class="left">我的收藏</span>
          <span class="right" @click="goPage('wallet')">查看更多<van-icon name="arrow"/></span>
        </div>
          <div class="collection" @click="12345" style="float:right">
             <div class="icon2">
              <svg-icon iconname="membership-center_wallet-recharge"></svg-icon>
            </div>
            <span class="a">问答</span></div>
          <div class="collection1" @click="12345" style="float:left">
             <div class="icon3">
              <svg-icon iconname="membership-center_wallet-recharge"></svg-icon>
            </div>
            <span class="b">商品</span>
            </div>
             <div class="collection2" @click="12345" style="float:left">
             <div class="icon4">
              <svg-icon iconname="membership-center_wallet-recharge"></svg-icon>
            </div>
            <span class="c">专家</span>
            </div>
        </div>
      <!-- 工具与服务 -->
      <div class="nav-wrap">
        <div class="nav-wrap_title">
          <span class="left">工具与服务</span>
        </div>
        <div class="nav-box services">
          <div @click="goPage('myAgreement')">
            <div class="icon">
              <svg-icon iconname="membership-center_services-my-contract"></svg-icon>
            </div>
            <span>合同</span>
          </div>
          <div @click="goPage('biddingRecord')">
            <div class="icon">
              <svg-icon iconname="membership-center_services-bidding"></svg-icon>
            </div>
            <span>担保</span>
          </div>
          <div @click="goPage('flashSaleRecord')">
            <div class="icon">
              <svg-icon iconname="membership-center_services-flash-sale"></svg-icon>
            </div>
            <span>地址</span>
          </div>
          <div @click="goPage('specialSaleRecord')">
            <div class="icon">
              <svg-icon iconname="membership-center_services-special-sale"></svg-icon>
            </div>
            <span>建议</span>
          </div>
          <div @click="goPage('receivingAddress', {type: 'account'})">
            <div class="icon">
              <svg-icon iconname="membership-center_services-address-management"></svg-icon>
            </div>
            <span>问卷</span>
          </div>
          <div @click="goPage('logisticsApplyList')">
            <div class="icon">
              <svg-icon iconname="membership-center_services-logistics-application"></svg-icon>
            </div>
            <span>帮助</span>
          </div>
          <div @click="goPage('withholdAgreement')">
            <div class="icon">
              <svg-icon iconname="membership-center_services-withholding-agreement"></svg-icon>
            </div>
            <span>客服</span>
          </div>
          <div @click="goPage('customerFeedbackSwitchType')">
            <div class="icon">
              <svg-icon iconname="membership-center_services-feedback"></svg-icon>
            </div>
            <span>设置</span>
          </div>
        </div>
      </div></div>
    <div class="ws-copyright">© Copyright Reserved WENS</div>

    <!-- 底部tabbar导航 -->
    <tabbar :activeIndex="4"></tabbar>
</membership-wrapper>
</template>

<script>
import Tabbar from '@/components/index-2/tabbar'
import { api } from '@/api'
import { allImgDomainNameMixin } from '@/assets/js/mixin'
import { mapGetters } from 'vuex'
import { getDateFromToday } from '@/utils/common'
import MembershipWrapper from '../../components/membership-center/membership-wrapper'

export default {
  name: 'membership-center',
  mixins: [allImgDomainNameMixin],
  data () {
    return {
      token: '',
      userInfo: null,
      rank: 0, // 等级
      point: 0, // 积分
      totalpoint: 1, // 总积分
      count: {
        goodsCollectQty: 0, // 收藏商品数量
        shopConcernQty: 0, // 收藏店铺数量
        couponQty: 0, // 优惠券数量
        browseRecordQty: 0, // 浏览记录数量
        questionnaireQty: 0, // 调查问卷数量
        satisfactionQty: 0 // 满意度调查数量
      },
      orderCount: { // 订单状态数量
        unConfirmed: 0, // 待确认
        confirmed: 0, // 已确认
        unPay: 0, // 待付款
        zzDelivery: 0, // 商品出库
        unEvaluated: 0 // 待评价
      },
      showMonthDemand: false, // 服务部类型
      isPurchaseZz: false // 是否下过种猪营销订单
    }
  },
  computed: {
    ...mapGetters(['channel', 'customer', 'allChannel']),
    barWidth () {
      let w = (this.point / this.totalpoint) * 100
      return parseInt(w > 100 ? 100 : w) + '%'
    }
  },
  created () {
    if (!this.token) {
      this.token = sessionStorage.getItem('token')
    }

    // 包含养猪服务部（服务部类型为2）则显示“月度需求”
    this.showMonthDemand = this.allChannel.findIndex(o => o.channelType === '2') > -1

    this.getUserInfo()
    this.getAllCount() // 获取商品收藏、店铺关注、优惠券、历史浏览数量
    this.queryIsPurchaseZz() // 查询是否下过种猪营销订单
    this.getOrderCount('0').then(count => { // 获取“我的订单”数量
      this.orderCount.unConfirmed = count.unConfirmed || 0
      this.orderCount.confirmed = count.pigConfirmed || 0
    })
    this.getOrderCount('1').then(count => { // 获取“发货单”数量
      this.orderCount.unPay = count.unPay || 0
      this.orderCount.zzDelivery = count.zzDelivery || 0
      this.orderCount.unEvaluated = count.unEvaluated || 0
    })
    this.getOrderCount('1', getDateFromToday(-7) + '~' + getDateFromToday(0)).then(count => { // 获取近一周“发货单”数量
      this.count.recentOrderQty = count.allNum || 0
    })
    this.getUnSubmitQueCount('0').then(count => {
      this.count.questionnaireQty = count || 0
    })
    this.getUnSubmitQueCount('1').then(count => {
      this.count.satisfactionQty = count || 0
    })
  },
  methods: {
    getDateFromToday: getDateFromToday,
    //客户列表跳转
     on(){
         this.$router.push({
        path: '/customersList'
      })
     },
    //订单页面跳转
     goPages(){
         this.$router.push({
        path: '/order'
      })
     },
    // 获取用户信息
    getUserInfo () {
      if (!this.userInfo) {
        this.userInfo = JSON.parse(sessionStorage.getItem('userInfo'))
        if (!this.userInfo) {
          api.userInfo().then(res => {
            if (res.success) {
              this.userInfo = res.data
            } else {
              res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
            }
          })
        }
      }
    },
    // 获取商品收藏、店铺关注、优惠券、历史浏览数量
    getAllCount () {
      // sourceTypeList 类型 mobile: 移动端  pc：pc端
      api.commonCall({ sourceTypeList: ['mobile'] }, 'membershipQueryCount').then(res => {
        if (res.success) {
          this.count.goodsCollectQty = res.data.itemCollectCount
          this.count.shopConcernQty = res.data.shopConcernCount
          this.count.couponQty = res.data.couponCount
          this.count.browseRecordQty = res.data.itemBrowseCount
        }
      })
    },
    // 获取问卷未填写的数量
    getUnSubmitQueCount (bizType) {
      // bizType: 0:调查问卷 1：满意度问卷
      return api.commonCall({ bizType }, 'getUnSubmitQueCount').then(res => {
        if (res.success) {
          return res.data.count
        }
        return null
      })
    },
    // 头部点击跳转——登录页或者账户设置页
    goLoginOrMenu () {
      if (this.token && this.userInfo) {
        this.goPage('setInfo')
      } else {
        this.$toast('请先登录')
        this.goPage('loginRandom', { redirect: this.$route.fullPath })
      }
    },
    // 页面跳转
    goPage (name, query = {}) {
      this.$router.push({ name, query })
    },
    _toCsgr () {
      this.$router.push({
        path: '/switchingCustomers'
      })
    },
    getOrderCount (orderType, needDateRange = '') {
      let params = {
        orderType, // 我的订单 - '0'，发货单 - '1'
        business: '0', // 全部 - '0'，养禽 - '1'，养猪 - '2'
        biztypeId: '',
        needDateRange
      }
      return api.commonCall(params, 'wsOrderCentreQueryCOS').then(res => {
        if (res.success) {
          return res.data
        }
        return {}
      })
    },
    // 查询是否下过种猪营销订单
    queryIsPurchaseZz () {
      let params = {
        customer: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
      }
      api.commonCall(params, 'isPurchaseZz').then(res => {
        if (res.success) {
          this.isPurchaseZz = !!res.data.isPurchaseZz
        }
      })
    }
  },
  components: {
    Tabbar,
    MembershipWrapper
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.membership-center {
  width: 100%;
  background: #F1F1F1 no-repeat auto;
  padding-bottom: 148px;
  color: #2e3033;
  min-height: calc(100% - 130px);
  min-height: calc(100vh - 148px);
  overflow-x: hidden;
  .bg-img('~@/assets/images/new-version/membership-center/top-bg');
  position: relative;
  .format-img {
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .head-box {
    display: flex;
    align-items: center;
    color: white;
    padding: 58px 0;
    .head {
      flex: 0 0 138px;
      width: 138px;
      height: 138px;
      border-radius: 50%;
      line-height: 100%;
      margin-left: 32px;
      .format-img;
      background-size: 154px 154px;
      position: relative;
      i {
        position: absolute;
        bottom: 0;
        right: -3px;
        width: 40px;
        height: 36px;
        background: url("~@/assets/images/icon/diamond@2x.png") no-repeat center center / 100% auto;
        z-index: 2;
      }
      &.bg {
        .bg-img("~@/assets/images/default_head");
      }
    }
    .user-info {
      flex: 1;
      // width: 0;
      overflow: hidden;
      .name {
        height: 42px;
        line-height: 42px;
        padding-left: 32px;
        font-size: 36px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: flex;
        align-items: center;
        .customer {
          display: inline-block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .switch-icon {
          display: inline-block;
          flex: 0 0 40px;
          width: 40px;
          height: 36px;
          background: url("~@/assets/images/membership/switch-icon.svg") no-repeat center center;
          background-size: 30px 24px;
          vertical-align: middle;
          margin-left: 4px;
        }
      }
      .info {
        padding-left: 32px;
        margin-top: 10px;
        font-size: 26px;
        font-family: Microsoft YaHei;
        word-wrap: break-word;
        word-break: break-all;
      }
    }
    .settings {
      flex-shrink: 0;
      height: 138px;
      margin-left: 32px;
      .icon-settings {
        margin: 26px 24px 0 0;
        float: right;
        font-size: 38px;
      }
    }
  }

  .content {
    .top-nav-box {
      display: flex;
      padding-bottom: 52px;
      >div {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &:not(:last-child) {
          .border-vertical-1px(#FFFFFF);
        }
        span {
          color: #FFFFFF;
          font-family: Microsoft YaHei;
          &:nth-child(1) {
            font-size: 38px;
          }
          &:nth-child(2) {
            font-size: 24px;
          }
        }
      }
    }
    .stuats{
        width: 100%;
        height: 200px;
        background-color: salmon;
      }
    .nav-wrap {
      border-radius: 12px;
      background: white;
      overflow: hidden;
      margin-bottom: 22px;
      &_title {
        display: flex;
        justify-content: space-between;
        span{
          &.left {
            line-height: 84px;
            padding-left: 32px;
            color: #333333;
            font-size: 32px;
            font-weight: bold;
          }
          &.right {
            line-height: 84px;
            font-size: 26px;
            color: #666666;
            padding-right: 26px;
            i {
              font-size: 28px;
              color: #999999;
              vertical-align: middle;
              margin-left: 4px;
            }
          }
        }
      }
      //问答
         .collection{
          width: 150px;
          height: 150px;
          margin-right: 100px;
           position:absolute;
                left: 102px;
          .icon2{
                font-size: 68px;
                margin-bottom: 8px;
           }
           .a{
             position: relative;
             left: 3px;
           }
           }
          //  商品
        .collection1{
          width: 150px;
          height: 150px;
          margin-right: 100px;
          .icon3{
                font-size: 68px;
                margin-bottom: 8px;
                position: relative;
                left: 8px;
           }
           .b{
              position: relative;
               left: 11px;
           }
           }
           //专家
          .collection2{
         width: 100px;
          position: relative;
                right: 80px;
         .icon4{
           font-size: 68px;
           margin-bottom: 8px;
         }
           }
           //预约单
        .less{
          width:120px;
          position: relative;
          right: 500px;
          font-family: "微软雅黑";
           .icon{
                font-size: 68px;
                margin-bottom: 8px;
                position: relative;
                left: 8px;
           }
        }
        //处方单
        .less1{
          width: 150px;
          height: 150px;
          margin-right: 100px;
          font-family: "微软雅黑";
           .icon1{
                font-size: 68px;
                margin-bottom: 8px;
                position: relative;
                left: 8px;
           }
        &.my-wallet {
          >div {
            .icon {
              .svg-icon {
                font-size: 68px;
                margin-bottom: 8px;
              }
            }
          }
        }
      }
      .nav-box {
        display: flex;
        flex-wrap: wrap;
        >div {
          height: 120px;
          margin-bottom: 28px;
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          font-size: 24px;
           .icon {
            position: relative;
            .svg-icon {
               font-size: 62px;
               margin-bottom: 12px;
             }
            .info {
              position: absolute;
              top: 2px;
              right: 2px;
              transform: translate(50%, -50%);
              transform-origin: 100%;
              display: inline-block;
              box-sizing: border-box;
              min-width: 32px;
              line-height: 1.2;
              padding: 0 6px;
              color: #fff;
              font-size: 24px;
              font-family: -apple-system-font, Helvetica Neue, Arial, sans-serif;
              text-align: center;
              background-color: #E60012;
              border: 1px solid #fff;
              border-radius: 999px;
              z-index: 1;
            }
          }
          >span:first-child {
            padding-bottom: 15px;
            font-size: 34px;
            &.red {
              color: #e33240;
            }
          }
        }
        &.my-order {
          >div {
            &:nth-child(1) {
              .icon {
                .svg-icon {
                  font-size: 68px;
                  margin-bottom: 4px;
                }
              }
            }
            &:nth-child(2) {
              .icon {
                .svg-icon {
                  font-size: 66px;
                  margin-bottom: 6px;
                }
              }
            }
            &:nth-child(3) {
              .icon {
                .svg-icon {
                  font-size: 64px;
                  margin-bottom: 8px;
                }
              }
            }
            &:nth-child(4) {
              .icon {
                .svg-icon {
                  font-size: 64px;
                  margin-bottom: 8px;
                  &.express {
                    font-size: 74px;
                    margin-bottom: -2px;
                  }
                }
              }
            }
            &:nth-child(5) {
              .icon {
                .svg-icon {
                  font-size: 60px;
                  margin-bottom: 12px;
                }
              }
            }
          }
        }
        &.services {
          >div {
            flex: 0 0 25%;
            .icon {
              .svg-icon {
                font-size: 68px;
                margin-bottom: 10px;
              }
            }
          }
        }
      }
    }
  }

  .ws-copyright {
    position: absolute;
    width: 100%;
    bottom: 104px;
    color: #999999;
    font-size: 16px;
    font-family: Microsoft YaHei;
    text-align: center;
  }
}
</style>
