<template>
  <div class="membership-center">
    <!-- 头部信息 -->
    <div class="head-box" @click="goLoginOrMenu">
      <div
        class="head"
        v-if="token && userInfo"
        v-lazy:background-image="{ src: allImgDomainName + (userInfo && userInfo.avatar),
          loading: require('@/assets/images/default_head@2x.png'),
          error: require('@/assets/images/default_head@2x.png') }"
      >
        <i></i>
      </div>
      <div class="head bg" v-else></div>
      <div class="user-info" :style="{width: token ? '5.33333rem' : ''}">
        <div class="name" v-if="!token">您好，请登录</div>
        <div class="name" v-else>
          <span>{{userInfo && ((userInfo.nickname && userInfo.nickname.trim()) || userInfo.userName)}}</span>
          <!-- <img v-if="wens_ranglogo && wens_ranglogo.trim()" class="rangLogo" :src="allImgDomainName + wens_ranglogo" alt="" @click.stop="goPage('membershipManagement', { index: '2' })"> -->
        </div>
        <div class="rank" v-show="token && userInfo">
          <div class="rank-data">
            <span>Lv.{{rank}}</span>
            <span>{{point}}/{{ totalpoint}}</span>
          </div>
          <div class="rank-bar-container">
            <div :style="{width: barWidth}" class="rank-bar"></div>
          </div>
        </div>
      </div>
      <div class="customerSwitching">
        <span class="customer" @click.stop="_toCsgr">{{customer.current && customer.current.customerName}}</span>
        <!-- <img :src="switchingIcon" @click.stop="_toCsgr"/> -->
      </div>
    </div>

    <div class="content">
      <div class="nav-box">
        <div @click="goPage('order', {index: 0, orderType: 0, businessIndex: 0, biztypeId: ''})">
          <i></i>
          <span>订单</span>
        </div>
        <div @click="goPage('notice')">
          <i></i>
          <span>通知公告</span>
        </div>
        <!-- <div @click="goPage('history')">
          <i></i>
          <span>历史访问</span>
        </div> -->
        <!-- <div @click="goPage('returnManagement')">
          <i></i>
          <span>退换/售后</span>
        </div> -->
        <div @click="goPage('fund', {active: 0})">
          <i></i>
          <span>资产中心</span>
        </div>
      </div>
      <div class="nav-box">
        <div @click="goPage('myConcern', {index: 0})">
          <span>{{count.goodsCollectQty || 0}}</span>
          <span>商品关注</span>
        </div>
        <div @click="goPage('myConcern', {index: 1})">
          <span>{{count.shopConcernQty || 0}}</span>
          <span>店铺关注</span>
        </div>
        <div @click="goPage('myConcern')">
          <span>{{count.goodsCollectQty + count.shopConcernQty || 0}}</span>
          <span>我的收藏</span>
        </div>
        <div @click="goPage('history')">
          <span>{{count.browseRecordQty || 0}}</span>
          <span>历史浏览</span>
        </div>
        <div @click="goPage('myCoupon')">
          <span class="red">{{count.couponQty || 0}}</span>
          <span>优惠券</span>
        </div>
      </div>
      <div class="list">
        <list title="账户充值" :arrow="true" @on-click="goPage('topUp')"></list>
        <list title="我的竞价" :arrow="true" @on-click="goPage('biddingRecord')"></list>
        <!-- <list title="竞价电子签" :arrow="true" @on-click="goPage('biddingEsign')"></list> -->
        <list title="我的秒杀" :arrow="true" @on-click="goPage('flashSaleRecord')"></list>
        <list title="特销记录" :arrow="true" @on-click="goPage('specialSaleRecord')"></list>
        <list title="物流申请" :arrow="true" @on-click="goPage('logisticsApplyList')"></list>
        <list title="代扣协议" :arrow="true" @on-click="goPage('withholdAgreement')"></list>
        <list title="意见反馈" :arrow="true" @on-click="goPage('customerFeedbackSwitchType')"></list>
        <list title="调查问卷" :arrow="true" @on-click="goPage('questionnaire', {index: 0})"></list>
        <list v-if="showMonthDemand" title="月度需求" :arrow="true" @on-click="goPage('monthDemand')"></list>
        <list title="资料设置" :arrow="true" @on-click="goPage('setInfo')"></list>
        <list title="帮助中心" :arrow="true" @on-click="goPage('helpCenter')"></list>
        <list title="客服中心" :arrow="true" @on-click="goPage('callCenter')"></list>
        <!-- <list title="关于" :arrow="true"></list> -->
      </div>
    </div>

    <!-- 底部tabbar导航 -->
    <tabbar :activeIndex="channel.currentChannel && channel.currentChannel.channelType === '2' ? 3 : 4"></tabbar>
  </div>
</template>

<script>
import Tabbar from '@/components/index-2/tabbar'
import List from '@/components/list'
import { api } from '@/api'
import { allImgDomainNameMixin } from '@/assets/js/mixin'
import { mapGetters } from 'vuex'

export default {
  name: 'membership-center',
  mixins: [allImgDomainNameMixin],
  data () {
    return {
      switchingIcon: require('@/assets/images/membership/checkoutIcon.svg'),
      token: '',
      userInfo: null,
      rank: 0, // 等级
      point: 0, // 积分
      totalpoint: 1, // 总积分
      count: {
        goodsCollectQty: 0,
        shopConcernQty: 0,
        couponQty: 0,
        browseRecordQty: 0
      },
      wens_ranglogo: null, // 会员图片
      showMonthDemand: false // 服务部类型
    }
  },
  computed: {
    ...mapGetters(['channel', 'customer', 'allChannel']),
    barWidth () {
      let w = (this.point / this.totalpoint) * 100
      return parseInt(w > 100 ? 100 : w) + '%'
    }
  },
  created () {
    if (!this.token) {
      this.token = sessionStorage.getItem('token')
    }

    // 包含养猪服务部（服务部类型为2）则显示“月度需求”
    this.showMonthDemand = this.allChannel.findIndex(o => o.channelType === '2') > -1

    this.getUserInfo()
    // this.getCompany()
    this.getAllCount() // 获取商品收藏、店铺关注、优惠券、历史浏览数量
    // this.getGoodsCollectQty() // 获取商品收藏的数量
    // this.getShopConcernQty() // 获取店铺关注的数量
    // this.getCouponQty() // 获取优惠券的数量
    // this.getBrowseRecordQty() // 获取历史浏览的数量
  },
  methods: {
    // 获取用户信息
    getUserInfo () {
      if (!this.userInfo) {
        this.userInfo = JSON.parse(sessionStorage.getItem('userInfo'))
        // this.userInfo && this.getMemberPoint(this.userInfo.ownerId)
        if (!this.userInfo) {
          api.userInfo().then(res => {
            if (res.success) {
              this.userInfo = res.data
              // this.getMemberPoint(this.userInfo.ownerId)
            } else {
              res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
            }
          })
        }
      }
    },
    // 获取商品收藏、店铺关注、优惠券、历史浏览数量
    getAllCount () {
      // sourceTypeList 类型 mobile: 移动端  pc：pc端
      api.commonCall({ sourceTypeList: ['mobile'] }, 'membershipQueryCount').then(res => {
        if (res.success) {
          this.count.goodsCollectQty = res.data.itemCollectCount
          this.count.shopConcernQty = res.data.shopConcernCount
          this.count.couponQty = res.data.couponCount
          this.count.browseRecordQty = res.data.itemBrowseCount
        }
      })
    },
    // 获取商品收藏的数量
    getGoodsCollectQty () {
      api.commonCall({}, 'queryItemCollectCount').then(res => {
        if (res.success) {
          this.count.goodsCollectQty = res.data.count
        }
      })
    },
    // 获取店铺关注的数量
    getShopConcernQty () {
      api.commonCall({}, 'queryShopConcernCount').then(res => {
        if (res.success) {
          this.count.shopConcernQty = res.data.count
        }
      })
    },
    // 获取优惠券的数量
    getCouponQty () {
      api.commonCall({ customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId }, 'queryCouponRecordCount').then(res => {
        if (res.success) {
          this.count.couponQty = res.data.count
        }
      })
    },
    // 获取历史浏览的数量
    getBrowseRecordQty () {
      // sourceTypeList 类型 mobile: 移动端  pc：pc端
      api.commonCall({ sourceTypeList: ['mobile'] }, 'totalItemBrowseRecord').then(res => {
        if (res.success) {
          this.count.browseRecordQty = res.data.count
        }
      })
    },
    // 头部点击跳转——登录页或者账户设置页
    goLoginOrMenu () {
      if (this.token && this.userInfo) {
        this.goPage('setInfo')
      } else {
        this.$toast('请先登录')
        this.goPage('loginRandom', { redirect: this.$route.fullPath })
      }
    },
    // 页面跳转
    goPage (name, query = {}) {
      this.$router.push({ name, query })
    },
    // 获取积分信息
    getMemberPoint (id) {
      api.memberPointQuery({ customerId: id }).then(res => {
        if (res.success) {
          this.rank = ~~res.data.gradeNumber
          this.point = res.data.totalPoints
          this.totalpoint = res.data.nextGradePoints
        }
      })
    },
    _toCsgr () {
      this.$router.push({
        path: '/switchingCustomers'
      })
    },
    getCompany () {
      api.commonCall({}, 'getThreeOrgByUser').then(res => {
        if (res.success) {
          if (res.data.orgList && res.data.orgList[0] && res.data.orgList[0].id) {
            let id = res.data.orgList[0].id

            for (let i = 0; i < res.data.orgList.length; i++) {
              if (this.channel.currentChannel && this.channel.currentChannel.channelId === res.data.orgList[i].customerId) {
                id = res.data.orgList[i].id
                break
              }
            }

            this.getLevelList(id)
          }
        }
      })
    },
    getLevelList (companyId) {
      let params = {
        companyId
      }
      api.commonCall(params, 'ratCountByCompany').then(res => {
        if (res.success) {
          this.wens_ranglogo = res.data.wens_ranglogo
        }
      })
    }
  },
  components: {
    List,
    Tabbar
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.membership-center {
  background: rgb(245, 245, 245) no-repeat center top / 100% auto;
  padding: 0 24px;
  padding-bottom: 130px;
  color: #2e3033;
  min-height: calc(100% - 130px);
  min-height: calc(100vh - 130px);
  .bg-img("~@/assets/images/BG");

  .format-img {
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .head-box {
    display: flex;
    align-items: center;
    color: white;
    font-size: 32px;
    padding: 58px 0;

    .head {
      width: 134px;
      height: 134px;
      border-radius: 50%;
      line-height: 100%;
      .format-img;
      background-size: 154px 154px;
      position: relative;

      i {
        position: absolute;
        bottom: 0;
        right: -3px;
        width: 40px;
        height: 36px;
        background: url("~@/assets/images/icon/diamond@2x.png") no-repeat
          center center / 100% auto;
        z-index: 99;
      }

      &.bg {
        .bg-img("~@/assets/images/default_head");
      }
    }

    .user-info {
      .name {
        height: 42px;
        line-height: 42px;
        padding-left: 32px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        span {
          display: inline-block;
          vertical-align: middle;
          max-width: 280px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .rangLogo {
          display: inline-block;
          vertical-align: middle;
          width: 60px;
          max-height: 40px;
          margin-left: 12px;
          cursor: pointer;
        }
      }

      .rank {
        padding-left: 32px;
        margin-top: 10px;
        font-size: 26px;
        font-family: Arial-BoldMT;
        .rank-data {
          // color: rgba(234,157,34,1);
          color: white;

          > span {
            &:nth-child(2) {
              float: right;
            }
          }
        }
        .rank-bar-container {
          border-radius: 100px;
          background: rgba(223, 226, 231, 1);
          height: 12px;
          overflow: hidden;

          .rank-bar {
            border-radius: 100px;
            height: 100%;
            background: rgb(255, 235, 56);
            background: linear-gradient(
              270deg,
              rgba(255, 235, 56, 1) 0%,
              rgba(255, 178, 55, 1) 100%
            );
          }
        }
      }
    }
    .customerSwitching{
      height: 100px;
      width: 150px;
      margin-left: 32px;
      // display: flex;
      // justify-content: center;
      // align-items: center;
      span{
        font-size: 28px;
        float: right;
        &.customer {
          &:after {
            display: inline-block;
            content: "";
            width: 30px;
            height: 24px;
            background: url("~@/assets/images/membership/switch-icon.svg") no-repeat center center;
            background-size: 30px 24px;
            vertical-align: middle;
            margin-left: 4px;
          }
        }
      }
      img{
        width: 100px;
        height: 100px;
        margin-left: 10px;
      }
    }
  }

  .content {
    .nav-box {
      display: flex;
      background: white;
      border-radius: 14px;
      margin-bottom: 22px;

      > div {
        height: 180px;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 24px;

        > i {
          width: 48px;
          height: 48px;
          margin-bottom: 20px;
          .format-img;
        }

        > span:first-child {
          padding-bottom: 15px;
          font-size: 34px;

          &.red {
            color: #e33240;
          }
        }

        &:nth-child(1) {
          > i {
            .bg-img("~@/assets/images/icon/Rectangle3");
          }
        }
        &:nth-child(2) {
          > i {
            .bg-img("~@/assets/images/icon/Rectangle");
          }
        }
        &:nth-child(3) {
          > i {
            .bg-img("~@/assets/images/icon/Rectangle2");
          }
        }
        &:nth-child(4) {
          > i {
            .bg-img("~@/assets/images/icon/Rectangle1");
          }
        }
      }
    }

    > .list {
      padding: 24px 0;
      background: white;
      border-radius: 14px;
      margin-bottom: 22px;
    }
  }
}
</style>
