<template>
  <membership-wrapper
    class="modify-password"
    :title="title"
    :left-arrow="true"
    :back-page="!index"
    @click-left="clickLeft"
  >
    <!-- 首页 -->
    <transition name="slide-right">
      <div class="van-content" v-if="!index">
        <list line="true" arrow="true" title="通过已验证手机验证" @on-click="onClick(1)"></list>
        <!-- <list line="true" arrow="true" title="通过支付密码验证" @on-click="onClick(2)"></list> -->
      </div>
    </transition>

    <transition name="slide-left" mode="in-out">
      <!-- 通过手机号码修改 -->
      <div class="van-content content" v-if="index === 1" key="a">
        <div class="valid-title">请完成以下认证</div>
        <div
          class="valid-phone"
        >已验证手机：{{userInfo.phone && userInfo.phone.replace(/^(\d{3})\d{4}(.+)/, '$1****$2')}}</div>
        <div class="validateNum" :class="{'redbor': selectPhoneCode}">
          <van-field
            class="from-input"
            maxlength="6"
            v-model="phoneCode"
            @focus="phoneCodeFocus"
            @blur="phoneCodeBlur"
            clearable
            placeholder="请输入验证码"
          />
          <span class="valiNum" :class="{'can-not-click': isGetCodeFlag}" v-if="countdown < 1" @click="getCode">获取验证码</span>
          <span class="time" v-else-if="countdown >= 1">{{countdown}}秒后重新获取</span>
        </div>

        <div class="register">
          <van-button
            round
            size="large"
            class="login-btn"
            :class="{'large-alp': phoneCodeOpacity}"
            @click="nextStep"
          >下一步</van-button>
        </div>
      </div>

      <!-- 通过支付密码修改 -->
      <div class="van-content content" v-else-if="index === 2" key="b">
        <div class="valid-title">请输入支付密码</div>

        <div class="validateNum" :class="{'redbor': selectAlipayCode}">
          <van-field
            class="from-input2"
            v-model="alipayCode"
            @focus="alipayCodeFocus"
            @blur="alipayCodeBlur"
            clearable
            type="password"
            placeholder="请输入密码"
          />
        </div>
        <div class="register">
          <van-button
            round
            size="large"
            class="login-btn"
            :class="{'large-alp': alipayCodeOpacity}"
            @click="nextStep"
          >下一步</van-button>
        </div>
      </div>

      <!-- 重新设计密码 -->
      <div
        class="van-content content"
        style="position: relative;z-index: 1;"
        v-else-if="index === 3 || index === 4"
        key="c"
      >
        <div class="valid-title">请重新设置登录密码</div>

        <div class="valid-phone">由字母加数字或符号（至少两种）组成，6-20位半角字符，区分大小写</div>

        <div class="validateNum" :class="{'redbor': selectPassword}">
          <van-field
            class="from-input2"
            style="margin-bottom: 15px"
            :maxlength="20"
            v-model="password"
            @focus="passwordFocus"
            @blur="passwordBlur"
            clearable
            placeholder="请输入新密码"
            type="password"
          />
        </div>
        <div class="validateNum" :class="{'redbor': selectRepeatPassword}">
          <van-field
            class="from-input2"
            :maxlength="20"
            v-model="repeatPassword"
            @focus="repeatPasswordFocus"
            @blur="repeatPasswordBlur"
            clearable
            placeholder="请再次输入新密码"
            type="password"
          />
        </div>
        <div class="register">
          <van-button
            round
            size="large"
            class="login-btn"
            :class="{'large-alp': passwordOpacity}"
            @click="nextStep"
          >确定</van-button>
        </div>
      </div>
    </transition>
  </membership-wrapper>
</template>

<script>
import MembershipWrapper from '@/components/membership-center/membership-wrapper'
import List from '@/components/list'
import { isPhone, isPassword } from '@/utils/common'
import { api } from '@/api'

export default {
  name: 'modify-password',
  data () {
    return {
      userInfo: null,
      countdown: 0, // 倒数60秒计时
      index: 0, // 0：选择修改方式，1：通过手机号码验证，2：通过支付密码验证，3&4：新密码
      alipayCode: '',
      selectAlipayCode: false,
      alipayCodeOpacity: false,
      phoneCode: '',
      selectPhoneCode: false,
      phoneCodeOpacity: false,
      password: '',
      selectPassword: false,
      passwordOpacity: false,
      repeatPassword: '',
      selectRepeatPassword: false,
      isGetCodeFlag: false // 记录获取手机验证码请求状态
    }
  },
  created () {
    this.getUserInfo()
  },
  methods: {
    // 验证密码
    // isPassword(p) {
    //   return isPassword(p);
    // },
    alipayCodeFocus () {
      this.selectAlipayCode = true
    },
    alipayCodeBlur () {
      this.selectAlipayCode = false
    },
    phoneCodeFocus () {
      this.selectPhoneCode = true
    },
    phoneCodeBlur () {
      this.selectPhoneCode = false
    },
    passwordFocus () {
      this.selectPassword = true
    },
    passwordBlur () {
      this.selectPassword = false
    },
    repeatPasswordFocus () {
      this.selectRepeatPassword = true
    },
    repeatPasswordBlur () {
      this.selectRepeatPassword = false
    },
    // 获取用户信息
    getUserInfo () {
      if (!this.userInfo) {
        this.userInfo = JSON.parse(sessionStorage.getItem('userInfo'))

        if (!this.userInfo) {
          api.userInfo().then(res => {
            if (res.success) {
              this.userInfo = res.data
            } else {
              res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
            }
          })
        }
      }
    },
    // 选择验证方式
    onClick (index) {
      this.index = index
    },
    getCode () {
      if (this.isGetCodeFlag) return
      this.isGetCodeFlag = true

      if (!isPhone(this.userInfo.phone)) {
        this.$toast('手机号码有误')
        setTimeout(() => {
          this.isGetCodeFlag = false
        }, 1000)
      } else {
        let params = { account: this.userInfo.phone, terminal: 'mobile' }
        api.wsSendSMS(params).then(res => {
          if (res.success && (res.data && res.data.success)) {
            this.$toast((res.data && res.data.msg) || '验证码已发送')
            this.countdown = +res.data.timeout || 60 // 默认有效时间60s
            this.setTime() // 倒数计时函数
            setTimeout(() => {
              this.isGetCodeFlag = false
            }, 1000)
          } else {
            this.$toast((res.data && res.data.msg) || '获取验证码失败')
            setTimeout(() => {
              this.isGetCodeFlag = false
            }, 1000)
          }
        }, err => {
          err.message && this.$toast(err.message)
          setTimeout(() => {
            this.isGetCodeFlag = false
          }, 1000)
        })
      }
    },
    // 60s倒数计时函数
    setTime () {
      if (this.countdown === 0) {
        return
      } else {
        this.countdown--
      }
      setTimeout(() => {
        this.setTime()
      }, 1000)
    },
    // 返回键
    clickLeft () {
      this.index = 0
    },
    // 下一步&确定
    nextStep () {
      // 通过手机号码修改
      if (this.index === 1) {
        if (!this.phoneCode || !this.phoneCode.trim()) {
          this.$toast('请输入验证码')
        } else {
          api.wsSMSValidate({ account: this.userInfo.phone, smsCode: this.phoneCode }).then(res => {
            if (res.success && (res.data && res.data.code === '01')) {
              if (+res.data.isExist) {
                this.index = 3
              } else {
                this.$toast('用户名或密码错误')
              }
            } else {
              this.phoneCode = ''
              this.$toast((res.data && res.data.msg) || res.message || '验证失败')
            }
          })
        }
        // 通过支付密码验证
      } else if (this.index === 2 && this.alipayCode) {
        this.index = 4
        // 设置新密码
      } else if ((this.index === 3 || this.index === 4) && this.password) {
        if (!isPassword(this.password)) {
          this.$toast('密码格式有误')
        } else if (this.password !== this.repeatPassword) {
          this.$toast('两次输入密码不一致')
        } else {
          api.changePsw({
            passwordChange: this.password
          }).then(res => {
            if (res.success) {
              this.index = 0
              this.password = ''
              this.$toast('密码修改成功')
              this.signOout()
            } else {
              res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
            }
          })
        }
      }
    },
    // 退出登录
    signOout () {
      api.logout().then(res => {
        sessionStorage.removeItem('token')
        sessionStorage.removeItem('br-custom-key')
        sessionStorage.removeItem('defaultCustomer')
        sessionStorage.removeItem('isDriver')
        sessionStorage.removeItem('groupBuyingCache')
        sessionStorage.removeItem('flashSaleCache')
        this.$router.push({ name: 'loginRandom' })
      })
    }
  },
  computed: {
    // 标题
    title () {
      switch (this.index) {
        case 0:
          return '选择验证方式'
        case 1:
        case 3:
          return '通过手机验证修改密码'
        case 2:
        case 4:
          return '通过支付密码验证修改密码'
        default:
          return ''
      }
    }
  },
  watch: {
    phoneCode (val) {
      if (val !== '' && val.length === 6) {
        this.phoneCodeOpacity = true
      } else {
        this.phoneCodeOpacity = false
      }
    },
    alipayCode (val) {
      if (val !== '') {
        this.alipayCodeOpacity = true
      } else {
        this.alipayCodeOpacity = false
      }
    },
    password (val) {
      if (val !== '') {
        this.passwordOpacity = true
      } else {
        this.passwordOpacity = false
      }
    }
  },
  components: {
    List,
    MembershipWrapper
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.modify-password {
  .slide-left-enter-active,
  .slide-left-leave-active {
    position: absolute !important;
    bottom: 0;
    width: 100%;
    transition: left 0.3s;
    box-sizing: border-box;
  }

  .slide-left-enter,
  .slide-left-leave-to {
    left: 750px;
  }

  .slide-left-enter-to,
  .slide-left-leave {
    left: 0;
  }

  .slide-right-enter-active,
  .slide-right-leave-active {
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: right 0.3s;
    box-sizing: border-box;
  }

  .slide-right-enter,
  .slide-right-leave-to {
    right: 750px;
  }

  .slide-right-enter-to,
  .slide-right-leave {
    right: 0;
  }

  @{deep} .van-popup--right {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: none;
  }

  .van-content {
    height: calc(100% - 92px);
    background: white;
  }

  .content {
    padding: 0 40px;

    .valid-title {
      font-family: PingFangSC-Medium;
      color: #2e3033;
      font-size: 48px;
      font-weight: 500;
      padding: 60px 0;
    }

    .valid-phone {
      color: #5e6166;
      padding: 25px 0;
      line-height: 54px;
      font-size: 30px;
    }

    .validateNum {
      position: relative;
      margin-top: 20px;
      .border-1px(#dfe2e7);
      &.redbor {
        .border-1px(#e33240);
      }
      .from-input {
        font-size: 32px;
        padding: 24px 220px 24px 0;
      }
      .from-input2 {
        font-size: 32px;
        padding: 24px 0;
      }
      .valiNum {
        font-size: 28px;
        line-height: 36px;
        color: #e33240;
        position: absolute;
        right: 20px;
        top: 50%;
        margin-top: -18px;
        &.can-not-click {
          color: #c8c9cc;
          cursor: not-allowed;
        }
      }
      .time {
        font-size: 28px;
        line-height: 36px;
        color: #999ea4;
        position: absolute;
        right: 20px;
        top: 50%;
        margin-top: -18px;
      }
    }

    .valid-input {
      .border-1px(rgb(223, 226, 231));

      > div {
        width: 60%;
        box-sizing: border-box;
        position: relative;

        > span {
          position: absolute;
          width: 30px;
          height: 30px;
          top: 0;
          bottom: 0;
          z-index: 1;
          right: 0;
          margin: auto;

          &::after,
          &::before {
            position: absolute;
            content: " ";
            width: 100%;
            height: 3px;
            background: #c1c4ca;
            border-radius: 100px;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
          }

          &::before {
            transform: rotate(45deg);
          }

          &::after {
            transform: rotate(-45deg);
          }
        }

        input {
          color: #5e6166;
          display: inline-block;
          border: 0;
          outline: none;
          font-size: 32px;
          line-height: 80px;
          position: relative;

          &::-webkit-input-placeholder {
            color: #c1c4ca;
            font-size: 32px;
          }
        }
      }

      > span {
        padding-top: 20px;
        font-size: 28px;
        float: right;

        &.red {
          color: #e33240;
          padding-right: 1em;
        }

        &.grey {
          color: #8e939a;
        }
      }
    }

    .register {
      /*padding: 0 40px;*/
      margin-top: 100px;
      .login-btn {
        background: linear-gradient(
          90deg,
          rgba(255, 107, 82, 1) 0%,
          rgba(227, 50, 64, 1) 100%
        );
        font-size: 32px;
        color: #fff;
        opacity: 0.5;
        &.large-alp {
          opacity: 1;
        }
      }
    }

    .valid-btn {
      font-size: 32px;
      color: white;
      line-height: 96px;
      text-align: center;
      border-radius: 100px;
      background: linear-gradient(
        90deg,
        rgba(255, 107, 82, 1) 0%,
        rgba(227, 50, 64, 1) 100%
      );
      margin-top: 90px;
      opacity: 0.5;

      &.valid {
        opacity: 1;

        &:active {
          position: relative;
          overflow: hidden;
          transform: rotate(0deg);

          &::before {
            position: absolute;
            content: " ";
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            background: rgba(0, 0, 0, 0.08);
          }
        }
      }
    }
  }
}
</style>
