<template>
  <membership-wrapper
    class="modify-phone"
    :title="title"
    :left-arrow="true"
    :back-page="index < 2"
    @click-left="clickLeft"
  >
    <!-- 首页 -->
    <transition name="slide-right">
      <div class="van-content content" v-if="!index">
        <div class="valid-title">请完成以下认证</div>
        <div
          class="valid-phone"
        >已验证手机：{{userInfo.phone && userInfo.phone.replace(/^(\d{3})\d{4}(.+)/, '$1****$2')}}</div>
        <div class="validateNum" :class="{'redbor': selectOldPhoneCode}">
          <van-field
            class="from-input"
            maxlength="6"
            v-model="oldPhoneCode"
            @focus="oldPhoneCodeFocus"
            @blur="oldPhoneCodeBlur"
            clearable
            placeholder="请输入验证码"
          />
          <span class="valiNum" :class="{'can-not-click': isGetCodeFlag}" v-if="countdown < 1" @click="getCode(userInfo.phone)">获取验证码</span>
          <span class="time" v-if="countdown >= 1">{{countdown}}秒后重新获取</span>
        </div>

        <div class="register">
          <van-button
            round
            size="large"
            class="login-btn"
            :class="{'large-alp': oldPhoneCodeOpacity}"
            @click="nextStep"
          >下一步</van-button>
        </div>
      </div>
    </transition>

    <!-- 绑定新手机号码 -->
    <transition name="slide-left">
      <div class="van-content content" v-if="index">
        <div class="valid-title">绑定新手机号码</div>

        <div class="valid-phone2">
          <div class="prefix"><!-- @click.stop="index = 2" -->
            <span>+ {{prefix}}</span>
            <i></i>
          </div>
          <div class="right" :class="{'redbor': selectPhone}">
            <van-field
              class="from-input2"
              v-model="phone"
              @focus="phoneFocus"
              @blur="phoneBlur"
              clearable
              placeholder="请输入手机号码"
            />
          </div>
        </div>
        <div class="validateNum" :class="{'redbor': selectNewPhoneCode}">
          <van-field
            class="from-input"
            maxlength="6"
            v-model="newPhoneCode"
            @focus="newPhoneCodeFocus"
            @blur="newPhoneCodeBlur"
            clearable
            placeholder="请输入验证码"
          />
          <span class="valiNum" :class="{'can-not-click': isGetCodeFlag}" v-if="countdown<1" @click="getCode(phone)">获取验证码</span>
          <span class="time" v-if="countdown>=1">{{countdown}}秒后重新获取</span>
        </div>

        <div class="register">
          <van-button
            round
            size="large"
            class="login-btn"
            :class="{'large-alp': newPhoneCodeOpacity}"
            @click="nextStep"
          >确定</van-button>
        </div>
      </div>
    </transition>

    <!-- 选择国家和地区 -->
    <transition name="slide-to-title">
      <div class="van-content content-2" v-if="index === 2">
        <!-- 左边列表 -->
        <div class="area-list" ref="scroll">
          <list
            line="true"
            v-for="(item, index) in area"
            :key="index + 'area'"
            :title="item.name"
            @on-click="selectPre(item.pre + index)"
            :click="true"
          >{{item.pre + index}}</list>
        </div>

        <!-- 右边字母 -->
        <div class="abc">
          <div>
            <span
              v-for="(item, index) in 26"
              :key="index"
              @click.stop="scrollArea(index)"
            >{{String.fromCharCode((65 + index))}}</span>
          </div>
        </div>
      </div>
    </transition>
  </membership-wrapper>
</template>

<script>
import MembershipWrapper from '@/components/membership-center/membership-wrapper'
import List from '@/components/list'
import { isPhone } from '@/utils/common.js'
import { api } from '@/api'

export default {
  name: 'modify-phone',
  data () {
    return {
      userInfo: null,
      countdown: 0, // 倒数60秒计时
      index: 0, // 0：验证手机号码，1：绑定新密码，2：选择国家和地区
      oldPhoneCode: '',
      selectOldPhoneCode: false,
      oldPhoneCodeOpacity: false,
      phone: '',
      selectPhone: false,
      newPhoneCode: '',
      selectNewPhoneCode: false,
      newPhoneCodeOpacity: false,
      prefix: 86, // 前缀
      area: [],
      abc: {},
      isGetCodeFlag: false // 记录获取手机验证码请求状态
    }
  },
  created () {
    this.getUserInfo()
  },
  methods: {
    oldPhoneCodeFocus () {
      this.selectOldPhoneCode = true
    },
    oldPhoneCodeBlur () {
      this.selectOldPhoneCode = false
    },
    phoneFocus () {
      this.selectPhone = true
    },
    phoneBlur () {
      this.selectPhone = false
    },
    newPhoneCodeFocus () {
      this.selectNewPhoneCode = true
    },
    newPhoneCodeBlur () {
      this.selectNewPhoneCode = false
    },
    // 获取用户信息
    getUserInfo () {
      if (!this.userInfo) {
        this.userInfo = JSON.parse(sessionStorage.getItem('userInfo'))

        if (!this.userInfo) {
          api.userInfo().then(res => {
            if (res.success) {
              this.userInfo = res.data
            } else {
              res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
            }
          })
        } else {
        }
      }
    },
    getCode (phone) {
      if (this.isGetCodeFlag) return
      this.isGetCodeFlag = true

      if (!isPhone(phone)) {
        this.$toast('手机号码有误')
        setTimeout(() => {
          this.isGetCodeFlag = false
        }, 1000)
      } else {
        let params = { account: phone, terminal: 'mobile' }
        api.wsSendSMS(params).then(res => {
          if (res.success && (res.data && res.data.success)) {
            this.$toast((res.data && res.data.msg) || '验证码已发送')
            this.countdown = +res.data.timeout || 60
            this.setTime() // 倒数计时函数
            setTimeout(() => {
              this.isGetCodeFlag = false
            }, 1000)
          } else {
            this.$toast((res.data && res.data.msg) || '获取验证码失败')
            setTimeout(() => {
              this.isGetCodeFlag = false
            }, 1000)
          }
        }, err => {
          err.message && this.$toast(err.message)
          setTimeout(() => {
            this.isGetCodeFlag = false
          }, 1000)
        })
      }
    },
    // 60s倒数计时函数
    setTime () {
      if (this.countdown === 0) {
        return
      } else {
        this.countdown--
      }
      setTimeout(() => {
        this.setTime()
      }, 1000)
    },
    // 选择前缀
    selectPre (pre) {
      this.prefix = pre
      this.index = 1
    },
    // 控制滚动距离（用于选择国家和地区页面）
    scrollArea (index) {
      if (typeof this.abc[String.fromCharCode(65 + index)] === 'number') {
        this.$refs.scroll.scrollTop = this.$refs.scroll.children[this.abc[String.fromCharCode(65 + index)]].offsetTop
      }
    },
    // 返回键
    clickLeft () {
      this.index = 1
    },
    // 下一步&确定
    nextStep () {
      // 通过手机号码修改
      if (this.index === 0 && this.oldPhoneCode.length === 6) {
        if (!this.oldPhoneCode || !this.oldPhoneCode.trim()) {
          this.$toast('请输入验证码')
        } else {
          api.wsSMSValidate({ account: this.userInfo.phone, smsCode: this.oldPhoneCode }).then(res => {
            if (res.success && (res.data && res.data.code === '01')) {
              if (+res.data.isExist) {
                this.index = 1
                this.countdown = 0
              } else {
                this.$toast('用户名或密码错误')
              }
            } else {
              this.oldPhoneCode = ''
              this.$toast((res.data && res.data.msg) || res.message || '验证失败')
            }
          })
        }
        // 修改绑定手机号码
      } else if (this.index === 1) {
        if (!this.phone || !this.phone.trim()) {
          this.$toast('请输入新手机号码')
        } else if (!isPhone(this.phone)) {
          this.$toast('新手机号码有误')
        } else if (!this.newPhoneCode || !this.newPhoneCode.trim()) {
          this.$toast('请输入验证码')
        } else {
          api.wsSMSValidate({ account: this.phone, smsCode: this.newPhoneCode }).then(res => {
            if (res.success && (res.data && res.data.code === '01')) {
              if (!+res.data.isExist) {
                api.bindingPhone({ phone: this.phone }).then(res => {
                  if (res.success) {
                    this.newPhoneCode = ''
                    this.countdown = 0
                    this.$toast('手机号码绑定成功')
                    this.signOout()
                  } else {
                    this.newPhoneCode = ''
                    this.$toast((res.message && res.message.replace('调用移动分销接口失败：', '')) || '绑定失败')
                  }
                })
              } else {
                this.$toast('用户已存在')
              }
            } else {
              this.newPhoneCode = ''
              this.$toast((res.data && res.data.msg) || res.message || '验证失败')
            }
          })
        }
      }
    },
    // 退出登录
    signOout () {
      api.logout().then(res => {
        sessionStorage.removeItem('token')
        sessionStorage.removeItem('br-custom-key')
        sessionStorage.removeItem('defaultCustomer')
        sessionStorage.removeItem('isDriver')
        sessionStorage.removeItem('groupBuyingCache')
        sessionStorage.removeItem('flashSaleCache')
        this.$router.push({ name: 'loginRandom' })
      })
    }
  },
  computed: {
    title () {
      switch (this.index) {
        case 0:
        case 1:
          return '绑定新手机号码'
        case 2:
          return '选择国家和地区'
        default:
          return ''
      }
    }
  },
  watch: {
    oldPhoneCode (val) {
      if (val !== '' && val.length === 6) {
        this.oldPhoneCodeOpacity = true
      } else {
        this.oldPhoneCodeOpacity = false
      }
    },
    phone (val) {
      if (
        val !== '' &&
        this.newPhoneCode.length === 6 &&
        this.newPhoneCode !== ''
      ) {
        this.newPhoneCodeOpacity = true
      } else {
        this.newPhoneCodeOpacity = false
      }
    },
    newPhoneCode (val) {
      if (val !== '' && val.length === 6 && this.phone !== '') {
        this.newPhoneCodeOpacity = true
      } else {
        this.newPhoneCodeOpacity = false
      }
    }
  },
  components: {
    List,
    MembershipWrapper
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.modify-phone {
  .slide-left-enter-active,
  .slide-left-leave-active {
    position: absolute !important;
    bottom: 0;
    height: 100%;
    width: 100%;
    transition: left 0.3s;
    box-sizing: border-box;
  }

  .slide-left-enter,
  .slide-left-leave-to {
    left: 750px;
  }

  .slide-left-enter-to,
  .slide-left-leave {
    left: 0;
  }

  .slide-right-enter-active,
  .slide-right-leave-active {
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: right 0.3s;
    box-sizing: border-box;
  }

  .slide-right-enter,
  .slide-right-leave-to {
    right: 750px;
  }

  .slide-right-enter-to,
  .slide-right-leave {
    right: 0;
  }

  .slide-to-title-enter-active,
  .slide-to-title-leave-active {
    transition: all 0.4s;
    box-sizing: border-box;
  }

  .slide-to-title-enter,
  .slide-to-title-leave-to {
    opacity: 0;
    bottom: -100% !important;
  }

  .slide-to-title-enter-to,
  .slide-to-title-leave {
    opacity: 1;
    bottom: 0 !important;
  }

  @{deep}.van-popup--right {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: none;
  }

  .van-content {
    height: calc(100% - 92px);
    background: white;
  }

  .content {
    padding: 0 40px;

    .valid-title {
      font-family: PingFangSC-Medium;
      color: #2e3033;
      font-size: 48px;
      font-weight: 500;
      padding: 60px 0;
    }

    .valid-phone {
      color: #5e6166;
      padding: 25px 0;
      line-height: 54px;
      font-size: 30px;
    }

    .valid-phone2 {
      margin-bottom: 40px;
      overflow: hidden;

      div {
        &.prefix {
          width: 130px;
          line-height: 80px;
          float: left;
          display: flex;

          span {
            font-size: 32px;
          }

          i {
            flex: 1;
            vertical-align: middle;
            position: relative;

            &::before {
              position: absolute;
              content: " ";
              width: 0;
              height: 0;
              border-left: 10px solid rgba(0, 0, 0, 0);
              border-right: 10px solid rgba(0, 0, 0, 0);
              border-bottom: 10px solid rgba(142, 147, 154, 1);
              top: 0;
              left: 0;
              bottom: 0;
              right: 0;
              margin: auto;
            }
          }
        }

        &:last-child {
          width: calc(100% - 70px);
        }
      }
      .right {
        width: 100%;
        margin-left: 170px;
        .border-1px(#dfe2e7);
        &.redbor {
          .border-1px(#e33240);
        }
        &.redbor {
          .border-1px(#e33240);
        }
      }
    }

    .valid-input {
      .border-1px(rgb(223, 226, 231));

      > div {
        width: 60%;
        box-sizing: border-box;
        position: relative;

        > span {
          position: absolute;
          width: 30px;
          height: 30px;
          top: 0;
          bottom: 0;
          z-index: 1;
          right: 0;
          margin: auto;

          &::after,
          &::before {
            position: absolute;
            content: " ";
            width: 100%;
            height: 3px;
            background: #c1c4ca;
            border-radius: 100px;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
          }

          &::before {
            transform: rotate(45deg);
          }

          &::after {
            transform: rotate(-45deg);
          }
        }

        input {
          color: #5e6166;
          display: inline-block;
          border: 0;
          outline: none;
          font-size: 32px;
          line-height: 80px;
          position: relative;

          &::-webkit-input-placeholder {
            color: #c1c4ca;
            font-size: 32px;
          }
        }
      }

      > span {
        padding-top: 20px;
        font-size: 28px;
        float: right;

        &.red {
          color: #e33240;
          padding-right: 1em;
        }

        &.grey {
          color: #8e939a;
        }
      }
    }

    .valid-btn {
      font-size: 32px;
      color: white;
      line-height: 96px;
      text-align: center;
      border-radius: 100px;
      background: linear-gradient(
        90deg,
        rgba(255, 107, 82, 1) 0%,
        rgba(227, 50, 64, 1) 100%
      );
      margin-top: 90px;
      opacity: 0.5;

      &.valid {
        opacity: 1;

        &:active {
          position: relative;
          overflow: hidden;
          transform: rotate(0deg);

          &::before {
            position: absolute;
            content: " ";
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            background: rgba(0, 0, 0, 0.08);
          }
        }
      }
    }

    .validateNum {
      position: relative;
      margin-top: 20px;
      .border-1px(#dfe2e7);
      &.redbor {
        .border-1px(#e33240);
      }
      .from-input {
        font-size: 32px;
        padding: 24px 220px 24px 0;
      }
      .from-input2 {
        font-size: 32px;
        padding: 24px 0;
      }
      .valiNum {
        font-size: 28px;
        line-height: 36px;
        color: #e33240;
        position: absolute;
        right: 20px;
        top: 50%;
        margin-top: -18px;
        &.can-not-click {
          color: #c8c9cc;
          cursor: not-allowed;
        }
      }
      .time {
        font-size: 28px;
        line-height: 36px;
        color: #999ea4;
        position: absolute;
        right: 20px;
        top: 50%;
        margin-top: -18px;
      }
    }

    .register {
      /*padding: 0 40px;*/
      margin-top: 100px;
      .login-btn {
        background: linear-gradient(
          90deg,
          rgba(255, 107, 82, 1) 0%,
          rgba(227, 50, 64, 1) 100%
        );
        font-size: 32px;
        color: #fff;
        opacity: 0.5;
        &.large-alp {
          opacity: 1;
        }
      }
    }
  }

  .content-2 {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;

    .area-list {
      -webkit-overflow-scrolling: touch;
      overflow: auto;
      height: 100%;
      flex: 1;
    }

    .abc {
      width: 60px;
      font-size: 22px;
      color: #8e939a;
      text-align: center;
      display: flex;
      position: relative;

      > div {
        position: absolute;
        top: 110px;
        bottom: 110px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
    }
  }
}
</style>
