<template>
  <membership-wrapper class="my-agreement" title="我的合约" :left-arrow="true">
    <!-- 导航栏 -->
    <van-tabs v-model="active" @change="changeTab">
      <van-tab title="已签合约">
        <van-pull-refresh v-model="isLoading" @refresh="onRefresh">
          <div class="list-box signed" v-if="agreementList && agreementList.length">
            <div class="list" v-for="(item, index) in agreementList" :key="index">
              <span class="status" :class="statusTextColor(item.status)">{{statusText(item.status)}}</span>
              <p class="title">合约{{index + 1}}：{{item.number}}</p>
              <p class="info">签约组织：{{item.orgName}}</p>
              <p class="info">有效年份：{{item.effectiveYear}}</p>
              <p class="info">合约总量：{{item.totalQty}}</p>
              <div class="table">
                <div class="tr bg-title">
                  <div class="th">月份</div>
                  <div class="th flex-2">品种</div>
                  <div class="th">数量</div>
                  <div class="th">月出勤</div>
                </div>
                <div class="tr" v-for="(detailItem, detailIndex) in item.detailList" :key="'detail-' + detailIndex" :class="{'bg': detailIndex % 2 === 1}">
                  <div class="td">{{detailItem.month}}</div>
                  <div class="td flex-2">{{detailItem.productName}}</div>
                  <div class="td">{{detailItem.qty}}</div>
                  <div class="td">{{detailItem.days}}</div>
                </div>
              </div>
              <div class="btn-wrap" v-if="item.status === '0'">
                <span class="color1" @click="confirm(item.fid)">确认</span>
              </div>
            </div>
          </div>
          <div class="no-data-box" v-else>
            <no-data :loading="requestLoading"></no-data>
          </div>
        </van-pull-refresh>
      </van-tab>

      <van-tab title="本月执行">
        <van-pull-refresh v-model="isLoading" @refresh="onRefresh">
          <div class="list-box" v-if="agreementExecList && agreementExecList.length">
            <div class="list" v-for="(item, index) in agreementExecList" :key="index">
              <p class="title">合约{{index + 1}}：{{item.agreementNum}}</p>
              <p class="info">签约组织：{{item.orgName}}</p>
              <div class="table" v-if="item.detailList && item.detailList[0]">
                <div class="tr bg-title">
                  <div class="th">项</div>
                  <div class="th">数值</div>
                </div>
                <div class="tr">
                  <div class="td">本月合约量</div>
                  <div class="td">{{item.detailList[0].sales}}</div>
                </div>
                <div class="tr bg">
                  <div class="td">本月已执行数量</div>
                  <div class="td">{{item.detailList[0].actualSales}}</div>
                </div>
                <div class="tr">
                  <div class="td">本月数量进度</div>
                  <div class="td">{{item.detailList[0].completionRate}}%</div>
                </div>
                <div class="tr bg">
                  <div class="td">本月签约出勤天数</div>
                  <div class="td">{{item.detailList[0].attendance}}</div>
                </div>
                <div class="tr">
                  <div class="td">本月已出勤天数</div>
                  <div class="td">{{item.detailList[0].actualAttendance}}</div>
                </div>
                <div class="tr bg">
                  <div class="td">本月出勤进度</div>
                  <div class="td">{{item.detailList[0].attendanceRate}}%</div>
                </div>
              </div>
            </div>
          </div>
          <div class="no-data-box" v-else>
            <no-data :loading="requestLoading"></no-data>
          </div>
        </van-pull-refresh>
      </van-tab>

      <van-tab title="历史执行">
        <van-pull-refresh v-model="isLoading" @refresh="onRefresh">
          <div class="list-box" v-if="agreementExecHistoryList && agreementExecHistoryList.length">
            <div class="list" v-for="(item, index) in agreementExecHistoryList" :key="index">
              <p class="title">合约{{index + 1}}：{{item.agreementNum}}</p>
              <p class="info">组织：{{item.orgName}}</p>
              <p class="info">年份：{{item.year}}</p>
              <div class="table">
                <div class="tr bg-title">
                  <div class="th">月份</div>
                  <div class="th flex-2">实际销量</div>
                  <div class="th flex-2">出勤天数</div>
                  <div class="th flex-2">是否达标</div>
                  <div class="th flex-2">奖励预估</div>
                </div>
                <div class="tr" v-for="(detailItem, detailIndex) in item.detailList" :key="'detail-' + detailIndex" :class="{'bg': detailIndex % 2 === 1}">
                  <div class="td">{{detailItem.month}}</div>
                  <div class="td flex-2">{{detailItem.actualSales}}</div>
                  <div class="td flex-2">{{detailItem.actualAttendance}}</div>
                  <div class="td flex-2">{{detailItem.isStandard}}</div>
                  <div class="td flex-2">{{detailItem.predictDiscount | keepTwoNum}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="no-data-box" v-else>
            <no-data :loading="requestLoading"></no-data>
          </div>
        </van-pull-refresh>
      </van-tab>

      <van-tab title="合约奖励">
        <van-pull-refresh v-model="isLoading" @refresh="onRefresh">
          <div class="list-box" v-if="agreementDiscountList && agreementDiscountList.length">
            <div class="list" v-for="(item, index) in agreementDiscountList" :key="index">
              <!-- <p class="title">合约{{index + 1}}：{{item.agreementNum}}</p> -->
              <p class="info">组织：{{item.orgName}}</p>
              <p class="info">年份：{{item.year}}</p>
              <div class="table">
                <div class="tr bg-title">
                  <div class="th">月份</div>
                  <div class="th flex-2">总金额</div>
                  <div class="th flex-2">已用金额</div>
                  <div class="th flex-2">剩余金额</div>
                  <div class="th flex-3">失效日期</div>
                </div>
                <div class="tr" v-for="(detailItem, detailIndex) in item.detailList" :key="'detail-' + detailIndex" :class="{'bg': detailIndex % 2 === 1}">
                  <div class="td">{{detailItem.month}}</div>
                  <div class="td flex-2">{{detailItem.amt | keepTwoNum}}</div>
                  <div class="td flex-2">{{detailItem.usedAmt | keepTwoNum}}</div>
                  <div class="td flex-2">{{detailItem.balance | keepTwoNum}}</div>
                  <div class="td flex-3">{{detailItem.deadline}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="no-data-box" v-else>
            <no-data :loading="requestLoading"></no-data>
          </div>
        </van-pull-refresh>
      </van-tab>
    </van-tabs>
  </membership-wrapper>
</template>

<script>
import MembershipWrapper from '@/components/membership-center/membership-wrapper'
import NoData from '@/components/no-data'
import { api } from '@/api'

export default {
  name: 'my-agreement',
  inject: ['reload'],
  components: {
    MembershipWrapper,
    NoData
  },
  data () {
    return {
      active: 0, // 0：已签合约，1：本月执行，2：历史执行，3：合约奖励
      isLoading: false, // 控制下拉刷新的加载动画
      requestLoading: false, // 接口请求加载动画
      easCusId: '', // 当前客户eas id
      agreementList: [], // 已签合约列表
      agreementExecList: [], // 本月执行合约列表
      agreementExecHistoryList: [], // 历史执行合约列表
      agreementDiscountList: [] // 合约奖励列表
    }
  },
  created () {
    this.getEasCusId().then(() => {
      this.getAgreementList(this.easCusId)
    })
  },
  methods: {
    statusText (status) {
      switch (status) {
        case '0':
          return '初步意向'
        case '1':
          return '客户确认'
        case '2':
          return '最终审核'
        default:
          return ''
      }
    },
    statusTextColor (status) {
      switch (status) {
        case '0':
          return 'red'
        case '1':
          return 'orange'
        case '2':
          return 'green'
        default:
          return ''
      }
    },
    changeTab (index, title) {
      this.active = index
      this.agreementList = []
      this.agreementExecList = []
      this.agreementExecHistoryList = []
      this.agreementDiscountList = []
      if (!this.easCusId) {
        this.getEasCusId().then(() => {
          if (this.active === 0) {
            this.getAgreementList()
          } else if (this.active === 1) {
            this.getAgreementExecList()
          } else if (this.active === 2) {
            this.getAgreementExecHistoryList()
          } else if (this.active === 3) {
            this.getAgreementDiscountList()
          }
        })
      } else {
        if (this.active === 0) {
          this.getAgreementList()
        } else if (this.active === 1) {
          this.getAgreementExecList()
        } else if (this.active === 2) {
          this.getAgreementExecHistoryList()
        } else if (this.active === 3) {
          this.getAgreementDiscountList()
        }
      }
    },
    // 下拉刷新
    onRefresh () {
      if (!this.easCusId) {
        this.getEasCusId().then(() => {
          if (this.active === 0) {
            this.getAgreementList()
          } else if (this.active === 1) {
            this.getAgreementExecList()
          } else if (this.active === 2) {
            this.getAgreementExecHistoryList()
          } else if (this.active === 3) {
            this.getAgreementDiscountList()
          }
        })
      } else {
        if (this.active === 0) {
          this.getAgreementList()
        } else if (this.active === 1) {
          this.getAgreementExecList()
        } else if (this.active === 2) {
          this.getAgreementExecHistoryList()
        } else if (this.active === 3) {
          this.getAgreementDiscountList()
        }
      }
    },
    // 获取当前客户eas id
    getEasCusId () {
      return api.commonCall({}, 'getEasCusId').then(res => {
        if (res.success) {
          this.easCusId = res.data || ''
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    // 获取已签合约列表
    getAgreementList () {
      this.requestLoading = true
      api.commonCall_v10({ customer_id: this.easCusId }, 'nextPlatformLink/agreement/list').then(res => {
        this.requestLoading = false
        if (res.success) {
          this.agreementList = (res.data && res.data.data) || []

          setTimeout(() => {
            this.isLoading = false
          }, 100)
        } else {
          this.$toast.fail((res.data && res.data.msg) || (res.message && res.message.replace('调用移动分销接口失败：', '')))
        }
      })
    },
    // 获取本月执行合约列表
    getAgreementExecList () {
      this.requestLoading = true
      api.commonCall_v10({ customer_id: this.easCusId }, 'nextPlatformLink/agreement/exec').then(res => {
        this.requestLoading = false
        if (res.success) {
          this.agreementExecList = (res.data && res.data.data) || []

          setTimeout(() => {
            this.isLoading = false
          }, 100)
        } else {
          this.$toast.fail((res.data && res.data.msg) || (res.message && res.message.replace('调用移动分销接口失败：', '')))
        }
      })
    },
    // 获取历史执行合约列表
    getAgreementExecHistoryList () {
      this.requestLoading = true
      api.commonCall_v10({ customer_id: this.easCusId }, 'nextPlatformLink/agreement/exec_history').then(res => {
        this.requestLoading = false
        if (res.success) {
          this.agreementExecHistoryList = (res.data && res.data.data) || []

          setTimeout(() => {
            this.isLoading = false
          }, 100)
        } else {
          this.$toast.fail((res.data && res.data.msg) || (res.message && res.message.replace('调用移动分销接口失败：', '')))
        }
      })
    },
    // 获取合约奖励列表
    getAgreementDiscountList () {
      this.requestLoading = true
      api.commonCall_v10({ customer_id: this.easCusId }, 'nextPlatformLink/agreement_discount/list').then(res => {
        this.requestLoading = false
        if (res.success) {
          this.agreementDiscountList = (res.data && res.data.data) || []

          setTimeout(() => {
            this.isLoading = false
          }, 100)
        } else {
          this.$toast.fail((res.data && res.data.msg) || (res.message && res.message.replace('调用移动分销接口失败：', '')))
        }
      })
    },
    confirmAgreement (customerId, fid) {
      api.commonCall_v10({ customer_id: customerId, fid }, 'nextPlatformLink/agreement/confirm').then(res => {
        if (res.success && res.data && res.data.data) {
          this.$toast.success('确认成功！')
          this.reload()
        } else {
          this.$toast.fail('确认失败，请重试！')
        }
      })
    },
    confirm (fid) {
      if (!this.easCusId) return

      this.$dialog.confirm({
        title: '提示',
        message: '当前状态为初步意向，您是否继续确认？'
      }).then(() => {
        this.confirmAgreement(this.easCusId, fid)
      }).catch(() => {

      })
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.my-agreement {
  .active {
    position: relative;
    transform: rotate(0deg);
    overflow: hidden;

    &:active {
      &::before {
        content: " ";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background: rgba(0, 0, 0, 0.08);
      }
    }
  }

  @{deep} .van-tab {
    color: #2e3033;
  }

  @{deep} .van-tab--active {
    color: #f44;
  }

  .list-box {
    min-height: calc(100vh - 210px);
    &.signed {
      .list {
        .status {
          float: right;
          color: #666666;
          &.green {
            color: #67C23A;
          }
          &.orange {
            color: #F59900;
          }
          &.red {
            color: #E02020;
          }
        }
        .title {
          max-width: 520px;
        }
        .btn-wrap {
          min-height: 70px;
          margin-top: 20px;
          text-align: right;
          font-size: 0;
          span {
            display: inline-block;
            width: 130px;
            padding: 17px;
            margin-left: 16px;
            font-size: 26px;
            text-align: center;
            font-weight: 400;
            color: rgba(46, 48, 51, 1);
            border: 2px solid #c1c4ca;
            border-radius: 35px;
            user-select: none;
            &:first-child {
              margin-left: 0;
            }
            &.color1 {
              color: #ffffff;
              border-color: rgba(255, 107, 82, 1);
              background: linear-gradient(
                90deg,
                rgba(255, 107, 82, 1) 0%,
                rgba(227, 50, 64, 1) 100%
              );
            }
            &.color2 {
              color: #e33240;
              border-color: #e33240;
              background: rgba(255, 248, 249, 1);
            }
          }
        }
      }
    }
    .list {
      width: 720px;
      margin: 30px auto;
      padding: 30px;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 10px;
      box-sizing: border-box;
      .title {
        font-size: 34px;
        word-wrap: break-word;
        word-break: break-all;
      }
      .info {
        color: #999;
        font-size: 24px;
        line-height: 36px;
      }
      .table {
        .tr {
          display: flex;
          width: 100%;
          justify-content: center;
          align-items: center;
          &.bg-title {
            background-color: #3366FF;
          }
          &.bg {
            background-color: #E6F3F9;
          }
        }
        .th {
          flex: 1;
          color: #fff;
          text-align: center;
          &.flex-2 {
            flex: 2;
          }
          &.flex-3 {
            flex: 3;
          }
        }
        .td {
          flex: 1;
          text-align: center;
          &.flex-2 {
            flex: 2;
          }
          &.flex-3 {
            flex: 3;
          }
        }
      }
    }
  }
}
</style>
