<template>
  <membership-wrapper class="set-info" :title="'资料设置'" :left-arrow="true">
    <list :arrow="true" @on-click="goPage('customerInfo')">
      <div slot="head">
        <div class="head">
          <span
            class="format-img"
            v-lazy:background-image="{ src: allImgDomainName + (userInfo && userInfo.avatar),
              loading: require('@/assets/images/default_profile@2x.png'),
              error: require('@/assets/images/default_profile@2x.png') }"
          ></span>
          <span class="name">{{(userInfo.nickname && userInfo.nickname.trim()) || userInfo.userName}}</span>
        </div>
      </div>
    </list>

    <div class="content">
      <list
        v-for="item in list"
        @on-click="goPage(item.to, item.query)"
        :key="item.title"
        :title="item.title"
        line="true"
        arrow="true"
      ></list>
    </div>

    <div class="log-out" @click="signOout">退出登录</div>

    <div class="ws-copyright">© Copyright Reserved WENS</div>
  </membership-wrapper>
</template>

<script>
import List from '@/components/list'
import MembershipWrapper from '@/components/membership-center/membership-wrapper'
import { api } from '@/api'
import { allImgDomainNameMixin } from '@/assets/js/mixin'

export default {
  name: 'set-info',
  mixins: [allImgDomainNameMixin],
  data () {
    return {
      userInfo: null,
      list: [
        {
          title: '账户安全',
          to: 'accountSecurity'
        },
        {
          title: '销售部申请',
          to: 'customerApplication'
        },
        // {
        //   title: '司机信息维护',
        //   to: 'driver',
        //   query: {
        //     type: 'account'
        //   }
        // },
        {
          title: '受托人员',
          to: 'selfServiceDeliveryDelegation'
        },
        // {
        //   title: '审核查询',
        //   to: 'verify'
        // },
        {
          title: '收货地址',
          to: 'receivingAddress',
          query: {
            type: 'account'
          }
        },
        // {
        //   title: '积分等级',
        //   to: 'integral'
        // },
        {
          title: '会员管理',
          to: 'membershipManagement',
          query: {
            index: '1'
          }
        },
        {
          title: '我的合约',
          to: 'myAgreement'
        }
      ]
    }
  },
  created () {
    this.getUserInfo()
  },
  methods: {
    // 获取用户信息
    getUserInfo () {
      if (!this.userInfo) {
        this.userInfo = JSON.parse(sessionStorage.getItem('userInfo'))
        if (!this.userInfo) {
          api.userInfo().then(res => {
            if (res.success) {
              this.userInfo = res.data
            } else {
              res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
            }
          })
        }
      }
    },
    goPage (name, query = {}) {
      if (name) {
        this.$router.push({
          name,
          query
        })
      }
    },
    // 退出登录
    signOout () {
      api.logout().then(res => {
        sessionStorage.removeItem('token')
        sessionStorage.removeItem('br-custom-key')
        sessionStorage.removeItem('defaultCustomer')
        sessionStorage.removeItem('isDriver')
        sessionStorage.removeItem('groupBuyingCache')
        sessionStorage.removeItem('flashSaleCache')
        this.$router.push({ name: 'loginRandom' })
      })
    }
  },
  components: {
    List,
    MembershipWrapper
  }
}
</script>

<style lang="less" scoped>
.set-info {
  color: #2e3033;
  height: 100%;
  min-height: calc(100vh - 50px);
  padding-bottom: 50px;
  position: relative;

  .format-img {
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .head {
    display: flex;
    align-items: center;
    font-size: 30px;
    .format-img {
      background-color: rgb(245, 245, 245);
      display: block;
      width: 130px;
      height: 130px;
      border-radius: 50%;
      margin-right: 30px;
    }
    .name {
      max-width: 380px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .content {
    margin-top: 16px;
  }

  .log-out {
    background: white;
    margin-top: 16px;
    text-align: center;
    font-size: 30px;
    padding: 35px 0;

    &:active {
      position: relative;
      overflow: hidden;

      &::before {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.08);
        z-index: 1;
      }
    }
  }

  .ws-copyright {
    position: absolute;
    width: 100%;
    bottom: 12px;
    color: #999999;
    font-size: 16px;
    font-family: Microsoft YaHei;
    text-align: center;
  }
}
</style>
