<template>
  <membership-wrapper class="consignor" title="客户切换" :left-arrow="true">
    <div class="consignor-content">
      <ul v-if="customer.list && customer.list.length">
        <li v-for="(item, index) in customer.list" :key='item.customerId' @click="checkoutUser(item, index)" >
          <div class="left-img">
            <img :src="headIcon" alt="头像">
          </div>
          <div class="right-info">
            <p class="title">{{item.customerName}}</p>
            <div class="activeUser" v-if="customer.current.customerId === item.customerId">
              <img :src="select" alt="选中">
            </div>
          </div>
        </li>
      </ul>
      <div class="no-data-box" v-else>
        <no-data :loading="requestLoading"></no-data>
      </div>
    </div>
  </membership-wrapper>
</template>

<script>
import MembershipWrapper from '@/components/membership-center/membership-wrapper'
import NoData from '@/components/no-data'
import { api } from '@/api'
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'switching-customers',
  data () {
    return {
      headIcon: require('@/assets/images/hearpr-icon.png'),
      select: require('@/assets/images/select.svg'),
      requestLoading: false // 接口请求加载动画
    }
  },
  computed: {
    ...mapGetters(['customer'])
  },
  created () {

  },
  methods: {
    ...mapActions(['setCustomer']),
    checkoutUser (item, index) {
      if (index === 0) return

      let params = {
        customerId: item.customerId,
        customerName: item.customerName,
        customerNumber: item.customerNumber
      }
      api.commonCall(params, 'switchCustomer').then(res => {
        if (res.success) {
          try {
            this.setCustomer({
              data: { customerId: item.customerId, customerName: item.customerName, customerNumber: item.customerNumber },
              flag: 'update'
            })
          } finally {
            this.$router.replace({ path: '/' })
            location.reload(true)
          }
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    }
  },
  components: {
    MembershipWrapper,
    NoData
  }
}
</script>

<style lang="less" scoped>
.consignor{
  width: 100%;
  height: 100vh;
  font-family: PingFangSC-Regular;
  .consignor-content{
    width: 100%;
    margin-top: 10px;
    li{
      width: 100%;
      height: 120px;
      background: #ffffff;
      &:last-child {
        .right-info {
          border-bottom: 0;
        }
      }
      .left-img{
        width: 13%;
        float: left;
        padding-left: 30px;
        margin-top: 20px;
        img{
          width: 80px;
          height: 80px;
        }
      }
      .right-info{
        width: 82.5%;
        float: right;
        height: 118px;
        border-bottom: 1px solid #E1E1E1;
        .title{
          font-size: 28px;
          color: #434349;
          width: 80%;
          float: left;
          margin-top: 36px;
        }
        .iphone{
          font-size: 24px;
          color: #A9ABAF;
          width: 80%;
          float: left;
        }
        .activeUser{
          width: 15%;
          height: 34px;
          float: right;
          margin: 35px 30px 0 0;
          text-align: right;
          img{
            width: 36px;
            height: 36px;
            vertical-align: middle;
          }
        }
      }
    }
    li:active{
      background: #E1E1E1;
    }
  }
}
</style>
