<template>
  <membership-wrapper class="verify" :title="'审核查询'" :left-arrow="true">
    <div class="van-content content">
      <!-- 步骤条 -->
      <my-step :data="stepData" :active="process.auditState === 'WAIT' ? 2 : 4"></my-step>

      <div class="line"></div>

      <div class="verify-content">
        <div :class="resultClass && resultClass.icon"></div>

        <div :class="resultClass && resultClass.color">{{resultClass && resultClass.text}}</div>

        <div v-if="process.auditState === 'FAIL'">
          <span @click="goustomerInfo">重新修改</span>
        </div>
      </div>
    </div>
  </membership-wrapper>
</template>

<script>
import MembershipWrapper from '@/components/membership-center/membership-wrapper'
import MyStep from '@/components/my-step'
import { api } from '@/api'

export default {
  name: 'verify',
  created () {
    api.customerReqProgressQuery().then(res => {
      if (res.success) {
        this.process = res.data

        let stepData = this.stepData
        stepData[0].time = this.process.subDate
        stepData[4].time = this.process.endDate

        this.stepData.splice(0, stepData.length, ...stepData)
      }
    })
  },
  computed: {
    // 审核状态样式
    resultClass () {
      switch (this.process.auditState) {
        case 'WAIT':
          return {
            icon: 'wait',
            text: '正在审核中，请耐心等待！',
            color: 'wait'
          }
        case 'SUCCESS':
          return {
            icon: 'success',
            text: '恭喜您，注册资料审核通过！',
            color: 'success'
          }
        case 'FAIL':
          return {
            icon: 'fail',
            text: '提交身份证信息有误，审核不通过！',
            color: 'fail'
          }
        default:
          return {
            icon: '',
            text: '',
            color: ''
          }
      }
    }
  },
  methods: {
    goustomerInfo () {
      this.$router.push({
        path: '/customerInfo'
      })
    }
  },
  data () {
    return {
      stepData: [
        {
          text: '提交申请',
          time: ''
        },
        {
          text: ''
        },
        {
          text: '商家审核',
          time: ''
        },
        {
          text: ''
        },
        {
          text: '完成',
          time: ''
        }
      ],
      process: {}
    }
  },
  components: {
    MembershipWrapper,
    MyStep
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.verify {
  .format-img {
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .van-content {
    height: calc(100% - 92px);
    background: white;
  }

  .content {
    padding-bottom: 96px;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    overflow: auto;

    > .line {
      height: 16px;
      background: rgb(245, 245, 245);
    }

    > .verify-content {
      text-align: center;
      padding-top: 80px;

      > div {
        &:first-child {
          margin: auto;
          margin-bottom: 40px;
          width: 120px;
          height: 120px;

          .format-img;

          &.wait {
            .bg-img("~@/assets/images/icon/wait");
          }

          &.success {
            .bg-img("~@/assets/images/icon/success");
          }

          &.fail {
            .bg-img("~@/assets/images/icon/fail");
          }
        }

        &:nth-child(2) {
          font-size: 30px;

          &.wait {
            color: #ffaa17;
          }

          &.success {
            color: #4a9c75;
          }

          &.fail {
            color: #f95c5c;
          }
        }

        &:nth-child(3) {
          color: #428be9;
          font-size: 28px;
          position: fixed;
          bottom: 80px;
          left: 0;
          right: 0;
        }
      }
    }
  }
}
</style>
