<template>
  <div class="place-order">
    <div class="navbar">
      <van-nav-bar title="我的钱包" :border="false" left-arrow @click-left="toReturn">
        <i slot="right" class="icon"></i>
      </van-nav-bar>
    </div>

    <div class="top-wrap">
      <div class="wrap-box">
        <div class="title">全部余额(元)<i class="icon" :class="isCiphertext ? 'ciphertext' : 'plaintext'" @click="isCiphertext = !isCiphertext"></i></div>
        <div class="amount">{{isCiphertext ? '******' : totalAmount}}</div>
        <div class="bond"><i class="info-icon"></i>保证金: {{isCiphertext ? '******' : bondAmount}}</div>
      </div>
      <div class="recharge-btn" @click="goPage({path: 'topUp'})">充值</div>
    </div>

    <div class="nav-wrap">
      <div>
        <div class="amount">{{isCiphertext ? '******' : balance}}</div>
        <div class="title">账户余额</div>
        <div class="btn">申请提现</div>
      </div>
      <div>
        <div class="amount">{{isCiphertext ? '******' : rebate}}</div>
        <div class="title">返&nbsp;&nbsp;利</div>
        <div class="btn">转入余额</div>
      </div>
    </div>

    <div class="nav-wrap-list">
      <div class="list-item" v-for="(item, index) in list" :key="index" @click="goPage(item.route)">
        <div class="label-icon"></div>
        <div class="list-item-content">
          <span class="content-left">{{item.name}}</span>
          <span class="content-right">{{item.num && (item.num + ' ' + item.unit)}}</span>
        </div>
        <div class="arrow"><van-icon name="arrow"/></div>
      </div>
    </div>

    <div class="ws-copyright">© Copyright Reserved WENS</div>
  </div>
</template>

<script>
import { allImgDomainNameMixin } from '@/assets/js/mixin'
import { api } from '@/api'

export default {
  name: 'wallet',
  mixins: [allImgDomainNameMixin],
  data () {
    return {
      isCiphertext: false, // 是否密文显示：true - 密文，false - 明文
      // totalAmount: 0, // 总金额
      bondAmount: 0, // 保证金金额
      balance: 0, // 账户余额
      rebate: 0, // 返利
      list: [
        {
          name: '优惠券',
          num: '',
          unit: '张',
          route: {
            path: 'myCoupon'
          }
        },
        {
          name: '银行卡',
          num: '',
          unit: '张',
          route: {}
        },
        {
          name: '保证金',
          num: '',
          unit: '元',
          route: {
            path: '/fund',
            query: {
              active: 2
            }
          }
        },
        {
          name: '转账单',
          num: '',
          unit: '元',
          route: {
            path: '/fund',
            query: {
              active: 3
            }
          }
        },
        {
          name: '销售折扣',
          num: '',
          unit: '折',
          route: {
            path: '/fund',
            query: {
              active: 4
            }
          }
        }
      ]
    }
  },
  computed: {
    totalAmount () { // 总金额
      return this.bondAmount + this.balance + this.rebate
    }
  },
  created () {
    this.queryBondAmount()
    this.balanceQuery()
  },
  methods: {
    toReturn () {
      if (window.history.length > 1) {
        this.$router.go(-1)
      } else {
        this.$router.push('/')
      }
    },
    goPage (route) {
      this.$router.push(route)
    },
    // 获取保证金
    queryBondAmount () {
      let params = {
        page: 1,
        pageSize: 6
      }
      api.commonCall(params, 'queryMarginRecordList').then(res => {
        this.requestLoading = false
        if (res.success) {
          this.bondAmount = res.data.totalAmount || 0
        }
      })
    },
    // 获取余额
    balanceQuery () {
      let params = {
        page: 1,
        pageSize: 999,
        customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
      }
      api.balanceQuery(params).then(res => {
        if (res.success) {
          this.balance = res.data.totalBalance || 0
        }
      })
    }
  }
}
</script>

<style scoped lang="less">
@import "~@/assets/css/mixin.less";

.place-order {
  min-height: calc(100vh - 50px);
  background: #F1F1F1;
  padding-bottom: 50px;
  position: relative;
  background-color: #F1F1F1;
  background-position: top center;
  background-size: 100% 482px;
  background-repeat: no-repeat;
  .bg-img('~@/assets/images/new-version/wallet/top-bg');

  .ws-copyright {
    position: absolute;
    width: 100%;
    bottom: 12px;
    color: #999999;
    font-size: 16px;
    font-family: Microsoft YaHei;
    text-align: center;
  }

  .format-img {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .navbar {
    width: 100%;
    @{deep}.van-nav-bar {
      background: #E60012;
      &__title {
        font-size: 38px;
        color: #FFFFFF;
      }
      &__left {
        .van-nav-bar__arrow {
          color: #FFFFFF !important;
        }
      }
    }
    .icon {
      display: inline-block;
      width: 38px;
      height: 36px;
      background-position: center;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      .bg-img("~@/assets/images/new-version/wallet/navbar-icon");
    }
  }

  .top-wrap {
    margin: 30px 14px 26px;
    position: relative;
    .wrap-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: #FFFFFF;
      .title {
        display: flex;
        align-items: center;
        font-size: 24px;
        .icon {
          display: inline-block;
          width: 26px;
          height: 22px;
          margin-left: 12px;
          background-position: center;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          &.ciphertext {
            height: 12px;
            .bg-img("~@/assets/images/new-version/wallet/ciphertext");
          }
          &.plaintext {
            .bg-img("~@/assets/images/new-version/wallet/plaintext");
          }
        }
      }
      .amount {
        margin-top: 8px;
        font-size: 60px;
      }
      .bond {
        display: flex;
        align-items: center;
        margin-top: 10px;
        font-size: 20px;
        .info-icon {
          display: inline-block;
          width: 20px;
          height: 20px;
          margin-right: 10px;
          background-position: center;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          .bg-img("~@/assets/images/new-version/wallet/info");
        }
      }
    }
    .recharge-btn {
      position: absolute;
      right: 48px;
      top: 50%;
      transform: translateY(-50%);
      box-sizing: border-box;
      width: 84px;
      height: 38px;
      line-height: 38px;
      background: #ffffff;
      border-radius: 19px;
      padding: 0 14px;
      color: #E60012;
      font-size: 24px;
    }
  }

  .nav-wrap {
    display: flex;
    margin: 0 14px 26px;
    padding: 50px 0 70px;
    background: #ffffff;
    border-radius: 12px;
    >div {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &:not(:last-child) {
        .border-vertical-1px(#CCCCCC);
      }
      .amount {
        color: #333333;
        font-size: 36px;
      }
      .title {
        margin-top: 4px;
        color: #999999;
        font-size: 24px;
      }
      .btn {
        box-sizing: border-box;
        height: 38px;
        line-height: 38px;
        margin-top: 16px;
        background: #E60012;
        border-radius: 19px;
        padding: 0 28px;
        color: #ffffff;
        font-size: 24px;
      }
    }
  }

  .nav-wrap-list {
    margin: 0 14px 26px;
    background: #ffffff;
    border-radius: 12px;
    .list-item {
      display: flex;
      align-items: center;
      height: 82px;
      margin: 0 14px;
      &:not(:last-child) {
        .border-1px(#CCCCCC);
      }
      &:nth-child(1) {
        .label-icon {
          background-size: 48px 36px;
          .bg-img("~@/assets/images/new-version/wallet/coupon");
        }
      }
      &:nth-child(2) {
        .label-icon {
          background-size: 44px 36px;
          .bg-img("~@/assets/images/new-version/wallet/bankcard");
        }
      }
      &:nth-child(3) {
        .label-icon {
          background-size: 40px 44px;
          .bg-img("~@/assets/images/new-version/wallet/bond");
        }
      }
      &:nth-child(4) {
        .label-icon {
          background-size: 38px 42px;
          .bg-img("~@/assets/images/new-version/wallet/transfer-order");
        }
      }
      &:nth-child(5) {
        .label-icon {
          background-size: 40px 44px;
          .bg-img("~@/assets/images/new-version/wallet/sales-discount");
        }
      }
      .label-icon {
        display: inline-block;
        width: 48px;
        height: 44px;
        flex: 0 0 48px;
        margin: 0 14px;
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
      .list-item-content {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 28px;
        .content-left {
          color: #666666;
        }
        .content-right {
          color: #333333;
          font-weight: bold;
        }
      }
      .arrow {
        flex-shrink: 0;
        font-size: 24px;
        color: #999999;
        width: 46px;
        text-align: center;
        padding-top: 4px;
      }
    }
  }
}
</style>
