<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title></title>
    <meta name="keywords" content="">
    <meta name="description" content="">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but wens-mall-mobile doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <!--JS-->
    <script type="text/javascript">
      // BMap定位回调方法
      function getLocation(data) {
        if (typeof window.bmapLocation === 'undefined' || window.bmapLocation === null) {
          window.bmapLocation = (data && data.address && data.address.split('|')[1]) || null
        }
      }

      /**
       * Udesk客服(插入外部脚本)
       * 20190704 by Fanglin Zhang
      */
      // (function (a, h, c, b, f, g) {
      //   a['UdeskApiObject'] = f
      //   a[f] = a[f] || function () {
      //     (a[f].d = a[f].d || []).push(arguments)
      //   }
      //   g = h.createElement(c)
      //   g.async = 1
      //   g.charset = 'utf-8'
      //   g.src = b
      //   c = h.getElementsByTagName(c)[0]
      //   c.parentNode.insertBefore(g, c)
      // })(window, document, 'script', 'https://assets-cli.s2.udesk.cn/im_client/js/udeskApi.js', 'ud')
      // ud({
      //   'code': '3ch2f07',
      //   'link': 'https://wens.s2.udesk.cn/im_client/?web_plugin_id=3238',
      //   'manualInit': true,
      //   'targetSelector': '#call-center-btn',
      //   'mobile': {
      //     'mode': 'inner',
      //     "color": "#307AE8",
      //     "pos_flag": "hmb",
      //     "onlineText": "联系客服，在线咨询",
      //     "offlineText": "客服下班，请留言",
      //     "pop": {
      //       "direction": "top",
      //       "arrow": {
      //         "top": 0,
      //         "left": "70%"
      //       }
      //     }
      //   },
      //   'panel': {
      //     'css': {
      //       'top': '0'
      //     }
      //   }
      // })

      // Android微信阻止字体大小调整
      (function() {
        if (typeof WeixinJSBridge == 'object' && typeof WeixinJSBridge.invoke == 'function') {
          handleFontSize()
        } else {
          if (document.addEventListener) {
            document.addEventListener('WeixinJSBridgeReady', handleFontSize, false)
          } else if (document.attachEvent) {
            //IE浏览器，非W3C规范
            document.attachEvent('WeixinJSBridgeReady', handleFontSize)
            document.attachEvent('onWeixinJSBridgeReady', handleFontSize)
          }
        }
        function handleFontSize() {
          // 设置网页字体为默认大小
          WeixinJSBridge.invoke('setFontSizeCallback', { 'fontSize' : 0 })
          // 重写设置网页字体大小的事件
          WeixinJSBridge.on('menu:setfont', function() {
            WeixinJSBridge.invoke('setFontSizeCallback', { 'fontSize' : 0 })
          })
        }
      })()
    </script>
    <script type="text/javascript" src="https://api.map.baidu.com/location/ip?ak=rpKfunE6VcvYHU39zq9H970Rr5niHs4g&callback_type=jsonp&callback=getLocation" async="async"></script>
    <script type="text/javascript" src="<%= BASE_URL %>js/configURL.js"></script>
    <script type="text/javascript" src="<%= BASE_URL %>js/RSA.js"></script>
    <script type="text/javascript" src="<%= BASE_URL %>js/sha1.js"></script>
  </body>
</html>
