<template>
  <div class="seckill-wrap">
    <van-nav-bar title="秒杀" left-arrow @click-left="onClickLeft"></van-nav-bar>

    <van-tabs v-model="active" @change="_tabChange">
      <div class="seckill-list">
        <ul class="list">
          <li class="item" :class="{active: sortType === 'time'}" @click="_sortChange('time')">
            时间
            <div class="icon-group">
              <i class="up" :class="{'current': sortType === 'time' && upwardSort}"></i>
              <i class="down" :class="{'current': sortType === 'time' && !upwardSort}"></i>
            </div>
          </li>
          <li class="item" :class="{active: sortType === 'price'}" @click="_sortChange('price')">
            价格
            <div class="icon-group">
              <i class="up" :class="{'current': sortType === 'price' && upwardSort}"></i>
              <i class="down" :class="{'current': sortType === 'price' && !upwardSort}"></i>
            </div>
          </li>
          <li class="item" :class="{active: sortType === 'qty'}" @click="_sortChange('qty')">
            数量
            <div class="icon-group">
              <i class="up" :class="{'current': sortType === 'qty' && upwardSort}"></i>
              <i class="down" :class="{'current': sortType === 'qty' && !upwardSort}"></i>
            </div>
          </li>
          <li class="item" :class="{active: sortType === 'owner'}" @click="_sortChange('owner')">
            服务部
            <div class="icon-group">
              <i class="up" :class="{'current': sortType === 'owner' && upwardSort}"></i>
              <i class="down" :class="{'current': sortType === 'owner' && !upwardSort}"></i>
            </div>
          </li>
          <li class="item" :class="{active: sortType === 'item'}" @click="_sortChange('item')">
            产品
            <div class="icon-group">
              <i class="up" :class="{'current': sortType === 'item' && upwardSort}"></i>
              <i class="down" :class="{'current': sortType === 'item' && !upwardSort}"></i>
            </div>
          </li>
        </ul>
      </div>
      <van-tab v-for="(item, index) in tabList" :key="index" :title="item.title">
        <div class="is-killing-img" v-if="active === 0">
          <img src="@/assets/images/flash-sale/is-killing-banner.png"/>
        </div>
        <van-pull-refresh v-model="isLoading" @refresh="onRefresh" v-if="flashSaleList && flashSaleList.length">
          <van-list v-model="loading" :finished="finished" @load="onLoad" :offset="200" finished-text="没有更多了">
            <flash-sale-goods-list :data="flashSaleList" :nowDate="nowDate" :spikeType="spikeType" @openSpikeReminder="openSpikeReminder"></flash-sale-goods-list>
          </van-list>
        </van-pull-refresh>
        <div class="no-data-box" v-else>
          <no-data :loading="requestLoading" text="Sorry，暂无发布新的秒杀活动，敬请期待！"></no-data>
        </div>
      </van-tab>
    </van-tabs>

    <!--提醒弹出框-->
    <div class="spike-reminder" v-if="spikeReminderShow">
      <div class="spike-reminder-content">
        <div class="set-reminder"><h5>设置提醒</h5></div>
        <div class="set-time">
          <h6>提醒时间：</h6>
          <div class="set-time-text reminder">
            <div class="reminder-one"></div>
            <p>秒杀前5分钟提醒</p>
          </div>
        </div>
        <div class="setting-option">
          <p class="setting-mode">提醒方式：</p>
          <p class="p-phone">短信提醒手机号：{{phone}}</p>
          <div class="wechat">
            <div class="wechat-attention"></div>
            <p>微信关注温氏商城公众号，第一时间通知秒杀信息。</p>
          </div>
        </div>
        <span @click="_remindSure">确定</span>
        <h4 @click="spikeReminderShow = false">取消</h4>
      </div>
    </div>

    <!--取消提醒弹出框-->
    <div class="cancel-reminder" v-if="spikeCancelReminderShow">
      <div class="cancel-reminder-content">
        <div class="cancel-reminder-title">取消提醒</div>
        <div class="cancel-reminder-text">是否取消提醒</div>
        <div class="cancel-reminder-btn">
          <p @click="_remindSure">确定</p>
          <span @click="spikeCancelReminderShow = false">取消</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { api } from '@/api'
import FlashSaleGoodsList from '@/components/flash-sale/flash-sale-goods-list'
import NoData from '@/components/no-data'
export default {
  name: 'flash-sale',
  components: {
    FlashSaleGoodsList,
    NoData
  },
  data () {
    return {
      tabList: [
        {
          title: '正在秒杀'
        }, {
          title: '秒杀预告'
        }
      ],
      active: 0,
      flashSaleList: [],
      loading: false, // 控制上拉加载的加载动画
      finished: false, // 控制在页面往下移动到底部时是否调用接口获取数据
      isLoading: false, // 控制下拉刷新的加载动画
      requestLoading: false, // 接口请求加载动画
      cacheList: [],
      page: {
        index: 1,
        size: 6,
        total: 0
      },
      upwardSort: true, // true-向上排序，false-向下排序
      sortType: 'time', // 排序方式（时间：time，价格：price，数量：qty，服务部：owner，产品：item）
      nowDate: null, // 服务器返回当前时间
      spikeType: 'spikeNow', // 秒杀类型 spikeNow:正在秒杀 spikeTrailer：秒杀预告
      spikeReminderShow: false, // 提醒弹出框
      phone: '',
      spikeCancelReminderShow: false, // 取消提醒弹出框
      remindType: 'save', // save/ cancel  设置/取消
      remindIndex: -1, // 第几个商品
      spikeId: null
    }
  },
  computed: {
    orderBy () {
      return this.upwardSort ? this.sortType + 'Up' : this.sortType + 'Down'
    }
  },
  mounted () {
    this.active = +this.$route.query.active
    this.spikeType = this.active === 0 ? 'spikeNow' : 'spikeTrailer'
    this.getFlashSaleList()
  },
  methods: {
    onClickLeft () {
      this.$router.go(-1)
    },
    getFlashSaleList () {
      this.requestLoading = true
      let params = {
        page: this.page.index,
        pageSize: this.page.size,
        orderBy: this.orderBy,
        spikeType: this.spikeType
      }
      api.commonCall(params, 'querySpikeActivityList').then(res => {
        this.requestLoading = false
        if (res.success) {
          this.nowDate = res.data.nowDate

          this.cacheList = this.cacheList.concat(res.data.spikeList)
          this.flashSaleList.splice(0, this.flashSaleList.length, ...this.cacheList)
          this.page.total = res.data.count

          this.finished = false
          this.loading = false
          if (this.cacheList.length >= this.page.total) {
            this.finished = true
          }
          setTimeout(() => {
            this.isLoading = false
          }, 100)
        }
      })
    },
    // 排序条件切换
    _sortChange (name) {
      if (this.sortType === name) {
        this.upwardSort = !this.upwardSort
      } else {
        this.upwardSort = true
        this.sortType = name
      }

      this.page.index = 1
      this.cacheList = []
      this.flashSaleList = []
      this.getFlashSaleList()
    },
    // 下拉刷新
    onRefresh () {
      this.page.index = 1
      this.cacheList = []
      this.getFlashSaleList()
    },
    // 上拉加载
    onLoad () {
      this.page.index++
      this.getFlashSaleList()
    },
    // tab切换
    _tabChange () {
      if (+this.$route.query.active !== this.active) {
        this.$router.replace({
          path: '/flashSale',
          query: { active: this.active }
        })
      }
      this.spikeType = this.active === 0 ? 'spikeNow' : 'spikeTrailer'
      this.sortType = 'time'
      this.upwardSort = true
      this.page.index = 1
      this.cacheList = []
      this.flashSaleList = []
      this.getFlashSaleList()
    },
    _initUserInfo () {
      let userInfo = JSON.parse(sessionStorage.getItem('userInfo'))
      let ownerId = userInfo && userInfo.id
      this.phone = userInfo && userInfo.phone && userInfo.phone.replace(userInfo.phone.substring(3, 7), '****')
      if (!ownerId) {
        api.userInfo().then(res => {
          if (res.success) {
            ownerId = res.data.id
            this.phone = res.data.phone.replace(res.data.phone.substring(3, 7), '****')
          } else {
            res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
          }
        })
      }
    },
    openSpikeReminder (item, index) { // 显示提醒弹出框
      if (!sessionStorage.getItem('token')) { // 判断是否登录
        this.$toast('请先登录')
        this.$router.push({ path: '/loginRandom', query: { redirect: this.$route.fullPath } })
        return
      }
      this.spikeId = item.id
      this.remindIndex = index
      if (+item.isReminder) { // 1设置，0未设置
        this.spikeCancelReminderShow = true
        this.spikeReminderShow = false
        this.remindType = 'cancel'
      } else {
        this._initUserInfo()
        this.spikeReminderShow = true
        this.spikeCancelReminderShow = false
        this.remindType = 'save'
      }
    },
    _remindSure () {
      let params = {
        spikeId: this.spikeId,
        remindType: this.remindType, // save设置 cancel取消
        beginNum: '5'
      }
      api.commonCall(params, 'setSpikeRemindByTime').then(res => {
        if (res.success) {
          this.spikeReminderShow = false
          this.spikeCancelReminderShow = false
          this.$set(this.flashSaleList[this.remindIndex], 'isReminder', this.remindType === 'save' ? '1' : '0')
          this.$toast.success(this.remindType === 'save' ? '将在秒杀开始前5分钟提醒您，请注意！' : '秒杀提醒已取消，您可能会抢不到哦！')
        } else {
          this.spikeReminderShow = false
          this.spikeCancelReminderShow = false
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.seckill-wrap{
  width: 100%;
  min-height: 100vh;
  background-color: #f8f8f8;

  @{deep}.van-tabs {
    .van-hairline--top-bottom {
      &::after {
        border-width: 0 0 1px 0;
      }
      .van-tabs__nav{
        .van-tabs__line{
          width: 120px !important;
        }
      }
    }
  }

  .is-killing-img{
    width: 95%;
    height: 140px;
    margin: 22px auto;
    img{
      width: 100%;
      height: 100%;
      border-radius: 12px;
    }
  }
  .seckill-list{
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
    .list {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      .item {
        text-align: center;
        &.screen {
          flex: 0 0 120px;
          text-align: center;
          position: relative;
          &::before {
            content: "";
            height: 40px;
            width: 1px;
            background-color: #e8e9eb;
            position: absolute;
            left: 0;
            top: 0;
          }
        }
        font-size: 28px;
        flex: 1;
        .icon-group {
          height: 44px;
          display: inline-block;
          vertical-align: middle;
          margin-left: 6px;
          .up {
            display: block;
            width: 0;
            height: 0;
            border-left: 9px solid transparent;
            border-right: 9px solid transparent;
            border-bottom: 9px solid #c1c4ca;
            margin-top: 8px;
            &.current {
              border-bottom: 9px solid #e33240;
            }
          }
          .down {
            display: block;
            width: 0;
            height: 0;
            border-left: 9px solid transparent;
            border-right: 9px solid transparent;
            border-top: 9px solid #c1c4ca;
            margin-top: 5px;
            &.current {
              border-top: 9px solid #e33240;
            }
          }
        }
        &.active {
          color: #e33240;
        }
      }
    }
  }

  // 提醒框
  .spike-reminder{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0,0.2);
    display: flex;
    align-items: center;
    justify-items: center;
    .spike-reminder-content{
      width: 606px;
      height: 676px;
      position: absolute;
      top: 458px;
      left:72px;
      .bg-img("~@/assets/images/index-2/reminder-bg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% 100%;
      margin-top: -125px;
      border-radius: 24px ;
      span{
        width: 246px;
        height: 86px;
        background-color: #F39801;
        display: inline-block;
        margin-top: 20px;
        margin:0 28px;
        font-size: 36px;
        color: #ffffff;
        text-align: center;
        line-height: 86px;
        border-radius: 12px;
      }
      h4{
        width: 246px;
        height: 86px;
        background-color: #A9ABAF;
        display: inline-block;
        margin-top: 20px;
        margin-right: 28px;
        font-size: 36px;
        color: #ffffff;
        text-align: center;
        line-height: 86px;
        border-radius: 12px;
      }
      .set-reminder{
        width: 100%;
        height: 126px;
        h5{
          font-size: 32px;
          color: #ffffff;
          text-align: center;
          line-height: 100px;
          font-weight: bold;
        }
      }
      .set-time{
        width: 544px;
        height: 183px;
        margin: 0 auto;
        border-bottom: 2px solid #E4E5E6;
        box-sizing: border-box;
        h6{
          font-size: 24px;
          color: #48484A;
          float: left;
          margin-top: 45px;
        }
        .set-time-text{
          width: 312px;
          height: 44px;
          float: right;
          margin-top: 18px;
          margin-right: 101px;
          .reminder-one{
            width: 32px;
            height: 32px;
            border-radius: 50%;
            float: left;
            margin-top: 29px;
            background: url("~@/assets/images/auction/tick-@1x.png") no-repeat center center;
            background-size: 100% 100%;
            margin-left: 5px;
          }
          p{
            font-size: 28px;
            color: #48484A;
            line-height: 90px;
            text-align: center;
            padding-left: 5px;
          }
        }
        .reminder{
          .reminder-one{
            background: url("~@/assets/images/auction/tick-@1x.png") no-repeat center center;
            background-size: 100% 100%;
          }
        }
      }
      .setting-option {
        width: 560px;
        height: 200px;
        margin: 0 auto;
        margin-top: 23px;
        .setting-mode {
          width: 100%;
          overflow: hidden;
          font-size: 24px;
          color: #48484a;
          line-height: 55px;
        }
        .p-phone{
          width: 100%;
          overflow: hidden;
          font-size: 24px;
          color: #48484a;
          background: url("~@/assets/images/flash-sale/phone.svg") no-repeat 12px 10px;
          background-size: 24px 32px;
          padding-left: 70px;
          padding-top: 8px;
        }
        .wechat {
          width: 100%;
          overflow: hidden;
          margin-top: 20px;
          .wechat-attention {
            width: 40px;
            height: 34px;
            float: left;
            margin-top: 10px;
            background: url("~@/assets/images/auction/wx.png") no-repeat center center;
            background-size: 100% 100%;
          }
          p {
            width: 85%;
            float: left;
            font-size: 24px;
            color: #48484A;
            padding-left: 30px;
            word-wrap: break-word;
          }
        }
      }
    }
  }
  // 取消弹框
  .cancel-reminder{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0,0.2);
    display: flex;
    align-items: center;
    justify-items: center;
    .cancel-reminder-content{
      width: 606px;
      height: 676px;
      position: absolute;
      top: 458px;
      left:72px;
      .bg-img("~@/assets/images/index-2/reminder-bg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% 100%;
      margin-top: -125px;
      border-radius: 24px;
      .cancel-reminder-title{
        width: 100%;
        height: 126px;
        text-align: center;
        line-height: 116px;
        font-size: 32px;
        color: #FFFFFF;
        font-weight: 500;
      }
      .cancel-reminder-text{
        width: 100%;
        height: 408px;
        line-height: 408px;
        font-size: 32px;
        color: #48484A;
        text-align: center;
      }
      .cancel-reminder-btn{
        width: 100%;
        height: 142px;
        p{
          width: 266px;
          height: 86px;
          float: left;
          border-radius: 12px;
          background-color: #F39801;
          font-size: 36px;
          color: #FFFFFF;
          text-align: center;
          line-height: 86px;
          margin-left: 28px;
        }
        span{
          width: 266px;
          height: 86px;
          float: left;
          border-radius: 12px;
          background-color: #A9ABAF;
          font-size: 36px;
          color: #FFFFFF;
          text-align: center;
          line-height: 86px;
          margin-left: 18px;
        }
      }
    }
  }
}
</style>
