<template>
  <div class="spike-record-wrap">
    <div class="spike-record-top">
      <van-nav-bar title="我的秒杀" left-arrow @click-left="_toReturn">
        <span slot="right" class="screen-btn" @click="showScreen = !showScreen"></span>
      </van-nav-bar>

      <div class="screen-wrap" v-if="showScreen">
        <div class="screen-item">
          <span>公司名称:</span>
          <div class="input-wrap">
            <!-- <input v-model="orgName" type="text" placeholder="请输入公司名称" /> -->
            <van-field
              v-model="orgName"
              type="text"
              clearable
              placeholder="请输入公司名称"
            />
          </div>
        </div>
        <div class="screen-item">
          <span>日期:</span>
          <div class="input-wrap date">
            <input v-model="startDate" type="text" readonly placeholder="请选择开始日期" @click="_startSelect" />
            <van-icon v-if="startDate" name="clear" @click.stop.prevent="onEmpty('startDate')"></van-icon>
          </div>
          <span class="link">--</span>
          <div class="input-wrap date">
            <input v-model="endDate" type="text" readonly placeholder="请选择结束日期" @click="_endSelect" />
            <van-icon v-if="endDate" name="clear" @click.stop.prevent="onEmpty('endDate')"></van-icon>
          </div>
        </div>
        <div class="screen-item">
          <span>商品名称:</span>
          <div class="input-wrap">
            <!-- <input v-model="orgName" type="text" placeholder="请输入公司名称" /> -->
            <van-field
              v-model="commodityName"
              type="text"
              clearable
              placeholder="请输入商品名称"
            />
          </div>
        </div>
        <div class="screen-item">
          <span>成功与否:</span>
          <div class="input-wrap">
            <select v-model="result">
              <option v-for="item in resultList" :value="item.value" :key="item.value">{{item.label}}</option>
            </select>
            <van-icon v-if="result" name="clear" @click.stop.prevent="onEmpty('result')"></van-icon>
          </div>
        </div>
        <div class="screen-item">
          <span class="cancel" @click="_clear">清空</span>
          <span class="check" @click="_search">查找</span>
        </div>
      </div>
    </div><!--筛选内容-->

    <!--秒杀记录内容-->
    <van-pull-refresh v-model="isLoading" @refresh="onRefresh" v-if="mySpikeRecordList && mySpikeRecordList.length">
      <van-list v-model="loading" :finished="finished" @load="onLoad" :offset="200" finished-text="没有更多了">
        <div class="spike-record-content">
          <div class="spike-record-content-option" v-for="(item, index) in mySpikeRecordList" :key="index">
            <div class="flash-sale-title">
              <div class="flash-sale-title-left">
                <div class="line-icon"></div>
                <p>{{item.orgName}}</p>
              </div>
              <div class="flash-sale-title-center">
                <p>{{item.beginDate}}</p>
              </div>
              <div class="flash-sale-title-right">
                <p>{{item.actStatus === 'B' ? '进行中' : '已结束'}}</p>
              </div>
            </div>

            <div class="flash-sale-text">
              <img v-lazy="allImgDomainName + item.itemThumbnail" alt :key="item.itemThumbnail">
              <div class="flash-sale-text-right">
                <div class="seckill-title">
                  <p>{{item.itemName}}</p>
                </div>
                <div class="seckill-info">
                  <div>
                    <p>秒杀价：</p>
                    <span>{{item.spikePrice | keepTwoNum}}元/{{item.priceType === '1' ? '只' : '斤'}}</span>
                  </div>
                  <div>
                    <p>均重：</p>
                    <span>{{item.averageWeight | keepTwoNum}}{{item.saleUnitName}}</span>
                  </div>
                </div>
                <div class="seckill-info">
                  <div>
                    <p>起订量：</p>
                    <span>{{item.minQty}}{{item.assistUnitName}}</span>
                  </div>
                  <div>
                    <p>加量幅度：</p>
                    <span>{{item.addNumber}}{{item.assistUnitName}}</span>
                  </div>
                </div>
                <div class="seckill-info">
                  <p>库存：</p>
                  <span>{{item.spikeQty - item.saleQty}}{{item.assistUnitName}}</span>
                </div>
                <div class="seckill-info">
                  <p>获得量：</p>
                  <span class="red">{{item.qtySum ? item.qtySum : 0}}{{item.assistUnitName}}</span>
                </div>
              </div>
            </div>
            <div class="spike-record-content-bottom">
              <p class="activity-coding">活动编码：<span>{{item.number}}</span></p>
              <p class="seckill-details" @click="goSpikeRecordDetails(item.id)">明细&nbsp;&gt;</p>
            </div>
          </div>
        </div>
      </van-list>
    </van-pull-refresh>
    <div class="no-data-box" v-else>
      <no-data :loading="requestLoading"></no-data>
    </div>
    <!-- 日期选择 -->
    <van-popup v-model="startShow" position="bottom" :style="{ height: '40%' }">
      <van-datetime-picker
        v-model="startTime"
        type="date"
        title="选择开始日期"
        :max-date="maxStartDate"
        @cancel="startShow = false"
        @confirm="onStartDateConfirm"
      />
    </van-popup>
    <van-popup v-model="endShow" position="bottom" :style="{ height: '40%' }">
      <van-datetime-picker
        v-model="endTime"
        type="date"
        title="选择结束日期"
        show-toolbar
        :min-date="minEndDate"
        @cancel="endShow = false"
        @confirm="onEndDateConfirm"
      />
    </van-popup>
  </div>
</template>

<script>
import { api } from '@/api'
import { zero } from '@/utils/common'
import NoData from '@/components/no-data'
import { allImgDomainNameMixin } from '@/assets/js/mixin'
import { mapGetters } from 'vuex'
export default {
  name: 'flash-sale-record',
  mixins: [allImgDomainNameMixin],
  components: {
    NoData
  },
  data () {
    return {
      showScreen: false, // 筛选显示
      orgName: null, // 公司名称
      startDate: null, // 开始日期
      endDate: null, // 结束日期
      startShow: false,
      endShow: false,
      startTime: new Date(), // 当前选中开始日期
      endTime: new Date(), // 当前选中结束日期
      result: null, // 成功与否
      resultList: [
        { label: '成功', value: '1' },
        { label: '失败', value: '0' }
      ], // 成功与否选项列表
      commodityName: null, // 商品名称
      mySpikeRecordList: [], // 秒杀记录列表
      // 上拉加载及下拉刷新
      page: {
        index: 1,
        size: 6,
        total: 0
      },
      cacheList: [],
      loading: false, // 控制上拉加载的加载动画
      finished: false, // 控制在页面往下移动到底部时是否调用接口获取数据
      isLoading: false, // 控制下拉刷新的加载动画
      requestLoading: false // 接口请求加载动画
    }
  },
  computed: {
    ...mapGetters(['allChannel']),
    maxStartDate () {
      const currentYear = new Date().getFullYear()
      return this.endDate ? new Date(this.endDate.replace(/-/g, '/')) : new Date(currentYear + 10, 11, 31)
    },
    minEndDate () {
      const currentYear = new Date().getFullYear()
      return this.startDate ? new Date(this.startDate.replace(/-/g, '/')) : new Date(currentYear - 10, 0, 1)
    }
  },
  watch: {
    $route () {
      let query = this.$route.query
      this.orgName = query.orgName || null
      this.startDate = query.startDate || null
      this.endDate = query.endDate || null
      this.commodityName = query.commodityName || null
      this.result = query.result || null
      this.page.index = 1
      this.cacheList = []
      this.mySpikeRecordList = []
      this.getSpikeRecordList()
    }
  },
  created () {
    let query = this.$route.query
    this.orgName = query.orgName || null
    this.startDate = query.startDate || null
    this.endDate = query.endDate || null
    this.commodityName = query.commodityName || null
    this.result = query.result || null
    this.page.index = 1
    this.cacheList = []
    this.mySpikeRecordList = []
    this.getSpikeRecordList()
  },
  methods: {
    _toReturn () {
      this.$router.go(-1)
    },
    _startSelect () {
      this.startShow = true
      this.startTime = this.startDate ? new Date(this.startDate.replace(/-/g, '/')) : new Date()
    },
    _endSelect () {
      this.endShow = true
      this.endTime = this.endDate ? new Date(this.endDate.replace(/-/g, '/')) : new Date()
    },
    onStartDateConfirm () {
      if (this.endDate && this.startTime > new Date(this.endDate.replace(/-/g, '/'))) {
        this.$toast('不能大于结束时间')
      } else {
        this.startDate = this.formatDate(this.startTime)
        this.startShow = false
      }
    },
    onEndDateConfirm () {
      if (this.startDate && this.endTime < new Date(this.startDate.replace(/-/g, '/'))) {
        this.$toast('不能小于开始时间')
      } else {
        this.endDate = this.formatDate(this.endTime)
        this.endShow = false
      }
    },
    // 格式化日期
    formatDate (date) {
      let _date = date || new Date()
      return `${_date.getFullYear()}-${zero(_date.getMonth() + 1)}-${zero(_date.getDate())}`
    },
    _search () {
      this.showScreen = false
      this.page.index = 1

      this.$router.replace({
        path: '/flashSaleRecord',
        query: {
          orgName: this.orgName,
          startDate: this.startDate,
          endDate: this.endDate,
          commodityName: this.commodityName,
          result: this.result
        }
      })
    },
    _clear () {
      this.showScreen = false
      this.orgName = null
      this.startDate = null
      this.endDate = null
      this.commodityName = null
      this.result = null
      this.page.index = 1

      this.$router.replace({
        path: '/flashSaleRecord'
      })
    },
    onEmpty (item) {
      if (item === 'startDate') {
        this.startDate = null
      } else if (item === 'endDate') {
        this.endDate = null
      } else if (item === 'result') {
        this.result = null
      }
    },
    goSpikeRecordDetails (id) { // 跳转明细
      this.$router.push({
        path: '/flashSaleRecordDetails',
        query: {
          id: id
        }
      })
    },
    // 下拉刷新
    onRefresh () {
      this.page.index = 1
      this.cacheList = []
      this.mySpikeRecordList = []
      this.getSpikeRecordList()
    },
    // 上拉加载
    onLoad () {
      this.page.index++
      this.getSpikeRecordList()
    },
    getSpikeRecordList () {
      this.requestLoading = true
      let ownerIds = this.allChannel.map((item) => {
        return item.channelId
      })
      let params = {
        ownerName: this.orgName, // 公司名称
        beginDate: this.startDate, // 开始时间
        endDate: this.endDate, // 结束时间
        itemName: this.commodityName, // 商品名称
        isSuccess: this.result, // 1成功，0失败
        page: this.page.index,
        pageSize: this.page.size,
        ownerIds: ownerIds.join(',')
      }
      api.commonCall(params, 'querySpikeRecordList').then(res => {
        this.requestLoading = false
        if (res.success) {
          this.cacheList = this.cacheList.concat(res.data.spikeList)
          this.mySpikeRecordList.splice(0, this.mySpikeRecordList.length, ...this.cacheList)
          this.page.total = res.data.count
          this.loading = false
          this.finished = false

          if (this.cacheList.length >= this.page.total) {
            this.finished = true
          }

          setTimeout(() => {
            this.isLoading = false
          }, 100)
        } else {
          setTimeout(() => {
            this.isLoading = false
          }, 100)
          res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.spike-record-wrap{
  width: 100%;
  min-height: 100vh;
  background-color: #f8f8f8;
  .spike-record-top{
    position: relative;
    @{deep}.van-nav-bar {
      .van-nav-bar__right {
        .screen-btn{
          display: block;
          width: 48px;
          height: 42px;
          background: url("~@/assets/images/index-2/screening-icon.svg") no-repeat center;
          background-size: 48px 42px;
        }
      }
    }
    .screen-wrap{
      width: 100%;
      background: white;
      box-sizing: border-box;
      padding: 20px 44px 0 32px;
      font-size: 0;
      .screen-item{
        font-size: 0;
        padding-top: 5px;
        padding-bottom: 20px;
        span{
          display: inline-block;
          vertical-align: top;
          width: 20%;
          font-size: 28px;
          font-family: PingFangSC-Medium, PingFang SC;
          color: #434349;
          line-height: 54px;
          &.link {
            width: 10%;
            font-size: 36px;
            text-align: center;
          }
          &.check, &.cancel {
            width: 330px;
            height: 80px;
            line-height: 80px;
            font-size: 32px;
            border-radius: 16px;
            color: #FFFFFF;
            box-sizing: border-box;
            text-align: center;
            &:active {
              opacity: 0.9;
            }
          }
          &.check {
            margin-left: 14px;
            background-color: #F59900;
          }
          &.cancel {
            background-color: #A9ABAF;
          }
        }
        .input-wrap{
          display: inline-block;
          width: 80%;
          height: 54px;
          border: 1px solid #979797;
          border-radius: 4px;
          box-sizing: border-box;
          position: relative;
          &.date{
            width: 35%;
            position: relative;
            @{deep}.van-icon-clear{
              position: absolute;
              right: 0;
              height: 50px;
              line-height: 50px;
              padding: 0 10px;
              font-size: 26px;
              color: #8e939a;
              vertical-align: middle;
            }
          }
          @{deep}.van-field{
            height: 100%;
            padding: 0 10px;
            font-size: 28px;
            box-sizing: border-box;
            .van-field__control {
              color: #2e3033;
            }
            .van-field__clear {
              padding: 0 16px;
            }
          }
          input{
            width: 100%;
            height: 100%;
            font-size: 28px;
            border: none;
            box-sizing: border-box;
            padding: 0 10px;
            &::placeholder{
              color: #969799;
            }
          }
          select{
            width: 100%;
            height: 100%;
            font-size: 28px;
            border: none;
            box-sizing: border-box;
            padding: 0 10px;
            background-color: #fff;
          }
          @{deep}.van-icon-clear{
            position: absolute;
            right: 0;
            height: 50px;
            line-height: 50px;
            padding: 0 10px;
            font-size: 26px;
            color: #8e939a;
            vertical-align: middle;
            background-color: #fff;
          }
        }
      }
    }
  }
  .spike-record-content{
    width: 100%;
    overflow: hidden;
    .spike-record-content-option{
      width: 726px;
      margin: 20px auto 0;
      background-color: #fff;
      border-radius: 10px;
      .flash-sale-title{
        width: 100%;
        height: 56px;
        border-bottom: 1px solid #f1eff8;
        .flash-sale-title-left{
          width: 33%;
          height: 100%;
          float: left;
          .line-icon{
            width: 4px;
            height: 26px;
            background-color: #F17533;
            float: left;
            margin-top: 16px;
          }
          p{
            font-family: "PingFang SC";
            float: left;
            line-height: 56px;
            font-size: 24px;
            color: #48484A;
            padding-left: 8px;
          }
        }
        .flash-sale-title-center{
          width: 54%;
          height: 100%;
          float: left;
          p{
            font-family: "PingFang SC";
            float: left;
            line-height: 56px;
            font-size: 24px;
            color: #48484A;
            padding-right: 10px;
          }
        }
        .flash-sale-title-right{
          width: 13%;
          height: 100%;
          float: left;
          p{
            font-family: "PingFang SC";
            line-height: 56px;
            font-size: 24px;
            color: #e51c23;
          }
        }
      }
      .flash-sale-text{
        width: 100%;
        // height: 316px;
        margin-top: 15px;
        overflow: hidden;
        img{
          width: 248px;
          height: 248px;
          float: left;
          margin-left: 12px;
          border-radius: 12px;
        }
        .flash-sale-text-right{
          width: 454px;
          height: 100%;
          float: left;
          margin-left: 12px;
          .seckill-title{
            width: 100%;
            overflow: hidden;
            p{
              line-height: 60px;
              font-size: 30px;
              font-weight: 700;
              color: #363638;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
          }
          .seckill-info{
            width: 100%;
            overflow: hidden;
            display: flex;
            &:nth-of-type(2) {
              margin-top: 12px;
            }
            >div {
              flex: 1;
              overflow: hidden;
              // text-overflow: ellipsis;
              white-space: nowrap;
            }
            p{
              font-family: "PingFang SC";
              font-size: 24px;
              color: #48484A;
              display: inline-block;
              line-height: 44px;
            }
            span{
              font-family: "PingFang SC";
              font-size: 24px;
              color: #898c9c;
              display: inline-block;
              line-height: 44px;
              &.red {
                color: #E02020;
              }
            }
          }
        }
      }
      .spike-record-content-bottom{
        width: 100%;
        height: 74px;
        line-height: 74px;
        overflow: hidden;
        .activity-coding{
          font-size: 24px;
          color: #48484A;
          padding-left: 12px;
          float: left;
          span{
            color: #898c9c;
          }
        }
        .seckill-details{
          float: right;
          font-size: 24px;
          color: #214E90;
          padding-right: 30px;
        }
      }
    }
    .spike-record-content-line{
      width: 100%;
      overflow: hidden;
    }
  }
}
</style>
