<template>
  <div class="record-details-wrap">
    <van-nav-bar title="我的秒杀" left-arrow @click-left="_toReturn"></van-nav-bar>
    <div class="record-details-content">
      <div class="record-details-title">
        <div class="record-details-title-item">
          <span class="title">活动编码：</span>
          <span class="content">{{recordDetail.number}}</span>
        </div>
        <div class="record-details-title-item">
          <span class="title">秒杀时间：</span>
          <span class="content">{{recordDetail.beginDate}}</span>
        </div>
        <div class="record-details-title-item">
          <span class="title">秒杀商品：</span>
          <span class="content">{{recordDetail.itemName}}</span>
        </div>
        <div class="record-details-title-item">
          <span class="title">起订量：</span>
          <span class="content">{{recordDetail.minQty}}{{recordDetail.assistUnitName}}</span>
        </div>
        <div class="record-details-title-item">
          <span class="title">秒杀价：</span>
          <span class="content">{{recordDetail.spikePrice | keepTwoNum}}</span>
        </div>
        <div class="record-details-title-item">
          <span class="title">加量幅度：</span>
          <span class="content">{{recordDetail.addNumber}}{{recordDetail.assistUnitName}}</span>
        </div>
        <div class="record-details-title-item">
          <span class="title">均重：</span>
          <span class="content">{{recordDetail.averageWeight | keepTwoNum}}{{recordDetail.saleUnitName}}</span>
        </div>
        <div class="record-details-title-item">
          <span class="title">获得量：</span>
          <span class="content">{{recordDetail.qtySum}}{{recordDetail.assistUnitName}}</span>
        </div>
        <div class="record-details-title-item">
          <span class="title">库存：</span>
          <span class="content">{{recordDetail.spikeQty - recordDetail.saleQty}}{{recordDetail.assistUnitName}}</span>
        </div>
      </div>
      <div class="record-details-list" v-if="recordDetail && recordDetail.recordList && recordDetail.recordList.length">
        <div class="record-details-list-option">
          <div class="list-title">
            <div class="list-title-one">时间</div>
            <div class="list-title-two">秒杀量</div>
            <div class="list-title-three">获得量</div>
            <div class="list-title-four">成功与否</div>
            <div class="list-title-fire">关联订单</div>
            <div class="list-title-six">订单状态</div>
          </div>
          <div class="list-content" v-for="(detailItem, detailIndex) in recordDetail.recordList" :key="detailIndex">
            <div class="list-content-one">
              <p>{{detailItem.seckillDate}}</p>
            </div>
            <div class="list-content-two">{{detailItem.seckillNum}}</div>
            <div class="list-content-three">{{detailItem.getQty}}</div>
            <div class="list-content-four">
              <p :class="+detailItem.isSuccess === 0 ? 'p-red' : 'p-green'">{{+detailItem.isSuccess === 0 ? '否' : '是'}}</p>
            </div>
            <div class="list-content-fire">
              <p>{{detailItem.orderNumber}}</p>
            </div>
            <div class="list-content-six">
              <p v-if="detailItem.orderStatus === 'A'">暂存</p>
              <p v-else-if="detailItem.orderStatus === 'B'">已提交</p>
              <p v-else-if="detailItem.orderStatus === 'C'">待发货</p>
              <p v-else-if="detailItem.orderStatus === 'D'">部分发货</p>
              <p v-else-if="detailItem.orderStatus === 'E'">待收货</p>
              <p v-else-if="detailItem.orderStatus === 'F'">变更中</p>
              <p v-else-if="detailItem.orderStatus === 'G'">已收货</p>
              <p v-else-if="detailItem.orderStatus === 'H'">已完成</p>
              <p v-else-if="detailItem.orderStatus === 'I'">已作废</p>
              <p v-else-if="detailItem.orderStatus === 'J'">待分货</p>
              <p v-else-if="detailItem.orderStatus === 'K'">部分分货</p>
              <p v-else-if="detailItem.orderStatus === 'L'">已分货</p>
              <p v-else-if="detailItem.orderStatus === 'M'">临时</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { api } from '@/api'
export default {
  name: 'flash-sale-record-details',
  data () {
    return {
      recordDetail: {}
    }
  },
  created () {
    this.getSpikeRecordDetail()
  },
  methods: {
    _toReturn () {
      this.$router.go(-1)
    },
    getSpikeRecordDetail () {
      let params = {
        spikeId: this.$route.query.id
      }
      api.commonCall(params, 'querySpikeRecordDetail').then(res => {
        if (res.success) {
          this.recordDetail = res.data
        } else {
          res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    }
  }
}
</script>

<style lang="less" scoped>
.record-details-wrap{
  width: 100%;
  height: 100vh;
  background-color: #f8f8f8;
  .record-details-content{
    width: 100%;
    overflow: hidden;
    .record-details-title{
      padding: 30px 0 0 40px;
      width: 100%;
      overflow: hidden;
      .record-details-title-item {
        float: left;
        width: 710px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        &:not(:first-child) {
          margin-top: 5px;
        }
        &:nth-child(4), &:nth-child(5), &:nth-child(6), &:nth-child(7) {
          width: 355px;
        }
        span {
          &.title {
            display: inline-block;
            width: 130px;
            font-family: "PingFang SC";
            font-size: 26px;
            color: #333333;
          }
          &.content {
            font-family: "PingFang SC";
            font-size: 26px;
            color: #5E6173;
          }
        }
      }
    }
    .record-details-list{
      width: 100%;
      overflow: hidden;
      padding-top: 30px;
      .record-details-list-option{
        width: 96%;
        overflow: hidden;
        border-radius: 12px;
        background-color: #FFFFFF;
        margin: 0 auto;
        .list-title{
          width: 100%;
          height: 58px;
          border-top-left-radius: 12px;
          border-top-right-radius: 12px;
          background-color: #9FA6A9;
          .list-title-one{
            width: 18%;
            height: 100%;
            float: left;
            font-size: 24px;
            color: #FFFFFF;
            text-align: center;
            line-height: 58px;
          }
          .list-title-two{
            width: 14%;
            height: 100%;
            float: left;
            font-size: 24px;
            color: #FFFFFF;
            text-align: center;
            line-height: 58px;
          }
          .list-title-three{
            width: 14%;
            height: 100%;
            float: left;
            font-size: 24px;
            color: #FFFFFF;
            text-align: center;
            line-height: 58px;
          }
          .list-title-four{
            width: 14%;
            height: 100%;
            float: left;
            font-size: 24px;
            color: #FFFFFF;
            text-align: center;
            line-height: 58px;
          }
          .list-title-fire{
            width: 25%;
            height: 100%;
            float: left;
            font-size: 24px;
            color: #FFFFFF;
            text-align: center;
            line-height: 58px;
          }
          .list-title-six{
            width: 14%;
            height: 100%;
            float: left;
            font-size: 24px;
            color: #FFFFFF;
            text-align: center;
            line-height: 58px;
          }
        }
        .list-content{
          width: 100%;
          height: 94px;
          box-sizing: border-box;
          border-bottom: 1px solid #D4D4D4;
          &:last-child{
            border-bottom: 0px solid #D4D4D4;
          }
          .list-content-one{
            width: 18%;
            height: 100%;
            float: left;
            p{
              font-size: 22px;
              color: #333333;
              text-align: center;
              padding-top: 16px;
            }
            span{
              display: block;
              font-size: 22px;
              color: #333333;
              text-align: center;
              padding-top: 5px;
            }
          }
          .list-content-two{
            width: 14%;
            height: 100%;
            float: left;
            line-height: 94px;
            font-size: 22px;
            color: #333333;
            text-align: center;
          }
          .list-content-three{
            width: 14%;
            height: 100%;
            float: left;
            line-height: 94px;
            font-size: 22px;
            color: #333333;
            text-align: center;
          }
          .list-content-four{
            width: 14%;
            height: 100%;
            float: left;
            .p-green{
              line-height: 94px;
              text-align: center;
              color: #69C309;
              font-size: 22px;
            }
            .p-red{
              line-height: 94px;
              text-align: center;
              color: #E02020;
              font-size: 22px;
            }
          }
          .list-content-fire{
            width: 25%;
            height: 100%;
            float: left;
            display: flex;
            align-items: center;
            justify-items: center;
            p{
              padding: 0 10px;
              text-align: center;
              color: #333;
              font-size: 22px;
              word-wrap: break-word;
              word-break: break-all;
              overflow: hidden;
            }
          }
          .list-content-six{
            width: 14%;
            height: 100%;
            float: left;
            line-height: 94px;
            font-size: 22px;
            color: #333333;
            text-align: center;
          }
        }
      }
    }
  }
}
</style>
