<template>
  <div class="spike-details">
    <div class="head">
      <!-- 滚动前显示 -->
      <div class="navbar1" :style="{opacity}">
        <van-nav-bar left-arrow @click-left="onClickLeft">
          <i class="van-shopcart2" slot="right" @click-right="onClickRight(1)">
            <i v-if="shopCount">{{shopCount}}</i>
          </i>

          <i class="van-ver-menu2" slot="right" @click-right="onClickRight(2)"></i>
        </van-nav-bar>
      </div>

      <!-- 滚动后显示 -->
      <tab-navbar
        :count="shopCount"
        ref="navbar"
        class="navbar2"
        :style="{opacity: 1 - opacity}"
        :tabList="tabList"
        @on-tab="toggleTab"
        @click-left="onClickLeft"
        @click-right="onClickRight"
      ></tab-navbar>
    </div>

    <div id="content" class="van-padding-bottom content">
      <!-- 商品 -->
      <div v-show="tabIndex === 0">
        <!-- 轮播 -->
        <div class="swiper-container">
          <my-video ref="myVideo" @pause="showVideo = false" v-if="flashSaleDetail.itemAttachment && flashSaleDetail.itemAttachment[0]" v-show="showVideo" :video-url="flashSaleDetail.itemAttachment[0]" class="my-video"></my-video>
          <!-- <van-swipe @change="onChange" :style="{bottom: swipeScroll + 'px'}"> -->
          <van-swipe :width="swiperW" :height="swiperH" @change="onChange" v-if="pictureList && pictureList.length">
            <van-swipe-item v-for="(item, index) in pictureList" :key="index + 'swipe'">
              <div
                class="format-img"
                v-lazy:background-image="{ src: allImgDomainName + item, error: require('@/assets/images/default/wens-bg.jpg') }"
                @click="viewPicDetail(index, pictureList)"
              ></div>

              <!-- 播放按钮 -->
              <div
                class="begin-video-box van-bottom"
                v-if="flashSaleDetail.itemAttachment && flashSaleDetail.itemAttachment[0] && index === 0"
                @click.stop="playVideo"
              >视频
              </div>
            </van-swipe-item>

            <div class="custom-indicator" slot="indicator">
              {{ current + 1 }}/{{(pictureList && pictureList.length) ? pictureList.length : 0}}
            </div>
          </van-swipe>
          <div v-else-if="pictureList && !pictureList.length">
            <img v-lazy="require('@/assets/images/default/wens-bg.jpg')" :width="swiperW" :height="swiperH">
          </div>
        </div>
        <!-- 轮播结束 -->
        <!-- 放大图片 -->
        <!-- <div class="big-img" v-if="bigImg" @click="bigImg = ''">
          <img :src="bigImg" />
        </div>-->
        <div style="background: rgba(245,245,245,1);position: relative;z-index: 1">
          <div class="under-the-swipe">
            <!---秒杀详情内容-->
            <div class="seckill-img">
              <div class="seckill-image">
                <img src="@/assets/images/flash-sale/seckill-text-icon.svg"/>
              </div>
              <div class="seckill-price">
                <div class="seckill-price-one">
                  <p class="price-spike">{{flashSaleDetail.spikePrice | keepTwoNum}}</p>
                  <span class="p-money">元/{{flashSaleDetail.priceType === '1' ? '只' : '斤'}}</span>
                </div>
                <div class="seckill-price-two">
                  <p class="retail-price">{{flashSaleDetail.salePrice | keepTwoNum}}&nbsp;&nbsp;元/{{flashSaleDetail.priceType === '1' ? '只' : '斤'}}</p>
                </div>
              </div>
              <div class="seckill-time">
                <div class="seckill-time-text">
                  <p> {{flashSaleDetail.actStatus !== 'B' ? '距离开始还剩:' : '距离结束还剩:'}}</p>
                </div>
                <div class="seckill-time-calculation">
                  <van-count-down ref="countDown" :time="lengthOfCountdownTime" format="DD天 HH:mm:ss" @finish="_finished"/>
                </div>
              </div>
            </div>
            <div class="spike-details-content">
              <div class="spike-details-content-title">
                <div class="spike-details-content-left">
                  <p>{{flashSaleDetail.itemName}}</p>
                  <span>销量：{{flashSaleDetail.saleQty}}{{flashSaleDetail.assistUnitName}}</span>
                </div>
                <div class="spike-details-content-right" v-if="flashSaleDetail.actStatus !== 'B' && isRemindMe">
                  <div class="alarm-reminder" @click="openReminderMe">
                    <img src="@/assets/images/flash-sale/alarmclock.svg"/>
                    {{remindText}}
                  </div>
                </div>
              </div>
            </div>
            <div class="spike-details-content-center">
              <p>均重：{{flashSaleDetail.averageWeight | keepTwoNum}}{{flashSaleDetail.saleUnitName}}</p>
              <span>起订量：{{flashSaleDetail.minQty}}{{flashSaleDetail.assistUnitName}}</span>
            </div>
            <div class="spike-details-content-bottom">
              <p>库存：{{remNumber}}{{flashSaleDetail.assistUnitName}}</p>
              <span>加量幅度：{{flashSaleDetail.addNumber}}{{flashSaleDetail.assistUnitName}}</span>
            </div>
            <div class="spike-details-content-bottom">
              <p>每单限购量：{{limitQty}}{{flashSaleDetail.assistUnitName}}</p>
              <span>单数限制：{{flashSaleDetail.orderLimit === '1' ? '1' : '无限制'}}</span>
            </div><!---秒杀详情内容-->
          </div>

          <!--养户列表-->
          <!-- <div class="content-2-floor list" v-if="farmerList && farmerList[0]">
            <div class="maintenance-schedule">
              <van-swipe class="maintenance-schedule-content" indicator-color="#F59900">
                <van-swipe-item v-for="(item, index) in farmerList" :key="index">
                  <div class="maintenance-schedule-content" v-for="(i, famerIndex) in farmerList[index]" :key="famerIndex">
                    <div class="maintenance-schedule-content-one">
                      <p>养户名称</p>
                      <span>{{i.famerName}}</span>
                      <p>养殖地址</p>
                      <span @click="_toMap(i.longitude, i.latitude, i.famerAddress)">{{i.famerAddress}}
                        <img src="@/assets/images/flash-sale/address-icon.png"/>
                      </span>
                      <p>饲养规模</p>
                      <span>{{i.famerSizeFlock}}</span>
                    </div>
                  </div>
                </van-swipe-item>
              </van-swipe>
            </div>
          </div> -->

          <!-- 评价列表 -->
          <div class="evaluate-list">
            <div class="title">评价（{{evaluate.count || 0}}）</div>

            <ul v-if="evaluate.list">
              <li
                v-for="(item, index) in JSON.parse(JSON.stringify(evaluate.list.slice(0, 3)))"
                :key="index + 'eva'"
              >
                <div>
                  <span
                    class="format-img"
                    v-lazy:background-image="{ src: item.usrImg && JSON.parse(item.isAnonymity) === false ? allImgDomainName + item.usrImg : '',
                      error: require('@/assets/images/default_profile@2x.png') }"
                  ></span>

                  <span>{{JSON.parse(item.isAnonymity) ? (item.userName && `${item.userName[0]}**`) : item.userName}}</span>

                  <span style="flex: 1;text-align: right;">
                    <van-rate :value="parseInt(item.evaluateGrade)" :size="13" :readonly="true"/>
                  </span>
                </div>

                <div>{{item.evaluateContent}}</div>

                <div
                  v-if="item.labelList && item.labelList.length"
                >{{item.labelList ? item.labelList.map(v => v.name).join(', ') : ''}}
                </div>
              </li>
            </ul>

            <div class="allEvaluate" v-if="evaluate.count">
              <div class="active" @click="checkAll">查看全部评价</div>
            </div>
          </div>
          <!-- 评价列表结束 -->
          <!-- 店铺 -->
          <div class="shop-info">
            <div class="shop-title">
              <div
                class="format-img"
                v-lazy:background-image="{ src: allImgDomainName + shopInfo.useImg,
                  error: require('@/assets/images/default/store_logo.jpg') }"
              ></div>

              <div>{{shopInfo.storeName || shopInfo.name}}
                <van-tag color="#f39800" plain v-if="shopInfo.type === '1'">养禽</van-tag>
                <van-tag color="#f39800" plain v-else-if="shopInfo.type === '2'">养猪</van-tag>
                <van-tag color="#f39800" plain v-else-if="shopInfo.type === '3'">乳业</van-tag>
                <van-tag color="#f39800" plain v-else-if="shopInfo.type === '4'">鲜品</van-tag>
                <van-tag color="#f39800" plain v-else-if="shopInfo.type === '5'">蛋业</van-tag>
                <van-tag color="#f39800" plain v-else-if="shopInfo.type === '6'">熟食</van-tag>
              </div>
            </div>

            <div class="shop-label">
              <div v-for="(item, index) in shopInfo.evaluateList" :key="index + 'label'">
                <span>{{item.score}}</span>

                <span>{{item.name}}</span>
              </div>
            </div>

            <div class="shop-btn">
              <div class="active" @click.stop="concern">{{isConcern ? '已关注店铺' : '关注店铺'}}</div>

              <div class="active" @click.stop="goShop(shopInfo.id)">进入店铺</div>
            </div>
          </div>
          <!-- 店铺结束 -->
          <div class="check-details">
            <van-icon name="arrow"/>

            <span>上拉查看图文详情</span>
          </div>
        </div>
      </div>
      <!-- 商品结束 -->
      <!-- 详情 -->
      <div v-show="tabIndex === 1">
        <div class="van-padding-top product-introduce" v-html="detail.descriptionTag"></div>
      </div>
      <!-- 详情结束 -->
      <!-- 评价 -->
      <div v-show="tabIndex === 2">
        <evaluate
          ref="evaluate"
          :total="evaluate.totalNumber"
          :evaluateScore="evaluateScore"
          :data="evaluate"
          :shop-name="shopInfo.storeName || shopInfo.name"
          :requestLoading="requestLoading"
          @selectLabel="selectLabel"
          @onRefresh="onRefresh"
          @onLoad="onLoad"
          @viewPic="viewPic"
          @viewVideo="viewVideo"
        ></evaluate>
      </div>
      <!-- 评价结束 -->
    </div>

    <!-- 固定在底部那个按钮集合 -->
    <div class="van-footer">
      <van-goods-action>
        <van-goods-action-icon icon-class="van-server" text="客服" />
        <van-goods-action-icon
          icon-class="van-shop"
          text="店铺"
          @click.stop="goShop(shopInfo.id)"
        />
        <!-- <van-goods-action-icon
          :icon-class="isCollect ? 'van-collected' : 'van-collect'"
          text="收藏"
          @click.stop="collect"
        /> -->
        <van-goods-action-button class="van-buyNow" text="立即购买" :disabled="token && (flashSaleDetail.actStatus ==='A' || flashSaleDetail.actStatus ==='C' || flashSaleDetail.actStatus ==='D' || remNumber <= 0 || flashSaleDetail.isBuy !== '1')" @click.stop="immediatePurchase"/>
      </van-goods-action>
    </div>

    <!-- 弹出框 -->
    <pop-up-items
      ref="popup"
      :detail="detail"
      :ownerId="detail.ownerId"
      :showId="showId"
      :up="up"
      :title="popUpTitle"
      :weightRange="weightRange"
      :disabledList="token && errText && showId === 'sku'? [0, 1] : []"
      :sellDate="sellDate"
      @hide="hideSku"
      @btn-click="btnClick"
      @change-weightRange="changeWeightRange"
      @change-count="changeCount"
      @change-coupon="changeCoupon"
      @change-location="changeLocation"
    ></pop-up-items>

    <!-- "更多"下拉菜单 -->
    <drop-down-menu
      :show="showDropDownMenu"
      :data="dropDownMenuList"
      @hide="hide"
    ></drop-down-menu>

    <!-- 还有一个pop-up父组件，只有弹出效果 -->
    <!-- ref：用于修改地址，this.$refs.popup.cacheAddress -->
    <!-- detail：商品数据 -->
    <!-- showId：弹出的类型 -->
    <!-- up：是否弹出 -->
    <!-- hide：点击蒙层时触发 -->
    <!-- btn-click：底部按钮，可通过返回对象的name判断 -->
    <!-- change-count：数量改变，返回数字 -->
    <!-- change-label：选择label触发，初始化会触发一次 -->
    <!-- change-location：选择地址触发，初始化会触发一次 -->
    <!-- change-coupon：选择优惠券触发，暂时返回id -->
    <!-- 弹出框结束 -->

    <!--设置提醒弹出框-->
    <div class="reminder-me" v-if="reminderMe">
      <div class="reminder-me-content">
        <div class="set-reminder"><h5>设置提醒</h5></div>
        <div class="set-time">
          <h6>提醒时间：</h6>
          <div class="set-time-text reminder">
            <div class="reminder-one"></div>
            <p>秒杀前5分钟提醒</p>
          </div>
        </div>
        <div class="setting-option">
          <p class="setting-mode">提醒方式：</p>
          <p class="p-phone">短信提醒手机号：{{phone}}</p>
          <div class="wechat">
            <div class="wechat-attention"></div>
            <p>微信关注温氏商城公众号,第一时间通知秒杀信息.</p>
          </div>
        </div>
        <span @click="remindMeSure">确定</span>
        <h4 @click="reminderMe = false">取消</h4>
      </div>
    </div>

    <!--取消提醒弹出框-->
    <div class="close-reminder" v-if="cncelReminder">
      <div class="close-reminder-content">
        <div class="cancel-reminder-title">取消提醒</div>
        <div class="cancel-reminder-text">是否取消提醒</div>
        <div class="cancel-reminder-btn">
          <p @click="remindMeSure">确定</p>
          <span @click="cncelReminder = false">取消</span>
        </div>
      </div>
    </div>

    <!--立即购买弹出框-->
    <van-popup
      v-model="showImmediatePurchase"
      closeable
      round
      close-icon="close"
      position="bottom"
      :style="{ height: '342px' }"
    >
      <div class="immediate">
        <div
          class="immediate-img"
          v-lazy:background-image="allImgDomainName + flashSaleDetail.itemThumbnail"
        ></div>
        <div class="immediate-text">
          <p class="p-title">{{flashSaleDetail.itemName}}</p>
          <p class="p-price">{{flashSaleDetail.spikePrice | keepTwoNum}}<span>元/{{flashSaleDetail.saleUnitName}}</span></p>
        </div>
      </div>
      <div class="immediate-content">
        <div class="immediate-content-one">
          <p>均重：{{flashSaleDetail.averageWeight | keepTwoNum}}{{flashSaleDetail.saleUnitName}}</p>
          <span>起订量：{{flashSaleDetail.minQty}}{{flashSaleDetail.assistUnitName}}</span>
        </div>
        <div class="immediate-content-two">
          <p>库存：{{remNumber}}{{flashSaleDetail.assistUnitName}}</p>
          <span>加量幅度：{{flashSaleDetail.addNumber}}{{flashSaleDetail.assistUnitName}}</span>
        </div>
        <div class="immediate-content-three">
          <p>注意：目前距离秒杀活动结束还剩余 <van-count-down ref="countDown" :time="lengthOfCountdownTime" format="DD天 HH:mm:ss" @finish="flashSaleDetail.actStatus = 'D'"/>，请尽快下单！</p>
        </div>
      </div>
      <div class="immediate-button">
        <p class="hint">{{hintText}}</p>
        <div class="stepping-device">
          <div class="stepping-device-reduce" @click="_numCut"></div>
          <div class="stepping-device-content">
            <input type="number" v-model="offerNumber" @change="numberChange" @blur="scrollToTop()"/><span>{{flashSaleDetail.assistUnitName}}</span>
          </div>
          <div class="stepping-device-plus" @click="_numAdd"></div>
        </div>
        <div class="confirm-button" @click="buyNow">确定</div>
      </div>
    </van-popup>
  </div>
</template>

<script>
import TabNavbar from '@/components/tab-navbar'
import PopUpItems from '@/components/pop-up/pop-up'
import myVideo from '@/views/goods-details/video'
import Evaluate from '@/components/goods-details/evaluate'
import DropDownMenu from '@/components/drop-down-menu'
import { allImgDomainNameMixin } from '@/assets/js/mixin'
import { api } from '@/api'
import { ImagePreview } from 'vant'
import { mapGetters } from 'vuex'
import { zero, scrollTop, getScrollTop, getCookie } from '@/utils/common'

export default {
  name: 'flash-sale-details',
  mixins: [allImgDomainNameMixin],
  inject: ['reload'],
  components: {
    TabNavbar,
    PopUpItems,
    Evaluate,
    myVideo,
    DropDownMenu
  },
  data () {
    return {
      tabList: [{ title: '商品' }, { title: '详情' }, { title: '评价' }],
      evaluateScore: {},
      evaluateType: '1', // 1:全部 2图片 3追评 4 好评 5 中评 6 差评
      evaluateTagList: [],
      price: 0,
      stock: 0, // 库存
      swiperH: 0, // 轮播的高
      swiperW: 0, // 轮播的宽
      up: false,
      showBase: true,
      opacity: 1,
      baseOpacity: 1,
      isCollect: false,
      detail: {},
      current: 0, // 图片下标
      shopInfo: {},
      evaluate: {},
      address: {},
      couponId: '',
      showId: '',
      labelList2: [], // 规格
      names: [],
      count: 1, // 数量
      tabIndex: 0, // tab坐标
      cacheScrollList: [],
      bigImg: '',
      swipeScroll: 0,
      popUpTitle: '',
      isConcern: false,
      pageSize: 10,
      pageNo: 1,
      toBottomFlag: false,
      start: 0,
      weightRange: [], // 重量范围
      selectedWeightRange: {}, // 选中重量范围
      showStock: null, // 显示剩余库存
      realPrice: null, // 真实价格
      showVideo: '', // 显示视频
      showDropDownMenu: false, // 显示“更多”下拉菜单
      dropDownMenuList: [ // “更多”下拉菜单列表
        {
          subTitle: '首页',
          path: '/',
          imgUrl: require('@/components/tabbar/icon_home@3x.png')
        }
      ],
      sellDate: null, // 要货日期（蛋业）
      requestLoading: false, // 接口请求加载动画
      reminderMe: false, // 提醒弹出框
      phone: '',
      cncelReminder: false, // 取消提醒弹出框
      showImmediatePurchase: false, // 立即购买弹出框
      offerNumber: 0,
      flashSaleDetail: {}, // 秒杀详情
      pictureList: null, // 轮播图列表
      nowDate: null, // 服务器时间
      activityIsOver: false, // 活动是否结束
      lengthOfCountdownTime: null, // 倒计时时长
      hintText: '', // 输入框购买数量不符合规则的提示文字
      remNumber: null, // 库存
      limitQty: null, // 每单限购量
      farmerList: [], // 养户列表
      remindText: '设置提醒',
      remindType: 'save', // save/ cancel  设置/取消
      isRemindMe: true,
      getflashSaleTimer: null
    }
  },
  computed: {
    ...mapGetters(['allChannel']),
    // 购物车数量
    shopCount () {
      return this.$store.state.shoppingCartCount
    },
    // 不可购提示
    errText () {
      let text = ''

      // else if (!+this.realPrice) {
      //   text = '此商品暂时不能购买'
      // }
      if (this.detail.restrict === 0) {
        text = '此商品不可销'
      } else if (!this.stock || +this.stock <= 0) {
        text = '库存为0，不能购买'
      } else if (+this.stock < this.minBuyQty) {
        text = '库存不足，不能购买'
      }

      return text
    }
  },
  watch: {
    minBuyQty (val) {
      this.count = Math.max(1, val)
    },
    $route (newV, oldV) {
      this.reload()
    }
  },
  created () {
    let goodsId = this.$route.query.id
    if (!goodsId) {
      this.$router.push({ path: '/' })
      return
    }

    this.scaleSwiper()
    window.onresize = this.scaleSwiper
    this.listenScroll()
    this.initSellDate()
    this.queryGoodsDetail(goodsId)
    this.spikeActivityDetail()

    // 记录位置
    if (this.$route.params.keepaLiveFlag) {
      var pageInfo = JSON.parse(sessionStorage.getItem('evaluateInfo'))
      sessionStorage.setItem('evaluateInfo', null)
      this.evaluate = pageInfo.evaluate
      this.pageNo = pageInfo.pageNo
      this.evaluateType = pageInfo.evaluateType
      this.$nextTick(() => {
        this.cacheScrollList[2] = +pageInfo.scrollTop
        this.$refs.navbar.active = 2
        this.$refs.evaluate.selected = pageInfo.selected
        this.toggleTab(2)
      })
    } else {
      this.queryItemEvaluate() // 获取商品评价
    }

    if (this.$store.state.intoPage === 0 && this.token) { // 页面手动刷新
      let param = {
        page: 1,
        pageSize: 999,
        isGetCountOnly: 1,
        customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
      }
      if (this.$store.state.intoPage === 0 && getCookie('selectedChannel')) {
        param.owner = JSON.parse(getCookie('selectedChannel')).channelId
      } else if (this.$store.state.intoPage === 1 && this.$store.state.channel.currentChannel && this.$store.state.channel.currentChannel.channelId) {
        param.owner = this.$store.state.channel.currentChannel.channelId
      }
      api.queryCart(param).then(res => {
        if (res.success) {
          this.$store.dispatch('setShoppingCartCount', res.data.count)
        }
      })
    }
  },
  methods: {
    hide () {
      this.showDropDownMenu = false
    },
    viewVideo (path) {
      var scrollTop = document.querySelector(
        '#content'
      ).scrollTop

      // 记录位置
      sessionStorage.setItem('evaluateInfo', JSON.stringify({
        evaluate: this.evaluate,
        pageNo: this.pageNo,
        selected: this.$refs.evaluate.selected,
        evaluateType: this.evaluateType,
        scrollTop
      }))

      let { id, type, combItemId } = this.$route.query

      this.$router.push({
        path: '/videoPage',
        query: {
          id,
          type,
          combItemId,
          path
        }
      })
    },
    onLoad () {
      this.pageNo++

      this.queryItemEvaluate()
    },
    onRefresh () {
      this.evaluate.list.splice(0)

      this.pageNo = 1

      this.queryItemEvaluate()
    },
    // 控制轮播宽高
    scaleSwiper () {
      this.swiperW = window.innerWidth
      this.swiperH = window.innerHeight / 2
    },
    // 播放视频
    playVideo () {
      this.showVideo = true
      this.$nextTick(() => {
        this.$refs.myVideo.$refs.myVideoRef.goOnPlay()
      })
    },
    // 立即购买
    buyNow () {
      if (this.token) {
        if (this.numberChange()) {
          if (this.offerNumber === 0) {
            this.$toast('购买数量不能为0')
            return
          }
          this.showImmediatePurchase = false
          const flashSaleInfo = {
            id: this.flashSaleDetail.id, // 秒杀活动id
            merchandiseInfo: { // 商品信息
              price: this.flashSaleDetail.priceType === '1' ? this.flashSaleDetail.spikePrice / this.flashSaleDetail.averageWeight : this.flashSaleDetail.spikePrice, // 价格
              storeName: this.flashSaleDetail.storeName, // 门店名称
              ownerName: this.flashSaleDetail.orgName, // 服务部渠道名称
              ownerId: this.flashSaleDetail.orgId, // 服务部id
              ownerType: this.shopInfo.type, // 类型
              thumbnail: this.flashSaleDetail.itemThumbnail, // 缩略图
              name: this.flashSaleDetail.itemName, // 名称
              itemId: this.flashSaleDetail.itemId, // 商品id
              offerNumber: this.offerNumber, // 数量
              unitId: this.detail.isAssistOrder ? this.detail.assistUnitId : this.detail.saleUnitId, // 单位id
              saleUnitName: this.detail.saleUnitName, // 单位名称
              assistUnitName: this.detail.assistUnitName, // 辅助单位
              avgWeight: this.flashSaleDetail.averageWeight !== 0 ? this.flashSaleDetail.averageWeight : 1 // 预估均重
            }
          }
          sessionStorage.setItem('flashSaleCache', JSON.stringify(flashSaleInfo))
          this.$router.push({
            path: '/groupBuyingPlaceOrder',
            query: {
              activityType: '1',
              isQuickOrder: '1',
              date: this.detail.ownerType === '5' ? this.sellDate : '',
              number: this.detail.itemClassList.join('.')
            }
          })
        }
      } else {
        this.$toast('请先登录')
        this.$router.push({ path: '/loginRandom', query: { redirect: this.$route.fullPath } })
      }
    },
    // 初始化参数
    formatParams (placeOrder) {
      const params = placeOrder ? {
        isQuickOrder: '1',
        list: []
      } : {
        list: []
      }

      if (!(+this.$route.query.type === 1)) { // 如果是普通商品
        let item = {
          ownerId: this.detail.ownerId,
          itemId: this.detail.id,
          isChoose: '1'
        }

        item.wtRangeId = this.selectedWeightRange && this.selectedWeightRange.id
        item.unitId = this.detail.saleUnitId + ''
        item.assistUnitId = this.detail.isAssistOrder ? this.detail.assistUnitId + '' : null

        if (this.detail.isAssistOrder) {
          item.assistQty = this.count
        } else {
          item.qty = this.count
        }

        if (this.labelList2[0] || typeof this.labelList2[0] === 'number') {
          item.assistattrId = this.labelList2[0] + ''
        }

        params.list.push(item)
      } else { // 如果是组合商品
        params.list.push({
          isChoose: '1',
          ownerId: this.detail.ownerId,
          combItemId: this.$route.query.combItemId,
          entryType: '1',
          qty: this.count
        })
        this.detail.combList.forEach(v => {
          let item = {
            ownerId: this.detail.ownerId,
            itemId: v.id,
            isChoose: '1',
            entryType: '2',
            combItemId: this.$route.query.combItemId,
            combItemEntryId: v.combEntryId,
            combBaseQty: v.baseQty
          }

          item.unitId = v.saleUnit + ''
          item.assistUnitId = v.isAssistOrder ? v.assistUnit + '' : null

          if (v.isAssistOrder) {
            item.assistQty = v.baseQty * this.count
          } else {
            item.qty = v.baseQty * this.count
          }

          if (v.assistattrId && v.assistattrId !== ' ') item.assistattrId = v.assistattrId

          params.list.push(item)
        })
      }

      return params
    },
    // 去店铺
    goShop (ownerId) {
      this.$router.push({
        path: '/shop',
        query: {
          ownerId
        }
      })
    },
    // 查看全部评价
    checkAll () {
      this.$refs.navbar.active = 2
      this.toggleTab(2)
    },
    // 返回
    onClickLeft () {
      if (window.history.length > 1) {
        this.$router.go(-1)
      } else {
        this.$router.push('/')
      }
    },
    onClickRight (i) {
      if (i === 1) { // 购物车按钮
        this.$router.push({
          path: '/shoppingCart'
        })
      } else if (i === 2) { // "更多"下拉菜单
        this.showDropDownMenu = true
      }
    },
    // 切换tab
    toggleTab (index) {
      this.cacheScrollList[this.tabIndex] = document.querySelector(
        '#content'
      ).scrollTop

      if (index === 0) {
        this.tabIndex = index

        this.listenScroll()
      } else {
        this.removeScrollEvent()

        this.tabIndex = index
      }

      if (index === 2) {
        this.queryCmpResult(this.$route.query.id) // 获取综合评价项
      }

      this.$nextTick(() => {
        document.querySelector('#content').scrollTop = this.cacheScrollList[index] || 0
      })
    },
    // 修改重量范围
    changeWeightRange (selectedWR) {
      this.selectedWeightRange = selectedWR
    },
    // 修改数量
    changeCount (count) {
      this.count = count
    },
    // 选择优惠券
    changeCoupon (id) {
      this.couponId = id
    },
    // 选择配送地址
    changeLocation (address) {
      this.address = address
    },
    // 底部按钮
    btnClick (item) {
      if (this.showId === 'coupon' && item.name === '完成') {
        this.hideSku()
      } else if (this.showId === 'params' && item.name === '完成') {
        this.hideSku()
      } else if (this.showId === 'location' && item.name === '完成') {
        this.hideSku()
      } else if (this.showId === 'sku' && item.name === '立即购买') {
        this.buyNow()
      }
    },
    // 隐藏弹出框
    hideSku () {
      this.up = false
    },
    // 滚动监听
    listenScroll () {
      let baseDistance = window.innerHeight / 2 // 透明度从0到1的距离

      this.$nextTick(() => {
        this.scrollStyle(baseDistance)
        this.toBottomFlag = false

        document.querySelector('#content').onscroll = () => {
          this.scrollStyle(baseDistance)
        }
      })
    },
    // 滚动时的效果
    scrollStyle (baseDistance) {
      let scroller = document.querySelector('#content')
      let scrollTop = scroller.scrollTop
      let base = this.baseOpacity - scrollTop / baseDistance
      // let h2 = window.innerWidth - scrollTop;

      this.opacity = base < 0 ? 0 : base > this.baseOpacity ? this.baseOpacity : base

      if (scrollTop + scroller.offsetHeight + 1 >= scroller.scrollHeight) {
        if (!this.toBottomFlag) {
          document.addEventListener('touchstart', this.touchstart, false)
        }
      }
    },

    touchstart (es) {
      this.toBottomFlag = true
      this.start = es.touches[0].clientY

      document.addEventListener('touchend', this.touchend, false)
      document.addEventListener('touchmove', this.touchmove, false)
    },

    touchmove (em) {
      let move = em.touches[0].clientY

      if (this.start - move > 10) {
        this.$refs.navbar.active = 1
        this.toggleTab(1)
        this.touchend()
      } else if (this.start - move < 0) {
        this.touchend()
      }
    },

    touchend () {
      document.removeEventListener('touchstart', this.touchstart, false)
      document.removeEventListener('touchmove', this.touchmove, false)
      document.removeEventListener('touchend', this.touchend, false)
      this.toBottomFlag = false
    },

    // 移除监听
    removeScrollEvent () {
      this.opacity = 0
      document.querySelector('#content').onscroll = null
    },

    // 监听轮播
    onChange (index) {
      this.current = index
    },

    // 收藏
    collect () {
      if (this.token) {
        if (!this.isCollect) {
          let params = {
            itemList: [{
              itemId: this.detail.id,
              itemType: this.$route.query.type || 0,
              combItemId: this.$route.query.combItemId
            }]
          }

          api.commonCall(params, 'itemCollectAdd').then(res => {
            if (res.success) {
              this.isCollect = true
            } else {
              res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
            }
          })
        } else {
          let params = {
            itemIdList: [],
            combIdList: []
          }
          if (!(+this.$route.query.type === 1)) { // 如果是普通商品
            params.itemIdList.push(this.detail.id)
          } else { // 如果是组合商品
            params.combIdList.push(this.$route.query.combItemId)
          }
          api.commonCall(params, 'itemCollectDel').then(res => {
            if (res.success) {
              this.isCollect = false
            } else {
              res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
            }
          })
        }
      } else {
        this.$toast('请先登录')
        this.$router.push({ path: '/loginRandom', query: { redirect: this.$route.fullPath } })
      }
    },

    selectCoupon (id) {
      this.couponId = id
    },

    // 关注店铺
    concern () {
      if (this.token) {
        if (this.isConcern) {
          let params = {
            ownerIdList: [this.detail.ownerId]
          }

          this.$dialog.confirm({
            title: '提示',
            message: '确定要取消关注该店铺？'
          }).then(() => {
            api.commonCall(params, 'shopConcernDel').then(res => {
              if (res.success) {
                this.isConcern = false
              }
            })
          }).catch(() => {

          })
        } else {
          let params = {
            ownerId: this.shopInfo.id
          }

          api.commonCall(params, 'shopConcernAdd').then(res => {
            if (res.success) {
              this.isConcern = true
            }
          })
        }
      } else {
        this.$toast('请先登录')
        this.$router.push({ path: '/loginRandom', query: { redirect: this.$route.fullPath } })
      }
    },
    // 查询商品详情
    queryGoodsDetail (id) {
      const params = +this.$route.query.type === 1 ? { id: this.$route.query.combItemId, type: '1' } : { id, type: '0' }
      api.queryGoodsDetail(params).then(res => {
        if (res.success) {
          let findChannel = this.allChannel.find(o => o.channelId === res.data.ownerId)
          if (findChannel) {
            res.data.ownerType = findChannel.channelType
          } else {
            res.data.ownerType = ''
          }

          this.detail = res.data

          if (this.detail.combList) {
            // 将主品放置第一位
            for (let i = 0; i < this.detail.combList.length; i++) {
              if (+this.detail.combList[i].isMainProduct === 1) {
                let cacheMain = this.detail.combList[i]
                this.detail.combList.splice(i, 1)
                this.detail.combList.unshift(cacheMain)
                break
              }
            }

            this.detail.combList.forEach((v, i) => {
              this.$set(this.detail.combList[i], 'totalCount', v.baseQty)
            })
          }

          this.customerInfo(res.data.ownerId) // 查询渠道信息
          if (this.token) {
            this.shopConcernState(res.data.ownerId) // 查询店铺是否已关注
            // this.goodsCollectState(res.data.id) // 查询商品是否已收藏
          }
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    // 查询商品是否已收藏
    goodsCollectState (goodsId) {
      let params = {
        itemList: [{
          itemId: goodsId,
          itemType: this.$route.query.type || 0,
          combItemId: this.$route.query.combItemId
        }]
      }
      api.commonCall(params, 'queryItemCollectState').then(res => {
        if (res.success) {
          if (res.data && res.data.itemList && res.data.itemList[0]) {
            this.isCollect = res.data.itemList[0].status
          }
        }
      })
    },
    // 查询店铺是否已关注
    shopConcernState () {
      let params = {
        ownerId: this.detail.ownerId
      }

      api.commonCall(params, 'queryShopConcernState').then(res => {
        if (res.success) {
          this.isConcern = res.data.status
        }
      })
    },

    customerInfo (id) {
      api.customerInfo({ id }).then(res => {
        if (res.success) {
          let findChannel = this.allChannel.find(o => o.channelId === res.data.id)
          if (findChannel) {
            res.data.type = findChannel.channelType
          } else {
            res.data.type = ''
          }

          this.shopInfo = res.data
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },

    selectLabel (type, param) {
      this.$refs.evaluate.loading = false
      this.$refs.evaluate.isLoading = false

      if (type === 'a') {
        this.changeEvaluateType(param)
      } else if (type === 'b') {
        this.changeTag([param])
      }
    },

    // 图片预览
    viewPic (index, picList) {
      let list = []
      // eslint-disable-next-line
      for (let [index, elem] of picList.entries()) {
        list.push(this.allImgDomainName + elem)
      }
      ImagePreview({
        images: list,
        startPosition: index
      })
    },
    // 图片预览
    viewPicDetail (index, picList) {
      this.bigImg = picList[index]
      this.viewPic(index, picList)
    },

    // 评论过滤
    changeEvaluateType (type) {
      this.evaluateType = type
      this.evaluateTagList = []
      this.evaluate.list.splice(0)

      this.pageNo = 1
      this.queryItemEvaluate() // 获取商品评价
    },

    // 选择评论标签
    changeTag (arr) {
      this.evaluateTagList = arr
      this.evaluateType = '1'
      this.evaluate.list.splice(0)

      this.pageNo = 1
      this.queryItemEvaluate() // 获取商品评价
    },

    // 商品评价
    queryItemEvaluate () {
      this.requestLoading = true
      const params = {
        itemId: this.$route.query.id,
        evaluateType: this.evaluateType,
        page: this.pageNo,
        pageSize: this.pageSize,
        labelList: this.evaluateTagList
      }

      api.queryItemEvaluate(params).then(res => {
        this.requestLoading = false
        if (res.success) {
          if (this.evaluate && this.evaluate.list) {
            this.$set(this.evaluate, 'list', this.evaluate.list.concat(res.data.list))
            this.$set(this.evaluate, 'totalNumber', res.data.count)
          } else {
            this.evaluate = res.data
          }

          this.$refs.evaluate.loading = false

          if (this.evaluate.list.length >= this.evaluate.totalNumber) {
            this.$refs.evaluate.finished = true
          }

          setTimeout(() => {
            this.$refs.evaluate.isLoading = false
          }, 100)
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
          this.$refs.evaluate.loading = false
          this.$refs.evaluate.finished = true

          setTimeout(() => {
            this.$refs.evaluate.isLoading = false
          }, 100)
        }
      })
    },

    // 综合评价
    queryCmpResult (itemId) {
      api.queryCmpResult({ itemId }).then(res => {
        if (res.success) {
          this.evaluateScore = res.data
        }
      })
    },
    initSellDate () {
      let nowDay = new Date()
      let tomorrowDay = new Date(nowDay.getTime() + 24 * 60 * 60 * 1000)
      // let secondDay = new Date(nowDay.getTime() + 2 * 24 * 60 * 60 * 1000)
      // let thirdDay = new Date(nowDay.getTime() + 3 * 24 * 60 * 60 * 1000)
      let nowDate = nowDay.getFullYear() + '-' + zero(nowDay.getMonth() + 1) + '-' + zero(nowDay.getDate())
      let tomorrowDate = tomorrowDay.getFullYear() + '-' + zero(tomorrowDay.getMonth() + 1) + '-' + zero(tomorrowDay.getDate())
      // let secondDate = secondDay.getFullYear() + '-' + zero(secondDay.getMonth() + 1) + '-' + zero(secondDay.getDate())
      // let thirdDate = thirdDay.getFullYear() + '-' + zero(thirdDay.getMonth() + 1) + '-' + zero(thirdDay.getDate())

      let idx = sessionStorage.getItem('userInfo') && JSON.parse(sessionStorage.getItem('userInfo')).phone
      let deliveryDate = sessionStorage.getItem('deliveryDate') && JSON.parse(sessionStorage.getItem('deliveryDate'))
      if (idx && deliveryDate && deliveryDate[`${idx}__expires__${nowDate}`] && (new Date(deliveryDate[`${idx}__expires__${nowDate}`]) >= new Date(nowDate))) {
        this.sellDate = deliveryDate[`${idx}__expires__${nowDate}`]
      } else {
        this.sellDate = tomorrowDate

        if (!deliveryDate) {
          deliveryDate = {}
        }

        if (idx) {
          deliveryDate[`${idx}__expires__${nowDate}`] = tomorrowDate
        }

        sessionStorage.setItem('deliveryDate', JSON.stringify(deliveryDate))
      }
    },
    immediatePurchase () {
      this.showImmediatePurchase = true
    },
    _toMap (longitude, latitude, farmersAddress) {
      this.$router.push({
        path: '/biddingDetailsMap',
        query: {
          longitude,
          latitude,
          farmersAddress
        }
      })
    },
    openReminderMe () {
      if (!this.token) {
        this.$toast('请先登录')
        this.$router.push({ path: '/loginRandom', query: { redirect: this.$route.fullPath } })
        return
      }
      if (this.remindText === '设置提醒') {
        this._initUserInfo()
        this.reminderMe = true
        this.remindType = 'save'
      } else {
        this.cncelReminder = true
        this.remindType = 'cancel'
      }
    },
    // 秒杀详情
    spikeActivityDetail () {
      api.commonCall({ id: this.$route.query.seckillingId }, 'querySpikeActivityDetail').then(res => {
        if (res.success) {
          this.flashSaleDetail = res.data
          this.nowDate = res.data.nowDate
          this.remNumber = this.flashSaleDetail.spikeQty - this.flashSaleDetail.saleQty
          this.limitQty = this.flashSaleDetail.limitQty
          this.offerNumber = this.flashSaleDetail.minQty
          this.remindText = this.flashSaleDetail.isReminder === '1' ? '取消提醒' : '设置提醒'
          if (this.getflashSaleTimer && res.data.actStatus === 'B') {
            clearInterval(this.getflashSaleTimer)
          }
          let now = new Date(this.nowDate && this.nowDate.replace(/-/g, '/')).getTime() // 当前时间(服务器时间)
          let beforeBeginTime = new Date(this.flashSaleDetail.beginDate && this.flashSaleDetail.beginDate.replace(/-/g, '/')).getTime() - (1000 * 60 * 5) // 开始前5分钟时间
          if (now >= beforeBeginTime) {
            this.isRemindMe = false
          }
          let arr = []
          let newArr = []
          for (let s = 0; s < res.data.famerList.length; s++) {
            arr.push(res.data.famerList[s])
            if (s === res.data.famerList.length - 1) {
              newArr.push(arr)
            } else if ((s + 1) % 2 === 0) {
              newArr.push(arr)
              arr = []
            }
          }
          this.farmerList = newArr
          // 处理图片数据
          this.pictureList = []
          for (let i = 1; i < 6; i++) {
            if (res.data['picture' + i]) {
              this.pictureList.push(res.data['picture' + i])
            }
          }
          this.counttime()
        }
      })
    },
    // 计算剩余时间
    counttime () {
      let begin = new Date(this.flashSaleDetail.beginDate && this.flashSaleDetail.beginDate.replace(/-/g, '/')).getTime() // 开始时间
      let now = new Date(this.nowDate && this.nowDate.replace(/-/g, '/')).getTime() // 当前时间(服务器时间)
      let end = new Date(this.flashSaleDetail.endDate.replace(/-/g, '/')).getTime() // 截止日期
      this.lengthOfCountdownTime = this.flashSaleDetail.actStatus !== 'B' ? (begin - now) : (end - now)
      if (this.lengthOfCountdownTime <= 0) {
        this.activityIsOver = true
      }
    },
    // 设置提醒
    remindMeSure () {
      let params = {
        spikeId: this.$route.query.seckillingId,
        remindType: this.remindType, // save设置 cancel取消
        beginNum: '5'
      }
      api.commonCall(params, 'setSpikeRemindByTime').then(res => {
        if (res.success) {
          this.remindText = this.remindType === 'save' ? '取消提醒' : '设置提醒'
          this.reminderMe = false
          this.cncelReminder = false
          this.$toast(this.remindType === 'save' ? '将在秒杀开始前5分钟提醒您,请注意！' : '秒杀提醒已取消,您可能会抢不到哦！')
        } else {
          this.reminderMe = false
          this.cncelReminder = false
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    _initUserInfo () {
      let userInfo = JSON.parse(sessionStorage.getItem('userInfo'))
      let ownerId = userInfo && userInfo.id
      this.phone = userInfo && userInfo.phone && userInfo.phone.replace(userInfo.phone.substring(3, 7), '****')
      if (!ownerId) {
        api.userInfo().then(res => {
          if (res.success) {
            ownerId = res.data.id
            this.phone = res.data.phone.replace(res.data.phone.substring(3, 7), '****')
          } else {
            res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
          }
        })
      }
    },
    // input框输入购买数量
    numberChange () {
      this.offerNumber = +this.offerNumber
      // 判断是否超过秒杀剩余数量
      if (this.offerNumber < this.flashSaleDetail.minQty) {
        this.hintText = '购买数量不能小于起订量'
        return false
      } else if (this.offerNumber > this.remNumber) {
        this.hintText = '购买数量不能大于库存'
        return false
      } else if (this.offerNumber > this.limitQty) {
        this.hintText = '购买数量不能大于每单限购量'
        return false
      } else {
        let min = this.remNumber > this.limitQty ? this.limitQty : this.remNumber
        // 数量输入要符合，起订量+n*加量幅度，n是正整数
        if ((this.offerNumber - this.flashSaleDetail.minQty) % this.flashSaleDetail.addNumber === 0 || this.offerNumber === min) {
          this.hintText = ''
          return true
        } else {
          this.hintText = '购买数量数量要符合，起订量+n*加量幅度，n是正整数'
          return false
        }
      }
    },
    _numCut () {
      let min = this.remNumber > this.limitQty ? this.limitQty : this.remNumber
      if (+this.offerNumber > min) {
        this.offerNumber = min
      } else if (+this.offerNumber > this.flashSaleDetail.minQty) {
        this.offerNumber = +this.offerNumber - this.flashSaleDetail.addNumber
        if (this.offerNumber < this.flashSaleDetail.minQty) {
          this.offerNumber = this.flashSaleDetail.minQty
        }
      }
      this.numberChange()
    },
    _numAdd () {
      let min = this.remNumber > this.limitQty ? this.limitQty : this.remNumber
      if (+this.offerNumber < this.flashSaleDetail.minQty) {
        this.offerNumber = this.flashSaleDetail.minQty
      } else if (+this.offerNumber < min) {
        this.offerNumber = +this.offerNumber + this.flashSaleDetail.addNumber
        if (this.offerNumber > min) {
          this.offerNumber = min
        }
      }
      this.numberChange()
    },
    _finished () {
      if (this.flashSaleDetail.actStatus === 'A') {
        clearInterval(this.getflashSaleTimer)
        this.getflashSaleTimer = setInterval(() => {
          this.spikeActivityDetail()
        }, 5000)
      } else {
        this.flashSaleDetail.actStatus = 'C'
      }
    },
    // 消除键盘关闭后页面被撑起，导致按钮响应区域错位
    scrollToTop () {
      scrollTop(window, getScrollTop(), 0, 100)
    }
  },
  beforeDestroy () {
    if (this.getflashSaleTimer) {
      clearInterval(this.getflashSaleTimer) // 清除倒计时计时器
    }
  }
}
</script>

<style lang="less" scoped>
  @import "~@/assets/css/mixin.less";

  .spike-details {
    background: rgba(245, 245, 245, 1);

    .translate {
      display: block;
      transform: translateY(1px);
    }

    .format-img {
      background-position: center;
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }

    .navbar1 {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9;
      width: 100%;
      @{deep} .van-nav-bar {
        height: 96px;
        line-height: 96px;
        background: none;
        &:after {
          border: 0;
        }
        .van-nav-bar__left {
          padding: 0 16px;
          .van-icon {
            color: white !important;
            width: 64px;
            height: 64px;
            line-height: 64px;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.5);
          }
        }
        .van-nav-bar__right {
          padding: 0 16px;
          .van-ver-menu2,
          .van-shopcart2 {
            display: inline-block;
            width: 64px;
            height: 64px;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.5);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 48px 48px;
            vertical-align: middle;
          }
          .van-ver-menu2 {
            .bg-img("~@/assets/images/icon/icon-ver-menu");
          }
          .van-shopcart2 {
            .bg-img("~@/assets/images/icon/icon-shopcart");
            margin-right: 16px;
            position: relative;
            i {
              position: absolute;
              top: 0;
              left: 56px;
              background: white;
              border: 1px solid red;
              color: red;
              font-size: 20px;
              height: 20px;
              line-height: 24px;
              border-radius: 20px;
              padding: 0 6px;
              transform: translate(-50%);
            }
          }
        }
      }
    }

    > .content {
      -webkit-overflow-scrolling: touch;
      // perspective: 1px;
      // transform-style: preserve-3d;
      height: 100vh;
      overflow-x: hidden;
      overflow-y: auto;
      box-sizing: border-box;

      &.van-padding-bottom {
        padding-bottom: 100px;
      }

      .list {
        margin-top: 16px;
        font-size: 26px;
        color: #2e3033;

        .item {
          display: flex;
          align-items: center;
          background: white;
          padding: 30px;

          .title {
            color: #8e939a;
            width: 120px;
          }

          .content {
            width: calc(100% - 210px);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .arrow {
            color: #c1c4ca;
            font-size: 23px;
            flex: 1;
            text-align: right;
          }
        }
      }

      .active {
        position: relative;
        overflow: hidden;
        transform: rotate(0deg);

        &:active {
          &:after {
            content: " ";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.08);
          }
        }
      }

      .swiper-container {
        // transform: scale(2) translate3d(0, calc(-100vh / 8), -1px);
        overflow: hidden;
        position: relative;
        height: calc(100vh / 2);
        // height: 1750px;
        z-index: 0;

        .my-video {
          z-index: 99;
        }

        .format-img {
          height: calc(100vh / 2);
          background-size: 100% 100%;
          // height: 1750px;
        }

        // .swiper {
        //   overflow: hidden;
        //   position: absolute;
        //   bottom: 0;
        //   left: 0;
        //   width: 100%;

        @{deep} .van-swipe {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
        }
        // }

        .custom-indicator {
          position: absolute;
          right: 10px;
          bottom: 10px;
          padding: 4px 10px;
          font-size: 26px;
          color: #fff;
          background: rgba(0, 0, 0, 0.3);
        }
      }

      .big-img {
        background: white;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        display: flex;
        align-items: center;

        > img {
          display: block;
          width: 100%;
        }
      }

      .under-the-swipe {
        background: white;
        padding-bottom: 40px;

        .seckill-img{
          width: 100%;
          height: 88px;
          padding: 0px;
          background: url("~@/assets/images/flash-sale/background.svg") no-repeat center center;
          background-size: 100% 100%;
          .seckill-image{
            width: 150px;
            height: 100%;
            float: left;
            img{
              width: 109px;
              height: 64px;
              margin-left: 40px;
              margin-top: 16px;
            }
          }
          .seckill-price{
            width: 350px;
            height: 100%;
            float: left;
            margin-left: -100px;
            .seckill-price-one{
              width: 100%;
              overflow: hidden;
              .price-spike{
                font-size: 40px;
                color: #FFFFFF;
                padding: 0 0 0 40px;
                float: left;
                padding-top: 5px;
              }
              .p-money{
                font-size: 24px;
                color: #FFFFFF;
                float: left;
                margin-top: 12px;
              }
            }
            .seckill-price-two{
              width: 100%;
              overflow: hidden;
              .retail-price{
                font-size: 24px;
                color: #FFBABA;
                padding-left: 40px;
                text-decoration: line-through;
                float: left;
              }
            }
          }
          .seckill-time{
            width: 174px;
            height: 100%;
            float: left;
            padding: 0px;
            .seckill-time-text{
              width: 100%;
              overflow: hidden;
              p{
                font-size: 20px;
                color: #FE5F53;
                padding: 10px 0px 0px 0px;
              }
            }
            .seckill-time-calculation{
              width: 100%;
              overflow: hidden;
              .van-count-down, .van-divider{
                font-size: 24px;
              }
            }
          }
        }
        .spike-details-content{ // 秒杀详情内容
          width: 100%;
          overflow: hidden;
          padding: 0px;
          .spike-details-content-title{
            width: 100%;
            overflow: hidden;
            .spike-details-content-left{
              width: 75%;
              overflow: hidden;
              float: left;
              p{
                text-align: left;
                padding: 36px 0px 0px 32px;
                font-size: 32px;
                color: #59595B;
                font-weight: 600;
              }
              span{
                display: inline-block;
                text-align: left;
                padding: 39px 0px 0px 30px;
                font-size: 24px;
                color: #333;
              }
            }
            .spike-details-content-right{
              width: 25%;
              overflow: hidden;
              float: left;
              .alarm-reminder{
                width: 96px;
                height: 116px;
                float: right;
                margin-right: 30px;
                margin-top: 42px;
                font-size: 24px;
                color: #333;
                text-align: center;
                img{
                  display: inline-block;
                }
              }
            }
          }
        }
        .spike-details-content-center{
          width: 100%;
          overflow: hidden;
          padding: 0px;
          p{
            width: 40%;
            overflow: hidden;
            float: left;
            padding-left: 30px;
            font-size: 24px;
            color: #333;
            padding-top: 20px;
          }
          span{
            display: inline-block;
            width: 50%;
            overflow: hidden;
            font-size: 24px;
            color: #333;
            padding-top: 20px;
          }
        }
        .spike-details-content-bottom{
          width: 100%;
          overflow: hidden;
          padding: 0px;
          p{
            width: 40%;
            overflow: hidden;
            float: left;
            padding-left: 30px;
            font-size: 24px;
            color: #333;
            padding-top: 20px;
          }
          span{
            display: inline-block;
            width: 50%;
            overflow: hidden;
            font-size: 24px;
            color: #333;
            padding-top: 20px;
          }
        }

        .title {
          line-height: 48px;
          font-size: 32px;
        }

        > div {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 30px 0;
          color: #2e3033;

          .price-stuff {
            margin-left: 28px;
            > span {
              display: block;
              font-size: 28px;
              color: #e33240;
              span:not(.small) {
                font-size: 44px;
              }
              span {
                &.expect {
                  font-size: 38px;
                }
              }
            }
            s {
              color: rgba(142, 147, 154, 1);
              font-size: 24px;
            }
          }

          .share {
            margin-right: 28px;

            i {
              width: 44px;
              display: block;

              img {
                display: block;
                width: 100%;
                height: auto;
              }
            }

            span {
              font-size: 20px;
            }
          }
        }

        p {
          font-size: 28px;
          padding: 0 30px;
          span {
            display: inline-block;
            height: 40px;
            line-height: 40px;
            // width: 100%;
            color: #E33240;
            font-size: 30px;
            text-align: right;
          }
        }
      }

      .content-2-floor {
        .maintenance-schedule{
          width: 100%;
          overflow: hidden;
          padding: 20px 0px;
          background-color: #FFFFFF;
          .maintenance-schedule-content{
            width: 92%;
            overflow: hidden;
            margin: 0 auto;
            border: 1px solid #DFE2E7;
            box-sizing: border-box;
            border-radius: 12px;
            background-color: #f8f8f8;
            margin-bottom: 30px;
            &:last-child{
              margin-bottom: 0px;
            }
            .maintenance-schedule-content-one{
              width: 100%;
              height: 68px;
              border-bottom: 1px solid #DFE2E7;
              &:last-child{
                border-bottom: 0px solid #DFE2E7;
              }
              p{
                width: 25%;
                height: 100%;
                float: left;
                text-align: center;
                line-height: 68px;
                font-size: 24px;
                font-weight: 600;
                color: #333333;
                border-right: 1px solid #DFE2E7;
                box-sizing: border-box;
              }
              span{
                width: 70%;
                height: 100%;
                line-height: 68px;
                font-size: 24px;
                color: #333333;
                padding-left: 17px;
                display: inline-block;
                img{
                  width: 20px;
                  height: 24px;
                  margin-left: 10px;
                  margin-top: 5px;
                }
              }
            }
          }
        }
      }

      .evaluate-list {
        margin-top: 16px;
        background: white;
        padding: 30px;
        color: #2e3033;

        .title {
          border-left: 4px solid #e33240;
          padding-left: 14px;
          line-height: 100%;
        }

        ul {
          li {
            padding: 30px 0;

            &:not(:last-child) {
              .border-1px(#e8e9eb);
            }

            > div {
              &:first-child {
                display: flex;
                align-items: center;
                line-height: 100%;

                > span {
                  display: block;
                  font-size: 26px;

                  &.default {
                    .bg-img("~@/assets/images/default_profile");
                  }

                  &:first-child {
                    width: 75px;
                    height: 75px;
                    border-radius: 50%;
                    margin-right: 20px;
                  }
                }
              }

              &:nth-child(2) {
                padding-top: 20px;
                font-size: 26px;
              }

              &:nth-child(3) {
                padding-top: 20px;
                font-size: 24px;
                color: #8e939a;
              }
            }
          }
        }

        .allEvaluate {
          padding: 50px 0;

          div {
            margin: auto;
            width: 260px;
            height: 64px;
            border-radius: 40px;
            border: 2px solid;
            color: rgb(227, 50, 64);
            font-size: 26px;
            letter-spacing: 2px;
            line-height: 64px;
            text-align: center;
          }
        }
      }

      .shop-info {
        padding: 0 28px;
        margin-top: 16px;
        background: white;
        color: #2e3033;

        .shop-title {
          display: flex;
          align-items: center;
          padding: 30px 0;

          > div {
            &:first-child {
              width: 92px;
              height: 92px;
              border: 1px solid #eee;
            }

            &:last-child {
              font-size: 30px;
              padding-left: 30px;
              .van-tag {
                height: 32px;
                padding: 2px 6px;
              }
            }
          }
        }

        .shop-label {
          overflow: hidden;

          > div {
            float: left;
            box-sizing: border-box;
            width: 33.3333%;
            padding: 0.6em 0;

            &:not(:nth-child(3n)) {
              .border-vertical-1px(#e8e9eb);
            }

            span {
              display: block;
              text-align: center;

              &:last-child {
                color: #8e939a;
              }
            }
          }
        }

        .shop-btn {
          display: flex;
          justify-content: center;
          padding: 50px;

          > div {
            margin: 0 10px;
            width: 220px;
            height: 64px;
            border-radius: 35px;
            text-align: center;
            font-size: 26px;

            &:first-child {
              background: linear-gradient(
                90deg,
                rgba(255, 107, 82, 1) 0%,
                rgba(227, 50, 64, 1) 100%
              );
              line-height: 64px;
              color: white;
            }

            &:last-child {
              background: rgba(255, 255, 255, 1);
              border: 2px solid;
              color: rgb(227, 50, 64);
              box-sizing: border-box;
              line-height: 62px;
            }
          }
        }
      }

      .check-details {
        margin-top: 16px;
        height: 96px;
        color: #5e6166;
        text-align: center;
        font-size: 28px;
        background: white;
        line-height: 96px;

        i {
          font-size: 20px;
          transform: rotate(-90deg);
        }

        > span {
          letter-spacing: 1px;
          margin-left: 20px;
        }
      }

      // .img-details {
      //   display: block;
      //   width: 100%;

      //   &.van-padding-top {
      //     padding-top: 96px;
      //   }
      // }

      .product-introduce {
        @{deep} * {
          max-width: 100% !important;
          img {
            display: block;
          }
        }

        &.van-padding-top {
          padding-top: 96px;
        }
      }
    }

    .van-footer {
      background: none;

      @{deep} .van-goods-action {
        background: white;
        z-index: 1;
        .van-goods-action-button {
          &--first {
            border-top-left-radius: 999px;
            border-bottom-left-radius: 999px;
          }
          &--last {
            border-top-right-radius: 999px;
            border-bottom-right-radius: 999px;
          }
        }
      }

      @{deep} .van-goods-action-icon {
        z-index: 100;
        color: #8e939a;

        .van-server,
        .van-shop,
        .van-collect,
        .van-collected {
          width: 48px;
          height: 48px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: 100% 100%;
        }

        .van-server {
          .bg-img("~@/assets/images/icon/server");
        }

        .van-shop {
          .bg-img("~@/assets/images/icon/shop");
        }

        .van-collect {
          .bg-img("~@/assets/images/icon/collect");
        }

        .van-collected {
          .bg-img("~@/assets/images/icon/collected");
        }
      }

      @{deep} .van-addShop {
        color: #fff;
        background: linear-gradient(
          90deg,
          rgba(255, 193, 56, 1) 0%,
          rgba(255, 162, 0, 1) 100%
        );
        position: relative;
      }

      @{deep} .van-buyNow {
        color: #fff;
        background: linear-gradient(
          90deg,
          rgba(255, 107, 82, 1) 0%,
          rgba(227, 50, 64, 1) 100%
        );
      }
    }

    .begin-video-box {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      padding: 0 30px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      border-radius: 24px;
      color: #3985ff;
      background: rgba(255, 255, 255, 0.8);
      z-index: 10;
      &.van-bottom {
        bottom: 20px;
      }
      &:before {
        background: url("~@/assets/images/video/play.png") no-repeat 0;
        background-size: 30px 30px;
        content: "";
        position: relative;
        display: inline-block;
        vertical-align: middle;
        margin-top: -2px;
        margin-right: 5px;
        width: 31px;
        height: 31px;
      }
      &:after {
        border-radius: 50px;
        border-color: #3b8afb;
      }
      &:hover {
        background: rgba(255, 255, 255, 0.8);
      }
    }

    .reminder-me{
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: rgba(0,0,0,0.2);
      z-index: 99998;
      display: flex;
      align-items: center;
      justify-items: center;
      .reminder-me-content{
        width: 606px;
        height: 676px;
        position: absolute;
        top: 458px;
        left:72px;
        .bg-img("~@/assets/images/index-2/reminder-bg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        margin-top: -125px;
        border-radius: 24px ;
        span{
          width: 250px;
          height: 86px;
          background-color: #F39801;
          display: inline-block;
          margin-top: 20px;
          margin:0 28px;
          font-size: 36px;
          color: #ffffff;
          text-align: center;
          line-height: 86px;
          border-radius: 12px;
        }
        h4{
          width: 250px;
          height: 86px;
          background-color: #A9ABAF;
          display: inline-block;
          margin-top: 20px;
          margin-right: 28px;
          font-size: 36px;
          color: #ffffff;
          text-align: center;
          line-height: 86px;
          border-radius: 12px;
        }
        .set-reminder{
          width: 100%;
          height: 126px;
          h5{
            font-size: 32px;
            color: #ffffff;
            text-align: center;
            line-height: 100px;
            font-weight: bold;
          }
        }
        .set-time{
          width: 544px;
          height: 183px;
          margin: 0 auto;
          border-bottom: 2px solid #E4E5E6;
          box-sizing: border-box;
          h6{
            font-size: 24px;
            color: #48484A;
            float: left;
            margin-top: 45px;
          }
          .set-time-text{
            width: 312px;
            height: 44px;
            float: right;
            margin-top: 18px;
            margin-right: 101px;
            .reminder-one{
              width: 32px;
              height: 32px;
              border-radius: 50%;
              float: left;
              margin-top: 29px;
              background: url("~@/assets/images/auction/tick-@1x.png") no-repeat center center;
              background-size: 100% 100%;
              margin-left: 5px;
            }
            p{
              font-size: 28px;
              color: #48484A;
              line-height: 90px;
              text-align: center;
              padding-left: 5px;
            }
          }
          .reminder{
            .reminder-one{
              background: url("~@/assets/images/auction/tick-@1x.png") no-repeat center center;
              background-size: 100% 100%;
            }
          }
        }
        .setting-option {
          width: 560px;
          height: 200px;
          margin: 0 auto;
          margin-top: 23px;
          .setting-mode {
            width: 100%;
            overflow: hidden;
            font-size: 24px;
            color: #48484a;
            line-height: 55px;
          }
          .p-phone{
            width: 100%;
            overflow: hidden;
            font-size: 24px;
            color: #48484a;
            background: url("~@/assets/images/flash-sale/phone.svg") no-repeat 12px 10px;
            background-size: 24px 32px;
            padding-left: 70px;
            padding-top: 8px;
          }
          .wechat {
            width: 100%;
            overflow: hidden;
            margin-top: 20px;
            .wechat-attention {
              width: 40px;
              height: 34px;
              float: left;
              margin-top: 10px;
              background: url("~@/assets/images/auction/wx.png") no-repeat center center;
              background-size: 100% 100%;
            }
            p {
              width: 85%;
              float: left;
              font-size: 24px;
              color: #48484A;
              padding-left: 30px;
              word-wrap: break-word;
            }
          }
        }
      }
    }
    .close-reminder{
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      background: rgba(0, 0, 0,0.2);
      z-index: 99999;
      display: flex;
      align-items: center;
      justify-items: center;
      .close-reminder-content{
        width: 606px;
        height: 676px;
        position: absolute;
        top: 458px;
        left:72px;
        .bg-img("~@/assets/images/index-2/reminder-bg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        margin-top: -125px;
        border-radius: 24px;
        .cancel-reminder-title{
          width: 100%;
          height: 126px;
          text-align: center;
          line-height: 116px;
          font-size: 32px;
          color: #FFFFFF;
          font-weight: 500;
        }
        .cancel-reminder-text{
          width: 100%;
          height: 408px;
          line-height: 408px;
          font-size: 32px;
          color: #48484A;
          text-align: center;
        }
        .cancel-reminder-btn{
          width: 100%;
          height: 142px;
          p{
            width: 266px;
            height: 86px;
            float: left;
            border-radius: 12px;
            background-color: #F39801;
            font-size: 36px;
            color: #FFFFFF;
            text-align: center;
            line-height: 86px;
            margin-left: 28px;
          }
          span{
            width: 266px;
            height: 86px;
            float: left;
            border-radius: 12px;
            background-color: #A9ABAF;
            font-size: 36px;
            color: #FFFFFF;
            text-align: center;
            line-height: 86px;
            margin-left: 18px;
          }
        }
      }
    }
    .van-popup{
      .immediate{
        width: 100%;
        height: 190px;
        .immediate-img{
          width: 160px;
          height: 160px;
          margin-top: 30px;
          margin-left: 30px;
          border-radius: 12px;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-position: center;
          float: left;
        }
        .immediate-text{
          width: 480px;
          height: 160px;
          float: left;
          margin-top: 30px;
          .p-title{
            font-size: 32px;
            color: #59595B;
            padding-left: 20px;
            padding-top: 32px;
            font-weight: 600;
          }
          .p-price{
            font-size: 40px;
            color: #E02020;
            padding-left: 20px;
            padding-top: 8px;
            span{
              font-size: 24px;
              padding-left: 18px;
            }
          }
        }
      }
      .immediate-content{
        width: 100%;
        overflow: hidden;
        .immediate-content-one{
          width: 100%;
          overflow: hidden;
          p{
            width: 45%;
            overflow: hidden;
            float: left;
            font-size: 24px;
            color: #333333;
            padding-left: 30px;
            padding-top: 38px;
          }
          span{
            width: 50%;
            overflow: hidden;
            float: left;
            font-size: 24px;
            color: #333333;
            padding-top: 38px;
          }
        }
        .immediate-content-two{
          width: 100%;
          overflow: hidden;
          p{
            width: 45%;
            overflow: hidden;
            float: left;
            font-size: 24px;
            color: #333333;
            padding-left: 30px;
            padding-top: 20px;
          }
          span{
            width: 50%;
            overflow: hidden;
            float: left;
            font-size: 24px;
            color: #333333;
            padding-top: 20px;
          }
        }
        .immediate-content-three{
          width: 100%;
          overflow: hidden;
          p{
            font-size: 24px;
            color: #999;
            padding-left: 30px;
            padding-top: 20px;
            span{
              color: #F7B500;
            }
          }
          .van-count-down, .van-divider{
            font-size: 24px;
            display: inline-block;
          }
        }
      }
      .immediate-button {
        width: 100%;
        height: 152px;
        position: absolute;
        bottom: 0;
        left: 0;
        .hint {
          width: 100%;
          padding-left: 20px;
          height: 20px;
          line-height: 20px;
          font-size: 24px;
          color: red;
        }
        .stepping-device {
          width: 356px;
          height: 88px;
          float: left;
          border-radius: 12px;
          margin-left: 12px;
          margin-top: 22px;
          .stepping-device-reduce {
            width: 88px;
            height: 100%;
            float: left;
            background: #5E6173 url("~@/assets/images/flash-sale/reduce.svg") no-repeat center center;
            background-size: 22px 4px;
            border-top-left-radius: 12px;
            border-bottom-left-radius: 12px;
          }
          .stepping-device-content {
            width: 180px;
            height: 100%;
            float: left;
            border-top: 1px solid #5E6173;
            border-bottom: 1px solid #5E6173;
            box-sizing: border-box;
            text-align: center;
            line-height: 88px;
            font-size: 32px;
            color: #434349;
            font-weight: 600;
            input {
              width: 110px;
              height: 78px;
              border: none;
              text-align: center;
              display: inline-block;
            }
          }
          .stepping-device-plus{
            width: 88px;
            height: 100%;
            float: left;
            background: #5E6173 url("~@/assets/images/flash-sale/plus.svg") no-repeat center center;
            background-size: 22px 22px;
            border-top-right-radius: 12px;
            border-bottom-right-radius: 12px;
          }
        }
        .confirm-button{
          width: 356px;
          height: 88px;
          float: right;
          border-radius: 12px;
          background-color: #F7B500;
          color: #FFFFFF;
          margin-right: 12px;
          margin-top: 22px;
          text-align: center;
          line-height: 88px;
          font-size: 28px;
        }
      }
    }
  }
</style>
