<template>
  <div class="no-data">
    <div v-if="loading" class="loading">
      <van-loading size="1.2267rem" />
    </div>
    <div class="img" v-else :class="url"></div>
    <p :class="loading ? 'loading-text' : ''">{{loading ? '正在加载...' : text}}</p>
  </div>
</template>

<script>
export default {
  name: 'index',
  props: {
    url: {
      // 图片
      default: 'no_goods'
    },
    text: {
      // 文字
      default: '目前暂无数据'
    },
    loading: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.no-data {
  padding: 100px 0 50px;

  .loading {
    margin: auto;
    width: 380px;
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .img {
    margin: auto;
    width: 380px;
    height: 380px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;

    &.address {
      .bg-img("./address");
    }

    &.collect {
      .bg-img("./collect");
    }

    &.list {
      .bg-img("./list");
    }

    &.no_goods {
      .bg-img("./no_goods");
    }

    &.store {
      .bg-img("./store");
    }

    &.wifi {
      .bg-img("./wifi");
    }
    &.group {
      .bg-img("./group");
    }
    &.new_nodata {
      .bg-img("./newNoData");
    }
  }

  p {
    width: 80%;
    margin: 0 auto;
    margin-top: 60px;
    text-align: center;
    font-size: 28px;
    color: #2e3033;
    &.loading-text {
      margin-top: 0;
    }
  }
}
</style>
