<template>
  <div class="policy-item" v-if="data.combName">
    {{data.combName}}
  </div>
</template>

<script>
export default {
  name: 'policy-item',
  props: {
    data: {
      type: Object,
      require: true
    }
  }
}
</script>

<style scoped>
  .policy-item{
    margin-right: 14px;
    margin-top: 20px;
    padding: 10px;
    background: #fae7e3;
    font-size: 20px;
  }
</style>
