<template>
  <div :style="{zIndex: show ? 19 : -1}" class="pop-up">
    <div class="layer" @click="hide" :class="{up: animate}"></div>

    <div class="sku" :class="{up: animate}">
      <div v-if="title" class="header">{{title}}</div>

      <div :class="title ? 'haveHead' : 'noHead'" class="content" ref="contentRef">
        <slot></slot>
      </div>

      <div class="button-box">
        <div class="line"></div>

        <div class="button">
          <div
            :class="[item.color, {disabled: item.disabled}]"
            v-for="(item, index) in btns"
            :key="index + 'btn'"
            @click="btnClick(item)"
          >{{item.name}}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { _throttle } from '@/utils/common'

export default {
  name: 'index',
  props: {
    title: {}, // 标题
    btns: {
      // 底部按钮
      default: () => ([
        {
          name: '完成',
          color: 'red'
        }
      ])
    },
    up: {
      // 弹出
      default: false
    },
    line: {
      // 底部按钮上边框
      default: false
    },
    listenScroll: { // 是否监听滚动事件
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      show: false,
      animate: false
    }
  },
  watch: {
    up (n) {
      if (n) {
        this.show = true
        this.animate = true
        document.body.style.overflow = 'hidden'
      } else {
        this.animate = false
        document.body.style.overflow = 'visible'

        setTimeout(() => {
          this.show = false
        }, 250)
      }
    }
  },
  created () {
    if (this.listenScroll) {
      window.addEventListener('scroll', this.handleScroll, true)
    }
  },
  methods: {
    // 隐藏
    hide () {
      this.$emit('hide')
    },
    // 底部按钮
    btnClick (item) {
      if (item.disabled) return
      this.$emit('btn-click', item)
    },
    // 监听滚动事件
    handleScroll: _throttle(function () {
      this.$emit('handleScroll', this.$refs.contentRef.scrollTop, this.$refs.contentRef.offsetHeight)
    }, 50)
  },
  destroyed () {
    if (document.body.style.overflow === 'hidden') {
      document.body.style.overflow = 'visible'
    }
    if (this.listenScroll) {
      window.removeEventListener('scroll', this.handleScroll, true)
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.pop-up {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  overflow: hidden;

  .layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background: rgba(0, 0, 0, 0.8);
    transition: all 0.2s;

    &.up {
      opacity: 1;
    }
  }

  .sku {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -73%;
    height: 73%;
    z-index: 1;
    transition: all 0.2s;

    &.up {
      bottom: 0;
    }

    .header {
      background: white;
      border-top-left-radius: 24px;
      border-top-right-radius: 24px;
      font-size: 30px;
      line-height: 100%;
      color: #2e3033;
      height: 110px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .content {
      background: white;

      &.haveHead {
        -webkit-overflow-scrolling: touch;
        overflow: auto;
        height: calc(100% - 210px);
      }

      &.noHead {
        height: calc(100% - 100px);
      }
    }

    .button-box {
      position: relative;
      background: white;

      .line {
        .border-1px(#f5f5f5);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 2px;
        z-index: 1;
      }

      .button {
        display: flex;

        > div {
          flex: 1;
          height: 100px;
          color: white;
          line-height: 100px;
          text-align: center;
          font-size: 30px;
          position: relative;
          overflow: hidden;
          background: red;

          &:not(.disabled) {
            &:active {
              &:after {
                content: " ";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(0, 0, 0, 0.08);
              }
            }
          }

          &.disabled {
            opacity: .5;
          }

          &.red {
            background: linear-gradient(
              90deg,
              rgba(255, 107, 82, 1) 0%,
              rgba(227, 50, 64, 1) 100%
            );
          }

          &.yellow {
            background: linear-gradient(
              90deg,
              rgba(255, 193, 56, 1) 0%,
              rgba(255, 162, 0, 1) 100%
            );
          }

          &.white {
            background: white;
            color: #e33240;
          }
        }
      }
    }
  }
}
</style>
