<template>
  <div class="pop-up">
    <pop-up :up="up" @hide="hideSku" :btns="btns" :title="title" @btn-click="btnClick">
      <!-- 优惠券 -->
      <div v-if="showId === 'coupon'">
        <div class="pop-up-coupon" v-for="(item, index) in coupon" :key="index + 'coupon'">
          <div>
            <div>
              <span>{{item.price - 0}}</span> 元
            </div>

            <div>{{item.description}}</div>

            <div>有效期 {{item.time}}</div>
          </div>

          <div @click="selectCoupon(item.id)">立即领取</div>
        </div>
      </div>

      <!-- 商品详情规格参数 -->
      <div v-else-if="showId === 'params'" class="pop-up-params">
        <!-- <van-cell-group>
            <van-field v-for="(item, index) in goods" :key="index + 'goods'" v-model="item.value" label="item.name" placeholder="detail[item.title]" :error-message="errorMsg[index]" />
        </van-cell-group>-->
        <div v-for="(item, index) in filterItemModelList" :key="index + 'params'">
          <div class="title">{{item.size > 0 ? item.name : ''}}</div>

          <div class="content">{{item.value}}</div>
        </div>
      </div>

      <!-- 送至 -->
      <div v-else-if="showId === 'location'" class="pop-up-location">
        <van-radio-group v-model="cacheAddress">
          <van-radio v-for="(item, index) in locationList" :key="index + 'address'" :name="item">
            <span class="address-top">
              <span>{{item.name}}</span>
              {{item.phone.replace(/(.{3})(.{4})(.{4})/, '$1 $2 $3')}}
            </span>
            <span class="address-bottom">{{item.location}}</span>
          </van-radio>
        </van-radio-group>
      </div>

      <!-- 已选 -->
      <div v-else-if="showId === 'sku'" class="pop-up-sku">
        <div class="sku-head">
          <div
            class="format-img"
            v-lazy:background-image="allImgDomainName + detail.thumbnail"
          ></div>

          <div>
            <div v-if="+$route.query.type !== 1">
              <span v-if="isZero === true">
                <span class="expect">敬请期待</span>
              </span>
              <span v-else-if="isZero === false">
                <span>{{price[0] || 0}}</span>
                .{{price[1] || '00'}} 元/{{detail.saleUnitName}}
              </span>

              <s>{{detail.referencePrice | keepTwoNum}} 元/{{detail.saleUnitName}}</s>
            </div>

            <div v-else>
              <span v-if="isZero === true">
                <span class="expect">敬请期待</span>
              </span>
              <span v-else>
                <span class="small" v-for="(item, index) in detail.combList" :key="index">
                  {{item.price}} 元/{{item.saleUnitName}}
                  <span style="padding: 0 0.10667rem;" v-if="index !== detail.combList.length - 1">+</span>
                </span>
              </span>

              <s><span v-for="(item, index) in detail.combList" :key="index">{{item.referencePrice}} 元/{{item.saleUnitName}}<span style="padding: 0 0.10667rem;" v-if="index !== detail.combList.length - 1">+</span></span></s>
            </div>

            <div v-if="!(minBuyQty === 0 && maxBuyQty === 0) || (limitFromItem && dayMaxQty > 0)">
              <span v-if="!(minBuyQty === 0 && maxBuyQty === 0)">每单限购</span>
              <span v-if="minBuyQty">最少 <span style="color: #E33240;">{{minBuyQty}}</span></span>
              <span v-if="minBuyQty && maxBuyQty">，</span>
              <span v-if="maxBuyQty">最多 <span style="color: #E33240;">{{maxBuyQty}}</span></span>
              <span v-if="limitFromItem && dayMaxQty > 0" style="display: inline-block;">今日限购：最多<span style="color: #E33240;">{{dayMaxQty}}</span></span>
            </div>

            <!-- <div><span :style="{color: (+stock && +stock > 0) ? '#E33240' : '#32E340'}">{{(+stock && +stock > 0) ? '有货' : '无货'}}</span></div> -->
          </div>
        </div>

        <div class="scroll-box">
          <!-- 辅助属性（旧） -->
          <!-- <div class="sku-label" v-if="labels.length && !(+$route.query.type === 1)">
            <div v-for="(item, index) in [labels]" :key="index + 'dad'">
              <div v-if="item.name">{{item.name}}</div>

              <ul>
                <li
                  v-for="(child, childIndex) in item"
                  :key="childIndex + 'son'"
                  :class="{select: selectIndex[index] === childIndex}"
                  @click="labelSelect(index, childIndex)"
                >{{child.name}}</li>
              </ul>
            </div>
          </div> -->

          <!-- 拆解多个辅助属性（新） -->
          <div class="sku-label" v-if="detail.assistAttrArrayV2 && detail.assistAttrArrayV2.attrValue && detail.assistAttrArrayV2.attrValue.length > 0 && !(+$route.query.type === 1)">
            <div v-for="(attrArrayItem, attrArrayIndex) in detail.assistAttrArrayV2.attrValue" :key="'attrArray-' + attrArrayIndex">
              <div v-if="attrArrayItem.attrName">{{attrArrayItem.attrName}}</div>

              <ul>
                <li
                  v-for="(option, i) in attrArrayItem.values"
                  :key="option.id + '-' + i"
                  :class="{'select': attrIdArray[attrArrayIndex] === option.id, 'enabled': attrIfEnabled(option.id, attrArrayIndex)}"
                  @click="switchAttrArraySelect(option.name, option.id, attrArrayIndex)"
                >{{option.name}}</li>
              </ul>
            </div>
          </div>

          <div class="sku-weight" v-if="weightRange.length && !(+$route.query.type === 1)">
            <div>要求均重</div>

            <div>
              <ul>
                <li
                  v-for="(weight, weightIndex) in weightRange"
                  :key="weightIndex"
                  :class="{select: selectIndex3 === weightIndex}"
                  @click="changeWeightRange(weightIndex)"
                >{{weight.name + ' ' + weight.uom_name}}</li>
              </ul>
            </div>
          </div>

          <div class="sku-count" v-if="!(+$route.query.type === 1)">
            <div>购买数量</div>

            <div>
              <span :style="{opacity: count <= (minBuyQty ? Math.max(1, minBuyQty) : 1) ? .3 : 1}" @click="minus"></span>

              <input type="text" maxlength="6" v-model="count" @change="changeCount(count)" @blur="scrollToTop()">

              <span :style="{opacity: !(+stock) || count >= (maxBuyQty ? Math.min(+stock, maxBuyQty) : +stock) ? .3 : 1}" @click="add"></span>
            </div>
          </div>

          <div class="sku-count" v-if="+$route.query.type === 1">
            <div>购买数量</div>

            <div>
              <span :style="{opacity: count <= 1}" @click="minus"></span>

              <input type="text" maxlength="6" v-model="count" @change="changeCount(count)" @blur="scrollToTop()">

              <span :style="{opacity: count >= 9999}" @click="add"></span>
            </div>
          </div>

          <div v-if="+$route.query.type === 1">
            <div class="sku-count" v-for="(item, index) in detail.combList" :key="index">
              <div v-if="+item.isMainProduct === 1">
                {{item.name}}
                <span
                  style="margin-left: 10px;"
                  :style="{color: (+item.stock && +item.stock > 0) ? '#E33240' : '#32E340'}">
                  {{(+item.stock && +item.stock > 0) ? '有货' : '无货'}}
                </span>
              </div>

              <div v-else @click="goDetails(item)">
                {{item.name}}
                <span
                  style="margin-left: 10px;"
                  :style="{color: (+item.stock && +item.stock > 0) ? '#E33240' : '#32E340'}">
                  {{(+item.stock && +item.stock > 0) ? '有货' : '无货'}}
                </span>
              </div>

              <div>
                <span class="no-click"></span>

                <input disabled type="text" maxlength="6" v-model="item.totalCount" style="color: #ccc;">

                <span class="no-click"></span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- 购物车/快速下单规格样式 -->
      <div v-else-if="showId === 'sku2'" class="pop-up-sku">
        <div class="sku-head">
          <div
            class="format-img"
            v-lazy:background-image="allImgDomainName + detailTwo.itemPic"
          ></div>

          <div>
            <div>
              <span>{{price[0] || 0}}</span>.{{price[1] || '00'}} 元/{{details2.saleUnitName}}
            </div>

            <div v-if="!(minBuyQty === 0 && maxBuyQty === 0) || (limitFromItem && dayMaxQty > 0)">
              <span v-if="!(minBuyQty === 0 && maxBuyQty === 0)">每单限购</span>
              <span v-if="minBuyQty">最少 <span style="color: #E33240;">{{minBuyQty}}</span></span>
              <span v-if="minBuyQty && maxBuyQty">，</span>
              <span v-if="maxBuyQty">最多 <span style="color: #E33240;">{{maxBuyQty}}</span></span>
              <span v-if="limitFromItem && dayMaxQty > 0" style="display: inline-block;">今日限购：最多<span style="color: #E33240;">{{dayMaxQty}}</span></span>
            </div>

            <div><span :style="{color: (+stock2 && +stock2 > 0) ? '#E33240' : '#32E340'}">{{(+stock2 && +stock2 > 0) ? '有货' : '无货'}}</span></div>
          </div>
        </div>

        <div class="scroll-box">
          <!-- 辅助属性（旧） -->
          <!-- <div class="sku-label" v-if="labels2.length">
            <div v-for="(item, index) in [labels2]" :key="index + 'dad'">
              <div v-if="item.name">{{item.name}}</div>

              <ul>
                <li
                  v-for="(child, childIndex) in item"
                  :key="childIndex + 'son'"
                  :class="{select: selectIndex2[index] === childIndex}"
                  @click="labelSelect2(index, childIndex)"
                >{{child.name}}</li>
              </ul>
            </div>
          </div> -->

          <!-- 拆解多个辅助属性（新） -->
          <div class="sku-label" v-if="labels2.length">
            <div v-for="(attrArrayItem, attrArrayIndex) in labels2" :key="attrArrayIndex + 'dad'">
              <div v-if="attrArrayItem.attrName">{{attrArrayItem.attrName}}</div>

              <ul>
                <li
                  v-for="(child, childIndex) in attrArrayItem.values"
                  :key="childIndex + 'son'"
                  :class="{'select': attrIdArray2[attrArrayIndex] === child.id, 'enabled': attrIfEnabled2(child.id, attrArrayIndex)}"
                  @click="switchAttrArraySelect2(child.name, child.id, attrArrayIndex)"
                >{{child.name}}</li>
              </ul>
            </div>
          </div>

          <div class="sku-weight" v-if="weightRange.length">
            <div>要求均重</div>

            <div>
              <ul>
                <li
                  v-for="(weight, weightIndex) in weightRange"
                  :key="weightIndex"
                  :class="{select: selectIndex3 === weightIndex}"
                  @click="changeWeightRange(weightIndex)"
                >{{weight.name + ' ' + weight.uom_name}}</li>
              </ul>
            </div>
          </div>

          <div v-if="!details2 || JSON.stringify(details2) === '{}'" class="loading">
            <van-loading size="1.2267rem" />
          </div>
        </div>
      </div>

      <!-- 种猪已选样式 -->
      <div v-else-if="showId === 'sku3'" class="pop-up-sku">
        <div class="sku-head">
          <div
            class="format-img"
            v-lazy:background-image="allImgDomainName + detail.thumbnail"
          ></div>

          <div>
            <div>
              <span v-if="isZero === true">
                <span class="expect">敬请期待</span>
              </span>
              <span v-else-if="isZero === false">
                <span>{{price[0] || 0}}</span>
                .{{price[1] || '00'}} 元/{{detail.saleUnitName}}
              </span>

              <s>{{detail.referencePrice | keepTwoNum}} 元/{{detail.saleUnitName}}</s>
            </div>

          </div>
        </div>

        <div class="scroll-box">
          <div class="sku-count">
            <div>购买数量</div>

            <div>
              <span :style="{opacity: count <= (minBuyQty ? Math.max(1, minBuyQty) : 1) ? .3 : 1}" @click="minus"></span>

              <input type="text" maxlength="6" v-model="count" @change="changeCount(count)" @blur="scrollToTop()">

              <span :style="{opacity: !(+storeQty) || count >= (maxBuyQty ? Math.min(+storeQty, maxBuyQty) : +storeQty) ? .3 : 1}" @click="add"></span>
            </div>
          </div>
          <div class="sku-date"  @click="showDatePicker = true">
            <div class="title">发货日期：</div>
            <div class="content" @click="_changeDate">{{deliverDate || '请选择发货日期'}}</div>
          </div>
          <div class="sku-count">
            <div>剩余库存：</div>
            <div>{{storeQty}}</div>
          </div>
        </div>
      </div>
    </pop-up>
  </div>
</template>

<script>
import PopUp from '@/components/pop-up'
import { allImgDomainNameMixin } from '@/assets/js/mixin'
import { api } from '@/api'
import { scrollTop, getScrollTop } from '@/utils/common'

export default {
  name: 'pop-up-items',
  mixins: [allImgDomainNameMixin],
  components: {
    PopUp
  },
  props: {
    detail: {
      // 规格信息
      default: () => ({})
    },
    detailTwo: {
      // 规格信息2
      default: () => ({})
    },
    ownerId: {}, // 用于优惠券
    showId: {}, // 弹出类型
    title: {}, // 标题
    up: {
      // 弹出
      default: false
    },
    minBuyQty: { // 每单最小订货量
      type: Number,
      default: 0
    },
    maxBuyQty: { // 每单最大订货量
      type: Number,
      default: 0
    },
    dayMaxQty: { // 今日限购量
      type: Number,
      default: 0
    },
    limitFromItem: { // 是否是商品限购
      type: Boolean,
      default: false
    },
    weightRange: { // 重量范围
      type: Array,
      default: () => ([])
    },
    weightRangeIdSelected: {
      type: String,
      default: ''
    },
    disabledList: {}, // 用于disabled
    isQuickOrder: { // 判断是否为快速下单
      type: Boolean,
      default: false
    },
    sellDate: {
      type: String,
      default: null
    },
    deliverDate: {
      type: String,
      default: '请选择发货日期'
    },
    storeQty: {
      type: Number,
      default: 0
    }
  },
  data () {
    return {
      initPrice: 0, // 记录真实价格
      couponId: '',
      count: 1,
      coupon: [],
      stock: 0,
      // labelList: [],
      details2: {},
      names: [],
      // labels: [], // 商品详情辅助属性（旧）
      attrIdArray: [], // 商品详情属性选中id（新）
      attrGroupId: null, // 商品属性选中id（数组）对应的groupId
      attrGroupExpr: [], // 商品详情商品属性选中id（数组）对应的Expr装箱数量
      canSelected: [], // 每一次属性选择返回的可选属性值id集合
      selectIndex: [],
      stock2: 0,
      labelList2: [],
      names2: [],
      labels2: [],
      selectIndex2: [], // 购物车商品属性选择（旧）
      attrIdArray2: [], // 购物车商品属性选择（新）
      selectIndex3: -1, // 选中重量范围
      cacheDetail2: {},
      cacheAddress: {},
      locationList: [],
      btns: [],
      isZero: null
    }
  },
  computed: {
    price () {
      return this.formatPrice(this.initPrice, this.detail.referencePrice)
    },
    attrGroupId2 () { // 购物车商品属性选中id（数组）对应的groupId
      let attrGroup = (this.details2 && this.details2.assistAttrArrayV2 && JSON.parse(JSON.stringify(this.details2.assistAttrArrayV2.attrGroup))) || []
      this.attrIdArray2.forEach((v, i) => {
        attrGroup = attrGroup.filter(groupItem => groupItem.attrValIds.some(attrValId => attrValId === v))
      })
      return (attrGroup && attrGroup[0] && attrGroup[0].id) || null
    },
    filterItemModelList () {
      return this.detail.itemModelList.filter(v => v.name)
    }
  },
  watch: {
    disabledList (n) {
      if (this.btns.length) {
        this.disabledFun(n)
      }
    },
    up (n) {
      if (n && this.showId === 'sku2') {
        this.queryLabels2()
      }
    },
    detail (n) {
      if (n.id) {
        this.queryLabels()
        this.getItemAttrCombine([], '') // 获取商品属性约束和数量转换公式
      }
    },
    detailTwo: {
      handler (n) {
        if (n.itemId && n.itemId !== this.cacheDetail2.itemId) {
          this.cacheDetail2 = n
          // this.queryLabels2()
        }
      },
      deep: true
    },
    ownerId (n) {
      if (n !== this.cacheOwnerId) {
        this.cacheOwnerId = n
      }
    },
    // 设置按钮
    showId (n) {
      var btns
      switch (n) {
        case 'sku':
          btns = [
            {
              name: '加入购物车',
              color: 'yellow'
            },
            {
              name: '立即购买',
              color: 'red'
            }
          ]
          break

        case 'sku2':
          btns = [
            {
              name: '确认',
              color: 'red'
            }
          ]
          break

        case 'sku3':
          btns = [
            {
              name: '加入购物车',
              color: 'yellow'
            },
            {
              name: '立即购买',
              color: 'red'
            }
          ]
          break

        default:
          btns = [
            {
              name: '完成',
              color: 'red'
            }
          ]
      }

      this.btns = btns

      if (this.disabledList) {
        this.disabledFun(this.disabledList)
      }
    },
    weightRange () {
      if (this.weightRangeIdSelected) {
        this.selectIndex3 = this.weightRange.findIndex(
          item => item.id === this.weightRangeIdSelected
        )
        this.$emit('change-weightRange', this.weightRange[this.selectIndex3])
      } else {
        this.changeWeightRange(0)
      }
    },
    minBuyQty (val) {
      this.count = Math.max(1, val)
      if (+this.$route.query.type === 1) {
        this.combCount()
      }
    },
    deliverDate () { // 切换发货日期，初始化选择数量
      this.count = 1
    }
  },
  created () {
    // this.customerId = JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId

    if (this.detail.id) {
      this.queryLabels()
      this.getItemAttrCombine([], '') // 获取商品属性约束和数量转换公式
    }

    if (this.detailTwo.itemId) {
      this.queryLabels2()
    }
  },
  methods: {
    goDetails (item) {
      this.$router.push({ name: 'goodsDetails', query: { id: item.id } })
    },
    disabledFun (n) {
      this.btns.forEach((v, i) => {
        v.disabled = false
      })
      n.forEach((item, index) => {
        if (this.btns[item]) {
          this.btns[item].disabled = true
        }
      })
      this.btns.splice(0, this.btns.length, ...this.btns)
    },
    formatPrice (p, p2) {
      // let price = !p || p <= 0 ? p2 : p
      if (+this.$route.query.type !== 1) {
        let price = p
        return price ? price.toString().split('.') : []
      } else {
        return p
      }
    },
    // 输入数量
    changeCount (n) {
      if (+this.$route.query.type !== 1) { // 如果是普通商品
        if (!n || !(n - 0)) {
          this.count = 1
        } else {
          let max = this.maxBuyQty > 0 ? Math.min(+this.stock, this.maxBuyQty) : (this.showId === 'sku3' ? +this.storeQty : +this.stock)
          let min = this.minBuyQty > 0 ? Math.max(1, this.minBuyQty) : 1

          this.count = n > max ? max : (n < min ? min : n)
        }

        this.$emit('change-count', this.count)
      } else { // 如果是组合商品
        if (!n || !(n - 0)) {
          this.count = 1
        } else {
          let max = 9999
          let min = 1

          this.count = n > max ? max : (n < min ? min : n)
        }

        this.combCount()
        this.$emit('change-count', this.count)
      }
    },
    combCount () {
      this.detail.combList.forEach((v, i) => {
        v.totalCount = v.baseQty * this.count
        this.$set(this.detail.combList, i, v)
      })
    },
    // 加一
    add () {
      if (+this.$route.query.type !== 1) {
        let stock = this.showId === 'sku3' ? +this.storeQty : +this.stock
        let max = this.maxBuyQty > 0 ? Math.min(stock, this.maxBuyQty) : stock
        if (this.count < max) {
          this.count++
          this.$emit('change-count', this.count)
        }
      } else {
        let max = 9999
        if (this.count < max) {
          this.count++
          this.combCount()
          this.$emit('change-count', this.count)
        }
      }
    },
    // 减一
    minus () {
      if (+this.$route.query.type !== 1) {
        let min = this.minBuyQty > 0 ? Math.max(1, this.minBuyQty) : 1
        if (this.count > min) {
          this.count--
          this.$emit('change-count', this.count)
        }
      } else {
        let min = 1
        if (this.count > min) {
          this.count--
          this.combCount()
          this.$emit('change-count', this.count)
        }
      }
    },
    // 商品详情属性选择（旧）
    labelSelect (i, ci) {
      if (this.selectIndex[i] === ci) return

      // this.selectIndex[i] = ci;
      this.$set(this.selectIndex, i, ci)

      this.labelList[i] = this.labels[ci].id
      this.names[i] = this.labels[ci].name

      this.itemPriceStoreQuery(this.labelList[0])
    },
    // 商品详情切换（多个）属性选择
    switchAttrArraySelect (name, id, idx) {
      if (!this.attrIfEnabled(id, idx)) return

      let curSel = ''
      if (id === this.attrIdArray[idx]) {
        this.attrIdArray.splice(idx, 1, null)
        this.names.splice(idx, 1, null)
        curSel = ''
      } else {
        this.attrIdArray.splice(idx, 1, id)
        this.names.splice(idx, 1, name)
        curSel = id
      }

      this.getItemAttrCombine(this.attrIdArray.filter(v => v !== null), curSel).then(() => {
        this.$nextTick(() => {
          if (this.attrGroupId) {
            if (this.token) {
              // 查询商品价格及库存
              this.itemPriceStoreQuery(this.attrGroupId)
            } else {
              this.isZero = true
              this.$emit('change-label', this.names, [this.attrGroupId, ...this.attrGroupExpr], {}, this.isZero)
            }
          } else {
            this.$emit('change-labelList', [this.attrGroupId])
          }
        })
      })
    },
    // 商品详情判定是否可选
    attrIfEnabled (id, idx) {
      return this.canSelected.includes(id)
    },
    // 获取商品属性约束条件和数量转换公式
    getItemAttrCombine (selected, curSel) {
      let params = {
        selected,
        curSel,
        itemId: this.detail.id
      }
      return api.commonCall(params, 'getItemAttrCombine').then(res => {
        if (res.success) {
          this.canSelected = res.data.canSelected
          this.attrGroupId = (!this.attrIdArray.includes(null) && res.data.combineAttrId) || null
          this.attrGroupExpr = !this.attrIdArray.includes(null) && typeof +res.data.expr === 'number' ? [+res.data.expr, res.data.exprUom] : []
        } else {
          this.attrGroupId = null
          this.attrGroupExpr = []
        }
      })
    },
    // 购物车属性选择（旧）
    labelSelect2 (i, ci) {
      if (this.selectIndex2[i] === ci) return

      // this.selectIndex[i] = ci;
      this.$set(this.selectIndex2, i, ci)

      this.labelList2[i] = this.labels2[ci].id
      this.names2[i] = this.labels2[ci].name

      this.itemPriceStoreQuery2(this.labelList2[0])
    },
    // 购物车切换（多个）属性选择
    switchAttrArraySelect2 (name, id, idx) {
      if (!this.attrIfEnabled2(id, idx) || id === this.attrIdArray2[idx]) return

      this.attrIdArray2.splice(idx, 1, id)
      this.names2.splice(idx, 1, name)

      this.$nextTick(() => {
        if (this.attrGroupId2) {
          // 查询商品价格及库存
          this.itemPriceStoreQuery2(this.attrGroupId2)
        }
      })
    },
    // 购物车判定是否可选
    attrIfEnabled2 (id, idx) {
      let attrGroup = JSON.parse(JSON.stringify(this.details2.assistAttrArrayV2.attrGroup))
      this.attrIdArray2.forEach((v, i) => {
        if (idx === i) return true
        if (v) {
          attrGroup = attrGroup.filter(groupItem => groupItem.attrValIds.some(attrValId => attrValId === v))
        }
      })

      if (attrGroup.findIndex(item => item.attrValIds.some(attrValId => attrValId === id)) > -1) {
        return true
      } else {
        return false
      }
    },
    // 选择重量范围
    changeWeightRange (i) {
      if (this.selectIndex3 === i) return

      this.selectIndex3 = i

      if (this.weightRange.length) {
        this.$emit('change-weightRange', this.weightRange[this.selectIndex3])
      }
    },
    // 底部按钮
    btnClick (item) {
      if (this.showId === 'location') {
        this.$emit('change-location', this.cacheAddress)
      } else if (
        (this.showId === 'sku2' && this.stock2 === 0) ||
        (this.showId === 'sku' && this.stock === 0)
      ) {
        if (this.isQuickOrder) {
          if (this.detailTwo.isChoose === true) {
            this.$toast.fail('该商品库存为0，不能购买')
            return
          }
        } else {
          this.$toast.fail('该商品库存为0，不能购买')
          return
        }
      }

      let data = {}

      this.$emit('btn-click', { name: item.name, data })
    },
    // 隐藏弹出框
    hideSku () {
      this.$emit('hide')
    },
    // 选择优惠券
    selectCoupon (id) {
      this.$emit('change-coupon', id)
    },
    // 库存价格查询
    itemPriceStoreQuery (attrid) {
      if (+this.$route.query.type !== 1) { // 普通商品
        let params = {
          ownerId: this.detail.ownerId,
          itemId: this.detail.id,
          unitId: this.detail.saleUnitId,
          assistUnitId: this.detail.isAssistOrder
            ? this.detail.assistUnitId
            : null,
          assistattrId: '',
          date: this.detail.ownerType === '5' ? this.sellDate : '',
          customer: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
        }

        if (attrid && attrid !== '0') params.assistattrId = attrid

        api.itemPriceStoreQuery(params).then(res => {
          if (res.success) {
            let store = {}
            this.stock = store.stock = res.data.storeQty
            this.initPrice = res.data.itemPrice
            store.price = this.formatPrice(this.initPrice, this.detail.referencePrice)
            if (!store.price[0] || +store.price[0] < 0 || (+store.price[0] === 0 && +store.price[1] === 0)) {
              this.isZero = true
            } else {
              this.isZero = false
            }
            this.$emit('change-label', this.names, [attrid, ...this.attrGroupExpr], store, this.isZero)
          } else {
            this.isZero = true
            this.$emit('change-label', this.names, [attrid, ...this.attrGroupExpr], {}, this.isZero)
            res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
          }
        })
      } else { // 组合商品
        if (this.detail.combList) {
          let store = {}
          store.price = []
          let callArray = []
          this.detail.combList.forEach((v, i) => {
            let index = i
            let p = api.itemPriceStoreQuery({
              ownerId: this.detail.ownerId,
              itemId: v.id,
              unitId: v.saleUnit,
              assistUnitId: v.isAssistOrder ? v.assistUnit : null,
              assistattrId: v.assistattrId,
              customer: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
            }).then(res => {
              if (res.success) {
                v.price = res.data.itemPrice
                v.stock = res.data.storeQty
                this.$set(this.detail.combList, index, v)

                if (+v.isMainProduct === 1) { // 如果组合商品主品的库存为0，则不能加入购物车
                  this.stock = store.stock = v.stock
                }

                store.price.push(v)

                // 判断价格是否为零以便显示“敬请期待”
                if (!v.price || +v.price <= 0) {
                  this.isZero = true
                }
                this.$emit('change-label', this.names, [attrid, ...this.attrGroupExpr], store, this.isZero)
              } else {
                this.isZero = true
                this.$emit('change-label', this.names, [attrid, ...this.attrGroupExpr], {}, this.isZero)
                res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
              }
            })
            callArray.push(p)
          })
          Promise.all(callArray).then(() => {
            if (this.isZero === null) {
              this.isZero = false
            }
          })
        }
      }
    },
    // 购物车查询库存和真实价格
    itemPriceStoreQuery2 (attrid) {
      let params = {
        ownerId: this.details2.ownerId,
        itemId: this.details2.id,
        unitId: this.details2.saleUnitId,
        assistUnitId: this.details2.isAssistOrder
          ? this.details2.assistUnitId
          : null,
        assistattrId: '',
        customer: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
      }

      if (attrid && attrid !== '0') params.assistattrId = attrid

      api.itemPriceStoreQuery(params).then(res => {
        if (res.success) {
          let store = {}
          this.stock2 = store.stock = res.data.storeQty
          this.initPrice = res.data.itemPrice
          store.price = this.initPrice
          this.$emit('change-label', this.names2, [attrid], store)
        } else {
          this.$emit('change-label', this.names2, [attrid], {})
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    // 商品详情选择商品属性
    queryLabels () {
      // 如果有商品属性，默认选中第一个
      // if (
      //   this.detail.assistAttrArray &&
      //   this.detail.assistAttrArray.length > 0
      // ) {
      //   this.labels = this.detail.assistAttrArray
      //   this.labelList = []
      //   this.labelList.push(this.detail.assistAttrArray[0].id)
      //   this.names.push(this.detail.assistAttrArray[0].name)
      //   this.selectIndex[0] = 0
      // }

      if (this.detail.assistAttrArrayV2 && this.detail.assistAttrArrayV2.attrValue && this.detail.assistAttrArrayV2.attrValue.length > 0) {
        this.detail.assistAttrArrayV2.attrValue.forEach(() => {
          this.attrIdArray.push(null)
          this.names.push(null)
        })
      }

      if (this.token) {
        this.itemPriceStoreQuery(this.attrGroupId)
      } else {
        this.isZero = true
        this.$emit('change-label', this.names, [this.attrGroupId, ...this.attrGroupExpr], {}, this.isZero)
      }
    },
    // 购物车选择商品属性
    queryLabels2 () {
      this.details2 = {}
      this.labels2 = []

      let params = {
        id: this.detailTwo.itemId || this.detailTwo.id
      }

      api.queryGoodsDetail(params).then(res => {
        if (res.success) {
          this.details2 = res.data
          this.labelList2 = []
          this.names2 = []
          // this.selectIndex2 = []
          this.attrIdArray2 = []

          if (this.detailTwo.labelList || this.detailTwo.assistattrId || (this.detailTwo.atAttrMap && this.detailTwo.atAttrMap.attrId)) {
            this.labelList2 = JSON.parse(
              JSON.stringify(
                this.detailTwo.labelList ||
                (this.detailTwo.assistattrId && [this.detailTwo.assistattrId]) ||
                [this.detailTwo.atAttrMap && this.detailTwo.atAttrMap.attrId]
              )
            )

            // this.details2.assistAttrArray && this.details2.assistAttrArray.forEach((item, i) => {
            //   if (item.id === this.labelList2[0]) {
            //     this.names2.push(item.name)
            //     this.selectIndex2[0] = i
            //   }
            // })
            this.details2.assistAttrArrayV2 && this.details2.assistAttrArrayV2.attrGroup && this.details2.assistAttrArrayV2.attrGroup.forEach((attrGroupTtem, i) => {
              if (attrGroupTtem.id === this.labelList2[0]) {
                this.details2.assistAttrArrayV2.attrValue.forEach((attrValueItem, i) => {
                  attrGroupTtem.attrValIds.forEach(attrValId => {
                    let value = attrValueItem.values.find(itm => itm.id === attrValId)
                    if (value && value.id) {
                      this.names2.push(value.name)
                      this.attrIdArray2.push(value.id)
                    }
                  })
                })
              }
            })
          } else {
            this.labelList2 = []
            // if (this.details2.assistAttrArray) {
            //   this.labelList2.push(this.details2.assistAttrArray[0].id)
            //   this.names2.push(this.details2.assistAttrArray[0].name)
            // }
            // this.selectIndex2[0] = 0
            if (this.details2.assistAttrArrayV2 && this.details2.assistAttrArrayV2.attrGroup && this.details2.assistAttrArrayV2.attrGroup.length) {
              this.labelList2[0] = this.details2.assistAttrArrayV2.attrGroup[0].id
              this.details2.assistAttrArrayV2.attrValue.forEach((attrValueItem, i) => {
                let value = attrValueItem.values.find(itm => itm.id === this.details2.assistAttrArrayV2.attrGroup[0].id)
                if (value && value.id) {
                  this.names2.push(value.name)
                  this.attrIdArray2.push(value.id)
                }
              })
            }
          }

          // this.details2.assistAttrArray && (this.labels2 = this.details2.assistAttrArray)
          this.details2.assistAttrArrayV2 && this.details2.assistAttrArrayV2.attrValue && (this.labels2 = this.details2.assistAttrArrayV2.attrValue)

          this.itemPriceStoreQuery2()
        }
      })
    },
    // 消除键盘关闭后页面被撑起，导致按钮响应区域错位
    scrollToTop () {
      scrollTop(window, getScrollTop(), 0, 100)
    },
    // 修改种猪的发货日期
    _changeDate () {
      this.$emit('change-date', 1)
      this.hideSku()
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.pop-up {
  .format-img {
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .pop-up-coupon {
    .bg-img("~@/assets/images/coupon");
    .format-img;

    margin: 0 24px;
    margin-bottom: 40px;
    height: 204px;
    display: flex;

    > div {
      height: 100%;
      color: white;

      &:first-child {
        flex: 1;
        padding-left: 26px;
        overflow: hidden;

        > div {
          font-size: 22px;
          line-height: 1.8em;

          &:first-child {
            font-size: 36px;

            span {
              font-size: 56px;
              line-height: 1.8em;
            }
          }
        }
      }

      &:last-child {
        width: 200px;
        font-size: 28px;
        text-align: center;
        line-height: 204px;
      }
    }
  }

  .pop-up-params {
    // @{deep}.van-field {
    //   &:after {
    //     right: 30px;
    //   }
    // }
    padding: 0 24px;

    > div {
      .border-1px(rgb(232, 233, 235));
      display: flex;
      height: 96px;
      line-height: 96px;
      font-size: 28px;

      .title {
        min-width: 172px;
        color: #2e3033;
      }

      .content {
        // width: calc(100% - 172px);
        flex: 1;
        padding-left: 5px;
        color: #8e939a;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  .pop-up-location {
    padding: 0 24px;

    @{deep}.van-radio {
      .border-1px(rgb(232, 233, 235));
      padding: 36px 0;

      .van-radio__label {
        width: calc(100% - 60px);
        font-size: 26px;
        color: #2e3033;

        .address-top {
          display: inline-block;
          width: 100%;
          text-align: right;
          padding-bottom: 10px;

          > span {
            float: left;
            font-size: 30px;
          }
        }
      }

      .van-radio__icon {
        &.van-radio__icon--checked {
          .van-icon-success {
            color: rgba(0, 0, 0, 0);
            border: 0;
            background-color: transparent;

            &:before {
              content: " ";
              display: inline-block;
              width: 32px;
              height: 32px;
              box-sizing: border-box;
              border: 10px solid #e33240;
              border-radius: 50%;
            }
          }
        }

        .van-icon-success {
          color: rgba(0, 0, 0, 0);
          border: 0;
          background-color: transparent;

          &:before {
            content: " ";
            display: inline-block;
            width: 32px;
            height: 32px;
            border: 2px solid #c1c4ca;
            box-sizing: border-box;
            border-radius: 50%;
          }
        }
      }
    }
  }

  .pop-up-sku {
    padding: 0 24px;
    height: 100%;

    .scroll-box {
      // max-height: 700px;
      height: calc(100% - 180px);
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      .loading {
        margin: auto;
        width: 380px;
        height: 380px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .sku-head {
      .border-1px(rgb(232, 233, 235));
      min-height: 174px;
      position: relative;

      > div {
        &:first-child {
          width: 190px;
          height: 190px;
          border-radius: 10px;
          position: absolute;
          left: 0;
          top: -40px;
        }

        &:last-child {
          margin-left: 220px;

          > div {
            font-size: 26px;

            &:first-child {
              padding-top: 30px;
              color: #e33240;

              > span:not(.small) {
                font-size: 50px;
              }
            }

            s {
              display: block;
              color: rgba(142, 147, 154, 1);
              font-size: 24px;
            }

            &:nth-child(2), &:nth-child(3) {
              padding-top: 10px;
              color: #2e3033;
              &:last-child {
                padding-bottom: 10px;
              }
            }

            &:nth-child(4) {
              color: #E33240;
              font-size: 26px;
              padding: 10px 0;
              width: 100%;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
        }
      }
    }

    .sku-label {
      color: #2e3033;
      .border-1px;

      > div {
        padding: 20px 0;

        > div {
          line-height: 100%;
          font-size: 30px;
          padding: 10px 0;
        }

        > ul {
          overflow: hidden;

          > li {
            float: left;
            margin-top: 16px;
            margin-left: 10px;
            border-radius: 50px;
            font-size: 24px;
            color: #A9A9A9;
            background: rgb(251, 251, 251);
            border: 1px solid rgb(251, 251, 251);
            transition: 0.3s;
            height: 60px;
            box-sizing: border-box;
            padding: 0 50px;
            line-height: 60px;

            &.enabled {
              color: #2e3033;
              background: rgb(245, 245, 245);
              border: 1px solid rgb(245, 245, 245);
            }

            &.select {
              border: 1px solid #e33240;
              color: #e33240;
            }
          }
        }
      }
    }

    .sku-count,
    .sku-date {
      .border-1px;
      height: 130px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      > div {
        &:first-child {
          color: #2e3033;
          font-size: 30px;
        }

        &:last-child {
          overflow: hidden;

          > span,
          > input {
            float: left;
            height: 50px;
          }

          > input {
            width: 110px;
            outline: none;
            font-size: 32px;
            border: 0;
            text-align: center;
            color: #2e3033;
            margin: 0 10px;
          }

          > span {
            width: 50px;
            position: relative;

            &:not(.no-click) {
              &:first-child {
                &:after {
                  content: " ";
                  position: absolute;
                  width: 22px;
                  height: 4px;
                  background: #5e6166;
                  border-radius: 6px;
                  top: 0;
                  left: 0;
                  bottom: 0;
                  right: 0;
                  margin: auto;
                }
              }

              &:last-child {
                &:after,
                &:before {
                  content: " ";
                  position: absolute;
                  left: 0;
                  top: 0;
                  bottom: 0;
                  right: 0;
                  margin: auto;
                  border-radius: 6px;
                  background: #5e6166;
                }

                &:after {
                  width: 4px;
                  height: 22px;
                }

                &:before {
                  height: 4px;
                  width: 22px;
                }
              }
            }
          }
        }
      }
    }

    .sku-weight {
      .border-1px;
      min-height: 130px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      > div {
        &:first-child {
          color: #2e3033;
          font-size: 30px;
          flex: 1;
        }

        &:last-child {
          overflow: hidden;
          flex: 4;
        }

        > ul {
          margin: 10px 0;
          overflow: hidden;

          > li {
            float: left;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 20px;
            border-radius: 50px;
            font-size: 24px;
            background: rgb(245, 245, 245);
            border: 1px solid rgb(245, 245, 245);
            transition: 0.3s;
            height: 60px;
            box-sizing: border-box;
            padding: 0 35px;
            line-height: 60px;

            &.select {
              border: 1px solid;
              color: #e33240;
            }
          }
        }
      }
    }
  }
}
</style>
