<template>
  <div class="goods-details">
    <div class="head">
      <!-- 滚动前显示 -->
      <div class="navbar1" :style="{opacity}">
        <van-nav-bar left-arrow @click-left="onClickLeft">
          <i class="van-shopcart2" slot="right" @click-right="onClickRight(1)">
            <i v-if="shopCount">{{shopCount}}</i>
          </i>
          <i class="van-ver-menu2" slot="right" @click-right="onClickRight(2)"></i>
        </van-nav-bar>
      </div>

      <!-- 滚动后显示 -->
      <tab-navbar
        :count="shopCount"
        ref="navbar"
        class="navbar2"
        :tabList="tabList"
        :style="{opacity: 1 - opacity}"
        :cartIcon="false"
        @on-tab="toggleTab"
        @click-left="onClickLeft"
        @click-right="onClickRight"
      >
      </tab-navbar>

      <!-- <van-nav-bar title="产品详情" left-arrow @click-left="onClickLeft"/> -->
    </div>

    <div id="content" class="van-padding-bottom content">
      <!-- 商品 -->
      <div v-show="tabIndex === 0">
        <!-- 轮播 -->
        <div class="swiper-container">
          <my-video
            ref="myVideo"
            class="my-video"
            v-if="detail.videoList && detail.videoList[0]"
            v-show="showVideo"
            :video-url="detail.videoList[0]"
            @pause="showVideo = false"
          ></my-video>

          <van-swipe :width="swiperW" :height="swiperH" @change="onChange" v-if="detail.pictureList && detail.pictureList.length">
            <van-swipe-item v-for="(item, index) in detail.pictureList" :key="index + 'swipe'">
              <div
                class="format-img"
                v-lazy:background-image="{ src: allImgDomainName + item, error: require('@/assets/images/default/wens-bg.jpg') }"
                @click="viewPicDetail(index,detail.pictureList)"
              ></div>

              <!-- 播放按钮 -->
              <div
                class="begin-video-box van-bottom"
                v-if="detail.videoList && detail.videoList[0] && index === 0"
                @click.stop="playVideo"
              >视频
              </div>
            </van-swipe-item>

            <div class="custom-indicator" slot="indicator">
              {{ current + 1 }}/{{(detail.pictureList && detail.pictureList.length) ?
              detail.pictureList.length : 0}}
            </div>
          </van-swipe>
          <div v-else-if="detail.pictureList && !detail.pictureList.length">
            <img v-lazy="require('@/assets/images/default/wens-bg.jpg')" :width="swiperW" :height="swiperH">
          </div>
        </div>
        <!-- 轮播结束 -->

        <div style="background: #F2F1F1;position: relative;z-index: 1">
          <div class="under-the-swipe">
            <p class="title">{{detail.name}}</p>
            <p class="price" v-if="detail.itemPrice">售&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;价：<span><span class="text-red-big">{{detail.itemPrice | keepTwoNum}}</span>元/{{detail.baseUnitName}}</span></p>
            <p class="price" v-else>售&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;价：<span><span class="text-red-big">敬请期待</span></span></p>
            <div class="goods-details-content">
              <div class="goods-details-item">
                <div class="item-label">品种：</div>
                <div class="item-text">{{detail.wenspzName}}</div>
              </div>
              <div class="goods-details-item">
                <div class="item-label">发布组织：</div>
                <div class="item-text">{{detail.ownerName}}</div>
              </div>
              <!-- <div class="goods-details-item">
                <div class="item-label">群体：</div>
                <div class="item-text">{{qtTypeText(detail.wensqt)}}</div>
              </div> -->
              <div class="goods-details-item">
                <div class="item-label">规格：</div>
                <div class="item-text">{{detail.modelNum}}</div>
              </div>
              <div class="goods-details-item">
                <div class="item-label">保质期：</div>
                <div class="item-text">{{detail.wensqualityguarantee}}天</div>
              </div>
              <div class="goods-details-item">
                <div class="item-label">质量报告：</div>
                <div class="item-text blue" v-if="detail.wensqualityreport"><a :href="allImgDomainName + detail.wensqualityreport" download>点击下载 &gt;</a></div>
                <div class="item-text" v-else>暂无数据</div>
              </div>
              <div class="goods-details-item">
                <div class="item-label">学习介绍：</div>
                <div class="item-text blue"><a :href="detail.wenslearning">点击跳转 &gt;</a></div>
              </div>
            </div>
          </div>

          <div class="list">
            <div class="item active" @click="showPopUp('sku3')">
              <div class="title">已选：</div>
              <div class="content line-feed" v-if="!(+$route.query.type === 1)">
                {{namesText.concat(selectedWeightRange.name ? selectedWeightRange.name + ' ' + selectedWeightRange.uom_name : [],
                  count).join('，')}} {{detail.isAssistOrder ? detail.assistUnitName : detail.saleUnitName}}
                {{labelList2 && labelList2[1] ? '，' + count * labelList2[1] + ' ' + labelList2[2] : ''}}
              </div>
              <div class="content" v-else>
                {{([]).concat(selectedWeightRange.name ? selectedWeightRange.name + ' ' + selectedWeightRange.uom_name
                : [], detail.combList ? detail.combList.map(v => v.baseQty * count + (v.isAssistOrder ? v.assistUnitName : v.saleUnitName) + v.name) : []).join('，')}}
              </div>
              <div class="arrow">
                <van-icon name="arrow"/>
              </div>
            </div>

            <div class="items">
              <div class="item active" @click="changeDeliverDate(0)">
                <div class="title">发货日期：</div>
                <div class="content">{{deliverDate}}</div>
                <div class="arrow">
                  <van-icon name="arrow"/>
                </div>
              </div>
              <van-calendar
                v-model="showDatePicker"
                title="发货日期选择"
                color="#f59900"
                :show-confirm="false"
                :round="false"
                :min-date="minDeliverDate"
                :max-date="maxDeliverDate"
                @confirm="onDateConfirm"
              />
              <p class="tip">发货日期与到货日期2-3天的物流时间。</p>
            </div>

            <div class="item active">
              <div class="title">剩余库存：</div>
              <div class="content">
                <span class="translate">{{detail.storeQty}}</span>
              </div>
            </div>
          </div>

          <!-- 评价列表 -->
          <div class="evaluate-list">
            <div class="title">评价（{{evaluate.count || 0}}）</div>

            <ul v-if="evaluate.list">
              <li
                v-for="(item, index) in JSON.parse(JSON.stringify(evaluate.list.slice(0, 3)))"
                :key="index + 'eva'"
              >
                <div>
                  <span
                    class="format-img"
                    v-lazy:background-image="{ src: item.usrImg && JSON.parse(item.isAnonymity) === false ? allImgDomainName + item.usrImg : '',
                      error: require('@/assets/images/default_profile@2x.png') }"
                  ></span>

                  <span>{{JSON.parse(item.isAnonymity) ? (item.userName && `${item.userName[0]}**`) : item.userName}}</span>

                  <span style="flex: 1;text-align: right;">
                    <van-rate :value="parseInt(item.evaluateGrade)" :size="13" :readonly="true"/>
                  </span>
                </div>

                <div>{{item.evaluateContent}}</div>

                <div
                  v-if="item.labelList && item.labelList.length"
                >{{item.labelList ? item.labelList.map(v => v.name).join(', ') : ''}}
                </div>
              </li>
            </ul>

            <div class="allEvaluate" v-if="evaluate.count">
              <div class="active" @click="checkAll">查看全部评价</div>
            </div>
          </div>
          <!-- 评价列表结束 -->

          <!-- 封面图片 -->
          <div class="cover-img"></div>

          <!-- 产品详情 -->
          <van-divider>产品详情</van-divider>
          <div class="product-introduce" v-html="detail.descriptionTag"></div>
        </div>
      </div>
      <!-- 商品结束 -->
      <!-- 评价 -->
      <div v-show="tabIndex === 2">
        <evaluate
          ref="evaluate"
          :total="evaluate.totalNumber"
          :evaluateScore="evaluateScore"
          :data="evaluate"
          :shop-name="shopInfo.storeName || shopInfo.name"
          :requestLoading="requestLoading"
          @selectLabel="selectLabel"
          @onRefresh="onRefresh"
          @onLoad="onLoad"
          @viewPic="viewPic"
          @viewVideo="viewVideo"
        ></evaluate>
      </div>
      <!-- 评价结束 -->
      <!-- 养户实拍 -->
      <!-- <div v-show="tabIndex === 2">
        <goods-live-shot :data="farmersList" :materialId="materialId" :ownerId="detail.ownerId"></goods-live-shot>
      </div> -->
      <!-- 养户实拍结束 -->

      <!-- 详情 -->
      <div v-show="tabIndex === 1">
        <div class="van-padding-top product-introduce" v-html="detail.descriptionTag"></div>
      </div>
      <!-- 详情结束 -->
    </div>

    <!-- 固定在底部那个按钮集合 -->
    <div class="van-footer">
      <van-goods-action>
        <van-goods-action-icon
          icon-class="van-home"
          text="首页"
          @click.stop="goIndex()"
        />
        <van-goods-action-icon
          :icon-class="isCollect ? 'van-collected' : 'van-collect'"
          :text="isCollect ? '已收藏' : '收藏'"
          @click.stop="collect"
        />
        <van-goods-action-icon
          icon-class="van-shoppingcart"
          text="购物车"
          :badge="shopCount"
          @click.stop="goShoppingCart()"
        />
        <van-goods-action-button class="van-addShop" text="加入购物车" :disabled="token && (detail.restrict === 0 || !detail.storeQty || detail.storeQty < minBuyQty)" :loading="addCartBtnLoading" @click.stop="addCart"/>
        <van-goods-action-button class="van-buyNow" text="立即购买" :disabled="token && (detail.storeQty === 0)" :loading="buyNowBtnLoading" @click.stop="buyNow"/>
      </van-goods-action>
    </div>

    <!-- 弹出框 -->
    <pop-up-items
      ref="popup"
      :detail="detail"
      :ownerId="detail.ownerId"
      :showId="showId"
      :up="up"
      :title="popUpTitle"
      :minBuyQty="minBuyQty"
      :maxBuyQty="maxBuyQty"
      :dayMaxQty="dayMaxQty"
      :limitFromItem="limitFromItem"
      :weightRange="weightRange"
      :disabledList="token && errText && showId === 'sku'? [0, 1] : []"
      :deliverDate="deliverDate"
      :storeQty="detail.storeQty"
      @hide="hideSku"
      @btn-click="btnClick"
      @change-count="changeCount"
      @change-location="changeLocation"
      @change-date="changeDeliverDate"
    ></pop-up-items>
    <!-- 还有一个pop-up父组件，只有弹出效果 -->
    <!-- ref：用于修改地址，this.$refs.popup.cacheAddress -->
    <!-- detail：商品数据 -->
    <!-- showId：弹出的类型 -->
    <!-- up：是否弹出 -->
    <!-- hide：点击蒙层时触发 -->
    <!-- btn-click：底部按钮，可通过返回对象的name判断 -->
    <!-- change-count：数量改变，返回数字 -->
    <!-- change-label：选择label触发，初始化会触发一次 -->
    <!-- change-location：选择地址触发，初始化会触发一次 -->
    <!-- change-date：选择发货日期触发，初始化会触发一次 -->
    <!-- 弹出框结束 -->

    <!-- "更多"下拉菜单 -->
    <drop-down-menu
      :show="showDropDownMenu"
      :data="dropDownMenuList"
      @hide="hide"
    ></drop-down-menu>

    <!-- 引导用户点击右上角进行分享操作 -->
    <div class="guideShare-wrap" v-show="guideShare" @click.stop="guideShare = false">
      <img src="@/assets/images/groupbuying/arrows.png" alt="" class="arrows-img"/>
      <p>点击右上角按钮，进行分享吧！</p>
    </div>
  </div>
</template>

<script>
import TabNavbar from '@/components/tab-navbar'
import PopUpItems from '@/components/pop-up/pop-up'
import MyVideo from '@/views/goods-details/video'
import Evaluate from '@/components/goods-details/evaluate'
import DropDownMenu from '@/components/drop-down-menu'
import { allImgDomainNameMixin, WXMixin } from '@/assets/js/mixin'
import { api } from '@/api'
import { ImagePreview } from 'vant'
import { mapGetters } from 'vuex'
import { zero, getCookie, isWeiXin, getDateFromToday } from '@/utils/common'
// import { Calendar } from 'vant'

export default {
  name: 'goods-details',
  mixins: [allImgDomainNameMixin, WXMixin],
  inject: ['reload'],
  components: {
    TabNavbar,
    PopUpItems,
    Evaluate,
    MyVideo,
    DropDownMenu
  },
  data () {
    return {
      tabList: [{ title: '商品' }, { title: '详情' }, { title: '评价' }],
      evaluateScore: {},
      evaluateType: '1', // 1:全部 2图片 3追评 4 好评 5 中评 6 差评
      evaluateTagList: [],
      price: null, // 价格
      isZero: null, // 组合商品售价是否含有零的
      swiperH: 0, // 轮播的高
      swiperW: 0, // 轮播的宽
      up: false,
      showBase: true,
      opacity: 1,
      baseOpacity: 1,
      isCollect: false,
      detail: {},
      current: 0, // 图片下标
      shopInfo: {},
      evaluate: {},
      address: {},
      couponId: '',
      showId: '',
      labelList2: [], // 规格
      names: [],
      count: 1, // 数量
      tabIndex: 0, // tab坐标
      cacheScrollList: [],
      bigImg: '',
      swipeScroll: 0,
      popUpTitle: '',
      isConcern: false,
      pageSize: 10,
      pageNo: 1,
      toBottomFlag: false,
      start: 0,
      maxBuyQty: 0, // 每单最多限购(0-不限)
      minBuyQty: 0, // 每单最少限购(0-不限)
      dayMaxQty: 0, // 今日限购
      limitFromItem: false, // 是否是商品限购
      specification: {}, // 预测均重
      weightRange: [], // 重量范围
      selectedWeightRange: {}, // 选中重量范围
      showStock: null, // 显示剩余库存
      showVideo: false, // 显示视频
      showDropDownMenu: false, // 显示“更多”下拉菜单
      dropDownMenuList: [ // “更多”下拉菜单列表
        {
          subTitle: '首页',
          path: '/',
          imgUrl: require('../../components/tabbar/icon_home@3x.png')
        }
      ],
      requestLoading: false, // 接口请求加载动画
      loadingToast: null, // 页面加载动画
      addCartBtnLoading: false, // 加入购物车按钮加载动画
      buyNowBtnLoading: false, // 立即购买按钮加载动画
      guideShare: false, // 引导用户进行分享遮罩层
      deliverDate: null, // 发货日期
      showDatePicker: false, // 显示日期选择器
      isShowPopUp: false, // 是否再次显示组件
      minDeliverDate: new Date(), // 发货日期开始日期
      maxDeliverDate: new Date(getDateFromToday(-1)) // 发货日期结束日期
    }
  },
  computed: {
    ...mapGetters(['allChannel']),
    // 购物车数量
    shopCount () {
      return this.$store.state.shoppingCartCount
    },
    // 不可购提示
    errText () {
      let text = ''

      if (this.detail.restrict === 0) {
        text = '此商品不可销'
      } else if (this.detail.storeQty !== null && +this.detail.storeQty <= 0) {
        text = '库存为0，不能购买'
      } else if (this.detail.storeQty !== null && +this.detail.storeQty < this.minBuyQty) {
        text = '库存不足，不能购买'
      }

      return text
    },
    namesText () {
      return this.names.map(v => v === null ? '请选择' : v)
    }
  },
  watch: {
    minBuyQty (val) {
      this.count = Math.max(1, val)
    },
    $route (newV, oldV) {
      this.reload()
    }
  },
  created () {
    let goodsId = this.$route.query.id
    if (!goodsId) {
      this.$router.push({ path: '/' })
      return
    }

    this.loadingToast = this.$toast.loading({
      duration: 0, // 持续展示 toast
      overlay: true, // 是否显示背景遮罩层
      message: '加载中...'
    })

    this.scaleSwiper()
    window.onresize = this.scaleSwiper
    this.listenScroll()
    this.queryGoodsDetail(goodsId)

    // 记录位置
    if (this.$route.params.keepaLiveFlag) {
      var pageInfo = JSON.parse(sessionStorage.getItem('evaluateInfo'))
      sessionStorage.setItem('evaluateInfo', null)
      this.evaluate = pageInfo.evaluate
      this.pageNo = pageInfo.pageNo
      this.evaluateType = pageInfo.evaluateType
      this.$nextTick(() => {
        this.cacheScrollList[2] = +pageInfo.scrollTop
        this.$refs.navbar.active = 2
        this.$refs.evaluate.selected = pageInfo.selected
        this.toggleTab(2)
      })
    } else {
      this.queryItemEvaluate() // 获取商品评价
    }

    if (this.$store.state.intoPage === 0 && this.token) { // 页面手动刷新
      let param = {
        page: 1,
        pageSize: 999,
        isGetCountOnly: 1,
        customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
      }
      if (this.$store.state.intoPage === 0 && getCookie('selectedChannel')) {
        param.owner = JSON.parse(getCookie('selectedChannel')).channelId
      } else if (this.$store.state.intoPage === 1 && this.$store.state.channel.currentChannel && this.$store.state.channel.currentChannel.channelId) {
        param.owner = this.$store.state.channel.currentChannel.channelId
      }
      api.queryCart(param).then(res => {
        if (res.success) {
          this.$store.dispatch('setShoppingCartCount', res.data.count)
        }
      })
    }
  },
  methods: {
    hide () {
      this.showDropDownMenu = false
    },
    viewVideo (path) {
      var scrollTop = document.querySelector(
        '#content'
      ).scrollTop

      // 记录位置
      sessionStorage.setItem('evaluateInfo', JSON.stringify({
        evaluate: this.evaluate,
        pageNo: this.pageNo,
        selected: this.$refs.evaluate.selected,
        evaluateType: this.evaluateType,
        scrollTop
      }))

      let { id, type, combItemId } = this.$route.query

      this.$router.push({
        path: '/videoPage',
        query: {
          id,
          type,
          combItemId,
          path
        }
      })
    },
    onLoad () {
      this.pageNo++
      this.queryItemEvaluate()
    },
    onRefresh () {
      this.evaluate.list.splice(0)
      this.pageNo = 1
      this.queryItemEvaluate()
    },
    // 控制轮播宽高
    scaleSwiper () {
      this.swiperW = window.innerWidth
      this.swiperH = window.innerHeight / 2
    },
    // 播放视频
    playVideo () {
      this.showVideo = true
      this.$nextTick(() => {
        this.$refs.myVideo.$refs.myVideoRef.goOnPlay()
      })
    },
    // 立即购买
    buyNow () {
      if (!this.deliverDate) {
        this.$toast('请选择发货日期')

        setTimeout(() => {
          this.orderSaveFlag = false
        }, 1000)
        return
      }
      if (this.token) {
        for (let i = 0; i < this.$refs.popup.attrIdArray.length; i++) {
          if (!this.$refs.popup.attrIdArray[i]) {
            let attrValue = this.detail.assistAttrArrayV2.attrValue
            this.$toast('请选择商品属性【' + attrValue[i].attrName + '】')
            return
          }
        }

        if (!this.validAddCart()) return

        let params = this.formatParams('placeOrder')

        this.buyNowBtnLoading = true

        api.saveGoods(params).then(res => {
          this.buyNowBtnLoading = false
          if (res.success) {
            this.$router.push({
              path: '/breedingPigPlaceOrder',
              query: {
                isQuickOrder: '1',
                date: this.detail.ownerType === '5' ? this.sellDate : '',
                deliverDate: this.deliverDate
              }
            })
          } else {
            res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
          }
        })
      } else {
        this.$toast('请先登录')
        this.$router.push({ path: '/loginRandom', query: { redirect: this.$route.fullPath } })
      }
    },
    // 验证是否可加入购物车
    validAddCart () {
      if (this.detail.restrict === 0) {
        this.$toast.fail('此商品不可销')
        return false
      }

      if (+this.$route.query.type !== 1) {
        if (!this.detail.storeQty || +this.detail.storeQty <= 0) {
          this.$toast.fail('库存为0，不能购买')
          return false
        }

        if (this.detail.storeQty < this.minBuyQty) {
          this.$toast.fail('库存不足，不能购买')
          return false
        }
      }

      return true
    },
    // 初始化参数
    formatParams (placeOrder) {
      const params = placeOrder ? {
        isQuickOrder: '1',
        list: []
      } : {
        list: []
      }

      if (!(+this.$route.query.type === 1)) { // 如果是普通商品
        let item = {
          ownerId: this.detail.ownerId,
          itemId: this.detail.id,
          isChoose: '1',
          customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
        }

        item.wtRangeId = this.selectedWeightRange && this.selectedWeightRange.id
        item.unitId = this.detail.saleUnitId + ''
        item.assistUnitId = this.detail.isAssistOrder ? this.detail.assistUnitId + '' : null

        if (this.detail.isAssistOrder) {
          item.assistQty = this.count
        } else {
          item.qty = this.count
        }

        if (this.labelList2[0] || typeof this.labelList2[0] === 'number') {
          item.assistattrId = this.labelList2[0] + ''
        }

        params.list.push(item)
      } else { // 如果是组合商品
        params.list.push({
          isChoose: '1',
          ownerId: this.detail.ownerId,
          combItemId: this.$route.query.combItemId,
          entryType: '1',
          qty: this.detail.storeQty,
          customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
        })
        this.detail.combList.forEach(v => {
          let item = {
            ownerId: this.detail.ownerId,
            itemId: v.id,
            isChoose: '1',
            entryType: '2',
            combItemId: this.$route.query.combItemId,
            combItemEntryId: v.combEntryId,
            combBaseQty: v.baseQty,
            customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
          }

          item.unitId = v.saleUnit + ''
          item.assistUnitId = v.isAssistOrder ? v.assistUnit + '' : null

          if (v.isAssistOrder) {
            item.assistQty = v.baseQty * this.count
          } else {
            item.qty = v.baseQty * this.count
          }

          if (v.assistattrId && v.assistattrId !== ' ') item.assistattrId = v.assistattrId

          params.list.push(item)
        })
      }

      return params
    },
    // 加入购物车
    addCart () {
      if (this.token) {
        for (let i = 0; i < this.$refs.popup.attrIdArray.length; i++) {
          if (!this.$refs.popup.attrIdArray[i]) {
            let attrValue = this.detail.assistAttrArrayV2.attrValue
            this.$toast('请选择商品属性【' + attrValue[i].attrName + '】')
            return
          }
        }

        if (!this.validAddCart()) return

        let params = this.formatParams()

        this.addCartBtnLoading = true

        api.saveGoods(params).then(res => {
          this.addCartBtnLoading = false
          if (res.success) {
            this.$toast.success('加入购物车成功')

            let param = {
              page: 1,
              pageSize: 999,
              isGetCountOnly: 1,
              customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
            }
            if (this.$store.state.intoPage === 0 && getCookie('selectedChannel')) {
              param.owner = JSON.parse(getCookie('selectedChannel')).channelId
            } else if (this.$store.state.intoPage === 1 && this.$store.state.channel.currentChannel && this.$store.state.channel.currentChannel.channelId) {
              param.owner = this.$store.state.channel.currentChannel.channelId
            }
            api.queryCart(param).then(res => {
              if (res.success) {
                this.$store.dispatch('setShoppingCartCount', res.data.count)
              }
            })
          } else {
            res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
          }
        })
      } else {
        this.$toast('请先登录')
        this.$router.push({ path: '/loginRandom', query: { redirect: this.$route.fullPath } })
      }
    },
    // 去首页
    goIndex () {
      this.$router.push('/')
    },
    // 去店铺
    goShoppingCart () {
      this.$router.push('/shoppingCart')
    },
    // 查看全部评价
    checkAll () {
      this.$refs.navbar.active = 2
      this.toggleTab(2)
    },
    // 返回
    onClickLeft () {
      if (window.history.length > 1) {
        this.$router.go(-1)
      } else {
        this.$router.push('/')
      }
    },
    onClickRight (i) {
      if (i === 1) { // 购物车按钮
        this.$router.push({
          path: '/shoppingCart'
        })
      } else if (i === 2) { // "更多"下拉菜单
        this.showDropDownMenu = true
      }
    },
    // 切换tab
    toggleTab (index) {
      this.cacheScrollList[this.tabIndex] = document.querySelector(
        '#content'
      ).scrollTop

      if (index === 0) {
        this.tabIndex = index
        this.listenScroll()
      } else {
        this.removeScrollEvent()
        this.tabIndex = index
      }

      if (index === 1) {
        this.queryCmpResult(this.$route.query.id) // 获取综合评价项
      } else if (index === 2) {
      }

      this.$nextTick(() => {
        document.querySelector('#content').scrollTop = this.cacheScrollList[index] || 0
      })
    },
    // 修改数量
    changeCount (count) {
      this.count = count
    },
    // 选择配送地址
    changeLocation (address) {
      this.address = address
    },
    // 底部按钮
    btnClick (item) {
      if (this.showId === 'coupon' && item.name === '完成') {
        this.hideSku()
      } else if (this.showId === 'params' && item.name === '完成') {
        this.hideSku()
      } else if (this.showId === 'location' && item.name === '完成') {
        this.hideSku()
      } else if (this.showId === 'sku3' && item.name === '加入购物车') {
        this.addCart()
      } else if (this.showId === 'sku3' && item.name === '立即购买') {
        this.buyNow()
      }
    },
    // 弹出框
    showPopUp (id, title) {
      if (id === 'location') {
        this.$refs.popup.cacheAddress = this.address
      }
      this.showId = id
      this.up = true
      this.popUpTitle = title
    },
    // 隐藏弹出框
    hideSku () {
      this.up = false
    },
    // 滚动监听
    listenScroll () {
      let baseDistance = window.innerHeight / 2 // 透明度从0到1的距离

      this.$nextTick(() => {
        this.scrollStyle(baseDistance)

        // let h1 = (document.querySelector('#content').scrollHeight - window.innerHeight) / baseDistance;
        // setTimeout(() => {
        // }, 2000)

        // this.opacity = this.baseOpacity = h1 < 0 ? 0 : h1 > 1 ? 1 : h1;

        this.toBottomFlag = false

        document.querySelector('#content').onscroll = () => {
          this.scrollStyle(baseDistance)
        }
      })
    },
    // 滚动时的效果
    scrollStyle (baseDistance) {
      let scroller = document.querySelector('#content')
      let scrollTop = scroller.scrollTop
      let base = this.baseOpacity - scrollTop / baseDistance
      // let h2 = window.innerWidth - scrollTop;

      this.opacity = base < 0 ? 0 : base > this.baseOpacity ? this.baseOpacity : base

      if (scrollTop + scroller.offsetHeight + 1 >= scroller.scrollHeight) {
        if (!this.toBottomFlag) {
          document.addEventListener('touchstart', this.touchstart, false)
        }
      }
      // this.swipeScroll = -(window.innerWidth - (h2 < 0 ? 0 : h2 > window.innerWidth ? window.innerWidth : h2)) / 2;
      // this.$refs.swiper.style.height = (h2 < 0 ? 0 : h2 > window.innerWidth ? window.innerWidth : h2) + 'px';
    },

    touchstart (es) {
      this.toBottomFlag = true
      this.start = es.touches[0].clientY

      document.addEventListener('touchend', this.touchend, false)
      document.addEventListener('touchmove', this.touchmove, false)
    },

    touchmove (em) {
      let move = em.touches[0].clientY

      if (this.start - move > 10) {
        // this.$refs.navbar.active = 1
        // this.toggleTab(1)
        this.touchend()
      } else if (this.start - move < 0) {
        this.touchend()
      }
    },

    touchend () {
      document.removeEventListener('touchstart', this.touchstart, false)
      document.removeEventListener('touchmove', this.touchmove, false)
      document.removeEventListener('touchend', this.touchend, false)
      this.toBottomFlag = false
    },

    // 移除监听
    removeScrollEvent () {
      this.opacity = 0
      document.querySelector('#content').onscroll = null
    },

    // 监听轮播
    onChange (index) {
      this.current = index
    },

    // 收藏
    collect () {
      if (this.token) {
        if (!this.isCollect) {
          let params = {
            itemList: [{
              itemId: this.detail.id,
              itemType: this.$route.query.type,
              combItemId: this.$route.query.combItemId
            }]
          }

          api.commonCall(params, 'itemCollectAdd').then(res => {
            if (res.success) {
              this.isCollect = true
            } else {
              res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
            }
          })
        } else {
          let params = {
            itemIdList: [],
            combIdList: []
          }
          if (!(+this.$route.query.type === 1)) { // 如果是普通商品
            params.itemIdList.push(this.detail.id)
          } else { // 如果是组合商品
            params.combIdList.push(this.$route.query.combItemId)
          }
          api.commonCall(params, 'itemCollectDel').then(res => {
            if (res.success) {
              this.isCollect = false
            } else {
              res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
            }
          })
        }
      } else {
        this.$toast('请先登录')
        this.$router.push({ path: '/loginRandom', query: { redirect: this.$route.fullPath } })
      }
    },

    selectCoupon (id) {
      this.couponId = id
    },

    // 关注店铺
    concern () {
      if (this.token) {
        if (this.isConcern) {
          let params = {
            ownerIdList: [this.detail.ownerId]
          }

          this.$dialog.confirm({
            title: '提示',
            message: '确定要取消关注该店铺？'
          }).then(() => {
            api.commonCall(params, 'shopConcernDel').then(res => {
              if (res.success) {
                this.isConcern = false
              }
            })
          }).catch(() => {

          })
        } else {
          let params = {
            ownerId: this.shopInfo.id
          }

          api.commonCall(params, 'shopConcernAdd').then(res => {
            if (res.success) {
              this.isConcern = true
            }
          })
        }
      } else {
        this.$toast('请先登录')
        this.$router.push({ path: '/loginRandom', query: { redirect: this.$route.fullPath } })
      }
    },
    // 查询商品详情
    queryGoodsDetail (id) {
      const params = +this.$route.query.type === 1 ? { id: this.$route.query.combItemId, type: '1' } : { id, type: '0' }
      if (this.token) {
        // 新增商品浏览记录入参
        params.itemId = id
        params.sourceType = 'mobile' // 来源：mobile：移动端 ，pc：PC端
      }
      api.queryGoodsDetail(params).then(res => {
        if (res.success) {
          let findChannel = this.allChannel.find(o => o.channelId === res.data.ownerId)
          if (findChannel) {
            res.data.ownerType = findChannel.channelType
          } else {
            res.data.ownerType = ''
          }

          this.detail = res.data

          if (this.detail.combList) {
            // 将主品放置第一位
            for (let i = 0; i < this.detail.combList.length; i++) {
              if (+this.detail.combList[i].isMainProduct === 1) {
                let cacheMain = this.detail.combList[i]
                this.detail.combList.splice(i, 1)
                this.detail.combList.unshift(cacheMain)
                break
              }
            }

            this.detail.combList.forEach((v, i) => {
              this.$set(this.detail.combList[i], 'totalCount', v.baseQty)
            })
          }

          this.customerInfo(res.data.ownerId) // 查询门店信息
          this.itemPriceStoreQuery() // 查询库存和价格
          this.getDeliveryDate() // 查询发货日期
          if (this.token) {
            // this.shopConcernState(res.data.ownerId) // 查询店铺是否已关注
            // this.goodsCollectState(res.data.id) // 查询商品是否已收藏
            this.queryShopAndItemHasState() // 查询店铺和商品是否已关注/已收藏
          }
          if (isWeiXin()) {
            // WX接口初始化
            this.initWX(['updateAppMessageShareData', 'updateTimelineShareData'], null, () => {
              const urlPrefix = window.location.protocol + '//' + window.location.host
              const url = urlPrefix + '/breedingPigDetails?id=' + this.$route.query.id + '&type=' + this.$route.query.type + '&combItemId=' + this.$route.query.combItemId
              this.WXShare(this.detail.itemTitle || this.detail.name, this.detail.remark, url, this.detail.pictureList && this.detail.pictureList[0] ? this.allImgDomainName + this.detail.pictureList[0] : urlPrefix + this.defaultProImg)
            }, null)
          }
          setTimeout(() => {
            this.loadingToast && this.loadingToast.clear()
          }, 200)
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
          setTimeout(() => {
            this.loadingToast && this.loadingToast.clear()
          }, 200)
        }
      })
    },
    // 查询商品是否已收藏
    goodsCollectState (goodsId) {
      let params = {
        itemList: [{
          itemId: goodsId,
          itemType: this.$route.query.type,
          combItemId: this.$route.query.combItemId
        }]
      }
      api.commonCall(params, 'queryItemCollectState').then(res => {
        if (res.success) {
          if (res.data && res.data.itemList && res.data.itemList[0]) {
            this.isCollect = res.data.itemList[0].status
          }
        }
      })
    },
    // 查询店铺是否已关注
    shopConcernState () {
      let params = {
        ownerId: this.detail.ownerId
      }

      api.commonCall(params, 'queryShopConcernState').then(res => {
        if (res.success) {
          this.isConcern = res.data.status
        }
      })
    },
    // 查询店铺和商品是否已关注/已收藏
    queryShopAndItemHasState () {
      let params = {
        ownerId: this.detail.ownerId,
        itemList: [
          {
            itemId: this.$route.query.id,
            itemType: this.$route.query.type,
            combItemId: this.$route.query.combItemId
          }
        ]
      }

      api.commonCall(params, 'queryShopAndItemHasState').then(res => {
        if (res.success) {
          this.isConcern = res.data.shopHas
          this.isCollect = res.data.itemList[0].itemHas
        }
      })
    },
    // 查询门店信息
    customerInfo (id) {
      api.customerInfo({ id }).then(res => {
        if (res.success) {
          let findChannel = this.allChannel.find(o => o.channelId === res.data.id)
          if (findChannel) {
            res.data.type = findChannel.channelType
          } else {
            res.data.type = ''
          }

          this.shopInfo = res.data
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    selectLabel (type, param) {
      this.$refs.evaluate.loading = false
      this.$refs.evaluate.isLoading = false

      if (type === 'a') {
        this.changeEvaluateType(param)
      } else if (type === 'b') {
        this.changeTag([param])
      }
    },

    // 图片预览
    viewPic (index, picList) {
      let list = []
      // eslint-disable-next-line
      for (let [index, elem] of picList.entries()) {
        list.push(this.allImgDomainName + elem)
      }
      ImagePreview({
        images: list,
        startPosition: index
      })
    },
    // 图片预览
    viewPicDetail (index, picList) {
      this.bigImg = picList[index]
      this.viewPic(index, picList)
    },
    // 评论过滤
    changeEvaluateType (type) {
      this.evaluateType = type
      this.evaluateTagList = []
      this.evaluate.list.splice(0)

      this.pageNo = 1
      this.queryItemEvaluate() // 获取商品评价
    },
    // 选择评论标签
    changeTag (arr) {
      this.evaluateTagList = arr
      this.evaluateType = '1'
      this.evaluate.list.splice(0)

      this.pageNo = 1
      this.queryItemEvaluate() // 获取商品评价
    },
    // 商品评价
    queryItemEvaluate () {
      this.requestLoading = true
      const params = {
        itemId: this.$route.query.id,
        evaluateType: this.evaluateType,
        page: this.pageNo,
        pageSize: this.pageSize,
        labelList: this.evaluateTagList
      }

      api.queryItemEvaluate(params).then(res => {
        this.requestLoading = false
        if (res.success) {
          if (this.evaluate && this.evaluate.list) {
            this.$set(this.evaluate, 'list', this.evaluate.list.concat(res.data.list))
            this.$set(this.evaluate, 'totalNumber', res.data.count)
          } else {
            this.evaluate = res.data
          }

          this.$refs.evaluate.loading = false

          if (this.evaluate.list.length >= this.evaluate.totalNumber) {
            this.$refs.evaluate.finished = true
          }

          setTimeout(() => {
            this.$refs.evaluate.isLoading = false
          }, 100)
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
          this.$refs.evaluate.loading = false
          this.$refs.evaluate.finished = true

          setTimeout(() => {
            this.$refs.evaluate.isLoading = false
          }, 100)
        }
      })
    },
    // 综合评价
    queryCmpResult (itemId) {
      api.queryCmpResult({ itemId }).then(res => {
        if (res.success) {
          this.evaluateScore = res.data
        }
      })
    },
    // 分享商品到微信
    onGoodsShare () {
      if (!isWeiXin()) {
        this.$toast('请用微信浏览器打开，进行分享')
        return
      }
      this.guideShare = true
    },
    changeDate () {
      this.showDatePicker = true
      this.isShowPopUp = false
    },
    // 发货日期选择
    onDateConfirm (date) {
      this.showDatePicker = false
      this.deliverDate = this.formatDate(date)
      this.itemPriceStoreQuery()
      if (this.isShowPopUp) this.showPopUp('sku3')
    },
    // 格式化日期
    formatDate (date) {
      let _date = date || new Date()

      return `${_date.getFullYear()}-${zero(_date.getMonth() + 1)}-${zero(_date.getDate())}`
    },
    // 选择发货日期(购买弹框)
    changeDeliverDate (type) {
      this.showDatePicker = true
      this.isShowPopUp = type
    },
    qtTypeText (type) {
      switch (type) {
        case '0':
          return '核心群'
        case '101':
          return '核心群一级'
        case '102':
          return '核心群二级'
        case '103':
          return '核心群三级'
        case '1':
          return '扩散群'
        case '201':
          return '扩散群一级'
        case '202':
          return '扩散群二级'
        case '203':
          return '扩散群三级'
        case '3':
          return '杂繁群'
        case '301':
          return '杂繁群一级'
        case '302':
          return '杂繁群二级'
        case '303':
          return '杂繁群三级'
        case '4':
          return '商品群'
        case '401':
          return '商品群一级'
        case '402':
          return '商品群二级'
        case '403':
          return '商品群三级'
        case '2':
          return '其他'
        default:
          return ''
      }
    },
    // 查询库存和真实价格
    itemPriceStoreQuery () {
      let params = {
        ownerId: this.detail.ownerId,
        itemId: this.detail.id,
        unitId: this.detail.saleUnitId,
        assistUnitId: this.detail.isAssistOrder
          ? this.detail.assistUnitId
          : null,
        assistattrId: '',
        customer: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId,
        deliverDate: this.deliverDate || this.minDeliverDate
      }
      api.itemPriceStoreQuery(params).then(res => {
        if (res.success) {
          this.$set(this.detail, 'itemPrice', res.data.itemPrice)
          this.$set(this.detail, 'storeQty', res.data.storeQty)
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    // 查询发货日期
    getDeliveryDate () {
      let params = {
        storeId: this.detail.ownerId,
        customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
      }
      api.commonCall(params, 'getDeliveryDate').then(res => {
        if (res.success) {
          this.minDeliverDate = new Date(res.data.deliveryDateRange.split('~')[0])
          this.maxDeliverDate = new Date(res.data.deliveryDateRange.split('~')[1])
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    }
  },
  beforeDestroy () {
    this.loadingToast && this.loadingToast.value && this.loadingToast.clear()
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.goods-details {
  background: #F2F1F1;

  .translate {
    display: block;
    transform: translateY(1px);
  }

  .format-img {
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .navbar1 {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    @{deep} .van-nav-bar {
      height: 96px;
      line-height: 96px;
      background: none;
      &:after {
        border: 0;
      }
      .van-nav-bar__left {
        padding: 0 16px;
        .van-icon {
          color: white !important;
          width: 64px;
          height: 64px;
          line-height: 64px;
          border-radius: 50%;
          background-color: rgba(0, 0, 0, 0.5);
        }
      }
      .van-nav-bar__right {
        padding: 0 16px;
        .van-ver-menu2,
        .van-shopcart2 {
          display: inline-block;
          width: 64px;
          height: 64px;
          border-radius: 50%;
          background-color: rgba(0, 0, 0, 0.5);
          background-repeat: no-repeat;
          background-position: center;
          background-size: 48px 48px;
          vertical-align: middle;
        }
        .van-ver-menu2 {
          .bg-img("~@/assets/images/icon/icon-ver-menu");
        }
        .van-shopcart2 {
          .bg-img("~@/assets/images/icon/icon-shopcart");
          margin-right: 16px;
          position: relative;
          i {
            position: absolute;
            top: 0;
            left: 56px;
            background: white;
            border: 1px solid red;
            color: red;
            font-size: 20px;
            height: 20px;
            line-height: 24px;
            border-radius: 20px;
            padding: 0 6px;
            transform: translate(-50%);
          }
        }
      }
    }
  }

  > .content {
    -webkit-overflow-scrolling: touch;
    // perspective: 1px;
    // transform-style: preserve-3d;
    // min-height: calc(100vh - 100px);
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;

    &.van-padding-bottom {
      padding-bottom: 100px;
    }

    .list {
      margin-top: 20px;
      font-size: 26px;
      color: #2e3033;
      .items {
        display: flex;
        flex-direction:column;
        background: #FFFFFF;
        .tip {
          height: 40px;
          line-height: 40px;
          font-size: 28px;
          font-family: 'PingFangSC-Regular', 'PingFang SC';
          font-weight: 400;
          color: #999999;
          padding: 0 0 18px 28px;
          .border-1px(#E5E5E5);
        }
        .item {
          &:not(:last-child) {
            .border-1px(#ffffff);
          }
        }
        .van-popup--bottom {
          bottom: 88px;
        }
      }
      .item {
        display: flex;
        align-items: center;
        background: white;
        padding: 18px 28px;
        &:not(:last-child) {
          .border-1px(#E5E5E5);
        }
        .title {
          color: #333333;
          width: 180px;
          flex: 0 0 180px;
        }
        .content {
          flex: 1;
          color: #666666;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          text-align: right;
          &.line-feed {
            overflow: visible;
            white-space: normal;
          }
          &.deliver {
            display: flex;
            align-items: center;
          }
          &.quality {
            .btn {
              padding: 0 3px;
              color: #FF0000;
              border: 1px solid #FF0000;
              border-radius: 8px;
            }
          }
          .icon {
            display: inline-block;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position: center;
            &.location {
              width: 22px;
              height: 26px;
              margin-right: 8px;
              .bg-img("~@/assets/images/new-version/goods-details/location");
            }
          }
        }
        .arrow {
          width: 50px;
          flex: 0 0 90px;
          color: #666666;
          font-size: 22px;
          text-align: right;
        }
        .right {
          width: 200px;
          flex: 0 0 200px;
          color: #999999;
          font-size: 24px;
          text-align: right;
        }
      }
    }

    .active {
      position: relative;
      overflow: hidden;
      transform: rotate(0deg);

      &:active {
        &:after {
          content: " ";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: rgba(0, 0, 0, 0.08);
        }
      }
    }

    .swiper-container { // 轮播
      // transform: scale(2) translate3d(0, calc(-100vh / 8), -1px);
      overflow: hidden;
      position: relative;
      height: calc(100vh / 2);
      // height: 1750px;
      // z-index: 0;

      .my-video {
        z-index: 99;
      }

      .format-img {
        height: calc(100vh / 2);
        background-size: 100% 100%;
        // height: 1750px;
      }

      @{deep} .van-swipe {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
      }
      // }

      .custom-indicator {
        position: absolute;
        right: 28px;
        bottom: 32px;
        width: 64px;
        height: 64px;
        line-height: 64px;
        border-radius: 50%;
        font-size: 26px;
        text-align: center;
        color: #333333;
        background: #fff;
      }
    }

    .big-img {
      background: white;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
      display: flex;
      align-items: center;

      > img {
        display: block;
        width: 100%;
      }
    }

    .under-the-swipe {
      background: white;
      padding: 18px 28px 40px 28px;
      .title {
        font-size: 32px;
        font-family: 'PingFangSC-Medium', 'PingFang SC';
        font-weight: 500;
        color: #414143;
        line-height: 44px;
        margin: 18px 0 14px;
      }
      .price {
        font-size: 28px;
        font-family: 'PingFangSC-Regular', 'PingFang SC';
        font-weight: 400;
        color: #999999;
        line-height: 40px;
        margin-bottom: 15px;
        span {
          height: 34px;
          font-size: 24px;
          font-family: 'PingFangSC-Medium', 'PingFang SC';
          font-weight: 500;
          color: #E63E32;
          line-height: 34px;
          .text-red-big {
            font-size: 36px;
          }
        }
      }
      .goods-details-content {
        .goods-details-item {
          width: 320px;
          display: inline-block;
          min-height: 40px;
          margin-bottom: 15px;
          .item-label {
            display: inline-block;
            width: 140px;
            height: 40px;
            font-size: 28px;
            font-family: 'PingFangSC-Regular', 'PingFang SC';
            font-weight: 400;
            color: #999999;
            line-height: 40px;
          }
          .item-text {
            width: 180px;
            display: inline-block;
            font-size: 28px;
            font-family: 'PingFangSC-Regular', 'PingFang SC';
            font-weight: 400;
            color: #333333;
            line-height: 40px;
            &.blue{
              font-weight: 500;
              color: #214E90;
            }
          }
        }
      }
    }

    .evaluate-list { // 评价
      margin-top: 20px;
      background: white;
      padding: 18px 28px;
      color: #333333;

      .title {
        border-left: 4px solid #e33240;
        padding-left: 14px;
        line-height: 100%;
      }

      ul {
        li {
          padding: 30px 0;

          &:not(:last-child) {
            .border-1px(#e8e9eb);
          }

          > div {
            &:first-child {
              display: flex;
              align-items: center;
              line-height: 100%;

              > span {
                display: block;
                font-size: 26px;

                &.default {
                  .bg-img("~@/assets/images/default_profile");
                }

                &:first-child {
                  width: 75px;
                  height: 75px;
                  border-radius: 50%;
                  margin-right: 20px;
                }
              }
            }

            &:nth-child(2) {
              padding-top: 20px;
              font-size: 26px;
            }

            &:nth-child(3) {
              padding-top: 20px;
              font-size: 24px;
              color: #8e939a;
            }
          }
        }
      }

      .allEvaluate {
        padding: 50px 0;

        div {
          margin: auto;
          width: 260px;
          height: 64px;
          border-radius: 40px;
          border: 2px solid;
          color: rgb(227, 50, 64);
          font-size: 26px;
          letter-spacing: 2px;
          line-height: 64px;
          text-align: center;
        }
      }
    }

    .cover-img { // 封面图片
      margin-top: 20px;
      width: 100%;
      height: 236px;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center;
      .bg-img("~@/assets/images/new-version/goods-details/coverImg");
    }

    @{deep}.van-divider {
      color: #333333;
      &::after, &::before {
        border-color: #CCCCCC;
      }
    }

    .product-introduce {
      @{deep} * {
        max-width: 100% !important;
        img {
          display: block;
        }
      }

      &.van-padding-top {
        padding-top: 96px;
      }
    }
  }

  .van-footer {
    height: 100%;
    @{deep} .van-goods-action {
      height: 88px;
      background: white;
      box-shadow: 0px -5px 6px -5px #E0E0E0;
      z-index: 1;
    }
    @{deep} .van-goods-action-icon {
      color: #999999;
      .van-home,
      .van-shoppingcart,
      .van-collect,
      .van-collected {
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
      }
      .van-home {
        width: 54px;
        height: 36px;
        .bg-img("~@/assets/images/new-version/goods-details/home");
      }
      .van-shoppingcart {
        width: 38px;
        height: 32px;
        .bg-img("~@/assets/images/new-version/goods-details/shoppingcart");
      }
      .van-collect {
        width: 34px;
        height: 34px;
        .bg-img("~@/assets/images/new-version/goods-details/collect");
      }
      .van-collected {
        width: 34px;
        height: 34px;
        .bg-img("~@/assets/images/new-version/goods-details/collected");
      }
    }

    @{deep} .van-addShop {
      height: 62px;
      color: #fff;
      background: linear-gradient(
        90deg,
        rgba(255, 193, 56, 1) 0%,
        rgba(255, 162, 0, 1) 100%
      );
      position: relative;
    }

    @{deep} .van-buyNow {
      height: 62px;
      color: #fff;
      background: linear-gradient(
        90deg,
        rgba(255, 107, 82, 1) 0%,
        rgba(227, 50, 64, 1) 100%
      );
    }
  }

  .begin-video-box {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 0 30px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 24px;
    color: #3985ff;
    background: rgba(255, 255, 255, 0.8);
    z-index: 10;
    &.van-bottom {
      bottom: 20px;
    }
    &:before {
      background: url("~@/assets/images/video/play.png") no-repeat 0;
      background-size: 30px 30px;
      content: "";
      position: relative;
      display: inline-block;
      vertical-align: middle;
      margin-top: -2px;
      margin-right: 5px;
      width: 31px;
      height: 31px;
    }
    &:after {
      border-radius: 50px;
      border-color: #3b8afb;
    }
    &:hover {
      background: rgba(255, 255, 255, 0.8);
    }
  }

  .guideShare-wrap {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 102;
    .arrows-img {
      width: 340px;
      position: absolute;
      right: 20px;
      top: 10px;
    }
    p {
      font-size: 36px;
      color: #fff;
      margin-top: 350px;
      text-align: center;
    }
  }
}
</style>
