<template>
  <div class="place-order">
    <div class="navbar">
      <van-nav-bar title="提交订单" :border="false" left-arrow @click-left="onClickLeft"/>
    </div>

    <div v-if="shoppingCartSelectedList && shoppingCartSelectedList.length">
      <div
        class="content van-content"
        v-for="(item, index) in shoppingCartSelectedList"
        :key="index + 'shop'"
      >

        <div class="top-wrap">
          <!-- 配送地址 -->
          <div class="wrap-content">
            <div class="list active warehouse" @click="goRecevingAddress">
              <!-- <i class="label-icon location"></i> -->
              <div class="content-right" v-if="addressInfo && addressInfo.receiverName">
                <p><span class="label">收货人：</span>{{addressInfo.receiverName}}</p>
                <p><span class="label">联系方式：</span>{{addressInfo.receiverPhone}}</p>
                <p><span class="label">收货地址：</span>{{addressInfo.areaName}}{{addressInfo.detailAddress}}</p>
              </div>
              <div class="content-right" v-else>请选择</div>
              <div class="arrow">
                <van-icon name="arrow"/>
              </div>
            </div>
            <div class="list active distribution-type">
              <div class="label">配送方式：</div>
              <van-radio-group v-model="distributionType" direction="horizontal">
                <van-radio name="0" checked-color="#ee0a24">快递物流</van-radio>
                <van-radio name="1" checked-color="#ee0a24" v-if="isSupportCar">车辆配送</van-radio>
              </van-radio-group>
            </div>
            <div class="list active needdate" @click="showdeliverDatePicker = true">
              <div class="label">发货日期：</div>
              <div class="content-right">{{deliverDate || '请选择'}}</div>
              <div class="arrow">
                <van-icon name="arrow"/>
              </div>
            </div>
          </div>
        </div>

        <!-- 订单 -->
        <div class="order-list">
          <div class="order-item">
            <div class="title">
              <i></i>
              <span class="owner-name">{{item.storeName || item.ownerName}}</span>
              <van-tag color="#EE0000" plain v-if="item.ownerType === '1'">养禽</van-tag>
              <van-tag color="#EE0000" plain v-else-if="item.ownerType === '2'">养猪</van-tag>
              <van-tag color="#EE0000" plain v-else-if="item.ownerType === '3'">乳业</van-tag>
              <van-tag color="#EE0000" plain v-else-if="item.ownerType === '4'">鲜品</van-tag>
              <van-tag color="#EE0000" plain v-else-if="item.ownerType === '5'">蛋业</van-tag>
              <van-tag color="#EE0000" plain v-else-if="item.ownerType === '6'">熟食</van-tag>
            </div>

            <div
              class="goods-item"
              v-for="(childItem, childIndex) in item.cartList"
              :class="[childItem.comFlag ? (childItem.comFlag === 1 || childItem.comFlag === 'last') ? 'border-' + childItem.comFlag : 'border-middle' : '']"
              :key="childIndex + 'item'"
            >
              <div class="comList" v-if="childItem.comFlag === 1"><span>组合大促</span></div>
              <div class="goods-item-inner">
                <div
                  class="goods-img format-img"
                  v-lazy:background-image="allImgDomainName + childItem.itemPic"
                ></div>
                <div class="goods-content">
                  <div>{{childItem.itemName}}</div>

                  <div
                    v-show="childItem.assistattrName || childItem.wtRangeMap"
                  >{{childItem.assistattrName}} {{childItem.wtRangeMap && childItem.wtRangeMap.name + ' ' + childItem.wtRangeMap.uom_name}}</div>

                  <div class="input-remark">
                    <input class="input" type="text" placeholder="请输入备注（100个字以内）" :maxlength="100" v-model="childItem.remark">
                    <!-- <span class="input-word-count">{{(childItem.remark && childItem.remark.length) || 0}}/100</span> -->
                  </div>

                  <div class="price-module">
                    <span>
                      <span>{{childItem.price.toString().split('.')[0] || 0}}</span>.{{childItem.price.toString().split('.')[1] || '00'}} 元/{{childItem.unitName}}
                    </span>

                    <!--<span>x <span>{{childItem.qty}}</span></span>-->
                    <span v-if="!changeCount">
                      <p
                        class="text-right"
                      >{{childItem.isAssistOrder ? childItem.assistQty : childItem.qty}}（{{childItem.isAssistOrder ? childItem.assistunitName : childItem.unitName}}({{childItem.modelNum}})）</p>
                      <!-- <p
                        class="red text-right"
                        v-if="childItem.isAssistOrder && childItem.maxAvgWeight"
                      >约 {{childItem.assistQty * childItem.maxAvgWeight | keepTwoNum}}（{{childItem.unitName}}）</p>
                      <p
                        class="red text-right"
                        v-else-if="childItem.isAssistOrder"
                      >约 {{childItem.assistQty * childItem.conversionRate | keepTwoNum}}（{{childItem.unitName}}）</p> -->
                    </span>
                    <span v-else>
                      <p class="product-number">
                        <input
                          maxlength="4"
                          type="text"
                          v-model="childItem.qty"
                          @keyup="changeInitVal(index, childIndex, item)"
                        >
                        （{{childItem.isAssistOrder ? childItem.assistunitName : childItem.unitName}}）
                      </p>
                      <!-- <p class="red text-right" v-if="childItem.isAssistOrder">约 {{childItem.assistQty}}（{{childItem.unitName}}）</p> -->
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <!-- 赠品列表 -->
            <div
              class="proList"
              v-if="item.proReturnGoods && item.proReturnGoods.length"
            >
              <span>以下赠品</span>
            </div>
            <div v-if="item.proReturnGoods && item.proReturnGoods.length">
              <div
                class="goods-item"
                v-for="(childItem, childIndex) in item.proReturnGoods"
                :key="childIndex + 'proItem'"
              >
                <div class="goods-item-inner">
                  <div
                    class="goods-img format-img"
                    v-lazy:background-image="allImgDomainName + childItem.itemPic"
                  ></div>
                  <div class="goods-content">
                    <div>{{childItem.itemName}}</div>
                    <div v-show="childItem.assistattrName">{{childItem.assistattrName}}</div>
                    <div class="price-module">
                      <span>
                        <span>--</span>
                      </span>
                      <span>
                        <p class="text-right">{{+childItem.qty}}（{{childItem.unitName}}）</p>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="params">
              <p class="tip">商品生产日期为发货日期的前0-2天</p>

              <div class="list active" @click="showCouponPopup(index)">
                <div class="label">优惠券</div>
                <div
                  v-if="item.couponList && item.couponList.length"
                  class="content-right"
                  :class="{'highlight': item.discountAmount}"
                >{{item.discountAmount ? '-' + item.discountAmount.toFixed(2) + '元' : isClearCoupon ? '暂不用' : '请选择'}}</div>
                <div class="content-right" v-else>无可用</div>
                <div class="arrow">
                  <van-icon name="arrow"/>
                </div>
              </div>

              <div class="list active">
                <div class="label">支付方式</div>
                <div class="content-right">{{paymentMode}}</div>
                <div class="arrow">
                  <van-icon name="arrow"/>
                </div>
              </div>

              <div class="list no-border balance">
                <div class="label">账户余额：</div>
                <div class="content-right">{{balance | keepTwoNum}}元</div>
              </div>

            </div>

            <div class="total">
              共 <span>{{item.totalCount || 0}}</span> 件，总金额：<span>{{item.total ? item.total.toFixed(2) : '0.00'}} 元</span>
            </div>
          </div>
        </div>

        <!-- <div v-else class="loading">
          <van-loading size="1.2267rem" />
        </div> -->
      </div>
    </div>

    <div class="no-data-box" v-else>
      <no-data :loading="requestLoading" url="no_order" text="暂无可提交订单"></no-data>
    </div>

    <div class="ws-copyright">© Copyright Reserved WENS</div>

    <!-- 底部按钮 -->
    <bottom-button :btns="btns" @on-btn="submit">
      <div class="total-total">
        <span>优惠
          <span>{{totalDiscountAmount ? '-' + totalDiscountAmount.toFixed(2) : '0.00'}} 元</span>，应付：<span>{{totalDiscountAmount ? (totalPrice - totalDiscountAmount > 0 ? totalPrice - totalDiscountAmount : 0) : totalPrice | keepTwoNum}} 元</span>
        </span>
      </div>
    </bottom-button>

    <!--消息提示组件（种猪营销）-->
    <notify :notifyShow="notifyShow" :notifyType="notifyType" :notifyText="notifyText" @show-finish="() => {notifyShow = false}"></notify>

    <!-- 优惠券弹出框 -->
    <pop-up
      :up="up"
      @hide="() => {up = false}"
      :line="true"
      :btns="[{name: '确认', color: 'white'}]"
      :title="'平台优惠'"
      class="checkbox-box"
      @btn-click="up = false"
    >
      <div class="place-coupon" v-if="cartListIndex !== -1">
        <!-- 可用优惠券列表 -->
        <div class="place-coupon-option" v-if="shoppingCartSelectedList[cartListIndex].couponList && shoppingCartSelectedList[cartListIndex].couponList.length">
          <van-checkbox-group v-model="selectCouponIdArr">
            <!--  v-if="(item.activityUsing === '0' && item.activityAmount <= totalPrice) || item.activityUsing === '1'" -->
            <div class="place-coupon-list" v-for="(item, index) in shoppingCartSelectedList[cartListIndex].couponList" :key="index" @click="selectedCoupon(item, index)">
              <div class="place-coupon-content">
                <p class="p-yuan">&yen;<span>{{item.discountAmount}}</span></p>
                <p class="p-text">{{+item.activityUsing === 0 ? '满' + (item.fullReductType === 1 ? item.activityAmount : item.fullReductType === 2 ? item.fullReductQty : ' ') + fullReductUnitText(item.fullReductType) + '可用' : '立减券'}}</p>
              </div>
              <div class="place-coupon-text">
                <p>{{item.name ? item.name : thresholdText(item.receivingThreshold)}} ({{item.pubOrgName}})</p>
                <span>{{item.validDate + ' ~ ' + item.invalidDate}}</span>
                <p class="stack">{{item.activityIsStack === '1' ? '可叠加' : '不可叠加'}}</p>
              </div>
              <div class="coupon-selected">
                <van-checkbox disabled :name="item.id" ref="checkboxes"></van-checkbox>
              </div>
            </div>
          </van-checkbox-group>
          <div class="coupon-content-bottom" @click="clearCoupon">
            <p>暂不使用优惠</p>
            <div class="uncoupon-selected">
              <van-checkbox v-model="isClearCoupon"></van-checkbox>
            </div>
          </div>
        </div>
        <!-- 不可用优惠券列表 -->
        <div class="place-unCoupon-bottom" v-if="shoppingCartSelectedList[cartListIndex].unCouponList && shoppingCartSelectedList[cartListIndex].unCouponList.length">
          <hr style="border:3px solid #e5e5e5;"/>
          <p class="p-title">以下优惠券不满足使用条件</p>
          <div class="coupon-two" v-for="(item, index) in shoppingCartSelectedList[cartListIndex].unCouponList" :key="index">
            <div class="coupon-two-left">
              <p class="p-yuan">&yen;<span>{{item.discountAmount}}</span></p>
              <p class="p-text">{{+item.activityUsing === 0 ? '满' + (item.fullReductType === 1 ? item.activityAmount : item.fullReductType === 2 ? item.fullReductQty : ' ') + fullReductUnitText(item.fullReductType) + '可用' : '立减券'}}</p>
            </div>
            <div class="coupon-two-right">
              <p>{{item.name ? item.name : thresholdText(item.receivingThreshold)}} ({{item.pubOrgName}})</p>
              <span class="date">{{item.validDate + ' ~ ' + item.invalidDate}}</span>
              <div class="reason">
                <van-icon name="info-o" />
                <span>{{item.reason}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </pop-up>

    <!-- 发货日期选择器 -->
    <van-calendar
      v-model="showdeliverDatePicker"
      title="发货日期选择"
      color="#f59900"
      :show-confirm="false"
      :round="false"
      :min-date="minDeliverDate"
      :max-date="maxDeliverDate"
      @confirm="onDateConfirm"
    />
  </div>
</template>

<script>
import BottomButton from '@/components/bottom-button'
import PopUp from '@/components/pop-up'
import NoData from '@/components/no-data'
import Notify from '@/components/notify'
import { allImgDomainNameMixin } from '@/assets/js/mixin'
import { api } from '@/api'
import { mapActions, mapGetters } from 'vuex'
import { _debounce, zero, getCookie, getDateFromToday, knapsack, gcdOfArray } from '@/utils/common'

export default {
  name: 'place-order',
  mixins: [allImgDomainNameMixin],
  components: {
    PopUp,
    BottomButton,
    NoData,
    Notify
  },
  data () {
    return {
      tabIndex: 1, // 标签页下标
      btns: [{ text: '提交订单', color: 'red', loadingText: '提交中...' }], // 底部按钮
      changeCount: false,
      paymentMode: '线上支付',
      shoppingCartSelectedList: [], // 购物车选中列表
      shoppingCartRejectedList: [], // 购物车剔除列表
      addressInfo: {},
      driverInfo: {},
      totalNum: 0,
      totalPrice: 0,
      driverId: '',
      addressId: '',
      orderSaveFlag: false, // 记录订单提交状态
      firstEnter: true,
      driverList: [],
      popupType: '',
      popupInfo: {
        warehouse: [],
        needDate: [],
        arrivalTime: []
      },
      cartListIndex: -1,
      cacheDriver: [],
      loadingToast: null,
      up: false, // 优惠券弹出框
      selectCouponIdArr: [], // 选中优惠券id集合
      totalDiscountAmount: 0, // 优惠券优惠金额
      isClearCoupon: false, // 是否暂不用优惠券
      orderType: 2, // 订单类型：1 为其他类型，2为种猪营销类型
      notifyType: 'fail', // 可选值为 success fail
      notifyText: '库存不足，商品过于火爆', // 提示文字
      notifyShow: false,
      deliverDate: '', // 发货日期
      showdeliverDatePicker: false, // 发货日期选择器
      balance: 0, // 余额
      minDeliverDate: new Date(), // 发货日期开始日期
      maxDeliverDate: new Date(getDateFromToday(-1)), // 发货日期结束日期
      isSupportCar: true, // 是否可以车辆配送
      distributionType: '0', // 配送类型 0:物流配送 1:车辆配送
      requestLoading: false // 接口请求加载动画
    }
  },
  computed: {
    ...mapGetters(['allChannel'])
  },
  created () {
    this.deliverDate = this.$route.query.deliverDate || ''
    this.addressId = this.$route.query.addressId

    this._customerAddressQuery()

    let params = { page: 1, pageSize: 999, customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId }
    if (this.$store.state.intoPage === 0 && getCookie('selectedChannel')) {
      params.owner = JSON.parse(getCookie('selectedChannel')).channelId
    } else if (this.$store.state.intoPage === 1 && this.$store.state.channel.currentChannel && this.$store.state.channel.currentChannel.channelId) {
      params.owner = this.$store.state.channel.currentChannel.channelId
    }
    let isQuickOrder = this.$route.query.isQuickOrder
    isQuickOrder ? (params.isQuickOrder = isQuickOrder + '') : (params.isChoose = '1')
    this.changeCount = this.$route.query.changeCount === '1'
    this.$route.query.deliverDate && (this.deliverDate = this.$route.query.deliverDate)

    if (this.$route.query.date) {
      params.date = this.$route.query.date
    }

    this.requestLoading = true
    api.queryCart(params).then(res => {
      this.requestLoading = false
      if (res.success) {
        if (res.data.list && res.data.list.length > 0) {
          if (this.changeCount && res.data.list[0]) {
            res.data.list[0].cartList[0].qty = 0
            res.data.list[0].cartList[0].assistQty = 0
          }

          res.data.list.forEach(shopItem => {
            let comFirstIndex
            shopItem.cartList.forEach((v, i) => {
              // 将主品放置第一位
              if (+v.entryType === 1) {
                comFirstIndex = i
              } else if (+v.entryType === 2 && +v.isMainProduct === 1) {
                let cacheMain = v
                shopItem.cartList.splice(i, 1)
                shopItem.cartList.splice(comFirstIndex + 1, 0, cacheMain)
              }

              if (+v.entryType === 1) {
                this.shoppingCartRejectedList.push(v)
              } else if (+v.entryType === 2 && +v.storeQty <= 0) {
                this.shoppingCartRejectedList.push(v)
                shopItem.cartList.splice(i, 1)
              }
            })
          })

          this.shoppingCartSelectedList = res.data.list

          if (!this.shoppingCartSelectedList || !this.shoppingCartSelectedList.length) {
            this.$toast('商品已失效，请重新下单')
            setTimeout(() => {
              this.$router.go(-1)
            }, 500)
          } else {
            this.shoppingCartSelectedList.forEach((v, i) => {
              // 添加每个店铺的type
              let findChannel = this.allChannel.find(o => o.channelId === v.ownerId)
              v.ownerType = findChannel ? findChannel.channelType : ''

              this.getCouponList(v.ownerId, i)

              let comFlag = 0
              let qtyFlag = 0
              let comFirstId = ''

              for (let itemIndex = 0; itemIndex < v.cartList.length; itemIndex++) {
                let item = v.cartList[itemIndex]
                if (+item.entryType === 1) {
                  comFlag = 1
                  qtyFlag = item.qty
                  comFirstId = item.id
                  this.shoppingCartSelectedList[i].cartList.splice(itemIndex, 1)
                  itemIndex--
                  continue
                } else if (+item.entryType === 2) {
                  if (!this.shoppingCartSelectedList[i].cartList[itemIndex + 1] || +this.shoppingCartSelectedList[i].cartList[itemIndex + 1].entryType !== 2) {
                    item.comFlag = 'last'
                    if (comFlag === 1) item.comFlag = ''
                    this.shoppingCartSelectedList[i].cartList[itemIndex - comFlag + 1].totalCom = comFlag
                    comFlag = 0
                  } else {
                    item.comFlag = comFlag
                    if (comFlag === 1) {
                      item.qtyFlag = qtyFlag
                      item.comFirstId = comFirstId
                    }
                    comFlag++
                  }
                }
              }
            })
            for (let i in this.shoppingCartSelectedList[0].cartList) {
              if (!this.shoppingCartSelectedList[0].cartList[i].isSupportCar) {
                this.isSupportCar = false
                break
              }
            }
            this.totalBill()
            this.balanceQuery()
            this.getDeliveryDate()
          }
        }
      } else {
        res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
      }
    })
  },
  // 防止不断返回同一个页面
  beforeRouteUpdate (to, from, next) {
    if (to.path === from.path) {
      this.$router.go(-1)
    }

    next()
  },
  methods: {
    ...mapActions(['setShoppingCartCount']),
    thresholdText (threshold) {
      switch (threshold) {
        case 'A':
          return '普通优惠券'
        case 'B':
          return '新人优惠券'
        case 'C':
          return '首单优惠券'
        case 'D':
          return '等级优惠券'
        case 'E':
          return '红包优惠券'
        default:
          return '优惠券'
      }
    },
    // 改变立即下单的值
    changeInitVal (i, ci, data) {
      data.cartList[ci].qty = parseInt(data.cartList[ci].qty) || 0
      data.cartList[ci].assistQty = (data.cartList[ci].qty
        ? data.cartList[ci].isAssistOrder
          ? data.cartList[ci].qty * 1
          : data.cartList[ci].qty
        : 0
      ).toFixed(2)
      this.$set(this.shoppingCartSelectedList, i, data)
      this.totalBill()
    },
    // 获取收货人信息
    _customerAddressQuery () {
      api.commonCall({ custNumber: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId }, 'CustomerAddressList').then(res => {
        if (res.success) {
          if (!this.addressId) {
            let info = null

            for (let i = 0; i < res.data.length; i++) {
              if (res.data[i].isornot) {
                info = res.data[i]

                break
              }
            }

            this.addressInfo = info || res.data[0]
            this.addressId = (this.addressInfo && this.addressInfo.id) || ''
          } else {
            for (let i = 0; i < res.data.length; i++) {
              if (res.data[i].id === this.addressId) {
                this.addressInfo = res.data[i]

                break
              }
            }
          }
        }
      })
    },
    // 选择收货地址
    goRecevingAddress () {
      let query = {}

      this.driverId && (query.driverId = this.driverId)
      this.addressId && (query.addressId = this.addressId)
      this.$route.query.changeCount &&
        (query.changeCount = this.$route.query.changeCount)
      this.$route.query.isQuickOrder &&
        (query.isQuickOrder = this.$route.query.isQuickOrder)
      this.deliverDate && (query.deliverDate = this.deliverDate)
      query.isZZOrder = 1

      this.$router.push({
        path: '/receivingAddress',
        query
      })
    },
    onClickLeft () {
      this.$router.go(-1)
    },
    // 获取可用优惠券列表
    getCouponList (ownerId, index) {
      let coupons = []
      for (let s = 0; s < this.shoppingCartSelectedList[index].cartList.length; s++) {
        coupons.push({
          orderType: 'A', // A:普通订单可用 B:全部订单可用
          ownerId: ownerId, // 渠道id
          itemId: this.shoppingCartSelectedList[index].cartList[s].itemId // 商品id
        })
      }
      api.commonCall({ coupons: coupons }, 'getCanUseCouponList').then(res => {
        if (res.success) {
          let couponList = [] // 可用优惠券
          let unCouponList = [] // 不可用优惠券
          let stackableList = [] // 可用的可叠加优惠券
          let stackableMoneyList = [] // 可用的可叠加的（满减金额）优惠券
          let stackableQuantityList = [] // 可用的可叠加的（满减数量）优惠券
          let unstackableList = [] // 可用的不可叠加优惠券
          res.data.couponList.forEach(v => {
            if ((+v.activityUsing === 0 && ((v.fullReductType === 1 && v.activityAmount <= this.totalPrice) || (v.fullReductType === 2 && v.fullReductQty <= this.totalNum))) || +v.activityUsing === 1) {
              couponList.push(v)
              if (v.activityIsStack === '1') {
                stackableList.push(v)
                if (v.fullReductType === 1) { // 按金额满减
                  stackableMoneyList.push(v)
                } else if (v.fullReductType === 2) { // 按数量满减
                  stackableQuantityList.push(v)
                }
              } else {
                unstackableList.push(v)
              }
            } else {
              this.$set(v, 'reason', '不满足' + (v.fullReductType === 1 ? '金额' : v.fullReductType === 2 ? '数量' : ' ') + '条件')
              unCouponList.push(v)
            }
          })
          // 初始化列表
          !this.shoppingCartSelectedList[index].couponList && this.$set(this.shoppingCartSelectedList[index], 'couponList', couponList)
          !this.shoppingCartSelectedList[index].unCouponList && this.$set(this.shoppingCartSelectedList[index], 'unCouponList', [...unCouponList, ...res.data.unCouponList])
          // this.unCouponList = res.data.unCouponList  后台返回需要的数据后，再放开显示

          // 给定默认值
          this.$nextTick(() => {
            let stackableMoneyTotalAmt = 0 // 可用的可叠加（满减金额）优惠券的金额最大值
            let stackableQuantityTotalAmt = 0 // 可用的可叠加（满减数量）优惠券的金额最大值
            let stackableMoneyTotalAmtCombItem = [] // 可用的可叠加（满减金额）优惠券的金额最大值的组合项
            let stackableQuantityTotalAmtCombItem = [] // 可用的可叠加（满减数量）优惠券的金额最大值的组合项
            let unstackableMaxAmt = 0 // 可用的不可叠加优惠券的金额最大值
            let unstackableMaxAmtItem = {} // 可用的不可叠加优惠券的金额最大值的一项
            if (couponList && couponList.length && !this.shoppingCartSelectedList[index].discountAmount) {
              // 计算可用的可叠加（满减金额）优惠券的金额最大值
              let weights1 = stackableMoneyList.map(v => v.activityAmount)
              let values1 = stackableMoneyList.map(v => v.discountAmount)
              let gcdCount1 = gcdOfArray(weights1)
              let handleWeight1 = weights1.map(v => parseInt(v / gcdCount1))
              let result1 = knapsack(handleWeight1, values1, Math.floor(+this.totalPrice / gcdCount1)) // 01背包问题
              stackableMoneyTotalAmt = result1[0] || 0
              stackableMoneyTotalAmtCombItem = result1[1] && result1[1].map(v => stackableMoneyList[v])

              // 计算可用的可叠加（满减数量）优惠券的金额最大值
              let weights2 = stackableQuantityList.map(v => v.fullReductQty)
              let values2 = stackableQuantityList.map(v => v.discountAmount)
              let gcdCount2 = gcdOfArray(weights2) // 求减满数量数组里的最大公约数
              let handleWeight2 = weights2.map(v => parseInt(v / gcdCount2))
              let result2 = knapsack(handleWeight2, values2, Math.floor(+this.totalNum / gcdCount2)) // 01背包问题
              stackableQuantityTotalAmt = result2[0] || 0
              stackableQuantityTotalAmtCombItem = result2[1] && result2[1].map(v => stackableQuantityList[v])

              // 计算可用的不可叠加优惠券的金额最大值
              unstackableList.forEach(v => {
                if (+v.discountAmount > unstackableMaxAmt) {
                  unstackableMaxAmt = +v.discountAmount
                  unstackableMaxAmtItem = JSON.parse(JSON.stringify(v))
                }
              })

              // 计算可用的可叠加（满减金额和数量）优惠券和不可叠加优惠券中的金额最大值
              let max = Math.max(stackableMoneyTotalAmt, stackableQuantityTotalAmt, unstackableMaxAmt)
              if (max === unstackableMaxAmt) { // 不可叠加最大
                this.selectCouponIdArr.push(unstackableMaxAmtItem.id)
                this.$set(this.shoppingCartSelectedList[index], 'couponCanStack', false)
                this.$set(this.shoppingCartSelectedList[index], 'discountAmount', unstackableMaxAmt)
                this.$set(this.shoppingCartSelectedList[index], 'discountCumulativeNum', (unstackableMaxAmtItem.fullReductType === 1 && +unstackableMaxAmtItem.activityAmount) || (unstackableMaxAmtItem.fullReductType === 2 && +unstackableMaxAmtItem.fullReductQty))
              } else if (max === stackableMoneyTotalAmt) { // 可叠加（满减金额）最大
                this.selectCouponIdArr = stackableMoneyTotalAmtCombItem.map(v => v.id)
                this.$set(this.shoppingCartSelectedList[index], 'couponCanStack', true)
                this.$set(this.shoppingCartSelectedList[index], 'discountAmount', stackableMoneyTotalAmt)
                this.$set(this.shoppingCartSelectedList[index], 'discountCumulativeNum', stackableMoneyTotalAmtCombItem.reduce((total, item) => (total + item.activityAmount), 0))
              } else if (max === stackableQuantityTotalAmt) {
                this.selectCouponIdArr = stackableQuantityTotalAmtCombItem.map(v => v.id)
                this.$set(this.shoppingCartSelectedList[index], 'couponCanStack', true)
                this.$set(this.shoppingCartSelectedList[index], 'discountAmount', stackableQuantityTotalAmt)
                this.$set(this.shoppingCartSelectedList[index], 'discountCumulativeNum', stackableQuantityTotalAmtCombItem.reduce((total, item) => (total + item.fullReductQty), 0))
              }
              this.$set(this.shoppingCartSelectedList[index], 'selectCouponIdArr', this.selectCouponIdArr)
              this.totalBill()
            }
          })
        }
      })
    },
    showCouponPopup (index) {
      this.cartListIndex = index
      this.selectCouponIdArr = this.shoppingCartSelectedList[this.cartListIndex].selectCouponIdArr || []
      this.up = true
    },
    selectedCoupon (item, index) {
      if (this.isClearCoupon) {
        this.isClearCoupon = false
      }

      // 判断是选中优惠券还是取消优惠券
      if (this.selectCouponIdArr.indexOf(item.id) > -1) {
        this.selectCouponIdArr.splice(this.selectCouponIdArr.indexOf(item.id), 1)
        this.$set(this.shoppingCartSelectedList[this.cartListIndex], 'discountAmount', (this.shoppingCartSelectedList[this.cartListIndex].discountAmount || 0) - +item.discountAmount)
        this.$set(this.shoppingCartSelectedList[this.cartListIndex], 'discountCumulativeNum', (this.shoppingCartSelectedList[this.cartListIndex].discountCumulativeNum || 0) - ((item.fullReductType === 1 && +item.activityAmount) || (item.fullReductType === 2 && +item.fullReductQty)))
        if (this.selectCouponIdArr && this.selectCouponIdArr.length === 0) {
          this.$set(this.shoppingCartSelectedList[this.cartListIndex], 'couponCanStack', true)
        }
      } else {
        let isSelectCoupon = this.isSelectCoupon(item.id)
        // 如果已经选择了优惠券，则判断当前选择的优惠券是否可叠加
        if (this.selectCouponIdArr && this.selectCouponIdArr.length) {
          if (item.activityIsStack === '1' && this.shoppingCartSelectedList[this.cartListIndex].couponCanStack) { // 可叠加优惠券只能和可叠加优惠券一块使用
            if (!isSelectCoupon) {
              let temp = (this.shoppingCartSelectedList[this.cartListIndex].discountCumulativeNum || 0) + ((item.fullReductType === 1 && +item.activityAmount) || (item.fullReductType === 2 && +item.fullReductQty))
              if (temp <= ((item.fullReductType === 1 && this.totalPrice) || (item.fullReductType === 2 && this.totalNum))) {
                this.selectCouponIdArr.push(item.id)
                this.$set(this.shoppingCartSelectedList[this.cartListIndex], 'discountAmount', (this.shoppingCartSelectedList[this.cartListIndex].discountAmount || 0) + +item.discountAmount)
                this.$set(this.shoppingCartSelectedList[this.cartListIndex], 'discountCumulativeNum', temp)
              } else {
                this.$toast.fail('已超出' + (item.fullReductType === 1 ? '金额' : item.fullReductType === 2 ? '数量' : ' ') + '条件，不可再叠加')
                return
              }
            } else {
              this.$toast.fail('该优惠券已被其他订单使用')
              return
            }
          } else if (item.activityIsStack === '1' && this.shoppingCartSelectedList[this.cartListIndex].couponCanStack === false) {
            this.$toast.fail('已选优惠券不可叠加使用')
            return
          } else {
            this.$toast.fail('该优惠券不可叠加使用')
            return
          }
        } else {
          if (!isSelectCoupon) {
            let temp = (this.shoppingCartSelectedList[this.cartListIndex].discountCumulativeNum || 0) + ((item.fullReductType === 1 && +item.activityAmount) || (item.fullReductType === 2 && +item.fullReductQty))
            if (temp <= ((item.fullReductType === 1 && this.totalPrice) || (item.fullReductType === 2 && this.totalNum))) {
              this.selectCouponIdArr.push(item.id)
              this.$set(this.shoppingCartSelectedList[this.cartListIndex], 'discountAmount', (this.shoppingCartSelectedList[this.cartListIndex].discountAmount || 0) + +item.discountAmount)
              this.$set(this.shoppingCartSelectedList[this.cartListIndex], 'discountCumulativeNum', temp)
              this.$set(this.shoppingCartSelectedList[this.cartListIndex], 'couponCanStack', item.activityIsStack === '1')
            } else {
              this.$toast.fail('已超出' + (item.fullReductType === 1 ? '金额' : item.fullReductType === 2 ? '数量' : ' ') + '条件，不可再叠加')
              return
            }
          } else {
            this.$toast.fail('该优惠券已被其他订单使用')
            return
          }
        }
      }
      this.$set(this.shoppingCartSelectedList[this.cartListIndex], 'selectCouponIdArr', this.selectCouponIdArr)
      this.totalBill()
    },
    // 判断该优惠券是否有其他订单已经选择
    isSelectCoupon (id) {
      for (let i = 0; i < this.shoppingCartSelectedList.length; i++) {
        if (this.shoppingCartSelectedList[i].selectCouponIdArr && this.shoppingCartSelectedList[i].selectCouponIdArr.length) {
          for (let j = 0; j < this.shoppingCartSelectedList[i].selectCouponIdArr.length; j++) {
            if (id === this.shoppingCartSelectedList[i].selectCouponIdArr[j]) {
              return true
            }
          }
        }
      }
      return false
    },
    clearCoupon () {
      this.isClearCoupon = true
      this.selectCouponIdArr = []
      this.$set(this.shoppingCartSelectedList[this.cartListIndex], 'selectCouponIdArr', this.selectCouponIdArr)
      this.$set(this.shoppingCartSelectedList[this.cartListIndex], 'discountAmount', 0)
      this.$set(this.shoppingCartSelectedList[this.cartListIndex], 'discountCumulativeNum', 0)
      this.totalBill()
    },
    // 格式化日期
    formatDate (date) {
      let _date = date || new Date()

      return `${_date.getFullYear()}-${zero(_date.getMonth() + 1)}-${zero(_date.getDate())}`
    },
    // 计算账单
    totalBill () {
      let totalCount = 0
      let totalPrice = 0
      let totalDiscountAmount = 0
      for (let i = 0; i < this.shoppingCartSelectedList.length; i++) {
        if (this.shoppingCartSelectedList[i].cartList && this.shoppingCartSelectedList[i].cartList.length > 0) {
          let total = 0
          let count = 0

          for (let j = 0; j < this.shoppingCartSelectedList[i].cartList.length; j++) {
            let item = this.shoppingCartSelectedList[i].cartList[j]
            count += item.isAssistOrder
              ? item.assistQty
              : item.qty

            total += +item.exeuAmount ||
              (item.isAssistOrder
                ? item.assistQty * 1
                : item.qty) * item.price
          }

          this.shoppingCartSelectedList[i].total = total
          this.shoppingCartSelectedList[i].totalCount = count
          totalPrice += total
          totalCount += count
          totalDiscountAmount += this.shoppingCartSelectedList[i].discountAmount || 0
        }
      }
      this.totalNum = totalCount
      // 是否使用优惠券
      this.totalPrice = totalPrice
      this.totalDiscountAmount = totalDiscountAmount
    },
    // 提交订单
    submit: _debounce(function () {
      if (this.orderSaveFlag) return
      this.orderSaveFlag = true

      let customer = JSON.parse(sessionStorage.getItem('defaultCustomer'))
      if (customer.isEntrustDelivery && !customer.isEntrustOrder) {
        this.$toast.fail('当前用户角色只是客户【' + customer.customerName + '】的司机，不能进行下单操作！')

        setTimeout(() => {
          this.orderSaveFlag = false
        }, 1000)
        return
      }

      if (this.changeCount && this.shoppingCartSelectedList[0].cartList[0].qty <= 0) {
        this.$toast('数量不能为0')

        setTimeout(() => {
          this.orderSaveFlag = false
        }, 1000)
        return
      }

      if (!this.deliverDate) {
        this.$toast('请选择发货日期')

        setTimeout(() => {
          this.orderSaveFlag = false
        }, 1000)
        return
      }

      if (!this.addressId) {
        this.$toast('请选择收货地址')

        setTimeout(() => {
          this.orderSaveFlag = false
        }, 1000)
        return
      }
      let params = {
        orderItem: []
      }
      let couponIdArr = [] // 优惠券id集合
      let totalPrice = 0 // 总价

      for (let i = 0; i < this.shoppingCartSelectedList.length; i++) {
        let shopItem = {} // 店铺
        let itemEntry = [] // 店铺中的商品项
        let subTotalPrice = 0 // 每个门店的总价
        shopItem.ownerId = this.shoppingCartSelectedList[i].ownerId // 渠道id
        shopItem.payType = '001' // 付款方式

        // 使用优惠券(添加两个参数：优惠券ID集合、优惠金额总和)
        if (this.shoppingCartSelectedList[i].selectCouponIdArr && this.shoppingCartSelectedList[i].selectCouponIdArr.length) {
          couponIdArr = this.shoppingCartSelectedList[i].selectCouponIdArr
          shopItem.couponIds = couponIdArr.join(',')
          shopItem.cutAmount = this.shoppingCartSelectedList[i].discountAmount
        }

        if (this.shoppingCartSelectedList[i].cartList && this.shoppingCartSelectedList[i].cartList.length > 0) {
          for (let j = 0; j < this.shoppingCartSelectedList[i].cartList.length; j++) {
            if (this.shoppingCartSelectedList[i].cartList[j].comFlag === 1) {
              itemEntry.push({
                shoppingCartId: this.shoppingCartSelectedList[i].cartList[j].id,
                entryType: '1'
              })
            }

            let money = (this.shoppingCartSelectedList[i].cartList[j].isAssistOrder
              ? (this.shoppingCartSelectedList[i].cartList[j].assistQty * 1)
              : this.shoppingCartSelectedList[i].cartList[j].qty) * this.shoppingCartSelectedList[i].cartList[j].price

            let item = {
              shoppingCartId: this.shoppingCartSelectedList[i].cartList[j].id,
              itemId: this.shoppingCartSelectedList[i].cartList[j].itemId,
              name: this.shoppingCartSelectedList[i].cartList[j].itemName,
              price: this.shoppingCartSelectedList[i].cartList[j].price + '',
              money: money + '',
              entryType: this.shoppingCartSelectedList[i].cartList[j].entryType || '0',
              remark: this.shoppingCartSelectedList[i].cartList[j].remark,
              px: this.shoppingCartSelectedList[i].cartList[j].px,
              pz: this.shoppingCartSelectedList[i].cartList[j].pz,
              qt: this.shoppingCartSelectedList[i].cartList[j].qt
            }

            this.shoppingCartSelectedList[i].cartList[j].wtRangeMap && (item.wtRangeId = this.shoppingCartSelectedList[i].cartList[j].wtRangeMap.id)

            if (+this.shoppingCartSelectedList[i].cartList[j].assistattrId) {
              item.assistattrId = this.shoppingCartSelectedList[i].cartList[j].assistattrId
            }

            if (this.shoppingCartSelectedList[i].cartList[j].isAssistOrder) {
              item.assistQty = this.shoppingCartSelectedList[i].cartList[j].assistQty + ''
              item.assistUnitId = this.shoppingCartSelectedList[i].cartList[j].assistunitId
              this.shoppingCartSelectedList[i].cartList[j].maxAvgWeight && (item.maxAvgWeight = 1)
            } else {
              item.qty = this.shoppingCartSelectedList[i].cartList[j].qty + ''
              item.unitId = this.shoppingCartSelectedList[i].cartList[j].unitId
            }

            itemEntry.push(item)
            subTotalPrice += money
            totalPrice += money
          }
        }
        shopItem.subtotal = subTotalPrice + ''
        shopItem.itemEntry = itemEntry // 店铺项
        params.orderItem.push(shopItem)
      }
      params.amount = totalPrice + '' // 总金额
      params.customerId = JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
      params.comeFrom = 'mobile'
      params.customerAddressId = this.addressId // 地址id
      params.isZZ = '1' // 种猪营销标识
      params.distribution = this.distributionType // 配送方式 0 物流配送 1 车辆配送
      params.deliverDate = this.deliverDate

      this.$set(this.btns[0], 'loading', true)
      this.loadingToast = this.$toast.loading({
        duration: 0, // 持续展示
        overlay: true, // 显示背景蒙层
        message: '正在提交...'
      })

      // 提交订单
      api.commonCall(params, 'wsPurOrderSave').then(res => {
        this.$set(this.btns[0], 'loading', false)
        this.loadingToast && this.loadingToast.clear()
        if (res.success) {
          // this.$toast.success('提交成功')
          // 消息提醒
          this.notifyType = 'success'
          this.notifyText = '提交成功'
          this.notifyShow = true

          // 删除购物车剔除列表
          let params = { ids: [], type: 1, customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId }
          this.shoppingCartRejectedList.forEach(v => {
            params.ids.push(v.id)
          })
          if (!params.ids.length) {
            // 重新获取购物车列表
            let param = {
              page: 1,
              pageSize: 999,
              isGetCountOnly: 1,
              customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
            }
            if (this.$store.state.intoPage === 0 && getCookie('selectedChannel')) {
              param.owner = JSON.parse(getCookie('selectedChannel')).channelId
            } else if (this.$store.state.intoPage === 1 && this.$store.state.channel.currentChannel && this.$store.state.channel.currentChannel.channelId) {
              param.owner = this.$store.state.channel.currentChannel.channelId
            }
            api.queryCart(param).then(res => {
              if (res.success) {
                this.setShoppingCartCount(res.data.count)
              }
            })

            setTimeout(() => {
              this.$router.replace({ path: '/' })
            }, 2500)
          } else {
            api.deleteCart(params).then(response => {
              if (response.success) {
                // 重新获取购物车列表
                let param = {
                  page: 1,
                  pageSize: 999,
                  isGetCountOnly: 1,
                  customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
                }
                if (this.$store.state.intoPage === 0 && getCookie('selectedChannel')) {
                  param.owner = JSON.parse(getCookie('selectedChannel')).channelId
                } else if (this.$store.state.intoPage === 1 && this.$store.state.channel.currentChannel && this.$store.state.channel.currentChannel.channelId) {
                  param.owner = this.$store.state.channel.currentChannel.channelId
                }
                api.queryCart(param).then(res => {
                  if (res.success) {
                    this.setShoppingCartCount(res.data.count)
                  }
                })

                setTimeout(() => {
                  this.$router.replace({ path: '/' })
                }, 500)
              }
            })
          }
        } else {
          // 消息提醒
          this.notifyType = 'fail'
          this.notifyText = res.message
          this.notifyShow = true

          setTimeout(() => {
            this.orderSaveFlag = false
          }, 1000)

          this.$dialog.alert({
            title: '温馨提示',
            message: res.message && res.message.replace('调用移动分销接口失败：', '')
          }).then(() => {

          })
        }
      })
    }, 500),
    // 发货日期选择
    onDateConfirm (date) {
      this.showdeliverDatePicker = false
      this.deliverDate = this.formatDate(date)
    },
    // 查询余额
    balanceQuery () {
      let params = {
        customer: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId,
        storeId: this.shoppingCartSelectedList[0].ownerId
      }

      api.commonCall(params, 'queryCurrentBalance').then(res => {
        if (res.success) {
          this.balance = res.data.amount
        }
      })
    },
    // 查询发货日期
    getDeliveryDate () {
      let params = {
        storeId: this.shoppingCartSelectedList[0].ownerId,
        customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
      }
      api.commonCall(params, 'getDeliveryDate').then(res => {
        if (res.success) {
          this.minDeliverDate = new Date(res.data.deliveryDateRange.split('~')[0])
          this.maxDeliverDate = new Date(res.data.deliveryDateRange.split('~')[1])
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    }
  },
  beforeRouteEnter (to, from, next) {
    if (from.path !== '/driver') {
      if (sessionStorage.getItem('placeOrder')) {
        sessionStorage.removeItem('placeOrder')
      }
    }
    next()
  },
  beforeDestroy () {
    this.loadingToast && this.loadingToast.value && this.loadingToast.clear()
  }
}
</script>

<style scoped lang="less">
@import "~@/assets/css/mixin.less";

.place-order {
  min-height: calc(100vh - 146px);
  background: #F1F1F1;
  padding-bottom: 146px;
  position: relative;

  .ws-copyright {
    position: absolute;
    width: 100%;
    bottom: 104px;
    color: #999999;
    font-size: 16px;
    font-family: Microsoft YaHei;
    text-align: center;
  }

  .format-img {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    @{deep}.van-nav-bar {
      background: #E60012;
      &__title {
        font-size: 38px;
        color: #FFFFFF;
      }
      &__left {
        .van-nav-bar__arrow {
          color: #FFFFFF !important;
        }
      }
    }
  }

  .checkbox-box {
    .place-coupon{
      width: 100%;
      background-color: #f8f8f8;
      .place-coupon-option{
        overflow: hidden;
        padding-top: 20px;
        background-color: #f8f8f8;
        .place-coupon-list {
          width: 100%;
          height: 174px;
          background: url("~@/assets/images/coupon/plice-coupon-background.svg") no-repeat center center;
          background-size: 100% 100%;
          position: relative;
          box-sizing: border-box;
          padding: 0 20px;
          margin-bottom: 14px;
          display: flex;
          .place-coupon-content{
            width: 160px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column;
            .p-yuan{
              color: #fff;
              font-size: 24px;
              font-family: Avenir-Black, Avenir;
              font-weight: 900;
              text-align: center;
              span{
                font-size: 60px;
              }
            }
            .p-text{
              font-size: 24px;
              color: #fff;
              text-align: center;
            }
          }
          .place-coupon-text{
            width: 440px;
            height: 100%;
            display: flex;
            justify-content: center;
            flex-flow: column;
            padding-left: 26px;
            box-sizing: border-box;
            overflow: hidden;
            p{
              margin-bottom: 8px;
              color: #333;
              font-size: 32px;
              font-weight: 500;
              display: -webkit-box;
              -webkit-line-clamp: 2; // 限制文本的行数，只显示两行
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
              word-wrap: break-word;
              word-break: break-all;
              &.stack {
                color: #666;
                font-size: 24px;
              }
            }
            span{
              display: inline-block;
              font-size: 24px;
              color: #A9ABAF;
            }
          }
          .coupon-selected {
            width: 110px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            @{deep} .van-checkbox--disabled {
              cursor: pointer;
              .van-checkbox__icon--disabled {
                cursor: pointer;
                .van-icon {
                  color: #fff;
                  background-color: #fff;
                }
              }
              .van-checkbox__icon--checked {
                .van-icon {
                  background-color: #F59900;
                  border-color: #F59900;
                }
              }
            }
          }
        }
        .coupon-content-bottom{
          width: 100%;
          height: 88px;
          box-sizing: border-box;
          padding: 0 20px;
          display: flex;
          justify-content: space-between;
          p{
            color: #999999;
            font-size: 28px;
            line-height: 88px;
            padding-left: 30px;
          }
          .uncoupon-selected {
            width: 110px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
      .place-unCoupon-bottom{
        width: 100%;
        overflow: hidden;
        .p-title{
          padding: 18px 0 18px 52px;
          color: #333;
          font-size: 28px;
        }
        .coupon-two{
          width: 100%;
          height: 174px;
          background: url("~@/assets/images/coupon/plice-uncoupon-background.svg") no-repeat center center;
          background-size: 100% 100%;
          position: relative;
          box-sizing: border-box;
          padding: 0 20px;
          margin-bottom: 14px;
          display: flex;
          .coupon-two-left{
            width: 200px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column;
            .p-yuan{
              color: #999;
              font-size: 24px;
              font-family: Avenir-Black, Avenir;
              font-weight: 900;
              text-align: center;
              span{
                font-size: 60px;
              }
            }
            .p-text{
              font-size: 24px;
              color: #E02020;
              text-align: center;
            }
          }
          .coupon-two-right{
            width: 510px;
            height: 100%;
            display: flex;
            justify-content: center;
            flex-flow: column;
            padding: 0 10px 0 26px;
            box-sizing: border-box;
            overflow: hidden;
            .reason {
              color: #666;
              font-size: 24px;
              display: flex;
              align-items: center;
              .van-icon {
                color: #E02020;
                font-size: 26px;
              }
              >span {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
            }
            p{
              margin-bottom: 8px;
              color: #333;
              font-size: 32px;
              font-weight: 500;
              display: -webkit-box;
              -webkit-line-clamp: 2; // 限制文本的行数，只显示两行
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
              word-wrap: break-word;
              word-break: break-all;
            }
            .date{
              display: inline-block;
              padding-top: 14px;
              color: #A9ABAF;
              font-size: 24px;
            }
          }
        }
      }
    }
  }

  .list {
    margin: 0 20px;
    min-height: 96px;
    display: flex;
    align-items: center;
    font-size: 28px;
    .border-1px(#CCCCCC);
    &.active {
      position: relative;
      overflow: hidden;
      &:active {
        background: rgba(0, 0, 0, 0.05);
      }
    }
    .label {
      width: 146px;
      flex: 0 0 146px;
      padding-left: 12px;
      color: #666666;
    }
    .label-icon {
      flex-shrink: 0;
      display: inline-block;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center;
      &.location {
        width: 74px;
        height: 92px;
        .bg-img("~@/assets/images/new-version/place-order/location");
      }
    }
    .content {
      flex: 1;
    }
    .content-right {
      flex: 1;
      text-align: right;
      color: #333333;
      &.highlight {
        color: #e33240;
      }
    }
    .arrow {
      font-size: 24px;
      color: #999999;
      width: 70px;
      text-align: center;
      padding-top: 4px;
    }
    &.warehouse {
      padding: 32px 0;
      .content-right {
        text-align: left;
      }
    }
    &.needdate {
      height: 40px;
      .content-right {
        color: #1A4BB4;
      }
    }
    &.distribution-type {
      height: 40px;
      @{deep}.van-radio-group {
        flex: 1;
        .van-radio {
          flex: 1;
        }
      }
    }
    &.balance {
      .content-right {
        margin-right: 26px;
      }
    }
    &.no-border {
      &::after {
        border: 0;
      }
    }
  }

  .tip {
    margin: 0 20px;
    padding: 0 0 14px 12px;
    height: 40px;
    font-size: 28px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    color: #333333;
    line-height: 40px;
    .border-1px(#CCCCCC);
  }

  .input {
    display: block;
    outline: none;
    width: 100%;
    border: 0;
    height: 60px;

    &::-webkit-input-placeholder {
      color: #c1c4ca;
    }
  }

  >div {
    .content {
      background-position: top center;
      background-size: 100% 324px;
      background-repeat: no-repeat;
      .bg-img('~@/assets/images/new-version/place-order/top-bg');
      &.van-content {
        padding-top: 92px;
      }

      .top-wrap {
        margin: 10px 12px 16px;
        box-shadow: -5px 5px 6px -4px #E0E0E0, 5px 5px 6px -4px #E0E0E0;
        .wrap-content {
          background: #FFFFFF;
          border-radius: 12px;
          .list {
            padding: 20px 0;
            min-height: 20px;
            &:last-child {
              &::after {
                border: 0;
              }
            }
          }
        }
      }

      .order-list {
        margin-bottom: 20px;
        .order-item {
          margin: 0 12px 20px;
          border-radius: 12px;
          box-shadow: 0 0 6px #E0E0E0;
          background: white;
          .title {
            display: flex;
            align-items: center;
            padding: 18px 24px;
            i {
              display: inline-block;
              width: 60px;
              height: 60px;
              margin-right: 14px;
              background-repeat: no-repeat;
              background-size: 100% 100%;
              background-position: center;
              .bg-img("~@/assets/images/new-version/place-order/shop-icon");
            }
            .owner-name {
              color: #000000;
              font-size: 36px;
            }
            .van-tag {
              font-size: 20px;
              height: 32px;
              margin-left: 8px;
              padding: 0 4px;
              border-radius: 6px;
            }
          }

          .goods-item {
            padding: 0 24px 30px;
            position: relative;
            >.comList {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              text-align: center;
              background: #e33240;
              color: white;
            }
            &.border-1 {
              border: 1px solid #e33240;
              border-bottom: 0;
              padding-top: 60px;
            }
            &.border-middle {
              border: 1px solid #e33240;
              border-top: 0;
              border-bottom: 0;
            }
            &.border-last {
              border: 1px solid #e33240;
              border-top: 0;
            }
            .goods-item-inner{
              display: flex;

              .goods-img {
                width: 180px;
                height: 180px;
              }

              .goods-content {
                flex: 1;
                padding-left: 24px;
                display: flex;
                flex-direction: column;

                > div {
                  color: #2e3033;

                  &:first-child {
                    font-size: 28px;
                    line-height: 36px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    word-wrap: break-word;
                    word-break: break-all;
                  }

                  &:nth-child(2) {
                    font-size: 22px;
                    padding: 15px 0;
                    color: #8e939a;
                  }

                  &.input-remark {
                    position: relative;
                    input {
                      height: 50px;
                      font-size: 26px;
                      color: #8e939a;
                    }
                    .input-word-count {
                      text-align: center;
                      position: absolute;
                      right: 7px;
                      top: 1px;
                      bottom: 1px;
                      padding-left: 7px;
                      background: #fff;
                      z-index: 1;
                      display: inline-flex;
                      align-items: flex-end;
                      color: #808695;
                      font-size: 24px;
                    }
                  }

                  &.price-module {
                    .product-number {
                      input {
                        width: 80px;
                        line-height: 36px;
                        text-align: center;
                        color: #5e6166;
                        background: rgba(200, 200, 200, 0.5);
                        border: 0;
                      }
                    }
                  }

                  &:last-child {
                    flex: 1;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;

                    > span {
                      color: #e33240;
                      font-size: 28px;

                      &:last-child {
                        padding-right: 46px;
                      }

                      > span {
                        font-size: 36px;
                      }
                    }
                  }
                }
              }
            }
          }

          .proList {
            border-bottom: 2px dashed #e33240;
            // text-align: center;
            margin: 0 20px 20px;
            >span {
              background: #e33240;
              color: white;
              display: inline-block;
              padding: 1px 6px 0;
              position: relative;
              margin-bottom: -2px;
            }
          }

          .total {
            font-size: 28px;
            color: #2e3033;
            text-align: right;
            padding: 40px 0;
            padding-right: 30px;

            > span {
              color: #e33240;
            }
          }
        }
      }

      .loading {
        margin: auto;
        width: 380px;
        height: 380px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .total-total {
    text-align: right;
    padding-right: 30px;

    > span {
      font-size: 30px;
      color: #2e3033;
      > span {
        color: #e33240;
      }
    }
  }

  .popup {
    color: #2e3033;
    font-size: 30px;
    background: rgb(245, 245, 245);
    text-align: center;

    .active {
      position: relative;
      transform: rotate(0deg);
      overflow: hidden;
      &:active {
        &::before {
          content: " ";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 1;
          background: rgba(0, 0, 0, 0.08);
        }
      }
    }

    > .popup-content > div {
      background: white;
    }

    .title {
      line-height: 96px;
      height: 96px;
      color: #8e939a;
      font-size: 26px;
      .border-1px(rgba(232, 233, 235, 1));
    }

    .select-list {
      min-height: 3 * 96px;
      max-height: 8 * 96px;
      -webkit-overflow-scrolling: touch;
      overflow: auto;

      > div {
        line-height: 96px;
        height: 96px;
        .active;
        .border-1px(rgba(232, 233, 235, 1));
      }
    }

    .button {
      .active;
      margin-top: 16px;
      line-height: 100px;
      height: 100px;
    }
  }
}

.red {
  color: #f95c5c;
}

.text-right {
  text-align: right;
}

</style>
