/* 深度作用域 */
@deep: ~'>>>';

.border-1px(@color: #E8E9EB, @width: 100%) {
  position: relative;
  &::after {
    content: ' ';
    width: @width;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    border-top: 1px solid @color;
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
      transform: scaleY(0.7);
      -webkit-transform: scaleY(0.7);
    }

    @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
      transform: scaleY(0.5);
      -webkit-transform: scaleY(0.5);
    }
  }
}

.border-before-1px(@color: #E8E9EB, @width: 100%) {
  position: relative;
  &::before {
    content: ' ';
    width: @width;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    border-bottom: 1px solid @color;
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
      transform: scaleY(0.7);
      -webkit-transform: scaleY(0.7);
    }

    @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
      transform: scaleY(0.5);
      -webkit-transform: scaleY(0.5);
    }
  }
}

.border-vertical-1px(@color: #E8E9EB) {
  position: relative;
  &::after {
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    border-right: 1px solid @color;
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
      transform: scaleX(0.7);
      -webkit-transform: scaleX(0.7);
    }

    @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
      transform: scaleX(0.5);
      -webkit-transform: scaleX(0.5);
    }
  }
}

.border-vertical-1px-left(@color: #E8E9EB, @left: 0) {
  position: relative;
  &::before {
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    left: @left;
    border-left: 1px solid @color;
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
      transform: scaleX(0.7);
      -webkit-transform: scaleX(0.7);
    }

    @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
      transform: scaleX(0.5);
      -webkit-transform: scaleX(0.5);
    }
  }
}

.border-none() {
  &::after {
    display: none;
  }
}

.clearfix {
  display: inline-block;
  &::after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

.bg-img(@url) {
  background-image: ~"url(@{url}@2x.png)";
  @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3) {
    background-image: ~"url(@{url}@3x.png)";
  }
}

.img-content(@url) {
  content: ~"url(@{url}@2x.png)";
  @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3) {
    content: ~"url(@{url}@3x.png)";
  }
}
