<template>
  <div class="scroll-to-top-hover-btn-wrapper" v-if="getScrollTop > 0">
    <div class="content" @click.stop="scrollToTop">
      <div class="icon"></div>
    </div>
  </div>
</template>

<script>
import { getScrollTop, scrollTop } from '@/utils/common'

export default {
  name: 'scroll-to-top-hover-btn',
  props: {
    targetDiv: {
      type: String,
      default: ''
    },
    // 距离顶部多少时显示
    displayDistance: {
      type: Number
    }
  },
  data () {
    return {
      getScrollTop: 0 // 距离顶部高度
    }
  },
  created () {
    window.addEventListener('scroll', this.handleScroll, true)
  },
  destroyed () {
    window.removeEventListener('scroll', this.handleScroll, true)
  },
  methods: {
    // 点击滚动到顶部
    scrollToTop () {
      if (this.targetDiv) {
        let div = document.getElementById(this.targetDiv)
        scrollTop(div, div.scrollTop, 0, 1000)
      } else {
        scrollTop(window, getScrollTop(), 0, 1000)
      }
    },
    // 监听滚动事件
    handleScroll () {
      if (this.targetDiv) {
        let div = document.getElementById(this.targetDiv)
        this.getScrollTop = this.displayDistance ? div.scrollTop - this.displayDistance : div.scrollTop - document.body.clientHeight
      } else {
        this.getScrollTop = this.displayDistance ? getScrollTop() - this.displayDistance : getScrollTop() - document.body.clientHeight
      }
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.scroll-to-top-hover-btn-wrapper {
  position: fixed !important;
  right: 100px;
  bottom: 240px;
  z-index: 9;
  .content {
    position: absolute;
    left: 0;
    top: 0;
    width: 70px;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.95);
    border: 1PX solid #808080;
    border-radius: 50%;
    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: inline-block;
      width: 35px;
      height: 35px;
      background-image: url('~@/assets/images/stick.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
  }
}
</style>
