<template>
  <div class="membership-wrapper" :class="rightColor">
    <van-nav-bar
      :title="title"
      :left-arrow="leftArrow"
      @click-left="onClickLeft"
      :left-text="leftText"
      :right-text="rightText"
      @click-right="onClickRight"
    >
      <div slot="right" v-if="!rightText">
        <slot name="slot-right"></slot>
      </div>
    </van-nav-bar>
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: 'membership-wrapper',
  props: {
    title: {}, // 标题
    leftText: {}, // 左文字
    rightText: {}, // 右文字
    leftArrow: {}, // 是否显示左箭头
    backPage: {
      // 点击箭头返回
      default: true
    },
    rightColor: {
      // 右文字颜色
      default: 'red'
    }
  },
  methods: {
    onClickLeft () {
      if (this.backPage) {
        if (window.history.length > 1) {
          this.$router.go(-1)
        } else {
          this.$router.push('/')
        }
      } else {
        this.$emit('click-left')
      }
    },
    onClickRight () {
      this.$emit('click-right')
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.membership-wrapper {
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  background: rgb(245, 245, 245);

  &.red {
    @{deep}.van-nav-bar__text {
      color: #e33240;
    }
  }

  &.grey {
    @{deep}.van-nav-bar__text {
      color: #8e939a;
    }
  }

  &.black {
    @{deep}.van-nav-bar__text {
      color: #2e3033;
    }
  }
}
</style>
