<template>
  <van-popup class="custom-notify" :class="`custom-notify--${type}`" v-model="show" position="bottom" :overlay="false">
    <div class="icon" :class="`icon-${type}`"></div>
    <span>{{notifyText}}</span>
  </van-popup>
</template>

<script>

export default {
  name: 'notify',
  props: {
    notifyShow: { // 展示
      type: Boolean,
      default: false
    },
    notifyType: { // 可选值为 success fail
      type: String,
      default: 'fail'
    },
    notifyText: { // 展示文案
      type: String,
      default: ''
    },
    duration: { // 展示时长（ms），值为0时，不消失
      type: [String, Number],
      default: 2000
    }
  },
  data () {
    return {
      show: false
    }
  },
  computed: {
    type () {
      switch (this.notifyType) {
        case 'success':
        case 'fail':
          return this.notifyType
        default:
          return 'fail'
      }
    }
  },
  watch: {
    notifyShow (n) {
      if (n) {
        this.showNotify()
      }
    }
  },
  methods: {
    showNotify () {
      this.show = true

      setTimeout(() => {
        this.show = false

        this.$emit('show-finish')
      }, +this.duration)
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.custom-notify {
  bottom: 96px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 14px 32px;
  color: #fff;
  font-size: 32px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  line-height: 44px;
  white-space: pre-wrap;
  word-wrap: break-word;
  &--success {
    background-color: #67C23A;
  }
  &--fail {
    background-color: #E02020;
  }
  .icon {
    width: 58px;
    height: 58px;
    flex: 0 0 58px;
    margin-right: 30px;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    &-success {
      .bg-img('~@/assets/images/new-version/common/success');
    }
    &-fail {
      .bg-img('~@/assets/images/new-version/common/fail');
    }
  }
}
</style>
