<template>
  <div class="activity">
    <!-- 导航栏 -->
    <tab-navbar
      @on-tab="toggleTab"
      @click-left="onClickLeft"
      :tab-list="tabList"
      :isFixed="false"
      :icon="false"
    ></tab-navbar>

    <div class="content">
      <!-- 促销 -->
      <img v-if="!index" :src="activityImg">
      <!-- 推荐 -->
      <img v-else :src="recommendImg">
    </div>
  </div>
</template>

<script>
import TabNavbar from '@/components/tab-navbar'

export default {
  name: 'activity',
  components: {
    TabNavbar
  },
  methods: {
    onClickLeft () {
      this.$router.go(-1)
    },
    toggleTab (index) {
      this.index = index
    }
  },
  data () {
    return {
      tabList: [{ title: '推荐' }, { title: '营销' }],
      index: 0,
      activityImg: require('../../public/images/activity.png'),
      recommendImg: require('../../public/images/recommend.png')
    }
  }
}
</script>

<style lang="less" scoped>
.activity {
  .content {
    img {
      display: block;
      width: 100%;
    }
  }
}
</style>
