<template>
<membership-wrapper class="customers-List" title="客户切换" :left-arrow="true">
        
      <div class="button">
       <div class="img" style="float:left"></div>
      <div class="text" style="float:left"></div>

      </div>
      <hr>
        <!-- <i></i> -->

</membership-wrapper>
</template>

<script>
import Tabbar from '@/components/index-2/tabbar'
import { api } from '@/api'
import { allImgDomainNameMixin } from '@/assets/js/mixin'
import { mapGetters } from 'vuex'
import { getDateFromToday } from '@/utils/common'
import MembershipWrapper from '@/components/membership-center/membership-wrapper'

export default {
  name: 'customers-List',
  mixins: [allImgDomainNameMixin],
  data () {
    return {
       radio: '1',
    }
  },
    //订单页面跳转
     goPages(){
         this.$router.push({
        path: '/order'
      })
     },
  components: {
    Tabbar,
    MembershipWrapper
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.customers-List {
  width: 100%;
  background: #F1F1F1 no-repeat auto;
  padding-bottom: 148px;
  color: #2e3033;
  min-height: calc(100% - 130px);
  min-height: calc(100vh - 148px);
  overflow-x: hidden;
.button{
width: 100%;
height: 90px;
.img{
width: 10%;
height: 80px;
background-color: seagreen;
border-radius: 50%;
}
.text{
 width: 60%;
 height: 80px;
 background-color: skyblue;
}


}
  }

</style>
