<template>
  <div class="goods-list-wrapper" id="content">
    <div class="top-fixed">
      <search-bar
        disabled
        valType="1"
        :defaultValue="searchValue"
        :hasLeft="false"
        @clickLeftIcon="onClickLeft"
        @showSearchPage="showSearchPage = true"
      >
        <!-- <van-icon name="arrow-left" slot="left" class="icon-back"/> -->
        <div slot="right" class="right-box">
          <span class="delivery-date" v-if="channel.currentChannel && channel.currentChannel.channelType === '5'" @click="showPicker = true">{{deliveryDate}}</span>
          <span class="shop-name" v-if="channel.currentChannel && (channel.currentChannel.storeName || channel.currentChannel.channelName)" @click="showChannel = true">{{channel.currentChannel && (channel.currentChannel.storeName || channel.currentChannel.channelName)}}</span>
          <div class="screen-icon" :class="{'screening': isScreening}" @click="showAttributeFiltering = true"></div>
          <div
            class="switch"
            :class="{horizontal: getDisplayMode === 0}"
            @click="switchDisplayMode"
          ></div>
        </div>
      </search-bar>
      <!-- <product-sorting-toolbar
        :isScreening="isScreening"
        @changeSort="changeSort"
        @showAttributeFiltering="showAttributeFiltering = true"
      ></product-sorting-toolbar> -->
    </div>

    <van-pull-refresh v-model="isLoading" @refresh="onRefresh" v-if="goodsList.length">
      <van-list v-model="loading" :finished="finished" @load="onLoad" :offset="200">
        <!-- goods-list start -->
        <transition name="van-fade">
          <ul class="vertical-list" v-if="getDisplayMode === 1">
            <li class="item" v-for="(item, index) in goodsList" :key="'vertical-' + index">
              <goods-item-three :data="item"></goods-item-three>
            </li>
          </ul>
        </transition>
        <transition name="van-fade">
          <ul class="horizontal-list" v-if="getDisplayMode === 0">
            <li class="item" v-for="(item, index) in goodsList" :key="'horizontal-' + index">
              <goods-item-two :data="item"></goods-item-two>
            </li>
          </ul>
        </transition>
      </van-list>
    </van-pull-refresh>

    <div class="no-data-box" v-else>
      <no-data :loading="requestLoading"></no-data>
    </div>

    <!-- goods-list end -->
    <!-- attribute-filtering start -->
    <attribute-filtering
      :show="showAttributeFiltering"
      :data="attributeFilteringList"
      @selected="selected"
    ></attribute-filtering>
    <!-- attribute-filtering end -->
    <!-- search-page start-->
    <transition name="fade">
      <div class="search-page" v-if="showSearchPage">
        <search
          v-model="searchValue"
          :refer="false"
          @search="search"
          @back="showSearchPage = false"
        ></search>
      </div>
    </transition>
    <!-- search-page end-->

    <!-- 底部弹出选择框(要货日期选择) -->
    <van-popup v-model="showPicker" position="bottom" :lock-scroll="false">
      <van-picker
        show-toolbar
        title="要货日期"
        :columns="deliveryDateList"
        :default-index="deliveryDateList.indexOf(deliveryDate)"
        @cancel="showPicker = false"
        @confirm="onConfirm"
      />
    </van-popup>

    <!-- 新服务部弹出框 -->
    <channel-selection-box :show="showChannel" @close="closeChannelSelectionBox"></channel-selection-box>

    <!-- 置顶悬浮按钮 -->
    <scroll-to-top-hover-btn targetDiv="content"></scroll-to-top-hover-btn>

    <!-- 底部tabbar导航 -->
    <tabbar :activeIndex="1"></tabbar>
  </div>
</template>

<script>
import Tabbar from '@/components/index-2/tabbar'
import SearchBar from '@/components/search-bar/index'
import ProductSortingToolbar from '@/components/product-sorting-toolbar'
import GoodsItemTwo from '@/components/goods-item/goods-item-two'
import GoodsItemThree from '@/components/goods-item/goods-item-three'
import AttributeFiltering from '@/components/attribute-filtering'
import NoData from '@/components/no-data'
import Search from '@/components/search/search'
import ScrollToTopHoverBtn from '@/components/scroll-to-top-hover-btn/index'
import ChannelSelectionBox from '@/components/index-2/channel-selection-box'
import { api } from '@/api'
// import { searchGoodsParams } from '@/assets/js/index'
import { mapGetters, mapActions } from 'vuex'
import { zero, getCookie } from '@/utils/common'

export default {
  name: 'goodsList',
  data () {
    return {
      searchValue: '', // 搜索值
      activeNames: ['1', '2'],
      goodsList: [],
      cacheGoodsList: [],
      showSearchPage: false, // 显示搜索页
      showAttributeFiltering: false, // 显示属性过滤
      attributeFilteringList: [],
      isScreening: false, // 是否“已筛选”
      breadcrumb: [],
      breadcrumbItem: [],
      currentPage: 1,
      pageSize: 10,
      total: 0,
      sort: [],
      params: {},
      showPicker: false, // 显示要货日期选择框
      deliveryDateList: [], // 可选的要货日期列表
      deliveryDate: '', // 要货日期（蛋业）
      isLoading: false,
      finished: false,
      loading: false,
      requestLoading: false, // 接口请求加载动画
      showChannel: false // 显示服务部选择框
    }
  },
  computed: {
    ...mapGetters(['getDisplayMode', 'channel'])
  },
  created () {
    this.sort = []
    this.params = this.$route.query
    this.initDeliveryDateList() // 初始化可选的要货日期列表
    this.initData()
    this.init()
  },
  beforeRouteUpdate (to, from, next) {
    this.breadcrumb = []
    this.params = to.query
    this.initData()
    this.showSearchPage = false

    if (document.documentElement.scrollTop) {
      document.documentElement.scrollTop = 0

      this.$nextTick(() => {
        this.currentPage = 1
        this.cacheGoodsList = []
        this.goodsList = []
        this.init()
      })
    } else {
      this.currentPage = 1
      this.cacheGoodsList = []
      this.goodsList = []
      this.init()
    }

    next()
  },
  methods: {
    ...mapActions(['setDisplayMode']),
    // 返回
    onClickLeft () {
      this.$router.go(-1)
    },
    // 下拉刷新
    onRefresh () {
      this.currentPage = 1
      this.cacheGoodsList = []
      this.goodsList = []
      this.init()
    },
    // 切换显示方式
    switchDisplayMode () {
      this.getDisplayMode === 0 ? this.setDisplayMode(1) : this.setDisplayMode(0)
    },
    // 初始化数据
    initData () {
      this.breadcrumbItem = []
      this.searchValue = ''

      if (this.params && this.params.wd) {
        this.searchValue = this.params.wd
      }

      if (this.params && this.params.condition) {
        let breadcrumb = decodeURIComponent(this.params.condition).split(';')
        breadcrumb.forEach(v => {
          this.breadcrumb.push(v.split('_'))
        })
      }
      if (this.params && this.params.itemClassList) {
        let breadcrumbItem = decodeURIComponent(
          this.params.itemClassList
        ).split(';')
        let path = ''
        breadcrumbItem.forEach(v => {
          let arr = v.split('_')
          path = path ? ';' + v : v
          arr.push(path)

          this.breadcrumbItem.push(arr)
        })
      }
    },
    // deleteItem(index) {
    //     this.breadcrumb.splice(index, 1);
    //     let condition = decodeURIComponent(this.params.condition).split(';');
    //     condition.splice(index, 1);
    //     this.params.condition = condition.join(';');
    //     this.goSearch();
    // },
    // 搜索
    search (val) {
      if (this.searchValue !== val) {
        let query = {}

        val && (query.wd = val)

        this.$router.replace({
          name: 'goodsList',
          query
        })
      } else {
        this.showSearchPage = false
      }
    },
    // 选中属性过滤的值
    selected (val, isSelected) {
      this.isScreening = isSelected
      this.showAttributeFiltering = false
      let params = {}
      this.params.wd && (params.wd = this.params.wd)

      val.key && (params.condition = val.key)

      this.params.itemClassList &&
        (params.itemClassList = this.params.itemClassList)

      let keys = ''
      for (let key in params) {
        keys && (keys += '&')
        keys += key + '=' + params[key]
      }
      this.$router.replace({
        path: '/goodsList?' + keys
      })
    },
    // 分页修改的回调，放回修改后的page
    onLoad () {
      this.currentPage++
      this.init()
    },
    // 修改排序方式
    changeSort (item) {
      this.sort = []
      let sort = {}
      item.sortOrder === 2 ? (sort.order = 'asc') : (sort.order = 'desc')
      switch (item.id) {
        case 1:
          this.sort = []
          break
        case 2:
          sort.field = 'saleQty'
          this.sort.push(sort)
          break
        case 3:
          sort.field = 'sellTime'
          this.sort.push(sort)
          break
        case 4:
          sort.field = 'referencePrice'
          this.sort.push(sort)
          break
      }

      document.documentElement.scrollTop = 0
      this.$nextTick(() => {
        this.currentPage = 1
        this.cacheGoodsList = []
        this.goodsList = []
        this.init()
      })
    },
    // 初始化
    init () {
      let params = {
        pageNo: this.currentPage,
        pageSize: this.pageSize,
        isGetWtRange: 0,
        isGetStock: 0,
        sellDate: this.channel.currentChannel && this.channel.currentChannel.channelType === '5' ? this.deliveryDate : '',
        searchKeyword: this.searchValue,
        dataSource: 'DB'
      }

      for (let i = 0; i < this.breadcrumb.length; i++) {
        if (this.breadcrumb[i][0] === '销售渠道') {
          params.tempOwnerId = this.breadcrumb[i][2]
        } else if (this.breadcrumb[i][0] === '商品分类') {
          params.itemClassId = this.breadcrumb[i][2]
        }
      }

      if (sessionStorage.getItem('token')) {
        if (this.$store.state.intoPage === 0 && sessionStorage.getItem('defaultCustomer')) {
          params.customerId = JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
        } else if (this.$store.state.intoPage === 1 && this.$store.state.customer.current && this.$store.state.customer.current.customerId) {
          params.customerId = this.$store.state.customer.current.customerId
        }

        if (this.$store.state.intoPage === 0 && getCookie('selectedChannel')) {
          params.ownerId = JSON.parse(getCookie('selectedChannel')).channelId
        } else if (this.$store.state.intoPage === 1 && this.$store.state.channel.currentChannel && this.$store.state.channel.currentChannel.channelId) {
          params.ownerId = this.$store.state.channel.currentChannel.channelId
        }
        if (!params.ownerId) return // 如果没有关联订货关系，则不请求接口
      }

      this.requestLoading = true
      api.commonCall(params, 'queryGoodsFromDb').then(res => {
        this.requestLoading = false
        if (res.success) {
          res.data.list.forEach(v => {
            // 重新定义字段名
            v.maxBuyQty = v.max_buy_qty || 0
            v.minBuyQty = v.min_buy_qty || 0
            v.showStock = { show_stock: v.show_stock, cur_stock: v.cur_stock || 0 }
            v.weightRange = v.weight_range || []
            v.specification && v.specification[0] && (v.maxAvgWeight = v.specification[0].maxAvgWeight)
          })

          this.cacheGoodsList = this.cacheGoodsList.concat(res.data.list)
          this.goodsList.splice(0, this.goodsList.length, ...this.cacheGoodsList)
          this.total = res.data.totalNumber
          this.finished = false

          let arr1 = res.data.aggregation
          let arr2 = this.breadcrumb
          let len2 = arr2.length
          let allName = {}

          // 显示“已筛选”
          if (len2 > 0) {
            this.isScreening = true
          }
          for (let k = 0; k < len2; k++) {
            allName[arr2[k][0]] = arr2[k]
          }
          for (let i = 0; i < arr1.length; i++) {
            if (!arr1[i].range.length) {
              if (allName[arr1[i].name]) {
                let item = {
                  selected: true,
                  name: allName[arr1[i].name][1],
                  id: allName[arr1[i].name][2]
                }
                arr1[i].range.push(item)
              } else {
                arr1.splice(i, 1)
                i--
              }
              continue
            }
            // 选中筛选项
            for (let j = 0; j < len2; j++) {
              if (arr1[i].name === arr2[j][0]) {
                arr1[i].range.forEach(v => {
                  v.selected = v.name === arr2[j][1]
                })
                break
              }
            }
          }

          this.attributeFilteringList.splice(
            0,
            this.attributeFilteringList.length,
            ...arr1
          )
          this.currentPage = res.data.currentPage

          this.loading = false

          if (this.cacheGoodsList.length >= this.total) {
            this.finished = true
          }

          setTimeout(() => {
            this.isLoading = false
          }, 100)
        } else {
          this.goodsList = []
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    initDeliveryDateList () {
      let nowDay = new Date()
      let tomorrowDay = new Date(nowDay.getTime() + 24 * 60 * 60 * 1000)
      let secondDay = new Date(nowDay.getTime() + 2 * 24 * 60 * 60 * 1000)
      let thirdDay = new Date(nowDay.getTime() + 3 * 24 * 60 * 60 * 1000)
      let nowDate = nowDay.getFullYear() + '-' + zero(nowDay.getMonth() + 1) + '-' + zero(nowDay.getDate())
      let tomorrowDate = tomorrowDay.getFullYear() + '-' + zero(tomorrowDay.getMonth() + 1) + '-' + zero(tomorrowDay.getDate())
      let secondDate = secondDay.getFullYear() + '-' + zero(secondDay.getMonth() + 1) + '-' + zero(secondDay.getDate())
      let thirdDate = thirdDay.getFullYear() + '-' + zero(thirdDay.getMonth() + 1) + '-' + zero(thirdDay.getDate())

      this.deliveryDateList.push(nowDate, tomorrowDate, secondDate, thirdDate)

      let idx = sessionStorage.getItem('userInfo') && JSON.parse(sessionStorage.getItem('userInfo')).phone
      let deliveryDate = sessionStorage.getItem('deliveryDate') && JSON.parse(sessionStorage.getItem('deliveryDate'))
      if (idx && deliveryDate && deliveryDate[`${idx}__expires__${nowDate}`] && (new Date(deliveryDate[`${idx}__expires__${nowDate}`]) >= new Date(nowDate))) {
        this.deliveryDate = deliveryDate[`${idx}__expires__${nowDate}`]
      } else {
        this.deliveryDate = tomorrowDate

        if (!deliveryDate) {
          deliveryDate = {}
        }

        if (idx) {
          deliveryDate[`${idx}__expires__${nowDate}`] = tomorrowDate
        }

        sessionStorage.setItem('deliveryDate', JSON.stringify(deliveryDate))
      }
    },
    // 底部弹出选择框列表点击
    onConfirm (item) {
      this.showPicker = false
      if (this.deliveryDate === item) return

      let nowDay = new Date()
      let nowDate = nowDay.getFullYear() + '-' + zero(nowDay.getMonth() + 1) + '-' + zero(nowDay.getDate())
      let idx = sessionStorage.getItem('userInfo') && JSON.parse(sessionStorage.getItem('userInfo')).phone
      let deliveryDate = sessionStorage.getItem('deliveryDate') && JSON.parse(sessionStorage.getItem('deliveryDate'))
      deliveryDate[`${idx}__expires__${nowDate}`] = item
      sessionStorage.setItem('deliveryDate', JSON.stringify(deliveryDate))
      this.deliveryDate = item

      this.currentPage = 1
      this.cacheGoodsList = []
      this.init()
    },
    closeChannelSelectionBox () {
      this.showChannel = false
    }
  },
  components: {
    SearchBar,
    ProductSortingToolbar,
    GoodsItemTwo,
    GoodsItemThree,
    AttributeFiltering,
    Search,
    NoData,
    Tabbar,
    ScrollToTopHoverBtn,
    ChannelSelectionBox
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.goods-list-wrapper {
  width: 100%;
  height: calc(100vh - 226px);
  padding-top: 96px;
  padding-bottom: 130px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background-color: #f2f2f2;
  .top-fixed {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    .icon-back {
      font-size: 40px;
      // font-weight: bold;
    }
    @{deep}.search-bar {
      .right {
        max-width: 536px;
      }
    }
    .right-box {
      display: flex;
      align-items: center;
      justify-items: center;
      .switch {
        margin-left: 20px;
        height: 96px;
        display: flex;
        align-items: center;
        justify-content: center;
        &::before {
          display: inline-block;
          width: 48px;
          height: 48px;
          content: "";
          .bg-img("~@/assets/images/icon/icon-vertical-column");
          background-size: 100% 100%;
        }
        &.horizontal {
          &::before {
            display: inline-block;
            width: 48px;
            height: 48px;
            content: "";
            .bg-img("~@/assets/images/icon/icon-horizontal-column");
            background-size: 100% 100%;
          }
        }
      }
      .screen-icon {
        margin-left: 28px;
        height: 96px;
        display: flex;
        align-items: center;
        justify-content: center;
        &::before {
          display: inline-block;
          width: 40px;
          height: 40px;
          content: "";
          .bg-img("~@/assets/images/index-2/screen");
          background-repeat: no-repeat;
          background-position: center;
          background-size: 100% 100%;
        }
        &.screening {
          &::before {
            .bg-img("~@/assets/images/index-2/alreadyscreen");
          }
        }
      }
      .delivery-date {
        display: inline-block;
        width: 140px;
        flex-shrink: 0;
        padding-right: 16px;
        position: relative;
        font-size: 26px;
        padding-left: 28px;
        &:after {
          content: " ";
          width: 0;
          height: 0;
          border: 8px solid #2e3033;
          border-left: 8px solid transparent;
          border-top: 8px solid transparent;
          position: absolute;
          bottom: 4px;
          right: 0;
        }
      }
      .shop-name {
        display: inline-block;
        max-width: 140px;
        max-height: 68px;
        flex-shrink: 0;
        padding-right: 20px;
        position: relative;
        font-size: 26px;
        padding-left: 28px;
        display: -webkit-box;
        -webkit-line-clamp: 2; // 限制文本的行数，只显示两行
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
        word-break: break-all;
        &:after {
          content: " ";
          width: 0;
          height: 0;
          border: 8px solid #2e3033;
          border-left: 8px solid transparent;
          border-top: 8px solid transparent;
          position: absolute;
          bottom: 4px;
          right: 0;
        }
      }
    }
  }

  .no-data-box {
    // background: white;
  }

  .horizontal-list {
    margin-top: 6px;
    overflow: hidden;
    .item {
      width: 372px;
      float: left;
      margin-bottom: 6px;
    }
    .item:nth-child(odd) {
      margin-right: 6px;
    }
  }

  .vertical-list {
    padding-top: 14px;
    background-color: #fff;
  }
}

.search-page {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 99;
}
</style>
