<template>
<membership-wrapper class="goods-list-wrapper" title="商品列表" :left-arrow="true">
    <div class="top-wrap">
      <div class="channel-wrap"> 
        <div class="channel-wrap__center">
          <span class="shop-name" v-if="channel.currentChannel && (channel.currentChannel.storeName || channel.currentChannel.channelName)">{{channel.currentChannel && (channel.currentChannel.storeName || channel.currentChannel.channelName)}}</span>
          <span class="delivery-date" v-if="channel.currentChannel && channel.currentChannel.channelType === '5'" @click="showPicker = true">{{deliveryDate}}</span>
        </div>
      </div>
      <search-bar
        disabled
        valType="1"
        :defaultValue="searchValue"
        :hasLeft="false"
        :hasRight="false"
        @clickLeftIcon="onClickLeft"
        @showSearchPage="showSearchPage = true"
      ></search-bar>
      <div class="button">
      <span ><input type="button" class="a" value="猪用"/></span>
      <span><input type="button" class="b" value="家禽"/></span>
      <span><input type="button" class="c" value="牛羊"/></span>
      <span><input type="button" class="d" value="宠物"/></span>
      </div>
    </div>
       <div class="table">
        <div style="float:left"><input class="immune" type="button" value="增强免疫 "></div>
         <div style="float:left"><input class="reco" type="button" value="综合推荐 "></div>
         <div style="float:left"><input class="sales" type="button" value="销量 "></div>
         <div style="float:left"><input class="price" type="button" value="价格 "></div>
         <div><input class="comment" type="button" value="好评 "></div>
       </div>
    <van-sidebar v-model="activeSideBar" @change="onSidebarChange">
      <van-sidebar-item v-for="(item, index) in sideBarList" :key="'side-bar-' + index" :title="item.name" />
    </van-sidebar>
    <!-- goods-list start -->
    <div class="sidebar-wrap" id="content">
      <van-pull-refresh v-model="isLoading" @refresh="onRefresh" v-if="goodsList.length">
        <van-list v-model="loading" :finished="finished" @load="onLoad" :offset="200">
          <transition name="van-fade">
            <ul class="vertical-list">
              <li class="item" v-for="(item, index) in goodsList" :key="'vertical-' + index">
                <goods-item-four :data="item" :endPoint="endPoint" @checkQualityTesting="openPicturePopup"></goods-item-four>
              </li>
            </ul>
          </transition>
        </van-list>
      </van-pull-refresh>

      <div class="no-data-box" v-else>
        <no-data :loading="requestLoading" text="分类暂无产品"></no-data>
      </div>
    </div>
    <!-- goods-list end -->

    <!-- search-page start-->
    <transition name="fade">
      <div class="search-page" v-if="showSearchPage">
        <search
          v-model="searchValue"
          :refer="false"
          @search="search"
          @back="showSearchPage = false"
        ></search>
      </div>
    </transition>
    <!-- search-page end-->

    <!-- 底部弹出选择框(要货日期选择) -->
    <van-popup v-model="showPicker" position="bottom" :lock-scroll="false">
      <van-picker
        show-toolbar
        title="要货日期"
        :columns="deliveryDateList"
        :default-index="deliveryDateList.indexOf(deliveryDate)"
        @cancel="showPicker = false"
        @confirm="onConfirm"
      />
    </van-popup>

    <!-- 质检情况弹出框 -->
    <picture-popup
      :show="showPicturePopup"
      :title="qualityTestingItemTitle"
      :picList="qualityTestingPicList"
      @close="closePicturePopup"
    ></picture-popup>

    <!-- 新服务部弹出框 -->
    <channel-selection-box :show="showChannel" @close="closeChannelSelectionBox"></channel-selection-box>

    <!-- 置顶悬浮按钮 -->
    <scroll-to-top-hover-btn targetDiv="content"></scroll-to-top-hover-btn>

    <!-- 底部tabbar导航 -->
    <tabbar :activeIndex="1" ref="tabbarRef"></tabbar>
</membership-wrapper>
</template>

<script>
//下面是需要的组件
import Tabbar from '@/components/index-2/tabbar'
import SearchBar from '@/components/search-bar/index-2'
import GoodsItemFour from '@/components/goods-item/goods-item-four'
import NoData from '@/components/no-data'
import Search from '@/components/search/search'
import ScrollToTopHoverBtn from '@/components/scroll-to-top-hover-btn/index'
import ChannelSelectionBox from '@/components/index-2/channel-selection-box'
import PicturePopup from '@/components/index-2/picture-popup'
import { api } from '@/api'
import { mapGetters } from 'vuex'
import { zero, getCookie } from '@/utils/common'
import MembershipWrapper from '../components/membership-center/membership-wrapper'



export default {
  name: 'goodsList',
  //组件注册名，不写不会生效，而且直接报错
  components: {
    SearchBar,
    GoodsItemFour,
    Search,
    NoData,
    Tabbar,
    ScrollToTopHoverBtn,
    ChannelSelectionBox,
    PicturePopup,
    MembershipWrapper
    
  },
  data () {
    return {
      activeSideBar: 0, // 侧边导航下标
      sideBarList: [ // 侧边导航列表（默认：全部，常用，我收藏的）
        {
          name: '健胃药'
        },
        {
          name: '抗寄生虫'
        },
        {
          name: '退烧药'
        },
        {
          name:'消毒剂'
        },
        {
          name:'催情药'
        },
        {
          name:'增强免疫药'
        },
        {
          name:'抗感染药'
        },
        {
          name:'中成兽药'
        },
        {
          name:'母猪保健'
        }
      ],
      isUsuallyBuy: false, // 是否“常用”
      isCollection: false, // 是否“我收藏的”
      newItemClassId: '', // 新分类id
      searchValue: '', // 搜索值
      goodsList: [],
      cacheGoodsList: [],
      showSearchPage: false, // 显示搜索页
      currentPage: 1,
      pageSize: 999,
      total: 0,
      params: {},
      showPicker: false, // 显示要货日期选择框
      deliveryDateList: [], // 可选的要货日期列表
      deliveryDate: '', // 要货日期（蛋业）
      isLoading: false,
      finished: false,
      loading: false,
      requestLoading: false, // 接口请求加载动画
      showChannel: false, // 显示服务部选择框
      endPoint: {}, // 加入购物车动画的终点（底部购物车图标）位置
      showPicturePopup: false, // 质检情况（图片弹窗框）查看
      qualityTestingItemTitle: '', // 当前打开质检情况的商品名称
      qualityTestingPicList: [] // 质检情况图片列表
    }
  },
  computed: {
    ...mapGetters(['channel'])
  },
  created () {
    this.params = this.$route.query
    this.queryStoreItemNewClass() // 获取新分类列表
    this.initDeliveryDateList() // 初始化可选的要货日期列表
    this.initData()
    this.init()
  },
  mounted () {
    // 获取底部购物车图标的位置
    let point = this.$refs.tabbarRef.$el.children[3].getBoundingClientRect()
    this.endPoint = { top: point.top, left: point.left, width: point.width, height: point.height }
  },
  beforeRouteUpdate (to, from, next) {
    this.breadcrumb = []
    this.params = to.query
    this.initData()
    this.showSearchPage = false

    if (document.documentElement.scrollTop) {
      document.documentElement.scrollTop = 0

      this.$nextTick(() => {
        this.currentPage = 1
        this.cacheGoodsList = []
        this.goodsList = []
        this.init()
      })
    } else {
      this.currentPage = 1
      this.cacheGoodsList = []
      this.goodsList = []
      this.init()
    }

    next()
  },
  methods: {
    // 返回
    onClickLeft () {
      this.$router.go(-1)
    },
    queryStoreItemNewClass () {
      let storeId
      if (sessionStorage.getItem('token')) {
        if (this.$store.state.intoPage === 0 && getCookie('selectedChannel')) {
          storeId = JSON.parse(getCookie('selectedChannel')).channelId
        } else if (this.$store.state.intoPage === 1 && this.$store.state.channel.currentChannel && this.$store.state.channel.currentChannel.channelId) {
          storeId = this.$store.state.channel.currentChannel.channelId
        }
      }
      if (!storeId) return // 如果没有关联订货关系，则不请求接口
      api.commonCall({ storeId }, 'queryStoreItemNewClass').then(res => {
        if (res.success) {
          this.sideBarList = this.sideBarList.concat(res.data.map(v => ({ name: v.itemClassName, id: v.itemClassId })))
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    onSidebarChange (index) {
      if (this.sideBarList[index].name === '全部') {
        this.isUsuallyBuy = false
        this.isCollection = false
        this.newItemClassId = ''
      } else if (this.sideBarList[index].name === '常用') {
        this.isUsuallyBuy = true
        this.isCollection = false
        this.newItemClassId = ''
      } else if (this.sideBarList[index].name === '我收藏的') {
        this.isUsuallyBuy = false
        this.isCollection = true
        this.newItemClassId = ''
      } else {
        this.isUsuallyBuy = false
        this.isCollection = false
        this.newItemClassId = this.sideBarList[index].id || ''
      }
      this.currentPage = 1
      this.cacheGoodsList = []
      this.goodsList = []
      this.init()
    },
    // 下拉刷新
    onRefresh () {
      this.currentPage = 1
      this.cacheGoodsList = []
      this.goodsList = []
      this.init()
    },
    // 分页修改的回调，放回修改后的page
    onLoad () {
      this.currentPage++
      this.init()
    },
    // 初始化数据
    initData () {
      this.searchValue = ''

      if (this.params && this.params.wd) {
        this.searchValue = this.params.wd
      }
    },
    // 搜索
    search (val) {
      if (this.searchValue !== val) {
        let query = {}

        val && (query.wd = val)

        this.$router.replace({
          name: 'goodsList',
          query
        })
      } else {
        this.showSearchPage = false
      }
    },
    // 初始化
    init () {
      let params = {
        pageNo: this.currentPage,
        pageSize: this.pageSize,
        isGetWtRange: 1,
        isGetStock: 1,
        isUsuallyBuy: this.isUsuallyBuy,
        isCollection: this.isCollection,
        newItemClassId: this.newItemClassId,
        sellDate: this.channel.currentChannel && this.channel.currentChannel.channelType === '5' ? this.deliveryDate : '',
        searchKeyword: this.searchValue,
        dataSource: 'DB'
      }

      if (sessionStorage.getItem('token')) {
        if (this.$store.state.intoPage === 0 && sessionStorage.getItem('defaultCustomer')) {
          params.customerId = JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
        } else if (this.$store.state.intoPage === 1 && this.$store.state.customer.current && this.$store.state.customer.current.customerId) {
          params.customerId = this.$store.state.customer.current.customerId
        }

        if (this.$store.state.intoPage === 0 && getCookie('selectedChannel')) {
          params.ownerId = JSON.parse(getCookie('selectedChannel')).channelId
        } else if (this.$store.state.intoPage === 1 && this.$store.state.channel.currentChannel && this.$store.state.channel.currentChannel.channelId) {
          params.ownerId = this.$store.state.channel.currentChannel.channelId
        }
        if (!params.ownerId) return // 如果没有关联订货关系，则不请求接口
      }

      this.requestLoading = true
      api.commonCall(params, 'queryGoodsFromDb').then(res => {
        this.requestLoading = false
        if (res.success) {
          res.data.list.forEach(v => {
            // 重新定义字段名
            v.maxBuyQty = v.max_buy_qty || 0
            v.minBuyQty = v.min_buy_qty || 0
            v.showStock = { show_stock: v.show_stock, cur_stock: v.cur_stock || 0 }
            v.weightRange = v.weight_range || []
            v.specification && v.specification[0] && (v.maxAvgWeight = v.specification[0].maxAvgWeight)
          })

          this.cacheGoodsList = this.cacheGoodsList.concat(res.data.list)
          this.goodsList.splice(0, this.goodsList.length, ...this.cacheGoodsList)
          this.total = res.data.totalNumber
          this.finished = false
          this.currentPage = res.data.currentPage
          this.loading = false

          if (this.cacheGoodsList.length >= this.total) {
            this.finished = true
          }

          setTimeout(() => {
            this.isLoading = false
          }, 100)
        } else {
          this.goodsList = []
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    initDeliveryDateList () {
      let nowDay = new Date()
      let tomorrowDay = new Date(nowDay.getTime() + 24 * 60 * 60 * 1000)
      let secondDay = new Date(nowDay.getTime() + 2 * 24 * 60 * 60 * 1000)
      let thirdDay = new Date(nowDay.getTime() + 3 * 24 * 60 * 60 * 1000)
      let nowDate = nowDay.getFullYear() + '-' + zero(nowDay.getMonth() + 1) + '-' + zero(nowDay.getDate())
      let tomorrowDate = tomorrowDay.getFullYear() + '-' + zero(tomorrowDay.getMonth() + 1) + '-' + zero(tomorrowDay.getDate())
      let secondDate = secondDay.getFullYear() + '-' + zero(secondDay.getMonth() + 1) + '-' + zero(secondDay.getDate())
      let thirdDate = thirdDay.getFullYear() + '-' + zero(thirdDay.getMonth() + 1) + '-' + zero(thirdDay.getDate())

      this.deliveryDateList.push(nowDate, tomorrowDate, secondDate, thirdDate)

      let idx = sessionStorage.getItem('userInfo') && JSON.parse(sessionStorage.getItem('userInfo')).phone
      let deliveryDate = sessionStorage.getItem('deliveryDate') && JSON.parse(sessionStorage.getItem('deliveryDate'))
      if (idx && deliveryDate && deliveryDate[`${idx}__expires__${nowDate}`] && (new Date(deliveryDate[`${idx}__expires__${nowDate}`]) >= new Date(nowDate))) {
        this.deliveryDate = deliveryDate[`${idx}__expires__${nowDate}`]
      } else {
        this.deliveryDate = tomorrowDate

        if (!deliveryDate) {
          deliveryDate = {}
        }

        if (idx) {
          deliveryDate[`${idx}__expires__${nowDate}`] = tomorrowDate
        }

        sessionStorage.setItem('deliveryDate', JSON.stringify(deliveryDate))
      }
    },
    // 底部弹出选择框列表点击
    onConfirm (item) {
      this.showPicker = false
      if (this.deliveryDate === item) return

      let nowDay = new Date()
      let nowDate = nowDay.getFullYear() + '-' + zero(nowDay.getMonth() + 1) + '-' + zero(nowDay.getDate())
      let idx = sessionStorage.getItem('userInfo') && JSON.parse(sessionStorage.getItem('userInfo')).phone
      let deliveryDate = sessionStorage.getItem('deliveryDate') && JSON.parse(sessionStorage.getItem('deliveryDate'))
      deliveryDate[`${idx}__expires__${nowDate}`] = item
      sessionStorage.setItem('deliveryDate', JSON.stringify(deliveryDate))
      this.deliveryDate = item

      this.currentPage = 1
      this.cacheGoodsList = []
      this.init()
    },
    closeChannelSelectionBox () {
      this.showChannel = false
    },
    // 查看质检情况
    openPicturePopup (item) {
      api.commonCall({ storeId: item.ownerId, itemId: item.itemId }, 'queryQualityPhotos').then(res => {
        if (res.success) {
          if (res.data && res.data.photoList && res.data.photoList.length) {
            this.qualityTestingPicList.splice(0, this.qualityTestingPicList.length, ...res.data.photoList)
            this.qualityTestingItemTitle = item.itemName
            this.showPicturePopup = true
          } else {
            this.$toast('暂无数据')
          }
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    closePicturePopup () {
      this.qualityTestingItemTitle = ''
      this.qualityTestingPicList = []
      this.showPicturePopup = false
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.goods-list-wrapper {
  width: 100%;
  // height: calc(100vh - 226px);
  // padding-top: 96px;
  // overflow-y: auto;
  // -webkit-overflow-scrolling: touch;
  background-color: #F1F1F1;
  .nav{
    width: 100%;
    height: 30px;
  }
  //增强免疫
    .table{
        position: relative;
        top: 40px;
        width: 100%;
        height: 100px;
        background-color:white;
        .immune{
      border: none;
      background-color: transparent;
      margin-left: 15px;
    }
    .reco{
      border: none;
      background-color: transparent;
      margin-left: 40px;
    }
    .sales{
      border: none;
      background-color: transparent;
      position: relative;
      left: 40px;
    }
    .price{
      border: none;
      background-color: transparent;
      margin-left: 40px;
      position: relative;
      left: 40px;
    }
    .comment{
      border: none;
      background-color: transparent;
      margin-left: 40px;
      position: relative;
      left: 40px;
    }
        }
  .top-wrap {
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index:1;
    background: #006400;
    
    .button{
      margin-top: 30px;
      height: 72px;
      .a{
        border: solid 1px;
        background-color: #006400;
        border-radius: 20px;
        width: 100px;
        position: relative;
        left: 12px;
        color: #fff;
        font-weight:lighter;
      }
      .b{
        border: solid 1px;
        background-color: #006400;
        border-radius: 20px;
        width: 100px;
        position: relative;
        left: 36px;
        color: #fff;
        font-weight:lighter;
      }
      .c{
        border: solid 1px;
        background-color: #006400;
        border-radius: 20px;
        width: 100px;
        position: relative;
        left: 62px;
        color: #fff;
        font-weight:lighter;   
      }
      .d{
         border: solid 1px;
        background-color: #006400;
        border-radius: 20px;
        width: 100px;
        position: relative;
        left: 88px;
        color: #fff;
        font-weight:lighter;   
      }
    }
        //搜索框和顶部的距离  
    .channel-wrap {
      position: relative;
      display: flex;
      align-items: center;
      height: 20px;
      padding: 0 30px;
      &__left {
        width: 40px;
        flex: 0 0 40px;
        color: #ffffff;
        font-size: 40px;
        display: flex;
        align-items: center;
      }
      &__center {
        flex: 1;
        padding: 0 12px;
        display: flex;
        align-items: center;
        .shop-name {
          display: inline-block;
          padding-right: 20px;
          color: #ffffff;
          font-size: 30px;
          font-family: Microsoft YaHei;
          display: -webkit-box;
          -webkit-line-clamp: 2; // 限制文本的行数，只显示两行
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          word-wrap: break-word;
          word-break: break-all;
        }
      
        .delivery-date {
          display: inline-block;
          width: 140px;
          flex-shrink: 0;
          padding-right: 16px;
          position: relative;
          color: #ffffff;
          font-size: 26px;
          &:after {
            content: " ";
            position: absolute;
            bottom: 4px;
            right: 0;
            width: 0;
            height: 0;
            border: 8px solid #ffffff;
            border-left: 8px solid transparent;
            border-top: 8px solid transparent;
          }
        }
      }
      &__right {
        width: 100px;
        flex: 0 0 100px;
        .switch {
          box-sizing: border-box;
          width: 100px;
          height: 36px;
          background: #ffffff;
          border-radius: 18px;
          padding: 0 14px;
          color: #00f5ff;
          font-size: 22px;
          position: relative;
          display: flex;
          align-items: center;
          &.rotate {
            &::after {
              border-bottom: 12px solid #00f5ff;
              border-top: 0;
            }
          }
          &::after {
            content: "";
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            width: 0;
            height: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 12px solid #00f5ff;
            border-bottom: 0;
          }
        }
      }
    }
  }
        //左边导航栏
  @{deep}.van-sidebar {
    width: 162px;
    position: fixed;
    top: 350px;
    bottom: 92px;
    left: 0;
    background-color: #F1F1F1;
    .van-sidebar-item {
      padding: 25px 6px;
      background-color: #F1F1F1;
      font-size: 30px;
      font-family: Source Han Sans CN;
      color: #9A9A9A;
      text-align: center;
      &--select, &--select:active {
        background-color: #fff;
        // font-size: 32px;
        color: #343434;
        &::before {
          width: 6px;
          height: 40px;
        }
      }
    }
  }
  //商品栏
  .sidebar-wrap {
    width: calc(100% - 162px);
    position: fixed;
    top: 350px;
    right: 0;
    bottom: 92px;
    overflow: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .horizontal-list {
    margin-top: 6px;
    overflow: hidden;
    .item {
      width: 372px;
      float: left;
      margin-bottom: 6px;
    }
    .item:nth-child(odd) {
      margin-right: 6px;
    }
  }
 //商品列的背景色
  .vertical-list {
    background-color: #fff;
    // .item {
    //   &:last-child {
    //     .goods-item {
    //       &::after {
    //         border: 0;
    //       }
    //     }
    //   }
    // }
  }
}

.search-page {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 99;
}
</style>
