<template>
  <div class="index-wrap">
    <!-- 顶部搜索栏 -->
    <index-search :bgOpacity="opacity" @selectRegion="selectRegion" @selectChannel="selectChannel"></index-search>

    <!--bannner start-->
    <div class="banner-wrapper">
      <van-swipe :autoplay="autoplay" @change="changeBanner">
        <van-swipe-item v-for="(item, index) in bannerList" :key="index" :class="{'video-bg': item.type === 'video'}">
          <!-- 图片列表 -->
          <a v-if="item.type === 'pic'" @click="openTarget(item.entryUrl)" href="javascript:;">
            <img v-lazy="{ src: item.url ? allImgDomainName + item.url : item.img, error: require('@/assets/images/new-version/home/default-banner@3x.png') }" alt class="img">
          </a>
          <!-- 视频列表 -->
          <video v-else-if="item.type === 'video'" :ref="'vid' + index" webkit-playsinline="true" playsinline="true" x5-video-player-type="h5-page" controls preload="auto">
            <source :src="DOMAIN_NAME + 'wens/auth/file/readVideo.do?path=' + item.url" type="video/mp4" />
          </video>
        </van-swipe-item>
        <!--自定义小圆点-->
        <div class="custom-indicator" slot="indicator">
          <ul class="indicator-list" v-if="bannerList && bannerList.length > 1">
            <li
              class="indicator-item"
              v-for="(item, index) in bannerList"
              :key="index"
              :class="{'active': bannerIndex === index}"
            ></li>
          </ul>
        </div>
      </van-swipe>
    </div>
    <!--banner end-->

    <!-- 菜单栏 -->
    <!-- <icon-routing ref="iconRouting"></icon-routing> -->

    <!-- 资讯 -->
    <information-center
      :columnList="informationColumnList"
      @toInformation="toInformation"
      @seeInformationDetails="seeInformationDetails"
    ></information-center>

    <!-- 精选活动 -->
    <selected-activities
      :data="activitiesList"
      :activitiesTitle="activitiesTitle"
      :requestLoading="requestLoading"
      @tab-change="tabChange"
      @onRefresh="onRefresh"
    ></selected-activities>
    <!-- 技术服务 -->
     <selected-activities-two
      :data="activitiesList"
      :activitiesTitle="activitiesTitle"
      :requestLoading="requestLoading"
      @tab-change="tabChange"
      @onRefresh="onRefresh"
    ></selected-activities-two>

    <!-- 底部tabbar导航 -->
    <tabbar></tabbar>

    <!-- 广告弹框 -->
    <div class="advertising" v-if="showAdvertising" :style="{backgroundImage: `url(${allImgDomainName + advertisingInfo[0].picture})`}" @click.stop="toDetails">
      <div class="advertising-content">
        <img v-show="canClose" class="close-icon" src="@/assets/images/information/close.svg" @click.stop="showAdvertising = false">
      </div>
    </div>

    <van-overlay z-index="98" :show="showNewbieCoupons || showAdvertising" />
  </div>
</template>

<script>
import IndexSearch from '@/components/index-2/index-search'//
import SelectedActivities from '@/components/index-2/selected-activities'
import Tabbar from '@/components/index-2/tabbar'
import { api, DOMAIN_NAME } from '@/api'
import { mapActions, mapGetters } from 'vuex'
import { getCookie, getScrollTop, getUrlQueryString, isWeiXin } from '@/utils/common'
import { allImgDomainNameMixin } from '@/assets/js/mixin'
import SelectedActivitiesTwo from '../components/index-2/selected-activities-two.vue'

export default {
  name: 'index-2',
  mixins: [allImgDomainNameMixin],
  components: {
    Tabbar,
    SelectedActivities,//
    IndexSearch,
     SelectedActivitiesTwo
  },
  data () {
    return {
      
    SelectedActivitiesTwoDOMAIN_NAME: DOMAIN_NAME,
      autoplay: 5000, // 自动轮播间隔
      bannerIndex: 0,
      bannerList: [], // 轮播图列表
      // activitiesTitle: [ // 精选活动栏标题
      //   {
      //     title: '特价',
      //     key: 'specialsale'
      //   },
      //   {
      //     title: '竞价',
      //     key: 'bidding'
      //   },
      //   {
      //     title: '团购',
      //     key: 'groupbuy'
      //   }
      //   // {
      //   //   title: '秒杀',
      //   //   key: 'flashsale'
      //   // }
      // ],
      // activitiesList: [], // 精选活动列表
      opacity: 0, // 顶部搜索栏透明度
      requestLoading: false, // 接口请求加载动画
      showNewbieCoupons: false, // 显示新人领券
      couponInfo: {}, // “新人领券”信息
      informationColumnList: [], // 资讯栏目列表（含各栏目资讯列表）
      advertisingInfo: [], // 广告弹框信息
      showAdvertising: false, // 显示广告弹窗
      canClose: true // 广告弹窗是否可以关闭，默认可关闭
    }
  },
  computed: {
    ...mapGetters(['region', 'justLoggedIn'])
  },
  watch: {
    $route: {
      handler (val) {
        if (val && val.params && val.params.needUpdate) {
          this.getSpecialSaleList() // 获取特价销售商品
          this.justLoggedIn && this.getAdvertising() // 查询弹窗广告
        }
      }
    }
  },
  created () {
    window.addEventListener('scroll', this.handleScroll, true) // 监听滚动

    if (sessionStorage.getItem('token') && this.justLoggedIn) {
      this.getAdvertising() // 查询弹窗广告
    }

    this.getAdPlace().then(id => { // 查询广告位置
      this._queryBanner(id) // 查询轮播图
    })
    this.getColumnList() // 获取资讯栏目
    this.getSpecialSaleList() // 获取特价销售商品
    // this.getSpecialSaleList().then(() => { // 获取特价销售商品
    //   if (this.activitiesList && this.activitiesList.length) {
    //     this.activitiesTitle.unshift({ title: '特价', key: 'specialsale' })
    //   } else {
    //     // 获取今日正在竞价，若无获取历史竞价
    //     this.requestLoading = true
    //     Promise.all([this.getBiddingByToday(), this.getBiddingChickensByToday()]).then(() => {
    //       if (this.activitiesList && this.activitiesList.length && this.activitiesList.length >= 6) {
    //         this.requestLoading = false
    //       } else {
    //         this.getHistoryBidding(6 - ((this.activitiesList && this.activitiesList.length) || 0))
    //       }
    //     })
    //   }
    // })
  },
  mounted () {
   
  },
  methods: {
    ...mapActions(['setChannel', 'setRegion', 'setJustLoggedIn']),
    // 监听滚动事件
    handleScroll () {
      // 顶部搜索栏透明度随滚动变化
      let base = getScrollTop() / 200
      this.opacity = base < 0 ? 0 : base > 1 ? 1 : base
    },
    // 上拉选中（地区）
    selectRegion (item, index) {
      this.setRegion({ data: item, flag: 'update' })
      this._queryRelCustomer(item.name)
    },
    weixinPlay (fn) {
      if (!isWeiXin()) {
        fn()
      } else {
        if (window.WeixinJSBridge) {
          window.WeixinJSBridge.invoke('getNetworkType', {}, fn)
        } else {
          document.addEventListener('WeixinJSBridgeReady', function () {
            window.WeixinJSBridge.invoke('getNetworkType', {}, fn)
          })
        }
      }
    },
    // 修改轮播图索引
    changeBanner (index) {
      // 如果被滚动的（上一个）视频正在播放，则暂停
      if (this.bannerList[this.bannerIndex] && this.bannerList[this.bannerIndex].type === 'video') {
        let vid = this.$refs['vid' + this.bannerIndex][0]
        if (!vid.paused && vid.currentTime > 0) {
          vid.pause()
          if (this.autoplay === 0) {
            this.autoplay = 5000
          }
        }
      }

      this.bannerIndex = index

      // 如果是视频且正在播放，关闭自动轮播，暂停或结束后再开启自动轮播
      if (this.bannerList[this.bannerIndex] && this.bannerList[this.bannerIndex].type === 'video') {
        let vid = this.$refs['vid' + this.bannerIndex][0]
        vid.ontimeupdate = () => {
          if (!vid.paused && vid.currentTime > 0 && this.autoplay > 0) {
            this.autoplay = 0
          } else if (vid.paused && this.autoplay === 0) {
            this.autoplay = 5000
          }
        }
      }
    },
    // 打开目标
    openTarget (url) {
      if (url === '' || url === ' ' || url === null || url === undefined) return
      window.open(url, '_blank')
    },
    // 轮播图 queryAdList==所有轮播图的请求存储地址
    _queryBanner (id) {
      let params = {
        adPlaceId: id
      }
      api.commonCall(params, 'queryAdList').then(res => {
        if (res.success) {
          if (res.data.list && res.data.list.length) {
            let arr = []
            res.data.list.forEach(v => {
              arr = arr.concat(v.adList.map(item => ({ url: item.entryPicture, entryUrl: item.entryUrl, type: 'pic' })))
              if (v.itemAttachment && v.itemAttachment.length) {
                arr = arr.concat(v.itemAttachment.map(item => ({ url: item, type: 'video' })))
              }
            })
            this.bannerList = arr

            // 设置视频第一帧为封面
            this.$nextTick(() => {
              this.bannerList.forEach((v, i) => {
                if (v.type === 'video') {
                  let vid = this.$refs['vid' + i][0]
                  this.weixinPlay(() => {
                    vid.load()
                  })
                }
              })
            })
          }
          if (!this.bannerList.length) {
            this.bannerList = [
              {
                url: 'javascript:;',
                img: require('@/assets/images/new-version/home/default-banner@3x.png')
              }
            ]
          }
        } else {
          this.bannerList = [
            {
              url: 'javascript:;',
              img: require('@/assets/images/new-version/home/default-banner@3x.png')
            }
          ]
        }
      })
    },
    // 获取广告位置
    getAdPlace () {
      return api.commonCall({}, 'queryAdPlace').then(res => {
        if (res.success) {
          for (let i = 0; i < res.data.list.length; i++) {
            if (res.data.list[i].name === '商城首页_mob') { // 商城首页_mob
              return res.data.list[i].id
            }
          }
        }
        return ''
      })
    },
    // 根据地区查询渠道信息
    _queryRelCustomer (area) {
      api.customerAuthQuery().then(res => {
        if (res.success && res.status !== 'noData') {
          if (sessionStorage.getItem('token')) {
            try {
              // 根据地区筛选渠道
              this.setChannel({
                data: res.data.list.find(item => {
                  return area.indexOf(item.channelAreaName.split('_')[0]) > -1
                }),
                flag: 'update'
              })
            } finally {
              location.reload(true)
            }
          } else {
            try {
              this.setChannel({ data: res.data.list })
            } finally {
              location.reload(true)
            }
          }
        } else {
          try {
            this.setChannel({ data: [] })
          } finally {
            location.reload(true)
          }
        }
      })
    },
    selectChannel (item, index) {
      try {
        this.setChannel({ data: item, flag: 'update' })

        // 根据渠道筛选地区
        this.setRegion({
          data: this.region.data.find(itm => {
            return itm.name.indexOf(item.channelAreaName.split('_')[0]) > -1
          }),
          flag: 'update'
        })
      } finally {
        location.reload(true)
      }
    // 下拉刷新
    },
    
   
    // 历史竞价商品
   
    // 秒杀
   
  
    // 查询栏目列表
   
    // 查询栏目文章列表--（温氏头条、个人资讯）栏目
   
    // 跳转到资讯列表中心
    toInformation (id, name) {
      this.$router.push({
        path: '/information',
        query: { id, name }
      })
    },
    // 跳转到资讯详情页面
    seeInformationDetails (item) {
      if (item.returnType === '0') { // 返回外部链接
        window.open(item.detail, '_blank')
      } else if (item.returnType === '1') { // 返回文章富文本
        this.$router.push({
          name: 'informationDetails',
          query: { id: item.id, columnName: item.columnName }
        })
      }
    },
    // 查询弹窗广告
    getAdvertising () {
      if (!JSON.parse(sessionStorage.getItem('defaultCustomer')) || !JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId) {
        return
      }
      api.commonCall({ customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId }, 'queryAdvertisingList').then(res => {
        if (res.success) {
          this.advertisingInfo = res.data
          if (this.advertisingInfo && this.advertisingInfo.length) {
            if (this.advertisingInfo[0].mustAnswer) {
              this.canClose = false
            }
            if (this.advertisingInfo[0].picture) {
              this.showAdvertising = true
            }
          } else {
            this.setJustLoggedIn(false) // 设置刚登录状态
          }
        }
      })
    }
  },
  destroyed () {
    window.removeEventListener('scroll', this.handleScroll, true)
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.index-wrap{
  width: 100%;
  min-height: calc(100vh - 110px);
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0 0 110px;
  // box-sizing: border-box;
  // background: #F2F0F0 url("~@/assets/images/index-2/background-img.svg") no-repeat;
  // background-size: 100% auto;
  background-color: #F1F1F1;
  background-position: top center;
  background-size: 100% 378px;
  background-repeat: no-repeat;
  .bg-img('~@/assets/images/new-version/home/top-bg');
  .banner-wrapper {
    padding: 0 14px;
    margin-bottom: 10px;
    overflow: hidden;
    .img {
      width: 100%;
      height: 100%;
    }
    video {
      width: 100%;
      height: 300px;
    }
    .van-swipe {
      height: 300px;
      border-radius: 6px;
      mask-image: radial-gradient(white, black);
      .van-swipe-item {
        &.video-bg {
          background-color: rgba(0, 0, 0, 0.9);
        }
      }
    }
    .custom-indicator {
      width: 100%;
      height: 8px;
      position: absolute;
      left: 0;
      bottom: 12px;
      .indicator-list {
        display: flex;
        justify-content: center;
        .indicator-item {
          width: 10px;
          height: 4px;
          background: #999999;
          opacity: 0.7;
          margin-left: 6px;
          margin-right: 6px;
          /*transition: width .3s;*/
          &.active {
            width: 28px;
            background: #ffffff;
            opacity: 0.9;
            transition: width .3s;
          }
        }
      }
    }
  }

  .newbie-coupons {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 579px;
    height: 596px;
    z-index: 100;
    .bg-img("~@/assets/images/coupon/coupons-bg");
    background-size: 579px 596px;
    background-repeat: no-repeat;
    background-position: center center;
    .newbie-coupons-content{
      width: 100%;
      height: 100%;
      position: relative;
      .close-icon {
        .img-content("~@/assets/images/coupon/coupons-close");
        width: 36px;
        height: 36px;
        position: absolute;
        right: 14px;
        top: 14px;
      }
      .newbie-coupons-yuan{
        position: absolute;
        width: 100%;
        top: 220px;
        left: 0;
        .p-yuan{
          font-size: 42px;
          color: #FF6064;
          text-align: center;
          font-weight: 600;
          font-family: 'AvenirLTStd-Black';
          span{
            font-size: 98px;
          }
        }
        .full-reduction{
          text-align: center;
          font-size: 24px;
          color: #FF6064;
        }
      }
      .collect-immediately{
        .img-content("~@/assets/images/coupon/collect-btn");
        width: 447px;
        height: 123px;
        position: absolute;
        left: 50%;
        bottom: 28px;
        transform: translateX(-50%);
      }
    }
  }

  .advertising {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 560px;
    height: 700px;
    background-size: 560px 100%;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 99;
    .advertising-content {
      position: relative;
      .close-icon {
        width: 48px;
        height: 48px;
        position: absolute;
        right: -16px;
        top: -16px;
        cursor: pointer;
      }
      .advertising-img {
        width: 100%;
        border-radius: 20px;
      }
    }
  }
}
</style>
