<template>
  <div class="wrapper">
    <!--search start-->
    <div class="search-wrapper">
      <search-bar disabled @showSearchPage="showSearchPage = true" :hasLeft="false">
        <div class="select-group" slot="right">
          <div class="select-item region" @click="selectCity" v-if="region.data && region.data.length > 0">{{region.current.name}}</div>
          <div class="select-item part" @click="selectChannel" v-if="token && (channel.list && channel.list.length > 0)">{{channel.currentChannel.storeName || channel.currentChannel.channelName}}</div>
        </div>
      </search-bar>
    </div>
    <!--search start-->
    <!--bannner start-->
    <div class="banner-wrapper">
      <van-swipe :autoplay="5000" @change="changeBanner">
        <van-swipe-item v-for="(item, index) in bannerList" :key="index">
          <a @click="openTarget(item.adEntryEntryUrl)" href="javascript:;">
            <img :src="allImgDomainName + item.adEntryEntryPicture" alt class="img">
          </a>
        </van-swipe-item>
        <!--自定义小圆点-->
        <div class="custom-indicator" slot="indicator">
          <ul class="indicator-list">
            <li
              class="indicator-item"
              v-for="(item, index) in bannerList"
              :key="index"
              :class="{'active': bannerIndex === index}"
            ></li>
          </ul>
        </div>
      </van-swipe>
    </div>
    <!--banner end-->
    <!--classification-menu start-->
    <div class="classification-menu">
      <ul class="list">
        <li
          class="item"
          v-for="(item, index) in classificationMenuList"
          :key="index"
          @click="seeMoreCategories(item)"
        >
          <img :src="item.icon" alt class="icon">
          <h2 class="name">{{item.name}}</h2>
        </li>
      </ul>
    </div>
    <!--classification-menu end-->
    <!--new-products-wrapper start-->
    <div class="new-products-wrapper">
      <!-- 热销新品 -->
      <!-- <div class="content" ref="newProductWrapperContent">
        <van-swipe :autoplay="5000" :width="newProductWidth" :show-indicators="false">
          <van-swipe-item v-for="(item, index) in hotNewGoodsList" :key="index">
            <div class="item" v-for="(product, i) in item" :key="i" @click="seeGoodsDetails(product.id, product.itemType, product.combItemId)">
              <h2 class="name">{{product.title}}</h2>
              <div class="goods-info">
                <img v-lazy="allImgDomainName + product.thumbnail" alt class="goods-img">
                <div class="price-info">
                  <p>
                    <span class="price">{{product.referencePrice | keepTwoNum}}</span> 元/{{product.saleUnitName}}
                  </p>
                  <s class="original-price" v-if="product.originalPrice">{{product.originalPrice | keepTwoNum}} 元/{{product.saleUnitName}}</s>
                </div>
              </div>
            </div>
          </van-swipe-item>
        </van-swipe>
      </div> -->
      <!-- 竞价商品 -->
      <div class="action-content">
        <div class="content-action">
          <div class="action-a"></div>
          <p>今日竞价</p>
        </div>
        <div class="content-bottom">
          <van-swipe :autoplay="6000" @change="changeBanner" v-if="daysRobBuy.child && daysRobBuy.child.length">
            <van-swipe-item v-for="(items, indexs) in daysRobBuy.child" :key="indexs">
              <div class="bottom-left" v-for="(item, index) in items.list" :key="index" @click="_toRabDetail(item.id)">
                <div class="bottom-left-a">
                  <div class="one-price" v-if="item.biddingMode === '0'"></div>
                  <img v-lazy="allImgDomainName + item.itemThumbnail" alt>
                </div>
                <div class="bottom-left-b">
                  <div class="bottom-left-c">
                    <p>{{item.itemName}}</p>
                  </div>
                  <div class="bottom-left-d" v-if="item.highestPrice">
                    <!-- <span class="bottom-left-f">&yen;</span> -->
                    <div v-if="item.biddingMode !== '0'">
                      <span class="price" >{{item.highestPrice.toString().split('.')[0] || '0'}}</span>
                      <span class="unit">.{{item.highestPrice.toString().split('.')[1]
                        ? (item.highestPrice.toString().split('.')[1].length === 1
                          ? item.highestPrice.toString().split('.')[1] + '0'
                          : item.highestPrice.toString().split('.')[1])
                        : '00'}}元/{{item.saleUnitName}}</span>
                    </div>
                    <div v-else>
                      <span >{{item.lowerPrice.toString().split('.')[0] || '0'}}</span>
                      <span class="unit">.{{item.lowerPrice.toString().split('.')[1]
                      ? (item.lowerPrice.toString().split('.')[1].length === 1
                        ? item.lowerPrice.toString().split('.')[1] + '0'
                        : item.lowerPrice.toString().split('.')[1])
                      : '00'}}元/{{item.saleUnitName}}</span>
                    </div>
                  </div>
                  <div class="bottom-left-l" v-else>
                    <p>敬请期待</p>
                  </div>
                  <div class="bottom-left-e">
                    <p v-if="item.isBiddingStart">正在竞价</p>
                    <p v-else>未开始</p>
                  </div>
                </div>
                <p class="release">{{item.publishingOrgName}}</p>
              </div>
            </van-swipe-item>
          </van-swipe>
          <div class="no-list" v-else-if="daysRobBuy.child && daysRobBuy.child.length === 0">
            <img src="@/assets/images/auction/no-data-pig.svg">
            <p>正在上传中...</p>
          </div>
        </div>
      </div>
    </div>
    <!--new-products-wrapper end-->
    <!--presale-goods-wrapper start-->
    <!--<div class="presale-goods-wrapper">-->
      <!--<div class="left">-->
        <!--<h3 class="name">温氏牛奶</h3>-->
        <!--<div class="countdown-box">-->
          <!--<span class="countdown-label">距开售时间</span>-->
          <!--<countdown></countdown>-->
        <!--</div>-->
        <!--<img src="../../public/images/goods-img.jpg" alt class="goods-img">-->
      <!--</div>-->
      <!--<div class="right">-->
        <!--<ul class="goods-list">-->
          <!--<li class="item">-->
            <!--<div class="goods-info">-->
              <!--<h3 class="name">矮脚麻鸡</h3>-->
              <!--<p class="desc">肉质滑嫩</p>-->
            <!--</div>-->
            <!--<img src="../../public/images/goods-img.jpg" alt class="goods-img">-->
          <!--</li>-->
          <!--<li class="item">-->
            <!--<div class="goods-info">-->
              <!--<h3 class="name">矮脚麻鸡</h3>-->
              <!--<p class="desc">骨香鲜美香味浓郁</p>-->
            <!--</div>-->
            <!--<img src="../../public/images/goods-img.jpg" alt class="goods-img">-->
          <!--</li>-->
        <!--</ul>-->
      <!--</div>-->
    <!--</div>-->
    <!--presale-goods-wrapper end-->
    <!--chart-wrapper start-->
    <div class="chart-wrapper" v-if="token">
      <div class="title-box">
        <div class="left">
          <h2 class="title">今日采购</h2>
          <span class="desc">交易数量随时把握</span>
        </div>
        <div class="modify" @click="togglePopup">{{chartValue}}</div>
      </div>
      <vue-high-charts :defOptions="options" :styles="sty" :isUpdate="isUpdate"></vue-high-charts>
    </div>
    <!--chart-wrapper end-->
    <!--notice-wrapper start-->
    <div class="notice-wrapper" v-if="token && (noticeList && noticeList.length)">
      <div class="title-box">
        <div class="left">
          <h2 class="title">通知公告</h2>
          <span class="desc">最新最热的通知公告</span>
        </div>
        <span class="more-btn" @click="toNotice">查看更多</span>
      </div>
      <ul class="list">
        <li>
          <div class="item" v-for="(childItem, childIndex) in noticeList" :key="childIndex" @click="seeNoticeDetails(childItem.id, childIndex, childItem)">
            <!--<div class="img-box">-->
            <!--<img v-lazy="allImgDomainName + childItem.img">-->
            <!--</div>-->
            <div class="content">
              <p class="text"><i class="van-read" v-if="!childItem.isRead"></i>{{childItem.title}}</p>
              <span class="time">{{childItem.releaseDate && childItem.releaseDate.split('.')[0]}}</span>
            </div>

          </div>
        </li>
      </ul>
    </div>
    <!--notice-wrapper end-->
    <!--hot-goods-list start-->
    <div class="hot-goods-list">
      <div class="title-box">
        <div class="left">
          <h2 class="title">热销商品</h2>
          <span class="desc">经销商独家推荐</span>
        </div>
        <a href="javascript:;" class="more-btn" @click="moreGoods('热销产品')">查看更多</a>
      </div>
      <ul class="list">
        <li
          class="item"
          v-for="(item, index) in hotGoodsList"
          :key="index"
          @click="seeGoodsDetails(item.id, item.itemType, item.combItemId, item.isZZItem)"
        >
          <goods-item :data="item"></goods-item>
        </li>
      </ul>
    </div>
    <!--hot-goods-list end-->
    <!--new-goods-list start-->
    <div class="new-goods-list" v-for="(item, index) in mainMenuConfig.vertical.data" :key="index" v-if="goodsList[index] && goodsList[index].length">
      <div class="title-box">
        <div class="left">
          <h2 class="title">{{(item.name)}}</h2>
          <span class="desc">新品种火热促销</span>
        </div>
        <a href="javascript:;" class="more-btn" @click="moreGoods(`${item.name}_${item.number}`)">查看更多</a>
      </div>
      <ul class="list">
        <li
          class="item"
          v-for="(goods, i) in goodsList[index]"
          :key="i"
        >
          <goods-item
            :data="goods"
            @seeGoodsDetails="seeGoodsDetails"
            @toShop="toShop"></goods-item>
        </li>
      </ul>
    </div>
    <!--new-goods-list end-->
    <!--tabbar start-->
    <tabbar></tabbar>
    <!--tabbar end-->
    <!-- pull-up-selection start -->
    <pull-up-selection
      v-if="region.data && region.data.length > 0"
      :data="region.data"
      :show="showPullUpSelection"
      :currentSelected="region.current.name"
      @cancel="cancelSelect"
      @selected="pullUpSelected"
    ></pull-up-selection>
    <!-- pull-up-selection start -->
    <!-- pull-up-selection channel start -->
    <pull-up-selection
      v-if="token && (channel.list && channel.list.length > 0)"
      :data="channel.list"
      :show="showPullUpSelectionChannel"
      :currentSelected="channel.currentChannel.channelName"
      title="选择店铺"
      @cancel="cancelSelectChannel"
      @selected="pullUpSelectedChannel"
    ></pull-up-selection>
    <!-- pull-up-selection channel start -->
    <!-- search-page start-->
    <transition name="fade">
      <div class="search-page" v-if="showSearchPage">
        <search @back="showSearchPage = false"></search>
      </div>
    </transition>
    <!-- search-page end-->

    <!-- 底部弹出 -->
    <van-popup v-model="show" position="bottom" :lock-scroll="false">
      <div class="popup">
        <div class="popup-content">
          <div class="title">{{popupChartTitle}}</div>

          <div class="list">
            <div v-for="item in popupChartList" :key="item.value" @click="clickList(item.value,item.content)">
              {{item.content}}
            </div>
          </div>

          <div class="button" @click="cancel">取消</div>
        </div>
      </div>
    </van-popup>

    <!-- 置顶悬浮按钮 -->
    <scroll-to-top-hover-btn></scroll-to-top-hover-btn>
  </div>
</template>

<script>
import SearchBar from '@/components/search-bar/index'
import Tabbar from '@/components/tabbar/index'
import GoodsItem from '@/components/goods-item/goods-item'
import Countdown from '@/components/countdown/index'
import PullUpSelection from '@/components/pull-up-selection'
import VueHighCharts from '@/components/high-charts/index'
import Search from '@/components/search/search'
import ScrollToTopHoverBtn from '@/components/scroll-to-top-hover-btn/index'
import { mapActions, mapGetters } from 'vuex'
import { api } from '@/api'
import { allImgDomainNameMixin } from '@/assets/js/mixin'
import { getCookie } from '@/utils/common'

export default {
  name: 'index',
  mixins: [allImgDomainNameMixin],
  data () {
    return {
      bannerIndex: 1,
      columns: ['年', '月', '日'],
      bannerList: [
        {
          url: 'javascript:;',
          img: require('../../public/images/banner.png')
        }
      ],
      classificationMenuList: [
        {
          icon: require('@/assets/images/icon/icon_quick_order@3x.png'),
          name: '快速下单'
        },
        {
          icon: require('@/assets/images/icon/icon_auction@3x.png'),
          name: '竞价'
        },
        {
          icon: require('@/assets/images/icon/icon_payment@3x.png'),
          name: '货物付款'
        },
        {
          icon: require('@/assets/images/icon/icon_assemble@3x.png'),
          name: '拼团'
        },
        {
          icon: require('@/assets/images/icon/icon_more@3x.png'),
          name: '更多'
        }
      ],
      noticeList: [],
      hotGoodsList: null,
      hotNewGoodsList: null,
      goodsList: [],
      mainMenuConfig: {
        horizontal: {
          currentIndex: 0,
          data: []
        },
        vertical: {
          title: '全部商品',
          data: []
        }
      },
      showPullUpSelection: false, // 显示上拉选择
      showPullUpSelectionChannel: false, // 显示上拉选择（销售部）
      showSearchPage: false, // 显示搜索页
      token: null, // 用户凭证

      pageSize: 3,
      newProductWidth: 0,

      popupChartTitle: '选择类别',
      popupChartList: [
        {
          value: '1',
          content: '日'
        }, {
          value: '2',
          content: '周'
        }, {
          value: '3',
          content: '月'
        }
      ],
      chartType: 1,
      chartValue: '日',
      show: false,
      sty: {
        width: 1200,
        height: 300
      },
      options: {
        chart: {
          type: 'column'
        },
        title: {
          text: null
        },
        subtitle: {
          // text: '数据来源: WorldClimate.com'
        },
        xAxis: {
          categories: [],
          crosshair: true,
          labels: {
            rotation: 0 // 倾斜的角度
          }
        },
        yAxis: {
          min: 0,
          title: {
            text: null
          }
        },
        tooltip: {
          // head + 每个 point + footer 拼接成完整的 table
          headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
          // pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
          // '<td style="padding:0"><b>{point.y:.1f} 只</b></td></tr>',
          footerFormat: '</table>',
          shared: true,
          useHTML: true,
          valueSuffix: '' // 提示信息所带单位
        },
        plotOptions: {
          column: {
            borderWidth: 0,
            dataLabels: {
              enabled: true // 开启数据标签
              // allowOverlap: true // 允许数据标签重叠
            }
          }
        },
        series: [{
          name: '订货量',
          data: [],
          color: '#7DB5F0'
        }, {
          name: '发货量',
          data: [],
          color: '#F9A55F'
        }],
        credits: {
          enabled: false
        }
      },
      isUpdate: 1, // charts更新
      daysRobBuy: [] // 今日竞价列表
    }
  },
  computed: {
    ...mapGetters(['channel', 'region'])
  },
  created () {
    if (!this.token) {
      this.token = sessionStorage.getItem('token')
    }
    if (this.token) {
      // 设置柱状图宽度
      this.sty.width = document.documentElement.clientWidth - 50
      this.orderSummary('1')
      this.notiListQuery()
    }
    if (!this.userInfo) {
      this.userInfo = JSON.parse(sessionStorage.getItem('userInfo'))
    }

    this.$nextTick(() => {
      if (this.$refs.newProductWrapperContent) {
        let eleWidth = this.$refs.newProductWrapperContent.offsetWidth
        this.newProductWidth = eleWidth
      }
    })
    this._queryBanner()
    this._gethotNewGoodsList()
    this._queryGoodsCategory()
    this._hotGoodsList()
    this._getRabBuyList()
  },
  methods: {
    ...mapActions(['setChannel', 'setRegion']),
    // 查看更多分类
    seeMoreCategories (item) {
      if (item.name === '快速下单') {
        if (this.token) {
          api.customerBuySellQuery({ ownerIds: [JSON.parse(getCookie('selectedChannel')).channelId] }).then(res => {
            if (res.success) {
              if (res.data.list[0] && res.data.list[0].isBuySell) {
                this.$router.push({
                  name: 'quickOrder',
                  query: {
                    ownerId: JSON.parse(getCookie('selectedChannel')).channelId,
                    ownerName: JSON.parse(getCookie('selectedChannel')).channelName,
                    storeName: JSON.parse(getCookie('selectedChannel')).storeName,
                    ownerType: JSON.parse(getCookie('selectedChannel')).channelType
                  }
                })
              } else {
                this.$toast.fail('请先申请买卖关系')
              }
            } else {
              res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
            }
          })
        } else {
          this.$toast('请先登录')
          this.$router.push({ path: '/loginRandom', query: { redirect: this.$route.fullPath } })
        }
      } else if (item.name === '竞价') {
        this.$router.push('/robbing')
      } else if (item.name === '货物付款') {
        this.$router.push({
          path: '/selfServiceDeliveryList',
          query: { active: 0 }
        })
      } else if (item.name === '拼团') {
        this.$router.push('/groupBuying')
      } else if (item.name === '更多') {
        this.$router.push({ path: '/moreCategories' })
      }
    },
    // 跳转通知页面
    toNotice (id) {
      this.$router.push('/notice')
    },
    // 查看通知详情
    seeNoticeDetails (id, ci, item) {
      if (!item.isRead) {
        api.noticeIsReadUpdate({ ids: [{ id, isRead: true }] }).then(res => {
          if (res.success) {
            item.isRead = true
            this.$set(this.noticeList, ci, item)
          } else {
            res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
          }
        })
      }

      this.$router.push({ path: '/noticeDetails', query: { id: id } })
    },
    // 打开目标
    openTarget (url) {
      if (url === '' || url === ' ' || url === null) return
      window.open('//' + url)
    },
    // 查看商品详情
    seeGoodsDetails (id, type, combItemId, isZZItem) {
      this.$router.push({ path: isZZItem !== '1' ? '/goodsDetails' : '/breedingPigDetails', query: { id, type, combItemId } })
    },
    // 跳转店铺页面
    toShop (ownerId) {
      this.$router.push({ path: '/shop', query: { ownerId } })
    },
    // 取消选择上拉
    cancelSelect () {
      this.showPullUpSelection = false
    },
    // 选择城市
    selectCity () {
      this.showPullUpSelection = true
    },
    // 上拉选中（地区）
    pullUpSelected (item, index) {
      this.showPullUpSelection = false
      this.setRegion({ data: item, flag: 'update' })
      this._queryRelCustomer(item.name)
    },
    // 取消选择上拉（销售部）
    cancelSelectChannel () {
      this.showPullUpSelectionChannel = false
    },
    // 选择销售部
    selectChannel () {
      this.showPullUpSelectionChannel = true
    },
    // 上拉选中（销售部）
    pullUpSelectedChannel (item, index) {
      try {
        this.setChannel({ data: item, flag: 'update' })

        // 根据渠道筛选地区
        this.setRegion({
          data: this.region.data.find(itm => {
            return itm.name === item.channelAreaName.split('/')[0]
          }),
          flag: 'update'
        })

        this.showPullUpSelectionChannel = false
      } finally {
        location.reload(true)
      }
      // this.$router.push({
      //   name: 'shop',
      //   query: {ownerId: item.id}
      // })
    },
    // 修改轮播图索引
    changeBanner (index) {
      this.bannerIndex = index
    },
    // 画饼图
    pieChart (data) {
      let canvas = this.$refs.canvas
      // 获取屏幕的宽度
      var clientWidth = document.documentElement.clientWidth
      // 根据设计图中的canvas画布的占比进行设置
      var canvasWidth = Math.floor((clientWidth * 360) / 750)
      canvas.setAttribute('width', canvasWidth + 'px')
      canvas.setAttribute('height', canvasWidth + 'px')
      // 设置canvas宽高
      // canvas.width = 320;
      // canvas.height = 320;
      // canvas.style.border = "1px solid #eee";

      // 获取canvas上下文
      var ctx = canvas.getContext('2d')
      // 解决有锯齿的bug
      const width = canvas.width
      const height = canvas.height
      if (window.devicePixelRatio) {
        canvas.style.width = `${width}px`
        canvas.style.height = `${height}px`
        canvas.height = height * window.devicePixelRatio
        canvas.width = width * window.devicePixelRatio
        ctx.scale(window.devicePixelRatio, window.devicePixelRatio)
      }
      ctx.beginPath()
      ctx.translate(width / 2, height / 2)
      // 画背景圆的背景色
      ctx.moveTo(width, height)
      ctx.fillStyle = '#f2f3f4'
      ctx.arc(0, 0, width / 2, (0 * Math.PI) / 180, (360 * Math.PI) / 180)
      ctx.fill()

      // 起始角度
      var tempAngle = -120
      for (var i = 0; i < data.length; i++) {
        ctx.beginPath()
        ctx.moveTo(0, 0)
        // 算出对应的度数
        var angle = data[i].value * 360
        // 计算出开始的弧度
        var startAngle = (tempAngle * Math.PI) / 180
        // 计算出结束的弧度
        var endAngle = ((tempAngle + angle) * Math.PI) / 180
        // 添加渐变色
        var grd = ctx.createRadialGradient(0, 0, width / 2, 0, 0, 40)
        grd.addColorStop(0, data[i].color1)
        grd.addColorStop(1, data[i].color2)
        // 填充对应的颜色
        ctx.fillStyle = grd

        ctx.arc(0, 0, width / 2 - 6, startAngle, endAngle)
        ctx.fill()

        tempAngle += angle
      }
      // 画灰色圆圈
      ctx.beginPath()
      ctx.moveTo(0, 0)
      ctx.fillStyle = '#f2f3f4'
      ctx.arc(0, 0, width / 4, (0 * Math.PI) / 180, (360 * Math.PI) / 180)
      ctx.fill()

      // 画白色圆圈
      ctx.beginPath()
      ctx.moveTo(0, 0)
      ctx.fillStyle = '#fff'
      ctx.arc(0, 0, width / 5, (0 * Math.PI) / 180, (360 * Math.PI) / 180)
      ctx.fill()
    },
    // 轮播图
    _queryBanner (itemclassNumber = '') {
      const params = { itemclassNumber: itemclassNumber }
      api.queryBanner(params).then(res => {
        if (res.success) {
          this.bannerList = res.data.list
        }
      })
    },
    // 根据地区查询渠道信息
    _queryRelCustomer (area) {
      api.customerAuthQuery().then(res => {
        if (res.success && res.status !== 'noData') {
          if (sessionStorage.getItem('token')) {
            try {
              // 根据地区筛选渠道
              this.setChannel({
                data: res.data.list.find(item => {
                  return item.channelAreaName.split('/')[0] === area
                }),
                flag: 'update'
              })
            } finally {
              location.reload(true)
            }
          } else {
            try {
              this.setChannel({ data: res.data.list })
            } finally {
              location.reload(true)
            }
          }
        } else {
          try {
            this.setChannel({ data: [] })
          } finally {
            location.reload(true)
          }
        }
      })
    },
    // 获取热销新品
    _gethotNewGoodsList () {
      const hotParams = {
        query: {
          bool: {
            must: [
              {
                term: {
                  'isOnSell.keyword': '1'
                }
              },
              {
                term: {
                  newSell: true
                }
              },
              {
                term: {
                  homeRecommend: true
                }
              }
            ]
          }
        },
        sort: [
          {
            field: 'sellTime',
            order: 'desc'
          }
        ],
        isGetWtRange: 0,
        isGetStock: 0,
        pageNo: 1,
        pageSize: 4
      }

      if (sessionStorage.getItem('token')) {
        if (this.$store.state.intoPage === 0 && getCookie('selectedChannel')) {
          hotParams.query.bool.must.push({ term: { 'ownerId.keyword': JSON.parse(getCookie('selectedChannel')).channelId } })
          hotParams.ownerId = JSON.parse(getCookie('selectedChannel')).channelId
        } else if (this.$store.state.intoPage === 1 && this.$store.state.channel.currentChannel && this.$store.state.channel.currentChannel.channelId) {
          hotParams.query.bool.must.push({ term: { 'ownerId.keyword': this.$store.state.channel.currentChannel.channelId } })
          hotParams.ownerId = this.$store.state.channel.currentChannel.channelId
        }
        if (!hotParams.ownerId) return // 如果没有关联订货关系，则不请求接口
      }

      // 获取热销产品数据
      api.commonCall(hotParams, 'queryGoods').then(res => {
        if (res.success) {
          res.data.list.forEach(v => {
            v.timestramp = res.timestamp
          })
          this.hotNewGoodsList = []
          let list = res.data.list
          // let index = 0
          let a = []
          for (let [index, elem] of list.entries()) {
            index++
            a.push(elem)
            let remainder = index % 2
            if (remainder === 0 || (index === list.length && index % 2 === 1)) {
              this.hotNewGoodsList[Math.ceil(index / 2) - 1] = a
              a = []
            }
          }
        }
      })
    },
    // 通知公告
    notiListQuery (page = 1) {
      api.commonCall({
        orderBys: 'createtime',
        orderType: 'desc',
        pageSize: this.pageSize,
        page: page,
        isRead: 0
      }, 'notiListQuery').then(res => {
        if (res.success) {
          this.noticeList = res.data.returnData
        } else {
          res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    // 获取热销商品
    _hotGoodsList () {
      const hotParams = {
        query: {
          bool: {
            must: [
              {
                term: {
                  'isOnSell.keyword': '1'
                }
              },
              {
                term: {
                  homeRecommend: true
                }
              }
            ]
          }
        },
        sort: [
          {
            field: 'saleQty',
            order: 'desc'
          }
        ],
        isGetWtRange: 0,
        isGetStock: 0,
        pageNo: 1,
        pageSize: 4
      }

      if (sessionStorage.getItem('token')) {
        if (this.$store.state.intoPage === 0 && getCookie('selectedChannel')) {
          hotParams.query.bool.must.push({ term: { 'ownerId.keyword': JSON.parse(getCookie('selectedChannel')).channelId } })
          hotParams.ownerId = JSON.parse(getCookie('selectedChannel')).channelId
        } else if (this.$store.state.intoPage === 1 && this.$store.state.channel.currentChannel && this.$store.state.channel.currentChannel.channelId) {
          hotParams.query.bool.must.push({ term: { 'ownerId.keyword': this.$store.state.channel.currentChannel.channelId } })
          hotParams.ownerId = this.$store.state.channel.currentChannel.channelId
        }
        if (!hotParams.ownerId) return // 如果没有关联订货关系，则不请求接口
      }

      // 获取热销产品数据
      api.commonCall(hotParams, 'queryGoods').then(res => {
        if (res.success) {
          res.data.list.forEach(v => {
            v.timestramp = res.timestamp
          })
          this.hotGoodsList = res.data.list
        }
      })
    },
    // 全部商品分类数据
    _queryGoodsCategory () {
      api.queryGoodsCategory().then(res => {
        // let menuArry = [{text: '热销产品'}]; //右侧小菜单
        if (res.success) {
          // for (let i = 0; i < res.data.length; i++) {
          //   res.data[i].currentIndex = 0;
          //   if (i < 4) {
          //     menuArry.push({text: (res.data[i].name + '新品').substr(0, 4)})
          //   }
          // }
          this.mainMenuConfig.vertical.data = res.data

          this._getGoodsList() // 获取商品列表
        }
        // 组装右侧小菜单数据
        // this.rightSideMenuConfig.data.unshift(menuArry)
      })
    },
    // 获取商品列表数据
    _getGoodsList () {
      for (let i = 0; i < this.mainMenuConfig.vertical.data.length; i++) {
        if (this.mainMenuConfig.vertical.data[i] && this.mainMenuConfig.vertical.data[i].number) {
          if (sessionStorage.getItem('token')) {
            if (!this.goodsListParams(this.mainMenuConfig.vertical.data[i].number).ownerId) return // 如果没有关联订货关系，则不请求接口
          }
          api.commonCall(this.goodsListParams(this.mainMenuConfig.vertical.data[i].number), 'queryGoods').then(res => {
            if (res.success) {
              res.data.list.forEach(v => {
                v.timestramp = res.timestamp
              })
              // this.goodsList[i] = res.data.list
              this.$set(this.goodsList, i, res.data.list)
            }
          })
        }
      }
    },
    goodsListParams (number) {
      var params = {
        query: {
          bool: {
            must: [
              {
                term: {
                  'isOnSell.keyword': '1'
                }
              }, {
                term: {
                  'itemClassList.keyword': number
                }
              },
              {
                term: {
                  homeRecommend: true
                }
              }
            ]
          }
        },
        sort: [{
          field: 'sellTime',
          order: 'desc'
        }],
        isGetWtRange: 0,
        isGetStock: 0,
        pageNo: 1,
        pageSize: 4
      }

      if (sessionStorage.getItem('token')) {
        if (this.$store.state.intoPage === 0 && getCookie('selectedChannel')) {
          params.query.bool.must.push({ term: { 'ownerId.keyword': JSON.parse(getCookie('selectedChannel')).channelId } })
          params.ownerId = JSON.parse(getCookie('selectedChannel')).channelId
        } else if (this.$store.state.intoPage === 1 && this.$store.state.channel.currentChannel && this.$store.state.channel.currentChannel.channelId) {
          params.query.bool.must.push({ term: { 'ownerId.keyword': this.$store.state.channel.currentChannel.channelId } })
          params.ownerId = this.$store.state.channel.currentChannel.channelId
        }
      }

      return params
    },
    // 更多商品
    moreGoods (itemClassList) {
      if (itemClassList === '热销产品') {
        this.$router.push({
          name: 'goodsList'
          // query: {itemClassList}
        })
        // this.$router.push({name: 'goodsList'})
        return
      }

      this.$router.push({
        name: 'goodsList',
        query: { itemClassList }
      })
      // this.$router.push({name: 'goodsList', query: {itemClassList}})
    },
    // 查看图表
    togglePopup () {
      this.show = true
    },
    // 选择图表类型
    clickList (type, value) {
      this.show = false
      this.chartType = type
      this.chartValue = value
      this.orderSummary(type)
    },
    // 隐藏选择图表上拉框
    cancel () {
      this.show = false
    },
    // 获取订单总汇
    orderSummary (type) {
      api.orderSummary({
        type: type
      }).then(res => {
        if (res.success) {
          let categories = []
          let needQty = []
          let sendQty = []
          for (let elem of res.data.values()) {
            categories.push(elem.date)
            needQty.push(elem.needQty)
            sendQty.push(elem.sendQty)
          }
          this.options.xAxis.categories = categories
          this.options.series[0].data = needQty
          this.options.series[1].data = sendQty
          let str = ''
          if (res.data[0] && res.data[0].uom) {
            str = '<tr><td style="color:{series.color};padding:0">{series.name}:&nbsp;</td>' + '<td style="padding:0"><b>{point.y} ' + res.data.list[0].uom + '</b></td></tr>'
          }
          this.options.tooltip.pointFormat = str
          this.isUpdate++
        } else {
          res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    // 今日竞价商品
    _getRabBuyList () {
      let params = {
        page: 1,
        pageSize: 6
      }
      api.commonCall(params, 'queryBiddingByToday').then(res => {
        if (res.success) {
          let nowTime = res.serverTime.getTime() || new Date().getTime()

          res.data.child = []
          for (let i = 0; i < Math.ceil(res.data.list.length / 2); i++) {
            res.data.child.push({
              list: []
            })

            if (res.data.list[2 * i]) {
              res.data.list[2 * i].isBiddingStart = nowTime >= new Date(res.data.list[2 * i].biddingBegindate.replace(/-/g, '/')).getTime() // 现在时间是否大于等于竞价开始时间
              res.data.child[i].list.push(res.data.list[2 * i])
            }

            if (res.data.list[2 * i + 1]) {
              res.data.list[2 * i + 1].isBiddingStart = nowTime >= new Date(res.data.list[2 * i + 1].biddingBegindate.replace(/-/g, '/')).getTime() // 现在时间是否大于等于竞价开始时间
              res.data.child[i].list.push(res.data.list[2 * i + 1])
            }
          }
          this.daysRobBuy = res.data
        }
      })
    },
    _toRabDetail (id) {
      this.$router.push({
        path: '/biddingDetails',
        query: {
          id: id
        }
      })
    }
  },
  components: {
    SearchBar,
    Tabbar,
    GoodsItem,
    Countdown,
    PullUpSelection,
    Search,
    VueHighCharts,
    ScrollToTopHoverBtn
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.wrapper {
  width: 100%;
  overflow-x: hidden;
  padding-bottom: 100px;
  box-sizing: border-box;
  padding: 96px 24px 120px 24px;
}

.search-wrapper {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  //.border-1px();
  @{deep} .search-bar {
    .right {
      max-width: 450px;
      .select-group {
        height: 100%;
        display: flex;
        justify-items: center;
        .select-item {
          line-height: 96px;
          flex: 1;
          margin-left: 30px;
          padding-right: 16px;
          text-align: center;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          position: relative;
          &:after {
            content: " ";
            width: 0;
            height: 0;
            border: 8px solid #2e3033;
            border-left: 8px solid transparent;
            border-top: 8px solid transparent;
            position: absolute;
            bottom: 30px;
            right: 0;
          }
          &.region {
            min-width: 86px;
          }
          &.part {
            flex: 3;
          }
        }
      }
    }
  }
}

.banner-wrapper {
  width: 100%;
  height: 300px;
  overflow: hidden;
  .img {
    width: 100%;
    height: 300px;
  }
  .custom-indicator {
    width: 100%;
    height: 8px;
    position: absolute;
    left: 0;
    bottom: 23px;
    .indicator-list {
      display: flex;
      justify-content: center;
      .indicator-item {
        width: 8px;
        height: 8px;
        background: rgba(255, 255, 255, 1);
        opacity: 0.5;
        margin-left: 6px;
        margin-right: 6px;
        border-radius: 50%;
        /*transition: width .3s;*/
        &.active {
          width: 24px;
          height: 8px;
          background: rgba(255, 255, 255, 1);
          border-radius: 5px;
          opacity: 0.8;
          transition: width 0.3s;
        }
      }
    }
  }
}

.classification-menu {
  width: 100%;
  height: 240px;
  padding-top: 50px;
  box-sizing: border-box;
  .list {
    width: 100%;
    display: flex;
    padding-bottom: 50px;
    //.border-1px();
    .item {
      flex: 1;
      text-align: center;
      .icon {
        width: 88px;
        height: 88px;
      }
      .name {
        color: #2e3033;
        font-size: 24px;
        margin-top: 6px;
      }
    }
  }
}

.new-products-wrapper {
  width: 100%;
  height: 302px;
  position: relative;
  &:before {
    content: " ";
    .bg-img("~@/assets/images/new-products-bg");
    background-size: contain;
    position: absolute;
    left: -24px;
    right: -24px;
    top: 40px;
    bottom: 0;
  }
  .content {
    width: 100%;
    height: 190px;
    background-color: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    position: absolute;
    display: flex;
    .item {
      display: inline-block;
      width: 50%;
      height: 100%;
      /*flex: 1;*/
      padding-left: 30px;
      padding-right: 28px;
      padding-top: 20px;
      box-sizing: border-box;
      .name {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 24px;
        &:before {
          display: inline-block;
          content: " ";
          width: 59px;
          height: 26px;
          .bg-img("~@/assets/images/icon/icon_new");
          background-repeat: no-repeat;
          background-size: 100% 100%;
          margin-right: 12px;
          vertical-align: -3px;
        }
      }
      .goods-info {
        display: flex;
        margin-top: 15px;
        align-items: center;
        .goods-img {
          width: 100px;
          height: 96px;
        }
        .price-info {
          margin-left: 15px;
          color: #e33240;
          font-size: 24px;
          .price {
            font-size: 32px;
          }
          .original-price {
            color: #999ea4;
            font-size: 22px;
          }
        }
      }
    }
    .item:first-child {
      .border-vertical-1px();
    }
  }
  .action-content {
    width: 100%;
    height: 260px;
    background-color: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    position: absolute;
    .content-action {
      width: 100%;
      height: 64px;
      box-sizing: border-box;
      float: left;
      .action-a {
        width: 28px;
        height: 28px;
        box-sizing: border-box;
        border: 0px solid gold;
        float: left;
        margin-left: 26px;
        margin-top: 18px;
        background: url("~@/assets/images/auction/action@1x.png") no-repeat center center;
        background-size: 100% 100%;
        margin-right: 8px;
      }
      p {
        font-family: "PingFang SC";
        font-size: 26px;
        color: #e63e32;
        line-height: 64px;
        font-weight: bold;
      }
    }
    .content-bottom {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      border-bottom: 0px solid palegreen;
      padding-top: 64px;
      font-size: 0;
      position: absolute;
      left: 0;
      top: 0;
      background: transparent;
      .van-swipe {
        height: 100%;
        @{deep} .van-swipe__indicators {
          bottom: 6px;
          .van-swipe__indicator {
            background-color: #1989fa;
          }
        }
      }
      .bottom-left {
        display: inline-block;
        width: 50%;
        height: 170px;
        box-sizing: border-box;
        border-right: 0px solid palegreen;
        padding: 0 8px 0 26px;
        &:first-child {
          .border-vertical-1px();
        }
        .bottom-left-a {
          border: 0px solid #e8e8e8;
          width: 130px;
          height: 130px;
          box-sizing: border-box;
          float: left;
          overflow: hidden;
          position: relative;
          .one-price{
            position: absolute;
            width: 59px;
            height: 22px;
            top: 0;
            left: 0;
            background: url("~@/assets/images/auction/one-price.svg") no-repeat center left;
            background-size: 100% 100%;
          }
          img {
            width: 100%;
            height: 100%;
          }
        }
        .bottom-left-b {
          border: 0px solid #e8e8e8;
          width: 177px;
          max-height: 132px;
          box-sizing: border-box;
          float: left;
          margin-left: 10px;
          .bottom-left-c {
            display: block;
            border-bottom: 0px solid #e8e8e8;
            width: 100%;
            height: 34%;
            box-sizing: border-box;
            p {
              display: block;
              width: 100%;
              font-family: "PingFang SC";
              font-size: 26px;
              color: #363638;
              margin-top: 8px;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
          }
          .bottom-left-d {
            border-bottom: 0px solid #e8e8e8;
            width: 100%;
            height: 35%;
            float: left;
            box-sizing: border-box;
            .bottom-left-f {
              float: left;
              font-size: 24px;
              font-family: "PingFang SC";
              font-weight: bold;
            }
            span {
              float: left;
              font-family: "PingFang SC";
              font-size: 22px;
              color: #e33240;
              margin-top: 12px;
              &.price {
                margin-top: 4px;
                font-size: 32px;
              }
              &.unit {
                font-size: 22px;
                color: #e33240;
              }
            }
          }
          .bottom-left-l {
            p {
              font-size: 30px;
              font-family: "PingFang SC";
              color: #e33240;
            }
          }
          .bottom-left-e {
            border-bottom: 0px solid #e8e8e8;
            width: 100%;
            height: 31%;
            float: left;
            box-sizing: border-box;
            p {
              float: left;
              font-family: "PingFang SC";
              font-size: 22px;
              color: #A1A3A8;
              margin-left: 0px;
              line-height: 45px;
            }
          }
        }
        .release {
          float: left;
          width: 100%;
          font-size: 20px;
          line-height: 40px;
          color: #A9ABAF;
        }
      }
      .no-list {
        width: 100%;
        height: 100%;
        background: #FFFFFF;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          display: inline-block;
          height: 132px;
        }
        p{
          font-size: 26px;
          color: #d3d3d4;
          text-align: center;
          padding-left: 25px;
          padding-top: 20px;
          padding-right: 20px;
        }
      }
    }
  }
}

.presale-goods-wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  .border-1px();
  .left {
    flex: 1;
    height: 340px;
    .border-vertical-1px();
    .name {
      font-size: 30px;
      color: #428be9;
      line-height: 30px;
    }
    .countdown-box {
      margin-top: 10px;
      .countdown-label {
        font-size: 22px;
        color: #5e6166;
      }
      .countdown {
        height: 30px;
        margin-top: 10px;
        font-weight: bold;
      }
    }
    .goods-img {
      width: 220px;
      height: 200px;
      margin-left: 95px;
      margin-top: 20px;
    }
  }
  .right {
    flex: 1;
    height: 340px;
    .goods-list {
      width: 100%;
      height: 100%;
      .item {
        width: 100%;
        height: 50%;
        display: flex;
        box-sizing: border-box;
        padding-top: 26px;
        .goods-info {
          width: 209px;
          padding-left: 24px;
          box-sizing: border-box;
          .name {
            font-size: 30px;
            color: #3e8d6a;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .desc {
            width: 50%;
            height: 50px;
            font-size: 22px;
            color: #5e6166;
            margin-top: 5px;
            line-height: 28px;
            overflow: hidden;
          }
        }
        .goods-img {
          width: 142px;
          height: 124px;
        }
        &:first-child {
          .border-1px();
        }
        &:last-child {
          .name {
            color: #9b8157;
          }
        }
      }
    }
  }
}

.chart-wrapper {
  padding-bottom: 50px;
  .border-1px();
  .modify {
    width: 100px;
    height: 48px;
    background: rgba(255, 255, 255, 1);
    border-radius: 3px;
    border: 1px solid #e33240;
    color: #e33240;
    font-size: 26px;
    line-height: 48px;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    padding-right: 24px;
    &::before {
      content: " ";
      width: 0;
      height: 0;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-bottom: 7px solid #e33240;
      position: absolute;
      right: 12px;
      top: 13px;
    }
    &::after {
      content: " ";
      width: 0;
      height: 0;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-top: 7px solid #e33240;
      position: absolute;
      right: 12px;
      bottom: 14px;
    }
  }
  .canvas-box {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  .chart-title {
    font-size: 30px;
    color: #428be9;
    text-align: center;
    margin-top: 50px;
  }
  .chart-info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .item {
      width: 50%;
      font-size: 24px;
      margin-top: 40px;
      padding-left: 6px;
      box-sizing: border-box;
      .color-block {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 5px;
        border-radius: 2px;
      }
    }
  }
}

.notice-wrapper {
  width: 100%;
  .list {
    width: 100%;
    margin-top: 30px;
    .border-1px();
    padding-bottom: 40px;
    box-sizing: border-box;
    overflow-x: hidden;
    .item {
      width: 100%;
      height: 130px;
      display: flex;
      align-items: center;
      .img-box {
        width: 144px;
        height: 90px;
        border-radius: 10px;
        overflow: hidden;
        flex: 0 0 144px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .content {
        margin-left: 24px;
        width: 490px;
        .text {
          width: 100%;
          font-size: 30px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          .van-read {
            display: inline-block;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            // background: rgb(50, 150, 255);
            background: #e33240;
            margin-right: 10px;
          }
        }
        .time {
          color: #8e939a;
          font-size: 24px;
        }
      }
    }
  }
}

.search-page {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 99;
}

.hot-goods-list,
.new-goods-list {
  width: 100%;
  .list {
    margin-top: 40px;
    overflow: hidden;
    .border-1px();
    .item {
      width: 339px;
      float: left;
      margin-bottom: 24px;
    }
    .item:nth-child(odd) {
      margin-right: 24px;
    }
  }
}

.new-goods-list .list {
  .border-none();
}

.title-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  .title {
    font-size: 40px;
  }
  .desc {
    font-size: 24px;
    color: #8e939a;
    margin-top: 5px;
  }
  .more-btn {
    font-size: 26px;
    color: #e33240;
    margin-top: 26px;
  }
}

.popup {
  color: #2E3033;
  font-size: 30px;
  background: rgb(245, 245, 245);
  text-align: center;

  .active {
    position: relative;
    transform: rotate(0deg);
    overflow: hidden;

    &:active {
      &::before {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background: rgba(0, 0, 0, .08);
      }
    }
  }

  > .popup-content > div {
    background: white;
  }

  .title {
    line-height: 96px;
    height: 96px;
    color: #8E939A;
    font-size: 26px;
    .border-1px(rgba(232, 233, 235, 1))
  }

  .list {
    max-height: 8 * 96px;
    -webkit-overflow-scrolling: touch;
    overflow: auto;

    > div {
      line-height: 96px;
      height: 96px;
      .active;
      .border-1px(rgba(232, 233, 235, 1))
    }
  }

  .button {
    .active;
    margin-top: 16px;
    line-height: 100px;
    height: 100px;
  }
}
</style>
