<template>
  <div class="index-wrap">
    <!-- 顶部 -->
    <div class="index-wrap-top">
      <!-- 搜索栏 -->
      <index-search :bgOpacity="opacity" @selectRegion="selectRegion" @selectChannel="selectChannel"></index-search>
      <!-- 菜单栏 -->
      <icon-routing ref="iconRouting"></icon-routing>
    </div>

    <!-- 资讯 -->
    <information-center
      :columnList="informationColumnList"
      @toInformation="toInformation"
      @seeInformationDetails="seeInformationDetails"
    ></information-center>

    <!-- 精选活动 -->
    <selected-activities
      :data="activitiesList"
      :activitiesTitle="activitiesTitle"
      :requestLoading="requestLoading"
      @tab-change="tabChange"
      @onRefresh="onRefresh"
    ></selected-activities>

    <!-- 分类商品 -->
    <variety-classification
      v-if="classification && classification.length"
      :classification="classification"
      :goodsList="goodsList"
      @selectClass="selectClass"
      @seeGoodsDetails="seeGoodsDetails"
      @toShop="toShop"
    ></variety-classification>

    <!-- 底部tabbar导航 -->
    <tabbar :scrolling="distanceFromTop > 0" :scrollDirection="scrollDirection" @on-double-click="scrollToTop"></tabbar>

    <!--新人领券-->
    <div class="newbie-coupons" v-if="showNewbieCoupons">
      <div class="newbie-coupons-content">
        <img class="close-icon" @click.stop="showNewbieCoupons = false">
        <div class="newbie-coupons-yuan">
          <p class="p-yuan">&yen;&nbsp;<span>{{couponInfo.discountAmount}}</span></p>
          <p class="full-reduction">满{{couponInfo.fredAmount}}减{{couponInfo.discountAmount}}元</p>
        </div>
        <img class="collect-immediately" @click.stop="getCoupon(couponInfo.id)">
      </div>
    </div>

    <!-- 广告弹框 -->
    <div class="advertising" v-if="showAdvertising" :style="{backgroundImage: `url(${allImgDomainName + advertisingInfo[0].picture})`}" @click.stop="toDetails">
      <div class="advertising-content">
        <img class="close-icon" src="@/assets/images/information/close.svg" @click.stop="showAdvertising = false">
      </div>
    </div>

    <van-overlay z-index="98" :show="showNewbieCoupons || showAdvertising" />
  </div>
</template>

<script>
import IndexSearch from '@/components/index-2/index-search'
import IconRouting from '@/components/index-2/icon-routing'
import SelectedActivities from '@/components/index-2/selected-activities'
import VarietyClassification from '@/components/index-2/variety-classification'
import InformationCenter from '@/components/index-2/information-center'
import Tabbar from '@/components/index-2/tabbar'
import { api } from '@/api'
import { mapActions, mapGetters } from 'vuex'
import { getCookie, getScrollTop, getClientHeight, getScrollHeight, scrollTop } from '@/utils/common'
import { allImgDomainNameMixin } from '@/assets/js/mixin'

export default {
  name: 'index-2',
  mixins: [allImgDomainNameMixin],
  components: {
    Tabbar,
    VarietyClassification,
    SelectedActivities,
    IconRouting,
    IndexSearch,
    InformationCenter
  },
  data () {
    return {
      activitiesTitle: [ // 精选活动栏标题
        {
          title: '竞价',
          key: 'bidding'
        },
        {
          title: '团购',
          key: 'groupbuy'
        },
        {
          title: '秒杀',
          key: 'flashsale'
        }
      ],
      activitiesList: [], // 精选活动列表
      allGoodsCategory: [{ name: '热销产品' }], // 所有分类列表（不包括热销商品）
      classification: [], // 分类列表
      goodsList: [], // 每一分类的商品列表
      allGoodsList: [], // 一次性获取的所有分类的商品列表（包括热销商品）
      allNoEmptyGoodsList: [], // 获取的非空的所有分类商品列表
      topDistance: 1, // 滚动条开始计算的顶部距离
      distanceFromTop: 0, // 滚动条离顶部距离
      scrollDirection: 0, // 滚动条滚动方向，<0——向上，>0——向下
      opacity: 0, // 顶部搜索栏透明度
      requestLoading: false, // 接口请求加载动画
      showNewbieCoupons: false, // 显示新人领券
      couponInfo: {}, // “新人领券”信息
      informationColumnList: [], // 资讯栏目列表（含各栏目资讯列表）
      advertisingInfo: [], // 广告弹框信息
      showAdvertising: false // 显示广告弹窗
    }
  },
  computed: {
    ...mapGetters(['region', 'justLoggedIn'])
  },
  watch: {
    distanceFromTop (val) {
      if (val + this.topDistance <= 0) {
        setTimeout(() => {
          this.scrollDirection = 0
        }, 600)
      }
    }
  },
  created () {
    this.distanceFromTop = 0 - this.topDistance
    window.addEventListener('scroll', this.handleScroll, true) // 监听滚动

    if (sessionStorage.getItem('token') && this.justLoggedIn) {
      this.getAdvertising()
    }
  },
  mounted () {
    this.getSpecialSaleList().then(() => { // 获取特价销售商品
      if (this.activitiesList && this.activitiesList.length) {
        this.activitiesTitle.unshift({ title: '特价', key: 'specialsale' })
      } else {
        this.getBiddingListByToday() // 获取今日竞价
      }
    })
    this._queryGoodsCategory() // 获取全部商品分类
    this.getColumnList() // 获取资讯栏目

    // “新人领券”
    if (sessionStorage.getItem('token') && (JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId)) {
      if (this.$route.params.couponInfo && JSON.stringify(this.$route.params.couponInfo) !== '{}') {
        this.couponInfo = this.$route.params.couponInfo
        this.showNewbieCoupons = true
      }
    }
  },
  methods: {
    ...mapActions(['setChannel', 'setRegion', 'setJustLoggedIn']),
    // 监听滚动事件
    handleScroll () {
      if (getScrollTop() >= 0 && getScrollTop() <= getScrollHeight() - getClientHeight()) {
        this.scrollDirection = (getScrollTop() - this.topDistance) - this.distanceFromTop
        this.distanceFromTop = getScrollTop() - this.topDistance
      }

      // 顶部搜索栏透明度随滚动变化
      let base = getScrollTop() / 200
      this.opacity = base < 0 ? 0 : base > 1 ? 1 : base
    },
    // 双击返回顶部
    scrollToTop () {
      scrollTop(window, getScrollTop(), 0, 1000)
    },
    // 上拉选中（地区）
    selectRegion (item, index) {
      this.setRegion({ data: item, flag: 'update' })
      this._queryRelCustomer(item.name)
    },
    // 根据地区查询渠道信息
    _queryRelCustomer (area) {
      api.customerAuthQuery().then(res => {
        if (res.success && res.status !== 'noData') {
          if (sessionStorage.getItem('token')) {
            try {
              // 根据地区筛选渠道
              this.setChannel({
                data: res.data.list.find(item => {
                  return area.indexOf(item.channelAreaName.split('_')[0]) > -1
                }),
                flag: 'update'
              })
            } finally {
              location.reload(true)
            }
          } else {
            try {
              this.setChannel({ data: res.data.list })
            } finally {
              location.reload(true)
            }
          }
        } else {
          try {
            this.setChannel({ data: [] })
          } finally {
            location.reload(true)
          }
        }
      })
    },
    selectChannel (item, index) {
      try {
        this.setChannel({ data: item, flag: 'update' })

        // 根据渠道筛选地区
        this.setRegion({
          data: this.region.data.find(itm => {
            return itm.name.indexOf(item.channelAreaName.split('_')[0]) > -1
          }),
          flag: 'update'
        })
      } finally {
        location.reload(true)
      }
    },
    tabChange (activeTitle) {
      this.activitiesList = []
      if (activeTitle === '特价') { // 特价
        this.getSpecialSaleList()
      } else if (activeTitle === '竞价') { // 竞价
        this.getBiddingListByToday()
      } else if (activeTitle === '团购') { // 团购
        this.getGroupBuyingList()
      } else if (activeTitle === '秒杀') { // 秒杀
        this.getFlashSaleList()
      }
    },
    // 下拉刷新
    onRefresh (activeTitle) {
      if (activeTitle === '特价') { // 特价
        this.getSpecialSaleList()
      } else if (activeTitle === '竞价') { // 竞价
        this.getBiddingListByToday()
      } else if (activeTitle === '团购') { // 团购
        this.getGroupBuyingList()
      } else if (activeTitle === '秒杀') { // 秒杀
        this.getFlashSaleList()
      }
    },
    // 今日竞价商品
    getBiddingListByToday () {
      this.requestLoading = true
      let params = {
        page: 1,
        pageSize: 999
      }
      api.commonCall(params, 'queryBiddingByToday').then(res => {
        this.requestLoading = false
        if (res.success) {
          let nowTime = res.serverTime.getTime() || new Date().getTime()
          res.data.list.forEach((v, i) => {
            let begin = new Date(v.biddingBegindate && v.biddingBegindate.replace(/-/g, '/')).getTime() // 开始日期
            let end = new Date(v.biddingEnddate && v.biddingEnddate.replace(/-/g, '/')).getTime() // 结束日期
            this.$set(v, 'isBiddingStart', nowTime >= begin) // 现在时间是否大于等于竞价开始时间
            if (nowTime < begin) {
              this.$set(v, 'lengthOfCountdownTime', begin - nowTime)
            } else {
              this.$set(v, 'lengthOfCountdownTime', end - nowTime)
            }
          })
          this.activitiesList = res.data.list
        } else {
          res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    // 团购
    getGroupBuyingList () {
      this.requestLoading = true
      let params = {
        page: 1,
        pageSize: 999,
        ownerId: JSON.parse(getCookie('selectedChannel')) && JSON.parse(getCookie('selectedChannel')).channelId ? JSON.parse(getCookie('selectedChannel')).channelId : ''
      }
      api.commonCall(params, 'queryGroupBuyList').then(res => {
        this.requestLoading = false
        if (res.success) {
          let nowTime = res.serverTime.getTime() || new Date().getTime()
          res.data.groupList.forEach((v, i) => {
            let begin = new Date(v.beginDate && v.beginDate.replace(/-/g, '/')).getTime() // 开始日期
            let end = new Date(v.endDate && v.endDate.replace(/-/g, '/')).getTime() // 结束日期
            this.$set(v, 'isGroupBuyingStart', nowTime >= begin) // 现在时间是否大于等于竞价开始时间
            if (nowTime < begin) {
              this.$set(v, 'lengthOfCountdownTime', begin - nowTime)
            } else {
              this.$set(v, 'lengthOfCountdownTime', end - nowTime)
            }
          })
          this.activitiesList = res.data.groupList
        } else {
          res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    // 秒杀
    getFlashSaleList () {
      this.requestLoading = true
      let params = {
        page: 1,
        pageSize: 999,
        orderBy: 'up',
        spikeType: 'spikeNow'
      }
      api.commonCall(params, 'querySpikeActivityList').then(res => {
        this.requestLoading = false
        if (res.success) {
          let nowTime = res.serverTime.getTime() || new Date().getTime()
          res.data.spikeList.forEach((v, i) => {
            let begin = new Date(v.beginDate && v.beginDate.replace(/-/g, '/')).getTime() // 开始日期
            let end = new Date(v.endDate && v.endDate.replace(/-/g, '/')).getTime() // 结束日期
            this.$set(v, 'isFlashSaleStart', nowTime >= begin) // 现在时间是否大于等于竞价开始时间
            if (nowTime < begin) {
              this.$set(v, 'lengthOfCountdownTime', begin - nowTime)
            } else {
              this.$set(v, 'lengthOfCountdownTime', end - nowTime)
            }
          })
          this.activitiesList = res.data.spikeList
        } else {
          res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    // 特价
    getSpecialSaleList () {
      this.requestLoading = true
      let params = {
        page: 1,
        pageSize: 999
      }
      if (sessionStorage.getItem('token')) {
        params.customerId = JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
      } else {
        params.customerId = ''
      }
      return api.commonCall(params, 'searchSaleList').then(res => {
        this.requestLoading = false
        if (res.success) {
          res.data.list.forEach((v, i) => {
            if (v.itemPrice) {
              let p1 = new this.$BigDecimal(v.itemPrice)
              let p2 = new this.$BigDecimal(v.priceRange)
              this.$set(v, 'sellingPrice', v.priceType === '0' ? this.$BigDecimal.add(p1.getValue(), p2.getValue()) : v.priceType === '1' ? this.$BigDecimal.subtract(p1.getValue(), p2.getValue()) : null)
            } else {
              this.$set(v, 'sellingPrice', null)
            }
          })
          this.activitiesList = res.data.list
        } else {
          res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    // 全部商品分类数据
    _queryGoodsCategory () {
      api.queryGoodsCategory().then(res => {
        if (res.success) {
          this.allGoodsCategory.splice(this.allGoodsCategory.length, 0, ...res.data)
          this._getGoodsList()
        }
      })
    },
    // 获取商品列表数据
    _getGoodsList () {
      let callArray = []
      for (let i = 0; i < this.allGoodsCategory.length; i++) {
        if (i === 0) {
          callArray.push(this._hotGoodsList())
        } else {
          if (this.allGoodsCategory[i] && this.allGoodsCategory[i].id) {
            if (sessionStorage.getItem('token')) {
              if (!this.goodsListParams(this.allGoodsCategory[i].id).ownerId) return // 如果没有关联订货关系，则不请求接口
            }

            let p = api.commonCall(this.goodsListParams(this.allGoodsCategory[i].id), 'queryHotSale').then(res => {
              if (res.success) {
                this.$set(this.allGoodsList, i, res.data.list)
              }
            })
            callArray.push(p)
          }
        }
      }

      Promise.all(callArray).then(() => {
        this.allGoodsList.forEach((v, i) => {
          if (v.length > 0) {
            this.classification.push(this.allGoodsCategory[i]) // 组装各分类标题
            this.allNoEmptyGoodsList.push(this.allGoodsList[i]) // 组装各分类商品列表
          }
        })
      })
    },
    goodsListParams (id) {
      let params = {
        pageNo: 1,
        pageSize: 8,
        itemClassId: id
      }

      if (sessionStorage.getItem('token')) {
        if (this.$store.state.intoPage === 0 && sessionStorage.getItem('defaultCustomer')) {
          params.customerId = JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
        } else if (this.$store.state.intoPage === 1 && this.$store.state.customer.current && this.$store.state.customer.current.customerId) {
          params.customerId = this.$store.state.customer.current.customerId
        }

        if (this.$store.state.intoPage === 0 && getCookie('selectedChannel')) {
          params.ownerId = JSON.parse(getCookie('selectedChannel')).channelId
        } else if (this.$store.state.intoPage === 1 && this.$store.state.channel.currentChannel && this.$store.state.channel.currentChannel.channelId) {
          params.ownerId = this.$store.state.channel.currentChannel.channelId
        }
      }

      return params
    },
    // 获取热销商品
    _hotGoodsList () {
      let hotParams = {
        pageNo: 1,
        pageSize: 8
      }

      if (sessionStorage.getItem('token')) {
        if (this.$store.state.intoPage === 0 && sessionStorage.getItem('defaultCustomer')) {
          hotParams.customerId = JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
        } else if (this.$store.state.intoPage === 1 && this.$store.state.customer.current && this.$store.state.customer.current.customerId) {
          hotParams.customerId = this.$store.state.customer.current.customerId
        }

        if (this.$store.state.intoPage === 0 && getCookie('selectedChannel')) {
          hotParams.ownerId = JSON.parse(getCookie('selectedChannel')).channelId
        } else if (this.$store.state.intoPage === 1 && this.$store.state.channel.currentChannel && this.$store.state.channel.currentChannel.channelId) {
          hotParams.ownerId = this.$store.state.channel.currentChannel.channelId
        }
        if (!hotParams.ownerId) return // 如果没有关联订货关系，则不请求接口
      }

      // 获取热销产品数据
      return api.commonCall(hotParams, 'queryHotSale').then(res => {
        if (res.success) {
          this.$set(this.allGoodsList, 0, res.data.list)
          this.goodsList.splice(0, this.goodsList.length, ...this.allGoodsList[0])
        }
      })
    },
    selectClass (index) {
      this.goodsList.splice(0, this.goodsList.length, ...this.allNoEmptyGoodsList[index])
      // scrollTop(window, getScrollTop(), document.documentElement.clientHeight, 1000)
    },
    // 查看商品详情
    seeGoodsDetails (id, type, combItemId) {
      this.$router.push({ path: '/goodsDetails', query: { id, type, combItemId } })
    },
    // 跳转店铺页面
    toShop (ownerId) {
      this.$router.push({ path: '/shop', query: { ownerId } })
    },
    // 领取优惠券
    getCoupon (id) {
      let params = {
        customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId, // 渠道id
        couponId: id // 活动id
      }
      api.commonCall(params, 'getCouponByOwner').then(res => {
        if (res.success) {
          this.$toast(res.data.message)
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
        this.showNewbieCoupons = false
      })
    },
    // 查询栏目列表
    getColumnList () {
      let params = {
        page: 1,
        pageSize: 10
      }
      api.commonCall(params, 'queryColumnList').then(res => {
        if (res.success) {
          this.informationColumnList = res.data.list.sort((a, b) => +a.order < +b.order ? -1 : 1)
          this.informationColumnList.forEach((v, i) => {
            this.getArticleList(v.id).then(data => {
              this.$set(v, 'infoList', data)
            })
          })
        }
      })
    },
    // 查询栏目文章列表--（温氏头条、个人相关）栏目
    getArticleList (id) {
      let params = {
        page: 1,
        pageSize: 2,
        column: id, // 栏目ID
        articleName: '' // 搜索关键字
      }
      if (sessionStorage.getItem('token')) {
        if (this.$store.state.intoPage === 0 && getCookie('selectedChannel')) {
          params.ownerId = JSON.parse(getCookie('selectedChannel')).channelId
        } else if (this.$store.state.intoPage === 1 && this.$store.state.channel.currentChannel && this.$store.state.channel.currentChannel.channelId) {
          params.ownerId = this.$store.state.channel.currentChannel.channelId
        }
      }

      return api.commonCall(params, 'queryArticleList').then(res => {
        if (res.success) {
          return res.data.list
        } else {
          return []
        }
      })
    },
    // 跳转到资讯列表中心
    toInformation (id, name) {
      this.$router.push({
        path: '/information',
        query: { id, name }
      })
    },
    // 跳转到资讯详情页面
    seeInformationDetails (item) {
      if (item.returnType === '0') { // 返回外部链接
        window.open(item.detail, '_blank')
      } else if (item.returnType === '1') { // 返回文章富文本
        this.$router.push({
          name: 'informationDetails',
          query: { id: item.id, columnName: item.columnName }
        })
      }
    },
    // 查询弹窗广告
    getAdvertising () {
      api.commonCall({}, 'queryPopupList').then(res => {
        if (res.success) {
          this.advertisingInfo = res.data
          if (this.advertisingInfo && this.advertisingInfo.length && this.advertisingInfo[0].picture) {
            this.showAdvertising = true
          }
          this.setJustLoggedIn(false) // 设置刚登录状态
        }
      })
    },
    toDetails () {
      if (this.advertisingInfo[0]) {
        this.showAdvertising = false
        if (this.advertisingInfo[0].returnType === '0') { // 链接
          window.open(this.advertisingInfo[0].detail, '_blank')
        } else if (this.advertisingInfo[0].returnType === '1') { // 富文本
          this.$router.push({
            name: 'informationDetails',
            params: {
              detail: this.advertisingInfo[0].detail
            }
          })
        }
      }
    }
  },
  destroyed () {
    window.removeEventListener('scroll', this.handleScroll, true)
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.index-wrap{
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 88px 0 130px;
  box-sizing: border-box;
  background: #f8f8f8 url("~@/assets/images/index-2/background-img.svg") no-repeat;
  background-size: 100% auto;
  .index-wrap-top{
    width: 100%;
    overflow: hidden;
  }
  .variety-classification{
    width: 100%;
    overflow: hidden;
    background-color: #f8f8f8;
    .variety-classification-content{
      width: 95.7%;
      overflow: hidden;
      margin: 6px auto;
    }
  }

  .newbie-coupons {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 579px;
    height: 596px;
    z-index: 100;
    .bg-img("~@/assets/images/coupon/coupons-bg");
    background-size: 579px 596px;
    background-repeat: no-repeat;
    background-position: center center;
    .newbie-coupons-content{
      width: 100%;
      height: 100%;
      position: relative;
      .close-icon {
        .img-content("~@/assets/images/coupon/coupons-close");
        width: 36px;
        height: 36px;
        position: absolute;
        right: 14px;
        top: 14px;
      }
      .newbie-coupons-yuan{
        position: absolute;
        width: 100%;
        top: 220px;
        left: 0;
        .p-yuan{
          font-size: 42px;
          color: #FF6064;
          text-align: center;
          font-weight: 600;
          font-family: 'AvenirLTStd-Black';
          span{
            font-size: 98px;
          }
        }
        .full-reduction{
          text-align: center;
          font-size: 24px;
          color: #FF6064;
        }
      }
      .collect-immediately{
        .img-content("~@/assets/images/coupon/collect-btn");
        width: 447px;
        height: 123px;
        position: absolute;
        left: 50%;
        bottom: 28px;
        transform: translateX(-50%);
      }
    }
  }

  .advertising {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 560px;
    height: 700px;
    background-size: 560px 100%;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 99;
    .advertising-content {
      position: relative;
      .close-icon {
        width: 48px;
        height: 48px;
        position: absolute;
        right: -16px;
        top: -16px;
        cursor: pointer;
      }
      .advertising-img {
        width: 100%;
        border-radius: 20px;
      }
    }
  }
}
</style>
