<template>
  <div class="jump-page">

  </div>
</template>

<script>
import { api } from '@/api'

export default {
  name: 'jumpPage',
  data () {
    return {

    }
  },
  created () {
    // wx登录跳转
    let params = this.$route.query || {}
    if (params.redirect === 'questionnaireDetails' && +params.doRedirect === 1) {
      params.redirectParam = JSON.stringify({
        id: params.id,
        redirectNow: 1,
        customerType: params.customerType
      })
    }
    api.commonCall({ raNum: this.randomString(), ...params }, 'wxLogin').then(res => {
      console.log('jumpPage res=====', res)
      if (res.success) {
        window.location.replace(res.data.jumpUrl)
      } else {
        this.$toast('请重新刷新')
      }
    }, err => {
      this.$toast(err.message || '网络开小差了')
    })
  },
  methods: {
    randomString (len) {
      len = len || 32
      var $chars = 'ABCDEFGHJKMNPQRSTWXYZabcdefhijkmnprstwxyz2345678'
      var maxPos = $chars.length
      var pwd = ''
      for (var i = 0; i < len; i++) {
        pwd += $chars.charAt(Math.floor(Math.random() * maxPos))
      }
      return pwd
    }
  }
}
</script>

<style lang="less" scoped>
.jump-page {

}
</style>
