<template>
  <div class="more-categories-wrapper">
    <van-nav-bar title="更多分类" left-arrow @click-left="onClickLeft"></van-nav-bar>
    <div class="classification-menu">
      <div class="bg-color-1"></div>
      <div class="bg-color-2"></div>
      <div class="box">
        <ul class="list">
          <li
            class="item"
            v-for="(item, index) in classificationMenuList"
            :key="index"
            @click="seeMoreCategories(item)"
          >
            <img :src="item.icon" alt class="icon">
            <h2 class="name">{{item.name}}</h2>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
// import { api } from '@/api'
import { getCookie } from '@/utils/common'

export default {
  name: 'moreCategories',
  data () {
    return {
      token: null,
      classificationMenuList: [
        {
          icon: require('@/assets/images/index-2/makeorder.svg'),
          name: '快速下单'
        },
        {
          icon: require('@/assets/images/index-2/payment.svg'),
          name: '货物付款'
        },
        {
          icon: require('@/assets/images/index-2/contract.svg'),
          name: '我的合约'
        },
        {
          icon: require('@/assets/images/index-2/money.svg'),
          name: '余额'
        },
        {
          icon: require('@/assets/images/index-2/bidding.svg'),
          name: '竞价'
        },
        {
          icon: require('@/assets/images/index-2/assemble.svg'),
          name: '拼团'
        },
        {
          icon: require('@/assets/images/index-2/seckill.svg'),
          name: '秒杀'
        },
        {
          icon: require('@/assets/images/index-2/special-sale.svg'),
          name: '特价销售'
        },
        {
          icon: require('@/assets/images/index-2/follow.svg'),
          name: '关注'
        },
        {
          icon: require('@/assets/images/index-2/coupon-icon.svg'),
          name: '优惠券'
        },
        {
          icon: require('@/assets/images/index-2/customer-feedback.svg'),
          name: '意见反馈'
        },
        {
          icon: require('@/assets/images/index-2/logistics.svg'),
          name: '物流申请'
        },
        {
          icon: require('@/assets/images/index-2/help-center.svg'),
          name: '帮助中心'
        }
      ]
    }
  },
  created () {
    this.token = sessionStorage.getItem('token')
  },
  methods: {
    onClickLeft () {
      this.$router.go(-1)
    },
    // 查看更多分类
    seeMoreCategories (item) {
      if (item.name === '快速下单') {
        if (this.token) {
          if (JSON.parse(getCookie('selectedChannel')).channelId) {
            this.$router.push({
              name: 'quickOrder',
              query: {
                ownerId: JSON.parse(getCookie('selectedChannel')).channelId,
                ownerName: JSON.parse(getCookie('selectedChannel')).channelName,
                storeName: JSON.parse(getCookie('selectedChannel')).storeName,
                ownerType: JSON.parse(getCookie('selectedChannel')).channelType
              }
            })
          } else {
            this.$toast('请先申请买卖关系')
          }
        } else {
          this.$toast('请先登录')
          this.$router.push({ path: '/loginRandom', query: { redirect: this.$route.fullPath } })
        }
      } else if (item.name === '竞价') {
        this.$router.push('/robbing')
      } else if (item.name === '拼团') {
        this.$router.push('/groupBuying')
      } else if (item.name === '秒杀') {
        this.$router.push({
          name: 'flashSale',
          query: { active: 0 }
        })
      } else if (item.name === '货物付款') {
        this.$router.push({
          path: '/selfServiceDeliveryList',
          query: { active: 0 }
        })
      } else if (item.name === '我的合约') {
        this.$router.push('/myAgreement')
      } else if (item.name === '关注') {
        this.$router.push('/myConcern')
      } else if (item.name === '优惠券') {
        this.$router.push('/preferential')
      } else if (item.name === '余额') {
        this.$router.push({
          path: '/fund',
          query: { active: 0 }
        })
      } else if (item.name === '帮助中心') {
        this.$router.push('/helpCenter')
      } else if (item.name === '意见反馈') {
        this.$router.push('/customerFeedbackSwitchType')
      } else if (item.name === '特价销售') {
        this.$router.push('/specialSaleList')
      } else if (item.name === '物流申请') {
        this.$router.push('/logisticsLineList')
      }
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.more-categories-wrapper {
  width: 100%;
  height: 100vh;
  background: #ffffff;
  .classification-menu {
    width: 100%;
    box-sizing: border-box;
    padding: 14px 14px 0;
    position: relative;
    .bg-color-1 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 750px;
      background-image: linear-gradient(90deg, rgba(255,185,22,1) 0%, rgba(245,153,0,1) 100%);
      background-repeat: no-repeat;
      background-size: 100% 750px;
    }
    .bg-color-2 {
      position: absolute;
      top: 462px;
      left: 0;
      width: 100%;
      height: 288px;
      background-image: linear-gradient(360deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
      background-repeat: no-repeat;
      background-size: 100% 288px;
    }
    .box {
      position: absolute;
      top: 14px;
      left: 14px;
      right: 14px;
      height: 960px;
      background: #ffffff;
      border-radius: 22px;
      .list {
        width: 100%;
        padding-bottom: 50px;
        display: flex;
        flex-wrap: wrap;
        //.border-1px();
        .item {
          width: 25%;
          text-align: center;
          padding-top: 42px;
          .icon {
            width: 80px;
            height: 80px;
          }
          .name {
            color: #2e3033;
            font-size: 24px;
            font-family: PingFangSC-Regular,PingFang SC;
            max-height: 68px;
            line-height: 34px;
          }
        }
      }
    }
  }
}
</style>
