<template>
  <div class="more-categories-wrapper">
    <van-nav-bar title="更多分类" left-arrow @click-left="onClickLeft"></van-nav-bar>
    <div class="classification-menu">
      <ul class="list">
        <li
          class="item"
          v-for="(item, index) in classificationMenuList"
          :key="index"
          @click="seeMoreCategories(item)"
        >
          <img :src="item.icon" alt class="icon">
          <h2 class="name">{{item.name}}</h2>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { api } from '@/api'
import { getCookie } from '@/utils/common'
export default {
  name: 'moreCategories',
  data () {
    return {
      token: null,
      classificationMenuList: [
        {
          icon: require('@/assets/images/icon/icon_quick_order@3x.png'),
          name: '快速下单'
        },
        {
          icon: require('@/assets/images/icon/icon_auction@3x.png'),
          name: '竞价'
        },
        {
          icon: require('@/assets/images/icon/icon_account_low@3x.png'),
          name: '货物付款'
        },
        {
          icon: require('@/assets/images/icon/icon_assemble@3x.png'),
          name: '拼团'
        },
        {
          icon: require('@/assets/images/icon/icon_seckill@3x.png'),
          name: '秒杀'
        },
        {
          icon: require('@/assets/images/icon/icon_balance@3x.png'),
          name: '余额'
        },
        {
          icon: require('@/assets/images/icon/icon_collection@3x.png'),
          name: '收藏'
        }
        // {
        //   icon: require('@/assets/images/icon/icon_promotion@3x.png'),
        //   name: '促销'
        // }
      ]
    }
  },
  created () {
    this.token = sessionStorage.getItem('token')
  },
  methods: {
    onClickLeft () {
      this.$router.go(-1)
    },
    // 查看更多分类
    seeMoreCategories (item) {
      if (item.name === '快速下单') {
        if (this.token) {
          api.customerBuySellQuery({ ownerIds: [JSON.parse(getCookie('selectedChannel')).channelId] }).then(res => {
            if (res.success) {
              if (res.data.list[0] && res.data.list[0].isBuySell) {
                this.$router.push({
                  name: 'quickOrder',
                  query: {
                    ownerId: JSON.parse(getCookie('selectedChannel')).channelId,
                    ownerName: JSON.parse(getCookie('selectedChannel')).channelName,
                    storeName: JSON.parse(getCookie('selectedChannel')).storeName,
                    ownerType: JSON.parse(getCookie('selectedChannel')).channelType
                  }
                })
              } else {
                this.$toast.fail('请先申请买卖关系')
              }
            } else {
              res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
            }
          })
        } else {
          this.$toast('请先登录')
          this.$router.push({ path: '/loginRandom', query: { redirect: this.$route.fullPath } })
        }
      } else if (item.name === '促销') {
        this.$router.push('/activity')
      } else if (item.name === '货物付款') {
        this.$router.push({
          path: '/selfServiceDeliveryList',
          query: { active: 0 }
        })
      } else if (item.name === '拼团') {
        this.$router.push('/groupBuying')
      } else if (item.name === '余额') {
        this.$router.push({
          path: '/fund',
          query: { active: 0 }
        })
      } else if (item.name === '收藏') {
        this.$router.push({ path: '/myConcern' })
      } else if (item.name === '竞价') {
        this.$router.push('/robbing')
      } else if (item.name === '秒杀') {
        this.$router.push({
          path: '/flashSale',
          query: { active: 0 }
        })
      }
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.more-categories-wrapper {
  width: 100%;
  .classification-menu {
    width: 100%;
    height: 240px;
    box-sizing: border-box;
    .list {
      width: 100%;
      display: flex;
      padding-bottom: 50px;
      flex-wrap: wrap;
      //.border-1px();
      .item {
        width: 25%;
        text-align: center;
        padding-top: 50px;

        .icon {
          width: 88px;
          height: 88px;
        }
        .name {
          color: #2e3033;
          font-size: 24px;
          margin-top: 6px;
        }
      }
    }
  }
}
</style>
