<template>
  <div class="quick-order">
    <div class="content">
      <div class="cart">
        <!-- 头 -->
        <div class="top" :class="{'fixed': getScrollTop > 0}">
          <search-bar
            disabled
            :defaultValue="searchValue"
            @clickLeftIcon="$router.go(-1)"
            @showSearchPage="showSearchPage = true"
          >
            <van-icon name="arrow-left" slot="left" class="icon-back"/>
            <span slot="right" class="delivery-date" v-if="ownerType === '5'" @click="showPicker = true">{{deliveryDate}}</span>
            <span slot="right" class="shop-name" @click="showChannel = true">{{storeName || ownerName || ''}}</span>
          </search-bar>
          <!-- <product-sorting-toolbar
            :isScreening="isScreening"
            @changeSort="changeSort"
            @showAttributeFiltering="showAttributeFiltering = true"
            class="toolbar"
          ></product-sorting-toolbar> -->
        </div>

        <!-- 购物车列表 -->
        <van-list
          v-if="goodsList.length"
          v-model="loading"
          :finished="finished"
          @load="onLoad"
          :offset="200"
          finished-text="没有更多了"
          class="v-list"
          :class="{'show-num-input': showNumInput}"
        >
          <ul class="cart-list" ref="goodList">
            <li v-for="(item, index) in goodsList" :key="'goods' + index">
              <checkbox :isChoose="item.isChoose" @select="(e) => {select(e, index, item)}">
                <div class="item-content">
                  <div
                    v-lazy:background-image="allImgDomainName + item.thumbnail"
                    @click="goDetail(item.id)"
                  ></div>

                  <div>
                    <div>{{item.itemName}}<span v-if="item.specification && item.specification[0]">{{item.specification[0].minAvgWeight + '~' + item.specification[0].maxAvgWeight + item.specification[0].uom_name}}</span></div>

                    <div>
                      <span
                        class="active"
                        v-if="item.atAttrMap && item.atAttrMap.attrId"
                        @click="showSku(item, index, item.ownerId)"
                      >
                        <span>{{item.atAttrMap.attrName.replace(/^(.{10}).+/, '$1...')}}</span>
                        <van-icon name="arrow"/>
                      </span>
                      <span
                        class="active"
                        v-if="item.wtRangeMap && item.wtRangeMap.name"
                        @click="showSku(item, index, item.ownerId)"
                      >
                        <span>{{item.wtRangeMap.name + ' ' + item.wtRangeMap.uom_name}}</span>

                        <van-icon name="arrow"/>
                      </span>
                    </div>

                    <p v-if="!(item.minBuyQty === 0 && item.maxBuyQty === 0) || (item.limitFromItem && item.daymaxqty > 0)">
                      <span v-if="!(item.minBuyQty === 0 && item.maxBuyQty === 0)">每单限购：</span>
                      <span v-if="item.minBuyQty">最少 <span style="color: #E33240;">{{item.minBuyQty}}</span></span>
                      <span v-if="item.minBuyQty && item.maxBuyQty">，</span>
                      <span v-if="item.maxBuyQty">最多 <span style="color: #E33240;">{{item.maxBuyQty}}</span></span>
                      <span v-if="item.limitFromItem && item.daymaxqty > 0" style="display: inline-block;">今日限购：最多<span style="color: #E33240;">{{item.daymaxqty}}</span></span>
                    </p>

                    <div>
                      <div>
                        <div v-if="item.price && item.price > 0">
                          <span class="item-price-big">{{item.price && item.price.toString().split('.')[0] || '0'}}</span>
                          <span class="item-price-small">.{{item.price && item.price.toString().split('.')[1] || '00'}}元/{{item.saleUnitName}}</span>
                        </div>
                        <span class="item-price-big" v-else>敬请期待</span>
                        <div v-if="ownerType !== '5' && item.referencePrice">(市场价 {{item.referencePrice | keepTwoNum}} 元)</div>
                      </div>

                      <div>
                        <p v-if="item.showStock && item.showStock.show_stock">剩余{{item.showStock.cur_stock}}</p>
                        <!-- 点击弹出数字键盘 -->
                        <van-button
                          v-if="+item.storeQty && +item.storeQty > 0"
                          :disabled="item.invalid"
                          @click.native.stop.prevent="onShowInput(index, item)"
                        >{{item.count}}</van-button>
                        <div v-else class="out-of-stock"><span>{{item.storeQty !== undefined && item.storeQty !== null && item.storeQty !== '' ? '无货' : ''}}</span></div>
                        <!-- <p v-if="item.isAssistOrder && item.maxAvgWeight" >约 {{item.count * item.maxAvgWeight | keepTwoNum}}（{{item.saleUnitName}}）</p>
                        <p v-else-if="item.isAssistOrder" >约 {{item.count * item.conversionRate | keepTwoNum}}（{{item.saleUnitName}}）</p> -->
                      </div>
                    </div>
                  </div>
                </div>
                <policy-item :data="item"></policy-item>
              </checkbox>
            </li>
          </ul>
        </van-list>

        <div class="no-data-box" v-else>
          <no-data></no-data>
        </div>
      </div>
    </div>

    <!-- 置顶悬浮按钮 -->
    <scroll-to-top-hover-btn></scroll-to-top-hover-btn>

    <!-- 底部全选 -->
    <div class="total-box">
      <div class="line"></div>

      <checkbox :isChoose="isChoose" @select="(e) => {select(e)}">
        <div class="total">
          <div>全选</div>

          <div class="content">
            <div>
              总数量：
              <span>{{totalNum}}</span>
            </div>

            <div>
              总金额：
              <span>{{totalPrice ? totalPrice.toFixed(2) : '0.00'}} 元</span>
            </div>
          </div>

          <van-button
            :loading="submitLoading"
            :disabled="submitLoading"
            :class="{'grey': !selectArr.length}"
            class="button red"
            @click="selectArr.length > 0 && next()"
          >下一步</van-button>
        </div>
      </checkbox>
    </div>

    <!-- 数字键盘 -->
    <van-number-keyboard
      ref="numberKeyboard"
      :show="showNumInput"
      theme="custom"
      :extra-key="['00']"
      close-button-text="确定"
      @blur="blur"
      @input="onInput"
      @delete="onDelete"
    />

    <pop-up-items
      :up="up"
      :detailTwo="detail[0]"
      :ownerId="ownerId"
      :showId="showId"
      :title="title"
      :minBuyQty="minBuyQty"
      :maxBuyQty="maxBuyQty"
      :dayMaxQty="dayMaxQty"
      :limitFromItem="limitFromItem"
      :weightRange="weightRange"
      :weightRangeIdSelected="detail[0] && detail[0].wtRangeMap && detail[0].wtRangeMap.id"
      isQuickOrder
      @hide="hide"
      @btn-click="btnClick"
      @change-weightRange="changeWeightRange"
      @change-label="changeLabel"
    ></pop-up-items>

    <!-- attribute-filtering start -->
    <attribute-filtering
      :show="showAttributeFiltering"
      :data="attributeFilteringList"
      @selected="selected"
    ></attribute-filtering>
    <!-- attribute-filtering end -->
    <!-- search-page start-->
    <transition name="fade">
      <div class="search-page" v-if="showSearchPage">
        <search
          v-model="searchValue"
          :refer="false"
          @search="search"
          @back="showSearchPage = false"
        ></search>
      </div>
    </transition>
    <!-- search-page end-->

    <!-- 底部弹出选择框(要货日期选择) -->
    <van-popup v-model="showPicker" position="bottom" :lock-scroll="false">
      <van-picker
        show-toolbar
        title="要货日期"
        :columns="deliveryDateList"
        :default-index="deliveryDateList.indexOf(deliveryDate)"
        @cancel="showPicker = false"
        @confirm="onConfirm"
      />
    </van-popup>

    <!-- 新服务部弹出框 -->
    <channel-selection-box :show="showChannel" @change="changeChannel" @close="closeChannelSelectionBox"></channel-selection-box>
  </div>
</template>

<script>
import SearchBar from '@/components/search-bar/index'
import ProductSortingToolbar from '@/components/product-sorting-toolbar'
import Checkbox from '@/components/checkbox'
import PopUpItems from '@/components/pop-up/pop-up'
import AttributeFiltering from '@/components/attribute-filtering'
import Search from '@/components/search/search'
import NoData from '@/components/no-data'
import PolicyItem from '@/components/policy-item/policy-item'
import ScrollToTopHoverBtn from '@/components/scroll-to-top-hover-btn/index'
import ChannelSelectionBox from '@/components/index-2/channel-selection-box'
// import { searchGoodsParams } from '@/assets/js/index'
import { api } from '@/api'
import { allImgDomainNameMixin } from '@/assets/js/mixin'
import { getScrollTop, scrollTop, zero, getCookie } from '@/utils/common'

export default {
  name: 'quick-order',
  mixins: [allImgDomainNameMixin],
  components: {
    SearchBar,
    ProductSortingToolbar,
    Checkbox,
    PopUpItems,
    AttributeFiltering,
    Search,
    NoData,
    PolicyItem,
    ScrollToTopHoverBtn,
    ChannelSelectionBox
  },
  data () {
    return {
      selectArr: [],
      goodsList: [],
      cacheGoodsList: [],
      showSearchPage: false, // 显示搜索页
      showAttributeFiltering: false, // 显示属性过滤
      attributeFilteringList: [],
      isScreening: false, // 是否“已筛选”
      breadcrumb: [],
      breadcrumbItem: [],
      currentPage: 1,
      pageSize: 999, // 为了使获取的商品是对的排序，传个比较大的数
      total: 0,
      sort: [],
      params: {},
      finished: false,
      loading: false,
      ownerId: '',
      ownerName: '',
      storeName: '',
      ownerType: '',
      searchValue: '矮脚麻鸡',
      totalNum: 0,
      showNumInput: false,
      selectInput: [],
      isChoose: false,
      totalPrice: 0,
      detail: [],
      up: false,
      showId: '',
      title: '',
      cacheSelect: {
        atAttrMap: {},
        wtRangeMap: {}
      },
      maxBuyQty: 0, // 每单最多限购(0-不限)
      minBuyQty: 0, // 每单最少限购(0-不限)
      dayMaxQty: 0, // 今日限购
      limitFromItem: false, // 是否是商品限购
      specification: {}, // 预测均重
      weightRange: [], // 重量范围
      showStock: null, // 显示剩余库存
      getScrollTop: 0, // 距离顶部高度
      showPicker: false, // 显示要货日期选择框
      deliveryDateList: [], // 可选的要货日期列表
      deliveryDate: '', // 要货日期（蛋业）
      loadingToast: null,
      showChannel: false, // 显示服务部选择框
      submitLoading: false, // 下单提交按钮加载动画
      isSubmitFlag: false // 记录提交状态
    }
  },
  watch: {
    goodsList (val) {
      // 库存不足时商品失效
      this.goodsList.forEach((v, i) => {
        if (v.storeQty < v.minBuyQty || v.storeQty <= 0) { // 库存少于最小限购时，商品失效
          this.$set(v, 'invalid', true)
        } else {
          this.$set(v, 'invalid', false)
        }

        if (!v.atAttrMap || JSON.stringify(v.atAttrMap) === '{}') {
          v.assistAttrIds && this.$set(v, 'atAttrMap', v.assistAttrIds[0])
        }
        if (!v.wtRangeMap || JSON.stringify(v.wtRangeMap) === '{}') {
          v.weightRange && this.$set(v, 'wtRangeMap', v.weightRange[0])
        }
      })
    }
  },
  beforeRouteUpdate (to, from, next) {
    this.ownerId = this.$route.query.ownerId
    this.ownerName = this.$route.query.ownerName
    this.storeName = this.$route.query.storeName
    this.ownerType = this.$route.query.ownerType

    // 如果没有渠道id，重定向到首页
    if (!this.ownerId) {
      this.$router.replace({ path: '/' })
      return
    }

    this.breadcrumb = []
    this.params = to.query
    this.initData()
    this.showSearchPage = false

    if (document.documentElement.scrollTop) {
      document.documentElement.scrollTop = 0

      this.$nextTick(() => {
        this.currentPage = 1
        this.cacheGoodsList = []
        this.init()
      })
    } else {
      this.currentPage = 1
      this.cacheGoodsList = []
      this.init()
    }

    next()
  },
  created () {
    window.addEventListener('scroll', this.handleScroll)

    this.ownerId = this.$route.query.ownerId
    this.ownerName = this.$route.query.ownerName
    this.storeName = this.$route.query.storeName
    this.ownerType = this.$route.query.ownerType

    // 如果没有渠道id，重定向到首页
    if (!this.ownerId) {
      this.$router.replace({ path: '/' })
      return
    }
    this.sort = []
    this.params = this.$route.query
    this.initDeliveryDateList() // 初始化可选的要货日期列表
    this.initData()
    this.init()
  },
  methods: {
    // 初始化参数
    formatParams (v, combList) {
      let paramItem = []
      if (!(+v.itemType === 1)) { // 如果是普通商品
        let item = {
          ownerId: v.ownerId,
          itemId: v.id,
          isChoose: '1',
          customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
        }

        item.unitId = v.saleUnitId + ''
        item.assistUnitId = v.isAssistOrder ? v.assistUnitId + '' : null

        if (v.isAssistOrder) {
          item.assistQty = v.count
        } else {
          item.qty = v.count
        }

        if (v.wtRangeMap && v.wtRangeMap.id) {
          item.wtRangeId = v.wtRangeMap.id
        }

        if (v.atAttrMap && +v.atAttrMap.attrId) {
          item.assistattrId = v.atAttrMap.attrId
        }

        paramItem.push(item)
      } else { // 如果是组合商品
        paramItem.push({
          isChoose: '1',
          combItemId: v.combItemId,
          entryType: '1',
          ownerId: v.ownerId,
          qty: v.count,
          customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
        })
        combList.forEach(child => {
          let item = {
            ownerId: v.ownerId,
            itemId: child.id,
            isChoose: '1',
            entryType: '2',
            combItemId: v.combItemId,
            combItemEntryId: child.combEntryId,
            combBaseQty: child.baseQty,
            customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
          }

          item.unitId = child.saleUnit + ''
          item.assistUnitId = child.isAssistOrder ? child.assistUnit + '' : null

          if (child.isAssistOrder) {
            item.assistQty = child.baseQty * v.count
          } else {
            item.qty = child.baseQty * v.count
          }

          if (child.assistattrId && child.assistattrId !== ' ') item.assistattrId = child.assistattrId

          paramItem.push(item)
        })
      }

      return paramItem
    },
    // 下一步
    next () {
      if (this.isSubmitFlag) return
      this.isSubmitFlag = true

      let ids = {}

      let params2 = {
        isQuickOrder: '1',
        list: []
      }

      let callArray = [] // 调用queryGoodsDetail接口数组

      if (!this.selectArr.length) {
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
        return
      }

      this.selectArr.forEach(v => {
        // saveGoods传参
        if (!(+v.itemType === 1)) {
          ids[v.id] = this.formatParams(v)
        } else {
          let item = v
          let p = api.queryGoodsDetail({ id: item.combItemId, type: '1' }).then(res => {
            if (res.success) {
              ids[item.id] = this.formatParams(item, res.data.combList)
            } else {
              // this.$toast.fail('部分组合促销信息查询失败')
            }
          })
          callArray.push(p)
        }
      })

      this.submitLoading = true

      Promise.all(callArray).then(() => {
        this.selectArr.forEach(v => {
          if (ids[v.itemId]) {
            params2.list = params2.list.concat(ids[v.itemId])
          }
        })

        api.saveGoods(params2).then(res => {
          this.submitLoading = false
          if (res.success) {
            this.$router.push({
              path: '/placeOrder',
              query: {
                isQuickOrder: 1,
                date: this.ownerType === '5' ? this.deliveryDate : null
              }
            })
          } else {
            res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
            setTimeout(() => {
              this.isSubmitFlag = false
            }, 1000)
          }
        })
      })
    },
    // 初始化数据
    initData () {
      this.breadcrumbItem = []
      this.searchValue = ''

      if (this.params && this.params.wd) {
        this.searchValue = this.params.wd
      }

      if (this.params && this.params.condition) {
        let breadcrumb = decodeURIComponent(this.params.condition).split(';')
        breadcrumb.forEach(v => {
          this.breadcrumb.push(v.split('_'))
        })
      }
      if (this.params && this.params.itemClassList) {
        let breadcrumbItem = decodeURIComponent(
          this.params.itemClassList
        ).split(';')
        let path = ''
        breadcrumbItem.forEach(v => {
          let arr = v.split('_')
          path = path ? ';' + v : v
          arr.push(path)

          this.breadcrumbItem.push(arr)
        })
      }
    },
    // 查询
    search (val) {
      if (this.searchValue !== val) {
        let query = {
          ownerId: this.ownerId,
          ownerName: this.ownerName,
          storeName: this.storeName,
          ownerType: this.ownerType
        }

        val && (query.wd = val)

        this.$router.replace({
          name: 'quickOrder',
          query
        })
      } else {
        this.showSearchPage = false
      }
    },
    // 选中属性过滤的值
    selected (val, isSelected) {
      this.isScreening = isSelected
      this.showAttributeFiltering = false
      let params = {
        ownerId: this.ownerId,
        ownerName: this.ownerName,
        storeName: this.storeName,
        ownerType: this.ownerType
      }
      this.params.wd && (params.wd = this.params.wd)

      val.key && (params.condition = val.key)

      this.params.itemClassList &&
        (params.itemClassList = this.params.itemClassList)

      let keys = ''
      for (let key in params) {
        keys && (keys += '&')
        keys += key + '=' + params[key]
      }
      this.$router.replace({
        path: '/quickOrder?' + keys
      })
    },
    // 分页修改的回调，放回修改后的page
    onLoad () {
      this.currentPage++
      this.init()
    },
    // 修改排序方式
    changeSort (item) {
      this.sort = []
      let sort = {}
      item.sortOrder === 2 ? (sort.order = 'asc') : (sort.order = 'desc')
      switch (item.id) {
        case 1:
          this.sort = []
          break
        case 2:
          sort.field = 'saleQty'
          this.sort.push(sort)
          break
        case 3:
          sort.field = 'sellTime'
          this.sort.push(sort)
          break
        case 4:
          sort.field = 'referencePrice'
          this.sort.push(sort)
          break
      }

      document.documentElement.scrollTop = 0
      this.$nextTick(() => {
        this.currentPage = 1
        this.cacheGoodsList = []
        this.init()
      })
    },
    // 初始化
    init () {
      // let params = searchGoodsParams(
      //   this.searchValue,
      //   this.sort,
      //   this.currentPage,
      //   this.pageSize,
      //   this.breadcrumb.concat([
      //     ['销售渠道', 'ownerId', this.params.ownerId]
      //   ]),
      //   this.breadcrumbItem,
      //   1,
      //   1,
      //   this.ownerType === '5' ? this.deliveryDate : ''
      // )
      // if (sessionStorage.getItem('token')) {
      //   if (!params.ownerId) return // 如果没有关联订货关系，则不请求接口
      // }

      let params = {
        pageNo: this.currentPage,
        pageSize: this.pageSize,
        isGetWtRange: 1,
        isGetStock: 1,
        sellDate: this.ownerType === '5' ? this.deliveryDate : '',
        searchKeyword: this.searchValue,
        dataSource: 'DB'
      }

      if (sessionStorage.getItem('token')) {
        if (this.$store.state.intoPage === 0 && sessionStorage.getItem('defaultCustomer')) {
          params.customerId = JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
        } else if (this.$store.state.intoPage === 1 && this.$store.state.customer.current && this.$store.state.customer.current.customerId) {
          params.customerId = this.$store.state.customer.current.customerId
        }

        if (this.$store.state.intoPage === 0 && getCookie('selectedChannel')) {
          params.ownerId = JSON.parse(getCookie('selectedChannel')).channelId
        } else if (this.$store.state.intoPage === 1 && this.$store.state.channel.currentChannel && this.$store.state.channel.currentChannel.channelId) {
          params.ownerId = this.$store.state.channel.currentChannel.channelId
        }
        if (!params.ownerId) return // 如果没有关联订货关系，则不请求接口
      }

      this.$toast.clear()
      const _this = this
      const scrollTopHeight = getScrollTop() // 记录加载轻提示弹出前滚动条位置
      this.loadingToast = this.$toast.loading({
        duration: 0, // 持续展示
        overlay: true, // 显示背景蒙层
        message: '加载中...',
        onClose () {
          _this.$nextTick(() => {
            scrollTop(window, getScrollTop(), scrollTopHeight, 20) // 滚动到轻提示弹出前位置
          })
        }
      })

      api.commonCall(params, 'queryGoodsFromDb').then(res => {
        if (res.success) {
          res.data.list.forEach(v => {
            v.count = 0

            // 重新定义字段名
            v.maxBuyQty = v.max_buy_qty || 0
            v.minBuyQty = v.min_buy_qty || 0
            v.showStock = { show_stock: v.show_stock, cur_stock: v.cur_stock || 0 }
            v.weightRange = v.weight_range || []
            v.specification && v.specification[0] && (v.maxAvgWeight = v.specification[0].maxAvgWeight)
          })

          if (this.cacheGoodsList.length) {
            this.cacheGoodsList.splice(0, this.cacheGoodsList.length, ...this.goodsList)
          }
          this.cacheGoodsList = this.cacheGoodsList.concat(res.data.list)
          this.goodsList.splice(
            0,
            this.goodsList.length,
            ...this.cacheGoodsList
          )

          this.total = res.data.totalNumber
          this.currentPage = res.data.currentPage

          // let arr1 = res.data.aggregation
          // let arr2 = this.breadcrumb
          // let len2 = arr2.length
          // var allName = {}

          // for (let k = 0; k < len2; k++) {
          //   allName[arr2[k][1]] = arr2[k]
          // }

          // for (let i = 0; i < arr1.length; i++) {
          //   if (arr1[i].field === 'ownerName' || arr1[i].field === 'ownerId') {
          //     arr1.splice(i, 1)
          //     i--
          //     continue
          //   }
          //   if (!arr1[i].range.length) {
          //     if (allName[arr1[i].field]) {
          //       var item = {
          //         selected: true,
          //         name: allName[arr1[i].field][2],
          //         id: 'a' + i
          //       }
          //       if (arr1[i].type === 1) {
          //         item.beginValue = allName[arr1[i].field][3]
          //         item.endValue = allName[arr1[i].field][4]
          //       }
          //       arr1[i].range.push(item)
          //     } else {
          //       arr1.splice(i, 1)
          //       i--
          //     }
          //     continue
          //   }
          //   for (let j = 0; j < len2; j++) {
          //     if (arr1[i].field === arr2[j][1]) {
          //       arr1[i].range.forEach(v => {
          //         v.selected = v.name === arr2[j][2]
          //       })
          //       break
          //     }
          //   }
          // }

          // this.attributeFilteringList.splice(
          //   0,
          //   this.attributeFilteringList.length,
          //   ...arr1
          // )

          this.finished = false
          this.loading = false
          if (this.cacheGoodsList.length >= this.total) {
            this.finished = true
          }

          if (this.isChoose) {
            this.select(false)
          }
          this.totalSelected()
          this.loadingToast && this.loadingToast.clear()
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
          this.loadingToast && this.loadingToast.clear()
        }
      })
    },
    // 以下底部弹出框相关函数
    // 隐藏
    hide () {
      this.up = false
    },
    // 底部按钮
    btnClick (item) {
      if (item.name === '确认' && this.showId === 'sku2') {
        this.up = false

        this.detail[0].price = this.cacheSelect.price[0] + ''
        this.detail[0].storeQty = this.cacheSelect.storeQty
        if (this.cacheSelect.atAttrMap) {
          this.detail[0].atAttrMap = JSON.parse(JSON.stringify(this.cacheSelect.atAttrMap))
        }
        if (this.cacheSelect.wtRangeMap) {
          this.detail[0].wtRangeMap = JSON.parse(JSON.stringify(this.cacheSelect.wtRangeMap))
        }

        // if (/number|string/.test(typeof this.detail[0].storeQty)) {
        //   +this.detail[0].count > +this.detail[0].storeQty && (this.detail[0].count = this.detail[0].storeQty)
        // }
        if (this.detail[0].isChoose) {
          let min = this.detail[0].minBuyQty > 0 ? Math.max(1, this.detail[0].minBuyQty) : 1
          this.detail[0].count = min
        }

        this.$set(
          this.goodsList,
          this.detail[1],
          this.detail[0]
        )
        this.totalSelected()
      }
    },
    // 选择规格
    changeLabel (names, labelList, store) {
      let attrId = labelList[0] && labelList[0] !== '0' ? labelList[0] : ''
      // 获取商品最大最小订货量
      this.queryItemWeightRange(this.ownerId, this.detail[0].id, attrId, this.detail[0].isAssistOrder ? this.detail[0].assistUnitId : this.detail[0].saleUnitId)

      this.cacheSelect.price = store.price
      this.cacheSelect.storeQty = +store.stock
      this.cacheSelect.atAttrMap = this.detail[0].assistAttrIds.find(item => {
        return item.attrId === labelList[0]
      })
    },
    // 以上底部弹出框相关函数
    // 以下数字输入框相关函数
    // 弹出数字输入框
    onShowInput (i, item) {
      if (item.invalid) {
        this.$toast.fail({
          duration: 2000, // 时长
          overlay: true, // 显示背景蒙层
          message: '该商品数量不足'
        })
        return
      }
      if (this.selectInput.length) {
        !this.selectInput[1].count && (this.selectInput[1].count = '0')

        if ((this.selectInput[1].count === 0 || this.selectInput[1].count === '0') && this.selectInput[1].isChoose) {
          this.selectInput[1].isChoose = false
        }

        this.$set(this.goodsList, this.selectInput[0], this.selectInput[1])
      }

      this.showNumInput = true
      this.selectInput = [i, item, item.count]

      // 为了数字键盘不挡住输入框，将页面往上滚动
      this.$nextTick(() => {
        if (this.$refs.goodList.children[i]) {
          let distance = this.$refs.goodList.children[i].getBoundingClientRect().top + this.$refs.goodList.children[i].offsetHeight > window.innerHeight - this.$refs.numberKeyboard.$el.offsetHeight
            ? this.$refs.goodList.children[i].getBoundingClientRect().top + this.$refs.goodList.children[i].offsetHeight - (window.innerHeight - this.$refs.numberKeyboard.$el.offsetHeight)
            : 0
          scrollTop(window, getScrollTop(), getScrollTop() + distance, 300)
        }
      })
    },
    // 输入
    onInput (num) {
      // (!num && !this.selectInput[1].count)
      if (this.selectInput[1].count.length >= 6) {
        return
      }

      if (+this.selectInput[1].count) {
        this.selectInput[1].count += num + ''
      } else {
        this.selectInput[1].count = num + ''
      }

      // if (/number|string/.test(typeof this.selectInput[1].storeQty)) {
      //   +this.selectInput[1].count > +this.selectInput[1].storeQty && (this.selectInput[1].count = this.selectInput[1].storeQty + '')
      // }

      this.$set(this.goodsList, this.selectInput[0], this.selectInput[1])
    },
    // 删除
    onDelete () {
      let c = this.selectInput[1].count

      this.selectInput[1].count =
        c.length - 1 > 0 ? c.substr(0, c.length - 1) : ''

      this.$set(this.goodsList, this.selectInput[0], this.selectInput[1])
    },
    // 隐藏
    blur () {
      var totalFlag = false // 是否需要重新结算总价格

      if (!this.selectInput.length) return

      this.showNumInput = false

      !this.selectInput[1].count && (this.selectInput[1].count = '0')

      if ((this.selectInput[1].count === 0 || this.selectInput[1].count === '0') && this.selectInput[1].isChoose) {
        this.selectInput[1].isChoose = false
        this.isChoose = false
        totalFlag = true
      }

      this.$set(this.goodsList, this.selectInput[0], this.selectInput[1])

      this.selectInput[1].isChoose = +this.selectInput[1].count !== 0

      if (this.selectInput[1].isChoose) {
        // 判断限购条件
        let max = this.selectInput[1].maxBuyQty > 0 ? Math.min(+this.selectInput[1].storeQty, this.selectInput[1].maxBuyQty) : +this.selectInput[1].storeQty
        let min = this.selectInput[1].minBuyQty > 0 ? Math.max(1, this.selectInput[1].minBuyQty) : 1
        if (+this.selectInput[1].count < min) {
          this.selectInput[1].count = min + ''
          this.$toast('该商品数量不得少于' + min)
        } else if (+this.selectInput[1].count > max) {
          this.selectInput[1].count = max + ''
          this.$toast('该商品数量不得超过' + max)
        }
      }

      if (this.selectInput[1].count !== this.selectInput[2] && (this.selectInput[1].isChoose || totalFlag)) {
        this.totalSelected()
      }

      this.selectInput = []
    },
    // 以上数字输入框相关函数
    select (select, index, item) {
      if (!this.goodsList.length) return

      let fn = this.formatSelect.bind(this, select, index, item)

      fn.call(this, 'isChoose')
    },
    formatSelect (select, index, item, type) {
      let list = this.goodsList
      let length = list.length

      let validAllArr = list.filter(v => {
        return !v.invalid
      })

      if (typeof index === 'number') {
        if (!select) {
          item[type] = false
          item.count = 0
        } else if (item.invalid) {
          item[type] = false
          item.count = 0
          this.$toast.fail({
            duration: 2000, // 时长
            overlay: true, // 显示背景蒙层
            message: '该商品数量不足'
          })
        } else {
          item[type] = true
          item.count = item.minBuyQty > 0 ? Math.max(1, item.minBuyQty) : 1
        }
        // if (!item.invalid) {
        //   item[type] = select
        // }

        // if (item[type] && (item.count === 0 || item.count === '0' || item.count === '1')) {
        //   item.count = 1
        // }

        let arr = list.filter(v => {
          return v[type]
        })

        if (arr.length && validAllArr.length && arr.length === validAllArr.length) {
          this[type] = true
        } else {
          this[type] = false
        }

        this.$set(this.goodsList, index, item)

        // 所有
      } else {
        if (!validAllArr.length) return
        this[type] = select

        list.forEach(v => {
          if (!select) {
            v[type] = false
            v.count = 0
          } else if (v.invalid) {
            v[type] = false
            v.count = 0
          } else {
            v[type] = true
            v.count = v.minBuyQty > 0 ? Math.max(1, v.minBuyQty) : 1
          }
          // if (!v.invalid) {
          //   v[type] = this[type]
          // }

          // if (v[type] && (v.count === 0 || v.count === '0' || v.count === '1')) {
          //   v.count = 1
          // }
        })

        this.goodsList.splice(0, length, ...list)
      }

      this.totalSelected()
    },
    // 所有选中的项同时计算总价格、总数量
    totalSelected () {
      let selectArr = []

      if (this.goodsList.length === 0) {
        this.isChoose = false
      }

      this.totalNum = 0
      this.totalPrice = 0
      let count = item => {
        if (item.isChoose && !item.invalid) {
          selectArr.push(item)
          this.totalNum += +item.count
          this.totalPrice += (item.isAssistOrder
            ? (item.maxAvgWeight
              ? item.count * item.maxAvgWeight
              : (item.count * item.conversionRate || 0))
            : item.count) * item.price
        }
      }

      this.goodsList.forEach(v => {
        count(v)
      })

      this.selectArr = selectArr
    },
    // 选择属性
    showSku (item, i) {
      // 清空数据
      this.cacheSelect.atAttrMap = {}
      this.cacheSelect.wtRangeMap = {}

      this.detail.splice(0, 2, item, i)
      this.showId = 'sku2'
      this.up = true
    },
    goDetail (id) {
      // this.$router.push({ path: '/goodsDetails', query: { id } })
    },
    // 修改要求均重
    changeWeightRange (selectedWR) {
      this.cacheSelect.wtRangeMap = selectedWR
    },
    // 获取最大最小订货量
    queryItemWeightRange (ownerId, itemId, assistattrId, unitid) {
      let params = {
        ownerId,
        itemId,
        customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId,
        assistattrId,
        unitid
      }
      api.itemWeightRangeQuery(params).then(res => {
        if (res.success) {
          this.maxBuyQty = res.data.max_buy_qty || 0
          this.minBuyQty = res.data.min_buy_qty || 0
          this.dayMaxQty = res.data.dayMaxQty || 0
          this.limitFromItem = res.data.limitFromItem || false
          this.showStock = { show_stock: res.data.show_stock, cur_stock: res.data.cur_stock }
          this.specification = res.data.specification && res.data.specification.length ? res.data.specification[0] : this.specification
          this.weightRange = res.data.weight_range
            ? res.data.weight_range
            : this.weightRange
          this.$set(this.detail[0], 'maxBuyQty', res.data.max_buy_qty || 0)
          this.$set(this.detail[0], 'minBuyQty', res.data.min_buy_qty || 0)
          this.$set(this.detail[0], 'daymaxqty', res.data.dayMaxQty || 0)
          this.$set(this.detail[0], 'limitFromItem', res.data.limitFromItem || false)
          this.$set(this.detail[0], 'showStock', { show_stock: res.data.show_stock, cur_stock: res.data.cur_stock })
          this.$set(this.detail[0], 'specification', res.data.specification && res.data.specification.length ? res.data.specification : this.detail[0].specification)
          this.$set(this.detail[0], 'weightRange', res.data.weight_range ? res.data.weight_range : this.detail[0].weightRange)
        }
      })
    },
    // 监听滚动事件
    handleScroll () {
      this.getScrollTop = getScrollTop() - 92
    },
    initDeliveryDateList () {
      let nowDay = new Date()
      let tomorrowDay = new Date(nowDay.getTime() + 24 * 60 * 60 * 1000)
      let secondDay = new Date(nowDay.getTime() + 2 * 24 * 60 * 60 * 1000)
      let thirdDay = new Date(nowDay.getTime() + 3 * 24 * 60 * 60 * 1000)
      let nowDate = nowDay.getFullYear() + '-' + zero(nowDay.getMonth() + 1) + '-' + zero(nowDay.getDate())
      let tomorrowDate = tomorrowDay.getFullYear() + '-' + zero(tomorrowDay.getMonth() + 1) + '-' + zero(tomorrowDay.getDate())
      let secondDate = secondDay.getFullYear() + '-' + zero(secondDay.getMonth() + 1) + '-' + zero(secondDay.getDate())
      let thirdDate = thirdDay.getFullYear() + '-' + zero(thirdDay.getMonth() + 1) + '-' + zero(thirdDay.getDate())

      this.deliveryDateList.push(nowDate, tomorrowDate, secondDate, thirdDate)
      this.deliveryDate = tomorrowDate
    },
    // 底部弹出选择框列表点击
    onConfirm (item) {
      this.showPicker = false
      if (this.deliveryDate === item) return
      this.deliveryDate = item

      this.currentPage = 1
      this.cacheGoodsList = []
      this.init()
    },
    changeChannel (item) {
      this.$router.replace({
        name: 'quickOrder',
        query: {
          ownerId: item.channelId,
          ownerName: item.channelName,
          storeName: item.storeName,
          ownerType: item.channelType
        }
      })
    },
    closeChannelSelectionBox () {
      this.showChannel = false
    }
  },
  beforeDestroy () {
    this.$toast.clear()
    this.loadingToast && this.loadingToast.value && this.loadingToast.clear()
  },
  destroyed () {
    window.removeEventListener('scroll', this.handleScroll)
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.quick-order {
  background: rgba(245, 245, 245, 1);

  > .content {
    height: 100vh;
    padding-bottom: 100px;
    // overflow: auto;
    // -webkit-overflow-scrolling: touch;
    // box-sizing: border-box;
  }

  .button {
    .active;
    height: 100%;
    line-height: 100px;
    text-align: center;
    width: 220px;

    &.red {
      color: white;
      background: linear-gradient(
        90deg,
        rgba(255, 107, 82, 1) 0%,
        rgba(227, 50, 64, 1) 100%
      );
    }

    &.yellow {
      color: white;
      background: linear-gradient(
        90deg,
        rgba(255, 193, 56, 1) 0%,
        rgba(255, 162, 0, 1) 100%
      );
    }
    &.grey {
      color: white;
      background: #ccc;
    }
  }

  .format-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .active {
    position: relative;
    overflow: hidden;

    &:active {
      &:after {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.08);
      }
    }
  }

  .no-cart {
    padding-top: 70px;
    padding-bottom: 40px;
    margin-bottom: 16px;
    background: white;

    > div {
      &.no-cart-img {
        .format-img;
        .bg-img("~@/assets/images/cart");
        width: 194px;
        height: 130px;
        margin: auto;
      }

      &:nth-child(2) {
        margin-top: 50px;
        color: #c1c4ca;
        font-size: 28px;
        text-align: center;
      }

      &:last-child {
        margin-top: 60px;
        display: flex;
        align-items: center;
        justify-content: center;

        > div {
          .active;
          font-size: 26px;
          width: 220px;
          height: 64px;
          border-radius: 35px;
          text-align: center;

          &:first-child {
            border: 1px solid;
            color: #e33240;
            line-height: 62px;
            margin-right: 20px;
          }

          &:last-child {
            background: linear-gradient(
              90deg,
              rgba(255, 107, 82, 1) 0%,
              rgba(227, 50, 64, 1) 100%
            );
            line-height: 64px;
            color: white;
          }
        }
      }
    }
  }

  .cart {
    .top {
      width: 100%;
      position: relative;
      .border-1px(#e8e9eb);
      &.fixed {
        position: fixed;
        z-index: 99;
      }
    }

    .icon-back {
      font-size: 40px;
    }
    @{deep} .right {
      padding: 0 10px;
      max-width: 388px;
      display: flex;
      align-items: center;
      justify-items: center;
      .shop-name, .delivery-date {
        display: inline-block;
        flex-shrink: 0;
        padding-right: 16px;
        padding-left: 28px;
        position: relative;
        font-size: 26px;
        &:after {
          content: " ";
          width: 0;
          height: 0;
          border: 8px solid #2e3033;
          border-left: 8px solid transparent;
          border-top: 8px solid transparent;
          position: absolute;
          bottom: 4px;
          right: 0;
        }
      }
      .shop-name {
        max-width: 140px;
        padding-right: 20px;
        display: -webkit-box;
        -webkit-line-clamp: 2; // 限制文本的行数，只显示两行
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
        word-break: break-all;
      }
      .delivery-date {
        width: 140px;
      }
    }

    @{deep} .van-hairline--bottom {
      .van-ellipsis {
        font-size: 32px;
        color: #2e3033;
      }

      .van-nav-bar__text {
        font-size: 30px;
        color: #2e3033;
      }
    }

    .v-list {
      padding-bottom: 100px;
      &.show-num-input {
        padding-bottom: 400px;
      }
    }

    .cart-list {
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      // &::after {
      //   content : '';
      //   height : 100px;
      //   display : block;
      // }
      > li {
        .border-1px(#e8e9eb);
        background: white;
        padding: 30px 0;
      }

      .item-content {
        display: flex;
        > div {
          &:first-child {
            .format-img;
            background-size: 100% 100%;
            width: 180px;
            height: 180px;
          }

          &:last-child {
            flex: 1;
            padding: 0 24px;

            > div {
              &:first-child {
                margin-top: 4px;
                line-height: 40px;
                color: #2e3033;
                font-size: 30px;
                // overflow: hidden;
                // text-overflow: ellipsis;
                // display: -webkit-box;
                // -webkit-line-clamp: 2;
                // -webkit-box-orient: vertical;
                word-wrap: break-word;
                word-break: break-all;
                span {
                  padding: 0 6px;
                  margin-left: 6px;
                  color: #55B737;
                  font-size: 26px;
                  border: 1px solid #55B737;
                  border-radius: 20px;
                  white-space: nowrap;
                }
              }

              &:nth-child(2) {
                margin-top: 4px;
                color: #c1c4ca;
                overflow: hidden;
                height: 40px;

                > span {
                  float: left;
                  line-height: 40px;
                  font-size: 24px;
                  background: rgb(245, 245, 245);
                  padding: 0 10px;

                  > span {
                    padding-right: 26px;
                  }

                  > i {
                    font-size: 24px;
                    transform: rotate(90deg);
                    vertical-align: middle;
                  }
                }
              }

              &:last-child {
                display: flex;
                align-items: flex-end;
                justify-content: space-between;

                > div {
                  &:first-child {
                    color: #e33240;
                    font-size: 22px;

                    > span {
                      &:first-child {
                        font-size: 32px;
                      }
                    }
                    >div {
                      font-size: 24px;
                    }

                    .item-price-big {
                      font-size: 32px;
                      font-family: 'AvenirLTStd-Black';
                    }

                    .item-price-small {
                      font-size: 24px;
                      font-family: 'AvenirLTStd-Black';
                    }
                  }

                  &:last-child {
                    @{deep} .van-button {
                      display: block;
                      outline: none;
                      border: 1px solid rgb(225, 225, 225);
                      color: #2e3033;
                      background: rgb(252, 252, 252);
                      text-align: center;
                      font-size: 28px;
                      height: 56px;
                      line-height: 56px;
                      width: 140px;
                      padding: 0;
                      margin: 0px 0px 8px auto;
                    }
                    p {
                      color: #f95c5c;
                      text-align: center;
                      font-size: 24px;
                      height: 28px;
                      line-height: 28px;
                    }
                    .out-of-stock {
                      display: block;
                      width: 140px;
                      height: 56px;
                      line-height: 56px;
                      padding: 0;
                      margin: 0px 0px 8px auto;
                      text-align: center;
                      >span {
                        background: red;
                        padding: 6px 10px;
                        border-radius: 12px;
                        color: #fff;
                        font-size: 32px;
                      }
                    }
                  }
                }
              }
            }
          }
          p {
            font-size: 20px;
            // height: 40px;
            line-height: 40px;
          }
        }
      }
    }
  }

  .recommend {
    background: white;

    .title {
      padding: 40px 0;
      text-align: center;

      > span {
        color: #2e3033;
        font-size: 32px;
        letter-spacing: 1px;
        position: relative;

        &:after,
        &:before {
          .format-img;
          content: " ";
          overflow: hidden;
          position: absolute;
          width: 32px;
          height: 12px;
          top: 0;
          bottom: 0;
          margin: auto;
        }

        &:before {
          .bg-img("~@/assets/images/Group");
          left: -48px;
        }

        &:after {
          .bg-img("~@/assets/images/Group 2");
          right: -48px;
        }
      }
    }

    .list {
      .border-1px();
      padding-left: 24px;
      overflow: hidden;

      .item {
        width: 339px;
        float: left;
        margin-bottom: 24px;
      }

      .item:nth-child(odd) {
        margin-right: 24px;
      }
    }
  }

  .total-box {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    > .line {
      .border-1px(rgb(245, 245, 245));
      height: 1px;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
    }

    .total {
      height: 100px;
      display: flex;
      align-items: center;

      > div {
        &:first-child {
          color: #5e6166;
          font-size: 30px;
          flex: 1;
        }

        &.content {
          min-width: 275px;
          color: #2e3033;
          font-size: 26px;

          span {
            float: right;
            color: #e33240;
            padding-right: 30px;
          }
        }
      }
    }
  }
}

.search-page {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 99;
}
</style>
