<template>
  <!-- 这里的childItem.invalid不存在的 -->
  <div class="shopping-cart">
    <div class="content" id="content">
      <div class="cart" v-if="cartList && cartList.length">
        <!-- 头 -->
        <div class="navbar" :style="{top: top + 'px'}">
          <van-nav-bar title="购物车" :border="false" :right-text="edit ? '完成' : '编辑'" @click-right="onClickRight"/>
        </div>
        <!-- 购物车列表 -->
        <ul class="cart-list" ref="cartList">
          <li v-for="(item, index) in cartList" :key="index + 'dad'">
            <!-- 店铺   -->
            <div class="title-box">
              <div>
                <checkbox
                  :isChoose="edit ? item.isEdit : item.isChoose"
                  @select="(e) => {select(e, index)}"
                >
                  <div class="title">
                    <div class="title__left">
                      <i class="shop-icon"></i>
                    </div>
                    <div class="title__center">
                      <span @click.stop="$router.push({name: 'shop', query: {ownerId: item.ownerId}})">{{item.storeName || item.ownerName}}</span>

                      <van-tag color="#EE0000" plain v-if="item.ownerType === '1'">养禽</van-tag>
                      <van-tag color="#EE0000" plain v-else-if="item.ownerType === '2'">养猪</van-tag>
                      <van-tag color="#EE0000" plain v-else-if="item.ownerType === '3'">乳业</van-tag>
                      <van-tag color="#EE0000" plain v-else-if="item.ownerType === '4'">鲜品</van-tag>
                      <van-tag color="#EE0000" plain v-else-if="item.ownerType === '5'">蛋业</van-tag>
                      <van-tag color="#EE0000" plain v-else-if="item.ownerType === '6'">熟食</van-tag>

                      <span class="activity" v-if="item.activity === '1'" @click="titleClick(item, '1')">领券</span>
                      <span class="activity" v-else-if="item.activity === '2'" @click="titleClick(item, '2')">促销</span>
                      <span class="activity" v-else></span>

                      <span class="delivery-date" v-if="item.ownerType === '5'" @click="showPicker = true">{{deliveryDate}}<van-icon name="arrow"></van-icon></span>
                    </div>
                  </div>
                </checkbox>
              </div>
            </div>

            <ul class="cart-list-item">
              <!-- 商品 -->
              <li
                v-for="(childItem, childIndex) in item.cartList"
                :key="childIndex + 'child' + index"
                :class="[!edit && childItem.invalid?'invalid-bg':'',childItem.comFlag ? (childItem.comFlag === 1 || childItem.comFlag === 'last') ? 'border-' + childItem.comFlag : 'border-middle' : '']"
              >
                <checkbox
                  :isChoose="edit ? childItem.isEdit : childItem.isChoose"
                  @select="(e) => {comSelect(e, index, childIndex, childItem)}"
                  :disabled="!edit && childItem.invalid"
                  v-if="childItem.comFlag === 1"
                  :notOnSell="childItem.combitemIsonsell && +childItem.combitemIsonsell === 0"
                >
                  <div class="com-item">
                    <span>组合大促</span>
                    <!-- 点击弹出数字键盘 -->
                    <div class="num-input">
                      <div class="icon" @click.stop="!edit && !childItem.invalid && minus(index, childIndex, childItem, 'com')">
                        <svg-icon class="icon-minus" iconname="common_minus"></svg-icon>
                      </div>
                      <van-button
                        :disabled="edit || !!childItem.invalid"
                        @click.native.stop.prevent="!edit && !childItem.invalid && onShowInput(index, childIndex, childItem, 'com')"
                      >{{childItem.qtyFlag}}</van-button>
                      <div class="icon" @click.stop="!edit && !childItem.invalid && plus(index, childIndex, childItem, 'com')">
                        <svg-icon class="icon-plus" iconname="common_plus"></svg-icon>
                      </div>
                    </div>
                  </div>
                </checkbox>
                <checkbox
                  :class="{'comHide': +childItem.entryType === 2}"
                  :isChoose="edit ? childItem.isEdit : childItem.isChoose"
                  @select="(e) => {if (!childItem.comFlag) select(e, index, childIndex, childItem);}"
                  :disabled="!edit && childItem.invalid"
                  :notOnSell="+childItem.itemIsonsell === 0"
                >
                  <div class="item-content">
                    <div
                      v-lazy:background-image="allImgDomainName + childItem.itemPic"
                      @click="goDetail(childItem.itemId, childItem.comFlag === 1 ? '1' : '0', childItem.combItemId, childItem.isZZItem)"
                    ></div>

                    <div>
                      <div class="name" :class="{'invalid': childItem.invalid}">{{childItem.itemName}}</div>

                      <div class="avg-weight" :class="{'invalid': childItem.invalid}" v-if="(childItem.minAvgWeight && childItem.maxAvgWeight)"><span>均重：{{childItem.minAvgWeight + '-' + childItem.maxAvgWeight}}</span></div>

                      <div class="detail" :class="{'invalid': childItem.invalid}" v-if="childItem.storeQty !== undefined && childItem.storeQty !== null && childItem.storeQty !== ''">
                        <span class="sub-title" v-if="childItem.isZZItem !== '1'">质量：</span>
                        <span class="sub-value btn" v-if="childItem.isZZItem !== '1'" :class="{'invalid': childItem.invalid}" @click="!edit && !childItem.invalid && openPicturePopup(childItem)">点击查看</span>
                        <span class="sub-title">库存：</span>
                        <span class="sub-value" :class="{'invalid': childItem.invalid}">{{(+childItem.storeQty && +childItem.storeQty > 0) ? '有货' : '无货'}}</span>
                      </div>

                      <div class="attribute" v-if="childItem.comFlag"></div>
                      <div class="attribute" v-else>
                        <span
                          v-if="childItem.invalid && childItem.assistattrName"
                          :class="{'invalid': childItem.invalid}"
                        >{{childItem.assistattrName}}</span>
                        <span
                          class="active"
                          v-else-if="childItem.assistattrName"
                        >
                          <!-- @click="showSku(childItem, index, childIndex, item.ownerId)" -->
                          <span>{{childItem.assistattrName.replace(/^(.{10}).+/, '$1...')}}</span>
                          <van-icon name="arrow"/>
                        </span>

                        <span
                          v-if="childItem.invalid && childItem.wtRangeMap"
                          :class="{'invalid': childItem.invalid}"
                        >{{childItem.wtRangeMap.name + ' ' + childItem.wtRangeMap.uom_name}}</span>
                        <span
                          class="active"
                          v-else-if="childItem.wtRangeMap && childItem.wtRangeMap.name"
                          @click="showSku(childItem, index, childIndex, item.ownerId)"
                        >
                          <span>{{childItem.wtRangeMap.name + ' ' + childItem.wtRangeMap.uom_name}}</span>
                          <van-icon name="arrow"/>
                        </span>
                      </div>

                      <div class="bottom">
                        <div class="bottom-left">
                          <div class="price-info">
                            <i class="icon-today-price"></i>
                            <div :class="{'invalid': childItem.invalid}">
                              <span class="price">{{childItem.price && childItem.price.toString().split('.')[0] || '0'}}.{{childItem.price && childItem.price.toString().split('.')[1] || '00'}}</span>
                              <span class="unit">元/{{childItem.unitName}}</span>
                            </div>
                          </div>
                        </div>

                        <div class="bottom-right">
                          <!-- <p style="width: 1.86667rem;" :style="{ color: (+childItem.storeQty && +childItem.storeQty > 0) ? '#f95c5c' : '#5cf95c' }" v-if="childItem.storeQty !== undefined && childItem.storeQty !== null && childItem.storeQty !== ''">
                            {{(+childItem.storeQty && +childItem.storeQty > 0) ? '有货' : '无货'}}
                          </p> -->
                          <p v-if="childItem.isAssistOrder && childItem.maxAvgWeight">约 {{childItem.count * childItem.maxAvgWeight | keepTwoNum}} ({{childItem.unitName}})</p>
                          <p v-else-if="childItem.isAssistOrder">约 {{childItem.count * childItem.conversionRate | keepTwoNum}} ({{childItem.unitName}})</p>
                          <!-- 点击弹出数字键盘 -->
                          <div class="num-input">
                            <div class="icon" @click.stop="!childItem.invalid && !childItem.comFlag && minus(index, childIndex, childItem, '')">
                              <svg-icon class="icon-minus" iconname="common_minus"></svg-icon>
                            </div>
                            <van-button
                              @click.native.stop.prevent="!childItem.invalid && !childItem.comFlag && onShowInput(index, childIndex, childItem, '')"
                              :disabled="childItem.invalid || !!childItem.comFlag"
                            >{{childItem.count}}</van-button>
                            <div class="icon" @click.stop="!childItem.invalid && !childItem.comFlag && plus(index, childIndex, childItem, '')">
                              <svg-icon class="icon-plus" iconname="common_plus"></svg-icon>
                            </div>
                          </div>
                        </div>
                      </div>

                      <p class="purchase-limit" v-if="!(childItem.minBuyQty === 0 && childItem.maxBuyQty === 0) || (childItem.limitFromItem && childItem.dayMaxQty > 0)" :class="{'invalid': childItem.invalid}">
                        <span v-if="!(childItem.minBuyQty === 0 && childItem.maxBuyQty === 0)">每单限购：</span>
                        <span v-if="childItem.minBuyQty">最少 <span style="color: #E33240;">{{childItem.minBuyQty}}</span></span>
                        <span v-if="childItem.minBuyQty && childItem.maxBuyQty">，</span>
                        <span v-if="childItem.maxBuyQty">最多 <span style="color: #E33240;">{{childItem.maxBuyQty}}</span></span>
                        <span v-if="childItem.limitFromItem && childItem.dayMaxQty > 0" style="display: inline-block;">今日限购：最多<span style="color: #E33240;">{{childItem.dayMaxQty}}</span></span>
                      </p>
                    </div>
                  </div>
                </checkbox>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <!-- 购物车为空时 -->
      <div class="no-cart" v-else>
        <div class="loading" v-if="requestLoading"><van-loading size="1.2267rem" /></div>
        <div class="no-cart-img" v-else></div>
        <div>{{requestLoading ? '正在加载...' : '购物车空空如也'}}</div>

        <div>
          <div @click="goPage('myConcern', {index: 0})">看看关注</div>
          <div @click="goPage('Index')">回到首页</div>
        </div>
      </div>

      <van-pull-refresh
        v-model="isLoading"
        @refresh="onRefresh"
        v-if="recommendList && recommendList.length"
      >
        <van-list v-model="loading" :finished="finished" @load="onLoad" :offset="200">
          <v-recommend :list="recommendList"></v-recommend>
        </van-list>
      </van-pull-refresh>
      <!-- <div class="no-data-box" v-else>
        <no-data></no-data>
      </div> -->
    </div>

    <!-- 底部全选 -->
    <div class="total-box" v-if="cartList && cartList.length">
      <div class="line"></div>

      <checkbox :isChoose="edit ? isEdit : isChoose" @select="(e) => {select(e)}">
        <div class="total" v-if="!edit">
          <div>全选</div>

          <div class="content">
            <div>总数量：
              <span>{{totalNum}}</span>
            </div>

            <div>总金额：
              <span>{{totalPrice.toFixed(2)}} 元</span>
            </div>
          </div>

          <div class="button red" @click="goPlaceOrder" :class="{'grey': !selectArr.length}">立即下单</div>
        </div>

        <div class="total" v-else>
          <div>全选</div>

          <div class="button yellow" @click.stop="goodsCollectAddBatch">移到收藏夹</div>

          <div class="button red" @click.stop="deleteCart">删除</div>
        </div>
      </checkbox>
    </div>

    <!-- 数字键盘 -->
    <van-number-keyboard
      ref="numberKeyboard"
      :show="showNumInput"
      theme="custom"
      :extra-key="['00']"
      close-button-text="确定"
      @blur="blur"
      @input="onInput"
      @delete="onDelete"
    />

    <pop-up-items
      ref="popup"
      :up="up"
      :detailTwo="detail[0]"
      :showId="showId"
      :title="title"
      :minBuyQty="minBuyQty"
      :maxBuyQty="maxBuyQty"
      :dayMaxQty="dayMaxQty"
      :limitFromItem="limitFromItem"
      :weightRange="weightRange"
      :weightRangeIdSelected="weightRangeIdSelected"
      @change-weightRange="changeWeightRange"
      @hide="hide"
      @btn-click="btnClick"
      @change-label="changeLabel"
    ></pop-up-items>

    <!-- 底部弹出选择框(要货日期选择) -->
    <van-popup v-model="showPicker" position="bottom" :lock-scroll="false">
      <van-picker
        show-toolbar
        title="要货日期"
        :columns="deliveryDateList"
        :default-index="deliveryDateList.indexOf(deliveryDate)"
        @cancel="showPicker = false"
        @confirm="onConfirm"
      />
    </van-popup>

    <!-- 质检情况弹出框 -->
    <picture-popup
      :show="showPicturePopup"
      :title="qualityTestingItemTitle"
      :picList="qualityTestingPicList"
      @close="closePicturePopup"
    ></picture-popup>

    <!-- 置顶悬浮按钮 -->
    <scroll-to-top-hover-btn targetDiv="content"></scroll-to-top-hover-btn>

    <!-- 底部tabbar导航 -->
    <tabbar :activeIndex="3"></tabbar>
  </div>
</template>

<script>
import Tabbar from '@/components/index-2/tabbar'
import Checkbox from '@/components/checkbox'
import PopUpItems from '@/components/pop-up/pop-up'
import VRecommend from '@/components/vrecommend/vrecommend'
import ScrollToTopHoverBtn from '@/components/scroll-to-top-hover-btn/index'
import PicturePopup from '@/components/index-2/picture-popup'
import { allImgDomainNameMixin } from '@/assets/js/mixin'
import { api } from '@/api'
import { scrollTop, getCookie, zero } from '@/utils/common'
import { mapGetters } from 'vuex'

export default {
  name: 'shopping-cart',
  mixins: [allImgDomainNameMixin],
  components: {
    Checkbox,
    Tabbar,
    PopUpItems,
    VRecommend,
    ScrollToTopHoverBtn,
    PicturePopup
  },
  data () {
    return {
      selectArr: [], // 选中列表
      top: 0,
      list: [],
      cartList: [],
      showNumInput: false,
      selectInput: [],
      isChoose: true,
      isEdit: false,
      totalNum: 0,
      totalPrice: 0,
      edit: false,
      detail: [],
      ownerId: '',
      up: false,
      showId: '',
      title: '',
      cacheLabelList: {
        // 规格
        names: [],
        labelList: []
      },
      pageNo: 1,
      pageSize: 10,
      // 上拉加载及下拉刷新
      page: {
        index: 1,
        size: 6,
        total: 0
      },
      cacheList: [],
      loading: false, // 控制上拉加载的加载动画
      finished: false, // 控制在页面往下移动到底部时是否调用接口获取数据
      isLoading: false, // 控制下拉刷新的加载动画
      recommendList: [],
      maxBuyQty: 0, // 每单最多限购(0-不限)
      minBuyQty: 0, // 每单最少限购(0-不限)
      dayMaxQty: 0, // 今日限购
      limitFromItem: false, // 是否是商品限购
      weightRange: [], // 重量范围
      weightRangeIdSelected: '', // 选中重量范围
      ownerList: [], // 销售渠道id
      showPicker: false, // 显示要货日期选择框
      deliveryDateList: [], // 可选的要货日期列表
      deliveryDate: '', // 要货日期（蛋业）
      requestLoading: false, // 接口请求加载动画
      showPicturePopup: false, // 质检情况（图片弹窗框）查看
      qualityTestingItemTitle: '', // 当前打开质检情况的商品名称
      qualityTestingPicList: [] // 质检情况图片列表
    }
  },
  computed: {
    ...mapGetters(['allChannel'])
  },
  watch: {
    cartList: {
      handler (val) {
        this.totalSelected()

        let validAllArr = [] // 所有服务部有效总数量
        let checkArr = [] // 所有服务部有效且选中的总数量

        // 已下架或库存不足时商品失效
        for (let i = 0; i < val.length; i++) {
          this.$set(val[i], 'isChoose', true) // 初始化每个服务部选中按钮状态设为true
          let invalidCount = 0 // 初始化每个服务部失效数量

          for (let j = 0; j < val[i].cartList.length; j++) {
            let data = val[i].cartList[j]
            let qty = data.isAssistOrder ? data.assistQty : data.qty
            if (+data.itemIsonsell === 0 || (data.combitemIsonsell && +data.combitemIsonsell === 0)) { // 已下架时，商品失效
              this.$set(data, 'invalid', true)
              if (data.isChoose === true) {
                this.$set(data, 'isChoose', false)
                if (+data.entryType === 0) { // 普通商品
                  this.updateCart(false, data)
                }

                if (data.comFlag === 1) { // 组合商品主品
                  if (data.comFlag === 1 && (data.combitemIsonsell && +data.combitemIsonsell === 0)) { // 组合商品主品
                    let n = data.totalCom
                    let index = i
                    let itemIndex = j
                    for (let k = itemIndex; k < itemIndex + n; k++) {
                      this.$set(val[index].cartList[k], 'invalid', true)
                      this.$set(val[index].cartList[k], 'isChoose', false)
                      api.updateCart({ list: [this.updateCartParams(val[index].cartList[k], false)], customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId })
                    }
                  }
                }
              }
            } else if (data.storeQty < data.minBuyQty || data.storeQty <= 0) { // 库存少于最小限购时，商品失效
              this.$set(data, 'invalid', true)
              if (data.isChoose === true) {
                this.$set(data, 'isChoose', false)
                if (+data.entryType === 0) { // 普通商品
                  this.updateCart(false, data)
                }
                if (+data.comFlag === 1) { // 组合商品主品
                  if (data.comFlag === 1 && (data.combitemIsonsell && +data.combitemIsonsell === 0)) { // 组合商品主品
                    let n = data.totalCom
                    let index = i
                    let itemIndex = j
                    for (let k = itemIndex; k < itemIndex + n; k++) {
                      this.$set(val[index].cartList[k], 'invalid', true)
                      this.$set(val[index].cartList[k], 'isChoose', false)
                      api.updateCart({ list: [this.updateCartParams(val[index].cartList[k], false)], customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId })
                    }
                  }
                }
              }
            } else if (data.storeQty < qty) { // 库存大于最小限购且小于当前购买数时，当前购买数等于库存
              data.isAssistOrder ? (this.$set(data, 'assistQty', qty)) : (this.$set(data, 'qty', qty))
            } else {
              this.$set(data, 'invalid', false)
            }

            // 判断选中状态
            if (!data.invalid) {
              validAllArr.push(data)
              if (!data.isChoose) {
                this.$set(val[i], 'isChoose', false) // 如果有商品未选中，该服务部选中按钮状态设为false
              } else {
                checkArr.push(data)
              }
            } else {
              invalidCount++ // 累计每个服务部失效数量
            }
          }

          // 判断每个服务部选中按钮状态
          if (invalidCount === val[i].cartList.length) {
            this.$set(val[i], 'isChoose', false) // 如果该服务部失效数量等于总数量，该服务部选中按钮状态设为false
          }
        }

        // 判断全选按钮状态
        if (validAllArr.length && checkArr.length && validAllArr.length === checkArr.length) {
          this.isChoose = true
        } else {
          this.isChoose = false
        }
      },
      immediate: true
    }
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      vm.top = 0
    })
  },
  created () {
    this.initDeliveryDateList() // 初始化可选的要货日期列表
    this.queryCart()
    this.addScroll()
    this._recommendGoodsList() // 获取推荐商品
  },
  methods: {
    // 收藏
    goodsCollectAddBatch () {
      if (!this.selectArr.length) return

      let ids = [] // 所有选中商品id
      let paramsArr = []

      // 批量查询商品是否已收藏
      let params = {
        itemList: []
      }
      this.cartList.forEach(v => {
        v.cartList.forEach(o => {
          if (+o.entryType === 0 || (+o.entryType === 2 && o.comFlag === 1)) {
            params.itemList.push({
              itemId: o.itemId,
              itemType: o.comFlag === 1 ? '1' : '0',
              combItemId: o.combItemId
            })
          }
        })
      })
      api.commonCall(params, 'queryItemCollectState').then(res => {
        if (res.success) {
          let idsObj = {}

          res.data && res.data.itemList.forEach(v => {
            if (v.status) { // 如果已收藏
              if (!(+v.itemType === 1)) { // 如果是普通商品
                idsObj[v.itemId] = 1
              } else { // 如果是组合商品
                idsObj[v.combItemId] = 1
              }
            }
          })

          for (let i = 0; i < this.cartList.length; i++) {
            for (let j = 0; j < this.cartList[i].cartList.length; j++) {
              if (this.cartList[i].cartList[j].isEdit) {
                ids.push(this.cartList[i].cartList[j].id)

                if (!(+this.cartList[i].cartList[j].itemType === 1) && !idsObj[this.cartList[i].cartList[j].itemId]) {
                  idsObj[this.cartList[i].cartList[j].itemId] = 1

                  let params = {
                    itemId: this.cartList[i].cartList[j].itemId,
                    itemType: this.cartList[i].cartList[j].comFlag === 1 ? '1' : '0',
                    combItemId: this.cartList[i].cartList[j].combItemId
                  }

                  paramsArr.push(params)
                } else if (+this.cartList[i].cartList[j].itemType === 1 && !idsObj[this.cartList[i].cartList[j].combItemId]) {
                  idsObj[this.cartList[i].cartList[j].combItemId] = 1

                  let params = {
                    itemId: this.cartList[i].cartList[j].itemId,
                    itemType: this.cartList[i].cartList[j].comFlag === 1 ? '1' : '0',
                    combItemId: this.cartList[i].cartList[j].combItemId
                  }

                  paramsArr.push(params)
                }
              }

              if (i === this.cartList.length - 1 && j === this.cartList[i].cartList.length - 1) {
                // let type = 1 // 1:删除所选中的商品, 0:清空购物车

                if (ids.length && paramsArr.length) {
                  api.commonCall({ itemList: paramsArr }, 'itemCollectAdd').then(res => {
                    if (res.success) {
                      this.deleteCart(true)
                      this.$toast.success('成功移到收藏夹')
                    } else {
                      res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
                    }
                  })
                } else if (ids.length) {
                  this.deleteCart(true)
                  this.$toast.success('成功移到收藏夹')
                }
              }
            }
          }
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    // 购物车修改
    updateCart (isChoose, data) {
      const params = { list: [], customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId }

      // 商品
      if (Object.prototype.toString.call(data) === '[object Object]') {
        // if (!data.invalid) {
        params.list.push(this.updateCartParams(data, isChoose))
        // }

        // 店铺
      } else if (Object.prototype.toString.call(data) === '[object Array]') {
        data.forEach(item => {
          // if (!item.invalid) {
          params.list.push(this.updateCartParams(item, isChoose))
          // }
        })

        // 所有
      } else {
        this.cartList.forEach(v => {
          v.cartList.forEach(item => {
            // if (!item.invalid) {
            params.list.push(this.updateCartParams(item, isChoose))
            // }
          })
        })
      }

      return api.updateCart(params)
    },
    updateCartParams (data, isChoose) {
      let param = {
        id: data.id,
        isChoose: isChoose ? '1' : '0',
        itemId: data.itemId,
        entryType: data.comFlag ? '2' : '0'
      }

      if (data.comFlag === 1) { // 如果是组合商品主品
        let list = [
          {
            id: data.comFirstId,
            isChoose: isChoose ? '1' : '0',
            entryType: '1'
          }
        ]

        list[0].qty = data.qtyFlag

        const params = { list: list }

        api.updateCart(params).then(res => {})
      }

      data.wtRangeMap && (param.wtRangeId = data.wtRangeMap.id)

      if (data.isAssistOrder) {
        param.assistQty = data.count
        param.assistUnitId = data.assistunitId
      } else {
        param.qty = data.count
        param.unitId = data.unitId
      }

      if (data.labelList && +data.labelList[0]) {
        param.assistattrId = data.labelList[0]
      } else if (+data.assistattrId) {
        param.assistattrId = data.assistattrId
      }

      return param
    },
    // 删除商品
    deleteCart (noAlert) {
      if (!this.selectArr.length) return

      let arr = this.selectArr

      if (arr.length) {
        // 全选
        if (arr.length === this.$store.state.shoppingCartCount) {
          api.deleteCart({ type: '0', customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId }).then(res => {
            if (res.success) {
              this.cartList.splice(0)
              this.totalSelected()
              this.$store.dispatch('setShoppingCartList', this.cartList)
              if (!noAlert) {
                this.$toast.success('删除成功')
              }
            } else {
              res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
            }
          })
        } else {
          let params = { ids: [], type: '1', customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId }

          arr.forEach(v => {
            if (v.comFlag === 1) {
              params.ids.push(v.comFirstId)
            }
            params.ids.push(v.id)
          })

          api.deleteCart(params).then(res => {
            if (res.success) {
              for (let i = 0; i < this.cartList.length; i++) {
                if (this.cartList[i].isEdit) {
                  this.cartList.splice(i, 1)

                  i--
                } else {
                  for (let j = 0; j < this.cartList[i].cartList.length; j++) {
                    if (this.cartList[i].cartList[j].isEdit) {
                      this.cartList[i].cartList.splice(j, 1)

                      j--
                    }
                  }
                }
              }

              // 强制触发更新
              let list = JSON.parse(JSON.stringify(this.cartList))
              this.cartList.splice(0, list.length, ...list)

              this.totalSelected()
              this.$store.dispatch('setShoppingCartList', this.cartList)

              if (!noAlert) {
                this.$toast.success('删除成功')
              }
            } else {
              res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
            }
          })
        }
      }
    },
    // 跳页面
    goPage (name, query) {
      this.$router.push({ name, query })
    },
    // 滚动效果
    addScroll () {
      this.$nextTick(() => {
        // let cacheTop = 0
        let top = 0
        let total = 0

        document.querySelector('.content').onscroll = e => {
          let cacheTop = e.target.scrollTop
          if (cacheTop < 0) return
          total += cacheTop - top
          total = total > 46 ? 46 : total < 0 ? 0 : total
          this.top = -total
          top = cacheTop
        }
      })
    },
    // 下一步
    goPlaceOrder () {
      if (this.selectArr.length) {
        let goodsListOfShortage = []
        let tips = ''
        this.cartList.forEach((shopItem, shopIndex) => {
          shopItem.cartList.forEach((v, i) => {
            if (v.isChoose && v.comFlag === 1) { // 已选中的组合商品
              for (let j = i; j < i + v.totalCom; j++) {
                let ifShortage = false
                if (+shopItem.cartList[j].isMainProduct === 0 && shopItem.cartList[j].storeQty <= 0) { // 如果子品库存不足，添加进列表
                  ifShortage = true
                  if (!goodsListOfShortage.includes(shopItem.cartList[i])) {
                    goodsListOfShortage.push(shopItem.cartList[i])
                    tips += ('组合商品【' + shopItem.cartList[i].itemName + '】中')
                  }
                  goodsListOfShortage.push(shopItem.cartList[j])
                  tips += ('【' + shopItem.cartList[j].itemName + '】')
                }
                if (j === i + v.totalCom - 1 && ifShortage) tips += '库存不足。<br> '
              }
            }
          })
        })

        tips += '请问您要继续下单吗？'

        if (goodsListOfShortage.length > 0) {
          this.$dialog.confirm({
            title: '提示',
            message: tips
          }).then(() => {
            this.$router.push({
              path: this.cartList[0].cartList[0].isZZItem !== '1' ? '/placeOrder' : '/breedingPigPlaceOrder',
              query: {
                date: this.deliveryDate
              }
            })
          }).catch(() => {

          })
        } else {
          this.$router.push({
            path: this.cartList[0].cartList[0].isZZItem !== '1' ? '/placeOrder' : '/breedingPigPlaceOrder',
            query: {
              date: this.deliveryDate
            }
          })
        }
      }
    },
    // 以下底部弹出框相关函数
    // 隐藏
    hide () {
      if (this.showId === 'sku2') {
        // 检测是否选全商品属性
        for (let i = 0; i < this.$refs.popup.attrIdArray2.length; i++) {
          if (!this.$refs.popup.attrIdArray2[i]) {
            let attrValue = this.$refs.popup.details2.assistAttrArrayV2.attrValue
            this.$toast('请选择商品属性【' + attrValue[i].attrName + '】')
            return
          }
        }
      }
      this.up = false
    },
    // 底部按钮
    btnClick (item) {
      if (item.name === '完成' && this.showId === 'coupon') {
        this.up = false
      } else if (item.name === '确认' && this.showId === 'sku2') {
        // 检测是否选全商品属性
        for (let i = 0; i < this.$refs.popup.attrIdArray2.length; i++) {
          if (!this.$refs.popup.attrIdArray2[i]) {
            let attrValue = this.$refs.popup.details2.assistAttrArrayV2.attrValue
            this.$toast('请选择商品属性【' + attrValue[i].attrName + '】')
            return
          }
        }

        this.up = false

        this.detail[0].assistattrName = this.cacheLabelList.names.join('+')
        this.detail[0].labelList = JSON.parse(JSON.stringify(this.cacheLabelList.labelList))
        this.detail[0].price = this.cacheLabelList.price + ''
        this.detail[0].stock = this.cacheLabelList.stock + ''
        this.detail[0].wtRangeMap = this.cacheLabelList.wtRangeMap
        // let count = this.detail[0].count
        if (/number|string/.test(typeof this.detail[0].stock)) {
          +this.detail[0].count > +this.detail[0].stock &&
            (this.detail[0].count = this.detail[0].stock)
        }
        this.updateCart(this.detail[0].isChoose, this.detail[0]).then(res => {
          if (res.success) {
            this.$set(
              this.cartList[this.detail[1]].cartList,
              this.detail[2],
              this.detail[0]
            )
            this.totalSelected()
          } else {
            res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
          }
        })
      }
    },
    // 选择规格
    changeLabel (names, labelList, store) {
      let attrId = labelList[0] && labelList[0] !== '0' ? labelList[0] : ''
      this.queryItemWeightRange(this.ownerId, this.detail[0].itemId, this.detail[0].customerId, attrId, this.detail[0].isAssistOrder ? this.detail[0].assistunitId : this.detail[0].unitId) // 获取商品重量范围

      this.cacheLabelList.names = names
      this.cacheLabelList.labelList = labelList
      this.cacheLabelList.price = store.price
      this.cacheLabelList.stock = store.stock
      this.$set(
        this.cartList[this.detail[1]].cartList,
        this.detail[2],
        this.detail[0]
      )
    },
    // 选择重量范围
    changeWeightRange (selectedWR) {
      this.cacheLabelList.wtRangeMap = selectedWR
    },
    // 以下数字输入框相关函数
    minus (i, ci, child, isCom) {
      if (this.selectInput.length) {
        if (this.selectInput[2].comFlag === 1) {
          !this.selectInput[2].qtyFlag && (this.selectInput[2].qtyFlag = '0')
          for (let j = this.selectInput[1]; j < this.selectInput[1] + this.selectInput[2].totalCom; j++) {
            let comItem = this.cartList[this.selectInput[0]].cartList[j]
            comItem.count = this.selectInput[2].qtyFlag * comItem.combBaseQty
            this.$set(this.cartList[this.selectInput[0]].cartList, j, comItem)
          }
        } else {
          !this.selectInput[2].count && (this.selectInput[2].count = '0')
          this.$set(this.cartList[this.selectInput[0]].cartList, this.selectInput[1], this.selectInput[2])
        }
      }

      if (isCom === 'com') {
        this.selectInput = [i, ci, child, child.qtyFlag]
      } else {
        this.selectInput = [i, ci, child, child.count]
      }

      if (this.selectInput[2].comFlag === 1) {
        if (this.selectInput[2].qtyFlag >= 99999) {
          return
        }
        this.selectInput[2].qtyFlag = +this.selectInput[2].qtyFlag - 1 + ''

        if (/number|string/.test(typeof this.selectInput[2].stock)) {
          if (+this.selectInput[2].qtyFlag > +this.selectInput[2].stock) {
            this.selectInput[2].qtyFlag = this.selectInput[2].stock
            this.$toast('商品数量不得超过库存：' + this.selectInput[2].stock)
          }
        }
      } else {
        if (this.selectInput[2].count >= 99999) {
          return
        }
        this.selectInput[2].count = +this.selectInput[2].count - 1 + ''
        if (/number|string/.test(typeof this.selectInput[2].stock)) {
          if (+this.selectInput[2].count > +this.selectInput[2].stock) {
            this.selectInput[2].count = this.selectInput[2].stock
            this.$toast('商品数量不得超过库存：' + this.selectInput[2].stock)
          }
        }
      }
      this.blur()
    },
    plus (i, ci, child, isCom) {
      if (this.selectInput.length) {
        if (this.selectInput[2].comFlag === 1) {
          !this.selectInput[2].qtyFlag && (this.selectInput[2].qtyFlag = '0')
          for (let j = this.selectInput[1]; j < this.selectInput[1] + this.selectInput[2].totalCom; j++) {
            let comItem = this.cartList[this.selectInput[0]].cartList[j]
            comItem.count = this.selectInput[2].qtyFlag * comItem.combBaseQty
            this.$set(this.cartList[this.selectInput[0]].cartList, j, comItem)
          }
        } else {
          !this.selectInput[2].count && (this.selectInput[2].count = '0')
          this.$set(this.cartList[this.selectInput[0]].cartList, this.selectInput[1], this.selectInput[2])
        }
      }

      if (isCom === 'com') {
        this.selectInput = [i, ci, child, child.qtyFlag]
      } else {
        this.selectInput = [i, ci, child, child.count]
      }

      if (this.selectInput[2].comFlag === 1) {
        if (this.selectInput[2].qtyFlag >= 99999) {
          return
        }
        this.selectInput[2].qtyFlag = +this.selectInput[2].qtyFlag + 1 + ''

        if (/number|string/.test(typeof this.selectInput[2].stock)) {
          if (+this.selectInput[2].qtyFlag > +this.selectInput[2].stock) {
            this.selectInput[2].qtyFlag = this.selectInput[2].stock
            this.$toast('商品数量不得超过库存：' + this.selectInput[2].stock)
          }
        }
      } else {
        if (this.selectInput[2].count >= 99999) {
          return
        }
        this.selectInput[2].count = +this.selectInput[2].count + 1 + ''
        if (/number|string/.test(typeof this.selectInput[2].stock)) {
          if (+this.selectInput[2].count > +this.selectInput[2].stock) {
            this.selectInput[2].count = this.selectInput[2].stock
            this.$toast('商品数量不得超过库存：' + this.selectInput[2].stock)
          }
        }
      }
      this.blur()
    },
    // 弹出数字输入框
    onShowInput (i, ci, child, isCom) {
      if (this.selectInput.length) {
        if (this.selectInput[2].comFlag === 1) {
          !this.selectInput[2].qtyFlag && (this.selectInput[2].qtyFlag = '1')

          for (let j = this.selectInput[1]; j < this.selectInput[1] + this.selectInput[2].totalCom; j++) {
            let comItem = this.cartList[this.selectInput[0]].cartList[j]
            comItem.count = this.selectInput[2].qtyFlag * comItem.combBaseQty
            this.$set(this.cartList[this.selectInput[0]].cartList, j, comItem)
          }
        } else {
          !this.selectInput[2].count && (this.selectInput[2].count = '1')
          this.$set(this.cartList[this.selectInput[0]].cartList, this.selectInput[1], this.selectInput[2])
        }
      }

      this.showNumInput = true
      if (isCom === 'com') {
        this.selectInput = [i, ci, child, child.qtyFlag]
      } else {
        this.selectInput = [i, ci, child, child.count]
      }

      // 为了数字键盘不挡住输入框，将页面往上滚动
      this.$nextTick(() => {
        if (this.$refs.cartList.children[i] && this.$refs.cartList.children[i].children[1] && this.$refs.cartList.children[i].children[1].children[ci]) {
          let distance = this.$refs.cartList.children[i].children[1].children[ci].getBoundingClientRect().top + this.$refs.cartList.children[i].children[1].children[ci].offsetHeight > window.innerHeight - this.$refs.numberKeyboard.$el.offsetHeight
            ? this.$refs.cartList.children[i].children[1].children[ci].getBoundingClientRect().top + this.$refs.cartList.children[i].children[1].children[ci].offsetHeight - (window.innerHeight - this.$refs.numberKeyboard.$el.offsetHeight)
            : 0
          const content = document.getElementById('content')
          scrollTop(content, content.scrollTop, content.scrollTop + distance, 300)
        }
      })
    },
    // 输入
    onInput (num) {
      if (this.selectInput[2].comFlag === 1) {
        if ((!num && !this.selectInput[2].qtyFlag) || this.selectInput[2].qtyFlag.length >= 5) {
          return
        }
        this.selectInput[2].qtyFlag += num + ''

        if (/number|string/.test(typeof this.selectInput[2].stock)) {
          if (+this.selectInput[2].qtyFlag > +this.selectInput[2].stock) {
            this.selectInput[2].qtyFlag = this.selectInput[2].stock
            this.$toast('商品数量不得超过库存：' + this.selectInput[2].stock)
          }
        }

        for (let j = this.selectInput[1]; j < this.selectInput[1] + this.selectInput[2].totalCom; j++) {
          let comItem = this.cartList[this.selectInput[0]].cartList[j]
          comItem.count = this.selectInput[2].qtyFlag * comItem.combBaseQty
          this.$set(
            this.cartList[this.selectInput[0]].cartList,
            j,
            comItem
          )
        }
      } else {
        if ((!num && !this.selectInput[2].count) || this.selectInput[2].count.length >= 5) {
          return
        }

        this.selectInput[2].count += num + ''

        if (/number|string/.test(typeof this.selectInput[2].stock)) {
          if (+this.selectInput[2].count > +this.selectInput[2].stock) {
            this.selectInput[2].count = this.selectInput[2].stock
            this.$toast('商品数量不得超过库存：' + this.selectInput[2].stock)
          }
        }

        this.$set(this.cartList[this.selectInput[0]].cartList, this.selectInput[1], this.selectInput[2])
      }
    },
    // 删除
    onDelete () {
      if (this.selectInput[2].comFlag === 1) {
        let c = this.selectInput[2].qtyFlag

        this.selectInput[2].qtyFlag = c.length - 1 > 0 ? c.substr(0, c.length - 1) : ''

        for (let j = this.selectInput[1]; j < this.selectInput[1] + this.selectInput[2].totalCom; j++) {
          let comItem = this.cartList[this.selectInput[0]].cartList[j]
          comItem.count = this.selectInput[2].qtyFlag * comItem.combBaseQty
          this.$set(
            this.cartList[this.selectInput[0]].cartList,
            j,
            comItem
          )
        }
      } else {
        let c = this.selectInput[2].count

        this.selectInput[2].count = c.length - 1 > 0 ? c.substr(0, c.length - 1) : ''

        this.$set(
          this.cartList[this.selectInput[0]].cartList,
          this.selectInput[1],
          this.selectInput[2]
        )
      }
    },
    // 隐藏数字输入框
    blur () {
      if (!this.selectInput.length) return

      this.showNumInput = false

      if (this.selectInput[2].comFlag === 1) {
        !this.selectInput[2].qtyFlag && (this.selectInput[2].qtyFlag = '1')

        // 判断限购条件
        let max = this.selectInput[2].maxBuyQty > 0 ? Math.min(+this.selectInput[2].stock, this.selectInput[2].maxBuyQty) : +this.selectInput[2].stock
        let min = this.selectInput[2].minBuyQty > 0 ? Math.max(1, this.selectInput[2].minBuyQty) : 1
        if (+this.selectInput[2].qtyFlag < min) {
          this.selectInput[2].qtyFlag = min + ''
          this.$toast('该商品数量不得少于' + min)
        } else if (+this.selectInput[2].qtyFlag > max) {
          this.selectInput[2].qtyFlag = max + ''
          this.$toast('该商品数量不得超过' + max)
        }

        for (let j = this.selectInput[1]; j < this.selectInput[1] + this.selectInput[2].totalCom; j++) {
          let comItem = this.cartList[this.selectInput[0]].cartList[j]
          comItem.count = this.selectInput[2].qtyFlag * comItem.combBaseQty
          this.$set(this.cartList[this.selectInput[0]].cartList, j, comItem)
          if (this.selectInput[2].qtyFlag !== this.selectInput[3] && this.selectInput[2].isChoose) {
            this.updateCart(
              this.cartList[this.selectInput[0]].cartList[j].isChoose,
              this.cartList[this.selectInput[0]].cartList[j]
            ).then(res => {
              if (res.success) {
                this.totalSelected()
              } else {
                this.selectInput[2].qtyFlag = this.selectInput[3]
                for (let k = this.selectInput[1]; k < this.selectInput[1] + this.selectInput[2].totalCom; k++) {
                  let comItem = this.cartList[this.selectInput[0]].cartList[k]
                  comItem.count = this.selectInput[2].qtyFlag * comItem.combBaseQty
                  this.$set(this.cartList[this.selectInput[0]].cartList, k, comItem)
                }
                res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
              }
              this.$nextTick(() => {
                this.selectInput = []
              })
            })
          }
        }
      } else {
        !this.selectInput[2].count && (this.selectInput[2].count = '1')

        // 判断限购条件
        let max = this.selectInput[2].maxBuyQty > 0 ? Math.min(+this.selectInput[2].stock, this.selectInput[2].maxBuyQty) : +this.selectInput[2].stock
        let min = this.selectInput[2].minBuyQty > 0 ? Math.max(1, this.selectInput[2].minBuyQty) : 1
        if (+this.selectInput[2].count < min) {
          this.selectInput[2].count = min + ''
          this.$toast('该商品数量不得少于' + min)
        } else if (+this.selectInput[2].count > max) {
          this.selectInput[2].count = max + ''
          this.$toast('该商品数量不得超过' + max)
        }

        this.$set(this.cartList[this.selectInput[0]].cartList, this.selectInput[1], this.selectInput[2])

        if (this.selectInput[2].count !== this.selectInput[3] && this.selectInput[2].isChoose) {
          this.updateCart(
            this.cartList[this.selectInput[0]].cartList[this.selectInput[1]].isChoose,
            this.cartList[this.selectInput[0]].cartList[this.selectInput[1]]
          ).then(res => {
            if (res.success) {
              this.totalSelected()
            } else {
              this.selectInput[2].count = this.selectInput[3]
              this.$set(this.cartList[this.selectInput[0]].cartList, this.selectInput[1], this.selectInput[2])
              res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
            }
            this.$nextTick(() => {
              this.selectInput = []
            })
          })
        }
      }
    },
    // 以上数字输入框相关函数
    // 选中
    select (select, index, i, item) {
      if (!this.cartList.length) return

      let fn = this.formatSelect.bind(this, select, index, i, item)

      // 编辑
      if (this.edit) {
        fn.call(this, 'isEdit')

        // 购物
      } else {
        fn.call(this, 'isChoose')
      }
    },
    comSelect (select, index, i, item) {
      let n = item.totalCom
      for (var j = i; j < i + n; j++) {
        this.select(select, index, j, this.cartList[index].cartList[j])
      }
    },
    formatSelect (select, index, i, item, type) {
      let list = this.cartList
      let length = list.length
      let validAllArr = []
      list.forEach(v => {
        let valid = false
        v.cartList.forEach(item => {
          if (!item.invalid) {
            valid = true
          }
        })
        if (valid) {
          validAllArr.push(v)
        }
      })

      if (typeof index === 'number') {
        let a = list[index]
        let l = a.cartList.length

        let validArr = a.cartList.filter(v => {
          return !v.invalid
        })

        // 商品
        if (item) {
          if (type === 'isChoose') {
            this.updateCart(select, item).then(res => {
              if (res.success) {
                if (!item.invalid) {
                  item[type] = select
                }

                let arr = a.cartList.filter(v => {
                  return v[type]
                })

                a[type] = arr.length === validArr.length

                let arr2 = list.filter(v => {
                  return v[type]
                })

                if (arr2.length && validAllArr.length && arr2.length === validAllArr.length) {
                  this[type] = true
                } else {
                  this[type] = false
                }

                this.$set(this.cartList, index, a)

                this.totalSelected()
              } else {
                item[type] = !select

                res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
              }
            })

            return
          } else {
            item[type] = select

            let arr = a.cartList.filter(v => {
              return v[type]
            })

            a[type] = arr.length === l

            let arr2 = list.filter(v => {
              return v[type]
            })

            this[type] = arr2.length === list.length

            this.$set(this.cartList, index, a)
          }

          // 店铺
        } else {
          if (type === 'isChoose') {
            this.updateCart(select, a.cartList).then(res => {
              if (res.success) {
                if (validArr.length > 0) {
                  a[type] = select
                  a.cartList.forEach(v => {
                    if (!v.invalid) {
                      v[type] = select
                    }
                  })
                }

                let arr2 = list.filter(v => {
                  return v[type]
                })

                if (arr2.length && validAllArr.length && arr2.length === validAllArr.length) {
                  this[type] = true
                } else {
                  this[type] = false
                }

                this.$set(this.cartList, index, a)

                this.totalSelected()
              } else {
                a[type] = !select

                res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
              }
            })

            return
          } else {
            a[type] = select

            a.cartList.forEach(v => {
              v[type] = select
            })

            let arr2 = list.filter(v => {
              return v[type]
            })

            this[type] = arr2.length === list.length

            this.$set(this.cartList, index, a)
          }
        }

        // 所有
      } else {
        if (type === 'isChoose') {
          this.updateCart(select).then(res => {
            if (res.success) {
              if (validAllArr.length > 0) {
                this[type] = select
                list.forEach(v => {
                  v.cartList.forEach(item => {
                    if (!item.invalid) {
                      item[type] = select
                      v[type] = select
                    }
                  })
                })
              }

              this.cartList.splice(0, length, ...list)

              this.totalSelected()
            } else {
              this[type] = !select

              res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
            }
          })

          return
        } else {
          this[type] = select

          list.forEach(v => {
            v[type] = this[type]

            v.cartList.forEach(item => {
              item[type] = this[type]
            })
          })

          this.cartList.splice(0, length, ...list)
        }
      }

      this.totalSelected()
    },
    // 获取所有选中的项同时计算总价格、总数量
    totalSelected () {
      let selectArr = []

      if (this.cartList.length === 0) {
        this.isEdit = false
        this.isChoose = false
      }

      // 编辑
      let count
      let type
      if (this.edit) {
        count = item => {
          selectArr.push(item)
        }
        type = 'isEdit'

        // 购物
      } else {
        this.totalNum = 0
        this.totalPrice = 0
        count = item => {
          if (item.isChoose && !item.invalid) {
            selectArr.push(item)
            this.totalNum += +item.count
            this.totalPrice += (item.isAssistOrder
              ? (item.maxAvgWeight
                ? item.count * item.maxAvgWeight
                : item.count * item.conversionRate)
              : item.count) * item.price
          }
        }
        type = 'isChoose'
      }

      if (this[type]) {
        this.cartList.forEach(v => {
          v.cartList.forEach(item => {
            count(item)
          })
        })
      } else {
        this.cartList.forEach(v => {
          if (v[type]) {
            v.cartList.forEach(item => {
              count(item)
            })
          } else {
            v.cartList.forEach(item => {
              if (item[type]) {
                count(item)
              }
            })
          }
        })
      }

      this.selectArr = selectArr
    },
    // 编辑
    onClickRight () {
      if (this.edit) {
        this.edit = false
      } else {
        this.edit = true
      }

      this.totalSelected()
    },
    // 选择属性
    showSku (item, i, ci, ownerId) {
      // 清空数据
      this.weightRange = []
      this.cacheLabelList.names = []
      this.cacheLabelList.labelList = []

      this.detail.splice(0, 3, item, i, ci)
      this.ownerId = ownerId
      this.showId = 'sku2'
      this.up = true
    },
    // 店铺选择右边按钮
    titleClick (item, type) {
      if (type === '1') {
        this.ownerId = item.ownerId
        this.showId = 'coupon'
        this.title = '店铺优惠券'
        this.up = true
      } else if (type === '2') {
      }
    },
    goDetail (id, type, combItemId, isZZItem) {
      this.$router.push({ path: isZZItem !== '1' ? '/goodsDetails' : '/breedingPigDetails', query: { id, type, combItemId } })
    },
    queryCart () {
      this.requestLoading = true
      let params = {
        date: this.deliveryDate,
        page: 1,
        pageSize: 999,
        customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
      }
      if (this.$store.state.intoPage === 0 && getCookie('selectedChannel')) {
        params.owner = JSON.parse(getCookie('selectedChannel')).channelId
      } else if (this.$store.state.intoPage === 1 && this.$store.state.channel.currentChannel && this.$store.state.channel.currentChannel.channelId) {
        params.owner = this.$store.state.channel.currentChannel.channelId
      }
      api.queryCart(params).then(res => {
        this.requestLoading = false
        if (res.success) {
          // 将主品放置第一位
          for (let i = 0; i < res.data.list.length; i++) {
            let comFirstIndex
            for (let j = 0; j < res.data.list[i].cartList.length; j++) {
              if (+res.data.list[i].cartList[j].entryType === 1) {
                comFirstIndex = j
              } else if (+res.data.list[i].cartList[j].entryType === 2 && +res.data.list[i].cartList[j].isMainProduct === 1) {
                let cacheMain = res.data.list[i].cartList[j]
                res.data.list[i].cartList.splice(j, 1)
                res.data.list[i].cartList.splice(comFirstIndex + 1, 0, cacheMain)
              }
            }
          }

          this.$nextTick(() => {
            let itemListParams = []

            res.data.list.forEach(v => {
              // 添加每个店铺的type
              let findChannel = this.allChannel.find(o => o.channelId === v.ownerId)
              if (findChannel) {
                v.ownerType = findChannel.channelType
              } else {
                v.ownerType = ''
              }

              let comFlag = 0
              let qtyFlag = 0
              let comFirstId = ''
              let ownerParamItem = { ownerid: v.ownerId, itemList: [] }
              for (let j = 0; j < v.cartList.length; j++) {
                let shopItem = v.cartList[j]
                if (+shopItem.entryType === 1) { // 组合行
                  comFlag = 1
                  qtyFlag = shopItem.qty
                  comFirstId = shopItem.id
                  v.cartList.splice(j, 1)
                  j--
                  continue
                } else if (+shopItem.entryType === 2) { // 组合商品
                  if (!v.cartList[j + 1] || +v.cartList[j + 1].entryType !== 2) {
                    shopItem.comFlag = 'last'
                    v.cartList[j - comFlag + 1].totalCom = comFlag
                    comFlag = 0
                  } else {
                    shopItem.comFlag = comFlag
                    if (comFlag === 1) {
                      shopItem.qtyFlag = shopItem.cacheCount = qtyFlag
                      shopItem.comFirstId = comFirstId
                    }
                    comFlag++
                  }
                }
              }
              v.cartList.forEach((item, index) => {
                item.isChoose = !!+item.isChoose

                item.count = item.isAssistOrder
                  ? item.assistQty + ''
                  : item.qty + ''
                item.isEdit = false

                item.stock = item.storeQty + ''
                item.minBuyQty = item.minBuyQty || 0
                item.maxBuyQty = item.maxBuyQty || 0

                // 初始化，判断限购条件
                if (item.comFlag === 1) { // 组合商品主品
                  let originalQty = item.qtyFlag
                  let max = item.maxBuyQty > 0 ? Math.min(+item.stock, item.maxBuyQty) : +item.stock
                  let min = item.minBuyQty > 0 ? Math.max(1, item.minBuyQty) : 1
                  if (+item.qtyFlag < min) {
                    item.qtyFlag = min + ''
                    // this.$toast('该商品数量不得少于' + min)
                  } else if (+item.qtyFlag > max) {
                    item.qtyFlag = max + ''
                    // this.$toast('该商品数量不得超过' + max)
                  }

                  for (let j = index; j < index + item.totalCom; j++) {
                    let comItem = v.cartList[j]
                    comItem.count = item.qtyFlag * comItem.combBaseQty
                    this.$set(
                      v.cartList,
                      j,
                      comItem
                    )
                    if (item.qtyFlag !== originalQty && item.isChoose) {
                      this.updateCart(
                        v.cartList[j].isChoose,
                        v.cartList[j]
                      ).then(res => {
                        if (res.success) {
                          this.totalSelected()
                        } else {
                          item.qtyFlag = originalQty
                          for (let k = index; k < index + item.totalCom; k++) {
                            let comItem = v.cartList[k]
                            comItem.count = item.qtyFlag * comItem.combBaseQty
                            this.$set(
                              v.cartList,
                              k,
                              comItem
                            )
                          }
                          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
                        }
                      })
                    }
                  }
                } else if (+item.entryType === 0) { // 普通商品
                  let originalQty = item.count
                  let max = item.maxBuyQty > 0 ? Math.min(+item.stock, item.maxBuyQty) : +item.stock
                  let min = item.minBuyQty > 0 ? Math.max(1, item.minBuyQty) : 1
                  if (+item.count < min) {
                    item.count = min + ''
                    // this.$toast('该商品数量不得少于' + min)
                  } else if (+item.count > max) {
                    item.count = max + ''
                    // this.$toast('该商品数量不得超过' + max)
                  }

                  if (item.count !== originalQty && item.isChoose) {
                    this.updateCart(
                      item.isChoose,
                      item
                    ).then(res => {
                      if (res.success) {
                        this.totalSelected()
                      } else {
                        item.count = originalQty
                        res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
                      }
                    })
                  }
                }

                // 批量查询上市计划最大预测均重传参
                let maxAvgWeightParams = {
                  ownerId: ownerParamItem.ownerid,
                  unitId: item.isAssistOrder
                    ? item.assistunitId
                    : item.unitId,
                  itemId: item.itemId,
                  assistattrId: item.assistattrId
                }
                itemListParams.push(maxAvgWeightParams)
              })
            })

            this.cartList = res.data.list
            this.$store.dispatch('setShoppingCartList', this.cartList)

            // 获取上市计划最大预测均重
            api.itemListWeightRangeQuery({ itemList: itemListParams }).then(res => {
              if (res.success) {
                let maxAvgWeightList = res.data
                for (let i = 0; i < this.cartList.length; i++) {
                  let item = this.cartList[i]
                  if (item.cartList.length > 0) {
                    for (let j = 0; j < item.cartList.length; j++) {
                      maxAvgWeightList.forEach(item => {
                        if (item.itemId === this.cartList[i].cartList[j].itemId) {
                          item.maxAvgWeight && this.$set(this.cartList[i].cartList[j], 'maxAvgWeight', item.maxAvgWeight)
                          item.minAvgWeight && this.$set(this.cartList[i].cartList[j], 'minAvgWeight', item.minAvgWeight)
                        }
                      })
                    }
                  }
                  this.$set(this.cartList, i, item)
                }
              }
            })
          })
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    // 获取推荐商品
    _recommendGoodsList () {
      const params = {
        pageNo: this.page.index,
        pageSize: this.page.size
      }

      if (sessionStorage.getItem('token')) {
        if (this.$store.state.intoPage === 0 && sessionStorage.getItem('defaultCustomer')) {
          params.customerId = JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
        } else if (this.$store.state.intoPage === 1 && this.$store.state.customer.current && this.$store.state.customer.current.customerId) {
          params.customerId = this.$store.state.customer.current.customerId
        }

        if (this.$store.state.intoPage === 0 && getCookie('selectedChannel')) {
          params.ownerId = JSON.parse(getCookie('selectedChannel')).channelId
        } else if (this.$store.state.intoPage === 1 && this.$store.state.channel.currentChannel && this.$store.state.channel.currentChannel.channelId) {
          params.ownerId = this.$store.state.channel.currentChannel.channelId
        }
        if (!params.ownerId) return // 如果没有关联订货关系，则不请求接口
      }

      // 获取热销产品数据
      api.commonCall(params, 'queryRecommendGoods').then(res => {
        if (res.success) {
          this.cacheList = this.cacheList.concat(res.data.list)
          this.recommendList.splice(0, this.recommendList.length, ...this.cacheList)
          this.page.total = res.data.totalNumber < 6 ? res.data.totalNumber : 6 // 最多显示6个
          this.finished = false

          this.loading = false

          if (this.cacheList.length >= this.page.total) {
            this.finished = true
          }
          setTimeout(() => {
            this.isLoading = false
          }, 100)
        }
      })
    },
    // 重量范围
    queryItemWeightRange (ownerId, itemId, customerId, assistattrId, unitId) {
      let params = {
        ownerId,
        itemId,
        customerId,
        assistattrId,
        unitId
      }
      api.itemWeightRangeQuery(params).then(res => {
        if (res.success) {
          this.maxBuyQty = res.data.max_buy_qty || 0
          this.minBuyQty = res.data.min_buy_qty || 0
          this.dayMaxQty = res.data.dayMaxQty || 0
          this.limitFromItem = res.data.limitFromItem || false
          // this.specification = res.data.specification && res.data.specification.length ? res.data.specification[0] : this.specification
          this.weightRange = res.data.weight_range
            ? res.data.weight_range
            : this.weightRange
          this.detail[0].wtRangeMap &&
            (this.weightRangeIdSelected = this.detail[0].wtRangeMap.id)
        }
      })
    },
    // 下拉刷新
    onRefresh () {
      this.page.index = 1
      this.cacheList = []
      this._recommendGoodsList()
    },
    // 上拉加载
    onLoad () {
      this.page.index++
      this._recommendGoodsList()
    },
    initDeliveryDateList () {
      let nowDay = new Date()
      let tomorrowDay = new Date(nowDay.getTime() + 24 * 60 * 60 * 1000)
      let secondDay = new Date(nowDay.getTime() + 2 * 24 * 60 * 60 * 1000)
      let thirdDay = new Date(nowDay.getTime() + 3 * 24 * 60 * 60 * 1000)
      let nowDate = nowDay.getFullYear() + '-' + zero(nowDay.getMonth() + 1) + '-' + zero(nowDay.getDate())
      let tomorrowDate = tomorrowDay.getFullYear() + '-' + zero(tomorrowDay.getMonth() + 1) + '-' + zero(tomorrowDay.getDate())
      let secondDate = secondDay.getFullYear() + '-' + zero(secondDay.getMonth() + 1) + '-' + zero(secondDay.getDate())
      let thirdDate = thirdDay.getFullYear() + '-' + zero(thirdDay.getMonth() + 1) + '-' + zero(thirdDay.getDate())

      this.deliveryDateList.push(nowDate, tomorrowDate, secondDate, thirdDate)

      let idx = sessionStorage.getItem('userInfo') && JSON.parse(sessionStorage.getItem('userInfo')).phone
      let deliveryDate = sessionStorage.getItem('deliveryDate') && JSON.parse(sessionStorage.getItem('deliveryDate'))
      if (idx && deliveryDate && deliveryDate[`${idx}__expires__${nowDate}`] && (new Date(deliveryDate[`${idx}__expires__${nowDate}`]) >= new Date(nowDate))) {
        this.deliveryDate = deliveryDate[`${idx}__expires__${nowDate}`]
      } else {
        this.deliveryDate = tomorrowDate

        if (!deliveryDate) {
          deliveryDate = {}
        }

        if (idx) {
          deliveryDate[`${idx}__expires__${nowDate}`] = tomorrowDate
        }

        sessionStorage.setItem('deliveryDate', JSON.stringify(deliveryDate))
      }
    },
    // 底部弹出选择框列表点击
    onConfirm (item) {
      this.showPicker = false
      if (this.deliveryDate === item) return

      let nowDay = new Date()
      let nowDate = nowDay.getFullYear() + '-' + zero(nowDay.getMonth() + 1) + '-' + zero(nowDay.getDate())
      let idx = sessionStorage.getItem('userInfo') && JSON.parse(sessionStorage.getItem('userInfo')).phone
      let deliveryDate = sessionStorage.getItem('deliveryDate') && JSON.parse(sessionStorage.getItem('deliveryDate'))
      deliveryDate[`${idx}__expires__${nowDate}`] = item
      sessionStorage.setItem('deliveryDate', JSON.stringify(deliveryDate))
      this.deliveryDate = item

      this.queryCart()
    },
    // 查看质检情况
    openPicturePopup (item) {
      api.commonCall({ storeId: item.ownerId, itemId: item.itemId }, 'queryQualityPhotos').then(res => {
        if (res.success) {
          if (res.data && res.data.photoList && res.data.photoList.length) {
            this.qualityTestingPicList.splice(0, this.qualityTestingPicList.length, ...res.data.photoList)
            this.qualityTestingItemTitle = item.itemName
            this.showPicturePopup = true
          } else {
            this.$toast('暂无数据')
          }
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    closePicturePopup () {
      this.qualityTestingItemTitle = ''
      this.qualityTestingPicList = []
      this.showPicturePopup = false
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.shopping-cart {
  background-color: #F1F1F1;
  .invalid {
    color: #c1c4ca !important;
    border-color: #c1c4ca !important;
    background: transparent !important;
  }

  .com-dialog {
    padding: 30px 0;
    text-align: center;
    span {
      font-size: 28px;
      padding-right: 30px;
    }
    input {
      line-height: 45px;
      width: 200px;
      font-size: 28px;
    }
  }

  > .content {
    height: 100vh;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    box-sizing: border-box;

    &.has-total {
      padding-bottom: 228px;
    }

    &.no-total {
      padding-bottom: 130px;
    }
  }

  .button {
    .active;
    height: 100%;
    line-height: 100px;
    text-align: center;
    width: 220px;

    &.red {
      color: white;
      background: linear-gradient(
        90deg,
        rgba(255, 107, 82, 1) 0%,
        rgba(227, 50, 64, 1) 100%
      );
    }

    &.yellow {
      color: white;
      background: linear-gradient(
        90deg,
        rgba(255, 193, 56, 1) 0%,
        rgba(255, 162, 0, 1) 100%
      );
    }

    &.grey {
      color: white;
      background: #ccc;
    }
  }

  .format-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .active {
    position: relative;
    overflow: hidden;

    &:active {
      &:after {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.08);
      }
    }
  }

  .no-cart {
    padding-top: 70px;
    padding-bottom: 40px;
    margin-bottom: 16px;
    background: #FFFFFF;

    > div {
      &.loading {
        width: 194px;
        height: 130px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &.no-cart-img {
        .format-img;
        .bg-img("~@/assets/images/new-version/common/no_cart");
        width: 300px;
        height: 264px;
        margin: auto;
      }

      &:nth-child(2) {
        margin-top: 50px;
        color: #c1c4ca;
        font-size: 28px;
        text-align: center;
      }

      &:last-child {
        margin-top: 60px;
        display: flex;
        align-items: center;
        justify-content: center;

        > div {
          .active;
          font-size: 26px;
          width: 220px;
          height: 64px;
          border-radius: 35px;
          text-align: center;

          &:first-child {
            border: 1px solid;
            color: #e33240;
            line-height: 62px;
            margin-right: 20px;
          }

          &:last-child {
            background: linear-gradient(
              90deg,
              rgba(255, 107, 82, 1) 0%,
              rgba(227, 50, 64, 1) 100%
            );
            line-height: 64px;
            color: white;
          }
        }
      }
    }
  }

  .cart {
    background-position: top center;
    background-size: 100% 326px;
    background-repeat: no-repeat;
    .bg-img('~@/assets/images/new-version/shoppingcart/top-bg');
    .navbar {
      @{deep}.van-nav-bar {
        // height: 80px;
        background: #E60012;
        .van-nav-bar__title {
          font-size: 38px;
          color: #FFFFFF;
        }
        .van-nav-bar__text {
          font-size: 26px;
          color: #FFFFFF;
        }
      }
    }

    .cart-list {
      margin: 0 14px;
      border-radius: 12px;
      background: #FFFFFF;
      &.van-padding-top {
        padding-top: 92px;
      }

      > li {
        &:last-child {
          margin-bottom: 16px;
        }
      }

      .title-box {
        padding: 12px 0;
        &.fixed {
          display: fixed;
          width: 100%;
          left: 0;
          top: 0;
        }
        .title {
          display: flex;
          align-items: center;
          height: 94px;
          padding: 0 4px;
          padding-right: 24px;
          overflow: hidden;
          &__left {
            .shop-icon {
              display: inline-block;
              vertical-align: middle;
              width: 60px;
              height: 60px;
              background-position: 100%;
              background-size: 100% 100%;
              background-repeat: no-repeat;
              .bg-img("~@/assets/images/new-version/common/shop-icon");
            }
          }
          &__center {
            flex: 1;
            padding: 0 16px;
            display: flex;
            align-items: center;
            > span {
              line-height: 40px;
              height: 40px;
              color: #000000;
              font-size: 34px;
              font-family: Microsoft YaHei;
              float: left;

              &.van-tag {
                margin-left: 8px;
                padding: 0 4px;
                font-size: 20px;
                height: 32px;
                border-radius: 6px;
              }

              &.activity {
                font-size: 28px;
                line-height: 40px;
                margin-left: 10px;
                color: #ff5d13;
                float: right;
              }

              &.delivery-date {
                font-size: 24px;
                float: right;
                @{deep}.van-icon-arrow {
                  font-size: 22px;
                  color: #2e3033;
                  vertical-align: middle;
                }
              }
            }
          }
        }
      }

      .cart-list-item {
        > li {
          &:not(.border-last) {
            .border-1px(#e8e9eb);
          }
          padding: 26px 0;
          box-sizing: border-box;
          &.border-1 {
            border: 2px solid #e33240;
            border-bottom: 0;
            .comHide {
              @{deep}.icon-box {
                display: none;
              }
            }
          }
          &.border-middle {
            border: 2px solid #e33240;
            border-top: 0;
            border-bottom: 0;
            .comHide {
              @{deep}.icon-box {
                display: none;
              }
            }
          }
          &.border-last {
            border: 2px solid #e33240;
            border-top: 0;
            .comHide {
              @{deep}.icon-box {
                display: none;
              }
            }
          }
          // &:first-child {
          //   padding-top: 0;
          // }
          &.invalid-bg {
            background-color: #ebebeb !important;
          }
        }

        .com-item {
          display: flex;
          align-items: center;
          padding-right: 24px;
          >span {
            color: #e33240;
          }
          .num-input {
            width: 158px;
            height: 36px;
            margin-bottom: 10px;
            margin-left: auto;
            border: 1px solid #666666;
            border-radius: 4px;
            display: flex;
            align-items: center;
            .icon {
              width: 38px;
              height: 38px;
              flex: 0 0 38px;
              display: flex;
              align-items: center;
              justify-content: center;
              .icon-minus, .icon-plus {
                font-size: 22px;
              }
            }
            @{deep} .van-button {
              flex: 1;
              flex-shrink: 0;
              outline: none;
              border-top: 0;
              border-bottom: 0;
              border-left: 1px solid #666666;
              border-right: 1px solid #666666;
              border-radius: 0;
              color: #2e3033;
              background: rgb(252, 252, 252);
              text-align: center;
              font-size: 28px;
              height: 100%;
              padding: 0;
            }
          }
        }

        @{deep}.van-dialog {
          border-radius: 20px;
          .van-dialog__confirm {
            color: #fff;
            background: linear-gradient(90deg, rgba(255, 107, 82, 1) 0%, rgba(227, 50, 64, 1) 100%);
          }
        }

        .item-content {
          display: flex;
          > div {
            &:first-child {
              margin: auto 0;
              .format-img;
              background-size: 100% 100%;
              width: 190px;
              height: 190px;
            }

            &:last-child {
              flex: 1;
              padding: 0 24px;
              // display: flex;
              // flex-direction: column;
              > div {
                &.name {
                  line-height: 40px;
                  color: #333333;
                  font-size: 34px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  display: -webkit-box;
                  -webkit-line-clamp: 2;
                  -webkit-box-orient: vertical;
                  word-wrap: break-word;
                  word-break: break-all;
                }

                &.avg-weight {
                  margin-top: 6px;
                  >span {
                    padding: 2px 6px;
                    background: #ADADAD;
                    border-radius: 4px;
                    color: #ffffff;
                    font-size: 22px;
                  }
                }

                &.detail {
                  margin-top: 6px;
                  >span {
                    font-size: 22px;
                    &.sub-title {
                      color: #999999;
                      &:not(:first-child) {
                        margin-left: 30px;
                      }
                    }
                    &.sub-value {
                      color: #666666;
                      &.btn {
                        padding: 0 3px;
                        color: #FF0000;
                        border: 1px solid #FF0000;
                        border-radius: 8px;
                      }
                    }
                  }
                }

                &.attribute {
                  min-height: 40px;
                  color: #c1c4ca;
                  margin-top: 8px;
                  overflow: hidden;
                  > span {
                    float: left;
                    line-height: 40px;
                    font-size: 24px;
                    background: rgb(245, 245, 245);
                    padding: 0 10px;
                    margin-right: 20px;
                    > span {
                      padding-right: 26px;
                    }
                    > i {
                      font-size: 24px;
                      transform: rotate(90deg);
                      vertical-align: middle;
                    }
                  }
                }

                &.bottom {
                  margin-top: 10px;
                  display: flex;
                  align-items: flex-end;
                  justify-content: space-between;
                  .bottom-left {
                    .price-info {
                      color: #e33240;
                      font-size: 22px;
                      display: flex;
                      align-items: center;
                      .icon-today-price {
                        display: inline-block;
                        width: 26px;
                        height: 26px;
                        flex: 0 0 26px;
                        margin-right: 10px;
                        background-position: center;
                        background-size: 100% 100%;
                        background-repeat: no-repeat;
                        .bg-img('~@/assets/images/new-version/common/todayPrice');
                      }
                      > span {
                        &:first-child {
                          font-size: 32px;
                        }
                      }
                      .price {
                        font-size: 40px;
                        font-family: 'AvenirLTStd-Black';
                      }
                      .unit {
                        font-size: 24px;
                        font-family: 'AvenirLTStd-Black';
                      }
                    }
                  }
                  .bottom-right {
                    .num-input {
                      width: 158px;
                      height: 36px;
                      margin-bottom: 10px;
                      margin-left: auto;
                      border: 1px solid #666666;
                      border-radius: 4px;
                      display: flex;
                      align-items: center;
                      .icon {
                        width: 38px;
                        height: 38px;
                        flex: 0 0 38px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .icon-minus, .icon-plus {
                          font-size: 22px;
                        }
                      }
                      @{deep} .van-button {
                        flex: 1;
                        flex-shrink: 0;
                        outline: none;
                        border-top: 0;
                        border-bottom: 0;
                        border-left: 1px solid #666666;
                        border-right: 1px solid #666666;
                        border-radius: 0;
                        color: #2e3033;
                        background: rgb(252, 252, 252);
                        text-align: center;
                        font-size: 28px;
                        height: 100%;
                        padding: 0;
                      }
                    }
                    p {
                      color: #f95c5c;
                      text-align: center;
                      font-size: 22px;
                      height: 28px;
                      line-height: 28px;
                      margin: 0px 0px 0px auto;
                    }
                  }
                }
              }
            }
            .purchase-limit {
              color: #999999;
              font-size: 20px;
              line-height: 28px;
            }
          }
        }
      }
    }
  }

  .recommend {
    background: #FFFFFF;
    .title {
      padding: 40px 0;
      text-align: center;

      > span {
        color: #2e3033;
        font-size: 32px;
        letter-spacing: 1px;
        position: relative;

        &:after,
        &:before {
          .format-img;
          content: " ";
          overflow: hidden;
          position: absolute;
          width: 32px;
          height: 12px;
          top: 0;
          bottom: 0;
          margin: auto;
        }

        &:before {
          .bg-img("~@/assets/images/Group");
          left: -48px;
        }

        &:after {
          .bg-img("~@/assets/images/Group 2");
          right: -48px;
        }
      }
    }

    .list {
      .border-1px();
      padding-left: 24px;
      overflow: hidden;

      .item {
        width: 339px;
        float: left;
        margin-bottom: 24px;
      }

      .item:nth-child(odd) {
        margin-right: 24px;
      }
    }
  }

  .total-box {
    position: fixed;
    bottom: 92px;
    left: 0;
    width: 100%;
    height: 100px;
    > .line {
      .border-1px(rgb(240, 240, 240));
      height: 1px;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
    }

    .total {
      height: 100px;
      display: flex;
      align-items: center;

      > div {
        &:first-child {
          color: #5e6166;
          font-size: 30px;
          flex: 1;
        }

        &.content {
          min-width: 275px;
          color: #2e3033;
          font-size: 26px;

          span {
            float: right;
            color: #e33240;
            padding-right: 30px;
          }
        }
      }
    }
  }

  @{deep} .scroll-to-top-hover-btn-wrapper {
    bottom: 320px;
  }
}
</style>
