<template>
  <div class="shop-wrapper">
    <div class="shop-head-wrapper">
      <img
        v-if="shopInfo"
        v-lazy="{ src: allImgDomainName + shopInfo.adEntryEntryPicture, error: defaultImg }"
        class="shop-bg"
      >
      <div class="shop-head">
        <search-bar disabled @showSearchPage="showSearchPage = true">
          <van-icon name="arrow-left" slot="left" class="icon-back" @click="handleBack"/>
          <div
            v-if="tabIndex === 1"
            slot="right"
            class="switch"
            :class="{horizontal: getDisplayMode === 0}"
            @click="switchDisplayMode"
          ></div>
          <div class="icon-classification" slot="right" v-else></div>
        </search-bar>
        <div class="company-info-wrapper">
          <div class="company-info-box" ref="companyInfo">
            <div class="left">
              <img
                v-lazy="{ src: allImgDomainName + shopInfo.logo, error: require('@/assets/images/default/store_logo.jpg') }"
                alt
                class="shop-logo"
              >
              <div class="company">
                <h3 class="name">{{shopInfo.comName}}</h3>
                <p class="department">
                  {{shopInfo.storeName || shopInfo.name}}
                  <van-tag color="#f39800" plain v-if="shopInfo.type === '1'">养禽</van-tag>
                  <van-tag color="#f39800" plain v-else-if="shopInfo.type === '2'">养猪</van-tag>
                  <van-tag color="#f39800" plain v-else-if="shopInfo.type === '3'">乳业</van-tag>
                  <van-tag color="#f39800" plain v-else-if="shopInfo.type === '4'">鲜品</van-tag>
                  <van-tag color="#f39800" plain v-else-if="shopInfo.type === '5'">蛋业</van-tag>
                  <van-tag color="#f39800" plain v-else-if="shopInfo.type === '6'">熟食</van-tag>
                </p>
              </div>
            </div>
            <div class="right">
              <a
                href="javascript:;"
                class="collection-btn"
                :class="[shopInfo.isConcern?'del':'']"
                @click="collect"
              >{{shopInfo.isConcern ? '已收藏' : '+ 收藏'}}</a>
            </div>
          </div>
        </div>
        <div
          class="tabs"
          :class="{'head-fixed': headIsFixed}"
          ref="tabsWrapper"
          :style="{backgroundImage: 'url(' + (headIsFixed ? (shopInfo.adEntryEntryPicture?allImgDomainName+shopInfo.adEntryEntryPicture:defaultImg) : '')+ ')'}"
        >
          <ul class="list">
            <li
              class="item"
              v-for="(item, index) in tabs"
              :key="item.id"
              :class="{'active': tabIndex === index}"
              @click="changeTabs(index)"
            >{{item.tab}}</li>
          </ul>
          <i class="line" :class="changeClass"></i>
        </div>
      </div>
    </div>
    <div class="tabs-content">
      <div class="tab-item" :class="{'active': tabIndex === 0}">
        <div class="goods-list-wrapper">
          <div class="title-box">
            <div class="left">
              <h2 class="title">热销商品</h2>
              <span class="desc">经销商独家推荐</span>
            </div>
            <span @click="goMore" class="more-btn">查看更多</span>
          </div>
          <ul class="list">
            <li
              class="item"
              v-for="(item, index) in hotGoodsList"
              :key="index"
              @click="seeGoodsDetails(item.id, item.itemType, item.combItemId, item.isZZItem)"
            >
              <goods-item :data="item" @addToCart="addToCart"></goods-item>
            </li>
          </ul>
        </div>
        <div class="goods-list-wrapper">
          <div class="title-box">
            <div class="left">
              <h2 class="title">新品上市</h2>
              <span class="desc">经销商独家推荐</span>
            </div>
            <span @click="goMore" class="more-btn">查看更多</span>
          </div>
          <ul class="list">
            <li
              class="item"
              v-for="(item, index) in newGoodsList"
              :key="index"
              @click="seeGoodsDetails(item.id, item.itemType, item.combItemId, item.isZZItem)"
            >
              <goods-item :data="item" @addToCart="addToCart"></goods-item>
            </li>
          </ul>
        </div>
      </div>
      <div class="tab-item all-goods" :class="{'active': tabIndex === 1}">
        <!-- <product-sorting-toolbar @changeSort="changeSort">
          <i class="icon-horizontal" v-if="getDisplayMode === 0" @click="switchDisplayMode"></i>
          <i class="icon-vertical" v-else-if="getDisplayMode === 1" @click="switchDisplayMode"></i>
        </product-sorting-toolbar> -->
        <!-- goods-list start -->
        <transition name="van-fade">
          <ul class="vertical-list" v-if="getDisplayMode === 1">
            <van-list
              v-model="goodsLoading"
              :finished="goodsFinished"
              @load="goodsOnLoad"
              :offset="200"
            >
              <li class="item" v-for="(item, index) in goodsList" :key="'vertical-' + index">
                <goods-item-three :data="item"></goods-item-three>
              </li>
            </van-list>
          </ul>
        </transition>
        <transition name="van-fade">
          <ul class="horizontal-list" v-if="getDisplayMode === 0">
            <van-list
              v-model="goodsLoading"
              :finished="goodsFinished"
              @load="goodsOnLoad"
              :offset="200"
            >
              <li class="item" v-for="(item, index) in goodsList" :key="'horizontal-' + index">
                <goods-item-two :data="item"></goods-item-two>
              </li>
            </van-list>
          </ul>
        </transition>
        <div class="no-data-box" v-if="!goodsList.length">
          <no-data :loading="requestLoading"></no-data>
        </div>
        <!-- goods-list end -->
      </div>
      <div class="tab-item" :class="{'active': tabIndex === 2}">
        <div class="goods-list-wrapper">
          <div class="title-box">
            <div class="left">
              <h2 class="title">推荐产品</h2>
              <span class="desc">经销商独家推荐</span>
            </div>
            <!-- <span @click="goMore" class="more-btn">查看更多</span> -->
          </div>
          <ul class="list">
            <van-list v-model="recLoading" :finished="recFinished" @load="recOnLoad" :offset="200">
              <li
                class="item"
                v-for="(item, index) in recommendList"
                :key="index"
                @click="seeGoodsDetails(item.id, item.itemType, item.combItemId, item.isZZItem)"
              >
                <goods-item :data="item" @addToCart="addToCart"></goods-item>
              </li>
            </van-list>
          </ul>
        </div>
        <div class="no-data-box" v-if="!recommendList.length">
          <no-data :loading="requestLoading"></no-data>
        </div>
      </div>
      <div class="tab-item" :class="{'active': tabIndex === 3}">
        <div class="goods-list-wrapper">
          <div class="title-box">
            <div class="left">
              <h2 class="title">促销产品</h2>
              <span class="desc">经销商独家推荐</span>
            </div>
            <!-- <span @click="goMore" class="more-btn">查看更多</span> -->
          </div>
          <ul class="list">
            <!-- <van-list v-model="saleLoading" :finished="saleFinished" @load="saleOnLoad" :offset="200"> -->
            <li class="item" v-for="(item, index) in saleGoodsList" :key="index">
              <goods-item :data="item" @addToCart="addToCart"></goods-item>
            </li>
            <!-- </van-list> -->
          </ul>
        </div>
        <div class="no-data-box" v-if="!saleGoodsList.length">
          <no-data :loading="requestLoading"></no-data>
        </div>
      </div>
    </div>
    <!-- btn-group start -->
    <div class="btn-group van-hairline--top">
      <span @click="goApplication" class="btn">申请渠道关联</span>
      <a href="javascript:;" @click.stop="goServiceCenter"  class="btn">联系客服</a>
      <span class="btn fast" @click="goQuickOrder">快速下单</span>
    </div>
    <!-- btn-group end -->
    <!-- search-page start-->
    <transition name="fade">
      <div class="search-page" v-if="showSearchPage">
        <search v-model="searchValue" @back="showSearchPage = false"></search>
      </div>
    </transition>
    <!-- search-page end-->

    <!-- 置顶悬浮按钮 -->
    <scroll-to-top-hover-btn></scroll-to-top-hover-btn>
  </div>
</template>

<script>
import SearchBar from '@/components/search-bar/index'
import GoodsItem from '@/components/goods-item/goods-item'
import GoodsItemTwo from '@/components/goods-item/goods-item-two'
import GoodsItemThree from '@/components/goods-item/goods-item-three'
import Search from '@/components/search/search'
import NoData from '@/components/no-data'
import ScrollToTopHoverBtn from '@/components/scroll-to-top-hover-btn/index'
import { getScrollTop, getCookie } from '@/utils/common'
import { api } from '@/api'
import { allImgDomainNameMixin } from '@/assets/js/mixin'
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'shop',
  mixins: [allImgDomainNameMixin],
  components: {
    SearchBar,
    GoodsItem,
    Search,
    GoodsItemTwo,
    GoodsItemThree,
    NoData,
    ScrollToTopHoverBtn
  },
  data () {
    return {
      token: null,
      sort: [], // 搜索条件
      searchValue: '', // 搜索值
      showSearchPage: false, // 显示搜索页
      tabIndex: 0,
      tabs: [
        {
          id: 1,
          tab: '首页'
        },
        {
          id: 2,
          tab: '所有商品'
        },
        {
          id: 3,
          tab: '推荐产品'
        }
        // {
        //   id: 4,
        //   tab: '促销产品'
        // }
      ],
      headIsFixed: false, // 头部是否固定
      ownerId: null, // 渠道id
      shopInfo: {
        isConcern: false, // 是否收藏本店铺
        adEntryEntryPicture: '',
        comName: '',
        name: '',
        logo: ''
      },
      goodsList: [],
      cacheGoodsList: [],
      saleGoodsList: [], // 促销产品
      cacheSaleGoodsList: [],
      recommendList: [], // 推荐商品
      cacheRecommendList: [],
      hotGoodsList: [], // 热销商品
      newGoodsList: [], // 新品商品
      defaultImg: require('@/assets/images/shop-bg@3x.png'),
      goodsLoading: false,
      goodsFinished: true,
      goodsPageNo: 1,
      saleLoading: false,
      saleFinished: true,
      salePageNo: 1,
      recLoading: false,
      recFinished: true,
      recPageNo: 1,
      recordPageSize: 0, // 记录商品加载个数，以便返回加载到原位置
      requestLoading: false // 接口请求加载动画
    }
  },
  computed: {
    ...mapGetters(['getDisplayMode', 'allChannel']),
    changeClass () {
      switch (this.tabIndex) {
        case 0:
          return 'index1'
        case 1:
          return 'index2'
        case 2:
          return 'index3'
        // case 3:
        //   return 'index4'
        default:
          return ''
      }
    }
  },
  created () {
    this.token = sessionStorage.getItem('token')
    this.ownerId = this.$route.query.ownerId
    // 如果没有渠道id，重定向到首页
    if (!this.ownerId) {
      this.$router.replace({ path: '/' })
      return
    }
    this.tabOne()
    this.sort = []
  },
  mounted () {
    this.$nextTick(() => {
      this.tabsOffsetTop = this.$refs.tabsWrapper.offsetTop
      window.addEventListener('scroll', this.handleScroll)
    })
  },
  methods: {
    ...mapActions(['setDisplayMode']),
    // 切换显示方式
    switchDisplayMode () {
      this.getDisplayMode === 0 ? this.setDisplayMode(1) : this.setDisplayMode(0)
    },
    // 去客服中心
    goServiceCenter () {
      let ownerId = this.ownerId
      this.$router.push({
        path: '/callCenter',
        query: {
          ownerId
        }
      })
    },
    // 快速购买
    goQuickOrder () {
      if (this.token) {
        if (this.ownerId) {
          this.$router.push({
            name: 'quickOrder',
            query: { ownerId: this.ownerId, ownerName: this.shopInfo.name, storeName: this.shopInfo.storeName, ownerType: this.shopInfo.type }
          })
        } else {
          this.$toast('请先申请买卖关系')
        }
      } else {
        this.$toast('请先登录')
        this.$router.push({ path: '/loginRandom', query: { redirect: this.$route.fullPath } })
      }
    },
    // 所有商品上拉加载
    goodsOnLoad () {
      this.goodsPageNo++
      this.getGoodsList()
    },
    // 推荐商品上拉加载
    recOnLoad () {
      this.recPageNo++
      this.getRecommendGoods(this.ownerId)
    },
    // 促销商品上拉加载
    // saleOnLoad() {
    //   this.salePageNo++;
    //   this.getGoodsList();
    // },
    // 查看更多
    goMore () {
      this.changeTabs(1)
    },
    // 修改排序方式
    changeSort (item) {
      this.sort = []
      let sort = {}
      item.sortOrder === 2 ? (sort.order = 'asc') : (sort.order = 'desc')
      switch (item.id) {
        case 1:
          this.sort = []
          break
        case 2:
          sort.field = 'saleQty'
          this.sort.push(sort)
          break
        case 3:
          sort.field = 'sellTime'
          this.sort.push(sort)
          break
        case 4:
          sort.field = 'referencePrice'
          this.sort.push(sort)
          break
      }

      this.tabTwo()
    },
    // 查看商品详情
    seeGoodsDetails (id, type, combItemId, isZZItem) {
      this.$router.push({ path: isZZItem !== '1' ? '/goodsDetails' : '/breedingPigDetails', query: { id, type, combItemId } })
    },
    goApplication () {
      if (this.token) {
        this.$router.push({ name: 'customerApplication' })
      } else {
        this.$toast('请先登录')
        this.$router.push({ path: '/loginRandom', query: { redirect: this.$route.fullPath } })
      }
    },
    // 后退
    handleBack () {
      this.$router.go(-1)
    },
    // 监听滚动事件
    handleScroll () {
      if (getScrollTop() > this.tabsOffsetTop) {
        this.headIsFixed = true
      } else {
        this.headIsFixed = false
      }
    },
    // 选项卡切换
    changeTabs (index) {
      this.tabIndex = index
      document.documentElement.scrollTop = 0
      if (index === 0) {
        this.tabOne()
      } else if (index === 1) {
        this.tabTwo()
      } else if (index === 2) {
        this.tabThree()
      } else if (index === 3) {
      }
    },
    // 首页所需调用接口
    tabOne () {
      this.getAdPlace().then(id => { // 查询广告位置
        this._queryBanner(id) // 查询轮播图
      })
      this.getShopInfo()
      this.shopConcernState()
      this.getHotGoods(this.ownerId) // 获取热销商品
      this.getNewGoods(this.ownerId)
    },
    tabTwo () {
      this.$nextTick(() => {
        this.goodsPageNo = 1
        this.cacheGoodsList = []
        this.goodsList = []
        this.getGoodsList()
      })
    },
    tabThree () {
      this.$nextTick(() => {
        this.recPageNo = 1
        this.cacheRecommendList = []
        this.recommendList = []
        this.getRecommendGoods(this.ownerId)
      })
    },
    // 轮播图
    _queryBanner (id) {
      let params = {
        adPlaceId: id,
        storeId: this.ownerId
      }
      if (sessionStorage.getItem('token')) {
        if (this.$store.state.intoPage === 0 && sessionStorage.getItem('defaultCustomer')) {
          params.customerId = JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
        } else if (this.$store.state.intoPage === 1 && this.$store.state.customer.current && this.$store.state.customer.current.customerId) {
          params.customerId = this.$store.state.customer.current.customerId
        }
      }

      api.commonCall(params, 'queryAdList').then(res => {
        if (res.success) {
          if (res.data.list && res.data.list.length) {
            let arr = []
            res.data.list.forEach(v => {
              arr = arr.concat(v.adList)
            })
            if (arr && arr.length) {
              this.shopInfo.adEntryEntryPicture = arr[0].entryPicture
            } else {
              this.shopInfo.adEntryEntryPicture = ''
            }
          }
        }
      })
    },
    // 获取广告位置
    getAdPlace () {
      return api.commonCall({}, 'queryAdPlace').then(res => {
        if (res.success) {
          for (let i = 0; i < res.data.list.length; i++) {
            if (res.data.list[i].number === 'shop') { // 店铺首页
              return res.data.list[i].id
            }
          }
        }
        return ''
      })
    },
    // 获取顶部店铺相关信息
    getShopInfo () {
      api.customerInfo({ id: this.ownerId }).then(res => {
        if (res.success) {
          this.shopInfo.logo = res.data.useImg
          this.shopInfo.name = res.data.name
          this.shopInfo.storeName = res.data.storeName

          let findChannel = this.allChannel.find(o => o.channelId === this.ownerId)
          if (findChannel) {
            this.shopInfo.type = findChannel.channelType
          } else {
            this.shopInfo.type = ''
          }
        }
      })
    },
    // 店铺是否被关注
    shopConcernState () {
      api.commonCall({ ownerId: this.ownerId }, 'queryShopConcernState').then(res => {
        if (res.success) {
          this.shopInfo.isConcern = res.data.status
        }
      })
    },
    // 获取热销商品
    getHotGoods (ownerId) {
      const params = {
        pageNo: 1,
        pageSize: 6,
        ownerId: ownerId
      }
      if (this.token) {
        if (this.$store.state.intoPage === 0 && sessionStorage.getItem('defaultCustomer')) {
          params.customerId = JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
        } else if (this.$store.state.intoPage === 1 && this.$store.state.customer.current && this.$store.state.customer.current.customerId) {
          params.customerId = this.$store.state.customer.current.customerId
        }
      }

      api.commonCall(params, 'queryHotSale').then(res => {
        if (res.success) {
          res.data.list.forEach(v => {
            // 重新定义字段名
            v.maxBuyQty = v.max_buy_qty || 0
            v.minBuyQty = v.min_buy_qty || 0
            v.showStock = { show_stock: v.show_stock, cur_stock: v.cur_stock || 0 }
            v.weightRange = v.weight_range || []
            v.specification && v.specification[0] && (v.maxAvgWeight = v.specification[0].maxAvgWeight)
          })

          this.hotGoodsList = res.data.list
        }
      })
    },
    // 获取新品商品
    getNewGoods (ownerId) {
      const params = {
        pageNo: 1,
        pageSize: 6,
        ownerId: ownerId
      }
      if (this.token) {
        if (this.$store.state.intoPage === 0 && sessionStorage.getItem('defaultCustomer')) {
          params.customerId = JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
        } else if (this.$store.state.intoPage === 1 && this.$store.state.customer.current && this.$store.state.customer.current.customerId) {
          params.customerId = this.$store.state.customer.current.customerId
        }
      }

      api.commonCall(params, 'queryNewGoods').then(res => {
        if (res.success) {
          res.data.list.forEach(v => {
            // 重新定义字段名
            v.maxBuyQty = v.max_buy_qty || 0
            v.minBuyQty = v.min_buy_qty || 0
            v.showStock = { show_stock: v.show_stock, cur_stock: v.cur_stock || 0 }
            v.weightRange = v.weight_range || []
            v.specification && v.specification[0] && (v.maxAvgWeight = v.specification[0].maxAvgWeight)
          })

          this.newGoodsList = res.data.list
        }
      })
    },
    // 获取推荐商品
    getRecommendGoods (ownerId) {
      this.requestLoading = true
      const params = {
        pageNo: this.recPageNo,
        pageSize: this.recordPageSize || 6,
        ownerId: ownerId
      }
      if (this.token) {
        if (this.$store.state.intoPage === 0 && sessionStorage.getItem('defaultCustomer')) {
          params.customerId = JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
        } else if (this.$store.state.intoPage === 1 && this.$store.state.customer.current && this.$store.state.customer.current.customerId) {
          params.customerId = this.$store.state.customer.current.customerId
        }
      }

      api.commonCall(params, 'queryRecommendGoods').then(res => {
        this.requestLoading = false
        if (res.success) {
          res.data.list.forEach(v => {
            // 重新定义字段名
            v.maxBuyQty = v.max_buy_qty || 0
            v.minBuyQty = v.min_buy_qty || 0
            v.showStock = { show_stock: v.show_stock, cur_stock: v.cur_stock || 0 }
            v.weightRange = v.weight_range || []
            v.specification && v.specification[0] && (v.maxAvgWeight = v.specification[0].maxAvgWeight)
          })

          this.cacheRecommendList = this.cacheRecommendList.concat(res.data.list)
          this.recommendList.splice(0, this.recommendList.length, ...this.cacheRecommendList)
          this.$nextTick(() => {
            this.recFinished = false
            this.recLoading = false

            if (this.cacheRecommendList.length >= res.data.totalNumber) {
              this.recFinished = true
            }
          })
        }
      })
    },
    // 查询所有商品
    getGoodsList () {
      this.requestLoading = true

      const params = {
        pageNo: this.goodsPageNo,
        pageSize: this.recordPageSize || 6,
        isGetWtRange: 0,
        isGetStock: 0,
        ownerId: this.ownerId,
        dataSource: 'DB'
      }

      if (this.token) {
        if (this.$store.state.intoPage === 0 && sessionStorage.getItem('defaultCustomer')) {
          params.customerId = JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
        } else if (this.$store.state.intoPage === 1 && this.$store.state.customer.current && this.$store.state.customer.current.customerId) {
          params.customerId = this.$store.state.customer.current.customerId
        }
      }

      api.commonCall(params, 'queryGoodsFromDb').then(res => {
        this.requestLoading = false
        if (res.success) {
          res.data.list.forEach(v => {
            // 重新定义字段名
            v.maxBuyQty = v.max_buy_qty || 0
            v.minBuyQty = v.min_buy_qty || 0
            v.showStock = { show_stock: v.show_stock, cur_stock: v.cur_stock || 0 }
            v.weightRange = v.weight_range || []
            v.specification && v.specification[0] && (v.maxAvgWeight = v.specification[0].maxAvgWeight)
          })

          this.cacheGoodsList = this.cacheGoodsList.concat(res.data.list)
          this.goodsList.splice(0, this.goodsList.length, ...this.cacheGoodsList)
          this.$nextTick(() => {
            this.goodsFinished = false
            this.goodsLoading = false

            if (this.cacheGoodsList.length >= res.data.totalNumber) {
              this.goodsFinished = true
            }
          })
        }
      })
    },
    // 收藏店铺
    collect () {
      if (this.token) {
        if (this.shopInfo.isConcern) {
          this.$dialog.confirm({
            title: '提示',
            message: '确定要取消关注该店铺？'
          }).then(() => {
            api.commonCall({ ownerIdList: [this.ownerId] }, 'shopConcernDel').then(res => {
              if (res.success) {
                this.shopInfo.isConcern = false
              }
            })
          }).catch(() => {

          })
        } else {
          api.commonCall({ ownerId: this.ownerId }, 'shopConcernAdd').then(res => {
            if (res.success) {
              this.shopInfo.isConcern = true
            }
          })
        }
      } else {
        this.$toast('请先登录')
        this.$router.push({ path: '/loginRandom', query: { redirect: this.$route.fullPath } })
      }
    },
    // 初始化参数
    formatParams (v, combList) {
      let paramItem = []
      if (!(+v.itemType === 1)) {
        let item = {
          ownerId: v.ownerId,
          itemId: v.itemId,
          isChoose: '1',
          customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
        }

        item.unitId = v.saleUnitId + ''
        item.assistUnitId = v.isAssistOrder ? v.assistUnitId + '' : null

        if (v.isAssistOrder) {
          item.assistQty = 1
        } else {
          item.qty = 1
        }

        if (v.weightRange && v.weightRange.length && v.weightRange[0].id) {
          item.wtRangeId = v.weightRange[0].id + ''
        }

        if (v.assistAttrArray && v.assistAttrArray[0]) {
          item.assistattrId = JSON.parse(v.assistAttrArray[0]).id + ''
        }

        paramItem.push(item)
      } else {
        paramItem.push({
          isChoose: '1',
          combItemId: v.combItemId,
          entryType: '1',
          ownerId: v.ownerId,
          qty: 1,
          customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
        })
        combList.forEach(child => {
          let item = {
            ownerId: v.ownerId,
            itemId: child.id,
            isChoose: '1',
            entryType: '2',
            combItemId: v.combItemId,
            combItemEntryId: child.combEntryId,
            combBaseQty: child.baseQty,
            customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
          }

          item.unitId = child.saleUnit + ''
          item.assistUnitId = child.isAssistOrder ? child.assistUnit + '' : null

          if (child.isAssistOrder) {
            item.assistQty = child.baseQty * 1
          } else {
            item.qty = child.baseQty * 1
          }

          if (child.assistattrId && child.assistattrId !== ' ') item.assistattrId = child.assistattrId

          paramItem.push(item)
        })
      }

      return paramItem
    },
    // 加入购物车
    addToCart (goodItem) {
      if (this.token) {
        let params = {
          items: [],
          itemList: [],
          customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
        }
        let ids = {}
        let list = []
        let callArray = [] // 调用queryGoodsDetail接口数组

        // itemIsBuy传参
        let item2 = {
          itemId: goodItem.itemId,
          qty: 1,
          type: +goodItem.itemType === 1 ? '1' : '0'
        }

        if (goodItem.assistAttrArray && goodItem.assistAttrArray[0] && !(+goodItem.itemType === 1)) {
          item2.assistAttrId = JSON.parse(goodItem.assistAttrArray[0]).id + ''
        }

        let item3 = {
          id: goodItem.itemId,
          combItemId: +goodItem.itemType === 1 ? goodItem.combItemId : '',
          type: +goodItem.itemType === 1 ? '1' : '0',
          ownerId: goodItem.ownerId
        }

        if (!(+goodItem.itemType === 1)) {
          item3.name = goodItem.itemName
        }

        params.items.push(item2)
        params.itemList.push(item3)

        // saveGoods传参
        if (!(+goodItem.itemType === 1)) {
          ids[goodItem.itemId] = this.formatParams(goodItem)
        } else {
          let item = goodItem
          let p = api.queryGoodsDetail({ id: item.combItemId, type: '1' }).then(res => {
            if (res.success) {
              ids[item.itemId] = this.formatParams(item, res.data.combList)
            } else {
              // this.$toast.fail('部分组合促销信息查询失败')
            }
          })
          callArray.push(p)
        }

        if (!params.items.length) {
          return
        }

        Promise.all(callArray).then(() => {
          api.itemIsBuy(params).then(res => {
            if (res.success) {
              if (!res.data.list.length) {
                this.$toast.fail('商品已失效')
                return
              }

              let hasInValid = params.items.length !== res.data.list.length

              res.data.list.forEach(v => {
                if (+v.isBuy) {
                  list = list.concat(ids[v.itemId])
                }
              })

              if (!list.length) {
                this.$toast.fail(hasInValid ? '该商品暂时不能加入购物车或已失效' : '该商品暂时不能加入购物车')
                return
              }

              api.saveGoods({ list }).then(res => {
                if (res.success) {
                  let param = {
                    page: 1,
                    pageSize: 999,
                    isGetCountOnly: 1,
                    customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
                  }
                  if (this.$store.state.intoPage === 0 && getCookie('selectedChannel')) {
                    param.owner = JSON.parse(getCookie('selectedChannel')).channelId
                  } else if (this.$store.state.intoPage === 1 && this.$store.state.channel.currentChannel && this.$store.state.channel.currentChannel.channelId) {
                    param.owner = this.$store.state.channel.currentChannel.channelId
                  }
                  api.queryCart(param).then(res => {
                    if (res.success) {
                      this.$store.dispatch('setShoppingCartCount', res.data.count)
                    }
                  })
                  this.$toast.success('加入购物车成功')
                } else {
                  res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
                }
              })
            } else {
              res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
            }
          })
        })
      } else {
        this.$toast('请先登录')
        this.$router.push({ path: '/loginRandom', query: { redirect: this.$route.fullPath } })
      }
    }
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      if (from.query.pageSize) {
        vm.recordPageSize = +from.query.pageSize
      }
      if (from.query.tabIndex) {
        vm.tabIndex = +from.query.tabIndex
        vm.changeTabs(vm.tabIndex)
      }
    })
  },
  beforeRouteLeave (to, from, next) {
    if (to.path === '/goodsDetails') {
      to.query.tabIndex = this.tabIndex
      switch (this.tabIndex) {
        case 1:
          to.query.pageSize = this.goodsList.length
          break
        case 2:
          to.query.pageSize = this.recommendList.length
          break
        case 3:
          to.query.pageSize = this.saleGoodsList.length
          break
        default:
          break
      }
    }
    next()
  },
  destroyed () {
    window.removeEventListener('scroll', this.handleScroll)
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.shop-wrapper {
  width: 100%;
  .shop-head-wrapper {
    width: 100%;
    height: 330px;
    position: relative;
    .shop-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .shop-head {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.7);
      .icon-back {
        font-size: 40px;
        color: #fff;
      }
      .icon-classification {
        margin-left: 20px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        &::after {
          display: block;
          content: "";
          width: 48px;
          height: 48px;
          .bg-img("~@/assets/images/icon/icon-classification");
          background-size: 100% 100%;
        }
      }
      .switch {
        margin-left: 20px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        &::before {
          display: inline-block;
          width: 48px;
          height: 48px;
          content: "";
          .bg-img("~@/assets/images/icon/icon-vertical-column-white");
          background-size: 100% 100%;
        }
        &.horizontal {
          &::before {
            display: inline-block;
            width: 48px;
            height: 48px;
            content: "";
            .bg-img("~@/assets/images/icon/icon-horizontal-column-white");
            background-size: 100% 100%;
          }
        }
      }
      @{deep} .search-bar {
        background-color: rgba(0, 0, 0, 0);
        .search-input-wrapper {
          background: rgba(242, 242, 242, 0.5);
        }
      }
      .company-info-wrapper {
        overflow: hidden;
        .company-info-box {
          padding: 0 24px;
          margin-top: 30px;
          display: flex;
          color: #fff;
          overflow: hidden;
          .left {
            flex: 1;
            display: flex;
            .shop-logo {
              width: 80px;
              height: 80px;
            }
            .company {
              height: 80px;
              margin-left: 24px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              .name {
                font-size: 34px;
                line-height: 42px;
              }
              .department {
                font-size: 32px;
                line-height: 40px;
                color: rgba(255, 255, 255, 1);
                @{deep}.van-tag {
                  margin-left: 10px;
                  padding: 2px 6px;
                  font-size: 20px;
                  height: 32px;
                  line-height: normal;
                  background-color: transparent;
                }
              }
            }
          }
          .right {
            // flex: 0 0 170px;
            display: flex;
            align-items: center;
            justify-content: center;
            .collection-btn {
              display: block;
              width: 170px;
              line-height: 60px;
              background: linear-gradient(
                90deg,
                rgba(255, 107, 82, 1) 0%,
                rgba(227, 50, 64, 1) 100%
              );
              border-radius: 35px;
              color: #fff;
              font-size: 26px;
              text-align: center;
              &.del {
                background: rgba(255, 255, 255, 0.5);
              }
            }
          }
        }
      }
      .tabs {
        width: 100%;
        height: 88px;
        position: relative;
        top: 36px;
        overflow: hidden;
        .list {
          width: 100%;
          height: 100%;
          display: flex;
          .item {
            height: 100%;
            line-height: 76px;
            flex: 1;
            text-align: center;
            font-size: 28px;
            letter-spacing: 2px;
            color: #b7b7b7;
            &.active {
              color: #fff;
            }
          }
        }
        .line {
          width: 54px;
          height: 4px;
          background-color: #fff;
          position: absolute;
          left: 0;
          bottom: 8px;
          transition: transform 0.5s;
          // &.index1 {
          //   transform: translateX(66.5px);
          // }
          // &.index2 {
          //   transform: translateX(187.5 + 66.5px);
          // }
          // &.index3 {
          //   transform: translateX(187.5 * 2 + 66.5px);
          // }
          // &.index4 {
          //   transform: translateX(187.5 * 3 + 66.5px);
          // }
          &.index1 {
            transform: translateX(98px);
          }
          &.index2 {
            transform: translateX(250 + 98px);
          }
          &.index3 {
            transform: translateX(250 * 2 + 98px);
          }
        }
        &.head-fixed {
          position: fixed;
          top: 0;
          left: 0;
          z-index: 99;
          background: url("~@/assets/images/shop-bg@3x.png") bottom center
            no-repeat;
          background-size: 100% 100%;
          .list {
            background-color: rgba(0, 0, 0, 0.7);
          }
        }
      }
    }
  }
  .tabs-content {
    width: 100%;
    padding-bottom: 100px;
    .tab-item {
      width: 100%;
      display: none;
      &.active {
        display: block;
      }
      &.all-goods {
        .icon-horizontal {
          display: inline-block;
          width: 40px;
          height: 40px;
          .bg-img("~@/assets/images/icon/icon-horizontal-column");
          background-size: 100% 100%;
          vertical-align: middle;
        }
        .icon-vertical {
          display: inline-block;
          width: 40px;
          height: 40px;
          .bg-img("~@/assets/images/icon/icon-vertical-column");
          background-size: 100% 100%;
          vertical-align: middle;
        }
        .horizontal-list {
          margin-top: 6px;
          overflow: hidden;
          .item {
            width: 372px;
            float: left;
            margin-bottom: 6px;
          }
          .item:nth-child(odd) {
            margin-right: 6px;
          }
        }

        .vertical-list {
          padding-top: 14px;
          background-color: #fff;
        }
      }
      .goods-list-wrapper {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding-left: 24px;
        padding-right: 24px;
        background-color: #fff;
        .list {
          margin-top: 40px;
          overflow: hidden;
          .border-1px();
          .item {
            width: 339px;
            float: left;
            margin-bottom: 24px;
          }
          .item:nth-child(odd) {
            margin-right: 24px;
          }
        }
      }
      .title-box {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 70px;
        .title {
          font-size: 40px;
        }
        .desc {
          font-size: 24px;
          color: #8e939a;
          margin-top: 5px;
        }
        .more-btn {
          font-size: 26px;
          color: #e33240;
          margin-top: 26px;
        }
      }
    }
  }
  .btn-group {
    width: 100%;
    height: 100px;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #fff;
    display: flex;
    .btn {
      flex: 1;
      text-align: center;
      line-height: 100px;
      font-size: 28px;
      color: #2e3033;
      &:nth-child(2) {
        position: relative;
        &::before {
          display: block;
          content: " ";
          width: 1px;
          height: 48px;
          background: rgba(232, 233, 235, 1);
          position: absolute;
          top: 26px;
          left: 0;
        }
        &::after {
          display: block;
          content: " ";
          width: 1px;
          height: 48px;
          background: rgba(232, 233, 235, 1);
          position: absolute;
          top: 26px;
          right: 0;
        }
      }
      &.fast::before {
        content: " ";
        display: inline-block;
        width: 28px;
        height: 38px;
        .bg-img("~@/assets/images/icon/icon-fast");
        background-size: 100% 100%;
        vertical-align: middle;
        margin-right: 16px;
      }
    }
  }
  .search-page {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 100;
  }
}
</style>
