<template>
  <div class="goods-tool-bar">
    <ul class="list">
      <li
        class="item"
        v-for="(item, index) in data"
        :key="index"
        :class="{active: index === currentSortIndex}"
        @click="change(index, item)"
      >
        {{item.name}}
        <div class="icon-group" v-if="index !== 0">
          <i class="up" :class="{'current': item.sortOrder === 2 && currentSortIndex === index}"></i>
          <i class="down" :class="{'current': item.sortOrder === 1 && currentSortIndex === index}"></i>
        </div>
      </li>
      <li class="item screen" :class="{isScreening}" @click.stop="showAttributeFiltering">
        <slot>{{isScreening ? '已筛选' : '筛选'}}</slot>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'product-sorting-toolbar',
  props: {
    currentIndex: {
      default: 0
    },
    data: {
      type: Array,
      default () {
        return [
          {
            id: 1,
            name: '综合',
            sortOrder: 1
          },
          {
            id: 2,
            name: '销量',
            sortOrder: 1
          },
          {
            id: 3,
            name: '上新',
            sortOrder: 1
          },
          {
            id: 4,
            name: '价格',
            sortOrder: 1
          }
        ]
      }
    },
    isScreening: {
      type: Boolean,
      default: false
    }
  },
  created () {
    this.currentSortIndex = this.currentIndex
  },
  data () {
    return {
      // 排序方式  1：降序   2：升序
      currentSortIndex: 0 // 当前排序
    }
  },
  methods: {
    // 显示筛选
    showAttributeFiltering () {
      this.$emit('showAttributeFiltering')
    },
    change (index, item) {
      if (this.currentSortIndex === index) {
        this.data[index].sortOrder === 1
          ? (this.data[index].sortOrder = 2)
          : (this.data[index].sortOrder = 1)
      } else {
        this.currentSortIndex = index
        this.data.forEach((item, index) => {
          this.$set(this.data[index], 'currentSort', false)
        })
      }
      this.$emit('changeSort', item)
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.goods-tool-bar {
  height: 88px;
  overflow: hidden;
  background-color: #fff;
  .border-1px();
  .list {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 40px;
    box-sizing: border-box;
    .item {
      font-size: 28px;
      flex: 1;
      &.screen {
        flex: 0 0 120px;
        text-align: center;
        position: relative;
        &::before {
          content: "";
          height: 40px;
          width: 1px;
          background-color: #e8e9eb;
          position: absolute;
          left: 0;
          top: 0;
        }
        &.isScreening {
          color: #e33240;
        }
      }
      .icon-group {
        height: 44px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 6px;
        .up {
          display: block;
          width: 0;
          height: 0;
          border-left: 9px solid transparent;
          border-right: 9px solid transparent;
          border-bottom: 9px solid #c1c4ca;
          margin-top: 8px;
          &.current {
            border-bottom: 9px solid #e33240;
          }
        }
        .down {
          display: block;
          width: 0;
          height: 0;
          border-left: 9px solid transparent;
          border-right: 9px solid transparent;
          border-top: 9px solid #c1c4ca;
          margin-top: 5px;
          &.current {
            border-top: 9px solid #e33240;
          }
        }
      }
      &.active {
        color: #e33240;
      }
    }
  }
}
</style>
