<template>
  <div class="drop-down-menu-wrapper" @click="handelHide" v-show="show">
    <div class="content" v-if="show" @click.stop>
      <div class="arrow"></div>
      <ul class="list">
        <li
          class="item"
          v-for="(item, index) in data"
          :key="index"
          @click.stop="goToPage(item.path)"
        >
          <span class="icon" :style="{backgroundImage: `url(${item.imgUrl})`}">{{item.subTitle}}</span>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: 'drop-down-menu',
  props: {
    show: {
      type: Boolean,
      default: true
    },
    data: {
      type: Array,
      required: true
    }
  },
  data () {
    return {}
  },
  watch: {
    show (val) {
      val ? (document.body.style.overflow = 'hidden') : (document.body.style.overflow = 'visible')
    }
  },
  created () {},
  methods: {
    // 跳转页面
    goToPage (path) {
      this.$router.push({ path })
    },
    // 取消
    handelHide () {
      this.$emit('hide')
    }
  },
  destroyed () {
    if (document.body.style.overflow === 'hidden') {
      document.body.style.overflow = 'visible'
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.drop-down-menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0);
  .content {
    min-width: 180px;
    position: absolute;
    background: rgba(51, 51, 51, .70);
    right: 15px;
    top: 100px;
    font-size: 28px;
    text-align: center;
    padding: 0 28px;
    z-index: 1000;
    border-radius: 4px;
    .arrow {
      font-size: 20px;
      position: absolute;
      top: -8px;
      right: 24px;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 8px solid rgba(51, 51, 51, .70);
    }
    .list {
      .item {
        >span {
          color: #ccc;
          line-height: 88px;
          padding-left: 68px;
          display: block;
          &.icon {
            background-repeat: no-repeat;
            background-position: 14px center;
            background-size: 40px;
          }
        }
      }
    }
  }
}
</style>
