<template>
  <div class="ws-admin-company-register">
    <div class="ws-header">
      <van-icon name="arrow-left" class="arrow-left" @click="_goPev"/>
    </div>
    <p class="title">企业用户注册</p>
    <div class="userNumber">
      <div class="left van-left">+86
        <i class="up-inco"></i>
      </div>
      <div class="right" :class="{'redbor': select}">
        <van-field
          class="from-input"
          v-model="phone"
          maxlength="11"
          @focus="telNumFocus"
          @blur="telNumBlur"
          clearable
          placeholder="请输入手机号码"
        />
      </div>
    </div>
    <div class="validateNum" :class="{'redbor': selects}">
      <van-field
        class="from-input"
        maxlength="6"
        v-model="validate"
        @focus="valiFocus"
        @blur="valiBlur"
        clearable
        placeholder="请输入验证码"
      />
      <span class="valiNum" :class="{'can-not-click': isGetCodeFlag}" v-if="countdown<1" @click="_getCode">获取验证码</span>
      <span class="time" v-if="countdown>=1">{{countdown}}秒后重新获取</span>
    </div>
    <div class="register">
      <van-button
        round
        size="large"
        class="login-btn"
        :class="{'large-alp': opacity}"
        @click="_goNext"
      >下一步</van-button>
    </div>
    <div class="com-register">
      <span @click="_userRegister">切换个人用户注册</span>
    </div>
    <van-dialog
      v-model="show"
      show-confirm-button
      show-cancel-button
      confirm-button-text="同意并继续"
      @cancel="_goIndex"
    >
      <div class="agreement">
        <span class="title">温氏销售平台注册协议</span>
        <div class="agree-content">
          <p class="review-tips">【审慎阅读】您在申请注册流程中点击同意前，应当认真阅读以下协议。请您务必审慎阅读、充分理解协议中相关条款内容，其中包括：</p>
          <ul>
            <li>1、与您约定免除或限制责任的条款；</li>
            <li>2、与您约定法律适用和管辖的条款；</li>
            <li>3、其他以粗体下划线标识的重要条款。</li>
            <li>如您对协议有任何疑问，可向平台客服咨询。</li>
          </ul>
          <p class="review-tips">【特别提示】当您按照注册页面提示填写信息、阅读并同意协议且完成全部注册程序后，即表示您已充分阅读、理解并接受协议的全部内容。</p>
          <span class="stop-res">阅读协议的过程中，如果您不同意相关协议或其中任何条款约定，您应立即停止注册程序。</span>
          <span class="clause" @click="_goRegisterRule">《温氏企业用户注册协议和隐私条款》</span>
        </div>
      </div>
    </van-dialog>
  </div>
</template>

<script>
import { isPhone } from '@/utils/common'
import { api } from '@/api'

export default {
  name: 'register',
  data () {
    return {
      phone: '',
      validate: '',
      opacity: false,
      select: false,
      selects: false,
      show: true,
      countdown: 0, // 倒数60秒计时
      params: {},
      isGetCodeFlag: false // 记录获取手机验证码请求状态
    }
  },
  created () {
    this.params = this.$route.params
    this.phone = this.params.phone ? this.params.phone : ''
    this.validate = this.params.validate ? this.params.validate : ''
  },
  methods: {
    telNumFocus () {
      this.select = true
    },
    telNumBlur () {
      this.select = false
    },
    valiFocus () {
      this.selects = true
    },
    valiBlur () {
      this.selects = false
    },
    _goIndex () {
      this.$router.push({ path: '/' })
    },
    _goNext () {
      if (!isPhone(this.phone)) {
        this.$toast('手机号码有误')
      } else if (!this.validate) {
        this.$toast('请输入验证码')
      } else {
        api.userIsExist({ phone: this.phone }).then(res => {
          if (res.success) {
            if (res.data && !+res.data.isExist) {
              api.wsSMSValidate({ account: this.phone, smsCode: this.validate }).then(res => {
                if (res.success && (res.data && res.data.code === '01')) {
                  let params = this.params
                  params.phone = this.phone
                  params.validate = this.validate
                  this.$router.push({
                    name: 'companyRegisterInfo',
                    params: params
                  })
                } else {
                  this.$toast((res.data && res.data.msg) || res.message || '验证失败')
                }
              })
            } else {
              this.$toast('用户已存在')
            }
          } else {
            res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
          }
        })
      }
    },
    _userRegister () {
      this.$router.push({ name: 'register' })
    },
    _goPev () {
      this.$router.replace({ name: 'loginRandom' })
    },
    _goRegisterRule () {
      this.$router.push({ name: 'registerRule' })
    },
    // 60s倒数计时函数
    _setTime () {
      if (this.countdown === 0) {
        return
      } else {
        this.countdown--
      }
      setTimeout(() => {
        this._setTime()
      }, 1000)
    },
    _getCode () {
      if (this.isGetCodeFlag) return
      this.isGetCodeFlag = true

      if (!isPhone(this.phone)) {
        this.$toast('手机号码有误')
        setTimeout(() => {
          this.isGetCodeFlag = false
        }, 1000)
      } else {
        api.userIsExist({ phone: this.phone }).then(res => {
          if (res.success) {
            if (res.data && !+res.data.isExist) {
              let params = { account: this.phone, terminal: 'mobile' }

              api.wsSendSMS(params).then(res => {
                if (res.success && (res.data && res.data.success)) {
                  this.$toast((res.data && res.data.msg) || '验证码已发送')
                  this.countdown = +res.data.timeout || 60
                  this._setTime() // 倒数计时函数
                  setTimeout(() => {
                    this.isGetCodeFlag = false
                  }, 1000)
                } else {
                  this.$toast((res.data && res.data.msg) || '获取验证码失败')
                  setTimeout(() => {
                    this.isGetCodeFlag = false
                  }, 1000)
                }
              }, err => {
                err.message && this.$toast(err.message)
                setTimeout(() => {
                  this.isGetCodeFlag = false
                }, 1000)
              })
            } else {
              this.$toast('用户已存在')
              setTimeout(() => {
                this.isGetCodeFlag = false
              }, 1000)
            }
          } else {
            res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
            setTimeout(() => {
              this.isGetCodeFlag = false
            }, 1000)
          }
        })
      }
    }
  },
  watch: {
    phone (val) {
      if (val !== '' && this.validate !== '') {
        this.opacity = true
      }
    },
    validate (val) {
      if (val !== '' && this.phone !== '') {
        this.opacity = true
      }
    }
  },
  // 从注册页回来，不再显示注册规则
  beforeRouteEnter (to, from, next) {
    // let that = this
    if (from.path === '/companyRegisterInfo') {
      next(vm => {
        vm.$data.show = false
      })
    }
    next()
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.ws-admin-company-register {
  width: 100%;
  height: 100%;
  .ws-header {
    padding: 36px 30px;
    .arrow-left {
      font-size: 32px;
      font-weight: bold;
    }
  }
  .title {
    display: block;
    font-size: 48px;
    padding: 50px 40px 76px;
  }
  .userNumber {
    padding: 0 40px;
    display: flex;
    .left {
      width: 130px;
      font-size: 32px;
      color: #2e3033;
      padding: 24px 0;
      text-align: center;
      .border-1px(#dfe2e7);
      &.van-left {
        line-height: 48px;
      }
      .up-inco {
        display: inline-block;
        width: 15px;
        height: 10px;
        // margin-left: 30px;
        .bg-img("~@/assets/images/login/upicon");
        background-size: 100% 100%;
        vertical-align: middle;
        margin-top: -4px;
      }
    }
    .right {
      width: 100%;
      margin-left: 40px;
      .border-1px(#dfe2e7);
      &.redbor {
        .border-1px(#e33240);
      }
      .from-input {
        font-size: 32px;
        padding: 24px 0;
      }
    }
  }
  .validateNum {
    margin: 46px 40px 0;
    position: relative;
    .border-1px(#dfe2e7);
    &.redbor {
      .border-1px(#e33240);
    }
    .from-input {
      font-size: 32px;
      padding: 24px 220px 24px 0;
    }
    .valiNum {
      font-size: 28px;
      line-height: 36px;
      color: #e33240;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -18px;
      &.can-not-click {
        color: #c8c9cc;
        cursor: not-allowed;
      }
    }
    .time {
      font-size: 28px;
      line-height: 36px;
      color: #999ea4;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -18px;
    }
  }
  .register {
    padding: 0 40px;
    margin-top: 100px;
    .login-btn {
      background: linear-gradient(
        90deg,
        rgba(255, 107, 82, 1) 0%,
        rgba(227, 50, 64, 1) 100%
      );
      font-size: 32px;
      color: #fff;
      opacity: 0.5;
      &.large-alp {
        opacity: 1;
      }
    }
  }
  .com-register {
    padding: 50px 40px 0;
    span {
      font-size: 28px;
      color: #428be9;
    }
  }
  .agreement {
    padding: 63px 40px 157px;
    .title {
      display: block;
      font-size: 30px;
      color: #2e3033;
      text-align: center;
      font-weight: 600;
    }
    .agree-content {
      .review-tips {
        font-size: 26px;
        line-height: 32px;
        color: #2e3033;
        font-weight: 600;
      }
      ul {
        margin-top: 40px;
        margin-bottom: 40px;
        li {
          font-size: 26px;
          line-height: 32px;
          color: #2e3033;
          &:last-child {
            margin-top: 40px;
          }
        }
      }
      .stop-res {
        display: block;
        font-size: 26px;
        line-height: 32px;
        margin-top: 40px;
      }
      .clause {
        display: block;
        font-size: 26px;
        line-height: 32px;
        color: #428be9;
        margin-top: 40px;
      }
    }
  }
}
</style>
