<template>
  <div class="ws-admin-register-personal-info">
    <div class="ws-header">
      <van-icon name="arrow-left" class="arrow-left" @click="_goPev"/>
    </div>
    <p class="title">填写个人信息</p>
    <div class="from-type">
      <van-field
        class="from-input"
        v-model="userType"
        readonly
        placeholder="请选择用户类型"
        right-icon="arrow"
        @click="_goUser"
      />
    </div>
    <div class="from-division">
      <van-field
        class="from-input"
        v-model="division"
        readonly
        placeholder="请选择销售部门"
        right-icon="arrow"
        @click="_goSales"
      />
    </div>
    <div class="from-division">
      <van-field
        class="from-input"
        maxlength="18"
        v-model="idcard"
        placeholder="请输入身份证号码"
      />
    </div>
    <div class="up-load">
      <van-uploader accept="image/*" :after-read="onRead1" class="frontage" v-if="imgUrl1 === ''">
        <i class="addinco"></i>
        <span>身份证正面上传</span>
      </van-uploader>

      <div class="upload-img-wrap" v-else>
        <img :src="allImgDomainName+imgUrl1">
        <span class="close" @click="_closeOne"></span>
      </div>

      <van-uploader accept="image/*" :after-read="onRead2" class="opposite" v-if="imgUrl2 === ''">
        <i class="addinco"></i>
        <span>身份证反面上传</span>
      </van-uploader>

      <div class="upload-img-wrap marwarp" v-else>
        <img :src="allImgDomainName+imgUrl2">
        <span class="close" @click="_closeTwo"></span>
      </div>
    </div>
    <div class="register">
      <van-button
        round
        size="large"
        class="login-btn"
        :class="{'large-alp': opacity}"
        @click="_goAuditing"
      >注册</van-button>
    </div>
  </div>
</template>

<script>
import { allImgDomainNameMixin } from '@/assets/js/mixin'
import { api } from '@/api'
import { checkIDCard, _debounce } from '@/utils/common'

export default {
  name: 'register-personal-info',
  mixins: [allImgDomainNameMixin],
  data () {
    return {
      userType: '',
      division: '',
      idcard: '',
      opacity: false,
      imgUrl1: '',
      imgUrl2: '',
      params: {},
      isSubmitFlag: false // 记录提交状态
    }
  },
  created () {
    this.params = this.$route.params
    if (!this.params.phone) {
      this.$router.replace({ name: 'register' })
    }
    this.imgUrl1 = this.params.imgUrl1 ? this.params.imgUrl1 : ''
    this.imgUrl2 = this.params.imgUrl2 ? this.params.imgUrl2 : ''
    if (this.params.idcard) {
      this.idcard = this.params.idcard
    }
    // 用户类型
    if (this.params.userTypeList) {
      // this.userType = this.params.userTypeList.join('，')
      this.userType = this.params.userTypeList.name
    }
    // 销售部门
    if (this.params.customerIndex || this.params.customerIndex === 0) {
      this.division = this.params.customerName
      this.customerId = this.params.customerId
      if (this.userType && this.imgUrl1 && this.imgUrl2) {
        this.opacity = true
      }
    }
  },
  methods: {
    // 上传图片
    _uploadImage (file, img) {
      // 传递一个 FormData 对象
      // let formData = new FormData()
      // 'file' 可变 相当于 input 表单的name 属性
      // formData.append('file', file)
      api.uploadImage(file, res => {
        if (res.success) {
          this[img] = res.data[0]
        } else {
          this.$toast.fail(res.msg || '上传图片失败')
        }
      })
    },
    onRead1 (e) {
      let file = e.file
      this._uploadImage(file, 'imgUrl1')
    },
    onRead2 (e) {
      let file = e.file
      this._uploadImage(file, 'imgUrl2')
    },
    _closeOne () {
      this.imgUrl1 = ''
    },
    _closeTwo () {
      this.imgUrl2 = ''
    },
    _goSales () {
      let params = this.params
      params.userType = this.params.userTypeList
      params.division = this.division
      params.idcard = this.idcard
      params.imgUrl1 = this.imgUrl1
      params.imgUrl2 = this.imgUrl2
      this.$router.push({
        name: 'salesChoose',
        params: params
      })
    },
    _goUser () {
      let params = this.params
      params.userType = this.params.userTypeList
      params.division = this.division
      params.idcard = this.idcard
      params.imgUrl1 = this.imgUrl1
      params.imgUrl2 = this.imgUrl2
      this.$router.push({
        name: 'userChoose',
        params: params
      })
    },
    _goAuditing: _debounce(function () {
      if (this.isSubmitFlag) return
      this.isSubmitFlag = true

      if (!this.userType) {
        this.$toast('请选择用户类型')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (!this.division) {
        this.$toast('请选择销售部门')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (!this.idcard) {
        this.$toast('请填写身份证号码')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (!checkIDCard(this.idcard)) {
        this.$toast('请填写正确的身份证号码')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (!this.imgUrl1) {
        this.$toast('请上传身份证正面照')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (!this.imgUrl2) {
        this.$toast('请上传身份证背面照')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else {
        let params = {
          phone: this.params.phone,
          custName: this.params.custName,
          password: this.params.password,
          idcard: this.idcard,
          group: this.params.userTypeList.id,
          customerType: 'CT01',
          storeId: this.customerId,
          pictureObverse: { url: this.imgUrl1, name: this.imgUrl1 },
          pictureReverse: { url: this.imgUrl2, name: this.imgUrl2 }
        }

        api.customerReqSave(params).then(res => {
          if (res.success) {
            params.userType = this.userType
            params.division = this.division
            params.idcard = this.idcard
            params.imgUrl1 = this.imgUrl1
            params.imgUrl2 = this.imgUrl2
            params.custName = this.params.custName
            this.$router.push({
              name: 'registerAuditing',
              params: params
            })
            setTimeout(() => {
              this.isSubmitFlag = false
            }, 1000)
          } else {
            if (res.message && /^REGISTERED/.test(res.message)) {
              this.$toast('该身份证已经被注册！')
            } else {
              res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
            }
            setTimeout(() => {
              this.isSubmitFlag = false
            }, 1000)
          }
        })
      }
    }, 500),
    _goPev () {
      let params = this.params
      params.userType = this.params.userTypeList
      params.division = this.division
      params.idcard = this.idcard
      params.imgUrl1 = this.imgUrl1
      params.imgUrl2 = this.imgUrl2
      this.$router.replace({
        name: 'registerInfo',
        params: params
      })
    }
  },
  watch: {
    userType (val) {
      if (
        val !== '' &&
        this.division !== '' &&
        this.idcard !== '' &&
        this.imgUrl1 !== '' &&
        this.imgUrl2 !== ''
      ) {
        this.opacity = true
      }
    },
    division (val) {
      if (
        val !== '' &&
        this.userType !== '' &&
        this.idcard !== '' &&
        this.imgUrl1 !== '' &&
        this.imgUrl2 !== ''
      ) {
        this.opacity = true
      }
    },
    idcard (val) {
      if (
        val !== '' &&
        this.division !== '' &&
        this.userType !== '' &&
        this.imgUrl1 !== '' &&
        this.imgUrl2 !== ''
      ) {
        this.opacity = true
      }
    },
    imgUrl1 (val) {
      if (
        val !== '' &&
        this.userType !== '' &&
        this.division !== '' &&
        this.idcard !== '' &&
        this.imgUrl2 !== ''
      ) {
        this.opacity = true
      }
    },
    imgUrl2 (val) {
      if (
        val !== '' &&
        this.userType !== '' &&
        this.division !== '' &&
        this.idcard !== '' &&
        this.imgUrl1 !== ''
      ) {
        this.opacity = true
      }
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.ws-admin-register-personal-info {
  width: 100%;
  height: 100%;
  .ws-header {
    padding: 36px 30px;
    .arrow-left {
      font-size: 32px;
      font-weight: bold;
    }
  }
  .title {
    display: block;
    font-size: 48px;
    padding: 50px 40px 76px;
  }
  .from-type {
    margin: 0 40px;
    .border-1px(#dfe2e7);
    .from-input {
      font-size: 32px;
      padding: 24px 0;
    }
  }
  .from-division {
    margin: 46px 40px 0;
    .border-1px(#dfe2e7);
    .from-input {
      font-size: 32px;
      padding: 24px 0;
    }
  }
  .up-load {
    padding: 70px 40px 0;
    display: flex;
    .frontage {
      display: block;
      width: 238px;
      height: 154px;
      background: #ededef;
      text-align: center;
      border-radius: 12px;
      .addinco {
        display: inline-block;
        width: 48px;
        height: 48px;
        margin-top: 32px;
        .bg-img("~@/assets/images/login/upload");
        background-size: 100% 100%;
      }
      span {
        display: block;
        font-size: 24px;
        color: #428be9;
      }
    }
    .opposite {
      display: block;
      width: 238px;
      height: 154px;
      background: #ededef;
      text-align: center;
      border-radius: 12px;
      margin-left: 30px;
      .addinco {
        display: inline-block;
        width: 48px;
        height: 48px;
        margin-top: 32px;
        .bg-img("~@/assets/images/login/upload");
        background-size: 100% 100%;
      }
      span {
        display: block;
        font-size: 24px;
        color: #428be9;
      }
    }
    .upload-img-wrap {
      width: 238px;
      height: 154px;
      border-radius: 12px;
      position: relative;
      &.marwarp {
        margin-left: 30px;
      }
      img {
        width: 100%;
        height: 154px;
      }
      .close {
        display: block;
        width: 33px;
        height: 33px;
        .bg-img("~@/assets/images/login/close");
        background-size: 100% 100%;
        position: absolute;
        right: -16px;
        top: -16px;
      }
    }
  }
  .register {
    padding: 100px 40px 0;
    .login-btn {
      font-size: 32px;
      color: #fff;
      background: linear-gradient(
        90deg,
        rgba(255, 107, 82, 1) 0%,
        rgba(227, 50, 64, 1) 100%
      );
      opacity: 0.5;
      &.large-alp {
        opacity: 1;
      }
    }
  }
}
</style>

<style lang="less">
.ws-admin-register-personal-info {
  .van-field__body {
    .van-field__icon .van-icon {
      font-size: 24px;
    }
  }
}
</style>
