<template>
  <div class="ws-admin-register-company-info">
    <div class="ws-header">
      <van-icon name="arrow-left" class="arrow-left" @click="_goPev"/>
    </div>
    <p class="title">填写公司信息</p>
    <div class="from-type">
      <van-field
        class="from-input"
        v-model="userType"
        readonly
        placeholder="请选择用户类型"
        right-icon="arrow"
        @click="_goUser"
      />
    </div>
    <div class="from-division">
      <van-field
        class="from-input"
        v-model="division"
        readonly
        placeholder="请选择销售部门"
        right-icon="arrow"
        @click="_goSales"
      />
    </div>
    <div class="from-division">
      <van-field class="from-input" v-model="companyName" placeholder="公司名称"/>
    </div>
    <div class="from-division">
      <van-field class="from-input" v-model="companyAddress" placeholder="公司地址"/>
    </div>
    <div class="from-division">
      <van-field
        class="from-input"
        v-model="companyTrade"
        readonly
        placeholder="公司行业"
        right-icon="arrow"
        @click="_selectTrade"
      />
    </div>
    <div class="from-division">
      <van-field
        class="from-input"
        v-model="companyScale"
        readonly
        placeholder="公司规模"
        right-icon="arrow"
        @click="_selectScale"
      />
    </div>
    <div class="up-load">
      <van-uploader accept="image/*" :after-read="onRead1" class="frontage" v-if="imgUrl1 === ''">
        <i class="addinco"></i>
        <span>身份证正面上传</span>
      </van-uploader>

      <div class="upload-img-wrap" v-else>
        <img :src="allImgDomainName+imgUrl1">
        <span class="close" @click="_closeOne"></span>
      </div>

      <van-uploader accept="image/*" :after-read="onRead2" class="opposite" v-if="imgUrl2 === ''">
        <i class="addinco"></i>
        <span>身份证反面上传</span>
      </van-uploader>

      <div class="upload-img-wrap marwarp" v-else>
        <img :src="allImgDomainName+imgUrl2">
        <span class="close" @click="_closeTwo"></span>
      </div>
    </div>

    <div class="up-load">
      <van-uploader accept="image/*" :after-read="onRead3" class="frontage" v-if="imgUrl3 === ''">
        <i class="addinco"></i>
        <span>营业执照上传</span>
      </van-uploader>

      <div class="upload-img-wrap" v-else>
        <img :src="allImgDomainName+imgUrl3">
        <span class="close" @click="_closeThree"></span>
      </div>
    </div>

    <div class="register">
      <van-button
        round
        size="large"
        class="login-btn"
        :class="{'large-alp': opacity}"
        @click="_goAuditing"
      >注册</van-button>
    </div>

    <van-action-sheet v-model="scaleShow" :actions="scaleList" @select="_actionSelectedScale"/>

    <van-action-sheet v-model="tradeShow" :actions="tradeList" @select="_actionSelectedTrade"/>
  </div>
</template>

<script>
import { allImgDomainNameMixin } from '@/assets/js/mixin'
import { api } from '@/api'
import { _debounce } from '@/utils/common'

export default {
  name: 'register-personal-info',
  mixins: [allImgDomainNameMixin],
  data () {
    return {
      userType: '',
      division: '',
      companyName: '',
      companyAddress: '',
      companyTrade: '',
      companyScale: '',
      opacity: false,
      imgUrl1: '',
      imgUrl2: '',
      imgUrl3: '',
      tradeList: [],
      scaleList: [],
      tradeShow: false,
      scaleShow: false,
      companyTradeId: '',
      companyScaleId: '',
      custName: '',
      isSubmitFlag: false // 记录提交状态
    }
  },
  created () {
    this.params = this.$route.params
    if (!this.params.phone) {
      this.$router.replace({ name: 'companyRegister' })
    }
    this._getList()
    this.imgUrl1 = this.params.imgUrl1 ? this.params.imgUrl1 : ''
    this.imgUrl2 = this.params.imgUrl2 ? this.params.imgUrl2 : ''
    this.imgUrl3 = this.params.imgUrl3 ? this.params.imgUrl3 : ''
    this.companyName = this.params.companyName ? this.params.companyName : ''
    this.custName = this.params.custName ? this.params.custName : ''
    this.companyAddress = this.params.companyAddress
      ? this.params.companyAddress
      : ''
    this.companyTrade = this.params.companyTrade
      ? this.params.companyTrade
      : ''
    this.companyScale = this.params.companyScale
      ? this.params.companyScale
      : ''
    this.companyTradeId = this.params.companyTradeId
      ? this.params.companyTradeId
      : ''
    this.companyScaleId = this.params.companyScaleId
      ? this.params.companyScaleId
      : ''
    // 用户类型
    if (this.params.userTypeList) {
      this.userType = this.params.userTypeList.name
    }
    // 销售部门
    if (this.params.customerIndex || this.params.customerIndex === 0) {
      this.division = this.params.customerName
      this.customerId = this.params.customerId
      if (
        this.userType &&
        this.companyName &&
        this.companyAddress &&
        this.companyTrade &&
        this.companyScale &&
        this.imgUrl1 &&
        this.imgUrl2 &&
        this.imgUrl3
      ) {
        this.opacity = true
      }
    }
  },
  methods: {
    // 上传图片
    _uploadImage (file, img) {
      // 传递一个 FormData 对象
      // let formData = new FormData()
      // 'file' 可变 相当于 input 表单的name 属性
      // formData.append('file', file)
      api.uploadImage(file, res => {
        if (res.success) {
          this[img] = res.data[0]
        } else {
          this.$toast.fail(res.msg || '上传图片失败')
        }
      })
    },
    onRead1 (e) {
      let file = e.file
      this._uploadImage(file, 'imgUrl1')
    },
    onRead2 (e) {
      let file = e.file
      this._uploadImage(file, 'imgUrl2')
    },
    onRead3 (e) {
      let file = e.file
      this._uploadImage(file, 'imgUrl3')
    },
    _closeOne () {
      this.imgUrl1 = ''
    },
    _closeTwo () {
      this.imgUrl2 = ''
    },
    _closeThree () {
      this.imgUrl3 = ''
    },
    _goSales () {
      let params = this._setParams()
      this.$router.push({
        name: 'salesChoose',
        params: params
      })
    },
    _goUser () {
      let params = this._setParams()
      this.$router.push({
        name: 'userChoose',
        params: params
      })
    },
    _goAuditing: _debounce(function () {
      if (this.isSubmitFlag) return
      this.isSubmitFlag = true

      // eslint-disable-next-line
      this.userType !== '' && this.division !== '' && this.companyName !== '' && this.companyAddress !== '' && this.companyTrade !== '' && this.companyScale !== '' && this.imgUrl1 !== '' && this.imgUrl2 !== '' && this.imgUrl3 !== ''

      if (!this.userType) {
        this.$toast('请选择用户类型')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (!this.custName) {
        this.$toast('用户名不能为空')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (!this.division) {
        this.$toast('请选择销售部门')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (!this.companyName) {
        this.$toast('请输入公司名称')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (!this.companyName.trim()) {
        this.$toast('公司名称不能为空格')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (!this.companyAddress) {
        this.$toast('请输入公司地址')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (!this.companyTrade) {
        this.$toast('请输入公司行业')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (!this.companyScale) {
        this.$toast('请输入公司规模')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (!this.imgUrl1) {
        this.$toast('请上传身份证正面照')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (!this.imgUrl2) {
        this.$toast('请上传身份证背面照')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (!this.imgUrl3) {
        this.$toast('请上传营业执照')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else {
        let params = {
          phone: this.params.phone,
          custName: this.custName,
          password: this.params.password,
          group: this.params.userTypeList.id,
          customerType: 'CT02',
          storeId: this.customerId,
          address: this.companyAddress,
          comName: this.companyName.trim(),
          comTradeId: this.companyTradeId,
          comScaleId: this.companyScaleId,
          pictureObverse: { url: this.imgUrl1, name: this.imgUrl1 },
          pictureReverse: { url: this.imgUrl2, name: this.imgUrl2 },
          pictureBLicence: { url: this.imgUrl3, name: this.imgUrl3 }
        }
        api.customerReqSave(params).then(res => {
          if (res.success) {
            params.userType = this.userType
            params.division = this.division
            params.companyName = this.companyName.trim()
            params.companyAddress = this.companyAddress
            params.companyTrade = this.companyTrade
            params.companyScale = this.companyScale
            params.imgUrl1 = this.imgUrl1
            params.imgUrl2 = this.imgUrl2
            params.imgUrl3 = this.imgUrl3
            params.custName = this.custName
            this.$router.push({
              name: 'companyRegisterAuditing',
              params: params
            })
            setTimeout(() => {
              this.isSubmitFlag = false
            }, 1000)
          } else {
            setTimeout(() => {
              this.isSubmitFlag = false
            }, 1000)
            res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
          }
        })
      }
    }, 500),
    _goPev () {
      let params = this._setParams()
      this.$router.replace({
        name: 'companyRegisterInfo',
        params: params
      })
    },
    _getList () {
      // 获取公司规模列表
      api.assistantdataQuery({ groupNumber: 'companyScale' }).then(res => {
        if (res.success) {
          this.scaleList = res.data
        }
      })
      // 获取公司行业列表
      api.assistantdataQuery({ groupNumber: 'companyTrade' }).then(res => {
        if (res.success) {
          this.tradeList = res.data
        }
      })
    },
    _selectScale () {
      this.scaleShow = true
    },
    _actionSelectedScale (item) {
      // 点击选项时默认不会关闭菜单，可以手动关闭
      this.scaleShow = false
      this.companyScale = item.name
      this.companyScaleId = item.id
    },
    _selectTrade () {
      this.tradeShow = true
    },
    _actionSelectedTrade (item) {
      // 点击选项时默认不会关闭菜单，可以手动关闭
      this.tradeShow = false
      this.companyTrade = item.name
      this.companyTradeId = item.id
    },
    _setParams () {
      let params = this.params
      // params.userType = this.userType
      params.userType = this.params.userTypeList
      params.division = this.division
      params.companyName = this.companyName
      params.companyAddress = this.companyAddress
      params.companyTrade = this.companyTrade
      params.companyScale = this.companyScale
      params.imgUrl1 = this.imgUrl1
      params.imgUrl2 = this.imgUrl2
      params.imgUrl3 = this.imgUrl3
      params.companyTradeId = this.companyTradeId
      params.companyScaleId = this.companyScaleId
      params.custName = this.custName
      return params
    },
    _isValue () {
      if (
        this.userType !== '' &&
        this.division !== '' &&
        this.companyName !== '' &&
        this.companyAddress !== '' &&
        this.companyTrade !== '' &&
        this.companyScale !== '' &&
        this.imgUrl1 !== '' &&
        this.imgUrl2 !== '' &&
        this.imgUrl3 !== ''
      ) {
        this.opacity = true
      }
    }
  },
  watch: {
    userType (val) {
      this._isValue()
    },
    division (val) {
      this._isValue()
    },
    companyName (val) {
      this._isValue()
    },
    companyAddress (val) {
      this._isValue()
    },
    companyTrade (val) {
      this._isValue()
    },
    companyScale (val) {
      this._isValue()
    },
    imgUrl1 (val) {
      this._isValue()
    },
    imgUrl2 (val) {
      this._isValue()
    },
    imgUrl3 (val) {
      this._isValue()
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.ws-admin-register-company-info {
  width: 100%;
  height: 100%;
  .ws-header {
    padding: 36px 30px;
    .arrow-left {
      font-size: 32px;
      font-weight: bold;
    }
  }
  .title {
    display: block;
    font-size: 48px;
    padding: 50px 40px 76px;
  }
  .from-type {
    margin: 0 40px;
    .border-1px(#dfe2e7);
    .from-input {
      font-size: 32px;
      padding: 24px 0;
    }
  }
  .from-division {
    margin: 46px 40px 0;
    .border-1px(#dfe2e7);
    .from-input {
      font-size: 32px;
      padding: 24px 0;
    }
  }
  .up-load {
    padding: 70px 40px 0;
    display: flex;
    .frontage {
      display: block;
      width: 238px;
      height: 154px;
      background: #ededef;
      text-align: center;
      border-radius: 12px;
      .addinco {
        display: inline-block;
        width: 48px;
        height: 48px;
        margin-top: 32px;
        .bg-img("~@/assets/images/login/upload");
        background-size: 100% 100%;
      }
      span {
        display: block;
        font-size: 24px;
        color: #428be9;
      }
    }
    .opposite {
      display: block;
      width: 238px;
      height: 154px;
      background: #ededef;
      text-align: center;
      border-radius: 12px;
      margin-left: 30px;
      .addinco {
        display: inline-block;
        width: 48px;
        height: 48px;
        margin-top: 32px;
        .bg-img("~@/assets/images/login/upload");
        background-size: 100% 100%;
      }
      span {
        display: block;
        font-size: 24px;
        color: #428be9;
      }
    }
    .upload-img-wrap {
      width: 238px;
      height: 154px;
      border-radius: 12px;
      position: relative;
      &.marwarp {
        margin-left: 30px;
      }
      img {
        width: 100%;
        height: 154px;
      }
      .close {
        display: block;
        width: 33px;
        height: 33px;
        .bg-img("~@/assets/images/login/close");
        background-size: 100% 100%;
        position: absolute;
        right: -16px;
        top: -16px;
      }
    }
  }
  .register {
    padding: 100px 40px 84px;
    .login-btn {
      font-size: 32px;
      color: #fff;
      background: linear-gradient(
        90deg,
        rgba(255, 107, 82, 1) 0%,
        rgba(227, 50, 64, 1) 100%
      );
      opacity: 0.5;
      &.large-alp {
        opacity: 1;
      }
    }
  }
}
</style>

<style lang="less">
.ws-admin-register-company-info {
  .van-field__body {
    .van-field__icon .van-icon {
      font-size: 24px;
    }
  }
}
</style>
