<template>
  <div class="ws-admin-register-auditing">
    <van-nav-bar title="个人用户注册" left-arrow @click-left="_goPev">
      <span class="finish" slot="right" @click="_goIndex">完成</span>
    </van-nav-bar>
    <div class="upload-info">
      <i class="upload-info-inco"></i>
      <span class="text">您已成功上传相关资料，我们将在7个工作日内进行审核！</span>
    </div>
    <div class="user-info">
      <ul>
        <li>
          <span class="left">用户名</span>
          <span class="right">{{params.custName}}</span>
        </li>
        <li>
          <span class="left">手机号码</span>
          <span class="right">{{params.phone}}</span>
        </li>
        <li>
          <span class="left">用户类型</span>
          <span class="right">{{params.userType}}</span>
        </li>
        <li>
          <span class="left">销售部</span>
          <span class="right">{{params.division}}</span>
        </li>
        <li>
          <span class="left">身份证号</span>
          <span class="right">{{params.idcard.replace(/^(.{6}).{8}(.+)/, '$1********$2')}}</span>
        </li>
        <li>
          <span class="left">身份证</span>
          <span class="right">
            <div class="idicon">
              <img :src="allImgDomainName+params.imgUrl1">
            </div>
            <div class="idicon">
              <img :src="allImgDomainName+params.imgUrl2">
            </div>
          </span>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { allImgDomainNameMixin } from '@/assets/js/mixin'

export default {
  name: 'register-auditing',
  mixins: [allImgDomainNameMixin],
  data () {
    return {
      params: {},
      userType: ''
    }
  },
  created () {
    this.params = this.$route.params
    if (!this.params.phone) {
      this.$router.go(-1)
    }
  },
  methods: {
    _goIndex () {
      this.$router.replace({ path: '/' })
    },
    _goPev () {
      this.$router.replace({ name: 'registerInfo' })
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.ws-admin-register-auditing {
  width: 100%;
  height: 100%;
  .finish {
    font-size: 30px;
    color: #e33240;
  }
  .upload-info {
    width: 100%;
    height: 240px;
    background: #fff;
    display: flex;
    border-bottom: 16px solid #e8e9eb;
    .upload-info-inco {
      display: block;
      width: 86px;
      height: 79px;
      .bg-img("~@/assets/images/login/Auditing");
      background-size: 100% 100%;
      margin: 80px 50px 0 60px;
    }
    .text {
      display: block;
      width: 494px;
      height: 74px;
      margin-top: 85px;
      font-size: 28px;
      color: #428be9;
    }
  }
  .user-info {
    width: 100%;
    ul {
      padding: 0;
      li {
        margin-left: 24px;
        padding: 40px 24px 40px 0;
        .border-1px(#e8e9eb);
        overflow: hidden;
        .left {
          float: left;
          font-size: 30px;
          color: #2e3033;
        }
        .right {
          float: right;
          font-size: 30px;
          color: #8e939a;
        }
        &:last-child {
          padding: 25px 24px 25px 0;
          line-height: 110px;
          .idicon {
            float: left;
            width: 170px;
            height: 110px;
            background: #f1f1f1;
            margin-left: 20px;
            img {
              width: 100%;
              height: 110px;
            }
          }
        }
      }
    }
  }
}
</style>
