<template>
  <div class="ws-admin-register-info">
    <div class="ws-header">
      <van-icon name="arrow-left" class="arrow-left" @click="_goPev"/>
    </div>
    <p class="title">设置账号信息</p>
    <div class="from-user">
      <van-field
        class="from-input"
        v-model="custName"
        clearable
        placeholder="设置用户名"
      />
    </div>
    <div class="from-pass">
      <van-field
        class="from-input"
        v-model="password"
        clearable
        placeholder="设置密码（6-20位字母加数字或符号）"
        type="password"
      />
    </div>
    <div class="register">
      <van-button
        round
        size="large"
        class="login-btn"
        :class="{'large-alp': opacity}"
        @click="_goNext"
      >下一步</van-button>
    </div>
  </div>
</template>

<script>
import { isPassword } from '@/utils/common'
export default {
  name: 'register-info',
  data () {
    return {
      custName: '',
      password: '',
      opacity: false,
      params: {}
    }
  },
  created () {
    this.params = this.$route.params
    if (!this.params.phone) {
      this.$router.replace({ name: 'register' })
    }
    this.custName = this.params.custName ? this.params.custName : ''
    this.password = this.params.password ? this.params.password : ''
  },
  methods: {
    _goNext () {
      if (!this.custName || !this.custName.trim()) {
        this.$toast('用户名有误')
      } else if (!isPassword(this.password)) {
        this.$toast('密码格式有误')
      } else {
        let params = this.params
        params.custName = this.custName.trim()
        params.password = this.password
        this.$router.push({
          name: 'registerPersonalInfo',
          params: params
        })
      }
    },
    _goPev () {
      let params = this.params
      params.custName = this.custName
      params.password = this.password
      this.$router.replace({
        name: 'register',
        params: params
      })
    }
  },
  watch: {
    custName (val) {
      if (val !== '' && this.password !== '') {
        this.opacity = true
      }
    },
    password (val) {
      if (val !== '' && this.custName !== '') {
        this.opacity = true
      }
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.ws-admin-register-info {
  width: 100%;
  height: 100%;
  .ws-header {
    padding: 36px 30px;
    .arrow-left {
      font-size: 32px;
      font-weight: bold;
    }
  }
  .title {
    display: block;
    font-size: 48px;
    padding: 50px 40px 76px;
  }
  .from-user {
    margin: 0 40px;
    .border-1px(#dfe2e7);
    .from-input {
      font-size: 32px;
      padding: 24px 0;
    }
  }
  .from-pass {
    margin: 46px 40px 0;
    .border-1px(#dfe2e7);
    .from-input {
      font-size: 32px;
      padding: 24px 0;
    }
  }
  .register {
    margin-top: 100px;
    padding: 0 40px;
    .login-btn {
      font-size: 32px;
      color: #fff;
      background: linear-gradient(
        90deg,
        rgba(255, 107, 82, 1) 0%,
        rgba(227, 50, 64, 1) 100%
      );
      opacity: 0.5;
      &.large-alp {
        opacity: 1;
      }
    }
  }
}
</style>
