<template>
  <div class="ws-admin-sales-choose">
    <van-nav-bar title="选择销售部门" left-arrow @click-left="_goPev">
      <!--<div class="adressChoose" slot="right" @click="selectCity">黑龙江</div>-->
    </van-nav-bar>
    <!-- <div class="search">
      <van-search placeholder="搜索销售部门" v-model="searchText" class="search-choose" @search="search"/>
    </div> -->
    <div class="search-box">
      <div>
        <van-icon name="search" @click="search"/>
        <input
          ref="input"
          type="text"
          placeholder="搜索销售部门"
          v-model="searchText"
        >
      </div>
    </div>

    <div class="checkbox-choose van-chose">
      <van-pull-refresh v-model="isLoading" @refresh="onRefresh" v-if="list.length">
        <van-list v-model="loading" :finished="finished" @load="onLoad" :offset="200">
          <van-radio-group v-model="result" @change="change">
            <van-radio
              v-for="(item, index) in list"
              :key="index"
              :name="index"
              class="checkbox"
            >{{ item.name }}</van-radio>
          </van-radio-group>
        </van-list>
      </van-pull-refresh>

      <div class="no-data-box" v-else>
        <no-data :loading="requestLoading"></no-data>
      </div>
    </div>
    <div class="choose-sure">
      <van-button size="large" class="login-btn" @click="_goPev">确定</van-button>
    </div>

    <!--<pull-up-selection-->
    <!--:data="city"-->
    <!--:show="showPullUpSelection"-->
    <!--@cancel="cancelSelect"-->
    <!--@selected="pullUpSelected"-->
    <!--&gt;</pull-up-selection>-->
  </div>
</template>

<script>
import NoData from '@/components/no-data'
import { api } from '@/api'

export default {
  components: {
    NoData
  },
  name: 'sales-choose',
  data () {
    return {
      searchText: '',
      checked: false,
      // city: [
      //   {
      //     name: "广东",
      //     numbel: 1324
      //   },
      //   {
      //     name: "湖南",
      //     numbel: 6666
      //   },
      //   {
      //     name: "北京",
      //     numbel: 8888
      //   },
      //   {
      //     name: "天津",
      //     numbel: 1234
      //   },
      //   {
      //     name: "广西",
      //     numbel: 3213
      //   },
      //   {
      //     name: "河南",
      //     numbel: 2352
      //   },
      // ],
      list: [],
      result: '',
      showPullUpSelection: false,
      pathName: '',
      page: {
        index: 1,
        size: 12,
        total: 0
      },
      cacheList: [],
      loading: false, // 控制上拉加载的加载动画
      finished: false, // 控制在页面往下移动到底部时是否调用接口获取数据
      isLoading: false, // 控制下拉刷新的加载动画
      requestLoading: false // 接口请求加载动画
    }
  },
  created () {
    this.queryCustomer()
  },
  methods: {
    // 查询所有渠道
    queryCustomer () {
      this.requestLoading = true
      const params = {
        pageNo: this.page.index,
        pageSize: this.page.size
      }

      this.searchText && (params.name = this.searchText)

      api.queryCustomer(params).then(res => {
        this.requestLoading = false
        if (res.success) {
          this.cacheList = this.cacheList.concat(res.data.list)
          this.list.splice(0, this.list.length, ...this.cacheList)
          this.page.total = res.data.totalPage
          this.finished = false

          this.loading = false

          if (this.cacheList.length >= this.page.total) {
            this.finished = true
          }
          setTimeout(() => {
            this.isLoading = false
          }, 100)

          this.result = this.$route.params.customerIndex || this.$route.params.customerIndex === 0
            ? this.$route.params.customerIndex
            : ''
        }
      })
    },
    // 下拉刷新
    onRefresh () {
      this.page.index = 1
      this.cacheList = []
      this.queryCustomer()
    },
    // 上拉加载
    onLoad () {
      this.page.index++
      this.queryCustomer()
    },
    search () {
      this.page = {
        index: 1,
        size: 12,
        total: 0
      }
      this.cacheList = []
      this.loading = false // 控制上拉加载的加载动画
      this.isLoading = false // 控制下拉刷新的加载动画
      this.queryCustomer()
    },
    _goPev () {
      let params = this.$route.params.custName ? this.$route.params : {}
      params.customerIndex = this.result
      params.customerId = this.customerId || this.$route.params.customerId
      params.customerName = this.customerName || this.$route.params.customerName
      this.$router.push({
        name: this.pathName.substring(1, this.pathName.length),
        params: params
      })
    },
    // //取消选择上拉
    // cancelSelect() {
    //   this.showPullUpSelection = false;
    // },
    // //选择城市
    // selectCity() {
    //   this.showPullUpSelection = true;
    // },
    // //上拉选中
    // pullUpSelected(item, index) {
    //   this.showPullUpSelection = false;
    // },
    change (index) {
      this.customerId = this.list[index].id
      this.customerName = this.list[index].name
    }
  },
  // 从注册页回来，不再显示注册规则
  beforeRouteEnter (to, from, next) {
    if (from.name === null) {
      next(vm => {
        vm.$router.push({ name: 'register' })
      })
    }

    next(vm => {
      vm.$data.pathName = from.path
    })
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.ws-admin-sales-choose {
  width: 100%;
  height: 100%;
  .search-box {
    height: 96px;
    background: rgb(245, 245, 245);
    padding: 18px 24px;
    box-sizing: border-box;
    font-size: 28px;

    > div {
      width: 100%;
      height: 100%;
      background: white;
      border-radius: 100px;
      overflow: hidden;
      position: relative;

      i {
        font-size: 30px;
        color: #c1c4ca;
        position: absolute;
        width: 70px;
        text-align: center;
        line-height: 60px;
      }

      input {
        display: block;
        border: 0;
        outline: none;
        width: calc(100% - 100px);
        height: 100%;
        margin-left: 70px;

        &::-webkit-input-placeholder {
          color: #c1c4ca;
        }
      }
    }
  }
  .adressChoose {
    width: 150px;
    font-size: 28px;
    &:after {
      content: " ";
      width: 0;
      height: 0;
      border: 8px solid #2e3033;
      border-left: 8px solid transparent;
      border-top: 8px solid transparent;
      position: absolute;
      bottom: 30px;
      right: 0;
    }
  }
  .search {
    width: 100%;
    height: 96px;
  }
  .checkbox-choose {
    width: 100%;
    .checkbox {
      padding: 40px 0;
      margin-left: 24px;
      .border-1px(#e8e9eb);
    }
  }
  .choose-sure {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    .login-btn {
      font-size: 30px;
      color: #fff;
      background: linear-gradient(
        90deg,
        rgba(255, 107, 82, 1) 0%,
        rgba(227, 50, 64, 1) 100%
      );
    }
  }
}

@{deep} .van-radio {
  .border-1px(rgb(232, 233, 235));
  padding: 40px 30px;

  .van-radio__label {
    width: calc(100% - 60px);
    font-size: 30px;
    color: #2e3033;

    .address-top {
      display: inline-block;
      width: 100%;
      text-align: right;
      padding-bottom: 10px;

      > span {
        float: left;
        font-size: 30px;
      }
    }
  }

  .van-radio__icon {
    .van-icon {
      color: rgba(0, 0, 0, 0);
      width: 32px;
      height: 32px;
      position: relative;
      border: 0;
      background-color: transparent;

      &::before,
      &::after {
        content: " ";
        display: block;
        width: 32px;
        height: 32px;
        box-sizing: border-box;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 4px;
        transition: all 0.2s;
      }

      &::before {
        border: 10px solid #e33240;
        opacity: 0;
      }

      &::after {
        border: 1px solid #c1c4ca;
        opacity: 1;
      }
    }

    &.van-radio__icon--checked {
      .van-icon-success {
        &::before {
          opacity: 1;
        }

        &::after {
          opacity: 0;
        }
      }
    }

    .van-icon-success {
      &::after {
        opacity: 1;
      }

      &::before {
        opacity: 0;
      }
    }
  }
}
</style>

<style lang="less">
.ws-admin-sales-choose {
  .van-search {
    .van-cell {
      border-radius: 70px;
    }
  }
  .van-chose {
    padding-bottom: 100px;
  }
}
</style>
