<template>
  <div class="ws-admin-user-choose">
    <van-nav-bar title="选择用户类型" left-arrow @click-left="_goPev"></van-nav-bar>
    <!--<div class="search">-->
    <!--<van-search placeholder="搜索类型" v-model="valueselect" class="search-choose"/>-->
    <!--</div>-->
    <div class="checkbox-choose van-chose">
      <van-pull-refresh v-model="isLoading" @refresh="onRefresh" v-if="list.length">
        <van-list v-model="loading" :finished="finished" @load="onLoad" :offset="200">
          <van-radio-group v-model="result" @change="change">
            <van-radio
              v-for="(item, index) in list"
              :key="index"
              :name="item"
              class="checkbox"
            >{{ item.name }}</van-radio>
          </van-radio-group>
        </van-list>
      </van-pull-refresh>

      <div class="no-data-box" v-else>
        <no-data :loading="requestLoading"></no-data>
      </div>
    </div>
    <div class="choose-sure">
      <van-button size="large" class="login-btn" @click="_goPev">确定</van-button>
    </div>
  </div>
</template>

<script>
import NoData from '@/components/no-data'
import { api } from '@/api'

export default {
  name: 'user-choose',
  data () {
    return {
      valueselect: '',
      result: '',
      list: [],
      pathName: '',
      page: {
        index: 1,
        size: 12,
        total: 0
      },
      cacheList: [],
      loading: false, // 控制上拉加载的加载动画
      finished: false, // 控制在页面往下移动到底部时是否调用接口获取数据
      isLoading: false, // 控制下拉刷新的加载动画
      requestLoading: false // 接口请求加载动画
      // checked: false
    }
  },
  created () {
    this.customerGroupList()
    // 查询用户类型
    // api.customerGroupList().then(res => {
    //   if (res.success) {
    //     this.list = res.data;
    //     this.result = this.$route.params.userTypeList ? this.$route.params.userTypeList : []
    //   }
    // });
  },
  methods: {
    // 查询用户类型
    customerGroupList () {
      this.requestLoading = true
      const params = {
        pageNo: this.page.index,
        pageSize: this.page.size
      }

      // 查询用户类型
      api.customerGroupList(params).then(res => {
        this.requestLoading = false
        if (res.success) {
          this.cacheList = this.cacheList.concat(res.data.list)
          this.list.splice(0, this.list.length, ...this.cacheList)
          this.page.total = res.data.totalNumber
          this.finished = false

          this.loading = false

          if (this.cacheList.length >= this.page.total) {
            this.finished = true
          }
          setTimeout(() => {
            this.isLoading = false
          }, 100)

          if (!this.result) {
            let result = ''
            if (this.$route.params.userTypeList) {
              this.list.forEach(v => {
                if (v.id === this.$route.params.userTypeList.id) {
                  result = v
                }
              })
            }
            this.result = result
          }
        }
      })
    },
    // 下拉刷新
    onRefresh () {
      this.page.index = 1
      this.cacheList = []
      this.customerGroupList()
    },
    // 上拉加载
    onLoad () {
      this.page.index++
      this.customerGroupList()
    },
    _goPev () {
      let params = this.$route.params.custName ? this.$route.params : {}
      params.userTypeList = this.result || this.$route.params.userTypeList
      this.$router.replace({
        name: this.pathName.substring(1, this.pathName.length),
        params: params
      })
    },
    change () {

    }
  },
  // 从注册页回来，不再显示注册规则
  beforeRouteEnter (to, from, next) {
    if (from.name === null) {
      next(vm => {
        vm.$router.push({ name: 'register' })
      })
    }

    next(vm => {
      vm.$data.pathName = from.path
    })
  },
  components: {
    NoData
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.ws-admin-user-choose {
  width: 100%;
  height: 100%;
  .adressChoose {
    width: 150px;
    padding: 24px 0;
    font-size: 28px;
  }
  .search {
    width: 100%;
    height: 96px;
  }
  .checkbox-choose {
    width: 100%;
    .checkbox {
      padding: 40px 0;
      margin-left: 24px;
      .border-1px(#e8e9eb);
    }
  }
  .choose-sure {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    .login-btn {
      font-size: 30px;
      color: #fff;
      background: linear-gradient(
        90deg,
        rgba(255, 107, 82, 1) 0%,
        rgba(227, 50, 64, 1) 100%
      );
    }
  }
}

@{deep} .van-radio {
  .border-1px(rgb(232, 233, 235));
  padding: 40px 30px;

  .van-radio__label {
    width: calc(100% - 60px);
    font-size: 30px;
    color: #2e3033;

    .address-top {
      display: inline-block;
      width: 100%;
      text-align: right;
      padding-bottom: 10px;

      > span {
        float: left;
        font-size: 30px;
      }
    }
  }

  .van-radio__icon {
    .van-icon {
      color: rgba(0, 0, 0, 0);
      width: 32px;
      height: 32px;
      position: relative;
      border: 0;
      background-color: transparent;

      &::before,
      &::after {
        content: " ";
        display: block;
        width: 32px;
        height: 32px;
        box-sizing: border-box;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 4px;
        transition: all 0.2s;
      }

      &::before {
        border: 10px solid #e33240;
        opacity: 0;
      }

      &::after {
        border: 1px solid #c1c4ca;
        opacity: 1;
      }
    }

    &.van-radio__icon--checked {
      .van-icon-success {
        &::before {
          opacity: 1;
        }

        &::after {
          opacity: 0;
        }
      }
    }

    .van-icon-success {
      &::after {
        opacity: 1;
      }

      &::before {
        opacity: 0;
      }
    }
  }
}
</style>

<style lang="less">
.ws-admin-user-choose {
  .van-search {
    .van-cell {
      border-radius: 70px;
    }
  }
  .van-chose {
    padding-bottom: 100px;
    .van-checkbox__icon--checked {
      .van-icon {
        color: #e33240;
        &::before {
          content: "";
          padding: 8px;
          border-radius: 8px;
          background: #fff;
          vertical-align: middle;
          margin-top: -18px;
        }
      }
    }
    .van-checkbox__icon {
      .van-icon-success {
        &::before {
          content: "";
        }
      }
    }
  }
}
</style>
