<template>
  <div class="group-wrap">
    <van-nav-bar title="拼团" left-arrow @click-left="onClickLeft">
      <div
        class="switch"
        slot="right"
        :class="{horizontal: getDisplayMode === 0}"
        @click="switchDisplayMode"
      ></div>
    </van-nav-bar>
    <van-tabs v-model="active" :swipe-threshold="5" sticky swipeable class="head-tabs" @change="_changeTab">
      <van-tab v-for="(item, index) in myGroupCatList" :key="index" :title="item.name">
        <van-pull-refresh v-model="isLoading" @refresh="onRefresh" v-if="myGroupGoodsList.length">
          <van-list v-model="loading" :finished="finished" @load="onLoad" :offset="200">
            <transition name="van-fade">
              <ul class="vertical-list" v-if="getDisplayMode === 1">
                <li class="item" v-for="(listItem, listIndex) in myGroupGoodsList" :key="'vertical-' + listIndex">
                  <goods-item-vertical :data="listItem"></goods-item-vertical>
                </li>
              </ul>
            </transition>
            <transition name="van-fade">
              <ul class="horizontal-list" v-if="getDisplayMode === 0">
                <li class="item" v-for="(listItem, listIndex) in myGroupGoodsList" :key="'horizontal-' + listIndex">
                  <goods-item-horizontal :data="listItem"></goods-item-horizontal>
                </li>
              </ul>
            </transition>
          </van-list>
        </van-pull-refresh>

        <div class="no-data-box" v-else>
          <no-data :loading="requestLoading" text="Sorry，暂无发布新的团购活动，敬请期待！"></no-data>
        </div>
      </van-tab>
    </van-tabs>
  </div>
</template>

<script>
import { api } from '@/api'
import GoodsItemHorizontal from '@/components/group-buying/goods-item-horizontal'
import GoodsItemVertical from '@/components/group-buying/goods-item-vertical'
import NoData from '@/components/no-data'
import { mapGetters, mapActions } from 'vuex'
import { getCookie } from '@/utils/common'

export default {
  name: 'group-buying',
  data () {
    return {
      active: 0,
      getScrollTop1: 0, // 距离顶部高度
      isLoading: false,
      finished: false,
      loading: false,
      requestLoading: false, // 接口请求加载动画
      myGroupCatList: [{
        name: '全部'
      }],
      myGroupGoodsList: [], // 商品列表
      cacheList: [],
      page: {
        index: 1,
        size: 6,
        total: 0
      }
    }
  },
  computed: {
    ...mapGetters(['getDisplayMode'])
  },
  created () {
    this.getGroupCatList()
    this.getGroupBuyingList()
  },
  methods: {
    ...mapActions(['setDisplayMode']),
    // 切换显示方式
    switchDisplayMode () {
      this.getDisplayMode === 0 ? this.setDisplayMode(1) : this.setDisplayMode(0)
    },
    onClickLeft () {
      if (window.history.length > 1) {
        this.$router.go(-1)
      } else {
        this.$router.push('/')
      }
    },
    // 团购列表
    getGroupBuyingList () {
      this.requestLoading = true

      let params = {
        page: this.page.index,
        pageSize: this.page.size,
        ownerId: JSON.parse(getCookie('selectedChannel')) && JSON.parse(getCookie('selectedChannel')).channelId ? JSON.parse(getCookie('selectedChannel')).channelId : ''
      }
      if (this.myGroupCatList[this.active].id) {
        params.itemClass = this.myGroupCatList[this.active].id
      }
      api.commonCall(params, 'queryGroupBuyList').then(res => {
        this.requestLoading = false
        if (res.success) {
          this.cacheList = this.cacheList.concat(res.data.groupList)
          this.myGroupGoodsList.splice(0, this.myGroupGoodsList.length, ...this.cacheList)
          this.page.total = res.data.count
          this.finished = false

          this.loading = false

          if (this.cacheList.length >= this.page.total) {
            this.finished = true
          }
          setTimeout(() => {
            this.isLoading = false
          }, 100)
        }
      })
    },
    // 下拉刷新
    onRefresh () {
      this.page.index = 1
      this.cacheList = []
      this.getGroupBuyingList()
    },
    // 上拉加载
    onLoad () {
      this.page.index++
      this.getGroupBuyingList()
    },
    _changeTab () {
      this.page.index = 1
      this.cacheList = []
      this.getGroupBuyingList()
    },
    getGroupCatList () {
      api.queryGoodsCategory().then(res => {
        if (res.success) {
          for (let i = 0; i < res.data.length; i++) {
            this.myGroupCatList.push({
              id: res.data[i].id,
              name: res.data[i].name
            })
          }
        }
      })
    }
  },
  components: {
    GoodsItemHorizontal,
    GoodsItemVertical,
    NoData
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.group-wrap{
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background-color: #f8f8f8;
  @{deep}.van-nav-bar {
    .van-nav-bar__right {
      .switch {
        padding-right: 4px;
        height: 96px;
        display: flex;
        align-items: center;
        justify-content: center;
        &::before {
          display: inline-block;
          width: 48px;
          height: 48px;
          content: "";
          .bg-img("~@/assets/images/icon/icon-vertical-column");
          background-size: 100% 100%;
        }
        &.horizontal {
          &::before {
            display: inline-block;
            width: 48px;
            height: 48px;
            content: "";
            .bg-img("~@/assets/images/icon/icon-horizontal-column");
            background-size: 100% 100%;
          }
        }
      }
    }
  }

  .head-tabs {
    @{deep}.van-tabs__wrap {
      &:after {
        border-top: 0;
      }
    }

    .horizontal-list {
      margin-top: 6px;
      overflow: hidden;
      .item {
        width: 372px;
        float: left;
        margin-bottom: 6px;
      }
      .item:nth-child(odd) {
        margin-right: 6px;
      }
    }
    .vertical-list {
      padding-top: 14px;
      background-color: #fff;
    }
    .no-data-box {
      // background: white;
    }
  }
  .group-top{
    width: auto;
    height: 64px;
    background-color: #FFFFFF;
    .van-icon{
      width: 32px;
      height: 32px;
      float: left;
      left: 15px;
      top: 20px;
      padding-right: 15px;
    }
    .group-top-right{
      width: 91%;
      height: 100%;
      float: left;
      .group-option{
        width: 100%;
        height: 100%;
        overflow: hidden;
        overflow-x: scroll;
        ul{
          .group-list{
            width: 60px;
            float: left;
            white-space: nowrap;
            line-height: 64px;
            text-align: center;
            margin-left: 30px;
            border-bottom: 4px solid #E03C31;
            box-sizing: border-box;
          }
        }
      }
    }
    ::-webkit-scrollbar{
      display: none;
    }
  }
  .group-content{
    width: 100%;
    overflow: hidden;
    margin-top: 6px;
    .group-content-list{
      width: 372px;
      height: 582px;
      margin-bottom: 6px;
      float: left;
      &:nth-child(even) {
        margin-left: 6px;
      }
      .group-content-img{
        width: 100%;
        height: 372px;
        img{
          width: 100%;
          height: 372px;
        }
      }
      .group-content-option{
        width: 100%;
        height: 210px;
        background: #FFFFFF;
        .option-title{
          width: 100%;
          overflow: hidden;
          p{
            font-weight: bold;
            font-size: 32px;
            color: #434349;
            margin-top: 20px;
            padding-left: 26px;
          }
        }
        .group-price{
          width: 100%;
          overflow: hidden;
          h6{
            float: left;
            font-size: 24px;
            color: #434349;
            padding-left: 26px;
            margin-top: 11px;
          }
          p{
            float: left;
            color: #E51C23;
            font-size: 24px;
            font-weight: 600;
            margin-top: 6px;
            span{
              font-size: 36px;
              margin-top: 2px;
              font-weight: 600;
              margin-left: 3px;
              margin-right: 3px;
            }
          }
        }
        .retail-price{
          width: 100%;
          overflow: hidden;
          p{
            float: left;
            padding-left: 26px;
            color: #A9ABAF;
            font-size: 24px;
          }
          span{
            float: left;
            color: #A9ABAF;
            font-size: 24px;
            text-decoration: line-through;
          }
        }
        .already-spell{
          width: 100%;
          overflow: hidden;
          p{
            float: left;
            padding-left: 26px;
            color: #A9ABAF;
            font-size: 24px;
          }
          .already-spell-portrait{
            width: 150px;
            height: 50px;
            float: right;
            margin-top: -2px;
            position: relative;
            .portrait-one{
              width: 40px;
              height: 40px;
              position: absolute;
              border-radius: 30px;
              left: 50px;
              border: 2px solid #FFFFFF;
              img{
                width: 40px;
                height: 40px;
              }
            }
            .portrait-two{
              width: 40px;
              height: 40px;
              position: absolute;
              border-radius: 30px;
              left: 80px;
              border: 2px solid #FFFFFF;
              img{
                width: 40px;
                height: 40px;
              }
            }
          }
        }
      }
    }
  }
}
</style>
