<template>
  <div class="place-order">
    <div class="navbar">
      <van-nav-bar title="填写订单" left-arrow @click-left="onleftclick"/>
    </div>

    <div class="content van-content">
      <!-- 订单 -->
      <div class="order-list">
        <div class="order-item">
          <div class="title">
            <i></i>
            <span class="owner-name">{{orderList.storeName || orderList.ownerName}}</span>
            <van-tag color="#f39800" plain v-if="orderList.ownerType === '1'">养禽</van-tag>
            <van-tag color="#f39800" plain v-else-if="orderList.ownerType === '2'">养猪</van-tag>
            <van-tag color="#f39800" plain v-else-if="orderList.ownerType === '3'">乳业</van-tag>
            <van-tag color="#f39800" plain v-else-if="orderList.ownerType === '4'">鲜品</van-tag>
            <van-tag color="#f39800" plain v-else-if="orderList.ownerType === '5'">蛋业</van-tag>
            <van-tag color="#f39800" plain v-else-if="orderList.ownerType === '6'">熟食</van-tag>
          </div>

          <div class="goods-item last">
            <div class="goods-item-inner">
              <div
                class="goods-img format-img"
                v-lazy:background-image="allImgDomainName + orderList.itemPic"
              ></div>
              <div class="goods-content">
                <div>{{orderList.itemTitle}}</div>
                <div class="price-module">
                  <span >
                    <span>{{orderList.price | keepTwoNum}}</span> 元/{{orderList.saleUnitName}}
                  </span>
                  <span>
                    <p class="text-right">
                      {{orderList.qty}}（{{orderList.assistUnitName ? orderList.assistUnitName : orderList.saleUnitName}}）
                    </p>
                    <p class="red text-right">约 {{orderList.qty * orderList.avgWeight | keepTwoNum}}（{{orderList.saleUnitName}}）</p>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="params">
            <div class="list active" @click="togglePopup('warehouse', 0, orderList.ownerId)">
              <div class="label">提货点</div>
              <div class="content-right">{{selectList.warehouseName}}</div>
              <div class="arrow">
                <van-icon name="arrow"/>
              </div>
            </div>

            <div class="list active" @click="togglePopup('needDate', 0, orderList.ownerId)">
              <div class="label">要货时间</div>
              <div class="content-right">{{selectList.needTime ? selectList.needDate + ' ' + selectList.needTimeSlot : '请选择'}}</div>
              <div class="arrow">
                <van-icon name="arrow"/>
              </div>
            </div>

            <div class="list active" @click="togglePopup('arrivalTime', 0, orderList.ownerId)">
              <div class="label">到场时间</div>
              <div class="content-right">{{selectList.arrivalTime}}</div>
              <div class="arrow">
                <van-icon name="arrow"/>
              </div>
            </div>

            <div class="list active" @click="goDriver(0)">
              <div class="label">司机信息</div>
              <div class="content-right">{{driverName}}</div>
              <div class="arrow">
                <van-icon name="arrow"/>
              </div>
            </div>

            <div class="list active">
              <div class="label">配送方式</div>
              <div class="content-right">{{expressName}}</div>
              <div class="arrow">
                <van-icon name="arrow"/>
              </div>
            </div>

            <!-- <div class="list active" @click="up = true">
              <div class="label">优惠券</div>
              <div class="content-right" v-if="couponList && couponList.length">{{(discountAmount ? '-' + discountAmount.toFixed(2) : discountAmount.toFixed(2)) + '元' || '请选择优惠券'}}</div>
              <div class="content-right" v-else>暂无优惠券</div>
              <div class="arrow">
                <van-icon name="arrow"/>
              </div>
            </div> -->

            <div class="list active">
              <div class="label">配送时间</div>
              <div class="content-right">{{deliveryTime}}</div>
              <div class="arrow">
                <van-icon name="arrow"/>
              </div>
            </div>

            <div class="list">
              <div class="label">买家留言</div>
              <div class="content">
                <input class="input" type="text" placeholder="填写内容已和商家协商确认" v-model="orderList.orderRemark">
              </div>
            </div>
          </div>

          <div class="total">
            共
            <span>{{orderList.qty || 0}}</span> 件，小计：
            <span>{{(orderList.price * orderList.qty * orderList.avgWeight) | keepTwoNum}} 元</span>
          </div>
        </div>
      </div>
    </div>

    <!-- 弹出框 -->
    <pop-up
      :up="up"
      @hide="() => {up = false}"
      :line="true"
      :btns="[{name: '确认', color: 'white'}]"
      title="平台优惠"
      class="coupon-box"
      @btn-click="up = false"
    >
      <div class="place-coupon">
        <div class="place-coupon-option">
          <div class="place-coupon-list" v-for="(item, index) in filterCouponList" :key="index" @click="selectedCoupon(item, index)">
            <div class="place-coupon-content">
              <p class="p-yuan">&yen;<span>{{item.discountAmount}}</span></p>
              <p class="p-text">{{item.activityUsing === '0' ? '满' + item.activityAmount + '元可用' : '立减券'}}</p>
            </div>
            <div class="place-coupon-text">
              <p v-if="item.availableType === 'D'">通用券</p>
              <p v-else-if="item.availableType === 'C'">{{item.availableName}}渠道专属</p>
              <p v-else-if="item.availableType === 'B'">{{item.availableName}}分类专属</p>
              <p v-else-if="item.availableType === 'A'">{{item.availableName}}商品专属</p>
              <span>{{item.expirationDate}}</span>
            </div>
            <div class="coupon-selected" v-if="item.isSelect">
              <img src="@/assets/images/coupon/selected.svg" alt="">
            </div>
          </div>
          <div class="coupon-content-bottom" @click="clearCoupon">
            <p>暂不使用优惠</p>
            <div class="uncoupon-selected" v-if="isClearCoupon">
              <img src="@/assets/images/coupon/selected.svg" alt="">
            </div>
          </div>
        </div>
        <hr style="border:6px solid #e5e5e5;"/>
        <!-- <div class="place-unCoupon-bottom">
          <p class="p-title">以下优惠券不满足使用条件</p>
          <div class="coupon-two" v-for="(item, index) in unCouponList" :key="index">
            <div class="coupon-two-left">
              <p class="p-yuan">&yen;<span>5</span></p>
              <p class="p-text">满50可用</p>
            </div>
            <div class="coupon-two-right">
              <p>全场通用</p>
              <span>2019.11.6-2019.11.29</span>
            </div>
          </div>
        </div> -->
      </div>
    </pop-up>

    <!-- 底部按钮 -->
    <bottom-button @on-btn="submit">
      <div class="total-total">
        <span>优惠
          <span>{{(discountAmount ? '-' + discountAmount : discountAmount) | keepTwoNum}}</span> 元，应付：
          <span v-if="(orderList.price * orderList.qty * orderList.avgWeight) < discountAmount">0 元</span>
          <span v-else>{{((orderList.price * orderList.qty * orderList.avgWeight) - discountAmount) | keepTwoNum}} 元</span>
        </span>
      </div>
    </bottom-button>

    <!-- 底部弹出选择框 -->
    <van-popup v-model="showPopupSelect" position="bottom" :lock-scroll="false">
      <div class="popup">
        <div class="popup-content">
          <div class="title">{{popupTitle}}</div>

          <div class="select-list">
            <div
              v-for="item in popupInfo[popupType]"
              :key="item.value"
              @click="clickSelect(item)"
            >{{popupType === 'warehouse' && item.warehouseName ||
              popupType === 'needDate' && (item.date + ' ' + item.time_slot) ||
              popupType === 'arrivalTime' && item}}
              </div>
          </div>

          <div class="button" @click="cancel">取消</div>
        </div>
      </div>
    </van-popup>

    <!--拼团剩余数量不足时弹出框-->
    <div class="lazyWeight" v-if="lazyWeight">
      <div class="lazyWeight-content">
        <div class="lazyWeight-content-close" @click="cancelOrder"></div>
        <div class="lazyWeight-content-option">
          <div v-if="availableNum > 0">
            <p>尊敬的用户，该团购活动的库存数只剩余{{availableNum}}{{orderList.assistUnitName ? orderList.assistUnitName : orderList.saleUnitName}}，是否只购买{{availableNum}}{{orderList.assistUnitName ? orderList.assistUnitName : orderList.saleUnitName}}</p>
            <div class="lazyWeight-confirm" @click="resubmit">确定修改</div>
            <div class="lazyWeight-cancel" @click="cancelOrder">取消订单</div>
          </div>
          <div v-else>
            <p>尊敬的用户，该团购活动的库存数剩余0,不能进行购买</p>
            <div class="lazyWeight-jump" @click="toGourpBuying">确定</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BottomButton from '@/components/bottom-button'
import PopUp from '@/components/pop-up'
import { allImgDomainNameMixin } from '@/assets/js/mixin'
import { api } from '@/api'
import { _debounce, zero } from '@/utils/common'

export default {
  name: 'place-order',
  mixins: [allImgDomainNameMixin],
  components: {
    PopUp,
    BottomButton
  },
  data () {
    return {
      deliveryTime: '48小时内发货',
      expressName: '自提', // 配送方式
      orderList: {},
      addressInfo: {},
      driverInfo: {},
      totalNum: 0,
      totalPrice: 0,
      driverId: '',
      addressId: '',
      orderSaveFlag: false, // 记录订单提交状态
      firstEnter: true,
      driverList: [],
      showPopupSelect: false,
      popupType: '',
      popupInfo: {
        warehouse: [],
        needDate: [],
        arrivalTime: []
      },
      cartListIndex: -1,
      warehouseList: [], // 提货点列表
      needTimeSelect: [], // 要货时间列表
      arrivalTimeList: [], // 到场时间列表
      needDate: '', // 查询的要求要货日期
      needTime: -1, // 查询的要求要货时间(0-不限, 1-上午, 2-下午)
      cacheDriver: [],
      loadingToast: null,
      orderInfo: null,
      selectList: { // 选中的列表
        warehouseId: null,
        warehouseName: '请选择',
        warehouseNumber: null,
        needDate: null,
        needTime: null,
        needTimeSlot: null,
        arrivalTime: null
      },
      lazyWeight: false, // 剩余数量不足
      availableNum: null, // 剩余可用数量
      driverName: '请选择',
      up: false, // 优惠券弹出框
      couponList: [], // 优惠券列表
      // unCouponList: [], // 优惠券不可用列表
      selectCouponIdArr: [], // 选中优惠券id集合
      discountAmount: 0, // 优惠金额
      isClearCoupon: false,
      activityIsStack: '0' // 0 为不可叠加，1为可叠加
    }
  },
  computed: {
    // 底部弹出框标题
    popupTitle () {
      switch (this.popupType) {
        case 'warehouse':
          return '选择提货点'
        case 'needDate':
          return '选择要货时间'
        case 'arrivalTime':
          return '选择到场时间'
        default:
          return ''
      }
    },
    filterCouponList () {
      return this.couponList.filter(v => (v.activityUsing === '0' && v.activityAmount <= this.totalPrice) || v.activityUsing === '1')
    }
  },
  // 防止不断返回同一个页面
  beforeRouteUpdate (to, from, next) {
    if (to.path === from.path) {
      this.$router.go(-1)
    }

    next()
  },
  created () {
    let query = JSON.parse(sessionStorage.getItem('placeOrder'))
    this.driverId = query && query.driverId
    this.addressId = query && query.addressId

    if (this.driverId) {
      this.firstEnter = false
      this.driverListQuery()
    }

    // 获取订单列表
    if (this.$route.query.activityType === '0') { // 团购
      this.orderInfo = JSON.parse(sessionStorage.getItem('groupBuyingCache'))
    } else if (this.$route.query.activityType === '1') { // 秒杀
      this.orderInfo = JSON.parse(sessionStorage.getItem('flashSaleCache'))
    }
    this.orderList.price = this.orderInfo.merchandiseInfo.price
    this.orderList.qty = this.orderInfo.merchandiseInfo.offerNumber
    this.orderList.ownerType = this.orderInfo.merchandiseInfo.ownerType
    this.orderList.isAssistOrder = false
    this.orderList.saleUnitName = this.orderInfo.merchandiseInfo.saleUnitName
    this.orderList.assistUnitName = this.orderInfo.merchandiseInfo.assistUnitName
    this.orderList.itemTitle = this.orderInfo.merchandiseInfo.name
    this.orderList.storeName = this.orderInfo.merchandiseInfo.storeName
    this.orderList.ownerName = this.orderInfo.merchandiseInfo.ownerName
    this.orderList.ownerId = this.orderInfo.merchandiseInfo.ownerId
    this.orderList.avgWeight = this.orderInfo.merchandiseInfo.avgWeight
    this.orderList.itemPic = this.orderInfo.merchandiseInfo.thumbnail
    this.getWarehouse(this.orderList.ownerId, 0)
    this.getNeedTime(this.orderList.ownerId, this.orderList.ownerType, 0)
    this.getArrivalTime(this.orderList.ownerId, 0)
    // this.getCouponList(this.orderInfo.merchandiseInfo.itemId)
  },
  methods: {
    // 获取司机列表信息
    driverListQuery () {
      api.driverListQuery({ pageNo: 1, pageSize: 1000, status: 'C' }).then(res => {
        if (res.success) {
          this.driverList = res.data.list
          if (this.driverId) {
            for (let i = 0; i < this.driverList.length; i++) {
              if (this.driverList[i].id === this.driverId[0]) {
                this.driverName = this.driverList[i].name // 司机名称
                this.cacheDriver[0] = i
              }
            }
          }
        }
      })
    },
    // 提货点
    getWarehouse (ownerId, index) {
      // 获取提货点列表
      api.warehouseListQuery({ ownerId }).then(res => {
        if (res.success) {
          this.$set(this.warehouseList, index, res.data.list)
          if (res.data.list.length > 0) {
            this.$set(this.selectList, 'warehouseId', res.data.list[0].warehouseId)
            this.$set(this.selectList, 'warehouseName', res.data.list[0].warehouseName)
            this.$set(this.selectList, 'warehouseNumber', res.data.list[0].warehouseNumber)
          }
        } else {
          // res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    // 要货日期
    getNeedTime (ownerId, ownerType, index) {
      if (ownerType === '5') { // 如果是蛋业
        // 初始化日期：蛋业可选要货日为3天内
        let nowDay = new Date()
        let tomorrowDay = new Date(nowDay.getTime() + 24 * 60 * 60 * 1000)
        let secondDay = new Date(nowDay.getTime() + 2 * 24 * 60 * 60 * 1000)
        let thirdDay = new Date(nowDay.getTime() + 3 * 24 * 60 * 60 * 1000)
        let nowDate = nowDay.getFullYear() + '-' + zero(nowDay.getMonth() + 1) + '-' + zero(nowDay.getDate())
        let tomorrowDate = tomorrowDay.getFullYear() + '-' + zero(tomorrowDay.getMonth() + 1) + '-' + zero(tomorrowDay.getDate())
        let secondDate = secondDay.getFullYear() + '-' + zero(secondDay.getMonth() + 1) + '-' + zero(secondDay.getDate())
        let thirdDate = thirdDay.getFullYear() + '-' + zero(thirdDay.getMonth() + 1) + '-' + zero(thirdDay.getDate())

        switch (this.$route.query.date) {
          case nowDate:
            this.$set(this.needTimeSelect, index, [
              { date: this.$route.query.date, time: 2, time_slot: '下午' }
            ])
            break
          case tomorrowDate:
          case secondDate:
          case thirdDate:
            this.$set(this.needTimeSelect, index, [
              { date: this.$route.query.date, time: 0, time_slot: '不限' },
              { date: this.$route.query.date, time: 1, time_slot: '上午' },
              { date: this.$route.query.date, time: 2, time_slot: '下午' }
            ])
            break
          default:
            break
        }
        this.$nextTick(() => {
          if (this.needTimeSelect[index].length > 0) {
            !this.selectList.needDate && this.$set(
              this.selectList,
              'needDate',
              this.needTimeSelect[index][0].date
            )
            !this.selectList.needTime && this.$set(
              this.selectList,
              'needTime',
              this.needTimeSelect[index][0].time
            )
            !this.selectList.needTimeSlot && this.$set(
              this.selectList,
              'needTimeSlot',
              this.needTimeSelect[index][0].time_slot
            )
          }
        })
      } else {
        // 获取要货日期和时间
        api.needTimeQuery({ ownerId }).then(res => {
          if (res.success) {
            this.needDate = res.data[0] ? res.data[0].need_date : this.needDate
            this.needTime = res.data[0] ? res.data[0].need_time : this.needTime

            switch (this.needTime) {
              case 0:
                this.$set(this.needTimeSelect, index, [
                  { date: this.needDate, time: 1, time_slot: '上午' },
                  { date: this.needDate, time: 2, time_slot: '下午' }
                ])
                break
              case 1:
                this.$set(this.needTimeSelect, index, [{ date: this.needDate, time: 1, time_slot: '上午' }])
                break
              case 2:
                this.$set(this.needTimeSelect, index, [{ date: this.needDate, time: 2, time_slot: '下午' }])
                break
              default:
                this.$set(this.needTimeSelect, index, [])
            }

            this.$nextTick(() => {
              if (this.needTimeSelect[index].length > 0) {
                !this.selectList.needDate && this.$set(
                  this.selectList,
                  'needDate',
                  this.needTimeSelect[index][0].date
                )
                !this.selectList.needTime && this.$set(
                  this.selectList,
                  'needTime',
                  this.needTimeSelect[index][0].time
                )
                !this.selectList.needTimeSlot && this.$set(
                  this.selectList,
                  'needTimeSlot',
                  this.needTimeSelect[index][0].time_slot
                )
              }
            })
          } else {
            // res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
          }
        })
      }
    },
    // 到场时间
    getArrivalTime (ownerId, index) {
      api.commonCall({ ownerId }, 'getArrivalTime').then(res => {
        if (res.success) {
          this.$set(this.arrivalTimeList, index, res.data.arrivalTimes)

          this.$nextTick(() => {
            if (this.arrivalTimeList[index].length > 0) {
              !this.selectList.arrivalTime && this.$set(
                this.selectList,
                'arrivalTime',
                this.arrivalTimeList[index][0]
              )
            }
          })
        }
      })
    },
    // 选择司机
    goDriver (index) {
      let query = {
        cacheDriver: this.cacheDriver[index],
        driverIndex: index,
        cacheData: this.orderList,
        status: 'C'
      }

      this.driverId && (query.driverId = this.driverId)
      this.addressId && (query.addressId = this.addressId)
      this.$route.query.isQuickOrder &&
        (query.isQuickOrder = this.$route.query.isQuickOrder)

      sessionStorage.setItem('placeOrder', JSON.stringify(query))

      this.$router.push({
        path: '/driver'
      })
    },
    onleftclick () {
      this.$router.go(-1)
    },
    toGourpBuying () {
      this.$router.replace({ path: '/groupBuying' })
    },
    // 底部弹出选择框
    togglePopup (type, index, ownerId, ownerType) {
      this.showPopupSelect = true
      this.popupType = type
      this.cartListIndex = index
      if (this.popupType === 'warehouse') {
        this.$set(this.popupInfo, 'warehouse', this.warehouseList[index])
      } else if (this.popupType === 'needDate') {
        this.$set(this.popupInfo, 'needDate', this.needTimeSelect[index])
      } else if (this.popupType === 'arrivalTime') {
        this.$set(this.popupInfo, 'arrivalTime', this.arrivalTimeList[index])
      }
    },
    // 底部弹出选择框列表点击
    clickSelect (item) {
      this.showPopupSelect = false
      if (this.popupType === 'warehouse') {
        this.$set(
          this.selectList,
          'warehouseId',
          item.warehouseId
        )
        this.$set(
          this.selectList,
          'warehouseName',
          item.warehouseName
        )
        this.$set(
          this.selectList,
          'warehouseNumber',
          item.warehouseNumber
        )
      } else if (this.popupType === 'needDate') {
        this.$set(
          this.selectList,
          'needDate',
          item.date
        )
        this.$set(
          this.selectList,
          'needTime',
          item.time
        )
        this.$set(
          this.selectList,
          'needTimeSlot',
          item.time_slot
        )
      } else if (this.popupType === 'arrivalTime') {
        this.$set(
          this.selectList,
          'arrivalTime',
          item
        )
      }
    },
    // 底部弹出选择框取消
    cancel () {
      this.showPopupSelect = false
    },
    // 修改数量后重新提交
    resubmit () {
      this.lazyWeight = false
      this.submit()
    },
    // 提交订单
    submit: _debounce(function () {
      if (this.orderSaveFlag) return
      this.orderSaveFlag = true

      let params = {
        orderItem: []
      }

      let shopItem = {} // 店铺
      let itemEntry = [] // 店铺中的商品项
      shopItem.subtotal = 0 // 金额小计用不到，但是必传，则随便传个0
      shopItem.ownerId = this.orderList.ownerId // 渠道id
      shopItem.payType = '001' // 付款方式

      if (this.warehouseList[0] && this.warehouseList[0].length) {
        if (this.selectList.warehouseId) {
          shopItem.warehouse = this.selectList.warehouseId // 提货点id
        } else {
          this.$toast('请选择提货点')
          setTimeout(() => {
            this.orderSaveFlag = false
          }, 1000)
          return
        }
      }

      if (typeof this.selectList.needTime === 'number') {
        shopItem.arrivalDate = this.selectList.needDate // 要货日期
        shopItem.needTime = this.selectList.needTime + '' // 要货时间
      } else {
        this.$toast('请选择要货时间')
        setTimeout(() => {
          this.orderSaveFlag = false
        }, 1000)
        return
      }

      if (this.arrivalTimeList[0] && this.arrivalTimeList[0].length) {
        if (this.selectList.arrivalTime) {
          shopItem.arrivalTime = this.selectList.arrivalTime // 到场时间
        } else {
          this.$toast('请选择到场时间')
          setTimeout(() => {
            this.orderSaveFlag = false
          }, 1000)
          return
        }
      }

      if (this.orderList.driverId) {
        shopItem.driverId = this.orderList.driverId // 司机id
        shopItem.driverPhone = this.orderList.driverPhone // 司机手机号
        shopItem.driverNub = this.orderList.driverNub // 司机车牌号
      }

      shopItem.orderRemark = this.orderList.orderRemark // 留言

      let myQty = this.availableNum ? this.availableNum : this.orderList.qty
      const money = myQty * this.orderList.price * this.orderList.avgWeight

      let item = {
        shoppingCartId: '',
        itemId: this.orderInfo.merchandiseInfo.itemId,
        name: this.orderList.itemTitle,
        price: this.orderList.price + '',
        money: money + '',
        entryType: '0',
        avgWeight: this.orderList.avgWeight
      }

      item.unitId = this.orderInfo.merchandiseInfo.unitId
      item.qty = myQty + ''

      itemEntry.push(item)
      shopItem.itemEntry = itemEntry // 店铺项
      params.orderItem.push(shopItem)
      params.amount = money // 总金额

      this.loadingToast = this.$toast.loading({
        duration: 0, // 持续展示
        overlay: true, // 显示背景蒙层
        message: '正在提交...'
      })

      if (this.orderList.selectCouponIdArr && this.orderList.selectCouponIdArr.length) {
        params.couponIds = this.orderList.selectCouponIdArr.join(',')
        params.cutAmount = this.discountAmount
      }

      params.id = this.orderInfo.id // 活动id
      if (this.$route.query.activityType === '0') { // 团购
        params.groupType = this.orderInfo.groupType // 成团类型 0：发起拼团  1：参与拼团
        params.orderItem[0].compNumber = this.orderInfo.compNumber // 成团数
        params.orderItem[0].saleNumber = this.orderInfo.saleNumber // 已购订单数
        params.groupOrderId = this.orderInfo.groupOrderId // 团购订单id
        // 团购提交订单
        api.commonCall(params, 'submitGroupOrder').then(res => {
          this.loadingToast && this.loadingToast.clear()
          if (res.success) {
            // 可用数量不足
            if (res.data) {
              this.lazyWeight = true
              this.availableNum = res.data.availableNum
              setTimeout(() => {
                this.orderSaveFlag = false
              }, 1000)
            } else {
              this.$toast.success('提交成功')
              setTimeout(() => {
                this.$router.replace({ path: '/order', query: { orderType: 0, index: 1, businessIndex: 0, biztypeId: '' } })
              }, 500)
            }
          } else {
            setTimeout(() => {
              this.orderSaveFlag = false
            }, 1000)
            // res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
            // this.$toast({
            //   position: 'bottom',
            //   message: res.stack
            // })
            this.$dialog.alert({
              title: '提交订单失败',
              message: res.message && res.message.replace('调用移动分销接口失败：', '')
            }).then(() => {

            })
          }
        })
      } else {
        // 秒杀提交订单
        let data = {
          ownerId: this.orderList.ownerId,
          customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
        }
        api.commonCall(data, 'createOrderRelationship').then(res => { // // 先校验和我所在的渠道有没有订货关系
          if (res.success) {
            api.commonCall(params, 'submitSpikeSaleOrder').then(res => {
              this.loadingToast && this.loadingToast.clear()
              if (res.success) {
                this.$toast.success('提交成功')
                setTimeout(() => {
                  this.$router.replace({ path: '/order', query: { orderType: 0, index: 2, businessIndex: 0, biztypeId: '' } })
                }, 500)
              } else {
                setTimeout(() => {
                  this.orderSaveFlag = false
                }, 1000)
                // res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
                // this.$toast({
                //   position: 'bottom',
                //   message: res.stack
                // })
                this.$dialog.alert({
                  title: '温馨提示',
                  message: res.message && res.message.replace('调用移动分销接口失败：', '')
                }).then(() => {

                })
              }
            })
          } else {
            this.loadingToast && this.loadingToast.clear()
            setTimeout(() => {
              this.orderSaveFlag = false
            }, 1000)
            // res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
            // this.$toast({
            //   position: 'bottom',
            //   message: res.stack
            // })
            this.$dialog.alert({
              title: '温馨提示',
              message: res.message && res.message.replace('调用移动分销接口失败：', '')
            }).then(() => {

            })
          }
        })
      }
    }, 500),
    // 取消订单
    cancelOrder () {
      this.lazyWeight = false
      // 初始化剩余数量
      this.availableNum = ''
    },
    // 获取可用优惠券列表
    getCouponList (itemId) {
      let coupons = []
      coupons.push({
        orderType: 'B', // A:普通订单可用 B:全部订单可用
        ownerId: this.orderList.ownerId, // 渠道id
        itemId: itemId // 商品id
      })
      api.commonCall({ coupons: coupons }, 'getCanUseCouponList').then(res => {
        if (res.success) {
          this.couponList = res.data.couponList
          // this.unCouponList = res.data.unCouponList  后台返回需要的数据后，再放开显示
          this.couponList.forEach((v, i) => {
            this.$set(v, 'isSelect', 0)
          })
        }
      })
    },
    selectedCoupon (item, index) {
      this.isClearCoupon = false
      // 判断是选中优惠券还是取消优惠券
      if (this.couponList[index].isSelect) {
        this.selectCouponIdArr.splice(this.selectCouponIdArr.indexOf(item.id), 1)
        this.$set(this.couponList[index], 'isSelect', 0)
        this.discountAmount = this.discountAmount - item.discountAmount
      } else {
        // 如果已经选择了优惠券，则判断当前选择的优惠券是否可叠加
        if (this.orderList.selectCouponIdArr && this.orderList.selectCouponIdArr.length) {
          if (item.activityIsStack === '1' && this.activityIsStack === '1') { // 可叠加优惠券只能和可叠加优惠券一块使用
            this.selectCouponIdArr.push(item.id)
            this.$set(this.couponList[index], 'isSelect', 1)
            this.discountAmount = this.discountAmount + +item.discountAmount
          } else {
            this.$toast.fail('该优惠券不可叠加使用')
            this.up = false
          }
        } else {
          this.selectCouponIdArr.push(item.id)
          this.$set(this.couponList[index], 'isSelect', 1)
          this.discountAmount = +item.discountAmount
          this.activityIsStack = item.activityIsStack
        }
      }
      this.$set(
        this.orderList,
        'selectCouponIdArr',
        this.selectCouponIdArr
      )
      this.$set(
        this.orderList,
        'discountAmount',
        this.discountAmount
      )
    },
    clearCoupon () {
      this.isClearCoupon = true
      this.selectCouponIdArr = []
      this.discountAmount = 0
      this.couponList.forEach((v, i) => {
        this.$set(v, 'isSelect', 0)
      })
      this.$set(
        this.orderList,
        'selectCouponIdArr',
        this.selectCouponIdArr
      )
      this.$set(
        this.orderList,
        'discountAmount',
        this.discountAmount
      )
      this.up = false
    }
  },
  beforeRouteEnter (to, from, next) {
    if (from.path !== '/driver') {
      if (sessionStorage.getItem('placeOrder')) {
        sessionStorage.removeItem('placeOrder')
      }
    }
    next()
  },
  beforeDestroy () {
    this.loadingToast && this.loadingToast.value && this.loadingToast.clear()
  }
}
</script>

<style scoped lang="less">
@import "~@/assets/css/mixin.less";

.place-order {
  background: rgba(245, 245, 245, 1);
  padding-bottom: 96px;

  .format-img {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }

  .radio-box {
    .radio-content {
      padding: 28px;
    }

    @{deep} .van-radio {
      .border-1px(rgb(232, 233, 235));
      background: white;

      .van-radio__label {
        transition: all 0.2s;
        width: calc(100% - 90px);
        box-sizing: border-box;
        font-size: 26px;
        color: #2e3033;
        padding-right: 24px;
      }

      .van-radio__icon {
        transition: all 0.2s;
        padding-left: 30px;

        &.van-radio__icon--checked {
          .van-icon-success {
            display: block;
            color: rgba(0, 0, 0, 0);
            border: 0;
            background-color: transparent;

            &:before {
              content: " ";
              display: block;
              width: 32px;
              height: 32px;
              box-sizing: border-box;
              border: 10px solid #e33240;
              border-radius: 50%;
            }
          }
        }

        .van-icon-success {
          display: block;
          color: rgba(0, 0, 0, 0);
          border: 0;
          background-color: transparent;

          &:before {
            content: " ";
            display: block;
            width: 32px;
            height: 32px;
            border: 1px solid #c1c4ca;
            box-sizing: border-box;
            border-radius: 50%;
          }
        }
      }
    }
  }

  .list {
    height: 96px;
    display: flex;
    align-items: center;
    font-size: 28px;

    .label {
      width: 180px;
      text-align: center;
      color: #8e939a;
      line-height: 96px;
    }

    .content {
      flex: 1;
    }

    .content-right {
      flex: 1;
      text-align: right;
      color: #2e3033;
    }

    .arrow {
      font-size: 24px;
      color: #c1c4ca;
      width: 70px;
      text-align: center;
      padding-top: 4px;
    }
  }

  .active {
    position: relative;
    overflow: hidden;

    &:active {
      &:after {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.08);
      }
    }
  }

  .input {
    display: block;
    outline: none;
    width: 100%;
    border: 0;
    height: 60px;

    &::-webkit-input-placeholder {
      color: #c1c4ca;
    }
  }

  > .content {
    &.van-content {
      padding-top: 92px;
    }

    .line {
      .bg-img("~@/assets/images/border");
      height: 6px;
      background-size: contain;
      margin-bottom: 16px;
    }

    .line2 {
      .bg-img("~@/assets/images/border2");
      height: 6px;
      background-size: contain;
      margin-bottom: 16px;
    }

    .personal {
      display: flex;
      align-items: center;
      background: white;

      > div {
        &:first-child {
          width: calc(100% - 90px);
          box-sizing: border-box;
          padding: 50px 70px 50px 30px;

          > div {
            color: #2e3033;

            &:first-child {
              font-size: 36px;
              padding-bottom: 25px;

              > span {
                &:first-child {
                  padding-right: 50px;
                }
              }
            }

            &:last-child {
              font-size: 26px;
            }
          }
        }

        &:last-child {
          width: 90px;
          text-align: center;
          color: rgb(193, 196, 202);
          font-size: 24px;
        }
      }
    }

    .driver {
      display: flex;
      align-items: center;
      background: white;

      > div {
        &:first-child {
          padding-left: 24px;
          padding-right: 40px;

          div {
            width: 120px;
            height: 120px;
            border-radius: 50%;
          }
        }

        &:nth-child(2) {
          width: calc(100% - 274px);
          box-sizing: border-box;
          padding: 50px 70px 50px 0;

          > div {
            color: #2e3033;

            &:first-child {
              font-size: 36px;
              padding-bottom: 25px;

              > span {
                &:first-child {
                  padding-right: 50px;
                }
              }
            }

            &:last-child {
              font-size: 26px;
            }
          }
        }

        &:last-child {
          width: 90px;
          text-align: center;
          color: rgb(193, 196, 202);
          font-size: 24px;
        }
      }
    }

    .remark {
      margin-bottom: 16px;
      background: white;
      height: 96px;
      font-size: 28px;
      display: flex;

      > div {
        &:first-child {
          width: 120px;
          color: #8e939a;
          height: 100%;
          line-height: 96px;
          text-align: center;
        }

        &:last-child {
          flex: 1;
          padding-top: 18px;
        }
      }
    }

    .order-list {
      .order-item {
        margin-bottom: 16px;
        background: white;

        .title {
          display: flex;
          padding: 40px 0;

          i {
            .bg-img("~@/assets/images/icon/shop");
            display: block;
            width: 80px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
          }

          .owner-name {
            color: #2e3033;
            font-size: 30px;
          }

          .van-tag {
            height: 32px;
            margin-left: 30px;
            padding: 2px 6px;
          }
        }

        .goods-item {
          padding: 0 24px 30px;
          position: relative;
          >.comList {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            text-align: center;
            background: #e33240;
            color: white;
          }
          &.border-1 {
            border: 1px solid #e33240;
            border-bottom: 0;
            padding-top: 60px;
          }
          &.border-middle {
            border: 1px solid #e33240;
            border-top: 0;
            border-bottom: 0;
          }
          &.border-last {
            border: 1px solid #e33240;
            border-top: 0;
          }
          .goods-item-inner{
            display: flex;

            .goods-img {
              width: 180px;
              height: 180px;
            }

            .goods-content {
              flex: 1;
              padding-left: 24px;
              display: flex;
              flex-direction: column;

              > div {
                color: #2e3033;

                &:first-child {
                  font-size: 28px;
                  line-height: 36px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  display: -webkit-box;
                  -webkit-line-clamp: 2;
                  -webkit-box-orient: vertical;
                }

                &:nth-child(2) {
                  font-size: 22px;
                  padding: 15px 0;
                  color: #8e939a;
                }

                &.price-module {
                  .product-number {
                    input {
                      width: 80px;
                      line-height: 36px;
                      text-align: center;
                      color: #5e6166;
                      background: rgba(200, 200, 200, 0.5);
                      border: 0;
                    }
                  }
                }

                &:last-child {
                  flex: 1;
                  display: flex;
                  justify-content: space-between;
                  align-items: flex-end;

                  > span {
                    color: #e33240;
                    font-size: 22px;

                    &:last-child {
                      padding-right: 46px;
                    }

                    > span {
                      font-size: 30px;
                    }
                  }
                }
              }
            }
          }
        }

        .proList {
          border-bottom: 2px dashed #e33240;
          // text-align: center;
          margin: 0 20px 20px;
          >span {
            background: #e33240;
            color: white;
            display: inline-block;
            padding: 1px 6px 0;
            position: relative;
            margin-bottom: -2px;
          }
        }

        .total {
          font-size: 28px;
          color: #2e3033;
          text-align: right;
          padding: 40px 0;
          padding-right: 30px;

          > span {
            color: #e33240;
          }
        }
      }
    }
  }

  .total-total {
    text-align: right;
    padding-right: 30px;

    > span {
      font-size: 30px;
      color: #2e3033;
      > span {
        color: #e33240;
      }
    }
  }

  .popup {
    color: #2e3033;
    font-size: 30px;
    background: rgb(245, 245, 245);
    text-align: center;

    .active {
      position: relative;
      transform: rotate(0deg);
      overflow: hidden;

      &:active {
        &::before {
          content: " ";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 1;
          background: rgba(0, 0, 0, 0.08);
        }
      }
    }

    > .popup-content > div {
      background: white;
    }

    .title {
      line-height: 96px;
      height: 96px;
      color: #8e939a;
      font-size: 26px;
      .border-1px(rgba(232, 233, 235, 1));
    }

    .select-list {
      max-height: 8 * 96px;
      -webkit-overflow-scrolling: touch;
      overflow: auto;

      > div {
        line-height: 96px;
        height: 96px;
        .active;
        .border-1px(rgba(232, 233, 235, 1));
      }
    }

    .button {
      .active;
      margin-top: 16px;
      line-height: 100px;
      height: 100px;
    }
  }
  .lazyWeight{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.2);
    z-index: 999999;
    .lazyWeight-content{
      width: 526px;
      height: 408px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 16px;
      .lazyWeight-content-close{
        width: 48px;
        height: 48px;
        background: url("~@/assets/images/groupbuying/close.svg") no-repeat center center;
        position: absolute;
        top: -18px;
        right: -20px;
        border-radius: 30px;
        z-index: 1;
      }
      .lazyWeight-content-option{
        width: 100%;
        height: 100%;
        border-radius: 16px;
        background-color: #FFFFFF;
        p{
          padding: 60px 40px;
          font-size: 32px;
          color: #48484A;
          text-align: center;
        }
        .lazyWeight-confirm{
          width: 200px;
          height: 80px;
          border-radius: 12px;
          background-color: #E51C23;
          float: left;
          margin: 44px 0 0 40px;
          color: #FFFFFF;
          font-size: 28px;
          line-height: 80px;
          text-align: center;
        }
        .lazyWeight-cancel{
          width: 200px;
          height: 80px;
          border-radius: 12px;
          background-color: rgb(94, 94, 94);
          float: right;
          margin: 44px 40px 0 0;
          color: #FFFFFF;
          font-size: 28px;
          line-height: 80px;
          text-align: center;
        }
        .lazyWeight-jump{
          width: 440px;
          height: 80px;
          border-radius: 12px;
          background-color: #E51C23;
          margin: 80px auto 0 auto;
          color: #FFFFFF;
          font-size: 28px;
          line-height: 80px;
          text-align: center;
        }
      }
    }
  }
  .coupon-box {
    background-color: #f8f8f8;
    .checkbox-content {
      padding: 28px;
    }

    .place-coupon{
      width: 100%;
      /*height: 100%;*/
      // min-height: 100vh;
      background-color: #f8f8f8;
      .place-coupon-option{
        width: 94%;
        overflow: hidden;
        margin: 0 auto;
        padding-top: 20px;
        background-color: #f8f8f8;
        .place-coupon-list {
          width: 98%;
          height: 166px;
          background: url("~@/assets/images/coupon/plice-coupon-background.svg") no-repeat;
          background-size: 100% 100%;
          padding: 0;
          position: relative;
          .place-coupon-content{
            width: 24%;
            height: 100%;
            float: left;
            .p-yuan{
              font-size: 24px;
              font-weight: 600;
              color: #fff;
              text-align: center;
              padding-top: 40px;
              span{
                font-size: 50px;
              }
            }
            .p-text{
              font-size: 20px;
              color: #fff;
              text-align: center;
            }
          }
          .place-coupon-text{
            width: 60%;
            height: 100%;
            float: left;
            p{
              font-size: 32px;
              color: #333;
              text-align: left;
              padding-left: 26px;
              padding-top: 40px;
            }
            span{
              display: inline-block;
              text-align: left;
              padding-left: 26px;
              font-size: 24px;
              color: #A9ABAF;
              padding-top: 8px;
            }
          }
          .coupon-selected {
            width: 46px;
            position: absolute;
            top: 60px;
            right: 30px;
            img {
              width: 100%;
            }
          }
        }
        .coupon-content-bottom{
          width: 100%;
          height: 88px;
          p{
            float: left;
            font-size: 28px;
            line-height: 88px;
            padding-left: 30px;
          }
          .uncoupon-selected {
            width: 46px;
            float: right;
            margin: 20px 20px 0 0;
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

.red {
  color: #f95c5c;
}

.text-right {
  text-align: right;
}
</style>
