<template>
  <div class="group-details-wrap">
    <div class="head">
      <!-- 滚动前显示 -->
      <div class="navbar1" :style="{opacity}">
        <van-nav-bar left-arrow @click-left="onClickLeft">
          <i class="van-wechatShare" slot="right" @click-right="onClickRight(1)"></i>
          <i class="van-ver-menu2" slot="right" @click-right="onClickRight(2)"></i>
        </van-nav-bar>
      </div>
      <!-- 滚动后显示 -->
      <tab-navbar
        ref="navbar"
        class="navbar2"
        :style="{opacity: 1 - opacity}"
        :tabList="tabList"
        @on-tab="toggleTab"
        @click-left="onClickLeft"
        @click-right="onClickRight"
      ></tab-navbar>
    </div>

    <div id="content" class="van-padding-bottom content">
      <!-- 商品开始 -->
      <div v-show="tabIndex === 0">
        <!-- 轮播开始 -->
        <div class="swiper-container">
          <my-video ref="myVideo" @pause="showVideo = false" v-if="cmtDetails.itemAttachment && cmtDetails.itemAttachment[0]" v-show="showVideo" :video-url="cmtDetails.itemAttachment[0]" class="my-video"></my-video>
          <van-swipe :width="swiperW" :height="swiperH" @change="onChange" v-if="pictureList && pictureList.length">
            <van-swipe-item v-for="(item, index) in pictureList" :key="index + 'swipe'">
              <div
                class="format-img"
                v-lazy:background-image="{ src: allImgDomainName + item, error: require('@/assets/images/default/wens-bg.jpg') }"
                @click="viewPicDetail(index, pictureList)"
              ></div>

              <!-- 播放按钮 -->
              <div
                class="begin-video-box van-bottom"
                v-if="cmtDetails.itemAttachment && cmtDetails.itemAttachment[0] && index === 0"
                @click.stop="playVideo"
              >视频
              </div>
            </van-swipe-item>

            <div class="custom-indicator" slot="indicator">
              {{ current + 1 }}/{{(pictureList && pictureList.length) ? pictureList.length : 0}}
            </div>
          </van-swipe>
          <div v-else-if="pictureList && !pictureList.length">
            <img v-lazy="require('@/assets/images/default/wens-bg.jpg')" :width="swiperW" :height="swiperH">
          </div>
        </div>
        <!-- 轮播结束 -->

        <!-- 商品信息开始 -->
        <div class="group-details-content">
          <div class="catalog-content">
            <div class="catalog-content-one">
              <p>{{cmtDetails.itemName}}</p>
            </div>
            <p class="catalog-content-time">开始时间：{{cmtDetails.beginDate}}</p>
            <p class="catalog-content-time">结束时间：{{cmtDetails.endDate}}</p>
            <div class="catalog-content-two">
              <div class="catalog-content-two-left">
                <p class="gray">拼团价：</p>
                <p class="red"><span>{{cmtDetails.price | keepTwoNum}}</span>元/{{detail.saleUnitName}}</p>
              </div>
              <div class="catalog-content-two-right">
                <p>已&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;拼：</p>
                <span>{{cmtDetails.saleNumber}}{{detail.isAssistOrder ? detail.assistUnitName : detail.saleUnitName}}</span>
              </div>
            </div>
            <div class="catalog-content-three">
              <div class="catalog-content-three-left">
                <p>零售价：</p>
                <span>{{cmtDetails.itemPrice | keepTwoNum}} 元/{{detail.saleUnitName}}</span>
              </div>
              <div class="catalog-content-three-right">
                <p>加量幅度：</p>
                <span>{{cmtDetails.addNumber}}{{detail.isAssistOrder ? detail.assistUnitName : detail.saleUnitName}}</span>
              </div>
            </div>
            <div class="catalog-content-four">
              <div class="catalog-content-four-left">
                <p>起订数：</p>
                <span>{{cmtDetails.beginNumber}}{{detail.isAssistOrder ? detail.assistUnitName : detail.saleUnitName}}</span>
              </div>
              <div class="catalog-content-four-right">
                <p>成团数量：</p>
                <span>{{cmtDetails.compNumber}}{{detail.isAssistOrder ? detail.assistUnitName : detail.saleUnitName}}</span>
              </div>
            </div>
          </div>
          <!-- 商品信息结束 -->

          <!-- 拼单列表开始 -->
          <!-- cmtDetailsType等于2,可多次参与拼团 -->
          <div class="assemble-content" v-if="cmtDetailsType === '2' && cmtDetails.orderCount > 0">
            <div class="assemble-content-title">
              <p>{{cmtDetails.orderCount}}人正在拼单，可直接参与</p>
              <span @click="showCompetitionMore = true">查看更多&nbsp;&nbsp;<van-icon name="arrow" /></span>
            </div>
            <div class="assemble-content-option">
              <div class="assemble-content-list" v-for="(assembleItem, assembleIndex) in assembleList.slice(0, 4)" :key="assembleIndex">
                <div class="assemble-left">
                  <img v-lazy="{ src: allImgDomainName + assembleItem.userPic, error: headIcon }">
                  <p>{{assembleItem.userName}}</p>
                </div>
                <div class="assemble-right">
                  <button :class="cmtDetails.bulkStatus === 'A' || cmtDetails.bulkStatus === 'D' || remNumber <= 0 || assembleItem.activityIsOver ? 'assemble-right-btn-over' : 'assemble-right-btn' " @click="toCompetition(assembleIndex, assembleItem.id, 2)">去拼团</button>
                  <p class="text">还差<span>{{cmtDetails.compNumber - assembleItem.saleNumber}}{{detail.isAssistOrder ? detail.assistUnitName : detail.saleUnitName}}</span>拼成</p>
                  <p class="time">剩余<van-count-down :time="assembleItem.lengthOfCountdownTime" format="DD天 HH:mm:ss" @finish="assembleItem.activityIsOver = true"/></p>
                </div>
              </div>
            </div>
          </div>
          <div class="only-assembled-content" v-else-if="cmtDetailsType === '1' && cmtDetails.orderCount > 0">
            <div class="only-assembled-title">
              <p class="only-assembled-left">{{assembleList[0].partNumber}}人已拼团，
                <span v-if="cmtDetails.compNumber - assembleList[0].saleNumber > 0">还差{{cmtDetails.compNumber - assembleList[0].saleNumber}}{{detail.isAssistOrder ? detail.assistUnitName : detail.saleUnitName}}！</span>
                <span v-else>已成团</span>
              </p>
              <p class="only-assembled-right">剩余时间：<van-count-down :time="lengthOfCountdownTime" format="DD天 HH:mm:ss" @finish="cmtDetails.bulkStatus = 'D'"/></p>
            </div>
            <div class="only-assembled-content-list">
              <div class="only-assembled-list" v-for="(assembleItem, assembleIndex) in saleOrderList" :key="assembleIndex">
                <div class="assembled-list-img">
                  <img v-lazy="{ src: allImgDomainName + assembleItem.userPic, error: headIcon }">
                </div>
                <p class="p-name">{{assembleItem.userName}}</p>
                <div class="assembled-list-right">
                  <p class="p-right">已购买 <span>{{assembleItem.assistQty}}{{detail.isAssistOrder ? detail.assistUnitName : detail.saleUnitName}}</span></p>
                  <p class="p-grey">{{assembleItem.createTime.split('.')[0]}}</p>
                </div>
              </div>
            </div>
          </div>
          <!-- 拼单列表结束 -->

          <!-- 评价列表开始 -->
          <div class="evaluate-list">
            <div class="title">评价（{{evaluate.count || 0}}）</div>
            <ul v-if="evaluate.list">
              <li
                v-for="(item, index) in JSON.parse(JSON.stringify(evaluate.list.slice(0, 3)))"
                :key="index + 'eva'"
              >
                <div>
                  <span
                    class="format-img"
                    v-lazy:background-image="{ src: item.usrImg && JSON.parse(item.isAnonymity) === false ? allImgDomainName + item.usrImg : '',
                      error: require('@/assets/images/default_profile@2x.png') }"
                  ></span>
                  <span>{{JSON.parse(item.isAnonymity) ? (item.userName && `${item.userName[0]}**`) : item.userName}}</span>
                  <span style="flex: 1;text-align: right;">
                    <van-rate :value="parseInt(item.evaluateGrade)" :size="13" :readonly="true"/>
                  </span>
                </div>
                <div>{{item.evaluateContent}}</div>
                <div
                  v-if="item.labelList && item.labelList.length"
                >{{item.labelList ? item.labelList.map(v => v.name).join(', ') : ''}}
                </div>
              </li>
            </ul>

            <div class="allEvaluate" v-if="evaluate.count">
              <div class="active" @click="checkAll">查看全部评价</div>
            </div>
          </div>
          <!-- 评价列表结束 -->

          <!-- 店铺开始 -->
          <div class="shop-info">
            <div class="shop-title">
              <div
                class="format-img"
                v-lazy:background-image="{ src: allImgDomainName + shopInfo.useImg,
                  error: require('@/assets/images/default/store_logo.jpg') }"
              ></div>
              <div>{{shopInfo.storeName || shopInfo.name}}
                <van-tag color="#f39800" plain v-if="shopInfo.type === '1'">养禽</van-tag>
                <van-tag color="#f39800" plain v-else-if="shopInfo.type === '2'">养猪</van-tag>
                <van-tag color="#f39800" plain v-else-if="shopInfo.type === '3'">乳业</van-tag>
                <van-tag color="#f39800" plain v-else-if="shopInfo.type === '4'">鲜品</van-tag>
                <van-tag color="#f39800" plain v-else-if="shopInfo.type === '5'">蛋业</van-tag>
                <van-tag color="#f39800" plain v-else-if="shopInfo.type === '6'">熟食</van-tag>
              </div>
            </div>
            <div class="shop-label">
              <div v-for="(item, index) in shopInfo.evaluateList" :key="index + 'label'">
                <span>{{item.score}}</span>
                <span>{{item.name}}</span>
              </div>
            </div>
            <div class="shop-btn">
              <div class="active" @click.stop="concern">{{isConcern ? '已关注店铺' : '关注店铺'}}</div>
              <div class="active" @click.stop="goShop(shopInfo.id)">进入店铺</div>
            </div>
          </div>
          <!-- 店铺结束 -->

          <div class="check-details">
            <van-icon name="arrow"/>
            <span>上拉查看图文详情</span>
          </div>
        </div>
      </div>
      <!-- 商品结束 -->

      <!-- 详情开始 -->
      <div v-show="tabIndex === 1">
        <div class="product-introduce van-padding-top" v-html="cmtDetails.itemDescription"></div>
        <!-- <img class="van-padding-top img-details" :src="detail.backPic" @onload="() => {document.querySelector('#content').scrollTop = cacheScrollList[tabIndex]}"/> -->
      </div>
      <!-- 详情结束 -->

      <!-- 评价开始 -->
      <div v-show="tabIndex === 2">
        <evaluate
          ref="evaluate"
          :total="evaluate.totalNumber"
          :evaluateScore="evaluateScore"
          :data="evaluate"
          :shop-name="shopInfo.storeName || shopInfo.name"
          :requestLoading="requestLoading"
          @selectLabel="selectLabel"
          @onRefresh="onRefresh"
          @onLoad="onLoad"
          @viewPic="viewPic"
          @viewVideo="viewVideo"
        ></evaluate>
      </div>
      <!-- 评价结束 -->
    </div>

    <!-- 固定在底部那个按钮集合 -->
    <div class="van-footer">
      <van-goods-action>
        <van-goods-action-icon icon-class="van-server" text="客服" />
        <van-goods-action-icon
          icon-class="van-shop"
          text="店铺"
          @click.stop="goShop(shopInfo.id)"
        />
        <!-- <van-goods-action-icon
          :icon-class="isCollect ? 'van-collected' : 'van-collect'"
          text="收藏"
          @click.stop="collect"
        /> -->
        <van-goods-action-button class="buying-addShop" primary @click.stop="toGoodsDetails">
          <p>&yen;&nbsp;{{cmtDetails.itemPrice | keepTwoNum}}</p>
          <span>单独购买</span>
        </van-goods-action-button>
        <van-goods-action-button class="buying-buyNow" @click.stop="toCompetition(0, '', 1)" v-show="(cmtDetailsType === '2') || (cmtDetailsType === '1' && assembleList.length === 0)" :disabled="cmtDetails.bulkStatus === 'A' || cmtDetails.bulkStatus === 'D' || remNumber <= 0">
          <p>&yen;&nbsp;{{cmtDetails.price | keepTwoNum}}</p>
          <span>发起拼单</span>
        </van-goods-action-button>
        <van-goods-action-button class="buying-buyNow" @click.stop="toCompetition(0, assembleList[0].id, 3)" v-show="cmtDetailsType === '1' && assembleList.length > 0" :disabled="cmtDetails.bulkStatus === 'A' || cmtDetails.bulkStatus === 'D' || remNumber <= 0">
          <p>&yen;&nbsp;{{cmtDetails.price | keepTwoNum}}</p>
          <span>参与拼团</span>
        </van-goods-action-button>
      </van-goods-action>
    </div>

    <!-- 弹出框 -->
    <pop-up-items
      ref="popup"
      :detail="detail"
      :ownerId="detail.ownerId"
      :showId="showId"
      :up="up"
      :title="popUpTitle"
      :minBuyQty="minBuyQty"
      :maxBuyQty="maxBuyQty"
      :dayMaxQty="dayMaxQty"
      :limitFromItem="limitFromItem"
      :weightRange="weightRange"
      :disabledList="token && errText && showId === 'sku'? [0, 1] : []"
      :sellDate="sellDate"
      @hide="hideSku"
      @btn-click="btnClick"
      @change-weightRange="changeWeightRange"
      @change-count="changeCount"
      @change-coupon="changeCoupon"
      @change-location="changeLocation"
      @change-label="changeLabel"
    ></pop-up-items>
    <!-- 还有一个pop-up父组件，只有弹出效果 -->
    <!-- ref：用于修改地址，this.$refs.popup.cacheAddress -->
    <!-- detail：商品数据 -->
    <!-- showId：弹出的类型 -->
    <!-- up：是否弹出 -->
    <!-- hide：点击蒙层时触发 -->
    <!-- btn-click：底部按钮，可通过返回对象的name判断 -->
    <!-- change-count：数量改变，返回数字 -->
    <!-- change-label：选择label触发，初始化会触发一次 -->
    <!-- change-location：选择地址触发，初始化会触发一次 -->
    <!-- change-coupon：选择优惠券触发，暂时返回id -->
    <!-- 弹出框结束 -->

    <!-- "更多"下拉菜单 -->
    <drop-down-menu
      :show="showDropDownMenu"
      :data="dropDownMenuList"
      @hide="hide"
    ></drop-down-menu>

    <!--更多拼团弹出框-->
    <div class="making-list" v-if="showCompetitionMore">
      <div class="making-list-option">
        <div class="icon-close" @click="showCompetitionMore = false"></div>
        <div class="making-list-content">
          <div class="making-list-content-top">
            <p>正在拼单</p>
          </div>
          <div class="making-list-content-option">
            <div class="marking-lister" v-for="(item, index) in assembleList.slice(0, 10)" :key="index">
              <div class="marking-lister-img">
                <img v-lazy="{ src: allImgDomainName + item.userPic, error: headIcon }">
              </div>
              <div class="marking-lister-text">
                <p class="name">
                  {{item.userName}}
                  <span>还差<i>{{cmtDetails.compNumber - item.saleNumber}}{{detail.isAssistOrder ? detail.assistUnitName : detail.saleUnitName}}</i></span>
                </p>
                <p class="remaining">剩余<van-count-down :time="item.lengthOfCountdownTime" format="DD天 HH:mm:ss" @finish="item.activityIsOver = true"/>&nbsp;</p>
              </div>
              <div :class="cmtDetails.bulkStatus === 'A' || cmtDetails.bulkStatus === 'D' || remNumber <= 0 || item.activityIsOver ? 'marking-lister-btn-over' : 'marking-lister-btn' " @click="toCompetition(index, item.id, 2)">去拼团</div>
            </div>
            <div class="prompt-text" v-if="assembleList.length >= 10">仅显示10个正在拼单的人</div>
          </div>
        </div>
      </div>
    </div>

    <!--参与拼团对话框-->
    <div class="competition" v-if="showCompetitionDialog">
      <div class="competition-option">
        <div class="competition-option-close" @click="showCompetitionDialog = false"></div>
        <div class="competition-option-content">
          <div class="competition-option-content-top">
            <p>参与{{selectOrderList[joinCompetitionIndex].userName}}的拼单</p>
          </div>
          <div class="competition-option-content-center">
            <p>仅剩
              <span> {{cmtDetails.compNumber - selectOrderList[joinCompetitionIndex].saleNumber}}{{detail.isAssistOrder ? detail.assistUnitName : detail.saleUnitName}}</span>
              成团, <van-count-down :time="selectOrderList[joinCompetitionIndex].lengthOfCountdownTime" format="DD天 HH:mm:ss"/>&nbsp;后结束
            </p>
            <div class="spell-master-label">拼主</div>
            <div class="spell-master">
              <img v-lazy="{ src: allImgDomainName + selectOrderList[joinCompetitionIndex].userPic, error: headIcon }">
            </div>
            <div class="team-player">
              <img src="@/assets/images/groupbuying/question-mark.svg"/>
            </div>
          </div>
          <div class="competition-option-content-bottom">
            <div class="competition-btn" @click="toShowContents" :disabled="cmtDetails.bulkStatus === 'A' || cmtDetails.bulkStatus === 'D' || remNumber === 0">参与拼团</div>
          </div>
        </div>
      </div>
    </div>

    <!--显示拼团内容-->
    <div class="van-overlay" style="z-index:2012" v-show="showContents">
      <div class="show-contents">
        <div class="show-close" @click="showContents = false"></div>
        <div class="show-contents-title">
          <div class="show-contents-title-img">
            <div
              class="commodityImg"
              v-lazy:background-image="allImgDomainName + cmtDetails.itemThumbnail"
            ></div>
          </div>
          <div class="show-contents-title-right">
            <p>{{cmtDetails.itemName}}</p>
            <span>{{cmtDetails.price | keepTwoNum}}元/{{detail.saleUnitName}}</span>
            <div class="explain" v-if="cmtDetails.avgWeight !== 0">预估均重 {{cmtDetails.avgWeight | keepTwoNum}}{{detail.saleUnitName}}</div>
          </div>
        </div>
        <div class="show-contents-center">
          <p>起订数量：{{cmtDetails.beginNumber}}{{detail.isAssistOrder ? detail.assistUnitName : detail.saleUnitName}}</p>
          <span>成团数量：{{cmtDetails.compNumber}}{{detail.isAssistOrder ? detail.assistUnitName : detail.saleUnitName}}</span>
          <p>剩余数量：{{remNumber}}{{detail.isAssistOrder ? detail.assistUnitName : detail.saleUnitName}}</p>
          <span>加量幅度：{{cmtDetails.addNumber}}{{detail.isAssistOrder ? detail.assistUnitName : detail.saleUnitName}}</span>
        </div>
        <div class="show-contents-tips">
          <p>注意：目前还剩余&nbsp;<van-count-down ref="countDown" :time="lengthOfCountdownTime" format="DD天 HH:mm:ss" @finish="cmtDetails.bulkStatus = 'D'"/>，若到截止时间该订单未达到成团条件,则自动失效！</p>
        </div>
        <div class="show-contents-bottom">
          <div class="stepping-device">
            <div class="stepping-device-left" @click="_numCut"></div>
            <div class="stepping-device-center">{{offerNumber}}{{detail.isAssistOrder ? detail.assistUnitName : detail.saleUnitName}}</div>
            <div class="stepping-device-right" @click="_numAdd"></div>
          </div>
          <div class="show-contents-bottom-btn" @click="toSuccessSpellSheet">确定</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TabNavbar from '@/components/tab-navbar'
import PopUpItems from '@/components/pop-up/pop-up'
import myVideo from '@/views/goods-details/video'
import Evaluate from '@/components/goods-details/evaluate'
import DropDownMenu from '@/components/drop-down-menu'
import { allImgDomainNameMixin } from '@/assets/js/mixin'
import { api } from '@/api'
import { ImagePreview } from 'vant'
import { mapGetters } from 'vuex'

export default {
  name: 'group-buying-details',
  mixins: [allImgDomainNameMixin],
  inject: ['reload'],
  components: {
    TabNavbar,
    PopUpItems,
    Evaluate,
    myVideo,
    DropDownMenu
  },
  data () {
    return {
      tabList: [{ title: '商品' }, { title: '详情' }, { title: '评价' }],
      evaluateScore: {},
      evaluateType: '1', // 1:全部 2图片 3追评 4 好评 5 中评 6 差评
      evaluateTagList: [],
      price: 0,
      isZero: null, // 组合商品售价是否含有零的
      stock: 0, // 库存
      swiperH: 0, // 轮播的高
      swiperW: 0, // 轮播的宽
      up: false,
      showBase: true,
      opacity: 1,
      baseOpacity: 1,
      isCollect: false,
      detail: {},
      current: 0, // 图片下标
      shopInfo: {},
      evaluate: {},
      address: {},
      couponId: '',
      showId: '',
      labelList2: [], // 规格
      names: [],
      count: 1, // 数量
      tabIndex: 0, // tab坐标
      cacheScrollList: [],
      bigImg: '',
      swipeScroll: 0,
      popUpTitle: '',
      isConcern: false,
      pageSize: 10,
      pageNo: 1,
      toBottomFlag: false,
      start: 0,
      maxBuyQty: 0, // 每单最多限购(0-不限)
      minBuyQty: 0, // 每单最少限购(0-不限)
      dayMaxQty: 0, // 今日限购
      limitFromItem: false, // 是否是商品限购
      specification: {}, // 预测均重
      weightRange: [], // 重量范围
      selectedWeightRange: {}, // 选中重量范围
      realPrice: null, // 真实价格
      showVideo: '', // 显示视频
      showDropDownMenu: false, // 显示“更多”下拉菜单
      dropDownMenuList: [ // “更多”下拉菜单列表
        {
          subTitle: '首页',
          path: '/',
          imgUrl: require('@/components/tabbar/icon_home@3x.png')
        }
      ],
      sellDate: null, // 要货日期（蛋业）
      requestLoading: false, // 接口请求加载动画
      // 以下是团购的参数
      groupId: null,
      cmtDetails: {},
      cmtDetailsType: null,
      remNumber: 0, // 剩余数量
      groupType: 0,
      assembleList: [], // 多次参与拼团拼单列表
      saleOrderList: [], // 一次参与拼团的列表
      showCompetitionMore: false, // 显示更多参与拼团
      showCompetitionDialog: false, // 显示参与拼团对话框
      joinCompetitionIndex: -1, // 当前选中参与拼团下标
      showContents: false, // 显示拼团内容上拉菜单
      lengthOfCountdownTime: null, // 倒计时时长
      nowDate: null, // 服务器返回当前时间
      offerNumber: 0,
      actEndTimeList: [], // 拼单列表的时间
      countDownList: [],
      pictureList: null, // 团购轮播图列表
      activityIsOver: false, // 发起的团购活动是否结束
      headIcon: require('@/assets/images/default_profile@2x.png'),
      groupPermission: false, // 被分享者是否有权限参与团购
      selectOrderList: null // 选中的团购列表
    }
  },
  computed: {
    ...mapGetters(['allChannel', 'channel']),
    // 不可购提示
    errText () {
      let text = ''

      // else if (!+this.realPrice) {
      //   text = '此商品暂时不能购买'
      // }
      if (this.detail.restrict === 0) {
        text = '此商品不可销'
      } else if (!this.stock || +this.stock <= 0) {
        text = '库存为0，不能购买'
      } else if (+this.stock < this.minBuyQty) {
        text = '库存不足，不能购买'
      }

      return text
    }
  },
  watch: {
    minBuyQty (val) {
      this.count = Math.max(1, val)
    },
    $route (newV, oldV) {
      this.reload()
    }
  },
  created () {
    let goodsId = this.$route.query.id
    let groupId = this.$route.query.groupId
    let groupOrderId = this.$route.query.groupOrderId // 团购订单id
    let ownerId = this.$route.query.ownerId // 服务部id
    let permission = false
    // 判断是否通过分享链接进入的
    if (this.token && groupOrderId && ownerId) {
      let channel = this.channel.list
      for (let i = 0; i < channel.length; i++) {
        if (ownerId === channel[i].channelId) {
          this.groupOrderShareInfo(groupOrderId, ownerId)
          permission = true
        }
      }
      if (!permission) {
        this.$toast.fail('没有购买权限')
        this.toGroupBuying()
      }
    }
    if (!goodsId || !groupId) {
      this.$router.push({ path: '/' })
      return
    }

    this.scaleSwiper()
    window.onresize = this.scaleSwiper
    this.listenScroll()
    this.queryGoodsDetail(goodsId)
    this.getGroupBuyDetail(groupId, 0)

    // 记录位置
    if (this.$route.params.keepaLiveFlag) {
      var pageInfo = JSON.parse(sessionStorage.getItem('evaluateInfo'))
      sessionStorage.setItem('evaluateInfo', null)
      this.evaluate = pageInfo.evaluate
      this.pageNo = pageInfo.pageNo
      this.evaluateType = pageInfo.evaluateType
      this.$nextTick(() => {
        this.cacheScrollList[2] = +pageInfo.scrollTop
        this.$refs.navbar.active = 2
        this.$refs.evaluate.selected = pageInfo.selected
        this.toggleTab(2)
      })
    } else {
      this.queryItemEvaluate() // 获取商品评价
    }
  },
  methods: {
    // 控制轮播宽高
    scaleSwiper () {
      this.swiperW = window.innerWidth
      this.swiperH = window.innerHeight / 2
    },
    // 滚动监听
    listenScroll () {
      let baseDistance = window.innerHeight / 2 // 透明度从0到1的距离

      this.$nextTick(() => {
        this.scrollStyle(baseDistance)

        this.toBottomFlag = false

        document.querySelector('#content').onscroll = () => {
          this.scrollStyle(baseDistance)
        }
      })
    },
    // 滚动时的效果
    scrollStyle (baseDistance) {
      let scroller = document.querySelector('#content')
      let scrollTop = scroller.scrollTop
      let base = this.baseOpacity - scrollTop / baseDistance
      // let h2 = window.innerWidth - scrollTop;

      this.opacity = base < 0 ? 0 : base > this.baseOpacity ? this.baseOpacity : base

      if (scrollTop + scroller.offsetHeight + 1 >= scroller.scrollHeight) {
        if (!this.toBottomFlag) {
          document.addEventListener('touchstart', this.touchstart, false)
        }
      }
      // this.swipeScroll = -(window.innerWidth - (h2 < 0 ? 0 : h2 > window.innerWidth ? window.innerWidth : h2)) / 2;
      // this.$refs.swiper.style.height = (h2 < 0 ? 0 : h2 > window.innerWidth ? window.innerWidth : h2) + 'px';
    },
    // 移除监听
    removeScrollEvent () {
      this.opacity = 0
      document.querySelector('#content').onscroll = null
    },
    // 切换tab
    toggleTab (index) {
      this.cacheScrollList[this.tabIndex] = document.querySelector('#content').scrollTop

      if (index === 0) {
        this.tabIndex = index
        this.listenScroll()
      } else {
        this.tabIndex = index
        this.removeScrollEvent()
      }

      if (index === 2) {
        this.queryCmpResult(this.$route.query.id) // 获取综合评价项
      }

      this.$nextTick(() => {
        document.querySelector('#content').scrollTop = this.cacheScrollList[index] || 0
      })
    },
    // 监听轮播
    onChange (index) {
      this.current = index
    },
    touchstart (es) {
      this.toBottomFlag = true
      this.start = es.touches[0].clientY

      document.addEventListener('touchend', this.touchend, false)
      document.addEventListener('touchmove', this.touchmove, false)
    },
    touchmove (em) {
      let move = em.touches[0].clientY

      if (this.start - move > 10) {
        this.$refs.navbar.active = 1
        this.toggleTab(1)
        this.touchend()
      } else if (this.start - move < 0) {
        this.touchend()
      }
    },
    touchend () {
      document.removeEventListener('touchstart', this.touchstart, false)
      document.removeEventListener('touchmove', this.touchmove, false)
      document.removeEventListener('touchend', this.touchend, false)
      this.toBottomFlag = false
    },
    hide () {
      this.showDropDownMenu = false
    },
    viewVideo (path) {
      var scrollTop = document.querySelector('#content').scrollTop

      // 记录位置
      sessionStorage.setItem('evaluateInfo', JSON.stringify({
        evaluate: this.evaluate,
        pageNo: this.pageNo,
        selected: this.$refs.evaluate.selected,
        evaluateType: this.evaluateType,
        scrollTop
      }))

      let { id, type, combItemId } = this.$route.query

      this.$router.push({
        path: '/videoPage',
        query: {
          id,
          type,
          combItemId,
          path
        }
      })
    },
    // 播放视频
    playVideo () {
      this.showVideo = true
      this.$nextTick(() => {
        this.$refs.myVideo.$refs.myVideoRef.goOnPlay()
      })
    },
    onLoad () {
      this.pageNo++
      this.queryItemEvaluate()
    },
    onRefresh () {
      this.evaluate.list.splice(0)
      this.pageNo = 1
      this.queryItemEvaluate()
    },
    // 立即购买
    buyNow () {
      if (this.token) {
        // if (!this.validAddCart()) return
        if (this.offerNumber === 0) {
          this.$toast('购买数量不能为0')
          return
        }
        let type
        let groupOrderId
        let saleNumber
        let unCompNumber // 剩余成团数
        // 只能发起一次拼团
        if (this.cmtDetailsType === '1') {
          if (this.assembleList.length > 0) {
            type = '1'
            saleNumber = this.assembleList[0].saleNumber
            groupOrderId = this.assembleList[0].id
            unCompNumber = this.cmtDetails.compNumber - saleNumber - this.offerNumber
          } else {
            type = '0'
            saleNumber = '0'
            groupOrderId = ''
            unCompNumber = this.cmtDetails.compNumber - this.offerNumber
          }
        } else { // 可发起多次拼团
          // 发起拼单
          if (this.joinCompetitionIndex === -1) {
            type = '0'
            groupOrderId = ''
            saleNumber = '0'
            unCompNumber = this.cmtDetails.compNumber - this.offerNumber
          } else { // 参与成团的
            type = '1'
            groupOrderId = this.assembleList[this.joinCompetitionIndex].id
            saleNumber = this.assembleList[this.joinCompetitionIndex].saleNumber
            unCompNumber = this.cmtDetails.compNumber - saleNumber - this.offerNumber
          }
        }
        const groupInfo = {
          id: this.cmtDetails.id, // 团购活动id
          groupType: type, // 成团类型 0：发起拼团  1：参与拼团
          compNumber: this.cmtDetails.compNumber, // 成团数
          saleNumber: saleNumber, // 已购订单数
          groupOrderId: groupOrderId, // 团购订单id
          merchandiseInfo: { // 商品信息
            price: this.cmtDetails.price, // 价格
            storeName: this.cmtDetails.storeName, // 门店名称
            ownerName: this.cmtDetails.ownerName, // 服务部渠道名称
            ownerId: this.cmtDetails.ownerId, // 服务部id
            ownerType: this.shopInfo.type, // 类型
            thumbnail: this.cmtDetails.itemThumbnail, // 缩略图
            name: this.cmtDetails.itemName, // 名称
            itemId: this.cmtDetails.itemId, // 商品id
            offerNumber: this.offerNumber, // 数量
            unitId: this.detail.isAssistOrder ? this.detail.assistUnitId : this.detail.saleUnitId, // 单位id
            saleUnitName: this.detail.saleUnitName, // 单位名称
            assistUnitName: this.detail.assistUnitName, // 辅助单位
            avgWeight: this.cmtDetails.avgWeight !== 0 ? this.cmtDetails.avgWeight : 1, // 预估均重
            unCompNumber: unCompNumber
          }
        }
        sessionStorage.setItem('groupBuyingCache', JSON.stringify(groupInfo))
        this.joinCompetitionIndex = null
        this.$router.push({
          path: '/groupBuyingPlaceOrder',
          query: {
            activityType: '0',
            isQuickOrder: '1',
            date: this.detail.ownerType === '5' ? this.sellDate : '',
            number: this.detail.itemClassList.join('.')
          }
        })
      } else {
        this.$toast('请先登录')
        this.$router.push({ path: '/loginRandom', query: { redirect: this.$route.fullPath } })
      }
    },
    // 验证是否可加入购物车
    validAddCart () {
      if (this.detail.restrict === 0) {
        this.$toast.fail('此商品不可销')
        return false
      }
      return true
    },
    // 初始化参数
    formatParams (placeOrder) {
      const params = placeOrder ? {
        isQuickOrder: '1',
        list: []
      } : {
        list: []
      }

      if (!(+this.$route.query.type === 1)) { // 如果是普通商品
        let item = {
          ownerId: this.detail.ownerId,
          itemId: this.detail.id,
          isChoose: '1'
        }

        item.wtRangeId = this.selectedWeightRange && this.selectedWeightRange.id
        item.unitId = this.detail.saleUnitId + ''
        item.assistUnitId = this.detail.isAssistOrder ? this.detail.assistUnitId + '' : null

        if (this.detail.isAssistOrder) {
          item.assistQty = this.count
        } else {
          item.qty = this.count
        }

        if (this.labelList2[0] || typeof this.labelList2[0] === 'number') {
          item.assistattrId = this.labelList2[0] + ''
        }

        params.list.push(item)
      } else { // 如果是组合商品
        params.list.push({
          isChoose: '1',
          ownerId: this.detail.ownerId,
          combItemId: this.$route.query.combItemId,
          entryType: '1',
          qty: this.count
        })
        this.detail.combList.forEach(v => {
          let item = {
            ownerId: this.detail.ownerId,
            itemId: v.id,
            isChoose: '1',
            entryType: '2',
            combItemId: this.$route.query.combItemId,
            combItemEntryId: v.combEntryId,
            combBaseQty: v.baseQty
          }

          item.unitId = v.saleUnit + ''
          item.assistUnitId = v.isAssistOrder ? v.assistUnit + '' : null

          if (v.isAssistOrder) {
            item.assistQty = v.baseQty * this.count
          } else {
            item.qty = v.baseQty * this.count
          }

          if (v.assistattrId && v.assistattrId !== ' ') item.assistattrId = v.assistattrId

          params.list.push(item)
        })
      }

      return params
    },
    // 去店铺
    goShop (ownerId) {
      this.$router.push({
        path: '/shop',
        query: {
          ownerId
        }
      })
    },
    // 查看全部评价
    checkAll () {
      this.$refs.navbar.active = 2
      this.toggleTab(2)
    },
    // 返回
    onClickLeft () {
      if (window.history.length > 1) {
        this.$router.go(-1)
      } else {
        this.$router.push('/')
      }
    },
    toGoodsDetails () {
      this.$router.push({
        name: 'goodsDetails',
        query: {
          id: this.cmtDetails.itemId,
          type: 0
        }
      })
    },
    onClickRight (i) {
      if (i === 1) { // 分享按钮
        // 微信分享

      } else if (i === 2) { // "更多"下拉菜单
        this.showDropDownMenu = true
      }
    },
    // 修改重量范围
    changeWeightRange (selectedWR) {
      this.selectedWeightRange = selectedWR
    },
    // 修改数量
    changeCount (count) {
      this.count = count
    },
    // 修改规格
    changeLabel (names, labelList, store, realPrice, isZero) {
      this.names = names
      this.labelList2 = [labelList]
      this.price = store.price
      this.stock = store.stock
      this.realPrice = realPrice
      this.isZero = isZero
      let attrId = this.labelList2[0] && this.labelList2[0] !== '0' ? this.labelList2[0] : ''
      this.queryItemWeightRange(this.detail.ownerId, this.detail.id, attrId, this.detail.isAssistOrder ? this.detail.assistUnitId : this.detail.saleUnitId) // 获取商品重量范围
    },
    // 选择优惠券
    changeCoupon (id) {
      this.couponId = id
    },
    // 选择配送地址
    changeLocation (address) {
      this.address = address
    },
    // 底部按钮
    btnClick (item) {
      if (this.showId === 'coupon' && item.name === '完成') {
        this.hideSku()
      } else if (this.showId === 'params' && item.name === '完成') {
        this.hideSku()
      } else if (this.showId === 'location' && item.name === '完成') {
        this.hideSku()
      } else if (this.showId === 'sku' && item.name === '加入购物车') {
        this.addCart()
      } else if (this.showId === 'sku' && item.name === '立即购买') {
        this.buyNow()
      }
    },
    // 弹出框
    showPopUp (id, title) {
      if (id === 'location') {
        this.$refs.popup.cacheAddress = this.address
      }

      this.showId = id
      this.up = true
      this.popUpTitle = title
    },
    // 隐藏弹出框
    hideSku () {
      this.up = false
    },
    // 收藏
    collect () {
      if (this.token) {
        if (!this.isCollect) {
          let params = {
            itemList: [{
              itemId: this.detail.id,
              itemType: this.$route.query.type || 0,
              combItemId: this.$route.query.combItemId
            }]
          }

          api.commonCall(params, 'itemCollectAdd').then(res => {
            if (res.success) {
              this.isCollect = true
            } else {
              res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
            }
          })
        } else {
          let params = {
            itemIdList: [],
            combIdList: []
          }
          if (!(+this.$route.query.type === 1)) { // 如果是普通商品
            params.itemIdList.push(this.detail.id)
          } else { // 如果是组合商品
            params.combIdList.push(this.$route.query.combItemId)
          }
          api.commonCall(params, 'itemCollectDel').then(res => {
            if (res.success) {
              this.isCollect = false
            } else {
              res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
            }
          })
        }
      } else {
        this.$toast('请先登录')
        this.$router.push({ path: '/loginRandom', query: { redirect: this.$route.fullPath } })
      }
    },
    selectCoupon (id) {
      this.couponId = id
    },
    // 关注店铺
    concern () {
      if (this.token) {
        if (this.isConcern) {
          let params = {
            ownerIdList: [this.detail.ownerId]
          }

          this.$dialog.confirm({
            title: '提示',
            message: '确定要取消关注该店铺？'
          }).then(() => {
            api.commonCall(params, 'shopConcernDel').then(res => {
              if (res.success) {
                this.isConcern = false
              }
            })
          }).catch(() => {

          })
        } else {
          let params = {
            ownerId: this.shopInfo.id
          }

          api.commonCall(params, 'shopConcernAdd').then(res => {
            if (res.success) {
              this.isConcern = true
            }
          })
        }
      } else {
        this.$toast('请先登录')
        this.$router.push({ path: '/loginRandom', query: { redirect: this.$route.fullPath } })
      }
    },
    // 查询商品详情
    queryGoodsDetail (id) {
      const params = +this.$route.query.type === 1 ? { id: this.$route.query.combItemId, type: '1' } : { id, type: '0' }
      api.queryGoodsDetail(params).then(res => {
        if (res.success) {
          let findChannel = this.allChannel.find(o => o.channelId === res.data.ownerId)
          if (findChannel) {
            res.data.ownerType = findChannel.channelType
          } else {
            res.data.ownerType = ''
          }

          this.detail = res.data

          if (this.detail.combList) {
            // 将主品放置第一位
            for (let i = 0; i < this.detail.combList.length; i++) {
              if (+this.detail.combList[i].isMainProduct === 1) {
                let cacheMain = this.detail.combList[i]
                this.detail.combList.splice(i, 1)
                this.detail.combList.unshift(cacheMain)
                break
              }
            }

            this.detail.combList.forEach((v, i) => {
              this.$set(this.detail.combList[i], 'totalCount', v.baseQty)
            })
          }

          this.customerInfo(res.data.ownerId) // 查询渠道信息
          if (this.token) {
            this.shopConcernState(res.data.ownerId) // 查询店铺是否已关注
            // this.goodsCollectState(res.data.id) // 查询商品是否已收藏
          }
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    // 查询商品是否已收藏
    goodsCollectState (goodsId) {
      let params = {
        itemList: [{
          itemId: goodsId,
          itemType: this.$route.query.type || 0,
          combItemId: this.$route.query.combItemId
        }]
      }
      api.commonCall(params, 'queryItemCollectState').then(res => {
        if (res.success) {
          if (res.data && res.data.itemList && res.data.itemList[0]) {
            this.isCollect = res.data.itemList[0].status
          }
        }
      })
    },
    // 查询店铺是否已关注
    shopConcernState () {
      let params = {
        ownerId: this.detail.ownerId
      }

      api.commonCall(params, 'queryShopConcernState').then(res => {
        if (res.success) {
          this.isConcern = res.data.status
        }
      })
    },
    customerInfo (id) {
      api.customerInfo({ id }).then(res => {
        if (res.success) {
          let findChannel = this.allChannel.find(o => o.channelId === res.data.id)
          if (findChannel) {
            res.data.type = findChannel.channelType
          } else {
            res.data.type = ''
          }

          this.shopInfo = res.data
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    selectLabel (type, param) {
      this.$refs.evaluate.loading = false
      this.$refs.evaluate.isLoading = false

      if (type === 'a') {
        this.changeEvaluateType(param)
      } else if (type === 'b') {
        this.changeTag([param])
      }
    },

    // 图片预览
    viewPic (index, picList) {
      let list = []
      // eslint-disable-next-line
      for (let [index, elem] of picList.entries()) {
        list.push(this.allImgDomainName + elem)
      }
      ImagePreview({
        images: list,
        startPosition: index
      })
    },
    // 图片预览
    viewPicDetail (index, picList) {
      this.bigImg = picList[index]
      this.viewPic(index, picList)
    },
    // 评论过滤
    changeEvaluateType (type) {
      this.evaluateType = type
      this.evaluateTagList = []
      this.evaluate.list.splice(0)

      this.pageNo = 1
      this.queryItemEvaluate() // 获取商品评价
    },
    // 选择评论标签
    changeTag (arr) {
      this.evaluateTagList = arr
      this.evaluateType = '1'
      this.evaluate.list.splice(0)

      this.pageNo = 1
      this.queryItemEvaluate() // 获取商品评价
    },
    // 商品评价
    queryItemEvaluate () {
      this.requestLoading = true
      const params = {
        itemId: this.$route.query.id,
        evaluateType: this.evaluateType,
        page: this.pageNo,
        pageSize: this.pageSize,
        labelList: this.evaluateTagList
      }

      api.queryItemEvaluate(params).then(res => {
        this.requestLoading = false
        if (res.success) {
          if (this.evaluate && this.evaluate.list) {
            this.$set(this.evaluate, 'list', this.evaluate.list.concat(res.data.list))
            this.$set(this.evaluate, 'totalNumber', res.data.count)
          } else {
            this.evaluate = res.data
          }

          this.$refs.evaluate.loading = false

          if (this.evaluate.list.length >= this.evaluate.totalNumber) {
            this.$refs.evaluate.finished = true
          }

          setTimeout(() => {
            this.$refs.evaluate.isLoading = false
          }, 100)
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
          this.$refs.evaluate.loading = false
          this.$refs.evaluate.finished = true

          setTimeout(() => {
            this.$refs.evaluate.isLoading = false
          }, 100)
        }
      })
    },
    // 综合评价
    queryCmpResult (itemId) {
      api.queryCmpResult({ itemId }).then(res => {
        if (res.success) {
          this.evaluateScore = res.data
        }
      })
    },
    // 重量范围
    queryItemWeightRange (ownerId, itemId, assistattrId, unitId) {
      let params = {
        ownerId,
        itemId,
        customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId,
        assistattrId,
        unitId
      }
      api.itemWeightRangeQuery(params).then(res => {
        if (res.success) {
          this.maxBuyQty = res.data.max_buy_qty || 0
          this.minBuyQty = res.data.min_buy_qty || 0
          this.dayMaxQty = res.data.dayMaxQty || 0
          this.limitFromItem = res.data.limitFromItem || false
          this.specification = res.data.specification && res.data.specification.length
            ? res.data.specification[0]
            : this.specification
          this.weightRange = res.data.weight_range
            ? res.data.weight_range
            : this.weightRange
        }
      })
    },
    toCompetition (index, id, type) {
      let params = {
        groupId: this.cmtDetails.id, // 团购活动id
        groupOrderId: id // 团购订单id
      }
      // 点击参与拼团和发起拼单获取该团购活动状态
      api.commonCall(params, 'checkGroupInfoAndOrder').then(res => {
        if (res.success) {
          if (type === 1) {
            this.showContents = true
            this.offerNumber = this.remNumber > this.cmtDetails.compNumber ? this.cmtDetails.compNumber : this.remNumber
          } else if (type === 2) {
            if (this.cmtDetails.bulkStatus === 'A' || this.cmtDetails.bulkStatus === 'D' || this.remNumber <= 0 || this.activityIsOver) {
              this.$toast(this.remNumber <= 0 ? '该团购商品已售完' : '该团购活动已结束')
            } else {
              // 为了团购列表和弹窗时间显示一致
              this.getGroupBuyDetail(this.$route.query.groupId, index)
              this.joinCompetitionIndex = index
              // 判断团购剩余数量是否大于起订数量
              let number = this.cmtDetails.compNumber - this.assembleList[index].saleNumber > this.cmtDetails.beginNumber ? this.cmtDetails.compNumber - this.assembleList[index].saleNumber : this.cmtDetails.beginNumber
              // 购买量不能大于剩余数量
              this.offerNumber = this.remNumber > number ? number : this.remNumber
              this.showCompetitionDialog = true
            }
            this.showCompetitionMore = false
          } else {
            this.showContents = true
          }
        } else {
          this.$toast('该团购活动已结束！')
          setTimeout(() => {
            this.onClickLeft()
          }, 500)
        }
      })
    },
    toShowContents () {
      this.showContents = true
      this.showCompetitionDialog = false
    },
    toSuccessSpellSheet () {
      this.showContents = false
      this.buyNow()
    },
    toReturn () {
      this.$router.go(-1)
    },
    // 团购详情列表
    getGroupBuyDetail (groupId, index) {
      api.commonCall({ id: groupId }, 'queryGroupBuyDetail').then(res => {
        if (res.success) {
          this.cmtDetails = res.data
          this.cmtDetailsType = res.data.type
          this.nowDate = res.data.nowDate
          this.assembleList = res.data.orderList
          this.selectOrderList = res.data.orderList
          this.saleOrderList = res.data.saleOrderList
          if (this.cmtDetails.bulkStatus === 'D') {
            this.$toast('该团购活动已结束！')
          }
          // 计算剩余数量
          if (this.cmtDetailsType === '1') {
            let saleNumber = this.assembleList.length > 0 ? this.assembleList[0].saleNumber : this.cmtDetails.saleNumber
            this.remNumber = parseInt(res.data.sumNumber) - saleNumber
          } else {
            this.remNumber = parseInt(res.data.sumNumber) - this.cmtDetails.saleNumber
          }
          // 处理图片数据
          this.pictureList = []
          for (let i = 1; i < 6; i++) {
            if (res.data['itemPic' + i]) {
              this.pictureList.push(res.data['itemPic' + i])
            }
          }
          if (res.data.orderList.length > 0) {
            // 判断团购剩余数量是否大于起订数量
            let number = this.cmtDetails.compNumber - this.assembleList[index].saleNumber > this.cmtDetails.beginNumber ? this.cmtDetails.compNumber - this.assembleList[index].saleNumber : this.cmtDetails.beginNumber
            // 购买量不能大于剩余数量
            this.offerNumber = this.remNumber > number ? number : this.remNumber
          } else {
            this.offerNumber = res.data.compNumber // 默认为成团数量
          }
          this.counttime()
          this.assembleCounttime()
        } else {
          this.$toast('该团购活动已结束！')
          setTimeout(() => {
            this.onClickLeft()
          }, 500)
        }
      })
    },
    counttime () {
      let now = new Date(this.nowDate && this.nowDate.replace(/-/g, '/')).getTime() // 当前时间(服务器时间)
      // let begin = new Date(this.cmtDetails.beginDate.replace(/-/g, '/')).getTime() // 开始日期
      let end = new Date(this.cmtDetails.endDate.replace(/-/g, '/')).getTime() // 截止日期
      this.lengthOfCountdownTime = end - now
      if (this.lengthOfCountdownTime <= 0) {
        this.activityIsOver = true
      }
    },
    assembleCounttime () {
      this.assembleList.forEach((v, i) => {
        let now = new Date(this.nowDate && this.nowDate.replace(/-/g, '/')).getTime() // 当前时间(服务器时间)
        // let begin = new Date(v.beginTime.replace(/-/g, '/')).getTime() // 开始日期
        let end = new Date(v.endTime && v.endTime.replace(/-/g, '/')).getTime() // 截止日期
        this.$set(this.assembleList[i], 'lengthOfCountdownTime', end - now)
        this.$set(this.assembleList[i], 'activityIsOver', false)
      })
    },
    timeFormat (param) {
      return param < 10 ? '0' + param : param
    },
    _numCut () {
      if (parseInt(this.offerNumber) > this.cmtDetails.beginNumber) {
        this.offerNumber = this.offerNumber - this.cmtDetails.addNumber
        if (parseInt(this.offerNumber) < this.cmtDetails.beginNumber) {
          this.offerNumber = this.cmtDetails.beginNumber
        }
        // 购买数量不能大于剩余数量
        this.offerNumber = this.offerNumber > this.remNumber ? this.remNumber : this.offerNumber
      }
    },
    _numAdd () {
      const offerNumber = parseInt(this.offerNumber)
      if (offerNumber < this.remNumber) {
        this.offerNumber = offerNumber + parseInt(this.cmtDetails.addNumber)
        if (this.offerNumber > this.remNumber) {
          this.offerNumber = this.remNumber
        }
      } else {
        this.offerNumber = this.remNumber
      }
    },
    // 通过分享链接进入详情获取团购信息
    groupOrderShareInfo (groupOrderId, ownerId) {
      let params = {
        groupOrderId,
        ownerId
      }
      api.commonCall(params, 'groupOrderShareInfo').then(res => {
        if (res.success) {
          // 多次拼团模式
          if (res.data.type === '2') {
            this.showCompetitionDialog = true
            this.selectOrderList = res.data.orderList
            this.joinCompetitionIndex = 0
          }
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
          this.toGroupBuying()
        }
      })
    },
    // 跳转到团购列表页
    toGroupBuying () {
      setTimeout(() => {
        this.$router.replace({ path: '/groupBuying' })
      }, 2000)
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.group-details-wrap {
  width: 100%;
  overflow: hidden;
  background: rgba(245, 245, 245, 1);

  .format-img {
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .head {
    .navbar1 {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9;
      width: 100%;
      @{deep} .van-nav-bar {
        height: 96px;
        line-height: 96px;
        background: none;
        &:after {
          border: 0;
        }
        .van-nav-bar__left {
          padding: 0 16px;
          .van-icon {
            color: white !important;
            width: 64px;
            height: 64px;
            line-height: 64px;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.5);
          }
        }
        .van-nav-bar__right {
          padding: 0 16px;
          .van-ver-menu2,
          .van-wechatShare {
            display: inline-block;
            width: 64px;
            height: 64px;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.5);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 48px 48px;
            vertical-align: middle;
          }
          .van-ver-menu2 {
            .bg-img("~@/assets/images/groupbuying/icon-ver-menu");
          }
          .van-wechatShare {
            .bg-img("~@/assets/images/groupbuying/icon-ccshare");
            margin-right: 16px;
            position: relative;
          }
        }
      }
    }
    .navbar2 {
      @{deep}.van-nav-bar {
        .van-nav-bar__title {
          max-width: 50%;
        }
        .van-nav-bar__right {
          .van-shopcart {
            .bg-img("~@/assets/images/groupbuying/ccshare");
          }
        }
      }
    }
  }

  > .content {
    -webkit-overflow-scrolling: touch;
    // perspective: 1px;
    // transform-style: preserve-3d;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;

    &.van-padding-bottom {
      padding-bottom: 100px;
    }

    .list {
      margin-top: 16px;
      font-size: 26px;
      color: #2e3033;

      .item {
        display: flex;
        align-items: center;
        background: white;
        padding: 30px;

        .title {
          color: #8e939a;
          width: 120px;
        }

        .content {
          width: calc(100% - 210px);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .arrow {
          color: #c1c4ca;
          font-size: 23px;
          flex: 1;
          text-align: right;
        }
      }
    }

    .active {
      position: relative;
      overflow: hidden;
      transform: rotate(0deg);

      &:active {
        &:after {
          content: " ";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: rgba(0, 0, 0, 0.08);
        }
      }
    }

    .swiper-container {
      // transform: scale(2) translate3d(0, calc(-100vh / 8), -1px);
      overflow: hidden;
      position: relative;
      height: calc(100vh / 2);
      // height: 1750px;
      z-index: 0;

      .my-video {
        z-index: 99;
      }

      .format-img {
        height: calc(100vh / 2);
        background-size: 100% 100%;
        // height: 1750px;
      }

      // .swiper {
      //   overflow: hidden;
      //   position: absolute;
      //   bottom: 0;
      //   left: 0;
      //   width: 100%;

      @{deep} .van-swipe {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
      }
      // }

      .custom-indicator {
        position: absolute;
        right: 10px;
        bottom: 10px;
        padding: 4px 10px;
        font-size: 26px;
        color: #fff;
        background: rgba(0, 0, 0, 0.3);
      }
    }

    .big-img {
      background: white;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
      display: flex;
      align-items: center;

      > img {
        display: block;
        width: 100%;
      }
    }

    .under-the-swipe {
      background: white;
      padding-bottom: 40px;

      .title {
        line-height: 48px;
        font-size: 32px;
      }
      .remark {
        font-size: 24px;
        line-height: 30px;
        color: #999;
      }

      > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;
        color: #2e3033;

        .price-stuff {
          margin-left: 28px;
          > span {
            display: block;
            font-size: 28px;
            color: #e33240;
            span:not(.small) {
              font-size: 44px;
            }
            span {
              &.expect {
                font-size: 38px;
              }
            }
          }
          s {
            color: rgba(142, 147, 154, 1);
            font-size: 24px;
          }
        }

        .share {
          margin-right: 28px;

          i {
            width: 44px;
            display: block;

            img {
              display: block;
              width: 100%;
              height: auto;
            }
          }

          span {
            font-size: 20px;
          }
        }
      }

      p {
        font-size: 28px;
        padding: 0 30px;
        span {
          display: inline-block;
          float: right;
          height: 40px;
          line-height: 40px;
          // width: 100%;
          color: #E33240;
          font-size: 30px;
          text-align: right;
        }
      }
    }
    .group-details-content{
      width: 100%;
      overflow: hidden;
      position: relative;
      z-index: 1;
      .catalog-content{
        width: 100%;
        padding-bottom: 20px;
        background-color: #FFFFFF;
        .catalog-content-one{
          width: 100%;
          overflow: hidden;
          p{
            font-weight: 600;
            font-size: 32px;
            color: #59595B;
            padding-left: 26px;
            padding-top: 20px;
          }
        }
        .catalog-content-two{
          width: 100%;
          overflow: hidden;
          .catalog-content-two-left{
            width: 50%;
            float: left;
            .gray{
              float: left;
              font-size: 24px;
              color: #A9ABAF;
              padding-left: 26px;
              padding-top: 18px;
            }
            .red{
              float: left;
              font-size: 24px;
              color: #E63E32;
              padding-top: 14px;
              font-weight: 600;
              span{
                padding-top: 0px;
                font-size: 36px;
                font-weight: 600;
                padding-left: 3px;
                padding-right: 3px;
              }
            }
          }
          .catalog-content-two-right{
            width: 50%;
            float: left;
            p{
              float: left;
              font-size: 24px;
              color: #A9ABAF;
              padding-top: 18px;
            }
            span{
              float: left;
              font-size: 24px;
              color: #434349;
              padding-top: 18px;
            }
          }
        }
        .catalog-content-three{
          width: 100%;
          overflow: hidden;
          .catalog-content-three-left{
            width: 50%;
            float: left;
            p{
              float: left;
              font-size: 24px;
              color: #A9ABAF;
              padding-top: 10px;
              padding-left: 26px;
            }
            span{
              float: left;
              font-size: 24px;
              color: #434349;
              padding-top: 10px;
              text-decoration: line-through;
            }
          }
          .catalog-content-three-right{
            width: 50%;
            float: left;
            p{
              float: left;
              font-size: 24px;
              color: #A9ABAF;
              padding-top: 10px;
            }
            span{
              float: left;
              font-size: 24px;
              color: #434349;
              padding-top: 10px;
            }
          }
        }
        .catalog-content-four{
          width: 100%;
          overflow: hidden;
          .catalog-content-four-left{
            width: 50%;
            float: left;
            p{
              float: left;
              font-size: 24px;
              color: #A9ABAF;
              padding-top: 10px;
              padding-left: 26px;
            }
            span{
              float: left;
              font-size: 24px;
              color: #434349;
              padding-top: 10px;
            }
          }
          .catalog-content-four-right{
            width: 50%;
            float: left;
            p{
              float: left;
              font-size: 24px;
              color: #A9ABAF;
              padding-top: 10px;
            }
            span{
              float: left;
              font-size: 24px;
              color: #434349;
              padding-top: 10px;
            }
          }
        }
        .catalog-content-time {
          font-size: 24px;
          color: #A9ABAF;
          padding-top: 10px;
          padding-left: 26px;
        }
      }
      .assemble-content{
        width: 100%;
        margin-top: 16px;
        background-color: #FFFFFF;
        .assemble-content-title{
          width: 100%;
          height: 68px;
          box-sizing: border-box;
          border-bottom: 1px solid #F8F8F8;
          p{
            font-size: 24px;
            color: #434349;
            float: left;
            line-height: 68px;
            margin-left: 26px;
          }
          span{
            font-size: 24px;
            color: #A9ABAF;
            float: right;
            display: block;
            line-height: 68px;
            margin-right: 26px;
          }
        }
        .assemble-content-option{
          width: 92%;
          margin: 0 auto;
          overflow: hidden;
          .assemble-content-list{
            width: 100%;
            height: 118px;
            box-sizing: border-box;
            border-bottom: 1px solid #f8f8f8;
            &:last-child {
              border-bottom: 0;
            }
            .assemble-left{
              width: 43%;
              float: left;
              img{
                width: 68px;
                height: 68px;
                float: left;
                margin-top: 20px;
              }
              p{
                float: left;
                font-size: 24px;
                color: #434349;
                width: 218px;
                min-height: 110px;
                padding-left: 10px;
                display: flex;
                align-items: center;
                white-space:normal;
                word-break:break-all;
              }
            }
            .assemble-right{
              width: 57%;
              overflow: hidden;
              float: left;
              .assemble-right-btn{
                width: 126px;
                height: 58px;
                float: right;
                background-color: #E51C23;
                border-radius: 8px;
                color: #FFFFFF;
                font-size: 24px;
                line-height: 58px;
                text-align: center;
                margin-top: 24px;
                border: none;
              }
              .assemble-right-btn-over{
                 width: 126px;
                height: 58px;
                float: right;
                background-color: rgb(143, 140, 140);
                border-radius: 8px;
                color: #ffffff;
                font-size: 24px;
                line-height: 58px;
                text-align: center;
                margin-top: 24px;
                border: none;
              }
              .text{
                float: right;
                font-size: 24px;
                margin-top: 18px;
                margin-right: 20px;
                color: #434349;
                span{
                  color: #E51C23;
                }
              }
              .time{
                float: right;
                font-size: 24px;
                margin-right: 15px;
                color: #A9ABAF;
                .van-count-down {
                  display: inline-block;
                  color: #A9ABAF;
                  font-size: 24px;
                }
              }
            }
          }
        }
      }
      .only-assembled-content{
        width: 100%;
        overflow: hidden;
        background-color: #FFFFFF;
        margin-top: 16px;
        .only-assembled-title{
          width: 100%;
          height: 68px;
          box-sizing: border-box;
          border-bottom: 1px solid #f8f8f8;
          .only-assembled-left{
            float: left;
            font-size: 24px;
            color: #434349;
            line-height: 68px;
            margin-left: 26px;
            span{
              color: #E63E32;
            }
          }
          .only-assembled-right{
            float: right;
            font-size: 24px;
            color: #A9ABAF;
            line-height: 68px;
            margin-right: 24px;
            .van-count-down {
              display: inline-block;
              color: #A9ABAF;
              font-size: 24px;
            }
          }
        }
        .only-assembled-content-list{
          width: 100%;
          overflow: hidden;
          .only-assembled-list{
            width: 93%;
            height: 108px;
            border-bottom: 1px solid #f8f8f8;
            box-sizing: border-box;
            margin: 0 auto;
            .assembled-list-img{
              width: 68px;
              height: 68px;
              float: left;
              border-radius: 55px;
              overflow: hidden;
              margin-top: 20px;
              img{
                width: 68px;
                height: 68px;
              }
            }
            .p-name{
              width: 310px;
              height: 100%;
              float: left;
              margin-left: 20px;
              font-size: 24px;
              color: #434349;
              line-height: 108px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            .assembled-list-right{
              float: right;
              width: 280px;
              height: 100%;
              .p-right{
                text-align: right;
                font-size: 24px;
                color: #434349;
                font-weight: 600;
                padding-top: 18px;
                span{
                  color: #E63E32;
                }
              }
              .p-grey{
                text-align: right;
                font-size: 24px;
                color: #A9ABAF;
              }
            }
          }
        }
      }
      .evaluate-list {
        margin-top: 16px;
        background: white;
        padding: 30px;
        color: #2e3033;
        .title {
          border-left: 4px solid #e33240;
          padding-left: 14px;
          line-height: 100%;
        }
        ul {
          li {
            padding: 30px 0;
            &:not(:last-child) {
              .border-1px(#e8e9eb);
            }
            > div {
              &:first-child {
                display: flex;
                align-items: center;
                line-height: 100%;
                > span {
                  display: block;
                  font-size: 26px;
                  &.default {
                    .bg-img("~@/assets/images/default_profile");
                  }
                  &:first-child {
                    width: 75px;
                    height: 75px;
                    border-radius: 50%;
                    margin-right: 20px;
                  }
                }
              }
              &:nth-child(2) {
                padding-top: 20px;
                font-size: 26px;
              }
              &:nth-child(3) {
                padding-top: 20px;
                font-size: 24px;
                color: #8e939a;
              }
            }
          }
        }
        .allEvaluate {
          padding: 50px 0;
          div {
            margin: auto;
            width: 260px;
            height: 64px;
            border-radius: 40px;
            border: 2px solid;
            color: rgb(227, 50, 64);
            font-size: 26px;
            letter-spacing: 2px;
            line-height: 64px;
            text-align: center;
          }
        }
      }
      .evaluate-content{
        width: 100%;
        margin-top: 10px;
        background-color: #FFFFFF;
        overflow: hidden;
        .evaluate-content-title{
          width: 100%;
          height: 68px;
          box-sizing: border-box;
          border-bottom: 1px solid #f8f8f8;
          background-color: #FFFFFF;
          .evaluate-title-line{
            width: 4px;
            height: 28px;
            background-color: #E51C23;
            float: left;
            margin-left: 30px;
            margin-top: 20px;
          }
          p{
            font-size: 28px;
            color: #434349 ;
            float: left;
            line-height: 68px;
            margin-left: 14px;
          }
          span{
            font-size: 24px;
            color: #A9ABAF;
            float: right;
            line-height: 68px;
            margin-right: 26px;
          }
        }
        .evaluate-content-option{
          width: 92%;
          min-height: 354px;
          margin: 0 auto;
          .evaluate-content-option-comment{
            width: 100%;
            height: 88px;
            box-sizing: border-box;
            border-bottom: 1px solid #f8f8f8;
            .comment-one{
              width: auto;
              height: 45px;
              border-radius: 12px;
              float: left;
              margin-top: 20px;
              border: 1px solid #A9ABAF;
              margin-left: 10px;
              p{
                font-size: 24px;
                color: #A9ABAF ;
                padding-left: 15px;
                padding-right: 15px;
                line-height: 45px;
                text-align: center;
              }
            }
          }
          .evaluate-content-option-list{
            width: 100%;
            min-height: 130px;
            border-bottom: 1px solid #f8f8f8;
            box-sizing: border-box;
            .evaluate-list-title{
              width: 100%;
              overflow: hidden;
              img{
                width: 52px;
                height: 52px;
                float: left;
                margin-top: 18px;
              }
              p{
                font-size: 28px;
                color: #434349;
                float: left;
                padding-top: 22px;
                margin-left: 20px;
              }
            }
            .evaluate-list-bottom{
              width: 100%;
              overflow: hidden;
              p{
                font-size: 24px;
                color: #5E6173;
                width: 550px;
                margin-top: 6px;
                display: flex;
                display: -webkit-flex;
                align-items: center;
                justify-content:left;
              }
            }
          }
        }
      }
      .shop-info {
        padding: 0 28px;
        margin-top: 16px;
        background: white;
        color: #2e3033;

        .shop-title {
          display: flex;
          align-items: center;
          padding: 30px 0;

          > div {
            &:first-child {
              width: 92px;
              height: 92px;
              border: 1px solid #eee;
            }

            &:last-child {
              font-size: 30px;
              padding-left: 30px;
            }
          }
        }

        .shop-label {
          overflow: hidden;

          > div {
            float: left;
            box-sizing: border-box;
            width: 33.3333%;
            padding: 0.6em 0;

            &:not(:nth-child(3n)) {
              .border-vertical-1px(#e8e9eb);
            }

            span {
              display: block;
              text-align: center;

              &:last-child {
                color: #8e939a;
              }
            }
          }
        }

        .shop-btn {
          display: flex;
          justify-content: center;
          padding: 50px;

          > div {
            margin: 0 10px;
            width: 220px;
            height: 64px;
            border-radius: 35px;
            text-align: center;
            font-size: 26px;

            &:first-child {
              background: linear-gradient(
                90deg,
                rgba(255, 107, 82, 1) 0%,
                rgba(227, 50, 64, 1) 100%
              );
              line-height: 64px;
              color: white;
            }

            &:last-child {
              background: rgba(255, 255, 255, 1);
              border: 2px solid;
              color: rgb(227, 50, 64);
              box-sizing: border-box;
              line-height: 62px;
            }
          }
        }
      }

      .check-details {
        margin-top: 16px;
        height: 96px;
        color: #5e6166;
        text-align: center;
        font-size: 28px;
        background: white;
        line-height: 96px;

        i {
          font-size: 20px;
          transform: rotate(-90deg);
        }

        > span {
          letter-spacing: 1px;
          margin-left: 20px;
        }
      }
    }

    .product-introduce {
      @{deep} * {
        max-width: 100% !important;
        img {
          display: block;
        }
      }

      &.van-padding-top {
        padding-top: 96px;
      }
    }
  }

  .van-footer {
    background: none;

    @{deep} .van-goods-action {
      background: white;
      z-index: 1;
      .van-goods-action-button {
        &--first {
          border-top-left-radius: 999px;
          border-bottom-left-radius: 999px;
        }
        &--last {
          border-top-right-radius: 999px;
          border-bottom-right-radius: 999px;
        }
      }
    }

    @{deep} .van-goods-action-icon {
      z-index: 100;
      color: #8e939a;

      .van-server,
      .van-shop,
      .van-collect,
      .van-collected {
        width: 48px;
        height: 48px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
      }

      .van-server {
        .bg-img("~@/assets/images/icon/server");
      }

      .van-shop {
        .bg-img("~@/assets/images/icon/shop");
      }

      .van-collect {
        .bg-img("~@/assets/images/icon/collect");
      }

      .van-collected {
        .bg-img("~@/assets/images/icon/collected");
      }
    }

    @{deep} .van-addShop {
      color: #fff;
      background: linear-gradient(
        90deg,
        rgba(255, 193, 56, 1) 0%,
        rgba(255, 162, 0, 1) 100%
      );
      position: relative;
    }

    @{deep} .van-buyNow {
      color: #fff;
      background: linear-gradient(
        90deg,
        rgba(255, 107, 82, 1) 0%,
        rgba(227, 50, 64, 1) 100%
      );
    }
      @{deep} .buying-addShop {
      border-radius: 0px;
      margin: 0;
      width: 100%;
      height: 100px;
      padding: 0;
      color: #fff;
      /*background: linear-gradient(
        90deg,
        rgba(255, 193, 56, 1) 0%,
        rgba(255, 162, 0, 1) 100%
      );*/
      background-color: #FF8A82;
      position: relative;
      line-height: 35px;
      p{
        font-size: 32px;
        font-weight: 600;
      }
      span{
        font-size: 24px;
        font-weight: 600;
      }
    }

    @{deep} .buying-buyNow {
      border-radius: 0px;
      margin: 0;
      height: 100px;
      color: #fff;
      /*background: linear-gradient(
        90deg,
        rgba(255, 107, 82, 1) 0%,
        rgba(227, 50, 64, 1) 100%
      );*/
      background-color: #E51C23;
      line-height: 35px;
      p{
        font-size: 32px;
        font-weight: 600;
      }
      span{
        font-size: 24px;
        font-weight: 600;
      }
    }
  }

  .begin-video-box {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 0 30px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 24px;
    color: #3985ff;
    background: rgba(255, 255, 255, 0.8);
    z-index: 10;
    &.van-bottom {
      bottom: 20px;
    }
    &:before {
      background: url("~@/assets/images/video/play.png") no-repeat 0;
      background-size: 30px 30px;
      content: "";
      position: relative;
      display: inline-block;
      vertical-align: middle;
      margin-top: -2px;
      margin-right: 5px;
      width: 31px;
      height: 31px;
    }
    &:after {
      border-radius: 50px;
      border-color: #3b8afb;
    }
    &:hover {
      background: rgba(255, 255, 255, 0.8);
    }
  }
  // 参与拼团样式
  .competition{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    background: rgba(0,0,0,0.2);
    z-index: 999999;
    .competition-option{
      width: 526px;
      height: 393px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 16px;
      .competition-option-close{
        width: 48px;
        height: 48px;
        background: url("~@/assets/images/groupbuying/close.svg") no-repeat center center;
        position: absolute;
        top: -18px;
        right: -20px;
        border-radius: 30px;
        z-index: 1;
      }
      .competition-option-content{
        width: 100%;
        height: 100%;
        border-radius: 16px;
        background-color: #FFFFFF;
        box-shadow: 0 20px 20px -20px #ffffff inset;
        .competition-option-content-top{
          width: 100%;
          height: 100px;
          p{
            text-align: center;
            line-height: 100px;
            font-size: 32px;
            color: #434349;
            font-weight: 600;
          }
        }
        .spell-master-label{
          width: 52px;
          height: 30px;
          border-radius: 16px;
          background-color: #FFAB1F;
          text-align: center;
          line-height: 27px;
          color: #B0781A;
          font-size: 20px;
          border: 1px solid #F1EFF8;
          box-sizing: border-box;
          position: absolute;
          left: 148px;
          top: 54px;
          z-index: 2;
        }
        .competition-option-content-center{
          width: 100%;
          height: 148px;
          position: relative;
          p{
            width: 100%;
            overflow: hidden;
            text-align: center;
            font-size: 24px;
            color: #A9ABAF;
            span{
              color: #E51C23;
            }
            .van-count-down {
              display: inline-block;
              color: #A9ABAF;
              font-size: 24px;
            }
          }
          .spell-master{
            width: 86px;
            height: 86px;
            position: absolute;
            left: 164px;
            top: 62px;
            border-radius: 50%;
            overflow: hidden;
            box-shadow: 0 0 1px 2px #FFAB1F;
              img{
                width: 86px;
                height: 86px;
            }
          }
          .team-player{
            width: 86px;
            height: 86px;
            position: absolute;
            left: 276px;
            top: 62px;
            border-radius: 50%;
            text-align: center;
            overflow: hidden;
            border: 1px dashed #A9ABAF;
            img{
              width: 86px;
              height: 86px;
              display: inline-block;
            }
          }
        }
        .competition-option-content-bottom{
          width: 100%;
          height: 145px;
          .competition-btn{
            width: 466px;
            height: 80px;
            margin: 0 auto;
            background-color: #E51C23;
            text-align: center;
            line-height: 80px;
            border-radius: 12px;
            color: #FFFFFF;
            margin-top: 32px;
          }
        }
      }
    }
  }
  // 正在拼单内容弹出框
  .show-contents{
    width: 100%;
    height: 756px;
    background-color: #FFFFFF;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    position: absolute;
    bottom: 0;
    .show-close{
      width: 36px;
      height: 36px;
      position: absolute;
      right: 15px;
      top: 10px;
      border-radius: 20px;
      background: url("~@/assets/images/groupbuying/close.svg") no-repeat center center;
    }
    .show-contents-title{
      width: 100%;
      height: 178px;
      margin-top: 40px;
      .show-contents-title-img{
        width: 194px;
        height: 178px;
        float: left;
        margin-left: 20px;
        text-align: center;
        .commodityImg{
          width: 180px;
          height: 180px;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-position: center;
          // display: inline-block;
        }
      }
      .show-contents-title-right{
        width: 500px;
        height: 100%;
        float: left;
        margin-left: 20px;
        position: relative;
        p{
          width: 100%;
          padding-top: 3px;
          font-size: 32px;
          color: #434349;
          font-weight: 600;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        span{
          display: block;
          font-size: 32px;
          color: #E51C23;
          font-weight: 600;
          padding-top: 6px;
        }
        .explain{
          width: 194px;
          height: 38px;
          background-color: #F39801;
          color: #FFFFFF;
          font-size: 24px;
          text-align: center;
          line-height: 38px;
          border-radius: 12px;
          position: absolute;
          bottom: 0;
        }
      }
    }
    .show-contents-center{
      width: 100%;
      margin-top: 34px;
      overflow: hidden;
      p{
        width: 48%;
        float: left;
        font-size: 24px;
        color: #434349;
        padding-left: 20px;
        padding-bottom: 16px;
      }
      span{
        width: 46%;
        float: left;
        font-size: 24px;
        padding-left: 20px;
        color: #434349;
        padding-bottom: 16px;
      }
    }
    .show-contents-tips{
      width: 100%;
      overflow: hidden;
      p{
        font-size: 24px;
        color: #A9ABAF;
        padding-left: 20px;
        .van-count-down {
          display: inline-block;
          color: #A9ABAF;
          font-size: 24px;
        }
      }
    }
    .show-contents-bottom{
      width: 100%;
      height: 108px;
      background-color: #FCF6DF;
      position: absolute;
      left: 0;
      bottom: 0;
      .stepping-device{
        width: 356px;
        height: 88px;
        float: left;
        background-color: #5E6173;
        border-radius: 12px;
        margin-left: 11px;
        margin-top: 10px;
        .stepping-device-left{
          width: 88px;
          height: 100%;
          float: left;
          background: url("~@/assets/images/groupbuying/reduce.svg") no-repeat center center;
          background-size: 20px 4px;
        }
        .stepping-device-center{
          width: 180px;
          height: 100%;
          float: left;
          background-color: #FFFFFF;
          font-size: 32px;
          color: #434349;
          line-height: 88px;
          text-align: center;
          font-weight: 600;
        }
        .stepping-device-right{
          width: 88px;
          height: 100%;
          float: left;
          background: url("~@/assets/images/groupbuying/plus.png") no-repeat center center;
          background-size: 20px 20px;
        }
      }
      .show-contents-bottom-btn{
        width: 356px;
        height: 88px;
        float: left;
        background-color: #E51C23;
        border-radius: 12px;
        margin-left: 16px;
        margin-top: 10px;
        font-size: 32px;
        color: #FFFFFF;
        line-height: 88px;
        font-weight: 600;
        text-align: center;
      }
    }
  }

  // 正在拼单弹出框样式
  .making-list{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    background: rgba(0,0,0,0.2);
    z-index: 999999;
    .making-list-option{
      width: 600px;
      height: 1000px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 16px;
      .icon-close{
        width: 48px;
        height: 48px;
        background: url("~@/assets/images/groupbuying/close.svg") no-repeat center center;
        position: absolute;
        top: -18px;
        right: -20px;
        border-radius: 30px;
        z-index: 1;
      }
      .making-list-content{
        width: 100%;
        height: 100%;
        border-radius: 16px;
        background-color: #FFFFFF;
        box-shadow: 0 20px 20px -20px #ffffff inset;
        .making-list-content-top{
          width: 100%;
          height: 92px;
          box-sizing: border-box;
          border-bottom: 1px solid #F1EFF8;
          p{
            font-size: 32px;
            color: #434349;
            text-align: center;
            line-height: 92px;
            font-weight: 600;
          }
        }
        .making-list-content-option{
          width: 100%;
          height: 610px;
          overflow-y: scroll;
          .marking-lister{
            width: 90%;
            height: 96px;
            box-sizing: border-box;
            border-bottom: 1px solid #F1EFF8;
            margin: 0 auto;
            .marking-lister-img{
              width: 60px;
              height: 60px;
              float: left;
              margin-top: 18px;
              img{
                width: 60px;
                height: 60px;
              }
            }
            .marking-lister-text{
              width: 58%;
              margin-left: 12px;
              overflow: hidden;
              float: left;
              .name{
                width: 100%;
                overflow: hidden;
                font-size: 24px;
                color: #434349 ;
                padding-top: 14px;
                padding-left: 12px;
                white-space: nowrap;
                text-overflow: ellipsis;
                span{
                  color: #A9ABAF;
                  margin-left: 20px;
                  padding-top: 14px;
                  font-size: 24px;
                  i {
                    color: #E51C23;
                    font-style: normal;
                  }
                }
              }
              .remaining{
                width: 100%;
                overflow: hidden;
                color: #A9ABAF;
                font-size: 24px;
                margin-left: 12px;
                margin-top: 2px;
                .van-count-down {
                  display: inline-block;
                  color: #A9ABAF;
                  font-size: 24px;
                }
              }
            }
            .marking-lister-btn{
              width: 112px;
              height: 54px;
              float: right;
              background-color: #E51C23;
              border-radius: 8px;
              margin-top: 20px;
              text-align: center;
              line-height: 54px;
              color: #FFFFFF;
              font-size: 24px;
            }
            .marking-lister-btn-over{
              width: 112px;
              height: 54px;
              float: right;
              background-color: rgb(143, 140, 140);
              border-radius: 8px;
              margin-top: 20px;
              text-align: center;
              line-height: 54px;
              color: #FFFFFF;
              font-size: 24px;
            }
          }
          .prompt-text{
            width: 100%;
            height: 48px;
            text-align: center;
            line-height: 48px;
            font-size: 24px;
            color: #A9ABAF;
          }
        }
      }
    }
  }
}
</style>
