<template>
  <div class="goods-details">
    <div class="head">
      <!-- 滚动前显示 -->
      <div class="navbar1" :style="{opacity}">
        <van-nav-bar left-arrow @click-left="onClickLeft">
          <!-- <i class="van-shopcart2" slot="right" @click-right="onClickRight(1)">
            <i v-if="shopCount">{{shopCount}}</i>
          </i> -->
          <i class="van-ver-menu2" slot="right" @click-right="onClickRight(2)"></i>
        </van-nav-bar>
      </div>

      <!-- 滚动后显示 -->
      <tab-navbar
        :count="shopCount"
        ref="navbar"
        class="navbar2"
        :tabList="tabList"
        :style="{opacity: 1 - opacity}"
        :cartIcon="false"
        @on-tab="toggleTab"
        @click-left="onClickLeft"
        @click-right="onClickRight"
      >
      </tab-navbar>

      <!-- <van-nav-bar title="产品详情" left-arrow @click-left="onClickLeft"/> -->
    </div>

    <div id="content" class="van-padding-bottom content">
      <!-- 商品 -->
      <div v-show="tabIndex === 0">
        <!-- 轮播 -->
        <div class="swiper-container">
          <my-video
            ref="myVideo"
            class="my-video"
            v-if="detail.videoList && detail.videoList[0]"
            v-show="showVideo"
            :video-url="detail.videoList[0]"
            @pause="showVideo = false"
          ></my-video>

          <van-swipe :width="swiperW" :height="swiperH" @change="onChange" v-if="detail.pictureList && detail.pictureList.length">
            <van-swipe-item v-for="(item, index) in detail.pictureList" :key="index + 'swipe'">
              <div
                class="format-img"
                v-lazy:background-image="{ src: allImgDomainName + item, error: require('@/assets/images/default/wens-bg.jpg') }"
                @click="viewPicDetail(index,detail.pictureList)"
              ></div>

              <!-- 播放按钮 -->
              <div
                class="begin-video-box van-bottom"
                v-if="detail.videoList && detail.videoList[0] && index === 0"
                @click.stop="playVideo"
              >视频
              </div>
            </van-swipe-item>

            <div class="custom-indicator" slot="indicator">
              {{ current + 1 }}/{{(detail.pictureList && detail.pictureList.length) ?
              detail.pictureList.length : 0}}
            </div>
          </van-swipe>
          <div v-else-if="detail.pictureList && !detail.pictureList.length">
            <img v-lazy="require('@/assets/images/default/wens-bg.jpg')" :width="swiperW" :height="swiperH">
          </div>
        </div>
        <!-- 轮播结束 -->

        <div style="background: #F2F1F1;position: relative;z-index: 1">
          <div class="under-the-swipe">
            <div>
              <div class="price-stuff" v-if="+$route.query.type !== 1">
                <i class="icon-today-price"></i>
                <div v-if="isZero !== null">
                  <span v-if="isZero">
                    <span class="expect">敬请期待</span>
                  </span>
                  <span v-else>
                    <span>{{price[0] || '0'}}.{{price[1] ? (price[1].length === 1 ? price[1] + '0' : price[1]) : '00'}}</span>
                    <span class="unit"> 元/{{detail.saleUnitName}}</span>
                  </span>
                </div>

                <!-- <s>{{detail.referencePrice | keepTwoNum}} 元/{{detail.saleUnitName}}</s> -->
              </div>

              <div class="price-stuff" v-else>
                <i class="icon-today-price"></i>
                <div v-if="isZero !== null">
                  <span v-if="isZero">
                    <span class="expect">敬请期待</span>
                  </span>
                  <span v-else>
                    <span class="small" v-for="(item, index) in price" :key="index">
                      {{item.price | keepTwoNum}} 元/{{item.saleUnitName}}
                      <span class="small" style="padding: 0 4px;" v-if="index !== price.length - 1">+</span>
                    </span>
                  </span>
                </div>

                <!-- <s><span v-for="(item, index) in detail.combList" :key="index">{{item.referencePrice | keepTwoNum}} 元/{{item.saleUnitName}}<span style="padding: 0 4px;" v-if="index !== detail.combList.length - 1">+</span></span></s> -->
              </div>

              <div class="share" @click="onGoodsShare">
                <i><img src="@/assets/images/icon/ccshare@2x.png" height="48" width="48" alt></i>
                <span>分享</span>
              </div>
            </div>

            <p class="title">{{detail.itemTitle || detail.name}}</p>
            <p class="remark">{{detail.remark}}</p>
            <p class="err-text"><span v-if="token && errText">{{errText}}</span></p>

            <div class="avg-weight">
              <div class="left">
                <span class="label-text" v-if="specification.maxAvgWeight">均重</span>
                <span>{{specification.maxAvgWeight && specification.minAvgWeight + specification.uom_name + ' - ' + specification.maxAvgWeight + specification.uom_name}}</span>
              </div>
              <div class="right">
                <span>库存&nbsp;</span>
                <span :style="{color: (+stock && +stock > 0) ? '#32E340' : '#E33240'}">{{(+stock && +stock > 0) ? (showStock && showStock.show_stock ? ('剩余' + showStock.cur_stock) : '有货') : '无货'}}</span>
              </div>
            </div>

            <div class="list policyResults" v-if="detail.comitemname">
              <div class="item">
                <div class="title">促销</div>
                <div class="content">
                  <span class="translate">{{detail.comitemname}}</span>
                </div>
              </div>
            </div>
          </div>

          <div class="content-2-floor list">
            <!-- <div class="item" v-if="detail.isAssistOrder ? detail.assistSaleQty : detail.saleQty">
              <div class="title">销量</div>
              <div class="content">
                <span class="translate">{{detail.isAssistOrder ? detail.assistSaleQty : detail.saleQty}}</span>
              </div>
            </div> -->

            <!-- <div class="item">
              <div class="title">库存</div>
              <div class="content" :style="{color: (+stock && +stock > 0) ? '#E33240' : '#32E340'}">
                <span v-if="stock !== null" class="translate">{{(+stock && +stock > 0) ? (showStock && showStock.show_stock ? ('剩余' + showStock.cur_stock) : '有货') : '无货'}}</span>
              </div>
            </div> -->

            <!-- <div class="item" v-if="specification.maxAvgWeight">
              <div class="title">预测均重</div>
              <div class="content">
                <span class="translate">{{specification.maxAvgWeight && specification.minAvgWeight + ' - ' + specification.maxAvgWeight + ' ' + specification.uom_name}}</span>
              </div>
            </div> -->

            <div class="item" v-if="!(minBuyQty === 0 && maxBuyQty === 0)">
              <div class="title">每单限购</div>
              <div class="content">
                <span class="translate">
                  <span v-if="minBuyQty">最少&nbsp;<span style="color: #E33240;">{{minBuyQty}}</span></span>
                  <span v-if="minBuyQty && maxBuyQty">，</span>
                  <span v-if="maxBuyQty">最多&nbsp;<span style="color: #E33240;">{{maxBuyQty}}</span></span>
                </span>
              </div>
            </div>

            <div class="item" v-if="limitFromItem && dayMaxQty > 0">
              <div class="title">今日限购</div>
              <div class="content">
                <span class="translate">
                  <span>最多&nbsp;<span style="color: #E33240;">{{dayMaxQty}}</span></span>
                </span>
              </div>
            </div>

            <div class="item">
              <div class="title">发货</div>
              <div class="content deliver">
                <i class="icon location"></i>
                <span>{{shopInfo.storeName || shopInfo.name}}</span>
              </div>
              <!-- <div class="right">月销量 {{detail.isAssistOrder ? detail.assistSaleQty : detail.saleQty}} {{detail.isAssistOrder ? detail.assistUnitName : detail.saleUnitName}}</div> -->
            </div>

            <div class="item active" @click="openPicturePopup">
              <div class="title">质量</div>
              <div class="content">
                <!-- <span class="btn">点击查看</span> -->
              </div>
              <div class="arrow">
                <van-icon name="arrow"/>
              </div>
            </div>

            <!-- <div class="item active" @click="showPopUp('coupon', '店铺优惠券')">
              <div class="title">领券</div>
              <div class="content coupon"><span><span class="translate">店铺优惠券</span></span>满888减60；满1888减100
              </div>
              <div class="arrow">
                <van-icon name="arrow"/>
              </div>
            </div>-->
          </div>

          <div class="list">
            <div class="item active" v-if="detail.ownerType === '5'">
              <div class="title">要货日期</div>
              <div class="content">
                <span class="translate">{{sellDate}}</span>
              </div>
            </div>

            <div class="item active" @click="showPopUp('sku')">
              <div class="title">已选</div>
              <div class="content line-feed" v-if="!(+$route.query.type === 1)">
                {{namesText.concat(selectedWeightRange.name ? selectedWeightRange.name + ' ' + selectedWeightRange.uom_name : [],
                  count).join('，')}} {{detail.isAssistOrder ? detail.assistUnitName : detail.saleUnitName}}
                {{labelList2 && labelList2[1] ? '，' + count * labelList2[1] + ' ' + labelList2[2] : ''}}
              </div>
              <div class="content" v-else>
                {{([]).concat(selectedWeightRange.name ? selectedWeightRange.name + ' ' + selectedWeightRange.uom_name
                : [], detail.combList ? detail.combList.map(v => v.baseQty * count + (v.isAssistOrder ? v.assistUnitName : v.saleUnitName) + v.name) : []).join('，')}}
              </div>
              <div class="arrow">
                <van-icon name="arrow"/>
              </div>
            </div>

            <div class="item active" @click="showPopUp('params', '规格参数')">
              <div class="title">参数</div>
              <div class="content">{{paramsList}}</div>
              <div class="arrow">
                <van-icon name="arrow"/>
              </div>
            </div>
          </div>

          <!-- <div class="list">
            <div class="item active" @click="showPopUp('location', '配送至')">
              <div class="title">送至</div>
              <div class="content">{{address.location}}</div>
              <div class="arrow">
                <van-icon name="arrow"/>
              </div>
            </div>

            <div class="item">
              <div class="title">运费</div>
              <div class="content">免运费</div>
            </div>
          </div>-->
          <!-- 评价列表 -->
          <div class="evaluate-list">
            <div class="title">评价（{{evaluate.count || 0}}）</div>

            <ul v-if="evaluate.list">
              <li
                v-for="(item, index) in JSON.parse(JSON.stringify(evaluate.list.slice(0, 3)))"
                :key="index + 'eva'"
              >
                <div>
                  <span
                    class="format-img"
                    v-lazy:background-image="{ src: item.usrImg && JSON.parse(item.isAnonymity) === false ? allImgDomainName + item.usrImg : '',
                      error: require('@/assets/images/default_profile@2x.png') }"
                  ></span>

                  <span>{{JSON.parse(item.isAnonymity) ? (item.userName && `${item.userName[0]}**`) : item.userName}}</span>

                  <span style="flex: 1;text-align: right;">
                    <van-rate :value="parseInt(item.evaluateGrade)" :size="13" :readonly="true"/>
                  </span>
                </div>

                <div>{{item.evaluateContent}}</div>

                <div
                  v-if="item.labelList && item.labelList.length"
                >{{item.labelList ? item.labelList.map(v => v.name).join(', ') : ''}}
                </div>
              </li>
            </ul>

            <div class="allEvaluate" v-if="evaluate.count">
              <div class="active" @click="checkAll">查看全部评价</div>
            </div>
          </div>
          <!-- 评价列表结束 -->
          <!-- 店铺 -->
          <!-- <div class="shop-info">
            <div class="shop-title">
              <div
                class="format-img"
                v-lazy:background-image="{ src: allImgDomainName + shopInfo.useImg,
                  error: require('@/assets/images/default/store_logo.jpg') }"
              ></div>

              <div>{{shopInfo.storeName || shopInfo.name}}
                <van-tag color="#f39800" plain v-if="shopInfo.type === '1'">养禽</van-tag>
                <van-tag color="#f39800" plain v-else-if="shopInfo.type === '2'">养猪</van-tag>
                <van-tag color="#f39800" plain v-else-if="shopInfo.type === '3'">乳业</van-tag>
                <van-tag color="#f39800" plain v-else-if="shopInfo.type === '4'">鲜品</van-tag>
                <van-tag color="#f39800" plain v-else-if="shopInfo.type === '5'">蛋业</van-tag>
                <van-tag color="#f39800" plain v-else-if="shopInfo.type === '6'">熟食</van-tag>
              </div>
            </div>

            <div class="shop-label">
              <div v-for="(item, index) in shopInfo.evaluateList" :key="index + 'label'">
                <span>{{item.score}}</span>
                <span>{{item.name}}</span>
              </div>
            </div>

            <div class="shop-btn">
              <div class="active" @click.stop="concern">{{isConcern ? '已关注店铺' : '关注店铺'}}</div>
              <div class="active" @click.stop="goShop(shopInfo.id)">进入店铺</div>
            </div>
          </div> -->
          <!-- 店铺结束 -->

          <!-- 封面图片 -->
          <div class="cover-img"></div>

          <!-- 产品详情 -->
          <van-divider>产品详情</van-divider>
          <div class="product-introduce" v-html="detail.descriptionTag"></div>
        </div>
      </div>
      <!-- 商品结束 -->
      <!-- 评价 -->
      <div v-show="tabIndex === 1">
        <evaluate
          ref="evaluate"
          :total="evaluate.totalNumber"
          :evaluateScore="evaluateScore"
          :data="evaluate"
          :shop-name="shopInfo.storeName || shopInfo.name"
          :requestLoading="requestLoading"
          @selectLabel="selectLabel"
          @onRefresh="onRefresh"
          @onLoad="onLoad"
          @viewPic="viewPic"
          @viewVideo="viewVideo"
        ></evaluate>
      </div>
      <!-- 评价结束 -->
      <!-- 养户实拍 -->
      <div v-show="tabIndex === 2">
        <goods-live-shot :data="farmersList" :materialId="materialId" :ownerId="detail.ownerId"></goods-live-shot>
      </div>
      <!-- 养户实拍结束 -->
    </div>

    <!-- 固定在底部那个按钮集合 -->
    <div class="van-footer">
      <van-goods-action>
        <van-goods-action-icon
          icon-class="van-home"
          text="首页"
          @click.stop="goIndex()"
        />
        <van-goods-action-icon
          :icon-class="isCollect ? 'van-collected' : 'van-collect'"
          :text="isCollect ? '已收藏' : '收藏'"
          @click.stop="collect"
        />
        <van-goods-action-icon
          icon-class="van-shoppingcart"
          text="购物车"
          :badge="shopCount"
          @click.stop="goShoppingCart()"
        />
        <van-goods-action-button class="van-addShop" text="加入购物车" :disabled="token && (detail.restrict === 0 || !+stock || +stock < minBuyQty)" :loading="addCartBtnLoading" @click.stop="addCart"/>
        <van-goods-action-button class="van-buyNow" text="立即购买" :disabled="token && (detail.restrict === 0 || !+stock || +stock < minBuyQty)" :loading="buyNowBtnLoading" @click.stop="buyNow"/>
      </van-goods-action>
    </div>

    <!-- 弹出框 -->
    <pop-up-items
      ref="popup"
      :detail="detail"
      :ownerId="detail.ownerId"
      :showId="showId"
      :up="up"
      :title="popUpTitle"
      :minBuyQty="minBuyQty"
      :maxBuyQty="maxBuyQty"
      :dayMaxQty="dayMaxQty"
      :limitFromItem="limitFromItem"
      :weightRange="weightRange"
      :disabledList="token && errText && showId === 'sku'? [0, 1] : []"
      :sellDate="sellDate"
      @hide="hideSku"
      @btn-click="btnClick"
      @change-weightRange="changeWeightRange"
      @change-count="changeCount"
      @change-coupon="changeCoupon"
      @change-location="changeLocation"
      @change-label="changeLabel"
      @change-labelList="changeLabelList"
    ></pop-up-items>
    <!-- 还有一个pop-up父组件，只有弹出效果 -->
    <!-- ref：用于修改地址，this.$refs.popup.cacheAddress -->
    <!-- detail：商品数据 -->
    <!-- showId：弹出的类型 -->
    <!-- up：是否弹出 -->
    <!-- hide：点击蒙层时触发 -->
    <!-- btn-click：底部按钮，可通过返回对象的name判断 -->
    <!-- change-count：数量改变，返回数字 -->
    <!-- change-label：选择label触发，初始化会触发一次 -->
    <!-- change-location：选择地址触发，初始化会触发一次 -->
    <!-- change-coupon：选择优惠券触发，暂时返回id -->
    <!-- 弹出框结束 -->

    <!-- 质检情况弹出框 -->
    <picture-popup
      :show="showPicturePopup"
      :title="detail.itemTitle"
      :picList="qualityTestingPicList"
      @close="closePicturePopup"
    ></picture-popup>

    <!-- "更多"下拉菜单 -->
    <drop-down-menu
      :show="showDropDownMenu"
      :data="dropDownMenuList"
      @hide="hide"
    ></drop-down-menu>

    <!-- 引导用户点击右上角进行分享操作 -->
    <div class="guideShare-wrap" v-show="guideShare" @click.stop="guideShare = false">
      <img src="@/assets/images/groupbuying/arrows.png" alt="" class="arrows-img"/>
      <p>点击右上角按钮，进行分享吧！</p>
    </div>
  </div>
</template>

<script>
import TabNavbar from '@/components/tab-navbar'
import PopUpItems from '@/components/pop-up/pop-up'
import MyVideo from '@/views/goods-details/video'
import Evaluate from '@/components/goods-details/evaluate'
import GoodsLiveShot from '@/components/goods-live-shot'
import DropDownMenu from '@/components/drop-down-menu'
import PicturePopup from '@/components/index-2/picture-popup'
import { allImgDomainNameMixin, WXMixin } from '@/assets/js/mixin'
import { api } from '@/api'
import { ImagePreview } from 'vant'
import { mapGetters } from 'vuex'
import { zero, formatDataByGroup, getCookie, isWeiXin } from '@/utils/common'

export default {
  name: 'goods-details',
  mixins: [allImgDomainNameMixin, WXMixin],
  inject: ['reload'],
  components: {
    TabNavbar,
    PopUpItems,
    Evaluate,
    MyVideo,
    DropDownMenu,
    GoodsLiveShot,
    PicturePopup
  },
  data () {
    return {
      tabList: [{ title: '商品' }, { title: '评价' }, { title: '养户' }],
      evaluateScore: {},
      evaluateType: '1', // 1:全部 2图片 3追评 4 好评 5 中评 6 差评
      evaluateTagList: [],
      price: null, // 价格
      isZero: null, // 组合商品售价是否含有零的
      stock: null, // 库存
      swiperH: 0, // 轮播的高
      swiperW: 0, // 轮播的宽
      up: false,
      showBase: true,
      opacity: 1,
      baseOpacity: 1,
      isCollect: false,
      detail: {},
      current: 0, // 图片下标
      shopInfo: {},
      evaluate: {},
      address: {},
      couponId: '',
      showId: '',
      labelList2: [], // 规格
      names: [],
      count: 1, // 数量
      tabIndex: 0, // tab坐标
      cacheScrollList: [],
      bigImg: '',
      swipeScroll: 0,
      popUpTitle: '',
      isConcern: false,
      pageSize: 10,
      pageNo: 1,
      toBottomFlag: false,
      start: 0,
      maxBuyQty: 0, // 每单最多限购(0-不限)
      minBuyQty: 0, // 每单最少限购(0-不限)
      dayMaxQty: 0, // 今日限购
      limitFromItem: false, // 是否是商品限购
      specification: {}, // 预测均重
      weightRange: [], // 重量范围
      selectedWeightRange: {}, // 选中重量范围
      showStock: null, // 显示剩余库存
      showVideo: false, // 显示视频
      showDropDownMenu: false, // 显示“更多”下拉菜单
      dropDownMenuList: [ // “更多”下拉菜单列表
        {
          subTitle: '首页',
          path: '/',
          imgUrl: require('@/components/tabbar/icon_home@3x.png')
        }
      ],
      sellDate: null, // 要货日期（蛋业）
      requestLoading: false, // 接口请求加载动画
      farmersList: [], // 养户列表
      materialId: null, // 物料id
      loadingToast: null, // 页面加载动画
      addCartBtnLoading: false, // 加入购物车按钮加载动画
      buyNowBtnLoading: false, // 立即购买按钮加载动画
      showPicturePopup: false, // 质检情况（图片弹窗框）查看
      qualityTestingPicList: [], // 质检情况图片列表
      guideShare: false // 引导用户进行分享遮罩层
    }
  },
  computed: {
    ...mapGetters(['allChannel']),
    // 购物车数量
    shopCount () {
      return this.$store.state.shoppingCartCount
    },
    // 参数
    paramsList () {
      if (!this.detail.itemModelList) return ''

      return this.detail.itemModelList.reduce((total, item) => {
        return item.name && item.size > 0 ? total + ' ' + item.name : total
      }, '')
    },
    // 不可购提示
    errText () {
      let text = ''

      if (this.detail.restrict === 0) {
        text = '此商品不可销'
      } else if (this.stock !== null && +this.stock <= 0) {
        text = '库存为0，不能购买'
      } else if (this.stock !== null && +this.stock < this.minBuyQty) {
        text = '库存不足，不能购买'
      }

      return text
    },
    namesText () {
      return this.names.map(v => v === null ? '请选择' : v)
    }
  },
  watch: {
    minBuyQty (val) {
      this.count = Math.max(1, val)
    },
    $route (newV, oldV) {
      this.reload()
    }
  },
  created () {
    let goodsId = this.$route.query.id
    if (!goodsId) {
      this.$router.push({ path: '/' })
      return
    }

    this.loadingToast = this.$toast.loading({
      duration: 0, // 持续展示 toast
      overlay: true, // 是否显示背景遮罩层
      message: '加载中...'
    })

    this.scaleSwiper()
    window.onresize = this.scaleSwiper
    this.listenScroll()
    this.initSellDate()
    this.queryGoodsDetail(goodsId)

    // 记录位置
    if (this.$route.params.keepaLiveFlag) {
      var pageInfo = JSON.parse(sessionStorage.getItem('evaluateInfo'))
      sessionStorage.setItem('evaluateInfo', null)
      this.evaluate = pageInfo.evaluate
      this.pageNo = pageInfo.pageNo
      this.evaluateType = pageInfo.evaluateType
      this.$nextTick(() => {
        this.cacheScrollList[2] = +pageInfo.scrollTop
        this.$refs.navbar.active = 2
        this.$refs.evaluate.selected = pageInfo.selected
        this.toggleTab(2)
      })
    } else {
      this.queryItemEvaluate() // 获取商品评价
    }

    if (this.$store.state.intoPage === 0 && this.token) { // 页面手动刷新
      let param = {
        page: 1,
        pageSize: 999,
        isGetCountOnly: 1,
        customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
      }
      if (this.$store.state.intoPage === 0 && getCookie('selectedChannel')) {
        param.owner = JSON.parse(getCookie('selectedChannel')).channelId
      } else if (this.$store.state.intoPage === 1 && this.$store.state.channel.currentChannel && this.$store.state.channel.currentChannel.channelId) {
        param.owner = this.$store.state.channel.currentChannel.channelId
      }
      api.queryCart(param).then(res => {
        if (res.success) {
          this.$store.dispatch('setShoppingCartCount', res.data.count)
        }
      })
    }
    // if (this.token) { // 新增商品浏览记录
    //   let params = {
    //     itemId: goodsId,
    //     sourceType: 'mobile' // 来源：mobile：移动端 ，pc：PC端
    //   }
    //   api.commonCall(params, 'saveItemBrowseRecord').then(res => {
    //     if (res.success) {}
    //   })
    // }
  },
  methods: {
    hide () {
      this.showDropDownMenu = false
    },
    viewVideo (path) {
      var scrollTop = document.querySelector(
        '#content'
      ).scrollTop

      // 记录位置
      sessionStorage.setItem('evaluateInfo', JSON.stringify({
        evaluate: this.evaluate,
        pageNo: this.pageNo,
        selected: this.$refs.evaluate.selected,
        evaluateType: this.evaluateType,
        scrollTop
      }))

      let { id, type, combItemId } = this.$route.query

      this.$router.push({
        path: '/videoPage',
        query: {
          id,
          type,
          combItemId,
          path
        }
      })
    },
    onLoad () {
      this.pageNo++
      this.queryItemEvaluate()
    },
    onRefresh () {
      this.evaluate.list.splice(0)
      this.pageNo = 1
      this.queryItemEvaluate()
    },
    // 控制轮播宽高
    scaleSwiper () {
      this.swiperW = window.innerWidth
      this.swiperH = window.innerHeight / 2
    },
    // 播放视频
    playVideo () {
      this.showVideo = true
      this.$nextTick(() => {
        this.$refs.myVideo.$refs.myVideoRef.goOnPlay()
      })
    },
    // 立即购买
    buyNow () {
      if (this.token) {
        for (let i = 0; i < this.$refs.popup.attrIdArray.length; i++) {
          if (!this.$refs.popup.attrIdArray[i]) {
            let attrValue = this.detail.assistAttrArrayV2.attrValue
            this.$toast('请选择商品属性【' + attrValue[i].attrName + '】')
            return
          }
        }

        if (!this.validAddCart()) return

        let params = this.formatParams('placeOrder')

        this.buyNowBtnLoading = true

        api.saveGoods(params).then(res => {
          this.buyNowBtnLoading = false
          if (res.success) {
            this.$router.push({
              path: '/placeOrder',
              query: {
                isQuickOrder: '1',
                date: this.detail.ownerType === '5' ? this.sellDate : ''
              }
            })
          } else {
            res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
          }
        })
      } else {
        this.$toast('请先登录')
        this.$router.push({ path: '/loginRandom', query: { redirect: this.$route.fullPath } })
      }
    },
    // 验证是否可加入购物车
    validAddCart () {
      if (this.detail.restrict === 0) {
        this.$toast.fail('此商品不可销')
        return false
      }

      if (+this.$route.query.type !== 1) {
        if (!this.stock || +this.stock <= 0) {
          this.$toast.fail('库存为0，不能购买')
          return false
        }

        if (+this.stock < this.minBuyQty) {
          this.$toast.fail('库存不足，不能购买')
          return false
        }
      }

      return true
    },
    // 初始化参数
    formatParams (placeOrder) {
      const params = placeOrder ? {
        isQuickOrder: '1',
        list: []
      } : {
        list: []
      }

      if (!(+this.$route.query.type === 1)) { // 如果是普通商品
        let item = {
          ownerId: this.detail.ownerId,
          itemId: this.detail.id,
          isChoose: '1',
          customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
        }

        item.wtRangeId = this.selectedWeightRange && this.selectedWeightRange.id
        item.unitId = this.detail.saleUnitId + ''
        item.assistUnitId = this.detail.isAssistOrder ? this.detail.assistUnitId + '' : null

        if (this.detail.isAssistOrder) {
          item.assistQty = this.count
        } else {
          item.qty = this.count
        }

        if (this.labelList2[0] || typeof this.labelList2[0] === 'number') {
          item.assistattrId = this.labelList2[0] + ''
        }

        params.list.push(item)
      } else { // 如果是组合商品
        params.list.push({
          isChoose: '1',
          ownerId: this.detail.ownerId,
          combItemId: this.$route.query.combItemId,
          entryType: '1',
          qty: this.count,
          customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
        })
        this.detail.combList.forEach(v => {
          let item = {
            ownerId: this.detail.ownerId,
            itemId: v.id,
            isChoose: '1',
            entryType: '2',
            combItemId: this.$route.query.combItemId,
            combItemEntryId: v.combEntryId,
            combBaseQty: v.baseQty,
            customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
          }

          item.unitId = v.saleUnit + ''
          item.assistUnitId = v.isAssistOrder ? v.assistUnit + '' : null

          if (v.isAssistOrder) {
            item.assistQty = v.baseQty * this.count
          } else {
            item.qty = v.baseQty * this.count
          }

          if (v.assistattrId && v.assistattrId !== ' ') item.assistattrId = v.assistattrId

          params.list.push(item)
        })
      }

      return params
    },
    // 加入购物车
    addCart () {
      if (this.token) {
        for (let i = 0; i < this.$refs.popup.attrIdArray.length; i++) {
          if (!this.$refs.popup.attrIdArray[i]) {
            let attrValue = this.detail.assistAttrArrayV2.attrValue
            this.$toast('请选择商品属性【' + attrValue[i].attrName + '】')
            return
          }
        }

        if (!this.validAddCart()) return

        let params = this.formatParams()

        this.addCartBtnLoading = true

        api.saveGoods(params).then(res => {
          this.addCartBtnLoading = false
          if (res.success) {
            this.$toast.success('加入购物车成功')

            let param = {
              page: 1,
              pageSize: 999,
              isGetCountOnly: 1,
              customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
            }
            if (this.$store.state.intoPage === 0 && getCookie('selectedChannel')) {
              param.owner = JSON.parse(getCookie('selectedChannel')).channelId
            } else if (this.$store.state.intoPage === 1 && this.$store.state.channel.currentChannel && this.$store.state.channel.currentChannel.channelId) {
              param.owner = this.$store.state.channel.currentChannel.channelId
            }
            api.queryCart(param).then(res => {
              if (res.success) {
                this.$store.dispatch('setShoppingCartCount', res.data.count)
              }
            })
          } else {
            res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
          }
        })
      } else {
        this.$toast('请先登录')
        this.$router.push({ path: '/loginRandom', query: { redirect: this.$route.fullPath } })
      }
    },
    // 去首页
    goIndex () {
      this.$router.push('/')
    },
    // 去店铺
    goShoppingCart () {
      this.$router.push('/shoppingCart')
    },
    // 查看全部评价
    checkAll () {
      this.$refs.navbar.active = 1
      this.toggleTab(1)
    },
    // 返回
    onClickLeft () {
      if (window.history.length > 1) {
        this.$router.go(-1)
      } else {
        this.$router.push('/')
      }
    },
    onClickRight (i) {
      if (i === 1) { // 购物车按钮
        this.$router.push({
          path: '/shoppingCart'
        })
      } else if (i === 2) { // "更多"下拉菜单
        this.showDropDownMenu = true
      }
    },
    // 切换tab
    toggleTab (index) {
      this.cacheScrollList[this.tabIndex] = document.querySelector(
        '#content'
      ).scrollTop

      if (index === 0) {
        this.tabIndex = index
        this.listenScroll()
      } else {
        this.removeScrollEvent()
        this.tabIndex = index
      }

      if (index === 1) {
        this.queryCmpResult(this.$route.query.id) // 获取综合评价项
      } else if (index === 2) {
        this.getFarmersList(this.$route.query.id) // 获取养户列表
      }

      this.$nextTick(() => {
        document.querySelector('#content').scrollTop = this.cacheScrollList[index] || 0
      })
    },
    // 修改重量范围
    changeWeightRange (selectedWR) {
      this.selectedWeightRange = selectedWR
    },
    // 修改数量
    changeCount (count) {
      this.count = count
    },
    // 修改规格
    changeLabel (names, labelList, store, isZero) {
      this.names = names
      this.labelList2 = labelList
      this.price = store.price
      this.stock = store.stock
      this.isZero = isZero
      let attrId = this.labelList2[0] && this.labelList2[0] !== '0' ? this.labelList2[0] : ''
      this.queryItemWeightRange(this.detail.ownerId, this.detail.id, attrId, this.detail.isAssistOrder ? this.detail.assistUnitId : this.detail.saleUnitId) // 获取商品重量范围

      setTimeout(() => {
        this.loadingToast && this.loadingToast.clear()
      }, 200)
    },
    // 修改商品属性
    changeLabelList (labelList) {
      this.labelList2 = labelList
    },
    // 选择优惠券
    changeCoupon (id) {
      this.couponId = id
    },
    // 选择配送地址
    changeLocation (address) {
      this.address = address
    },
    // 底部按钮
    btnClick (item) {
      if (this.showId === 'coupon' && item.name === '完成') {
        this.hideSku()
      } else if (this.showId === 'params' && item.name === '完成') {
        this.hideSku()
      } else if (this.showId === 'location' && item.name === '完成') {
        this.hideSku()
      } else if (this.showId === 'sku' && item.name === '加入购物车') {
        this.addCart()
      } else if (this.showId === 'sku' && item.name === '立即购买') {
        this.buyNow()
      }
    },
    // 弹出框
    showPopUp (id, title) {
      if (id === 'location') {
        this.$refs.popup.cacheAddress = this.address
      }

      this.showId = id
      this.up = true
      this.popUpTitle = title
    },
    // 隐藏弹出框
    hideSku () {
      this.up = false
    },
    // 滚动监听
    listenScroll () {
      let baseDistance = window.innerHeight / 2 // 透明度从0到1的距离

      this.$nextTick(() => {
        this.scrollStyle(baseDistance)

        // let h1 = (document.querySelector('#content').scrollHeight - window.innerHeight) / baseDistance;
        // setTimeout(() => {
        // }, 2000)

        // this.opacity = this.baseOpacity = h1 < 0 ? 0 : h1 > 1 ? 1 : h1;

        this.toBottomFlag = false

        document.querySelector('#content').onscroll = () => {
          this.scrollStyle(baseDistance)
        }
      })
    },
    // 滚动时的效果
    scrollStyle (baseDistance) {
      let scroller = document.querySelector('#content')
      let scrollTop = scroller.scrollTop
      let base = this.baseOpacity - scrollTop / baseDistance
      // let h2 = window.innerWidth - scrollTop;

      this.opacity = base < 0 ? 0 : base > this.baseOpacity ? this.baseOpacity : base

      if (scrollTop + scroller.offsetHeight + 1 >= scroller.scrollHeight) {
        if (!this.toBottomFlag) {
          document.addEventListener('touchstart', this.touchstart, false)
        }
      }
      // this.swipeScroll = -(window.innerWidth - (h2 < 0 ? 0 : h2 > window.innerWidth ? window.innerWidth : h2)) / 2;
      // this.$refs.swiper.style.height = (h2 < 0 ? 0 : h2 > window.innerWidth ? window.innerWidth : h2) + 'px';
    },

    touchstart (es) {
      this.toBottomFlag = true
      this.start = es.touches[0].clientY

      document.addEventListener('touchend', this.touchend, false)
      document.addEventListener('touchmove', this.touchmove, false)
    },

    touchmove (em) {
      let move = em.touches[0].clientY

      if (this.start - move > 10) {
        // this.$refs.navbar.active = 1
        // this.toggleTab(1)
        this.touchend()
      } else if (this.start - move < 0) {
        this.touchend()
      }
    },

    touchend () {
      document.removeEventListener('touchstart', this.touchstart, false)
      document.removeEventListener('touchmove', this.touchmove, false)
      document.removeEventListener('touchend', this.touchend, false)
      this.toBottomFlag = false
    },

    // 移除监听
    removeScrollEvent () {
      this.opacity = 0
      document.querySelector('#content').onscroll = null
    },

    // 监听轮播
    onChange (index) {
      this.current = index
    },

    // 收藏
    collect () {
      if (this.token) {
        if (!this.isCollect) {
          let params = {
            itemList: [{
              itemId: this.detail.id,
              itemType: this.$route.query.type,
              combItemId: this.$route.query.combItemId
            }]
          }

          api.commonCall(params, 'itemCollectAdd').then(res => {
            if (res.success) {
              this.isCollect = true
            } else {
              res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
            }
          })
        } else {
          let params = {
            itemIdList: [],
            combIdList: []
          }
          if (!(+this.$route.query.type === 1)) { // 如果是普通商品
            params.itemIdList.push(this.detail.id)
          } else { // 如果是组合商品
            params.combIdList.push(this.$route.query.combItemId)
          }
          api.commonCall(params, 'itemCollectDel').then(res => {
            if (res.success) {
              this.isCollect = false
            } else {
              res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
            }
          })
        }
      } else {
        this.$toast('请先登录')
        this.$router.push({ path: '/loginRandom', query: { redirect: this.$route.fullPath } })
      }
    },

    selectCoupon (id) {
      this.couponId = id
    },

    // 关注店铺
    concern () {
      if (this.token) {
        if (this.isConcern) {
          let params = {
            ownerIdList: [this.detail.ownerId]
          }

          this.$dialog.confirm({
            title: '提示',
            message: '确定要取消关注该店铺？'
          }).then(() => {
            api.commonCall(params, 'shopConcernDel').then(res => {
              if (res.success) {
                this.isConcern = false
              }
            })
          }).catch(() => {

          })
        } else {
          let params = {
            ownerId: this.shopInfo.id
          }

          api.commonCall(params, 'shopConcernAdd').then(res => {
            if (res.success) {
              this.isConcern = true
            }
          })
        }
      } else {
        this.$toast('请先登录')
        this.$router.push({ path: '/loginRandom', query: { redirect: this.$route.fullPath } })
      }
    },
    // 查询商品详情
    queryGoodsDetail (id) {
      const params = +this.$route.query.type === 1 ? { id: this.$route.query.combItemId, type: '1' } : { id, type: '0' }
      if (this.token) {
        // 新增商品浏览记录入参
        params.itemId = id
        params.sourceType = 'mobile' // 来源：mobile：移动端 ，pc：PC端
      }
      api.queryGoodsDetail(params).then(res => {
        if (res.success) {
          let findChannel = this.allChannel.find(o => o.channelId === res.data.ownerId)
          if (findChannel) {
            res.data.ownerType = findChannel.channelType
          } else {
            res.data.ownerType = ''
          }

          this.detail = res.data

          if (this.detail.combList) {
            // 将主品放置第一位
            for (let i = 0; i < this.detail.combList.length; i++) {
              if (+this.detail.combList[i].isMainProduct === 1) {
                let cacheMain = this.detail.combList[i]
                this.detail.combList.splice(i, 1)
                this.detail.combList.unshift(cacheMain)
                break
              }
            }

            this.detail.combList.forEach((v, i) => {
              this.$set(this.detail.combList[i], 'totalCount', v.baseQty)
            })
          }

          // 规格参数
          // this.detail.itemModelList.splice(
          //   this.detail.itemModelList.length,
          //   0,
          //   ...[
          //     {
          //       name: '品牌名称',
          //       value: this.detail.ownerName
          //     },
          //     {
          //       name: '商品名称',
          //       value: this.detail.name
          //     },
          //     {
          //       name: '商品编号',
          //       value: this.detail.number
          //     },
          //     {
          //       name: '店铺',
          //       value: this.detail.ownerName
          //     }
          //   ]
          // )
          // 规格参数
          let newList = []
          formatDataByGroup(this.detail.itemModelList, 'name').forEach(v => {
            v.value[0].size = v.value.length
            newList = newList.concat(v.value)
          })
          this.detail.itemModelList = newList

          this.customerInfo(res.data.ownerId) // 查询门店信息
          if (this.token) {
            // this.shopConcernState(res.data.ownerId) // 查询店铺是否已关注
            // this.goodsCollectState(res.data.id) // 查询商品是否已收藏
            this.queryShopAndItemHasState() // 查询店铺和商品是否已关注/已收藏
          }
          if (isWeiXin()) {
            // WX接口初始化
            this.initWX(['updateAppMessageShareData', 'updateTimelineShareData'], null, () => {
              const urlPrefix = window.location.protocol + '//' + window.location.host
              const url = urlPrefix + '/goodsDetails?id=' + this.$route.query.id + '&type=' + this.$route.query.type + '&combItemId=' + this.$route.query.combItemId
              this.WXShare(this.detail.itemTitle || this.detail.name, this.detail.remark, url, this.detail.pictureList && this.detail.pictureList[0] ? this.allImgDomainName + this.detail.pictureList[0] : urlPrefix + this.defaultProImg)
            }, null)
          }
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
          setTimeout(() => {
            this.loadingToast && this.loadingToast.clear()
          }, 200)
        }
      })
    },
    // 查询商品是否已收藏
    goodsCollectState (goodsId) {
      let params = {
        itemList: [{
          itemId: goodsId,
          itemType: this.$route.query.type,
          combItemId: this.$route.query.combItemId
        }]
      }
      api.commonCall(params, 'queryItemCollectState').then(res => {
        if (res.success) {
          if (res.data && res.data.itemList && res.data.itemList[0]) {
            this.isCollect = res.data.itemList[0].status
          }
        }
      })
    },
    // 查询店铺是否已关注
    shopConcernState () {
      let params = {
        ownerId: this.detail.ownerId
      }

      api.commonCall(params, 'queryShopConcernState').then(res => {
        if (res.success) {
          this.isConcern = res.data.status
        }
      })
    },
    // 查询店铺和商品是否已关注/已收藏
    queryShopAndItemHasState () {
      let params = {
        ownerId: this.detail.ownerId,
        itemList: [
          {
            itemId: this.$route.query.id,
            itemType: this.$route.query.type,
            combItemId: this.$route.query.combItemId
          }
        ]
      }

      api.commonCall(params, 'queryShopAndItemHasState').then(res => {
        if (res.success) {
          this.isConcern = res.data.shopHas
          this.isCollect = res.data.itemList[0].itemHas
        }
      })
    },
    // 查询门店信息
    customerInfo (id) {
      api.customerInfo({ id }).then(res => {
        if (res.success) {
          let findChannel = this.allChannel.find(o => o.channelId === res.data.id)
          if (findChannel) {
            res.data.type = findChannel.channelType
          } else {
            res.data.type = ''
          }

          this.shopInfo = res.data
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    selectLabel (type, param) {
      this.$refs.evaluate.loading = false
      this.$refs.evaluate.isLoading = false

      if (type === 'a') {
        this.changeEvaluateType(param)
      } else if (type === 'b') {
        this.changeTag([param])
      }
    },

    // 图片预览
    viewPic (index, picList) {
      let list = []
      // eslint-disable-next-line
      for (let [index, elem] of picList.entries()) {
        list.push(this.allImgDomainName + elem)
      }
      ImagePreview({
        images: list,
        startPosition: index
      })
    },
    // 图片预览
    viewPicDetail (index, picList) {
      this.bigImg = picList[index]
      this.viewPic(index, picList)
    },
    // 评论过滤
    changeEvaluateType (type) {
      this.evaluateType = type
      this.evaluateTagList = []
      this.evaluate.list.splice(0)

      this.pageNo = 1
      this.queryItemEvaluate() // 获取商品评价
    },
    // 选择评论标签
    changeTag (arr) {
      this.evaluateTagList = arr
      this.evaluateType = '1'
      this.evaluate.list.splice(0)

      this.pageNo = 1
      this.queryItemEvaluate() // 获取商品评价
    },
    // 商品评价
    queryItemEvaluate () {
      this.requestLoading = true
      const params = {
        itemId: this.$route.query.id,
        evaluateType: this.evaluateType,
        page: this.pageNo,
        pageSize: this.pageSize,
        labelList: this.evaluateTagList
      }

      api.queryItemEvaluate(params).then(res => {
        this.requestLoading = false
        if (res.success) {
          if (this.evaluate && this.evaluate.list) {
            this.$set(this.evaluate, 'list', this.evaluate.list.concat(res.data.list))
            this.$set(this.evaluate, 'totalNumber', res.data.count)
          } else {
            this.evaluate = res.data
          }

          this.$refs.evaluate.loading = false

          if (this.evaluate.list.length >= this.evaluate.totalNumber) {
            this.$refs.evaluate.finished = true
          }

          setTimeout(() => {
            this.$refs.evaluate.isLoading = false
          }, 100)
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
          this.$refs.evaluate.loading = false
          this.$refs.evaluate.finished = true

          setTimeout(() => {
            this.$refs.evaluate.isLoading = false
          }, 100)
        }
      })
    },
    // 综合评价
    queryCmpResult (itemId) {
      api.queryCmpResult({ itemId }).then(res => {
        if (res.success) {
          this.evaluateScore = res.data
        }
      })
    },
    // 重量范围
    queryItemWeightRange (ownerId, itemId, assistattrId, unitId) {
      let params = {
        ownerId,
        itemId,
        customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId,
        assistattrId,
        unitId
      }
      api.itemWeightRangeQuery(params).then(res => {
        if (res.success) {
          this.maxBuyQty = res.data.max_buy_qty || 0
          this.minBuyQty = res.data.min_buy_qty || 0
          this.dayMaxQty = res.data.dayMaxQty || 0
          this.limitFromItem = res.data.limitFromItem || false
          this.showStock = { show_stock: res.data.show_stock, cur_stock: res.data.cur_stock }
          this.specification = res.data.specification && res.data.specification.length
            ? res.data.specification[0]
            : this.specification
          this.weightRange = res.data.weight_range
            ? res.data.weight_range
            : this.weightRange
        }
      })
    },
    initSellDate () {
      let nowDay = new Date()
      let tomorrowDay = new Date(nowDay.getTime() + 24 * 60 * 60 * 1000)
      // let secondDay = new Date(nowDay.getTime() + 2 * 24 * 60 * 60 * 1000)
      // let thirdDay = new Date(nowDay.getTime() + 3 * 24 * 60 * 60 * 1000)
      let nowDate = nowDay.getFullYear() + '-' + zero(nowDay.getMonth() + 1) + '-' + zero(nowDay.getDate())
      let tomorrowDate = tomorrowDay.getFullYear() + '-' + zero(tomorrowDay.getMonth() + 1) + '-' + zero(tomorrowDay.getDate())
      // let secondDate = secondDay.getFullYear() + '-' + zero(secondDay.getMonth() + 1) + '-' + zero(secondDay.getDate())
      // let thirdDate = thirdDay.getFullYear() + '-' + zero(thirdDay.getMonth() + 1) + '-' + zero(thirdDay.getDate())

      let idx = sessionStorage.getItem('userInfo') && JSON.parse(sessionStorage.getItem('userInfo')).phone
      let deliveryDate = sessionStorage.getItem('deliveryDate') && JSON.parse(sessionStorage.getItem('deliveryDate'))
      if (idx && deliveryDate && deliveryDate[`${idx}__expires__${nowDate}`] && (new Date(deliveryDate[`${idx}__expires__${nowDate}`]) >= new Date(nowDate))) {
        this.sellDate = deliveryDate[`${idx}__expires__${nowDate}`]
      } else {
        this.sellDate = tomorrowDate

        if (!deliveryDate) {
          deliveryDate = {}
        }

        if (idx) {
          deliveryDate[`${idx}__expires__${nowDate}`] = tomorrowDate
        }

        sessionStorage.setItem('deliveryDate', JSON.stringify(deliveryDate))
      }
    },
    // 获取养户列表
    getFarmersList (id) {
      api.commonCall({ itemId: id, ownerId: this.detail.ownerId }, 'famersListByItemId').then(res => {
        if (res.success) {
          this.farmersList = res.data.famers
          this.materialId = res.data.materialId
        }
      })
    },
    // 查看质检情况
    openPicturePopup () {
      if (!this.detail.id || !this.detail.ownerId) return

      if (this.qualityTestingPicList && this.qualityTestingPicList.length) {
        this.showPicturePopup = true
        return
      }

      api.commonCall({ storeId: this.detail.ownerId, itemId: this.detail.id }, 'queryQualityPhotos').then(res => {
        if (res.success) {
          if (res.data && res.data.photoList && res.data.photoList.length) {
            this.qualityTestingPicList.splice(0, this.qualityTestingPicList.length, ...res.data.photoList)
            this.showPicturePopup = true
          } else {
            this.$toast('暂无数据')
          }
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    closePicturePopup () {
      this.showPicturePopup = false
    },
    // 分享商品到微信
    onGoodsShare () {
      if (!isWeiXin()) {
        this.$toast('请用微信浏览器打开，进行分享')
        return
      }
      this.guideShare = true
    }
  },
  beforeDestroy () {
    this.loadingToast && this.loadingToast.value && this.loadingToast.clear()
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.goods-details {
  background: #F2F1F1;

  .translate {
    display: block;
    transform: translateY(1px);
  }

  .format-img {
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  // .head {
  //   @{deep}.van-nav-bar {
  //     background: #E60012;
  //     &__title {
  //       font-size: 38px;
  //       color: #FFFFFF;
  //     }
  //     &__left {
  //       .van-nav-bar__arrow {
  //         color: #FFFFFF !important;
  //       }
  //     }
  //   }
  // }

  .navbar1 {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    @{deep} .van-nav-bar {
      height: 96px;
      line-height: 96px;
      background: none;
      &:after {
        border: 0;
      }
      .van-nav-bar__left {
        padding: 0 16px;
        .van-icon {
          color: white !important;
          width: 64px;
          height: 64px;
          line-height: 64px;
          border-radius: 50%;
          background-color: rgba(0, 0, 0, 0.5);
        }
      }
      .van-nav-bar__right {
        padding: 0 16px;
        .van-ver-menu2,
        .van-shopcart2 {
          display: inline-block;
          width: 64px;
          height: 64px;
          border-radius: 50%;
          background-color: rgba(0, 0, 0, 0.5);
          background-repeat: no-repeat;
          background-position: center;
          background-size: 48px 48px;
          vertical-align: middle;
        }
        .van-ver-menu2 {
          .bg-img("~@/assets/images/icon/icon-ver-menu");
        }
        .van-shopcart2 {
          .bg-img("~@/assets/images/icon/icon-shopcart");
          margin-right: 16px;
          position: relative;
          i {
            position: absolute;
            top: 0;
            left: 56px;
            background: white;
            border: 1px solid red;
            color: red;
            font-size: 20px;
            height: 20px;
            line-height: 24px;
            border-radius: 20px;
            padding: 0 6px;
            transform: translate(-50%);
          }
        }
      }
    }
  }

  > .content {
    -webkit-overflow-scrolling: touch;
    // perspective: 1px;
    // transform-style: preserve-3d;
    // min-height: calc(100vh - 100px);
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;

    &.van-padding-bottom {
      padding-bottom: 100px;
    }

    .list {
      margin-top: 20px;
      font-size: 26px;
      color: #2e3033;
      .item {
        display: flex;
        align-items: center;
        background: white;
        padding: 18px 28px;
        &:not(:last-child) {
          .border-1px(#E5E5E5);
        }
        .title {
          color: #333333;
          width: 120px;
          flex: 0 0 120px;
        }
        .content {
          flex: 1;
          color: #666666;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          &.line-feed {
            overflow: visible;
            white-space: normal;
          }
          &.deliver {
            display: flex;
            align-items: center;
          }
          &.quality {
            .btn {
              padding: 0 3px;
              color: #FF0000;
              border: 1px solid #FF0000;
              border-radius: 8px;
            }
          }
          .icon {
            display: inline-block;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position: center;
            &.location {
              width: 22px;
              height: 26px;
              margin-right: 8px;
              .bg-img("~@/assets/images/new-version/goods-details/location");
            }
          }
        }
        .arrow {
          width: 90px;
          flex: 0 0 90px;
          color: #666666;
          font-size: 22px;
          text-align: right;
        }
        .right {
          width: 200px;
          flex: 0 0 200px;
          color: #999999;
          font-size: 24px;
          text-align: right;
        }
      }
    }

    .active {
      position: relative;
      overflow: hidden;
      transform: rotate(0deg);

      &:active {
        &:after {
          content: " ";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: rgba(0, 0, 0, 0.08);
        }
      }
    }

    .swiper-container {
      // transform: scale(2) translate3d(0, calc(-100vh / 8), -1px);
      overflow: hidden;
      position: relative;
      height: calc(100vh / 2);
      // height: 1750px;
      // z-index: 0;

      .my-video {
        z-index: 99;
      }

      .format-img {
        height: calc(100vh / 2);
        background-size: 100% 100%;
        // height: 1750px;
      }

      // .swiper {
      //   overflow: hidden;
      //   position: absolute;
      //   bottom: 0;
      //   left: 0;
      //   width: 100%;

      @{deep} .van-swipe {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
      }
      // }

      .custom-indicator {
        position: absolute;
        right: 28px;
        bottom: 32px;
        width: 64px;
        height: 64px;
        line-height: 64px;
        border-radius: 50%;
        font-size: 26px;
        text-align: center;
        color: #333333;
        background: #fff;
      }
    }

    .big-img {
      background: white;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
      display: flex;
      align-items: center;

      > img {
        display: block;
        width: 100%;
      }
    }

    .under-the-swipe {
      background: white;
      // padding-bottom: 40px;

      .title {
        line-height: 48px;
        color: #333333;
        font-size: 42px;
        font-weight: bold;
      }
      .remark {
        font-size: 24px;
        line-height: 30px;
        color: #999;
      }

      .policyResults {
        margin: 0;
        padding: 0;
        .item {
          width: 100%;
          padding-bottom: 0;
          .title {
            font-size: 26px;
            align-self: stretch;
          }
          .content {
            color: #E33240;
            overflow: visible;
            white-space: normal;
          }
        }
      }

      > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;
        color: #2e3033;

        &.avg-weight {
          padding: 20px 0;
          .left {
            margin-left: 28px;
            span {
              color: #666666;
              font-size: 28px;
              &.label-text {
                height: 32px;
                line-height: 32px;
                padding: 4px 14px;
                margin-right: 10px;
                background: #A6A6A6;
                border-radius: 16px;
                color: #FFFFFF;
                font-size: 26px;
              }
            }
          }
          .right {
            margin-right: 30px;
            span {
              color: #999999;
              font-size: 24px;
              &:nth-child(2) {
                font-size: 26px;
              }
            }
          }
        }

        .price-stuff {
          margin-left: 28px;
          display: flex;
          align-items: center;
          .icon-today-price {
            display: inline-block;
            // vertical-align: middle;
            width: 40px;
            height: 40px;
            margin-right: 22px;
            background-position: center;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            .bg-img('~@/assets/images/new-version/goods-details/todayPrice');
          }
          > div {
            display: inline-block;
            // vertical-align: middle;
            font-size: 28px;
            color: #E60012;
            font-weight: bold;
            span:not(.small) {
              font-size: 44px;
            }
            span {
              &.expect {
                font-size: 38px;
              }
              &.unit {
                font-size: 32px;
              }
            }
          }
          s {
            color: rgba(142, 147, 154, 1);
            font-size: 24px;
          }
        }

        .share {
          margin-right: 28px;

          i {
            width: 44px;
            display: block;

            img {
              display: block;
              width: 100%;
              height: auto;
            }
          }

          span {
            font-size: 20px;
          }
        }
      }

      p {
        font-size: 28px;
        padding: 0 30px;
        span {
          display: inline-block;
          float: right;
          height: 40px;
          line-height: 40px;
          // width: 100%;
          color: #E33240;
          font-size: 30px;
          text-align: right;
        }
        &.err-text {
          overflow: hidden;
        }
      }
    }

    .content-2-floor {
      .coupon {
        > span {
          vertical-align: top;
          line-height: 38px;
          background: url("~@/assets/images/goods-details/coupon@2x.png") no-repeat center center;
          background-size: contain;
          display: inline-block;
          font-size: 20px;
          color: #ff5d13;
          width: 146px;
          text-align: center;
        }
      }
    }

    .evaluate-list {
      margin-top: 20px;
      background: white;
      padding: 18px 28px;
      color: #333333;

      .title {
        border-left: 4px solid #e33240;
        padding-left: 14px;
        line-height: 100%;
      }

      ul {
        li {
          padding: 30px 0;

          &:not(:last-child) {
            .border-1px(#e8e9eb);
          }

          > div {
            &:first-child {
              display: flex;
              align-items: center;
              line-height: 100%;

              > span {
                display: block;
                font-size: 26px;

                &.default {
                  .bg-img("~@/assets/images/default_profile");
                }

                &:first-child {
                  width: 75px;
                  height: 75px;
                  border-radius: 50%;
                  margin-right: 20px;
                }
              }
            }

            &:nth-child(2) {
              padding-top: 20px;
              font-size: 26px;
            }

            &:nth-child(3) {
              padding-top: 20px;
              font-size: 24px;
              color: #8e939a;
            }
          }
        }
      }

      .allEvaluate {
        padding: 50px 0;

        div {
          margin: auto;
          width: 260px;
          height: 64px;
          border-radius: 40px;
          border: 2px solid;
          color: rgb(227, 50, 64);
          font-size: 26px;
          letter-spacing: 2px;
          line-height: 64px;
          text-align: center;
        }
      }
    }

    .shop-info {
      padding: 0 28px;
      margin-top: 20px;
      background: white;
      color: #2e3033;

      .shop-title {
        display: flex;
        align-items: center;
        padding: 30px 0;

        > div {
          &:first-child {
            width: 92px;
            height: 92px;
            border: 1px solid #eee;
          }

          &:last-child {
            font-size: 30px;
            padding-left: 30px;
            .van-tag {
              height: 32px;
              padding: 2px 6px;
            }
          }
        }
      }

      .shop-label {
        overflow: hidden;

        > div {
          float: left;
          box-sizing: border-box;
          width: 33.3333%;
          padding: 0.6em 0;

          &:not(:nth-child(3n)) {
            .border-vertical-1px(#e8e9eb);
          }

          span {
            display: block;
            text-align: center;

            &:last-child {
              color: #8e939a;
            }
          }
        }
      }

      .shop-btn {
        display: flex;
        justify-content: center;
        padding: 50px;

        > div {
          margin: 0 10px;
          width: 220px;
          height: 64px;
          border-radius: 35px;
          text-align: center;
          font-size: 26px;

          &:first-child {
            background: linear-gradient(
              90deg,
              rgba(255, 107, 82, 1) 0%,
              rgba(227, 50, 64, 1) 100%
            );
            line-height: 64px;
            color: white;
          }

          &:last-child {
            background: rgba(255, 255, 255, 1);
            border: 2px solid;
            color: rgb(227, 50, 64);
            box-sizing: border-box;
            line-height: 62px;
          }
        }
      }
    }

    .check-details {
      margin-top: 20px;
      height: 96px;
      color: #5e6166;
      text-align: center;
      font-size: 28px;
      background: white;
      line-height: 96px;

      i {
        font-size: 20px;
        transform: rotate(-90deg);
      }

      > span {
        letter-spacing: 1px;
        margin-left: 20px;
      }
    }

    // .img-details {
    //   display: block;
    //   width: 100%;

    //   &.van-padding-top {
    //     padding-top: 96px;
    //   }
    // }
    .cover-img {
      margin-top: 20px;
      width: 100%;
      height: 236px;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center;
      .bg-img("~@/assets/images/new-version/goods-details/coverImg");
    }

    @{deep}.van-divider {
      color: #333333;
      &::after, &::before {
        border-color: #CCCCCC;
      }
    }

    .product-introduce {
      @{deep} * {
        max-width: 100% !important;
        img {
          display: block;
        }
      }

      &.van-padding-top {
        padding-top: 96px;
      }
    }
  }

  .van-footer {
    height: 100%;
    @{deep} .van-goods-action {
      height: 88px;
      background: white;
      box-shadow: 0px -5px 6px -5px #E0E0E0;
      z-index: 1;
    }
    @{deep} .van-goods-action-icon {
      color: #999999;
      .van-home,
      .van-shoppingcart,
      .van-collect,
      .van-collected {
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
      }
      .van-home {
        width: 54px;
        height: 36px;
        .bg-img("~@/assets/images/new-version/goods-details/home");
      }
      .van-shoppingcart {
        width: 38px;
        height: 32px;
        .bg-img("~@/assets/images/new-version/goods-details/shoppingcart");
      }
      .van-collect {
        width: 34px;
        height: 34px;
        .bg-img("~@/assets/images/new-version/goods-details/collect");
      }
      .van-collected {
        width: 34px;
        height: 34px;
        .bg-img("~@/assets/images/new-version/goods-details/collected");
      }
    }

    @{deep} .van-addShop {
      height: 62px;
      color: #fff;
      background: linear-gradient(
        90deg,
        rgba(255, 193, 56, 1) 0%,
        rgba(255, 162, 0, 1) 100%
      );
      position: relative;
    }

    @{deep} .van-buyNow {
      height: 62px;
      color: #fff;
      background: linear-gradient(
        90deg,
        rgba(255, 107, 82, 1) 0%,
        rgba(227, 50, 64, 1) 100%
      );
    }
  }

  .begin-video-box {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 0 30px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 24px;
    color: #3985ff;
    background: rgba(255, 255, 255, 0.8);
    z-index: 10;
    &.van-bottom {
      bottom: 20px;
    }
    &:before {
      background: url("~@/assets/images/video/play.png") no-repeat 0;
      background-size: 30px 30px;
      content: "";
      position: relative;
      display: inline-block;
      vertical-align: middle;
      margin-top: -2px;
      margin-right: 5px;
      width: 31px;
      height: 31px;
    }
    &:after {
      border-radius: 50px;
      border-color: #3b8afb;
    }
    &:hover {
      background: rgba(255, 255, 255, 0.8);
    }
  }

  .guideShare-wrap {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 102;
    .arrows-img {
      width: 340px;
      position: absolute;
      right: 20px;
      top: 10px;
    }
    p {
      font-size: 36px;
      color: #fff;
      margin-top: 350px;
      text-align: center;
    }
  }
}
</style>
