<template>
  <div class="my-video-box">
    <van-nav-bar left-arrow @click-left="onClickLeft"></van-nav-bar>
    <div class="van-video-content">
      <my-video
        ref="myVideo"
        :type="'endHide'"
        :options="videoOpt"
        :url="videoUrl ? videoUrl : ''"
        @playing="playing($refs.myVideo)"
        @hideVideo="hideVideo"
        @ready="toggleReady"
      ></my-video>
    </div>
  </div>
</template>

<script>
import MyVideo from '@/components/my-video/my-video'
import { allImgDomainNameMixin } from '@/assets/js/mixin'

export default {
  name: 'video-page',
  mixins: [allImgDomainNameMixin],
  data () {
    return {
      videoOpt: {
        controls: true,
        width: window.innerWidth,
        height: window.innerHeight - 46,
        preload: 'auto',
        autoplay: true,
        language: 'zh-CN'
      },
      oldPlayingVideo: null,
      videoUrl: ''
    }
  },
  created () {
    this.videoUrl = this.$route.query.path
    this.playVideo()
  },
  methods: {
    // 返回上一页
    onClickLeft () {
      let { id, type, combItemId } = this.$route.query
      this.$router.replace({
        name: 'goodsDetails',
        query: {
          id,
          type,
          combItemId
        },
        params: {
          keepaLiveFlag: true
        }
      })
    },
    playing (video) {
      if (video === this.oldPlayingVideo) {
        return
      } else if (this.oldPlayingVideo && this.oldPlayingVideo.playing) {
        this.oldPlayingVideo.pause()
      }

      this.oldPlayingVideo = video
    },
    toggleReady (bool) {
      // this.isReady = bool;
    },
    // 播放视频
    playVideo () {
      this.$nextTick(() => {
        this.$refs.myVideo.playVideo()
      })
    },
    pause () {
      this.$refs.myVideo.pause()
      this.$emit('pause')
    },
    // 隐藏视频弹窗
    hideVideo () {
      // this.isShowVideo = false;
      // this.isReady = false;
    }
  },
  beforeRouteUpdate (to, from, next) {
    // next()
  },
  components: {
    MyVideo
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.my-video-box {
  position: relative;
  width: 100%;
  height: calc(100vh);
  background: black;

  @{deep}.van-nav-bar {
    background: black;

    .van-icon {
      color: rgba(255, 255, 255, .8) !important;
    }
  }

  @{deep}.van-hairline--bottom::after {
    border: 0;
  }

  .van-video-content {
    height: calc(100% - 92px);
  }
}
</style>
