<template>
  <div class="my-video-box">
    <my-video
      ref="myVideoRef"
      v-show="isReady"
      :type="'endHide'"
      :options="videoOpt"
      :url="videoUrl ? videoUrl : ''"
      @playing="playing($refs.myVideoRef)"
      @hideVideo="hideVideo"
      @ready="toggleReady"
    ></my-video>

    <div class="van-bottom back-button">
      <span @click.stop="pause">退出播放</span>
    </div>
  </div>
</template>

<script>
import MyVideo from '@/components/my-video/my-video'
import { allImgDomainNameMixin } from '@/assets/js/mixin'

export default {
  mixins: [allImgDomainNameMixin],
  data () {
    return {
      videoOpt: {
        controls: true,
        width: window.innerWidth,
        height: window.innerHeight / 2 - 50,
        preload: 'none',
        language: 'zh-CN'
      },
      oldPlayingVideo: null,
      isReady: false
    }
  },
  props: {
    videoUrl: {
      default: ''
    }
  },
  created () {},
  methods: {
    playing (video) {
      if (video === this.oldPlayingVideo) {
        return
      } else if (this.oldPlayingVideo && this.oldPlayingVideo.playing) {
        this.oldPlayingVideo.pause()
      }

      this.oldPlayingVideo = video
    },
    toggleReady (bool) {
      this.isReady = bool
    },
    pause () {
      this.$refs.myVideoRef.pause()
      this.$emit('pause')
    },
    // 隐藏视频弹窗
    hideVideo () {
      this.isReady = false
    }
  },
  components: {
    MyVideo
  }
}
</script>

<style lang="less" scoped>
  .my-video-box {
    position: relative;
    width: 100%;
    height: calc(100vh / 2);
    background: black;

    .back-button {
      position: absolute;
      left: 0;
      width: 100%;
      font-size: 20px;
      text-align: center;
      z-index: 99;

      &.van-bottom {
        bottom: 12px;
      }

      span {
        display: inline-block;
        padding: 2px 25px;
        border-radius: 100px;
        background: rgba(255, 255, 255, .8);
      }
    }
  }
</style>
