<template>
  <div class="goods-item-vertical" @click="goGroupBuyingDetails(data.itemId, data.id)">
    <div class="item-content-img">
      <img v-lazy="allImgDomainName + data.itemThumbnail" alt :key="data.itemThumbnail">
    </div>
    <div class="item-content-option">
      <div class="option-title">
        <p>{{data.itemName}}</p>
      </div>
      <div class="group-price">
        <h6>拼团价：</h6>
        <p><span>{{data.price | keepTwoNum}}</span>元/{{data.saleUnitName}}</p>
      </div>
      <div class="retail-price">
        <p>零售价：</p>
        <p><span>{{data.itemPrice | keepTwoNum}}</span>元/{{data.saleUnitName}}</p>
      </div>
      <div class="residue-number">
        <p>剩余数量：{{data.sumNumber - data.saleNumber}}{{data.assistUnitName}}</p>
      </div>
      <div class="already-spell">
        <div class="left">
          <span>已拼：{{data.saleNumber}}{{data.assistUnitName}}</span>
        </div>
        <div class="right">
          <div class="already-spell-portrait">
            <div class="portrait one" v-if="data.userPics.split(',')[0]">
              <img v-lazy="{ src: allImgDomainName + data.userPics.split(',')[0], error: defaultHeadIcon }">
            </div>
            <div class="portrait two" v-if="data.userPics.split(',')[1]">
              <img v-lazy="{ src: allImgDomainName + data.userPics.split(',')[1], error: defaultHeadIcon }">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { allImgDomainNameMixin } from '@/assets/js/mixin'

export default {
  name: 'goods-item-vertical',
  mixins: [allImgDomainNameMixin],
  props: {
    data: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      defaultHeadIcon: require('@/assets/images/default_profile@2x.png') // 默认头像
    }
  },
  created () {},
  methods: {
    goGroupBuyingDetails (itemId, id) {
      this.$router.push({
        path: '/groupBuyingDetails',
        query: {
          groupId: id, // 团购id
          id: itemId // 商品id
        }
      })
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.goods-item-vertical {
  width: 100%;
  height: 280px;
  background-color: #fff;
  box-sizing: border-box;
  padding: 0 24px;
  display: flex;
  align-items: center;
  .item-content-img{
    width: 260px;
    height: 260px;
    flex: 0 0 260px;
    position: relative;
    overflow: hidden;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .item-content-option{
    height: 100%;
    width: calc(100% - 24px - 260px);
    flex: 1;
    margin-left: 24px;
    position: relative;
    .border-1px();
    .option-title{
      width: 100%;
      overflow: hidden;
      p{
        font-weight: bold;
        font-size: 32px;
        color: #434349;
        margin-top: 20px;
      }
    }
    .group-price{
      width: 100%;
      overflow: hidden;
      h6{
        float: left;
        font-size: 24px;
        color: #434349;
        margin-top: 11px;
      }
      p{
        float: left;
        color: #E51C23;
        font-size: 24px;
        font-weight: 600;
        margin-top: 6px;
        span{
          font-size: 36px;
          font-family: 'AvenirLTStd-Black';
          margin-top: 2px;
          font-weight: 600;
          margin-left: 3px;
          margin-right: 3px;
        }
      }
    }
    .retail-price,
    .residue-number{
      width: 100%;
      overflow: hidden;
      p{
        float: left;
        color: #A9ABAF;
        font-size: 24px;
      }
      span{
        color: #A9ABAF;
        font-size: 24px;
        font-family: 'AvenirLTStd-Black';
        text-decoration: line-through;
      }
    }
    .already-spell{
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      padding: 16px 0;
      display: flex;
      justify-content: space-between;
      .left {
        flex: 2;
        span {
          height: 50px;
          line-height: 50px;
          color: #A9ABAF;
          font-size: 24px;
        }
      }
      .right {
        flex: 3;
        .already-spell-portrait{
          width: 150px;
          height: 50px;
          float: right;
          position: relative;
          .portrait{
            width: 40px;
            height: 40px;
            position: absolute;
            border-radius: 30px;
            border: 2px solid #FFFFFF;
            img{
              width: 40px;
              height: 40px;
            }
            &.one {
              left: 50px;
            }
            &.two {
              left: 80px;
            }
          }
        }
      }
    }
  }
}
</style>
