<template>
  <div class="special-sale-record">
    <van-nav-bar title="特销记录" left-arrow @click-left="onClickLeft">
      <span slot="right" class="screen-btn" @click="showScreen = !showScreen"></span>
    </van-nav-bar>

    <!-- 筛选内容 -->
    <div class="screen-wrap" v-if="showScreen">
      <div class="screen-item">
        <span>商品名称:</span>
        <div class="input-wrap">
          <van-field
            v-model="itemName"
            type="text"
            clearable
            placeholder="请输入商品名称"
          />
        </div>
      </div>
      <div class="screen-item">
        <span>日期:</span>
        <div class="input-wrap date">
          <input v-model="startDate" type="text" readonly placeholder="请选择开始日期" @click="_startSelect" />
          <van-icon v-if="startDate" name="clear" @click.stop.prevent="onEmpty('startDate')"></van-icon>
        </div>
        <span class="link">--</span>
        <div class="input-wrap date">
          <input v-model="endDate" type="text" readonly placeholder="请选择结束日期" @click="_endSelect" />
          <van-icon v-if="endDate" name="clear" @click.stop.prevent="onEmpty('endDate')"></van-icon>
        </div>
      </div>
      <div class="screen-item">
        <span class="cancel" @click="_clear">清空</span>
        <span class="check" @click="_search">查找</span>
      </div>
    </div>

    <van-pull-refresh v-model="isLoading" @refresh="onRefresh">
      <van-list v-model="loading" :finished="finished" @load="onLoad" :offset="200" finished-text="没有更多了" v-if="recordList && recordList.length">
        <div class="record-list" v-for="(item, index) in recordList" :key="'record-list-' + index">
          <div class="list-top">
            <div class="list-top-left">
              <div class="list-top-line"></div>
              <p>{{item.saleNumber}}</p>
            </div>
            <div class="list-top-right">
              <span>{{item.createDate}}</span>
            </div>
          </div>
          <div class="list-content">
            <div class="list-content-img">
              <img v-lazy="allImgDomainName + item.itemThumbnail" alt :key="item.itemThumbnail">
            </div>
            <div class="list-content-right">
              <div class="list-title">
                <p>{{item.itemName}}</p>
                <div class="tag" :class="statusTextColor(item.billStatus)" v-if="item.billStatus">
                  <span>{{statusText(item.billStatus)}}</span>
                </div>
              </div>
              <div class="list-data">
                <div>
                  <p>出价：</p>
                  <span class="red">{{item.price | keepTwoNum}}元/{{item.saleUnitName}}</span>
                </div>
                <div>
                  <p>组织：</p>
                  <span>{{item.customerName}}</span>
                </div>
              </div>
              <div class="list-data">
                <div>
                  <p>售价：</p>
                  <span>{{item.salePrice | keepTwoNum}}元/{{item.saleUnitName}}</span>
                </div>
                <div>
                  <p>数量：</p>
                  <span>{{item.startQty}}{{item.isAssistOrder ? item.assistUnitName : item.saleUnitName}}</span>
                </div>
              </div>
              <div class="list-data">
                <div>
                  <p>均重：</p>
                  <span>{{item.avgQty}}{{item.saleUnitName}}</span>
                </div>
                <div>
                  <p>下单：</p>
                  <span>{{item.qty}}{{item.isAssistOrder ? item.assistUnitName : item.saleUnitName}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="list-bottom" v-if="item.orderNumber" @click="toOrder(item)">
            <span>我的订单：{{item.orderNumber}}</span>
            <van-icon name="arrow" />
          </div>
        </div>
      </van-list>
      <div class="no-data-box" v-else>
        <no-data :loading="requestLoading"></no-data>
      </div>
    </van-pull-refresh>

    <!-- 日期选择 -->
    <van-popup v-model="startShow" position="bottom" :style="{ height: '40%' }">
      <van-datetime-picker
        v-model="startTime"
        type="date"
        title="选择开始日期"
        :max-date="maxStartDate"
        @cancel="startShow = false"
        @confirm="onStartDateConfirm"
      />
    </van-popup>
    <van-popup v-model="endShow" position="bottom" :style="{ height: '40%' }">
      <van-datetime-picker
        v-model="endTime"
        type="date"
        title="选择结束日期"
        show-toolbar
        :min-date="minEndDate"
        @cancel="endShow = false"
        @confirm="onEndDateConfirm"
      />
    </van-popup>

    <!-- 悬浮置顶按钮 -->
    <scroll-to-top-hover-btn></scroll-to-top-hover-btn>
  </div>
</template>

<script>
import ScrollToTopHoverBtn from '@/components/scroll-to-top-hover-btn/index'
import NoData from '@/components/no-data'
import { api } from '@/api'
import { allImgDomainNameMixin } from '@/assets/js/mixin'
import { zero } from '@/utils/common'

export default {
  name: 'special-sale-record',
  mixins: [allImgDomainNameMixin],
  components: {
    ScrollToTopHoverBtn,
    NoData
  },
  data () {
    return {
      showScreen: false, // 筛选显示
      itemName: null, // 公司名称
      startDate: null, // 开始日期
      endDate: null, // 结束日期
      startShow: false, // 开始日期选择器显示
      endShow: false, // 结束日期选择器显示
      startTime: new Date(), // 当前选中开始日期
      endTime: new Date(), // 当前选中结束日期
      recordList: [], // 记录列表
      // 上拉加载及下拉刷新
      page: {
        index: 1,
        size: 6,
        total: 0
      },
      cacheList: [], // 缓存列表
      loading: false, // 控制上拉加载的加载动画
      finished: false, // 控制在页面往下移动到底部时是否调用接口获取数据
      isLoading: false, // 控制下拉刷新的加载动画
      requestLoading: false // 接口请求加载动画
    }
  },
  computed: {
    maxStartDate () {
      const currentYear = new Date().getFullYear()
      return this.endDate ? new Date(this.endDate.replace(/-/g, '/')) : new Date(currentYear + 10, 11, 31)
    },
    minEndDate () {
      const currentYear = new Date().getFullYear()
      return this.startDate ? new Date(this.startDate.replace(/-/g, '/')) : new Date(currentYear - 10, 0, 1)
    }
  },
  watch: {
    $route () {
      let query = this.$route.query
      this.itemName = query.itemName || null
      this.startDate = query.startDate || null
      this.endDate = query.endDate || null
      this.page.index = 1
      this.cacheList = []
      this.recordList = []
      this.getSpecialSaleRecordList()
    }
  },
  created () {
    let query = this.$route.query
    this.itemName = query.itemName || null
    this.startDate = query.startDate || null
    this.endDate = query.endDate || null
    this.page.index = 1
    this.cacheList = []
    this.recordList = []
    this.getSpecialSaleRecordList()
  },
  methods: {
    statusText (status) {
      switch (status) {
        case 'A':
          return '未成单'
        case 'B':
          return '已下单'
        case 'C':
          return '已成单'
        default:
          return ''
      }
    },
    statusTextColor (status) {
      switch (status) {
        case 'A':
          return 'gray'
        case 'B':
          return 'orange'
        case 'C':
          return 'green'
        default:
          return ''
      }
    },
    onClickLeft () {
      this.$router.go(-1)
    },
    // 下拉刷新
    onRefresh () {
      this.page.index = 1
      this.cacheList = []
      this.getSpecialSaleRecordList()
    },
    // 上拉加载
    onLoad () {
      this.page.index++
      this.getSpecialSaleRecordList()
    },
    getSpecialSaleRecordList () {
      this.requestLoading = true
      let params = {
        page: this.page.index,
        pageSize: this.page.size,
        itemName: this.itemName, // 商品名称
        beginDate: this.startDate, // 开始时间
        endDate: this.endDate // 结束时间
      }
      api.commonCall(params, 'searchSaleRecordList').then(res => {
        this.requestLoading = false
        if (res.success) {
          this.cacheList = this.cacheList.concat(res.data.list)
          this.recordList.splice(0, this.recordList.length, ...this.cacheList)
          this.page.total = res.data.count
          this.finished = false
          this.loading = false
          if (this.cacheList.length >= this.page.total) {
            this.finished = true
          }

          setTimeout(() => {
            this.isLoading = false
          }, 100)
        } else {
          res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    _toDetail (item) {
      this.$router.push({
        path: '',
        query: {

        }
      })
    },
    _startSelect () {
      this.startShow = true
      this.startTime = this.startDate ? new Date(this.startDate.replace(/-/g, '/')) : new Date()
    },
    _endSelect () {
      this.endShow = true
      this.endTime = this.endDate ? new Date(this.endDate.replace(/-/g, '/')) : new Date()
    },
    onStartDateConfirm () {
      if (this.endDate && this.startTime > new Date(this.endDate.replace(/-/g, '/'))) {
        this.$toast('不能大于结束时间')
      } else {
        this.startDate = this.formatDate(this.startTime)
        this.startShow = false
      }
    },
    onEndDateConfirm () {
      if (this.startDate && this.endTime < new Date(this.startDate.replace(/-/g, '/'))) {
        this.$toast('不能小于开始时间')
      } else {
        this.endDate = this.formatDate(this.endTime)
        this.endShow = false
      }
    },
    // 格式化日期
    formatDate (date) {
      let _date = date || new Date()
      return `${_date.getFullYear()}-${zero(_date.getMonth() + 1)}-${zero(_date.getDate())}`
    },
    onEmpty (item) {
      if (item === 'startDate') {
        this.startDate = null
      } else if (item === 'endDate') {
        this.endDate = null
      }
    },
    _search () {
      this.showScreen = false
      this.page.index = 1

      this.$router.replace({
        path: '/specialSaleRecord',
        query: {
          itemName: this.itemName,
          startDate: this.startDate,
          endDate: this.endDate
        }
      })
    },
    _clear () {
      this.showScreen = false
      this.itemName = null
      this.startDate = null
      this.endDate = null
      this.page.index = 1

      this.$router.replace({
        path: '/specialSaleRecord'
      })
    },
    toOrder (item) {
      this.$router.push({
        path: '/orderDetail',
        query: {
          orderId: item.orderId
        }
      })
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.special-sale-record{
  width: 100%;
  min-height: 100vh;
  background-color: #F8F8F8;
  @{deep}.van-nav-bar {
    .van-nav-bar__right {
      .screen-btn{
        display: block;
        width: 48px;
        height: 42px;
        background: url("~@/assets/images/index-2/screening-icon.svg") no-repeat center;
        background-size: 48px 42px;
      }
    }
  }
  .screen-wrap{
    width: 100%;
    background: white;
    box-sizing: border-box;
    padding: 20px 44px 0 32px;
    font-size: 0;
    .screen-item{
      font-size: 0;
      padding-top: 5px;
      padding-bottom: 20px;
      span{
        display: inline-block;
        vertical-align: top;
        width: 20%;
        font-size: 28px;
        font-family: PingFangSC-Medium, PingFang SC;
        color: #434349;
        line-height: 54px;
        &.link {
          width: 10%;
          font-size: 36px;
          text-align: center;
        }
        &.check, &.cancel {
          width: 330px;
            height: 80px;
            line-height: 80px;
            font-size: 32px;
            border-radius: 16px;
            color: #FFFFFF;
            box-sizing: border-box;
            text-align: center;
            &:active {
              opacity: 0.9;
            }
        }
        &.check {
          margin-left: 14px;
          background-color: #F59900;
        }
        &.cancel {
          background-color: #A9ABAF;
        }
      }
      .input-wrap{
        display: inline-block;
        width: 80%;
        height: 54px;
        border: 1px solid #979797;
        border-radius: 4px;
        box-sizing: border-box;
        position: relative;
        &.date{
          width: 35%;
          position: relative;
          @{deep}.van-icon-clear{
            position: absolute;
            right: 0;
            height: 50px;
            line-height: 50px;
            padding: 0 10px;
            font-size: 26px;
            color: #8e939a;
            vertical-align: middle;
          }
        }
        @{deep}.van-field{
          height: 100%;
          padding: 0 10px;
          font-size: 28px;
          box-sizing: border-box;
          .van-field__control {
            color: #2e3033;
          }
          .van-field__clear {
            padding: 0 16px;
          }
        }
        input{
          width: 100%;
          height: 100%;
          font-size: 28px;
          border: none;
          box-sizing: border-box;
          padding: 0 10px;
          &::placeholder{
            color: #969799;
          }
        }
        select{
          width: 100%;
          height: 100%;
          font-size: 28px;
          border: none;
          box-sizing: border-box;
          padding: 0 10px;
          background-color: #fff;
        }
        @{deep}.van-icon-clear{
          position: absolute;
          right: 0;
          height: 50px;
          line-height: 50px;
          padding: 0 10px;
          font-size: 26px;
          color: #8e939a;
          vertical-align: middle;
          background-color: #fff;
        }
      }
    }
  }
  .record-list{
    width: 710px;
    margin: 20px auto 0;
    background-color: #FFFFFF;
    border-radius: 12px;
    .list-top{
      width: 100%;
      height: 58px;
      box-sizing: border-box;
      position: relative;
      font-size: 24px;
      font-family: PingFangSC-Regular, PingFang SC;
      color: #999999;
      &::after {
        position: absolute;
        box-sizing: border-box;
        content: ' ';
        pointer-events: none;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        border-bottom: 1px solid #EAEAEA;
        -webkit-transform: scaleY(.5);
        transform: scaleY(.5);
      }
      .list-top-left{
        width: 55%;
        height: 100%;
        float: left;
        .list-top-line{
          width: 4px;
          height: 28px;
          float: left;
          background-color: #F17533;
          margin-top: 16px;
          margin-right: 22px;
        }
        p{
          float: left;
          line-height: 58px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      .list-top-right{
        width: 45%;
        height: 100%;
        line-height: 58px;
        float: left;
        text-align: right;
        span {
          margin-right: 28px;
        }
      }
    }
    .list-content{
      width: 100%;
      height: 200px;
      margin-top: 12px;
      display: flex;
      .list-content-img{
        width: 144px;
        height: 144px;
        margin-top: 12px;
        margin-left: 20px;
        img{
          width: 144px;
          height: 144px;
          border-radius: 12px;
        }
      }
      .list-content-right{
        width: 526px;
        margin-left: 20px;
        .list-title{
          width: 100%;
          height: 40px;
          overflow: hidden;
          p {
            display: inline-block;
            max-width: 340px;
            height: 40px;
            line-height: 40px;
            font-size: 28px;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: bold;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          .tag {
            margin-right: 28px;
            float: right;
            width: 106px;
            height: 36px;
            line-height: 36px;
            font-size: 24px;
            font-family: PingFangSC-Regular, PingFang SC;
            color: #fff;
            border-radius: 8px;
            text-align: center;
            &.orange {
              background-color: #F59900;
            }
            &.green {
              background-color: #67C23A;
            }
            &.gray {
              background-color: #D8D8D8;
            }
          }
        }
        .list-data {
          width: 100%;
          height: 34px;
          display: flex;
          margin-top: 6px;
          &:nth-child(2) {
            margin-top: 10px;
          }
          >div {
            flex: 1;
            height: 100%;
            overflow: hidden;
            // text-overflow: ellipsis;
            white-space: nowrap;
          }
          p{
            font-family: "PingFang SC";
            font-size: 24px;
            color: #999999;
            display: inline-block;
            line-height: 34px;
          }
          span{
            font-family: "PingFang SC";
            font-size: 24px;
            color: #333A43;
            display: inline-block;
            line-height: 34px;
            &.red {
              color: #E51C23;
            }
          }
        }
      }
    }
    .list-bottom{
      width: 100%;
      height: 58px;
      line-height: 58px;
      position: relative;
      &::before {
        position: absolute;
        box-sizing: border-box;
        content: ' ';
        pointer-events: none;
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
        height: 1px;
        border-top: 1px solid #E5E5E5;
        -webkit-transform: scaleY(.5);
        transform: scaleY(.5);
      }
      span{
        margin-left: 22px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-size: 24px;
        color: #214E90;
      }
      @{deep}.van-icon-arrow {
        float: right;
        margin-top: 16px;
        margin-right: 34px;
      }
    }
  }
  .no-data-box {
    height: calc(100vh - 100px);
  }
}
</style>
