<template>
  <div class="special-sale-details">
    <div class="head">
      <!-- 滚动前显示 -->
      <div class="navbar1" :style="{opacity}">
        <van-nav-bar left-arrow @click-left="onClickLeft">
          <i class="van-shopcart2" slot="right" @click-right="onClickRight(1)">
            <i v-if="shopCount">{{shopCount}}</i>
          </i>
          <i class="van-ver-menu2" slot="right" @click-right="onClickRight(2)"></i>
        </van-nav-bar>
      </div>

      <!-- 滚动后显示 -->
      <tab-navbar
        :count="shopCount"
        ref="navbar"
        class="navbar2"
        :style="{opacity: 1 - opacity}"
        :tabList="tabList"
        @on-tab="toggleTab"
        @click-left="onClickLeft"
        @click-right="onClickRight"
      ></tab-navbar>
    </div>

    <div id="content" class="content content-padding-bottom">
      <!-- 商品 -->
      <div v-show="tabIndex === 0">
        <!-- 轮播 -->
        <div class="swiper-container">
          <my-video
            ref="myVideo"
            class="my-video"
            v-if="detail.itemAttachment && detail.itemAttachment[0]"
            v-show="showVideo"
            :video-url="detail.itemAttachment[0]"
            @pause="showVideo = false"
          ></my-video>

          <van-swipe :width="swiperW" :height="swiperH" @change="onChange" v-if="detail.pictureList && detail.pictureList.length">
            <van-swipe-item v-for="(item, index) in detail.pictureList" :key="index + 'swipe'">
              <div
                class="format-img"
                v-lazy:background-image="{ src: allImgDomainName + item, error: require('@/assets/images/default/wens-bg.jpg') }"
                @click="viewPicDetail(index,detail.pictureList)"
              ></div>

              <!-- 播放按钮 -->
              <div
                class="begin-video-box van-bottom"
                v-if="detail.itemAttachment && detail.itemAttachment[0] && index === 0"
                @click.stop="playVideo"
              >视频</div>
            </van-swipe-item>

            <div class="custom-indicator" slot="indicator">
              {{ current + 1 }}/{{(detail.pictureList && detail.pictureList.length) ?
              detail.pictureList.length : 0}}
            </div>
          </van-swipe>
          <div v-else-if="detail.pictureList && !detail.pictureList.length">
            <img v-lazy="require('@/assets/images/default/wens-bg.jpg')" :width="swiperW" :height="swiperH">
          </div>
        </div>
        <!-- 轮播结束 -->

        <div style="background: rgba(245,245,245,1);position: relative;z-index: 1">
          <div class="under-the-swipe">
            <p class="title">{{detail.itemName}}</p>
            <div class="info-wrapper">
              <div>
                <div class="info">
                  <div class="info-title" style="width: 60px;">售&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;价：</div>
                  <div class="info-value" style="width: calc(100% - 60px);" v-if="detail.itemPrice">
                    <span class="price font-big">{{detail.priceType === '0' ? +detail.itemPrice + detail.priceRange : detail.priceType === '1' ? +detail.itemPrice - detail.priceRange : '' | keepTwoNum}}</span>&nbsp;<span class="unit">元/{{detail.saleUnitName}}（已调价）</span>
                  </div>
                  <div class="info-value" style="width: calc(100% - 60px);" v-else><span class="unit">暂无当日定价</span></div>
                </div>
              </div>
              <div>
                <div class="info">
                  <div class="info-title" style="width: 60px;">调价幅度：</div>
                  <div class="info-value" style="width: calc(100% - 60px);">
                    <span class="price">{{detail.priceType === '0' ? '+' : detail.priceType === '1' ? '-' : ''}}{{detail.priceRange | keepTwoNum}}</span>&nbsp;<span class="unit">元/{{detail.saleUnitName}}</span>
                  </div>
                </div>
              </div>
              <div>
                <div class="info">
                  <div class="info-title" style="width: 60px;">上市数量：</div>
                  <div class="info-value" style="width: calc(100% - 60px);">{{detail.sellQty}}{{detail.isAssistOrder ? detail.assistUnitName : detail.saleUnitName}}</div>
                </div>
                <div class="info">
                  <div class="info-title" style="width: 60px;">起订数量：</div>
                  <div class="info-value" style="width: calc(100% - 60px);">{{detail.moq}}{{detail.isAssistOrder ? detail.assistUnitName : detail.saleUnitName}}</div>
                </div>
                <!-- <div class="info">
                  <div class="info-title" style="width: 60px;">销售数量：</div>
                  <div class="info-value" style="width: calc(100% - 60px);">{{detail.buyQty}}{{detail.isAssistOrder ? detail.assistUnitName : detail.saleUnitName}}</div>
                </div> -->
              </div>
              <div>
                <div class="info">
                  <div class="info-title" style="width: 60px;">均&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;重：</div>
                  <div class="info-value" style="width: calc(100% - 60px);">{{detail.avgQty}}{{detail.saleUnitName}}</div>
                </div>
                <div class="info">
                  <div class="info-title" style="width: 60px;">天&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;龄：</div>
                  <div class="info-value" style="width: calc(100% - 60px);">{{detail.dateAge}}</div>
                </div>
              </div>
              <div>
                <div class="info">
                  <div class="info-title" style="width: 60px;">组&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;织：</div>
                  <div class="info-value" style="width: calc(100% - 60px);">{{detail.ownerName}}</div>
                </div>
              </div>
              <div>
                <div class="info">
                  <div class="info-title" style="width: 60px;">活动时间：</div>
                  <div class="info-value" style="width: calc(100% - 60px);">{{detail.startDate}} ~ {{detail.endDate}}</div>
                </div>
              </div>
              <div>
                <div class="info">
                  <div class="info-title" style="width: 60px;">质量描述：</div>
                  <div class="info-value" style="width: calc(100% - 60px);">{{detail.qtyDesc}}</div>
                </div>
              </div>
            </div>
          </div>

          <!-- 店铺 -->
          <div class="shop-info">
            <div class="shop-title">
              <div
                class="format-img"
                v-lazy:background-image="{ src: allImgDomainName + shopInfo.useImg,
                  error: require('@/assets/images/default/store_logo.jpg') }"
              ></div>

              <div>{{shopInfo.storeName || shopInfo.name}}
                <van-tag color="#f39800" plain v-if="shopInfo.type === '1'">养禽</van-tag>
                <van-tag color="#f39800" plain v-else-if="shopInfo.type === '2'">养猪</van-tag>
                <van-tag color="#f39800" plain v-else-if="shopInfo.type === '3'">乳业</van-tag>
                <van-tag color="#f39800" plain v-else-if="shopInfo.type === '4'">鲜品</van-tag>
                <van-tag color="#f39800" plain v-else-if="shopInfo.type === '5'">蛋业</van-tag>
                <van-tag color="#f39800" plain v-else-if="shopInfo.type === '6'">熟食</van-tag>
              </div>
            </div>

            <div class="shop-label">
              <div v-for="(item, index) in shopInfo.evaluateList" :key="index + 'label'">
                <span>{{item.score | keepOneNum}}</span>
                <span>{{item.name}}</span>
              </div>
            </div>

            <div class="shop-btn">
              <div class="active" @click.stop="concern">{{isConcern ? '已关注店铺' : '关注店铺'}}</div>
              <div class="active" @click.stop="goShop(shopInfo.id)">进入店铺</div>
            </div>
          </div>
          <!-- 店铺结束 -->

          <div class="check-details">
            <van-icon name="arrow"/>
            <span>上拉查看图文详情</span>
          </div>
        </div>
      </div>
      <!-- 商品结束 -->

      <!-- 详情 -->
      <div v-show="tabIndex === 1">
        <div class="van-padding-top product-introduce" v-html="detail.itemDescription"></div>
      </div>
      <!-- 详情结束 -->
    </div>

    <!-- 固定在底部的按钮集合 -->
    <div class="special-sale-details-bottom">
      <div class="stepper-wrapper">
        <div class="stepper-one">
          <div class="stepper-one-left" @click="_priceCut">
            <svg-icon class="icon-reduce" iconname="bidding_reduce"></svg-icon>
          </div>
          <div class="stepper-one-center">
            <span>&yen;</span>
            <input type="number" v-model="orderPrice" @keyup="bottomInputKeyup(1)" @blur="bottomInputBlur(1)">
          </div>
          <div class="stepper-one-right" @click="_priceAdd">
            <svg-icon class="icon-plus" iconname="bidding_plus"></svg-icon>
          </div>
        </div>
        <div class="stepper-two">
          <div class="stepper-two-left" @click="_numCut">
            <svg-icon class="icon-reduce" iconname="bidding_reduce"></svg-icon>
          </div>
          <div class="stepper-two-center">
            <input type="number" v-model="orderNumber" @keyup="bottomInputKeyup(2)" @blur="bottomInputBlur(2)">
            <span>{{detail.isAssistOrder ? detail.assistUnitName : detail.saleUnitName}}</span>
          </div>
          <div class="stepper-two-right" @click="_numAdd">
            <svg-icon class="icon-plus" iconname="bidding_plus"></svg-icon>
          </div>
        </div>
      </div>
      <div class="btn" @click="_offerSubmit">
        <p>下单</p>
      </div>
    </div>

    <!-- 下单确认提示框 -->
    <div class="remind-box" v-if="remind1">
      <div class="box-content">
        <p class="title">温馨提示</p>
        <div class="content">
          <div class="content-title">下单价格确认</div>
          <p class="text">价格：<span class="price">{{orderPrice | keepTwoNum}}</span><span class="unit">元/{{detail.saleUnitName}}</span></p>
          <p class="text">数量：<span class="qty">{{orderNumber}}{{detail.isAssistOrder ? detail.assistUnitName : detail.saleUnitName}}</span></p>
        </div>
        <div class="btn-group">
          <div class="btn cancel" @click="remind1 = false">取消</div>
          <div class="btn confirm" @click="_offerSure">确定</div>
        </div>
      </div>
    </div>

    <!-- 下单结果提示框 -->
    <div class="remind-box" v-if="remind2">
      <div class="box-content">
        <p class="title">温馨提示</p>
        <div class="content">
          <div class="info-icon" :class="remindSuccess ? 'success' : 'fail'"></div>
          <p class="info-text" :class="remindSuccess ? 'success' : 'fail'">{{remindSuccess ? '下单成功' : '下单失败'}}</p>
          <p class="tips-text">{{remindSuccess ? '' : remindFailText}}</p>
        </div>
        <div class="btn-group">
          <!-- <div class="btn cancel" @click="remindSure">取消</div> -->
          <div class="btn confirm" @click="remindSure">确定</div>
        </div>
      </div>
    </div>

    <!-- "更多"下拉菜单 -->
    <drop-down-menu
      :show="showDropDownMenu"
      :data="dropDownMenuList"
      @hide="hide"
    ></drop-down-menu>
  </div>
</template>

<script>
import TabNavbar from '@/components/tab-navbar'
import MyVideo from '@/views/goods-details/video'
import DropDownMenu from '@/components/drop-down-menu'
import { allImgDomainNameMixin } from '@/assets/js/mixin'
import { api } from '@/api'
import { ImagePreview } from 'vant'
import { mapGetters } from 'vuex'
import { _debounce, scrollTop, getScrollTop } from '@/utils/common'

export default {
  name: 'special-sale-details',
  mixins: [allImgDomainNameMixin],
  inject: ['reload'],
  components: {
    TabNavbar,
    MyVideo,
    DropDownMenu
  },
  data () {
    return {
      tabList: [{ title: '商品' }, { title: '详情' }],
      token: null,
      swiperH: 0, // 轮播的高
      swiperW: 0, // 轮播的宽
      opacity: 1,
      baseOpacity: 1,
      detail: {}, // 商品详情
      current: 0, // 图片下标
      shopInfo: {}, // 店铺信息
      isConcern: false, // 店铺是否已关注
      tabIndex: 0, // tab坐标
      cacheScrollList: [],
      toBottomFlag: false,
      start: 0,
      showVideo: false, // 显示视频
      showDropDownMenu: false, // 显示“更多”下拉菜单
      dropDownMenuList: [ // “更多”下拉菜单列表
        {
          subTitle: '首页',
          path: '/',
          imgUrl: require('@/components/tabbar/icon_home@3x.png')
        }
      ],
      orderPrice: null, // 下单价格
      orderNumber: null, // 下单数量
      remind1: false, // 下单确认提示框
      remind2: false, // 下单结果提示框
      remindSuccess: false, // 下单成功
      remindFailText: '', // 下单失败提示文字
      isBeyondSellDate: false, // 是否超出活动时间
      isOutOfStock: false // 是否超出库存限制
    }
  },
  filters: {
    keepOneNum (val) {
      if (isNaN(val)) return
      val = Number(val)
      return val.toFixed(1)
    }
  },
  computed: {
    ...mapGetters(['allChannel']),
    // 购物车数量
    shopCount () {
      return this.$store.state.shoppingCartCount
    }
  },
  watch: {
    $route (newV, oldV) {
      this.reload()
    }
  },
  created () {
    this.token = sessionStorage.getItem('token')
    let goodsId = this.$route.query.id
    if (!goodsId) {
      this.$router.push({ path: '/' })
      return
    }

    this.scaleSwiper()
    window.onresize = this.scaleSwiper
    this.listenScroll()

    this.queryGoodsDetail(goodsId)
  },
  methods: {
    // 消除键盘关闭后页面被撑起，导致按钮响应区域错位
    scrollToTop () {
      scrollTop(window, getScrollTop(), 0, 100)
    },
    bottomInputKeyup (type) {
      let regStrs = [
        ['^0(\\d+)$', '$1'], // 禁止录入整数部分两位以上，但首位为0
        ['[^\\d\\.]+$', ''], // 禁止录入任何非数字和点
        ['\\.(\\d?)\\.+', '.$1'], // 禁止录入两个以上的点
        ['^(\\d+\\.\\d{2}).+', '$1'] // 禁止录入小数点后两位以上
      ]
      if (type === 1) {
        for (let i = 0; i < regStrs.length; i++) {
          let reg = new RegExp(regStrs[i][0])
          this.orderPrice = this.orderPrice.toString().replace(reg, regStrs[i][1])
        }
      } else if (type === 2) {
        this.orderNumber = this.orderNumber.toString().replace(/[^\d]/g, '')
      }
    },
    bottomInputBlur (type) {
      if (type === 1) {
        if (isNaN(this.orderPrice)) return

        let p1 = new this.$BigDecimal(this.detail.itemPrice)
        let p2 = new this.$BigDecimal(this.detail.priceRange)
        let minOrderPrice = this.detail.priceType === '0' ? this.$BigDecimal.add(p1.getValue(), p2.getValue()) : (this.detail.priceType === '1' ? this.$BigDecimal.subtract(p1.getValue(), p2.getValue()) : null)
        this.orderPrice = minOrderPrice <= 0 ? Number(0).toFixed(2) : (+this.orderPrice <= 0 || +this.orderPrice < minOrderPrice ? Number(minOrderPrice).toFixed(2) : Number(this.orderPrice).toFixed(2))
      } else if (type === 2) {
        let minOrderNumber = this.detail.isInventory ? (this.detail.sellQty - this.detail.buyQty > this.detail.moq ? this.detail.moq : this.detail.sellQty - this.detail.buyQty) : this.detail.moq
        let maxOrderNumber = this.detail.isInventory ? this.detail.sellQty - this.detail.buyQty : null
        if (minOrderNumber && +this.orderNumber < minOrderNumber) {
          this.orderNumber = minOrderNumber
        } else if (maxOrderNumber && +this.orderNumber > maxOrderNumber) {
          this.orderNumber = maxOrderNumber
        }

        if (isNaN(this.orderNumber)) return
        this.orderNumber = Number(this.orderNumber).toFixed(0)
      }
      this.scrollToTop()
    },
    hide () {
      this.showDropDownMenu = false
    },
    // 控制轮播宽高
    scaleSwiper () {
      this.swiperW = window.innerWidth
      this.swiperH = window.innerHeight / 2
    },
    // 播放视频
    playVideo () {
      this.showVideo = true
      this.$nextTick(() => {
        this.$refs.myVideo.$refs.myVideoRef.goOnPlay()
      })
    },
    // 去店铺
    goShop (ownerId) {
      this.$router.push({
        path: '/shop',
        query: {
          ownerId
        }
      })
    },
    // 返回
    onClickLeft () {
      if (window.history.length > 1) {
        this.$router.go(-1)
      } else {
        this.$router.push('/')
      }
    },
    onClickRight (i) {
      if (i === 1) { // 购物车按钮
        this.$router.push({
          path: '/shoppingCart'
        })
      } else if (i === 2) { // "更多"下拉菜单
        this.showDropDownMenu = true
      }
    },
    // 切换tab
    toggleTab (index) {
      this.cacheScrollList[this.tabIndex] = document.querySelector(
        '#content'
      ).scrollTop

      if (index === 0) {
        this.tabIndex = index

        this.listenScroll()
      } else {
        this.removeScrollEvent()

        this.tabIndex = index
      }

      this.$nextTick(() => {
        document.querySelector('#content').scrollTop = this.cacheScrollList[index] || 0
      })
    },
    // 滚动监听
    listenScroll () {
      let baseDistance = window.innerHeight / 2 // 透明度从0到1的距离

      this.$nextTick(() => {
        this.scrollStyle(baseDistance)

        this.toBottomFlag = false

        document.querySelector('#content').onscroll = () => {
          this.scrollStyle(baseDistance)
        }
      })
    },
    // 滚动时的效果
    scrollStyle (baseDistance) {
      let scroller = document.querySelector('#content')
      let scrollTop = scroller.scrollTop
      let base = this.baseOpacity - scrollTop / baseDistance

      this.opacity = base < 0 ? 0 : base > this.baseOpacity ? this.baseOpacity : base

      if (scrollTop + scroller.offsetHeight + 1 >= scroller.scrollHeight) {
        if (!this.toBottomFlag) {
          document.addEventListener('touchstart', this.touchstart, false)
        }
      }
    },
    touchstart (es) {
      this.toBottomFlag = true
      this.start = es.touches[0].clientY

      document.addEventListener('touchend', this.touchend, false)
      document.addEventListener('touchmove', this.touchmove, false)
    },
    touchmove (em) {
      let move = em.touches[0].clientY

      if (this.start - move > 10) {
        this.$refs.navbar.active = 1
        this.toggleTab(1)
        this.touchend()
      } else if (this.start - move < 0) {
        this.touchend()
      }
    },
    touchend () {
      document.removeEventListener('touchstart', this.touchstart, false)
      document.removeEventListener('touchmove', this.touchmove, false)
      document.removeEventListener('touchend', this.touchend, false)
      this.toBottomFlag = false
    },
    // 移除监听
    removeScrollEvent () {
      this.opacity = 0
      document.querySelector('#content').onscroll = null
    },
    // 监听轮播
    onChange (index) {
      this.current = index
    },
    // 关注店铺
    concern () {
      if (this.token) {
        if (this.isConcern) {
          let params = {
            ownerIdList: [this.detail.ownerId]
          }

          this.$dialog.confirm({
            title: '提示',
            message: '确定要取消关注该店铺？'
          }).then(() => {
            api.commonCall(params, 'shopConcernDel').then(res => {
              if (res.success) {
                this.isConcern = false
              }
            })
          }).catch(() => {

          })
        } else {
          let params = {
            ownerId: this.shopInfo.id
          }

          api.commonCall(params, 'shopConcernAdd').then(res => {
            if (res.success) {
              this.isConcern = true
            }
          })
        }
      } else {
        this.$toast('请先登录')
        this.$router.push({ path: '/loginRandom', query: { redirect: this.$route.fullPath } })
      }
    },
    // 查询商品详情
    queryGoodsDetail (id) {
      api.commonCall({ id }, 'searchSaleDetail').then(res => {
        if (res.success) {
          let findChannel = this.allChannel.find(o => o.channelId === res.data.ownerId)
          if (findChannel) {
            res.data.ownerType = findChannel.channelType
          } else {
            res.data.ownerType = ''
          }

          this.detail = res.data

          // 初始化值
          let p1 = new this.$BigDecimal(this.detail.itemPrice)
          let p2 = new this.$BigDecimal(this.detail.priceRange)
          this.orderPrice = this.detail.priceType === '0' ? this.$BigDecimal.add(p1.getValue(), p2.getValue()) : (this.detail.priceType === '1' ? this.$BigDecimal.subtract(p1.getValue(), p2.getValue()) : null)
          this.orderNumber = this.detail.isInventory ? (this.detail.sellQty - this.detail.buyQty > this.detail.moq ? this.detail.moq : this.detail.sellQty - this.detail.buyQty) : this.detail.moq
          this.orderPrice = this.orderPrice <= 0 ? '' : Number(this.orderPrice).toFixed(2)

          // 判断是否超出库存限制
          this.isOutOfStock = this.detail.isInventory ? this.detail.sellQty <= this.detail.buyQty : false

          // 判断是否超出活动时间
          let nowTime = res.serverTime.getTime() || new Date().getTime()
          let startTime = new Date(res.data.startDate.replace(/-/g, '/')).getTime() // 开始时间
          let endTime = new Date(res.data.endDate.replace(/-/g, '/')).getTime() // 结束时间
          this.isBeyondSellDate = nowTime < startTime || nowTime > endTime

          this.customerInfo(res.data.ownerId) // 查询渠道信息
          if (this.token) {
            this.shopConcernState(res.data.ownerId) // 查询店铺是否已收藏
          }
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    shopConcernState () {
      let params = {
        ownerId: this.detail.ownerId
      }

      api.commonCall(params, 'queryShopConcernState').then(res => {
        if (res.success) {
          this.isConcern = res.data.status
        }
      })
    },
    customerInfo (id) {
      api.customerInfo({ id }).then(res => {
        if (res.success) {
          let findChannel = this.allChannel.find(o => o.channelId === res.data.id)
          if (findChannel) {
            res.data.type = findChannel.channelType
          } else {
            res.data.type = ''
          }

          this.shopInfo = res.data
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    // 图片预览
    viewPic (index, picList) {
      let list = []
      // eslint-disable-next-line
      for (let [index, elem] of picList.entries()) {
        list.push(this.allImgDomainName + elem)
      }
      ImagePreview({
        images: list,
        startPosition: index
      })
    },
    // 图片预览
    viewPicDetail (index, picList) {
      this.viewPic(index, picList)
    },
    _priceCut () {
      let p0 = new this.$BigDecimal(this.orderPrice)
      let p1 = new this.$BigDecimal(this.detail.itemPrice)
      let p2 = new this.$BigDecimal(this.detail.priceRange)
      let minOrderPrice = this.detail.priceType === '0' ? this.$BigDecimal.add(p1.getValue(), p2.getValue()) : (this.detail.priceType === '1' ? this.$BigDecimal.subtract(p1.getValue(), p2.getValue()) : null)

      if (this.orderPrice <= 0 || !minOrderPrice || (minOrderPrice && +this.orderPrice <= minOrderPrice)) return
      this.orderPrice = this.$BigDecimal.subtract(p0.getValue(), '0.1')
    },
    _priceAdd () {
      let p1 = new this.$BigDecimal(this.orderPrice)
      this.orderPrice = this.$BigDecimal.add(p1.getValue(), '0.1')
    },
    _numCut () {
      let minOrderNumber = this.detail.isInventory ? (this.detail.sellQty - this.detail.buyQty > this.detail.moq ? this.detail.moq : this.detail.sellQty - this.detail.buyQty) : this.detail.moq

      if (+this.orderNumber <= minOrderNumber) return
      this.orderNumber--
    },
    _numAdd () {
      let maxOrderNumber = this.detail.isInventory ? this.detail.sellQty - this.detail.buyQty : null

      if (maxOrderNumber && +this.orderNumber >= maxOrderNumber) return
      this.orderNumber++
    },
    _offerSubmit () {
      // 不能下单的条件
      if (this.isBeyondSellDate) {
        this.$toast({
          duration: 5000, // 展示时长
          message: '不在活动期间，不能下单！活动时间：' + this.detail.startDate + ' ~ ' + this.detail.endDate
        })
        return
      } else if (!this.detail.itemPrice) {
        this.$toast('暂无当日定价，不能下单！')
        return
      } else if (this.isOutOfStock) {
        this.$toast('超出库存，不能下单！')
        return
      }

      if (!this.orderPrice) {
        this.$toast('请输入下单价格')
        return
      } else if (!this.orderNumber) {
        this.$toast('请输入下单数量')
        return
      }

      this.remind1 = true
    },
    _offerSure: _debounce(function () {
      if (this.isSubmitFlag1) return
      this.isSubmitFlag1 = true

      let params = {
        id: this.$route.query.id,
        price: this.orderPrice,
        qty: this.orderNumber,
        itemId: this.detail.itemId,
        avgQty: this.detail.avgQty,
        salePrice: this.detail.priceType === '0' ? +this.detail.itemPrice + this.detail.priceRange : this.detail.priceType === '1' ? +this.detail.itemPrice - this.detail.priceRange : null,
        storeId: this.detail.ownerId
      }

      api.commonCall(params, 'saveSaleRecord').then(res => {
        if (res.success) {
          this.remindSuccess = true
          this.remind1 = false
          this.remind2 = true

          setTimeout(() => {
            this.isSubmitFlag1 = false
          }, 1000)
        } else {
          this.remindSuccess = false
          this.remind1 = false
          this.remind2 = true
          if (res.message) {
            this.remindFailText = res.message.replace('调用移动分销接口失败：', '')
          }

          setTimeout(() => {
            this.isSubmitFlag1 = false
          }, 1000)
        }
      })
    }, 500),
    remindSure () {
      this.remind2 = false
      if (this.remindSuccess) {
        this.$router.push('/specialSaleRecord')
      }
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.special-sale-details {
  background: rgba(245, 245, 245, 1);

  .translate {
    display: block;
    transform: translateY(1px);
  }

  .format-img {
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .navbar1 {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    @{deep} .van-nav-bar {
      height: 96px;
      line-height: 96px;
      background: none;
      &:after {
        border: 0;
      }
      .van-nav-bar__left {
        padding: 0 16px;
        .van-icon {
          color: white !important;
          width: 64px;
          height: 64px;
          line-height: 64px;
          border-radius: 50%;
          background-color: rgba(0, 0, 0, 0.5);
        }
      }
      .van-nav-bar__right {
        padding: 0 16px;
        .van-ver-menu2,
        .van-shopcart2 {
          display: inline-block;
          width: 64px;
          height: 64px;
          border-radius: 50%;
          background-color: rgba(0, 0, 0, 0.5);
          background-repeat: no-repeat;
          background-position: center;
          background-size: 48px 48px;
          vertical-align: middle;
        }
        .van-ver-menu2 {
          .bg-img("~@/assets/images/icon/icon-ver-menu");
        }
        .van-shopcart2 {
          .bg-img("~@/assets/images/icon/icon-shopcart");
          margin-right: 16px;
          position: relative;
          i {
            position: absolute;
            top: 0;
            left: 56px;
            background: white;
            border: 1px solid red;
            color: red;
            font-size: 20px;
            height: 20px;
            line-height: 24px;
            border-radius: 20px;
            padding: 0 6px;
            transform: translate(-50%);
          }
        }
      }
    }
  }

  > .content {
    -webkit-overflow-scrolling: touch;
    // perspective: 1px;
    // transform-style: preserve-3d;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    &.content-padding-bottom {
      padding-bottom: 230px;
    }
    .list {
      margin-top: 16px;
      font-size: 26px;
      color: #2e3033;
      .item {
        display: flex;
        align-items: center;
        background: white;
        padding: 30px;
        .title {
          color: #8e939a;
          width: 120px;
        }
        .content {
          width: calc(100% - 210px);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          &.line-feed {
            overflow: visible;
            white-space: normal;
          }
        }
        .arrow {
          color: #c1c4ca;
          font-size: 23px;
          flex: 1;
          text-align: right;
        }
      }
    }
    .active {
      position: relative;
      overflow: hidden;
      transform: rotate(0deg);
      &:active {
        &:after {
          content: " ";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: rgba(0, 0, 0, 0.08);
        }
      }
    }
    .swiper-container {
      // transform: scale(2) translate3d(0, calc(-100vh / 8), -1px);
      overflow: hidden;
      position: relative;
      height: calc(100vh / 2);
      // height: 1750px;
      // z-index: 0;
      .my-video {
        z-index: 99;
      }
      .format-img {
        height: calc(100vh / 2);
        background-size: 100% 100%;
        // height: 1750px;
      }
      // .swiper {
      //   overflow: hidden;
      //   position: absolute;
      //   bottom: 0;
      //   left: 0;
      //   width: 100%;
      @{deep} .van-swipe {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
      }
      // }
      .custom-indicator {
        position: absolute;
        right: 10px;
        bottom: 10px;
        padding: 4px 10px;
        font-size: 26px;
        color: #fff;
        background: rgba(0, 0, 0, 0.3);
      }
    }
    .under-the-swipe {
      background: white;
      padding: 20px 26px 40px;
      .title {
        line-height: 44px;
        font-size: 32px;
        font-family: PingFangSC-Medium, PingFang SC;
        color: #414143;
        word-wrap: break-word;
        word-break: break-all;
      }
      .info-wrapper {
        margin-top: 18px;
        >div {
          display: flex;
          &:not(:first-child) {
            margin-top: 10px;
          }
          .info {
            flex: 1;
            font-size: 24px;
            font-family: PingFangSC-Regular, PingFang SC;
            .info-title {
              display: inline-block;
              vertical-align: top;
              // width: 120px;
              // width: 60PX;
              font-size: 12PX;
              line-height: 34px;
              color: #999999;
            }
            .info-value {
              display: inline-block;
              // width: calc(100% - 120px);
              // width: calc(100% - 60PX);
              line-height: 34px;
              color: #333333;
              word-wrap: break-word;
              word-break: break-all;
              .price {
                color: #E63E32;
                font-family: 'AvenirLTStd-Black';
                &.font-big {
                  font-size: 36px;
                }
              }
              .unit {
                color: #E63E32;
              }
            }
          }
        }
      }
    }
    .evaluate-list {
      margin-top: 16px;
      background: white;
      padding: 30px;
      color: #2e3033;
      .title {
        border-left: 4px solid #e33240;
        padding-left: 14px;
        line-height: 100%;
      }
      ul {
        li {
          padding: 30px 0;
          &:not(:last-child) {
            .border-1px(#e8e9eb);
          }
          > div {
            &:first-child {
              display: flex;
              align-items: center;
              line-height: 100%;
              > span {
                display: block;
                font-size: 26px;
                &.default {
                  .bg-img("~@/assets/images/default_profile");
                }
                &:first-child {
                  width: 75px;
                  height: 75px;
                  border-radius: 50%;
                  margin-right: 20px;
                }
              }
            }
            &:nth-child(2) {
              padding-top: 20px;
              font-size: 26px;
            }
            &:nth-child(3) {
              padding-top: 20px;
              font-size: 24px;
              color: #8e939a;
            }
          }
        }
      }
      .allEvaluate {
        padding: 50px 0;
        div {
          margin: auto;
          width: 260px;
          height: 64px;
          border-radius: 40px;
          border: 2px solid;
          color: rgb(227, 50, 64);
          font-size: 26px;
          letter-spacing: 2px;
          line-height: 64px;
          text-align: center;
        }
      }
    }
    .shop-info {
      padding: 0 28px;
      margin-top: 16px;
      background: white;
      color: #2e3033;
      .shop-title {
        display: flex;
        align-items: center;
        padding: 30px 0;
        > div {
          &:first-child {
            width: 92px;
            height: 92px;
            border: 1px solid #eee;
          }
          &:last-child {
            font-size: 30px;
            padding-left: 30px;
            .van-tag {
              height: 32px;
              padding: 2px 6px;
            }
          }
        }
      }
      .shop-label {
        overflow: hidden;
        > div {
          float: left;
          box-sizing: border-box;
          width: 33.3333%;
          padding: 0.6em 0;
          &:not(:nth-child(3n)) {
            .border-vertical-1px(#e8e9eb);
          }
          span {
            display: block;
            text-align: center;
            &:last-child {
              color: #8e939a;
            }
          }
        }
      }
      .shop-btn {
        display: flex;
        justify-content: center;
        padding: 50px;
        > div {
          margin: 0 10px;
          width: 220px;
          height: 64px;
          border-radius: 35px;
          text-align: center;
          font-size: 26px;
          &:first-child {
            background: linear-gradient(
              90deg,
              rgba(255, 107, 82, 1) 0%,
              rgba(227, 50, 64, 1) 100%
            );
            line-height: 64px;
            color: white;
          }
          &:last-child {
            background: rgba(255, 255, 255, 1);
            border: 2px solid;
            color: rgb(227, 50, 64);
            box-sizing: border-box;
            line-height: 62px;
          }
        }
      }
    }
    .check-details {
      margin-top: 16px;
      height: 96px;
      color: #5e6166;
      text-align: center;
      font-size: 28px;
      background: white;
      line-height: 96px;
      i {
        font-size: 20px;
        transform: rotate(-90deg);
      }

      > span {
        letter-spacing: 1px;
        margin-left: 20px;
      }
    }
    // .img-details {
    //   display: block;
    //   width: 100%;

    //   &.van-padding-top {
    //     padding-top: 96px;
    //   }
    // }
    .product-introduce {
      @{deep} * {
        max-width: 100% !important;
        img {
          display: block;
        }
      }
      &.van-padding-top {
        padding-top: 96px;
      }
    }
  }

  .special-sale-details-bottom{
    width: 100%;
    height: 228px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FCF6DF;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    box-shadow: 0 -1px 0.26667rem -1px #FCF6DF;
    z-index: 9;
    .stepper-wrapper{
      width: 726px;
      height: 88px;
      margin: 0 auto;
      margin-top: 14px;
      .stepper-one{
        width: 356px;
        height: 100%;
        float: left;
        border: 2px  solid #5E6173;
        box-sizing: border-box;
        border-radius: 12px;
        background-color: #5E6173;
        .stepper-one-left{
          width: 86px;
          height: 100%;
          float: left;
          border-bottom-left-radius: 12px;
          border-top-left-radius: 12px;
          display: flex;
          align-items: center;
          justify-content: center;
          .icon-reduce {
            font-size: 20px;
          }
        }
        .stepper-one-center{
          width: 180px;
          height: 100%;
          line-height: 84px;
          float: left;
          background-color: #FFFFFF;
          font-family: PingFangSC-Medium, PingFang SC;
          font-size: 32px;
          font-weight: bold;
          color: #f39801;
          text-align: center;
          position: relative;
          span{
            font-size: 26px;
            position: absolute;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
          }
          input {
            box-sizing: border-box;
            width: 100%;
            padding: 0 20px 0 40px;
            border: 0;
            text-align: center;
          }
        }
        .stepper-one-right{
          width: 86px;
          height: 100%;
          float: left;
          border-bottom-right-radius: 12px;
          border-top-right-radius: 12px;
          display: flex;
          align-items: center;
          justify-content: center;
          .icon-plus {
            font-size: 20px;
          }
        }
      }
      .stepper-two{
        width: 356px;
        height: 100%;
        float: right;
        border: 2px  solid #5E6173;
        box-sizing: border-box;
        border-radius: 12px;
        color: #F39801;
        text-align: center;
        line-height: 88px;
        background-color: #5E6173;
        .stepper-two-left{
          width: 86px;
          height: 100%;
          float: left;
          border-bottom-left-radius: 12px;
          border-top-left-radius: 12px;
          display: flex;
          align-items: center;
          justify-content: center;
          .icon-reduce {
            font-size: 20px;
          }
        }
        .stepper-two-center{
          width: 180px;
          height: 100%;
          float: left;
          background-color: #FFFFFF;
          font-family: PingFangSC-Medium, PingFang SC;
          font-size: 32px;
          color: #434349;
          text-align: center;
          line-height: 84px;
          font-weight: bold;
          position: relative;
          span{
            font-size: 26px;
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
          }
          input {
            box-sizing: border-box;
            width: 100%;
            padding: 0 50px 0 20px;
            border: 0;
            text-align: center;
          }
        }
        .stepper-two-right{
          width: 86px;
          height: 100%;
          float: right;
          border-bottom-right-radius: 12px;
          border-top-right-radius: 12px;
          display: flex;
          align-items: center;
          justify-content: center;
          .icon-plus {
            font-size: 20px;
          }
        }
      }
    }
    .btn {
      width: 726px;
      height: 100px;
      margin: 0 auto;
      margin-top: 12px;
      background-color: #f39801;
      border-radius: 12px;
      &.gray{
        background: #D8D8D8;
      }
      p{
        text-align: center;
        height: 100px;
        line-height: 100px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-size: 36px;
        color: #ffffff;
      }
    }
  }

  .begin-video-box {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 0 30px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 24px;
    color: #3985ff;
    background: rgba(255, 255, 255, 0.8);
    z-index: 10;
    &.van-bottom {
      bottom: 20px;
    }
    &:before {
      background: url("~@/assets/images/video/play.png") no-repeat 0;
      background-size: 30px 30px;
      content: "";
      position: relative;
      display: inline-block;
      vertical-align: middle;
      margin-top: -2px;
      margin-right: 5px;
      width: 31px;
      height: 31px;
    }
    &:after {
      border-radius: 50px;
      border-color: #3b8afb;
    }
    &:hover {
      background: rgba(255, 255, 255, 0.8);
    }
  }

  .remind-box{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    z-index: 99999;
    .box-content{
      width: 606px;
      height: 676px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .bg-img("~@/assets/images/index-2/reminder-bg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% 100%;
      border-radius: 24px;
      .title {
        width: 100%;
        height: 44px;
        color: #fff;
        line-height: 44px;
        text-align: center;
        margin: 28px 0 72px 0;
      }
      .content {
        height: 390px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: PingFangSC-Medium, PingFang SC;
        color: #48484A;
        .info-icon {
          width: 108px;
          height: 108px;
          &.success {
            .bg-img("~@/assets/images/index-2/reminder-success");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% 100%;
          }
          &.fail {
            .bg-img("~@/assets/images/index-2/reminder-fail");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% 100%;
          }
        }
        .info-text {
          margin-top: 16px;
          height: 50px;
          line-height: 50px;
          font-size: 36px;
        }
        .tips-text {
          margin-top: 8px;
          padding: 0 6px;
          max-height: 196px;
          // height: 34px;
          line-height: 34px;
          font-size: 24px;
          overflow: hidden;
        }
        .content-title {
          height: 50px;
          line-height: 50px;
          margin-bottom: 36px;
          font-size: 36px;
          font-family: PingFangSC-Medium, PingFang SC;
          font-weight: bold;
          color: #48484A;
        }
        p {
          &.text {
            width: 380px;
            height: 50px;
            line-height: 50px;
            overflow: hidden;
            span {
              color: #48484A;
              font-size: 32px;
              font-family: PingFangSC-Regular, PingFang SC;
              &.price {
                color: #E02020;
                font-size: 52px;
              }
              &.unit {
                color: #E02020;
                font-size: 32px;
              }
            }
          }
        }
      }
      .btn-group {
        margin: 0 auto;
        text-align: center;
        .btn {
          display: inline-block;
          margin-right: 18px;
          width: 272px;
          height: 86px;
          line-height: 86px;
          text-align: center;
          border-radius: 12px;
          font-size: 36px;
          font-family: PingFangSC-Regular, PingFang SC;
          color: #fff;
          &:last-child {
            margin-right: 0;
          }
          &.cancel {
            background: #999999;
          }
          &.confirm {
            background: #F39801;
          }
        }
      }
    }
  }
}
</style>
