<template>
  <div class="special-sale-list">
    <van-nav-bar title="特价销售" left-arrow @click-left="onClickLeft"></van-nav-bar>

    <van-pull-refresh v-model="isLoading" @refresh="onRefresh">
      <van-list v-model="loading" :finished="finished" @load="onLoad" :offset="200" finished-text="没有更多了" v-if="goodsList && goodsList.length">
        <div class="list-wrap">
          <div class="list-content" v-for="(item, index) in goodsList" :key="index">
            <div class="list-content-left">
              <img v-lazy="allImgDomainName + item.itemThumbnail" alt :key="item.itemThumbnail">
            </div>
            <div class="list-content-right">
              <div class="list-content-title">
                <p>{{item.itemName}}</p>
              </div>
              <div class="list-content-row visible">
                <p v-if="item.itemPrice">售价：<span class="price">{{item.priceType === '0' ? +item.itemPrice + item.priceRange : item.priceType === '1' ? +item.itemPrice - item.priceRange : '' | keepTwoNum}}</span>&nbsp;<span class="unit">元/{{item.saleUnitName}}</span></p>
                <p v-else>售价：<span class="coming-soon">暂无定价</span></p>
              </div>
              <div class="list-content-row">
                <p>组织：{{item.ownerName}}</p>
              </div>
              <div class="list-content-row">
                <p>均重：{{item.avgQty}}{{item.saleUnitName}}</p>
              </div>
              <div class="list-content-row">
                <p>数量：{{item.sellQty}}{{item.isAssistOrder ? item.assistUnitName : item.saleUnitName}}</p>
              </div>
              <div class="btn">
                <div class="go-to-buy" @click="goSpecialSaleDetails(item.id)"><p>去抢购</p></div>
              </div>
            </div>
          </div>
        </div>
      </van-list>
      <div class="no-data-box" v-else>
        <no-data :loading="requestLoading"></no-data>
      </div>
    </van-pull-refresh>

    <!-- 悬浮置顶按钮 -->
    <scroll-to-top-hover-btn></scroll-to-top-hover-btn>
  </div>
</template>

<script>
import ScrollToTopHoverBtn from '@/components/scroll-to-top-hover-btn/index'
import NoData from '@/components/no-data'
import { api } from '@/api'
import { allImgDomainNameMixin } from '@/assets/js/mixin'

export default {
  name: 'special-sale-list',
  mixins: [allImgDomainNameMixin],
  components: {
    ScrollToTopHoverBtn,
    NoData
  },
  data () {
    return {
      goodsList: [],
      loading: false, // 控制上拉加载的加载动画
      finished: false, // 控制在页面往下移动到底部时是否调用接口获取数据
      isLoading: false, // 控制下拉刷新的加载动画
      requestLoading: false, // 接口请求加载动画
      cacheList: [],
      page: {
        index: 1,
        size: 6,
        total: 0
      }
    }
  },
  created () {
    this.getSpecialSaleList()
  },
  methods: {
    onClickLeft () {
      this.$router.go(-1)
    },
    // 下拉刷新
    onRefresh () {
      this.page.index = 1
      this.cacheList = []
      this.getSpecialSaleList()
    },
    // 上拉加载
    onLoad () {
      this.page.index++
      this.getSpecialSaleList()
    },
    getSpecialSaleList () {
      this.requestLoading = true
      let params = {
        page: this.page.index,
        pageSize: this.page.size
      }
      if (sessionStorage.getItem('token')) {
        params.customerId = JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
      } else {
        params.customerId = ''
      }
      api.commonCall(params, 'searchSaleList').then(res => {
        this.requestLoading = false
        if (res.success) {
          this.cacheList = this.cacheList.concat(res.data.list)
          this.goodsList.splice(0, this.goodsList.length, ...this.cacheList)
          this.page.total = res.data.count
          this.finished = false
          this.loading = false
          if (this.cacheList.length >= this.page.total) {
            this.finished = true
          }

          setTimeout(() => {
            this.isLoading = false
          }, 100)
        } else {
          res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    goSpecialSaleDetails (id) {
      this.$router.push({
        path: '/specialSaleDetails',
        query: {
          id
        }
      })
    }
  }
}
</script>

<style lang="less" scoped>
.special-sale-list{
  width: 100%;
  height: 100%;
  .list-wrap {
    width: 100%;
    overflow: hidden;
    .list-content{
      width: 698px;
      height: 280px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      position: relative;
      &::after {
        position: absolute;
        box-sizing: border-box;
        content: ' ';
        pointer-events: none;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        border-bottom: 1px solid #E6E6E6;
      }
      &:last-child{
        border-bottom: 0;
      }
      .list-content-left{
        width: 240px;
        height: 240px;
        float: left;
        img{
          width: 240px;
          height: 240px;
          border-radius: 12px;
        }
      }
      .list-content-right{
        width: 440px;
        height: 240px;
        float: left;
        margin-left: 20px;
        position: relative;
        .list-content-title{
          margin-top: 10px;
          width: 100%;
          overflow: hidden;
          p{
            height: 44px;
            line-height: 44px;
            color: #3C3C3E;
            font-size: 32px;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 600;
          }
        }
        .list-content-row{
          margin-top: 6px;
          width: 100%;
          overflow: hidden;
          &.visible {
            overflow: visible;
          }
          p {
            height: 34px;
            line-height: 34px;
            color: #999999;
            font-size: 24px;
            font-family: PingFangSC-Regular, PingFang SC;
            .price {
              color: #E63E32;
              font-size: 36px;
              font-family: 'AvenirLTStd-Black';
            }
            .coming-soon {
              color: #E63E32;
              font-size: 30px;
            }
            .unit {
              color: #E63E32;
            }
          }
        }
        .btn{
          position: absolute;
          bottom: 26px;
          right: 0;
          .go-to-buy{
            width: 152px;
            height: 56px;
            border-radius: 12px;
            background: #E63E32 url("~@/assets/images/flash-sale/triangle-icon.png") no-repeat 112px center;
            background-size: 16px 16px;
            p{
              font-size: 24px;
              text-align: left;
              line-height: 56px;
              color: #FFFFFF;
              padding-left: 24px;
            }
          }
        }
      }
    }
  }
  .no-data-box {
    height: calc(100vh - 100px);
  }
}
</style>
