<template>
  <div class="my-step">
    <div>
      <!-- 上边文字开始 -->
      <div class="step-text">
        <div class="left" :style="{color: '#44AD7B'}">{{data[0].text}}</div>

        <div class="middle" :style="{color: active > 1 ? '#44AD7B' : ''}">{{data[2].text}}</div>

        <div class="right" :style="{color: active > 3 ? '#44AD7B' : ''}">{{data[4].text}}</div>
      </div>
      <!-- 上边文字结束 -->
      <!-- 中间开始 -->
      <div class="step-icon">
        <div
          class="van-icon-banner"
          v-if="(active - 1) % 2 === 0"
          :style="{left: active === 1 ? '25%' : '75%'}"
        >{{data[active].text}}</div>

        <!-- 背后圆 -->
        <div class="van-circle-bg">
          <span class="icon-left"></span>

          <span class="icon-middle"></span>

          <span class="icon-right"></span>
        </div>

        <!-- 中间线 -->
        <div class="van-line">
          <span :style="{backgroundColor: active > 0 ? '#44AD7B' : ''}"></span>

          <span :style="{backgroundColor: active > 1 ? '#44AD7B' : ''}"></span>

          <span :style="{backgroundColor: active > 2 ? '#44AD7B' : ''}"></span>

          <span :style="{backgroundColor: active > 3 ? '#44AD7B' : ''}"></span>
        </div>

        <!-- 前圆(文字) -->
        <div class="van-icon-content">
          <div class="icon-left" :style="{background: '#44AD7B'}">
            <van-icon name="success"/>
          </div>

          <div class="icon-middle" :style="{backgroundColor: active > 1 ? '#44AD7B' : ''}">
            <van-icon v-if="active > 1" name="success"/>
            <span v-else>2</span>
          </div>

          <div class="icon-right" :style="{backgroundColor: active > 3 ? '#44AD7B' : ''}">
            <van-icon v-if="active > 3" name="success"/>
            <span v-else>3</span>
          </div>
        </div>
      </div>
      <!-- 中间结束 -->
      <!-- 下面时间开始 -->
      <div class="step-time">
        <div class="left">
          <span>{{data[0].time && data[0].time.split(' ')[0]}}</span>

          <span>{{data[0].time && data[0].time.split(' ')[1]}}</span>
        </div>

        <div class="middle" v-if="active > 1">
          <span>{{data[2].time && data[2].time.split(' ')[0]}}</span>

          <span>{{data[2].time && data[2].time.split(' ')[1]}}</span>
        </div>

        <div class="right" v-if="active > 3">
          <span>{{data[4].time && data[4].time.split(' ')[0]}}</span>

          <span>{{data[4].time && data[4].time.split(' ')[1]}}</span>
        </div>
      </div>
      <!-- 下面时间结束 -->
    </div>
  </div>
</template>

<script>
export default {
  name: 'index',
  props: {
    active: {
      // 那一步
      type: Number,
      default: 0
    },
    data: {
      // 数据
      type: Array,
      require: true
    }
    // 格式: [{text: '', time: ''}, {text: ''}, {text: '', time: ''}, {text: ''}, {text: '', time: ''}]
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.my-step {
  padding: 50px 0;

  > div {
    margin: 0 88px;

    > div {
      position: relative;

      &::before,
      &::after {
        content: " ";
        width: 0;
        height: 0;
        display: block;
        overflow: hidden;
        clear: both;
      }

      &.step-text {
        color: #c1c4ca;
        font-size: 24px;
      }

      &.step-icon {
        margin: 24px 0;
        color: white;
        position: relative;
        height: 48px;

        .van-icon-banner {
          width: 126px;
          height: 50px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          position: absolute;
          left: 25%;
          bottom: 32px;
          transform: translate(-50%);
          text-align: center;
          padding-top: 6px;
          box-sizing: border-box;
          font-size: 20px;
          color: #2e3033;

          .bg-img("~@/assets/images/Combined");
        }

        .icon-left {
          left: 0;
          transform: translate(-50%);
        }

        .icon-right {
          right: 0;
          transform: translate(50%);
        }

        .icon-middle {
          right: 50%;
          transform: translate(50%);
        }

        .van-icon-content {
          > div {
            position: absolute;
            top: 6px;
            width: 36px;
            height: 36px;
            border-radius: 50%;
            background: #dfe2e7;
            text-align: center;
            line-height: 36px;
            font-size: 26px;
            z-index: 2;

            @{deep}.van-icon {
              top: 4px;
            }
          }
        }

        .van-line {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          height: 8px;
          background: #dfe2e7;
          margin: auto;
          z-index: 1;

          > span {
            float: left;
            margin-top: 2px;
            height: 4px;
            width: 25%;
          }
        }

        .van-circle-bg {
          > span {
            position: absolute;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            background: #dfe2e7;
            z-index: 0;
          }
        }
      }

      &.step-time {
        color: #8e939a;
        font-size: 22px;

        span {
          text-align: center;
          display: block;
        }
      }

      .left {
        float: left;
        transform: translate(-50%);
      }

      .middle {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
      }

      .right {
        float: right;
        transform: translate(50%);
      }
    }
  }
}
</style>
