<template>
  <div class="evaluate">
    <div class="van-padding-top"></div>

    <!-- 下拉刷新 -->
    <van-pull-refresh v-model="isLoading" @refresh="onRefresh">
      <!-- 筛选条件 -->
      <ul class="label-list">
        <li
          @click.stop="selectLabel(index, 'a', item.type)"
          :class="{selected: index + 'a' === selected}"
          v-for="(item, index) in labelList"
          :key="index + 'type'"
        >{{item.text}}{{index === 0 ? (' ' + (total || 0)) : ''}}</li>
        <li
          @click.stop="selectLabel(index, 'b', item.id)"
          :class="{selected: index + 'b' === selected}"
          v-for="(item, index) in evaluateScore.labelList"
          :key="index + 'item'"
        >{{item.name}} {{item.count}}</li>
      </ul>

      <!-- 上拉加载 -->
      <van-list
        v-model="loading"
        :finished="finished"
        @load="onLoad"
        :offset="200"
        finished-text="没有更多了"
        v-if="data.list && data.list.length"
      >
        <div class="evaluate-list">
          <ul>
            <li v-for="(item, index) in data.list" :key="index + 'eva'">
              <div>
                <span
                  class="format-img"
                  v-lazy:background-image="{ src: item.usrImg && JSON.parse(item.isAnonymity) === false ? allImgDomainName + item.usrImg : '',
                    error: require('@/assets/images/default_profile@2x.png') }"
                ></span>

                <span>{{JSON.parse(item.isAnonymity) ? (item.userName && `${item.userName[0]}**`) : item.userName}}</span>

                <span style="flex: 1;text-align: right;">
                  <van-rate :value="parseInt(item.evaluateGrade)" :size="13" :readonly="true"/>
                </span>
              </div>

              <div style="word-wrap: break-word;">{{item.evaluateContent}}</div>

              <ul class="image-list">
                <li
                  class="format-img"
                  v-for="(child, childIndex) in item.picList"
                  v-lazy:background-image="allImgDomainName + child"
                  :key="childIndex + 'child'"
                  @click="viewPic(childIndex,item.picList)"
                ></li>
                <li
                  class="video-box"
                  v-for="(child, childIndex) in item.videoList"
                  :key="childIndex + 'video'"
                  @click="viewVideo(child)"
                ></li>
              </ul>

              <div
                class="add-box"
                v-if="item.addItemEvaluateList && item.addItemEvaluateList.length"
              >
                <!-- 追加列表 -->
                <div class="add-list">
                  <div class="add-title">追加评论</div>

                  <div
                    v-for="(addItem, addIndex) in item.addItemEvaluateList"
                    :key="addIndex + 'add' + index"
                  >
                    <div style="word-wrap: break-word;">{{addItem.evaluateContent}}</div>
                    <ul class="image-list">
                      <li
                        class="format-img"
                        v-for="(child, childIndex) in addItem.picList"
                        v-lazy:background-image="allImgDomainName + child"
                        :key="childIndex + 'child'"
                        @click="viewPic(childIndex, addItem.picList)"
                      ></li>
                      <li
                        class="video-box"
                        v-for="(child, childIndex) in addItem.videoList"
                        :key="childIndex + 'video'"
                        @click="viewVideo(child)"
                      ></li>
                    </ul>
                  </div>
                </div>

              </div>

              <!-- 商家回复 -->
              <div class="reply-box" v-if="item.replyTxt">【{{shopName}}】的回复：{{item.replyTxt}}</div>

              <div class="grey-text">{{item.label && item.label.join('，')}}</div>

              <div class="grey-text">{{item.createTime}}</div>
            </li>
          </ul>
        </div>
      </van-list>

      <div class="no-data-box" v-else>
        <no-data :loading="requestLoading"></no-data>
      </div>
    </van-pull-refresh>
  </div>
</template>

<script>
import { allImgDomainNameMixin } from '@/assets/js/mixin'
import NoData from '@/components/no-data'

export default {
  name: 'evaluate',
  mixins: [allImgDomainNameMixin],
  props: {
    goodsId: {},
    shopName: {},
    evaluateScore: {},
    total: {},
    data: {},
    requestLoading: {
      type: Boolean,
      default: false
    }
  },
  components: {
    NoData
  },
  methods: {
    // 选择筛选
    selectLabel (index, type, param) {
      if (this.selected === index + type) return

      this.selected = index + type

      this.$emit('selectLabel', type, param)
    },

    // 下拉刷新
    onRefresh () {
      this.$emit('onRefresh')
    },

    // 上拉加载
    onLoad () {
      this.$emit('onLoad')
    },

    viewVideo (path) {
      this.$emit('viewVideo', path)
    },

    viewPic (index, picList) {
      this.$emit('viewPic', index, picList)
    }
  },
  data () {
    return {
      finished: false,
      loading: false,
      isLoading: false,
      evaluate: {
        totalNumber: '',
        list: []
      },
      labels: [],
      selected: '0a',
      pageSize: 10,
      pageNo: 1,
      labelList: [
        {
          text: '全部',
          type: '1'
        },
        {
          text: '好评',
          type: '4'
        },
        {
          text: '中评',
          type: '5'
        },
        {
          text: '差评',
          type: '6'
        },
        {
          text: '图片',
          type: '2'
        },
        {
          text: '追加',
          type: '3'
        }
      ]
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.evaluate {
  .van-padding-top {
    padding-top: 96px;
  }

  .format-img {
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .label-list {
    background: white;
    padding: 24px;
    margin: 16px 0;
    overflow: hidden;

    > li {
      float: left;
      margin-top: 16px;
      margin-right: 16px;
      height: 56px;
      line-height: 56px;
      border-radius: 100px;
      background: rgb(255, 239, 234);
      color: #2e3033;
      font-size: 24px;
      padding: 0 24px;

      &.selected {
        color: white;
        background: linear-gradient(
          90deg,
          rgba(255, 107, 82, 1) 0%,
          rgba(227, 50, 64, 1) 100%
        );
      }
    }
  }

  .evaluate-list {
    margin-top: 16px;
    background: white;
    padding: 30px;
    color: #2e3033;

    > ul {
      > li {
        padding: 30px 0;
        &:first-child {
          padding-top: 0;
        }

        &:not(:last-child) {
          .border-1px(#e8e9eb);
        }

        > div {
          &:first-child {
            display: flex;
            align-items: center;
            line-height: 100%;

            > span {
              display: block;
              font-size: 26px;

              &:first-child {
                width: 75px;
                height: 75px;
                border-radius: 50%;
                margin-right: 20px;
              }
            }
          }

          &:nth-child(2) {
            padding-top: 20px;
            font-size: 26px;
          }

          &.add-box {
            font-size: 28px;

            .add-list {
              padding-top: 35px;

              > div {
                &.add-title {
                  color: #e33240;
                }

                &:not(.add-title) {
                  padding-top: 20px;
                  color: #2e3033;
                  .image-list {
                    > li {
                      width: 120px;
                      height: 120px;
                      &.video-box {
                        &::before {
                          width: 50px;
                          height: 50px;
                          border: 2px solid rgba(255, 255, 255, .7);
                        }
                        &::after {
                          border-left: 18px solid rgba(255, 255, 255, .8);
                          border-top: 11px solid rgba(0,0,0,0);
                          border-bottom: 11px solid rgba(0,0,0,0);
                          margin-left: 56px;
                        }
                      }
                    }
                  }
                }
              }
            }

          }

          &.reply-box {
            font-size: 28px;
            padding-top: 35px;
            color: #5f83aa;
          }

          &.grey-text {
            padding-top: 20px;
            font-size: 24px;
            color: #8e939a;
          }
        }

        .image-list {
          overflow: hidden;

          > li {
            width: 218px;
            height: 218px;
            float: left;
            margin-right: 6px;
            margin-top: 6px;

            &.video-box {
              background: rgb(0, 0, 0);
              position: relative;
              &::before,&::after {
                content: ' ';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
              }
              &::before {
                width: 85px;
                height: 85px;
                background: linear-gradient(to bottom, rgba(255, 255, 255, .6), rgba(255, 255, 255, .4));
                border-radius: 50%;
                margin: auto;
                border: 4px solid rgba(255, 255, 255, .7);
                box-sizing: border-box;
              }
              &::after {
                width: 0;
                height: 0;
                overflow: hidden;
                border-left: 32px solid rgba(255, 255, 255, .8);
                border-top: 20px solid rgba(0,0,0,0);
                border-bottom: 20px solid rgba(0,0,0,0);
                margin: auto;
                margin-left: 98px;
              }
            }
          }
        }
      }
    }
  }
}
</style>
