<template>
  <van-action-sheet class="channel-selection-box" v-model="actionSheetShow" title="请选择门店" @close="close">
    <van-collapse v-model="activeName">
      <van-collapse-item v-for="(item, index) in list" :key="index" :name="index">
        <div slot="title" class="title">{{item.key}}</div>
        <div class="content">
          <span
            v-for="(channelItem, channelIndex) in item.value"
            :key="'channel - ' + channelIndex"
            :class="{'active': channel.currentChannel && channelItem.channelId === channel.currentChannel.channelId}"
            @click.stop="changeChannel(channelItem)"
          >{{channelItem.storeName || channelItem.channelName}}<van-icon v-if="channel.currentChannel && channelItem.channelId === channel.currentChannel.channelId" name="success" size="0.4rem"/>
          </span>
        </div>
      </van-collapse-item>
    </van-collapse>
  </van-action-sheet>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import { formatDataByGroup } from '@/utils/common'

export default {
  name: 'channel-selection-box',
  props: {
    show: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      actionSheetShow: false, // 展示动作面板
      activeName: [] // 折叠板当前展开面板name
    }
  },
  computed: {
    ...mapGetters(['allChannel', 'channel', 'region']),
    // 服务部列表
    list () {
      if (this.allChannel && this.allChannel.length) {
        let allChannel = JSON.parse(JSON.stringify(this.allChannel)) // 深拷贝
        // 根据汉字首字母排序 - 门店名称/渠道名称
        allChannel.sort((a, b) => a.storeName ? a.storeName.localeCompare(b.storeName || b.channelName, 'zh') : a.channelName.localeCompare(b.storeName || b.channelName, 'zh'))
        // 根据销售区域名称分类
        let formatByGroup = formatDataByGroup(allChannel.slice(0, allChannel.length), 'salesAreaName')
        // 根据汉字首字母排序 - 销售区域名称
        formatByGroup.sort((a, b) => a.key.localeCompare(b.key))
        // 将销售区域“其他”放到最后
        formatByGroup.push(...formatByGroup.splice(formatByGroup.findIndex(v => v.key === '其它'), 1))
        return formatByGroup
      }
      return []
    }
  },
  watch: {
    show (val) {
      if (val) {
        this.actionSheetShow = true

        for (let i = 0; i < this.list.length; i++) {
          for (let j = 0; j < this.list[i].value.length; j++) {
            if (this.list[i].value[j].channelId === this.channel.currentChannel.channelId && !this.activeName.includes(i)) {
              this.activeName.push(i)
            }
          }
        }
      }
    },
    list: {
      handler (val) {
        for (let i = 0; i < val.length; i++) {
          for (let j = 0; j < val[i].value.length; j++) {
            if (this.channel.currentChannel && val[i].value[j].channelId === this.channel.currentChannel.channelId) {
              this.activeName.push(i)
            }
          }
        }
      },
      immediate: true
    }
  },
  methods: {
    ...mapActions(['setChannel', 'setRegion']),
    close () {
      this.$emit('close')
    },
    changeChannel (item) {
      try {
        this.$emit('change', item)
        this.setChannel({ data: item, flag: 'update' })

        // 根据渠道筛选地区
        this.setRegion({
          data: this.region.data.find(itm => {
            return itm.name.indexOf(item.channelAreaName.split('_')[0]) > -1
          }),
          flag: 'update'
        })
      } finally {
        location.reload(true)
      }
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.channel-selection-box {
  height: 80%;
  @{deep}.van-collapse-item {
    .title {

    }
    .content {
      span {
        display: inline-block;
        padding: 6px 12px;
        border: 1px solid #979797;
        border-radius: 10px;
        margin: 0 20px 20px 0;
        &.active {
          color: #e33240;
          border-color: #e33240;
        }
        .van-icon-success {
          vertical-align: text-bottom;
        }
      }
    }
  }
}
</style>
