<template>
  <div class="icon-routing">
    <van-swipe :loop="false" touchable @change="changeSwipeIndex">
      <van-swipe-item v-for="(groupingItem, groupingIndex) in swipeList" :key="groupingIndex">
        <div class="navigation-bar" v-for="(item, index) in groupingItem" :key="index" @click="seeMoreCategories(item)">
          <div class="navigation-bar-content">
            <img :src="item.icon"/>
            <p>{{item.name}}</p>
          </div>
        </div>
      </van-swipe-item>

      <!--自定义小圆点-->
      <div class="custom-indicator" slot="indicator">
        <ul class="indicator-list">
          <li
            class="indicator-item"
            v-for="(item, index) in swipeList"
            :key="index"
            :class="{'active': swipeIndex === index}"
          ></li>
        </ul>
      </div>
    </van-swipe>
  </div>
</template>

<script>
// import { api } from '@/api'
import { getCookie, arrayGroupingByQuantity } from '@/utils/common'

export default {
  name: 'icon-routing',
  data () {
    return {
      token: null, // 用户凭证
      swipeIndex: 0, // 轮播下标
      menuList: [ // 菜单
        {
          icon: require('@/assets/images/index-2/makeorder.svg'),
          name: '快速下单'
        },
        {
          icon: require('@/assets/images/index-2/payment.svg'),
          name: '货物付款'
        },
        {
          icon: require('@/assets/images/index-2/contract.svg'),
          name: '我的合约'
        },
        {
          icon: require('@/assets/images/index-2/money.svg'),
          name: '余额'
        },
        {
          icon: require('@/assets/images/index-2/bidding.svg'),
          name: '竞价'
        },
        {
          icon: require('@/assets/images/index-2/assemble.svg'),
          name: '拼团'
        },
        {
          icon: require('@/assets/images/index-2/seckill.svg'),
          name: '秒杀'
        },
        {
          icon: require('@/assets/images/index-2/special-sale.svg'),
          name: '特价销售'
        },
        {
          icon: require('@/assets/images/index-2/follow.svg'),
          name: '关注'
        },
        {
          icon: require('@/assets/images/index-2/coupon-icon.svg'),
          name: '优惠券'
        },
        {
          icon: require('@/assets/images/index-2/customer-feedback.svg'),
          name: '意见反馈'
        },
        {
          icon: require('@/assets/images/index-2/logistics.svg'),
          name: '物流申请'
        },
        {
          icon: require('@/assets/images/index-2/help-center.svg'),
          name: '帮助中心'
        },
        {
          icon: require('@/assets/images/index-2/more.svg'),
          name: '更多'
        }
      ],
      swipeList: [] // 轮播列表
    }
  },
  created () {
    if (!this.token) {
      this.token = sessionStorage.getItem('token')
    }

    this.swipeList = arrayGroupingByQuantity(this.menuList, 8)
  },
  methods: {
    // 修改轮播图索引
    changeSwipeIndex (index) {
      this.swipeIndex = index
    },
    // 查看更多分类
    seeMoreCategories (item) {
      if (item.name === '快速下单') {
        if (this.token) {
          if (JSON.parse(getCookie('selectedChannel')).channelId) {
            this.$router.push({
              name: 'quickOrder',
              query: {
                ownerId: JSON.parse(getCookie('selectedChannel')).channelId,
                ownerName: JSON.parse(getCookie('selectedChannel')).channelName,
                storeName: JSON.parse(getCookie('selectedChannel')).storeName,
                ownerType: JSON.parse(getCookie('selectedChannel')).channelType
              }
            })
          } else {
            this.$toast('请先申请买卖关系')
          }
        } else {
          this.$toast('请先登录')
          this.$router.push({ path: '/loginRandom', query: { redirect: this.$route.fullPath } })
        }
      } else if (item.name === '竞价') {
        this.$router.push('/robbing')
      } else if (item.name === '拼团') {
        this.$router.push('/groupBuying')
      } else if (item.name === '秒杀') {
        this.$router.push({
          name: 'flashSale',
          query: { active: 0 }
        })
      } else if (item.name === '货物付款') {
        this.$router.push('/selfServiceDeliveryList')
      } else if (item.name === '我的合约') {
        this.$router.push('/myAgreement')
      } else if (item.name === '关注') {
        this.$router.push('/myConcern')
      } else if (item.name === '优惠券') {
        this.$router.push('/preferential')
      } else if (item.name === '更多') {
        this.$router.push({ path: '/moreCategories' })
      } else if (item.name === '余额') {
        this.$router.push({
          path: '/fund',
          query: { active: 0 }
        })
      } else if (item.name === '帮助中心') {
        this.$router.push('/helpCenter')
      } else if (item.name === '意见反馈') {
        this.$router.push('/customerFeedbackSwitchType')
      } else if (item.name === '特价销售') {
        this.$router.push('/specialSaleList')
      } else if (item.name === '物流申请') {
        this.$router.push('/logisticsLineList')
      }
    }
  }
}
</script>

<style lang="less" scoped>
.icon-routing{
  width: 722px;
  overflow: hidden;
  margin: 0 auto;
  .van-swipe{
    width: 100%;
    height: 304px;
    .van-swipe-item {
      .navigation-bar {
        width: 25%;
        height: 130px;
        float: left;
        .navigation-bar-content {
          width: 120px;
          height: 100%;
          margin: 0 auto;
          text-align: center;
          img {
            display: inline-block;
            margin-top: 20px;
            width: 76px;
            height: 76px;
          }
          p {
            line-height: 28px;
            font-size: 24px;
            text-align: center;
            color: #0C0C0C;
            max-height: 48px;
            -webkit-line-clamp: 2; // 限制文本的行数，只显示两行
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: clip;
            word-wrap: break-word;
            word-break: break-all;
          }
        }
      }
    }
    .custom-indicator {
      width: 100%;
      height: 4px;
      position: absolute;
      left: 0;
      bottom: 10px;
      .indicator-list {
        display: flex;
        justify-content: center;
        .indicator-item {
          width: 10px;
          height: 4px;
          background: #1C1C1C;
          opacity: 0.6;
          margin-left: 5px;
          margin-right: 5px;
          border-radius: 1px;
          /*transition: width .3s;*/
          &.active {
            width: 24px;
            height: 4px;
            background: #3E2D01;
            border-radius: 1px;
            opacity: 0.9;
            transition: width 0.3s;
          }
        }
      }
    }
  }
}
</style>
