<template>
  <div class="icon-routing">
    <van-swipe :loop="false" touchable @change="changeSwipeIndex">
      <van-swipe-item v-for="(groupingItem, groupingIndex) in swipeList" :key="groupingIndex">
        <div class="navigation-bar" v-for="(item, index) in groupingItem" :key="index" @click="seeMoreCategories(item)">
          <div class="navigation-bar-content">
            <i class="icon" :class="item.icon"></i>
            <p>{{item.name}}</p>
          </div>
        </div>
      </van-swipe-item>

      <!--自定义小圆点-->
      <div class="custom-indicator" slot="indicator">
        <ul class="indicator-list">
          <li
            class="indicator-item"
            v-for="(item, index) in swipeList"
            :key="index"
            :class="{'active': swipeIndex === index}"
          ></li>
        </ul>
      </div>
    </van-swipe>
  </div>
</template>

<script>
// import { api } from '@/api'
import { getCookie, arrayGroupingByQuantity } from '@/utils/common'

export default {
  name: 'icon-routing',
  data () {
    return {
      token: null, // 用户凭证
      swipeIndex: 0, // 轮播下标
      menuList: [ // 菜单
        {
          icon: 'quick-order',
          name: '快速下单'
        },
        {
          icon: 'bidding',
          name: '竞 价',
          route: {
            path: '/robbing'
          }
        },
        {
          icon: 'special-sale',
          name: '特 价',
          route: {
            path: '/specialSaleList'
          }
        },
        {
          icon: 'collection',
          name: '收 藏',
          route: {
            path: '/myConcern'
          }
        },
        {
          icon: 'goods-payment',
          name: '货物付款',
          route: {
            path: '/selfServiceDeliveryList',
            query: { active: 0 }
          }
        },
        {
          icon: 'coupon',
          name: '优惠券',
          route: {
            path: '/preferential'
          }
        },
        {
          icon: 'logistics-application',
          name: '物流申请',
          route: {
            path: '/logisticsLineList'
          }
        },
        {
          icon: 'my-contract',
          name: '我的合约',
          route: {
            path: '/myAgreement'
          }
        },
        {
          icon: 'balance',
          name: '余 额',
          route: {
            path: '/fund',
            query: { active: 0 }
          }
        },
        {
          icon: 'feedback',
          name: '意见反馈',
          route: {
            path: '/customerFeedbackSwitchType'
          }
        },
        {
          icon: 'group-buying',
          name: '拼 团',
          route: {
            path: '/groupBuying'
          }
        },
        {
          icon: 'flash-sale',
          name: '秒 杀',
          route: {
            path: '/flashSale',
            query: { active: 0 }
          }
        },
        {
          icon: 'help-center',
          name: '帮助中心',
          route: {
            path: '/helpCenter'
          }
        },
        {
          icon: 'more',
          name: '更 多',
          route: {
            path: '/moreCategories'
          }
        }
      ],
      swipeList: [] // 轮播列表
    }
  },
  created () {
    if (!this.token) {
      this.token = sessionStorage.getItem('token')
    }

    this.swipeList = arrayGroupingByQuantity(this.menuList, 8)
  },
  methods: {
    // 修改轮播图索引
    changeSwipeIndex (index) {
      this.swipeIndex = index
    },
    // 查看更多分类
    seeMoreCategories (item) {
      if (item.name === '快速下单') {
        if (this.token) {
          if (JSON.parse(getCookie('selectedChannel')).channelId) {
            this.$router.push({
              name: 'quickOrder',
              query: {
                ownerId: JSON.parse(getCookie('selectedChannel')).channelId,
                ownerName: JSON.parse(getCookie('selectedChannel')).channelName,
                storeName: JSON.parse(getCookie('selectedChannel')).storeName,
                ownerType: JSON.parse(getCookie('selectedChannel')).channelType
              }
            })
          } else {
            this.$toast('请先申请买卖关系')
          }
        } else {
          this.$toast('请先登录')
          this.$router.push({ path: '/loginRandom', query: { redirect: this.$route.fullPath } })
        }
        return
      }

      this.$router.push({ path: item.route.path, query: item.route.query || {}, params: item.route.params || {} })
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.icon-routing{
  width: 722px;
  overflow: hidden;
  margin: 0 auto;
  background: #ffffff;
  border-radius: 10px;
  .van-swipe{
    width: 100%;
    height: 304px;
    .van-swipe-item {
      .navigation-bar {
        width: 25%;
        height: 130px;
        float: left;
        .navigation-bar-content {
          width: 120px;
          height: 100%;
          margin: 0 auto;
          text-align: center;
          .icon {
            display: inline-block;
            width: 76px;
            height: 76px;
            margin-top: 18px;
            background-size: 100% 100%;
            background-position: center;
            background-repeat: no-repeat;
            &.quick-order {
              .bg-img("~@/assets/images/new-version/home/quick-order");
            }
            &.bidding {
              .bg-img("~@/assets/images/new-version/home/bidding");
            }
            &.group-buying {
              .bg-img("~@/assets/images/new-version/home/group-buying");
            }
            &.flash-sale {
              .bg-img("~@/assets/images/new-version/home/flash-sale");
            }
            &.goods-payment {
              .bg-img("~@/assets/images/new-version/home/goods-payment");
            }
            &.my-contract {
              .bg-img("~@/assets/images/new-version/home/my-contract");
            }
            &.balance {
              .bg-img("~@/assets/images/new-version/home/balance");
            }
            &.coupon {
              .bg-img("~@/assets/images/new-version/home/coupon");
            }
            &.special-sale {
              .bg-img("~@/assets/images/new-version/home/special-sale");
            }
            &.collection {
              .bg-img("~@/assets/images/new-version/home/collection");
            }
            &.feedback {
              .bg-img("~@/assets/images/new-version/home/feedback");
            }
            &.logistics-application {
              .bg-img("~@/assets/images/new-version/home/logistics-application");
            }
            &.help-center {
              .bg-img("~@/assets/images/new-version/home/help-center");
            }
            &.more {
              .bg-img("~@/assets/images/new-version/home/more");
            }
          }
          p {
            margin-top: 4px;
            line-height: 28px;
            font-size: 24px;
            text-align: center;
            color: #0C0C0C;
            max-height: 48px;
            overflow: hidden;
            text-overflow: clip;
            white-space: nowrap;
            // -webkit-line-clamp: 2; // 限制文本的行数，只显示两行
            // -webkit-box-orient: vertical;
            // overflow: hidden;
            // text-overflow: clip;
            // word-wrap: break-word;
            // word-break: break-all;
          }
        }
      }
    }
    .custom-indicator {
      width: 100%;
      height: 4px;
      position: absolute;
      left: 0;
      bottom: 16px;
      .indicator-list {
        display: flex;
        justify-content: center;
        .indicator-item {
          width: 50px;
          height: 4px;
          background: #CCCCCC;
          opacity: 0.6;
          &:first-child {
            border-top-left-radius: 1px;
            border-bottom-left-radius: 1px;
          }
          &:last-child {
            border-top-right-radius: 1px;
            border-bottom-right-radius: 1px;
          }
          &.active {
            background: #999999;
            opacity: 0.9;
            transition: width .5s;
          }
        }
      }
    }
  }
}
</style>
