<template>
  <div class="index-search">
    <search-bar disabled @showSearchPage="showSearchPage = true" :hasLeft="false" :style="{'background-color': `rgba(255, 255, 255, ${bgOpacity})`}">
      <div class="select-group" slot="right">
        <div
          v-if="!token && (region.data && region.data.length > 0)"
          class="select-item region"
          @click="showRegion = true"
        >{{region.current.name}}<van-icon :name="showRegion ? 'arrow-up' : 'arrow-down'"/>
        </div>
        <div
          v-if="token && (channel.list && channel.list.length > 0)"
          class="select-item channel"
          @click="showChannel = true"
        >{{channel.currentChannel.storeName || channel.currentChannel.channelName}}<van-icon :name="showChannel ? 'arrow-up' : 'arrow-down'"/>
        </div>
      </div>
    </search-bar>

    <!-- 地区弹出框 -->
    <van-action-sheet
      v-if="region.data && region.data.length > 0"
      v-model="showRegion"
      cancel-text="取消"
      @cancel="showRegion = false"
    >
      <div class="selection-box">
        <div class="selection-box-title">选择省份</div>
        <div class="selection-box-content">
          <ul>
            <li v-for="(item, index) in region.data" :key="index" @click="_changeRegion(item, index)">{{item.name}}</li>
          </ul>
        </div>
      </div>
    </van-action-sheet>

    <!-- 服务部弹出框 -->
    <!-- <van-action-sheet
      v-if="token && (channel.list && channel.list.length > 0)"
      v-model="showChannel"
      cancel-text="取消"
      @cancel="showChannel = false"
    >
      <div class="selection-box">
        <div class="selection-box-title">选择店铺</div>
        <div class="selection-box-content">
          <ul>
            <li v-for="(item, index) in channel.list" :key="index"  @click="_changeChannel(item)">{{item.channelName}}</li>
          </ul>
        </div>
      </div>
    </van-action-sheet> -->

    <!-- 新服务部弹出框 -->
    <channel-selection-box :show="showChannel" @close="closeChannelSelectionBox"></channel-selection-box>

    <!-- search-page start-->
    <transition name="fade">
      <div class="search-page" v-if="showSearchPage">
        <search @back="showSearchPage = false"></search>
      </div>
    </transition>
    <!-- search-page end-->
  </div>
</template>

<script>
import SearchBar from '@/components/search-bar/index'
import Search from '@/components/search/search'
import ChannelSelectionBox from '@/components/index-2/channel-selection-box'
import { mapGetters } from 'vuex'

export default {
  name: 'index-search',
  props: {
    bgOpacity: {
      type: Number,
      default: 0
    }
  },
  data () {
    return {
      token: null, // 用户凭证
      showSearchPage: false, // 显示搜索页
      showRegion: false, // 显示地区选择
      showChannel: false // 显示服务部选择框
    }
  },
  computed: {
    ...mapGetters(['channel', 'region'])
  },
  created () {
    if (!this.token) {
      this.token = sessionStorage.getItem('token')
    }
  },
  methods: {
    _changeRegion (item, index) {
      this.showRegion = false
      this.$emit('selectRegion', item, index)
    },
    _changeChannel (item, index) {
      this.showChannel = false
      this.$emit('selectChannel', item, index)
    },
    closeChannelSelectionBox () {
      this.showChannel = false
    }
  },
  components: {
    SearchBar,
    Search,
    ChannelSelectionBox
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.index-search {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  @{deep} .search-bar {
    height: 88px;
    .center {
      &::before {
        width: 36px;
        height: 36px;
        top: 50%;
        transform: translateY(-50%);
      }
      .search-input-wrapper {
        height: 56px;
        margin-top: 16px;
        border-radius: 16px;
      }
    }
    .right {
      max-width: 450px;
      .select-group {
        height: 100%;
        display: flex;
        justify-items: center;
        .select-item {
          line-height: 88px;
          flex: 1;
          margin-left: 30px;
          padding-right: 28px;
          text-align: right;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          position: relative;
          .van-icon {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            font-size: 24px;
            font-weight: 600;
          }
          &.region {
            min-width: 86px;
          }
          &.channel {
            flex: 3;
          }
        }
      }
    }
  }

  .selection-box {
    width: 100%;
    height: 750px;
    .selection-box-title {
      width: 100%;
      height: 94px;
      border-bottom: 1px solid #d4d4d4;
      font-size: 24px;
      text-align: center;
      line-height: 94px;
      color: #666;
      box-sizing: border-box;
    }
    .selection-box-content {
      width: 100%;
      height: 666px;
      ul {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        li {
          width: 100%;
          height: 94px;
          color: #48484a;
          font-size: 26px;
          font-weight: 600;
          text-align: center;
          line-height: 94px;
        }
      }
    }
  }

  .search-page {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 99;
  }
}
</style>
