<template>
  <div class="index-search">
    <div class="channel-wrap">
      <!-- <div class="channel-wrap__left">
        <i class="logo" @click="showVconsole"></i>
      </div> -->
      <div class="channel-wrap__right" v-if="token && (channel.list && channel.list.length > 0)" @click="showChannel = true">
        <van-icon name="location" />
        <div class="channel">{{channel.currentChannel.storeName || channel.currentChannel.channelName}}</div>
        <van-icon :name="showChannel ? 'arrow-up' : 'arrow-down'"/>
      </div>
    </div>
    <search-bar
      disabled
      :hasLeft="false"
      :hasRight="false"
      :style="{'background-color': `rgba(255, 255, 255, ${bgOpacity})`}"
      @showSearchPage="showSearchPage = true">
    </search-bar>

    <!-- 地区弹出框 -->
    <van-action-sheet
      v-if="region.data && region.data.length > 0"
      v-model="showRegion"
      cancel-text="取消"
      @cancel="showRegion = false"
    >
      <div class="selection-box">
        <div class="selection-box-title">选择省份</div>
        <div class="selection-box-content">
          <ul>
            <li v-for="(item, index) in region.data" :key="index" @click="_changeRegion(item, index)">{{item.name}}</li>
          </ul>
        </div>
      </div>
    </van-action-sheet>

    <!-- 服务部弹出框 -->
    <!-- <van-action-sheet
      v-if="token && (channel.list && channel.list.length > 0)"
      v-model="showChannel"
      cancel-text="取消"
      @cancel="showChannel = false"
    >
      <div class="selection-box">
        <div class="selection-box-title">选择店铺</div>
        <div class="selection-box-content">
          <ul>
            <li v-for="(item, index) in channel.list" :key="index"  @click="_changeChannel(item)">{{item.channelName}}</li>
          </ul>
        </div>
      </div>
    </van-action-sheet> -->

    <!-- 新服务部弹出框 -->
    <channel-selection-box :show="showChannel" @close="closeChannelSelectionBox"></channel-selection-box>

    <!-- search-page start-->
    <transition name="fade">
      <div class="search-page" v-if="showSearchPage">
        <search @back="showSearchPage = false"></search>
      </div>
    </transition>
    <!-- search-page end-->
  </div>
</template>

<script>
import SearchBar from '@/components/search-bar/index-2'
import Search from '@/components/search/search'
import ChannelSelectionBox from '@/components/index-2/channel-selection-box'
import { mapGetters } from 'vuex'

export default {
  name: 'index-search',
  props: {
    bgOpacity: {
      type: Number,
      default: 0
    }
  },
  data () {
    return {
      token: null, // 用户凭证
      showSearchPage: false, // 显示搜索页
      showRegion: false, // 显示地区选择
      showChannel: false, // 显示服务部选择框
      fastClickCount: 0, // 快速点击计数器
      lastClickTime: 0 // 快速点击上一次点击时间
    }
  },
  computed: {
    ...mapGetters(['channel', 'region'])
  },
  created () {
    if (!this.token) {
      this.token = sessionStorage.getItem('token')
    }
  },
  methods: {
    _changeRegion (item, index) {
      this.showRegion = false
      this.$emit('selectRegion', item, index)
    },
    _changeChannel (item, index) {
      this.showChannel = false
      this.$emit('selectChannel', item, index)
    },
    closeChannelSelectionBox () {
      this.showChannel = false
    },
    // 显示vconsole调试工具
    showVconsole () {
      const nowTime = new Date().getTime()
      if (nowTime - this.lastClickTime < 1000) {
        this.fastClickCount++
      } else {
        this.fastClickCount = 0
      }
      this.lastClickTime = nowTime
      if (this.fastClickCount >= 10) {
        let vconDom = document.getElementById('__vconsole')
        vconDom && (vconDom.style.display = 'block')
        this.fastClickCount = 0
      }
    }
  },
  components: {
    SearchBar,
    Search,
    ChannelSelectionBox
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.index-search {
  width: 100%;
  margin-bottom: 4px;
  // position: fixed;
  // top: 0;
  // left: 0;
  // z-index: 2;
  .channel-wrap {
    height: 40px;
    padding: 0 28px 0 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__left {
      display: flex;
      align-items: center;
      .logo {
        display: inline-block;
        width: 270px;
        height: 62px;
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        .bg-img("~@/assets/images/new-version/home/wens-logo");
      }
    }
    &__right {
      max-width: 300px;
      display: flex;
      align-items: center;
      color: #ffffff;
      .van-icon {
        flex-shrink: 0;
        &.van-icon-location {
          font-size: 40px;
          margin-right: 10px;
        }
        &.van-icon-arrow-down, &.van-icon-arrow-up {
          margin-left: 12px;
          vertical-align: text-bottom;
        }
      }
      .channel {
        font-size: 30px;
        display: -webkit-box;
        -webkit-line-clamp: 2; // 限制文本的行数，只显示两行
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
        word-break: break-all;
      }
    }
  }

  .selection-box {
    width: 100%;
    height: 750px;
    .selection-box-title {
      width: 100%;
      height: 94px;
      border-bottom: 1px solid #d4d4d4;
      font-size: 24px;
      text-align: center;
      line-height: 94px;
      color: #666;
      box-sizing: border-box;
    }
    .selection-box-content {
      width: 100%;
      height: 666px;
      ul {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        li {
          width: 100%;
          height: 94px;
          color: #48484a;
          font-size: 26px;
          font-weight: 600;
          text-align: center;
          line-height: 94px;
        }
      }
    }
  }

  .search-page {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 99;
  }
}
</style>
