<template>
  <div class="information-center">
    <div class="wrapper" v-for="(listItem, listIndex) in columnList.slice(0, 2)" :key="'column-list-' + listIndex" v-if="listItem.infoList && listItem.infoList.length">
      <div class="top headline" :class="[{'headline': listItem.name === '温氏头条'}, {'personal': listItem.name === '个人相关'}]">
        <p class="title">{{listItem.name}}</p>
        <span class="more" @click="_toInformation(listItem)">更多<van-icon name="arrow"/></span>
      </div>
      <div class="content">
        <div class="box" v-for="(item, index) in listItem.infoList" :key="'column-info-list-' + index" @click="seeInformationDetails(item)">
          <div class="box-left">
            <div class="img" v-if="item.logo && item.logo.trim()">
              <img v-lazy="allImgDomainName + item.logo" alt>
            </div>
            <span>{{item.name}}</span>
          </div>
          <div class="box-right">{{item.createTime.split(' ')[0] && item.createTime.split(' ')[0].substring(5)}}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { allImgDomainNameMixin } from '@/assets/js/mixin'

export default {
  name: 'information-center',
  mixins: [allImgDomainNameMixin],
  props: {
    columnList: {
      type: Array,
      default: () => ([]),
      required: true
    }
  },
  data () {
    return {

    }
  },
  mounted () {},
  methods: {
    // 查看详情
    seeInformationDetails (item) {
      this.$emit('seeInformationDetails', item)
    },
    _toInformation (item) {
      this.$emit('toInformation', item.id, item.name)
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.information-center{
  width: 722px;
  overflow: hidden;
  margin: 0 auto;
  .wrapper {
    background-color: #FFFFFF;
    overflow: hidden;
    &:first-child {
      margin-top: 10px;
      border-top-left-radius: 22px;
      border-top-right-radius: 22px;
    }
    &:last-child {
      margin-bottom: 8px;
      border-bottom-right-radius: 22px;
      border-bottom-left-radius: 22px;
    }
    .top {
      width: 100%;
      overflow: hidden;
      background-size: 22px 30px;
      margin-bottom: 10px;
      &.headline {
        background: url("~@/assets/images/index-2/headlines.svg") no-repeat 22px 16px;
      }
      &.personal {
        background: url("~@/assets/images/index-2/personAbout.svg") no-repeat 22px 16px;
      }
      .title {
        float: left;
        font-size: 28px;
        font-family: PingFangSC-Medium, PingFang SC;
        color: #333333;
        padding: 16px 0px 0px 72px;
        font-weight: 600;
      }
      .more {
        float: right;
        width: 90px;
        font-size: 24px;
        color:rgba(153,153,153,1);
        padding-top: 26px;
        i {
          font-size: 24px;
          color: #999999;
          vertical-align: middle;
          margin-left: 6px;
        }
      }
    }
    .content {
      width: 722px;
      min-height: 114px;
      .box {
        margin-bottom: 24px;
        padding: 0 22px 0 18px;
        height: 90px;
        .box-left {
          width: 582px;
          float: left;
          .img {
            float: left;
            width: 120px;
            height: 90px;
            margin-right: 22px;
            img {
              width: 120px;
              height: 90px;
              border-radius: 8px;
            }
          }
          span {
            float: left;
            width: 440px;
            height: 80px;
            line-height: 40px;
            font-size: 28px;
            font-family: PingFangSC-Regular, PingFang SC;
            color: #333333;
            padding-top: 6px;
            display: -webkit-box;
            -webkit-line-clamp: 2; // 限制文本的行数，只显示两行
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            word-wrap: break-word;
            word-break: break-all;
            &:nth-last-child(1):first-child {
              width: 100%;
            }
          }
        }
        .box-right {
          margin-top: 12px;
          width: 68px;
          height: 34px;
          line-height: 34px;
          float: right;
          font-size: 24px;
          color:rgba(153,153,153,1);
        }
      }
    }
  }
}
</style>
