<template>
  <div class="information-center">
    <div class="model">
    <van-cell-group>
  <van-field
    value="{{ username }}"
    label="用户名"
    placeholder="请输入用户名"
    error
  />
  <van-field
    value="{{ phone }}"
    label="手机号"
    placeholder="请输入手机号"
    error-message="手机号格式错误"
    border="{{ false }}"
  />
</van-cell-group>
    </div>
  </div>
</template>

<script>
import { allImgDomainNameMixin } from '@/assets/js/mixin'
import specialSaleDetails from '../../views/special-sale/special-sale-details.vue'

export default {
  components: { specialSaleDetails },
  name: 'information-center',
  mixins: [allImgDomainNameMixin],
  props: {
    
  },
  data () {
    
    return {
     //
    }
  },
  //
  mounted () {

  },
    methods: {
      
    }
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.information-center{
  width: 722px;
  height: 600px;
  overflow: hidden;
  margin: 0 auto;
  .wrapper {
    background-color: #FFFFFF;
    overflow: hidden;
    border-radius: 10px;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    &:first-child {
      margin-top: 10px;
    }
    &:not(:last-child) {
      border-bottom: 1px solid #EAEAEA;
    }
    .top {
      padding: 16px 16px 18px 26px;
      // margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      overflow: hidden;
      &__center {
        flex: 1;
        @{deep}.van-notice-bar {
          height: 42px;
          padding: 0 10px;
          background-color: transparent;
          color: #E50712;
          font-size: 26px;
          .van-notice-bar__wrap {
            .van-notice-bar__content {
              .notice-swipe {
                height: 42px;
                // line-height: 42px;
              }
            }
          }
        }
      }
      .icon-title {
        display: inline-block;
        width: 144px;
        height: 34px;
        flex: 0 0 144px;
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        &.headlines {
          .bg-img("~@/assets/images/new-version/home/headlines");
        }
        &.personal {
          .bg-img("~@/assets/images/new-version/home/personal-information");
        }
      }
      .title {
        font-size: 32px;
        font-family: PingFangSC-Medium, PingFang SC;
        color: #333333;
        font-weight: 600;
      }
      .more {
        flex-shrink: 0;
        font-size: 30px;
        color:#999999;
        i {
          font-size: 28px;
          color: #999999;
          vertical-align: middle;
          margin-left: 6px;
        }
      }
      .less {
          flex-shrink: 0;
          font-size: 50px;
          color:red;
          margin-right: 6px;
        }
    }
 
    .content {
      width: 722px;
      min-height: 110px;
      .box {
        margin: 0 22px 0 18px;
        padding: 18px 0 20px 0;
        height: 90px;
        display: flex;
        &:not(:last-child) {
          .border-1px(#E5E5E5);
        }
        .box-left {
          min-width: 546px;
          display: flex;
          flex-flow: column;
          .title {
            margin-top: 6px;
            height: 40px;
            line-height: 40px;
            font-size: 28px;
            font-family: PingFangSC-Regular, PingFang SC;
            color: #535353;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-break: break-all;
          }
          .date {
            margin-top: 4px;
            height: 34px;
            line-height: 34px;
            font-size: 24px;
            color: #999999;
          }
        }
        .box-right {
          flex-shrink: 0;
          img {
            width: 112px;
            height: 84px;
            margin-left: 24px;
            border-radius: 4px;
          }
        }
      }
    }}}
</style>
