<template>
  <van-popup :close-on-click-overlay="false" v-model="up" class="picture-pop-up">
    <div class="picture-pop-up-wrap">
      <div class="item-title">
        <span>{{title}}</span>
      </div>

      <!-- <van-swipe class="my-swipe" :duration="200" :loop="false" :lazy-render="true" @change="onChange">
        <van-swipe-item v-for="(image, index) in picList" :key="index" @click="viewPicDetail(index)">
          <img v-lazy="image" />
        </van-swipe-item>
      </van-swipe> -->
      <div class="img-wrap">
        <div class="arrow-left"></div>
        <div class="arrow-right"></div>

        <div class="img-wrap-content">
          <div class="img-wrap-track" :style="{width: picList.length * 614 / 75 + 'rem'}">
            <div class="img-wrap-item" v-for="(image, index) in picList" :key="index" @click="viewPicDetail(index)">
              <img v-lazy="image" />
            </div>
          </div>
        </div>
      </div>

      <div class="describe">本图仅供参考，提货以实货为准</div>

      <div class="close-btn" @click="onClose"><van-icon name="cross" /></div>
    </div>
  </van-popup>
</template>

<script>
import { ImagePreview } from 'vant'
import { allImgDomainNameMixin } from '@/assets/js/mixin'

export default {
  name: 'picture-popup',
  mixins: [allImgDomainNameMixin],
  props: {
    show: {
      type: Boolean,
      default: false
    },
    title: {
      type: String,
      default: ''
    },
    picList: {
      type: Array,
      default: () => ([])
    }
  },
  data () {
    return {
      up: false // 弹出
    }
  },
  watch: {
    show (val) {
      this.up = val
    }
  },
  methods: {
    onChange (index) {

    },
    onClose () {
      this.$emit('close')
    },
    // 图片预览
    viewPicDetail (index) {
      ImagePreview({
        images: [this.picList[index]],
        showIndex: false,
        closeable: true
      })
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.picture-pop-up {
  overflow-y: visible;
  background-color: transparent;
  .picture-pop-up-wrap {
    box-sizing: border-box;
    width: 670px;
    height: 600px;
    padding: 0 28px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.15);
    position: relative;
    .item-title {
      height: 120px;
      display: flex;
      align-items: center;
      overflow: hidden;
      span {
        max-height: 90px;
        font-size: 36px;
        font-weight: bold;
      }
    }
    .my-swipe {
      height: 380px;
      .van-swipe-item {
        line-height: 300px;
        text-align: center;
        > img {
          display: block;
          box-sizing: border-box;
          width: 100%;
          height: 380px;
          background-color: #fff;
          pointer-events: none;
        }
      }
    }
    .img-wrap {
      position: relative;
      @keyframes breathe {
        0% {
          transform: scale(1);
          opacity: 0.7;
        }
        50% {
          transform: scale(1.2);
          opacity: 1;
        }
        100% {
          transform: scale(1);
          opacity: 0.7;
        }
      }
      .arrow-left, .arrow-right {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 64px;
        height: 64px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        animation: breathe 1s infinite;
      }
      .arrow-left {
        left: 0;
        background-image: url('~@/assets/images/new-version/common/double-arrow-left.png');
      }
      .arrow-right {
        right: 0;
        background-image: url('~@/assets/images/new-version/common/double-arrow-right.png');
      }

      .img-wrap-content {
        width: 100%;
        height: 380px;
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        &::-webkit-scrollbar {
          display: none;
        }
        .img-wrap-track {
          display: flex;
          .img-wrap-item {
            flex-shrink: 0;
            width: 614px;
            text-align: center;
            > img {
              display: block;
              box-sizing: border-box;
              width: 100%;
              height: 380px;
              background-color: #fff;
              pointer-events: none;
            }
          }
        }
      }
    }

    .describe {
      height: 90px;
      line-height: 90px;
      color: #FF0000;
      text-align: center;
    }
    .close-btn {
      position: absolute;
      bottom: -110px;
      left: 50%;
      transform: translateX(-50%);
      width: 80px;
      height: 80px;
      line-height: 80px;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 50%;
      color: #ffffff;
      font-size: 48px;
      text-align: center;
      cursor: pointer;
    }
  }
}
</style>
