<template>
  <div class="selected-activities">
    <div class="top">
      <p class="title">精选活动</p>
    </div>
    <div class="marvellous">
      <div class="marvellous-left">
        <van-tabs v-model="active" @change="_chageTab" animated>
          <van-tab v-for="(titleItem, titleIndex) in activitiesTitle" :key="titleIndex + 'tab'" :title="titleItem.title">
            <van-pull-refresh v-model="isLoading" @refresh="onRefresh">
              <div class="activities-marvellous">
                <van-swipe indicator-color="#FF9F00" touchable v-if="swipeItemList && swipeItemList.length" ref="vanSwipe" :class="{'fixHeight': swipeItemList.length > 1}">
                  <van-swipe-item v-for="(groupItem, groupIndex) in swipeItemList" :key="groupIndex">
                    <div class="activities-marvellous-content" :class="'bg_' + activitiesTitle[active].key" v-for="(item, index) in groupItem" :key="index" @click="_toDetails(item)">
                      <div class="activities-marvellous-img">
                        <div class="one-price" v-if="item.biddingMode === '0'"></div>
                        <img v-lazy="allImgDomainName + item.itemThumbnail" alt>
                      </div>
                      <div class="activities-marvellous-right">
                        <div class="activities-marvellous-right-title">
                          <p>{{item.itemName}}</p>
                        </div>
                        <div class="activities-marvellous-right-text">
                          <!-- 竞价 -->
                          <div v-if="titleItem.title === '竞价'">
                            <div class="bottom-left-d" v-if="item.highestPrice">
                              <div v-if="item.biddingMode !== '0'">
                                <span class="price">{{item.highestPrice && item.highestPrice.toString().split('.')[0] || '0'}}</span>
                                <span class="price decimal">.{{item.highestPrice && item.highestPrice.toString().split('.')[1]
                                  ? (item.highestPrice.toString().split('.')[1].length === 1
                                    ? item.highestPrice.toString().split('.')[1] + '0'
                                    : item.highestPrice.toString().split('.')[1])
                                  : '00'}}</span>
                                <span class="unit">元/{{item.bidType === '3' ? item.assistUnitName : item.saleUnitName}}</span>
                              </div>
                              <div v-else>
                                <span class="price">{{item.lowerPrice && item.lowerPrice.toString().split('.')[0] || '0'}}</span>
                                <span class="price decimal">.{{item.lowerPrice && item.lowerPrice.toString().split('.')[1]
                                  ? (item.lowerPrice.toString().split('.')[1].length === 1
                                    ? item.lowerPrice.toString().split('.')[1] + '0'
                                    : item.lowerPrice.toString().split('.')[1].substring(0, 2))
                                  : '00'}}</span>
                                <span class="unit">元/{{item.bidType === '3' ? item.assistUnitName : item.saleUnitName}}</span>
                              </div>
                              <div class="activities-marvellous-right-time">
                                <p>
                                  <!-- {{item.isBiddingStart ? '距结束' : '距开始'}} -->
                                  <van-count-down :time="item.lengthOfCountdownTime" format="DD天 HH:mm:ss"/>
                                </p>
                                <!-- <p v-if="item.isBiddingStart">正在竞价</p>
                                <p v-else>未开始</p> -->
                              </div>
                            </div>
                            <div class="bottom-left-l" v-else>
                              <p>敬请期待</p>
                            </div>
                          </div>

                          <!-- 拼团 -->
                          <div v-else-if="titleItem.title === '团购'">
                            <div class="bottom-left-d" >
                              <span class="price">{{item.price && item.price.toString().split('.')[0] || '0'}}</span>
                              <span class="price decimal">.{{item.price && item.price.toString().split('.')[1]
                                ? (item.price.toString().split('.')[1].length === 1
                                  ? item.price.toString().split('.')[1] + '0'
                                  : item.price.toString().split('.')[1].substring(0, 2))
                                : '00'}}</span>
                              <span class="unit">元/{{item.saleUnitName}}</span>
                            </div>
                            <div class="activities-marvellous-right-time">
                              <s>{{item.price | keepTwoNum}}元/{{item.saleUnitName}}</s>
                              <p>
                                <!-- {{item.isGroupBuyingStart ? '距结束' : '距开始'}} -->
                                <van-count-down :time="item.lengthOfCountdownTime" format="DD天 HH:mm:ss"/>
                              </p>
                              <!-- <p v-if="item.isGroupBuyingStart">正在拼团</p>
                              <p v-else>未开始</p> -->
                              <!-- <p>已拼：{{data.saleNumber}}{{data.assistUnitName}}</p> -->
                            </div>
                          </div>

                          <!-- 秒杀 -->
                          <div v-else-if="titleItem.title === '秒杀'">
                            <div class="bottom-left-d" >
                              <span class="price">{{item.spikePrice && item.spikePrice.toString().split('.')[0] || '0'}}</span>
                              <span class="price decimal">.{{item.spikePrice && item.spikePrice.toString().split('.')[1]
                                ? (item.spikePrice.toString().split('.')[1].length === 1
                                  ? item.spikePrice.toString().split('.')[1] + '0'
                                  : item.spikePrice.toString().split('.')[1].substring(0, 2))
                                : '00'}}</span>
                              <span class="unit">元/{{item.priceType === '1' ? '只' : '斤'}}</span>
                            </div>
                            <div class="activities-marvellous-right-time">
                              <s>{{item.spikePrice | keepTwoNum}}元/{{item.priceType === '1' ? '只' : '斤'}}</s>
                              <p>
                                <!-- {{item.isFlashSaleStart ? '距结束' : '距开始'}} -->
                                <van-count-down :time="item.lengthOfCountdownTime" format="DD天 HH:mm:ss"/>
                              </p>
                              <!-- <p v-if="item.isFlashSaleStart">正在秒杀</p>
                              <p v-else>未开始</p> -->
                              <!-- <p>已售{{item.saleQty / item.spikeQty * 100 | keepTwoNum}}%</p> -->
                            </div>
                          </div>

                          <!-- 特价 -->
                          <div v-else-if="titleItem.title === '特价'">
                            <div class="activities-marvellous-right-time" style="height: auto;">
                              <p>均重 {{item.avgQty}}{{item.saleUnitName}}</p>
                            </div>
                            <div class="bottom-left-d" v-if="item.sellingPrice">
                              <span class="price">{{item.sellingPrice && item.sellingPrice.toString().split('.')[0] || '0'}}</span>
                              <span class="price decimal">.{{item.sellingPrice && item.sellingPrice.toString().split('.')[1]
                                ? (item.sellingPrice.toString().split('.')[1].length === 1
                                  ? item.sellingPrice.toString().split('.')[1] + '0'
                                  : item.sellingPrice.toString().split('.')[1].substring(0, 2))
                                : '00'}}</span>
                              <span class="unit">元/{{item.saleUnitName}}</span>
                            </div>
                            <div class="bottom-left-l" v-else>
                              <p>暂无定价</p>
                            </div>
                            <div class="activities-marvellous-right-time" style="height: auto;">
                              <p>{{item.ownerName}}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </van-swipe-item>
                </van-swipe>

                <div class="no-data-box" v-else>
                  <no-data :loading="requestLoading" url="new_nodata"></no-data>
                </div>
              </div>
            </van-pull-refresh>
          </van-tab>
        </van-tabs>
      </div>
    </div>
  </div>
</template>

<script>
import NoData from '@/components/no-data'
import { allImgDomainNameMixin } from '@/assets/js/mixin'
import { arrayGroupingByQuantity } from '@/utils/common'

export default {
  name: 'selected-activities',
  mixins: [allImgDomainNameMixin],
  components: {
    NoData
  },
  props: {
    data: {
      type: Array,
      required: true
    },
    activitiesTitle: { // 精选活动栏标题
      type: Array,
      default: () => ([])
    },
    requestLoading: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      active: 0, // 精选活动标签页选中标识符
      swipeItemList: [], // 精选活动内容——商品轮播分页列表
      isLoading: false // 控制下拉刷新的加载动画
    }
  },
  watch: {
    data: {
      handler (val) {
        this.swipeItemList = arrayGroupingByQuantity(val, 6)

        if (this.$refs.vanSwipe && this.$refs.vanSwipe[0]) {
          this.$refs.vanSwipe[0].swipeTo(0, { immediate: true })
        }

        setTimeout(() => {
          this.isLoading = false
        }, 100)
      },
      deep: true
    }
  },
  mounted () {

  },
  methods: {
    _chageTab () {
      this.$emit('tab-change', this.activitiesTitle[this.active] && this.activitiesTitle[this.active].title)
    },
    // 下拉刷新
    onRefresh () {
      this.$emit('onRefresh', this.activitiesTitle[this.active] && this.activitiesTitle[this.active].title)
    },
    _toDetails (item) {
      if (this.activitiesTitle[this.active] && this.activitiesTitle[this.active].title === '特价') { // 特价
        this.$router.push({
          path: '/specialSaleDetails',
          query: {
            id: item.id
          }
        })
      } else if (this.activitiesTitle[this.active] && this.activitiesTitle[this.active].title === '竞价') { // 竞价
        this.$router.push({
          path: '/biddingDetails',
          query: {
            id: item.id
          }
        })
      } else if (this.activitiesTitle[this.active] && this.activitiesTitle[this.active].title === '团购') { // 团购
        this.$router.push({
          path: '/groupBuyingDetails',
          query: {
            groupId: item.id, // 团购id
            id: item.itemId // 商品id
          }
        })
      } else if (this.activitiesTitle[this.active] && this.activitiesTitle[this.active].title === '秒杀') { // 秒杀
        this.$router.push({
          path: '/flashSaleDetails',
          query: {
            id: item.itemId, // 商品id
            seckillingId: item.id // 秒杀id
          }
        })
      }
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.selected-activities{
  width: 722px;
  overflow: hidden;
  margin: 10px auto 0;
  border-radius: 22px;
  background-color: #FFFFFF;
  .top {
    width: 100%;
    overflow: hidden;
    background: url("~@/assets/images/index-2/fire.svg") no-repeat 28px 26px;
    background-size: 22px 30px;
    .title {
      font-size: 32px;
      font-family: "PingFang SC";
      color: #333333;
      padding: 18px 0px 0px 72px;
      font-weight: 600;
    }
  }
  .marvellous{
    width: 100%;
    max-height: 640px;
    .marvellous-left{
      width: 100%;
      height: 100%;
      // float: left;
      overflow-x: auto;
      @{deep}.van-tabs {
        width: 100%;
        .van-hairline--top-bottom::after, .van-hairline-unset--top-bottom::after {
          border: none;
        }
        .van-tabs__wrap {
          height: 70px;
        }
        .van-tab--active {
          font-weight: 600;
        }
        .van-ellipsis {
          font-size: 28px;
        }
        .van-tabs__line {
          width: 28px !important;
          height: 4px;
          background-color: #F59900;
        }

        .activities-marvellous{
          width: 100%;
          overflow: hidden;
          .van-swipe{
            width: 100%;
            max-height: 522px;
            padding-bottom: 48px;
            overflow: hidden;
            &.fixHeight {
              height: 522px;
            }
            .van-swipe__indicators {
              bottom: 22px;
              .van-swipe__indicator {
                width: 10px;
                height: 6px;
                border-radius: 1px;
                background-color: #D0D0D0;
                &:not(:last-child) {
                  margin-right: 10px;
                }
                &.van-swipe__indicator--active {
                  width: 24px;
                }
              }
            }
            .activities-marvellous-content{
              width: 342px;
              height: 158px;
              float: left;
              background-size: 100% 100%;
              border-radius: 12px;
              box-sizing: border-box;
              padding: 9px;
              position: relative;
              &:nth-child(odd) {
                margin: 16px 0px 0px 11px;
              }
              &:nth-child(even) {
                margin: 16px 0px 0px 16px;
              }
              &.bg_bidding {
                background: url("~@/assets/images/index-2/bidding-marvellous-img.png") no-repeat center center;
              }
              &.bg_groupbuy {
                background: url("~@/assets/images/index-2/assemble-marvellous-img.png") no-repeat center center;
              }
              &.bg_flashsale {
                background: url("~@/assets/images/index-2/flash-sale-arvellous-img.png") no-repeat center center;
              }
              &.bg_specialsale {
                background-color: #FFF4F0;
              }
              .activities-marvellous-img{
                width: 140px;
                height: 140px;
                float: left;
                &:last-child{
                  margin-bottom: 20px;
                }
                .one-price{
                  position: absolute;
                  width: 80px;
                  height: 30px;
                  top: 0;
                  left: 0;
                  background: url("~@/assets/images/auction/one-price.svg") no-repeat center left;
                  background-size: 100% 100%;
                }
                img{
                  width: 140px;
                  height: 140px;
                  border-radius: 12px;
                }
              }
              .activities-marvellous-right{
                width: 172px;
                height: 100%;
                float: left;
                margin-left: 12px;
                .activities-marvellous-right-title{
                  width: 100%;
                  p{
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-size: 24px;
                    color: #333333;
                    height: 34px;
                  }
                }
                .activities-marvellous-right-text{
                  width: 100%;
                  overflow: hidden;
                  .bottom-left-d {
                    border-bottom: 0px solid #e8e8e8;
                    width: 100%;
                    height: 100%;
                    float: left;
                    box-sizing: border-box;
                    overflow: hidden;
                    white-space: nowrap;
                    span {
                      // float: left;
                      &.price {
                        margin-top: 2px;
                        font-size: 32px;
                        font-family: 'AvenirLTStd-Black';
                        color: #e33240;
                        &.decimal {
                          margin-top: 10px;
                          font-size: 22px;
                        }
                      }
                      &.unit {
                        margin-top: 6px;
                        margin-left: 4px;
                        font-size: 22px;
                        color: #999999;
                      }
                    }
                  }
                  .bottom-left-l {
                    p {
                      font-size: 28px;
                      font-family: "PingFang SC";
                      color: #e33240;
                    }
                  }
                }
                .activities-marvellous-right-time {
                  width: 100%;
                  height: 66px;
                  overflow: hidden;
                  display: flex;
                  flex-flow: column;
                  justify-content: flex-end;
                  font-size: 20px;
                  color: #999999;
                  s {
                    height: 28px;
                  }
                  p {
                    display: flex;
                    height: 32px;
                    margin-top: 2px;
                    .van-count-down {
                      display: inline-block;
                      color: #999999;
                      font-size: 20px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .no-data-box {
    @{deep}.no-data {
      padding-top: 10px;
      p {
        margin-top: 0;
      }
    }
  }
}
</style>
