<template>
  <div class="selected-activities">
          <div class="activities-marvellous">
            <!-- 查看全部 -->
            <div class="top">
              <div class="left">
                <span class="less"  @click="goPage">产品分类</span>
              </div>
              <span class="more" @click="viewAll">查看更多<van-icon name="arrow"/></span>
            </div>
            <div class="name" style="float:left"><input type="button" class="left" @click="goPage"/></div>
            <div class="name1" style="float:right"><input type="button" class="left1" @click="go"/></div>
            <div class="name2" style="float:left"><input type="button" class="left2" @click="goPage2"/></div>
            <div class="name3" style="float:right"><input type="button" class="left3" @click="goPage3"/></div>
  </div>
  </div>
</template>
<script>
import { allImgDomainNameMixin } from '@/assets/js/mixin'
import { arrayGroupingByQuantity } from '@/utils/common'
export default {
  name: 'selected-activities',
  mixins: [allImgDomainNameMixin],
  components: {
  },
  data () {
    return {
    }
  },
  methods: {
    goPage () {
      this.$router.push({path:'/shoppingCart'})
    },
    go () {
      this.$router.push({path:'/goodsList'})
    },
        goPage2 () {
      this.$router.push({path:'/shoppingCart'})
    },
      goPage3 () {
      this.$router.push({path:'/shoppingCart'})
    }
}
  }  
</script>
<style lang="less" scoped>
@import "~@/assets/css/mixin.less";
.selected-activities{
  width: 722px;
  overflow: hidden;
  margin: 10px auto 0;
  @{deep}.van-tabs {
    width: 100%;
    .van-hairline--top-bottom::after, .van-hairline-unset--top-bottom::after {
      border: none;
    }
    &__wrap {
      height: 80px;
      padding-left: 204px;
      position: relative;
      &::before {
        content: " ";
        position: absolute;
        left: 14px;
        top: 50%;
        transform: translateY(-50%);
        width: 176px;
        height: 50px;
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        .bg-img('~@/assets/images/new-version/home/selected-activities');
      }
      .van-tabs__nav {
        background-color: transparent;
        .van-tab__text {
          color: #666666;
          font-size: 26px;
          margin-bottom: 16px;
        }
        .van-tab--active {
          .van-tab__text {
            color: #E50712;
            font-size: 36px;
          }
        }
      }
    }
    &__content {
      background-color: #ffffff;
      border-radius: 10px;
    }
    .van-tab--active {
      font-weight: 600;
    }
    .van-ellipsis {
      font-size: 28px;
    }
    .van-tabs__line {
      bottom: 40px;
      background-color: transparent;
      width: 60px !important;
      height: 60px;
      border: 3px solid #E50712;
      border-radius: 50%;
      clip-path: polygon(10% 85%, 90% 85%, 50% 3600%);
      transition: clip-path .5s;
    }
  }
  .activities-marvellous{
    width: 100%;
    height: 510px;
    overflow: hidden;
    .top {
      padding: 20px 16px 20px 26px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      overflow: hidden;
      .title {
        font-size: 32px;
        font-family: PingFangSC-Medium, PingFang SC;
        color: #333333;
        font-weight: 600;
      }
      .more {
        font-size: 26px;
        color:#999999;
        i {
          font-size: 28px;
          color: #999999;
          vertical-align: middle;
          margin-left: 6px;
        }
      }
      .less{
        font-size: 40px;
        color: #00F5FF;
        font-family: "楷体","楷体_GB2313";
      }
    }
    //猪用
    .name{
      width: 48%;
      height: 200px;
      margin: 5px;
      border-radius:15px;
      .left{
        width: 100%;
        height: 100%;
         border-radius:15px;
        background: url("../../assets/images/login/OiP@3x .png");
        background-size: cover;
        background-position: center;
        border: none;
      }
    }
    //家禽
    .name1{
      width: 48%;
      height: 200px;
      margin: 5px;
    .left1{
      width: 100%;
      height: 100%;
      border-radius:15px;
      border: none;
      background: url("../../assets/images/login/th.jpg");
      background-size: cover;
      background-position: center;
      }
    }
    //牛羊
     .name2{
      width: 48%;
      height: 190px;
      margin: 5px;
      position: relative;
      top:12px;
      .left2{
      width: 100%;
      height: 100%;
      border-radius:15px;
      border: none;
      background: url("../../assets/images/login/ts.jpg");
      background-size: cover;
      background-position: center;
      }
    }
    //宠物
     .name3{
      width: 48%;
      height: 190px;
      margin: 5px;
       position: relative;
      top:12px;
      .left3{
      width: 100%;
      height: 100%;
      border-radius:15px;
      border: none;
      background: url("../../assets/images/login/feng.jpg");
      background-size: cover;
      background-position: center;
      }
    }
    @{deep}.van-swipe{
      width: 100%;
      max-height: 522px;
      padding-bottom: 48px;
      overflow: hidden;
      &.fixHeight {
        // height: 522px;
      }
      .van-swipe__indicators {
        bottom: 22px;
        .van-swipe__indicator {
          width: 10px;
          height: 6px;
          border-radius: 1px;
          background-color: #D0D0D0;
          &:not(:last-child) {
            margin-right: 10px;
          }
          &.van-swipe__indicator--active {
            width: 24px;
          }
        }
      }
      .van-swipe-item {
        display: flex;
      }
      .activities-marvellous-content{
        flex-basis: 33.33333%;
        background-size: 100% 100%;
        border-radius: 12px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        .activities-marvellous-img{
          width: 186px;
          height: 190px;
          position: relative;
          .one-price{
            position: absolute;
            width: 80px;
            height: 30px;
            top: 0;
            left: 0;
            background: url("~@/assets/images/auction/one-price.svg") no-repeat center left;
            background-size: 100% 100%;
          }
          .finished {
            position: absolute;
            width: 80px;
            height: 30px;
            top: 0;
            left: 0;
            background: url("~@/assets/images/new-version/home/theend.svg") no-repeat center left;
            background-size: 100% 100%;
          }
          .oldchicks {
            position: absolute;
            width: 80px;
            height: 30px;
            top: 0;
            left: 0;
            background: url("~@/assets/images/new-version/home/oldchicks.svg") no-repeat center left;
            background-size: 100% 100%;
          }
          .chicks {
            position: absolute;
            width: 80px;
            height: 30px;
            top: 0;
            left: 0;
            background: url("~@/assets/images/new-version/home/chicks.svg") no-repeat center left;
            background-size: 100% 100%;
          }}
        .activities-marvellous-bottom{
          width: 186px;
          margin-top: 10px;
          text-align: center;
          .activities-marvellous-bottom-title{
            width: 100%;
            p{
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              font-size: 26px;
              color: #333333;
              height: 34px;
              text-align: center;
            }
          }
          .activities-marvellous-bottom-text{
            width: 100%;
            overflow: hidden;
            .bottom-left-d {
              width: 100%;
              height: 100%;
              margin-top: 14px;
              box-sizing: border-box;
              overflow: hidden;
              white-space: nowrap;
              span {
                font-size: 22px;
                &.price {
                  margin-top: 2px;
                  font-size: 32px;
                  font-family: 'AvenirLTStd-Black';
                  color: #E50712;
                  &.decimal {
                    margin-top: 10px;
                    font-size: 22px;
                  }
                }
                &.unit {
                  margin-top: 6px;
                  margin-left: 4px;
                  font-size: 22px;
                  color: #E50712;
                }
              }
            }
            .bottom-left-l {
              margin-top: 14px;
              p {
                font-size: 28px;
                font-family: "PingFang SC";
                color: #e33240;
              }
            }
          }
          .activities-marvellous-bottom-time {
            width: 100%;
            overflow: hidden;
            p {
              height: 32px;
              margin-top: 2px;
              color: #999999;
              font-size: 20px;
              .van-count-down {
                display: inline-block;
                color: #999999;
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }
  .no-data-box {
    @{deep}.no-data {
      padding-top: 10px;
      p {
        margin-top: 0;
      }
    }
  }
}
</style>
