<template>
  <van-tabbar v-model="active" class="tabbar-wrapper">
    <van-tabbar-item
      icon="shop"
      v-for="(tab, index) in (channel.currentChannel && channel.currentChannel.channelType === '2') ? tabbarListRaisePig : tabbarList"
      :key="index"
      :to="tab.router"
      :badge="tab.title === '购物车' && shopCount ? shopCount: (tab.title === '消息' && messageCount ? messageCount : '')"
      :class="{'noinfo': !((tab.title === '购物车' && shopCount) || (tab.title === '消息' && messageCount)), 'icon-large': active === 0 && index === 0}"
    >
      <span class="title">{{active === 0 && index === 0 ? '' : tab.title}}</span>
      <i
        slot="icon"
        slot-scope="props"
        class="icon"
        :class="[props.active ? (scrolling || scrollDirection < 0 ? tab.activeScrolling : tab.active) : tab.normal,
          {'animation-getin': scrolling && scrollDirection > 0, 'animation-getout': !scrolling && scrollDirection < 0}]"
        @click="onDoubleClick"
      ></i>
    </van-tabbar-item>
  </van-tabbar>
</template>

<script>
import { api } from '@/api'
import { mapGetters } from 'vuex'
import { allImgDomainNameMixin } from '@/assets/js/mixin'

export default {
  name: 'tabbar',
  mixins: [allImgDomainNameMixin],
  props: {
    activeIndex: {
      type: Number,
      default: 0
    },
    scrolling: {
      type: Boolean,
      default: false
    },
    scrollDirection: {
      type: Number,
      default: 0
    },
    isUpdateCountInfo: { // 是否更新角标数量
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      active: 0,
      tabbarList: [
        {
          title: '主页',
          normal: 'home',
          active: 'home-active',
          activeScrolling: 'home-active-scrolling',
          router: '/'
        },
        {
          title: '分类',
          normal: 'classification',
          active: 'classification-active',
          router: {
            path: '/goodsList'
          }
        },
        {
          title: '消息',
          normal: 'news',
          active: 'news-active',
          router: {
            path: '/news'
          }
        },
        {
          title: '购物车',
          normal: 'shoppingcart',
          active: 'shoppingcart-active',
          router: '/shoppingCart'
        },
        {
          title: '我的',
          normal: 'mine',
          active: 'mine-active',
          router: '/membershipCenter'
        }
      ],
      tabbarListRaisePig: [ // 养猪底部列表
        {
          title: '首页',
          normal: 'home',
          active: 'home-active',
          activeScrolling: 'home-active-scrolling',
          router: '/'
        },
        {
          title: '订单',
          normal: 'order',
          active: 'order-active',
          router: {
            path: '/order',
            query: { index: 0, orderType: 0, businessIndex: 0, biztypeId: '' }
          }
        },
        {
          title: '质量评价',
          normal: 'evaluate',
          active: 'evaluate-active',
          router: {
            path: '/qualityEvaluation'
          }
        },
        {
          title: '我的',
          normal: 'mine',
          active: 'mine-active',
          router: '/membershipCenter'
        }
      ]
    }
  },
  computed: {
    ...mapGetters(['channel']),
    // 购物车数量
    shopCount () {
      return this.$store.state.shoppingCartCount
    },
    // 消息数量
    messageCount () {
      return this.$store.state.messageCount
    }
  },
  created () {
    this.active = this.activeIndex

    if (this.token) {
      if (this.$store.state.intoPage === 0) { // 页面手动刷新
        // 购物车总数
        api.queryCart({ page: 1, pageSize: 999, isGetCountOnly: 1, customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId }).then(res => {
          if (res.success) {
            this.$store.dispatch('setShoppingCartCount', res.data.count)
          }
        })

        // 未读消息总数
        api.commonCall({}, 'noticeNoReadCountQuery').then(res => {
          if (res.success) {
            this.$store.dispatch('setMessageCount', +res.data.noReadCount)
          }
        })
        return
      }

      if (this.isUpdateCountInfo) {
        // 购物车总数
        // api.queryCart({ page: 1, pageSize: 999, isGetCountOnly: 1 }).then(res => {
        //   if (res.success) {
        //     this.$store.dispatch('setShoppingCartCount', res.data.count)
        //   }
        // })

        // 未读消息总数
        api.commonCall({}, 'noticeNoReadCountQuery').then(res => {
          if (res.success) {
            this.$store.dispatch('setMessageCount', +res.data.noReadCount)
          }
        })
      }
    }
  },
  mounted () {

  },
  methods: {
    onDoubleClick () {
      if (!this.scrolling) return
      this.$emit('on-double-click')
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.tabbar-wrapper {
  height: 118px;
  padding-top: 10px;
  box-shadow: 0 -1px 4px -1px #D4D4D4;
  &::after {
    border-width: 0;
  }
  .format-img {
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  @{deep}.van-tabbar-item {
    justify-content: flex-start;
    color: #444444;
    &.van-tabbar-item--active {
      color: #f59900 !important;
    }
    .van-tabbar-item__icon {
      .icon {
        display: block;
        width: 50px;
        height: 50px;
        .format-img;
        // 首页图标
        &.home {
          .bg-img("~@/assets/images/index-2/home-gray");
        }
        &.home-active {
          .bg-img("~@/assets/images/index-2/home");
        }
        &.home-active-scrolling {
          .bg-img("~@/assets/images/index-2/rocket");
        }
        // 分类图标
        &.classification {
          .bg-img("~@/assets/images/index-2/classification-gray");
        }
        &.classification-active {
          .bg-img("~@/assets/images/index-2/classification");
        }
        // 消息图标
        &.news {
          .bg-img("~@/assets/images/index-2/news-gray");
        }
        &.news-active {
          .bg-img("~@/assets/images/index-2/news");
        }
        // 购物车图标
        &.shoppingcart {
          .bg-img("~@/assets/images/index-2/shoppingcart-gray");
        }
        &.shoppingcart-active {
          .bg-img("~@/assets/images/index-2/shoppingcart");
        }
        // 我的图标
        &.mine {
          .bg-img("~@/assets/images/index-2/mine-gray");
        }
        &.mine-active {
          .bg-img("~@/assets/images/index-2/mine");
        }
        // 订单图标
        &.order {
          .bg-img("~@/assets/images/index-2/order-gray");
        }
        &.order-active {
          .bg-img("~@/assets/images/index-2/order");
        }
        // 质量评价图标
        &.evaluate {
          .bg-img("~@/assets/images/index-2/evaluate-gray");
        }
        &.evaluate-active {
          .bg-img("~@/assets/images/index-2/evaluate");
        }
      }
      .van-info {
        top: 8px;
        right: 2px;
        line-height: 28px;
        background-color: #F2272E;
        z-index: 1;
      }
    }
    .van-tabbar-item__text {
      .title {
        font-size: 20px;
        font-family: "PingFang SC";
      }
    }
    &.icon-large {
      margin-top: 4px;
      .icon {
        width: 76px;
        height: 76px;
        &.animation-getin {
          animation: getin 1s ease-in-out;
          // animation: getin 1s ease-in-out forwards;
        }
        &.animation-getout {
          animation: getout 0.7s ease-in-out;
        }
        @keyframes getin {
          0% {
            opacity: 0;
            transform: translateY(150%);
          }
          100% {
            opacity: 1;
            transform: translateY(0);
          }
        }
        @keyframes getout {
          0% {
            opacity: 1;
            transform: translateY(0);
          }
          100% {
            opacity: 0;
            transform: translateY(-150%);
          }
        }
      }
    }
  }
  .noinfo {
    @{deep} .van-info {
      border: 0;
      padding: 0;
      margin: 0;
    }
  }
}
</style>
