<template>
  <van-tabbar v-model="active" class="tabbar-wrapper">
    <van-tabbar-item
      icon="shop"
      v-for="(tab, index) in tabbarList"
      :key="index"
      :to="tab.router"
      :badge="tab.title === '购物车' && shopCount ? shopCount: (tab.title === '消息' && messageCount ? messageCount : '')"
      :class="{'noinfo': !((tab.title === '购物车' && shopCount) || (tab.title === '消息' && messageCount)), 'icon-large': active === 0 && index === 0}"
    >
      <span class="title">{{index === 0 && active === 0 ? '' : tab.title}}</span>
      <template slot="icon" slot-scope="props">
        <i
          v-if="index === 0"
          class="icon"
          :class="props.active ? tab.active : tab.normal"
        ></i>
        <svg-icon
          v-else
          slot="icon"
          slot-scope="props"
          class="icon"
          :class="props.active ? tab.active : tab.normal"
          :iconname="props.active ? tab.active : tab.normal"
        ></svg-icon>
      </template>
    </van-tabbar-item>
  </van-tabbar>
</template>

<script>
import { api } from '@/api'
import { mapGetters } from 'vuex'
import { allImgDomainNameMixin } from '@/assets/js/mixin'
import { getCookie } from '@/utils/common'

export default {
  name: 'tabbar',
  mixins: [allImgDomainNameMixin],
  props: {
    activeIndex: {
      type: Number,
      default: 0
    },
    isUpdateCountInfo: { // 是否更新角标数量
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      active: 0,
      tabbarList: [
        {
          title: '首页',
          normal: 'tabbar_home',
          active: 'tabbar_home-active',
          router: '/'
        },
        {
          title: '商品',
          normal: 'tabbar_goods',
          active: 'tabbar_goods-active',
          router: {
            path: '/goodsList'
          }
        },
        {
          title: '问诊',
          normal: 'tabbar_news',
          active: 'tabbar_news-active',
          router: {
            path: '/news'
          }
        },
        {
          title: '购物车',
          normal: 'tabbar_shoppingcart',
          active: 'tabbar_shoppingcart-active',
          router: '/shoppingCart'
        },
        {
          title: '我的',
          normal: 'tabbar_mine',
          active: 'tabbar_mine-active',
          router: '/membershipCenter'
        }
      ],
      tabbarListRaisePig: [ // 养猪底部列表
        {
          title: '首页',
          normal: 'home',
          active: 'home-active',
          router: '/'
        },
        {
          title: '订单',
          normal: 'order',
          active: 'order-active',
          router: {
            path: '/order',
            query: { index: 0, orderType: 0, businessIndex: 0, biztypeId: '' }
          }
        },
        {
          title: '质量评价',
          normal: 'evaluate',
          active: 'evaluate-active',
          router: {
            path: '/qualityEvaluation'
          }
        },
        {
          title: '我的',
          normal: 'mine',
          active: 'mine-active',
          router: '/membershipCenter'
        }
      ]
    }
  },
  computed: {
    ...mapGetters(['channel']),
    // 购物车数量
    shopCount () {
      return this.$store.state.shoppingCartCount
    },
    // 消息数量
    messageCount () {
      return this.$store.state.messageCount
    }
  },
  created () {
    this.active = this.activeIndex

    if (this.token) {
      if (this.$store.state.intoPage === 0) { // 页面手动刷新
        // 购物车总数
        let param = {
          page: 1,
          pageSize: 999,
          isGetCountOnly: 1,
          customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
        }
        if (this.$store.state.intoPage === 0 && getCookie('selectedChannel')) {
          param.owner = JSON.parse(getCookie('selectedChannel')).channelId
        } else if (this.$store.state.intoPage === 1 && this.$store.state.channel.currentChannel && this.$store.state.channel.currentChannel.channelId) {
          param.owner = this.$store.state.channel.currentChannel.channelId
        }
        api.queryCart(param).then(res => {
          if (res.success) {
            this.$store.dispatch('setShoppingCartCount', res.data.count)
          }
        })

        // 未读消息总数
        api.commonCall({}, 'noticeNoReadCountQuery').then(res => {
          if (res.success) {
            this.$store.dispatch('setMessageCount', +res.data.noReadCount)
          }
        })
        return
      }

      if (this.isUpdateCountInfo) {
        // 购物车总数
        // api.queryCart({ page: 1, pageSize: 999, isGetCountOnly: 1 }).then(res => {
        //   if (res.success) {
        //     this.$store.dispatch('setShoppingCartCount', res.data.count)
        //   }
        // })

        // 未读消息总数
        api.commonCall({}, 'noticeNoReadCountQuery').then(res => {
          if (res.success) {
            this.$store.dispatch('setMessageCount', +res.data.noReadCount)
          }
        })
      }
    }
  },
  mounted () {

  },
  methods: {

  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.tabbar-wrapper {
  height: 80px;
  padding-top: 12px;
  box-shadow: 0 -1px 4px -1px #D4D4D4;
  &::after {
    border-width: 0;
  }
  .format-img {
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  @{deep}.van-tabbar-item {
    justify-content: flex-start;
    color: #444444;
    &.van-tabbar-item--active {
      color: #E60012 !important;
    }
    .van-tabbar-item__icon {
      margin-bottom: 1px;
      .icon {
        overflow: visible;
        // 首页图标
        &.tabbar_home {
          display: block;
          .format-img;
          width: 58px;
          height: 40px;
          margin: 1px 0;
          .bg-img("~@/assets/images/new-version/tabbar/home");
          // font-size: 58px;
          // margin-top: -9px;
          &-active {
            display: block;
            .format-img;
            width: 82px;
            height: 56px;
            margin-top: 4px;
            .bg-img("~@/assets/images/new-version/tabbar/home-active");
            // font-size: 82px;
            // margin-top: -10px;
          }
        }
        // 商品图标
        &.tabbar_goods {
          font-size: 40px;
          &-active {
            font-size: 40px;
          }
        }
        // 消息图标
        &.tabbar_news {
          font-size: 42px;
          margin-top: -2px;
          &-active {
            font-size: 42px;
            margin-top: -2px;
          }
        }
        // 购物车图标
        &.tabbar_shoppingcart {
          font-size: 46px;
          margin-top: -6px;
          &-active {
            font-size: 46px;
            margin-top: -6px;
          }
        }
        // 我的图标
        &.tabbar_mine {
          font-size: 40px;
          &-active {
            font-size: 40px;
          }
        }
        // 订单图标
        &.order {
          .bg-img("~@/assets/images/index-2/order-gray");
          &-active {
            .bg-img("~@/assets/images/index-2/order");
          }
        }
        // 质量评价图标
        &.evaluate {
          .bg-img("~@/assets/images/index-2/evaluate-gray");
          &-active {
            .bg-img("~@/assets/images/index-2/evaluate");
          }
        }
      }
      .van-info {
        top: 2px;
        right: 2px;
        background-color: #E60012;
        z-index: 1;
      }
    }
    .van-tabbar-item__text {
      .title {
        font-size: 20px;
        font-family: "PingFang SC";
      }
    }
    &.icon-large {
      margin-top: 4px;
    }
  }
  .noinfo {
    @{deep} .van-info {
      border: 0;
      padding: 0;
      margin: 0;
    }
  }
}
</style>
