<template>
  <div class="variety-classification">
    <van-tabs v-model="active" animated swipeable @change="_changeTab">
      <van-tab :title="item.name" v-for="(item, index) in classification" :key="index + 'tab'">
        <div class="variety-classification-content">
          <div class="variety-classification-item" v-for="(item, index) in goodsList" :key="index" @click="seeGoodsDetails(item.id, item.itemType, item.combItemId)">
            <div class="single" v-if="+item.itemType === 1">非单卖品</div>
            <img
              v-lazy="allImgDomainName + item.thumbnail"
              alt
              width="100%"
              height="100%"
              class="goods-img"
            >
            <div class="variety-classification-item-text">
              <div class="content-title">{{item.itemName}}</div>
              <div class="content-service" @clicks.stop="toShop(item.ownerId)">{{item.storeName || item.ownerName}}</div>
              <div class="content-price" v-if="token && item.price">
                <span class="price">{{(item.price && item.price.toString().split('.')[0]) || '0'}}</span>
                <span class="price decimal">.{{(item.price && (item.price.toString().split('.')[1]
                  ? item.price.toString().split('.')[1].length === 1
                    ? item.price.toString().split('.')[1] + '0'
                    : item.price.toString().split('.')[1]
                  : '00'))
                  || '00'}}</span>
                <span class="unit">元/{{item.saleUnitName}}</span>
              </div>
              <div class="content-price mar-top" v-else-if="token && !item.price">
                <span class="coming-soon">敬请期待</span>
              </div>
              <div class="content-price" v-else-if="!token && item.referencePrice">
                <span class="price">{{(item.referencePrice && item.referencePrice.toString().split('.')[0]) || '0'}}</span>
                <span class="price decimal">.{{(item.referencePrice && (item.referencePrice.toString().split('.')[1]
                  ? item.referencePrice.toString().split('.')[1].length === 1
                    ? item.referencePrice.toString().split('.')[1] + '0'
                    : item.referencePrice.toString().split('.')[1]
                  : '00'))
                  || '00'}}</span>
                <span class="unit">元/{{item.saleUnitName}}</span>
              </div>
              <div class="content-price mar-top" v-else>
                <span class="coming-soon">敬请期待</span>
              </div>
              <div class="content-market" v-if="!token && item.referencePrice">
                <div class="content-market-btn">市场价</div>
              </div>
            </div>
          </div>
        </div>
      </van-tab>
    </van-tabs>
  </div>
</template>

<script>
import { allImgDomainNameMixin } from '@/assets/js/mixin'

export default {
  name: 'variety-classification',
  mixins: [allImgDomainNameMixin],
  props: {
    goodsList: {
      type: Array,
      required: true
    },
    classification: {
      type: Array,
      required: true
    }
  },
  data () {
    return {
      active: 0
    }
  },
  mounted () {},
  methods: {
    _changeTab () {
      this.$emit('selectClass', this.active)
    },
    // 查看商品详情
    seeGoodsDetails (id, type, combItemId) {
      this.$emit('seeGoodsDetails', id, type, combItemId)
    },
    toShop (ownerId) {
      this.$emit('toShop', ownerId)
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.variety-classification{
  width: 100%;
  overflow: hidden;
  margin: 10px auto 0;
  @{deep}.van-tabs{
    .van-hairline--top-bottom::after, .van-hairline-unset--top-bottom::after {
      border-width: 0;
    }
    .van-tabs__wrap {
      height: 1rem;
      margin-bottom: 5px;
      .van-tabs__nav {
        background: transparent;
        .van-tab {
          &.van-tab--active {
            .van-tab__text {
              position: static;
              font-size: 32px;
              font-weight: 600;
            }
          }
          .van-tab__text {
            color: #333333;
          }
        }
        .van-tabs__line {
          width: 28px !important;
          height: 4px;
          border-radius: 3px;
          background-color: #F59900;
        }
      }
    }
  }

  .variety-classification-content{
    width: 718px;
    min-height: 368px;
    overflow: hidden;
    margin: 0 auto;
    .variety-classification-item {
      width: 352px;
      height: 156px;
      float: left;
      background-color: white;
      border-radius: 12px;
      margin: 14px 0;
      position: relative;
      &:nth-child(even) {
        margin-left: 14px;
        position: relative;
        &:not(:last-child) {
          &:after {
            content: ' ';
            width: 690px;
            display: block;
            position: absolute;
            right: 14px;
            bottom: -16px;
            border-bottom: 1px solid #ECECEC;
          }
        }
      }
      .single {
        position: absolute;
        width: 152px;
        left: 0;
        bottom: 0;
        height: 34px;
        line-height: 34px;
        border-radius: 0px 0px 16px 16px;
        background: rgba(224, 32, 32, 0.9);
        font-size: 24px;
        font-family: PingFangSC-Regular, PingFang SC;
        color: white;
        text-align: center;
      }
      img{
        width: 156px;
        height: 156px;
        float: left;
        border-radius: 12px;
      }
      .variety-classification-item-text{
        width: 196px;
        height: 100%;
        float: left;
        padding: 8px 8px 8px 16px;
        box-sizing: border-box;
        .content-title{
          width: 100%;
          font-size: 24px;
          color: #333333;
          height: 34px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .content-service{
          width: 100%;
          overflow: hidden;
          font-size: 20px;
          color: #999999;
          height: 28px;
        }
        .content-price{
          width: 100%;
          overflow: hidden;
          white-space: nowrap;
          &.mar-top {
            margin-top: 38px;
          }
          span{
            &.price {
              margin-top: 2px;
              font-size: 32px;
              font-family: 'AvenirLTStd-Black';
              color: #e33240;
              &.decimal {
                margin-top: 10px;
                font-size: 22px;
              }
            }
            &.unit {
              margin-top: 6px;
              margin-left: 4px;
              font-size: 22px;
              color: #999999;
            }
            &.coming-soon {
              font-size: 26px;
              color: #e33240;
            }
          }
        }
        .content-market{
          width: 100%;
          overflow: hidden;
          .content-market-btn{
            width: 82px;
            height: 28px;
            border: 1px solid #D0D0D0;
            border-radius: 16px;
            font-size: 20px;
            color: #999;
            text-align: center;
            line-height: 30px;
            margin-top: 6px;
          }
        }
      }
    }
  }
}
</style>
