<template>
  <div class="attribute-filtering-wrapper" v-show="show">
    <transition name="fade">
      <div class="mask" v-show="show" @click.stop="handleDetermine" @touchmove="e => {e.preventDefault();e.stopPropagation()}"></div>
    </transition>
    <transition name="slideLeft">
      <div class="content-wrapper" v-show="show">
        <div class="content">
          <ul class="fold-list">
            <li
              class="fold-item"
              v-for="(item, index) in bodyData"
              :key="index"
            >
              <h2 class="title">{{item.name}}</h2>
              <a
                href="javascript:;"
                class="switch-btn"
                @click.stop="handleSwitch(index)"
                v-if="item.range.length > 6"
              >
                {{item.open?'收起':'全部'}}
                <van-icon name="arrow-left" class="arrow" :class="{open: item.open}"/>
              </a>
              <ul class="list" :class="item.open ? 'open' : 'close'">
                <li
                  class="item"
                  v-for="(label, idx) in item.range"
                  :key="label.id"
                  :class="{selected: label.selected}"
                  @click.stop="toggleSelectAttr(item, idx)"
                >{{label.name}}</li>
              </ul>
            </li>
            <li class="fold-item" v-if="showNeedDate">
              <h2 class="title">要货日期</h2>
              <ul class="list">
                <li
                  class="item"
                  v-for="(itm, idx) in needDateRange"
                  :key="itm.id"
                  :class="{selected: itm.selected}"
                  @click.stop="toggleSelectNeedDate(itm, idx)"
                >{{itm.name}}</li>
              </ul>
              <div class="expiry-date">
                <div>
                  <input type="text" placeholder="请选择开始日期" v-model="startDate" readonly="readonly" @click="dateSelect(1)">
                  <van-icon name="clear" @click.stop.prevent="onEmpty(1)"></van-icon>
                </div>
                <span>&nbsp;~&nbsp;</span>
                <div>
                  <input type="text" placeholder="请选择结束日期" v-model="endDate" readonly="readonly" @click="dateSelect(2)">
                  <van-icon name="clear" @click.stop.prevent="onEmpty(2)"></van-icon>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="van-hairline--top btn-group">
          <a href="javascript:;" class="btn" @click.stop="handleReset">重置</a>
          <a href="javascript:;" class="btn determine" @click.stop="handleDetermine">确定</a>
        </div>
      </div>
    </transition>
    <!-- 时间选择器 -->
    <van-popup v-model="showStartDatePicker" position="bottom">
      <van-datetime-picker
        v-model="startDatePick"
        type="date"
        :max-date="maxStartDate"
        title="选择开始日期"
        @confirm="onDateConfirm(1)"
        @cancel="showStartDatePicker = false"
      />
    </van-popup>
    <van-popup v-model="showEndDatePicker" position="bottom">
      <van-datetime-picker
        v-model="endDatePick"
        type="date"
        :min-date="minEndDate"
        title="选择结束日期"
        @confirm="onDateConfirm(2)"
        @cancel="showEndDatePicker = false"
      />
    </van-popup>
  </div>
</template>

<script>
import { zero, getDateFromToday } from '@/utils/common'

export default {
  name: 'attributeFiltering',
  props: {
    value: [String, Number, Array],
    show: {
      type: Boolean,
      default: true
    },
    data: {
      type: Array,
      default: () => ([])
    },
    // 显示要货日期
    showNeedDate: {
      type: Boolean,
      default: false
    },
    // 要货日期可选范围
    needDateRange: {
      type: Array,
      default: () => {
        return [
          { name: '明天', id: getDateFromToday(1) + '~' + getDateFromToday(1) },
          { name: '1周内', id: getDateFromToday(-6) + '~' + getDateFromToday(0) },
          { name: '1个月内', id: getDateFromToday(-30) + '~' + getDateFromToday(0) },
          { name: '3个月内', id: getDateFromToday(-92) + '~' + getDateFromToday(0) },
          { name: '6个月内', id: getDateFromToday(-183) + '~' + getDateFromToday(0) }
        ]
      }
    },
    // 选中要货日期
    needDateSelected: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      activeNames: [],
      bodyData: [],
      startDate: null, // 要货开始日期
      endDate: null, // 要货结束日期
      showStartDatePicker: false, // 显示开始时间选择器
      showEndDatePicker: false, // 显示结束时间选择器
      startDatePick: new Date(), // 时间选择器选中开始时间
      endDatePick: new Date() // 时间选择器选中结束时间
    }
  },
  computed: {
    maxStartDate () {
      const currentYear = new Date().getFullYear()
      return this.endDate ? new Date(this.endDate.replace(/-/g, '/')) : new Date(currentYear + 10, 11, 31)
    },
    minEndDate () {
      const currentYear = new Date().getFullYear()
      return this.startDate ? new Date(this.startDate.replace(/-/g, '/')) : new Date(currentYear - 10, 0, 1)
    }
  },
  watch: {
    show (val) {
      val ? (document.body.style.overflow = 'hidden') : (document.body.style.overflow = 'visible')
    },
    data: {
      handler (newVal, oldVal) {
        this.bodyData = newVal
      },
      immediate: true
    },
    needDateSelected (val) {
      if (val && val.split('~') && val.split('~').length) {
        for (let i = 0; i < this.needDateRange.length; i++) {
          if (this.needDateRange[i].id === val) {
            this.$set(this.needDateRange[i], 'selected', true)
            break
          }
        }
        this.startDate = val.split('~')[0]
        this.endDate = val.split('~')[1]
      }
    }
  },
  created () {
    // this.bodyData = this.data
  },
  methods: {
    // 展开切换
    handleSwitch (index) {
      this.$set(this.bodyData[index], 'open', !this.bodyData[index].open)
    },
    // 切换选择属性
    toggleSelectAttr (item, index) {
      if (item.range[index].selected) {
        this.$set(item.range[index], 'selected', false)
      } else if (item.multiSelect) { // 司机发货单页的“客户”过滤可以多选
        this.$set(item.range[index], 'selected', true)
      } else { // 单选
        item.range.forEach((v, i) => {
          if (i === index) {
            this.$set(item.range[index], 'selected', true)
          } else {
            this.$set(item.range[i], 'selected', false)
          }
        })
      }
    },
    // 切换选择“要货日期”
    toggleSelectNeedDate (item, index) {
      if (item.selected) {
        this.$set(item, 'selected', false)
      } else { // 单选
        this.needDateRange.forEach((v, i) => {
          if (i === index) {
            this.$set(v, 'selected', true)
            this.startDate = item.id && item.id.split('~')[0]
            this.endDate = item.id && item.id.split('~')[1]
          } else {
            this.$set(v, 'selected', false)
          }
        })
      }
    },
    // 重置
    handleReset () {
      this.bodyData.forEach((group, index) => {
        group.range.forEach((item, j) => {
          this.$set(this.bodyData[index].range[j], 'selected', false)
        })
      })

      // 开启了要货日期展示，清空要货日期
      if (this.showNeedDate) {
        this.startDate = null
        this.endDate = null
        this.startDatePick = new Date()
        this.endDatePick = new Date()
        this.needDateRange.forEach((v, i) => {
          this.$set(v, 'selected', false)
        })
      }
    },
    handleDetermine () {
      let isSelected = false // 是否有选择已过滤
      let selectedData = [] // 选中数据拼装

      this.bodyData.forEach(group => {
        if (group.multiSelect) {
          let idxArr = []
          let idArr = []
          let nameArr = []
          for (let i = 0; i < group.range.length; i++) {
            if (group.range[i].selected) {
              idxArr.push(i)
              idArr.push(group.range[i].id)
              nameArr.push(group.range[i].name)

              if (!isSelected) {
                isSelected = true
              }
            }
          }
          let key = [group.name, idxArr.join(','), nameArr.join(','), idArr.join(',')]
          selectedData.push(key.join('_'))
        } else {
          for (let i = 0; i < group.range.length; i++) {
            if (group.range[i].selected) {
              let key = [group.name, i, group.range[i].name, group.range[i].id]
              selectedData.push(key.join('_'))

              if (!isSelected) {
                isSelected = true
              }

              break
            }
          }
        }
      })

      // 开启了要货日期展示
      if (this.showNeedDate) {
        if (this.endDate && !this.startDate) {
          this.$toast('请选择开始日期')
          return
        }
        if (this.startDate && !this.endDate) {
          this.$toast('请选择结束日期')
          return
        }

        let findItem = this.needDateRange.find(v => v.selected)

        if (findItem || (this.startDate && this.endDate)) {
          !isSelected && (isSelected = true)
          selectedData.push(['要货日期', null, (findItem && findItem.name) || '', (findItem && findItem.id) || (this.startDate + '~' + this.endDate)].join('_'))
        }
      }

      this.$emit('selected', { key: selectedData.join(';') }, isSelected)
    },
    dateSelect (i) {
      this.needDateRange.forEach((v, i) => {
        this.$set(v, 'selected', false)
      })
      if (i === 1) {
        this.startDate && (this.startDatePick = new Date(this.startDate.replace(/-/g, '/')))
        this.showStartDatePicker = true
      } else if (i === 2) {
        if (this.endDate) {
          this.endDatePick = new Date(this.endDate.replace(/-/g, '/'))
        } else if (this.startDate) {
          this.endDatePick = new Date(this.startDate.replace(/-/g, '/'))
        }
        this.showEndDatePicker = true
      }
    },
    // 清除时间
    onEmpty (i) {
      if (i === 1) {
        this.startDate = null
        this.startDatePick = new Date()
      } else if (i === 2) {
        this.endDate = null
        this.endDatePick = new Date()
      }
    },
    // 时间选择器确定
    onDateConfirm (i) {
      if (i === 1) {
        this.showStartDatePicker = false
        if (!this.endDate) {
          this.$nextTick(() => {
            this.dateSelect(2)
          })
        }

        this.startDate = this.formatDate(this.startDatePick)
      } else if (i === 2) {
        this.showEndDatePicker = false
        if (!this.startDate) {
          this.$nextTick(() => {
            this.dateSelect(1)
          })
        }

        this.endDate = this.formatDate(this.endDatePick)
      }
    },
    // 格式化日期
    formatDate (date) {
      let _date = date || new Date()

      return `${_date.getFullYear()}-${zero(_date.getMonth() + 1)}-${zero(_date.getDate())}`
    }
  },
  destroyed () {
    if (document.body.style.overflow === 'hidden') {
      document.body.style.overflow = 'visible'
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.attribute-filtering-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  .mask {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    overflow: hidden;
  }
  .content-wrapper {
    width: 620px;
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
  }
  .content {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 96px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
    .fold-list {
      width: 100%;
      box-sizing: border-box;
      padding: 0 24px 50px 24px;
      .fold-item {
        margin-top: 50px;
        position: relative;
        .title {
          font-size: 28px;
          font-weight: bold;
          color: rgba(46, 48, 51, 1);
          line-height: 28px;
        }
        .switch-btn {
          position: absolute;
          top: -5px;
          right: 24px;
          color: #8e939a;
          font-size: 24px;
          .arrow {
            transform: rotate(-90deg);
            &.open {
              transform: rotate(90deg);
            }
          }
        }
        .list {
          display: flex;
          flex-wrap: wrap;
          padding-top: 16px;
          overflow: hidden;
          &.close {
            max-height: 160px;
            transition: max-height 0.4s;
          }
          &.open {
            // max-height: 1000px;
            transition: max-height 1.2s;
          }
          .item {
            width: 179px;
            height: 63px;
            line-height: 64px;
            text-align: center;
            background: #f5f5f5;
            border-radius: 32px;
            font-size: 24px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            box-sizing: border-box;
            padding-left: 10px;
            padding-right: 10px;
            margin-top: 16px;
            margin-right: 16px;
            border: 1px solid #f5f5f5;
            &:nth-child(3n + 3) {
              margin-right: 0;
            }
            &.selected {
              background: rgba(255, 248, 249, 1);
              border-radius: 32px;
              border: 1px solid #e33240;
              color: #e33240;
              transition: all 0.2s;
            }
          }
        }
      }
    }
  }
  .btn-group {
    width: 100%;
    height: 96px;
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #fff;
    .btn {
      flex: 1;
      line-height: 96px;
      text-align: center;
      color: #2e3033;
      font-size: 30px;
      &.determine {
        background: linear-gradient(
          90deg,
          rgba(255, 107, 82, 1) 0%,
          rgba(227, 50, 64, 1) 100%
        );
        color: #fff;
      }
    }
  }
  .expiry-date {
    display: flex;
    height: 63px;
    margin-top: 16px;
    font-size: 24px;
    >div {
      width: 210px;
      line-height: 63px;
      @{deep}.van-icon-clear {
        color: #8e939a;
      }
    }
    input {
      display: inline-block;
      width: 179px;
      text-align: center;
      border: 0;
      color: #e33240;
    }
    span {
      color: #c1c4ca;
      line-height: 63px;
    }
  }
}
</style>
