<template>
  <div class="goods-item">
    <img v-lazy="data.goodsImg" alt width="100%" height="100%">
    <h3 class="name">{{data.name}}</h3>
    <span class="sales">{{data.sales}}</span>
    <div class="price-info">
      <div class="left">
        <!-- <span>约</span> -->
        <!-- <span class="coin-symbol">￥</span> -->
        <!-- <span class="price">{{data.price}}</span>
        <span class="unit">/{{data.unit}}</span>-->
        <span class="price">{{data.price.toString().split('.')[0] || '0'}}</span>
        <span class="unit">.{{data.price.toString().split('.')[1]
          ? (data.price.toString().split('.')[1].length === 1
            ? data.price.toString().split('.')[1] + '0'
            : data.price.toString().split('.')[1])
          : '00'}} 元/{{data.unit}}</span>
      </div>
      <div class="right" v-if="data.salesVolume">月销{{data.salesVolume}}</div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'goods-item',
  props: {
    data: {
      type: Object,
      required: true
    }
  },
  data () {
    return {}
  },
  created () {},
  methods: {}
}
</script>

<style lang="less" scoped>
.goods-item {
  min-width: 339px;
  background-color: #fff;
  .name {
    width: 100%;
    font-size: 28px;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .sales {
    display: block;
    width: 100%;
    font-size: 22px;
    color: #8e939a;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .price-info {
    font-size: 24px;
    color: #8e939a;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    .left {
      flex: 2;
      .coin-symbol {
        color: #e33240;
      }
      .price {
        color: #e33240;
        font-size: 32px;
      }
      .unit {
        font-size: 22px;
        color: #e33240;
      }
    }
    .right {
      flex: 1;
      font-size: 22px;
    }
  }
}
</style>
