<template>
  <div class="goods-item">
    <div class="goods-img">
      <div class="single" v-if="+data.itemType === 1">
        <span>非单卖品</span>
      </div>
      <img
        v-lazy="allImgDomainName + data.thumbnail"
        alt
        :key="data.thumbnail"
        @click="goDetails"
      >
    </div>
    <div class="content">
      <h3 class="name" @click="goDetails">{{data.itemName}}</h3>
      <span class="sales" @click="goShop">{{data.storeName || data.ownerName}}</span>
      <p class="allPolicyName" v-if="data.combName">{{data.combName}}</p>
      <div class="price-info">
        <div class="left" v-if="token && data.price">
          <span class="price">{{(data.price && data.price.toString().split('.')[0]) || '0'}}</span>
          <span class="unit">.{{(data.price && (data.price.toString().split('.')[1]
            ? data.price.toString().split('.')[1].length === 1
              ? data.price.toString().split('.')[1] + '0'
              : data.price.toString().split('.')[1]
            : '00'))
            || '00'}} 元/{{data.saleUnitName}}</span>
        </div>
        <div class="left" v-else-if="token && !data.price">
          <span class="coming-soon">敬请期待</span>
        </div>
        <div class="left" v-else-if="!token && data.referencePrice">
          <!-- <span>约</span> -->
          <span class="price">{{(data.referencePrice && data.referencePrice.toString().split('.')[0]) || '0'}}</span>
          <span class="unit">.{{(data.referencePrice && (data.referencePrice.toString().split('.')[1]
            ? data.referencePrice.toString().split('.')[1].length === 1
              ? data.referencePrice.toString().split('.')[1] + '0'
              : data.referencePrice.toString().split('.')[1]
            : '00'))
            || '00'}} 元/{{data.saleUnitName}}&nbsp;(市场价)</span>
        </div>
        <div class="left" v-else>
          <span class="coming-soon">敬请期待</span>
        </div>
        <!-- <div
          class="right"
          v-if="data.isAssistOrder ? data.assistSaleQty : data.saleQty"
        >月销{{data.isAssistOrder
          ? (data.assistSaleQty + '')[4] ? (data.assistSaleQty + '')[8] ? ((data.assistSaleQty + '').slice(0, -8) + '亿') : ((data.assistSaleQty + '').slice(0, -4) + '万') : (data.assistSaleQty)
          : (data.saleQty + '')[4] ? (data.saleQty + '')[8] ? ((data.saleQty + '').slice(0, -8) + '亿') : ((data.saleQty + '').slice(0, -4) + '万') : (data.saleQty)}}</div> -->
      </div>
      <van-icon name="cart-circle-o" class="icon-cart" @click.stop="addToCart" />
    </div>
  </div>
</template>

<script>
import { allImgDomainNameMixin } from '@/assets/js/mixin'
import { api } from '@/api'
import { getCookie } from '@/utils/common'

export default {
  name: 'goods-item-three',
  mixins: [allImgDomainNameMixin],
  props: {
    data: {
      type: Object,
      required: true
    }
  },
  data () {
    return {

    }
  },
  created () {

  },
  methods: {
    goDetails () {
      this.$router.push({
        name: this.data.isZZItem !== '1' ? 'goodsDetails' : 'breedingPigDetails',
        query: {
          id: this.data.id,
          type: this.data.itemType,
          combItemId: this.data.combItemId
        }
      })
    },
    goShop () {
      this.$router.push({
        name: 'shop',
        query: {
          ownerId: this.data.ownerId
        }
      })
    },
    // 初始化参数
    formatParams (v, combList) {
      let paramItem = []
      if (!(+v.itemType === 1)) {
        let item = {
          ownerId: v.ownerId,
          itemId: v.itemId,
          isChoose: '1',
          customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
        }

        item.unitId = v.saleUnitId + ''
        item.assistUnitId = v.isAssistOrder ? v.assistUnitId + '' : null

        if (v.isAssistOrder) {
          item.assistQty = 1
        } else {
          item.qty = 1
        }

        if (v.weightRange && v.weightRange.length && v.weightRange[0].id) {
          item.wtRangeId = v.weightRange[0].id + ''
        }

        if (v.assistAttrArray && v.assistAttrArray[0]) {
          item.assistattrId = JSON.parse(v.assistAttrArray[0]).id + ''
        }

        paramItem.push(item)
      } else {
        paramItem.push({
          isChoose: '1',
          combItemId: v.combItemId,
          entryType: '1',
          ownerId: v.ownerId,
          qty: 1,
          customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
        })
        combList.forEach(child => {
          let item = {
            ownerId: v.ownerId,
            itemId: child.id,
            isChoose: '1',
            entryType: '2',
            combItemId: v.combItemId,
            combItemEntryId: child.combEntryId,
            combBaseQty: child.baseQty,
            customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
          }

          item.unitId = child.saleUnit + ''
          item.assistUnitId = child.isAssistOrder ? child.assistUnit + '' : null

          if (child.isAssistOrder) {
            item.assistQty = child.baseQty * 1
          } else {
            item.qty = child.baseQty * 1
          }

          if (child.assistattrId && child.assistattrId !== ' ') item.assistattrId = child.assistattrId

          paramItem.push(item)
        })
      }

      return paramItem
    },
    // 加入购物车
    addToCart () {
      if (this.token) {
        let params = {
          items: [],
          itemList: [],
          customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
        }
        let ids = {}
        let list = []
        let callArray = [] // 调用queryGoodsDetail接口数组

        // itemIsBuy传参
        let item2 = {
          itemId: this.data.itemId,
          qty: 1,
          type: +this.data.itemType === 1 ? '1' : '0'
        }

        if (this.data.assistAttrArray && this.data.assistAttrArray[0] && !(+this.data.itemType === 1)) {
          item2.assistAttrId = JSON.parse(this.data.assistAttrArray[0]).id + ''
        }

        let item3 = {
          id: this.data.itemId,
          combItemId: +this.data.itemType === 1 ? this.data.combItemId : '',
          type: +this.data.itemType === 1 ? '1' : '0',
          ownerId: this.data.ownerId
        }

        if (!(+this.data.itemType === 1)) {
          item3.name = this.data.itemName
        }

        params.items.push(item2)
        params.itemList.push(item3)

        // saveGoods传参
        if (!(+this.data.itemType === 1)) {
          ids[this.data.itemId] = this.formatParams(this.data)
        } else {
          let item = this.data
          let p = api.queryGoodsDetail({ id: item.combItemId, type: '1' }).then(res => {
            if (res.success) {
              ids[item.itemId] = this.formatParams(item, res.data.combList)
            } else {
              // this.$toast.fail('部分组合促销信息查询失败')
            }
          })
          callArray.push(p)
        }

        if (!params.items.length) {
          return
        }

        Promise.all(callArray).then(() => {
          api.itemIsBuy(params).then(res => {
            if (res.success) {
              if (!res.data.list.length) {
                this.$toast.fail('商品已失效')
                return
              }

              let hasInValid = params.items.length !== res.data.list.length

              res.data.list.forEach(v => {
                if (+v.isBuy) {
                  list = list.concat(ids[v.itemId])
                }
              })

              if (!list.length) {
                this.$toast.fail(hasInValid ? '该商品暂时不能加入购物车或已失效' : '该商品暂时不能加入购物车')
                return
              }

              api.saveGoods({ list }).then(res => {
                if (res.success) {
                  let param = {
                    page: 1,
                    pageSize: 999,
                    isGetCountOnly: 1,
                    customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
                  }
                  if (this.$store.state.intoPage === 0 && getCookie('selectedChannel')) {
                    param.owner = JSON.parse(getCookie('selectedChannel')).channelId
                  } else if (this.$store.state.intoPage === 1 && this.$store.state.channel.currentChannel && this.$store.state.channel.currentChannel.channelId) {
                    param.owner = this.$store.state.channel.currentChannel.channelId
                  }
                  api.queryCart(param).then(res => {
                    if (res.success) {
                      this.$store.dispatch('setShoppingCartCount', res.data.count)
                    }
                  })
                  this.$toast.success('加入购物车成功')
                } else {
                  res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
                }
              })
            } else {
              res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
            }
          })
        })
      } else {
        this.$toast('请先登录')
        this.$router.push({ path: '/loginRandom', query: { redirect: this.$route.fullPath } })
      }
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.goods-item {
  width: 100%;
  height: 280px;
  background-color: #fff;
  box-sizing: border-box;
  padding: 0 24px;
  display: flex;
  align-items: center;
  .goods-img {
    width: 260px;
    height: 260px;
    flex: 0 0 260px;
    position: relative;
    overflow: hidden;
    .single {
      position: absolute;
      width: 100%;
      left: -50%;
      top: -75px;
      height: 150px;
      transform: rotate(-45deg);
      >span {
        font-size: 24px;
        background: rgba(255, 0, 0, 0.9);
        color: white;
        width: 100%;
        position: absolute;
        bottom: 0;
        text-align: center;
      }
    }
    >img {
      width: 100%;
      height: 100%;
    }
  }
  .content {
    height: 100%;
    width: calc(100% - 24px - 260px);
    flex: 1;
    margin-left: 24px;
    position: relative;
    .border-1px();
    .name {
      width: 100%;
      font-size: 28px;
      line-height: 34px;
      margin-top: 29px;
      display: -webkit-box;
      -webkit-line-clamp: 2; // 限制文本的行数，只显示两行
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      word-wrap: break-word;
      word-break: break-all;
    }
    .sales {
      display: block;
      width: 100%;
      margin: 10px 0;
      font-size: 22px;
      color: #8e939a;
      line-height: 56px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .allPolicyName {
      display: inline-block;
      max-width: 100%;
      color: #e33240;
      font-size: 24px;
      border: 1px solid;
      padding: 0 8px;
      box-sizing: border-box;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .price-info {
      width: 100%;
      font-size: 24px;
      color: #8e939a;
      padding: 32px 0;
      display: flex;
      justify-content: space-between;
      position: absolute;
      left: 0;
      bottom: 0;
      .left {
        flex: 7;
        .coin-symbol {
          color: #e33240;
        }
        .price {
          color: #e33240;
          font-size: 32px;
        }
        .unit {
          font-size: 22px;
          color: #e33240;
        }
        .coming-soon {
          font-size: 26px;
          color: #e33240;
        }
      }
      .right {
        flex: 3;
        font-size: 22px;
        margin-top: 4px;
        text-align: right;
      }
    }
    .icon-cart {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      font-size: 48px;
    }
  }
}
</style>
