<template>
  <div class="goods-item">
    <div class="goods-img">
      <div class="single" v-if="+data.itemType === 1">
        <span>非单卖品</span>
      </div>
      <img
        v-lazy="allImgDomainName + data.thumbnail"
        alt
        :key="data.thumbnail"
        @click="seeGoodsDetails"
      >
      <p class="allPolicyName" v-if="data.combName">{{data.combName}}</p>
    </div>
    <div class="content">
      <div>
        <h3 class="name" @click="seeGoodsDetails">{{data.itemName}}</h3>
      </div>
      <span class="sales" @click="toShop">{{data.storeName || data.ownerName}}</span>
      <div class="price-info">
        <div class="left" v-if="token && data.price">
          <span
            class="price"
          >{{data.price ? (data.price.toString().split('.')[0] || '0') : '0'}}</span>
          <span
            class="unit"
          >.{{data.price
          ? (data.price.toString().split('.')[1]
            ? (data.price.toString().split('.')[1].length === 1
              ? data.price.toString().split('.')[1] + '0'
              : data.price.toString().split('.')[1])
            : '00')
          : '00'}} 元/{{data.saleUnitName}}</span>
        </div>
        <div class="left" v-else-if="token && !data.price">
          <span class="coming-soon">敬请期待</span>
        </div>
        <div class="left" v-else-if="!token && data.referencePrice">
          <!-- <span>约</span> -->
          <span
            class="price"
          >{{data.referencePrice ? (data.referencePrice.toString().split('.')[0] || '0') : '0'}}</span>
          <span
            class="unit"
          >.{{data.referencePrice
          ? (data.referencePrice.toString().split('.')[1]
            ? (data.referencePrice.toString().split('.')[1].length === 1
              ? data.referencePrice.toString().split('.')[1] + '0'
              : data.referencePrice.toString().split('.')[1])
            : '00')
          : '00'}} 元/{{data.saleUnitName}}&nbsp;(市场价)</span>
        </div>
        <div class="left" v-else>
          <span class="coming-soon">敬请期待</span>
        </div>
        <!-- <div class="right" v-if="data.salesVolume">月销{{data.salesVolume}}</div> -->
      </div>
      <van-icon name="cart-circle-o" class="icon-cart" @click.stop="addToCart" />
    </div>
  </div>
</template>

<script>
import { allImgDomainNameMixin } from '@/assets/js/mixin'

export default {
  name: 'goods-item',
  mixins: [allImgDomainNameMixin],
  props: {
    data: {
      type: Object,
      required: true
    }
  },
  data () {
    return {

    }
  },
  created () {

  },
  methods: {
    seeGoodsDetails () {
      this.$emit('seeGoodsDetails', this.data.id, this.data.itemType, this.data.combItemId, this.data.isZZItem)
    },
    toShop () {
      this.$emit('toShop', this.data.ownerId)
    },
    addToCart () {
      this.$emit('addToCart', this.data)
    }
  }
}
</script>

<style lang="less" scoped>
.goods-item {
  min-width: 339px;
  background-color: #fff;
  .goods-img {
    width: 100%;
    height: 339px;
    position: relative;
    overflow: hidden;
    .single {
      position: absolute;
      width: 100%;
      left: -50%;
      top: -75px;
      height: 150px;
      transform: rotate(-45deg);
      >span {
        font-size: 24px;
        background: rgba(255, 0, 0, 0.9);
        color: white;
        width: 100%;
        position: absolute;
        bottom: 0;
        text-align: center;
      }
    }
    > img {
      width: 100%;
      height: 100%;
    }
    .allPolicyName {
      height: 45px;
      line-height: 45px;
      position: absolute;
      left: 0;
      top: 294px;
      width: 100%;
      background: rgba(255, 0, 0, .5);
      color: rgba(255, 255, 255, .9);
      font-size: 28px;
      padding: 0 8px;
      box-sizing: border-box;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .content {
    position: relative;
    .name {
      display: inline-block;
      vertical-align: middle;
      width: 100%;
      font-size: 28px;
      margin-top: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .sales {
      display: block;
      width: 100%;
      margin: 10px 0;
      padding-right: 52px;
      font-size: 22px;
      color: #8e939a;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      box-sizing: border-box;
    }
    .price-info {
      font-size: 24px;
      color: #8e939a;
      margin-top: 5px;
      display: flex;
      justify-content: space-between;
      .left {
        flex: 2;
        .coin-symbol {
          color: #e33240;
        }
        .price {
          color: #e33240;
          font-size: 32px;
        }
        .unit {
          font-size: 22px;
          color: #e33240;
        }
        .coming-soon {
          font-size: 26px;
          color: #e33240;
        }
      }
      .right {
        flex: 1;
        font-size: 22px;
      }
    }
    .icon-cart {
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 44px;
    }
  }
}
</style>
