<template>
  <div class="goods-item">
    <div class="goods-img">
      <div class="single" v-if="+data.itemType === 1">
        <span>非单卖品</span>
      </div>
      <!-- <img
        v-lazy="allImgDomainName + data.thumbnail"
        alt
        @click="goDetails"
      > -->
    </div>

    <div class="content">
      <h3 class="name" @click="goDetails">{{麻甘}}</h3>
      <p class="allPolicyName" v-if="data.combName">{{data.combName}}</p>
      <p class="avg-weight" v-if="data.specification && data.specification[0]"><span>均重：{{data.specification[0].minAvgWeight + '-' + data.specification[0].maxAvgWeight + data.specification[0].uom_name}}</span></p>
      <p class="detail">
        <span class="sub-title" v-if="+data.storeQty && +data.storeQty > 0">库存：</span>
        <span class="sub-value" v-if="+data.storeQty && +data.storeQty > 0">{{data.showStock && data.showStock.show_stock ? '剩余' + data.showStock.cur_stock : '有货'}}</span>
      </p>
      <div class="price-info">
        <i class="icon-today-price"></i>
        <div class="left" v-if="token && data.price">
          <span class="price">{{(data.price && data.price.toString().split('.')[0]) || '0'}}.{{(data.price && (data.price.toString().split('.')[1]
            ? data.price.toString().split('.')[1].length === 1
              ? data.price.toString().split('.')[1] + '0'
              : data.price.toString().split('.')[1]
            : '00'))
            || '00'}}</span>
          <span class="unit">元/{{}}</span>
        </div>
        <div class="left" v-else-if="!token && data.referencePrice">
          <span class="price"></span>
          <span class="unit"></span>
        </div>
        <!-- <div
          class="right"
          v-if="data.isAssistOrder ? data.assistSaleQty : data.saleQty"
        >月销{{data.isAssistOrder
          ? (data.assistSaleQty + '')[4] ? (data.assistSaleQty + '')[8] ? ((data.assistSaleQty + '').slice(0, -8) + '亿') : ((data.assistSaleQty + '').slice(0, -4) + '万') : (data.assistSaleQty)
          : (data.saleQty + '')[4] ? (data.saleQty + '')[8] ? ((data.saleQty + '').slice(0, -8) + '亿') : ((data.saleQty + '').slice(0, -4) + '万') : (data.saleQty)}}</div> -->

          <i class="icon-cart" v-if="+data.storeQty && +data.storeQty > 0" @click.stop="addToCart" ref="cartIconRef"></i>
          <i class="soldout-icon" v-else></i>
          <transition :css="false" @before-enter="beforeEnter" @enter="enter" @after-enter="afterEnter">
            <i class="icon-cart animation" v-if="addShow"></i>
          </transition>
      </div>
    </div>
  </div>
</template>

<script>
import { allImgDomainNameMixin } from '@/assets/js/mixin'
import { api } from '@/api'
import { getCookie } from '@/utils/common'

export default {
  name: 'goods-item-three',
  mixins: [allImgDomainNameMixin],
  props: {
    data: {
      type: Object,
      required: true
    },
    endPoint: { // 加入购物车动画的终点（底部购物车图标）位置
      type: Object,
      default: () => ({})
    }
  },
  data () {
    return {
      addShow: false // 动画图标显示
    }
  },
  created () {

  },
  methods: {
    goDetails () {
      this.$router.push({
        name: this.data.isZZItem !== '1' ? 'goodsDetails' : 'breedingPigDetails',
        query: {
          id: this.data.id,
          type: this.data.itemType,
          combItemId: this.data.combItemId
        }
      })
    },
    goShop () {
      this.$router.push({
        name: 'shop',
        query: {
          ownerId: this.data.ownerId
        }
      })
    },
    // 初始化参数
    formatParams (v, combList) {
      let paramItem = []
      if (!(+v.itemType === 1)) {
        let item = {
          ownerId: v.ownerId,
          itemId: v.itemId,
          isChoose: '1',
          customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
        }

        item.unitId = v.saleUnitId + ''
        item.assistUnitId = v.isAssistOrder ? v.assistUnitId + '' : null

        if (v.isAssistOrder) {
          item.assistQty = 1
        } else {
          item.qty = 1
        }

        if (v.weightRange && v.weightRange.length && v.weightRange[0].id) {
          item.wtRangeId = v.weightRange[0].id + ''
        }

        if (v.assistAttrArray && v.assistAttrArray[0]) {
          item.assistattrId = JSON.parse(v.assistAttrArray[0]).id + ''
        }

        paramItem.push(item)
      } else {
        paramItem.push({
          isChoose: '1',
          combItemId: v.combItemId,
          entryType: '1',
          ownerId: v.ownerId,
          qty: 1,
          customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
        })
        combList.forEach(child => {
          let item = {
            ownerId: v.ownerId,
            itemId: child.id,
            isChoose: '1',
            entryType: '2',
            combItemId: v.combItemId,
            combItemEntryId: child.combEntryId,
            combBaseQty: child.baseQty,
            customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
          }

          item.unitId = child.saleUnit + ''
          item.assistUnitId = child.isAssistOrder ? child.assistUnit + '' : null

          if (child.isAssistOrder) {
            item.assistQty = child.baseQty * 1
          } else {
            item.qty = child.baseQty * 1
          }

          if (child.assistattrId && child.assistattrId !== ' ') item.assistattrId = child.assistattrId

          paramItem.push(item)
        })
      }

      return paramItem
    },
    // 加入购物车
    addToCart () {
      if (this.token) {
        let params = {
          items: [],
          itemList: [],
          customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
        }
        let ids = {}
        let list = []
        let callArray = [] // 调用queryGoodsDetail接口数组

        // itemIsBuy传参
        let item2 = {
          itemId: this.data.itemId,
          qty: 1,
          type: +this.data.itemType === 1 ? '1' : '0'
        }

        if (this.data.assistAttrArray && this.data.assistAttrArray[0] && !(+this.data.itemType === 1)) {
          item2.assistAttrId = JSON.parse(this.data.assistAttrArray[0]).id + ''
        }

        let item3 = {
          id: this.data.itemId,
          combItemId: +this.data.itemType === 1 ? this.data.combItemId : '',
          type: +this.data.itemType === 1 ? '1' : '0',
          ownerId: this.data.ownerId
        }

        if (!(+this.data.itemType === 1)) {
          item3.name = this.data.itemName
        }

        params.items.push(item2)
        params.itemList.push(item3)

        // saveGoods传参
        if (!(+this.data.itemType === 1)) {
          ids[this.data.itemId] = this.formatParams(this.data)
        } else {
          let item = this.data
          let p = api.queryGoodsDetail({ id: item.combItemId, type: '1' }).then(res => {
            if (res.success) {
              ids[item.itemId] = this.formatParams(item, res.data.combList)
            } else {
              // this.$toast.fail('部分组合促销信息查询失败')
            }
          })
          callArray.push(p)
        }

        if (!params.items.length) {
          return
        }

        Promise.all(callArray).then(() => {
          api.itemIsBuy(params).then(res => {
            if (res.success) {
              if (!res.data.list.length) {
                this.$toast.fail('商品已失效')
                return
              }

              let hasInValid = params.items.length !== res.data.list.length

              res.data.list.forEach(v => {
                if (+v.isBuy) {
                  list = list.concat(ids[v.itemId])
                }
              })

              if (!list.length) {
                this.$toast.fail(hasInValid ? '该商品暂时不能加入购物车或已失效' : '该商品暂时不能加入购物车')
                return
              }

              api.saveGoods({ list }).then(res => {
                if (res.success) {
                  this.addShow = true // 成功加入购物车动画开启

                  let param = {
                    page: 1,
                    pageSize: 999,
                    isGetCountOnly: 1,
                    customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
                  }
                  if (this.$store.state.intoPage === 0 && getCookie('selectedChannel')) {
                    param.owner = JSON.parse(getCookie('selectedChannel')).channelId
                  } else if (this.$store.state.intoPage === 1 && this.$store.state.channel.currentChannel && this.$store.state.channel.currentChannel.channelId) {
                    param.owner = this.$store.state.channel.currentChannel.channelId
                  }
                  api.queryCart(param).then(res => {
                    if (res.success) {
                      this.$store.dispatch('setShoppingCartCount', res.data.count)
                    }
                  })
                  this.$toast.success('加入购物车成功')
                } else {
                  res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
                }
              })
            } else {
              res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
            }
          })
        })
      } else {
        this.$toast('请先登录')
        this.$router.push({ path: '/loginRandom', query: { redirect: this.$route.fullPath } })
      }
    },
    // 动画钩子函数
    // 进入前
    beforeEnter (el) {
      el.style.transform = 'scale(1) translate(0, 0)'
      el.style.opacity = 1
    },
    // 进入中
    enter (el, done) {
      const scaling = 0.5
      // 触发浏览器重绘
      // eslint-disable-next-line
      // let rf = el.offsetWidth
      this.$nextTick(() => {
        let startPoint = this.$refs.cartIconRef.getBoundingClientRect()
        let xDist = this.endPoint.left + this.endPoint.width / 2 - startPoint.left
        let yDist = this.endPoint.top - this.endPoint.height / 2 - startPoint.top
        el.style.transform = `scale(${scaling}) translate(${xDist / scaling}px, ${yDist / scaling}px)`
        el.style.opacity = 0.1
        el.style.transition = 'all 1s cubic-bezier(0.41, -0.31, 0.95, 0.82)'
      })
      // done()
      el.addEventListener('transitionend', done)
    },
    // 进入后
    afterEnter (el) {
      this.addShow = false
    },
    // 查看质检情况
    checkQualityTesting (data) {
      this.$emit('checkQualityTesting', data)
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.goods-item {
  background-color: #fff;
  box-sizing: border-box;
  margin: 0 18px 0 16px;
  display: flex;
  align-items: center;
  .border-1px(#CCCCCC);
  .goods-img {
    width: 190px;
    height: 190px;
    flex: 0 0 190px;
    padding: 26px 0;
    position: relative;
    overflow: hidden;
    .single {
      position: absolute;
      width: 100%;
      left: -50%;
      top: -75px;
      height: 150px;
      transform: rotate(-45deg);
      >span {
        font-size: 24px;
        background: rgba(255, 0, 0, 0.9);
        color: white;
        width: 100%;
        position: absolute;
        bottom: 0;
        text-align: center;
      }
    }
    >img {
      width: 100%;
      height: 100%;
    }
  }
  .content {
    height: 100%;
    width: calc(100% - 20px - 190px);
    padding: 26px 0;
    flex: 1;
    margin-left: 20px;
    position: relative;
    .name {
      width: 100%;
      color: #333333;
      font-size: 34px;
      line-height: 40px;
      // margin: 18px 0 12px;
      display: -webkit-box;
      -webkit-line-clamp: 2; // 限制文本的行数，只显示两行
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      word-wrap: break-word;
      word-break: break-all;
    }
    .sales {
      display: block;
      width: 100%;
      margin: 10px 0;
      font-size: 22px;
      color: #8e939a;
      line-height: 56px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .allPolicyName {
      display: inline-block;
      max-width: 100%;
      color: #e33240;
      font-size: 24px;
      border: 1px solid;
      padding: 0 8px;
      box-sizing: border-box;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .detail {
      margin-top: 6px;
      >span {
        font-size: 22px;
        &.sub-title {
          color: #999999;
          &:not(:first-child) {
            margin-left: 30px;
          }
        }
        &.sub-value {
          color: #666666;
          &.btn {
            padding: 0 3px;
            color: #FF0000;
            border: 1px solid #FF0000;
            border-radius: 8px;
          }
        }
      }
    }
    .avg-weight {
      margin-top: 18px;
      >span {
        padding: 2px 6px;
        background: #ADADAD;
        border-radius: 4px;
        color: #ffffff;
        font-size: 22px;
      }
    }
    .price-info {
      width: 100%;
      min-height: 48px;
      font-size: 24px;
      color: #8e939a;
      margin-top: 32px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      .icon-today-price {
        width: 26px;
        height: 26px;
        flex: 0 0 26px;
        margin-right: 10px;
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
      .left {
        flex: 7;
        .coin-symbol {
          color: #e33240;
        }
        .price {
          color: #e33240;
          font-size: 44px;
          font-family: 'AvenirLTStd-Black';
        }
        .unit {
          color: #e33240;
          font-size: 32px;
          font-family: 'AvenirLTStd-Black';
        }
        .coming-soon {
          color: #e33240;
          font-size: 26px;
        }
      }
      .right {
        flex: 3;
        font-size: 22px;
        margin-top: 4px;
        text-align: right;
      }
      .icon-cart {
        position: absolute;
        right: 16px;
        bottom: 0;
        width: 48px;
        height: 48px;
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        &.animation {
          z-index: 2;
        }
      }
      .soldout-icon {
        position: absolute;
        right: 16px;
        bottom: 0;
        width: 80px;
        height: 80px;
        background-position: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        .bg-img("~@/assets/images/new-version/common/soldout");
      }
    }
  }
}
</style>
