<template>
  <transition name="slide">
    <router-view></router-view>
  </transition>
</template>

<script>
export default {
  name: 'orderIndex',
  data () {
    return {}
  }
}
</script>

<style lang="less" scoped>

</style>
