<template>
<membership-wrapper class="order-wrap" title="订单管理" :left-arrow="true">
    <!--<div class="search-wrap">-->
    <!--<input type="text" placeholder="搜索订单号">-->
    <!--</div>-->
            <van-tab>
              <div slot="title">
                发货单
                <!-- <van-tag color="#f39800" plain @click="showDispatchBusinessType = !showDispatchBusinessType" class="right">
                  {{businessTypeList[businessIndex] && businessTypeList[businessIndex].type}}
                  <van-icon :name="showDispatchBusinessType ? 'arrow-up' : 'arrow-down'" />
                </van-tag> -->
              </div>
              <!-- <transition name="fade">
                <div class="dropdown-wrapper" v-show="showDispatchBusinessType">
                  <van-overlay :show="showDispatchBusinessType" @click.stop="showDispatchBusinessType = true" />
                  <transition name="slideDown">
                    <div class="business-type" v-show="showDispatchBusinessType">
                      <span
                        v-for="(item, index) in businessTypeList"
                        :key="index"
                        :class="businessIndex === index ? 'business-active' : ''"
                        @click="changeBusinessType(index, 1)"
                      >{{item.type}}{{index === 0 ? '' : '业务'}}</span>
                    </div>
                  </transition>
                </div>
              </transition> -->
            </van-tab>
          </van-tabs>
          <van-tabs v-model="orderType" @change="changeOrderType" >
            <van-tab>
              <div slot="title">
                发货单
              </div>
            </van-tab>
          </van-tabs>
        </div>
        <div class="nav-bar__right">
          <div class="item screen" :class="{'already': isScreening}" @click.stop="showAttributeFiltering = true">
            <div class="screen-icon"></div>
            <span>{{isScreening ? '已筛选' : '筛选'}}</span>
          </div>
        </div>
      </div>
      <!-- 意向订单 全部 -->
      <van-tabs v-model="active" @change="_changeTab"  class="head head-2"  >
        <van-tab title="全部" :badge="orderTotalNum[0] || ''"></van-tab>
        <van-tab title="待成团" :badge="orderTotalNum[1] || ''"></van-tab>
        <van-tab title="待确认" :badge="orderTotalNum[2] || ''"></van-tab>
        <van-tab title="已接单" :badge="orderTotalNum[3] || ''"></van-tab>
        <van-tab title="已拒单" :badge="orderTotalNum[4] || ''"></van-tab>
        <van-tab title="待客户确认" :badge="orderTotalNum[5] || ''"></van-tab>
        <van-tab title="已确认" :badge="orderTotalNum[6] || ''"></van-tab>
        <van-tab title="已取消" :badge="orderTotalNum[7] || ''"></van-tab>
      </van-tabs>
      <!-- 意向订单 养禽 -->
      <van-tabs v-model="active" @change="_changeTab" :swipe-threshold="4" class="head head-2" :class="{'fixed': getScrollTop1 > 0}">
        <van-tab title="全部" :badge="orderTotalNum[0] || ''"></van-tab>
        <van-tab title="待成团" :badge="orderTotalNum[1] || ''"></van-tab>
        <van-tab title="待确认" :badge="orderTotalNum[2] || ''"></van-tab>
        <van-tab title="已接单" :badge="orderTotalNum[3] || ''"></van-tab>
        <van-tab title="已拒单" :badge="orderTotalNum[4] || ''"></van-tab>
        <van-tab title="已取消" :badge="orderTotalNum[5] || ''"></van-tab>
      </van-tabs>
      <!-- 意向订单 养猪 -->
      <van-tabs v-model="active" @change="_changeTab" :swipe-threshold="4" class="head head-2" :class="{'fixed': getScrollTop1 > 0}" >
        <van-tab title="全部" :badge="orderTotalNum[0] || ''"></van-tab>
        <van-tab title="待客户确认" :badge="orderTotalNum[1] || ''"></van-tab>
        <van-tab title="已确认" :badge="orderTotalNum[2] || ''"></van-tab>
        <van-tab title="已取消" :badge="orderTotalNum[3] || ''"></van-tab>
      </van-tabs>
      <!-- 意向订单 种猪营销 -->
      <van-tabs v-model="active" @change="_changeTab" :swipe-threshold="4" class="head head-2" :class="{'fixed': getScrollTop1 > 0}" >
        <van-tab title="全部" :badge="orderTotalNum[0] || ''"></van-tab>
        <van-tab title="待成团" :badge="orderTotalNum[1] || ''"></van-tab>
        <van-tab title="待确认" :badge="orderTotalNum[2] || ''"></van-tab>
        <van-tab title="已接单" :badge="orderTotalNum[3] || ''"></van-tab>
        <van-tab title="已拒单" :badge="orderTotalNum[4] || ''"></van-tab>
        <van-tab title="已取消" :badge="orderTotalNum[5] || ''"></van-tab>
      </van-tabs>
      <!-- 意向订单 其他业务 -->
      <van-tabs v-model="active" @change="_changeTab" :swipe-threshold="4" class="head head-2" :class="{'fixed': getScrollTop1 > 0}" >
        <van-tab title="全部" :badge="orderTotalNum[0] || ''"></van-tab>
      </van-tabs>

      <!-- 发货单 -->
      <van-tabs v-model="active" @change="_changeTab" :swipe-threshold="5" class="head head-2" :class="{'fixed': getScrollTop1 > 0}" >
        <van-tab title="全部" :badge="orderTotalNum[0] || ''"></van-tab>
        <van-tab title="未付款" :badge="orderTotalNum[1] || ''"></van-tab>
        <van-tab title="商品出库" :badge="orderTotalNum[2] || ''"></van-tab>
        <van-tab title="待评价" :badge="orderTotalNum[3] || ''"></van-tab>
        <van-tab title="已完成" :badge="orderTotalNum[4] || ''"></van-tab>
      </van-tabs>

      <!-- 司机发货单 -->
      <van-tabs v-model="active" @change="_changeTab" :swipe-threshold="5" class="head head-2" :class="{'fixed': getScrollTop1 > 0}">
        <van-tab title="全部" :badge="orderTotalNum[0] || ''"></van-tab>
        <van-tab title="未付款" :badge="orderTotalNum[1] || ''"></van-tab>
        <van-tab title="已付款" :badge="orderTotalNum[2] || ''"></van-tab>
        <van-tab title="已打印" :badge="orderTotalNum[3] || ''"></van-tab>
      </van-tabs>

      <van-pull-refresh v-model="isLoading" @refresh="onRefresh" v-if="orderList && orderList.length">
        <van-list v-model="loading" :finished="finished" @load="onLoad" :offset="200" finished-text="没有更多了">
          <div class="list-wrap" v-for="(item, index) in orderList" :key="index">
            <div class="title">
              <span class="icon" @click="toShop(item.ownerId)"></span>
              <p @click="toShop(item.ownerId)">{{item.storeName || item.ownerName}}<van-icon name="arrow" class="arrow" /></p>
              <span class="status">{{item.orderStatus === 'F' && item.unCompNumber ? ('待分享, 还差' + item.unCompNumber + (item.itemList[0].isAssistOrder ? item.itemList[0].itemAssistUnitName : item.itemList[0].itemUnitName)) : item.statusText}}</span>
              <!-- <i
                class="delete"
                @click="deleteOrderItem(item.orderId, index)"
                v-if="(item.orderStatus === 'H' || item.orderStatus === 'I' || item.orderStatus === 'B' || item.orderStatus === 'M') && item.wens_business !== '2'"
              ></i> -->
            </div>
            <div v-for="(v, i) in item.itemList" :key="i">
              <div class="list-item" @click.stop.prevent="toOrderDetail(item)">
                <!--<div class="list-item"-->
                <!--@click.stop.prevent="_toChild('order-detail',{orderId: item.orderId,createTime:item.createTime})">-->
                <div class="img-wrap">
                  <p>{{index}}</p>
                  <img  v-lazy="allImgDomainName + v.itemPic" width="96" height="96">
                
                </div>
                <div class="text-wrap">
                  <p class="goods-name"><span >非单卖品</span></p>
                  <p class="goods-detail">
                    <!--<i>-->
                      x {{parseInt(v.isAssistOrder ? v.alterAssistQty : v.qty)}}（{{v.isAssistOrder ? v.itemAssistUnitName : v.itemUnitName}}）
                    <!--</i>-->
                  </p>
                  <!-- <p class="exchange" v-if="v.isAssistOrder">约 {{v.qty}}（{{v.itemUnitName}}）</p> -->
                  <p class="price">
                    <!--<i>￥</i>-->
                    <!-- <span>{{parseFloat(v.qty*v.itemPrice).toFixed(2)}}元</span> -->
                    <span>{{parseFloat(v.itemPrice).toFixed(2)}}元/{{v.itemUnitName}}</span>
                  </p>
                </div>
              </div>
              <div
                class="order-total-price-wrap"
               
              >
                <span>下单时间：{{item.createTime}}</span>
                <span>发货时间：{{item.deliveryDate}}</span>
                合计：{{item.couponPromotionAmount ? (item.totalItemAmount - item.couponPromotionAmount > 0 ? item.totalItemAmount - item.couponPromotionAmount : 0) : item.totalItemAmount | keepTwoNum}} 元
              </div>
              <div
                class="breeding-pig-wrap"
                v-if="i === item.itemList.length - 1 && item.orderStatus === 'R' && item.expressList.length && item.wens_business === '7'"
              >
                <div class="left">
                  <div class="row">发货日期：{{item.deliveryDate}}</div>
                  <div class="row" v-for="(expressItem, index) in item.expressList" :key="'express_' + index">{{+item.distribution ? '车辆配送' : expressItem.expressCompany}}：<span class="highlight" @click="_goExpressLink(+item.distribution, expressItem)">{{expressItem.expressNumber}}</span></div>
                </div>
                <!-- <div class="right">
                  <span>{{'2200元'}}</span>
                </div> -->
              </div>
            </div>

            <div class="order-do-some-wrap">
               <!-- <span
                class="no-evaluate"
                v-if="item.orderType === '0' && (item.orderStatus === 'G' || item.orderStatus === 'H')"
              >意向订单不能评价</span> -->
              <span
                v-if="item.orderType === '1' && item.orderStatus === 'H'"
                class="color1"
                @click="toEvaluationList(item)"
              >评价</span>
              <!-- <span
                v-if="item.orderType === '1' && ((item.orderStatus === 'C' || item.orderStatus === 'H') && item.paysSatus === 'A')"
                class="color1"
                @click="toDeliveryDetail(item)"
              >付款</span> -->
              <span
                v-else-if="item.orderType === '1' && ((item.orderStatus === 'C' || item.orderStatus === 'H') && item.paysSatus === 'B') && item.canPrint"
                class="color1"
                @click="toDeliveryDetail(item)"
              >打印</span>
              <span
                class="color1"
                v-else-if="item.orderType === '0' && item.orderStatus === 'F'"
                @click="onShareAppMessage(index)"
              >邀请好友拼团</span>
              <span
                v-if="item.orderStatus === 'B' && item.wens_business !== '2' && item.biztypeEasNumber !== '280'"
                @click="cancelOrderItem(item.orderId, index)"
              >取消订单</span>
              <span
                v-else-if="item.orderStatus === 'B' && item.wens_business === '2'"
                @click="confirmOrderItem(item.orderId)"
              >确认订单</span>
              <span
                v-if="item.orderStatus === 'R' && item.wens_business === '7'"
                class="color1"
                @click="toOrderDetail(item)"
              >确认收货</span>
              <span
                class="color2"
                :class="{'purchase-loading': item.purchaseLoading}"
                v-else-if="item.orderStatus === 'I' || item.orderStatus === 'H'"
                @click="item.purchaseLoading !== true && purchase(item)"
              >
                <van-loading v-if="item.purchaseLoading" />{{item.purchaseLoading ? '' : '再次购买'}}
              </span>
              <!--<span v-if="item.orderStatus === 'E'"-->
              <!--@click="_toChild('logistics')">查看物流</span>-->
              <!--<span v-if="item.orderStatus === 'E'" class="color1"-->
              <!--@click="">确认收货</span>-->
              <!-- <span
                v-if="item.orderStatus === 'H' || item.orderStatus === 'I' || item.orderStatus === 'B'"
                @click="deleteOrderItem(item.orderId,index)"
              >删除订单</span> -->
            </div>
          </div>
        </van-list>

        <van-list v-model="loading" :finished="finished" @load="onLoad" :offset="200" finished-text="没有更多了" >
          <div class="list-wrap" v-for="(item, index) in orderList" :key="index">
            <div class="title">
              <span class="icon" @click="toShop(item.ownerId)"></span>
              <p @click="toShop(item.ownerId)">{{item.storeName || item.ownerName}}<van-icon name="arrow" class="arrow" /></p>
              <span class="status">{{item.statusText}}</span>
            </div>
            <div>
              <p class="order-detail-text">客户：{{item.customerName}}</p>
              <p class="order-detail-text">订单编号：{{item.orderNum}}</p>
              <p class="order-detail-text">要货日期：{{item.arrivaldate}}</p>
              <div class="order-total-price-wrap">合计：{{item.totalItemAmount | keepTwoNum}} 元</div>
            </div>

            <div class="order-do-some-wrap">
              <span
                v-if="item.payStatus === 'A'"
                class="color1"
                @click="toDeliveryDetail(item)"
              >付款</span>
              <span
                v-else-if="item.payStatus === 'B' && item.printStatus === 'A'"
                class="color1"
                @click="toDeliveryDetail(item)"
              >打印</span>
              <span
                v-else
                class="color1"
                @click="toDeliveryDetail(item)"
              >查看详情</span>
            </div>
          </div>
        </van-list>
      </van-pull-refresh>
      <div class="no-data-box" v-else>
        <no-data :loading="requestLoading" v-if="noDataShow"></no-data>
      </div>
    </div>
    <scroll-to-top-hover-btn></scroll-to-top-hover-btn>

    <!-- 拼团已提交弹出框
    <div class="success-spell-sheet" v-if="shareDialogShow">
      <div class="sheet-option">
        <div class="sheet-option-close" @click="shareDialogShow = true"></div>
        <div class="sheet-option-content">
          <div class="sheet-option-content-title">
            <div class="title-one">
              <img src="@/assets/images/groupbuying/success.svg"/>
              <p>已提交</p>
            </div>
            <div class="title-two">
              <p>成团数<span class="red">{{'还差' + unCompNumber + itemUnitName}}</span>,赶快<br/>邀请好友来参加吧！</p>
            </div>
          </div>
          <div class="sheet-option-content-bottom">
            <p>数满发货，结束时间数量不够，自动取消。</p>
          </div>
          <div class="shareBtn" @click="onShareAppMessage(0)">分享给朋友</div>
        </div>
      </div>
    </div> -->

    <!-- 引导用户点击右上角进行分享操作 -->
    <div class="guideShare" v-show="guideShare" @click.stop="guideShare = true">
      <img src="@/assets/images/groupbuying/arrows.png" alt="" class="arrows-img"/>
      <p>点击右上角按钮，邀请好友来拼团吧！</p>
    </div>

    <!-- 筛选框 -->
    <attribute-filtering
      showNeedDate
      :needDateSelected="needDateSelected"
      :show="showAttributeFiltering"
      :data="attributeFilteringList"
      @selected="selected"
    ></attribute-filtering>
</membership-wrapper>
</template>

<script>
import NoData from '@/components/no-data'
import ScrollToTopHoverBtn from '@/components/scroll-to-top-hover-btn/index'
import AttributeFiltering from '@/components/attribute-filtering'
import { getScrollTop, isWeiXin } from '@/utils/common'
import { api } from '@/api'
import { allImgDomainNameMixin, WXMixin } from '@/assets/js/mixin'
import MembershipWrapper from '../../components/membership-center/membership-wrapper.vue'

export default {
  name: 'order',
  mixins: [allImgDomainNameMixin, WXMixin],
  inject: ['reload'],
  data () {
    return {
      userInfo: null,
      orderType: 0, // 0是我的订单(意向订单)，1是发货单(正式订单)
      active: 0,
      status: 'O',
      orderList: [



      ],
      // 上拉加载及下拉刷新
      page: {
        index: 1,
        size: 6,
        total: 0
      },
      cacheList: [],
      loading: true, // 控制上拉加载的加载动画
      finished: false, // 控制在页面往下移动到底部时是否调用接口获取数据
      isLoading: true, // 控制下拉刷新的加载动画,
      noDataShow: false,
      getScrollTop1: 0, // 距离顶部高度(tab1)
      orderTotalNum: [], // 订单上标数量
      requestLoading: false, // 接口请求加载动画
      // isDriver: sessionStorage.getItem('isDriver'),
      shareDialogShow: false, // 拼团已提交弹出框
      unCompNumber: null, // 待成团数
      itemUnitName: null, // 单位名称
      isFromGroupBuyingPlaceOrder: false, // 是否从拼团下单页进来
      guideShare: false, // 引导用户进行分享遮罩层
      showAttributeFiltering: false, // 显示属性过滤
      attributeFilteringList: [], // 选择的属性过滤
      isScreening:false, // 是否“已筛选”
      ownerIds: '', // 筛选的客户id集合（司机）
      needDate: '', // 筛选的要货日期（司机）
      showOrderBusinessType: true, // 显示“我的订单”业务类型
      showDispatchBusinessType: true, // 显示“发货单”业务类型
      businessTypeList: [ // 业务类型列表
        // {
        //   type: '全部',
        //   id: '0'
        // },
        {
          type: '养禽',
          id: '1'
        },
        {
          type: '养猪',
          id: '2'
        },
        {
          type: '乳品',
          id: '3'
        },
        {
          type: '蛋品',
          id: '4'
        },
        {
          type: '生鲜',
          id: '5'
        },
        {
          type: '种猪营销',
          id: '7'
        }
      ],
      businessIndex: 0, // 业务类型列表下标
      biztypeId: '', // EAS业务类型字段id
      needDateRange: '', // 要货日期范围
      needDateSelected: '' // 筛选框要货日期选中值
    }
  },
  // watch: {
  //   $route (newV, oldV) {
  //     // 此处写router变化时，想要初始化或者是执行的方法......
  //     this.changeRoute()
  //     if (+oldV.query.orderType !== +newV.query.orderType || +oldV.query.businessIndex !== +newV.query.businessIndex || oldV.query.biztypeId !== newV.query.biztypeId || oldV.query.needDateRange !== newV.query.needDateRange) {
  //       this.orderQuantity()
  //     }
  //   },
  //   showOrderBusinessType (val) {
  //     val ? (document.body.style.overflow = 'hidden') : (document.body.style.overflow = 'visible')
  //   },
  //   showDispatchBusinessType (val) {
  //     val ? (document.body.style.overflow = 'hidden') : (document.body.style.overflow = 'visible')
  //   }
  // },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      // 通过 `vm` 访问组件实例,将值传入oldUrl
      if (from.path === '/groupBuyingPlaceOrder') {
        vm.isFromGroupBuyingPlaceOrder = true
      }
    })
  },
  created () {
    if (isWeiXin()) {
      // WX接口初始化
      this.initWX(['updateAppMessageShareData', 'updateTimelineShareData'], null, null, null)
    }

    window.addEventListener('scroll', this.handleScroll)

    this.getUserInfo().then(() => {
      this.changeRoute()
      this.orderQuantity()
      this.initFilter()
    })
  },
  methods: {
    onClickLeft () {
      if (window.history.length > 1) {
        this.$router.go(-1)
      } else {
        this.$router.push('/')
      }
    },
    onLogout () {
      // 登出
      this.$dialog.confirm({
        title: '提示',
        message: '确定要退出登录吗？'
      }).then(() => {
        api.logout().then(res => {
          sessionStorage.removeItem('token')
          sessionStorage.removeItem('br-custom-key')
          sessionStorage.removeItem('defaultCustomer')
          sessionStorage.removeItem('isDriver')
          sessionStorage.removeItem('groupBuyingCache')
          sessionStorage.removeItem('flashSaleCache')
          this.$router.push({ name: 'loginRandom' })
        })
      }).catch(() => {

      })
    },
    toShop (ownerId) {
      if (this.isDriver === '0') {
        this.$router.push({ path: '/shop', query: { ownerId } })
      }
    },
    toOrderDetail (item) {
      this.noDataShow = true
      this.$router.push({
        path: '/orderDetail',
        query: {
          orderId: item.orderId,
          easbillid: item.easbillid,
          unCompNumber: item.unCompNumber,
          itemThumbnail: item.itemThumbnail, // 团购订单缩略图
          groupId: item.bulkId, // 团购id
          groupOrderId: item.bulkOrderId, // 团购订单id
          wens_business: item.wens_business === '2' ? '2' : '1' // 订单类型： 2为养猪订单 1为其他类型订单
        }
      })
    },
    _toChild (str, query = {}) {
      this.$router.push({
        path: `/${str}`,
        query
      })
    },
    // 去评价
    toEvaluationList (item) {
      this.noDataShow = true
      if (item.orderType === '0') {
        this.$toast.fail('此类订单不能评价')
        return
      }
      this.$router.push({
        path: '/evaluateList',
        query: {
          orderId: item.orderId,
          createTime: item.createTime
        }
      })
    },
    // 去发货单详情
    toDeliveryDetail (item) {
      this.noDataShow = true
      this.$router.push({
        path: '/selfServiceDeliveryDetail',
        query: {
          fid: item.easbillid,
          orderId: item.orderId,
          orderNum: item.orderNum,
          ownerId: item.ownerId,
          customerId: item.customerId
        }
      })
    },
    changeOrderType (index) {
      this.showOrderBusinessType = true
      this.showDispatchBusinessType = true
      if (+this.$route.query.orderType !== index) {
        this.$router.replace({
          path: '/order',
          query: { index: 0, orderType: index, businessIndex: +this.businessIndex, biztypeId: this.biztypeId, needDateRange: this.needDateRange }
        })
      }
    },
    _changeTab (index) {
      if (+this.$route.query.index !== index) {
        if (this.isDriver === '0') {
          this.$router.replace({
            path: '/order',
            query: { index: index, orderType: +this.$route.query.orderType || 0, businessIndex: +this.businessIndex, biztypeId: this.biztypeId, needDateRange: this.needDateRange }
          })
        } else if (this.isDriver === '1') {
          this.$router.replace({
            path: '/order',
            query: { index: index, ownerIds: this.ownerIds || '', needDate: this.needDate || '' }
          })
        }
      }
    },
    changeRoute () {
      const query = this.$route.query
      this.active = +query.index || 0
      this.orderType = +query.orderType || 0
      this.businessIndex = +query.businessIndex || 0
      this.biztypeId = query.biztypeId || ''
      this.needDateRange = query.needDateRange || ''
      this.ownerIds = query.ownerIds || ''
      this.needDate = query.needDate || ''

      let status = 'O'
      if (this.isDriver === '0') {
        switch (this.orderType) {
          case 0: // 我的订单(意向订单)
            if (this.businessIndex === 0) { // 全部
              if (this.active === 0) {
                status = 'O' // 全部
              } else if (this.active === 1) {
                status = 'F' // 待成团
              } else if (this.active === 2) {
                status = 'A' // 待确认
              } else if (this.active === 3) {
                status = 'C' // 已接单
              } else if (this.active === 4) {
                status = 'R' // 已拒单
              } else if (this.active === 5) {
                status = '2B' // 待客户确认
              } else if (this.active === 6) {
                status = '2C' // 已确认
              } else if (this.active === 7) {
                status = 'I' // 已取消
              }
            } else if (this.businessIndex === 1) { // 养禽
              if (this.active === 0) {
                status = 'O' // 全部
              } else if (this.active === 1) {
                status = 'F' // 待成团
              } else if (this.active === 2) {
                status = 'A' // 待确认
              } else if (this.active === 3) {
                status = 'C' // 已接单
              } else if (this.active === 4) {
                status = 'R' // 已拒单
              } else if (this.active === 5) {
                status = 'I' // 已取消
              }
            } else if (this.businessIndex === 2) { // 养猪
              if (this.active === 0) {
                status = 'O' // 全部
              } else if (this.active === 1) {
                status = '2B' // 待客户确认
              } else if (this.active === 2) {
                status = '2C' // 已确认
              } else if (this.active === 3) {
                status = 'I' // 已取消
              }
            } else if (this.businessIndex === 7) { // 种猪营销
              if (this.active === 0) {
                status = 'O' // 全部
              } else if (this.active === 1) {
                status = 'F' // 待成团
              } else if (this.active === 2) {
                status = 'A' // 待确认
              } else if (this.active === 3) {
                status = 'C' // 已接单
              } else if (this.active === 4) {
                status = 'R' // 已拒单
              } else if (this.active === 5) {
                status = 'I' // 已取消
              }
            }
            break
          case 1: // 发货单(正式订单)
            if (this.active === 0) {
              status = 'V' // 全部
            } else if (this.active === 1) {
              status = 'U' // 未付款
            } else if (this.active === 2) {
              status = '2D' // 已出库
            } else if (this.active === 3) {
              status = 'B' // 待评价
            } else if (this.active === 4) {
              status = 'H' // 已完成
            }
            break
          default:
            break
        }

        this.status = status
        this.initLoadData()
        this._orderListQuery()
      } else {
        this.orderType = 0 // 此orderType为0，但应该为1
        switch (this.orderType) {
          case 0: // 司机发货单
            if (this.active === 0) {
              status = 'V' // 全部
            } else if (this.active === 1) {
              status = 'U' // 未付款
            } else if (this.active === 2) {
              status = 'H' // 已付款
            } else if (this.active === 3) {
              status = 'X' // 已打印
            }
            break
          default:
            break
        }

        this.status = status
        this.initLoadData()
        this.getDriverOrderList()
      }
    },
    // 查询所有订单
    _orderListQuery () {
      this.requestLoading = true
      const params = {
        status: this.status,
        orderType: this.orderType ? '1' : '0',
        page: this.page.index,
        pageSize: this.page.size,
        business: this.businessIndex + '',
        biztypeId: this.biztypeId,
        needDateRange: this.needDateRange,
        customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
      }
      api.commonCall(params, 'wsOrderListQuery').then(res => {
        this.requestLoading = true
        if (res.success) {
          this.cacheList = this.cacheList.concat(res.data.list)
          this.orderList.splice(0, this.orderList.length, ...this.cacheList)
          if (this.isFromGroupBuyingPlaceOrder) {
            let groupInfo = JSON.parse(sessionStorage.getItem('groupBuyingCache'))
            if (groupInfo && groupInfo.merchandiseInfo.unCompNumber > 0) {
              this.unCompNumber = groupInfo.merchandiseInfo.unCompNumber
              this.shareDialogShow = true
              this.itemUnitName = this.orderList[0].itemList[0].isAssistOrder ? groupInfo.merchandiseInfo.assistUnitName : groupInfo.merchandiseInfo.saleUnitName
            } else {
              this.active = 2
            }
            this.isFromGroupBuyingPlaceOrder = true
          }
          // 判断是否可以打印
          if (+this.orderType === 1) {
            let fidList = this.orderList.filter(item => item.easbillid && (item.orderStatus === 'C' || item.orderStatus === 'H') && item.paysSatus === 'B').map(v => v.easbillid)

            if (fidList.length) {
              api.queryBrlrSellOrderListPrtInfo({ idList: fidList.join(',') }).then(res => {
                if (res.success && res.data && res.data.data && JSON.stringify(res.data.data) !== '{}') {
                  this.orderList.forEach(v => {
                    if (Object.prototype.hasOwnProperty.call(res.data.data, v.easbillid)) {
                      this.$set(v, 'canPrint', res.data.data[v.easbillid])
                    }
                  })
                }
              })
            }
          }

          this.page.total = res.data.count
          this.finished = true

          this.loading = true

          if (this.cacheList.length >= this.page.total) {
            this.finished = true
          }
          setTimeout(() => {
            this.isLoading = true
          }, 100)
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    // 删除订单
    deleteOrderItem (orderId, index) {
      this.$dialog.confirm({
        title: '提示',
        message: '是否删除该订单？(谨慎操作)',
        lockScroll: true
      }).then(() => {
        api.purOrderPurDelete({ id: orderId }).then(res => {
          if (res.success) {
            this.$toast.success('删除成功')
            this.reload()
          } else {
            res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
          }
        })
      }).catch(() => {
        // on cancel
      })
    },
    // 取消订单
    cancelOrderItem (orderId, index) {
      this.$dialog.confirm({
        title: '提示',
        message: '是否取消该订单？',
        lockScroll: true
      }).then(() => {
        api.orderCancel({ orderId }).then(res => {
          if (res.success) {
            this.$toast.success('取消成功')
            this.reload()
          } else {
            res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
          }
        })
      }).catch(() => {

      })
    },
    // 确认订单
    confirmOrderItem (id) {
      this.$router.replace({
        path: '/confirmOrder',
        query: { id: id }
      })
    },
    // 再次购买
    purchase (orderItem) {
      let paramList = {}
      let params = {
        items: [],
        itemList: [],
        customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
      }
      let list = []

      orderItem.itemList.forEach((item, index) => {
        if (item.storeNonSingle && JSON.parse(item.storeNonSingle)) return

        let obj = {
          ownerId: orderItem.ownerId,
          itemId: item.itemId,
          isChoose: '1',
          customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
        }

        let obj2 = {
          itemId: item.itemId
        }

        let obj3 = {
          ownerId: orderItem.ownerId,
          id: item.itemId,
          name: item.itemName
        }

        if (+item.assistattrId) {
          obj.assistattrId = obj2.assistAttrId = item.assistattrId
        }

        if (item.wtRangeMap && item.wtRangeMap.id) {
          obj.wtRangeId = item.wtRangeMap.id + ''
        }

        obj2.qty = parseInt(item.qty)

        obj.unitId = item.itemUnitId
        obj.assistUnitId = item.isAssistOrder ? item.itemAssistUnitId : null

        if (item.isAssistOrder) {
          obj.assistQty = parseInt(item.alterAssistQty)
        } else {
          obj.qty = parseInt(item.qty)
        }

        paramList[item.itemId] = obj

        params.items.push(obj2)
        params.itemList.push(obj3)
      })

      if (!params.items.length) {
        this.$toast.fail('请移步 商品详情页面 进行“非单卖品”的购买操作')
        return
      }

      this.$set(orderItem, 'purchaseLoading', true)
      api.itemIsBuy(params).then(res => {
        if (res.success) {
          if (!res.data.list.length) {
            this.$set(orderItem, 'purchaseLoading', true)
            this.$toast.fail('商品已失效')
            return
          }

          let hasInValid = params.items.length !== res.data.list.length

          res.data.list.forEach(v => {
            if (+v.isBuy) {
              list.push(paramList[v.itemId])
            }
          })

          if (!list.length) {
            this.$set(orderItem, 'purchaseLoading', true)
            this.$toast.fail(hasInValid ? '部分商品暂时不能加入购物车或已失效' : '部分商品暂时不能加入购物车')
            return
          }

          api.saveGoods({ list }).then(res => {
            this.$set(orderItem, 'purchaseLoading', true)
            if (res.success) {
              this.$toast.success('加入购物车成功')
              this.$router.push({ path: '/shoppingCart' })
            } else {
              res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
            }
          })
        } else {
          this.$set(orderItem, 'purchaseLoading', true)
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    // 订单状态数量接口
    orderQuantity () {
      this.orderTotalNum = this.orderTotalNum.map(item => 0)
      if (this.isDriver === '0') { // 如果不是司机
        let params = {
          orderType: this.$route.query.orderType + '',
          business: this.businessIndex + '',
          biztypeId: this.biztypeId,
          needDateRange: this.needDateRange
        }
        api.commonCall(params, 'wsOrderCentreQueryCOS').then(res => {
          if (res.success) {
            if (+this.$route.query.orderType === 0) {
              // 我的订单
              this.$set(this.orderTotalNum, 0, res.data.allNum || 0)

              if (this.businessIndex === 0) { // 全部
                this.$set(this.orderTotalNum, 1, res.data.toGroup || 0)
                this.$set(this.orderTotalNum, 2, res.data.unConfirmed || 0)
                this.$set(this.orderTotalNum, 3, res.data.unShipped || 0)
                this.$set(this.orderTotalNum, 4, res.data.refused || 0)
                this.$set(this.orderTotalNum, 5, res.data.pigUnconfirmed || 0)
                this.$set(this.orderTotalNum, 6, res.data.pigConfirmed || 0)
                this.$set(this.orderTotalNum, 7, res.data.canceled || 0)
              } else if (this.businessIndex === 1) { // 养禽业务
                this.$set(this.orderTotalNum, 1, res.data.toGroup || 0)
                this.$set(this.orderTotalNum, 2, res.data.unConfirmed || 0)
                this.$set(this.orderTotalNum, 3, res.data.unShipped || 0)
                this.$set(this.orderTotalNum, 4, res.data.refused || 0)
                this.$set(this.orderTotalNum, 5, res.data.canceled || 0)
              } else if (this.businessIndex === 2) { // 养猪业务
                this.$set(this.orderTotalNum, 1, res.data.pigUnconfirmed || 0)
                this.$set(this.orderTotalNum, 2, res.data.pigConfirmed || 0)
                this.$set(this.orderTotalNum, 3, res.data.canceled || 0)
              } else if (this.businessIndex === 7) { // 种猪营销业务
                this.$set(this.orderTotalNum, 1, res.data.toGroup || 0)
                this.$set(this.orderTotalNum, 2, res.data.unConfirmed || 0)
                this.$set(this.orderTotalNum, 3, res.data.unShipped || 0)
                this.$set(this.orderTotalNum, 4, res.data.refused || 0)
                this.$set(this.orderTotalNum, 5, res.data.canceled || 0)
              }
            } else if (+this.$route.query.orderType === 1) {
              // 发货单
              this.$set(this.orderTotalNum, 0, res.data.allNum || 0)
              this.$set(this.orderTotalNum, 1, res.data.unPay || 0)
              this.$set(this.orderTotalNum, 2, res.data.zzDelivery || 0)
              this.$set(this.orderTotalNum, 3, res.data.unEvaluated || 0)
              this.$set(this.orderTotalNum, 4, res.data.complete || 0)
            }
          }
        })
      } else if (this.isDriver === '1') { // 如果是司机
        // let date = this.startDate + '~' + this.endDate
        // let params = {
        //   orderType: '1',
        //   needDateRange: date,
        //   isDriver: '1',
        //   ownerIds: this.getOwnerIds()
        // }
        // api.commonCall(params, 'wsOrderCentreQueryCOS').then(res => {
        //   if (res.success) {
        //     this.$set(this.orderTotalNum, 0, res.data.allNum || 0)
        //     this.$set(this.orderTotalNum, 1, res.data.unPay || 0)
        //     this.$set(this.orderTotalNum, 2, res.data.pay || 0)
        //     this.$set(this.orderTotalNum, 3, res.data.print || 0)
        //   }
        // })
      }
    },
    // 下拉刷新
    onRefresh () {
      this.page.index = 1
      this.cacheList = []
      if (this.isDriver === '0') {
        this._orderListQuery()
      } else {
        this.getDriverOrderList()
      }
      this.orderQuantity()
    },
    // 上拉加载
    onLoad () {
      this.page.index++
      if (this.isDriver === '0') {
        this._orderListQuery()
      } else {
        this.getDriverOrderList()
      }
    },
    // 初始化下拉刷新和上拉加载数据
    initLoadData () {
      this.page.index = 1
      this.page.total = 0
      this.cacheList = []
      this.loading = true // 控制上拉加载的加载动画
      this.finished = true // 控制在页面往下移动到底部时是否调用接口获取数据
      this.isLoading = true // 控制下拉刷新的加载动画
      this.orderList = []
    },
    // 监听滚动事件
    handleScroll () {
      this.getScrollTop1 = getScrollTop() - 44
    },
    // 司机获取发货单列表
    getDriverOrderList () {
      this.requestLoading = true
      let params = {
        status: this.status,
        orderType: '1', // 此orderType为0，但应该为1
        page: this.page.index,
        pageSize: this.page.size,
        isDriver: this.isDriver,
        ownerIds: this.getOwnerIds()
      }
      if (this.needDate) {
        params.needDateRange = this.needDate
      }

      api.commonCall(params, 'queryDeliveryOrder').then(res => {
        this.requestLoading = true
        if (res.success) {
          this.cacheList = this.cacheList.concat(res.data.list)
          this.orderList.splice(0, this.orderList.length, ...this.cacheList)

          this.page.total = res.data.count
          this.finished = true

          this.loading = true
          if (this.cacheList.length >= this.page.total) {
            this.finished = true
          }
          setTimeout(() => {
            this.isLoading = true
          }, 100)
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    // 分享到微信
    onShareAppMessage (index) {
      this.shareDialogShow = true
      if (!isWeiXin()) {
        this.$toast('请用微信浏览器打开，进行分享')
        return
      }
      this.guideShare = true

      let list = this.orderList[index].itemList[0]
      const urlPrefix = window.location.protocol + '//' + window.location.host
      // 需要带回去的参数有：团购id，商品id，团购订单id，服务部id
      const url = urlPrefix + '/groupBuyingDetails?groupId=' + this.orderList[index].bulkId + '&id=' + list.itemId + '&groupOrderId=' + this.orderList[index].bulkOrderId + '&ownerId=' + this.orderList[index].ownerId
      // 标题模板 【仅剩余XX头】我在XX服务部xx 元拼了XX头XX商品
      let unit = (list.isAssistOrder ? list.itemAssistUnitName : list.itemUnitName)
      let title = '【仅剩余' + this.orderList[index].unCompNumber + unit + '】我在' + this.orderList[index].ownerName + '服务部' + list.itemPrice + '元拼了' + list.alterAssistQty + unit + list.itemName + '商品'
      this.WXShare(title, list.itemName, url, this.orderList[index].itemThumbnail && this.orderList[index].itemThumbnail.trim() ? this.allImgDomainName + this.orderList[index].itemThumbnail : urlPrefix + this.defaultProImg)
    },
    // 选中属性过滤的值
    selected (val, isSelected) {
      this.isScreening = isSelected
      this.showAttributeFiltering = true
      // 检查过滤的值与上次是否相同，避免重复请求
      if (this.isDriver === '1') {
        this.ownerIds = ''
        this.needDate = ''
        let params = val.key.split(';')
        for (let key in params) {
          if (params[key].split('_')[0] === '客户') {
            this.ownerIds = params[key].split('_')[3]
          } else if (params[key].split('_')[0] === '要货日期') {
            this.needDate = params[key].split('_')[3]
          }
        }
        this.$router.replace({
          path: '/order',
          query: { index: +this.$route.query.index || 0, ownerIds: this.ownerIds, needDate: this.needDate }
        })
      } else if (this.isDriver === '0') {
        this.businessIndex = 0
        this.biztypeId = ''
        this.needDateRange = ''

        let params = val.key.split(';')
        for (let key in params) {
          if (params[key].split('_')[0] === '业务类型') {
            this.businessIndex = +params[key].split('_')[3]
          } else if (params[key].split('_')[0] === '订单类型') {
            this.biztypeId = params[key].split('_')[3]
          } else if (params[key].split('_')[0] === '要货日期') {
            this.needDateRange = params[key].split('_')[3]
          }
        }

        this.$router.replace({
          path: '/order',
          query: { index: +this.$route.query.index || 0, orderType: +this.$route.query.orderType || 0, businessIndex: +this.businessIndex, biztypeId: this.biztypeId, needDateRange: this.needDateRange }
        })
      }
    },
    // 初始化过滤参数
    initFilter () {
      if (this.isDriver === '1') {
        if (this.userInfo.relationCustomerList && this.userInfo.relationCustomerList.length > 0) {
          let attributeFilteringList = []

          attributeFilteringList.push({
            name: '客户',
            multiSelect: true,
            range: this.userInfo.relationCustomerList.map(item => ({ name: item.customerName, id: item.customerId }))
          })

          this.attributeFilteringList = attributeFilteringList

          this.initSetFiltered()
        } else {
          this.$toast.fail('获取关联客户失败')
        }
      } else if (this.isDriver === '0') {
        let attributeFilteringList = []

        attributeFilteringList.push({
          name: '业务类型',
          range: this.businessTypeList.map(item => ({ name: item.type, id: item.id }))
        })

        this.attributeFilteringList = attributeFilteringList

        this.queryBizTypeList().then(() => {
          this.initSetFiltered()
        })
      }
    },
    // 初始化根据路由判断是否有过滤项
    initSetFiltered () {
      let isScreening = true
      this.attributeFilteringList.forEach(v => {
        if (v.name === '业务类型') {
          for (let p = 0; p < v.range.length; p++) {
            if (v.range[p].id === this.businessIndex) {
              this.$set(v.range[p], 'selected', true)
              isScreening = true
              break
            }
          }
        } else if (v.name === '订单类型') {
          for (let p = 0; p < v.range.length; p++) {
            if (v.range[p].id === this.biztypeId) {
              this.$set(v.range[p], 'selected', true)
              isScreening = true
              break
            }
          }
        }
      })
      if (this.needDateRange || this.needDate) {
        this.needDateSelected = this.needDateRange || this.needDate
        isScreening = true
      }
      if (this.ownerIds) {
        isScreening = true
      }
      this.isScreening = isScreening
    },
    // 获取过滤的客户id
    getOwnerIds () {
      let ownerIds = this.userInfo.ownerIds && this.userInfo.ownerIds.join(',')
      if (this.ownerIds) {
        ownerIds = this.ownerIds
      }
      return ownerIds
    },
    // 改变业务类型
    changeBusinessType (index, type) {
      this.showDispatchBusinessType = true
      this.showOrderBusinessType = true

      if (this.businessIndex === index) return
      this.businessIndex = index
      this.$router.replace({
        path: '/order',
        query: { index: 0, orderType: +this.$route.query.orderType || 0, businessIndex: +this.businessIndex, biztypeId: this.biztypeId, needDateRange: this.needDateRange }
      })
    },
    // 查询EAS业务类型列表
    queryBizTypeList () {
      return api.bizTypeListQuery().then(res => {
        if (res.success) {
          this.attributeFilteringList.push({
            name: '订单类型',
            range: res.data.list.map(item => ({ name: item.name, id: item.id }))
          })
        }
      })
    },
    // 获取用户信息
    getUserInfo () {
      return new Promise(resolve => {
        if (!this.userInfo) {
          this.userInfo = JSON.parse(sessionStorage.getItem('userInfo'))
          if (!this.userInfo) {
            api.userInfo().then(res => {
              if (res.success) {
                this.userInfo = res.data
                resolve()
              } else {
                resolve()
                res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
              }
            })
          } else {
            resolve()
          }
        } else {
          resolve()
        }
      })
    },
    // 物流信息跳转
    _goExpressLink (distribution, expressInfo) {
      if (!distribution) {
        window.open(expressInfo.expressLink, '_blank')
      }
    }
  },
  destroyed () {
    window.removeEventListener('scroll', this.handleScroll)
    if (document.body.style.overflow === 'hidden') {
      document.body.style.overflow = 'visible'
    }
  },
  components: {
    NoData,
    ScrollToTopHoverBtn,
    AttributeFiltering,
    MembershipWrapper
  }
}
</script>

<style scoped lang="less">
@import "~@/assets/css/mixin.less";

.order-wrap {
  width: 100%;
  height: calc(100% - 95px);
  // padding-bottom: 95px;
  z-index: 10;
  .search-wrap {
    padding: 18px 24px;
    background-color: rgb(255, 255, 255);
    position: relative;
    input {
      height: 60px;
      background: rgb(242, 242, 242);
      border-radius: 30px;
      padding-left: 70px;
      box-sizing: border-box;
      width: 100%;
      outline: none;
      border: 0;
    }
    &::after {
      position: absolute;
      top: 36px;
      left: 50px;
      width: 25px;
      height: 25px;
      content: "";
      background: url("~@/assets/images/order/search@2x.png") no-repeat center center / 25px 25px;
    }
  }
  .order-tabs-wrap {
    .nav-bar {
      width: 100%;
      position: absolute;
      user-select: none;
      text-align: center;
      display: flex;
      width: 100%;
      top: 0;
      .nav-bar__left {
        position: absolute;
        bottom: 0;
        left: 15px;
        flex: 1;
        line-height: 88px;
        z-index: 99;
        .arrow-left {
          font-size: 40px;
          color: #2e3033!important;
          vertical-align: middle;
        }
        img {
          width: 40px;
          height: 40px;
          vertical-align: middle;
          transform: rotate(180deg);
        }
      }
      .nav-bar__main {
        position: relative;
        flex: 4;
        .is-not-driver {
          .van-tab__text {
            >div {
              // position: relative;
              .van-tag {
                position: absolute;
                right: 14px;
                top: 50%;
                transform: translateY(-50%);
                height: 30px;
                line-height: 30px;
                padding: 2px 6px;
                &.right {
                  right: 28px;
                }
              }
            }
          }
        }
        .dropdown-wrapper {
          z-index: 100;
          position: fixed;
          top: 88px;
          bottom: 0;
          right: 0;
          left: 0;
          overflow: hidden;
          .van-overlay {
            position: absolute;
            animation-duration: 0.2s;
          }
          .business-type {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 210px;
            border-radius: 0px 0px 14px 14px;
            z-index: 2014;
            background: #fff;
            overflow: hidden;
            transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
            transition-duration: 0.2s;
            span{
              display: inline-block;
              width: 164px;
              height: 70px;
              line-height: 70px;
              color: #fff;
              margin:20px 30px 0 40px;
              background:linear-gradient(270deg,rgba(244,121,59,1) 0%,rgba(245,153,0,1) 100%);
              border-radius: 8px;
              &.business-active {
                background:linear-gradient(270deg,rgba(244,183,59,1) 0%,rgba(245,180,0,1) 100%);
              }
            }
          }
        }
      }
      .nav-bar__right {
        position: absolute;
        bottom: 0;
        right: 15px;
        flex: 1;
        line-height: 88px;
        z-index: 99;
        .item {
          &:not(:last-child) {
            &::before {
              content: "";
              height: 40px;
              width: 1px;
              background-color: #e8e9eb;
              position: absolute;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
            }
          }
          &.screen {
            .screen-icon {
              display: inline-block;
              vertical-align: middle;
              width: 40px;
              height: 40px;
              .bg-img("~@/assets/images/index-2/screen");
              background-repeat: no-repeat;
              background-position: center;
              background-size: 100% 100%;
            }
            span {
              font-size: 24px;
              text-align: center;
            }
            &.already {
              .screen-icon {
                .bg-img("~@/assets/images/index-2/alreadyscreen");
              }
              span {
                color: #F59900;
              }
            }
          }
        }
      }
    }
    .head {
      width: 100%;
      position: absolute;
      left: 0;
      z-index: 99;
      &.head-1 {
        top: 0;
      }
      &.head-2 {
        top: 88px;
      }
      &.fixed {
        top: 0;
        position: fixed;
      }
      i {
        vertical-align: middle;
      }
      @{deep}.van-tabs__wrap {
        &:after {
          border-top: 0;
        }
        .van-tabs__nav {
          .van-tab {
            .van-info {
              min-width: 40px;
              background-color: #f44;
            }
          }
        }
      }
    }
 
    .list-wrap {
      overflow: hidden;
      background-color: #fff;
      .title {
        margin: 43px 0;
        position: relative;
        font-size: 0;
        display: flex;
        padding: 0 24px;
        vertical-align: middle;
        span, p {
          display: inline-block;
          vertical-align: middle;
        }
        span {
          &.icon {
            width: 34px;
            height: 30px;
            margin-right: 20px;
            background: url("~@/assets/images/order/shopper@2x.png") no-repeat center center /
              34px 30px;
          }
          &.status {
            line-height: 30px;
            font-size: 26px;
            font-weight: 400;
            color: rgb(255, 93, 19);
            padding-right: 20px;
          }
        }
        p {
          flex: 1;
          height: 30px;
          font-size: 28px;
          font-weight: 500;
          color: rgb(46, 48, 51);
          line-height: 30px;
          .arrow {
            line-height: 30px;
            font-size: 24px;
            color: rgb(46, 48, 51);
            width: 40px;
            text-align: center;
            top: 2px;
          }
        }
        .delete {
          width: 30px;
          height: 30px;
          background: url("~@/assets/images/icon/icon-delete.png") no-repeat center center /
            30px 30px;
          margin-left: 20px;
          .border-vertical-1px-left(@left: -20px);
        }
      }
      .list-item {
        font-size: 0;
        margin-bottom: 30px !important;
        padding: 0 24px;
        &:last-child {
          margin-bottom: 0;
        }
        .img-wrap,
        .text-wrap {
          display: inline-block;
          vertical-align: middle;
        }
        .img-wrap {
          width: 180px;
          img {
            width: 100%;
          }
        }
        .text-wrap {
          width: 498px;
          margin-left: 24px;
          .goods-name {
            font-size: 28px;
            font-weight: 400;
            color: #323437;
            line-height: 34px;
            >span {
              padding: 0 5px;
              background: #f95c5c;
              margin-right: 6px;
              color: white;
            }
          }
          .goods-detail {
            margin: 10px 0 10px;
            text-align: right;
            /*position: relative;*/
            /*span {*/
              /*color: #8e939a;*/
              /*font-size: 26px;*/
            /*}*/
            /*i {*/
              /*position: absolute;*/
              /*top: 0;*/
              /*right: 0;*/
              font-size: 26px;
              color: #8e939a;
              font-style: normal;
            /*}*/
          }
          .price {
            font-size: 0;
            color: #8e939a;
            i,
            span {
              display: inline-block;
              vertical-align: middle;
            }
            i {
              font-size: 24px;
              font-style: normal;
            }
            span {
              font-size: 32px;
            }
          }
          .exchange {
            font-size: 24px;
            color: #f95c5c;
            line-height: 34px;
            text-align: right;
            margin: 0 0 20px;
          }
          .more {
            font-size: 24px;
            color: #f95c5c;
            line-height: 34px;
            text-align: right;
          }
        }
      }
      .order-detail-text {
        padding: 0 24px;
        font-size: 28px;
        line-height: 48px;
      }
      &::after {
        display: block;
        content: "";
        height: 10px;
        background-color: #f5f5f5;
      }
      // &:last-child {
      //   &::after {
      //     height: 0;
      //   }
      // }
    }
    .order-total-price-wrap {
      padding: 0 24px;
      height: 96px;
      line-height: 96px;
      text-align: right;
      background: rgba(255, 255, 255, 1);
      border-bottom: 1px solid rgb(232, 233, 235, 1);
      font-weight: 500;
      font-size: 28px;
      span {
        float: left;
        font-size: 24px;
      }
    }
    .breeding-pig-wrap {
      padding: 0 24px;
      overflow: hidden;
      border-bottom: 1px solid #e8e9eb;
      .left {
        float: left;
        .row {
          height: 64px;
          line-height: 64px;
          font-size: 24px;
          font-family: PingFangSC-Regular, PingFang SC;
          .highlight {
            color: #2763CF;
            font-size: 28px;
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
      .right {
        float: right;
        span {
          color: #333333;
          font-size: 28px;
          font-family: PingFangSC-Medium, PingFang SC;
          font-weight: 500;
          height: 70px;
          line-height: 70px;
        }
      }
    }
    .order-do-some-wrap {
      min-height: 70px;
      padding: 24px;
      text-align: right;
      font-size: 0;
      >span {
        &:not(.no-evaluate) {
          display: inline-block;
          vertical-align: middle;
          min-width: 130px;
          height: 32px;
          padding: 17px;
          margin-left: 16px;
          font-size: 26px;
          text-align: center;
          font-weight: 400;
          color: rgba(46, 48, 51, 1);
          border: 2px solid #c1c4ca;
          border-radius: 35px;
          user-select: none;
          &:first-child {
            margin-left: 0;
          }
          &.color1 {
            color: #ffffff;
            border-color: rgba(255, 107, 82, 1);
            background: linear-gradient(
              90deg,
              rgba(255, 107, 82, 1) 0%,
              rgba(227, 50, 64, 1) 100%
            );
          }
          &.color2 {
            color: #e33240;
            border-color: #e33240;
            background: rgba(255, 248, 249, 1);
            &.purchase-loading {
              opacity: 0.7;
            }
            @{deep}.van-loading {
              .van-loading__spinner {
                width: 32px;
                height: 32px;
              }
              .van-loading__text {
                font-size: 32px;
              }
            }
          }
        }
        &.no-evaluate {
          line-height: 70px;
          display: inline-block;
          font-size: 26px;
          color: rgba(150, 150, 150, .7);
        }
      }
    }
  }
  .cannot-cancel{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.2);
    z-index: 999999;
    .cannot-cancel-content{
      width: 526px;
      height: 408px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 16px;
      .cannot-cancel-content-close{
        width: 48px;
        height: 48px;
        background: url("~@/assets/images/groupbuying/close.svg") no-repeat center center;
        position: absolute;
        top: -18px;
        right: -20px;
        border-radius: 30px;
        z-index: 1;
      }
      .cannot-cancel-content-option{
        width: 100%;
        height: 100%;
        border-radius: 16px;
        background-color: #FFFFFF;
        .cannot-cancel-img{
          width: 100%;
          height: 192px;
          position: relative;
          text-align: center;
          img{
            width: 90px;
            height: 90px;
            display: inline-block;
            margin-top: 68px;
          }
        }
        p{
          font-size: 32px;
          color: #48484A;
          text-align: center;
        }
        .cannot-cancel-btn{
          width: 466px;
          height: 80px;
          border-radius: 12px;
          background-color: #E51C23;
          margin: 0 auto;
          margin-top: 44px;
          color: #FFFFFF;
          font-size: 28px;
          line-height: 80px;
          text-align: center;
        }
      }
    }
  }
  .success-spell-sheet{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    background: rgba(0,0,0,0.2);
    z-index: 999999;
    .sheet-option{
      width: 526px;
      height: 408px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 16px;
      .sheet-option-close{
        width: 48px;
        height: 48px;
        background: url("~@/assets/images/groupbuying/close.svg") no-repeat center center;
        position: absolute;
        top: -18px;
        right: -20px;
        border-radius: 30px;
        z-index: 1;
      }
      .sheet-option-content{
        width: 100%;
        height: 100%;
        background-color: #FFFFFF;
        .sheet-option-content-title{
          width: 100%;
          height: 234px;
          .title-one{
            width: 100%;
            overflow: hidden;
            img{
              float: left;
              width: 34px;
              height: 34px;
              margin-left: 194px;
              margin-top: 43px;
            }
            p{
              font-size: 32px;
              color: #F39801;
              float: left;
              font-weight: 600;
              padding-top: 38px;
              margin-left: 10px;
            }
          }
          .title-two{
            width: 100%;
            overflow: hidden;
            margin-top: 28px;
            p{
              text-align: center;
              font-size: 32px;
              color: #434349;
              margin-top: 5px;
              .red{
                color: #E51C23;
              }
              .orange{
                color: #F39801;
              }
            }
          }
        }
        .sheet-option-content-bottom{
          width: 100%;
          height: 70px;
          p{
            width: 475px;
            margin: 0 auto;
            font-size: 20px;
            color: #434349;
            text-align: center;
            line-height: 70px;
          }
        }
        .shareBtn{
          width: 466px;
          height: 80px;
          margin: 0 auto;
          line-height: 80px;
          background: #E51C23;
          border-radius: 6px;
          text-align: center;
          color: #fff;
          font-size: 28px;
        }
      }
    }
  }
  .guideShare{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 102;
    .arrows-img{
      width: 340px;
      position: absolute;
      right: 20px;
      top: 10px;
    }
    p{
      font-size: 36px;
      color: #fff;
      margin-top: 350px;
      text-align: center;
    }
  }
}
</style>
