<template>
<membership-wrapper class="order-wrap" title="订单管理" :left-arrow="true">
  <!-- 订单列表 -->
  <div class="order">
  </div>
    <!-- 筛选框 -->
<tabbar></tabbar>
</membership-wrapper>
</template>

<script>
import { api } from '@/api'
import { allImgDomainNameMixin, WXMixin } from '@/assets/js/mixin'
import Tabbar from '@/components/index-2/tabbar'
import tabbar from '../../components/index-2/tabbar.vue'
import MembershipWrapper from '../../components/membership-center/membership-wrapper.vue'

export default {
  components: { tabbar, MembershipWrapper },
  name: 'order',
  mixins: [allImgDomainNameMixin, WXMixin],
  inject: ['reload'],
  data () {
    return {
     
      // 上拉加载及下拉刷新
      cacheList: [],
      loading: false, // 控制上拉加载的加载动画
      finished: false, // 控制在页面往下移动到底部时是否调用接口获取数据
      isLoading: false, // 控制下拉刷新的加载动画,
      noDataShow: true,
      getScrollTop1: 0, // 距离顶部高度(tab1)
    }},
  beforeRouteEnter (to, from, next) {
    next(vm => {
      // 通过 `vm` 访问组件实例,将值传入oldUrl
      if (from.path === '/groupBuyingPlaceOrder') {
        vm.isFromGroupBuyingPlaceOrder = true
      }
    })
  },
  methods: {
    onClickLeft () {
      if (window.history.length > 1) {
        this.$router.go(-1)
      } else {
        this.$router.push('/')
      }
    },
    onLogout () {
      // 登出
      this.$dialog.confirm({
        title: '提示',
        message: '确定要退出登录吗？'
      }).then(() => {
        api.logout().then(res => {
          sessionStorage.removeItem('token')
          sessionStorage.removeItem('br-custom-key')
          sessionStorage.removeItem('defaultCustomer')
          sessionStorage.removeItem('isDriver')
          sessionStorage.removeItem('groupBuyingCache')
          sessionStorage.removeItem('flashSaleCache')
          this.$router.push({ name: 'loginRandom' })
        })
      }).catch(() => {

      })
    },
    // 下拉刷新
    onRefresh () {
      this.page.index = 1
      this.cacheList = []
      if (this.isDriver === '0') {
        this._orderListQuery()
      } else {
        this.getDriverOrderList()
      }
      this.orderQuantity()
    },
    // 上拉加载
    onLoad () {
      this.page.index++
      if (this.isDriver === '0') {
        this._orderListQuery()
      } else {
        this.getDriverOrderList()
      }
    },
    // 初始化下拉刷新和上拉加载数据
    initLoadData () {
      this.page.index = 1
      this.page.total = 0
      this.cacheList = []
      this.loading = false // 控制上拉加载的加载动画
      this.finished = false // 控制在页面往下移动到底部时是否调用接口获取数据
      this.isLoading = false // 控制下拉刷新的加载动画
      this.orderList = []
    },
  components: {
    MembershipWrapper,
    Tabbar
  }
}}
</script>

<style scoped lang="less">
@import "~@/assets/css/mixin.less";

.order-wrap {
  width: 100%;
}
</style>
