<template>
  <div class="checkbox">
    <van-checkbox v-model="selected" :disabled="disabled" :label-disabled="disabled" :class="{'invalid-bg': showInvalidText && disabled}">
      <div v-if="!isContentSelect" @click.stop>
        <slot></slot>
      </div>

      <div v-else @click.stop="!disabled && change()">
        <slot></slot>
      </div>

      <div slot="icon" class="icon-box" slot-scope="props" @click.stop="!disabled && change()">
        <p class="invalid-text" v-if="showInvalidText && disabled">{{notOnSell ? '已下架' : '失效'}}</p>
        <!-- <i class="van-i" :class="[props.checked ? 'checked' : 'check', {'disabled': disabled}]" v-else></i> -->
        <van-icon name="success" :class="[props.checked ? 'checked' : 'check', {'disabled': disabled}]" v-else />
      </div>
    </van-checkbox>
  </div>
</template>

<script>
export default {
  name: 'checkbox',
  props: {
    // 是否选中
    isChoose: {
      require: true
    },
    // 内容是否可点击
    isContentSelect: {
      default: false
    },
    disabled: {
      default: false
    },
    // disabled为true的情况下，是否显示“失效”字样
    showInvalidText: {
      default: true
    },
    // 已下架
    notOnSell: {
      default: false
    }
  },
  data () {
    return {
      selected: false
    }
  },
  created () {
    this.selected = this.isChoose
  },
  methods: {
    // 选中
    change () {
      this.$emit('select', !this.selected)
    }
  },
  watch: {
    isChoose (n) {
      this.selected = n
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

@{deep}.van-checkbox {
  background: white;

  &.invalid-bg {
    background-color: transparent !important;
  }

  .van-checkbox__label {
    height: auto;
    width: calc(100% - 92px);
    margin-left: 0;
  }

  .van-checkbox__icon {
    height: 32px;
    line-height: 32px;
    width: 92px;
    text-align: center;

    >.icon-box {
      width: 100%;
      height: 100%;
      .invalid-text {
        font-size: 28px;
      }
    }

    .van-icon-success {
      content: " ";
      display: inline-block;
      width: 32px;
      height: 32px;
      position: relative;
      font-size: 24px;
      &.checked {
        color: #fff;
        background-color: #FF0000;
        border-color: #FF0000;
      }
      &.check {
        color: transparent;
      }
      &.disabled {
        background-color: #ebedf0;
        border-color: #c8c9cc;
        cursor: not-allowed;
      }
    }

    .van-i {
      content: " ";
      display: inline-block;
      width: 32px;
      height: 32px;
      position: relative;

      &:after,
      &:before {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-sizing: border-box;
        border-radius: 50%;
        transition: all 0.2s;
      }

      &:after {
        border: 1px solid #c1c4ca;
      }

      &:before {
        border: 10px solid #e33240;
      }

      &.checked {
        &:before {
          opacity: 1;
        }

        &:after {
          opacity: 0;
        }
      }

      &.check {
        &:before {
          opacity: 0;
        }

        &:after {
          opacity: 1;
        }
      }

      &.disabled {
        &:after {
          border-color: #c8c9cc;
          background-color: #ebedf0;
        }
      }
    }
  }
}
</style>
