<template>
  <div class="feedback-msg-wrapper">
    <van-nav-bar title="反馈信息" left-arrow @click-left="onClickLeft"></van-nav-bar>

    <van-pull-refresh v-model="isLoading" @refresh="onRefresh">
      <van-list v-model="loading" :finished="finished" @load="onLoad" :offset="200" finished-text="没有更多了" v-if="feedbackMsgList && feedbackMsgList.length">
        <ul class="feedback-msg-list">
          <li
            class="item"
            v-for="(item, index) in feedbackMsgList"
            :key="index"
            @click="seeDetails(item, index)"
          >
            <div class="item-left">
              <div class="circle" :class="{'isRead': item.isRead}">
                <span>{{msgType(item.msgType)}}</span>
              </div>
            </div>
            <div class="item-right">
              <span class="status" :class="[auditTypeTextColor(item.auditType), item.isRead ? 'isRead': '']" v-if="item.msgType === 'B'">{{auditTypeText(item.auditType)}}</span>
              <span class="theme" :class="{'isRead': item.isRead}">{{item.motif}}</span>
              <span>{{item.auditDate && item.auditDate.split(' ')[0]}}</span>
              <p class="description">{{item.auditMsg}}</p>
            </div>
          </li>
        </ul>
      </van-list>

      <div class="no-data-box" v-else>
        <no-data :loading="requestLoading"></no-data>
      </div>
    </van-pull-refresh>

    <!-- 置顶悬浮按钮 -->
    <scroll-to-top-hover-btn></scroll-to-top-hover-btn>
  </div>
</template>

<script>
import NoData from '@/components/no-data'
import ScrollToTopHoverBtn from '@/components/scroll-to-top-hover-btn/index'
import { api } from '@/api'

export default {
  name: 'feedback-msg',
  components: {
    NoData,
    ScrollToTopHoverBtn
  },
  data () {
    return {
      // 上拉加载及下拉刷新
      page: {
        index: 1,
        size: 10,
        total: 0
      },
      cacheList: [], // 缓存列表
      loading: false, // 控制上拉加载的加载动画
      finished: false, // 控制在页面往下移动到底部时是否调用接口获取数据
      isLoading: false, // 控制下拉刷新的加载动画
      feedbackMsgList: [], // 反馈信息列表
      requestLoading: false // 接口请求加载动画
    }
  },
  created () {
    this.feedbackMsgListQuery()
  },
  methods: {
    onClickLeft () {
      this.$router.go(-1)
    },
    msgType (type) {
      switch (type) {
        case 'A':
          return '意见反馈'
        case 'B':
          return '降价申请'
        case 'C':
          return '物流线路'
      }
    },
    auditTypeText (type) {
      switch (type) {
        case '0':
          return '同意'
        case '1':
          return '已驳回'
        default:
          return ''
      }
    },
    auditTypeTextColor (type) {
      switch (type) {
        case '0':
          return 'green'
        case '1':
          return 'red'
        default:
          return ''
      }
    },
    seeDetails (item, i) {
      if (!item.isRead) {
        api.commonCall({ msgId: item.id }, 'updateMsgIsRead').then(res => {
          if (res.success) {
            item.isRead = true
            this.$set(this.feedbackMsgList, i, item)
            this.$store.dispatch('setMessageCount', +this.$store.state.messageCount - 1)
          }
        })
      }

      if (item.msgType === 'A') { // 意见反馈
        this.$router.push({ path: '/customerFeedbackDetails', query: { id: item.relBillId } })
      } else if (item.msgType === 'B') { // 降价申请
        this.$router.push({ path: '/priceReduceApplyDetails', query: { id: item.relBillId } })
      } else if (item.msgType === 'C') { // 物流线路
        this.$router.push({ path: '/logisticsApplyDetails', query: { id: item.relBillId } })
      }
    },
    feedbackMsgListQuery () {
      this.requestLoading = true
      const params = {
        page: this.page.index,
        pageSize: this.page.size,
        isRead: '0'
      }
      api.commonCall(params, 'getPriceNoticeCount').then(res => {
        this.requestLoading = false
        if (res.success) {
          this.cacheList = this.cacheList.concat(res.data.list)
          this.feedbackMsgList.splice(0, this.feedbackMsgList.length, ...this.cacheList)
          this.page.total = res.data.totalCount
          this.finished = false
          this.loading = false

          if (this.cacheList.length >= this.page.total) {
            this.finished = true
          }

          setTimeout(() => {
            this.isLoading = false
          }, 100)
        } else {
          res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    // 下拉刷新
    onRefresh () {
      this.page.index = 1
      this.cacheList = []
      this.feedbackMsgListQuery()
    },
    // 上拉加载
    onLoad () {
      this.page.index++
      this.feedbackMsgListQuery()
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.feedback-msg-wrapper {
  width: 100%;
  .feedback-msg-list {
    width: 100%;
    padding: 0 24px;
    box-sizing: border-box;
    overflow-x: hidden;
    .item {
      display: flex;
      align-items: center;
      .border-1px();
      .item-left {
        margin: 30px 24px 28px 6px;
        .circle {
          width: 80px;
          height: 80px;
          line-height: 76px;
          background-color: #F59900;
          border-radius: 50%;
          text-align: center;
          &.isRead {
            background-color: #999;
          }
          span {
            display: inline-block;
            vertical-align: middle;
            overflow: hidden;
            width: 48px;
            max-height: 48px;
            line-height: 24px;
            font-size: 24px;
            font-family: PingFangSC-Regular, PingFang SC;
            color: #fff;
          }
        }
      }
      .item-right {
        width: calc(100% - 110px);
        .status {
          width: 84px;
          margin-right: 10px;
          float: left;
          height: 40px;
          line-height: 40px;
          font-size: 28px;
          font-family: PingFangSC-Regular, PingFang SC;
          &.red {
            color: #E02020;
          }
          &.green {
            color: #67C23A;
          }
          &.isRead {
            color: #999;
          }
        }
        .theme {
          max-width: 340px;
          float: left;
          height: 40px;
          line-height: 40px;
          font-size: 28px;
          font-family: PingFangSC-Regular, PingFang SC;
          color: #333;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          &.isRead {
            color: #999;
          }
        }
        span{
          display: block;
          float: right;
          height: 34px;
          line-height: 34px;
          font-size: 24px;
          font-family: PingFangSC-Regular, PingFang SC;
          color: #999;
        }
        .description {
          width: 100%;
          height: 68px;
          line-height: 34px;
          font-size: 24px;
          font-family: PingFangSC-Regular,PingFang SC;
          color: #999999;
          display: -webkit-box;
          -webkit-line-clamp: 2; // 限制文本的行数，只显示两行
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          word-wrap: break-word;
          word-break: break-all;
        }
      }
    }

    // .item {
    //   width: 100%;
    //   height: 150px;
    //   display: flex;
    //   align-items: center;
    //   .border-1px();
    //   .img-box {
    //     width: 144px;
    //     height: 90px;
    //     border-radius: 10px;
    //     overflow: hidden;
    //     flex: 0 0 144px;
    //     img {
    //       width: 100%;
    //       height: 100%;
    //     }
    //   }
    //   .content {
    //     margin-left: 24px;
    //     width: 500px;
    //     .text {
    //       width: 100%;
    //       font-size: 30px;
    //       overflow: hidden;
    //       text-overflow: ellipsis;
    //       white-space: nowrap;
    //       .van-read {
    //         display: inline-block;
    //         width: 18px;
    //         height: 18px;
    //         border-radius: 50%;
    //         // background: rgb(50, 150, 255);
    //         background: #e33240;
    //         margin-right: 10px;
    //       }
    //     }
    //     .time {
    //       color: #8e939a;
    //       font-size: 24px;
    //     }
    //   }
    // }
  }
}
</style>
