<template>
  <div class="news">
    <div class="news-title">
      <div class="news-title-option">
        <div class="news-title-option__title">消&nbsp;&nbsp;息</div>
        <div class="news-title-option__right" @click="removeUnread">
          <svg-icon class="icon" iconname="news_clear-unread"></svg-icon>
          <span class="text">清除未读</span>
        </div>
      </div>
      <div class="news-title-content">
        <div class="news-title-content_item" @click="toSummarization">
          <div class="icon-box">
            <div class="info" v-if="orderSummaryUnreadCount">{{orderSummaryUnreadCount > 99 ? '99+' : orderSummaryUnreadCount}}</div>
            <svg-icon class="icon" iconname="news_order-summary"></svg-icon>
          </div>
          <span class="text">订货汇总</span>
        </div>
        <div class="news-title-content_item" @click="toNotice">
          <div class="icon-box">
            <div class="info" v-if="noticeUnreadCount">{{noticeUnreadCount > 99 ? '99+' : noticeUnreadCount}}</div>
            <svg-icon class="icon" iconname="news_notice"></svg-icon>
          </div>
          <span class="text">通知公告</span>
        </div>
        <div class="news-title-content_item" @click="toFeedbackMsg">
          <div class="icon-box">
            <div class="info" v-if="feedbackMsgUnreadCount">{{feedbackMsgUnreadCount > 99 ? '99+' : feedbackMsgUnreadCount}}</div>
            <svg-icon class="icon" iconname="news_feedback-message"></svg-icon>
          </div>
          <span class="text">反馈信息</span>
        </div>
      </div>
    </div>
    <div class="news-wrap">
      <div class="news-wrap__title">
        <svg-icon class="icon" iconname="news_order-summary-small"></svg-icon>
        <p>订货汇总</p>
        <span @click="toSummarization">更多<van-icon name="arrow"/></span>
      </div>
      <div class="news-wrap__content">
        <div class="content-list" v-for="(item, index) in orderSummaryList" :key="index" @click="seeDetails(item, index, 'orderSummary')">
          <p :class="{'isRead': item.isRead}">{{item.title}}</p>
          <span>{{dateConversion(item.modifyTime)}}</span>
        </div>
      </div>
    </div>
    <div class="notice-announcement">
      <div class="notice-announcement-title">
        <svg-icon class="icon" iconname="news_notice-small"></svg-icon>
        <p>未读公告</p>
        <span @click="toNotice">更多<van-icon name="arrow"/></span>
      </div>
      <div class="notice-announcement-content">
        <div class="notice-announcement-content-list" v-for="(item, index) in noticeList" :key="index" @click="seeDetails(item, index, 'notice')">
          <div class="notice-announcement-content-list-left">
            <i class="icon" :class="[relatedTypeIcon(item.relatedType)]"></i>
          </div>
          <div class="notice-announcement-content-list-right">
            <p class="title" :class="{'isRead': item.isRead}">{{item.title}}</p>
            <span class="time">{{dateConversion(item.createTime)}}</span>
            <p class="description">{{item.contentTag}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="feedback-message">
      <div class="feedback-message-title">
        <svg-icon class="icon" iconname="news_feedback-message-small"></svg-icon>
        <p>反馈信息</p>
        <span @click="toFeedbackMsg">更多<van-icon name="arrow"/></span>
      </div>
      <div class="feedback-message-content">
        <div class="feedback-message-content-list" v-for="(item, index) in feedbackMsgList" :key="index" @click="seeDetails(item, index, 'feedbackMsg')">
          <div class="feedback-message-content-list-left">
            <div class="circle" :class="{'isRead': item.isRead}">
              <span>{{msgType(item.msgType)}}</span>
            </div>
          </div>
          <div class="feedback-message-content-list-right">
            <span class="status" :class="[auditTypeTextColor(item.auditType), item.isRead ? 'isRead': '']" v-if="item.msgType === 'B'">{{auditTypeText(item.auditType)}}</span>
            <span class="theme" :class="{'isRead': item.isRead}">{{item.motif}}</span>
            <span>{{dateConversion(item.auditDate)}}</span>
            <p class="description">{{item.auditMsg}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="customer-service-information" v-if="serviceOptionList && serviceOptionList.length">
      <div class="customer-service-information-title">
        <img :src="require('@/assets/images/news/new-service.svg')">
        <p>客服信息</p>
      </div>
      <div class="customer-service-information-content">
        <div class="customer-service-information-list" v-for="(item, index) in serviceOptionList" :key="index">
          <svg-icon class="head-icon" iconname="news_head"></svg-icon>
          <div class="service-text">
            <div class="service-text-title">
              <p>温氏客服1号</p>
              <span>昨天</span>
            </div>
            <div class="service-text-content">
              <p>您好亲</p>
              <van-tag round type="primary" color="#F2272E">6</van-tag>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 底部tabbar导航 -->
    <tabbar :activeIndex="2" isUpdateCountInfo></tabbar>
  </div>
</template>

<script>
import Tabbar from '@/components/index-2/tabbar'
import { api } from '@/api'

export default {
  name: 'news',
  components: {
    Tabbar
  },
  data () {
    return {
      orderSummaryList: [], // 订货汇总
      orderSummaryUnreadCount: 0, // 订货汇总消息数量
      noticeList: [], // 通知公告
      noticeUnreadCount: 0, // 通知公告消息数量
      feedbackMsgList: [], // 反馈信息列表
      feedbackMsgUnreadCount: 0, // 反馈信息消息数量
      serviceOptionList: [ // 客服信息
        // {},
        // {},
        // {}
      ],
      pageSize: 4,
      page: 1,
      serverTime: null // 服务器时间
    }
  },
  computed: {
    allUnreadCount () {
      return (this.orderSummaryUnreadCount + this.noticeUnreadCount + this.feedbackMsgUnreadCount) || 0
    }
  },
  created () {
    this.orderSummaryListQuery() // 查询订货汇总消息列表
    this.notiListQuery() // 查询通知公告消息列表
    this.feedbackMsgListQuery() // 查询客户反馈(含降价申请)消息列表
  },
  methods: {
    // 判断日期是今天/昨天/其他
    dateConversion (date) {
      let dateStr = new Date(date.replace(/-/g, '/'))
      let today = this.serverTime || new Date()
      today.setHours(0)
      today.setMinutes(0)
      today.setSeconds(0)
      today.setMilliseconds(0)
      let otime = today.getTime()
      // 给出时间 - 今天0点
      let offset = dateStr.getTime() - otime
      let isToday = offset / 1000 / 60 / 60
      if (isToday > 0 && isToday <= 24) {
        return '今天'
      } else if (isToday < 0 && isToday >= -24) {
        return '昨天'
      } else {
        return date && date.split(' ')[0]
      }
    },
    // 跳转订货汇总页面
    toSummarization () {
      this.$router.push({ path: '/orderSummarization' })
    },
    // 跳转通知公告页面
    toNotice () {
      this.$router.push('/notice')
    },
    // 跳转反馈信息页面
    toFeedbackMsg () {
      this.$router.push('/feedbackMsg')
    },
    // 跳转客服中心页面
    toCallCenter () {
      // this.$router.push('/callCenter')
    },
    // 订货汇总
    orderSummaryListQuery () {
      api.commonCall({
        orderBys: 'createtime',
        orderType: 'desc',
        pageSize: this.pageSize,
        page: this.page,
        isRead: 0, // 0 - 全部，1 - 未读，2 - 已读
        noticeType: 'A' // A - 订货会总，B - 通知公告
      }, 'notiListQuery').then(res => {
        if (res.success) {
          this.orderSummaryList = res.data.returnData
          this.orderSummaryUnreadCount = (res.data.count - res.data.readCount) || 0
        } else {
          res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    // 通知公告
    notiListQuery () {
      // api.commonCall({
      //   orderBys: 'createtime',
      //   orderType: 'desc',
      //   pageSize: this.pageSize,
      //   page: this.page,
      //   isRead: 0,
      //   noticeType: 'B'
      // }, 'notiListQuery').then(res => {
      //   if (res.success) {
      //     this.noticeList = res.data.returnData
      //     this.noticeUnreadCount = (res.data.count - res.data.readCount) || 0
      //   } else {
      //     res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
      //   }
      // })
      api.commonCall({
        page: this.page,
        pageSize: this.pageSize,
        isRead: 1 // 0 - 全部，1 - 未读，2 - 已读
      }, 'getNotificationList').then(res => {
        if (res.success) {
          this.noticeList = res.data.returnData
          this.noticeUnreadCount = (res.data.count - res.data.readCount) || 0
          this.serverTime = res.serverTime
        } else {
          res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    seeDetails (item, index, type) {
      if (type === 'orderSummary') {
        if (!item.isRead) {
          api.noticeIsReadUpdate({ ids: [{ id: item.id, isRead: true }] }).then(res => {
            if (res.success) {
              item.isRead = true
              this.$set(this[type + 'List'], index, item)
              this.$store.dispatch('setMessageCount', +this.$store.state.messageCount - 1)
            }
          })
        }

        this.$router.push({ path: '/orderSummarizationDetails', query: { id: item.id } })
      } else if (type === 'notice') {
        if (!item.isRead) {
          api.noticeIsReadUpdate({ ids: [{ id: item.id, isRead: true }] }).then(res => {
            if (res.success) {
              item.isRead = true
              this.$set(this[type + 'List'], index, item)
              this.$store.dispatch('setMessageCount', +this.$store.state.messageCount - 1)
            }
          })
        }

        this.$router.push({ path: '/noticeDetails', query: { id: item.id } })
      } else if (type === 'feedbackMsg') {
        if (!item.isRead) {
          api.commonCall({ msgId: item.id }, 'updateMsgIsRead').then(res => {
            if (res.success) {
              item.isRead = true
              this.$set(this[type + 'List'], index, item)
              this.$store.dispatch('setMessageCount', +this.$store.state.messageCount - 1)
            }
          })
        }

        if (item.msgType === 'A') { // 意见反馈
          this.$router.push({ path: '/customerFeedbackDetails', query: { id: item.relBillId } })
        } else if (item.msgType === 'B') { // 降价申请
          this.$router.push({ path: '/priceReduceApplyDetails', query: { id: item.relBillId } })
        } else if (item.msgType === 'C') { // 物流线路
          this.$router.push({ path: '/logisticsApplyDetails', query: { id: item.relBillId } })
        }
      }
    },
    removeUnread () {
      if (this.allUnreadCount === 0) {
        this.$toast('暂无未读消息')
        return
      }
      api.commonCall({ ids: [], clearAll: '1' }, 'noticeIsReadUpdate').then(res => {
        if (res.success) {
          this.$toast('清除成功')

          let p1 = this.orderSummaryListQuery()
          let p2 = this.notiListQuery()
          Promise.all([p1, p2]).then(() => {
            this.$store.dispatch('setMessageCount', 0)
          })
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    // 获取客户反馈(含降价申请)消息列表
    feedbackMsgListQuery () {
      api.commonCall({
        pageSize: this.pageSize,
        page: this.page,
        isRead: '0' // '0' - 全部，'1' - 未读，'2' - 已读
      }, 'getPriceNoticeCount').then(res => {
        if (res.success) {
          this.feedbackMsgList = this.feedbackMsgList.concat(res.data.list)
          this.feedbackMsgUnreadCount = res.data.notReadCount
          this.serverTime = res.serverTime
        } else {
          res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    msgType (type) {
      switch (type) {
        case 'A':
          return '意见反馈'
        case 'B':
          return '降价申请'
        case 'C':
          return '物流线路'
      }
    },
    // 反馈信息反馈类型返回对应审核状态文字
    auditTypeText (type) {
      switch (type) {
        case '0':
          return '同意'
        case '1':
          return '已驳回'
        default:
          return ''
      }
    },
    // 反馈信息反馈类型返回对应审核状态文字颜色
    auditTypeTextColor (type) {
      switch (type) {
        case '0':
          return 'green'
        case '1':
          return 'red'
        default:
          return ''
      }
    },
    // 通知公告关联类型返回对应图标
    relatedTypeIcon (type) {
      switch (type) {
        case '1': // 调查问卷
          return 'question'
        case '2': // 特价项目
          return 'sale'
        case '3': // 物流线路
          return 'car'
        default: // 其他
          return 'other'
      }
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.news{
  width: 100%;
  height: 100%;
  padding-bottom: 100px;
  background-color: #F1F1F1;
  background-position: top center;
  background-size: 100% 400px;
  background-repeat: no-repeat;
  .bg-img('~@/assets/images/new-version/membership-center/top-bg');
  .news-title{
    width: 100%;
    .news-title-option{
      position: relative;
      width: 100%;
      height: 80px;
      display: flex;
      align-items: center;
      &__title {
        max-width: 60%;
        margin: 0 auto;
        color: #FFFFFF;
        font-size: 36px;
      }
      &__right {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: center;
        padding: 0 30px 0 16px;
        cursor: pointer;
        .icon {
          font-size: 26px;
          margin-right: 10px;
        }
        .text {
          color: #FFFFFF;
          font-size: 24px;
        }
      }
    }
    .news-title-content{
      width: 100%;
      height: 230px;
      display: flex;
      align-items: center;
      &_item {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .icon-box {
          flex-shrink: 0;
          margin-top: 12px;
          margin-bottom: 18px;
          position: relative;
          .info {
            display: inline-block;
            box-sizing: border-box;
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(50%, -50%);
            transform-origin: 100%;
            min-width: 32px;
            padding: 0 6px;
            color: #E60012;
            font-weight: 500;
            font-size: 24px;
            font-family: -apple-system-font, Helvetica Neue, Arial, sans-serif;
            line-height: 1.2;
            text-align: center;
            background-color: #fff;
            border-radius: 16px;
          }
          .icon {
            display: inline-block;
            font-size: 70px;
          }
        }
        .text {
          text-align: center;
          font-size: 26px;
          color: #FFFFFF;
        }
      }
    }
  }
  .news-wrap {
    width: 722px;
    min-height: 284px;
    overflow: hidden;
    margin: 0 auto;
    background-color: #FFFFFF;
    border-radius: 12px;
    &__title{
      height: 72px;
      margin: 0 18px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .border-1px(#CCCCCC);
      .icon {
        display: inline-block;
        font-size: 28px;
        overflow: visible;
      }
      p{
        flex: 1;
        line-height: 1;
        font-size: 34px;
        color: #000000;
        font-weight: 600;
        padding: 0 10px;
      }
      span{
        font-size: 26px;
        color: #999;
        i {
          font-size: 28px;
          color: #999999;
          vertical-align: middle;
          margin-left: 4px;
        }
      }
    }
    &__content{
      width: 100%;
      overflow: hidden;
      .content-list{
        height: 100px;
        box-sizing: border-box;
        margin: 0 18px;
        position: relative;
        &:not(:nth-child(4)) {
          .border-1px(#E8E8E8);
        }
        p{
          max-width: 430px;
          float: left;
          line-height: 100px;
          font-size: 28px;
          font-family: PingFangSC-Regular, PingFang SC;
          color: #333;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          &.isRead {
            color: #999;
          }
        }
        span{
          display: block;
          float: right;
          line-height: 100px;
          font-size: 24px;
          font-family: PingFangSC-Regular, PingFang SC;
          color: #999;
        }
      }
    }
  }
  .notice-announcement{
    width: 722px;
    min-height: 356px;
    overflow: hidden;
    margin: 14px auto;
    background-color: white;
    border-radius: 12px;
    .notice-announcement-title{
      height: 72px;
      margin: 0 18px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .border-1px(#CCCCCC);
      .icon {
        display: inline-block;
        font-size: 28px;
        overflow: visible;
      }
      p{
        flex: 1;
        line-height: 1;
        font-size: 34px;
        color: #000000;
        font-weight: 600;
        padding-left: 20px;
      }
      span{
        font-size: 26px;
        color: #999;
        i {
          font-size: 28px;
          color: #999999;
          vertical-align: middle;
          margin-left: 4px;
        }
      }
    }
    .notice-announcement-content{
      width: 100%;
      overflow: hidden;
      .notice-announcement-content-list{
        box-sizing: border-box;
        margin: 0 22px;
        position: relative;
        &:not(:nth-child(4)) {
          .border-1px(#E8E8E8);
        }
        .notice-announcement-content-list-left {
          margin: 20px 22px 22px 0;
          display: inline-block;
          vertical-align: middle;
          .icon {
            display: inline-block;
            width: 88px;
            height: 88px;
            background-position: center;
            background-size: 88px 88px;
            background-repeat: no-repeat;
            &.question {
              .bg-img("~@/assets/images/news/question");
            }
            &.sale {
              .bg-img("~@/assets/images/news/sale");
            }
            &.car {
              .bg-img("~@/assets/images/news/car");
            }
            &.other {
              .bg-img("~@/assets/images/news/other");
            }
          }
        }
        .notice-announcement-content-list-right {
          width: calc(100% - 110px);
          display: inline-block;
          vertical-align: middle;
          .title{
            max-width: 420px;
            float: left;
            line-height: 44px;
            font-size: 28px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: bold;
            color: #333;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            &.isRead {
              color: #999;
            }
          }
          .description {
            width: 100%;
            height: 34px;
            line-height: 34px;
            font-size: 24px;
            font-family: PingFangSC-Regular,PingFang SC;
            color: #999999;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .time {
            display: block;
            float: right;
            line-height: 34px;
            font-size: 24px;
            font-family: PingFangSC-Regular, PingFang SC;
            color: #999;
          }
        }
      }
    }
  }
  .feedback-message{
    width: 722px;
    min-height: 224px;
    overflow: hidden;
    margin: 14px auto;
    background-color: white;
    border-radius: 12px;
    .feedback-message-title{
      height: 72px;
      margin: 0 18px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .border-1px(#CCCCCC);
      .icon {
        display: inline-block;
        font-size: 28px;
        overflow: visible;
      }
      p{
        flex: 1;
        line-height: 1;
        font-size: 34px;
        color: #000000;
        font-weight: 600;
        padding-left: 20px;
      }
      span{
        font-size: 26px;
        color: #999;
        i {
          font-size: 28px;
          color: #999999;
          vertical-align: middle;
          margin-left: 4px;
        }
      }
    }
    .feedback-message-content{
      width: 100%;
      overflow: hidden;
      .feedback-message-content-list{
        // height: 78px;
        box-sizing: border-box;
        margin: 0 20px;
        &:not(:nth-child(4)) {
          border-bottom: 1px solid #F4F2F2;
        }
        .feedback-message-content-list-left {
          margin: 30px 24px 28px 6px;
          display: inline-block;
          vertical-align: middle;
          .circle {
            width: 80px;
            height: 80px;
            line-height: 76px;
            background-color: #F59900;
            border-radius: 50%;
            text-align: center;
            &.isRead {
              background-color: #999;
            }
            span {
              display: inline-block;
              vertical-align: middle;
              overflow: hidden;
              width: 48px;
              max-height: 48px;
              line-height: 24px;
              font-size: 24px;
              font-family: PingFangSC-Regular, PingFang SC;
              color: #fff;
            }
          }
        }
        .feedback-message-content-list-right {
          width: calc(100% - 110px);
          display: inline-block;
          vertical-align: middle;
          .status {
            width: 84px;
            margin-right: 10px;
            float: left;
            height: 40px;
            line-height: 40px;
            font-size: 28px;
            font-family: PingFangSC-Regular, PingFang SC;
            &.red {
              color: #E02020;
            }
            &.green {
              color: #67C23A;
            }
            &.isRead {
              color: #999;
            }
          }
          .theme {
            max-width: 340px;
            float: left;
            height: 40px;
            line-height: 40px;
            font-size: 28px;
            font-family: PingFangSC-Regular, PingFang SC;
            color: #333;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            &.isRead {
              color: #999;
            }
          }
          span{
            display: block;
            float: right;
            height: 34px;
            line-height: 34px;
            font-size: 24px;
            font-family: PingFangSC-Regular, PingFang SC;
            color: #999;
          }
          .description {
            width: 100%;
            height: 68px;
            line-height: 34px;
            font-size: 24px;
            font-family: PingFangSC-Regular,PingFang SC;
            color: #999999;
            display: -webkit-box;
            -webkit-line-clamp: 2; // 限制文本的行数，只显示两行
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            word-wrap: break-word;
            word-break: break-all;
          }
        }
      }
    }
  }
  .customer-service-information{
    width: 722px;
    /*height: 396px;*/
    overflow: hidden;
    margin: 0 auto 14px;
    background-color: white;
    border-radius: 12px;
    .customer-service-information-title {
      width: 100%;
      height: 84px;
      img{
        width: 28px;
        height: 30px;
        float: left;
        margin-left: 24px;
        margin-top: 28px;
      }
      p {
        float: left;
        font-size: 32px;
        color: #333333;
        font-weight: 600;
        line-height: 84px;
        padding-left: 20px;
      }
    }
    .customer-service-information-content{
      width: 100%;
      overflow: hidden;
      min-height: 264px;
      .customer-service-information-list{
        height: 130px;
        margin: 0 22px;
        border-bottom: 1px solid #F4F2F2;
        &:last-child{
          border-bottom: 0px solid #F4F2F2;
        }
        .head-icon {
          float: left;
          margin-top: 21px;
          margin-left: 10px;
          font-size: 88px;
        }
        .service-text{
          width: 85%;
          height: 100%;
          float: left;
          .service-text-title{
            width: 100%;
            overflow: hidden;
            p{
              font-size: 32px;
              font-weight: 600;
              color: #333;
              float: left;
              padding: 25px 0 0 22px;
            }
            span{
              font-size: 24px;
              color: #999;
              float: right;
              padding-top: 24px;
            }
          }
          .service-text-content{
            width: 100%;
            overflow: hidden;
            p{
              font-size: 24px;
              color: #999;
              float: left;
              padding: 2px 0 0 22px;
            }
            .van-tag{
              float: right;
              margin-top: 4px;
            }
          }
        }
      }
    }
  }
}
</style>
