<template>
  <div class="notice-details-wrapper">
    <van-nav-bar title="通知公告详情" left-arrow @click-left="onClickLeft"></van-nav-bar>

    <div class="details-content">
      <div class="title">{{title}}</div>

      <div class="time" v-if="time">发布时间 : {{time}}</div>

      <div class="content" v-html="contentTag"></div>

      <div class="img"></div>

      <div class="btn" v-if="relatedId" @click="goToRelated(relatedType, relatedId)">
        <i class="icon"></i>
        <span>{{goRelatedText(relatedType)}}</span>
      </div>
    </div>
  </div>
</template>

<script>
import { api } from '@/api'

export default {
  name: 'notice-details',
  data () {
    return {
      title: '',
      time: '',
      contentTag: '',
      relatedId: '',
      relatedType: ''
    }
  },
  created () {
    let params = {
      id: this.$route.query.id
    }

    api.notiDetailQuery(params).then(res => {
      if (res.success) {
        this.title = res.data.title
        this.time = (res.data.releaseDate && res.data.releaseDate.split('.')[0]) || (res.data.createTime && res.data.createTime.split('.')[0])
        this.contentTag = res.data.contentTag
        this.relatedId = res.data.relatedId
        this.relatedType = res.data.relatedType
      }
    })
  },
  methods: {
    onClickLeft () {
      this.$router.go(-1)
    },
    goRelatedText (type) {
      switch (type) {
        case '1': // 调查问卷
          return '去填写'
        case '2': // 特价项目
          return '去下单'
        case '3': // 物流线路
          return '去申请'
        default:
          return '去查看'
      }
    },
    goToRelated (type, id) {
      if (type === '1') { // 调查问卷
        this.$router.push({
          path: '/questionnaireDetails',
          query: { id }
        })
      } else if (type === '2') { // 特价项目
        this.$router.push({
          path: '/specialSaleDetails',
          query: { id }
        })
      } else if (type === '3') { // 物流线路
        this.$router.push('/logisticsLineList')
      } else if (type === '4') { // 中标公告
        this.$router.push({
          path: '/biddingWinNoticeDetails',
          query: {
            id,
            bidType: 2 // 老鸡/鸡苗
          }
        })
      }
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.notice-details-wrapper {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(180deg, rgba(245,153,0,1) 0%, rgba(255,255,255,1) 100%);
  background-size: 100% 670px;
  background-repeat: no-repeat;
  @{deep}.van-nav-bar {
    background-color: transparent;
    &.van-hairline--bottom {
      &::after {
        border-bottom-width: 0;
      }
    }
    .van-nav-bar__left {
      .van-icon {
        color: #fff !important;
      }
    }
    .van-nav-bar__title {
      color: #fff;
    }
  }
  .details-content {
    width: 702px;
    margin: 0 auto;
    padding: 32px 20px 58px 32px;
    background: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(189, 210, 221, 0.5);
    border-radius: 22px;
    box-sizing: border-box;
    .title {
      color: #333333;
      line-height: 74px;
      font-size: 52px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: bold;
      letter-spacing: 1px;
      word-wrap: break-word;
      word-break: break-all;
    }
    .time {
      margin-top: 8px;
      height: 34px;
      line-height: 34px;
      color: #999999;
      font-size: 24px;
      font-family: PingFangSC-Regular, PingFang SC;
    }
    .content {
      margin-top: 44px;
      color: #666666;
      letter-spacing: 1px;
      overflow: hidden;
      font-size: 28px;
      font-family: PingFangSC-Regular, PingFang SC;
      line-height: 48px;
      word-wrap: break-word;
      word-break: break-all;
    }
    .img {
      margin: 44px auto 0;
      width: 374px;
      height: 200px;
      .bg-img("~@/assets/images/notice/pic");
      background-position: center;
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
    .btn {
      margin: 78px auto 0;
      width: 280px;
      height: 92px;
      background: #F59900;
      border-radius: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      .icon {
        margin-right: 12px;
        width: 56px;
        height: 56px;
        .bg-img("~@/assets/images/notice/read");
        background-position: center;
        background-size: 56px 56px;
        background-repeat: no-repeat;
      }
      span {
        height: 56px;
        color: #fff;
        font-size: 40px;
        font-family: PingFangSC-Regular, PingFang SC;
      }
    }
  }
}
</style>
