<template>
  <div class="notice-wrapper">
    <van-nav-bar title="通知公告" left-arrow @click-left="onClickLeft"></van-nav-bar>
    <van-pull-refresh v-model="isLoading" @refresh="onRefresh" v-if="noticeList && noticeList.length">
      <van-list v-model="loading" :finished="finished" @load="onLoad" :offset="200" finished-text="没有更多了">
        <ul class="notice-list">
          <li>
            <div
              class="item"
              v-for="(childItem, childIndex) in noticeList"
              :key="childIndex"
              @click="seeDetails(childItem.id, childIndex, childItem)"
            >
              <!--<div class="img-box">-->
              <!--<img :src="allImgDomainName+childItem.img" v-if="childItem.img" alt="">-->
              <!--</div>-->
              <div class="content">
                <p class="text"><i class="van-read" v-if="!childItem.isRead"></i>{{childItem.title}}</p>
                <span class="time">{{(childItem.releaseDate && childItem.releaseDate.split('.')[0]) || (childItem.createTime && childItem.createTime.split('.')[0])}}</span>
              </div>
            </div>
          </li>
        </ul>
      </van-list>
    </van-pull-refresh>

    <div class="no-data-box" v-else>
      <no-data :loading="requestLoading"></no-data>
    </div>

    <!-- 置顶悬浮按钮 -->
    <scroll-to-top-hover-btn></scroll-to-top-hover-btn>
  </div>
</template>

<script>
import NoData from '@/components/no-data'
import ScrollToTopHoverBtn from '@/components/scroll-to-top-hover-btn/index'
import { api } from '@/api'

export default {
  name: 'notice',
  data () {
    return {
      // 上拉加载及下拉刷新
      page: {
        index: 1,
        size: 10,
        total: 0
      },
      cacheList: [],
      loading: false, // 控制上拉加载的加载动画
      finished: false, // 控制在页面往下移动到底部时是否调用接口获取数据
      isLoading: false, // 控制下拉刷新的加载动画
      noticeList: [],
      requestLoading: false // 接口请求加载动画
    }
  },
  created () {
    this.notiListQuery()
  },
  methods: {
    onClickLeft () {
      this.$router.go(-1)
    },
    seeDetails (id, ci, item) {
      if (!item.isRead) {
        api.noticeIsReadUpdate({ ids: [{ id, isRead: true }] }).then(res => {
          if (res.success) {
            item.isRead = true
            this.$set(this.noticeList, ci, item)
          }
        })
      }

      this.$router.push({ path: '/noticeDetails', query: { id: id } })
    },
    notiListQuery () {
      this.requestLoading = true
      const params = {
        page: this.page.index,
        pageSize: this.page.size,
        isRead: 0
      }
      api.commonCall(params, 'getNotificationList').then(res => {
        this.requestLoading = false
        if (res.success) {
          this.cacheList = this.cacheList.concat(res.data.returnData)
          this.noticeList.splice(0, this.noticeList.length, ...this.cacheList)
          this.page.total = res.data.count
          this.finished = false
          this.loading = false

          if (this.cacheList.length >= this.page.total) {
            this.finished = true
          }

          setTimeout(() => {
            this.isLoading = false
          }, 100)
        } else {
          res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    // 下拉刷新
    onRefresh () {
      this.page.index = 1
      this.cacheList = []
      this.notiListQuery()
    },
    // 上拉加载
    onLoad () {
      this.page.index++
      this.notiListQuery()
    }
  },
  components: {
    NoData,
    ScrollToTopHoverBtn
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.notice-wrapper {
  width: 100%;
  .notice-list {
    width: 100%;
    padding: 0 24px;
    box-sizing: border-box;
    overflow-x: hidden;
    .item {
      width: 100%;
      height: 150px;
      display: flex;
      align-items: center;
      .border-1px();
      .img-box {
        width: 144px;
        height: 90px;
        border-radius: 10px;
        overflow: hidden;
        flex: 0 0 144px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .content {
        margin-left: 24px;
        width: 680px;
        .text {
          width: 100%;
          font-size: 30px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          .van-read {
            display: inline-block;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            // background: rgb(50, 150, 255);
            background: #e33240;
            margin-right: 10px;
          }
        }
        .time {
          color: #8e939a;
          font-size: 24px;
        }
      }
    }
  }
}
</style>
