<template>
  <div class="order-summarization">
    <van-nav-bar title="订货汇总" left-arrow @click-left="onClickLeft"></van-nav-bar>
    <van-tabs v-model="active" title-active-color="#FF9F00" title-inactive-color="#999999">
      <van-tab>
        <div slot="title">
          <img class="icon" :src="active === 0 ? require('@/assets/images/index-2/listclick.svg') : require('@/assets/images/index-2/list.svg')">
          列表
        </div>
        <van-pull-refresh v-model="isLoading" @refresh="onRefresh" v-if="noticeList && noticeList.length">
          <van-list v-model="loading" :finished="finished" @load="onLoad" :offset="200" finished-text="没有更多了">
            <ul class="notice-list">
              <li>
                <div
                  class="item"
                  v-for="(childItem, childIndex) in noticeList"
                  :key="childIndex"
                  @click="seeDetails(childItem.id, childIndex, childItem)"
                >
                  <!--<div class="img-box">-->
                  <!--<img :src="allImgDomainName+childItem.img" v-if="childItem.img" alt="">-->
                  <!--</div>-->
                  <div class="content">
                    <p class="text"><i class="van-read" v-if="!childItem.isRead"></i>{{childItem.title}}</p>
                    <span class="time" v-if="childItem.releaseDate || childItem.createTime">发布时间 : {{(childItem.releaseDate && childItem.releaseDate.split('.')[0]) || (childItem.createTime && childItem.createTime.split('.')[0])}}</span>
                  </div>
                </div>
              </li>
            </ul>
          </van-list>
        </van-pull-refresh>

        <div class="no-data-box" v-else>
          <no-data :loading="requestLoading"></no-data>
        </div>
      </van-tab>
      <van-tab>
        <div slot="title">
          <img class="icon" :src="active === 1 ? require('@/assets/images/index-2/chartclick.svg') : require('@/assets/images/index-2/chart.svg')">
          图表
        </div>
        <div class="chart-title-right">
          <div
            v-for="(item, index) in popupChartList"
            :key="index"
            :class="{'active': +chartType === +item.value}"
            @click="clickList(item.value, item.content)"
          >{{item.content}}</div>
        </div>
        <high-charts :defOptions="options" :styles="sty" :isUpdate="isUpdate"></high-charts>
      </van-tab>
    </van-tabs>
  </div>
</template>

<script>
import HighCharts from '@/components/high-charts/index'
import NoData from '@/components/no-data'
import { api } from '@/api'

export default {
  name: 'order-summarization',
  components: {
    HighCharts,
    NoData
  },
  data () {
    return {
      active: 0,
      // 上拉加载及下拉刷新
      page: {
        index: 1,
        size: 10,
        total: 0
      },
      cacheList: [],
      loading: false, // 控制上拉加载的加载动画
      finished: false, // 控制在页面往下移动到底部时是否调用接口获取数据
      isLoading: false, // 控制下拉刷新的加载动画
      noticeList: [],
      requestLoading: false, // 接口请求加载动画
      popupChartTitle: '选择类别',
      popupChartList: [
        {
          value: '1',
          content: '日'
        }, {
          value: '2',
          content: '周'
        }, {
          value: '3',
          content: '月'
        }
      ],
      chartType: 1,
      sty: {
        width: window.innerWidth,
        height: window.innerHeight / 2
      },
      options: {
        chart: {
          type: 'column'
        },
        title: {
          text: '日统计',
          style: {
            fontSize: '0.3733rem'
          },
          verticalAlign: 'bottom'
        },
        subtitle: {
          // text: '数据来源: WorldClimate.com'
        },
        xAxis: {
          categories: [],
          crosshair: true,
          labels: {
            rotation: 0, // 倾斜的角度
            formatter: function () {
              return this.value.split('～').length > 1 ? this.value.split('～')[0] + '<br/>' + '～' + '<br/>' + this.value.split('～')[1] : this.value
            }
          }
        },
        yAxis: {
          min: 0,
          title: {
            text: null
          },
          lineWidth: 1
        },
        tooltip: {
          // head + 每个 point + footer 拼接成完整的 table
          headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
          // pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
          // '<td style="padding:0"><b>{point.y:.1f} 只</b></td></tr>',
          footerFormat: '</table>',
          shared: true,
          useHTML: true,
          valueSuffix: '' // 提示信息所带单位
        },
        plotOptions: {
          column: {
            borderWidth: 0,
            dataLabels: {
              enabled: true, // 开启数据标签
              allowOverlap: true // 允许数据标签重叠
            }
          }
        },
        legend: {
          align: 'left',
          verticalAlign: 'top',
          itemDistance: 20, // 距离
          symbolWidth: 10, // 设置为正方形
          symbolHeight: 10,
          symbolRadius: 0,
          itemMarginBottom: 10
        },
        series: [
          {
            name: '订货量',
            data: [],
            color: '#7DB5F0'
          }, {
            name: '发货量',
            data: [],
            color: '#999999'
          }
        ],
        credits: {
          enabled: false
        }
      },
      isUpdate: 1 // charts更新
    }
  },
  mounted () {
    this.notiListQuery()
    this.sty.width = document.documentElement.clientWidth - 50
    this.orderSummary('1')
  },
  methods: {
    onClickLeft () {
      this.$router.go(-1)
    },
    seeDetails (id, ci, item) {
      if (!item.isRead) {
        api.noticeIsReadUpdate({ ids: [{ id, isRead: true }] }).then(res => {
          if (res.success) {
            item.isRead = true
            this.$set(this.noticeList, ci, item)
          }
        })
      }

      this.$router.push({ path: '/orderSummarizationDetails', query: { id: id } })
    },
    notiListQuery () {
      this.requestLoading = true
      const params = {
        orderBys: 'createtime',
        orderType: 'desc',
        page: this.page.index,
        pageSize: this.page.size,
        isRead: 0,
        noticeType: 'A'
      }
      api.commonCall(params, 'notiListQuery').then(res => {
        this.requestLoading = false
        if (res.success) {
          this.cacheList = this.cacheList.concat(res.data.returnData)
          this.noticeList.splice(0, this.noticeList.length, ...this.cacheList)
          this.page.total = res.data.count
          this.finished = false
          this.loading = false

          if (this.cacheList.length >= this.page.total) {
            this.finished = true
          }

          setTimeout(() => {
            this.isLoading = false
          }, 100)
        } else {
          res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    // 下拉刷新
    onRefresh () {
      this.page.index = 1
      this.cacheList = []
      this.notiListQuery()
    },
    // 上拉加载
    onLoad () {
      this.page.index++
      this.notiListQuery()
    },
    // 选择图表类型
    clickList (type, value) {
      this.chartType = +type
      this.options.title.text = this.popupChartList[this.chartType - 1].content + '统计'
      this.orderSummary(type)
    },
    // 获取订单总汇
    orderSummary (type) {
      api.orderSummary({
        type: type
      }).then(res => {
        if (res.success) {
          let reverseArr = res.data.reverse()
          let categories = []
          let needQty = []
          let sendQty = []
          for (let elem of reverseArr.values()) {
            categories.push(elem.date)
            needQty.push(elem.needQty)
            sendQty.push(elem.sendQty)
          }
          this.options.xAxis.categories = categories
          this.options.series[0].data = needQty
          this.options.series[1].data = sendQty
          let str = ''
          if (reverseArr[0] && reverseArr[0].uom) {
            str = '<tr><td style="color:{series.color};padding:0">{series.name}:&nbsp;</td>' + '<td style="padding:0"><b>{point.y} ' + reverseArr[0].uom + '</b></td></tr>'
          }
          this.options.tooltip.pointFormat = str
          this.isUpdate++
        } else {
          res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.order-summarization{
  width: 100%;
  @{deep}.van-tabs {
    .van-tabs__wrap {
      .van-tab {
        .icon {
          width: 28px;
          height: 28px;
          vertical-align: middle;
        }
      }
      .van-tabs__line {
        width: 28px!important;
        height: 4px;
        background-color: #FF9F00;
      }
    }

    .van-tabs__content {
      .van-tab__pane {
        position: relative;
      }
    }
    .notice-list {
      width: 100%;
      padding: 0 24px;
      box-sizing: border-box;
      overflow-x: hidden;
      .item {
        width: 100%;
        height: 150px;
        display: flex;
        align-items: center;
        .border-1px();
        .img-box {
          width: 144px;
          height: 90px;
          border-radius: 10px;
          overflow: hidden;
          flex: 0 0 144px;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .content {
          margin-left: 24px;
          width: 500px;
          .text {
            width: 100%;
            font-size: 30px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            .van-read {
              display: inline-block;
              width: 18px;
              height: 18px;
              border-radius: 50%;
              // background: rgb(50, 150, 255);
              background: #e33240;
              margin-right: 10px;
            }
          }
          .time {
            color: #8e939a;
            font-size: 24px;
          }
        }
      }
    }
    .chart-title-right {
      position: absolute;
      top: 0;
      // right: 20px;
      // height: 64px;
      // margin-top: 18px;
      right: 10PX;
      height: 32PX;
      margin-top: 9PX;
      z-index: 1;
      > div {
        // width: 64px;
        // height: 64px;
        width: 32PX;
        height: 32PX;
        border-radius: 50%;
        float: left;
        color: #333;
        // font-size: 30px;
        // line-height: 64px;
        font-size: 15PX;
        line-height: 32PX;
        text-align: center;
        // margin-left: 15px;
        margin-left: 7.5PX;
        &:first-child {
          margin-left: 0;
        }
        &.active {
          background-color: #FF9F00;
          color: #ffffff;
        }
      }
    }
  }

  @{deep}.highcharts-wrap {
    margin: 0 auto;
    width: 100% !important;
  }
}
</style>
