<template>
  <div class="order-summarization-details-wrapper">
    <van-nav-bar title="订货汇总详情" left-arrow @click-left="onClickLeft"></van-nav-bar>

    <div class="details-content">
      <div class="title">{{title}}</div>

      <div class="time" v-if="time">发布时间 : {{time}}</div>

      <!-- <div class="content" v-html="contentTag"></div> -->
      <div class="content">
        <div class="notice-wrap">
          <div class="notice-wrap-owner" v-for="(contentItem, contentIndex) in contentTag" :key="contentIndex">
            <div class="notice-wrap-owner-title">服务部：{{contentItem.storeName}}</div>
            <div class="notice-wrap-owner-content" v-for="(item, index) in contentItem.itemList" :key="index">{{item.itemName}}：{{item.itemQty}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { api } from '@/api'

export default {
  name: 'order-summarization-details',
  data () {
    return {
      title: '',
      time: '',
      contentTag: '',
      relatedId: '',
      relatedType: ''
    }
  },
  created () {
    let params = {
      id: this.$route.query.id
    }

    api.notiDetailQuery(params).then(res => {
      if (res.success) {
        this.title = res.data.title
        this.time = (res.data.releaseDate && res.data.releaseDate.split('.')[0]) || (res.data.createTime && res.data.createTime.split('.')[0])
        this.contentTag = res.data.contentTagList
      }
    })
  },
  methods: {
    onClickLeft () {
      this.$router.go(-1)
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.order-summarization-details-wrapper {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(180deg, rgba(245,153,0,1) 0%, rgba(255,255,255,1) 100%);
  background-size: 100% 670px;
  background-repeat: no-repeat;
  @{deep}.van-nav-bar {
    background-color: transparent;
    &.van-hairline--bottom {
      &::after {
        border-bottom-width: 0;
      }
    }
    .van-nav-bar__left {
      .van-icon {
        color: #fff !important;
      }
    }
    .van-nav-bar__title {
      color: #fff;
    }
  }
  .details-content {
    width: 702px;
    margin: 0 auto;
    padding: 32px 20px 58px 20px;
    background: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(189, 210, 221, 0.5);
    border-radius: 22px;
    box-sizing: border-box;
    .title {
      color: #333333;
      text-align: center;
      line-height: 50px;
      font-size: 36px;
      font-weight: bold;
      letter-spacing: 1px;
      word-wrap: break-word;
      word-break: break-all;
      span {
        font-size: 28px;
        margin-left: 8px;
        color: #2763CF;
        text-decoration: underline;
        cursor: pointer;
      }
    }
    .time {
      margin-top: 10px;
      color: #999999;
      text-align: center;
      font-size: 24px;
    }
    .content {
      margin-top: 20px;
      color: #666666;
      letter-spacing: 1px;
      overflow: hidden;
      font-size: 28px;
      line-height: 48px;
      word-wrap: break-word;
      word-break: break-all;
      .notice-wrap {
        .notice-wrap-owner {
          border: 1px solid gainsboro;
          padding: 30px;
          font-weight: bold;
          &:not(:first-child) {
            margin-top: 10px;
          }
          .notice-wrap-owner-title {
            font-size: 36px;
          }
          .notice-wrap-owner-content {
            font-size: 32px;
          }
        }
      }
    }
  }
}
</style>
