<template>
  <div class="bottom-button" :class="hasTab ? 'has-tab' : 'no-tab'">
    <div class="line"></div>

    <div class="bottom-button-content">
      <div class="content" v-if="$slots.default">
        <slot></slot>
      </div>

      <div
        class="button"
        v-for="(item, index) in btns"
        :class="[item.color, $slots.default ? 'has-slot' : 'no-slot', item.loading ? 'loading' : '', item.disabled ? 'disabled' : '']"
        :key="index + 'btns'"
        @click="onBtn(item)"
      >
        <van-loading v-if="item.loading">{{item.loadingText || ''}}</van-loading>
        <span v-else>{{item.text}}</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'index',
  props: {
    hasTab: {
      // 是否有底部导航栏
      default: false
    },
    btns: {
      // 按钮
      default: () => ([
        {
          text: '提交订单',
          color: 'red'
        }
      ])
    }
  },
  methods: {
    // 点击按钮
    onBtn (item) {
      if (item.disabled || item.loading) return
      this.$emit('on-btn', item)
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.bottom-button {
  background: white;
  position: fixed;
  left: 0;
  width: 100%;
  height: 96px;

  &.has-tab {
    bottom: 100px;
  }

  &.no-tab {
    bottom: 0;
  }

  .line {
    .border-1px(#c1c4cc);

    height: 2px;
    z-index: 1;
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
  }

  .bottom-button-content {
    display: flex;
    height: 96px;
    align-items: center;
    .content {
      flex: 1;
    }
    .button {
      position: relative;
      overflow: hidden;
      font-size: 30px;
      line-height: 96px;
      text-align: center;
      &:active {
        &:after {
          content: " ";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: rgba(0, 0, 0, 0.08);
        }
      }
      &.has-slot {
        width: 200px;
      }
      &.no-slot {
        flex: 1;
      }
      &.loading {
        opacity: 0.7;
      }
      &.disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
      &.red {
        color: white;
        background: linear-gradient(
          90deg,
          rgba(255, 107, 82, 1) 0%,
          rgba(227, 50, 64, 1) 100%
        );
      }
      &.yellow {
        color: white;
        background: linear-gradient(
          90deg,
          rgba(255, 193, 56, 1) 0%,
          rgba(255, 162, 0, 1) 100%
        );
      }
      &.white {
        color: #e33240;
        background: white;
      }
      &.gray {
        color: white;
        background: linear-gradient(
          90deg,
          rgba(192, 192, 192, 1) 0%,
          rgba(169, 169, 169, 1) 100%
        );
      }
      @{deep}.van-loading {
        .van-loading__spinner {
          width: 30px;
          height: 30px;
          color: #ffffff;
        }
        .van-loading__text {
          font-size: 30px;
          color: #ffffff;
        }
      }
    }
  }
}
</style>
