<template>
  <div class="delivery-delegation">
    <van-nav-bar
      :title="showRightPage ? (this.rightPage === 1 ? '受托人详情' : rightPage === 3 ? '修改受托人' : '添加受托人') : '受托人管理'"
      :right-text="showRightPage ? (rightPage === 1 ? '删除' : rightPage === 3 ? '提交' : '') : ''"
      left-arrow
      @click-left="onClickLeft"
      @click-right="onClickRight"
    />

    <!-- 加载的内容-->
    <div class="content van-content" :class="{showRightPage}">
      <!-- 列表页面 -->
      <div class="content-1">
        <van-pull-refresh
          v-model="isLoading"
          @refresh="onRefresh"
          v-if="delegationList && delegationList.length"
        >
          <van-list v-model="loading" :finished="finished" @load="onLoad" :offset="200" finished-text="没有更多了" v-if="delegationList && delegationList.length">
            <div v-for="(item, index) in delegationList" :key="index + 'delegation'" class="radio-box">
              <div>
                <div
                  class="dele-list van-dele-list"
                  @click="showDetail(item)">
                  <div>
                    <div class="format-img van-img"></div>
                  </div>
                  <div>
                    <div>{{item.name}}</div>
                    <div>
                      <div>手机号码：{{item.phone && item.phone.replace(/(.{3})(.{4})(.{4})/, '$1 $2 $3')}}</div>
                      <div>类型：{{item.delegationtype}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="set-default-box">
                <div style="text-align: right" class="set-text">
                  <span style="color: #44AD7B;" v-if="item.auditing">已审核</span>
                  <span style="color: #FFAA17;" v-else>待审核</span>
                  <!-- <span style="color: #F95C5C;" v-else-if="item.driverStatus === 'A'">审核失败</span> -->
                  <span @click.stop="deleteDele(item)">删除</span>
                </div>
              </div>
            </div>
          </van-list>
        </van-pull-refresh>
        <div class="no-data-box" v-else>
          <no-data :loading="requestLoading"></no-data>
        </div>
      </div>

      <!-- 新增/详情/修改页面 -->
      <div class="content-2">
        <!-- 详情页面 -->
        <div class="detail-list-wrap" v-if="rightPage === 1">
          <list line="true" title="姓名">
            <span class="detail-item">{{delegationDetail.name}}</span>
          </list>
          <list line="true" title="关系" v-if="delegationDetail.relationship">
            <span class="detail-item">{{delegationDetail.relationship}}</span>
          </list>
          <list line="true" title="手机号码">
            <span class="detail-item">{{delegationDetail.phone && delegationDetail.phone.replace(/(.{3})(.{4})(.{4})/, '$1 $2 $3')}}</span>
          </list>
          <list line="true" title="身份证号码" v-if="delegationDetail.idcard">
            <span class="detail-item">{{delegationDetail.idcard && delegationDetail.idcard.replace(/^(.{6}).{8}(.+)/, '$1********$2')}}</span>
          </list>
          <list line="true" title="类型">
            <span class="detail-item">{{switchType(delegationDetail.delegationtype)}}</span>
          </list>
          <list line="true" title="车牌号码" v-if="delegationDetail.delegationtype === '2' && delegationDetail.car">
            <span class="detail-item">{{delegationDetail.car}}</span>
          </list>
          <list line="true" title="有效开始日期" v-if="delegationDetail.startdate">
            <span class="detail-item">{{delegationDetail.startdate}}</span>
          </list>
          <list line="true" title="有效结束日期" v-if="delegationDetail.enddate">
            <span class="detail-item">{{delegationDetail.enddate}}</span>
          </list>
          <list line="true" title="申请状态">
            <span
              class="detail-item"
              :style="{color: statusStyle(delegationDetail.billstatus).color}"
            >{{statusStyle(delegationDetail.billstatus).text}}</span>
          </list>
        </div>
        <!-- 新增页面 -->
        <div class="add-list-wrap" v-else-if="rightPage === 2">
          <div class="list">
            <div class="label">姓名</div>
            <div class="content">
              <input type="text" placeholder="受托人姓名" v-model="name">
            </div>
          </div>
          <div class="list">
            <div class="label">关系</div>
            <div class="content">
              <input type="text" placeholder="与本人关系" v-model="relationship">
            </div>
          </div>
          <div class="list">
            <div class="label">手机号码</div>
            <div class="content">
              <input type="number" maxlength="11" placeholder="请输入手机号码" v-model="phone">
            </div>
          </div>
          <div class="list">
            <div class="label">身份证号码</div>
            <div class="content">
              <input type="text" maxlength="18" placeholder="请输入身份证号码" v-model="idcard">
            </div>
          </div>
          <div class="list" @click="selectType()">
            <div class="label">类型</div>
            <div class="content">
              <input type="text" placeholder="请选择类型" v-model="delegationType.name" readonly="readonly">
            </div>
            <div class="arrow">
              <van-icon name="arrow"/>
            </div>
          </div>
          <div class="list" v-if="delegationType.number === '2'">
            <div class="label">车牌号码</div>
            <div class="content">
              <input type="text" placeholder="请输入车牌号码" v-model="carId">
            </div>
          </div>
          <div class="list">
            <div class="label">受托有效期</div>
            <div class="content expiry-date">
              <input type="text" placeholder="请选择开始日期" v-model="startDate" readonly="readonly" @click="dateSelect(1)">
              <span>&nbsp;~&nbsp;</span>
              <input type="text" placeholder="请选择结束日期" v-model="endDate" readonly="readonly" @click="dateSelect(2)">
            </div>
            <div class="arrow">
              <van-icon name="arrow"/>
            </div>
          </div>
        </div>
        <!-- 修改页面 -->
        <div class="add-list-wrap" v-else-if="rightPage === 3">
          <div class="list">
            <div class="label">姓名</div>
            <div class="content">
              <input type="text" placeholder="受托人姓名" v-model="cacheDelegationDetail.name">
            </div>
          </div>
          <div class="list" v-if="cacheDelegationDetail.relationship">
            <div class="label">关系</div>
            <div class="content">
              <input type="text" placeholder="与本人关系" v-model="cacheDelegationDetail.relationship" disabled>
            </div>
          </div>
          <div class="list">
            <div class="label">手机号码</div>
            <div class="content">
              <input type="text" maxlength="11" placeholder="请输入手机号码" v-model="cacheDelegationDetail.phone">
            </div>
          </div>
          <div class="list">
            <div class="label">身份证号码</div>
            <div class="content">
              <input type="text" maxlength="18" placeholder="请输入身份证号码" v-model="cacheDelegationDetail.idcard" disabled>
            </div>
          </div>
          <div class="list">
            <div class="label">类型</div>
            <div class="content">
              <input type="text" placeholder="请选择类型" v-model="cacheDelegationDetail.delegationtypeName" disabled>
            </div>
            <div class="arrow">
              <van-icon name="arrow"/>
            </div>
          </div>
          <div class="list" v-if="cacheDelegationDetail.delegationtype === '2'">
            <div class="label">车牌号码</div>
            <div class="content">
              <input type="text" placeholder="请输入车牌号码" v-model="cacheDelegationDetail.car" disabled>
            </div>
          </div>
          <div class="list">
            <div class="label">受托有效期</div>
            <div class="content expiry-date">
              <input type="text" placeholder="请选择开始日期" v-model="cacheDelegationDetail.startdate" readonly="readonly" @click="dateSelect(3)">
              <span>&nbsp;~&nbsp;</span>
              <input type="text" placeholder="请选择结束日期" v-model="cacheDelegationDetail.enddate" readonly="readonly" @click="dateSelect(4)">
            </div>
            <div class="arrow">
              <van-icon name="arrow"/>
            </div>
          </div>
        </div>
      </div>
    </div>

    <bottom-button :btns="btns" @on-btn="onBtn"></bottom-button>
     <!-- v-if="(rightPage === 1 && delegationDetail.auditing === false) || rightPage === 2" -->

    <!-- 上拉框 -->
    <pull-up-selection
      :data="typeSelection"
      :show="showPullUpSelection"
      @cancel="cancelSelect"
      title="选择类型"
      @selected="pullUpSelected"
    ></pull-up-selection>

    <!-- 时间选择器 -->
    <van-popup v-model="showDatePicker" position="bottom">
      <van-datetime-picker
        v-model="datePick"
        type="date"
        :min-date="minDate"
        :title="dateIndex === 1 || dateIndex === 3 ? '选择开始日期' : '选择结束日期'"
        @confirm="onConfirm"
        @cancel="onCancel"
      />
    </van-popup>
  </div>
</template>

<script>
import BottomButton from '@/components/bottom-button'
import PullUpSelection from '@/components/pull-up-selection'
import NoData from '@/components/no-data'
import List from '@/components/list'
import { api } from '@/api'
import { isPhone, checkIDCard, checkCarNumber, _debounce, zero } from '@/utils/common'

export default {
  name: 'selfServiceDeliveryDelegation',
  data () {
    return {
      btns: [{ text: '添加受托人', color: 'red' }],
      showRightPage: false, // 是否显示添加受托人或详情页
      rightPage: 1, // 详情页 - 1，添加页 - 2
      name: '', // 添加姓名
      relationship: '', // 添加关系
      phone: '', // 添加电话号码
      idcard: '', // 添加身份证号码
      delegationType: {}, // 添加类型
      carId: '', // 添加车牌号
      showPullUpSelection: false,
      typeSelection: [
        {
          name: '委托下单',
          number: '1'
        },
        {
          name: '委托司机',
          number: '2'
        }
      ],
      delegationList: [], // 受托人列表
      cacheList: [],
      delegationDetail: {}, // 受托人详情
      cacheDelegationDetail: {}, // 修改受托人详情缓存
      auditing: null, // 当前选中受托人的审核情况
      startDate: '', // 有效期开始日期
      endDate: '', // 有效期结束日期
      dateIndex: 1, // 添加受托人日期下标，1 - 开始日期，2 - 结束日期；修改受托人日期下标，3 - 开始日期，4 - 结束日期
      showDatePicker: false, // 显示时间选择器
      datePick: new Date(), // 时间选择器选中时间
      // 上拉加载及下拉刷新
      page: {
        index: 1,
        size: 6,
        total: 0
      },
      loading: false, // 控制上拉加载的加载动画
      finished: false, // 控制在页面往下移动到底部时是否调用接口获取数据
      isLoading: false, // 控制下拉刷新的加载动画
      isSubmitFlag: false, // 记录提交状态
      requestLoading: false // 接口请求加载动画
    }
  },
  computed: {
    minDate () {
      const currentYear = new Date().getFullYear()
      if (this.dateIndex === 1 || this.dateIndex === 3) {
        return new Date(currentYear - 10, 0, 1)
      } else if (this.dateIndex === 2) {
        return this.startDate ? new Date(this.startDate.replace(/-/g, '/')) : new Date(currentYear - 10, 0, 1)
      } else if (this.dateIndex === 4) {
        return this.cacheDelegationDetail.startdate ? new Date(this.cacheDelegationDetail.startdate.replace(/-/g, '/')) : new Date(currentYear - 10, 0, 1)
      }
      return new Date(currentYear - 10, 0, 1)
    }
  },
  watch: {
    showRightPage (n) {
      this.$set(this.btns[0], 'text', n ? (this.rightPage === 1 && this.auditing === false ? '修改' : this.rightPage === 2 ? '提交审核' : '') : '添加受托人')
    },
    rightPage (n) {
      this.$set(this.btns[0], 'text', n === 1 && this.auditing === false ? '修改' : n === 2 ? '提交审核' : '')
    },
    cacheDelegationDetail: {
      handler (val) {
        val.delegationtypeName = val.delegationtype === '1' ? '委托下单' : (val.delegationtype === '2' ? '委托司机' : '')
      },
      deep: true
    }
  },
  components: {
    BottomButton,
    PullUpSelection,
    NoData,
    List
  },
  created () {
    this._queryDelegation()
  },
  methods: {
    // 类型信息
    switchType (type) {
      switch (type) {
        case '1':
          return '委托下单'
        case '2':
          return '委托司机'
        default:
          return ''
      }
    },
    // 审核状态文字和颜色信息
    statusStyle (status) {
      switch (status) {
        // 后台状态：A - 暂存，B - 已提交，C - 已审核
        case 'C':
          return {
            text: '已审核',
            color: '#44AD7B'
          }
        // case false:
        //   return {
        //     text: '审核不通过',
        //     color: '#F95C5C'
        //   }
        case 'B':
          return {
            text: '待审核',
            color: '#FFAA17'
          }
        default:
          return {
            text: '',
            color: ''
          }
      }
    },
    onClickLeft () {
      if (!this.showRightPage) {
        this.$router.go(-1)
      } else {
        this.showRightPage = false
      }
    },
    onClickRight () {
      if (this.rightPage === 1) {
        this.deleteDele(this.delegationDetail)
      } else if (this.rightPage === 3) {
        this.submitUpdate()
      }
    },
    // 下拉刷新
    onRefresh () {
      this.page.index = 1
      this.cacheList = []
      this._queryDelegation()
    },
    // 上拉加载
    onLoad () {
      this.page.index++
      this._queryDelegation()
    },
    // 选择类型
    selectType () {
      this.showPullUpSelection = true
    },
    // 上拉选中
    pullUpSelected (item, index) {
      if (this.rightPage === 2) {
        this.delegationType = item
      } else if (this.rightPage === 3) {
        this.cacheDelegationDetail.delegationtype = item.number
      }
      this.showPullUpSelection = false
    },
    // 取消选择上拉
    cancelSelect () {
      this.showPullUpSelection = false
    },
    onBtn (btn) {
      if (btn.text === '添加受托人') {
        this.showRightPage = true
        this.rightPage = 2
        this.name = ''
        this.relationship = ''
        this.phone = ''
        this.idcard = ''
        this.delegationType = {}
        this.carId = ''
        this.startDate = ''
        this.endDate = ''
      } else if (btn.text === '修改') {
        this.cacheDelegationDetail = this.delegationDetail
        this.rightPage = 3
      } else if (btn.text === '提交审核') {
        this.submitAuditing()
      }
    },
    showDetail (item) {
      this.delegationDetail = {}
      this.showRightPage = true
      this.rightPage = 1
      this.auditing = item.auditing
      this._delegationDetail(item)
    },
    deleteDele (item) {
      let delegationtype = item.delegationtype
      if (item.delegationtype === '1') {
        delegationtype = '委托下单'
      } else if (item.delegationtype === '2') {
        delegationtype = '委托司机'
      }
      let params = {
        fid: item.fid,
        customerid: item.customerid || item.customerId,
        userid: item.userid,
        auditing: item.auditing,
        relationship: delegationtype
      }
      this.deleteDeleApi(params)
    },
    deleteDeleApi (params) {
      this.$dialog.confirm({
        title: '提示',
        message: '确定要删除该受托人吗？'
      }).then(() => {
        // 删除受托人
        api.commonCall(params, 'deleteDelegation').then(res => {
          if (res.success) {
            this.showRightPage = false
            this.$toast.success('删除受托人成功')
            this.onRefresh()
          } else {
            res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
          }
        })
      }).catch(() => {

      })
    },
    submitAuditing: _debounce(function () {
      if (this.isSubmitFlag) return
      this.isSubmitFlag = true

      if (!this.name) {
        this.$toast('请填写姓名')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (!this.name.trim()) {
        this.$toast('姓名不能为空格')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (!this.relationship || !this.relationship.trim()) {
        this.$toast('请填写关系')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (!this.phone) {
        this.$toast('请填写手机号码')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (!isPhone(this.phone)) {
        this.$toast('请填写正确的手机号码')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (!this.idcard) {
        this.$toast('请填写身份证号码')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (!checkIDCard(this.idcard)) {
        this.$toast('请填写正确的身份证号码')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (!this.delegationType.number) {
        this.$toast('请选择类型')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (this.delegationType.number === '2' && !this.carId) {
        this.$toast('请输入车牌号码')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (this.delegationType.number === '2' && !checkCarNumber(this.carId)) {
        this.$toast('车牌号码格式有误（省份简称+地区代码+5~6位数字/字母），请检查')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else {
        let params = {
          username: this.name,
          relationship: this.relationship,
          telephone: this.phone,
          idcard: this.idcard,
          delegationtype: this.delegationType.number,
          startdate: this.startDate || null,
          enddate: this.endDate || null
        }
        if (this.delegationType.number === '2') {
          params.car = this.carId
        }
        // 添加受托人
        api.addDelegation(params).then(res => {
          if (res.success) {
            if (res.data && res.data.ifApplied) {
              setTimeout(() => {
                this.isSubmitFlag = false
              }, 1000)
              this.showRightPage = false
              this.$toast.success(res.data.msg)
              this.onRefresh()
            } else {
              setTimeout(() => {
                this.isSubmitFlag = false
              }, 1000)
              res.data.msg && this.$toast.fail(res.data.msg)
            }
          } else {
            setTimeout(() => {
              this.isSubmitFlag = false
            }, 1000)
            res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
          }
        })
      }
    }, 500),
    // 获取受托人列表
    _queryDelegation () {
      this.requestLoading = true
      const params = {
        pageNo: this.page.index,
        pageSize: this.page.size
      }
      api.queryDelegation(params).then(res => {
        this.requestLoading = false
        if (res.success) {
          this.cacheList = this.cacheList.concat(res.data.userList)
          this.delegationList.splice(0, this.delegationList.length, ...this.cacheList)
          this.page.total = res.data.count
          this.finished = false

          this.loading = false

          if (this.cacheList.length >= this.page.total) {
            this.finished = true
          }
          setTimeout(() => {
            this.isLoading = false
          }, 100)
        }
      })
    },
    // 获取受托人详情
    _delegationDetail (item) {
      let params = {
        fid: item.fid,
        auditing: item.auditing,
        userId: item.userid,
        delegationtype: item.delegationtype
      }
      api.commonCall(params, 'delegationDetail').then(res => {
        if (res.success) {
          this.delegationDetail = res.data || {}
          if (this.delegationDetail.startdate) {
            this.delegationDetail.startdate = this.formatMyDate(this.delegationDetail.startdate)
          }
          if (this.delegationDetail.enddate) {
            this.delegationDetail.enddate = this.formatMyDate(this.delegationDetail.enddate)
          }
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    submitUpdate: _debounce(function () {
      if (this.isSubmitFlag) return
      this.isSubmitFlag = true

      if (!this.cacheDelegationDetail.name) {
        this.$toast('请填写姓名')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (!this.cacheDelegationDetail.name.trim()) {
        this.$toast('姓名不能为空格')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (!this.cacheDelegationDetail.phone) {
        this.$toast('请填写手机号码')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (this.cacheDelegationDetail.phone !== this.delegationDetail.phone && !isPhone(this.cacheDelegationDetail.phone)) {
        this.$toast('请填写正确的手机号码')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else if (!this.cacheDelegationDetail.delegationtype) {
        this.$toast('请选择类型')
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
      } else {
        let params = {
          fid: this.cacheDelegationDetail.fid,
          auditing: this.cacheDelegationDetail.auditing,
          name: this.cacheDelegationDetail.name,
          delegationtype: this.cacheDelegationDetail.delegationtype,
          // relationship: this.cacheDelegationDetail.relationship,
          // car: this.cacheDelegationDetail.carId,
          startdate: this.cacheDelegationDetail.startdate || null,
          enddate: this.cacheDelegationDetail.enddate || null
        }
        if (this.cacheDelegationDetail.phone !== this.delegationDetail.phone) {
          params.phone = this.cacheDelegationDetail.phone
        }
        api.updateDelegation(params).then(res => {
          if (res.success) {
            setTimeout(() => {
              this.isSubmitFlag = false
            }, 1000)
            this.showRightPage = false
            this.$toast.success(res.data.msg || '修改受托人成功')
            this.onRefresh()
          } else {
            setTimeout(() => {
              this.isSubmitFlag = false
            }, 1000)
            res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
          }
        })
      }
    }, 500),
    dateSelect (i) {
      this.dateIndex = i

      this.$nextTick(() => {
        if (i === 1) {
          this.datePick = this.startDate ? new Date(this.startDate.replace(/-/g, '/')) : new Date()
        } else if (i === 2) {
          this.datePick = this.endDate ? new Date(this.endDate.replace(/-/g, '/')) : (this.startDate ? new Date(this.startDate.replace(/-/g, '/')) : new Date())
        } else if (i === 3) {
          this.datePick = this.cacheDelegationDetail.startdate ? new Date(this.cacheDelegationDetail.startdate.replace(/-/g, '/')) : new Date()
        } else if (i === 4) {
          this.datePick = this.cacheDelegationDetail.enddate ? new Date(this.cacheDelegationDetail.enddate.replace(/-/g, '/')) : (this.cacheDelegationDetail.startdate ? new Date(this.cacheDelegationDetail.startdate.replace(/-/g, '/')) : new Date())
        }
        this.showDatePicker = true
      })
    },
    // 时间选择器取消
    onCancel () {
      this.showDatePicker = false
    },
    // 时间选择器确定
    onConfirm () {
      this.showDatePicker = false
      if (this.dateIndex === 1) {
        this.startDate = this.formatDate(this.datePick)
        this.$nextTick(() => {
          this.dateSelect(2)
        })
      } else if (this.dateIndex === 2) {
        this.endDate = this.formatDate(this.datePick)
      } else if (this.dateIndex === 3) {
        this.cacheDelegationDetail.startdate = this.formatDate(this.datePick)
        this.$nextTick(() => {
          this.dateSelect(4)
        })
      } else if (this.dateIndex === 4) {
        this.cacheDelegationDetail.enddate = this.formatDate(this.datePick)
      }
    },
    // 格式化日期
    formatDate (date) {
      let _date = date || new Date()

      return `${_date.getFullYear()}-${zero(_date.getMonth() + 1)}-${zero(_date.getDate())}`
    },
    // 格式化接口返回的日期
    formatMyDate (date) {
      if (date) {
        date = date.substring(0, 10)
      }
      if (date === '1970-01-01') {
        date = null
      }
      return date
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.delivery-delegation {
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  background: rgb(245, 245, 245);
  // background: #fff;

  .format-img {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
  }

  @{deep} .van-hairline--bottom {
    .van-ellipsis {
      font-size: 32px;
      color: #2e3033;
    }

    .van-nav-bar__text {
      // font-size: 30px;
      // color: #2e3033;
    }
  }

  > .content {
    overflow: hidden;
    position: relative;
    box-sizing: border-box;

    &.van-content {
      height: calc(100vh - 92px);
    }

    &.showRightPage {
      .content-1 {
        left: -750px !important;
      }

      .content-2 {
        left: 0 !important;
      }
    }

    .content-1 {
      background-color: #f5f5f5;
      transition: background-color 0.2s;
      -webkit-overflow-scrolling: touch;
      overflow: auto;
      height: calc(100% - 96px);
      position: absolute;
      left: 0px;
      top: 0;
      width: 100%;
      transition: left 0.3s;

      .radio-box {
        position: relative;
        z-index: 1;
        padding-bottom: 90px !important;
        transition: padding-bottom 0.3s;
        margin-bottom: 16px;

        > div:first-child {
          padding: 0 24px;
          background: white;
          .border-1px();
        }

        .dele-list {
          color: #2e3033;
          display: flex;

          &.van-dele-list {
            padding: 32px 0;
          }

          > div {
            &:first-child {
              padding-right: 40px;

              > div {
                border-radius: 50%;
                width: 120px;
                height: 120px;

                &.van-img {
                  width: 120px;
                  height: 120px;
                  .bg-img('~@/assets/images/default_profile');
                }
              }
            }

            &:last-child {
              > div {
                &:first-child {
                  font-size: 30px;
                  padding-bottom: 20px;
                }

                &:last-child {
                  font-size: 26px;
                }
              }
            }
          }
        }

        .set-default-box {
          height: 90px;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          z-index: -1;

          .set-text {
            background: white;
            line-height: 90px;
            font-size: 28px;
            color: #2e3033;
            text-align: right;

            > span {
              &:last-child {
                color: #428be9;
                padding-left: 50px;
                padding-right: 24px;

                > span {
                  &:last-child {
                    color: #f95c5c;
                    margin-left: 50px;
                  }
                }
              }
            }
          }

          .set-default {
            line-height: 90px;
            font-size: 28px;
            color: #2e3033;
            display: flex;
            justify-content: space-between;

            > span {
              &:last-child {
                color: #428be9;

                > span {
                  &:last-child {
                    color: #f95c5c;
                    margin-left: 50px;
                  }
                }
              }
            }
          }
        }
      }
    }

    .content-2 {
      background: white;
      position: absolute;
      top: 0;
      left: 750px;
      width: 100%;
      -webkit-overflow-scrolling: touch;
      height: calc(100% - 96px);
      overflow: auto;
      transition: left 0.3s;

      .detail-list-wrap {
        background: #fff;
        .detail-item {
          padding-right: 30px;
        }
      }

      .add-list-wrap {
        background: #fff;
        .list {
          display: flex;
          align-items: center;
          padding: 35px 24px;
          color: #2e3033;
          font-size: 28px;
          line-height: 40px;

          .content {
            flex: 1;
            text-align: right;

            &.expiry-date {
              input {
                display: inline-block;
                width: 200px;
                text-align: center;
              }
              span {
                color: #c1c4ca;
              }
            }

            input {
              text-align: right;
              margin-left: auto;
              display: block;
              border: 0;
              outline: none;

              &::-webkit-input-placeholder {
                color: #c1c4ca;
              }
              &:disabled {
                color: #8e939a;
                background-color: transparent;
              }
            }

            > span {
              color: #c1c4ca;
            }
          }

          .arrow {
            > i {
              color: #c1c4ca;
              vertical-align: middle;
              padding-left: 20px;
            }
          }
        }
      }
    }
  }
}
</style>
