<template>
  <div class="delivery-detail">
    <van-nav-bar
      title="发货单详情"
      left-arrow
      fixed
      @click-left="onClickLeft"
    />
    <div class="order-content-wrap">
      <div class="dividing-line"></div>

      <van-cell-group>
        <van-cell class="no-bottom-border" title="发货单号" :value="orderNum"/>
        <van-cell class="no-bottom-border" title="发货单位" :value="detailData.orgName"/>
        <van-cell class="no-bottom-border" title="订货人" :value="detailData.receiver"/>
        <van-cell class="no-bottom-border" title="发货日期" :value="detailData.sendDate"/>
        <van-cell class="value-green" title="提货码" :value="detailData.ladingCode"/>
        <van-cell class="no-bottom-border" title="鸡笼数量" :value="`${parseInt(detailData.totalCoopQty)} 个`"/>
        <van-cell class="no-bottom-border" title="销售金额" :value="`${parseFloat(detailData.saleAmt).toFixed(2)} 元`"/>
        <van-cell class="no-bottom-border" title="其他费用" :value="`${parseFloat(detailData.totalFee).toFixed(2)} 元`"/>
        <van-cell v-if="detailData.borrowCoop && detailData.borrowCoopInfo" class="no-bottom-border" title="鸡笼押金" :value="`${parseFloat(detailData.borrowCoopInfo.amt).toFixed(2)} 元`"/>
        <van-cell title="总计金额" :value="`${parseFloat(detailData.totalAmt).toFixed(2)} 元`"/>
        <van-cell class="no-bottom-border" title="折扣金额" :value="`${parseFloat(detailData.collectionAmt).toFixed(2)} 元`"/>
        <van-cell title="应付总金额" :value="`${parseFloat(detailData.totalAmt - detailData.collectionAmt).toFixed(2)} 元`"/>
      </van-cell-group>
      <div class="tips">备注：应付总金额 = 总计金额 - 折扣金额，不包含账户余额。</div>
      <div class="dividing-line"></div>

      <div class="list-wrap-title">发货产品明细<span>总数量：{{detailData.totalQty}}</span></div>
      <div class="list-wrap-content">
        <div class="list-item" v-for="(v, i) in detailData.items" :key="'items-' + i">
          <div class="text-wrap">
            <p class="goods-name">[{{v.gradeName}}] {{v.productName}}<span>{{v.qty}} 只</span></p>
            <p class="goods-info"><span>笼数：{{v.coopQty}} 笼</span><span>毛重：{{v.grossWeight}} 斤</span></p>
            <p class="goods-info"><span>皮重：{{v.tare}} 斤</span><span>净重：{{v.netWeight}} 斤</span></p>
            <p class="goods-info"><span>均重：{{v.avgWeight}} 斤/只</span><span>单价：{{parseFloat(v.price).toFixed(2)}} 元</span></p>
            <p class="price">
              <span>合计：{{parseFloat(v.amt).toFixed(2)}} 元</span>
            </p>
          </div>
        </div>
      </div>
      <div class="dividing-line"></div>

      <div class="list-wrap-title">其他费用明细</div>
      <div class="list-wrap-content">
        <van-cell
          v-for="(item, index) in detailData.feeList"
          :key="'feeList-' + index"
          class="no-bottom-border"
          :title="item.name"
          :value="`${parseFloat(item.amt).toFixed(2)} 元`"/>
      </div>
      <div class="dividing-line"></div>

      <div class="list-wrap-title">付款信息</div>
      <div class="list-wrap-content">
        <van-cell class="no-bottom-border" title="余额支付" :value="`${parseFloat(detailData.balancePayAmt).toFixed(2)} 元`"/>
        <van-cell class="no-bottom-border" title="代扣支付" :value="`${parseFloat(detailData.bankPayAmt).toFixed(2)} 元`"/>
      </div>
      <!-- <div class="dividing-line"></div> -->

      <!-- <div class="list-wrap-title">发货单二维码</div>
      <div class="list-wrap-content">

      </div>
      <div class="dividing-line"></div> -->
    </div>

    <!-- 底部付款或打印 -->
    <div class="bottom-navbar">
      <div class="line"></div>
      <div class="total">
        <div class="content">
          <div class="left">
            <div v-if="!detailData.canPay && detailData.borrowCoopInfo && detailData.borrowCoopInfo.canPay">待付鸡笼押金：
              <span>{{detailData.borrowCoopInfo.amt}} 元</span>
            </div>
            <div>账户余额：
              <span>{{parseFloat(detailData.latestBalance).toFixed(2)}} 元</span>
            </div>
            <div>应付总金额：
              <span>{{parseFloat(detailData.totalAmt - detailData.collectionAmt).toFixed(2)}} 元</span>
            </div>
          </div>
        </div>
        <div class="button red" v-if="detailData.canPay || (detailData.isZzOrg && !detailData.auditing)" @click="goDeliveryPayment()">付款</div>
        <div class="button grey" v-else-if="detailData.auditing">已付款</div>
        <div class="button yellow" v-if="detailData.canPrint || (detailData.borrowCoopInfo && detailData.borrowCoopInfo.canPrint)" @click="goPrinting()">打印</div>
        <div class="button grey" v-else-if="detailData.canSelfPay && detailData.printTimes > 0">已打印</div>
      </div>
    </div>

    <!-- 打印弹出框 -->
    <van-dialog
      class="printing"
      v-model="showPrinting"
      title="打印发货单"
      confirmButtonText="返回"
    >
      <div class="dialog-left">
        方法1：
      </div>
      <div class="dialog-right">
        扫描二维码，快速打印
        <van-button type="primary" @click.stop="scanToPrint()">点击扫码打印</van-button>
      </div>
      <div class="dialog-left row2">
        方法2：
      </div>
      <div class="dialog-right row2">
        手机号+提货码，自助打印
        <p>手机号：{{phone}}</p>
        <p>提货码：{{detailData.ladingCode || '暂无提货码'}}</p>
      </div>
    </van-dialog>
  </div>
</template>

<script>
import { api } from '@/api'
import { isWeiXin } from '@/utils/common'
import { WXMixin } from '@/assets/js/mixin'
import { mapGetters } from 'vuex'

export default {
  name: 'selfServiceDeliveryDetail',
  mixins: [WXMixin],
  data () {
    return {
      fid: null, // 发货单fid
      orderNum: null, // 发货单号
      ownerId: null, // 渠道id
      orderId: null, // 发货单id
      customerId: null, // 当前客户id
      phone: '', // 司机手机号
      detailData: {},
      showPrinting: false, // 显示打印弹出框
      loadingToast: null, // 页面加载动画
      initWxErrMsg: '', // 初始化wx接口错误信息
      checkJsErrMsg: '' // wx接口不可用错误信息
    }
  },
  computed: {
    ...mapGetters(['customer'])
  },
  created () {
    if (isWeiXin()) {
      // WX接口初始化
      this.initWX(['scanQRCode'], checkJsApiRes => {
        if (checkJsApiRes.scanQRCode === false) {
          this.checkJsErrMsg = '当前微信版本不支持扫码功能'
        }
      }, null, errorRes => {
        this.initWxErrMsg = errorRes.errMsg
      })
    }

    this.fid = this.$route.query.fid && this.$route.query.fid.replace(/\s+/g, '+')
    this.orderNum = this.$route.query.orderNum
    this.ownerId = this.$route.query.ownerId
    this.orderId = this.$route.query.orderId
    this.customerId = this.$route.query.customerId
    if (!this.fid) {
      this.$dialog.alert({
        message: '无法找到该订单！'
      }).then(() => {
        this.$router.go(-1)
      })
    } else {
      if (this.customer && this.customer.list && this.customer.list.length) {
        let findItem = this.customer.list.find(v => v.customerId === this.customerId)
        this.phone = (findItem && findItem.customerMobile) || ''
      }

      this.loadingToast = this.$toast.loading({
        duration: 0, // 持续展示 toast
        message: '加载中...'
      })

      // 查询发货单详情
      api.queryBroilerSellOrderDetail({ fid: this.fid }).then(res => {
        this.loadingToast && this.loadingToast.clear()
        if (res.success && res.data && res.data.data && JSON.stringify(res.data.data) !== '{}') {
          this.detailData = res.data.data
        } else {
          this.$toast.fail((res.data && res.data.msg) || '查询发货单详情失败')
        }
      })
    }
  },
  methods: {
    onClickLeft () {
      this.$router.go(-1)
    },
    goDeliveryPayment () {
      this.$router.push({
        path: '/selfServiceDeliveryPayment',
        query: {
          orderNum: this.orderNum,
          fid: this.detailData.fid,
          ownerId: this.ownerId
        }
      })
      // this.$toast('暂时无法使用付款功能')
    },
    goPrinting () {
      this.showPrinting = true
    },
    scanToPrint () {
      if (!isWeiXin()) {
        this.$toast('请用微信浏览器打开，进行扫码')
        return
      }

      this.WXScanQRCode(successRes => {
        let params = {
          qrcode: successRes,
          deliveryFid: this.detailData.fid
        }
        api.bindDeliveryFidToQRCode(params).then(res => {
          if (res.data && res.data.code === 0) {
            this.$dialog.alert({
              title: '扫码成功',
              message: '请在终端屏幕上预览并打印发货单'
            }).then(() => {

            })
          } else {
            this.$dialog.alert({
              message: res.data && res.data.msg ? res.data.msg : '绑定发货单失败，请重新扫码'
            }).then(() => {

            })
          }
        })
      }, failRes => {
        this.$dialog.alert({
          message: this.initWxErrMsg || this.checkJsErrMsg || '调用微信扫码失败，请稍后重试'
        }).then(() => {

        })
      })
    }
  },
  beforeDestroy () {
    this.loadingToast && this.loadingToast.value && this.loadingToast.clear()
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.delivery-detail {
  background: rgb(245, 245, 245);
  .order-content-wrap {
    height: calc(100% - 210px);
    padding-top: 90px;
    padding-bottom: 120px;

    .van-cell {
      &:not(:last-child) {
        &::after {
          right: 30px;
        }
        &.no-bottom-border {
          &::after {
            border-bottom: 0;
          }
        }
      }
      &.value-green {
        @{deep} .van-cell__value {
          color: #44AD7B;
        }
      }
      @{deep} .van-cell__value {
        flex: 2;
      }
    }

    .tips {
      padding: 10px 32px;
      color: #666;
      font-size: 24px;
      word-wrap: break-word;
      word-break: break-all;
    }

    .dividing-line {
      height: 20px;
      background: transparent;
    }

    .list-wrap-title {
      background-color: #ffffff;
      padding: 30px 0 16px 24px;
      font-size: 32px;
      font-weight: 500;
      position: relative;
      box-sizing: border-box;
      &::after {
        content: ' ';
        position: absolute;
        pointer-events: none;
        box-sizing: border-box;
        left: 24px;
        right: 0;
        bottom: 0;
        -webkit-transform: scaleY(.5);
        transform: scaleY(.5);
        border-bottom: 1PX solid #ebedf0;
      }
      span {
        float: right;
        margin-right: 30px;
        font-size: 28px;
      }
    }

    .list-wrap-content {
      background-color: #ffffff;
      .title {
        margin-bottom: 43px;
        position: relative;
        font-size: 0;
        display: flex;
        padding: 43px 24px 0px;
        span,
        p {
          display: inline-block;
          vertical-align: middle;
        }
        span {
          &.icon {
            width: 34px;
            height: 30px;
            margin-right: 20px;
            background: url("~@/assets/images/order/shopper@2x.png") no-repeat center center /
              34px 30px;
          }
          &.status {
            line-height: 28px;
            font-size: 26px;
            font-weight: 400;
            color: rgb(255, 93, 19);
          }
        }
        p {
          flex: 1;
          height: 28px;
          font-size: 28px;
          font-weight: 500;
          color: rgb(46, 48, 51);
          line-height: 28px;
          .arrow {
            line-height: 30px;
            font-size: 24px;
            color: rgb(46, 48, 51);
            width: 40px;
            text-align: center;
            top: 2px;
          }
        }
      }
      .list-item {
        font-size: 0;
        padding: 0 24px 24px 24px;
        &:first-child {
          padding-top: 24px;
        }
        &:not(:last-child) {
          .text-wrap {
            .border-1px();
            padding-bottom: 20px;
          }
        }
        .img-wrap,
        .text-wrap {
          display: inline-block;
          vertical-align: middle;
        }
        .img-wrap {
          width: 180px;
          img {
            width: 100%;
          }
        }
        .text-wrap {
          width: 654px;
          padding: 0 24px;
          .goods-name {
            font-size: 28px;
            font-weight: 400;
            color: #323437;
            height: 56px;
            line-height: 56px;
            span {
              float: right;
            }
          }
          .goods-info {
            color: #8e939a;
            font-size: 22px;
            height: 36px;
            line-height: 36px;
            display: flex;
            span {
              flex: 1;
            }
          }
          .goods-detail {
            margin: 9px 0 20px;
            text-align: right;
            font-size: 26px;
            color: #8e939a;
            font-style: normal;
          }
          .price {
            font-size: 0;
            color: #8e939a;
            i,
            span {
              display: inline-block;
              vertical-align: middle;
              float: right;
            }
            i {
              font-size: 24px;
              font-style: normal;
            }
            span {
              font-size: 26px;
            }
          }
          .more {
            font-size: 24px;
            color: #f95c5c;
            line-height: 34px;
            text-align: right;
          }
        }
      }
      .list-text {
        padding: 0 24px;
        .border-1px();
        p {
          line-height: 28px;
          color: rgba(94, 97, 102, 1);
          font-size: 26px;
          margin-bottom: 20px;
          &:last-child {
            margin-bottom: 0;
            padding-bottom: 40px;
          }
        }
      }
      .contact-wrap {
        text-align: center;
        line-height: 96px;
        font-size: 0;
        i,
        span {
          display: inline-block;
          vertical-align: middle;
        }
        i {
          width: 37px;
          height: 36px;
          background-repeat: no-repeat;
          background-size: 37px 36px;
          .bg-img("~@/assets/images/order/contact");
        }
        span {
          margin-left: 23px;
          font-size: 28px;
          color: rgba(46, 48, 51, 1);
        }
      }
    }
  }
  .bottom-navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: #fff;
    > .line {
      .border-1px(rgb(240, 240, 240));
      height: 1PX;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
    }
    .total {
      height: 100px;
      display: flex;
      align-items: center;
      > div {
        &.content {
          width: 100%;
          color: #2e3033;
          font-size: 26px;
          padding: 0 30px;
          display: flex;
          .left {
            width: 350px;
            span {
              float: right;
              color: #e33240;
              padding-right: 30px;
            }
          }
        }
      }
      .active {
        position: relative;
        overflow: hidden;
        &:active {
          &:after {
            content: " ";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.08);
          }
        }
      }
      .button {
        height: 100%;
        line-height: 100px;
        text-align: center;
        min-width: 170px;
        display: inline-block;
        &.red {
          .active;
          color: white;
          background: linear-gradient(
            90deg,
            rgba(255, 107, 82, 1) 0%,
            rgba(227, 50, 64, 1) 100%
          );
        }
        &.yellow {
          .active;
          color: white;
          background: linear-gradient(
            90deg,
            rgba(255, 193, 56, 1) 0%,
            rgba(255, 162, 0, 1) 100%
          );
        }
        &.green {
          .active;
          color: white;
          background: linear-gradient(
            90deg,
            rgba(60, 179, 113, 1) 0%,
            rgba(74, 156, 117, 1) 100%
          );
        }
        &.grey {
          color: white;
          background: #ccc;
        }
      }
    }
  }
  .van-dialog {
    border-radius: 20px;
    &.printing {
      @{deep} .van-dialog__header {
        font-size: 34px;
        padding-top: 40px;
      }
      @{deep} .van-dialog__content {
        font-size: 30px;
        padding: 20px 32px;
        .dialog-left {
          display: inline-block;
          vertical-align: top;
          width: 23%;
          &.row2 {
            margin-top: 12px;
          }
        }
        .dialog-right {
          display: inline-block;
          vertical-align: top;
          width: 77%;
          &.row2 {
            margin-top: 6px;
          }
          p {
            color: #a9a9a9;
          }
          @{deep} .van-button {
            margin-top: 8px;
            height: 80px;
            line-height: 76px;
            width: 360px;
            border-radius: 12px;
          }
        }
      }
    }
    &.borrow-cage {
      @{deep} .van-dialog__header {
        padding-top: 40px;
      }
      @{deep} .van-dialog__content {
        padding: 40px 60px 60px;
        input {
          width: 100%;
          border: 0;
          border-bottom: 1px solid #696969;
          padding: 0 4px;
        }
      }
    }
  }
}
</style>
