<template>
  <div class="delivery-list">
    <van-nav-bar
      left-arrow
      @click-left="onClickLeft"
    >
      <!-- 中间导航 -->
      <van-tabs v-model="active" slot="title" title-active-color="#E63842" color="#ffffff" @change="_tabChange">
        <van-tab title="货物付款"></van-tab>
        <van-tab title="对账单"></van-tab>
      </van-tabs>
      <div slot="right" class="screen" :class="{'already': isScreening}" @click.stop="showAttributeFiltering = true" v-if="active === 0">
        <div class="screen-icon"></div>
        <span>{{isScreening ? '已筛选' : '筛选'}}</span>
      </div>
    </van-nav-bar>

    <div class="select-head" :class="{'fixed': getScrollTop > 0}">
      <div class="side left">客户</div>
      <div class="center" @click.stop.prevent="selectCustomer">{{customerSelected.name}}<van-icon name="arrow" class="arrow" /></div>
      <div class="side right" @click.stop.prevent="onClickRight" v-if="active === 0">{{orderList && orderList.length && isMultiSelect ? '完成' : '多选'}}</div>
    </div>

    <!-- 货物付款 -->
    <div class="van-content content" :class="{isMultiSelect}" v-if="active === 0">
      <van-pull-refresh v-model="isLoading" @refresh="onRefresh" v-if="orderList && orderList.length">
        <van-list v-model="loading" :finished="finished" :error.sync="error" @load="onLoad" :offset="200" finished-text="没有更多了" error-text="请求失败，点击重新加载">
          <checkbox
            :isChoose="item.isChoose"
            :disabled="item.payStatus !== 'A'"
            :showInvalidText="false"
            @select="(e) => {select(e, item)}"
            v-for="(item, index) in orderList"
            :key="index"
          >
            <div class="list-wrap">
              <div class="title">
                <!-- <span class="icon"></span> -->
                <!-- <van-icon name="balance-list" class="v-icon" /> -->
                <p>{{item.orderNum}}<van-icon name="arrow" class="arrow" /></p>
                <span class="status">{{item.statusText}}</span>
              </div>
              <div class="list-item">
                <div class="text-wrap">
                  <p class="item">销售部
                    <span>{{item.ownerName}}</span>
                  </p>
                  <p class="item">客户
                    <span>{{item.customerName}}</span>
                  </p>
                  <p class="item">发货日期
                    <span>{{item.confirmArrivalDate}}</span>
                  </p>
                  <p class="item">总计金额
                    <span>{{item.totalItemAmount}} 元</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="order-do-some-wrap">
              <span
                class="color1"
                @click.stop.prevent="toDeliveryDetail(item)"
              >查看详情</span>
            </div>
          </checkbox>
        </van-list>
      </van-pull-refresh>
      <div class="no-data-box" v-else>
        <no-data :loading="requestLoading"></no-data>
      </div>
    </div>

    <!-- 对账单 -->
    <div class="van-content content" v-else-if="active === 1">
      <div class="list-wrap" v-if="payBillList && payBillList.length">
        <div class="title title-date">
          <span>日期</span>
          <span class="date">{{payBillDate}}</span>
        </div>
        <div class="list-item pay-bill" v-for="(item, index) in payBillList" :key="index">
          <div class="text-wrap bill-info">
            <p class="item">
              <span>账户名（公司）</span>
              <span>{{item.cardname}}</span>
            </p>
            <p class="item">
              <span>汇款账号</span>
              <span>{{item.cardnumber}}</span>
            </p>
            <p class="item">
              <span>开户行</span>
              <span>{{item.bankname}}</span>
            </p>
            <p class="item">
              <span>应付账款（货款－余额）</span>
              <span class="big-text">{{item.totalamt - item.balance > 0 ? item.totalamt - item.balance + '元' : '余额充足'}}</span>
            </p>
            <p class="item">
              <span>品种</span>
              <span>{{item.matname}}</span>
            </p>
            <p class="item">
              <span>仓库</span>
              <span>{{item.stockNames}}</span>
            </p>
          </div>
        </div>
      </div>
      <div class="no-data-box" v-else>
        <no-data :loading="requestLoading"></no-data>
      </div>
    </div>

    <!-- 底部按钮 -->
    <transition name="slideUp">
      <bottom-button @on-btn="btnClick" :btns="[{text: '批量付款', color: 'red'}]" v-if="orderList && orderList.length && isMultiSelect">
        <checkbox
          :isContentSelect="true"
          :isChoose="isChoose"
          :disabled="!canPayAll"
          :showInvalidText="false"
          @select="(e) => {select(e)}"
        >
          全选 （已选中 {{selectOrderList.length}} 个）
        </checkbox>
      </bottom-button>
    </transition>

    <!-- 上拉框 -->
    <pull-up-selection-topdown
      :data="customerSelection"
      :show="showPullUpSelection"
      @cancel="cancelSelect"
      @selected="pullUpSelected"
    ></pull-up-selection-topdown>

    <!-- 筛选框 -->
    <attribute-filtering
      showNeedDate
      :show="showAttributeFiltering"
      @selected="selected"
    ></attribute-filtering>

    <!-- 置顶悬浮按钮 -->
    <scroll-to-top-hover-btn></scroll-to-top-hover-btn>

    <!-- 下载按钮 -->
    <div class="download" v-if="active === 1 && fileUrl" @click="_toDownload"></div>
  </div>
</template>

<script>
import Checkbox from '@/components/checkbox'
import BottomButton from '@/components/bottom-button'
import NoData from '@/components/no-data'
import PullUpSelectionTopdown from '@/components/pull-up-selection-topdown'
import ScrollToTopHoverBtn from '@/components/scroll-to-top-hover-btn/index'
import AttributeFiltering from '@/components/attribute-filtering'
import { api } from '@/api'
// import { allImgDomainNameMixin } from '@/assets/js/mixin'
import { getScrollTop } from '@/utils/common'
import { mapGetters } from 'vuex'

export default {
  name: 'selfServiceDeliveryList',
  // mixins: [allImgDomainNameMixin],
  components: {
    NoData,
    Checkbox,
    BottomButton,
    PullUpSelectionTopdown,
    ScrollToTopHoverBtn,
    AttributeFiltering
  },
  data () {
    return {
      isMultiSelect: false, // 是否选中
      isChoose: false, // 是否全选
      status: 'V', // V - 待付款、待评价、已完成
      getScrollTop: 0, // 距离顶部高度
      showPullUpSelection: false, // 显示客户选择框
      customerSelection: [], // 客户列表
      customerSelected: {}, // 选中客户
      orderList: [], // 发货单列表
      selectOrderList: [], // 选中发货单
      // 上拉加载及下拉刷新
      page: {
        index: 1,
        size: 6,
        total: 0
      },
      cacheList: [],
      loading: false, // 控制上拉加载的加载动画
      finished: false, // 控制在页面往下移动到底部时是否调用接口获取数据
      error: false, // 控制上拉加载的失败动画
      isLoading: false, // 控制下拉刷新的加载动画
      requestLoading: false, // 接口请求加载动画
      needDateRange: '', // 要货日期
      isScreening: false, // 是否“已筛选”
      showAttributeFiltering: false, // 显示属性过滤
      active: 0, // 标签页下标，0：货物付款，1：对账单
      payBillList: [], // 对账单列表
      fileUrl: '', // 对账单excel文件下载地址
      payBillDate: '' // 日期
    }
  },
  computed: {
    ...mapGetters(['customer']),
    canPayAll () {
      return this.orderList.some(item => {
        return item.payStatus === 'A'
      })
    }
  },
  created () {
    window.addEventListener('scroll', this.handleScroll)

    this.active = +this.$route.query.active || 0
    this.getRelationCustomerList()
  },
  methods: {
    onClickLeft () {
      this.$router.go(-1)
    },
    onClickRight () {
      this.isMultiSelect = !this.isMultiSelect
      if (!this.isMultiSelect) {
        this.select(false)
      }
    },
    select (e, item) {
      let optionalList = this.orderList.filter(v => {
        return v.payStatus === 'A'
      })
      let length = optionalList.length
      let arr = []

      if (item) { // 选中发货单
        this.$set(item, 'isChoose', e)
        arr = optionalList.filter(v => {
          return v.isChoose
        })
        this.isChoose = length === arr.length
      } else { // 底部全选
        this.isChoose = e
        optionalList.forEach(v => {
          this.$set(v, 'isChoose', e)
          arr.push(v)
        })
        arr = optionalList.filter(v => {
          return v.isChoose
        })
      }

      this.selectOrderList = arr
    },
    // 底部"批量付款"按钮点击
    btnClick () {
      if (!this.selectOrderList.length) {
        this.$toast('请选择发货单')
      } else {
        let orderNumList = this.selectOrderList.map(item => item.orderNum).join(',')
        let fidList = this.selectOrderList.map(item => item.easbillid).join(',')
        this.$router.push({
          path: '/selfServiceDeliveryPayment',
          query: {
            orderNum: orderNumList,
            fid: fidList,
            ownerId: this.customerSelected.ownerId
          }
        })
        // this.$toast('暂时无法使用付款功能')
      }
    },
    // 下拉刷新
    onRefresh () {
      if (this.active === 0) {
        this.error && (this.error = false)
        this.page.index = 1
        this.cacheList = []
        this.queryDeliveryOrder()
      } else if (this.active === 1) {
        this.payBillList = []
        this.payBillDate = ''
        this.fileUrl = ''
        this.getPayBillList()
      }
    },
    // 上拉加载
    onLoad () {
      if (this.active === 0) {
        this.error && (this.error = false)
        this.page.index++
        this.queryDeliveryOrder()
      }
    },
    toDeliveryDetail (item) {
      this.$router.push({
        path: '/selfServiceDeliveryDetail',
        query: {
          fid: item.easbillid,
          orderId: item.orderId,
          orderNum: item.orderNum,
          ownerId: item.ownerId,
          customerId: item.customerId
        }
      })
    },
    queryDeliveryOrder () {
      this.requestLoading = true
      let params = {
        status: this.status,
        orderType: '1',
        page: this.page.index,
        pageSize: this.page.size,
        customerId: this.customerSelected.customerId
      }
      if (this.needDateRange) {
        params.needDateRange = this.needDateRange
      }
      api.commonCall(params, 'queryDeliveryOrder').then(res => {
        this.requestLoading = false
        if (res.success) {
          if (this.isChoose) {
            this.select(false)
          }

          this.cacheList = this.cacheList.concat(res.data.list)
          this.orderList.splice(0, this.orderList.length, ...this.cacheList)
          this.page.total = res.data.count
          this.finished = false

          this.loading = false

          if (this.cacheList.length >= this.page.total) {
            this.finished = true
          }
          setTimeout(() => {
            this.isLoading = false
          }, 100)
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
          this.page.index--
          this.loading = false
          this.error = true
          setTimeout(() => {
            this.isLoading = false
          }, 100)
        }
      })
    },
    // 监听滚动事件
    handleScroll () {
      this.getScrollTop = getScrollTop() - 46
    },
    // 选择客户
    selectCustomer () {
      this.showPullUpSelection = true
    },
    // 选中客户
    pullUpSelected (item, index) {
      // let idx = sessionStorage.getItem('userInfo') && JSON.parse(sessionStorage.getItem('userInfo')).phone
      // let deliverCustomer = getCookie('deliverCustomer') && JSON.parse(getCookie('deliverCustomer'))
      // deliverCustomer[idx] = item
      // setCookie('deliverCustomer', JSON.stringify(deliverCustomer), 7)

      this.orderList = []
      this.customerSelected = item
      this.onRefresh()

      this.showPullUpSelection = false
    },
    // 取消选择
    cancelSelect () {
      this.showPullUpSelection = false
    },
    // 获取客户列表
    getRelationCustomerList () {
      let userInfo = JSON.parse(sessionStorage.getItem('userInfo'))
      // let idx = sessionStorage.getItem('userInfo') && JSON.parse(sessionStorage.getItem('userInfo')).phone

      if (userInfo && userInfo.relationCustomerList) {
        if (userInfo.relationCustomerList.length > 0) {
          this.customerSelection = userInfo.relationCustomerList.map(v => {
            v.name = v.customerName
            return v
          })

          if (this.customer && this.customer.current && this.customer.current.customerId) {
            this.customerSelected = this.customerSelection.find(v => v.customerId === this.customer.current.customerId) || this.customerSelection[0] || {}
            if (this.active === 0) {
              this.queryDeliveryOrder()
            } else if (this.active === 1) {
              this.getPayBillList()
            }
          } else {
            this.customerSelected = this.customerSelection[0] || {}
            if (this.active === 0) {
              this.queryDeliveryOrder()
            } else if (this.active === 1) {
              this.getPayBillList()
            }
          }

          // let deliverCustomer = getCookie('deliverCustomer') && JSON.parse(getCookie('deliverCustomer'))
          // if (idx && deliverCustomer && deliverCustomer[idx]) {
          //   this.customerSelected = deliverCustomer[idx]
          //   this.queryDeliveryOrder()
          // } else {
          //   this.customerSelected = this.customerSelection[0] || {}

          //   if (!deliverCustomer) {
          //     deliverCustomer = {}
          //   }

          //   if (idx) {
          //     deliverCustomer[idx] = this.customerSelection[0] || {}
          //   }

          //   setCookie('deliverCustomer', JSON.stringify(deliverCustomer), 7)
          //   this.queryDeliveryOrder()
          // }
        } else {
          this.$toast.fail('获取关联客户失败')
        }
      } else {
        api.userInfo().then(res => {
          if (res.success) {
            if (res.data.relationCustomerList && res.data.relationCustomerList.length > 0) {
              this.customerSelection = res.data.relationCustomerList.map(v => {
                v.name = v.customerName
                return v
              })

              if (this.customer && this.customer.current && this.customer.current.customerId) {
                this.customerSelected = this.customerSelection.find(v => v.customerId === this.customer.current.customerId) || this.customerSelection[0] || {}
                if (this.active === 0) {
                  this.queryDeliveryOrder()
                } else if (this.active === 1) {
                  this.getPayBillList()
                }
              } else {
                this.customerSelected = this.customerSelection[0] || {}
                if (this.active === 0) {
                  this.queryDeliveryOrder()
                } else if (this.active === 1) {
                  this.getPayBillList()
                }
              }

              // let deliverCustomer = getCookie('deliverCustomer') && JSON.parse(getCookie('deliverCustomer'))
              // if (idx && deliverCustomer && deliverCustomer[idx]) {
              //   this.customerSelected = deliverCustomer[idx]
              //   this.queryDeliveryOrder()
              // } else {
              //   this.customerSelected = this.customerSelection[0] || {}

              //   if (!deliverCustomer) {
              //     deliverCustomer = {}
              //   }

              //   if (idx) {
              //     deliverCustomer[idx] = this.customerSelection[0] || {}
              //   }

              //   setCookie('deliverCustomer', JSON.stringify(deliverCustomer), 7)
              //   this.queryDeliveryOrder()
              // }
            } else {
              this.$toast.fail('获取关联客户失败')
            }
          } else {
            res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
          }
        })
      }
    },
    // 选中属性过滤的值
    selected (val, isSelected) {
      this.isScreening = isSelected
      this.showAttributeFiltering = false

      let params = val.key.split(';')
      let needDateRange = ''
      for (let key in params) {
        if (params[key].split('_')[0] === '要货日期') {
          needDateRange = params[key].split('_')[3]
        }
      }

      if (this.needDateRange !== needDateRange) {
        this.needDateRange = needDateRange
        this.orderList = []
        this.onRefresh()
      }
    },
    // tab切换
    _tabChange () {
      if (+this.$route.query.active !== this.active) {
        this.$router.replace({
          path: '/selfServiceDeliveryList',
          query: { active: this.active }
        })
      }
      if (this.active === 0) {
        this.page.index = 1
        this.cacheList = []
        this.orderList = []
        this.queryDeliveryOrder()
      } else if (this.active === 1) {
        this.payBillList = []
        this.payBillDate = ''
        this.fileUrl = ''
        this.getPayBillList()
      }
    },
    // 获取对账单信息
    getPayBillList () {
      this.requestLoading = true
      let params = {
        customer: this.customerSelected.customerId
      }
      api.commonCall(params, 'getPayBillListForZZ').then(res => {
        this.requestLoading = false
        if (res.success) {
          if (JSON.stringify(res.data) !== '{}') {
            this.payBillList = res.data.bills
            this.payBillDate = res.data.date
            this.fileUrl = res.data.url
          }
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    _toDownload () {
      window.open(this.fileUrl, '_blank')
    }
  },
  destroyed () {
    window.removeEventListener('scroll', this.handleScroll)
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.delivery-list {
  background-color: #f5f5f5;
  // overflow-y: scroll;
  // -webkit-overflow-scrolling: touch;
  @{deep}.van-nav-bar {
    .van-nav-bar__content {
      .van-nav-bar__right {
        .screen {
          .screen-icon {
            display: inline-block;
            vertical-align: middle;
            width: 40px;
            height: 40px;
            .bg-img("~@/assets/images/index-2/screen");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% 100%;
          }
          span {
            font-size: 24px;
            text-align: center;
          }
          &.already {
            .screen-icon {
              .bg-img("~@/assets/images/index-2/alreadyscreen");
            }
            span {
              color: #F59900;
            }
          }
        }
      }
    }
  }
  @{deep}.van-nav-bar__title {
    width: 400px;
  }
  .select-head {
    width: 100%;
    left: 0;
    z-index: 99;
    height: 88px;
    position: relative;
    text-align: center;
    line-height: 88px;
    background-color: #fff;
    .border-1px();
    &.fixed {
      top: 0;
      position: fixed;
    }
    .center {
      margin: 0 auto;
      max-width: 60%;
      font-size: 32px;
      font-weight: 500;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      .arrow {
        line-height: 30px;
        font-size: 32px;
        color: rgb(46, 48, 51);
        width: 40px;
        text-align: center;
        top: 6px;
      }
    }
    .side {
      top: 0;
      position: absolute;
      &.left {
        left: 30px;
        font-size: 32px;
      }
      &.right {
        right: 30px;
        font-size: 28px;
        color: #1989fa;
      }
    }
  }

  .van-content {
    // margin-top: 46px;
    height: calc(100vh - 180px);
  }

  .content {
    .van-list {
      @{deep} .checkbox {
        // &:not(:last-child) {
        //   margin-bottom: 10px;
        // }
        &::after {
          display: block;
          content: "";
          height: 10px;
          background-color: #f5f5f5;
        }
        &:last-child {
          &::after {
            height: 0;
          }
        }
      }
      @{deep}.van-list__finished-text, @{deep}.van-list__loading {
        background-color: #f5f5f5;
      }
    }

    @{deep}.van-checkbox__icon {
      // transition: all .2s;
      margin-left: -92px;
    }

    @{deep}.van-checkbox__label {
      // transition: all .2s;
      width: 100%;
    }

    &.isMultiSelect {
      .van-list {
        padding-bottom: 96px;
      }

      .list-wrap {
        margin: 0;
      }

      @{deep}.van-checkbox__icon {
        margin-left: 0 !important;
      }

      @{deep}.van-checkbox__label {
        width: calc(100% - 92px) !important;
      }
    }

    .list-wrap {
      background-color: #fff;
      overflow: hidden;
      .title {
        margin: 43px 0;
        position: relative;
        font-size: 0;
        display: flex;
        padding: 0 24px;
        vertical-align: middle;
        &.title-date {
          margin: 0;
          padding: 30px 44px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .border-1px(#979797);
          span {
            font-size: 36px;
            color: #666666;
            &.date {
              font-size: 36px;
              color: #E60012;
            }
          }
        }
        span, p {
          display: inline-block;
          vertical-align: middle;
        }
        span {
          &.icon {
            width: 34px;
            height: 30px;
            margin-right: 20px;
            background: url("~@/assets/images/order/shopper@2x.png") no-repeat center center /
              34px 30px;
          }
          &.status {
            line-height: 30px;
            font-size: 30px;
            font-weight: 400;
            color: rgb(255, 93, 19);
            padding-right: 20px;
          }
        }
        p {
          flex: 1;
          height: 30px;
          font-size: 30px;
          font-weight: 500;
          color: rgb(46, 48, 51);
          line-height: 30px;
          .arrow {
            line-height: 30px;
            font-size: 26px;
            color: rgb(46, 48, 51);
            width: 40px;
            text-align: center;
            top: 2px;
          }
        }
        .v-icon {
          line-height: 30px;
          font-size: 26px;
          color: #2e3033;
          width: 34px;
          text-align: center;
        }
      }
      .list-item {
        font-size: 0;
        margin-bottom: 30px !important;
        padding: 0 24px;
        &:last-child {
          margin-bottom: 0;
        }
        &.pay-bill {
          margin-bottom: 0 !important;
          padding: 30px 0 0;
          overflow: hidden;
          &:not(:last-child) {
            &::after {
              display: block;
              content: "";
              height: 10px;
              background-color: #f5f5f5;
            }
          }
        }
        .text-wrap {
          display: inline-block;
          vertical-align: middle;
        }
        .text-wrap {
          width: 100%;
          &.bill-info {
            .item {
              padding: 0 40px 8px 48px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              &:last-child {
                padding-bottom: 30px;
              }
              span {
                &:first-child {
                  flex-shrink: 0;
                  color: #666666;
                }
                &:last-child {
                  margin-left: 10px;
                  color: #333333;
                }
                &.big-text {
                  font-size: 40px;
                  word-break: break-all;
                }
              }
            }
          }
          .item {
            padding: 0 30px;
            font-size: 28px;
            color: #8e939a;
            i,
            span {
              display: inline-block;
              vertical-align: middle;
            }
            i {
              font-size: 24px;
              font-style: normal;
            }
            span {
              float: right;
              font-size: 28px;
            }
          }
        }
      }
    }
    .order-do-some-wrap {
      min-height: 70px;
      padding: 24px;
      text-align: right;
      font-size: 0;
      border-top: 1px solid rgb(232, 233, 235, 1);
      span {
        &:not(.no-evaluate) {
          display: inline-block;
          width: 130px;
          padding: 17px;
          margin-left: 16px;
          font-size: 26px;
          text-align: center;
          font-weight: 400;
          color: rgba(46, 48, 51, 1);
          border: 2px solid #c1c4ca;
          border-radius: 35px;
          user-select: none;
          &:first-child {
            margin-left: 0;
          }
          &.color1 {
            color: #ffffff;
            border-color: rgba(255, 107, 82, 1);
            background: linear-gradient(
              90deg,
              rgba(255, 107, 82, 1) 0%,
              rgba(227, 50, 64, 1) 100%
            );
          }
          &.color2 {
            color: #e33240;
            border-color: #e33240;
            background: rgba(255, 248, 249, 1);
          }
        }
        &.no-evaluate {
          line-height: 70px;
          display: inline-block;
          font-size: 26px;
          color: rgba(150, 150, 150, .7);
        }
      }
    }
  }

  .download {
    width: 116px;
    height: 116px;
    background: url("~@/assets/images/self-service-delivery/download.svg") no-repeat center;
    position: fixed;
    bottom: 40px;
    right: 10px;
  }

  .guide-download {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 102;
    .arrows-img {
      width: 340px;
      position: absolute;
      right: 20px;
      top: 20px;
    }
    p {
      font-size: 36px;
      color: #fff;
      margin-top: 320px;
      text-align: center;
    }
  }
}
</style>
