<template>
  <div class="delivery-payment">
    <van-nav-bar
      title="发货单付款"
      left-arrow
      fixed
      @click-left="onClickLeft"
    />
    <!-- 付款中心界面 -->
    <div v-if="index === 0" class="list-wrap">
      <div v-if="isMultiOrgs === true">
        <div class="list-wrap-array" v-for="(dataItem, dataIndex) in data" :key="dataIndex">
          <div class="list-wrap-title">付款总览 >> 订单号：{{dataItem.number}}</div>
          <div class="list-wrap-content">
            <van-cell-group>
              <van-cell title="客户姓名" :value="`${dataItem.receiver}`"/>
              <van-cell title="发货单位" :value="`${dataItem.orgName}`"/>
              <van-cell title="本次装鸡笼数" :value="`${dataItem.totalCoopQty} 个`"/>
              <van-cell title="本次货款总额" :value="`${dataItem.totalAmt} 元`"/>
            </van-cell-group>
          </div>
          <div class="list-wrap-title">余额信息</div>
          <div class="list-wrap-content">
            <van-cell-group>
              <van-cell title="余额总计" :value="`${dataItem.latestBalance} 元`"/>
              <van-cell title="借笼押金总计" :value="`${(dataItem.borrowCoopInfo && dataItem.borrowCoopInfo.balanceAmt) || '0.00'} 元`" v-if="dataItem.borrowCoopInfo"/>
              <van-cell title="借笼数量总计" :value="`${(dataItem.borrowCoopInfo && dataItem.borrowCoopInfo.balanceQty) || '0'} 个`" v-if="dataItem.borrowCoopInfo"/>
            </van-cell-group>
          </div>
          <div class="list-wrap-title">支付方式</div>
          <div class="list-wrap-content">
            <van-cell-group>
              <van-cell title="余额支付金额" :value="`${dataItem.balancePayAmt} 元`"/>
              <van-cell title="使用折扣金额" :value="`${dataItem.collectionAmt} 元`"/>
              <van-cell title="网银代扣货款" :value="`${dataItem.bankPayAmt} 元`"/>
              <van-cell class="bank" title="付款银行卡"
                is-link
                :value="bankCardSelected[dataIndex] && bankCardSelected[dataIndex].number || '请选择'"
                @click="selectBank(dataIndex)"
              />
            </van-cell-group>
          </div>
        </div>
      </div>

      <div v-else-if="isMultiOrgs === false">
        <div class="list-wrap-title">付款总览 >> 订单号：{{orderNum}}</div>
        <div class="list-wrap-content">
          <van-cell-group>
            <van-cell title="客户姓名" :value="`${data.receiver}`"/>
            <van-cell title="发货单位" :value="`${data.orgName}`"/>
            <van-cell title="本次装鸡笼数" :value="`${data.totalCoopQty} 个`"/>
            <van-cell title="本次货款总额" :value="`${data.totalAmt} 元`"/>
          </van-cell-group>
        </div>
        <div class="list-wrap-title">余额信息</div>
        <div class="list-wrap-content">
          <van-cell-group>
            <van-cell title="余额总计" :value="`${data.latestBalance} 元`"/>
            <van-cell title="借笼押金总计" :value="`${(data.borrowCoopInfo && data.borrowCoopInfo.balanceAmt) || '0.00'} 元`" v-if="data.borrowCoopInfo"/>
            <van-cell title="借笼数量总计" :value="`${(data.borrowCoopInfo && data.borrowCoopInfo.balanceQty) || '0'} 个`" v-if="data.borrowCoopInfo"/>
          </van-cell-group>
        </div>
        <div class="list-wrap-title">支付方式</div>
        <div class="list-wrap-content">
          <van-cell-group>
            <van-cell title="余额支付金额" :value="`${data.balancePayAmt} 元`"/>
            <van-cell title="使用折扣金额" :value="`${data.collectionAmt} 元`"/>
            <van-cell title="网银代扣货款" :value="`${data.bankPayAmt} 元`"/>
            <van-cell class="bank" title="付款银行卡"
              is-link
              :value="bankCardSelected[0] && bankCardSelected[0].number || '请选择'"
              @click="selectBank()"
            />
          </van-cell-group>
        </div>
      </div>

      <bottom-button :btns="btns" @on-btn="onBtn"></bottom-button>
    </div>

    <!-- 付款结果页面 -->
    <div v-if="index === 1" class="result">
      <!-- 成功 -->
      <div class="success" v-if="result">
        <div></div>
        <div>恭喜您，付款成功！</div>
        <div>支付货款成功，返回打印发货单</div>
      </div>

      <!-- 失败 -->
      <div class="fail" v-else>
        <div></div>
        <div>付款失败，请联系业务员处理！</div>
        <div v-if="resultMsg">原因：{{resultMsg}}</div>
      </div>
    </div>

    <!-- 上拉框 -->
    <pull-up-selection
      :data="PullUpSelectionList"
      :show="showPullUpSelection"
      @cancel="cancelSelect"
      title="选择银行卡"
      @selected="pullUpSelected"
    ></pull-up-selection>
  </div>
</template>

<script>
import BottomButton from '@/components/bottom-button'
import PullUpSelection from '@/components/pull-up-selection'
import { api } from '@/api'
import { _debounce, isWeiXin } from '@/utils/common'
import { WXMixin } from '@/assets/js/mixin'

export default {
  name: 'selfServiceDeliveryPayment',
  mixins: [WXMixin],
  data () {
    return {
      index: 0, // 0：付款中心，1：付款结果
      btns: [{ text: '确认支付', color: 'red' }],
      result: false, // 付款结果（true - 成功，false - 失败）
      resultMsg: '', // 付款结果信息
      showPullUpSelection: false, // 显示上拉框
      isMultiOrgs: null, // 是否跨组织
      multiOrgsIndex: -1, // 跨组织时的下标
      fid: null, // 发货单fid
      orderNum: null, // 发货单号
      ownerId: null, // 渠道id
      createTime: null,
      data: null, // 发货单总览，{} 或者 []
      bankCardList: [], // 获取银行卡列表
      PullUpSelectionList: [], // 上拉框列表数据
      bankCardSelected: [], // 选中银行卡
      isSubmitFlag: false, // 记录提交状态
      timer: null, // 倒计时计时器
      countDownToast: null, // 倒计时轻提示
      loadingToast: null, // 页面加载动画
      initWxErrMsg: '', // 初始化wx接口错误信息
      checkJsErrMsg: '' // wx接口不可用错误信息
    }
  },
  components: {
    BottomButton,
    PullUpSelection
  },
  created () {
    if (isWeiXin()) {
      // WX接口初始化
      this.initWX(['scanQRCode'], checkJsApiRes => {
        if (checkJsApiRes.scanQRCode === false) {
          this.checkJsErrMsg = '当前微信版本不支持扫码功能'
        }
      }, null, errorRes => {
        this.initWxErrMsg = errorRes.errMsg
      })
    }

    this.fid = this.$route.query.fid
    this.orderNum = this.$route.query.orderNum
    this.ownerId = this.$route.query.ownerId
    if (!this.fid) {
      this.$dialog.alert({
        message: '无法找到该订单！'
      }).then(() => {
        this.$router.go(-1)
      })
    } else {
      this.loadingToast = this.$toast.loading({
        duration: 0, // 持续展示 toast
        message: '加载中...'
      })

      api.queryBroilerSellOrderListDetail({ idList: this.fid }).then(res => {
        this.loadingToast && this.loadingToast.clear()
        if (res.success && res.data && res.data.data && JSON.stringify(res.data.data) !== '{}') {
          let params = {} // 种猪查询未签订网银代扣接口传参
          if (res.data.data.orgName === undefined) { // 判断是否跨组织
            this.isMultiOrgs = true
            let list = []
            for (let i = 0; i < parseInt(res.data.data.size); i++) {
              list.push(res.data.data[i])

              this.$set(this.bankCardList, i, res.data.data[i].paymentBankCardList)
              if (this.bankCardList[i].length) {
                this.$set(this.bankCardSelected, i, this.bankCardList[i][0])
              }
            }
            this.data = list
            // 种猪调是否签订网银代扣接口传参
            let filterList = this.data.filter(v => v.isZzOrg && +v.bankPayAmt > 0)
            if (filterList && filterList.length) {
              params = {
                orgList: filterList.map(v => ({ orgId: v.orgId })),
                customerEasId: filterList[0].customerId
              }
            }
          } else {
            this.isMultiOrgs = false
            this.data = res.data.data
            // 种猪调是否签订网银代扣接口传参
            if (this.data.isZzOrg && +this.data.bankPayAmt > 0) {
              params = {
                orgList: [{ orgId: this.data.orgId }],
                customerEasId: this.data.customerId
              }
            }

            this.bankCardList = res.data.data.paymentBankCardList
            if (this.bankCardList.length) {
              this.$set(this.bankCardSelected, 0, this.bankCardList[0])
            }
          }

          // 种猪营销 - 判断是否存在未签订网银代扣的组织
          if (JSON.stringify(params) !== '{}') {
            api.commonCall(params, 'checkWithholdAgreement').then(res => {
              if (res.success) {
                if (res.data.isSign === false) {
                  this.$dialog.confirm({
                    title: '提示',
                    confirmButtonText: '签订',
                    message: res.data.msg || '您未签订代扣协议，是否现在去签订？'
                  }).then(() => {
                    let params = {
                      customer: res.data.orgName,
                      customerId: res.data.orgId,
                      clientType: res.data.type
                    }

                    this.$router.push({
                      name: 'withholdAgreementAdd',
                      params: params
                    })
                  }).catch(() => {

                  })
                }
              }
            })
          }
        } else {
          this.$toast.fail((res.data && res.data.msg) || '查询发货单失败')
        }
      })
    }
  },
  methods: {
    onClickLeft () {
      this.$router.go(-1)
    },
    // 点击底部“确认支付”按钮
    onBtn () {
      this.$dialog.confirm({
        title: '提示',
        message: '确定要支付货款吗？'
      }).then(() => {
        if (this.isMultiOrgs === true) { // 跨组织付款
          let params = {}
          let dataStr = []
          let isZZ = true

          for (let i = 0; i < this.data.length; i++) {
            if (!this.data[i].isZzOrg) {
              isZZ = false
            }
            if (!this.data[i].fids) { // 订单id检查是否为空
              this.$toast('订单编码不正确，请返回重试')
              return
            } else if (+this.data[i].bankPayAmt > 0 && !this.bankCardList[i].length) { // 检查需要银行代扣时，是否签订代扣协议
              this.$toast('您还没有签订代扣协议，请找相关业务员处理')
              return
            } else if (+this.data[i].bankPayAmt > 0 && (!this.bankCardSelected[i] || !this.bankCardSelected[i].id)) { // 银行卡选择检查是否为空
              this.$toast('请选择付款银行卡')
              return
            } else {
              dataStr.push({
                ids: this.data[i].fids, // 订单eas id
                numbers: this.data[i].number, // 订单 number
                card_id: (this.bankCardSelected[i] && this.bankCardSelected[i].id) || '', // 银行卡id
                borrow_coop_qty: 0, // 借笼数
                subtract_coop_amt: this.data[i].borrowCoop ? 1 : 0, // 计算余额时，是否扣除鸡笼押金。1：扣，0：不扣。（鸡笼押金不能作为贷款使用）
                customer_id: this.data[i].customerId
              })

              if (i === this.data.length - 1) {
                this.countDownToast = this.$toast.loading({
                  duration: 0, // 持续展示
                  overlay: true, // 显示背景蒙层
                  message: '付款中，请等待 20 秒'
                })

                let second = 20
                this.timer = setInterval(() => {
                  second--
                  if (second) {
                    this.countDownToast.message = `付款中，请等待 ${second} 秒`
                  } else {
                    clearInterval(this.timer)
                    this.countDownToast.message = '付款中，请等待...'
                  }
                }, 1000)

                params.dataStr = JSON.stringify(dataStr)
                this.payBroilerOrderListV2(params, isZZ)
              }
            }
          }
        } else if (this.isMultiOrgs === false) { // 同组织付款
          if (!this.data.fids) { // 订单id检查是否为空
            this.$toast('订单编码不正确，请返回重试')
          } else if (+this.data.bankPayAmt > 0 && !this.bankCardList.length) { // 检查需要银行代扣时，是否签订代扣协议
            this.$toast('您还没有签订代扣协议，请找相关业务员处理')
          } else if (+this.data.bankPayAmt > 0 && (!this.bankCardSelected[0] || !this.bankCardSelected[0].id)) { // 银行卡选择检查是否为空
            this.$toast('请选择付款银行卡')
          } else {
            this.countDownToast = this.$toast.loading({
              duration: 0, // 持续展示
              overlay: true, // 显示背景蒙层
              message: '付款中，请等待 20 秒'
            })

            let second = 20
            this.timer = setInterval(() => {
              second--
              if (second) {
                this.countDownToast.message = `付款中，请等待 ${second} 秒`
              } else {
                clearInterval(this.timer)
                this.countDownToast.message = '付款中，请等待...'
              }
            }, 1000)

            let params = {
              ids: this.data.fids, // 订单eas id
              card_id: (this.bankCardSelected[0] && this.bankCardSelected[0].id) || '', // 银行卡id
              borrow_coop_qty: (this.data.borrowCoopInfo && this.data.borrowCoopInfo.qty) || 0, // 借笼数
              subtract_coop_amt: this.data.borrowCoop ? 1 : 0, // 计算余额时，是否扣除鸡笼押金。1：扣，0：不扣。（鸡笼押金不能作为贷款使用）
              customer_id: this.data.customerId
            }
            this.payBroilerOrderList(params, this.data.isZzOrg)
          }
        }
      }).catch(() => {

      })
    },
    // payBroilerOrder: _debounce(function () {
    //   if (this.isSubmitFlag) {
    //     this.$toast.clear()
    //     return
    //   }
    //   this.isSubmitFlag = true

    //   let params = {
    //     id: this.data.fid, // 订单eas id
    //     card_id: this.bankCardSelected.card_id, // 银行卡id
    //     borrow_coop_qty: this.data.borrowCoopInfo && this.data.borrowCoopInfo.qty, // 借笼数
    //     subtract_coop_amt: this.data.borrowCoop ? 1 : 0, // 计算余额时，是否扣除鸡笼押金。1：扣，0：不扣。（鸡笼押金不能作为贷款使用）
    //     customer_id: this.data.customerId
    //   }
    //   api.payBroilerOrder(params).then(res => {
    //     if (res.success && res.data && res.data.data && JSON.stringify(res.data.data) !== '{}') {
    //       this.result = true
    //       this.index = 1
    //       setTimeout(() => {
    //         this.isSubmitFlag = false
    //       }, 1000)
    //     } else {
    //       this.result = false
    //       this.index = 1
    //       setTimeout(() => {
    //         this.isSubmitFlag = false
    //       }, 1000)
    //       this.resultMsg = res.data.message
    //       // this.$dialog.alert({
    //       //   message: '付款失败，请重新付款'
    //       // }).then(() => {

    //       // })
    //     }
    //     this.$toast.clear()
    //   })
    // }, 500),
    // 同组织付款
    payBroilerOrderList: _debounce(function (params, isZZ = false) {
      if (this.isSubmitFlag) {
        this.countDownToast && this.countDownToast.clear()
        return
      }
      this.isSubmitFlag = true

      let url = isZZ ? 'nextPlatformLink/trade/broilerInvoice/list/zz/pay' : 'nextPlatformLink/trade/broilerInvoice/list/pay'
      api.commonCall_v10(params, url).then(res => {
        this.countDownToast && this.countDownToast.clear()
        clearInterval(this.timer)
        if (res.success && res.data && res.data.data && JSON.stringify(res.data.data) !== '{}') {
          // this.result = true
          // this.index = 1
          this.$dialog.confirm({
            title: '提示',
            message: '付款成功，是否要直接打印发货单？',
            confirmButtonText: '打印',
            cancelButtonText: '返回'
          }).then(() => {
            this.scanToPrint()
          }).catch(() => {
            this.$router.go(-1)
          })
          setTimeout(() => {
            this.isSubmitFlag = false
          }, 1000)

          // 种猪付款成功发同呼消息
          if (this.data.isZzOrg) {
            api.commonCall({ ids: this.data.fids.split(',') }, 'sendThPaymentMsg').then(res => {})
          }
        } else {
          this.result = false
          this.index = 1
          setTimeout(() => {
            this.isSubmitFlag = false
          }, 1000)
          this.resultMsg = (res.data && res.data.msg) || (res.message && res.message.replace('调用移动分销接口失败：', ''))
          // this.$dialog.alert({
          //   message: '付款失败，请重新付款'
          // }).then(() => {

          // })
        }
      }, err => {
        this.countDownToast && this.countDownToast.clear()
        clearInterval(this.timer)
        this.result = false
        this.index = 1
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
        this.resultMsg = err.message
      })
    }, 500),
    // 跨组织付款
    payBroilerOrderListV2: _debounce(function (params, isZZ = false) {
      if (this.isSubmitFlag) {
        this.countDownToast && this.countDownToast.clear()
        return
      }
      this.isSubmitFlag = true

      let url = isZZ ? 'nextPlatformLink/trade/broilerInvoice/list/zz/pay_v2' : 'nextPlatformLink/trade/broilerInvoice/list/pay_v2'
      api.commonCall_v10(params, url).then(res => {
        this.countDownToast && this.countDownToast.clear()
        clearInterval(this.timer)
        if (res.success && res.data && res.data.data && JSON.stringify(res.data.data) !== '{}') {
          // this.result = true
          // this.index = 1
          this.$dialog.confirm({
            title: '提示',
            message: '付款成功，是否要直接打印发货单？',
            confirmButtonText: '打印',
            cancelButtonText: '返回'
          }).then(() => {
            this.scanToPrint()
          }).catch(() => {
            this.$router.go(-1)
          })
          setTimeout(() => {
            this.isSubmitFlag = false
          }, 1000)

          // 种猪付款成功发同呼消息
          let fidsList = this.data.filter(v => v.isZzOrg)
          if (fidsList && fidsList.length) {
            let ids = []
            fidsList.forEach(v => {
              ids = ids.concat(v.fids.split(','))
            })
            if (ids && ids.length) {
              api.commonCall({ ids }, 'sendThPaymentMsg').then(res => {})
            }
          }
        } else {
          this.result = false
          this.index = 1
          setTimeout(() => {
            this.isSubmitFlag = false
          }, 1000)
          this.resultMsg = (res.data && res.data.msg) || (res.message && res.message.replace('调用移动分销接口失败：', ''))
          // this.$dialog.alert({
          //   message: '付款失败，请重新付款'
          // }).then(() => {

          // })

          // 种猪付款部分成功发同呼消息
          let fidsList = this.data.filter(v => v.isZzOrg)
          if (fidsList && fidsList.length && (res.data && res.data.msg.indexOf('支付成功') > -1 && res.data.msg.indexOf('支付失败') > -1)) {
            let str = res.data.msg.substring(res.data.msg.indexOf('支付成功') + 4, res.data.msg.indexOf('支付失败'))
            let ids = []
            fidsList.forEach(v => {
              v.number.split(';').forEach((o, p) => {
                if (str.includes(o.trim())) {
                  ids.push(v.fids.split(',')[p])
                }
              })
            })
            if (ids && ids.length) {
              api.commonCall({ ids }, 'sendThPaymentMsg').then(res => {})
            }
          }
        }
      }, err => {
        this.countDownToast && this.countDownToast.clear()
        clearInterval(this.timer)
        this.result = false
        this.index = 1
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
        this.resultMsg = err.message
      })
    }, 500),
    // 选择银行卡
    selectBank (index) {
      this.PullUpSelectionList.splice(0, this.PullUpSelectionList.length)

      if (this.isMultiOrgs === true) {
        this.multiOrgsIndex = index
        for (let elem of this.bankCardList[index].values()) {
          this.PullUpSelectionList.push({
            name: elem.number,
            id: elem.id
          })
        }
      } else if (this.isMultiOrgs === false) {
        for (let elem of this.bankCardList.values()) {
          this.PullUpSelectionList.push({
            name: elem.number,
            id: elem.id
          })
        }
      }

      this.showPullUpSelection = true
    },
    // 取消选择上拉
    cancelSelect () {
      this.showPullUpSelection = false
    },
    // 上拉选中
    pullUpSelected (item, index) {
      if (this.isMultiOrgs === true) {
        this.bankCardSelected[this.multiOrgsIndex] = this.bankCardList[this.multiOrgsIndex].find(i => {
          return i.id === item.id
        })
      } else if (this.isMultiOrgs === false) {
        this.bankCardSelected[0] = this.bankCardList.find(i => {
          return i.id === item.id
        })
      }

      this.showPullUpSelection = false
    },
    scanToPrint () {
      if (!isWeiXin()) {
        this.$toast('请用微信浏览器打开，进行扫码')
        return
      }

      this.WXScanQRCode(successRes => {
        let params = {
          qrcode: successRes,
          deliveryFid: this.data.fid,
          deliveryFids: this.data.fids
        }
        api.bindDeliveryFidToQRCode(params).then(res => {
          if (res.data && res.data.code === 0) {
            this.$dialog.alert({
              title: '扫码成功',
              message: '请在终端屏幕上预览并打印发货单'
            }).then(() => {
              this.$router.go(-1)
            })
          } else {
            this.$dialog.alert({
              message: res.data && res.data.msg ? res.data.msg : '绑定发货单失败，请重新扫码'
            }).then(() => {
              this.$router.go(-1)
            })
          }
        })
      }, failRes => {
        this.$dialog.alert({
          message: this.initWxErrMsg || this.checkJsErrMsg || '调用微信扫码失败，请稍后重试'
        }).then(() => {
          this.$router.go(-1)
        })
      })
    }
  },
  beforeDestroy () {
    this.loadingToast && this.loadingToast.value && this.loadingToast.clear()
    this.countDownToast && this.countDownToast.value && this.countDownToast.clear()
    if (this.timer) {
      clearInterval(this.timer) // 清除倒计时计时器
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.format-img {
  position: relative;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.delivery-payment {
  height: 100%;
  height: 100vh;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  background: rgb(245, 245, 245);

  .list-wrap {
    height: calc(100% - 210px);
    padding-top: 90px;
    padding-bottom: 120px;

    .list-wrap-array {
      margin-bottom: 100px;
      // &:last-child {
      //   margin-bottom: 0;
      // }
    }

    .list-wrap-title {
      padding: 36px 0 16px 24px;
      font-size: 26px;
      font-weight: 500;
      position: relative;
      box-sizing: border-box;
    }
    .list-wrap-content {
      background-color: #ffffff;
      .bank {
        @{deep}.van-cell__value {
          flex: 3;
        }
      }
    }
  }

  .result {
    height: calc(100% - 92px);
    -webkit-overflow-scrolling: touch;
    overflow: auto;
    margin-top: 90px;
    background: #ffffff;
    > div {
      > div {
        text-align: center;

        &:first-child {
          width: 120px;
          height: 120px;
          margin: 120px auto 45px;
          .format-img;
        }

        &:nth-child(2) {
          font-size: 30px;
        }

        &:nth-child(3) {
          margin-top: 20px;
          font-size: 26px;
        }
      }
    }

    .success {
      > div {
        &:first-child {
          .bg-img("~@/assets/images/icon/success");
        }

        &:nth-child(2) {
          color: #4a9c75;
        }

        &:nth-child(3) {
          color: #999ea4;
        }
      }
    }

    .fail {
      > div {
        &:first-child {
          .bg-img("~@/assets/images/icon/fail");
        }

        &:nth-child(2) {
          color: #f95c5c;
        }

        &:nth-child(3) {
          color: #999ea4;
          padding: 0 100px;
        }
      }
    }
  }
}
</style>
