<template>
  <div class="search-page-wrapper">
    <div class="search-bar-wrapper">
      <search-bar
        :defaultValue="value"
        :refer="refer"
        @search="handleHistorySearch"
        @clickLeftIcon="handleBack"
      >
        <van-icon class="icon-back" slot="left" name="arrow-left" color="#2E3033"/>
      </search-bar>
    </div>
    <div class="content">
      <h2 class="record-title">最近搜索</h2>
      <ul class="record-list">
        <li
          class="item"
          v-for="(item, index) in recordList"
          :key="index"
          @click="handleHistorySearch(item)"
        >{{item}}</li>
      </ul>
      <h2 class="hot-title">热门搜索</h2>
      <ul class="hot-list">
        <li
          class="item"
          v-for="(item, index) in hotSearchList"
          :key="index"
          @click="handleHotSearch(item.name)"
        >{{item.name}}</li>
      </ul>
      <span class="empty-history" @click="deleteAllHistory">清空历史记录</span>
    </div>
  </div>
</template>

<script>
import SearchBar from '@/components/search-bar/index'
import { getCookie, setCookie } from '@/utils/common'
import { api } from '@/api'

export default {
  name: 'search',
  props: {
    value: [Number, String],
    refer: {
      // 点击搜索按钮，是否跳到商品列表页
      default: true
    }
  },
  data () {
    return {
      recordList: [], // 最近搜索列表
      hotSearchList: [] // 热门搜索列表
    }
  },
  created () {
    this.recordSearch()
    this._assistantdataQuery()
  },
  methods: {
    // 热搜
    _assistantdataQuery () {
      let cacheKey = 'assistantdataQuery_holdkey'
      let hotKeysJson = sessionStorage.getItem(cacheKey)
      if (hotKeysJson) {
        let hotKeys = JSON.parse(hotKeysJson)
        this.hotSearchList = hotKeys
      } else {
        api.assistantdataQuery({ groupNumber: 'holdkey' }).then(res => {
          if (res.success) {
            if (res.data && res.data.length > 0) {
              this.hotSearchList = res.data
              sessionStorage.setItem(cacheKey, JSON.stringify(res.data))
            }
          }
        })
      }
    },
    recordSearch () {
      let recordSearch = getCookie('recordSearch') && JSON.parse(getCookie('recordSearch'))

      if (sessionStorage.getItem('token')) {
        let index = sessionStorage.getItem('userInfo') && JSON.parse(sessionStorage.getItem('userInfo')).phone

        if (index && recordSearch && recordSearch[index]) {
          this.recordList = recordSearch[index]
        } else {
          this.recordList = []

          if (recordSearch && !index) {
            return
          }

          if (!recordSearch) {
            recordSearch = {}
          }

          if (index) {
            recordSearch[index] = []
          }

          setCookie('recordSearch', JSON.stringify(recordSearch), 7)
        }
      } else if (!sessionStorage.getItem('token')) {
        if (recordSearch && recordSearch.loginOut) {
          this.recordList = recordSearch.loginOut
        } else {
          this.recordList = []

          if (!recordSearch) {
            recordSearch = {}
          }

          if (!recordSearch.loginOut) {
            recordSearch.loginOut = []
          }

          setCookie('recordSearch', JSON.stringify(recordSearch), 7)
        }
      }
    },
    deleteAllHistory () {
      let recordSearch = getCookie('recordSearch') && JSON.parse(getCookie('recordSearch'))

      let index
      if (sessionStorage.getItem('token')) {
        index = sessionStorage.getItem('userInfo') && JSON.parse(sessionStorage.getItem('userInfo')).phone
      } else {
        index = 'loginOut'
      }

      recordSearch[index] = []
      this.recordList.splice(0, this.recordList.length)

      setCookie('recordSearch', JSON.stringify(recordSearch), 7)
    },
    handleBack () {
      document.body.style.overflow = 'visible'
      this.$emit('back')
    },
    // 历史搜索
    handleHistorySearch (val) {
      document.body.style.overflow = 'visible'

      if (this.refer) {
        let query = {}

        val && val.trim() && (query.wd = val.trim())

        this.$router.push({ path: '/goodsList', query })
      } else {
        this.$emit('search', (val && val.trim()) ? val.trim() : '')
      }

      if (!val || !val.trim()) return

      let recordSearch = getCookie('recordSearch') && JSON.parse(getCookie('recordSearch'))

      let index
      if (sessionStorage.getItem('token')) {
        index = sessionStorage.getItem('userInfo') && JSON.parse(sessionStorage.getItem('userInfo')).phone
      } else {
        index = 'loginOut'
      }

      if (index && recordSearch && recordSearch[index]) {
        recordSearch[index].unshift(val.trim())

        let delRe = {}
        let arr = []

        recordSearch[index].forEach(v => {
          if (!delRe[v]) {
            delRe[v] = 1

            arr.push(v)
          }
        })

        recordSearch[index] = arr

        if (recordSearch[index].length > 6) {
          recordSearch[index].length = 6
        }

        setCookie('recordSearch', JSON.stringify(recordSearch), 7)
      }
    },
    // 热门搜索
    handleHotSearch (val) {
      document.body.style.overflow = 'visible'

      if (this.refer) {
        let query = {}

        val && val.trim() && (query.wd = val.trim())

        this.$router.push({ path: '/goodsList', query })
      } else {
        this.$emit('search', (val && val.trim()) ? val.trim() : '')
      }

      if (!val || !val.trim()) return

      let recordSearch = getCookie('recordSearch') && JSON.parse(getCookie('recordSearch'))

      let index
      if (sessionStorage.getItem('token')) {
        index = sessionStorage.getItem('userInfo') && JSON.parse(sessionStorage.getItem('userInfo')).phone
      } else {
        index = 'loginOut'
      }

      if (index && recordSearch && recordSearch[index]) {
        recordSearch[index].unshift(val.trim())

        let delRe = {}
        let arr = []

        recordSearch[index].forEach(v => {
          if (!delRe[v]) {
            delRe[v] = 1

            arr.push(v)
          }
        })

        recordSearch[index] = arr

        if (recordSearch[index].length > 6) {
          recordSearch[index].length = 6
        }

        setCookie('recordSearch', JSON.stringify(recordSearch), 7)
      }
    }
  },
  components: {
    SearchBar
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";
.search-page-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  .search-bar-wrapper {
    .border-1px();
    .icon-back {
      font-size: 40px;
      // font-weight: bold;
    }
  }
  .content {
    position: absolute;
    top: 96px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 24px;
    min-height: 800px;
    .record-title {
      font-size: 26px;
    }
    .record-list {
      margin-top: 40px;
      display: flex;
      flex-wrap: wrap;
      .item {
        padding: 17px 35px;
        border-radius: 32px;
        background-color: #f5f5f5;
        margin-right: 20px;
        margin-bottom: 20px;
        font-size: 26px;
        color: #5e6166;
      }
    }
    .hot-title {
      margin-top: 100px;
      font-size: 26px;
    }
    .hot-list {
      margin-top: 40px;
      display: flex;
      flex-wrap: wrap;
      .item {
        padding: 17px 35px;
        border-radius: 32px;
        background-color: #f5f5f5;
        margin-right: 20px;
        margin-bottom: 20px;
        font-size: 26px;
        color: #5e6166;
      }
    }
    .empty-history {
      width: 100%;
      text-align: center;
      position: absolute;
      left: 0;
      bottom: 70px;
      color: #428be9;
      font-size: 26px;
    }
  }
}
</style>
