<template>
  <membership-wrapper class="fund-details" :title="title" :left-arrow="true">
    <!-- 当前总额 -->
    <div class="container head">
      <div class="content">
        <div>{{type.head}}</div>

        <div v-if="active !== 3">{{balance | keepTwoNum}} 元</div>
        <div v-else>{{+details.totalMoney}}</div>
      </div>

      <div class="top-up" v-if="active === 0" @click="goPage()">充值</div>
    </div>

    <!-- 返利有效期 -->
    <div v-if="active === 1">
      <div class="title">返利有效期</div>

      <div v-for="(item, index) in validTime" :key="index + 'validTime'">
        <div class="container valid-time">
          <div
            class="content"
            :class="getColor(item.price)"
          >{{+item.price > 0 ? ('+' + item.price) : item.price}}</div>

          <div class="time">{{item.startTime}} ~ {{item.endTime}}</div>
        </div>
      </div>
    </div>

    <!-- 明细 -->
    <div>
      <div class="title">{{type.title}}</div>

      <van-list
        v-model="loading"
        :finished="finished"
        finished-text="没有更多了"
        @load="onLoad"
        :offset="200"
        v-if="details.list && details.list.length"
      >
        <div v-for="(item, index) in details.list" :key="index + 'details'">
          <div class="container item">
            <div class="content">
              <!-- <div>订单返金额（单号：{{item.orderNumber}}）</div> -->
              <!-- <div>交易金额</div> -->
              <div>交易前余额：{{item.initBalance | keepTwoNum}}</div>
              <div>交易后余额：{{item.finalBalance | keepTwoNum}}</div>
              <div class="remarks">{{item.billType}}</div>
              <div class="time">{{item.paymentTime}}</div>
            </div>

            <div
              class="price"
              :class="getColor(item.amount)"
              v-if="active !== 3"
            >{{+item.amount > 0 ? '+' : ''}}{{item.amount | keepTwoNum}}</div>
            <div
              class="price"
              :class="getColor(item.amount)"
              v-else
            >{{+item.amount > 0 ? '+' : ''}}{{item.amount | keepTwoNum}}</div>
          </div>
        </div>
      </van-list>

      <div class="no-data-box" v-else>
        <no-data :loading="requestLoading"></no-data>
      </div>
    </div>
  </membership-wrapper>
</template>

<script>
import MembershipWrapper from '@/components/membership-center/membership-wrapper'
import NoData from '@/components/no-data'
import { api } from '@/api'

export default {
  name: 'fund-details',
  components: {
    MembershipWrapper,
    NoData
  },
  data () {
    return {
      id: '', // 服务部id
      title: '', // 服务部名称
      bizType: null, // 服务部业务类型
      active: 0, // 0：余额，1：返利，2：押金，3：信用额度
      balance: undefined,
      details: {
        totalMoney: '',
        list: []
      },
      validTime: [],
      page: {
        index: 1,
        size: 6,
        total: 0
      },
      cacheList: [],
      loading: false, // 控制上拉加载的加载动画
      finished: false, // 控制在页面往下移动到底部时是否调用接口获取数据
      requestLoading: false // 接口请求加载动画
    }
  },
  computed: {
    // 页面信息
    type () {
      switch (this.active) {
        case 0:
          return {
            head: '当前余额',
            title: '收支明细'
          }
        case 1:
          return {
            head: '当前返利',
            title: '返利明细'
          }
        case 2:
          return {
            head: '当前押金',
            title: '押金明细'
          }
        case 3:
          return {
            head: '当前信用额度',
            title: '信用额度明细'
          }
        default:
          return {}
      }
    }
  },
  created () {
    let query = this.$route.query

    if (isNaN(query.active) || query.active === '') {
      this.$router.push({
        path: '/'
      })

      return
    }

    this.active = +query.active
    this.title = query.title
    this.id = query.id
    this.bizType = query.bizType

    if (this.active === 0) {
      this.balanceQuery()
      this.receivingBillQueryList()
    }
  },
  methods: {
    // 数字颜色
    getColor (p) {
      return +p < 0 ? 'red' : 'green'
    },
    // 跳页面
    goPage () {
      this.$router.push({ name: 'topUp', query: { owner: this.title, id: this.id, bizType: this.bizType } })
    },
    receivingBillQueryList () {
      this.requestLoading = true
      let params = {
        page: this.page.index,
        pageSize: this.page.size,
        ownerId: this.id,
        bizType: this.bizType
      }

      api.receivingBillQueryList(params).then(res => {
        this.requestLoading = false
        if (res.success) {
          if (res.data && res.data.list) {
            this.details.totalMoney = res.data.totalMoney

            this.cacheList = this.cacheList.concat(res.data.list)
            this.details.list.splice(0, this.details.list.length, ...this.cacheList)
            this.page.total = res.data.count
            this.finished = false

            this.loading = false

            if (this.cacheList.length >= this.page.total) {
              this.finished = true
            }
          }
        }
      })
    },
    // 上拉加载
    onLoad () {
      if (this.active === 0) {
        this.page.index++
        this.receivingBillQueryList()
      } else if (this.active === 1) {
      } else if (this.active === 2) {
      } else if (this.active === 3) {
      }
    },
    balanceQuery () {
      let params = {
        page: 1,
        pageSize: 999,
        customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId,
        bizType: this.bizType
      }

      api.balanceQuery(params).then(res => {
        if (res.success) {
          let findItem = res.data.list.find(v => v.ownerId === this.id)
          this.balance = (findItem && findItem.balance) || 0
        }
      })
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.fund-details {
  .format-img {
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .active {
    position: relative;
    transform: rotate(0deg);
    overflow: hidden;

    &:active {
      &::before {
        content: " ";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background: rgba(0, 0, 0, 0.08);
      }
    }
  }

  .container {
    background: white;
    display: flex;
    align-items: center;

    .border-1px(rgb(245, 245, 245));

    .content {
      flex: 1;
      padding-right: 10px;
      > div {
        &:first-child {
          color: #2e3033;
          font-size: 28px;
        }
      }
    }

    .red {
      color: #e33240 !important;
    }

    .green {
      color: #4a9c75 !important;
    }
  }

  .title {
    padding: 45px 0 16px 24px;
    color: #8e939a;
    font-size: 26px;
    background: rgb(245, 245, 245);
  }

  .head {
    padding: 60px 24px 60px 30px;

    .content {
      > div {
        &:last-child {
          font-size: 48px;
          color: #e33240;
          padding-top: 20px;
        }
      }
    }

    .top-up {
      width: 180px;
      height: 64px;
      background: linear-gradient(
        90deg,
        rgba(255, 107, 82, 1) 0%,
        rgba(227, 50, 64, 1) 100%
      );
      border-radius: 100px;
      text-align: center;
      color: white;
      padding-top: 12px;
      box-sizing: border-box;
      font-size: 26px;

      .active;
    }
  }

  .item {
    padding: 40px 24px;

    .remarks {
      color: #999999;
      line-height: 30px;
      padding-top: 8px;
      word-wrap: break-word;
      word-break: break-all;
    }

    .time {
      color: #8e939a;
      padding-top: 18px;
    }

    .price {
      font-size: 30px;
    }
  }

  .valid-time {
    padding: 40px 24px;

    .content {
      font-size: 32px;
    }

    .time {
      color: #8e939a;
      font-size: 28px;
    }
  }
}
</style>
