<template>
  <membership-wrapper class="fund" :title="'资产中心'" :left-arrow="true">
    <!-- 导航栏 -->
    <van-tabs v-model="active" @change="changeTab">
      <van-tab title="余额"></van-tab>
      <van-tab title="返利"></van-tab>
      <van-tab title="保证金"></van-tab>
      <van-tab title="转款单"></van-tab>
      <van-tab title="销售折扣"></van-tab>
      <!-- <van-tab title="信用额度"></van-tab> -->
    </van-tabs>

    <div class="content">
      <!-- 总额信息 -->
      <div v-if="swipe" class="swiper" :class="swipe">
        <div>{{title}}</div>

        <div>{{totalNum | keepTwoNum}} 元</div>

        <div class="biztype-switch" v-if="active === 0" @click="showBusinessTypeSwitch = true">{{bizType === 'xp' ? '鲜品' : bizType === 'zz' ? '种猪' : '毛禽/毛猪'}}<van-icon name="exchange" /></div>
        <div class="bond-return-btn" v-else-if="active === 2" @click="toBondReturnApplication">退还</div>
      </div>

      <!-- 余额、返利 -->
      <div class="fund-list" v-if="active === 0 || active === 1">
        <van-pull-refresh v-model="isLoading" @refresh="onRefresh" v-if="list && list.length">
          <van-list v-model="loading" :finished="finished" @load="onLoad" :offset="200" finished-text="没有更多了" :immediate-check="false">
            <list
              line="true"
              arrow="true"
              v-for="(item, index) in list"
              :key="index + 'fund'"
              :title="item.storeName || item.ownerName"
              @on-click="onClick(item)"
            >
              <div :class="+(item.amount || item.balance) < 0 ? 'green' : 'red'">
                <span v-if="active !== 3">{{(item.amount || item.balance) | keepTwoNum}} 元</span>
                <span v-else>{{+(item.amount || item.balance) | keepTwoNum}}</span>
              </div>
            </list>
          </van-list>
        </van-pull-refresh>
        <div class="no-data-box" v-else>
          <no-data :loading="requestLoading"></no-data>
        </div>
      </div>

      <!-- 保证金列表 -->
      <div class="bond" v-else-if="active === 2">
        <van-pull-refresh v-model="isLoading" @refresh="onRefresh" v-if="bailList && bailList.length">
          <van-list v-model="loading" :finished="finished" @load="onLoad" :offset="200" finished-text="没有更多了" :immediate-check="false">
            <div class="bond-content" v-for="(item, index) in bailList" :key="index">
              <div class="bond-content-top">
                <div class="bond-line"></div>
                <p>{{item.orgName}}</p>
              </div>
              <div class="bond-content-bottom">
                <div class="bond-left">
                  <div class="bond-left-top"><p>总额度</p></div>
                  <div class="bond-left-bottom"><p>{{item.amount | keepTwoNum}}</p></div>
                </div>
                <div class="bond-right">
                  <div class="bond-right-top"><span>{{item.useableAmount | keepTwoNum}}</span><p>可用额度：</p></div>
                  <div class="bond-right-center"><span>{{item.frozenAmount | keepTwoNum}}</span><p>冻结额度：</p></div>
                  <div class="bond-right-bottom" @click="toBondDetails(item)"><p>查询明细&nbsp;&gt;</p></div>
                </div>
              </div>
            </div>
          </van-list>
        </van-pull-refresh>
        <div class="no-data-box" v-else>
          <no-data :loading="requestLoading"></no-data>
        </div>
      </div>

      <!-- 转款单 -->
      <div class="allocate" v-else-if="active === 3">
        <div class="allocate-list">
          <van-pull-refresh v-model="isLoading" @refresh="onRefresh" v-if="allocateList && allocateList.length">
            <van-list v-model="loading" :finished="finished" @load="onLoad" :offset="200" finished-text="没有更多了" :immediate-check="false">
              <ul v-for="(item, index) in allocateList" :key="index">
                <li class="bg-red">
                  <div class="allocate-list-left">转款金额：</div><div class="allocate-list-right bigRed"><span>&yen;</span>{{item.amt}}</div>
                </li>
                <li>
                  <div class="allocate-list-left">转款单号：</div><div class="allocate-list-right">{{item.billno}}</div>
                </li>
                <li>
                  <div class="allocate-list-left">转入服务部：</div><div class="allocate-list-right">{{item.targeorg_name}}</div>
                </li>
                <li>
                  <div class="allocate-list-left">转出服务部：</div><div class="allocate-list-right">{{item.sourceorg_name}}</div>
                </li>
                <li>
                  <div class="allocate-list-left">创建时间：</div><div class="allocate-list-right">{{item.createtime}}</div>
                </li>
                <li>
                  <div class="allocate-list-left">备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注：</div><div class="allocate-list-right">{{item.description || '无'}}</div>
                </li>
              </ul>
            </van-list>
          </van-pull-refresh>
          <div class="no-data-box" v-else>
            <no-data :loading="requestLoading"></no-data>
          </div>
        </div>
      </div>

      <!-- 销售折扣 -->
      <div class="salesDiscount" v-else-if="active === 4">
        <div class="salesDiscount-list">
          <van-pull-refresh v-model="isLoading" @refresh="onRefresh" v-if="salesDiscountList && salesDiscountList.length">
            <van-list v-model="loading" :finished="finished" @load="onLoad" :offset="200" finished-text="没有更多了" :immediate-check="false">
              <ul v-for="(item, index) in salesDiscountList" :key="index">
                <li class="list-title">
                  <div class="list-title-line"></div>
                  <span>{{item.orderData.fname}}</span>
                </li>
                <li>
                  <div class="list-left">服务部：</div>
                  <div class="list-right">{{item.orderData.cus_name}}</div>
                </li>
                <li>
                  <div class="list-left">折扣方式：</div>
                  <div class="list-right">{{item.orderData.colle_name}}</div>
                </li>
                <li>
                  <div class="list-left">生效日期：</div>
                  <div class="list-right">{{item.orderData.ffromdate}}</div>
                </li>
                <li>
                  <div class="list-left">失效日期：</div>
                  <div class="list-right">{{item.orderData.ftodate}}</div>
                </li>
                <li>
                  <div class="list-left">总金额：</div>
                  <div class="list-right"><span class="big-black">{{item.orderData.ftotalamt}}元</span></div>
                </li>
                <li>
                  <div class="list-left">已用：</div>
                  <div class="list-right"><span class="big-red">{{item.orderData.fusedamt}}元</span></div>
                </li>
                <li>
                  <div class="list-left">未用：</div>
                  <div class="list-right"><span class="big-green">{{item.orderData.fleftamt}}元</span></div>
                </li>
                <li>
                  <div class="list-left">销售折扣单：</div>
                  <div class="list-right"><span>{{item.orderData.fnumber}}</span></div>
                </li>
                <li v-if="item.billNo">
                  <div class="list-left">降价申请单：</div>
                  <div class="list-right"><span class="price-reduce-apply" @click="toPriceReduceApply(item.reducedPriceId)">{{item.billNo}}</span></div>
                </li>
                <li class="list-bottom" @click="_toSalesDiscountDetails(item.orderData.fid)">使用详情</li>
              </ul>
            </van-list>
          </van-pull-refresh>
          <div class="no-data-box" v-else>
            <no-data :loading="requestLoading"></no-data>
          </div>
        </div>
      </div>

      <!-- 底部弹出选择框(业务类型选择) -->
      <van-action-sheet
        v-model="showBusinessTypeSwitch"
        cancel-text="取消"
        @cancel="showBusinessTypeSwitch = false"
      >
        <div class="selection-box">
          <div class="selection-box-title">业务类型</div>
          <div class="selection-box-content">
            <ul>
              <li v-for="(item, index) in ['毛禽/毛猪', '鲜品', '种猪']" :key="index" @click="onConfirm(item)">{{item}}</li>
            </ul>
          </div>
        </div>
      </van-action-sheet>
    </div>
  </membership-wrapper>
</template>

<script>
import MembershipWrapper from '@/components/membership-center/membership-wrapper'
import List from '@/components/list'
import NoData from '@/components/no-data'
import { api } from '@/api'

export default {
  name: 'fund',
  components: {
    MembershipWrapper,
    List,
    NoData
  },
  data () {
    return {
      active: 0, // 0：余额，1：返利，2：押金，3：信用额度
      list: [],
      totalNum: undefined,
      fund: {},
      // 上拉加载及下拉刷新
      page: {
        index: 1,
        size: 10,
        total: 0
      },
      bailList: [],
      cacheList: [],
      cacheBailList: [],
      cacheAllocateList: [],
      cacheSalesList: [],
      allocateList: [], // 转款单
      salesDiscountList: [], // 销售折扣
      loading: false, // 控制上拉加载的加载动画
      finished: false, // 控制在页面往下移动到底部时是否调用接口获取数据
      isLoading: false, // 控制下拉刷新的加载动画
      requestLoading: false, // 接口请求加载动画
      bizType: 'other', // 业务类型
      showBusinessTypeSwitch: false // 显示业务类型切换
    }
  },
  computed: {
    title () {
      switch (this.active) {
        case 0:
          return '预付款总余额'
        case 1:
          return '返利'
        case 2:
          return '保证金总额度'
        case 3:
          return '转款单'
        case 4:
          return '销售折扣'
        default:
          return ''
      }
    },
    swipe () {
      switch (this.active) {
        case 0:
          return 'red'
        case 1:
          return 'purple'
        case 2:
          return 'blue'
        default:
          return ''
      }
    }
  },
  created () {
    let query = this.$route.query
    this.active = +query.active
    this.bizType = query.bizType
    if (this.active === 0) {
      this.balanceQuery()
    } else if (this.active === 1) {
      this.totalNum = 0
    } else if (this.active === 2) {
      this.depositList()
    } else if (this.active === 3) {
      this.getAllocateList()
    } else if (this.active === 4) {
      this.getSalesDiscount()
    }
  },
  methods: {
    onClick (item) {
      this.$router.push({
        name: 'fundDetails',
        query: {
          active: this.active,
          id: item.ownerId,
          title: item.storeName || item.ownerName,
          bizType: this.bizType
        }
      })
    },
    changeTab (index, title) {
      if (+this.$route.query.index !== index) {
        this.$router.replace({
          path: '/fund',
          query: { active: index, bizType: this.bizType }
        })
      }
      this.initLoadData()
      this.active = index
      if (this.active === 0) {
        this.balanceQuery()
      } else if (this.active === 1) {
        this.totalNum = 0
      } else if (this.active === 2) {
        this.depositList()
      } else if (this.active === 3) {
        this.getAllocateList()
      } else if (this.active === 4) {
        this.getSalesDiscount()
      }
    },
    balanceQuery () {
      this.requestLoading = true
      const params = {
        page: this.page.index,
        pageSize: 999,
        customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId,
        bizType: this.bizType
      }

      // 种猪营销不调用查询订货关系接口，直接调用查询余额接口
      if (this.bizType === 'zz') {
        api.balanceQuery(params).then(res => {
          this.requestLoading = false
          if (res.success) {
            this.setData(res)
            this.totalNum = res.data.totalBalance || 0
          } else {
            res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
          }
        })
      } else {
        this.getSalesDepartmentList().then(allList => {
          let filterList = allList.filter(v => this.bizType === 'xp' ? v.channelType === '4' : v.channelType !== '4')
          api.balanceQuery(params).then(res => {
            this.requestLoading = false
            if (res.success) {
              filterList.forEach(item => {
                let findIdx = res.data.list.findIndex(v => v.ownerId === item.channelId)
                if (findIdx < 0) {
                  res.data.list.push({
                    ownerId: item.channelId,
                    ownerName: item.channelName,
                    storeName: item.storeName,
                    balance: 0,
                    usable: 0
                  })
                }
              })
              this.setData(res)
              this.totalNum = res.data.totalBalance || 0
            } else {
              res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
            }
          })
        })
      }
    },
    // 获取销售部列表
    getSalesDepartmentList () {
      return api.customerAuthQuery().then(res => {
        if (res.success && res.status !== 'noData') {
          return res.data.list
        } else {
          return []
        }
      })
    },
    // 保证金
    depositList () {
      this.requestLoading = true
      let params = {
        page: this.page.index,
        pageSize: this.page.size
      }
      api.commonCall(params, 'queryMarginRecordList').then(res => {
        this.requestLoading = false
        if (res.success) {
          this.totalNum = res.data.totalAmount || 0
          this.cacheBailList = this.cacheBailList.concat(res.data.list)
          this.bailList.splice(0, this.bailList.length, ...this.cacheBailList)
          this.page.total = res.data.count

          this.finished = false
          this.loading = false

          if (this.cacheBailList.length >= this.page.total) {
            this.finished = true
          }

          setTimeout(() => {
            this.isLoading = false
          }, 100)
        }
      })
    },
    // 下拉刷新
    onRefresh () {
      this.page.index = 1
      this.cacheList = []
      this.cacheBailList = []
      this.cacheAllocateList = []
      this.cacheSalesList = []
      if (this.active === 0) { // 余额
        this.balanceQuery()
      } else if (this.active === 1) { // 返利
      } else if (this.active === 2) { // 保证金
        this.depositList()
      } else if (this.active === 3) { // 转款单
        this.getAllocateList()
      } else if (this.active === 4) { // 销售折扣
        this.getSalesDiscount()
      }
    },
    // 上拉加载
    onLoad () {
      this.page.index++
      if (this.active === 0) { // 余额
        this.balanceQuery()
      } else if (this.active === 1) { // 返利
      } else if (this.active === 2) { // 保证金
        this.depositList()
      } else if (this.active === 3) { // 转款单
        this.getAllocateList()
      } else if (this.active === 4) { // 销售折扣
        this.getSalesDiscount()
      }
    },
    // 初始化下拉刷新和上拉加载数据
    initLoadData () {
      this.page = {
        index: 1,
        size: 10,
        total: 0
      }
      this.cacheList = []
      this.cacheBailList = []
      this.cacheAllocateList = []
      this.cacheSalesList = []
      this.loading = false // 控制上拉加载的加载动画
      this.isLoading = false // 控制下拉刷新的加载动画
      this.list = []
      this.bailList = []
      this.allocateList = []
      this.salesDiscountList = []
      this.totalNum = undefined
    },
    setData (res) {
      this.cacheList = this.cacheList.concat(res.data.list)
      this.list.splice(0, this.list.length, ...this.cacheList)
      this.page.total = res.data.count

      this.finished = false
      this.loading = false

      if (this.cacheList.length >= this.page.total) {
        this.finished = true
      }

      setTimeout(() => {
        this.isLoading = false
      }, 100)
    },
    toBondDetails (val) {
      this.$router.push({
        path: '/bondDetails',
        query: {
          id: val.orgId,
          orgName: val.orgName,
          amount: val.amount,
          frozenAmount: val.frozenAmount,
          useableAmount: val.useableAmount
        }
      })
    },
    toBondReturnApplication () {
      this.$router.push({
        path: '/bondReturnApplication',
        query: {

        }
      })
    },
    // 转款单列表
    getAllocateList () {
      this.requestLoading = true
      let params = {
        page: this.page.index,
        pageSize: this.page.size
      }
      api.commonCall(params, 'listAllocateBill').then(res => {
        this.requestLoading = false
        if (res.success) {
          this.cacheAllocateList = this.cacheAllocateList.concat(res.data.list)
          this.allocateList.splice(0, this.allocateList.length, ...this.cacheAllocateList)
          this.page.total = res.data.count

          this.finished = false
          this.loading = false

          if (this.allocateList.length >= this.page.total) {
            this.finished = true
          }

          setTimeout(() => {
            this.isLoading = false
          }, 100)
        }
      })
    },
    // 销售折扣
    getSalesDiscount () {
      this.requestLoading = true
      let params = {
        page: this.page.index,
        pageSize: this.page.size
      }
      api.commonCall(params, 'queryDisCountList').then(res => {
        this.requestLoading = false
        if (res.success) {
          this.cacheSalesList = this.cacheSalesList.concat(res.data.list)
          this.salesDiscountList.splice(0, this.salesDiscountList.length, ...this.cacheSalesList)
          this.page.total = res.data.count

          this.finished = false
          this.loading = false

          if (this.salesDiscountList.length >= this.page.total) {
            this.finished = true
          }

          setTimeout(() => {
            this.isLoading = false
          }, 100)
        }
      })
    },
    // 销售折扣详情
    _toSalesDiscountDetails (id) {
      this.$router.push({
        path: '/salesDiscountDetails',
        query: { id: id }
      })
    },
    onConfirm (item) {
      this.showBusinessTypeSwitch = false
      this.bizType = item === '鲜品' ? 'xp' : item === '种猪' ? 'zz' : 'other'
      if (+this.$route.query.bizType !== this.bizType) {
        this.$router.replace({
          path: '/fund',
          query: { active: this.active, bizType: this.bizType }
        })
      }
      this.initLoadData()
      this.balanceQuery()
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.fund {
  .format-img {
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .active {
    position: relative;
    transform: rotate(0deg);
    overflow: hidden;

    &:active {
      &::before {
        content: " ";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background: rgba(0, 0, 0, 0.08);
      }
    }
  }

  @{deep} .van-tab {
    color: #2e3033;
  }

  @{deep} .van-tab--active {
    color: #f44;
  }

  .content {
    background: white;

    .swiper {
      padding: 24px;
      text-align: center;
      color: white;
      width: 702px;
      height: 270px;
      background-origin: content-box;
      position: relative;

      .format-img;

      &.red {
        .bg-img("~@/assets/images/red");
      }

      &.blue {
        .bg-img("~@/assets/images/blue");
      }

      &.purple {
        .bg-img("~@/assets/images/purple");
      }

      > div {
        &:nth-child(1) {
          font-size: 30px;
          padding: 68px 0 25px;
        }

        &:nth-child(2) {
          font-size: 60px;
        }

        &.bond-return-btn {
          width: 150px;
          height: 64px;
          line-height: 64px;
          // background: linear-gradient(
          //   90deg,
          //   rgba(255, 107, 82, 1) 0%,
          //   rgba(227, 50, 64, 1) 100%
          // );
          // opacity: 0.9;
          // color: white;
          color: #48484a;
          background: rgba(255, 255, 255, 0.7);
          border-radius: 100px;
          text-align: center;
          box-sizing: border-box;
          font-size: 26px;
          .active;
          position: absolute;
          top: 82px;
          right: 60px;
        }

        &.biztype-switch {
          max-width: 160px;
          height: 40px;
          line-height: 40px;
          position: absolute;
          top: 42px;
          right: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
        }
      }
    }

    .fund-list {
      .red {
        color: #e33240;
      }

      .green {
        color: #4a9c75;
      }
    }

    .selection-box {
      width: 100%;
      .selection-box-title {
        width: 100%;
        height: 94px;
        border-bottom: 1px solid #d4d4d4;
        font-size: 24px;
        text-align: center;
        line-height: 94px;
        color: #666;
        box-sizing: border-box;
      }
      .selection-box-content {
        width: 100%;
        height: 100%;
        ul {
          width: 100%;
          height: 100%;
          overflow-y: scroll;
          li {
            width: 100%;
            height: 94px;
            color: #48484a;
            font-size: 26px;
            font-weight: 600;
            text-align: center;
            line-height: 94px;
            &:not(:last-child) {
              position: relative;
              &::after {
                position: absolute;
                box-sizing: border-box;
                content: ' ';
                pointer-events: none;
                top: -50%;
                right: -50%;
                bottom: -50%;
                left: -50%;
                border-bottom: 1px solid #ebedf0;
                -webkit-transform: scale(0.5);
                transform: scale(0.5);
              }
            }
          }
        }
      }
    }
  }
  .bond{
    width: 100%;
    min-height: 1000px;
    background-color: #f8f8f8;
    .bond-content{
      width: 97%;
      height: 244px;
      background-color: #FFFFFF;
      margin: 0 auto;
      margin-top: 20px;
      border-radius: 10px;
      &:last-child {
        margin-bottom: 20px;
      }
      .bond-content-top{
        width: 100%;
        height: 62px;
        border-bottom: 2px solid #F1EFF8;
        box-sizing: border-box;
        .bond-line{
          width: 4px;
          height: 26px;
          float: left;
          margin-top: 20px;
          background-color: #F17533;
        }
        p{
          font-family: "PingFang SC";
          font-size: 24px;
          color: #363638;
          line-height: 60px;
          float: left;
          margin-left: 12px;
        }
      }
      .bond-content-bottom{
        width: 100%;
        height: 182px;
        .bond-left{
          width: 60%;
          height: 100%;
          float: left;
          .bond-left-top{
            width: 100%;
            height: 55px;
            p{
              font-family: "PingFang SC";
              font-size: 24px;
              color: #898C9C;
              float: left;
              margin-left: 16px;
              margin-top: 20px;
            }
          }
          .bond-left-bottom{
            width: 100%;
            height: 55px;
            p{
              font-family: "PingFang SC";
              font-size: 52px;
              color: #48484a;
              float: left;
              margin-left: 16px;
            }
          }
        }
        .bond-right{
          width: 40%;
          height: 100%;
          float: left;
          .bond-right-top{
            width: 100%;
            height: 55px;
            p{
              font-family: "PingFang SC";
              font-size: 24px;
              color: #48484a;
              float: right;
              margin-top: 20px;
            }
            span{
              min-width: 85px;
              float: right;
              font-family: "PingFang SC";
              font-size: 24px;
              color: #898C9C;
              margin-top: 20px;
              margin-right: 16px;
              text-align: right;
            }
          }
          .bond-right-center{
            width: 100%;
            height: 55px;
            p{
              font-family: "PingFang SC";
              font-size: 24px;
              color: #48484a;
              float: right;
              margin-top: 15px;
            }
            span{
              min-width: 85px;
              float: right;
              font-family: "PingFang SC";
              font-size: 24px;
              color: #898C9C;
              margin-top: 15px;
              margin-right: 16px;
              text-align: right;
            }
          }
          .bond-right-bottom{
            width: 100%;
            height: 72px;
            p{
              font-family: "PingFang SC";
              font-size: 24px;
              color: #214E90 ;
              float: right;
              margin-right: 32px;
              margin-top: 20px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  .allocate {
    width: 100%;
    .allocate-list {
      width: 100%;
      background:rgba(248,248,248,1);
      ul {
        width: 96%;
        margin: 20px auto;
        border-radius: 10px;
        background: #FFFFFF;
        li {
          height: 82px;
          line-height: 82px;
          border-bottom: 1px solid #C8C8C8;
          padding: 0 20px;
          &.bg-red{
            background:rgba(255,246,231,1);
            border: none;
            .allocate-list-left {
              color: #666666;
            }
          }
          .allocate-list-left {
            float: left;
            width: 35%;
            text-align: left;
            font-size: 28px;
            color: #999999;
          }
          .allocate-list-right{
            float: right;
            width: 65%;
            text-align: right;
            font-size: 28px;
            color: #333333;
            &.bigRed{
              font-size: 48px;
              color: #E02020;
              span {
                font-size: 28px;
              }
            }
          }
        }
        li:last-child{
          border: none;
        }
      }
    }
  }
  .salesDiscount {
    width: 100%;
    .salesDiscount-list {
      width: 100%;
      background:rgba(248,248,248,1);
      ul {
        width: 96%;
        margin: 20px auto;
        border-radius: 10px;
        background: #FFFFFF;
        li {
          height: 78px;
          line-height: 77px;
          padding: 0 20px;
          position: relative;
          &::after {
            position: absolute;
            box-sizing: border-box;
            content: ' ';
            pointer-events: none;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            border-bottom: 1px solid #C8C8C8;
            -webkit-transform: scaleY(.5);
            transform: scaleY(.5);
          }
          &.list-title {
            height: 100px;
            // line-height: 100px;
            font-size: 48px;
            padding: 0;
            .list-title-line{
              width: 4px;
              height: 26px;
              float: left;
              background-color: #F17533;
              margin-top: 40px;
              margin-right: 24px;
            }
            span{
              display: inline-block;
              height: 60px;
              margin-top: 14px;
            }
          }
          &.list-bottom {
            height: 100px;
            line-height: 100px;
            text-align: center;
            color: rgb(21, 74, 153);
            font-size: 32px;
          }
          .list-left {
            float: left;
            width: 35%;
            text-align: left;
            font-size: 28px;
            color: #999999;
          }
          .list-right {
            float: right;
            width: 65%;
            text-align: right;
            font-size: 28px;
            color: #333333;
            span{
              font-size: 36px;
              &.big-black {
                color: #000000;
              }
              &.big-red{
                color: red;
              }
              &.big-green{
                color: green;
              }
              &.price-reduce-apply {
                color: #2763CF;
                text-decoration: underline;
                cursor: pointer;
              }
            }
          }
        }
        li:last-child{
          border: none;
        }
      }
    }
  }
}
</style>
