<template>
  <membership-wrapper class="sales-discount-details" :title="'销售折扣详情'" :left-arrow="true">
    <div class="details-list">
      <van-pull-refresh v-model="isLoading" @refresh="onRefresh" v-if="detailsList && detailsList.length">
        <van-list v-model="loading" :finished="finished" @load="onLoad" :offset="200" finished-text="没有更多了" :immediate-check="false">
          <ul v-for="(item, index) in detailsList" :key="index">
            <li>
              <div class="details-list-left">发货单：</div>
              <div class="details-list-right">{{item.fbillno}}</div>
            </li>
            <li>
              <div class="details-list-left">发货单使用金额：</div>
              <div class="details-list-right big-red">{{item.fcollectionamt}}元</div>
            </li>
            <li>
              <div class="details-list-left">操作前金额：</div>
              <div class="details-list-right">{{item.fdiscountamt}}元</div>
            </li>
            <li>
              <div class="details-list-left">操作后金额：</div>
              <div class="details-list-right">{{item.fdiscountamt - item.fcollectionamt}}元</div>
            </li>
            <li>
              <div class="details-list-left">操作时间：</div>
              <div class="details-list-right">{{item.fmodifytime}}</div>
            </li>
          </ul>
        </van-list>
      </van-pull-refresh>
      <div class="no-data-box" v-else>
        <no-data :loading="requestLoading"></no-data>
      </div>
    </div>
  </membership-wrapper>
</template>

<script>
import MembershipWrapper from '@/components/membership-center/membership-wrapper'
import NoData from '@/components/no-data'
import { api } from '@/api'

export default {
  name: 'sales-discount-details',
  data () {
    return {
      cacheList: [],
      detailsList: [],
      page: {
        index: 1,
        size: 10,
        total: 0
      },
      loading: false, // 控制上拉加载的加载动画
      finished: false, // 控制在页面往下移动到底部时是否调用接口获取数据
      isLoading: false, // 控制下拉刷新的加载动画
      requestLoading: false // 接口请求加载动画
    }
  },
  created () {
    this.getSalesDiscountDetail()
  },
  methods: {
    // 销售折扣详情
    getSalesDiscountDetail () {
      this.requestLoading = true
      let params = {
        id: this.$route.query.id,
        page: this.page.index,
        pageSize: this.page.size
      }
      api.commonCall(params, 'detailCusDiscount').then(res => {
        this.requestLoading = false
        if (res.success) {
          this.cacheList = this.cacheList.concat(res.data.orderList)
          this.detailsList.splice(0, this.detailsList.length, ...this.cacheList)
          this.page.total = res.data.count

          this.finished = false
          this.loading = false

          if (this.detailsList.length >= this.page.total) {
            this.finished = true
          }

          setTimeout(() => {
            this.isLoading = false
          }, 100)
        }
      })
    }
  },
  components: {
    MembershipWrapper,
    NoData
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";
.sales-discount-details {
  width: 100%;
  .details-list {
    width: 100%;
    background:rgba(248,248,248,1);
    ul {
      width: 96%;
      margin: 20px auto;
      height: 412px;
      background:rgba(255,255,255,1);
      border-radius: 10px;
      li {
        height: 82px;
        line-height: 78px;
        border-bottom: 1px solid #C8C8C8;
        padding: 0 20px;
        .details-list-left {
          float: left;
          width: 35%;
          text-align: left;
          font-size: 28px;
          color: #999999;
        }
        .details-list-right{
          float: right;
          width: 65%;
          text-align: right;
          font-size: 28px;
          color: #333333;
          &.big-red {
            color: red;
            font-size: 36px;
          }
        }
      }
      li:last-child{
        border: none;
      }
    }
  }

}
</style>
