<template>
  <membership-wrapper
    class="top-up"
    :title="title"
    :left-arrow="true"
    :backPage="index === 0 || index === 2"
    @click-left="clickLeft"
  >
    <div class="van-content">
      <!-- 充值中心页面 -->
      <div v-if="index === 0">
        <!-- 基本账户余额 -->
        <!-- <div class="balance">
          <span>基本账户余额</span>
          <div class="content-right">
            <span>{{'111'}}</span>
          </div>
        </div> -->

        <!-- 基本返利余额 -->
        <!-- <div class="balance">
          <span>基本返利余额</span>
          <div class="content-right">
            <span>{{'222'}}</span>
          </div>
        </div> -->

        <!-- 销售部门 -->
        <div class="sales-department">
          <span>销售部</span>
          <div class="content-right" @click="!$route.query.owner && select('sales_department')">
            <span>{{ownerSelected.channelName || '请选择销售部'}}</span>
            <div class="arrow" v-if="!$route.query.owner">
              <van-icon name="arrow"></van-icon>
            </div>
          </div>
        </div>

        <!-- 银行卡 -->
        <div class="bank-card">
          <span>银行卡</span>
          <div class="content-right" @click="select('bank_card')">
            <span>{{bankCardSelected && bankCardSelected.card_id && (bankCardSelected.channel + ' | ' + bankCardSelected.bank_name + ' | ' + bankCardSelected.card_num.substring(bankCardSelected.card_num.length - 4)) || '请选择银行卡'}}</span>
            <div class="arrow">
              <van-icon name="arrow"></van-icon>
            </div>
          </div>
        </div>

        <!-- 业务类型 -->
        <div class="business-type">
          <span>业务类型</span>
          <div class="content-right">
            <van-radio-group v-model="bizType" direction="horizontal">
              <van-radio name="other">其它(养猪/养禽等)</van-radio>
              <van-radio name="xp">鲜品</van-radio>
            </van-radio-group>
          </div>
        </div>

        <div class="dividing-line"></div>

        <!-- 充值金额 -->
        <div class="recharge">
          <span>充值金额</span>
          <div class="content-right">
            <van-field
              class="from-input"
              v-model="selectMoney"
              type="number"
              readonly
              clearable
              placeholder="请输入金额"
              @click.stop="() => {}"
              @touchstart.native.stop="onShowInput"
            >
              <div class="clear-btn" slot="button" v-if="showNumInput">
                <van-icon name="clear" @click.stop.prevent="onEmpty"></van-icon>
              </div>
            </van-field>
            <div class="arrow">
              <van-icon name="arrow"></van-icon>
            </div>
          </div>
        </div>

        <!-- 选择充值金额 -->
        <div class="top-up-sum">
          <!-- <div class="sum-title">充值金额</div> -->

          <div class="sum-money">
            <div @click="selectMoney = '2000'" :class="{select: selectMoney === '2000'}">2000 元</div>
            <div @click="selectMoney = '5000'" :class="{select: selectMoney === '5000'}">5000 元</div>
            <div @click="selectMoney = '10000'" :class="{select: selectMoney === '10000'}">10000 元</div>
            <div @click="selectMoney = '20000'" :class="{select: selectMoney === '20000'}">20000 元</div>
            <div @click="selectMoney = '30000'" :class="{select: selectMoney === '30000'}">30000 元</div>
            <div @click="selectMoney = '50000'" :class="{select: selectMoney === '50000'}">50000 元</div>
            <!-- <div @click="selectMoney = ''" :class="{select: !selectMoney}">其他金额</div> -->
          </div>
        </div>

        <!-- 选择支付方式 -->
        <!-- <div class="type">
          <div @click="selectType = 'weixin'">
            <div>
              <div class="weixin"></div>
            </div>
            <div>
              <div>微信支付</div>
              <div>快速、便捷</div>
            </div>
            <div class="van-my-radio">
              <i :class="{select: selectType === 'weixin'}"></i>
            </div>
          </div>

          <div @click="selectType = 'c-card'">
            <div>
              <div class="c-card"></div>
            </div>
            <div>
              <div>银行卡支付</div>
              <div>大额支付更安全</div>
            </div>
            <div class="van-my-radio">
              <i :class="{select: selectType === 'c-card'}"></i>
            </div>
          </div>
        </div> -->
      </div>

      <!-- 选择支付银行卡页面 -->
      <div class="bankcard-pay" v-if="index === 1">
        <van-radio-group v-model="selectCard">
          <van-radio :name="0">
            <div>中国农业银行（尾号2937）</div>
          </van-radio>
          <van-radio :name="1">
            <div>中国工商银行（尾号1918）</div>
          </van-radio>
          <van-radio :name="2">
            <div>招商银行（尾号3838）</div>
          </van-radio>
          <van-radio v-for="(item, index) in bankCardList" :name="index" :key="index">
            <div>{{ item.bank_name }}（尾号{{ item.card_num.substring(item.card_num.length-4) }}）</div>
          </van-radio>
        </van-radio-group>
      </div>

      <!-- 充值结果页面 -->
      <div v-if="index === 2" class="result">
        <!-- 成功 -->
        <div class="success" v-if="result">
          <div></div>
          <div>恭喜您，预存款充值成功！</div>
          <div>充值成功后，充值金额会在3分钟内到账，请耐心等待</div>
          <div class="play"></div>
        </div>

        <!-- 失败 -->
        <div class="fail" v-else>
          <div></div>
          <div>充值失败</div>
          <div v-if="resultMsg">原因：{{resultMsg}}</div>
        </div>
      </div>
      <bottom-button v-if="btns" :btns="btns" @on-btn="onBtn"></bottom-button>
    </div>

    <!-- 数字键盘 -->
    <van-number-keyboard
      :show="showNumInput"
      theme="custom"
      :extra-key="['00']"
      close-button-text="确定"
      @blur="() => {this.showNumInput = false}"
      @input="onInput"
      @delete="onDelete"
    />

    <!-- 上拉框 -->
    <pull-up-selection
      :data="PullUpSelectionList"
      :show="showPullUpSelection"
      @cancel="cancelSelect"
      :title="PullUpTitle"
      @selected="pullUpSelected"
    ></pull-up-selection>
  </membership-wrapper>
</template>

<script>
import MembershipWrapper from '@/components/membership-center/membership-wrapper'
import BottomButton from '@/components/bottom-button'
import PullUpSelection from '@/components/pull-up-selection'
import { api } from '@/api'
import { _debounce } from '@/utils/common'

const reg = /^([1-9]\d*|0)(\.\d{1,2})?$/ // 判断是否为大于0的数字

export default {
  name: 'top-up',
  components: {
    MembershipWrapper,
    BottomButton,
    PullUpSelection
  },
  data () {
    return {
      result: false, // 充值结果（true - 成功，false - 失败）
      resultMsg: '', // 充值结果信息
      selectMoney: '2000', // 充值金额
      selectType: 'c-card', // 支付方式
      selectCard: 0, // 支付银行卡
      index: 0, // 0：充值中心，1：选择支付银行卡，2：充值结果
      showNumInput: false, // 显示数字键盘
      showPullUpSelection: false, // 显示上拉框
      PullUpSelectionList: [], // 上拉框显示列表
      PullUpTitle: '', // 上拉框标题
      bankCardList: [], // 银行卡列表
      ownerList: [], // 销售部列表
      ownerSelected: {}, // 选中销售部
      bankCardSelected: {}, // 选中银行卡
      isSubmitFlag: false, // 记录提交状态
      loadingToast: null,
      timer: null, // 倒计时计时器
      countDownToast: null, // 倒计时轻提示
      bizType: 'other' // 业务类型
    }
  },
  computed: {
    // 底部按钮
    btns () {
      switch (this.index) {
        case 0:
          return [{ text: '确认充值', color: 'red' }]
        case 1:
          return [{ text: '提交', color: 'red' }]
        default:
          return null
      }
    },
    // 标题
    title () {
      switch (this.index) {
        case 0:
          return '充值中心'
        case 1:
          return '选择支付'
        case 2:
          return '充值结果'
        default:
          return ''
      }
    }
  },
  created () {
    if (JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).isEntrustDelivery === true) {
      this.$dialog.alert({
        message: '受托拉货不能使用余额充值功能！'
      }).then(() => {
        this.$router.go(-1)
      })
      return
    }

    if (this.$route.query.owner) {
      this.ownerSelected = {
        channelName: this.$route.query.owner,
        id: this.$route.query.id
      }
      this.bizType = this.$route.query.bizType || 'other'
    } else {
      this.getSalesDepartmentList()
    }
    this.getBankCardList()
  },
  methods: {
    // 点击左箭头
    clickLeft () {
      this.index = 0
    },
    // 点击底部按钮
    onBtn (item) {
      if (item.text === '确认充值') {
        this.recharge()
      } else if (item.text === '提交') {
        this.index = 2
      }
    },
    // 弹出数字键盘
    onShowInput () {
      if (!this.showNumInput) {
        this.showNumInput = true
      }
    },
    // 数字键盘输入
    onInput (num) {
      this.selectMoney += num + ''
    },
    // 数字键盘删除
    onDelete () {
      let old = this.selectMoney
      this.selectMoney = old.length - 1 > 0 ? old.substr(0, old.length - 1) + '' : ''
    },
    // 数字清空
    onEmpty () {
      this.selectMoney = ''
    },
    // 获取银行卡列表
    getBankCardList () {
      this.loadingToast = this.$toast.loading({
        duration: 0, // 持续展示
        overlay: true, // 显示背景蒙层
        message: '加载中...'
      })

      api.bankListQuery({ page: 1, pageSize: 9999 }).then(res => {
        this.loadingToast && this.loadingToast.clear()
        if (res.success) {
          this.bankCardList = res.data
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    // 点击充值按钮
    recharge () {
      if (!this.ownerSelected || !this.ownerSelected.id) {
        this.$toast('请选择销售部')
      } else if (!this.bankCardSelected || !this.bankCardSelected.card_id) {
        this.$toast('请选择银行卡')
      } else if (!this.selectMoney || !reg.test(this.selectMoney)) {
        this.$toast('请输入大于0的充值金额')
      } else {
        let defaultCustomer = JSON.parse(sessionStorage.getItem('defaultCustomer'))

        this.$dialog.confirm({
          title: '确认充值到余额',
          message: `您确认给账号${defaultCustomer.customerName}下的${this.bankCardSelected.orgunit_name}账户充值${this.selectMoney}元吗？`
        }).then(() => {
          this.countDownToast = this.$toast.loading({
            duration: 0, // 持续展示
            overlay: true, // 显示背景蒙层
            message: '充值中，请等待 20 秒'
          })
          let second = 20
          this.timer = setInterval(() => {
            second--
            if (second) {
              this.countDownToast.message = `充值中，请等待 ${second} 秒`
            } else {
              clearInterval(this.timer)
              this.countDownToast.message = '充值中，请等待...'
            }
          }, 1000)

          if (this.bizType === 'xp') {
            this.xpDeposit()
          } else {
            this.deposit()
          }
        }).catch(() => {

        })
      }
    },
    // 充值接口
    deposit: _debounce(function () {
      if (this.isSubmitFlag) {
        this.countDownToast && this.countDownToast.clear()
        return
      }
      this.isSubmitFlag = true

      let params = {
        company_id: this.bankCardSelected.org_id,
        bankcard_id: this.bankCardSelected.card_id,
        amount: this.selectMoney,
        owner_id: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
      }
      api.commonCall(params, 'deposit').then(res => {
        this.countDownToast && this.countDownToast.clear()
        clearInterval(this.timer)
        if (res.success) {
          setTimeout(() => {
            this.isSubmitFlag = false
          }, 1000)
          this.index = 2
          this.result = true
        } else {
          setTimeout(() => {
            this.isSubmitFlag = false
          }, 1000)
          this.index = 2
          this.result = false
          this.resultMsg = res.message && res.message.replace('调用移动分销接口失败：', '')
        }
      }, err => {
        this.countDownToast && this.countDownToast.clear()
        clearInterval(this.timer)
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
        this.index = 2
        this.result = false
        this.resultMsg = err.message
      })
    }, 500),
    // 鲜品充值接口
    xpDeposit: _debounce(function () {
      if (this.isSubmitFlag) {
        this.countDownToast && this.countDownToast.clear()
        return
      }
      this.isSubmitFlag = true

      let params = {
        company_id: this.bankCardSelected.org_id,
        bankcard_id: this.bankCardSelected.card_id,
        amount: this.selectMoney,
        customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
      }
      api.commonCall(params, 'xpDeposit').then(res => {
        this.countDownToast && this.countDownToast.clear()
        clearInterval(this.timer)
        if (res.success) {
          setTimeout(() => {
            this.isSubmitFlag = false
          }, 1000)
          this.index = 2
          this.result = true
        } else {
          setTimeout(() => {
            this.isSubmitFlag = false
          }, 1000)
          this.index = 2
          this.result = false
          this.resultMsg = res.message && res.message.replace('调用移动分销接口失败：', '')
        }
      }, err => {
        this.countDownToast && this.countDownToast.clear()
        clearInterval(this.timer)
        setTimeout(() => {
          this.isSubmitFlag = false
        }, 1000)
        this.index = 2
        this.result = false
        this.resultMsg = err.message
      })
    }, 500),
    // 获取销售部列表
    getSalesDepartmentList () {
      api.customerAuthQuery().then(res => {
        if (res.success && res.status !== 'noData') {
          this.ownerList = res.data.list
        }
      })
    },
    // 选择
    select (type) {
      this.PullUpSelectionList.splice(0, this.PullUpSelectionList.length)
      if (type === 'sales_department') {
        this.PullUpTitle = '选择销售部'
        for (let elem of this.ownerList.values()) {
          this.PullUpSelectionList.push({
            name: elem.channelName,
            id: elem.id
          })
        }
        this.showPullUpSelection = true
      } else if (type === 'bank_card') {
        if (!this.ownerSelected || !this.ownerSelected.id) {
          this.$toast('请先选择销售部')
        } else {
          this.PullUpTitle = '选择银行卡'
          let filterList = this.bankCardList.filter(v => v.owner === this.ownerSelected.id)
          for (let elem of filterList.values()) {
            this.PullUpSelectionList.push({
              name: elem.channel + ' | ' + elem.bank_name + ' | ' + elem.card_num.substring(elem.card_num.length - 4),
              id: elem.card_id,
              ownerId: this.ownerSelected.id
            })
          }
          this.showPullUpSelection = true
        }
      }
    },
    // 取消选择上拉
    cancelSelect () {
      this.showPullUpSelection = false
    },
    // 上拉选中
    pullUpSelected (item, index) {
      if (this.PullUpTitle === '选择销售部') {
        this.ownerSelected = this.ownerList.find(i => i.id === item.id)
        if (this.bankCardSelected && this.bankCardSelected.card_id) {
          this.bankCardSelected = {}
        }
        // 如果门店设置里有默认代扣渠道，则自动选中
        if (this.ownerSelected.defaultPaymentChannelId && this.bankCardList.findIndex(v => v.owner === this.ownerSelected.id) > -1) {
          this.bankCardSelected = this.bankCardList.find(i => i.channel_id === this.ownerSelected.defaultPaymentChannelId && i.owner === this.ownerSelected.id) || {}
        }
        this.bizType = this.ownerSelected && this.ownerSelected.channelType === '4' ? 'xp' : 'other'
      } else if (this.PullUpTitle === '选择银行卡') {
        this.bankCardSelected = this.bankCardList.find(i => i.card_id === item.id && i.owner === item.ownerId)
      }
      this.showPullUpSelection = false
    }
  },
  beforeDestroy () {
    this.loadingToast && this.loadingToast.value && this.loadingToast.clear()
    this.countDownToast && this.countDownToast.value && this.countDownToast.clear()
    if (this.timer) {
      clearInterval(this.timer) // 清除倒计时计时器
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.play {
  width: 202px;
  height: 202px;
  font-size: 130px;
  color: black;

  &::before {
    display: inline-block;
  }
}

.top-up {
  .format-img {
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .active {
    position: relative;
    transform: rotate(0deg);
    overflow: hidden;

    &:active {
      &::before {
        content: " ";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background: rgba(0, 0, 0, 0.08);
      }
    }
  }

  .van-content {
    height: calc(100% - 92px);
    -webkit-overflow-scrolling: touch;
    overflow: auto;
    background: white;
  }

  .dividing-line {
    height: 20px;
    background: #f5f5f5;
  }

  .sales-department, .bank-card, .balance, .business-type {
    padding: 35px 24px;
    overflow: hidden;
    .border-1px();
    > span {
      font-size: 30px;
      color: #2e3033;
    }
    .content-right {
      max-width: calc(100% - 130px);
      display: flex;
      float: right;
      overflow: hidden;
      color: #8e939a;
      word-wrap: break-word;
      word-break: break-all;
      .arrow {
        margin: auto;
        i {
          font-size: 24px;
          color: #8e939a;
          padding: 0 0 0 15px;
          vertical-align: middle;
        }
      }
    }
  }
  .business-type {
    .content-right {
      @{deep} .van-radio {
        .van-radio__icon {
          .van-icon {
            color: rgba(0, 0, 0, 0);
            width: 32px;
            height: 32px;
            position: relative;
            border: 0;
            background-color: transparent;
            &::before, &::after {
              content: " ";
              display: block;
              width: 32px;
              height: 32px;
              box-sizing: border-box;
              border-radius: 50%;
              position: absolute;
              left: 0;
              top: 4px;
              transition: all 0.2s;
            }
            &::before {
              border: 10px solid #F59900;
              opacity: 0;
            }
            &::after {
              border: 1px solid #c1c4ca;
              opacity: 1;
            }
          }
          &.van-radio__icon--checked {
            .van-icon-success {
              &::before {
                opacity: 1;
              }
              &::after {
                opacity: 0;
              }
            }
          }
          .van-icon-success {
            &::after {
              opacity: 1;
            }
            &::before {
              opacity: 0;
            }
          }
        }
      }
    }
  }

  .recharge {
    padding: 35px 24px;
    > span {
      font-size: 30px;
      color: #2e3033;
    }
    .content-right {
      display: flex;
      float: right;
      overflow: hidden;
      .clear-btn {
        margin: auto;
        i {
          font-size: 26px;
          color: #8e939a;
          vertical-align: middle;
        }
      }
      .arrow {
        margin: auto;
        i {
          font-size: 24px;
          color: #8e939a;
          padding: 0 0 0 15px;
          vertical-align: middle;
        }
      }
      @{deep} .van-cell {
        padding: 0;
      }
      @{deep} .van-cell:not(:last-child)::after {
        border: none;
      }
      @{deep} .van-field__control {
        text-align: right;
        color: #8e939a;
        font-size: 30px;
      }
    }
  }

  .top-up-sum {
    padding: 20px 24px;
    .sum-title {
      padding-top: 45px;
      padding-bottom: 20px;
      font-size: 26px;
    }
    .sum-money {
      height: 280px;
      display: flex;
      flex-wrap: wrap;
      align-content: space-between;
      justify-content: space-between;

      > div {
        width: 220px;
        height: 130px;
        background: rgb(232, 233, 235);
        border-radius: 12px;
        color: #2e3033;
        font-size: 30px;
        line-height: 130px;
        text-align: center;
        transition: all 0.2s;
        &.select {
          background: #e33240;
          color: white;
        }
      }
    }
  }

  .type {
    > div {
      display: flex;
      align-items: center;
      margin-top: 55px;
      > div {
        margin: auto;
        &:nth-child(1) {
          width: 140px;
          > div {
            width: 54px;
            height: 54px;
            .format-img;
            &.weixin {
              .bg-img("~@/assets/images/icon/weixin");
              margin: auto;
            }
            &.c-card {
              .bg-img("~@/assets/images/icon/CCard");
              margin: auto;
            }
          }
        }
        &:nth-child(2) {
          flex: 1;
          > div {
            &:nth-child(1) {
              color: #2e3033;
              font-size: 30px;
            }

            &:nth-child(2) {
              font-size: 24px;
              padding-top: 10px;
              color: #8e939a;
            }
          }
        }
        &:nth-child(3) {
          width: 112px;
        }
        &.van-my-radio {
          > i {
            margin: auto;
            display: block;
            width: 32px;
            height: 32px;
            position: relative;
            &::before,
            &::after {
              content: " ";
              width: 100%;
              height: 100%;
              border-radius: 50%;
              box-sizing: border-box;
              transition: all 0.2s;
              position: absolute;
              left: 0;
              top: 0;
            }
            &::before {
              border: 1px solid rgb(193, 196, 202);
              opacity: 1;
            }
            &::after {
              border: 10px solid rgb(227, 50, 64);
              opacity: 0;
            }
            &.select {
              &::before {
                opacity: 0;
              }
              &::after {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }

  .bankcard-pay {
    @{deep}.van-radio {
      .border-1px(rgb(232, 233, 235));
      padding: 40px 30px;
      .van-radio__label {
        width: calc(100% - 60px);
        font-size: 30px;
        color: #2e3033;
        .address-top {
          display: inline-block;
          width: 100%;
          text-align: right;
          padding-bottom: 10px;
          > span {
            float: left;
            font-size: 30px;
          }
        }
      }

      .van-radio__icon {
        .van-icon {
          color: rgba(0, 0, 0, 0);
          width: 32px;
          height: 32px;
          position: relative;
          border: 0;
          background-color: transparent;
          &::before,
          &::after {
            content: " ";
            display: block;
            width: 32px;
            height: 32px;
            box-sizing: border-box;
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: 4px;
            transition: all 0.2s;
          }
          &::before {
            border: 10px solid #e33240;
            opacity: 0;
          }
          &::after {
            border: 1px solid #c1c4ca;
            opacity: 1;
          }
        }
        &.van-radio__icon--checked {
          .van-icon-success {
            &::before {
              opacity: 1;
            }
            &::after {
              opacity: 0;
            }
          }
        }
        .van-icon-success {
          &::after {
            opacity: 1;
          }
          &::before {
            opacity: 0;
          }
        }
      }
    }
  }

  .result {
    > div {
      > div {
        text-align: center;
        &:first-child {
          width: 120px;
          height: 120px;
          margin: 120px auto 45px;
          .format-img;
        }
        &:nth-child(2) {
          font-size: 30px;
        }
        &:nth-child(3) {
          margin-top: 20px;
          font-size: 26px;
        }
      }
    }
    .success {
      > div {
        &:first-child {
          .bg-img("~@/assets/images/icon/success");
        }
        &:nth-child(2) {
          color: #4a9c75;
        }
        &:nth-child(3) {
          color: #999ea4;
        }
      }
    }

    .fail {
      > div {
        &:first-child {
          .bg-img("~@/assets/images/icon/fail");
        }
        &:nth-child(2) {
          color: #f95c5c;
        }
      }
    }
  }
}
</style>
