<template>
  <div class="vbox-wrap">
    <div class="left">
      <span>{{title}}</span>
      <i v-if="required">*</i>
    </div>
    <div class="right" :class="[{'is-link': isLink}, {'disabled': disabled}]" @click.stop.prevent="_rightClick">
      <slot></slot>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
export default {
  name: 'v-box',
  props: {
    title: {
      type: String,
      default: ''
    },
    required: {
      type: Boolean,
      default: false
    },
    isLink: {
      type: Boolean,
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    _rightClick () {
      if (this.disabled) return
      this.$emit('rightClick')
    }
  }
}
</script>

<style scoped lang="less">
@import "~@/assets/css/mixin.less";
.vbox-wrap {
  width: 750px;
  padding-left: 24px;
  font-size: 0;
  box-sizing: border-box;
  background-color: #ffffff;
  .border-1px();
  .left,
  .right {
    display: inline-block;
    vertical-align: middle;
  }
  .left {
    width: 140px;
    span,
    i {
      display: inline-block;
      vertical-align: bottom;
    }
    span {
      font-size: 28px;
      line-height: 40px;
      color: #2e3033;
      margin-right: 5px;
    }
    i {
      color: red;
      font-size: 36px;
      position: relative;
      top: 10px;
    }
  }
  .right {
    width: 586px;
    text-align: right;
    &.is-link {
      padding-right: 40px;
      box-sizing: border-box;
      position: relative;
      &::after {
        display: inline-block;
        content: " ";
        height: 16px;
        width: 16px;
        border-width: 2px 2px 0 0;
        border-color: #ababab;
        border-style: solid;
        transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
        position: absolute;
        right: 20px;
        top: 50%;
        margin-top: -10px;
      }
    }
    &.disabled {
      color: #969799;
    }
  }
}
</style>
