<template>
  <div class="my-coupon-wrap">
    <van-nav-bar title="我的优惠券" left-arrow @click-left="_onTrueLeft"></van-nav-bar>

    <van-tabs v-model="active" title-active-color="#F59900" @click="_changeTab">
      <van-tab :title="item.type" v-for="(item, index) in usedStatus" :key="index" :badge="couponCountList[index]">
        <div class="coil-center" @click="goPreferential">
          <p>领券中心</p>
          <img src="@/assets/images/coupon/turn.svg">
        </div>
        <div class="not-used">
          <van-pull-refresh v-model="isLoading" @refresh="onRefresh">
            <van-list v-model="loading" :finished="finished" @load="onLoad" :offset="200" finished-text="没有更多了" v-if="myCouponList && myCouponList.length">
              <not-used :data="myCouponList"></not-used>
            </van-list>
            <div class="no-data-box" v-else>
              <no-data :loading="requestLoading"></no-data>
            </div>
          </van-pull-refresh>
        </div>
      </van-tab>
    </van-tabs>

    <!-- 悬浮置顶按钮 -->
    <scroll-to-top-hover-btn></scroll-to-top-hover-btn>
  </div>
</template>

<script>
import NoData from '@/components/no-data'
import ScrollToTopHoverBtn from '@/components/scroll-to-top-hover-btn/index'
import NotUsed from '@/components/my-coupon/not-used'
import { api } from '@/api'

export default {
  name: 'my-coupon',
  components: {
    NoData,
    ScrollToTopHoverBtn,
    NotUsed
  },
  data () {
    return {
      active: 0,
      usedStatus: [
        {
          type: '未使用'
        },
        {
          type: '已使用'
        },
        {
          type: '已过期/失效'
        }
      ],
      loading: false, // 控制上拉加载的加载动画
      finished: false, // 控制在页面往下移动到底部时是否调用接口获取数据
      isLoading: false, // 控制下拉刷新的加载动画
      requestLoading: false, // 接口请求加载动画
      myCouponList: [],
      cacheList: [],
      couponType: 0,
      page: {
        index: 1,
        size: 6,
        total: 0
      },
      couponCountList: []
    }
  },
  created () {
    let query = this.$route.query
    this.active = +query.active || 0

    this.getMyCouponList()
    this.queryCouponCount()
  },
  methods: {
    _onTrueLeft () {
      this.$router.go(-1)
    },
    goPreferential () {
      this.$router.push({
        path: '/preferential'
      })
    },
    _changeTab (index) {
      if (+this.$route.query.index !== index) {
        this.$router.replace({
          path: '/myCoupon',
          query: { active: index }
        })
      }
      this.page.index = 1
      this.cacheList = []
      this.myCouponList = []
      this.getMyCouponList()
    },
    // 下拉刷新
    onRefresh () {
      this.page.index = 1
      this.cacheList = []
      this.getMyCouponList()
    },
    // 上拉加载
    onLoad () {
      this.page.index++
      this.getMyCouponList()
    },
    getMyCouponList () {
      this.requestLoading = true
      let params = {
        customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId, // 渠道id
        page: this.page.index,
        pageSize: this.page.size,
        usedStatus: this.active
      }
      api.commonCall(params, 'queryCouponRecordList').then(res => {
        this.requestLoading = false
        if (res.success) {
          this.cacheList = this.cacheList.concat(res.data.couponList)
          this.myCouponList.splice(0, this.myCouponList.length, ...this.cacheList)
          let nowTime = res.serverTime.getTime() || new Date().getTime()
          this.myCouponList.forEach(v => {
            let validDateTime = new Date(v.validDate && v.validDate.replace(/-/g, '/')).getTime()
            let invalidDateTime = new Date(v.invalidDate && v.invalidDate.replace(/-/g, '/')).getTime()
            this.$set(v, 'mistiming', validDateTime <= nowTime ? invalidDateTime - nowTime : 0)
            this.$set(v, 'turnUpIcon', 0)
          })
          this.page.total = res.data.count
          this.finished = false
          this.loading = false
          if (this.cacheList.length >= this.page.total) {
            this.finished = true
          }
          setTimeout(() => {
            this.isLoading = false
          }, 100)
        } else {
          res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    queryCouponCount () {
      api.commonCall({ customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId }, 'queryCouponStatusCount').then(res => {
        if (res.success) {
          this.couponCountList.push(res.data.unUseCount, res.data.useCount, res.data.expiredCount)
        }
      })
    }
  }
}
</script>

<style lang="less" scoped>
  @import "~@/assets/css/mixin.less";
.my-coupon-wrap{
  width: 100%;
  min-height: 100vh;
  background-color: #f8f8f8;
  @{deep}.van-tabs{
    .van-tabs__line{
      width: 44px!important;
      height: 4px;
      background-color: #F59900;
    }

    .coil-center{
      width: 706px;
      height: 96px;
      margin: 22px auto;
      background: #FFFFFF url("~@/assets/images/coupon/my-coupon-icon.svg") no-repeat 26px center;
      background-size: 40px 34px;
      border-radius: 12px;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
      p{
        font-size: 28px;
        color: #333;
        padding-left: 92px;
        line-height: 96px;
        float: left;
      }
      img{
        width: 18px;
        height: 18px;
        float: right;
        margin-top: 40px;
        margin-right: 38px;
      }
    }
  }
}
</style>
