<template>
  <div class="coupon-wrap">
    <van-nav-bar title="优惠券" left-arrow @click-left="_onClickLeft" @click-right="onClickRight">
      <template slot="right">
        <van-icon name="coupon-o" />全部领取
      </template>
    </van-nav-bar>

    <div class="coupon-content">
      <van-tabs v-model="active" sticky swipeable :ellipsis="false" title-inactive-color="#5d3d09" @change="_changeTab">
        <van-tab :title="item.name" v-for="(item, index) in goodsCatList" :key="index">
          <div class="preferential">
            <van-pull-refresh v-model="isLoading" @refresh="onRefresh" v-if="couponList && couponList.length">
              <van-list v-model="loading" :finished="finished" @load="onLoad" :offset="200" finished-text="没有更多了">
                <div class="favourable" v-for="(item, index) in couponList" :key="index">
                  <div :class="item.isFinished && item.alreadyGetQty <= 0 ? 'favourable-bg-two' : !item.isFinished && (item.totalCanGetQty - item.alreadyGetQty > 0) ? 'favourable-bg-one' : 'favourable-bg-two'" class="favourable-box">
                    <img class="thumbnail" :src="thumbnailSrc(item.receivingThreshold)">
                    <div class="favourable-box-text">
                      <div>
                        <p class="p-title">{{item.name ? item.name : thresholdText(item.receivingThreshold)}} ({{item.pubOrgName}})</p>
                        <!-- <p class="p-service" v-if="item.name">{{item.name}}</p> -->
                      </div>
                      <div>
                        <p class="p-sheet" v-if="item.accumulateQty">
                          <span><van-icon name="points" />共{{item.totalCanGetQty}}张</span>
                          <span>还可领{{item.isFinished ? 0 : item.totalCanGetQty - item.alreadyGetQty}}张</span>
                        </p>
                        <p class="p-coupon" v-else>
                          券已领{{item.receivedQty / item.issued * 100  | keepZeroNum}}%
                          <van-progress :percentage="item.receivedQty / item.issued * 100" stroke-width="4" :show-pivot="false" color="#FF968D" />
                        </p>
                      </div>
                    </div>
                    <div
                      class="favourable-box-right"
                      :class="[item.isFinished && item.alreadyGetQty <= 0 ? '' : !item.isFinished && (item.totalCanGetQty - item.alreadyGetQty > 0) ? 'color-baise' : item.receivingThreshold === 'E' ? 'color-red' : 'color-yellow',
                      {'received-icon' : item.alreadyGetQty > 0}]"
                    >
                      <p class="p-yen"><span>&yen;</span>{{item.discountAmount}}</p>
                      <p class="p-text">{{+item.activityUsing === 0 ? '满' + (item.fullReductType === 1 ? item.fredAmount : item.fullReductType === 2 ? item.fullReductQty : ' ') + fullReductUnitText(item.fullReductType) + '可用' : '立减券'}}</p>
                      <button v-if="item.isFinished && item.alreadyGetQty <= 0" class="btn btn-bg-gray">已领完</button>
                      <button v-else-if="!item.isFinished && (item.totalCanGetQty - item.alreadyGetQty > 0)" class="btn btn-bg-baise" @click="getCoupon(item, index, '1')">立即领取</button>
                      <button v-else class="btn" :class="item.receivingThreshold === 'E' ? 'btn-bg-red' : 'btn-bg-yellow'" @click="getCoupon(item, index, '2')">立即使用</button>
                    </div>
                  </div>
                </div>
              </van-list>
            </van-pull-refresh>
            <div class="no-data-box" v-else>
              <no-data :loading="requestLoading"></no-data>
            </div>
          </div>
        </van-tab>
      </van-tabs>
    </div>

    <!-- 悬浮置顶按钮 -->
    <scroll-to-top-hover-btn></scroll-to-top-hover-btn>
  </div>
</template>

<script>
import NoData from '@/components/no-data'
import ScrollToTopHoverBtn from '@/components/scroll-to-top-hover-btn/index'
import { api } from '@/api'
import { getCookie } from '@/utils/common'

export default {
  name: 'preferential',
  components: {
    NoData,
    ScrollToTopHoverBtn
  },
  data () {
    return {
      active: 0,
      isCoupon: -1,
      loading: false, // 控制上拉加载的加载动画
      finished: false, // 控制在页面往下移动到底部时是否调用接口获取数据
      isLoading: false, // 控制下拉刷新的加载动画
      requestLoading: false, // 接口请求加载动画
      couponList: [],
      cacheList: [],
      page: {
        index: 1,
        size: 6,
        total: 0
      },
      goodsCatList: [ // 分类
        {
          name: '服务部/平台',
          number: ''
        }
      ]
    }
  },
  mounted () {
    // this.getGroupCatList()
    this.getCouponList('')
  },
  methods: {
    fullReductUnitText (type) {
      switch (type) {
        case 1:
          return '元'
        case 2:
          return '只'
        default:
          return ''
      }
    },
    thresholdText (threshold) {
      switch (threshold) {
        case 'A':
          return '普通优惠券'
        case 'B':
          return '新人优惠券'
        case 'C':
          return '首单优惠券'
        case 'D':
          return '等级优惠券'
        case 'E':
          return '红包优惠券'
        default:
          return '优惠券'
      }
    },
    thumbnailSrc (threshold) {
      switch (threshold) {
        case 'E':
          return require('@/assets/images/coupon/red-bag.gif')
        default:
          return require('@/assets/images/coupon/normal-coupon.png')
      }
    },
    _onClickLeft () {
      this.$router.go(-1)
    },
    onClickRight () {
      this.$dialog.confirm({
        title: '提示',
        message: '请确认是否要全部领取？'
      }).then(() => {
        let params = {
          customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId, // 渠道id
          couponId: '0',
          isGetAll: true
        }
        api.commonCall(params, 'getCouponByOwner').then(res => {
          if (res.success) {
            this.$toast(res.data.message)
            this.couponList.forEach(v => {
              if (!v.isFinished && (v.totalCanGetQty - v.alreadyGetQty > 0)) {
                this.$set(v, 'alreadyGetQty', v.totalCanGetQty)
              }
            })
          } else {
            res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
          }
        })
      }).catch(() => {

      })
    },
    // 领取优惠券
    getCoupon (item, index, flag) {
      if (flag === '1') {
        let params = {
          customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId, // 渠道id
          couponId: item.id // 活动id
        }
        api.commonCall(params, 'getCouponByOwner').then(res => {
          if (res.success) {
            this.$toast(res.data.message)
            this.$set(item, 'alreadyGetQty', item.totalCanGetQty)
          } else {
            res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
          }
        })
      } else if (flag === '2') {
        this.$router.push({
          path: '/goodsList',
          query: {
            condition: JSON.parse(getCookie('selectedChannel')).channelName ? '销售渠道_ownerName_' + JSON.parse(getCookie('selectedChannel')).channelName : ''
          }
        })
      }
    },
    // 下拉刷新
    onRefresh () {
      this.page.index = 1
      this.cacheList = []
      this.getCouponList(this.goodsCatList[this.active].number)
    },
    // 上拉加载
    onLoad () {
      this.page.index++
      this.getCouponList(this.goodsCatList[this.active].number)
    },
    getCouponList (number) {
      this.requestLoading = true
      let params = {
        page: this.page.index,
        pageSize: this.page.size,
        couponType: number,
        customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId // 渠道id
      }
      api.commonCall(params, 'queryCouponActivityList').then(res => {
        this.requestLoading = false
        if (res.success) {
          res.data.couponList.forEach(v => {
            if (v.receivedQty - v.issued >= 0) {
              this.$set(v, 'isFinished', true)
            }
          })
          this.cacheList = this.cacheList.concat(res.data.couponList)
          this.couponList.splice(0, this.couponList.length, ...this.cacheList)
          this.page.total = res.data.count
          this.finished = false
          this.loading = false
          if (this.cacheList.length >= this.page.total) {
            this.finished = true
          }
          setTimeout(() => {
            this.isLoading = false
          }, 100)
        } else {
          res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    getGroupCatList () {
      api.queryGoodsCategory().then(res => {
        if (res.success) {
          this.goodsCatList = res.data
          this.goodsCatList.unshift({
            name: '服务部/平台',
            number: ''
          })
          this.getCouponList('')
        }
      })
    },
    _changeTab () {
      this.page.index = 1
      this.cacheList = []
      this.couponList = []
      this.getCouponList(this.goodsCatList[this.active].number)
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.coupon-wrap {
  width: 100%;
  height: 100vh;
  background: #f8f8f8 url("~@/assets/images/coupon/coupon-background.png") no-repeat center top;
  background-size: 100% auto;
  @{deep}.van-nav-bar {
    background-color: transparent;
    &.van-hairline--bottom {
      &::after {
        border-bottom-width: 0;
      }
    }
    .van-nav-bar__right {
      .van-icon {
        margin-right: 4px;
      }
    }
  }
  .coupon-content{
    width: 100%;
    @{deep}.van-tabs{
      .van-sticky--fixed {
        background-color: #FEB815;
      }
      .van-tab__text {
        display: inherit;
      }
      .van-tab--active{
        font-weight: 600;
      }
      .van-tabs__wrap{
        height: 1rem;
        .van-tabs__nav {
          background-color: transparent;
        }
      }
      .van-hairline--top-bottom::after, .van-hairline-unset--top-bottom::after {
        border-width: 0 0;
      }
      .van-tabs__line{
        width: 44px!important;
        height: 4px;
        background-color: #0C0C0C;
      }

      .preferential{
        width: 100%;
        height: 100%;
        .favourable{
          width: 714px;
          height: 234px;
          border-radius: 12px;
          margin: 22px auto;
          position: relative;
          .favourable-box{
            width: 100%;
            height: 236px;
            display: flex;
            align-items: center;
            justify-content: center;
            &.favourable-bg-one {
              background: url("~@/assets/images/coupon/coupon-icon-color.svg");
              background-position: center;
              background-size: 100% 100%;
              background-repeat: no-repeat;
            }
            &.favourable-bg-two {
              background: url("~@/assets/images/coupon/coupon-icon-img.svg");
              background-position: center;
              background-size: 100% 100%;
              background-repeat: no-repeat;
            }
            .thumbnail {
              width: 192px;
              height: 192px;
              margin-left: 20px;
            }
            .favourable-box-text{
              width: 306px;
              height: 192px;
              overflow: hidden;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              >div {
                padding: 0 10px 0 18px;
              }
              .p-title{
                line-height: 30px;
                font-size: 28px;
                color: #333333;
                font-weight: 500;
                display: -webkit-box;
                -webkit-line-clamp: 2; // 限制文本的行数，只显示两行
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                word-wrap: break-word;
                word-break: break-all;
              }
              .p-service{
                font-size: 24px;
                color: #999;
                padding-top: 6px;
                word-wrap: break-word;
                word-break: break-all;
              }
              .p-sheet {
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: #A9ABAF;
                font-size: 24px;
                .van-icon {
                  margin-right: 4px;
                }
                span {
                  display: flex;
                  align-items: center;
                }
              }
              .p-coupon{
                font-size: 24px;
                color: #A9ABAF;
                .van-progress {
                  display: inline-block;
                  width: 114px;
                  margin-left: 10px;
                  margin-top: 6px;
                  border: 1px solid #FF968D;
                  border-radius: 6px;
                  background: #fff;
                }
              }
            }
            .favourable-box-right{
              width: 192px;
              height: 100%;
              text-align: center;
              position: relative;
              &.color-baise {
                color: #FFFFFF;
              }
              &.color-yellow {
                color:rgb(245,153,0);
              }
              &.color-red {
                color: #E02020;
              }
              &.received-icon {
                background: url("~@/assets/images/coupon/have-received-icon.svg");
                background-position: 120px 0;
                background-size: 72px 86px;
                background-repeat: no-repeat;
              }
              .p-yen{
                font-size: 60px;
                font-family: 'AvenirLTStd-Black';
                font-weight: 600;
                text-align: center;
                padding-top: 30px;
                span{
                  font-size: 24px;
                  padding-right: 5px;
                }
              }
              .p-text{
                font-size: 24px;
                text-align: center;
                padding-bottom: 18px;
              }
              .btn{
                width: 132px;
                height: 48px;
                border-radius: 8px;
                border: none;
                display: inline-block;
                font-size: 24px;
                line-height: 48px;
                text-align: center;
                &.btn-bg-gray {
                  background-color: #E8E9EB;
                  color: #999999;
                }
                &.btn-bg-baise {
                  background-color: #FFFFFF;
                  color: #F4584D;
                }
                &.btn-bg-yellow {
                  background-color: rgb(255,149,0);
                  color: #FFFFFF;
                }
                &.btn-bg-red {
                  background-color: #E02020;
                  color: #FFFFFF;
                }
              }
            }
          }
        }
      }
    }
  }
}
</style>
