<template>
  <transition name="fade">
    <div class="pull-up-selection-topdown-wrapper" @click="handelCancel" v-show="show">
      <transition name="slideDown">
        <div class="content" v-if="show" @click.stop>
          <!-- <h2 class="title">{{title}}</h2> -->
          <ul class="list">
            <li
              class="item"
              v-for="(item, index) in data"
              :key="index"
              @click.stop="selected(item, index)"
            >{{item.name}}</li>
          </ul>
          <div class="cancel-wrapper">
            <a href="javascript:;" class="cancel" @click.stop="handelCancel">取消</a>
          </div>
        </div>
      </transition>
    </div>
  </transition>
</template>

<script>
export default {
  name: 'pull-up-selection-topdown',
  props: {
    show: {
      type: Boolean,
      default: true
    },
    // title: {
    //   type: [Number, String],
    //   default: '选择省份'
    // },
    data: {
      type: Array,
      required: true
    }
  },
  data () {
    return {}
  },
  watch: {
    show (val) {
      val ? (document.body.style.overflow = 'hidden') : (document.body.style.overflow = 'visible')
    }
  },
  created () {},
  methods: {
    selected (item, index) {
      this.$emit('selected', item, index)
    },
    // 取消
    handelCancel () {
      this.$emit('cancel')
    }
  },
  destroyed () {
    if (document.body.style.overflow === 'hidden') {
      document.body.style.overflow = 'visible'
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.pull-up-selection-topdown-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.6);
  .content {
    width: 100%;
    height: 50%;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    // transform: translate3d(0, 100%, 0);
    // .title {
    //   font-size: 26px;
    //   color: #8e939a;
    //   text-align: center;
    //   line-height: 96px;
    //   .border-1px();
    // }
    .list {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 116px;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
      .item {
        line-height: 96px;
        font-size: 30px;
        color: #2e3033;
        text-align: center;
        .border-1px();
        &:last-child {
          .border-none();
        }
      }
    }
    .cancel-wrapper {
      height: 116px;
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      background: #f5f5f5;
      .cancel {
        display: block;
        line-height: 100px;
        margin-top: 16px;
        text-align: center;
        font-size: 30px;
        color: #2e3033;
        background-color: #fff;
      }
    }
  }
}
</style>
