<template>
  <div class="monthDemandDetails-wrap">
    <van-nav-bar :title="month + '月份客户月度需求'" left-arrow @click-left="_toReturn"></van-nav-bar>

    <div class="monthDemandDetails-top" v-if="onLoad">
      <p>四级公司： {{monthDemandDetails.owner_name}}</p>
      <p>出勤天数： {{monthDemandDetails.attendancedays}}天</p>
      <p>备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注：<span> {{monthDemandDetails.notes ? monthDemandDetails.notes : '未填写'}}</span></p>
    </div>
    <div class="monthDemandDetails-content" v-if="onLoad">
      <div class="content-list" v-for="(item, index) in monthDemandDetails.entrys" :key="index">
        <p class="content-list-title">{{item.material}}</p>
        <div class="content-list-left">
          <img src="@/assets/images/default/wens-bg.jpg" alt="">
        </div>
        <div class="content-list-right">
          <p>需求数量：<span>{{item.needqty}}头</span></p>
          <p>日均数量：<span>{{item.avgqty}}头</span></p>
          <p>调整数量：<span class="span-red">{{item.adjustqty}}头</span></p>
        </div>
      </div>
    </div>
    <div class="monthDemandDetails-bottom">
      <div class="bottom-left">
        总数量：{{totalQty | keepZeroNum}}头
      </div>
      <div class="bottom-right">
        <span class="btn-orange" v-if="active === '0'" @click="confirmMonthlyDemand">确认需求</span>
        <!-- <span class="btn-green" v-if="active === '0'">已提交</span> -->
        <span class="btn-green" v-if="active === '1'">已确认</span>
      </div>
    </div>
  </div>
</template>

<script>
import { api } from '@/api'
export default {
  name: 'monthDemandDetails',
  data () {
    return {
      active: null,
      fourCustomerList: [], // 四级公司列表
      fourCustomerId: null, // 四级公司id
      monthDemandDetails: null,
      onLoad: false,
      totalQty: 0, // 总数量
      month: null // 月份
    }
  },
  mounted () {
    this.active = this.$route.query.active
    this.month = this.$route.query.month
    this.totalQty = this.$route.query.totalQty
    this._getMonthDemandDetails()
  },
  methods: {
    _toReturn () {
      this.$router.go(-1)
    },
    // 获取月度需求详情
    _getMonthDemandDetails () {
      api.commonCall({ id: this.$route.query.id }, 'detailMonthlyDemand').then(res => {
        if (res.success) {
          this.monthDemandDetails = res.data
        }
        this.onLoad = true
      })
    },
    // 确认需求
    confirmMonthlyDemand () {
      api.commonCall({ id: this.$route.query.id }, 'confirmMonthlyDemand').then(res => {
        if (res.success) {
          this.$toast('提交成功')
          this.$router.push({
            path: '/monthDemand',
            query: {
              active: 0
            }
          })
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

  .monthDemandDetails-wrap{
    width: 100%;
    min-height: 100vh;
    background: #F8F8F8;
    .monthDemandDetails-top {
      width: 100%;
      background: #fff;
      padding-top: 20px;
      p {
        padding: 0 40px 20px 40px;
        font-size: 24px;
      }
      span {
        color: #999999;
      }
    }
    .monthDemandDetails-content {
      width: 94%;
      margin: 0 auto 20px auto;
      border-radius: 12px;
      .content-list {
        width:100%;
        height:272px;
        background:rgba(255,255,255,1);
        border-radius:5px;
        padding-top: 16px;
        margin-top: 20px;
        .content-list-title {
          font-size: 28px;
          text-indent: 1em;
          border-left: 4px solid #F17533;
          margin-bottom: 16px;
        }
        .content-list-left {
          width: 25%;
          float: left;
          padding-left: 2%;
          img {
            width: 170px;
            height: 170px;
          }
        }
        .content-list-right {
          width: 71%;
          margin-left: 2%;
          float: left;
          font-size: 24px;
          p{
            line-height: 64px;
          }
          .span-red {
            color: red;
          }
        }
      }
    }
    .monthDemandDetails-bottom {
      width: 100%;
      height: 108px;
      line-height: 108px;
      position: fixed;
      left: 0;
      bottom: 0;
      font-size: 36px;
      .bottom-left {
        width: 65%;
        line-height: 108px;
        text-align: center;
        float: left;
        background:rgba(229,229,229,1);
        font-size: 32px;
      }
      .bottom-right {
        width: 35%;
        line-height: 108px;
        float: left;
        span{
          display: inline-block;
          width: 100%;
          line-height: 108px;
          text-align: center;
          color: #fff;
          font-size: 32px;
          &.btn-orange {
            background:#F59900;
          }
          &.btn-green {
            background: #26D19A;
          }
        }
      }
    }
  }
</style>
