<template>
  <div class="monthDemand-wrap">
    <van-nav-bar title="月度需求" left-arrow @click-left="_toReturn"></van-nav-bar>

    <van-tabs v-model="active" @click="checkoutType">
      <!-- <van-tab title="已提交" :badge="monthDemandCount.countSubmit"></van-tab> -->
      <van-tab title="待确认" :badge="monthDemandCount.countSubmit"></van-tab>
      <van-tab title="已确认" :badge="monthDemandCount.countConfirm"></van-tab>
      <div class="content" v-if="monthDemandList && monthDemandList[0]">
        <van-pull-refresh v-model="isLoading" @refresh="onRefresh" >
          <van-list v-model="loading" :finished="finished" @load="onLoad" :offset="200" finished-text="没有更多了">
            <div v-for="(item, index) in monthDemandList" :key="index" class="content-box" :class="[{'bg-yellow': active === 0}, {'bg-blue': active === 1}]" @click="_toMonthDemandDetails(item)">
              <div class="content-box-left">
                <p class="content-box-title">{{item.month.split('-')[1]}}月份月度需求</p>
                <p class="content-box-description">客户月度需求</p>
              </div>
              <div class="content-box-right">
                <img src="@/assets/images/raisePig/turnRight.svg" alt="">
              </div>
            </div>
          </van-list>
        </van-pull-refresh>
      </div>
      <div class="no-data-box" v-else>
        <no-data :loading="requestLoading"></no-data>
      </div>
    </van-tabs>
    <!-- <div class="bottom-add-demand" @click="_toNewMOnthDemand">
      <img src="@/assets/images/raisePig/add.svg" alt="">
      新建
    </div> -->
  </div>
</template>

<script>
import { api } from '@/api'
import NoData from '@/components/no-data'
export default {
  name: 'monthDemand',
  components: {
    NoData
  },
  data () {
    return {
      active: 1,
      requestLoading: false,
      isLoading: false,
      finished: false,
      loading: false,
      monthDemandList: [], // 月度需求列表
      cacheList: [],
      page: {
        index: 1,
        size: 6,
        total: 0
      },
      monthDemandCount: {}
    }
  },
  mounted () {
    this.getMOnthDemandList()
    this.getMonthDemandCount()
    this.active = this.$route.query.active ? this.active = this.$route.query.active : 1
  },
  methods: {
    _toReturn () {
      this.$router.go(-1)
    },
    checkoutType () {
      this.page.index = 1
      this.cacheList = []
      this.getMOnthDemandList()
    },
    _toNewMOnthDemand () {
      this.$router.push({
        path: '/newMonthDemand'
      })
    },
    _toMonthDemandDetails (item) {
      this.$router.push({
        path: '/monthDemandDetails',
        query: {
          active: this.active + '',
          id: item.id,
          month: item.month.split('-')[1],
          totalQty: item.totalQty
        }
      })
    },
    // 下拉刷新
    onRefresh () {
      this.page.index = 1
      this.cacheList = []
      this.getMOnthDemandList()
    },
    // 上拉加载
    onLoad () {
      this.page.index++
      this.getMOnthDemandList()
    },
    getMOnthDemandList () {
      let params = {
        combofield: (this.active ? this.active + 1 : this.active) + '',
        month: '0',
        page: this.page.index,
        pageSize: this.page.size,
        source: 'mobile' // mobile 手机端 pc 电脑端
      }
      api.commonCall(params, 'listMonthlyDemand').then(res => {
        this.requestLoading = false
        if (res.success) {
          this.cacheList = this.cacheList.concat(res.data.list)
          this.monthDemandList.splice(0, this.monthDemandList.length, ...this.cacheList)
          this.page.total = res.data.count
          this.finished = false

          this.loading = false

          if (this.cacheList.length >= this.page.total) {
            this.finished = true
          }
          setTimeout(() => {
            this.isLoading = false
          }, 100)
        }
      })
    },
    getMonthDemandCount () {
      api.commonCall({}, 'countMonthlyDemand').then(res => {
        if (res.success) {
          this.monthDemandCount = res.data
        }
      })
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

  .monthDemand-wrap{
    width: 100%;
    height: 100vh;
    background-color: #f8f8f8;
    .content {
      width: 96%;
      margin: 0 auto;
      .content-box {
        width: 100%;
        height: 166px;
        border-radius: 12px;
        border: 1px soild #ccc;
        margin-top: 20px;
        &.bg-blue {
          background: url("~@/assets/images/raisePig/background-blue.jpg") no-repeat 100% center;
        }
        &.bg-green {
          background: url("~@/assets/images/raisePig/background-green.jpg") no-repeat 100% center;
        }
        &.bg-yellow {
          background: url("~@/assets/images/raisePig/background-yellow.jpg") no-repeat 100% center;
        }
        .content-box-left {
          width: 95%;
          float: left;
          height: 166px;
          color: #fff;
          text-align: center;
          .content-box-title {
            margin: 28px 0 15px 0;
            font-size: 48px;
          }
          .content-box-description{
            font-size: 24px;
          }
        }
        .content-box-right {
          width: 4%;
          float: left;
          height: 166px;
          img {
            padding-top: 78px;
          }
        }
      }
    }
    .bottom-add-demand {
      width: 100%;
      height: 108px;
      line-height: 108px;
      text-align: center;
      position: fixed;
      left: 0;
      bottom: 0;
      font-size: 36px;
      background: #F59900;
      color: #fff;
    }
  }
</style>
