<template>
  <div class="newMonthDemand-wrap">
    <van-nav-bar title="新建月度需求" left-arrow @click-left="_toReturn"></van-nav-bar>

    <div class="newMonthDemand-top">
      <div class="screen-item">
        <span>四级公司</span>
        <div class="input-wrap">
          <select v-model="fourCustomer" @change="_changeFourCustomer">
            <option v-for="item in fourCustomerList" :value="item" :key="item.id">{{item.name}}</option>
          </select>
          <van-icon v-if="fourCustomer" name="clear" @click.stop.prevent="fourCustomer = null"></van-icon>
        </div>
      </div>
      <div class="screen-item">
        <span>出勤天数</span>
        <div class="input-wrap no-border">
          <div class="input-wrap-reduce" @click="_numCut('date')"></div>
          <div class="input-wrap-content">
            <input type="number" v-model="offerdate" @change="changeOfferDate"/>
          </div>
          <div class="input-wrap-plus" @click="_numAdd('date')"></div>
        </div>
      </div>
      <div class="screen-item">
        <span>备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注</span>
        <div class="input-wrap">
          <input type="textarea" :rows="4" placeholder="请输入..." v-model="notes"/>
        </div>
      </div>
    </div>
    <div class="newMonthDemand-content" v-if="onLoad">
      <div class="content-list" v-for="(item, index) in pigsMaterialList" :key="index">
        <p class="content-list-title">{{item.name}}</p>
        <div class="content-list-left">
          <img src="@/assets/images/default/wens-bg.jpg" alt="">
        </div>
        <div class="content-list-right">
          <div>
            <span class="right-number">需求数量 (头)：</span>
            <div class="input-wrap no-border">
              <div class="input-wrap-reduce" @click="_numCut('number', index)"></div>
              <div class="input-wrap-content">
                <input type="number" v-model="offerNumberList[index].number" @change="changeOfferNumber(index)" @focus="getSelectNumber(index)" placeholder="0"/>
              </div>
              <div class="input-wrap-plus" @click="_numAdd('number', index)"></div>
            </div>
          </div>
          <p>日均数量：{{avgQtyList[index].avgQty}}头</p>
        </div>
      </div>
    </div>
    <div class="newMonthDemand-bottom">
      <div class="bottom-left">
        总数量：{{totalQty}}
      </div>
      <div class="bottom-right" @click="submitMonthlyDemand">
        提交需求
      </div>
    </div>
  </div>
</template>

<script>
import { api } from '@/api'
export default {
  name: 'newMonthDemand',
  data () {
    return {
      active: 1,
      fourCustomerList: [], // 四级公司列表
      fourCustomer: null, // 四级公司id
      offerdate: 1, // 出勤天数
      offerNumberList: [],
      pigsMaterialList: [], // 物料列表
      avgQtyList: [], // 日均数量列表
      totalQty: 0, // 总数量
      notes: '', // 备注
      onLoad: false,
      selectNumber: 0 // 选中数量
    }
  },
  mounted () {
    this._getFourCustomerList()
  },
  methods: {
    _toReturn () {
      this.$router.go(-1)
    },
    // 切换四级公司
    _changeFourCustomer () {
      if (this.fourCustomer) {
        this.onLoad = false
        api.commonCall({ id: this.fourCustomer.id }, 'listPigsMaterial').then(res => {
          if (res.success) {
            this.pigsMaterialList = res.data.list
            for (let i = 0; i < res.data.list.length; i++) {
              this.offerNumberList.push({
                number: null
              })
              this.avgQtyList.push({
                avgQty: 0
              })
            }
            this.onLoad = true
          }
        })
      }
    },
    // 获取四级公司列表
    _getFourCustomerList () {
      api.commonCall({}, 'currUserFourCustomer').then(res => {
        if (res.success) {
          this.fourCustomerList = res.data.list
          if (this.fourCustomerList.length > 0) {
            // this.fourCustomer = res.data.defaultId === '0' ? this.fourCustomerList[0].id : res.data.defaultId
            let fourCustomer
            if (res.data.defaultId) {
              for (let i = 0; i < this.fourCustomerList.length; i++) {
                if (res.data.defaultId === this.fourCustomerList[i].id) {
                  fourCustomer = this.fourCustomerList[i]
                }
              }
            }
            this.fourCustomer = fourCustomer || this.fourCustomerList[0]
            this._changeFourCustomer()
          }
        }
      })
    },
    // 记录选中的数量
    getSelectNumber (index) {
      this.selectNumber = this.offerNumberList[index].number || 0
    },
    // 修改出勤天数
    changeOfferDate () {
      let date = this.mGetDate()
      if (this.offerdate < 1) {
        this.$toast('出勤天数不能小于1天')
        this.offerdate = 1
      } else if (this.offerdate > date) {
        this.$toast('出勤天数不能大于下个月的总天数')
        this.offerdate = date
      }
    },
    // 修改需求数量
    changeOfferNumber (index) {
      if (this.offerdate) {
        this.offerNumberList[index].number = this.offerNumberList[index].number > 0 ? this.offerNumberList[index].number : 0
        let selectNumber = this.selectNumber - this.offerNumberList[index].number
        this.totalQty = this.totalQty - selectNumber
        let avgQty = parseInt(this.offerNumberList[index].number / this.offerdate)
        this.$set(this.avgQtyList[index], 'avgQty', avgQty)
      } else {
        this.$toast('请先输入出勤天数')
        this.$set(this.offerNumberList[index], 'number', 0)
      }
    },
    _numCut (type, index) {
      if (type === 'date') {
        this.offerdate = this.offerdate > 1 ? this.offerdate - 1 : 1
        this.changeOfferDate()
      } else {
        if (!this.offerdate) {
          this.$toast('请先输入出勤天数')
          return
        }
        let number = this.offerNumberList[index].number > 1 ? this.offerNumberList[index].number - 1 : 0
        this.selectNumber = number
        this.$set(this.offerNumberList[index], 'number', number)
        this.totalQty = +this.offerNumberList[index].number !== 0 ? this.totalQty - 1 : this.totalQty
        let avgQty = parseInt(this.offerNumberList[index].number / this.offerdate)
        this.$set(this.avgQtyList[index], 'avgQty', avgQty)
      }
    },
    _numAdd (type, index) {
      if (type === 'date') {
        let date = this.mGetDate()
        // 出勤天数不能大于当月天数
        this.offerdate = +this.offerdate < date ? this.offerdate + 1 : date
        this.changeOfferDate()
      } else {
        if (!this.offerdate) {
          this.$toast('请先输入出勤天数')
          return
        }
        this.selectNumber = +this.offerNumberList[index].number + 1
        this.$set(this.offerNumberList[index], 'number', +this.offerNumberList[index].number + 1)
        this.totalQty = this.totalQty + 1
        let avgQty = parseInt(this.offerNumberList[index].number / this.offerdate)
        this.$set(this.avgQtyList[index], 'avgQty', avgQty)
      }
    },
    // 获取这个月的天数
    mGetDate () {
      let date = new Date()
      let year = date.getFullYear()
      let month = date.getMonth() + 1
      let nextMonth = month > 11 ? 1 : month + 1
      let d = new Date(year, nextMonth, 0)
      return d.getDate()
    },
    // 提交月度需求
    submitMonthlyDemand () {
      if (!this.offerdate) {
        this.$toast('请填写出勤天数！谢谢！')
        return
      }
      if (!this.totalQty) {
        this.$toast('请填写数量！谢谢！')
        return
      }
      if (!this.fourCustomer) {
        this.$toast('请选择四级公司！谢谢！')
        return
      }
      let list = []
      for (let i = 0; i < this.pigsMaterialList.length; i++) {
        if (this.offerNumberList[i].number > 0) {
          list.push({
            material: this.pigsMaterialList[i].id, // 物料id
            uom: this.pigsMaterialList[i].baseunit, // 基本单位
            avgqty: this.avgQtyList[i].avgQty + '', // 日均数量
            needqty: this.offerNumberList[i].number + '' // 需求数量
          })
        }
      }
      let params = {
        owner: this.fourCustomer.id, // 四级公司id
        totalqty: this.totalQty + '', // 总数量
        attendancedays: this.offerdate + '', // 出勤天数
        notes: this.notes, // 备注
        list: list
      }
      api.commonCall(params, 'saveMonthlyDemand').then(res => {
        if (res.success) {
          this.$toast('提交成功')
          this.$router.push({
            path: '/monthDemand',
            query: {
              active: 0
            }
          })
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

  .newMonthDemand-wrap{
    width: 100%;
    min-height: 100vh;
    background: #F8F8F8;
    .newMonthDemand-top {
      width: 100%;
      background: #fff;
      .screen-item {
        width: 94%;
        margin: 0 auto;
        font-size: 0;
        padding-top: 5px;
        padding-bottom: 40px;
        span {
          display: inline-block;
          vertical-align: top;
          width: 24%;
          font-size: 28px;
          font-family: 微软雅黑;
          color: #434349;
          line-height: 54px;
          text-align: center;
          &.link {
            width: 10%;
            font-size: 36px;
            text-align: center;
          }
          &.check, &.cancel {
            width: 45%;
            font-size: 28px;
            border-radius: 4px;
            color: #757575;
            border: 1px solid #757575;
            box-sizing: border-box;
            text-align: center;
            &:active {
              color: #F39801;
              border: 1px solid #F39801;
            }
          }
          &.cancel {
            margin-left: 10%;
          }
        }
      }
    }
    .newMonthDemand-content {
      width: 94%;
      margin: 0 auto 120px auto;
      border-radius: 12px;
      .content-list {
        width:100%;
        height:272px;
        background:rgba(255,255,255,1);
        border-radius:5px;
        padding-top: 16px;
        margin-top: 20px;
        .content-list-title {
          font-size: 28px;
          text-indent: 1em;
          border-left: 4px solid #F17533;
          margin-bottom: 16px;
        }
        .content-list-left {
          width: 25%;
          float: left;
          padding-left: 2%;
          img {
            width: 170px;
            height: 170px;
          }
        }
        .content-list-right {
          width: 71%;
          margin-left: 2%;
          float: left;
          font-size: 24px;
          padding-top: 42px;
          .right-number {
            width: 37%;
            display: inline-block;
            vertical-align: top;
          }
          p,
          .right-number{
            line-height: 54px;
          }
        }
      }
    }
    .input-wrap {
      display: inline-block;
      width: 73%;
      height: 54px;
      border: 1px solid #979797;
      border-radius: 4px;
      box-sizing: border-box;
      position: relative;
      @{deep}.van-field{
        height: 100%;
        padding: 0 10px;
        font-size: 28px;
        box-sizing: border-box;
        .van-field__control {
          color: #2e3033;
        }
        .van-field__clear {
          padding: 0 16px;
        }
      }
      input{
        width: 100%;
        height: 100%;
        font-size: 28px;
        border: none;
        box-sizing: border-box;
        padding: 0 10px;
        &::placeholder{
          color: #969799;
        }
      }
      select{
        width: 100%;
        height: 100%;
        font-size: 28px;
        border: none;
        box-sizing: border-box;
        padding: 0 10px;
      }
      @{deep}.van-icon-clear{
        position: absolute;
        right: 0;
        height: 50px;
        line-height: 50px;
        padding: 0 10px;
        font-size: 26px;
        color: #8e939a;
        vertical-align: middle;
        background-color: #fff;
      }
      &.no-border {
        border: none;
        width: 63%;
      }
      .input-wrap-reduce {
        width: 68px;
        height: 100%;
        float: left;
        background: #5E6173 url("~@/assets/images/raisePig/reduce.svg") no-repeat center center;
        background-size: 22px 22px;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
      }
      .input-wrap-content {
        width: 100px;
        height: 100%;
        float: left;
        border-top: 1px solid #5E6173;
        border-bottom: 1px solid #5E6173;
        box-sizing: border-box;
        text-align: center;
        line-height: 48px;
        font-size: 32px;
        color: #434349;
        font-weight: 600;
        input {
          width: 80px;
          height: 40px;
          border: none;
          text-align: center;
          display: inline-block;
        }
      }
      .input-wrap-plus{
        width: 68px;
        height: 100%;
        float: left;
        background: #5E6173 url("~@/assets/images/raisePig/plus.svg") no-repeat center center;
        background-size: 22px 22px;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
      }
    }
    .newMonthDemand-bottom {
      width: 100%;
      height: 108px;
      line-height: 108px;
      position: fixed;
      left: 0;
      bottom: 0;
      font-size: 36px;
      .bottom-left {
        width: 65%;
        line-height: 108px;
        text-align: center;
        float: left;
        background:rgba(229,229,229,1);
        font-size: 32px;
      }
      .bottom-right {
        width: 35%;
        line-height: 108px;
        text-align: center;
        float: left;
        background:#F59900;
        color: #fff;
        font-size: 32px;
      }
    }
  }
</style>
