<template>
  <div class="information-details">
    <van-nav-bar :title="title" left-arrow @click-left="onClickLeft">
      <span v-if="$route.query.id" slot="right" class="share-btn" @click="onShareAppMessage"></span>
    </van-nav-bar>

    <!-- 资讯内容 -->
    <div class="content">
      <div class="title" v-if="details.name">{{details.name}}</div>
      <div class="info">
        <span class="date" v-if="details.createTime">{{details.createTime}}</span>
      </div>
      <div class="details" v-html="description"></div>
      <div class="video-swipe" v-if="details.itemAttachment && details.itemAttachment.length">
        <van-swipe @change="changeBanner">
          <van-swipe-item v-for="(item, index) in details.itemAttachment" :key="index">
            <video :ref="'vid' + index" webkit-playsinline="true" playsinline="true" x5-video-player-type="h5-page" controls preload="auto">
              <source :src="DOMAIN_NAME + 'wens/auth/file/readVideo.do?path=' + item" type="video/mp4" />
            </video>
          </van-swipe-item>
        </van-swipe>
      </div>
    </div>

    <!-- 推荐商品 -->
    <div class="item" v-if="goods && goods.length">
      <div class="item-img">
        <img v-lazy="allImgDomainName + goods[0].itemThumbnail" alt>
      </div>
      <div class="item-content">
        <div class="item-title">{{goods[0].itemName}}</div>
        <div class="item-owner">{{goods[0].itemOwnerName}}</div>
        <div class="item-lable"></div>
        <div class="item-price">
          <span class="price">{{goods[0].itemPrice && goods[0].itemPrice.toString().split('.')[0] || '0'}}</span>
          <span class="price decimal">.{{goods[0].itemPrice && goods[0].itemPrice.toString().split('.')[1]
            ? (goods[0].itemPrice.toString().split('.')[1].length === 1
              ? goods[0].itemPrice.toString().split('.')[1] + '0'
              : goods[0].itemPrice.toString().split('.')[1].substring(0, 2))
            : '00'}}</span>
          <span class="unit">元/{{goods[0].saleUnitName}}</span>
        </div>
        <span class="item-buyNow" @click="buyNow">立即购买</span>
      </div>
    </div>

    <!-- 引导用户点击右上角进行分享操作 -->
    <div class="guideShare" v-show="guideShare" @click.stop="guideShare = false">
      <img src="@/assets/images/groupbuying/arrows.png" alt="" class="arrows-img"/>
      <p>点击右上角按钮，进行分享吧！</p>
    </div>
  </div>
</template>

<script>
import { api, DOMAIN_NAME } from '@/api'
import { allImgDomainNameMixin, WXMixin } from '@/assets/js/mixin'
import { isWeiXin } from '@/utils/common'

export default {
  name: 'information-details',
  mixins: [allImgDomainNameMixin, WXMixin],
  data () {
    return {
      DOMAIN_NAME: DOMAIN_NAME,
      title: '资讯详情',
      bannerIndex: 0, // 记录轮播当前下标
      details: {},
      goods: [],
      description: '', // 富文本
      guideShare: false // 引导用户进行分享遮罩层
    }
  },
  created () {
    if (this.$route.params && this.$route.params.detail !== undefined) {
      this.description = this.$route.params.detail
    } else if (this.$route.query.id) {
      this.title = this.$route.query.columnName + '详情'
      this.getArticleDetailt()
    } else {
      this.$router.replace('/')
    }
  },
  methods: {
    weixinPlay (fn) {
      if (!isWeiXin()) {
        fn()
      } else {
        if (window.WeixinJSBridge) {
          window.WeixinJSBridge.invoke('getNetworkType', {}, fn)
        } else {
          document.addEventListener('WeixinJSBridgeReady', function () {
            window.WeixinJSBridge.invoke('getNetworkType', {}, fn)
          })
        }
      }
    },
    onClickLeft () {
      if (window.history.length > 1) {
        this.$router.go(-1)
      } else {
        this.$router.push('/')
      }
    },
    // 修改轮播图索引
    changeBanner (index) {
      // 如果被滚动的（上一个）视频正在播放，则暂停
      if (this.details && this.details.itemAttachment && this.details.itemAttachment.length) {
        let vid = this.$refs['vid' + this.bannerIndex][0]
        if (!vid.paused && vid.currentTime > 0) {
          vid.pause()
        }
      }

      this.bannerIndex = index
    },
    getArticleDetailt () {
      let params = {
        id: this.$route.query.id
      }
      api.commonCall(params, 'queryArticleDetail').then(res => {
        if (res.success) {
          if (res.data.returnType === '1') { // 返回富文本
            this.details = res.data
            this.goods = res.data.itemList
            this.description = res.data.detail

            // 设置视频第一帧为封面
            this.$nextTick(() => {
              if (this.details && this.details.itemAttachment) {
                this.details.itemAttachment.forEach((v, i) => {
                  let vid = this.$refs['vid' + i][0]
                  this.weixinPlay(() => {
                    vid.load()
                  })
                })
              }
            })

            if (isWeiXin()) {
              // WX接口初始化
              this.initWX(['updateAppMessageShareData', 'updateTimelineShareData'], null, () => {
                const urlPrefix = window.location.protocol + '//' + window.location.host
                // 需要带回去的参数有：文章id， 类型
                const url = urlPrefix + '/informationDetails?id=' + this.$route.query.id + '&columnName=' + this.$route.query.columnName
                this.WXShare(this.details.name, this.details.introduction, url, this.details.logo && this.details.logo.trim() ? this.allImgDomainName + this.details.logo : urlPrefix + this.defaultProImg)
              }, null)
            }
          } else if (res.data.returnType === '0') {
            window.open(res.data.detail, '_blank')
          }
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    buyNow () {
      this.$router.push({
        path: this.goods[0].isZZItem ? '/goodsDetails' : '/breedingPigDetails',
        query: {
          id: this.goods[0].itemId,
          type: 0
        }
      })
    },
    // 分享到微信
    onShareAppMessage () {
      if (!isWeiXin()) {
        this.$toast('请用微信浏览器打开，进行分享')
        return
      }
      this.guideShare = true
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.information-details {
  min-height: 100vh;
  background: #ffffff;
  .share-btn{
    display: inline-block;
    vertical-align: middle;
    width: 38px;
    height: 34px;
    background: url("~@/assets/images/information/share.svg") no-repeat center center;
    background-size: 38px 34px;
  }

  .content {
    padding: 20px 30px;
    background: #ffffff;
    .title {
      font-size: 32px;
      font-family: PingFangSC-Regular, PingFang SC;
      color: #333333;
      line-height: 44px;
      margin-bottom: 20px;
      word-wrap: break-word;
      word-break: break-all;
    }
    .info {
      margin-bottom: 10px;
      span {
        font-size: 24px;
        font-family: PingFangSC-Regular, PingFang SC;
        color: #999999;
        &.date {
          margin-right: 30px;
        }
      }
    }
    .details {
      @{deep} * {
        max-width: 100% !important;
        word-wrap: break-word;
        word-break: break-all;
      }
    }
    .video-swipe {
      width: 100%;
      position: relative;
      @{deep} .van-swipe {
        .van-swipe-item {
          background-color: rgba(0, 0, 0, .9);
        }
        .van-swipe__indicator--active {
          background-color: #fff;
        }
      }
      video {
        width: 100%;
        height: 380px;
      }
    }
  }

  .item {
    height: 200px;
    background: #F5F5F5;
    padding: 20px 30px;
    overflow: hidden;
    .item-img {
      width: 200px;
      height: 200px;
      border-radius: 12px 0 0 12px;
      background: #ffffff;
      float: left;
      img {
        width: 200px;
        height: 200px;
        border-radius: 12px 0 0 12px;
      }
    }
    .item-content {
      width: 490px;
      height: 200px;
      padding: 10px 10px 10px 24px;
      border-radius: 0 12px 12px 0;
      background: #ffffff;
      box-sizing: border-box;
      float: left;
      .item-title {
        height: 44px;
        line-height: 44px;
        font-size: 32px;
        color:rgba(51,51,51,1);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .item-owner {
        height: 34px;
        line-height: 34px;
        margin-top: 4px;
        font-size: 24px;
        color: rgba(153,153,153,1);
      }
      .item-lable {
        height: 38px;
      }
      .item-price {
        display: inline-block;
        margin-top: 4px;
        height: 60px;
        line-height: 60px;
        span {
          &.price {
            margin-top: 2px;
            font-size: 38px;
            font-family: 'AvenirLTStd-Black';
            color: #e33240;
            &.decimal {
              margin-top: 10px;
              font-size: 30px;
            }
          }
          &.unit {
            margin-top: 6px;
            margin-left: 8px;
            font-size: 24px;
            color: #999999;
          }
        }
      }
      .item-buyNow {
        width: 160px;
        height: 54px;
        line-height: 54px;
        text-align: center;
        background: #E02020;
        border-radius: 16px;
        color: #ffffff;
        float: right;
        margin-right: 28px;
      }
    }
  }
  .guideShare{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 102;
    .arrows-img{
      width: 340px;
      position: absolute;
      right: 20px;
      top: 10px;
    }
    p{
      font-size: 36px;
      color: #fff;
      margin-top: 350px;
      text-align: center;
    }
  }
}
</style>
