<template>
  <div class="information">
    <van-nav-bar :title="$route.query.name" left-arrow @click-left="onClickLeft"></van-nav-bar>

    <!-- 搜索框 -->
    <form action="">
      <van-search
        v-model="searchVal"
        placeholder="请输入搜索关键词"
        :left-icon="require('@/assets/images/index-2/icon-search.svg')"
        shape="round"
        background="#FF9F00"
        @blur="onSearch"
      ></van-search>
    </form>

    <div class="information-main" v-if="informationList && informationList.length">
      <van-pull-refresh v-model="isLoading" @refresh="onRefresh" >
        <van-list v-model="loading" :finished="finished" @load="onLoad" :offset="200" finished-text="没有更多了">
          <div class="box" @click="_toDetails(item)" v-for="(item, index) in informationList" :key="index">
            <div class="content">
              <div class="content-title">{{item.name}}</div>
              <div class="content-info">{{item.createTime}}</div>
            </div>
            <div class="img">
              <img v-if="item.logo && item.logo.trim()" v-lazy="allImgDomainName + item.logo" alt>
            </div>
          </div>
        </van-list>
      </van-pull-refresh>
    </div>

    <div class="no-data-box" v-else>
      <no-data :loading="requestLoading"></no-data>
    </div>
  </div>
</template>

<script>
import NoData from '@/components/no-data'
import { allImgDomainNameMixin } from '@/assets/js/mixin'
import { api } from '@/api'
import { getCookie } from '@/utils/common'

export default {
  name: 'information',
  mixins: [allImgDomainNameMixin],
  components: {
    NoData
  },
  data () {
    return {
      searchVal: '', // 搜索关键词
      informationList: [], // 资讯列表
      cacheList: [], // 缓存列表
      page: {
        index: 1,
        size: 6,
        total: 0
      },
      loading: false, // 控制上拉加载的加载动画
      isLoading: false, // 控制下拉刷新的加载动画
      finished: false, // 控制在页面往下移动到底部时是否调用接口获取数据
      requestLoading: false // 接口请求加载动画
    }
  },
  created () {
    if (!this.$route.query.id) {
      this.$router.go(-1)
      return
    }

    this.getArticleList()
  },
  methods: {
    onClickLeft () {
      if (window.history.length > 1) {
        this.$router.go(-1)
      } else {
        this.$router.push('/')
      }
    },
    // 搜索问题
    onSearch () {
      this.page.index = 1
      this.cacheList = []
      this.getArticleList()
    },
    _toDetails (item) {
      if (item.returnType === '0') { // 返回外部链接
        window.open(item.detail, '_blank')
      } else if (item.returnType === '1') { // 返回文章富文本
        this.$router.push({
          name: 'informationDetails',
          query: {
            id: item.id,
            columnName: item.columnName
          }
        })
      }
    },
    // 下拉刷新
    onRefresh () {
      this.page.index = 1
      this.cacheList = []
      this.getArticleList()
    },
    // 上拉加载
    onLoad () {
      this.page.index++
      this.getArticleList()
    },
    // 查询栏目文章列表--（温氏头条、个人资讯）栏目
    getArticleList () {
      this.requestLoading = true
      let params = {
        page: this.page.index,
        pageSize: this.page.size,
        articleName: this.searchVal,
        column: this.$route.query.id
      }

      if (sessionStorage.getItem('token')) {
        if (this.$store.state.intoPage === 0 && getCookie('selectedChannel')) {
          params.ownerId = JSON.parse(getCookie('selectedChannel')).channelId
        } else if (this.$store.state.intoPage === 1 && this.$store.state.channel.currentChannel && this.$store.state.channel.currentChannel.channelId) {
          params.ownerId = this.$store.state.channel.currentChannel.channelId
        }
      }

      api.commonCall(params, 'queryArticleList').then(res => {
        this.requestLoading = false
        if (res.success) {
          this.cacheList = this.cacheList.concat(res.data.list)
          this.informationList.splice(0, this.informationList.length, ...this.cacheList)
          this.page.total = res.data.count

          this.finished = false
          this.loading = false
          if (this.cacheList.length >= this.page.total) {
            this.finished = true
          }
          setTimeout(() => {
            this.isLoading = false
          }, 100)
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.information {
  @{deep}.van-search {
    padding: 16px 30px;
    .van-search__content {
      padding-left: 28px;
      border-radius: 16px;
      background-color: #FFFFFF;
      .van-cell {
        line-height: 34px;
        .van-field__control::placeholder {
          color: #C2C2C2;
        }
      }
    }
  }

  .information-main{
    .box {
      margin: 32px 30px 0;
      padding-bottom: 22px;
      box-sizing: border-box;
      display: flex;
      .border-1px(#E5E5E5);
      .content {
        min-width: 416px;
        .content-title {
          min-height: 132px;
          line-height: 44px;
          font-size: 32px;
          font-family: PingFangSC-Regular,PingFang SC;
          display: -webkit-box;
          -webkit-line-clamp: 3; // 限制文本的行数，只显示两行
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          word-wrap: break-word;
          word-break: break-all;
        }
        .content-info {
          height: 44px;
          line-height: 34px;
          margin-top: 26px;
          font-size: 24px;
          font-family: PingFangSC-Regular,PingFang SC;
          color: #999999;
        }
      }
      .img {
        flex-shrink: 0;
        img {
          width: 246px;
          height: 172px;
          margin-top: 10px;
          margin-left: 28px;
          border-radius: 8px;
        }
      }
    }
  }
}
</style>
