<template>
  <div class="search-bar">
    <div class="left" @click="clickLeftIcon" v-if="hasLeft">
      <slot name="left">
        <!-- <i class="icon-scan"></i> -->
      </slot>
    </div>
    <div class="center" @click="clickSearch" :class="{'no-left': !hasLeft}">
      <div class="search-input-wrapper">
        <input v-model="value" :disabled="disabled" :placeholder="placeholder" class="search-input" v-focus @focus="showCloseIcon = true" @blur.prevent="showCloseIcon = false">
        <van-icon v-if="!disabled && showCloseIcon && value" name="cross" class="close" @click.stop="clearValue"/>
      </div>
      <div
        class="search-val-label"
        :style="{backgroundColor: value ? '#f2f2f2' : 'rgba(0,0,0,0)'}"
        v-if="valType === 1 || valType === '1'"
      >
        <span class="value" v-if="value">
          {{value}}
          <van-icon name="cross" class="close"/>
        </span>
      </div>
    </div>
    <div class="right">
      <slot name="right">
        <a href="javascript:;" class="search-btn" @click="search">搜索</a>
      </slot>
    </div>
  </div>
</template>

<script>
import { api } from '@/api'

export default {
  name: 'index',
  props: {
    disabled: {
      type: Boolean,
      default: false
    },
    refer: {
      // 点击搜索按钮，是否跳到商品列表页
      default: true
    },
    defaultValue: {
      type: [Number, String]
    },
    valType: {
      type: [Number, String],
      default: 0 // 0 ：默认形式， 1：标签形式
    },
    hasLeft: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
      value: '',
      placeholder: '',
      showCloseIcon: false // 显示清空搜索内容图标
    }
  },
  watch: {
    defaultValue: {
      immediate: true,
      handler (newVal, oldVal) {
        // if (newVal) {
        //   this.value = newVal;
        // }
        this.value = newVal
      }
    }
  },
  created () {
    this._assistantdataQuery()
  },
  methods: {
    // 热搜
    _assistantdataQuery () {
      let cacheKey = 'assistantdataQuery_holdkey'
      let hotKeysJson = sessionStorage.getItem(cacheKey)
      if (hotKeysJson) {
        let hotKeys = JSON.parse(hotKeysJson)
        this.placeholder = hotKeys[0].name
      } else {
        api.assistantdataQuery({ groupNumber: 'holdkey' }).then(res => {
          if (res.success) {
            if (res.data && res.data.length > 0) {
              this.placeholder = res.data[0].name
              sessionStorage.setItem(cacheKey, JSON.stringify(res.data))
            }
          }
        })
      }
    },
    // 点击走边图标
    clickLeftIcon () {
      this.$emit('clickLeftIcon')
    },
    // 点击搜索框
    clickSearch () {
      // 如果搜索框是禁用的，则显示搜索页
      if (this.disabled) {
        document.body.style.overflow = 'hidden'
        this.$emit('showSearchPage')
      }
    },
    search () {
      document.body.style.overflow = 'visible'

      if (!this.refer) {
        this.$emit('search', this.value)
      } else {
        // let query = {}

        // this.value && this.value.trim() && (query.wd = this.value.trim())
        // if (this.value && this.value.trim()) {
        //   query.wd = this.value.trim()
        // } else {
        //   query.wd = this.placeholder
        // }

        // this.$router.push({ path: '/goodsList', query })

        !(this.value && this.value.trim()) && (this.value = this.placeholder)
        this.$emit('search', this.value)
      }
    },
    // 点击清空搜索内容
    clearValue () {
      this.value = ''
    }
  },
  destroyed () {
    if (document.body.style.overflow === 'hidden') {
      document.body.style.overflow = 'visible'
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.search-bar {
  width: 100%;
  height: 96px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  .left {
    width: 86px;
    flex: 0 0 86px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*padding-right: 14px;*/
    .icon-scan {
      display: block;
      width: 37px;
      height: 37px;
      .bg-img("icon_scan");
      background-size: 100% 100%;
    }
  }
  .center {
    /*min-width: 296px;*/
    flex: 1;
    position: relative;
    &.no-left {
      margin-left: 24px;
    }
    .search-input-wrapper {
      width: 100%;
      height: 60px;
      background-color: #f2f2f2;
      border-radius: 30px;
      margin-top: 18px;
      overflow: hidden;
      .close {
        position: absolute;
        right: 25px;
        top: 35px;
      }
    }
    .search-input {
      display: block;
      width: 100%;
      height: 100%;
      font-size: 28px;
      // color: #a1a4aa;
      color: #5e6166;
      box-sizing: border-box;
      padding-left: 70px;
      border: none;
      background: none;
      &::-webkit-input-placeholder{
        color: #d1d4da;
      }
    }
    &:before {
      display: block;
      width: 28px;
      height: 28px;
      content: "";
      .bg-img("icon_search");
      background-size: 100% 100%;
      position: absolute;
      top: 35px;
      left: 25px;
      z-index: 1;
    }
    .search-val-label {
      width: 100%;
      height: 60px;
      background-color: #f2f2f2;
      border-radius: 30px;
      font-size: 28px;
      color: #c1c4ca;
      box-sizing: border-box;
      padding-left: 70px;
      position: absolute;
      top: 18px;
      left: 0;
      z-index: 1;
      .value {
        display: block;
        padding: 10px 14px 10px 30px;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 100px;
        font-size: 24px;
        line-height: 26px;
        color: #fff;
        // box-sizing: border-box;
        position: absolute;
        top: 8px;
        left: 8px;
        .close {
          margin-left: 8px;
          vertical-align: top;
        }
      }
    }
  }
  .right {
    height: 100%;
    min-width: 100px;
    max-width: 364px;
    padding-right: 24px;
    overflow: hidden;
    box-sizing: border-box;
    .search-btn {
      display: block;
      width: 70px;
      font-size: 30px;
      color: #e33240;
      line-height: 96px;
      padding-left: 30px;
    }
  }
}
</style>
