<template>
  <div id="app" v-if="showPage">
  <!-- <div id="app"> -->
    <keep-alive>
      <router-view v-if="$route.meta.keepAlive && isRouterAlive"/>
    </keep-alive>
    <router-view v-if="!$route.meta.keepAlive && isRouterAlive"/>
  </div>
  <div id="app" v-else-if="showJumpPage">
    <router-view/>
  </div>
</template>

<script>
import { api } from '@/api'
import { mapGetters, mapActions } from 'vuex'
import { getCookie, setCookie } from '@/utils/common'

export default {
  name: 'App',
  provide () {
    return {
      reload: this.reload
    }
  },
  data () {
    return {
      showPage: false,
      showJumpPage: false,
      isRouterAlive: true,
      // 以下用来记录监听到的旧数据，防止死循环（兼容ie）
      token: '',
      userInfo: '',
      loadingToast: null,
      wxLoginLoadingToast: null // 微信登录加载动画
    }
  },
  computed: {
    ...mapGetters(['region', 'channel', 'customer'])
  },
  watch: {
    $route: 'routeLogin'
  },
  created () {
    // 记录进入APP时的url
    if (typeof window.entryUrl === 'undefined' || window.entryUrl === '') {
      window.entryUrl = location.href.split('#')[0]

      // 如果访问路由为/jumpPage，删除本地缓存
      if (window.entryUrl.indexOf('/jumpPage') > -1) {
        sessionStorage.removeItem('token')
        sessionStorage.removeItem('br-custom-key')
        sessionStorage.removeItem('defaultCustomer')
        sessionStorage.removeItem('isDriver')
        sessionStorage.removeItem('groupBuyingCache')
        sessionStorage.removeItem('flashSaleCache')

        // 设置包含“KERPSESSIONID”关键字的cookie的key
        // if (document.cookie.length > 0) {
        //   const cName = 'KERPSESSIONID'
        //   let cStart = document.cookie.indexOf(cName)
        //   while (cStart !== -1) {
        //     let cEnd = document.cookie.indexOf('=', cStart)
        //     if (getCookie(document.cookie.substring(cStart, cEnd))) {
        //       setCookie(document.cookie.substring(cStart, cEnd), '', -1)
        //     }
        //     cStart = document.cookie.indexOf(cName)
        //   }
        // }
      }
    }

    if (location.href.indexOf('/jumpPage') > -1) {
      this.showJumpPage = true
    } else {
      this.loadingToast = this.$toast.loading({
        duration: 0, // 持续展示 toast
        loadingType: 'spinner',
        message: '加载中...'
      })

      this.init()
    }
    // this.listenSessionStorage()
  },
  mounted () {
    // this.routeLogin()
  },
  methods: {
    reload () {
      this.isRouterAlive = false
      this.$nextTick(() => {
        this.isRouterAlive = true
      })
    },
    ...mapActions(['setChannel', 'setRegion', 'setCurrentRegion', 'setAllRegion', 'setAllChannel', 'setCustomer', 'setJustLoggedIn']),
    // 路由登录
    routeLogin () {
      if (this.$route.query.token) {
        try {
          // 如果地址中存在token，删除本地缓存
          sessionStorage.removeItem('token')
          sessionStorage.removeItem('br-custom-key')
          sessionStorage.removeItem('defaultCustomer')
          sessionStorage.removeItem('isDriver')
          sessionStorage.removeItem('groupBuyingCache')
          sessionStorage.removeItem('flashSaleCache')
        } finally {
          this.afterWXLogin(decodeURIComponent(this.$route.query.token))
          this.$route.query.sessionId && sessionStorage.setItem('sessionId', this.$route.query.sessionId)
        }
      } else if (this.$route.query.sessionId) { // 微信登录失败，使用填写信息登录并绑定
        if (this.$route.query.redirectParam && +JSON.parse(this.$route.query.redirectParam).redirectNow === 1 && +JSON.parse(this.$route.query.redirectParam).customerType === 3) {
          this.$router.replace({ name: 'Index', params: { redirectPage: this.$route.query.redirect, redirectPageParam: JSON.stringify({ doRedirect: 1, ...JSON.parse(this.$route.query.redirectParam) }) } })
          return
        }
        if (this.$route.path !== '/login' && this.$route.path !== '/loginRandom') {
          this.$toast('请先登录，将自动绑定微信')
          this.$router.push({ name: 'loginRandom', query: this.$route.query })
        }
      } else if (this.$route.params.redirectPage) {
        this.$router.push({ name: this.$route.params.redirectPage, query: JSON.parse(this.$route.params.redirectPageParam) })
      }
    },
    // 监听sessionStorage变化
    listenSessionStorage () {
      const orignalSetItem = sessionStorage.setItem
      sessionStorage.setItem = function (key, newValue) {
        let setItemEvent = new Event('setItemEvent')
        setItemEvent.key = key
        setItemEvent.newValue = newValue
        window.dispatchEvent(setItemEvent)
        orignalSetItem.apply(this, arguments)
      }
      window.addEventListener('setItemEvent', e => {
        if (e.key === 'token' && e.newValue) {

        }
      })
    },
    // 微信登录成功后
    afterWXLogin (token) {
      this.wxLoginLoadingToast = this.$toast.loading({
        duration: 0, // 持续展示 toast
        overlay: true, // 显示背景蒙层
        message: '正在登录...'
      })

      this.setJustLoggedIn(true) // 设置刚登录状态
      sessionStorage.setItem('token', token)
      setCookie('user_token', token, 7)
      // 设置包含“KERPSESSIONID”关键字的cookie的key
      if (document.cookie.length > 0) {
        const cName = 'KERPSESSIONID'
        let cStart = document.cookie.indexOf(cName)
        while (cStart !== -1) {
          let cEnd = document.cookie.indexOf('=', cStart)
          setCookie(document.cookie.substring(cStart, cEnd), token, 1)
          cStart = document.cookie.indexOf(cName, cStart + cName.length + 1)
        }
      }

      api.userInfo().then(res => { // 查询用户信息（包括是否为司机）
        if (res.success) {
          sessionStorage.setItem('br-custom-key', res.data.phone)
          sessionStorage.setItem('userInfo', JSON.stringify(res.data))
          sessionStorage.setItem('isDriver', res.data.isDriver)
          // 判断是否为司机
          if (res.data.isDriver === '1') { // 如果是司机
            this.wxLoginLoadingToast && this.wxLoginLoadingToast.clear()
            this.$router.replace({ path: '/order', query: { orderType: 0, index: 0, businessIndex: 0, biztypeId: '' } })
            this._queryCustomerList() // 查询当前用户的所有客户
          } else { // 如果不是司机
            this.addMemberIntegral() // 增加会员积分

            // 查询当前用户的客户列表及默认客户（列表第一个）
            this._queryCustomerList().then(() => {
              if (getCookie('selectedRegion')) {
                api.customerAuthQuery({ customerId: this.customer && this.customer.current && this.customer.current.customerId }).then(res => {
                  if (res.success && res.status !== 'noData') {
                    this.setAllChannel(res.data.list.slice(0, res.data.list.length)) // 保存所有渠道/销售部信息

                    this.setChannel({ data: res.data.list })

                    var validRegion = this.region.data ? this.region.data.filter(item => {
                      let obj
                      this.channel.list.forEach(i => {
                        if (item.name.indexOf(i.channelAreaName.split('_')[0]) > -1) {
                          obj = item
                        }
                      })
                      return obj
                    }) : []

                    var current = JSON.parse(getCookie('selectedRegion'))
                    current = validRegion.find(v => current.number === v.number) ? current : validRegion[0]
                    // 根据渠道筛选地区
                    this.setRegion({
                      data: {
                        current,
                        data: validRegion
                      }
                    })

                    // let areaName = this.region && this.region.current && this.region.current.name
                    // let list = this.channel.list.filter(v => {
                    //   return areaName.indexOf(v.channelAreaName.split('_')[0]) > -1
                    // })
                    // this.setChannel({ data: list.length ? list : this.channel.list })
                  } else {
                    this.setChannel({ data: [] })
                  }

                  this.wxLoginLoadingToast && this.wxLoginLoadingToast.clear()
                  if (this.$route.query.redirect) {
                    this.$router.replace({ name: 'Index', params: { redirectPage: this.$route.query.redirect, redirectPageParam: this.$route.query.redirectParam || JSON.stringify({}) } })
                  } else {
                    this.$router.replace({ name: 'Index', params: { needUpdate: true } })
                  }
                })
              } else {
                this.wxLoginLoadingToast && this.wxLoginLoadingToast.clear()
                if (this.$route.query.redirect) {
                  this.$router.replace({ name: 'Index', params: { redirectPage: this.$route.query.redirect, redirectPageParam: this.$route.query.redirectParam || JSON.stringify({}) } })
                } else {
                  this.$router.replace({ name: 'Index', params: { needUpdate: true } })
                }
              }
            })
          }
        } else {
          this.$toast.fail('登录失败，请重新登录')
          res.message && this.$toast({ position: 'bottom', message: res.message.replace('调用移动分销接口失败：', '') })
          this.wxLoginLoadingToast && this.wxLoginLoadingToast.clear()
          sessionStorage.setItem('userInfo', JSON.stringify({}))
          // 登出
          api.logout().then(res => {
            this.setJustLoggedIn(false) // 设置刚登录状态
            sessionStorage.removeItem('token')
            sessionStorage.removeItem('br-custom-key')
            sessionStorage.removeItem('defaultCustomer')
            sessionStorage.removeItem('isDriver')
            sessionStorage.removeItem('groupBuyingCache')
            sessionStorage.removeItem('flashSaleCache')
            this.$router.push({ name: 'loginRandom' })
          })
        }
      })
    },
    async init () {
      let result = await this._getImageFullUrl()
      if (result) {
        this._getKeys()
        this._queryProvince()
      }
    },
    // 获取全站图片域名，存入sessionStorage
    _getImageFullUrl () {
      return new Promise(resolve => {
        api.getImageFullUrl().then(res => {
          if (res.success) {
            let url = res.data.url
            sessionStorage.setItem('allImgDomainName', url.charAt(url.length - 1) === '/' ? url : url + '/')
          }
          if (sessionStorage.getItem('allImgDomainName')) {
            setTimeout(() => {
              this.showPage = true
              this.loadingToast && this.loadingToast.clear()
            }, 100)
            resolve(true)
          } else {
            this.loadingToast && this.loadingToast.clear()
            setTimeout(() => {
              this.$toast.fail('加载失败，请重新刷新')
            }, 100)
            resolve(false)
          }
        }).catch(error => {
          console.log(error)
          this.loadingToast && this.loadingToast.clear()
          setTimeout(() => {
            this.$toast.fail('加载失败')
          }, 100)
          resolve(false)
        })
      })
    },
    // 获取全局公钥
    _getKeys () {
      // 为免频繁访问获取公私钥接口，缓存public key    edit by 刘桂平 20190610
      let wsmallPublickeyData = sessionStorage.getItem('wsmall_publickey_data')
      if (!wsmallPublickeyData) {
        api.getKeys().then(res => {
          if (res.success) {
            sessionStorage.setItem('wsmall_publickey_data', JSON.stringify(res.data))
          }
        })
      }
    },
    // 查询地区
    _queryProvince () {
      api.queryProvince().then(res => {
        if (res.success) {
          if (!res.data.current) {
            res.data.current = res.data.data.find(v => v.name.indexOf(window.bmapLocation) > -1)
          }

          this.setAllRegion(res.data.data.slice(0, res.data.data.length - 1)) // 保存所有地区

          if (getCookie('selectedRegion')) {
            res.data.current = JSON.parse(getCookie('selectedRegion'))
          } else {
            if (!res.data.current) {
              res.data.current = res.data.data[0]
            }
          }

          this.setCurrentRegion(res.data.current || res.data.data[0]) // 保存默认选择渠道
          this.setRegion({ data: res.data })

          sessionStorage.setItem('region', JSON.stringify(res.data))

          if (sessionStorage.getItem('token') && performance.navigation.type !== 0) { // 如果登录且不为司机，且不是打开新窗口（即加载）
            if (sessionStorage.getItem('isDriver') === '1') { // 如果是司机
              this._queryCustomerList()
            } else {
              this._queryCustomerList().then(() => { // 获取客户列表
                this._queryCustomer() // 获取门店列表
              })
            }
          }
        }
      })
    },
    // 根据地区查询渠道信息
    _queryCustomer () {
      api.customerAuthQuery({ customerId: this.customer && this.customer.current && this.customer.current.customerId }).then(res => {
        if (res.success && res.status !== 'noData') {
          this.setAllChannel(res.data.list.slice(0, res.data.list.length)) // 保存所有渠道/销售部信息

          this.setChannel({ data: res.data.list })

          var validRegion = this.region.data ? this.region.data.filter(item => {
            let obj
            this.channel.list.forEach(i => {
              if (item.name.indexOf(i.channelAreaName.split('_')[0]) > -1) {
                obj = item
              }
            })
            return obj
          }) : []

          var current = JSON.parse(getCookie('selectedRegion'))
          current = validRegion.find(v => current.number === v.number) ? current : validRegion[0]

          // 根据渠道筛选地区
          this.setRegion({
            data: {
              current,
              data: validRegion
            }
          })

          // let areaName = this.region && this.region.current && this.region.current.name
          // let list = this.channel.list.filter(v => {
          //   return areaName.indexOf(v.channelAreaName.split('_')[0]) > -1
          // })
          // this.setChannel({ data: list.length ? list : this.channel.list })
        } else {
          this.setChannel({ data: [] })
        }
      })
    },
    // 获取当前用户的客户列表
    _queryCustomerList () {
      return api.commonCall({}, 'getCustomerList').then(res => {
        if (res.success) {
          if (res.data && res.data.list && res.data.list.length) {
            this.setCustomer({ data: res.data.list })
          } else {
            this.setCustomer({ data: [] })
          }
        } else {
          this.setCustomer({ data: [] })
        }
      })
    },
    // 登录增加会员积分
    addMemberIntegral () {
      api.commonCall({ behavior: 'B' }, 'saveMemberScore').then(res => {})
    }
  }
}
</script>

<style lang="less">
  html,
  body {
    width: 100%;
    height: 100%;
  }

  /* 隐藏vConsole */
  #__vconsole {
    display: none;
  }

  #app {
    /*width: 100%;*/
    /*height: 100%;*/
    /*-webkit-overflow-scrolling: touch;*/
    /*overflow-y: auto;*/
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* IOS微信阻止字体大小调整 */
    text-size-adjust: 100% !important;
    -webkit-text-size-adjust: 100% !important;
    -moz-text-size-adjust: 100% !important;
    -webkit-appearance: none;
    background-color: #fff;
    color: #2e3033;
    font-size: 28px;
    /*&:after {*/
    /*//解决 -webkit-overflow-scrolling:touch在有些时候无法滚动的问题*/
    /*min-height: calc(100% + 1px)*/
    /*}*/
    .slide-enter-active,
    .slide-leave-active {
      transition: all 0.2s;
    }
    .slide-enter,
    .slide-leave-to {
      opacity: 0;
      transform: translate3d(100%, 0, 0);
    }
  }

  // ::-webkit-scrollbar {
  //   display: none;
  //   width: 0;
  //   height: 0;
  // }

  .van-list {
    &::before, &::after {
      display: block;
      content: ' ';
      height: 0;
      overflow: hidden;
      clear: both;
    }
  }

  .van-nav-bar .van-icon {
    color: #2e3033 !important;
    // font-weight: bold;
    font-size: 40px;
  }

  .van-tabs .van-tabs__line {
    height: 4px;
  }

  .van-dialog {
    border-radius: 20px;
    .van-dialog__confirm {
      color: #fff;
      background: linear-gradient(90deg, rgba(255, 107, 82, 1) 0%, rgba(227, 50, 64, 1) 100%);
    }
  }

  .van-overlay {
    background-color: rgba(0, 0, 0, .3) !important;
  }
  /** Toast 轻提示 */
  .van-toast {
    padding: 24px 32px !important;
    font-size: 30px !important;
    line-height: 44px !important;
  }
  .van-toast__text {
    text-align: center;
    word-wrap: break-word;
    word-break: break-all;
  }
  .van-toast--success, .van-toast--fail {
    width: fit-content !important;
    min-width: 176px;
  }

  .van-image-preview__overlay {
    background-color: rgba(0, 0, 0, 1) !important;
  }

  .van-uploader__wrapper {
    width: 100%;
    height: 100%;
    .van-uploader__input-wrapper {
      width: 100%;
      height: 100%;
    }
  }

  .van-rate__icon {
    font-size: 26px !important;
  }

  .van-button__loading {
    .van-loading__spinner {
      width: 32px !important;
      height: 32px !important;
    }
  }

  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.4s;
  }

  .fade-enter,
  .fade-leave-to {
    opacity: 0;
  }

  .slideUp-enter-active,
  .slideUp-leave-active {
    transition: transform 0.3s;
  }

  .slideUp-enter,
  .slideUp-leave-to {
    transform: translate3d(0, 100%, 0);
  }

  .slideDown-enter-active,
  .slideDown-leave-active {
    transition: transform 0.3s;
  }

  .slideDown-enter,
  .slideDown-leave-to {
    transform: translate3d(0, -100%, 0);
  }

  .slideLeft-enter-active,
  .slideLeft-leave-active {
    transition: transform 0.3s;
  }

  .slideLeft-enter,
  .slideLeft-leave-to {
    transform: translate3d(100%, 0, 0);
  }

</style>
