<template>
  <div class="ws-admin-forget-reset">
    <div class="ws-header">
      <van-icon name="arrow-left" class="arrow-left" @click="_goPev"/>
    </div>
    <p class="title">请重新设置登录密码</p>
    <span class="text">由字母加数字或符号（至少两种）组成，6-20位半角字符，区分大小写</span>
    <div class="forget-tel" :class="{'redbor' : select}">
      <van-field
        class="telNum-input"
        type="password"
        v-model="password"
        @focus="telFocus"
        @blur="telBlur"
        clearable
        placeholder="输入新密码"
      />
    </div>
    <div class="forget-btn">
      <van-button round size="large" class="login-btn" :class="{'large-alp': opacity}" @click="nextGo">确定</van-button>
    </div>
  </div>
</template>

<script>
import { isPassword } from '@/utils/common.js'
import { api } from '@/api'

export default {
  name: 'forget-reset',
  data () {
    return {
      password: '',
      token: '',
      select: false,
      opacity: false
    }
  },
  created () {
    if (this.$route.params && this.$route.params.token) {
      this.token = this.$route.params.token
    } else {
      this.$router.replace('forget')
    }
  },
  methods: {
    telFocus () {
      this.select = true
    },
    telBlur () {
      this.select = false
    },
    _goPev () {
      this.$router.replace('forget')
    },
    nextGo () {
      if (!isPassword(this.password)) {
        this.$toast('请输入正确格式的密码')
      } else {
        api.changePsw({
          passwordChange: this.password
        }, {
          'Access-Token': this.token
        }).then(res => {
          if (res.success) {
            this.$toast('修改成功，请重新登录')
            this.$router.push('loginRandom')
          }
        })
      }
    }
  },
  watch: {
    password (val) {
      if (val !== '') {
        this.opacity = true
      }
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.ws-admin-forget-reset {
  width: 100%;
  height: 100%;
  .ws-header {
    padding: 36px 30px;
    .arrow-left {
      font-size: 32px;
      font-weight: bold;
    }
  }
  .title {
    display: block;
    font-size: 48px;
    padding: 50px 40px 100px;
  }
  .text {
    display: block;
    font-size: 30px;
    line-height: 54px;
    color: #5e6166;
    padding: 0 40px 47px;
  }
  .forget-tel {
    margin: 0 40px;
    position: relative;
    .border-1px(#dfe2e7);
    &.redbor {
      .border-1px(#e33240);
    }
    .telNum-input {
      width: 240px;
      padding: 24px 0;
      font-size: 32px;
    }
    .valiNum {
      position: absolute;
      right: 0;
      top: 50%;
      font-size: 28px;
      color: #e33240;
      line-height: 36px;
      margin-top: -18px;
    }
  }
  .forget-btn {
    margin-top: 100px;
    padding: 0 40px;
    .login-btn {
      font-size: 32px;
      color: #fff;
      background: linear-gradient(
        90deg,
        rgba(255, 107, 82, 1) 0%,
        rgba(227, 50, 64, 1) 100%
      );
      opacity: 0.5;
      &.large-alp {
        opacity: 1;
      }
    }
  }
}
</style>
