<template>
  <div class="ws-admin-forget">
    <van-nav-bar :title="navbarTitle" :border="false" left-arrow @click-left="_goPev"></van-nav-bar>

    <div class="title">
      <p class="main-title">{{title}}</p>
      <p class="sub-title">建议您的新密码以简单好记为标准</p>
    </div>

    <div class="userNumber" :class="{'redbor': select}">
      <div class="left van-left">+86
        <i class="up-icon"></i>
      </div>
      <div class="right">
        <van-field
          ref="phoneInput"
          class="form-input"
          type="number"
          maxlength="11"
          v-model="phone"
          :readonly="isInitialPassword"
          @focus="telFocus"
          @blur="telBlur"
          clearable
          placeholder="请输入手机号码"
        />
      </div>
    </div>

    <div class="validateCodeClz" :class="{'redbor' : selectss}">
      <van-field
        ref="imgCodeTextInput"
        class="from-input"
        maxlength="4"
        v-model="imgCodeText"
        @focus="passFocus"
        @blur="passBlur"
        clearable
        placeholder="请输入图形验证码"
      />
      <img v-if="imageCode" :src="imageCode" alt width="98" height="28" class="code">
      <div class="loading" v-else><img src="@/assets/images/loading.gif" alt height="28"></div>
      <!-- <span class="codeDesc" v-if="imageCode">看不清？<i class="highlight" @click="getImageCode">换一张</i></span> -->
      <!-- <span class="getImageCodeText" v-else @click="getImageCode">获取图形验证码</span> -->
    </div>

    <div class="validateNum" :class="{'redbor': selects}">
      <van-field
        ref="phoneCodeInput"
        class="form-input"
        maxlength="6"
        v-model="phoneCode"
        @focus="codeFocus"
        @blur="codeBlur"
        clearable
        placeholder="请输入短信验证码"
      />
      <span class="random" :class="{'can-not-click': isGetCodeFlag}" v-if="countdown < 1" @click="_getCode">获取短信验证码</span>
      <span class="time" v-if="countdown >= 1">{{countdown}}秒后重新获取</span>
    </div>

    <div class="large-btn">
      <van-button
        round
        size="large"
        class="next-btn"
        :class="{'opacity': opacity}"
        :loading="btnLoading"
        :disabled="btnLoading"
        @click="nextGo"
      >下&nbsp;一&nbsp;步</van-button>
    </div>

    <div class="ws-copyright">© Copyright Reserved WENS</div>
  </div>
</template>

<script>
import { isPhone } from '@/utils/common.js'
import { api } from '@/api'

export default {
  name: 'forget',
  data () {
    return {
      title: '请重新编辑您的密码', // 标题
      navbarTitle: '忘记密码', // 导航栏标题
      phone: '',
      imgCodeText: '',
      imageCode: '',
      imgCodeTimer: null,
      loginId: '', // 图形码随机id
      accountId: '', // 数据中心id
      step1loginId: '',
      cacheImgCodeText: '',
      select: false,
      selects: false,
      selectss: false,
      opacity: true,
      countdown: -1, // 倒数60秒计时
      phoneCode: '', // 手机校验码
      isInitialPassword: false, // 是否初始密码
      btnLoading: false,
      isGetCodeFlag: false // 记录获取手机验证码请求状态
    }
  },
  watch: {
    phone (val) {
      if (val === '' || this.imgCodeText === '' || this.phoneCode === '') {
        this.opacity = true
      } else {
        this.opacity = false
      }
    },
    imgCodeText (val) {
      if (val === '' || this.phone === '' || this.phoneCode === '') {
        this.opacity = true
      } else {
        this.opacity = false
      }
    },
    phoneCode (val) {
      if (val === '' || this.phone === '' || this.imgCodeText === '') {
        this.opacity = true
      } else {
        this.opacity = false
      }
    },
    btnLoading (val) {
      val ? (this.opacity = true) : (this.opacity = false)
    }
  },
  created () {
    this.getAccountId()

    if (this.$route.params && this.$route.params.phone && this.$route.params.isInitialPassword) {
      this.phone = this.$route.params.phone
      this.isInitialPassword = true
      this.title = '请修改初始登录密码'
      this.navbarTitle = '修改初始密码'
      document.title = '修改初始密码'
    }
  },
  mounted () {
    this.getImageCode()
  },
  methods: {
    telFocus () {
      this.select = true
    },
    telBlur () {
      this.select = false
      this.getImageCode()
    },
    codeFocus () {
      this.selects = true
    },
    codeBlur () {
      this.selects = false
    },
    passFocus () {
      this.selectss = true
    },
    passBlur () {
      this.selectss = false
    },
    getAccountId () {
      if (!this.accountId) {
        api.getAllDatacenters().then(res => {
          if (res && res.length > 1) {
            let defaultAccount = res.find(v => v.default)
            this.accountId = defaultAccount && defaultAccount.accountId
          } else {
            this.accountId = res[0] && res[0].accountId
          }
        })
      }
    },
    nextGo () {
      this.btnLoading = true
      if (!isPhone(this.phone)) {
        this.btnLoading = false
        this.$toast('请输入正确的手机号码')
        this.$refs.phoneInput.focus()
      } else if (!this.imgCodeText) {
        this.btnLoading = false
        this.$toast('请输入验证码')
        this.$refs.imgCodeTextInput.focus()
      } else if (!this.phoneCode) {
        this.btnLoading = false
        this.$toast('请输入手机校验码')
        this.$refs.phoneCodeInput.focus()
      } else {
        this.step1Verify()
      }
    },
    step1Verify () {
      const params = {
        phone: this.phone,
        code: this.phoneCode,
        accountId: this.accountId
      }
      api.verifyPhoneCode(params).then(res => {
        if (res.success) {
          this.$router.replace({
            name: 'forgetReset',
            params: { phone: this.phone, accountId: this.accountId, isInitialPassword: this.isInitialPassword }
          })
        } else {
          this.btnLoading = false
          this.$toast.fail(res.description_cn || res.description || res.msg)
          this.phoneCode = ''
          this.$refs.phoneCodeInput.focus()
        }
      })
    },
    _goPev () {
      this.$router.go(-1)
    },
    _getCode () {
      if (this.isGetCodeFlag) return
      this.isGetCodeFlag = true

      this.getAccountId()

      if (!isPhone(this.phone)) {
        this.$toast('请输入正确的手机号码')
        this.$refs.phoneInput.focus()
        setTimeout(() => {
          this.isGetCodeFlag = false
        }, 1000)
      } else if (!this.imgCodeText || !this.imgCodeText.trim()) {
        this.$toast('请输入验证码')
        this.$refs.imgCodeTextInput.focus()
        setTimeout(() => {
          this.isGetCodeFlag = false
        }, 1000)
      } else {
        api.verifyCode4PwdCq({ phone: this.phone, vCode: this.imgCodeText, token: this.loginId }).then(response => {
          if (response.success) {
            api.verifyPhone({ phone: this.phone, accountId: this.accountId, vCode: this.loginId }).then(res => {
              if (res.success && res.vCodeTime) {
                this.$refs.phoneCodeInput.focus()
                this.$toast('验证码已发送')
                this.cacheImgCodeText = this.imgCodeText
                this.step1loginId = this.loginId
                this.countdown = res.vCodeTime ? +res.vCodeTime / 1000 : 60
                this._settime() // 倒数计时函数
                setTimeout(() => {
                  this.isGetCodeFlag = false
                }, 1000)
              } else {
                this.$toast.fail(res.description || res.msg || '获取验证码失败')
                setTimeout(() => {
                  this.isGetCodeFlag = false
                }, 1000)
              }
            })
          } else {
            this.$toast.fail(response.msg)
            this.imgCodeText = ''
            this.$refs.imgCodeTextInput.focus()
            this.getImageCode()
            setTimeout(() => {
              this.isGetCodeFlag = false
            }, 1000)
          }
        }, err => {
          err.message && this.$toast(err.message)
          setTimeout(() => {
            this.isGetCodeFlag = false
          }, 1000)
        })
      }
    },
    // 获取手机校验图形验证码
    getImageCode () {
      clearTimeout(this.imgCodeTimer)
      api.getVerifyCode({ phone: this.phone }).then(res => {
        if (res) {
          this.imageCode = res.content
          this.loginId = res.vCode
          this.imgCodeTimer = setTimeout(() => {
            this.getImageCode()
          }, +res.vCodeTime || 60000)
        }
      })
    },
    // 60s倒数计时函数
    _settime () {
      if (this.countdown === 0) {
        return
      } else {
        this.countdown--
      }
      setTimeout(() => {
        this._settime()
      }, 1000)
    }
  },
  beforeDestroy () {
    clearTimeout(this.imgCodeTimer)
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.ws-admin-forget {
  width: 100%;
  min-height: calc(100vh - 50px);
  padding-bottom: 50px;
  position: relative;
  @{deep} .van-nav-bar {
    background-color: #E60012;
    .van-icon {
      color: #ffffff !important;
    }
    .van-nav-bar__title {
      color: #ffffff;
    }
  }
  .title {
    display: block;
    padding: 140px 130px 104px;
    .main-title {
      color: #333333;
      font-size: 48px;
    }
    .sub-title {
      margin-top: 16px;
      color: #999999;
      font-size: 26px;
    }
  }
  .userNumber {
    margin: 0 138px;
    display: flex;
    .border-1px(#CCCCCC);
    &.redbor {
      .border-1px(#e33240);
    }
    .left {
      width: 130px;
      font-size: 32px;
      color: #2e3033;
      padding: 8px 0;
      text-align: center;
      &.van-left {
        line-height: 48px;
      }
      .up-icon {
        display: inline-block;
        vertical-align: middle;
        margin-top: -4px;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 10px solid #333333;
      }
    }
    .right {
      width: 100%;
      margin-left: 20px;
      .form-input {
        font-size: 30px;
        padding: 8px 0;
      }
    }
  }
  .validateCodeClz {
    margin: 60px 138px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &.redbor {
      .from-input {
        &:after {
          border-color: #E33240;
        }
      }
    }
    .from-input {
      display: inline-block;
      width: 240px;
      padding: 8px 0;
      font-size: 30px;
      &:after {
        width: 100%;
        left: 0;
        border-color: #CCCCCC;
      }
    }
    .code, .loading {
      display: inline-block;
      margin-left: 10px;
      width: 196px;
      height: 56px;
      border: 1px solid;
    }
    .loading {
      text-align: center;
    }
    .codeDesc {
      height: 40px;
      line-height: 40px;
      .highlight {
        color: #5f83aa;
        cursor: pointer;
        font-style: normal;
        text-decoration: underline;
      }
    }
    .getImageCodeText {
      color: #5f83aa;
      cursor: pointer;
    }
  }
  .validateNum {
    margin: 60px 138px 0;
    display: flex;
    align-items: center;
    .border-1px(#CCCCCC);
    &.redbor {
      .border-1px(#e33240);
    }
    .form-input {
      font-size: 30px;
      padding: 8px 20px 8px 0;
    }
    .random {
      flex-shrink: 0;
      font-size: 28px;
      height: 44px;
      line-height: 44px;
      padding: 0 22px;
      background: #666666;
      border-radius: 22px;
      color: #ffffff;
      font-size: 24px;
      &.can-not-click {
        color: #c8c9cc;
        cursor: not-allowed;
      }
    }
    .time {
      flex-shrink: 0;
      font-size: 28px;
      line-height: 44px;
      color: #999ea4;
      margin-top: -22px;
    }
  }
  .large-btn {
    width: 508px;
    margin: 166px auto 0;
    // padding: 0 40px;
    .next-btn {
      height: 62px;
      background: #E70113;
      border-color: transparent;
      color: #fff;
      opacity: 1;
      &.opacity {
        opacity: 0.5;
      }
    }
  }

  .ws-copyright {
    position: absolute;
    width: 100%;
    bottom: 12px;
    color: #999999;
    font-size: 14px;
    font-family: Microsoft YaHei;
    text-align: center;
  }
}
</style>
