<template>
  <div class="ws-admin-forget-validate">
    <div class="ws-header">
      <van-icon name="arrow-left" class="arrow-left" @click="_goPev"/>
    </div>
    <p class="title">请输入验证码</p>
    <span class="text">已验证手机：{{verifyMobile}}</span>
    <div class="forget-tel" :class="{'redbor' : select}">
      <van-field
        class="telNum-input"
        maxlength="6"
        v-model="telNumber"
        @focus="telFocus"
        @blur="telBlur"
        clearable
        placeholder="请填写验证码"
      />
      <span class="valiNum" v-if="countdown<1" @click="_getCode">获取验证码</span>
      <span class="valiNum time" v-if="countdown>=1">{{countdown}}秒后重新获取</span>
    </div>
    <div class="forget-btn">
      <van-button
        round
        size="large"
        class="login-btn"
        :class="{'large-alp': opacity}"
        @click="nextGo"
      >下一步</van-button>
    </div>

    <!-- 短信验证码的图形验证码 -->
    <van-dialog
      v-model="showModal"
      show-confirm-button
      show-cancel-button
      @confirm="ok"
      @cancel="cancel"
    >
      <div class="modal-style">
        <van-cell-group>
          <span class="desc">验证码：</span>
          <van-field
            :error-message="modalErrorMsg"
            v-model="imgCodeText"
            clearable
            placeholder="请输入验证码"
            class="input"
          />
        </van-cell-group>
        <img :src="imgCode" alt width="98" height="28" class="code">
        <span class="codeDesc">看不清？
          <span class="highlight" @click="getImgCode">换一张</span>
        </span>
      </div>
    </van-dialog>
  </div>
</template>

<script>
import { isPhone } from '@/utils/common.js'
import { api } from '@/api'

export default {
  name: 'forget',
  data () {
    return {
      telNumber: '',
      verifyMobile: '',
      select: false,
      opacity: false,
      countdown: 0, // 倒数60秒计时
      showModal: false,
      imgCode: '', // 图形验证码
      imgCodeTimer: null,
      imgCodeText: '',
      loginId: '', // 图形码随机id
      modalErrorMsg: '', // 弹出框错误提示
      taloginId: '',
      keyPair: '',
      token: '',
      cacheImgCodeText: ''
    }
  },
  created () {
    if (this.$route.params.phone) {
      this.phone = this.$route.params.phone
      this.verifyMobile = this.phone.replace(
        /^(.{3})(?:\d+)(.{4})$/,
        '$1****$2'
      )
    } else {
      this.$router.replace('forget')
    }
  },
  methods: {
    // 弹框点击确认
    ok () {
      let params = { useraccount: this.phone, verifycode: this.imgCodeText, loginid: this.loginId }
      clearTimeout(this.imgCodeTimer)

      api.sendMessage(params).then(res => {
        if (res.success) {
          this.showModal = false
          this.modalErrorMsg = ''
          this.$toast('验证码已发送')
          this.cacheImgCodeText = this.imgCodeText
          this.imgCodeText = ''
          this.taloginId = this.loginId
          // this.countdown = res.timeout ? +res.timeout : 60
          this.countdown = 120 // 固定倒计时时间，并非有效时间
          this._setTime() // 倒数计时函数
        } else {
          this.modalErrorMsg = res.description || res.msg || '获取验证码失败'
          this.getImgCode()
        }
      })
    },
    // 弹框点击取消
    cancel () {
      this.showModal = false
      clearTimeout(this.imgCodeTimer)
      this.imgCodeText = ''
      this.modalErrorMsg = ''
    },
    telFocus () {
      this.select = true
    },
    telBlur () {
      this.select = false
    },
    nextGo () {
      if (!isPhone(this.phone)) {
        this.$toast('请输入正确的手机号码')
      } else if (!this.telNumber) {
        this.$toast('请输入验证码')
      } else if (this.countdown <= 0) {
        this.$toast('验证码已过期')
      } else {
        this.step2login()
      }
    },

    step2login () {
      const params = {
        useraccount: this.phone,
        smsCode: this.telNumber,
        loginid: this.taloginId,
        verifycode: this.cacheImgCodeText,
        loginType: '1'
      }
      api.login(params).then(res => {
        if (+res.errorcode === 0 && res.accesstoken) {
          this.token = res.accesstoken
          if (!this.token) {
            this.$toast('token获取失败')
          } else {
            this.$router.push({
              name: 'forgetReset',
              params: { token: this.token }
            })
          }
        } else {
          // this.$toast.fail(res.description_cn || res.description || res.msg)
          this.$dialog.alert({
            message: res.description_cn || res.description || res.msg
          }).then(() => {

          })
          if ((res.description_cn && res.description_cn.indexOf('验证码超时') > -1) || (res.msg && res.msg.indexOf('验证码不正确') > -1)) {
            this.imgCodeText = ''
          }
        }
      })
    },
    _goPev () {
      this.$router.replace('forget')
    },

    // 60s倒数计时函数
    _setTime () {
      if (this.countdown === 0) {
        return
      } else {
        this.countdown--
      }
      setTimeout(() => {
        this._setTime()
      }, 1000)
    },
    _getCode () {
      this.getImgCode()
    },
    // 获取登录图形验证码
    getImgCode () {
      clearTimeout(this.imgCodeTimer)
      api.verifyCode().then(res => {
        if (res) {
          if (!this.showModal) {
            this.showModal = true
          }
          this.imgCode = res.content
          this.loginId = res.loginId
          this.imgCodeTimer = setTimeout(() => {
            this.getImgCode()
          }, +res.timeout * 1000 || 60000)
        }
      })
    },
    _getKeys () {
      return api.getKeys().then(res => {
        if (res.success) {
          this.keyPair = res.data
          return res.data
        }
      })
    }
  },
  watch: {
    telNumber (val) {
      if (val !== '') {
        this.opacity = true
      }
    }
  },
  beforeDestroy () {
    clearTimeout(this.imgCodeTimer)
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.ws-admin-forget-validate {
  width: 100%;
  height: 100%;
  .ws-header {
    padding: 36px 30px;
    .arrow-left {
      font-size: 32px;
      font-weight: bold;
    }
  }
  .title {
    display: block;
    font-size: 48px;
    padding: 50px 40px 100px;
  }
  .text {
    display: block;
    font-size: 30px;
    line-height: 54px;
    color: #5e6166;
    padding: 0 40px 47px;
  }
  .forget-tel {
    margin: 0 40px;
    position: relative;
    .border-1px(#dfe2e7);
    &.redbor {
      .border-1px(#e33240);
    }
    .telNum-input {
      padding: 24px 340px 24px 0;
      font-size: 32px;
    }
    .valiNum {
      position: absolute;
      right: 0;
      top: 50%;
      font-size: 28px;
      color: #e33240;
      line-height: 36px;
      margin-top: -18px;
    }
    .time{
      color: #000;
    }
  }
  .forget-btn {
    margin-top: 100px;
    padding: 0 40px;
    .login-btn {
      font-size: 32px;
      color: #fff;
      background: linear-gradient(
        90deg,
        rgba(255, 107, 82, 1) 0%,
        rgba(227, 50, 64, 1) 100%
      );
      opacity: 0.5;
      &.large-alp {
        opacity: 1;
      }
    }
  }
}

.modal-style {
  text-align: center;
  margin: 20px 0;
  padding: 20px;
  .modalErrorMsg {
    box-sizing: border-box;
    padding-left: 80px;
    font-size: 24px;
    color: #f95c5c;
    line-height: 20px;
    height: 20px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .desc {
    display: inline-block;
    vertical-align: middle;
    font-size: 28px;
    color: #999ea4;
  }
  .input {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    width: 350px;
    font-size: 28px;
    color: #5e6166;
    border: 1px solid #666;
  }
  .code {
    display: inline-block;
    vertical-align: middle;
    margin-top: 30px;
    /*margin-left: 130px;*/
    width: 196px;
    height: 56px;
    border: 1PX solid;
  }
  .codeDesc {
    display: inline-block;
    vertical-align: middle;
    margin-left: 50px;
    margin-top: 30px;
    font-size: 28px;
    color: #999ea4;
    .highlight {
      color: #5f83aa;
      cursor: pointer;
    }
  }
}
</style>
