<template>
  <div class="ws-admin-forget-reset">
    <div class="ws-header">
      <van-icon name="arrow-left" class="arrow-left" @click="_goPev"/>
    </div>
    <p class="title">{{resetTitle}}</p>
    <span class="text">由字母加数字或符号（至少两种）组成，6-20位半角字符，区分大小写</span>
    <div class="forget-tel" :class="{'redbor' : select}">
      <van-field
        class="telNum-input"
        style="margin-bottom: 15px"
        type="password"
        :maxlength="20"
        v-model="password"
        @focus="telFocus"
        @blur="telBlur"
        clearable
        placeholder="请输入新密码"
      />
    </div>
    <div class="forget-tel" :class="{'redbor' : selects}">
      <van-field
        class="telNum-input"
        type="password"
        :maxlength="20"
        v-model="repeatPassword"
        @focus="telRepeatFocus"
        @blur="telRepeatBlur"
        clearable
        placeholder="请再次输入新密码"
      />
    </div>
    <div class="forget-btn">
      <van-button
        round
        size="large"
        :loading="btnLoading"
        :disabled="btnLoading"
        class="login-btn"
        :class="{'large-alp': opacity}"
        @click="nextGo"
      >确定</van-button>
    </div>
  </div>
</template>

<script>
import { isPassword, randomWord } from '@/utils/common.js'
import { api } from '@/api'
import JSEncrypt from 'jsencrypt'

export default {
  name: 'forget-reset',
  data () {
    return {
      password: '',
      repeatPassword: '',
      phone: '',
      accountId: '', // 数据中心id
      select: false,
      selects: false,
      opacity: false,
      isInitialPassword: false,
      resetTitle: '请重新设置登录密码',
      btnLoading: false // 按钮加载动画
    }
  },
  watch: {
    password (val) {
      if (val !== '' && this.repeatPassword !== '') {
        this.opacity = true
      }
    },
    repeatPassword (val) {
      if (val !== '' && this.password !== '') {
        this.opacity = true
      }
    },
    btnLoading (val) {
      val ? (this.opacity = false) : (this.opacity = true)
    }
  },
  created () {
    if (this.$route.params && this.$route.params.phone) {
      this.phone = this.$route.params.phone
      this.accountId = this.$route.params.accountId
      this.getAccountId()
      if (this.$route.params.isInitialPassword) {
        this.isInitialPassword = true
        this.resetTitle = '请修改初始登录密码'
        document.title = '修改初始密码'
      }
    } else {
      this.$router.replace('forget')
    }
  },
  methods: {
    telFocus () {
      this.select = true
    },
    telBlur () {
      this.select = false
    },
    telRepeatFocus () {
      this.selects = true
    },
    telRepeatBlur () {
      this.selects = false
    },
    getAccountId () {
      if (!this.accountId) {
        api.getAllDatacenters().then(res => {
          if (res && res.length > 1) {
            let defaultAccount = res.find(v => v.default)
            this.accountId = defaultAccount && defaultAccount.accountId
          } else {
            this.accountId = res[0] && res[0].accountId
          }
        })
      }
    },
    _goPev () {
      if (this.isInitialPassword) {
        this.$router.replace({
          name: 'forget',
          params: { phone: this.phone, isInitialPassword: true }
        })
      } else {
        this.$router.replace('forget')
      }
    },
    nextGo () {
      this.btnLoading = true
      if (!isPassword(this.password)) {
        this.btnLoading = false
        this.$toast('请输入正确格式的密码')
      } else if (this.password !== this.repeatPassword) {
        this.btnLoading = false
        this.$toast('两次输入密码不一致')
      } else {
        const accessKey = this.phone + randomWord(false, 5)
        api.getCqPublicKey({ accessKey }).then(res => {
          if (res.success) {
            let jsencrypt = new JSEncrypt()
            jsencrypt.setPublicKey(res.publicKey)
            let encryptedPwd = jsencrypt.encrypt(this.password)

            let params = {
              phone: this.phone,
              password: encryptedPwd,
              accessKey,
              accountId: this.accountId
            }

            api.resetPassword(params).then(res => {
              if (res.success) {
                this.$toast.success('修改成功，请重新登录')
                this.$router.push('loginRandom')
              } else {
                this.btnLoading = false
                this.$toast.fail(res.msg || res.error)
                if (res.overtime) {
                  this._goPev()
                }
              }
            })
          } else {
            this.$toast.fail('修改失败，请重新提交')
            this.btnLoading = false
          }
        })
      }
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.ws-admin-forget-reset {
  width: 100%;
  height: 100%;
  .ws-header {
    padding: 36px 30px;
    .arrow-left {
      font-size: 32px;
      font-weight: bold;
    }
  }
  .title {
    display: block;
    font-size: 48px;
    padding: 50px 40px 100px;
  }
  .text {
    display: block;
    font-size: 30px;
    line-height: 54px;
    color: #5e6166;
    padding: 0 40px 47px;
  }
  .forget-tel {
    margin: 0 40px;
    position: relative;
    .border-1px(#dfe2e7);
    &.redbor {
      .border-1px(#e33240);
    }
    .telNum-input {
      // width: 240px;
      padding: 24px 0;
      font-size: 32px;
    }
    .valiNum {
      position: absolute;
      right: 0;
      top: 50%;
      font-size: 28px;
      color: #e33240;
      line-height: 36px;
      margin-top: -18px;
    }
  }
  .forget-btn {
    margin-top: 100px;
    padding: 0 40px;
    .login-btn {
      font-size: 32px;
      color: #fff;
      background: linear-gradient(
        90deg,
        rgba(255, 107, 82, 1) 0%,
        rgba(227, 50, 64, 1) 100%
      );
      opacity: 0.5;
      &.large-alp {
        opacity: 1;
      }
    }
  }
}
</style>
