<template>
  <div class="ws-admin-forget">
    <div class="ws-header">
      <van-icon name="arrow-left" class="arrow-left" @click="_goPev"/>
    </div>
    <p class="title">{{title}}</p>
    <div class="forget-tel">
      <van-field
        class="telNum-input"
        ref="phoneInput"
        style="margin-bottom: 15px"
        :class="{'redbor' : select}"
        maxlength="11"
        v-model="phone"
        :readonly="isInitialPassword"
        @focus="telFocus"
        @blur="telBlur"
        clearable
        placeholder="请输入手机号码"
      />
      <div style="margin-bottom: 15px">
        <van-field
          class="telNum-input input"
          ref="imgCodeTextInput"
          :class="{'redbor' : selectss}"
          maxlength="4"
          v-model="imgCodeText"
          @focus="passFocus"
          @blur="passBlur"
          clearable
          placeholder="请输入验证码"
        />
        <img v-if="imageCode" :src="imageCode" alt width="98" height="28" class="code">
        <div class="loading" v-else><img src="@/assets/images/loading.gif" alt height="28"></div>
        <span class="codeDesc" v-if="imageCode">看不清？<i class="highlight" @click="getImageCode">换一张</i></span>
        <span class="getImageCodeText" v-else @click="getImageCode">获取图形验证码</span>
      </div>
      <div class="forget-code" :class="{'redbor' : selects}">
        <van-field
          class="telNum-input"
          ref="phoneCodeInput"
          style="margin-bottom: 15px"
          maxlength="6"
          v-model="phoneCode"
          @focus="codeFocus"
          @blur="codeBlur"
          clearable
          placeholder="请填写手机校验码"
        />
        <span class="valiNum" :class="{'can-not-click': isGetCodeFlag}" v-if="countdown < 1" @click="_getCode">获取短信验证码</span>
        <span class="valiNum time" v-if="countdown >= 1">{{countdown}}秒后重新获取</span>
      </div>
    </div>
    <div class="forget-btn">
      <van-button
        round
        size="large"
        :loading="btnLoading"
        :disabled="btnLoading"
        class="login-btn"
        :class="{'large-alp': opacity}"
        @click="nextGo"
      >下一步</van-button>
    </div>
  </div>
</template>

<script>
import { isPhone } from '@/utils/common.js'
import { api } from '@/api'

export default {
  name: 'forget',
  data () {
    return {
      title: '手机找回密码', // 标题
      phone: '',
      imgCodeText: '',
      imageCode: '',
      imgCodeTimer: null,
      loginId: '', // 图形码随机id
      accountId: '', // 数据中心id
      step1loginId: '',
      cacheImgCodeText: '',
      select: false,
      selects: false,
      selectss: false,
      opacity: false,
      countdown: -1, // 倒数60秒计时
      phoneCode: '', // 手机校验码
      isInitialPassword: false, // 是否初始密码
      btnLoading: false,
      isGetCodeFlag: false // 记录获取手机验证码请求状态
    }
  },
  watch: {
    phone (val) {
      if (val !== '' && this.phoneCode !== '') {
        this.opacity = true
      }
    },
    phoneCode (val) {
      if (val !== '' && this.phone !== '') {
        this.opacity = true
      }
    },
    btnLoading (val) {
      val ? (this.opacity = false) : (this.opacity = true)
    }
  },
  created () {
    this.getAccountId()

    if (this.$route.params && this.$route.params.phone && this.$route.params.isInitialPassword) {
      this.phone = this.$route.params.phone
      this.isInitialPassword = true
      this.title = '请修改初始登录密码'
      document.title = '修改初始密码'
    }
  },
  mounted () {
    this.getImageCode()
  },
  methods: {
    telFocus () {
      this.select = true
    },
    telBlur () {
      this.select = false
      this.getImageCode()
    },
    codeFocus () {
      this.selects = true
    },
    codeBlur () {
      this.selects = false
    },
    passFocus () {
      this.selectss = true
    },
    passBlur () {
      this.selectss = false
    },
    getAccountId () {
      if (!this.accountId) {
        api.getAllDatacenters().then(res => {
          if (res && res.length > 1) {
            let defaultAccount = res.find(v => v.default)
            this.accountId = defaultAccount && defaultAccount.accountId
          } else {
            this.accountId = res[0] && res[0].accountId
          }
        })
      }
    },
    nextGo () {
      this.btnLoading = true
      if (!isPhone(this.phone)) {
        this.btnLoading = false
        this.$toast('请输入正确的手机号码')
        this.$refs.phoneInput.focus()
      } else if (!this.imgCodeText) {
        this.btnLoading = false
        this.$toast('请输入验证码')
        this.$refs.imgCodeTextInput.focus()
      } else if (!this.phoneCode) {
        this.btnLoading = false
        this.$toast('请输入手机校验码')
        this.$refs.phoneCodeInput.focus()
      } else {
        this.step1Verify()
      }
    },
    step1Verify () {
      const params = {
        phone: this.phone,
        code: this.phoneCode,
        accountId: this.accountId
      }
      api.verifyPhoneCode(params).then(res => {
        if (res.success) {
          this.$router.replace({
            name: 'forgetReset',
            params: { phone: this.phone, accountId: this.accountId, isInitialPassword: this.isInitialPassword }
          })
        } else {
          this.btnLoading = false
          this.$toast.fail(res.description_cn || res.description || res.msg)
          this.phoneCode = ''
          this.$refs.phoneCodeInput.focus()
        }
      })
    },
    _goPev () {
      this.$router.go(-1)
    },
    _getCode () {
      if (this.isGetCodeFlag) return
      this.isGetCodeFlag = true

      this.getAccountId()

      if (!isPhone(this.phone)) {
        this.$toast('请输入正确的手机号码')
        this.$refs.phoneInput.focus()
        setTimeout(() => {
          this.isGetCodeFlag = false
        }, 1000)
      } else if (!this.imgCodeText || !this.imgCodeText.trim()) {
        this.$toast('请输入验证码')
        this.$refs.imgCodeTextInput.focus()
        setTimeout(() => {
          this.isGetCodeFlag = false
        }, 1000)
      } else {
        api.verifyCode4PwdCq({ phone: this.phone, vCode: this.imgCodeText, token: this.loginId }).then(response => {
          if (response.success) {
            api.verifyPhone({ phone: this.phone, accountId: this.accountId, vCode: this.loginId }).then(res => {
              if (res.success && res.vCodeTime) {
                this.$refs.phoneCodeInput.focus()
                this.$toast('验证码已发送')
                this.cacheImgCodeText = this.imgCodeText
                this.step1loginId = this.loginId
                this.countdown = res.vCodeTime ? +res.vCodeTime / 1000 : 60
                this._settime() // 倒数计时函数
                setTimeout(() => {
                  this.isGetCodeFlag = false
                }, 1000)
              } else {
                this.$toast.fail(res.description || res.msg || '获取验证码失败')
                setTimeout(() => {
                  this.isGetCodeFlag = false
                }, 1000)
              }
            })
          } else {
            this.$toast.fail(response.msg)
            this.imgCodeText = ''
            this.$refs.imgCodeTextInput.focus()
            this.getImageCode()
            setTimeout(() => {
              this.isGetCodeFlag = false
            }, 1000)
          }
        }, err => {
          err.message && this.$toast(err.message)
          setTimeout(() => {
            this.isGetCodeFlag = false
          }, 1000)
        })
      }
    },
    // 获取手机校验图形验证码
    getImageCode () {
      clearTimeout(this.imgCodeTimer)
      api.getVerifyCode({ phone: this.phone }).then(res => {
        if (res) {
          this.imageCode = res.content
          this.loginId = res.vCode
          this.imgCodeTimer = setTimeout(() => {
            this.getImageCode()
          }, +res.vCodeTime || 60000)
        }
      })
    },
    // 60s倒数计时函数
    _settime () {
      if (this.countdown === 0) {
        return
      } else {
        this.countdown--
      }
      setTimeout(() => {
        this._settime()
      }, 1000)
    }
  },
  beforeDestroy () {
    clearTimeout(this.imgCodeTimer)
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.ws-admin-forget {
  width: 100%;
  height: 100%;
  .ws-header {
    padding: 36px 30px;
    .arrow-left {
      font-size: 32px;
      font-weight: bold;
    }
  }
  .title {
    display: block;
    font-size: 48px;
    padding: 50px 40px 76px;
  }
  .forget-tel {
    padding: 0 40px;
    .telNum-input {
      padding: 24px 0;
      font-size: 32px;
      .border-1px(#dfe2e7);
      &.redbor {
        .border-1px(#e33240);
      }
    }
  }
  .forget-code {
    position: relative;
    .border-1px(#dfe2e7);
    &.redbor {
      .border-1px(#e33240);
    }
    .telNum-input {
      padding: 24px 340px 24px 0;
      font-size: 32px;
    }
    .valiNum {
      position: absolute;
      right: 0;
      top: 50%;
      font-size: 28px;
      color: #e33240;
      line-height: 36px;
      margin-top: -18px;
      &.can-not-click {
        color: #c8c9cc;
        cursor: not-allowed;
      }
    }
    .time{
      color: #000;
    }
  }
  .forget-btn {
    margin-top: 100px;
    padding: 0 40px;
    .login-btn {
      font-size: 32px;
      color: #fff;
      background: linear-gradient(
        90deg,
        rgba(255, 107, 82, 1) 0%,
        rgba(227, 50, 64, 1) 100%
      );
      opacity: 0.5;
      &.large-alp {
        opacity: 1;
      }
    }
  }
}

.input {
  display: inline-block;
  vertical-align: middle;
  /*margin-left: 10px;*/
  /*height: 38px;*/
  width: 240px;
  font-size: 28px;
  color: #2e3033;
}
.code, .loading {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  width: 196px;
  height: 56px;
  text-align: right;
  border: 1PX solid;
}
.loading {
  text-align: center;
}
.codeDesc {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  font-size: 28px;
  color: #999ea4;
  .highlight {
    color: #5f83aa;
    cursor: pointer;
    font-style: normal;
    text-decoration: underline;
  }
}
.getImageCodeText {
  color: #5f83aa;
  margin-left: 10px;
  font-size: 28px;
  cursor: pointer;
}
</style>
