<template>
  <div class="ws-admin-login">
    <div class="ws-header">
      <van-icon name="arrow-left" class="arrow-left" @click="_goPev"/>
    </div>

    <div class="ws-logo">
      <i class="ws-inco-logo"></i>
    </div>

    <div class="from-user" :class="{'redbor' : select}">
      <svg-icon class="icon" iconname="login_phone"></svg-icon>
      <van-field
        class="from-input"
        ref="usernameInput"
        maxlength="11"
        v-model="username"
        @focus="userFocus"
        @blur="userBlur"
        clearable
        placeholder="手机号码/账号"
      />
    </div>
   <!-- 这是登录界面 -->
    <div class="validateCodeClz" :class="{'redbor' : selectss}">
      <svg-icon class="icon" iconname="login_imgcode"></svg-icon>
      <van-field
        class="from-input"
        ref="validateCodeInput"
        maxlength="4"
        v-model="imgCodeText"
        @focus="validFocus"
        @blur="validBlur"
        clearable
        placeholder="请输入验证码"
      />
      <img v-if="imgCode" :src="imgCode" alt width="98" height="28" class="code">
      <div class="loading" v-else><img src="@/assets/images/loading.gif" alt height="28"></div>
      <svg-icon class="icon-refresh" :class="{'rotate': refreshIconRotate}" iconname="login_refresh" @click.native="refreshIconClick"></svg-icon>
    </div>

    <div class="from-pass" :class="{'redbor' : selects}">
      <svg-icon class="icon" iconname="login_smscode"></svg-icon>
      <van-field
        class="from-input"
        ref="passwordInput"
        v-model="password"
        @focus="passFocus"
        @blur="passBlur"
        clearable
        placeholder="请输入短信验证码"
      />
      <span class="random" :class="{'can-not-click': isGetCodeFlag}" @click="_getCode" v-if="countdown < 1">获取短信验证码</span>
      <span v-else-if="countdown >= 1" class="time">{{countdown}}秒后重新获取</span>
    </div>

    <div class="bottom-btn">
      <span @click="_passEntry">密码登录</span>
      <!-- <span @click="_goRegister">新用户注册</span> -->
    </div>

    <div class="large-btn">
      <van-button
        round
        size="large"
        loading-text="正在登录..."
        :loading="loginLoading"
        :disabled="loginLoading"
        class="login-btn"
        :class="{'large-alp': opacity}"
        @click="_submit"
      >登&nbsp;&nbsp;&nbsp;&nbsp;录</van-button>

      <van-button
        round
        size="large"
        class="register-btn"
        @click="_goRegister"
      >注&nbsp;&nbsp;&nbsp;&nbsp;册</van-button>
    </div>

    <div class="ws-copyright">© Copyright Reserved WENS</div>
  </div>
</template>

<script>
import { isPhone, getCookie, setCookie } from '@/utils/common'
import { api } from '@/api'
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'login-random',
  data () {
    return {
      username: '',
      password: '',
      select: false, // 手机输入高亮
      selects: false, // // 密码输入高亮
      selectss: false, // 验证码输入高亮
      opacity: false,
      countdown: -1, // 倒数60秒计时
      imgCode: '', // 图形验证码
      imgCodeTimer: null,
      imgCodeText: '',
      loginId: '', // 图形码随机id
      taloginId: '',
      cacheImgCodeText: '',
      loginLoading: false,
      isGetCodeFlag: false, // 记录获取手机验证码请求状态
      refreshIconRotate: false // 刷新图标旋转动画
    }
  },
  computed: {
    ...mapGetters(['channel', 'region', 'allRegion', 'customer'])
  },
  watch: {
    username (val) {
      if (val !== '' && this.password !== '') {
        this.opacity = true
      }
    },
    password (val) {
      if (val !== '' && this.username !== '') {
        this.opacity = true
      }
    },
    loginLoading (val) {
      val ? (this.opacity = false) : (this.opacity = true)
    }
  },
  created () {
    if (getCookie('user_token')) {
      setCookie('user_token', '', -1)
    }

    this.$store.dispatch('setShoppingCartList', [])
    this.$store.dispatch('setMessageList', [])
    this.setChannel({ data: [], flag: 'remainCookie' })
    this.setCustomer({ data: [] })
    if (JSON.stringify(this.$store.state.currentRegion) !== '{}') {
      this.setRegion({ data: { current: this.$store.state.currentRegion, data: this.allRegion.concat({ level: '000', levelName: '省', name: '其它', number: '000' }) } })
    }

    this.getImgCode()
  },
  methods: {
    ...mapActions(['setRegion', 'setChannel', 'setAllChannel', 'setCustomer', 'setJustLoggedIn']),
    // 查询当前用户默认客户以及可购买渠道
    queryCustomer () {
      // 查询当前用户的客户列表及默认客户（列表第一个）
      api.commonCall({}, 'getCustomerList').then(res => {
        if (res.success) {
          // 保存客户列表到vuex
          if (res.data && res.data.list && res.data.list.length) {
            this.setCustomer({ data: res.data.list })
          }
        }

        if (getCookie('selectedRegion')) {
          api.customerAuthQuery({ customerId: this.customer && this.customer.current && this.customer.current.customerId }).then(res => { // 查询用户可购买渠道
            if (res.success && res.status !== 'noData') {
              this.setAllChannel(res.data.list.slice(0, res.data.list.length)) // 保存所有渠道/销售部信息

              this.$store.dispatch('setChannel', { data: res.data.list })

              var validRegion = this.region.data ? this.region.data.filter(item => {
                let obj
                this.channel.list.forEach(i => {
                  if (item.name.indexOf(i.channelAreaName.split('_')[0]) > -1) {
                    obj = item
                  }
                })
                return obj
              }) : []

              var current = JSON.parse(getCookie('selectedRegion'))
              current = validRegion.find(v => current.number === v.number) ? current : validRegion[0]
              // 根据渠道筛选地区
              this.setRegion({
                data: {
                  current,
                  data: validRegion
                }
              })

              // let areaName = this.region && this.region.current && this.region.current.name
              // let list = this.channel.list.filter(v => {
              //   return areaName.indexOf(v.channelAreaName.split('_')[0]) > -1
              // })
              // this.$store.dispatch('setChannel', { data: list.length ? list : this.channel.list })
            } else {
              this.$store.dispatch('setChannel', { data: [] })
            }

            // 获取登录次数，是否显示“新人领券”
            this.getLoginNumber().then(res => {
              if (res.showCoupon) {
                this.$router.replace({
                  name: 'Index',
                  params: {
                    couponInfo: res.couponInfo
                  }
                })
              } else if (this.$route.query.redirect && this.$route.query.redirectParam) {
                this.$router.replace({ name: 'Index', params: { redirectPage: this.$route.query.redirect, redirectPageParam: this.$route.query.redirectParam || JSON.stringify({}) } })
              } else if (this.$route.query.redirect) {
                this.$router.replace({ path: this.$route.query.redirect })
              } else {
                this.$router.replace({ path: '/' })
              }
            })

            // 获取购物车总数和未读消息总数
            this.getCount()
          })
        } else {
          // 获取登录次数，是否显示“新人领券”
          this.getLoginNumber().then(res => {
            if (res.showCoupon) {
              this.$router.replace({
                name: 'Index',
                params: {
                  couponInfo: res.couponInfo
                }
              })
            } else if (this.$route.query.redirect && this.$route.query.redirectParam) {
              this.$router.replace({ name: 'Index', params: { redirectPage: this.$route.query.redirect, redirectPageParam: this.$route.query.redirectParam || JSON.stringify({}) } })
            } else if (this.$route.query.redirect) {
              this.$router.replace({ path: this.$route.query.redirect })
            } else {
              this.$router.replace({ path: '/' })
            }
          })

          // 获取购物车总数和未读消息总数
          this.getCount()
        }
      })
    },
    userFocus () {
      this.select = true
    },
    userBlur () {
      this.select = false
    },
    passFocus () {
      this.selects = true
    },
    passBlur () {
      this.selects = false
    },
    validFocus () {
      this.selectss = true
    },
    validBlur () {
      this.selectss = false
    },
    _passEntry () {
      this.$router.replace({ name: 'login', query: this.$route.query })
    },
    _goRegister () {
      this.$router.push({ name: 'account' })
    },
    _goPev () {
      this.$router.replace('/')
    },
    // 判断用户是否可用
    isMdrCustomer (phone) {
      return new Promise(resolve => {
        if (isPhone(phone)) {
          api.isMdrCustomer({ phone }).then(res => {
            if (res.success) {
              if (+res.data.isCustomer === 1) { // 如果isCustomer为1，账号有效
                resolve(true)
                return
              } else if (+res.data.isCustomer === 0) { // 如果isCustomer为0，非分销用户
                this.$toast('账号为非分销用户，请联系管理员')
                this.$refs.usernameInput.focus()
                resolve(false)
                return
              } else if (+res.data.isCustomer === 2) { // 如果isCustomer为2，委托有效期过期
                this.$toast('委托有效期已过期，请联系委托人')
                this.$refs.usernameInput.focus()
                resolve(false)
                return
              }
              res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
              resolve(false)
            } else {
              this.$toast((res.message && res.message.replace('调用移动分销接口失败：', '')) || '网络异常，请重新登录')
              resolve(false)
            }
          })
        } else {
          this.$toast('手机号码有误')
          this.$refs.usernameInput.focus()
          resolve(false)
        }
      })
    },
    // 60s倒数计时函数
    _setTime () {
      if (this.countdown === 0) {
        return
      } else {
        this.countdown--
      }
      setTimeout(() => {
        this._setTime()
      }, 1000)
    },
    _getCode () {
      if (this.isGetCodeFlag) return
      this.isGetCodeFlag = true

      if (!isPhone(this.username)) {
        this.$toast.fail('请输入正确的手机号码')
        this.$refs.usernameInput.focus()
        setTimeout(() => {
          this.isGetCodeFlag = false
        }, 1000)
      } else if (!this.imgCodeText.trim()) {
        this.$toast.fail('请输入验证码')
        this.$refs.validateCodeInput.focus()
        setTimeout(() => {
          this.isGetCodeFlag = false
        }, 1000)
      } else {
        this.isMdrCustomer(this.username).then(isValid => { // 判断用户是否可用
          if (isValid) {
            let params = { useraccount: this.username, verifycode: this.imgCodeText, loginid: this.loginId }
            clearTimeout(this.imgCodeTimer)

            api.sendMessage(params).then(res => {
              if (res.success) {
                this.$refs.passwordInput.focus()
                this.$toast('验证码已发送')
                this.cacheImgCodeText = this.imgCodeText
                this.taloginId = this.loginId
                // this.countdown = res.timeout ? +res.timeout : 60
                this.countdown = 120 // 固定倒计时时间，并非有效时间
                this._setTime() // 倒数计时函数
                setTimeout(() => {
                  this.isGetCodeFlag = false
                }, 1000)
              } else {
                this.$toast.fail(res.description || res.msg || '获取验证码失败')
                this.imgCodeText = ''
                this.$refs.validateCodeInput.focus()
                this.getImgCode()
                setTimeout(() => {
                  this.isGetCodeFlag = false
                }, 1000)
              }
            }, err => {
              err.message && this.$toast(err.message)
              setTimeout(() => {
                this.isGetCodeFlag = false
              }, 1000)
            })
          } else {
            setTimeout(() => {
              this.isGetCodeFlag = false
            }, 1000)
          }
        })
      }
    },
    // 获取登录图形验证码
    getImgCode () {
      clearTimeout(this.imgCodeTimer)
      api.verifyCode().then(res => {
        if (res) {
          this.imgCode = res.content
          this.loginId = res.loginId
          this.imgCodeTimer = setTimeout(() => {
            this.getImgCode()
          }, +res.timeout * 1000 || 60000)
        }
      })
    },
    // 刷新按钮点击事件
    refreshIconClick () {
      this.refreshIconRotate = true
      setTimeout(() => {
        this.refreshIconRotate = false
      }, 1000)

      this.getImgCode()
    },
    _submit () {
      this.loginLoading = true
      if (!isPhone(this.username)) {
        this.loginLoading = false
        this.$toast.fail('手机号码有误')
        this.$refs.usernameInput.focus()
      } else if (!this.password && !this.imgCodeText) {
        this.loginLoading = false
        this.$toast.fail('请输入验证码')
        this.$refs.validateCodeInput.focus()
      } else if (!this.password) {
        this.loginLoading = false
        this.$toast.fail('请输入短信验证码')
        this.$refs.passwordInput.focus()
      } else {
        this.isMdrCustomer(this.username).then(isValid => { // 判断用户是否可用
          if (isValid) {
            this.taLogin()
          } else {
            this.loginLoading = false
          }
        })
      }
    },
    taLogin () {
      const params = {
        useraccount: this.username,
        smsCode: this.password,
        loginid: this.taloginId,
        verifycode: this.cacheImgCodeText,
        loginType: '1'
      }
      api.login(params).then(res => {
        if (+res.errorcode === 0 && res.accesstoken) {
          let accessToken = res.accesstoken || getCookie('KERPSESSIONID')
          if (accessToken) { // 如果返回存在token，登录成功
            this.setJustLoggedIn(true) // 设置刚登录状态
            sessionStorage.setItem('token', accessToken)
            setCookie('user_token', accessToken, 7)

            api.userInfo().then(res => { // 查询用户信息（包括是否为司机）
              if (res.success) {
                sessionStorage.setItem('br-custom-key', res.data.phone)
                sessionStorage.setItem('userInfo', JSON.stringify(res.data))
                sessionStorage.setItem('isDriver', res.data.isDriver)
                // 判断是否为司机
                if (res.data.isDriver === '1') { // 如果是司机
                  this.$router.replace({ path: '/order', query: { orderType: 0, index: 0, businessIndex: 0, biztypeId: '' } })
                  // 查询当前用户的所有客户
                  api.commonCall({}, 'getCustomerList').then(res => {
                    if (res.success) {
                      // 保存客户列表到vuex
                      if (res.data && res.data.list && res.data.list.length) {
                        this.setCustomer({ data: res.data.list })
                      }
                    }
                  })
                } else { // 如果不是司机
                  this.queryCustomer() // 查询当前用户默认客户以及可购买渠道
                  this.addMemberIntegral() // 增加会员积分
                }
                this.bindWxOpenId() // 绑定wxOpenId
              } else {
                this.loginLoading = false
                this.$toast.fail('登录失败，请重新登录')
                res.message && this.$toast({ position: 'bottom', message: res.message.replace('调用移动分销接口失败：', '') })
                sessionStorage.setItem('userInfo', JSON.stringify({}))

                // 登出（清除token）
                api.logout().then(res => {
                  this.setJustLoggedIn(false) // 设置刚登录状态
                  sessionStorage.removeItem('token')
                  if (getCookie('user_token')) {
                    setCookie('user_token', '', -1)
                  }
                })
              }
            })
          }
        } else if (res.errorcode === 'needVerification' && (!res.description_cn && !res.description)) { // 需要短信验证码验证
          this.$toast.fail('请先获取短信验证码')
          this.loginLoading = false
          this.password = ''
          this.$refs.passwordInput.focus()
        } else {
          this.loginLoading = false
          // this.$toast.fail(res.description_cn || res.description || res.msg)
          if (res.description_cn || res.description || res.msg) {
            this.$dialog.alert({
              message: res.description_cn || res.description || res.msg
            }).then(() => {

            })
          }

          if (res.description_cn && res.description_cn.indexOf('验证码超时') > -1) {
            this.imgCodeText = ''
            this.password = ''
            this.$refs.validateCodeInput.focus()
            this.getImgCode()
          } else if (res.msg && res.msg.indexOf('手机验证码不正确') > -1) {
            this.password = ''
            this.$refs.passwordInput.focus()
          }
        }
      }, err => {
        this.loginLoading = false
        this.$toast.fail(err.message || '登录失败，请重新登录')
      })
    },
    // 登录增加会员积分
    addMemberIntegral () {
      api.commonCall({ behavior: 'B' }, 'saveMemberScore').then(res => {})
    },
    // 获取新人优惠券信息，并增加登录次数
    getLoginNumber () {
      return api.commonCall({}, 'getLoginNumber').then(res => {
        if (res.success) {
          if (res.data.loginNum === 1 && res.data.id) {
            return { showCoupon: true, couponInfo: res.data }
          }
        }
        return { showCoupon: false, couponInfo: {} }
      })
    },
    // 获取购物车总数和未读消息总数
    getCount () {
      let param = {
        page: 1,
        pageSize: 999,
        isGetCountOnly: 1,
        customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
      }
      if (this.$store.state.intoPage === 0 && getCookie('selectedChannel')) {
        param.owner = JSON.parse(getCookie('selectedChannel')).channelId
      } else if (this.$store.state.intoPage === 1 && this.$store.state.channel.currentChannel && this.$store.state.channel.currentChannel.channelId) {
        param.owner = this.$store.state.channel.currentChannel.channelId
      }
      api.queryCart(param).then(res => {
        if (res.success) {
          this.$store.dispatch('setShoppingCartCount', res.data.count)
        }
      })
      api.commonCall({}, 'noticeNoReadCountQuery').then(res => {
        if (res.success) {
          this.$store.dispatch('setMessageCount', +res.data.noReadCount)
        }
      })
    },
    // 绑定wxOpenId
    bindWxOpenId () {
      let sessionId = this.$route.query.sessionId || sessionStorage.getItem('sessionId')
      if (sessionId) {
        api.commonCall({ account: this.username, sessionId: sessionId.split('_')[0] }, 'bindOpenId').then(res => {
          if (res.success) {
            this.$toast({
              duration: 4000, // 展示时长
              message: '绑定微信成功，下次将自动登录'
            })
          }
        })
      }
    }
  },
  beforeRouteLeave (to, from, next) {
    this.$store.dispatch('setTokenInvalidFlag', true)
    next()
  },
  beforeDestroy () {
    clearTimeout(this.imgCodeTimer)
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.ws-admin-login {
  width: 100%;
  min-height: calc(100vh - 50px);
  padding-bottom: 50px;
  position: relative;
  background-position: top center;
  background-size: 100% 486px;
  background-repeat: no-repeat;
  .bg-img('~@/assets/images/new-version/login/top-bg');
  .ws-header {
    padding: 36px 30px;
    .arrow-left {
      color: #ffffff;
      font-size: 32px;
      font-weight: bold;
    }
  }
  .ws-logo {
    text-align: center;
    margin-bottom: 130px;
    .ws-inco-logo {
      display: inline-block;
      width: 246px;
      height: 242px;
      background-position: center;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      .bg-img('~@/assets/images/new-version/login/wens-logo');
    }
  }
  .from-user {
    width: 518px;
    margin: 210px auto 0;
    display: flex;
    align-items: center;
    &.redbor {
      .from-input {
        &::after {
          border-color: #bebebe;
        }
      }
    }
    .icon {
      flex-shrink: 0;
      font-size: 48px;
      margin-right: 6px;
    }
    .from-input {
      font-size: 30px;
      padding: 8px 0 8px 4px;
      &::after {
        border-bottom: 0;
      }
      .border-1px(#CCCCCC);
    }
  }
  .validateCodeClz {
    width: 518px;
    margin: 36px auto 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &.redbor {
      .from-input {
        &::after {
          border-color: #E33240;
        }
      }
    }
    .icon {
      flex-shrink: 0;
      font-size: 48px;
      margin-right: 6px;
    }
    .from-input {
      display: inline-block;
      flex: 1;
      padding: 8px 0 8px 4px;
      font-size: 30px;
      &::after {
        border-bottom: 0;
      }
      .border-1px(#CCCCCC);
    }
    .code, .loading {
      display: inline-block;
      margin-left: 6px;
      width: 140px;
      height: 58px;
      flex: 0 0 140px;
      border: 1px solid;
    }
    .loading {
      text-align: center;
    }
    .icon-refresh {
      font-size: 44px;
      flex: 0 0 44px;
      cursor: pointer;
      &.rotate {
        animation: rotation 1s ease-out;
      }
      /* 刷新旋转动画 */
      @keyframes rotation {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
    }
  }
  .from-pass {
    width: 518px;
    position: relative;
    margin: 36px auto 0;
    display: flex;
    align-items: center;
    &.redbor {
      .from-input {
        &::after {
          border-color: #e33240;
        }
      }
    }
    .icon {
      flex-shrink: 0;
      font-size: 48px;
      margin-right: 6px;
    }
    .from-input {
      font-size: 30px;
      padding: 8px 20px 8px 0;
      &::after {
        border-bottom: 0;
      }
      .border-1px(#CCCCCC);
    }
    .random {
      box-sizing: border-box;
      flex-shrink: 0;
      // width: 148px;
      height: 46px;
      line-height: 46px;
      margin-left: 8px;
      padding: 0 12px;
      // border: 1px solid #00f5ff;
      border-radius: 6px;
      font-size: 24px;
      color: #00f5ff;
      &.can-not-click {
        color: #c8c9cc;
        border-color: #c8c9cc;
        cursor: not-allowed;
      }
    }
    .time {
      flex-shrink: 0;
      font-size: 26px;
      line-height: 44px;
      color: #999ea4;
    }
  }
  .bottom-btn {
    width: 518px;
    margin: 48px auto 0;
    display: flex;
    justify-content: space-between;
    span {
      font-size: 24px;
      color: #00f5ff;
    }
  }
  .large-btn {
    width: 508px;
    margin: 58px auto 0;
    .login-btn {
      height: 62px;
      background: #00f5ff;
      border-color: transparent;
      color: #fff;
      opacity: 0.5;
      font-size: 36px;
      &.large-alp {
        opacity: 1;
      }
    }
    .register-btn {
      margin-top: 42px;
      height: 62px;
      background: linear-gradient(90deg, #00f5ff, #00f5ff);
      border-color: transparent;
      color: #fff;
      font-size: 36px;
    }
  }
  .ws-copyright {
    position: absolute;
    width: 100%;
    bottom: 12px;
    color: #999999;
    font-size: 14px;
    font-family: Microsoft YaHei;
    text-align: center;
  }
}
</style>
