<template>
  <div class="ws-admin-login">
    <div class="ws-header">
      <van-icon name="arrow-left" class="arrow-left" @click="_goPev"/>
    </div>
    <div class="ws-logo">
      <i class="ws-inco-logo"></i>
    </div>
    <div class="from-user" :class="{'redbor' : select}">
      <van-field
        class="from-input"
        ref="usernameInput"
        maxlength="11"
        v-model="username"
        @focus="userFocus"
        @blur="userBlur"
        clearable
        placeholder="请输入手机号码"
      />
    </div>
    <div class="from-pass" :class="{'redbor' : selects}">
      <van-field
        class="from-input"
        ref="passwordInput"
        v-model="password"
        @focus="passFocus"
        @blur="passBlur"
        clearable
        type="password"
        placeholder="请输入密码"
      />
      <span class="forget" @click="_forgetPass">忘记密码？</span>
    </div>

    <div v-if="errorCount >= 3" class="validateCodeClz" :class="{'redbor' : selectss}">
      <van-field
        class="from-input"
        ref="validateCodeInput"
        maxlength="4"
        v-model="validateCode"
        @focus="validFocus"
        @blur="validBlur"
        clearable
        placeholder="请输入验证码"
      />
      <img v-if="imageCode" :src="imageCode" alt width="98" height="28" class="code">
      <div class="loading" v-else><img src="@/assets/images/loading.gif" alt height="28"></div>
      <span class="codeDesc" v-if="imageCode">看不清？<i class="highlight" @click="getImageCode">换一张</i></span>
      <span class="getImageCodeText" v-else @click="getImageCode">获取图形验证码</span>
    </div>

    <div class="large-btn">
      <van-button
        round
        size="large"
        loading-text="正在登录..."
        :loading="loginLoading"
        :disabled="loginLoading"
        class="login-btn"
        :class="{'large-alp': opacity}"
        @click="_submit"
      >登录</van-button>
    </div>
    <div class="botom-btn">
      <span @click="_passRandomEntry">短信验证码登录</span>
      <span @click="_goRegister">新用户注册</span>
    </div>
  </div>
</template>

<script>
import { isPhone, setCookie, getCookie, randomWord } from '@/utils/common'
import { api } from '@/api'
import { mapActions, mapGetters } from 'vuex'
import JSEncrypt from 'jsencrypt'

export default {
  name: 'login',
  data () {
    return {
      username: '',
      password: '',
      select: false, // 手机输入高亮
      selects: false, // 密码输入高亮
      selectss: false, // 验证码输入高亮
      opacity: false,
      keyPair: null, // RSA加密 key值
      imageCode: '',
      validateCode: '',
      errorCount: 0,
      loginLoading: false
    }
  },
  computed: {
    ...mapGetters(['channel', 'region', 'allRegion', 'customer'])
  },
  watch: {
    errorCount (val) {
      if (this.errorCount >= 3) {
        this.getImageCode()
      }
    },
    username (val) {
      if (val !== '' && this.password !== '') {
        this.opacity = true
      }
    },
    password (val) {
      if (val !== '' && this.username !== '') {
        this.opacity = true
      }
    },
    loginLoading (val) {
      val ? (this.opacity = false) : (this.opacity = true)
    }
  },
  created () {
    if (getCookie('user_token')) {
      setCookie('user_token', '', -1)
    }

    this.$store.dispatch('setShoppingCartList', [])
    this.$store.dispatch('setMessageList', [])
    this.setChannel({ data: [], flag: 'remainCookie' })
    this.setCustomer({ data: [] })
    if (JSON.stringify(this.$store.state.currentRegion) !== '{}') {
      this.setRegion({ data: { current: this.$store.state.currentRegion, data: this.allRegion.concat({ level: '000', levelName: '省', name: '其它', number: '000' }) } })
    }
  },
  methods: {
    ...mapActions(['setRegion', 'setChannel', 'setAllChannel', 'setCustomer', 'setJustLoggedIn']),
    // 查询当前用户默认客户以及可购买渠道
    queryCustomer () {
      // 查询当前用户的客户列表及默认客户（列表第一个）
      api.commonCall({}, 'getCustomerList').then(res => {
        if (res.success) {
          // 保存客户列表到vuex
          if (res.data && res.data.list && res.data.list.length) {
            this.setCustomer({ data: res.data.list })
          }
        }

        if (getCookie('selectedRegion')) {
          api.customerAuthQuery({ customerId: this.customer && this.customer.current && this.customer.current.customerId }).then(res => { // 查询用户可购买渠道
            if (res.success && res.status !== 'noData') {
              this.setAllChannel(res.data.list.slice(0, res.data.list.length)) // 保存所有渠道/销售部信息

              this.$store.dispatch('setChannel', { data: res.data.list })

              var validRegion = this.region.data ? this.region.data.filter(item => {
                let obj
                this.channel.list.forEach(i => {
                  if (item.name.indexOf(i.channelAreaName.split('_')[0]) > -1) {
                    obj = item
                  }
                })
                return obj
              }) : []

              var current = JSON.parse(getCookie('selectedRegion'))
              current = validRegion.find(v => current.number === v.number) ? current : validRegion[0]
              // 根据渠道筛选地区
              this.setRegion({
                data: {
                  current,
                  data: validRegion
                }
              })

              // let areaName = this.region && this.region.current && this.region.current.name
              // let list = this.channel.list.filter(v => {
              //   return areaName.indexOf(v.channelAreaName.split('_')[0]) > -1
              // })
              // this.$store.dispatch('setChannel', { data: list.length ? list : this.channel.list })
            } else {
              this.$store.dispatch('setChannel', { data: [] })
            }

            // 获取登录次数，是否显示“新人领券”
            this.getLoginNumber().then(res => {
              if (res.showCoupon) {
                this.$router.replace({
                  name: 'Index',
                  params: {
                    couponInfo: res.couponInfo
                  }
                })
              } else if (this.$route.query.redirect && this.$route.query.redirectParam) {
                this.$router.replace({ name: 'Index', params: { redirectPage: this.$route.query.redirect, redirectPageParam: this.$route.query.redirectParam || JSON.stringify({}) } })
              } else if (this.$route.query.redirect) {
                this.$router.replace({ path: this.$route.query.redirect })
              } else {
                this.$router.replace({ path: '/' })
              }

              // 获取购物车总数和未读消息总数
              this.getCount()
            })
          })
        } else {
          // 获取登录次数，是否显示“新人领券”
          this.getLoginNumber().then(res => {
            if (res.showCoupon) {
              this.$router.replace({
                name: 'Index',
                params: {
                  couponInfo: res.couponInfo
                }
              })
            } else if (this.$route.query.redirect && this.$route.query.redirectParam) {
              this.$router.replace({ name: 'Index', params: { redirectPage: this.$route.query.redirect, redirectPageParam: this.$route.query.redirectParam || JSON.stringify({}) } })
            } else if (this.$route.query.redirect) {
              this.$router.replace({ path: this.$route.query.redirect })
            } else {
              this.$router.replace({ path: '/' })
            }

            // 获取购物车总数和未读消息总数
            this.getCount()
          })
        }
      })
    },
    // 获取图形验证码
    getImageCode () {
      if (!isPhone(this.username)) {
        this.$toast.fail('请输入正确的手机号码')
        this.$refs.usernameInput.focus()
        return
      }

      clearTimeout(this.imageCodeTimer)
      api.verifyCode().then(res => {
        if (res) {
          this.imageCode = res.content
          this.loginId = res.loginId
          this.imageCodeTimer = setTimeout(() => {
            this.getImageCode()
          }, +res.timeout * 1000 || 60000)
        }
      })
    },
    userFocus () {
      this.select = true
    },
    userBlur () {
      this.select = false
    },
    passFocus () {
      this.selects = true
    },
    passBlur () {
      this.selects = false
    },
    validFocus () {
      this.selectss = true
    },
    validBlur () {
      this.selectss = false
    },
    _passRandomEntry () {
      this.$router.replace({ name: 'loginRandom', query: this.$route.query })
    },
    _forgetPass () {
      this.$router.push({ name: 'forget' })
    },
    _goRegister () {
      this.$router.push({ name: 'account' })
    },
    _goPev () {
      this.$router.replace('/')
    },
    _submit () {
      this.loginLoading = true
      if (!isPhone(this.username)) {
        this.loginLoading = false
        this.$toast.fail('手机号码有误')
        this.$refs.usernameInput.focus()
      } else if (!this.password) {
        this.loginLoading = false
        this.$toast.fail('请输入密码')
        this.$refs.passwordInput.focus()
      } else if (this.errorCount >= 3 && !this.validateCode.trim()) { // 输错密码10次或以上
        this.loginLoading = false
        this.$toast.fail('请输入验证码')
        this.$refs.validateCodeInput.focus()
      } else {
        this.isMdrCustomer(this.username).then(isValid => { // 判断用户是否可用
          if (isValid) {
            this.pwLogin()
          } else {
            this.loginLoading = false
          }
        })
      }
    },
    pwLogin () {
      const accessKey = this.username + randomWord(false, 5)
      api.getCqPublicKey({ accessKey }).then(res => {
        if (res.success) {
          let jsencrypt = new JSEncrypt()
          jsencrypt.setPublicKey(res.publicKey)
          let encryptedPwd = jsencrypt.encrypt(this.password)

          let params = {
            useraccount: this.username,
            password: encryptedPwd,
            accessKey,
            loginType: '2'
          }

          if (this.errorCount >= 3) { // 如果输错密码3次或以上，需要图形验证码
            params.verifycode = this.validateCode
            params.loginid = this.loginId
          }

          api.login(params).then(res => {
            this.validateCode = ''
            if (+res.errorcode === 0) {
              this.errorCount = 0
              let accessToken = getCookie('KERPSESSIONID')
              if (accessToken) { // 如果返回存在token，登录成功
                // 判断是否为用户的初始密码
                if (res.needChangeInitialPwd === 1) {
                  res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
                  this.$router.push({
                    name: 'forget',
                    params: { phone: this.username, isInitialPassword: true }
                  })
                  return
                }

                this.setJustLoggedIn(true) // 设置刚登录状态
                sessionStorage.setItem('token', accessToken)
                setCookie('user_token', accessToken, 7)

                api.userInfo().then(res => { // 查询用户信息（包括是否为司机）
                  if (res.success) {
                    sessionStorage.setItem('br-custom-key', res.data.phone)
                    sessionStorage.setItem('userInfo', JSON.stringify(res.data))
                    sessionStorage.setItem('isDriver', res.data.isDriver)
                    // 判断是否为司机
                    if (res.data.isDriver === '1') { // 如果是司机
                      this.$router.replace({ path: '/order', query: { orderType: 0, index: 0, businessIndex: 0, biztypeId: '' } })
                      // 查询当前用户的所有客户
                      api.commonCall({}, 'getCustomerList').then(res => {
                        if (res.success) {
                          // 保存客户列表到vuex
                          if (res.data && res.data.list && res.data.list.length) {
                            this.setCustomer({ data: res.data.list })
                          }
                        }
                      })
                    } else { // 如果不是司机
                      this.queryCustomer() // 查询当前用户默认客户以及可购买渠道
                      this.addMemberIntegral() // 增加会员积分

                      // 绑定wxOpenId
                      let sessionId = this.$route.query.sessionId || sessionStorage.getItem('sessionId')
                      if (sessionId) {
                        api.commonCall({ account: this.username, sessionId: sessionId.split('_')[0] }, 'bindOpenId').then(res => {
                          if (res.success) {
                            this.$toast({
                              duration: 4000, // 展示时长
                              message: '绑定微信成功，下次将自动登录'
                            })
                          }
                        })
                      }
                    }
                  } else {
                    this.loginLoading = false
                    this.$toast.fail('登录失败，请重新登录')
                    res.message && this.$toast({ position: 'bottom', message: res.message.replace('调用移动分销接口失败：', '') })
                    sessionStorage.setItem('userInfo', JSON.stringify({}))

                    // 登出（清除token）
                    api.logout().then(res => {
                      this.setJustLoggedIn(false) // 设置刚登录状态
                      sessionStorage.removeItem('token')
                      if (getCookie('user_token')) {
                        setCookie('user_token', '', -1)
                      }
                    })
                  }
                })
              }
            } else if (res.errorcode === 'needVerification' && (!res.description_cn && !res.description)) { // 需要图形验证
              this.$toast.fail('请输入验证码')
              this.loginLoading = false
              this.errorCount = 3
            } else {
              this.loginLoading = false
              // this.$toast.fail(res.description_cn || res.description || res.msg)
              if (res.description_cn || res.description || res.msg) {
                this.$dialog.alert({
                  message: res.description_cn || res.description || res.msg
                }).then(() => {

                })
              }

              if (res.description_cn && res.description_cn.indexOf('密码错误，还可尝试') > -1) {
                this.password = ''
                this.$refs.passwordInput.focus()
                let aPos = res.description_cn.indexOf('试')
                let bPos = res.description_cn.indexOf('次')
                let trialError = +res.description_cn.substring(aPos + 1, bPos)
                api.getLockCount({ phone: this.username }).then(res => { // 计算密码输错次数
                  if (res.success) {
                    this.errorCount = +res.data.lockCount - trialError
                  }
                })
              } else if (res.description_cn && res.description_cn.indexOf('锁定') > -1) {
                this.errorCount = 3
              } else if (res.description_cn && (res.description_cn.indexOf('验证码超时') > -1 || res.description_cn.indexOf('验证码错误') > -1)) {
                this.getImageCode()
              }
            }
          })
        } else {
          this.loginLoading = false
          this.$toast.fail(res.errorMessage || '登录失败，请重新登录')
        }
      }, err => {
        this.loginLoading = false
        this.$toast.fail(err.message || '登录失败，请重新登录')
      })
    },
    // 判断用户是否可用
    isMdrCustomer (phone) {
      return new Promise(resolve => {
        if (isPhone(phone)) {
          api.isMdrCustomer({ phone }).then(res => {
            if (res.success) {
              if (+res.data.isCustomer === 1) { // 如果isCustomer为1，账号有效
                resolve(true)
                return
              } else if (+res.data.isCustomer === 0) { // 如果isCustomer为0，非分销用户
                this.$toast('账号为非分销用户，请联系管理员')
                this.$refs.usernameInput.focus()
                resolve(false)
                return
              } else if (+res.data.isCustomer === 2) { // 如果isCustomer为2，委托有效期过期
                this.$toast('委托有效期已过期，请联系委托人')
                this.$refs.usernameInput.focus()
                resolve(false)
                return
              }
              res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
              resolve(false)
            } else {
              this.$toast((res.message && res.message.replace('调用移动分销接口失败：', '')) || '网络异常，请重新登录')
              resolve(false)
            }
          })
        } else {
          this.$toast('手机号码有误')
          this.$refs.usernameInput.focus()
          resolve(false)
        }
      })
    },
    // 登录增加会员积分
    addMemberIntegral () {
      api.commonCall({ behavior: 'B' }, 'saveMemberScore').then(res => {})
    },
    // 获取新人优惠券信息，并增加登录次数
    getLoginNumber () {
      return api.commonCall({}, 'getLoginNumber').then(res => {
        if (res.success) {
          if (res.data.loginNum === 1 && res.data.id) {
            return { showCoupon: true, couponInfo: res.data }
          }
        }
        return { showCoupon: false, couponInfo: {} }
      })
    },
    // 获取购物车总数和未读消息总数
    getCount () {
      api.queryCart({ page: 1, pageSize: 999, isGetCountOnly: 1, customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId }).then(res => {
        if (res.success) {
          this.$store.dispatch('setShoppingCartCount', res.data.count)
        }
      })
      api.commonCall({}, 'noticeNoReadCountQuery').then(res => {
        if (res.success) {
          this.$store.dispatch('setMessageCount', +res.data.noReadCount)
        }
      })
    }
  },
  beforeRouteLeave (to, from, next) {
    this.$store.dispatch('setTokenInvalidFlag', true)
    next()
  },
  beforeDestroy () {
    clearTimeout(this.imageCodeTimer)
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.validateCodeClz {
  width: 670px;
  margin: 36px auto 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &.redbor {
    .from-input {
      &:after {
        border-color: #E33240;
      }
    }
  }
  .from-input {
    display: inline-block;
    width: 240px;
    padding: 20px 0;
    &:after {
      left: 0;
    }
    @{deep} .van-field__control {
      font-size: 32px !important;
      &::placeholder {
        font-size: 32px;
      }
    }
  }
  .code, .loading {
    display: inline-block;
    margin-left: 10px;
    width: 196px;
    height: 56px;
    border: 1PX solid;
  }
  .loading {
    text-align: center;
  }
  .codeDesc {
    height: 40px;
    line-height: 40px;
    .highlight {
      color: #5f83aa;
      cursor: pointer;
      font-style: normal;
      text-decoration: underline;
    }
  }
  .getImageCodeText {
    color: #5f83aa;
    cursor: pointer;
  }
}

.ws-admin-login {
  width: 100%;
  height: 100%;
  .ws-header {
    padding: 36px 30px;
    .arrow-left {
      font-weight: bold;
      font-size: 32px;
    }
  }
  .ws-logo {
    text-align: center;
    .ws-inco-logo {
      display: inline-block;
      width: 380px;
      height: 160px;
    }
    .ws-inco-logo {
      .bg-img('~@/assets/images/login/loginLogo');
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
  }
  .from-user {
    width: 670px;
    margin: 76px auto 0;
    .border-1px(#DFE2E7);
    &.redbor {
      .border-1px(#E33240);
    }
    .van-cell {
      padding: 20px 0;
    }
    .from-input {
      font-size: 32px;
    }
  }
  .from-pass {
    width: 670px;
    position: relative;
    margin: 60px auto 0;
    .border-1px(#DFE2E7);
    &.redbor {
      .border-1px(#E33240);
    }
    .van-cell {
      padding: 20px 160px 20px 0;
    }
    .from-input {
      font-size: 32px;
    }
    .forget {
      position: absolute;
      right: 0;
      top: 50%;
      font-size: 28px;
      line-height: 44px;
      margin-top: -22px;
      color: #2E3033;
    }
  }
  .large-btn {
    width: 670px;
    margin: 100px auto 0;
    .login-btn {
      background: linear-gradient(90deg, rgba(255, 107, 82, 1) 0%, rgba(227, 50, 64, 1) 100%);
      color: #fff;
      opacity: 0.5;
      font-size: 32px;
      &.large-alp {
        opacity: 1;
      }
    }
  }
  .botom-btn {
    width: 670px;
    margin: 50px auto 0;
    display: flex;
    justify-content: space-between;
    span {
      font-size: 28px;
      color: #428BE9;
    }
  }
}
</style>
