<template>
  <div class="vrecommend-item">
    <div class="single" v-if="+data.itemType === 1">
      <span>非单卖品</span>
    </div>
    <img
      v-lazy="allImgDomainName + data.thumbnail"
      @click="goDetail(data.id, data.itemType, data.combItemId, data.isZZItem)"
    >
    <p class="allPolicyName" v-if="data.combName">{{data.combName}}</p>
    <p class="name" @click="goDetail(data.id, data.itemType, data.combItemId, data.isZZItem)">{{data.itemName}}</p>
    <p class="desc" @click="goShop(data.ownerId)">{{data.storeName || data.ownerName}}</p>
    <p class="price" v-if="token && data.price">
      <span>{{data.price ? (data.price.toString().split('.')[0] || '0') : '0'}}</span>
      <b>.{{data.price
        ? (data.price.toString().split('.')[1]
          ? (data.price.toString().split('.')[1].length === 1
            ? data.price.toString().split('.')[1] + '0'
            : data.price.toString().split('.')[1])
          : '00')
        : '00'}} 元/{{data.saleUnitName}}</b>
    </p>
    <p class="coming-soon" v-else-if="token && !data.price">敬请期待</p>
    <p class="price" v-else-if="!token && data.referencePrice">
      <span>{{data.referencePrice ? (data.referencePrice.toString().split('.')[0] || '0') : '0'}}</span>
      <b>.{{data.referencePrice
        ? (data.referencePrice.toString().split('.')[1]
          ? (data.referencePrice.toString().split('.')[1].length === 1
            ? data.referencePrice.toString().split('.')[1] + '0'
            : data.referencePrice.toString().split('.')[1])
          : '00')
        : '00'}} 元/{{data.saleUnitName}}&nbsp;(市场价)</b>
    </p>
    <p class="coming-soon" v-else>敬请期待</p>
  </div>
</template>

<script>
import { allImgDomainNameMixin } from '@/assets/js/mixin'

export default {
  name: 'vrecommmend-item',
  mixins: [allImgDomainNameMixin],
  props: {
    data: {
      type: Object,
      required: true
    }
  },
  data () {
    return {

    }
  },
  created () {

  },
  methods: {
    // 查看商品详情
    goDetail (id, type, combItemId, isZZItem) {
      this.$router.push({ path: isZZItem !== '1' ? '/goodsDetails' : '/breedingPigDetails', query: { id, type, combItemId } })
    },
    goShop (ownerId) {
      this.$router.push({ path: '/shop', query: { ownerId } })
    }
  }
}
</script>
