<template>
  <div class="vrecommend-wrap">
    <div class="vrecommend-title">
      <i class="left"></i>
      <span>为你推荐</span>
      <i class="right"></i>
    </div>
    <div class="vrecommend-list-wrap">
      <div class="vrecommend-list" v-for="(v, i) in list" :key="i">
        <vrecommend-item :data="v"></vrecommend-item>
      </div>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
import VrecommendItem from '@/components/vrecommend/vrecommend-item'
export default {
  name: 'vrecommend',
  props: {
    list: {
      type: Array,
      default: () => ([])
    }
  },
  components: {
    VrecommendItem
  }
}
</script>

<style scoped lang="less">
@import "~@/assets/css/mixin.less";

.vrecommend-wrap {
  background-color: #ffffff;
  i,
  b,
  em {
    font-weight: normal;
    font-style: normal;
  }
  .vrecommend-title {
    font-size: 0;
    text-align: center;
    padding: 40px 0;
    i,
    span {
      display: inline-block;
      vertical-align: middle;
    }
    i {
      width: 32px;
      height: 12px;
      background-repeat: no-repeat;
      background-size: 32px 12px;
      &.left {
        .bg-img("./Group");
      }
      &.right {
        .bg-img("./Group2");
      }
    }
    span {
      font-size: 32px;
      color: #2e3033;
      font-weight: 500;
      line-height: 32px;
      margin: 0 16px;
    }
  }
  .vrecommend-list-wrap {
    font-size: 0;
    .vrecommend-list {
      display: inline-block;
      width: 340px;
      margin-left: 23px;
      margin-bottom: 23px;
      @{deep} .vrecommend-item {
        position: relative;
        overflow: hidden;
        .single {
          position: absolute;
          width: 100%;
          left: -50%;
          top: -75px;
          height: 150px;
          transform: rotate(-45deg);
          >span {
            font-size: 24px;
            background: rgba(255, 0, 0, 0.9);
            color: white;
            width: 100%;
            position: absolute;
            bottom: 0;
            text-align: center;
          }
        }
        img {
          width: 340px;
          height: 340px;
          border-radius: 12px;
        }
        p {
          &.allPolicyName {
            height: 45px;
            line-height: 45px;
            position: absolute;
            left: 0;
            top: 295px;
            width: 100%;
            background: rgba(255, 0, 0, .5);
            color: rgba(255, 255, 255, .9);
            font-size: 28px;
            padding: 0 8px;
            box-sizing: border-box;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;
          }
          &.name {
            font-size: 28px;
            margin-top: 24px;
            color: #2e3033;
            font-weight: 400;
          }
          &.desc {
            color: #8e939a;
            font-size: 22px;
            font-weight: 400;
            margin: 12px 0 24px;
          }
          &.price {
            font-size: 0;
            color: #e33240;
            i,
            span,
            b,
            em {
              display: inline-block;
              font-weight: 500;
            }
            i,
            b {
              font-size: 24px;
            }
            span {
              font-size: 32px;
            }
            em {
              font-size: 22px;
            }
          }
          &.coming-soon {
            font-size: 26px;
            color: #e33240;
          }
        }
      }
    }
  }
}
</style>
