<template>
  <div class="myDiv">
    <van-pull-refresh v-model="isLoading" @refresh="onRefresh" v-if="dataList && dataList.length">
      <van-list v-model="loading" :finished="finished" @load="onLoad" :offset="200" finished-text="没有更多了">
        <div class="attendance-content">
          <div class="attend-option" v-for="(item,myAttend) in dataList" :key="myAttend">
            <div class="attend-top">
              <div class="attend-top-line"></div>
              <div class="attend-top-left">
                <p>{{item.name}}</p>
              </div>
              <div class="attend-top-right">
                <p>出勤情况统计</p>
              </div>
            </div>
            <div class="attend-content">
              <div class="attend-content-left">上月</div>
              <div class="attend-content-right">去年同期</div>
            </div>
            <div class="attend-bottom">
              <div class="attend-bottom-one">
                <p>出勤数</p>
                <span>{{item.count}}</span>
              </div>
              <div class="attend-bottom-two">
                <p>出勤率</p>
                <span>{{item.rate | keepTwoNum}}%</span>
              </div>
              <div class="attend-bottom-three">
                <p>出勤数</p>
                <span>{{item.countL}}</span>
              </div>
              <div class="attend-bottom-four">
                <p>出勤率</p>
                <span>{{item.rateL | keepTwoNum}}%</span>
              </div>
            </div>
          </div>
        </div>
      </van-list>
    </van-pull-refresh>

    <div class="no-data-box" v-else>
      <no-data :loading="requestLoading"></no-data>
    </div>
  </div>
</template>

<script>
import NoData from '@/components/no-data'
import { api } from '@/api'

export default {
  name: 'attend',
  components: {
    NoData
  },
  props: {
    companyId: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      // 上拉加载及下拉刷新
      loading: false, // 控制上拉加载的加载动画
      finished: false, // 控制在页面往下移动到底部时是否调用接口获取数据
      isLoading: false, // 控制下拉刷新的加载动画
      page: {
        index: 1,
        size: 6,
        total: 0
      },
      dataList: [],
      cacheList: [],
      requestLoading: false // 接口请求加载动画
    }
  },
  mounted () {
    this.$on('dataLoad', () => {
      this.page.index = 1
      this.cacheList = []
      this.dataList = []
      this.getList()
    })
  },
  methods: {
    getList () {
      this.requestLoading = true
      const params = {
        companyId: this.companyId,
        page: this.page.index,
        pageSize: this.page.size
      }
      api.commonCall(params, 'ratAttendanceListByCompany').then(res => {
        this.requestLoading = false
        if (res.success) {
          this.cacheList = this.cacheList.concat(res.data.list)
          this.dataList.splice(0, this.dataList.length, ...this.cacheList)

          this.page.total = res.data.count
          this.loading = false
          this.finished = false

          if (this.cacheList.length >= this.page.total) {
            this.finished = true
          }

          setTimeout(() => {
            this.isLoading = false
          }, 100)
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    // 下拉刷新
    onRefresh () {
      this.page.index = 1
      this.cacheList = []
      this.getList()
    },
    // 上拉加载
    onLoad () {
      this.page.index++
      this.getList()
    }
  }
}
</script>

<style lang="less" scoped>
.myDiv{
  .attendance-content{
    width: 100%;
    .attend-option{
      width: 710px;
      height: 246px;
      background-color: #FFFFFF;
      margin: 0 auto;
      margin-bottom: 20px;
      box-shadow: 0 2px 4px rgba(237,237,238,0.5);
      border-radius: 12px;
      &:last-child {
        margin-bottom: 0;
      }
      .attend-top{
        width: 100%;
        height: 69px;
        box-sizing: border-box;
        border-bottom: 1px solid #F8F8F8;
        .attend-top-line{
          width: 4px;
          height: 26px;
          float: left;
          background-color: #F17533;
          margin-top: 21px;
        }
        .attend-top-left{
          width: 38%;
          height: 100%;
          float: left;
          p{
            font-family: "PingFang SC";
            font-size: 24px;
            color: #434349;
            line-height: 69px;
            text-align: left;
            padding-left: 12px;
          }
        }
        .attend-top-right{
          width: 60.5%;
          height: 100%;
          float: left;
          p{
            font-family: "PingFang SC";
            font-size: 28px;
            color: #434349;
            line-height: 69px;
            text-align: left;
            font-weight: bold;
          }
        }
      }
      .attend-content{
        width: 100%;
        height: 67px;
        box-sizing: border-box;
        border-bottom: 1px solid #F8F8F8;
        .attend-content-left{
          width: 50%;
          height: 100%;
          float: left;
          box-sizing: border-box;
          border-right: 1px solid #F8F8F8;
          font-family: "PingFang SC";
          font-size: 24px;
          color: #434349;
          line-height: 67px;
          text-align: center;
        }
        .attend-content-right{
          width: 50%;
          height: 100%;
          float: left;
          font-family: "PingFang SC";
          font-size: 24px;
          color: #434349;
          line-height: 67px;
          text-align: center;
        }
      }
      .attend-bottom{
        width: 100%;
        height: 109px;
        .attend-bottom-one{
          width: 25%;
          height: 100%;
          float: left;
          box-sizing: border-box;
          border-right: 1px solid #F8F8F8;
          p{
            font-family: "PingFang SC";
            font-size: 24px;
            color: #898C9C;
            text-align: center;
            margin-top: 18px;
          }
          span{
            font-family: "PingFang SC";
            font-size: 24px;
            color: #434349;
            text-align: center;
            display: block;
          }
        }
        .attend-bottom-two{
          width: 25%;
          height: 100%;
          float: left;
          box-sizing: border-box;
          border-right: 1px solid #F8F8F8;
          p{
            font-family: "PingFang SC";
            font-size: 24px;
            color: #898C9C;
            text-align: center;
            margin-top: 18px;
          }
          span{
            font-family: "PingFang SC";
            font-size: 24px;
            color: #434349;
            text-align: center;
            display: block;
          }
        }
        .attend-bottom-three{
          width: 25%;
          height: 100%;
          float: left;
          box-sizing: border-box;
          border-right: 1px solid #F8F8F8;
          p{
            font-family: "PingFang SC";
            font-size: 24px;
            color: #898C9C;
            text-align: center;
            margin-top: 18px;
          }
          span{
            font-family: "PingFang SC";
            font-size: 24px;
            color: #434349;
            text-align: center;
            display: block;
          }
        }
        .attend-bottom-four{
          width: 25%;
          height: auto;
          float: left;
          p{
            font-family: "PingFang SC";
            font-size: 24px;
            color: #898C9C;
            text-align: center;
            margin-top: 18px;
          }
          span{
            font-family: "PingFang SC";
            font-size: 24px;
            color: #434349;
            text-align: center;
            display: block;
          }
        }
      }
    }
  }
  .footer{
    width: 100%;
    text-align: center;
    line-height: 200px;
  }
}
</style>
