<template>
  <div class="member-content">
    <div class="member-content-top">
      <div class="level-text">
        <span class="upgrade">升级</span>
        <span class="relegation" :style="{left: convertToRem(2, mingrading * aveWid)}">保级</span>
      </div>
      <van-progress pivot-text="加速中" color="#F39801" :percentage="percent"/>
      <div class="nember">
        <span class="count" v-if="count < maxgrading" :style="{left: convertToRem(1, count * aveWid)}">{{count}}</span>
        <span class="maxgrading">{{maxgrading}}</span>
        <span class="mingrading" :style="{left: convertToRem(2, mingrading * aveWid)}">{{mingrading}}</span>
      </div>
      <div class="retain">
        <div class="retain-left">
          <p>距离保级分数</p>
          <span>＋{{mingrading}}</span>
        </div>
        <div class="retain-right">
          <p>当前等级有效期</p>
          <span>{{monthDate}}</span>
        </div>
      </div>
    </div>
    <div class="member-content-center">
      <div class="interests-top">
        <p>会员权益<span class="permission-description" @click="goStatement">权益说明<van-icon name="arrow"></van-icon></span></p>
      </div>
      <div class="interests-main">
        <div class="member-content-list" :style="{width: levelList.length * 200 / 75 + 'rem'}">
          <div class="interests-bottom" v-for="(item, index) in levelList" :key="index">
            <div class="interests-bottom-one">
              <div class="divImg">
                <img :src="allImgDomainName + item.logo">
              </div>
              <p>{{item.name}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="member-bottom-list">
      <div class="member-list-top">等级分明细</div>
      <div class="allItem">
        <div class="item">
          <div class="my-select">
            <div class="my-select-div" @click="selectClick(1)">
              <span class="my-select-Text">{{dateValue}}</span>
              <img :src="arrow" class="my-select-Button" :style="{transform: selectDateshow ? 'rotate(180deg)' : 'rotate(0deg)'}"/>
            </div>
            <ul class="my-select-Option" v-show="selectDateshow">
              <li v-for="item in dateList" :value="item.value" :key="item.value" @click="selectDate(item)">
                <span>{{ item.label }}</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="my-select">
            <div class="my-select-div" @click="selectClick(2)">
              <span class="my-select-Text">{{typeValue}}</span>
              <img :src="arrow" class="my-select-Button" :style="{transform: selectTypeshow ? 'rotate(180deg)' : 'rotate(0deg)'}"/>
            </div>
            <ul class="my-select-Option" v-show="selectTypeshow">
              <li v-for="item in typeList" :value="item.value" :key="item.value" @click="selectType(item)">
                <span>{{ item.label }}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <van-pull-refresh v-model="isLoading" @refresh="onRefresh" v-if="dataSet && dataSet.length">
        <van-list v-model="loading" :finished="finished" @load="onLoad" :offset="200" finished-text="没有更多了">
          <div class="member-list" v-for="(item,memberList) in dataSet" :key="memberList">
            <div class="member-list-left">
              <p>{{item.wens_behavior}}</p>
              <span>{{item.createtime}}</span>
            </div>
            <div class="member-list-center">{{item.wens_customer}}</div>
            <div class="member-list-right">
              <p class="red" v-if="item.wens_fraction >= 0">+ {{item.wens_fraction}}</p>
              <p class="green" v-else>{{item.wens_fraction}}</p>
            </div>
          </div>
        </van-list>
      </van-pull-refresh>

      <div class="no-data-box" v-else>
        <no-data :loading="requestLoading"></no-data>
      </div>
    </div>
  </div>
</template>

<script>
import NoData from '@/components/no-data'
import { api } from '@/api'
import { allImgDomainNameMixin } from '@/assets/js/mixin'

export default {
  name: 'level',
  mixins: [allImgDomainNameMixin],
  components: {
    NoData
  },
  props: {
    companyId: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      arrow: require('@/assets/images/arrow-icon.svg'),
      monthDate: '',
      dateList: [
        {
          value: 0,
          label: '最近三个月'
        },
        {
          value: 1,
          label: '今年内'
        },
        {
          value: 2,
          label: '上一年'
        }
      ],
      typeList: [
        {
          value: 0,
          label: '获得/消耗'
        },
        {
          value: 1,
          label: '只看获得'
        },
        {
          value: 2,
          label: '只看消耗'
        }
      ],
      proWid: 656 / 75, // 升级总宽度(长度：656px，转化为rem)
      aveWid: 0, // 每一分的宽度
      mingrading: 0, // 保级所需要积分
      maxgrading: 0, // 升级所需要积分
      count: 0, // 当前积分
      percent: 0, // 当前积分与升级积分百分比
      levelList: [], // 会员权益列表
      dataSet: [], // 等级分明细列表
      cacheList: [],
      loading: false, // 控制上拉加载的加载动画
      finished: false, // 控制在页面往下移动到底部时是否调用接口获取数据
      isLoading: false, // 控制下拉刷新的加载动画
      // 上拉加载及下拉刷新
      page: {
        index: 1,
        size: 6,
        total: 0
      },
      selectDateshow: false,
      selectTypeshow: false,
      date: 0,
      type: 0,
      requestLoading: false // 接口请求加载动画
    }
  },
  computed: {
    dateValue () {
      switch (this.date) {
        case 0:
          return '最近三个月'
        case 1:
          return '今年内'
        case 2:
          return '上一年'
        default:
          return ''
      }
    },
    typeValue () {
      switch (this.type) {
        case 0:
          return '获得/消耗'
        case 1:
          return '只看获得'
        case 2:
          return '只看消耗'
        default:
          return ''
      }
    }
  },
  mounted () {
    this.getMonthDate()

    this.$on('dataLoad', obj => {
      if (obj) {
        this.getWid(obj.mingrading, obj.maxgrading, obj.count, obj.privilegeId)
      }
      this.date = 0
      this.type = 0
      this.page.index = 1
      this.cacheList = []
      this.dataSet = []
      this.getRatListByCompany()
    })

    this.$on('getGrade', obj => {
      this.getWid(obj.mingrading, obj.maxgrading, obj.count, obj.privilegeId)
    })
  },
  methods: {
    goStatement () {
      this.$router.push({
        path: '/levelInterestsStatement',
        query: {
          companyId: this.companyId
        }
      })
    },
    selectClick (type) {
      if (type === 1) {
        this.selectTypeshow = false
        this.selectDateshow = !this.selectDateshow
      } else {
        this.selectDateshow = false
        this.selectTypeshow = !this.selectTypeshow
      }
    },
    selectDate (item) {
      this.selectDateshow = false
      this.date = item.value
      this.page.index = 1
      this.cacheList = []
      this.dataSet = []
      this.getRatListByCompany()
    },
    selectType (item) {
      this.selectTypeshow = false
      this.type = item.value
      this.page.index = 1
      this.cacheList = []
      this.dataSet = []
      this.getRatListByCompany()
    },
    getWid (mingrading, maxgrading, count, id) {
      this.mingrading = mingrading // 保级
      this.maxgrading = maxgrading // 升级
      this.count = count // 积分
      this.privilegeId = id
      this.aveWid = this.proWid / this.maxgrading // 每一分的rem
      this.percent = this.count > this.maxgrading ? 100 : this.count / this.maxgrading * 100 || 0

      if (this.privilegeId) {
        this.byLevel()
      }
    },
    // 会员权益
    byLevel () {
      const params = {
        id: this.privilegeId
      }
      api.commonCall(params, 'ratPrivilegeByLevel').then(res => {
        if (res.success) {
          this.levelList = res.data
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    getRatListByCompany () {
      this.requestLoading = true
      const params = {
        companyId: this.companyId,
        dateType: this.date,
        scoreType: this.type,
        page: this.page.index,
        pageSize: this.page.size
      }
      api.commonCall(params, 'ratListByCompany').then(res => {
        this.requestLoading = false
        if (res.success) {
          this.cacheList = this.cacheList.concat(res.data.dataSet)
          this.dataSet.splice(0, this.dataSet.length, ...this.cacheList)

          this.page.total = res.data.count
          this.loading = false
          this.finished = false

          if (this.cacheList.length >= this.page.total) {
            this.finished = true
          }

          setTimeout(() => {
            this.isLoading = false
          }, 100)
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    // 下拉刷新
    onRefresh () {
      this.page.index = 1
      this.cacheList = []
      this.getRatListByCompany()
    },
    // 上拉加载
    onLoad () {
      this.page.index++
      this.getRatListByCompany()
    },
    getMonthDate () {
      let nowDate = new Date()
      let nowMonth = nowDate.getMonth()
      let nowYear = nowDate.getFullYear()
      // 本月的结束时间
      let monthEndDate = new Date(nowYear, nowMonth + 1, 0)
      this.monthDate = this.formatDate(monthEndDate)
    },
    formatDate (date) {
      let myyear = date.getFullYear()
      let mymonth = date.getMonth() + 1
      let myweekday = date.getDate()
      if (mymonth < 10) {
        mymonth = '0' + mymonth
      }
      if (myweekday < 10) {
        myweekday = '0' + myweekday
      }
      return (myyear + '-' + mymonth + '-' + myweekday)
    },
    convertToRem (type, val) {
      switch (type) {
        case 1:
          return val - 92 / 75 * this.percent / 100 + 28 / 75 + 'rem' // 和“加速中”保持一致
        case 2:
          return val - 46 / 75 + 28 / 75 + 'rem' // 中间点在目标点上
        default:
          return ''
      }
    }
  }
}
</script>

<style lang="less" scoped>
.member-content{
  width: 100%;
  .member-content-top{
    width: 710px;
    height: 260px;
    background-color: #FFFFFF;
    border-radius: 12px;
    box-shadow: 0px 4px 8px 0px rgba(237,237,238,1);
    margin: 0 auto;
    .level-text{
      width: 100%;
      height: 60px;
      line-height: 60px;
      overflow: hidden;
      position: relative;
      span{
        font-family: "PingFang SC";
        font-size: 24px;
        color: #898C9C;
        position: absolute;
        top: 0;
        width: 92px;
        text-align: center;
        &.upgrade {
          right: -12px;
        }
        &.relegation {

        }
      }
    }
    .van-progress{
      width: 656px;
      margin: 10px auto 0;
    }
    .nember{
      width: 100%;
      height: 50px;
      line-height: 50px;
      overflow: hidden;
      position: relative;
      margin-top: 10px;
      span {
        font-family: "PingFang SC";
        font-size: 24px;
        color: #48484a;
        position: absolute;
        top: 0;
        width: 92px;
        text-align: center;
        &.count {
          color: #F17533;
          z-index: 1;
        }
        &.maxgrading {
          right: -12px;
        }
        &.mingrading {

        }
      }
    }
    .retain{
      width: 100%;
      height: 130px;
      margin-top: 0px;
      .retain-left{
        width: 50%;
        height: 100%;
        float: left;
        p{
          font-family: "PingFang SC";
          font-size: 24px;
          color: #898C9C;
          text-align: center;
          margin-top: 30px;
        }
        span{
          font-family: "PingFang SC";
          font-size: 24px;
          color: #48484A;
          text-align: center;
          display: block;
        }
      }
      .retain-right{
        width: 50%;
        height: 100%;
        float: left;
        p{
          font-family: "PingFang SC";
          font-size: 24px;
          color: #898C9C;
          text-align: center;
          margin-top: 30px;
        }
        span{
          font-family: "PingFang SC";
          font-size: 24px;
          color: #48484A;
          text-align: center;
          display: block;
        }
      }
    }
  }
  .member-content-center{
    width: 710px;
    min-height: 210px;
    margin: 0 auto;
    margin-top: 20px;
    background: linear-gradient(359deg, #1B2649 0%, #304074 100%);
    border-radius: 12px;
    box-shadow: 0px 4px 8px 0px rgba(237,237,238,1);
    .interests-top{
      width: 100%;
      p{
        font-family: "PingFang SC";
        font-size: 24px;
        color: #FFFFFF;
        text-align: left;
        line-height: 60px;
        padding-left: 24px;
        .permission-description {
          font-family: "PingFang SC";
          font-size: 22px;
          color: #d4d4d4;
          float: right;
          i {
            vertical-align: middle;
            font-size: 28px;
            margin-right: 20px;
          }
        }
      }
    }
    .interests-main{
      width: 710px;
      overflow-x: scroll;
      .interests-bottom{
        width: 200px;
        padding: 0 4px;
        box-sizing: border-box;
        float: left;
        .interests-bottom-one {
          .divImg{
            width: 60px;
            margin: 0 auto;
          }
          img{
            width: 60px;
            height: 60px;
            border-radius: 8px;
            margin-top: 20px;
          }
          p {
            font-family: "PingFang SC";
            font-size: 20px;
            color: #EEDE55;
            text-align: center;
            margin-top: 10px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
  .member-bottom-list{
    width: 710px;
    min-height: 670px;
    margin: 20px auto;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 4px 8px 0px rgba(237,237,238,1);
    .member-list-top{
      width: 100%;
      height: 70px;
      box-sizing: border-box;
      border-bottom: 1px solid #F8F8F8;
      font-family: "PingFang SC";
      font-size: 28px;
      color: #434349;
      text-align: center;
      line-height: 70px;
      font-weight: bold;
    }
    .member-list{
      width: 100%;
      height: 96px;
      box-sizing: border-box;
      border-bottom: 1px solid #F8F8F8;
      .member-list-left{
        width: 40%;
        height: 100%;
        float: left;
        p{
          font-family: "PingFang SC";
          font-size: 24px;
          color: #434349;
          text-align: left;
          padding-left: 24px;
          padding-top: 13px;
          height: 42px;
        }
        span{
          font-family: "PingFang SC";
          font-size: 20px;
          color: #a9abaf;
          text-align: left;
          display: block;
          padding-left: 24px;
        }
      }
      .member-list-center{
        width: 40%;
        height: 100%;
        float: left;
        font-family: "PingFang SC";
        font-size: 24px;
        color: #434349;
        text-align: left;
        line-height: 97px;
        text-align: center;
      }
      .member-list-right{
        width: 20%;
        height: 100%;
        float: left;
        p{
          font-family: "PingFang SC";
          font-size: 24px;
          // color: #E51C23;
          text-align: right;
          line-height: 97px;
          padding-right: 24px;
        }
        .red{
          font-weight: bold;
          color: #E51C23;
        }
        .green{
          font-weight: bold;
          color: #56A353;
        }
      }
    }
    .allItem{
      margin: 0 20px;
      height: 60px;
      background: #F7F7F7;
      border-radius: 6px;
      display: flex;
      .item{
        flex: 1;
        position: relative;
        font-size: 28px;
        line-height: 45px;
        color: #373738;
        text-align: center;
        &.red{
          font-weight: bold;
          color: #E51C23;
        }
        &.green{
          font-weight: bold;
          color: #56A353;
        }
        .my-select {
          position: relative;
          width: 100%;
          line-height: 60px;
          .my-select-div {
            display: inline-block;
            width: 100%;
            height: 60px;
            position: relative;
            line-height: 60px;
            cursor: pointer;
            border-radius: 3px;
            .my-select-Text {
              width: 100%;
              display: inline-block;
              font-size: 24px;
              text-align: center;
            }
            .my-select-Button {
              width: 20px;
              height: 20px;
              border: none;
              background-size: contain;
              cursor: pointer;
              position: absolute;
              right: 77px;
              top: 22px;
            }
          }
          .my-select-Option {
            width: 60%;
            height: 150px;
            border: 1px solid #eee;
            background: #FFFFFF;
            text-align: center;
            border-radius: 0px 0px 8px 8px;
            list-style: none;
            top: 62px;
            left: 20%;
            z-index: 1;
            position: absolute;
            li {
              width: 100%;
              height: 50px;
              font-size: 24px;
              color: rgb(71, 71, 71);
              line-height: 50px;
              cursor: pointer;
              span {
                display: inline-block;
                position: relative;
              }
            }
          }
        }
      }
      .arrow-img1,
      .arrow-img2{
        width: 16px;
        height: 16px;
      }
    }
    .tb-noData{
      width: 100%;
      text-align: center;
      line-height: 200px;
    }
  }
}
.member-bottom{
  width: 100%;
  height: 50px;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .member-bottom-left{
    width: 124px;
    height: 1px;
    float: left;
    margin-right: 8px;
    background-color: #d4d4d4;
  }
  span{
    font-family: "PingFang SC";
    font-size: 24px;
    color: #A9ABAF;
    float: left;
    line-height: 50px;
  }
  .member-bottom-right{
    width: 124px;
    height: 1px;
    float: left;
    margin-left: 8px;
    background-color: #d4d4d4;
  }
}
</style>
