<template>
  <div class="wrapper">
    <div class="top-box-wrap">
      <div class="membership-top">
        <p>{{companyName}}</p>
        <div class="chic" @click="openCompany"></div>
      </div>
      <div class="membership-content">
        <div class="coins" :class="{active: index === '1'}">
          <div class="icon-grade coins-icon" @click="switchIndex('1')"></div>
          <span class="text" @click="switchIndex('1')">齐创币</span>
          <div class="include" @click="switchIndex('1')">可用齐创币<span>{{countQC}}</span></div>
          <div class="include-line" v-show="index === '1'"></div>
        </div>
        <div class="coins" :class="{active: index === '2'}">
          <div class="icon-grade member-icon" @click="switchIndex('2')">
            <img
              v-show="imgIsRequested"
              style="border-radius: 50%;"
              v-lazy="{ src: allImgDomainName + wens_ranglogo, error: require('@/assets/images/membership/levelLogo.svg') }"
              alt=""
              width="49"
              height="49"
            >
          </div>
          <span class="text" @click="switchIndex('2')">{{wens_rangname}}</span>
          <div class="include" @click="switchIndex('2')">会员等级分<span>{{count}}</span></div>
          <div class="include-line" v-show="index === '2'"></div>
        </div>
        <div class="coins" :class="{active: index === '3'}">
          <div class="icon-grade atten-icon" @click="switchIndex('3')"></div>
          <span class="text" @click="switchIndex('3')">出勤</span>
          <div class="include" @click="switchIndex('3')">上月出勤率<span>{{countAttendance | keepTwoNum}}%</span></div>
          <div class="include-line" v-show="index === '3'"></div>
        </div>
      </div>

      <!--选择弹出框-->
      <div class="close-company" v-if="showCompany" @click="closeCompany">
        <div class="triangle"></div>
        <div class="company-content">
          <div class="company-option" @click.stop="selectCompany(item)" v-for="item in companyList" :key="item.id">
            {{item.name}}
          </div>
        </div>
      </div>
    </div>

    <div class="content-box">
      <slot name="trade" v-if="index === '1'"></slot>
      <slot name="level" v-else-if="index === '2'"></slot>
      <slot name="attend" v-else-if="index === '3'"></slot>
    </div>
  </div>
</template>

<script>
import { api } from '@/api'
import { allImgDomainNameMixin } from '@/assets/js/mixin'

export default {
  name: 'top-box',
  mixins: [allImgDomainNameMixin],
  props: {
    index: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      companyList: [],
      showCompany: false,
      companyName: '',
      count: 0, // 分数
      countQC: 0, // 齐创币
      wens_ranglogo: '', // 会员图片
      wens_rangname: '会员',
      countAttendance: 0, // 出勤率百分比
      companyId: null,
      imgIsRequested: false
    }
  },
  created () {
    this.getCompany()
  },
  methods: {
    switchIndex (index) {
      this.$emit('switchIndex', index)
    },
    openCompany () {
      this.showCompany = true
    },
    closeCompany () {
      this.showCompany = false
    },
    selectCompany (item) {
      this.showCompany = false

      if (this.companyId === item.id) return

      this.companyName = item.name
      this.companyId = item.id
      this.getLevelList()
      this.$emit('getCompanyId', this.companyId)
    },
    getLevelList () {
      this.imgIsRequested = false
      let params = {
        companyId: this.companyId
      }
      api.commonCall(params, 'ratCountByCompany').then(res => {
        if (res.success) {
          this.count = +res.data.count
          this.countQC = res.data.countQC
          this.countAttendance = res.data.countAttendance || 0
          this.wens_rangname = res.data.wens_rangname || '会员'
          this.wens_ranglogo = res.data.wens_ranglogo
          this.imgIsRequested = true

          this.$emit('getGrade', {
            mingrading: res.data.mingrading,
            maxgrading: res.data.maxgrading,
            count: +res.data.count,
            privilegeId: res.data.rangeentityId
          })
        }
      })
    },
    getCompany () {
      api.commonCall({}, 'getThreeOrgByUser').then(res => {
        if (res.success) {
          this.companyList = res.data.orgList || []
          this.companyId = this.$route.query.companyId || (res.data.orgList && res.data.orgList[0] && res.data.orgList[0].id) || '0'
          let matchItem = res.data.orgList.find(v => v.id === this.companyId)
          this.companyName = (matchItem && matchItem.name) || ''
          if (this.companyId) {
            this.getLevelList()
          } else {
            this.imgIsRequested = true
          }
          this.$emit('getCompanyId', this.companyId)
        }
      })
    }
  }
}
</script>

<style lang="less" scoped>
.wrapper {
  .top-box-wrap{
    width: 100%;
    height: 400px;
    position: relative;
    .membership-top{
      width: 100%;
      height: 274px;
      background: linear-gradient(#FFBC4C,#F39801);
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      // text-align: center;
      p{
        font-family: "PingFang SC";
        font-size: 28px;
        color: #FFFFFF;
        display: inline-block;
        margin-top: 25px;
        margin-left: 40%;
        font-weight: bold;
      }
      .chic{
        right: 0;
        width: 32px;
        height: 26px;
        background: url("~@/assets/images/auction/menu-member.svg") no-repeat center center;
        background-size: 100% 100%;
        float: right;
        margin-right: 36px;
        margin-top: 25px;
      }
    }
    .membership-content{
      width: 710px;
      height: 292px;
      background-color: #FFFFFF;
      position: absolute;
      z-index: 1;
      top: 80px;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 12px;
      box-shadow: 0px 4px 8px 0px rgba(237,237,238,1);
      .coins{
        float: left;
        width: 33.33%;
        height: 100%;
        text-align: center;
        cursor: pointer;
        border-radius: 12px;
        overflow: hidden;
        position: relative;
        .icon-grade{
          display: inline-block;
          width: 98px;
          height: 98px;
          margin-top: 30px;
          &.coins-icon{
            background: url("~@/assets/images/auction/chuangyuan-colour.svg") no-repeat center center;
            background-size: 98px 98px;
            -webkit-filter: grayscale(100%);
            -moz-filter: grayscale(100%);
            -o-filter: grayscale(100%);
            filter: grayscale(100%);
          }
          &.member-icon{
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 98px 98px;
            -webkit-filter: grayscale(100%);
            -moz-filter: grayscale(100%);
            -o-filter: grayscale(100%);
            filter: grayscale(100%);
            img {
              width: 98px;
              height: 98px;
            }
          }
          &.atten-icon{
            background: url("~@/assets/images/auction/attendance-colour.svg") no-repeat center center;
            background-size: 98px 98px;
            -webkit-filter: grayscale(100%);
            -moz-filter: grayscale(100%);
            -o-filter: grayscale(100%);
            filter: grayscale(100%);
          }
        }
        .text{
          display: block;
          font-size: 26px;
          padding-top: 4px;
          height: 40px;
          line-height: 40px;
          color: #D4D4D4;
          white-space: nowrap;
          overflow: hidden;
        }
        .include{
          font-size: 28px;
          color: #5E6173;
          margin-top: 10px;
          text-align: center;
          span{
            display: block;
            font-size: 30px;
            text-align: center;
          }
        }
        .include-line{
          width: 0;
          height: 4px;
          // margin: 32px auto 0;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          border-radius: 2px;
        }
        &.active{
          .coins-icon,
          .member-icon,
          .atten-icon{
            -webkit-filter: grayscale(0%);
            -moz-filter: grayscale(0%);
            -o-filter: grayscale(0%);
            filter: grayscale(0%);
          }
          .text{
            color: #48484A;
          }
          .include{
            color: #E51C23;
            font-weight: bold;
          }
          .include-line{
            width: 98px;
            background-color: #E51C23;
          }
        }
      }
    }
    .close-company{
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: fixed;
      background: rgba(0, 0, 0, 0.2);
      z-index: 999;
      .triangle{
        position: absolute;
        right: 36px;
        top: 140px;
        width: 0;
        height: 0;
        border: 16px solid #FFFFFF;
        border-color: transparent transparent #FFFFFF;
        border-radius: 4px;
      }
      .company-content{
        width: 406px;
        min-height: 78px;
        position: absolute;
        right: 18px;
        top: 170px;
        background-color: #FFFFFF;
        border-radius: 12px;
        .company-option{
          width: 100%;
          height: 80px;
          border-bottom: 1px solid #F1EFF8;
          box-sizing: border-box;
          font-family: "PingFang SC";
          font-size: 24px;
          color: #434349;
          line-height: 80px;
          text-align: left;
          padding-left: 30px;
          &:last-child {
            border-bottom: 0;
          }
        }
      }
    }
  }

  /*@media (max-width:412px) {
    .membership-wrap .close-company .triangle{top: 4.2%}
    .membership-wrap .close-company .triangle{right: 4.3%}
    .membership-wrap .close-company .company-content{top: 6.7%}
    .membership-wrap .close-company .company-content{right: 1.8%}
  }*/
}
</style>
