<template>
  <div class="coins-content">
    <div class="coins-option">
      <div class="coins-option-top">齐创币明细</div>
      <div class="allItem">
        <div class="item">
          <div class="my-select">
            <div class="my-select-div" @click="selectClick(1)">
              <span class="my-select-Text">{{dateValue}}</span>
              <img :src="arrow" class="my-select-Button" :style="{transform: selectDateshow ? 'rotate(180deg)' : 'rotate(0deg)'}" />
            </div>
            <ul class="my-select-Option" v-show="selectDateshow">
              <li v-for="item in dateList" :value="item.value" :key="item.value" @click="selectDate(item)">
                <span>{{ item.label }}</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="my-select">
            <div class="my-select-div" @click="selectClick(2)">
              <span class="my-select-Text">{{typeValue}}</span>
              <img :src="arrow" class="my-select-Button" :style="{transform: selectTypeshow ? 'rotate(180deg)' : 'rotate(0deg)'}"/>
            </div>
            <ul class="my-select-Option" v-show="selectTypeshow">
              <li v-for="item in typeList" :value="item.value" :key="item.value" @click="selectType(item)">
                <span>{{ item.label }}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <van-pull-refresh v-model="isLoading" @refresh="onRefresh" v-if="tradeList && tradeList.length">
        <van-list v-model="loading" :finished="finished" @load="onLoad" :offset="200" finished-text="没有更多了">
          <div class="coins-list" v-for="(item,memberList) in tradeList" :key="memberList">
            <div class="coins-list-left">
              <p>{{item.behaviorName}}</p>
              <span>{{item.createTime}}</span>
            </div>
            <div class="coins-list-center">{{item.behaviorName}}</div>
            <div class="coins-list-right">
              <p class="p-red" v-if="item.isAdd === '1'">+{{item.fraction}}</p>
              <p class="p-green" v-else>-{{item.fraction}}</p>
            </div>
          </div>
        </van-list>
      </van-pull-refresh>

      <div class="no-data-box" v-else>
        <no-data :loading="requestLoading"></no-data>
      </div>
    </div>
  </div>
</template>

<script>
import NoData from '@/components/no-data'
import { api } from '@/api'

export default {
  name: 'trade',
  components: {
    NoData
  },
  props: {
    companyId: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      dateList: [
        {
          value: 0,
          label: '最近三个月'
        },
        {
          value: 1,
          label: '今年内'
        },
        {
          value: 2,
          label: '上一年'
        }
      ],
      date: 0,
      typeList: [
        {
          value: 2,
          label: '获得/消耗'
        },
        {
          value: 1,
          label: '只看获得'
        },
        {
          value: 0,
          label: '只看消耗'
        }
      ],
      type: 2,
      arrow: require('@/assets/images/arrow-icon.svg'),
      loading: false, // 控制上拉加载的加载动画
      finished: false, // 控制在页面往下移动到底部时是否调用接口获取数据
      isLoading: false, // 控制下拉刷新的加载动画
      // 上拉加载及下拉刷新
      page: {
        index: 1,
        size: 6,
        total: 0
      },
      cacheList: [],
      tradeList: [],
      selectDateshow: false,
      selectTypeshow: false,
      requestLoading: false // 接口请求加载动画
    }
  },
  computed: {
    dateValue () {
      switch (this.date) {
        case 0:
          return '最近三个月'
        case 1:
          return '今年内'
        case 2:
          return '上一年'
        default:
          return ''
      }
    },
    typeValue () {
      switch (this.type) {
        case 2:
          return '获得/消耗'
        case 1:
          return '只看获得'
        case 0:
          return '只看消耗'
        default:
          return ''
      }
    }
  },
  mounted () {
    this.$on('dataLoad', () => {
      this.date = 0
      this.type = 2
      this.page.index = 1
      this.cacheList = []
      this.tradeList = []
      this.getList()
    })
  },
  methods: {
    selectClick (type) {
      if (type === 1) {
        this.selectTypeshow = false
        this.selectDateshow = !this.selectDateshow
      } else {
        this.selectDateshow = false
        this.selectTypeshow = !this.selectTypeshow
      }
    },
    selectDate (item) {
      this.selectDateshow = false
      this.date = item.value
      this.page.index = 1
      this.cacheList = []
      this.tradeList = []
      this.getList()
    },
    selectType (item) {
      this.selectTypeshow = false
      this.type = item.value
      this.page.index = 1
      this.cacheList = []
      this.tradeList = []
      this.getList()
    },
    getList () {
      if (this.companyId === '0') return
      this.requestLoading = true
      const params = {
        orgId: this.companyId,
        dateRange: this.date,
        isAdd: this.type,
        page: this.page.index,
        pageSize: this.page.size
      }
      api.commonCall(params, 'queryQCCoinDetial').then(res => {
        this.requestLoading = false
        if (res.success) {
          this.cacheList = this.cacheList.concat(res.data.list)
          this.tradeList.splice(0, this.tradeList.length, ...this.cacheList)

          this.page.total = res.data.count
          this.loading = false
          this.finished = false

          if (this.cacheList.length >= this.page.total) {
            this.finished = true
          }

          setTimeout(() => {
            this.isLoading = false
          }, 100)
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    // 下拉刷新
    onRefresh () {
      this.page.index = 1
      this.cacheList = []
      this.getList()
    },
    // 上拉加载
    onLoad () {
      this.page.index++
      this.getList()
    }
  }
}
</script>

<style lang="less" scoped>
.coins-content{
  width: 100%;
  background-color: #f8f8f8;
  .coins-option{
    width: 710px;
    min-height: 670px;
    background-color: #FFFFFF;
    margin: 0 auto 20px;
    border-radius: 12px;
    .coins-option-top{
      width: 100%;
      height: 70px;
      box-sizing: border-box;
      font-family: "PingFang SC";
      font-size: 28px;
      color: #434349;
      text-align: center;
      line-height: 70px;
      font-weight: bold;
      padding-top: 10px;
    }
    .coins-screen{
      width: 710px;
      height: 60px;
      background-color: #F7F7F7;
      margin: 10px auto 10px;
      border-radius: 12px;
    }
    .coins-list{
      width: 100%;
      height: 97px;
      box-sizing: border-box;
      border-bottom: 1px solid #F8F8F8;
      .coins-list-left{
        width: 40%;
        height: 100%;
        float: left;
        p{
          font-family: "PingFang SC";
          font-size: 24px;
          color: #434349;
          text-align: left;
          padding-left: 24px;
          padding-top: 15px;
          height: 42px;
        }
        span{
          font-family: "PingFang SC";
          font-size: 20px;
          color: #a9abaf;
          text-align: left;
          display: block;
          padding-left: 24px;
        }
      }
      .coins-list-center{
        width: 40%;
        height: 100%;
        float: left;
        font-family: "PingFang SC";
        font-size: 24px;
        color: #434349;
        text-align: left;
        line-height: 97px;
      }
      .coins-list-right{
        width: 20%;
        height: 100%;
        float: left;
        p{
          font-family: "PingFang SC";
          font-size: 24px;
          text-align: center;
          line-height: 97px;
          padding-right: 24px;
        }
        .p-red{
          color: #E51C23;
        }
        .p-green{
          color: green;
        }
      }
    }
    .allItem{
      margin: 0 20px;
      height: 60px;
      background: #F7F7F7;
      border-radius: 6px;
      display: flex;
      .item{
        flex: 1;
        position: relative;
        font-size: 28px;
        line-height: 45px;
        color: #373738;
        text-align: center;
        &.red{
          font-weight: bold;
          color: #E51C23;
        }
        &.green{
          font-weight: bold;
          color: #56A353;
        }
        .my-select {
          position: relative;
          width: 100%;
          line-height: 60px;
          .my-select-div {
            display: inline-block;
            width: 100%;
            height: 60px;
            position: relative;
            line-height: 60px;
            cursor: pointer;
            border-radius: 3px;
            .my-select-Text {
              width: 100%;
              display: inline-block;
              font-size: 24px;
              text-align: center;
            }
            .my-select-Button {
              width: 20px;
              height: 20px;
              border: none;
              background-size: contain;
              cursor: pointer;
              position: absolute;
              right: 77px;
              top: 22px;
            }
          }
          .my-select-Option {
            width: 60%;
            height: 150px;
            border: 1px solid #eee;
            background: #FFFFFF;
            text-align: center;
            border-radius: 0px 0px 8px 8px;
            list-style: none;
            top: 62px;
            left: 20%;
            z-index: 1;
            position: absolute;
            li {
              width: 100%;
              height: 50px;
              font-size: 24px;
              color: rgb(71, 71, 71);
              line-height: 50px;
              cursor: pointer;
              span {
                display: inline-block;
                position: relative;
              }
            }
          }
        }
      }
      .arrow-img1,
      .arrow-img2{
        width: 16px;
        height: 16px;
      }
    }
    .footer{
      width: 100%;
      text-align: center;
      line-height: 200px;
    }
  }
}
</style>
