<template>
  <div class="goods-live-shot">
    <div class="van-padding-top"></div>
    <div class="content-box" v-if="data && data[0]">
      <div class="content">
        <div class="content-details">
          <p>养户：养户{{farmersName}}</p>
          <ul>
            <li v-for="(item, index) in entryList" :key="index">{{item.name}}：{{item.data}}</li>
          </ul>
        </div>
        <!-- <div class="content-video">
          <video src="https://cspapp-test.wens.com.cn/csp/api/utilurl/downloadFile?imageId=5b8cd1f479183814a8259167" controls="controls">
            您的浏览器不支持 video 标签。
          </video>
        </div> -->
        <div class="content-images">
          <img v-for="(item, index) in picList" :key="index" v-lazy="item" alt="" @click="viewPicDetail(index)">
        </div>
      </div>
      <div class="footer" ref="footer">
        <div class="arrow-next" @click="_next">
          <van-icon name="arrow" />
        </div>
        <ul :style="{width: (data.length * 180 + 80) / 75 + 'rem'}">
          <li ref="footerLi" v-for="(item, index) in data" :key="index" :class="{'bg-yellow': active === index}" @click="_changeTab(index, item)">养户{{index + 1}}</li>
        </ul>
      </div>
    </div>
    <div class="no-data-box" v-else>
      <no-data></no-data>
    </div>
  </div>
</template>

<script>
import NoData from '@/components/no-data'
import { ImagePreview } from 'vant'
import { api } from '@/api'
import { scrollLeft } from '@/utils/common'

export default {
  name: 'goods-live-shot',
  components: {
    NoData
  },
  props: {
    data: {
      type: Array,
      required: true
    },
    materialId: {
      type: String
    },
    ownerId: {
      type: String
    }
  },
  data () {
    return {
      active: 0,
      entryList: [],
      picList: [],
      farmersName: 1
    }
  },
  watch: {
    data: {
      handler (val) {
        if (val && val[0]) {
          this.farmersDetails(val[0].id)
        }
      },
      immediate: true
    }
  },
  created () {

  },
  methods: {
    _changeTab (index, item) {
      this.active = index
      this.farmersName = index + 1
      this.farmersDetails(item.id)
    },
    _next () {
      if ((this.data.length - 2) >= this.active) {
        this.active++
        this.farmersName = this.active + 1
        this.farmersDetails(this.data[this.active].id)

        let cw = this.$refs.footer.clientWidth
        this.$nextTick(() => {
          if (this.active > 2) {
            scrollLeft(this.$refs.footer, this.$refs.footer.scrollLeft, this.$refs.footerLi[this.active].offsetLeft - cw / 2, 1000)
          }
        })
      } else {
        this.$toast('已经是最后了')
      }
    },
    // 养户详情
    farmersDetails (id) {
      let params = {
        famersId: id,
        materialId: this.materialId,
        ownerId: this.ownerId
      }
      api.commonCall(params, 'famersDetails').then(res => {
        if (res.success) {
          this.entryList = res.data.entryList
          this.picList = res.data.picList
        }
      })
    },
    // 图片预览
    viewPicDetail (index) {
      ImagePreview({
        images: this.picList,
        startPosition: index
      })
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.goods-live-shot {
  .van-padding-top {
    padding-top: 96px;
  }
  .content-box {
    width: 100%;
    .content {
      margin-bottom: 100px;
      .content-details {
        width: 100%;
        padding-left:26px;
        background: #F8F8F8;
        margin-bottom: 14px;
        p {
          padding-top: 22px;
        }
        ul li {
          width: 100%;
          height: 34px;
          margin-top: 14px;
        }
      }
      .content-video {
        width: 90%;
        margin: 0 auto;
        video {
          width: 100%;
        }
      }
      .content-images {
        -moz-column-count: 2; /* Firefox */
        -webkit-column-count: 2;  /*Safari 和 Chrome */
        column-count: 2;
        -moz-column-gap: 8px;
        -webkit-column-gap: 8px;
        column-gap: 8px;
        img {
          width: 100%;
        }
      }
    }
    .footer {
      width: 93%;
      position: fixed;
      bottom: 110px;
      left: 0;
      overflow-x: scroll;
      background: #ffffff;
      color: #999999;
      height: 62px;
      z-index: 1;
      &::-webkit-scrollbar {
        display: none;
      }
      .arrow-next {
        width: 62px;
        height: 62px;
        background: #ffffff;
        position: fixed;
        bottom: 110px;
        right: 0;
        z-index: 2;
        .van-icon {
          font-size: 62px;
        }
      }
      ul {
        li {
          width: 140px;
          float: left;
          height: 62px;
          line-height: 62px;
          margin: 0 14px;
          padding: 0 6px;
          text-align: center;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          color: #999999;
          background: white;
          &.bg-yellow {
            animation: white-yellow 1s forwards;
          }
          @keyframes white-yellow {
            0% {

            }
            100% {
              color: #000000;
              background: yellow;
              border-radius: 31px;
            }
          }
        }
      }
    }
  }
}
</style>
