<template>
  <div class="logistics-apply">
    <van-nav-bar title="物流申请" left-arrow @click-left="_toReturn"></van-nav-bar>

    <!-- 物流列表 -->
    <div class="logistics-list">
      <div class="details-list">
        <div class="details-left">
          <div>
            <p class="label">预计发车时间</p>
            <p class="date">{{lineDetails.depart}}</p>
          </div>
          <div>
            <p class="label">最大装载量</p>
            <p class="number">{{lineDetails.maxQty}}{{unitText(lineDetails.unit)}}</p>
          </div>
        </div>
        <div class="details-right">
          <div class="starting">
            <span>发</span>
            <div class="lineText">{{lineDetails.lineStartName}}</div>
          </div>
          <div class="focus">
            <span class="black">终</span>
            <div class="lineText">{{lineDetails.lineArrivalName}}</div>
          </div>
          <van-icon name="arrow"/>
        </div>
      </div>
      <div class="logistics-info">
        <div class="info-box">
          <div>
            <p class="label">发车频率</p>
            <div class="content">{{frequencyText(lineDetails.frequency)}}</div>
          </div>
        </div>
        <div class="info-box">
          <div>
            <p class="label">载货类型</p>
            <div class="content">{{goodsTypeText(lineDetails.goodsType)}}</div>
          </div>
          <div>
            <p class="label">载货品种</p>
            <div class="content">{{lineDetails.varietiesName}}</div>
          </div>
          <div>
            <p class="label">线路类型</p>
            <div class="content">{{lineDetails.lineType === '0' ? '固定线路' : '临时线路'}}</div>
          </div>
        </div>
        <div class="info-box">
          <div>
            <p class="label">线路发布组织</p>
            <div class="content">{{lineDetails.orgName}}</div>
          </div>
        </div>
      </div>
    </div>

    <!-- 申请信息 -->
    <div class="apply-info">
      <p class="title">申请信息</p>
      <div class="apply-list">
        <div class="item">
          <p class="label"><span class="must">*</span>申请人：</p>
          <div class="form-input">
            <van-field
              v-model="userName"
              readonly
            />
          </div>
        </div>
        <div class="item">
          <p class="label"><span class="must">*</span>联系电话：</p>
          <div class="form-input">
            <van-field
              v-model="phone"
              readonly
            />
          </div>
        </div>
        <div class="item">
          <p class="label"><span class="must">*</span>预约日期：</p>
          <div class="form-input">
            <van-field
              v-model="date"
              readonly
            />
          </div>
        </div>
        <div class="item">
          <p class="label"><span class="must">*</span>申请数量：</p>
          <div class="form-input">
            <van-field
              type="number"
              v-model="applyNumber"
              placeholder="请输入需要拉货数量"
              maxlength="50"
              @blur="_isNumber"
            />
          </div>
          <span>{{unitText(lineDetails.unit)}}</span>
        </div>
        <div class="item">
          <p class="label">备注信息：</p>
          <div class="form-input">
            <van-field
              v-model="remark"
              placeholder="请输入备注信息"
              maxlength="200"
            />
          </div>
        </div>
      </div>
    </div>

    <!-- 确认提示框 -->
    <div class="remind" v-if="remind">
      <div class="info">
        <p class="title">温馨提示</p>
        <div class="text">
          <p>尊敬的客户，</p>
          <div>您的申请已经提交，物流线路发布组织会尽快安排审核。请留意稍后商城站内消息或公众号信息通知。</div>
        </div>
        <div class="confirm-btn" @click="_toApplyList">知道了</div>
      </div>
    </div>

    <!-- 底部提交按钮  -->
    <bottom-button
      :btns="[{ text: '提交申请', color: 'red' }]"
      @on-btn="onClickBottomBtn"
    ></bottom-button>
  </div>
</template>

<script>
import BottomButton from '@/components/bottom-button'
import { api } from '@/api'
import { _debounce } from '@/utils/common'

export default {
  name: 'logistics-apply',
  components: {
    BottomButton
  },
  data () {
    return {
      lineDetails: {}, // 线路详情
      userName: '', // 姓名
      phone: '', // 电话
      date: '', // 时间
      applyNumber: '', // 数量
      remark: '', // 备注
      remind: false // 确认提示框
    }
  },
  created () {
    if (!this.$route.query.id) {
      this.$router.go(-1)
      return
    }

    let userInfo = JSON.parse(sessionStorage.getItem('userInfo'))
    this.userName = userInfo.userName
    this.phone = userInfo.phone

    this.date = this.$route.query.date
    this.getLineDetails()
  },
  methods: {
    unitText (number) {
      switch (number) {
        case 'A':
          return '笼'
        case 'B':
          return '只'
        case 'C':
          return '头'
        case 'D':
          return '公斤'
        case 'E':
          return '斤'
        case 'F':
          return '吨'
        default:
          return ''
      }
    },
    goodsTypeText (goodsType) {
      switch (goodsType) {
        case 'A':
          return '毛禽'
        case 'B':
          return '生猪'
        case 'C':
          return '乳品'
        case 'D':
          return '单品'
        case 'E':
          return '生鲜'
        default:
          return ''
      }
    },
    auditResultText (auditResult) {
      switch (auditResult) {
        case 'A':
          return '（全部安排）'
        case 'B':
          return '（部分安排）'
        default:
          return ''
      }
    },
    _toReturn () {
      this.$router.go(-1)
    },
    getLineDetails () {
      api.commonCall({ id: this.$route.query.id }, 'queryLineSettingDetail').then(res => {
        if (res.success) {
          this.lineDetails = res.data
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    onClickBottomBtn: _debounce(function () {
      if (!this.applyNumber) {
        this.$toast('请输入申请数量')
        return
      } else if (+this.applyNumber > +this.lineDetails.maxQty) {
        this.$toast('申请数量不能大于最大装载量')
        return
      }
      let params = {
        applyPhone: this.phone, // 申请手机号码
        reservation: this.date + ' ' + this.lineDetails.depart, // 预计发车时间
        applyQty: this.applyNumber, // 申请数量
        applyLine: this.lineDetails.id, // 申请线路ID
        departCycle: this.lineDetails.frequency, // 发车频率
        remark: this.remark // 备注
      }
      api.commonCall(params, 'saveApplyLineInfo').then(res => {
        if (res.success) {
          this.remind = true
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    }, 500),
    // 检查申请数量是否为大于等于0的正整数
    _isNumber () {
      if (this.applyNumber < 0) {
        this.applyNumber = 0
      } else {
        this.applyNumber = this.applyNumber ? Math.round(this.applyNumber) : this.applyNumber
      }
    },
    _toApplyList () {
      this.remind = false
      this.$router.replace({ path: '/logisticsApplyList' })
    },
    // 发车频率的显示格式
    frequencyText (frequency) {
      if (!frequency) return ''

      let arr = frequency.split(',').filter(v => v)
      if (arr.length === 7) {
        return '每天'
      } else {
        arr = arr.map(v => {
          switch (v) {
            case 'A':
              return '周一'
            case 'B':
              return '周二'
            case 'C':
              return '周三'
            case 'D':
              return '周四'
            case 'E':
              return '周五'
            case 'F':
              return '周六'
            case 'G':
              return '周日'
          }
        })
        return arr.join('、')
      }
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.logistics-apply {
  min-height: calc(100vh - 100px);
  padding-bottom: 100px;
  background: #f8f8f8;
  .logistics-list {
    box-sizing: border-box;
    width: 710px;
    margin: 20px auto;
    border-radius: 10px;
    border: 1px solid rgba(229,229,229,1);
    .details-list {
      width: 100%;
      height: 200px;
      background:rgba(255,255,255,1);
      border-bottom: 1px solid #E5E5E5;
      border-radius: 10px 10px 0 0;
      .details-left {
        width: 212px;
        height: 200px;
        border-right: 1px solid #E5E5E5;
        float: left;
        text-align: center;
        div:first-child {
          height: 102px;
          border-bottom: 1px solid #E5E5E5;
          padding-top: 8px;
        }
        .label {
          font-size: 24px;
          color:rgba(153,153,153,1);
          line-height: 34px;
          margin-top: 6px;
        }
        .date {
          font-size: 48px;
          font-family: PingFangSC-Medium, PingFang SC;
          color:rgba(51,51,51,1);
          line-height: 66px;
          font-weight: bold;
        }
        .number {
          font-size: 28px;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          color:rgba(51,51,51,1);
          line-height: 40px;
        }
      }
      .details-right {
        box-sizing: border-box;
        width: 492px;
        height: 200px;
        float: left;
        position: relative;
        padding: 25px 0;
        .starting,
        .focus {
          height: 75px;
          font-size: 32px;
          color:rgba(51,51,51,1);
          display: flex;
          justify-content: center;
          align-items: center;
          span {
            display: inline-block;
            width: 40px;
            height: 40px;
            line-height: 42px;
            background: #F59900;
            border-radius: 50%;
            font-size: 24px;
            color: #fff;
            text-align: center;
            margin: 0 22px 0 30px;
            &.black {
              background:rgba(102,102,102,1);
            }
          }
          .lineText {
            width: 380px;
            display: inline-block;
          }
        }
        .van-icon {
          position: absolute;
          right: 20px;
          top: 90px;
        }
      }
    }
    .logistics-info {
      width: 100%;
      height: 360px;
      background:rgba(255,255,255,1);
      border-radius: 0 0 10px 10px;
      .info-box {
        width: 100%;
        height: 118px;
        border-bottom: 1px solid #E5E5E5;
        >div {
          height: 100%;
          padding-left: 30px;
          .label {
            padding-top: 24px;
            font-size: 24px;
            color:rgba(153,153,153,1);
            line-height: 34px;
          }
          .content {
            font-size: 28px;
            color:rgba(51,51,51,1);
            line-height: 40px;
          }
        }
        &:nth-child(2) {
          >div {
            width: 204px;
            float: left;
            border-right: 1px solid #E5E5E5;
          }
          >div:last-child {
            border: none;
          }
        }
        &:nth-child(3) {
          >div:first-child {
            width: 644px;
            float: left;
          }
        }
        &:last-child {
          height: 120px;
          border: none;
        }
      }
    }
  }

  .apply-info {
    margin-bottom: 24px;
    .title {
      font-size: 28px;
      color:rgba(51,51,51,1);
      line-height: 40px;
      text-indent: 44px;
      margin-bottom: 20px;
    }
    .apply-list {
      width: 706px;
      height: 500px;
      background: #FFFFFF;
      border: 1px solid #E5E5E5;
      border-radius: 10px;
      margin: 0 auto;
      .item {
        height: 98px;
        line-height: 98px;
        border-bottom: 1px solid #E5E5E5;
        &:last-child {
          border-bottom: 0;
        }
        .label {
          display: inline-block;
          width: 134px;
          height: 34px;
          font-size:24px;
          color:rgba(153,153,153,1);
          line-height: 34px;
          margin-left: 32px;
          .must {
            color: red;
          }
        }
        .form-input {
          display: inline-block;
          width: 300px;
          font-size: 28px;
          font-family: PingFangSC-Regular, PingFang SC;
          @{deep}.van-field__control {
            color: #333333;
            &::placeholder {
              font-size: 24px;
              font-family: PingFangSC-Regular, PingFang SC;
              color: #999999;
            }
          }
        }
      }
    }
  }

  .remind{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    z-index: 99999;
    .info{
      width: 606px;
      height: 676px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .bg-img("~@/assets/images/index-2/reminder-bg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% 100%;
      border-radius: 24px;
      .title {
        width: 100%;
        height: 44px;
        color:rgba(255,255,255,1);
        line-height: 44px;
        text-align: center;
        margin: 28px 0 72px 0;
      }
      .text {
        width: 452px;
        margin: 0 auto;
        color:rgba(72,72,74,1);
        font-size: 28px;
        div {
          text-indent: 2em;
        }
      }
      .confirm-btn {
        width: 272px;
        height: 86px;
        line-height: 86px;
        margin: 0 auto;
        text-align: center;
        background:rgba(243,152,1,1);
        border-radius: 12px;
        font-size: 36px;
        color:rgba(255,255,255,1);
        margin-top: 192px;
      }
    }
  }
}

</style>
