<template>
  <div class="logistics-apply-list">
    <van-nav-bar title="物流申请列表" left-arrow @click-left="_toReturn"></van-nav-bar>

    <van-pull-refresh v-model="isLoading" @refresh="onRefresh">
      <van-list v-model="loading" :finished="finished" @load="onLoad" :offset="200" finished-text="没有更多了" v-if="applyList && applyList.length">
        <div class="apply-list" v-for="(item, index) in applyList" :key="index" @click="_toApplyDetails(item.id)">
          <div class="item bg-pink " v-if="item.billStatus === 'A'">
            <div class="time">{{item.applyDate}}</div>
            <div class="status">审核中</div>
          </div>
          <div class="item bg-green" v-else-if="item.billStatus === 'B'">
            <div class="time">{{item.applyDate}}</div>
            <div class="status">审核通过</div>
          </div>
          <div class="item bg-gray" v-if="item.billStatus === 'C'">
            <div class="time">{{item.applyDate}}</div>
            <div class="status">审核不通过</div>
          </div>
          <div class="item">
            <div class="label">预约日期：</div>
            <div class="text">{{item.reservation}}</div>
          </div>
          <div class="item">
            <div class="label">申请线路：</div>
            <div class="text"><span>{{item.applyLineName}}</span></div>
          </div>
          <div class="item">
            <div class="label">申请数量：</div>
            <div class="text">{{item.applyQty}}{{unitText(item.unit)}}</div>
          </div>
          <div class="item" v-if="item.billStatus === 'B'">
            <div class="label">安排司机：</div>
            <div class="text">{{item.driverName}}（{{item.driverPhone}}）</div>
          </div>
          <div class="item" v-if="item.billStatus === 'B'">
            <div class="label">安排车辆：</div>
            <div class="text">{{item.carName}}</div>
          </div>
        </div>
      </van-list>

      <div class="no-data-box" v-else>
        <no-data :loading="requestLoading"></no-data>
      </div>
    </van-pull-refresh>

    <bottom-button :btns="[{ text: '新增申请', color: 'red' }]" @on-btn="addApply"></bottom-button>

    <!-- 悬浮置顶按钮 -->
    <scroll-to-top-hover-btn></scroll-to-top-hover-btn>
  </div>
</template>

<script>
import NoData from '@/components/no-data'
import BottomButton from '@/components/bottom-button'
import ScrollToTopHoverBtn from '@/components/scroll-to-top-hover-btn/index'
import { api } from '@/api'

export default {
  name: 'logistics-apply-list',
  components: {
    NoData,
    BottomButton,
    ScrollToTopHoverBtn
  },
  data () {
    return {
      applyList: [],
      requestLoading: false, // 接口请求加载动画
      loading: false, // 控制上拉加载的加载动画
      isLoading: false, // 控制下拉刷新的加载动画
      finished: false, // 控制在页面往下移动到底部时是否调用接口获取数据
      cacheList: [],
      page: {
        index: 1,
        size: 6,
        total: 0
      }
    }
  },
  created () {
    this.getApplyList()
  },
  methods: {
    unitText (number) {
      switch (number) {
        case 'A':
          return '笼'
        case 'B':
          return '只'
        case 'C':
          return '头'
        case 'D':
          return '公斤'
        case 'E':
          return '斤'
        case 'F':
          return '吨'
        default:
          return ''
      }
    },
    _toReturn () {
      this.$router.go(-1)
    },
    // 下拉刷新
    onRefresh () {
      this.page.index = 1
      this.cacheList = []
      this.getApplyList()
    },
    // 上拉加载
    onLoad () {
      this.page.index++
      this.getApplyList()
    },
    // 获取线路列表
    getApplyList () {
      this.requestLoading = true
      let params = {
        page: this.page.index,
        pageSize: this.page.size
      }
      api.commonCall(params, 'queryLineApplyList').then(res => {
        this.requestLoading = false
        if (res.success) {
          this.cacheList = this.cacheList.concat(res.data.list)
          this.applyList.splice(0, this.applyList.length, ...this.cacheList)
          this.page.total = res.data.count

          this.finished = false
          this.loading = false
          if (this.cacheList.length >= this.page.total) {
            this.finished = true
          }
          setTimeout(() => {
            this.isLoading = false
          }, 100)
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    // 新增申请
    addApply () {
      this.$router.replace({
        path: '/logisticsLineList'
      })
    },
    // 申请详情
    _toApplyDetails (id) {
      this.$router.push({
        path: '/logisticsApplyDetails',
        query: {
          id: id
        }
      })
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.logistics-apply-list{
  min-height: calc(100vh - 100px);
  padding-bottom: 100px;
  background: rgba(248, 248, 248, 1);
  .apply-list {
    width: 706px;
    background:rgba(255,255,255,1);
    border-radius: 10px;
    border: 1px solid rgba(229,229,229,1);
    margin: 22px auto 0;
    .item {
      height: 82px;
      line-height: 82px;
      margin: 0 32px;
      border-bottom: 1px solid #E5E5E5;
      overflow: hidden;
      &.bg-pink {
        width: 706px;
        margin: 0;
        background:rgba(255,245,228,1);
        border-radius:10px 10px 0px 0px;
        border: none;
        .time {
          color:rgba(51,51,51,1);
          width: 280px;
          float: left;
          margin-left: 32px;
        }
        .status {
          color:rgba(245,153,0,1);
          width: 84px;
          float: right;
          margin-right: 32px;
        }
      }
      &.bg-green {
        width: 706px;
        margin: 0;
        background:rgba(127,189,96,1);
        border-radius:10px 10px 0px 0px;
        border: none;
        .time {
          color:rgba(255,255,255,1);
          width: 280px;
          float: left;
          margin-left: 32px;
        }
        .status {
          color:rgba(255,255,255,1);
          width: 100px;
          float: right;
          margin-right: 32px;
        }
      }
      &.bg-gray {
        width: 706px;
        margin: 0;
        background:rgba(229,229,229,1);
        border-radius:10px 10px 0px 0px;
        border: none;
        .time {
          color:rgba(51,51,51,1);
          width: 280px;
          float: left;
          margin-left: 32px;
        }
        .status {
          color:rgba(51,51,51,1);
          width: 134px;
          float: right;
          margin-right: 32px;
        }
      }
      .time,
      .status {
        font-size: 24px;
      }
      .label {
        width: 134px;
        height: 80px;
        display: inline-block;
        vertical-align: middle;
        font-size: 24px;
        color:rgba(153,153,153,1);
      }
      .text {
        width: calc(100% - 135px);
        height: 80px;
        display: inline-block;
        vertical-align: middle;
        font-size: 28px;
        color:rgba(51,51,51,1);
        span {
          display: inherit;
          line-height: 40px;
        }
      }
    }
    .item:last-child {
      border: none;
    }
  }
  .add-btn {
    width: 100%;
    height: 98px;
    background:rgba(245,153,0,1);
    color: #ffffff;
    font-size: 36px;
    line-height: 98px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
  }
}

</style>
