<template>
  <div class="logistics-line-list">
    <van-nav-bar title="物流申请" left-arrow @click-left="_toReturn"></van-nav-bar>

    <!-- 查询框 -->
    <div class="query-box">
      <div class="box-date">
        <div>
          <span class="label"><span class="date"></span>出发日期</span>
          <span @click="dateSelect()" class="value">{{startDate ? startDate + ' ' + startDateWeekDay : '请选择出发日期'}}</span>
        </div>
        <van-icon name="arrow" @click="showStartDatePicker = true"/>
      </div>
      <div class="box-site">
        <div class="box-left">
          <div class="box-starting" @click="chooseSitePoint(1)">
            <div class="box-title">
              <span class="label"><span class="dot"></span>发车点</span>
            </div>
            <div class="box-value">
              <span>{{startingPoint || '请选择'}}</span>
            </div>
          </div>
          <div class="box-finishing" @click="chooseSitePoint(2)">
            <div class="box-title">
              <span class="label"><span class="dot black"></span>到达站</span>
            </div>
            <div class="box-value">
              <span>{{finishingPoint || '请选择'}}</span>
            </div>
          </div>
        </div>
        <div class="box-right">
          <div class="switchover" @click="switchOver"></div>
        </div>
      </div>
      <div class="query-btn" @click="queryLine">查询线路</div>
    </div>

    <!-- 查询结果列表 -->
    <div class="logistics-list">
      <p class="title" v-if="lineList">查询结果</p>

      <van-list v-model="loading" :finished="finished" @load="onLoad" :offset="200" finished-text="没有更多了" v-if="lineList && lineList.length">
        <div class="details-list" v-for="(item, index) in lineList" :key="index" @click="_toLogisticsApply(item.id)">
          <div class="details-left">
            <div>
              <p class="label">预计发车时间</p>
              <p class="date" v-if="item.depart">{{item.depart}}</p>
            </div>
            <div>
              <p class="label">最大装载量</p>
              <p class="number">{{item.maxQty}}{{unitText(item.unit)}}</p>
            </div>
          </div>
          <div class="details-right">
            <div class="starting">
              <span>发</span>
              <div class="lineText">{{item.lineStart}}</div>
            </div>
            <div class="focus">
              <span class="black">终</span>
              <div class="lineText">{{item.lineArrival}}</div>
            </div>
            <van-icon name="arrow"/>
          </div>
        </div>
      </van-list>

      <div class="no-data-box" v-else-if="lineList">
        <no-data :loading="requestLoading"></no-data>
      </div>
    </div>

    <!-- 出发日期 -->
    <van-calendar
      v-model="showStartDatePicker"
      title="出发日期选择"
      position="right"
      color="#f59900"
      :show-confirm="false"
      :round="false"
      @confirm="onDateConfirm"
    />

    <!-- 发车点/到达站 -->
    <van-popup v-model="showSiteListPicker" position="top" :style="{ width: '100%', height: '100%' }">
      <van-search
        v-model="searchValue"
        placeholder="请输入站点名称或简码"
        :left-icon="require('@/assets/images/index-2/icon-search.svg')"
        shape="round"
        background="#FF9F00"
      />

      <van-index-bar :index-list="siteIndexList">
        <div v-for="(item, index) in siteList" :key="index">
          <van-index-anchor :index="item.key"></van-index-anchor>
          <van-cell v-for="(childItem, childIndex) in item.value" :key="childIndex" :title="childItem.name" @click="changeSitePoint(childItem.name)"/>
        </div>
      </van-index-bar>
    </van-popup>
  </div>
</template>

<script>
import NoData from '@/components/no-data'
import { zero, formatDataByGroup, getWeekDay } from '@/utils/common'
import { api } from '@/api'

export default {
  name: 'logistics-line-list',
  components: {
    NoData
  },
  data () {
    return {
      startDate: null, // 出发日期
      showStartDatePicker: false, // 显示出发日期选择器
      startDatePick: '', // 时间选择器选中出发时间
      startingPoint: '', // 发车点
      finishingPoint: '', // 到达站
      sitePointType: 1, // 当前选择站点类型：1 - 发车点，2 - 到达站
      requestLoading: false, // 接口请求加载动画
      loading: false, // 控制上拉加载的加载动画
      finished: false, // 控制在页面往下移动到底部时是否调用接口获取数据
      cacheList: [],
      page: {
        index: 1,
        size: 6,
        total: 0
      },
      lineList: null,
      showSiteListPicker: false, // 显示站点列表选择器
      initSiteList: [], // 初始站点列表
      searchValue: '' // 站点搜索值
    }
  },
  computed: {
    startDateWeekDay () { // 出发日期对应星期几
      return this.startDate ? getWeekDay(new Date(this.startDate.replace(/-/g, '/'))) : ''
    },
    filterSiteList () { // 过滤搜索值（站点名称或简码，大小写不敏感）后的站点列表
      return this.initSiteList.filter(v => v.name.toLowerCase().indexOf(this.searchValue.toLowerCase()) > -1 || v.shortCode.toLowerCase().indexOf(this.searchValue.toLowerCase()) > -1)
    },
    siteList () { // 分组后的站点列表
      return formatDataByGroup(this.filterSiteList, 'shortCode')
    },
    siteIndexList () { // 分组后的站点列表索引
      return this.siteList.map(v => v.key)
    }
  },
  created () {
    this.getLineSiteList()
  },
  methods: {
    unitText (number) {
      switch (number) {
        case 'A':
          return '笼'
        case 'B':
          return '只'
        case 'C':
          return '头'
        case 'D':
          return '公斤'
        case 'E':
          return '斤'
        case 'F':
          return '吨'
        default:
          return ''
      }
    },
    _toReturn () {
      this.$router.go(-1)
    },
    onDateConfirm (date) {
      this.showStartDatePicker = false
      this.startDate = this.formatDate(date)
    },
    dateSelect () {
      this.startDatePick = this.startDate ? new Date(this.startDate.replace(/-/g, '/')) : new Date()
      this.showStartDatePicker = true
    },
    // 格式化日期
    formatDate (date) {
      let _date = date || new Date()

      return `${_date.getFullYear()}-${zero(_date.getMonth() + 1)}-${zero(_date.getDate())}`
    },
    // 上拉加载
    onLoad () {
      this.page.index++
      this.getLineList()
    },
    // 获取线路列表
    getLineList () {
      if (!this.startDate) {
        this.$toast('请选择出发日期')
        return
      }

      if (!this.startingPoint) {
        this.$toast('请选择发出点')
        return
      }

      if (!this.finishingPoint) {
        this.$toast('请选择到达站')
        return
      }

      let departCycle = ''
      switch (this.startDateWeekDay) {
        case '星期一':
          departCycle = 'A'
          break
        case '星期二':
          departCycle = 'B'
          break
        case '星期三':
          departCycle = 'C'
          break
        case '星期四':
          departCycle = 'D'
          break
        case '星期五':
          departCycle = 'E'
          break
        case '星期六':
          departCycle = 'F'
          break
        case '星期日':
          departCycle = 'G'
          break
      }
      this.requestLoading = true
      let params = {
        page: this.page.index,
        pageSize: this.page.size,
        departDate: this.startDate, // 发车日期
        departCycle: departCycle, // 发车频率 A-G：周一 ~ 周日
        startCity: this.startingPoint, // 发车点
        arrivalCity: this.finishingPoint // 到达站
      }
      api.commonCall(params, 'queryLineList').then(res => {
        this.requestLoading = false
        if (res.success) {
          this.cacheList = this.cacheList.concat(res.data.list)
          this.lineList.splice(0, this.lineList.length, ...this.cacheList)
          this.page.total = res.data.count

          this.finished = false
          this.loading = false
          if (this.cacheList.length >= this.page.total) {
            this.finished = true
          }
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    _toLogisticsApply (id) {
      this.$router.push({
        path: '/logisticsApply',
        query: {
          id: id,
          date: this.startDate
        }
      })
    },
    // 发车点和到达站转换
    switchOver () {
      let startingPoint = this.startingPoint
      this.startingPoint = this.finishingPoint
      this.finishingPoint = startingPoint
    },
    // 查询路线
    queryLine () {
      this.page.index = 1
      this.cacheList = []
      this.lineList = []
      this.getLineList()
    },
    // 选择站点，1 - 发车站，2 - 到达站
    chooseSitePoint (type) {
      this.sitePointType = type
      this.showSiteListPicker = true
    },
    changeSitePoint (name) {
      if (this.sitePointType === 1) { // 修改发车站点
        this.startingPoint = name
      } else if (this.sitePointType === 2) { // 修改到达站点
        this.finishingPoint = name
      }
      this.showSiteListPicker = false
    },
    getLineSiteList () {
      let params = {
        page: 1,
        pageSize: 50
      }
      api.commonCall(params, 'queryLineSiteList').then(res => {
        if (res.success) {
          let arr = res.data.list
          arr.sort((a, b) => a.shortCode < b.shortCode ? -1 : 1)

          this.initSiteList = arr
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.logistics-line-list {
  min-height: 100vh;
  background: rgba(248, 248, 248, 1);
  .query-box {
    width: 662px;
    height: 350px;
    margin: 20px auto;
    background: rgba(255,255,255,1);
    border-radius: 10px;
    padding: 0 22px 20px;
    .box-date {
      display: flex;
      align-items: center;
      height: 88px;
      font-size: 24px;
      position: relative;
      >div {
        width: 614px;
        line-height: 88px;
        position: relative;
        display: flex;
        &::after {
          position: absolute;
          box-sizing: border-box;
          content: ' ';
          pointer-events: none;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 1px;
          border-bottom: 1px solid #E5E5E5;
          -webkit-transform: scaleY(.5);
          transform: scaleY(.5);
        }
        span {
          flex: 1;
          &.label {
            font-size: 24px;
            color: #999999;
            .date {
              width: 32px;
              height: 30px;
              display: inline-block;
              vertical-align: middle;
              margin-right: 10px;
              .bg-img("~@/assets/images/logistics-site/date");
              background-repeat: no-repeat;
              background-position: center;
              background-size: 100% 100%;
            }
          }
          &.value {
            text-align: right;
            font-size: 28px;
            color: #333333;
          }
        }
      }
      @{deep}.van-icon-arrow {
        margin-left: 22px;
      }
    }
    .box-site {
      width:666px;
      height: 164px;
      .box-left {
        width: 614px;
        float: left;
        .box-starting,
        .box-finishing {
          width: 614px;
          height: 80px;
          line-height: 80px;
          position: relative;
          display: flex;
          box-sizing: border-box;
          padding: 16px 0 14px;
          overflow: hidden;
          &::after {
            position: absolute;
            box-sizing: border-box;
            content: ' ';
            pointer-events: none;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            border-bottom: 1px solid #E5E5E5;
            -webkit-transform: scaleY(.5);
            transform: scaleY(.5);
          }
          .box-title {
            flex: 1;
            line-height: 50px;
            .label {
              font-size: 24px;
              font-family: PingFangSC-Regular, PingFang SC;
              color: #999999;
            }
            .dot {
              display: inline-block;
              vertical-align: middle;
              width: 10px;
              height: 10px;
              border-radius: 50%;
              margin: 0 22px 0 10px;
              background: rgba(245,153,0,1);
              &.black {
                background: rgba(102,102,102,1);
              }
            }
          }
          .box-value {
            flex: 1;
            line-height: 50px;
            position: relative;
            overflow: hidden;
            text-align: right;
            vertical-align: middle;
            word-wrap: break-word;
            span {
              font-size: 36px;
              font-family: PingFangSC-Regular, PingFang SC;
              color: #333333;
            }
          }
        }
      }
      .box-right {
        width: 28px;
        height: 164px;
        float: left;
        margin-left: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        .switchover {
          width: 28px;
          height: 34px;
          .bg-img("~@/assets/images/logistics-site/exchange");
          background-repeat: no-repeat;
          background-position: center;
          background-size: 100% 100%;
        }
      }
    }
    .query-btn {
      margin-top: 20px;
      width: 664px;
      height: 80px;
      background:rgba(245,153,0,1);
      border-radius: 16px;
      font-size: 32px;
      color: #ffffff;
      line-height: 80px;
      text-align: center;
    }
  }
  .logistics-list {
    .title {
      font-size: 28px;
      color:rgba(51,51,51,1);
      line-height: 40px;
      text-indent: 44px;
      margin-bottom: 20px;
    }
    .details-list {
      width: 100%;
      height: 200px;
      background:rgba(255,255,255,1);
      border-radius: 10px;
      border:1px solid rgba(229,229,229,1);
      width: 708px;
      margin: 0 auto 22px;
      .details-left {
        width: 212px;
        height: 200px;
        border-right: 1px solid #E5E5E5;
        float: left;
        text-align: center;
        div:first-child {
          height: 102px;
          border-bottom: 1px solid #E5E5E5;
          padding-top: 8px;
        }
        .label {
          font-size: 24px;
          color:rgba(153,153,153,1);
          line-height: 34px;
          margin-top: 6px;
        }
        .date {
          font-size: 48px;
          color:rgba(51,51,51,1);
          line-height: 66px;
          font-weight: 500;
        }
        .number {
          font-size: 28px;
          font-weight: 400;
          color:rgba(51,51,51,1);
          line-height: 40px;
        }
      }
      .details-right {
        width: 492px;
        height: 200px;
        float: left;
        position: relative;
        .starting,
        .focus {
          width: 492px;
          height: 100px;
          font-size: 32px;
          color:rgba(51,51,51,1);
          display: flex;
          justify-content: center;
          align-items: center;
          span {
            display: inline-block;
            width: 40px;
            height: 40px;
            line-height: 40px;
            border: 1px solid rgba(245,153,0,1);
            border-radius: 50%;
            font-size: 24px;
            color:rgba(245,153,0,1);
            text-align: center;
            margin:0 22px 0 30px;
            &.black {
              background:rgba(255,255,255,1);
              border:1px solid rgba(102,102,102,1);
              color:rgba(102,102,102,1);
            }
          }
          .lineText {
            width: 380px;
            display: inline-block;
          }
        }
        .van-icon {
          position: absolute;
          right: 20px;
          top: 90px;
        }
      }
    }
  }

  @{deep}.van-index-bar {
    .van-index-anchor {
      background-color: #f8f8f8;
    }
  }

  @{deep}.van-search {
    .van-search__content {
      border-radius: 16px;
      background-color: #FFFFFF;
      .van-cell {
        line-height: 34px;
        .van-field__control::placeholder {
          color: #C2C2C2;
        }
      }
    }
  }
}

</style>
