<template>
  <div class="logistics-apply-details">
    <van-nav-bar title="物流申请" left-arrow @click-left="_toReturn"></van-nav-bar>
    <!-- 物流列表 -->
    <div class="logistics-list">
      <div class="details-list">
        <div class="details-left">
          <div>
            <p class="label">预计发车时间</p>
            <p class="date">{{applyDetails.applyLineDepart}}</p>
          </div>
          <div>
            <p class="label">最大装载量</p>
            <p class="number">{{applyDetails.carMaxQty}}{{unitText(applyDetails.unit)}}</p>
          </div>
        </div>
        <div class="details-right">
          <div class="starting">
            <span>发</span>
            <div class="lineText">{{applyDetails.lineStartName}}</div>
          </div>
          <div class="focus">
            <span class="black">终</span>
            <div class="lineText">{{applyDetails.lineArrivalName}}</div>
          </div>
          <van-icon name="arrow"/>
        </div>
      </div>
      <div class="logistics-info">
        <div class="info-box">
          <div>
            <p class="label">发车频率</p>
            <div class="content">{{frequencyText(applyDetails.applyLineFrequency)}}</div>
          </div>
        </div>
        <div class="info-box">
          <div>
            <p class="label">载货类型</p>
            <div class="content">{{goodsTypeText(applyDetails.lineGoodsType)}}</div>
          </div>
          <div>
            <p class="label">载货品种</p>
            <div class="content">{{applyDetails.lineVarietiesName}}</div>
          </div>
          <div>
            <p class="label">线路类型</p>
            <div class="content">{{applyDetails.lineType === '0' ? '固定线路' : '临时线路'}}</div>
          </div>
        </div>
        <div class="info-box">
          <div>
            <p class="label">线路发布组织</p>
            <div class="content">{{applyDetails.lineOrgName}}</div>
          </div>
        </div>
      </div>
    </div>

    <!-- 申请信息 -->
    <div class="info-wrapper">
      <p class="title">申请信息</p>
      <div class="apply-list">
        <div class="item">
          <p class="label">申请人：</p>
          <div class="text">{{applyDetails.creatorName}}</div>
        </div>
        <div class="item">
          <p class="label">联系电话：</p>
          <div class="text">{{applyDetails.phone}}</div>
        </div>
        <div class="item">
          <p class="label">预约日期：</p>
          <div class="text">{{applyDetails.reservation}}</div>
        </div>
        <div class="item">
          <p class="label">申请数量：</p>
          <div class="text">{{applyDetails.applyQty}}{{unitText(applyDetails.unit)}}</div>
        </div>
        <div class="item">
          <p class="label">备注信息：</p>
          <div class="text remark">{{applyDetails.remark || '无'}}</div>
        </div>
      </div>
    </div>

    <!-- 审核信息 -->
    <div class="info-wrapper">
      <p class="title" v-if="applyDetails.billStatus !== 'A'">审核信息</p>
      <div class="audit-list" v-if="applyDetails.billStatus !== 'A'">
        <div class="item">
          <p class="label">审批时间：</p>
          <div class="text">{{applyDetails.auditDate}}</div>
        </div>
        <div class="item">
          <p class="label">审批结果：</p>
          <div class="text text-orange" v-if="applyDetails.billStatus === 'B'">
            审核通过
            <span>{{auditResultText(applyDetails.auditResult)}}</span>
          </div>
          <div class="text text-red" v-else-if="applyDetails.billStatus === 'C'">审核不通过(驳回申请)</div>
        </div>
        <div class="item" v-if="applyDetails.billStatus !== 'C'">
          <p class="label">安排司机：</p>
          <div class="text">{{applyDetails.driverName}}</div>
        </div>
        <div class="item" v-if="applyDetails.billStatus !== 'C'">
          <p class="label">司机电话：</p>
          <div class="text">{{applyDetails.driverPhone}}</div>
        </div>
        <div class="item" v-if="applyDetails.billStatus !== 'C'">
          <p class="label">安排车辆：</p>
          <div class="text">{{applyDetails.carName}}</div>
        </div>
        <div class="item" v-if="applyDetails.billStatus !== 'C'">
          <p class="label">安排数量：</p>
          <div class="text">{{applyDetails.applyQuantity}}{{unitText(applyDetails.unit)}}</div>
        </div>
        <div class="item">
          <p class="label">审批意见：</p>
          <div class="text">{{applyDetails.comments || '无'}}</div>
        </div>
      </div>
    </div>

    <div class="again-btn" v-if="applyDetails.billStatus === 'C'" @click="reapply">重新申请</div>
  </div>
</template>

<script>
import { api } from '@/api'

export default {
  name: 'logistics-apply-details',
  data () {
    return {
      applyDetails: {} // 申请详情
    }
  },
  created () {
    if (!this.$route.query.id) {
      this.$router.go(-1)
      return
    }

    this.getApplyList()
  },
  methods: {
    unitText (number) {
      switch (number) {
        case 'A':
          return '笼'
        case 'B':
          return '只'
        case 'C':
          return '头'
        case 'D':
          return '公斤'
        case 'E':
          return '斤'
        case 'F':
          return '吨'
        default:
          return ''
      }
    },
    auditResultText (auditResult) {
      switch (auditResult) {
        case 'A':
          return '（全部安排）'
        case 'B':
          return '（部分安排）'
        default:
          return ''
      }
    },
    goodsTypeText (goodsType) {
      switch (goodsType) {
        case 'A':
          return '毛禽'
        case 'B':
          return '生猪'
        case 'C':
          return '乳品'
        case 'D':
          return '单品'
        case 'E':
          return '生鲜'
        default:
          return ''
      }
    },
    _toReturn () {
      this.$router.go(-1)
    },
    // 获取申请详情
    getApplyList () {
      api.commonCall({ id: this.$route.query.id }, 'queryLineApplyDetail').then(res => {
        if (res.success) {
          this.applyDetails = res.data
        } else {
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    // 发车频率的显示格式
    frequencyText (frequency) {
      if (!frequency) return ''

      let arr = frequency.split(',').filter(v => v)
      if (arr.length === 7) {
        return '每天'
      } else {
        arr = arr.map(v => {
          switch (v) {
            case 'A':
              return '周一'
            case 'B':
              return '周二'
            case 'C':
              return '周三'
            case 'D':
              return '周四'
            case 'E':
              return '周五'
            case 'F':
              return '周六'
            case 'G':
              return '周日'
          }
        })
        return arr.join('、')
      }
    },
    reapply () {
      this.$router.replace({
        path: '/logisticsLineList'
      })
    }
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.logistics-apply-details {
  min-height: 100vh;
  background: rgba(248, 248, 248, 1);
  overflow: hidden;
  .logistics-list {
    width: 708px;
    margin: 20px auto;
    border-radius: 10px;
    border:1px solid rgba(229,229,229,1);
    .details-list {
      width: 100%;
      height: 200px;
      background:rgba(255,255,255,1);
      border-bottom: 1px solid #E5E5E5;
      border-radius: 10px 10px 0 0;
      .details-left {
        width: 212px;
        height: 200px;
        border-right: 1px solid #E5E5E5;
        float: left;
        text-align: center;
        div:first-child {
          height: 102px;
          border-bottom: 1px solid #E5E5E5;
          padding-top: 8px;
        }
        .label {
          font-size: 24px;
          color:rgba(153,153,153,1);
          line-height: 34px;
          margin-top: 6px;
        }
        .date {
          font-size: 48px;
          color:rgba(51,51,51,1);
          line-height: 66px;
          font-weight: 500;
        }
        .number {
          font-size: 28px;
          font-weight: 400;
          color:rgba(51,51,51,1);
          line-height: 40px;
        }
      }
      .details-right {
        width: 492px;
        height: 200px;
        float: left;
        position: relative;
        .starting,
        .focus {
          width: 492px;
          height: 100px;
          font-size: 32px;
          color:rgba(51,51,51,1);
          display: flex;
          justify-content: center;
          align-items: center;
          span {
            display: inline-block;
            width: 40px;
            height: 40px;
            line-height: 40px;
            background:rgba(245,153,0,1);
            border-radius: 50%;
            font-size: 24px;
            color:#fff;
            text-align: center;
            margin:0 22px 0 30px;
            &.black {
              background:rgba(102,102,102,1);
            }
          }
          .lineText {
            width: 380px;
            display: inline-block;
          }
        }
        .van-icon {
          position: absolute;
          right: 20px;
          top: 90px;
        }
      }
    }
    .logistics-info {
      width: 100%;
      height: 360px;
      background:rgba(255,255,255,1);
      border-radius: 0 0 10px 10px;
      .info-box {
        width: 100%;
        height: 118px;
        border-bottom: 1px solid #E5E5E5;
        >div {
          height: 100%;
          padding-left: 30px;
          .label {
            padding-top: 24px;
            font-size: 24px;
            color:rgba(153,153,153,1);
            line-height: 34px;
          }
          .content {
            font-size: 28px;
            color:rgba(51,51,51,1);
            line-height: 40px;
          }
        }
        &:nth-child(2) {
          >div {
            width: 204px;
            float: left;
            border-right: 1px solid #E5E5E5;
          }
          >div:last-child {
            border: none;
          }
        }
        &:nth-child(3) {
          >div:first-child {
            width: 644px;
          }
        }
        &:last-child {
          height: 120px;
          border: none;
        }
      }
    }
  }

  .info-wrapper {
    margin-bottom: 24px;
    .title {
      font-size: 28px;
      color:rgba(51,51,51,1);
      line-height: 40px;
      text-indent: 44px;
      margin-bottom: 20px;
    }
    .apply-list,
    .audit-list {
      width: 706px;
      background:rgba(255,255,255,1);
      border-radius: 10px;
      border: 1px solid rgba(229,229,229,1);
      margin: 0 auto;
      .item {
        min-height: 98px;
        line-height: 98px;
        border-bottom: 1px solid #E5E5E5;
        &:last-child {
          border-bottom: 0;
        }
        .label {
          display: inline-block;
          width: 134px;
          height: 34px;
          font-size:24px;
          color:rgba(153,153,153,1);
          line-height: 34px;
          margin-left: 32px;
        }
        .text {
          font-size: 28px;
          width: 520px;
          display: inline-block;
          &.text-orange {
            color: #F59900;
          }
          &.text-red {
            color: #E02020;
          }
          &.remark {
            word-break:break-all;
            line-height: 45px;
          }
        }
      }
    }
  }

  .again-btn {
    width: 708px;
    height: 80px;
    background:rgba(245,153,0,1);
    color: #ffffff;
    font-size: 32px;
    line-height: 80px;
    text-align: center;
    border-radius:16px;
    margin: 0 auto 24px;
  }
}

</style>
