<template>
  <div class="after-sale-wrap">
    <div class="header-wrap">
      <v-header title="申请售后服务"></v-header>
      <span class="sub-btn" @click="submit">提交</span>
    </div>

    <div class="goos-list-wrap">
      <div class="img-wrap">
        <img v-lazy="orderInfo.photo">
      </div>
      <div class="goods-list">
        <p class="name">{{orderInfo.text}}</p>
        <p class="desc">
          <span>数量：{{+itemList[0].isAssistOrder ? itemList[0].alterAssistQty : orderInfo.number}}（{{+itemList[0].isAssistOrder ? itemList[0].itemAssistUnitName : itemList[0].itemUnitName}}）</span>
          <span>价格：{{totalPrice.toString().split('.')[0]|| '0'}}.{{totalPrice.toString().split('.')[1]|| '00'}}</span>
        </p>
      </div>
    </div>

    <div class="write-text-wrap">
      <v-box title="申请数量" :required="vBool">
        <div class="text-input-wrap">
          <van-field v-model="submitQty" clearable input-align="right" placeholder="请输入申请数量"></van-field>
        </div>
      </v-box>
      <v-box title="申请原因" :required="vBool" :is-link="vBool" @rightClick="show=true">
        <div class="v-select-wrap">{{reasonName}}</div>
      </v-box>
      <v-box title="问题描述" :required="vBool">
        <div class="text-input-wrap">
          <van-field disabled></van-field>
        </div>
      </v-box>
      <van-field
        v-model="returnReason"
        type="textarea"
        placeholder="分享体验心得，给万千想买的人一个参考！"
        rows="4"
        autosize
      ></van-field>

      <div class="text-img-wrap">
        <div class="upload-img-wrap" v-for="(item, index) in pictures" :key="index">
          <img :src="allImgDomainName+item.src">
          <i @click.stop.prevent="_deleteImg(index)"></i>
        </div>

        <van-uploader :after-read="onRead" accept="image/*" v-if="pictures.length < 5">
          <van-icon name="photograph"></van-icon>
        </van-uploader>
        <p class="upload-desc">最多上传5张图片，每张图片大小不超过5M，支持bmp，jpg，png，jpeg格式文件</p>
      </div>
    </div>

    <div class="text-wrap mt16">
      <v-box title="客户姓名" :required="vBool">
        <div class="text-input-wrap">
          <van-field v-model="customerName" clearable input-align="right" placeholder="请输入姓名"></van-field>
        </div>
      </v-box>

      <v-box title="手机号码" :required="vBool">
        <div class="text-input-wrap">
          <van-field
            v-model="customerPhone"
            type="tel"
            clearable
            input-align="right"
            placeholder="请输入手机号码"
          ></van-field>
        </div>
      </v-box>

      <v-box title="所在地区" :required="vBool" :is-link="vBool" @rightClick="selectCity">
        <div class="v-select-wrap">{{addressName}}</div>
      </v-box>

      <v-box title="详细地址" :required="vBool">
        <div class="text-input-wrap">
          <van-field v-model="detailAddress" clearable input-align="right" placeholder="街道、楼盘号等"></van-field>
        </div>
      </v-box>
    </div>

    <!--<van-popup v-model="show" position="bottom">-->
    <!--<van-picker-->
    <!--show-toolbar-->
    <!--title="申请售后原因"-->
    <!--:columns="columns"-->
    <!--@cancel="onCancel"-->
    <!--@confirm="onConfirm"-->
    <!--/>-->
    <!--</van-popup>-->
    <!--<v4-popup-->
    <!--v-show="show"-->
    <!--title="申请售后原因"-->
    <!--:data="columns"-->
    <!--@cancel="onCancel"-->
    <!--@confirm="onConfirm"-->
    <!--&gt;-->
    <!--</v4-popup>-->
    <!--<transition name="fold">-->
    <!--<div class="shop-cart-list-wrap" v-show="show">-->
    <!--<div class="list-header">-->
    <!--<h1 class="title">申请售后原因</h1>-->
    <!--</div>-->
    <!--<div class="list-content" ref="listContent">-->
    <!--<ul>-->
    <!--<li class="food-list" v-for="item in columns">-->
    <!--<span class="name" @click.stop.prevent="onConfirm(item)">{{item}}</span>-->
    <!--</li>-->
    <!--</ul>-->
    <!--<div class="cancel" @click.stop.prevent="show=false">取消</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</transition>-->
    <!-- 申请售后原因 -->
    <pull-up-selection
      title="申请售后原因"
      :data="reasons"
      :show="show"
      @cancel="show=false"
      @selected="pullUpSelectedReasons"
    ></pull-up-selection>

    <!-- 上拉框 -->
    <pull-up-selection
      :data="city"
      :show="showRegion"
      :title="selectionTitle"
      @cancel="showRegion = false"
      @selected="pullUpSelected"
    ></pull-up-selection>

    <div class="list-mask" v-if="show" @click.stop.prevent="show=false"></div>
  </div>
</template>

<script type="text/ecmascript-6">
import VHeader from '@/components/vheader/index'
import VBox from '@/components/vbox/vbox'
import PullUpSelection from '@/components/pull-up-selection'
import { api } from '@/api'
import { allImgDomainNameMixin } from '@/assets/js/mixin'
import { isPhone } from '@/utils/common'

export default {
  name: 'after-sale',
  mixins: [allImgDomainNameMixin],
  components: {
    VHeader,
    VBox,
    PullUpSelection
  },
  data () {
    return {
      submitQty: 0,
      orderInfo: {},
      itemList: [],
      reasons: [],
      number: '',
      reasonName: '',
      returnReason: '',
      submitTypeId: '',
      customerName: '',
      customerPhone: '',
      addressName: '',
      detailAddress: '',
      address: [],
      pictures: [],
      show: false,
      showRegion: false,
      columns: ['质量问题', '不想买了', '其他'],
      vBool: true,
      city: [],
      totalPrice: null,
      selectionTitle: ''
    }
  },
  created () {
    this.orderInfo = this.$route.query
    this.itemList = JSON.parse(this.orderInfo.itemList)
    this.submitQty = this.orderInfo.number

    this.totalPrice = this.orderInfo.number * this.itemList[0].itemPrice

    // 请求退货原因列表
    api.queryReason().then(res => {
      if (res.success) {
        this.reasons = res.data.list
      }
    })
  },
  methods: {
    // 上传图片
    _uploadImage (file) {
      // 传递一个 FormData 对象
      // let formData = new FormData()
      // 'file' 可变 相当于 input 表单的name 属性
      // formData.append('file', file)
      api.uploadImage(file, res => {
        if (res.success) {
          this.pictures.push({ src: res.data[0] })
        } else {
          this.$toast.fail(res.msg || '上传图片失败')
        }
      })
    },
    onRead (e) {
      let file = e.file
      this._uploadImage(file)
    },
    _deleteImg (index) {
      this.pictures.splice(index, 1)
    },
    onConfirm (value) {
      this.reason = value
      this.show = false
    },
    // 选择城市
    selectCity () {
      this.selectionTitle = '选择省份'
      this.showRegion = true
      this._getProvince()
    },
    // 上拉选中
    pullUpSelected (item, index) {
      if (item.level === '001') {
        this.addressName = ''
        this.addressName += item.name + item.levelName + '/'
        this.address = []
        this.address.push(item.number)
        this.selectionTitle = '选择城市'
        this._getCity(item.number)
      } else if (item.level === '002') {
        this.addressName += item.name + item.levelName + '/'
        this.address.push(item.number)
        this.selectionTitle = '选择区县'
        this._getCounty(item.number)
      } else {
        this.addressName += item.name + item.levelName
        this.address.push(item.number)
        this.showRegion = false
      }
    },
    // 上拉选中
    pullUpSelectedReasons (item, index) {
      this.reasonName = item.name
      this.submitTypeId = item.id
      this.show = false
    },

    // 验证信息
    invalid () {
      if (!+this.submitQty || +this.submitQty > this.orderInfo.number) {
        this.$toast('请输入正确的申请数量')
      } else if (!this.returnReason) {
        this.$toast('请选择申请原因')
      } else if (!this.returnReason || this.returnReason.length < 10) {
        this.$toast('问题描述不能少于10个字')
      } else if (!this.customerName) {
        this.$toast('请输入收货人姓名')
      } else if (!isPhone(this.customerPhone)) {
        this.$toast('请输入正确的手机号码')
      } else if (!this.addressName) {
        this.$toast('请选择地区')
      } else if (!this.detailAddress) {
        this.$toast('请输入详细地址')
      } else {
        return false
      }
      return true
    },
    submit () {
      if (this.invalid()) return
      let params = {
        submitTypeId: this.submitTypeId,
        returnReason: this.returnReason,
        pictures: this.pictures,
        address: this.address,
        detailAddress: this.detailAddress,
        customerName: this.customerName,
        customerPhone: this.customerPhone,
        itemList: this.itemList
      }
      params.itemList[0].buyQty = +this.itemList[0].isAssistOrder
        ? this.itemList[0].alterAssistQty
        : this.orderInfo.number;

      +this.itemList[0].isAssistOrder
        ? (params.assistQty = parseInt(this.submitQty))
        : (params.qty = parseInt(this.submitQty))

      api.saveReturnOrder(params).then(res => {
        if (res.success) {
          this.$toast.success('提交成功')
          const itemList = JSON.parse(this.orderInfo.itemList)
          const orderId = itemList[0].orderId
          setTimeout(() => {
            this.$router.push({
              path: '/returnManagement',
              query: {
                orderId,
                active: 2
              }
            })
          }, 500)
        } else {
          res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    onCancel () {
      this.show = false
    },
    _click () {
      this.show = true
      return false
    },
    _getProvince () {
      api.queryAddress({ level: '001' }).then(res => {
        if (res.success) {
          this.city = res.data
        }
      })
    },
    _getCity (parent) {
      api.queryAddress({ level: '002', parent: parent }).then(res => {
        if (res.success) {
          this.city = res.data
        }
      })
    },
    _getCounty (parent) {
      api.queryAddress({ level: '003', parent: parent }).then(res => {
        if (res.success) {
          this.city = res.data
        }
      })
    }
  }
}
</script>

<style scoped lang="less">
@import "~@/assets/css/mixin.less";

.after-sale-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f5f5f5;
  z-index: 100;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  .header-wrap {
    position: relative;
    .border-1px();
    .sub-btn {
      position: absolute;
      top: 14px;
      right: 0px;
      color: #e33240;
      font-weight: 500;
      font-size: 30px;
      padding: 10px 24px;
      user-select: none;
    }
  }
  .mt16 {
    margin-top: 16px;
  }
  .goos-list-wrap {
    padding: 40px 24px;
    background-color: #ffffff;
    font-size: 0;
    .img-wrap,
    .goods-list {
      display: inline-block;
      vertical-align: middle;
    }
    .img-wrap {
      width: 140px;
      height: 140px;
      img {
        width: 140px;
        height: 140px;
      }
    }
    .goods-list {
      margin-left: 24px;
      width: 534px;
      p {
        &.name {
          color: #2e3033;
          font-size: 28px;
          line-height: 34px;
          margin-bottom: 30px;
          font-weight: 400;
        }
        &.desc {
          span {
            font-size: 26px;
            color: #8e939a;
            display: inline-block;
            &:last-child {
              margin-left: 1.5em;
            }
          }
        }
      }
    }
  }
  .write-text-wrap {
    .text-img-wrap {
      padding: 24px;
      font-size: 70px;
      background-color: #fff;
      .upload-img-wrap {
        display: inline-block;
        position: relative;
        margin-right: 8px;
        img {
          width: 140px;
          height: 140px;
          margin-right: 16px;
          margin-bottom: 15px;
          vertical-align: middle;
        }
        i {
          font-style: normal;
          position: absolute;
          top: 0;
          right: 0;
          width: 33px;
          height: 33px;
          background-size: 33px 33px;
          background-repeat: no-repeat;
          .bg-img("~@/assets/images/order/icon-close");
        }
      }
      .upload-desc {
        font-size: 24px;
        color: #8e939a;
        line-height: 30px;
      }
    }
  }
  .v-select-wrap {
    font-size: 28px;
    padding: 20px 0;
    color: #2e3033;
    min-height: 46px;
    line-height: 46px;
  }
  .text-input-wrap {
    font-size: 28px;
  }
  .shop-cart-list-wrap {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f5f5f5;
    z-index: 200;
    width: 100%;
    transition: all 0.5s;
    transform: translate3d(0, 0, 0);
    text-align: center;
    line-height: 96px;
    .list-header {
      background-color: #fff;
      .title {
        line-height: 96px;
        font-size: 26px;
        color: #8e939a;
        font-weight: normal;
        .border-1px();
      }
    }
    ul {
      li {
        color: #2e3033;
        font-size: 30px;
        background-color: #fff;
        .border-1px();
      }
    }
    .cancel {
      background-color: #fff;
      margin-top: 16px;
    }
  }
  .fold-enter,
  .fold-leave-to {
    transform: translate3d(0, 100%, 0);
  }
  .fade-enter,
  .fade-leave-to {
    opacity: 0;
  }
  .list-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 199;
    transition: all 0.5s;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
  }
}
</style>
