<template>
  <div class="apply-list-wrap">
    <div class="header-wrap">
      <v-header title="申请售后列表"></v-header>
    </div>

    <div class="list-wrap">
      <div class="list-item" v-for="(item, index) in 3" :key="index">
        <img src="@/assets/images/order/Bitmap7@3x.png">
        <p v-if="index % 2 === 0">广东温氏佳味客家农家土鸡盐焗鸡鲜熟鸡即食熟食</p>
        <p v-else>温氏牛奶凝固型巴氏杀菌酸奶玻璃瓶装低温酸奶8瓶</p>
        <span :class="{'color1': index === 0}" @click.stop.prevent="_toChild" v-if="index===0">申请售后</span>
        <span v-else :class="{'color2': index !== 0}">售后审核中</span>
      </div>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
import VHeader from '@/components/vheader/index'
export default {
  name: 'apply-list',
  components: {
    VHeader
  },
  data () {
    return {}
  },
  mounted () {},
  methods: {
    _toChild () {
      this.$router.push({
        path: '/afterSale'
      })
    }
  }
}
</script>

<style scoped lang="less">
@import "~@/assets/css/mixin.less";
.apply-list-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f5f5f5;
  z-index: 99;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  .header-wrap {
    .border-1px();
  }
  .list-wrap {
    .list-item {
      font-size: 0;
      padding: 40px 24px;
      position: relative;
      background-color: #fff;
      margin-bottom: 16px;
      position: relative;
      img,
      p {
        display: inline-block;
        vertical-align: top;
      }
      img {
        width: 180px;
        height: 180px;
      }
      p {
        margin-left: 24px;
        width: 498px;
        color: #2e3033;
        font-size: 28px;
        line-height: 34px;
      }
      span {
        display: inline-block;
        position: absolute;
        bottom: 20px;
        right: 20px;
        font-size: 26px;
        padding: 10px 35px;
        border-radius: 35px;
        color: #ffaa17;
        &.color1 {
          color: #ffffff;
          background: linear-gradient(
            90deg,
            rgba(255, 107, 82, 1) 0%,
            rgba(227, 50, 64, 1) 100%
          );
        }
      }
    }
  }
}
</style>
