<template>
  <div class="place-order">
    <div class="navbar">
      <van-nav-bar title="确认订单" left-arrow @click-left="onleftclick"/>
    </div>

    <div class="content van-content">
      <div class="order-list" v-if="onload">
        <div class="order-item">
          <div class="title">
            <i></i>
            <span class="owner-name">{{orderDetail.owner}}</span>
            <van-tag color="#f39800" plain >养猪</van-tag>
          </div>

          <div class="goods-item">
            <div class="goods-item-inner" v-for="(item, index) in orderList" :key="index">
              <div
                class="goods-img format-img"
                v-lazy:background-image="allImgDomainName + item.itemPic"
              ></div>
              <div class="goods-content">
                <div>{{item.item}}</div>
                <div class="price-module">
                  <span>
                    <span>{{item.price || 0}}</span> 元/斤
                  </span>
                  <span >
                    <p class="text-right">{{orderDetail.entrySize}}头（{{item.qty}}斤）</p>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="params">
            <div class="list">
              <div class="label">订单编号：</div>
              <div class="content">{{orderDetail.billno}}</div>
            </div>
            <div class="list" v-if="orderDetail.arrivaldate">
              <div class="label">要货日期：</div>
              <div class="content">{{orderDetail.arrivaldate.split(' ')[0]}}</div>
            </div>
            <div class="list" v-if="orderDetail.wens_deliverytime">
              <div class="label">交割时间：</div>
              <div class="content">{{orderDetail.wens_deliverytime.split(' ')[1]}}</div>
            </div>
            <div class="list active" @click="goDriver(0)">
              <div class="label">运货司机：</div>
              <div class="content-right">{{driverName}}</div>
              <div class="arrow">
                <van-icon name="arrow"/>
              </div>
            </div>
            <div class="list">
              <div class="label">备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注：</div>
              <div class="content">
                <input class="input" type="text" placeholder="填写备注" v-model="remark">
              </div>
            </div>
          </div>
          <div class="order-total">
            <div class="order-total-list">
              <div class="list-left">商品总数量</div>
              <div class="list-right">{{orderDetail.entrySize}}头</div>
            </div>
            <div class="order-total-list">
              <div class="list-left">商品总金额</div>
              <div class="list-right">{{orderDetail.totalitemamount}}元</div>
            </div>
            <!-- <div class="order-total-list">
              <div class="list-left">折扣单金额</div>
              <div class="list-right">{{orderDetail.totaldiscountamount}}元</div>
            </div>
            <div class="order-total-list">
              <div class="list-right">应付总额：<span>{{orderDetail.totalorderamount}}元</span></div>
            </div> -->
          </div>
        </div>
      </div>
    </div>

    <!-- 底部按钮 -->
    <bottom-button @on-btn="confirm" :btns='myBtn' v-if="onload">
      <div class="total-total">
        <span>总数量
          <span>{{orderDetail.entrySize}}</span> 头，总金额：
          <span>{{orderDetail.totalitemamount}} 元</span>
        </span>
      </div>
    </bottom-button>

    <!--订单确认失败弹框-->
    <div class="order-confirm-fali" v-if="orderConfirmFailShow">
      <div class="order-confirm-fali-content">
        <div class="title"><h5>温馨提示</h5></div>
        <div class="fail-tip">
          <img src="@/assets/images/raisePig/fail.png" alt="">
          <h2>订单确认失败</h2>
          <h4>可用余额不足，请及时充值</h4>
        </div>
        <div class="fail-info">
          <p>当前余额为：{{failInfo.split(',')[0]}}元</p>
          <p>锁定余额为：{{failInfo.split(',')[1]}}元</p>
          <p>可用余额为：{{failInfo.split(',')[2]}}元</p>
          <p>需要充值：<span>{{orderDetail.totalitemamount - failInfo.split(',')[2]}} 元</span></p>
        </div>
        <div class="bottom-btn">
          <span @click="_toTopUp">充值</span>
          <span @click="orderConfirmFailShow = false" class="gray">取消</span>
        </div>
      </div>
    </div>

    <!-- 订单确认弹框 -->
    <div class="order-confirm" v-if="orderConfirmShow">
      <div class="order-confirm-content confirm-content">
        <div class="title"><h5>温馨提示</h5></div>
        <div class="confirm-tip">
          <h2>确认订单</h2>
          <h4>当前操作不可逆，请确认是否确认订单！</h4>
        </div>
        <div class="bottom-btn">
          <span @click="confirmOrder">确认</span>
          <span @click="orderConfirmShow = false" class="gray">取消</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BottomButton from '@/components/bottom-button'
import { allImgDomainNameMixin } from '@/assets/js/mixin'
import { api } from '@/api'
import { mapGetters } from 'vuex'

export default {
  name: 'place-order',
  mixins: [allImgDomainNameMixin],
  components: {
    BottomButton
  },
  data () {
    return {
      up: false,
      addressInfo: {},
      driverInfo: {},
      totalNum: 0,
      totalPrice: 0,
      driverId: '',
      addressId: '',
      firstEnter: true,
      driverList: [],
      cacheDriver: [],
      orderDetail: null,
      orderList: [],
      onload: false,
      remark: null,
      driverName: '请选择',
      myBtn: [{ text: '确认订单', color: 'red' }],
      orderConfirmShow: false,
      orderConfirmFailShow: false,
      failInfo: ''
    }
  },
  computed: {
    ...mapGetters(['channel'])
  },
  created () {
    let query = JSON.parse(sessionStorage.getItem('placeOrder'))
    this.driverId = query && query.driverId
    if (this.driverId) {
      this.firstEnter = false
      this.driverListQuery()
    }
    this.getOrderDetail()
  },
  // 防止不断返回同一个页面
  beforeRouteUpdate (to, from, next) {
    if (to.path === from.path) {
      this.$router.go(-1)
    }

    next()
  },
  methods: {
    // 获取待确认订单详情
    getOrderDetail () {
      this.onload = false
      api.commonCall({ id: this.$route.query.id }, 'pigConfirmOrderDetail').then(res => {
        this.onload = true
        if (res.success) {
          this.orderDetail = res.data
          this.orderList = res.data.entry
        }
      })
    },
    // 获取司机列表信息
    driverListQuery () {
      api.driverListQuery({ pageNo: 1, pageSize: 1000, status: 'C' }).then(res => {
        if (res.success) {
          this.driverList = res.data.list
          if (this.driverId) {
            for (let i = 0; i < this.driverList.length; i++) {
              if (this.driverList[i].id === this.driverId[0]) {
                this.driverName = this.driverList[i].name // 司机名称
                this.cacheDriver[0] = i
              }
            }
          }
        }
      })
    },
    // 选择司机
    goDriver (index) {
      let query = {
        cacheDriver: this.cacheDriver[index],
        driverIndex: index,
        cacheData: this.orderDetail,
        status: 'C'
      }

      this.driverId && (query.driverId = this.driverId)
      this.addressId && (query.addressId = this.addressId)
      this.$route.query.isQuickOrder &&
        (query.isQuickOrder = this.$route.query.isQuickOrder)

      sessionStorage.setItem('placeOrder', JSON.stringify(query))

      this.$router.push({
        path: '/driver'
      })
    },
    onleftclick () {
      this.$router.go(-1)
    },
    // 提交订单
    confirm () {
      this.orderConfirmShow = true
    },
    // 确认订单
    confirmOrder () {
      let params = {
        id: this.$route.query.id,
        driver: this.driverId,
        orderremark: this.remark
      }
      api.commonCall(params, 'pigConfirmOrder').then(res => {
        this.orderConfirmShow = false
        if (res.success) {
          if (res.data.errorCode === '200') {
            this.$router.push({
              path: '/order',
              query: { index: 6, orderType: 0, businessIndex: 0, biztypeId: '' }
            })
          } else if (res.data.errorCode === '208402-1') {
            this.$toast.fail((res.data && res.data.errorMsg) || (res.message && res.message.replace('调用移动分销接口失败：', '')))
          } else if (res.data.errorCode === '208402-2') {
            this.failInfo = res.data.errorMount
            this.orderConfirmFailShow = true
          }
        }
      })
    },
    // 充值
    _toTopUp () {
      this.$router.push({
        path: '/topUp'
      })
    }
  }
}
</script>

<style scoped lang="less">
@import "~@/assets/css/mixin.less";

.place-order {
  background: rgba(245, 245, 245, 1);
  padding-bottom: 96px;
  height: 100vh;

  .format-img {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }

  .list {
    height: 76px;
    display: flex;
    align-items: center;
    font-size: 28px;

    .label {
      width: 180px;
      text-align: center;
      color: #8e939a;
      line-height: 76px;
    }

    .content {
      flex: 1;
    }

    .content-right {
      flex: 1;
      text-align: right;
      color: #2e3033;
    }

    .arrow {
      font-size: 24px;
      color: #c1c4ca;
      width: 70px;
      text-align: center;
      padding-top: 4px;
    }
  }

  .active {
    position: relative;
    overflow: hidden;

    &:active {
      &:after {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.08);
      }
    }
  }

  .input {
    display: block;
    outline: none;
    width: 100%;
    border: 0;
    height: 60px;

    &::-webkit-input-placeholder {
      color: #c1c4ca;
    }
  }

  > .content {
    &.van-content {
      padding-top: 92px;
    }

    .driver {
      display: flex;
      align-items: center;
      background: white;

      > div {
        &:first-child {
          padding-left: 24px;
          padding-right: 40px;

          div {
            width: 120px;
            height: 120px;
            border-radius: 50%;
          }
        }

        &:nth-child(2) {
          width: calc(100% - 274px);
          box-sizing: border-box;
          padding: 50px 70px 50px 0;

          > div {
            color: #2e3033;

            &:first-child {
              font-size: 36px;
              padding-bottom: 25px;

              > span {
                &:first-child {
                  padding-right: 50px;
                }
              }
            }

            &:last-child {
              font-size: 26px;
            }
          }
        }

        &:last-child {
          width: 90px;
          text-align: center;
          color: rgb(193, 196, 202);
          font-size: 24px;
        }
      }
    }

    .remark {
      margin-bottom: 16px;
      background: white;
      height: 96px;
      font-size: 28px;
      display: flex;

      > div {
        &:first-child {
          width: 120px;
          color: #8e939a;
          height: 100%;
          line-height: 96px;
          text-align: center;
        }

        &:last-child {
          flex: 1;
          padding-top: 18px;
        }
      }
    }

    .order-list {
      .order-item {
        margin-bottom: 16px;
        background: white;

        .title {
          display: flex;
          padding: 40px 0;

          i {
            .bg-img("~@/assets/images/icon/shop");
            display: block;
            width: 80px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
          }

          .owner-name {
            color: #2e3033;
            font-size: 30px;
          }

          .van-tag {
            height: 32px;
            margin-left: 20px;
            padding: 2px 6px;
          }
        }

        .goods-item {
          padding: 0 24px 30px;
          position: relative;
          >.comList {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            text-align: center;
            background: #e33240;
            color: white;
          }
          &.border-1 {
            border: 1px solid #e33240;
            border-bottom: 0;
            padding-top: 60px;
          }
          &.border-middle {
            border: 1px solid #e33240;
            border-top: 0;
            border-bottom: 0;
          }
          &.border-last {
            border: 1px solid #e33240;
            border-top: 0;
          }
          .goods-item-inner{
            display: flex;

            .goods-img {
              width: 180px;
              height: 180px;
            }

            .goods-content {
              flex: 1;
              padding-left: 24px;
              display: flex;
              flex-direction: column;

              > div {
                color: #2e3033;

                &:first-child {
                  font-size: 28px;
                  line-height: 36px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  display: -webkit-box;
                  -webkit-line-clamp: 2;
                  -webkit-box-orient: vertical;
                  word-wrap: break-word;
                  word-break: break-all;
                }

                &:nth-child(2) {
                  font-size: 22px;
                  padding: 15px 0;
                  color: #8e939a;
                }

                &.price-module {
                  .product-number {
                    input {
                      width: 80px;
                      line-height: 36px;
                      text-align: center;
                      color: #5e6166;
                      background: rgba(200, 200, 200, 0.5);
                      border: 0;
                    }
                  }
                }

                &:last-child {
                  flex: 1;
                  display: flex;
                  justify-content: space-between;
                  align-items: flex-end;

                  > span {
                    color: #e33240;
                    font-size: 22px;

                    &:last-child {
                      padding-right: 46px;
                    }

                    > span {
                      font-size: 30px;
                    }
                  }
                }
              }
            }
          }
        }

        .proList {
          border-bottom: 2px dashed #e33240;
          // text-align: center;
          margin: 0 20px 20px;
          >span {
            background: #e33240;
            color: white;
            display: inline-block;
            padding: 1px 6px 0;
            position: relative;
            margin-bottom: -2px;
          }
        }

        .order-total{
          width: 100%;
          margin-top: 20px;
          .order-total-list {
            padding: 0 20px;
            height: 55px;
            line-height: 55px;
            border-bottom: 1px solid #eee;
            font-size: 28px;
            .list-left {
              width: 40%;
              float: left;
              color: #8e939a;
            }
            .list-right {
              width: 60%;
              float: right;
              text-align: right;
              span {
                color: #e33240;
              }
            }
          }
        }
      }
    }
  }

  .total-total {
    text-align: right;
    padding-right: 30px;

    > span {
      font-size: 30px;
      color: #2e3033;
      > span {
        color: #e33240;
      }
    }
  }
  .order-confirm-fali,
  .order-confirm{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0,0.2);
    display: flex;
    align-items: center;
    justify-items: center;
    .order-confirm-fali-content,
    .order-confirm-content{
      width: 606px;
      height: 676px;
      position: absolute;
      top: 458px;
      left:72px;
      .bg-img("~@/assets/images/index-2/reminder-bg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% 100%;
      margin-top: -125px;
      border-radius: 24px ;
      &.confirm-content{
        height: 450px;
        margin-top: -95px;
      }
      .title{
        width: 100%;
        height: 126px;
        h5{
          font-size: 32px;
          color: #ffffff;
          text-align: center;
          line-height: 100px;
          font-weight: bold;
        }
      }
      .fail-tip {
        width: 100%;
        text-align: center;
        margin: 10px 0 25px 0;
        h2 {
          font-size: 36px;
        }
      }
      .confirm-tip{
        width: 100%;
        text-align: center;
        margin: 10px 0 85px 0;
        h2 {
          font-size: 36px;
        }
      }
      .fail-info{
        margin-left: 52px;
        p {
          color: #999;
          font-size: 24px;
          line-height: 44px;
          span {
            font-size: 32px;
            color: red;
          }
        }
      }
      .bottom-btn {
        width: 100%;
        margin-top: 20px;
        span{
          width:246px;
          height:86px;
          line-height: 86px;
          text-align: center;
          font-size: 36px;
          margin: 0 20px 0 30px;
          background:rgba(243,152,1,1);
          border-radius:12px;
          color: #ffffff;
          display: inline-block;
          &.gray{
            background:rgba(169,171,175,1);
          }
        }
      }
    }
  }
}

.red {
  color: #f95c5c;
}

.text-right {
  text-align: right;
}
</style>
