<template>
  <div class="order-detail-wrap">
    <v-header title="订单评价列表"></v-header>
    <div class="list-item" v-for="(item,index) in list.items" :key="index">
      <div class="img-wrap">
        <img v-lazy="allImgDomainName + item.itemPic">
      </div>
      <div class="text-wrap">
        <p class="goods-name">{{item.itemName}}</p>
        <div class="order-do-some-wrap">
          <span
            class="color1"
            v-if="list.evaluateStatus !== 'C' && list.orderStatus === 'H'"
            @click="toEvaluation(item, index, '0', true)"
          >立即评价</span>
          <span
            class="color2"
            v-else-if="list.evaluateStatus === 'C' && list.orderStatus === 'H'"
            @click="toEvaluation(item, index, '1', false)"
          >追评</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import VHeader from '@/components/vheader/index'
import { allImgDomainNameMixin } from '@/assets/js/mixin'
import { api } from '@/api'

export default {
  name: 'order-detail-wrap',
  mixins: [allImgDomainNameMixin],
  data () {
    return {
      list: []
    }
  },
  created () {
    if (!this.$route.query.orderId) {
      this.$router.go(-1)
    }
    this.queryOrderDetail()
  },
  methods: {
    queryOrderDetail () {
      api.queryOrderDetail({ orderId: this.$route.query.orderId }).then(res => {
        if (res.success) {
          this.list = res.data
        }
      })
    },
    toEvaluation (item, index, evaluateType = '0', isFirst) {
      let params = {
        orderId: this.list.orderId,
        orderNum: this.list.orderNum,
        ownerId: this.list.ownerId,
        ownerName: this.list.ownerName,
        storeName: this.list.storeName,
        ownerPic: this.list.ownerPic,
        createTime: this.$route.query.createTime,
        goods: item,
        evaluateType,
        isFirst
      }
      this.$router.push({
        path: '/evaluate',
        query: {
          params: JSON.stringify(params)
        }
      })
    }
  },
  components: {
    VHeader
  }
}
</script>

<style scoped lang="less">
@import "~@/assets/css/mixin.less";

.order-detail-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f5f5f5;
  z-index: 100;
  padding-bottom: 110px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  .list-item {
    font-size: 0;
    margin-bottom: 16px;
    padding: 40px 24px;
    background: #fff;
    &:last-child {
      margin-bottom: 0;
    }
    .img-wrap,
    .text-wrap {
      display: inline-block;
      vertical-align: top;
    }
    .img-wrap {
      width: 180px;
      height: 180px;
      img {
        width: 100%;
      }
    }
    .text-wrap {
      width: 498px;
      margin-left: 24px;
      .goods-name {
        font-size: 28px;
        font-weight: 400;
        color: #323437;
        line-height: 34px;
      }
      .goods-detail {
        margin: 9px 0 20px;
        position: relative;
        span {
          color: #8e939a;
          font-size: 26px;
        }
        i {
          position: absolute;
          top: 0;
          right: 0;
          font-size: 26px;
          color: #8e939a;
          font-style: normal;
        }
      }
      .price {
        font-size: 0;
        color: #8e939a;
        i,
        span {
          display: inline-block;
          vertical-align: middle;
        }
        i {
          font-size: 24px;
          font-style: normal;
        }
        span {
          font-size: 32px;
        }
      }
    }
  }
  .order-do-some-wrap {
    margin-top: 50px;
    text-align: right;
    font-size: 0;
    span {
      display: inline-block;
      width: 130px;
      padding: 17px;
      margin-left: 16px;
      font-size: 26px;
      text-align: center;
      font-weight: 400;
      color: rgba(46, 48, 51, 1);
      border: 2px solid #c1c4ca;
      border-radius: 35px;
      user-select: none;
      &:first-child {
        margin-left: 0;
      }
      &.color1 {
        color: #ffffff;
        border-color: rgba(255, 107, 82, 1);
        background: linear-gradient(
          90deg,
          rgba(255, 107, 82, 1) 0%,
          rgba(227, 50, 64, 1) 100%
        );
      }
      &.color2 {
        color: #e33240;
        border-color: #e33240;
        background: rgba(255, 248, 249, 1);
      }
    }
  }
}
</style>
