<template>
  <div class="evaluate-wrap">
    <div class="header-wrap">
      <v-header :title="data.isFirst ? '立即评价' : '追评'"></v-header>
      <span class="sub-btn" @click="submit">提交</span>
    </div>
    <div class="evaluate-content">
      <div class="goods-wrap">
        <div class="list">
          <div class="img-wrap">
            <img v-lazy="data.goods.itemPic">
          </div>
          <div class="text-wrap">
            <p class="goods-name">{{data.goods.itemName}}<span v-if="+data.goods.isEvaluate === 1">已评价</span></p>
            <div class="rate-wrap">
              <van-rate v-if="+data.goods.isEvaluate === 1" readonly v-model="evaluatedGoodsScore" void-color="#D0D3D7" :size="25"></van-rate>
              <van-rate v-else v-model="goodsScore" void-color="#D0D3D7" :size="25"></van-rate>
            </div>
          </div>
        </div>
      </div>
      <div class="goods-evaluation-item" v-if="entryEntityList.length">
        <div class="v-list clear"
          v-for="(entryEntityItem, entryEntityIndex) in entryEntityList"
          :key="'evaluation-rate-' + entryEntityIndex"
        >
          <div class="left">{{entryEntityItem.name}}</div>
          <div class="right">
            <van-rate v-model="entryEntityItem.evaluateTagGrade" void-color="#D0D3D7"></van-rate>
          </div>
        </div>
      </div>
      <div class="buyer-impression">
        <ul class="label-list" v-if="+data.goods.isEvaluate === 1">
          <li
            class="item"
            v-for="(evaluateLabelItem, evaluateLabelIndex) in evaluateLabel"
            :key="evaluateLabelItem.id"
            :class="[{'no-margin-right': evaluateLabelIndex % 2 === 1}, labelSelct(evaluateLabelItem.id)]"
          >{{evaluateLabelItem.name}}</li>
        </ul>
        <ul class="label-list" v-else>
          <li
            class="item"
            v-for="(evaluateLabelItem, evaluateLabelIndex) in evaluateLabel"
            :key="evaluateLabelItem.id"
            @click="selectLabel(evaluateLabelItem.id)"
            :class="[{'no-margin-right': evaluateLabelIndex % 2 === 1}, labelSelct(evaluateLabelItem.id)]"
          >{{evaluateLabelItem.name}}</li>
        </ul>
      </div>
      <div class="textarea-wrap">
        <van-cell-group>
          <van-field
            v-model="evaluateText"
            type="textarea"
            :placeholder="+data.goods.isEvaluate === 1 ? '追加一下您的体验吧！' : '分享体验心得，给万千想买的人一个参考！'"
            rows="4"
            autosize
            :maxlength="500"
            @blur="scrollToTop()"
          />
        </van-cell-group>
        <span class="tips">{{evaluateText.length}}/500（评价不少于10个字）</span>
      </div>
      <div class="text-img-wrap">
        <div class="upload-img-wrap" v-for="(item, index) in uploadList" :key="index">
          <img :src="allImgDomainName+item.url" v-if="!item.name">
          <video :src="allImgDomainName+item.url" v-if="item.name"></video>
          <i @click.stop.prevent="_deleteImg(index)"></i>
        </div>
        <van-uploader :after-read="onRead" accept="image/*"
          v-if="uploadList.length < 5">
          <van-icon name="photograph" size="1.06667rem"/>
        </van-uploader>
      </div>
    </div>
    <div class="line-wrap"></div>
    <div class="v-list-wrap" v-if="channelEvaluate.length">
      <div class="title">
        <div
          class="icon"
          v-lazy:background-image="{ src: allImgDomainName + data.ownerPic,
            error: require('@/assets/images/default/store_logo.jpg') }"
        ></div>
        <p>{{data.storeName || data.ownerName}}</p>
      </div>
      <div class="v-list clear" v-for="(item, index) in channelEvaluate"
        :key="'evaluation-rate-'+index">
        <div class="left">{{item.name}}</div>
        <div class="right">
          <van-rate v-model="item.evaluateTagGrade" void-color="#D0D3D7"></van-rate>
        </div>
      </div>
    </div>
    <div class="bottom-wrap">
      <i :class="_anonymity" @click.stop.prevent="anonymous = !anonymous"></i>
      <span @click.stop.prevent="anonymous = !anonymous">匿名评价</span>
    </div>
  </div>
</template>

<script>
import VHeader from '@/components/vheader/index'
import { api } from '@/api'
import { allImgDomainNameMixin } from '@/assets/js/mixin'
import { _debounce, scrollTop, getScrollTop } from '@/utils/common'
// import { checkSuffixIsImg } from '@/utils/common'

export default {
  name: 'evaluate',
  mixins: [allImgDomainNameMixin],
  data () {
    return {
      data: null,
      goodsScore: 0, // 商品评分
      entryEntityList: [], // 商品评论项集合
      evaluateLabel: [], // 商品评价标签（买家印象）
      evaluateLabelValue: [], // 商品标签选中的
      evaluateText: '', // 体验
      uploadList: [], // 上传文件集合
      uploadImageList: [], // 上传图片集合
      uploadVideoList: [], // 上传视频集合
      channelEvaluate: [], // 渠道评价项
      anonymous: false,
      commentFlag: false, // 记录评价状态
      evaluatedGoodsScore: 0, // 已评论的评分
      evaluatedEvaluateLabel: [] // 已评论的评价标签
    }
  },
  created () {
    const params = this.$route.query.params
    // 如果参数没有则重定向到首页
    if (params) {
      this.data = JSON.parse(params)
    } else {
      this.$router.replace({ path: '/' })
    }

    if (this.data.isFirst) this._orderCommentItemQuery(this.data.ownerId)

    if (+this.data.goods.isEvaluate === 1) { // 商品评价过
      this.queryItemEvaluateList(this.data.goods.itemId) // 获取商品初次评价
    }

    // this._queryItemEvaluateTag(this.data.goods.itemId) // 获取商品评价项
    this._queryEvaluateLabel(this.data.goods.itemId) // 获取商品评价标签（买家印象）
  },
  methods: {
    // 消除键盘关闭后页面被撑起，导致按钮响应区域错位
    scrollToTop () {
      scrollTop(window, getScrollTop(), 0, 100)
    },
    // 上传图片
    _uploadImage (file, type, name, size) {
      // 传递一个 FormData 对象
      // let formData = new FormData()
      // 'file' 可变 相当于 input 表单的name 属性
      // formData.append('file', file)
      api.uploadImage(file, res => {
        if (res.success) {
          if (type === 'mp4' || type === 'avi' || type === 'quicktime') {
            this.uploadList.push({
              name: name,
              url: res.data[0],
              size: size + ''
            })
          } else {
            this.uploadList.push({ url: res.data[0] })
          }
        } else {
          this.$toast.fail(res.msg || '上传图片或视频失败')
        }
      })
    },
    onRead (e) {
      let file = e.file
      let type = file.type.split('/')[1]
      this._uploadImage(file, type, file.name, file.size)
    },
    _deleteImg (index) {
      this.uploadList.splice(index, 1)
    },
    // 选择评价标签
    selectLabel (id) {
      if (this.evaluateLabelValue.indexOf(id) === -1) {
        this.$set(this, 'evaluateLabelValue', this.evaluateLabelValue.concat([id]))
      } else {
        this.evaluateLabelValue.splice(this.evaluateLabelValue.indexOf(id), 1)
      }
    },
    // 计算评价标签样式
    labelSelct (id) {
      if (+this.data.goods.isEvaluate === 1) {
        if (this.evaluatedEvaluateLabel.includes(id)) {
          return 'selectd'
        }
      } else {
        for (const item of this.evaluateLabelValue) {
          if (item === id) {
            return 'selectd'
          }
        }
      }
      return ''
    },
    // 是否不可提交
    disable () {
      if (this.data.isFirst) {
        for (const item of this.channelEvaluate) {
          if (item.evaluateTagGrade === 0) {
            this.$toast('店铺评分不能为空')
            return true
          }
        }
      }

      if (+this.data.goods.isEvaluate === 0 && !this.goodsScore) {
        this.$toast('商品评分不能为空')
        return true
      }

      if (+this.data.goods.isEvaluate === 0 && this.evaluateLabel && this.evaluateLabel.length > 0 && this.evaluateLabelValue.length === 0) {
        this.$toast('请选择买家印象')
        return true
      }

      if (this.evaluateText.length < 10) {
        this.$toast('评价不少于10个字')
        return true
      }

      return false
    },
    // 提交
    submit: _debounce(function () {
      if (this.commentFlag) return
      this.commentFlag = true

      let invalid = this.disable()

      if (!invalid) {
        // eslint-disable-next-line
        for (let [index, elem] of this.uploadList.entries()) {
          if (elem.name) {
            this.uploadVideoList.push(elem)
          } else {
            this.uploadImageList.push(elem.url)
          }
        }

        // 如果是第一个，则调用订单评价接口，否则调用商品评价接口
        this.data.isFirst ? this._orderCommentAdd() : this._saveItemEvaluate()
      } else {
        setTimeout(() => {
          this.commentFlag = false
        }, 1000)
      }
    }, 500),
    // 商品评论
    _saveItemEvaluate () {
      let par = {
        itemId: this.data.goods.itemId, // 商品id
        evaluateType: +this.data.goods.isEvaluate === 1 ? '1' : '0', // 初评'0'、追评传'1'
        isAnonymity: this.anonymous ? this.anonymous : false, // 是否匿名
        evaluateContent: this.evaluateText, // 评论内容
        labelList: this.evaluateLabelValue, // 评价标签
        pictures: this.uploadImageList, // 图片集合
        attachments: this.uploadVideoList, // 视频集合
        entryEntity: this.entryEntityList, // 评论项集合
        orderEntryId: this.data.goods.itemEntryId // 商品分录id
      }
      if (this.goodsScore > 0) { // 第一次才传商品评分
        par.evaluateGrade = this.goodsScore // 商品评分
      }
      const params = {
        orderId: this.data.orderId, // 订单id
        itemEvaluateList: [par]
      }

      api.saveItemEvaluate(params).then(res => {
        if (res.success) {
          // this.$router.replace({
          //   path: '/order',
          //   query: { index: 3, orderType: 1, businessIndex: 0, biztypeId: '' }
          // })
          this.$toast.success('评论成功')
          setTimeout(() => {
            this.$router.go(-1)
          }, 500)
          setTimeout(() => {
            this.commentFlag = false
          }, 1000)
        } else {
          res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
          setTimeout(() => {
            this.commentFlag = false
          }, 1000)
        }
        this.uploadImageList.splice(0)
        this.uploadVideoList.splice(0)
      })
    },
    // 订单评论
    _orderCommentAdd () {
      let entryEntity = []

      if (this.channelEvaluate) {
        this.channelEvaluate.forEach((v, i) => {
          entryEntity[i] = {}
          entryEntity[i].evaluateTagGrade = v.evaluateTagGrade
          entryEntity[i].evaluateTagName = v.name
          entryEntity[i].evaluateTagId = v.id
        })
      }
      const params = {
        orderId: this.data.orderId,
        entryEntity,
        itemEvaluateList: [
          {
            itemId: this.data.goods.itemId, // 商品id
            evaluateType: this.data.evaluateType, // 评价类型（初评”0”, 追评传”1”）
            evaluateGrade: this.goodsScore, // 商品评分
            evaluateContent: this.evaluateText, // 评论内容
            isAnonymity: this.anonymous ? this.anonymous : false, // 是否匿名
            labelList: this.evaluateLabelValue, // 评价标签
            pictures: this.uploadImageList, // 图片集合
            attachments: this.uploadVideoList, // 视频集合
            entryEntity: this.entryEntityList, // 评论项集合
            orderEntryId: this.data.goods.itemEntryId // 商品分录id
          }
        ]
      }

      // 新增评论
      api.orderCommentAdd(params).then(res => {
        if (res.success) {
          // this.$router.replace({
          //   path: '/order',
          //   query: { index: 3, orderType: 1, businessIndex: 0, biztypeId: '' }
          // })
          this.$toast.success('评论成功')
          setTimeout(() => {
            this.$router.go(-1)
          }, 500)
          setTimeout(() => {
            this.commentFlag = false
          }, 1000)
        } else {
          res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
          setTimeout(() => {
            this.commentFlag = false
          }, 1000)
        }
        this.uploadImageList.splice(0)
        this.uploadVideoList.splice(0)
      })
    },
    // 批量获取商品初次评价
    queryItemEvaluateList (itemId) {
      const params = {
        list: [
          {
            itemId,
            evaluateType: '1',
            page: 1,
            pageSize: 10,
            labelList: [],
            orderId: this.data.orderId
          }
        ]
      }

      api.commonCall(params, 'itemEvaluateListQuery').then(res => {
        if (res.success && res.data.list && res.data.list.length && res.data.list[0].list.length) {
          this.evaluatedGoodsScore = +res.data.list[0].list[0].evaluateGrade || 0
          this.evaluatedEvaluateLabel = res.data.list[0].list[0].labelList && res.data.list[0].list[0].labelList.map(item => item.id)
        }
      })
    },
    // 获取渠道评价项
    _orderCommentItemQuery (ownerId) {
      api.queryItemEvaluateTag({ evaluateTagType: '0', storeId: ownerId, page: 1, pageSize: 10 }).then(res => {
        if (res.success) {
          if (res.data.list && res.data.list.length) {
            let data = res.data.list.map((item, index) => {
              item.evaluateTagGrade = 0
              return item
            })
            this.channelEvaluate = data
          }
        }
      })
    },
    // 商品评价项查询
    _queryItemEvaluateTag (itemId) {
      api.queryItemEvaluateTag({
        evaluateTagType: '1',
        itemId,
        page: 1,
        pageSize: 10
      }).then(res => {
        if (res.success) {
          if (res.data.list && res.data.list.length) {
            let data = res.data.list.map((item, index) => {
              item.evaluateTagGrade = 0
              return item
            })
            this.entryEntityList = data
          }
        }
      })
    },
    // 获取商品标签（买家印象）
    _queryEvaluateLabel (itemId) {
      api.queryEvaluateLabel({
        evaluateLabelType: '1',
        itemId,
        page: 1,
        pageSize: 10,
        enable: '1'
      }).then(res => {
        if (res.success) {
          this.evaluateLabel = res.data.list
        }
      })
    }
  },
  computed: {
    _anonymity () {
      let aClass = ''
      aClass = this.anonymous ? 'active' : ''
      return aClass
    }
  },
  components: {
    VHeader
  }
}
</script>

<style scoped lang="less">
  @import "~@/assets/css/mixin.less";

  .evaluate-wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 100;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    .header-wrap {
      position: relative;
      .sub-btn {
        position: absolute;
        top: 14px;
        right: 0px;
        color: #E33240;
        font-weight: 500;
        font-size: 30px;
        padding: 10px 24px;
        user-select: none;
      }
    }
    .evaluate-content {
      padding: 40px 24px 24px;
      .goods-wrap {
        .list {
          font-size: 0;
          padding-bottom: 40px;
          // border-bottom: 1px solid rgba(232, 233, 235, 1);
          .img-wrap, .text-wrap {
            display: inline-block;
            vertical-align: middle;
          }
          .img-wrap {
            width: 180px;
            img {
              width: 180px;
              height: 180px;
              border-radius: 12px;
            }
          }
        }
        .text-wrap {
          width: 498px;
          margin-left: 24px;
          .goods-name {
            color: #2E3033;
            font-size: 28px;
            line-height: 35px;
            font-weight: 400;
            span {
              float: right;
              color: #ff5d13;
              padding-right: 20px;
            }
          }
          .rate-wrap {
            margin-top: 45px;
          }
        }
      }
      .text-img-wrap {
        padding-top: 24px;
        font-size: 70px;
        .upload-img-wrap {
          display: inline-block;
          position: relative;
          img {
            width: 140px;
            height: 140px;
            margin-right: 30px;
            margin-bottom: 15px;
            vertical-align: middle;
          }
          video {
            width: 140px;
            height: 140px;
            margin-right: 24px;
            margin-bottom: 15px;
            vertical-align: middle;
          }
          i {
            font-style: normal;
            position: absolute;
            top: -13px;
            right: 15px;
            width: 33px;
            height: 33px;
            background-size: 33px 33px;
            background-repeat: no-repeat;
            .bg-img('~@/assets/images/order/icon-close');
          }
        }
      }
    }
    .goods-evaluation-item {
      .v-list {
        padding: 0 24px;
        border-bottom: 1px solid rgba(232, 233, 235, 1);
        &:last-child {
          border-bottom: 0;
        }
        &.clear {
          .left {
            float: left;
          }
          .right {
            float: right;
          }
          .left, .right {
            line-height: 110px;
          }
          &::after {
            display: block;
            content: '';
            clear: both;
          }
        }
      }
    }
    .buyer-impression {
      padding: 0 50px;
      clear: both;
      overflow: hidden;
      .label-list {
        padding: 0 42px;
        clear: both;
        overflow: hidden;
        .item {
          width: 240px;
          height: 56px;
          line-height: 56px;
          float: left;
          background-color: rgba(252, 252, 252, 0.3);
          border-radius: 6px;
          border: 1PX solid #C0C0C0;
          margin: 0 30px 30px 0;
          cursor: pointer;
          font-size: 24px;
          color: #C0C0C0;
          text-align: center;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          &.no-margin-right {
            margin-right: 0;
          }
          &.selectd {
            border: 1PX solid #FFA500;
            background-color: rgba(255, 165, 0, 0.1);
            color: #FFA500;
          }
        }
      }
    }
    .textarea-wrap {
      position: relative;
      clear: both;
      @{deep} .van-field {
        padding: 20px 20px 60px 20px;
      }
      .tips {
        position: absolute;
        bottom: 12px;
        right: 22px;
        font-size: 24px;
        color: #999ea4;
      }
    }
    .line-wrap {
      width: 100%;
      height: 16px;
      background: #f5f5f5;
    }
    .v-list-wrap {
      .title {
        margin-bottom: 20px;
        position: relative;
        font-size: 0;
        display: flex;
        padding: 43px 24px 0px;
        p {
          flex: 1;
          display: inline-block;
          vertical-align: middle;
          height: 88px;
          font-size: 28px;
          font-weight: 500;
          color: rgb(46, 48, 51);
          line-height: 88px;
        }
        .icon {
          width: 88px;
          height: 88px;
          margin-right: 20px;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          border-radius: 50%;
          border: 1px solid #eef0f5;
        }
      }
      .v-list {
        padding: 0 24px;
        border-bottom: 1px solid rgba(232, 233, 235, 1);
        &:last-child {
          border-bottom: 0;
        }
        &.clear {
          .left {
            float: left;
          }
          .right {
            float: right;
          }
          .left, .right {
            line-height: 110px;
          }
          &::after {
            display: block;
            content: '';
            clear: both;
          }
        }
      }
    }
    .bottom-wrap {
      background-color: #F5F5F5;
      font-size: 0;
      text-align: center;
      i, span {
        display: inline-block;
        line-height: 110px;
        vertical-align: middle;
      }
      i {
        width: 30px;
        height: 30px;
        background: url('~@/assets/images/order/Rectangle@2x.png') no-repeat center center / 30px 30px;
        &.active {
          background-image: url('~@/assets/images/order/Rectangle_active@2x.png');
        }
      }
      span {
        font-size: 30px;
        color: #5E6166;
        margin-left: 16px;
      }
    }
  }
</style>
