<template>
  <div class="logistics-wrap">
    <v-header title="物流详情"></v-header>
    <div class="logistics-content">
      <div class="goods-wrap">
        <div class="img-wrap">
          <img src="@/assets/images/order/Bitmap9@3x.png">
        </div>
        <div class="logistics-detail">
          <p>运送方式：厢式货车</p>
          <p>承运人：周东翌</p>
          <p>物流单号：KDI93720379273746</p>
        </div>
      </div>
      <div class="logistics-list">
        <van-steps direction="vertical" :active="0" active-color="#4A9C75">
          <van-step>
            <h3 class="logistics-title">[广州市]广东广州番禺礼植分部派件员，管观长 13645929861/13645929861正在为您派件，请及时查收。</h3>
            <p class="logistics-time">2018-07-18 15:48</p>
          </van-step>
          <van-step>
            <h3>离开【中国邮政集团江苏省函件业务局】，下一站【广东省调拨中心】</h3>
            <p>容2018-07-15 20:19</p>
          </van-step>
          <van-step>
            <h3>你的商品已出库</h3>
            <p>2018-07-10 10:23</p>
          </van-step>
          <van-step>
            <h3>您的订单开始处理</h3>
            <p>2018-07-10 09:52</p>
          </van-step>
        </van-steps>
      </div>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
import VHeader from '@/components/vheader/index'
export default {
  name: 'logistics',
  components: {
    VHeader
  }
}
</script>

<style scoped lang="less">
.logistics-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 100;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  .logistics-content {
    .goods-wrap {
      font-size: 0;
      padding: 0 24px 10px;
      .img-wrap,
      .logistics-detail {
        display: inline-block;
        vertical-align: middle;
      }
      .img-wrap {
        width: 140px;
        img {
          width: 140px;
          height: 140px;
          border-radius: 12px;
        }
      }
      .logistics-detail {
        width: 498px;
        margin-left: 24px;
        p {
          height: 26px;
          line-height: 26px;
          font-size: 26px;
          font-weight: 500;
          color: rgba(46, 48, 51, 1);
          margin-bottom: 21px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    .logistics-list {
      .logistics-title {
        font-size: 28px;
        line-height: 36px;
        font-weight: 500;
      }
      .logistics-time {
        margin-top: 20px;
        font-size: 26px;
      }
    }
  }
}
</style>
