<template>
  <div class="order-detail-wrap">
    <div class="content-wrap">
      <div class="header-wrap">
        <v-header title="订单详情"></v-header>
        <div class="icon-wrap" v-if="isDriver === '0'">
          <div class="icon-list shop-cart" @click="toShoppingCart">
            <span v-if="shopCount>0">{{shopCount}}</span>
          </div>
          <div class="icon-list more" @click="showDropDownMenu = true"></div>
        </div>
      </div>

      <div class="order-status-wrap" v-if="data">
        <!-- <span v-if="data">{{data.statusText}}…</span> -->
        <van-steps :active="currentState" active-color="#44ad7b">
          <van-step>提交订单</van-step>
          <van-step>付款成功</van-step>
          <van-step>商品出库</van-step>
          <van-step>已收货</van-step>
          <van-step>完成</van-step>
        </van-steps>
      </div>

      <!-- 种猪营销 - 确认收货 -->
      <div class="express-delivery-wrap" v-if="data && data.orderStatus === 'R' && +data.isZZ">
        <div class="title-wrap">
          <div>
            <span>{{+data.distribution ? '车辆配送：' : '快递配送'}}</span>
          </div>
        </div>
        <div class="value-wrap" >
          <div class="item-wrap" v-for="(item, index) in data.expressList" :key="index">
            <div class="left">
              <span class="round">{{index + 1}}</span>
            </div>
            <div class="right" @click="_goExpressLink(+data.distribution, item)">
              <p>{{+data.distribution ? '车辆配送：' : '快递公司：'}}{{item.expressCompany}}</p>
              <p>{{+data.distribution ? '车牌号：' : '快递单号：'}}<span class="highlight">{{item.expressNumber}}</span></p>
            </div>
          </div>
        </div>
      </div>

      <!-- 种猪营销 - 交易成功 -->
      <div class="success-trade-wrap" v-if="data && +data.isZZ && (data.orderStatus === 'H' || data.orderStatus === 'P')">
        <div class="row">
          <div class="title">
            <span>确认日期：</span>
          </div>
          <div class="value">
            <span>{{data.receiveTime}}</span>
          </div>
        </div>
        <div class="row">
          <div class="title">
            <span>温&nbsp;&nbsp;&nbsp;&nbsp;度：</span>
          </div>
          <div class="value">
            <span>{{data.receiveTemperature ? data.receiveTemperature + '度' : '未填写'}}</span>
          </div>
        </div>
        <div class="row photo">
          <div class="title">
            <span>图片拍照：</span>
          </div>
          <div class="value">
            <div class="content-images">
              <img v-for="(item, index) in data.receivePictureList" :key="index" v-lazy="allImgDomainName + item" alt="" @click="viewPicDetail(index, data.receivePictureList)">
            </div>
          </div>
        </div>
      </div>

      <div class="list-wrap" v-if="data">
        <div class="title">
          <span class="icon"></span>
          <p @click="toShop(data.ownerId)">{{data.storeName || data.ownerName}}<van-icon name="arrow" class="arrow" /></p>
          <span class="status">{{data.orderStatus === 'F' ? ('待分享, 还差' + unCompNumber + (data.items[0].isAssistOrder ? data.items[0].itemAssistUnitName : data.items[0].itemUnitName)) : data.statusText}}</span>
        </div>
        <div class="list-item" v-for="(v, i) in data.items" @click="toGoodsDetails(v)" :key="i">
          <div class="img-wrap">
            <img v-if="data.orderStatus !== 'F'" v-lazy="allImgDomainName + v.itemPic" width="96" height="96">
            <img v-else v-lazy="allImgDomainName + itemThumbnail" width="96" height="96">
          </div>
          <div class="text-wrap">
            <p class="goods-name"><span v-if="v.storeNonSingle && JSON.parse(v.storeNonSingle)">非单卖品</span>{{v.itemName}}</p>
            <p class="goods-info" v-if="v.assistattrName">属性：{{v.assistattrName}}</p>
            <p class="goods-info" v-if="v.wtRangeMap">要求均重：{{v.wtRangeMap.name + ' ' + v.wtRangeMap.uom_name}}</p>
            <p class="goods-detail">
              <!--<i>-->
                x {{parseInt(v.isAssistOrder ? v.alterAssistQty : v.alterQty)}}（{{v.isAssistOrder ?
                v.itemAssistUnitName : v.itemUnitName}}）
              <!--</i>-->
            </p>
            <!-- <p class="more" v-if="v.isAssistOrder">约 {{v.alterQty}}（{{v.itemUnitName}}）</p> -->
            <p class="price">
              <!--<span>{{parseFloat(v.alterQty*v.itemPrice).toFixed(2)}}元</span>-->
              <span>{{parseFloat(v.itemPrice).toFixed(2)}}元/{{v.itemUnitName}}</span>
            </p>
          </div>
        </div>
        <div class="list-text" v-if="data">
          <template v-if="+data.isZZ">
            <p>收货人：{{data.receiver}}</p>
            <p>收货地址：{{data.cusAddress}}</p>
            <p>发货日期：{{data.deliveryDate}}</p>
          </template>
          <template v-else>
            <p v-if="data.consignee && data.consignee !== ' '">
              收货人：{{data.consignee}}
            </p>
            <p v-if="data.address && data.address !== ' '">
              收货人地址：{{data.address}}
            </p>
            <p v-if="data.consigneePhone && data.consigneePhone !== ' '">
              手机号码：{{data.consigneePhone}}
            </p>
          </template>
          <template v-if="data.driverMap">
            <p v-if="data.driverMap.driverName && data.driverMap.driverName !== ' '">
              司机姓名：{{data.driverMap.driverName}}
            </p>
            <p v-if="data.driverMap.carno && data.driverMap.carno !== ' '">
              车牌号：{{data.driverMap.carno}}
            </p>
            <p v-if="data.driverMap.driverTel && data.driverMap.driverTel !== ' '">
              司机电话：{{data.driverMap.driverTel}}
            </p>
          </template>
          <template v-if="data.warehouse">
            <p v-if="data.warehouse.warehouseName && data.warehouse.warehouseName !== ' '">
              提货点：{{data.warehouse.warehouseName}}
            </p>
            <p v-if="data.warehouse.warehouseName && data.warehouse.warehouseName !== ' '">
              要货时间：{{data.arrivalDate && data.arrivalDate.split(' ')[0]}} {{data.needTime === '1' ? '上午' : (data.needTime === '2' ? '下午' : '')}}
            </p>
          </template>
          <template v-if="isDriver === '1'">
            <p v-if="data.customerName && data.customerName !== ' '">
              订货人：{{data.customerName}}
            </p>
            <p v-if="data.arrivalDate && data.arrivalDate !== ' '">
              要货日期：{{data.arrivalDate.split(' ')[0]}}
            </p>
          </template>
          <br/>
          <p>订单编号：{{data.orderNum}}</p>
          <p>下单时间：{{data.orderCreateTime}}</p>
          <p v-if="data.orderType === '1' && data.deliveryDate && !+data.isZZ">发货时间：{{data.deliveryDate}}</p>
          <!-- <p>买家留言：{{data.orderRemark}}</p> -->
        </div>
        <div class="contact-wrap">
          <i></i>
          <span @click="goCallCenter">联系客服</span>
        </div>
      </div>

      <!-- <div class="nav-list-wrap">
        <div class="nav-list">
          <span class="icon logisics"></span>
          <div class="nav-text">
            <p class="color1">[广州市]广东广州番禺礼植分部派件员，管观长 13645929861/13645929861正在为您派件，请及时查收。</p>
            <p class="color1">2018-07-18 15:48</p>
          </div>
          <i class="next"></i>
        </div>
        <div class="nav-list">
          <span class="icon address"></span>
          <div class="nav-text no-next">
            <p class="color2">收货人：雷奂芷 137 8273 2837</p>
            <p class="color2">收货地址：广东省 云浮市 新兴县 新城镇东堤北路9号</p>
          </div>
        </div>
        <div class="nav-list">
          <span class="icon send-type"></span>
          <div class="nav-text no-next">
            <p class="color2">运货方式：中型货车</p>
            <p class="color2">承运人：联营销售部 159 0722 8326</p>
            <p class="color2">运费：￥200.00</p>
            <p class="color2">收货地址：广东省 云浮市 新兴县 新城镇东堤北路9号</p>
          </div>
        </div>
        <div class="nav-list">
          <span class="icon pay-type"></span>
          <div class="nav-text no-next">
            <p class="color2">付款方式：线下支付</p>
            <p class="color2">总费用：￥1000.00</p>
            <p class="color2">付款时间：2018.06.13 16:38</p>
          </div>
        </div>
      </div> -->

      <div class="goods-content-wrap" v-if="data">
        <van-cell-group>
          <van-cell title="商品总数量" :value="parseInt(data.totalqty)"/>
          <van-cell title="商品总金额" :value="`${data.totalItemAmount}元`"/>
          <van-cell title="商品优惠" :value="`${data.couponPromotionAmount ? '-' + data.couponPromotionAmount : data.couponPromotionAmount}元`"/>
          <van-cell v-if="isInnerCustomer" title="内部用户，付款为0" :value="`${data.couponPromotionAmount ? (data.totalItemAmount - data.couponPromotionAmount > 0 ? data.totalItemAmount - data.couponPromotionAmount : 0) : data.totalItemAmount | keepTwoNum}元`"/>
        </van-cell-group>
        <div class="goods-count-wrap" v-if="!isInnerCustomer">
          <span class="title">应付总额：</span>
          <span class="money">{{data.couponPromotionAmount ? (data.totalItemAmount - data.couponPromotionAmount > 0 ? data.totalItemAmount - data.couponPromotionAmount : 0) : data.totalItemAmount | keepTwoNum}}元</span>
        </div>
        <div class="confirm-receipt-wrap" v-if="data.orderStatus === 'R' && +data.isZZ">
          <div class="button" @click="confirmReceipt">
            <span>确认收货</span>
          </div>
        </div>
      </div>

      <div class="other-wrap" v-if="isDriver === '0'">
        <van-pull-refresh
          v-model="isLoading"
          @refresh="onRefresh"
          v-if="recommendList && recommendList.length"
        >
          <van-list v-model="loading" :finished="finished" @load="onLoad" :offset="200">
            <v-recommend :list="recommendList"></v-recommend>
          </van-list>
        </van-pull-refresh>
        <!-- <div class="no-data-box" v-else>
          <no-data></no-data>
        </div> -->
      </div>
    </div>

    <div class="do-some-wrap" v-if="data && isDriver === '0'" ref="doSomeWrap" v-show="showDoSomeWrap">
      <!-- <span
        class="no-evaluate"
        v-if="data.orderType === '0' && (data.orderStatus === 'G' || data.orderStatus === 'H')"
      >意向订单不能评价</span> -->
      <span
        v-if="data.orderType === '1' && data.orderStatus === 'H'"
        class="color1"
        @click="toEvaluationList"
      >评价</span>
      <!-- <span
        v-if="data.orderType === '1' && ((data.orderStatus === 'C' || data.orderStatus === 'H') && data.paysSatus === 'A')"
        class="color1"
        @click="toDeliveryDetail"
      >付款</span> -->
      <span
        v-else-if="data.orderType === '1' && ((data.orderStatus === 'C' || data.orderStatus === 'H') && data.paysSatus === 'B') && data.canPrint"
        class="color1"
        @click="toDeliveryDetail"
      >打印</span>
      <span
        class="color1"
        v-else-if="data.orderType === '0' && data.orderStatus === 'F'"
        @click="onShareAppMessage"
      >邀请好友拼团</span>
      <span
        v-if="data.orderStatus === 'B' && wens_business !== '2' && data.biztypeEasNumber !== '280'"
        @click="cancelOrderItem"
      >取消订单</span>
      <span class="color1"
        v-else-if="data.orderStatus === 'B' && wens_business === '2'"
        @click="confirmOrderItem(data.orderId)"
      >确认订单</span>
      <span
        class="color2"
        :class="{'purchase-loading': purchaseLoading}"
        v-else-if="data.orderStatus === 'I' || data.orderStatus === 'H'"
        @click="!purchaseLoading && purchase(data)"
      >
        <van-loading v-if="purchaseLoading" />{{purchaseLoading ? '' : '再次购买'}}
      </span>
      <!-- <span
        v-if="(data.orderStatus === 'H' || data.orderStatus === 'I' || data.orderStatus === 'B' || data.orderStatus === 'M') && wens_business === '1'"
        @click="deleteOrderItem"
      >删除订单</span> -->
    </div>
    <div class="do-some-wrap" v-else-if="data && isDriver === '1'" ref="doSomeWrap" v-show="showDoSomeWrap">
      <span
        v-if="data.orderType === '1' && ((data.orderStatus === 'C' || data.orderStatus === 'H') && data.paysSatus === 'A')"
        class="color1"
        @click="toDeliveryDetail"
      >付款</span>
      <span
        v-else-if="data.orderType === '1' && ((data.orderStatus === 'C' || data.orderStatus === 'H') && data.paysSatus === 'B') && data.canPrint"
        class="color1"
        @click="toDeliveryDetail"
      >打印</span>
    </div>

    <van-popup
      v-model="popupShow"
      round
      closeable
      close-icon="close"
      position="bottom"
    >
      <div class="confirm-receipt-popup-wrap">
        <div class="row">
          <div class="title">
            <span>确认日期：</span>
          </div>
          <div class="value">
            <span>{{deliveryTime}}</span>
          </div>
        </div>
        <div class="row">
          <div class="title">
            <span>温&nbsp;&nbsp;&nbsp;&nbsp;度：</span>
          </div>
          <div class="value">
            <van-field
              type="number"
              class="form-input"
              v-model="temperature"
              clearable
              placeholder="请填写温度"
              @input="temperatureOnInput"
            />
          </div>
        </div>
        <div class="row photo">
          <div class="title">
            <span>图片拍照：</span>
          </div>
          <div class="value">
            <van-uploader
              v-model="previewUploadList"
              accept="image/*"
              preview-size="2rem"
              :max-count="5"
              :after-read="onAfterRead"
              :before-delete="onBeforeDelete"
            ></van-uploader>
          </div>
        </div>
        <div class="button" @click="confirmOrder">
          <span>提交</span>
        </div>
      </div>
    </van-popup>

    <!-- 引导用户点击右上角进行分享操作 -->
    <div class="guideShare" v-show="guideShare" @click.stop="guideShare = false">
      <img src="@/assets/images/groupbuying/arrows.png" alt="" class="arrows-img"/>
      <p>点击右上角按钮，邀请好友来拼团吧！</p>
    </div>

    <!-- "更多"下拉菜单 -->
    <drop-down-menu
      :show="showDropDownMenu"
      :data="dropDownMenuList"
      @hide="hide"
    ></drop-down-menu>
  </div>
</template>

<script>
import VHeader from '@/components/vheader/index'
import VRecommend from '@/components/vrecommend/vrecommend'
import DropDownMenu from '@/components/drop-down-menu'
import { ImagePreview } from 'vant'
import { allImgDomainNameMixin, WXMixin } from '@/assets/js/mixin'
import { api } from '@/api'
import { getCookie, timestampToYMD, timestampToHMS, isWeiXin, zero } from '@/utils/common'

export default {
  name: 'order-detail-wrap',
  mixins: [allImgDomainNameMixin, WXMixin],
  components: {
    VHeader,
    VRecommend,
    DropDownMenu
  },
  data () {
    return {
      orderId: null,
      data: null,
      recommendList: [],
      // 上拉加载及下拉刷新
      page: {
        index: 1,
        size: 6,
        total: 0
      },
      cacheList: [],
      loading: false, // 控制上拉加载的加载动画
      finished: false, // 控制在页面往下移动到底部时是否调用接口获取数据
      isLoading: false, // 控制下拉刷新的加载动画
      showDropDownMenu: false, // 显示“更多”下拉菜单
      dropDownMenuList: [ // “更多”下拉菜单列表
        {
          subTitle: '首页',
          path: '/',
          imgUrl: require('@/components/tabbar/icon_home@3x.png')
        }
      ],
      isDriver: sessionStorage.getItem('isDriver'),
      unCompNumber: null, // 待成团数量
      itemThumbnail: null, // 团购缩略图
      guideShare: false, // 引导用户进行分享遮罩层
      wens_business: null, // 订单类型： 2为养猪订单 1为其他类型的订单
      showDoSomeWrap: false, // 显示底部操作按钮外层
      purchaseLoading: false, // 再次购买按钮加载动画
      popupShow: false, // 种猪营销确认收货弹出框
      temperature: '', // 确认收货温度
      previewUploadList: [], // 预览上传文件集合
      uploadList: [], // 上传文件集合
      isInnerCustomer: 0, // 是否内部用户 0：否 1：是
      deliveryTime: null // 收货日期
    }
  },
  filters: {
    timestampToTimeYMD (time) {
      return timestampToYMD(time, '-', '-', '')
    },
    timestampToTimeHMS (time) {
      return timestampToHMS(time)
    }
  },
  computed: {
    // 购物车数量
    shopCount () {
      return this.$store.state.shoppingCartCount
    },
    currentState () {
      if (this.data) {
        switch (this.data.orderStatus) {
          case 'B':
            return 0
          case 'C':
          case 'D':
            if (this.data.paysSatus === 'B') {
              return 1
            } else {
              return 0
            }
          case 'E':
          case 'R': // 种猪营销商品出库
            return 2
          case 'G':
          case 'P':
            return 3
          case 'H':
            return 4
        }
      }
      return 0
    }
  },
  created () {
    this.getIsInnerCustomer()

    this.orderId = this.$route.query.orderId
    this.wens_business = this.$route.query.wens_business
    if (!this.orderId) {
      this.$router.go(-1)
    }
    this.unCompNumber = this.$route.query.unCompNumber
    this.itemThumbnail = this.$route.query.itemThumbnail
    // 查询订单详情
    api.commonCall({ orderId: this.orderId }, 'wsOrderDetailQuery').then(res => {
    // api.queryOrderDetail({ orderId: this.orderId }).then(res => {
      if (res.success) {
        let total = 0
        res.data.items.forEach(v => {
          if (v.isAssistOrder) {
            total += v.alterAssistQty
          } else {
            total += v.alterQty
          }
        })
        res.data.totalqty = total
        this.data = res.data

        // 判断是否可以打印
        let query = this.$route.query
        if (+this.data.orderType === 1 && this.data.orderStatus === 'H' && this.data.paysSatus === 'B' && query.easbillid) {
          api.queryBrlrSellOrderListPrtInfo({ idList: query.easbillid }).then(res => {
            if (res.success && res.data && res.data.data && JSON.stringify(res.data.data) !== '{}') {
              if (Object.prototype.hasOwnProperty.call(res.data.data, query.easbillid)) {
                this.$set(this.data, 'canPrint', res.data.data[query.easbillid])
              }
            }
          })
        }

        // 判断是否是待成团,wx接口初始化
        if (this.data.orderStatus === 'F' && isWeiXin()) {
          // WX接口初始化
          this.initWX(['updateAppMessageShareData', 'updateTimelineShareData'], null, null, null)
        }
      }
    })
    this._recommendGoodsList() // 获取推荐商品

    if (this.$store.state.intoPage === 0) { // 页面手动刷新
      // 购物车总数
      let param = {
        page: 1,
        pageSize: 999,
        isGetCountOnly: 1,
        customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
      }
      if (this.$store.state.intoPage === 0 && getCookie('selectedChannel')) {
        param.owner = JSON.parse(getCookie('selectedChannel')).channelId
      } else if (this.$store.state.intoPage === 1 && this.$store.state.channel.currentChannel && this.$store.state.channel.currentChannel.channelId) {
        param.owner = this.$store.state.channel.currentChannel.channelId
      }
      api.queryCart(param).then(res => {
        if (res.success) {
          this.$store.dispatch('setShoppingCartCount', res.data.count)
        }
      })
    }
  },
  updated () {
    if (this.$refs.doSomeWrap && this.$refs.doSomeWrap.children && this.$refs.doSomeWrap.children.length) {
      this.showDoSomeWrap = true
    }
  },
  methods: {
    goCallCenter () {
      if (this.isDriver === '0') {
        this.$router.push({
          path: '/callCenter'
        })
      }
    },
    hide () {
      this.showDropDownMenu = false
    },
    // 去评价
    toEvaluationList () {
      let query = this.$route.query
      if (this.data.orderType === '0') {
        this.$toast.fail('此类订单不能评价')
        return
      }
      this.$router.push({
        path: '/evaluateList',
        query: {
          orderId: query.orderId,
          createTime: this.data.orderCreateTime
        }
      })
    },
    // 去发货单详情
    toDeliveryDetail () {
      let query = this.$route.query
      this.$router.push({
        path: '/selfServiceDeliveryDetail',
        query: {
          fid: query.easbillid,
          orderId: query.orderId,
          orderNum: this.data.orderNum,
          ownerId: this.data.ownerId,
          customerId: this.data.customerId
        }
      })
    },
    // 跳转店铺页面
    toShop (ownerId) {
      if (this.isDriver === '0') {
        this.$router.push({ path: '/shop', query: { ownerId } })
      }
    },
    // 跳转商品详情页
    toGoodsDetails (v) {
      if (this.isDriver === '0') {
        this.$router.push({
          path: this.data.isZZ !== '1' ? '/goodsDetails' : '/breedingPigDetails',
          query: { id: v.itemId, type: v.itemType || '0', combItemId: v.combItemId }
        })
      }
    },
    // 删除订单
    deleteOrderItem () {
      this.$dialog.confirm({
        title: '提示',
        message: '是否删除该订单？(谨慎操作)'
      }).then(() => {
        api.purOrderPurDelete({ id: this.orderId }).then(res => {
          if (res.success) {
            this.$toast.success('删除成功')
            this.$router.go(-1)
          } else {
            res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
          }
        })
      }).catch(() => {
        // on cancel
      })
    },
    // 取消订单
    cancelOrderItem () {
      this.$dialog.confirm({
        title: '提示',
        message: '是否取消该订单？'
      }).then(() => {
        api.orderCancel({ orderId: this.orderId }).then(res => {
          if (res.success) {
            this.$toast.success('取消成功')
            this.$router.go(-1)
          } else {
            res.message && this.$toast(res.message.replace('调用移动分销接口失败：', ''))
          }
        })
      }).catch(() => {

      })
    },
    // 确认订单
    confirmOrderItem (id) {
      this.$router.replace({
        path: '/confirmOrder',
        query: { id: id }
      })
    },
    // 去评价
    toEvaluation (data, item, index, evaluateType = '0', isFirst) {
      if (this.data.orderType === '0') {
        this.$toast.fail('此类订单不能评价')
        return
      }
      let params = {
        orderId: data.orderId,
        orderNum: data.orderNum,
        ownerId: data.ownerId,
        ownerName: data.ownerName,
        storeName: data.storeName,
        ownerPic: data.ownerPic,
        createTime: data.orderCreateTime,
        goods: item,
        evaluateType,
        isFirst
      }
      this.$router.push({
        path: '/evaluate',
        query: {
          params: JSON.stringify(params)
        }
      })
    },
    // 获取推荐商品
    _recommendGoodsList () {
      const params = {
        pageNo: this.page.index,
        pageSize: this.page.size
      }

      if (sessionStorage.getItem('token')) {
        if (this.$store.state.intoPage === 0 && sessionStorage.getItem('defaultCustomer')) {
          params.customerId = JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
        } else if (this.$store.state.intoPage === 1 && this.$store.state.customer.current && this.$store.state.customer.current.customerId) {
          params.customerId = this.$store.state.customer.current.customerId
        }

        if (this.$store.state.intoPage === 0 && getCookie('selectedChannel')) {
          params.ownerId = JSON.parse(getCookie('selectedChannel')).channelId
        } else if (this.$store.state.intoPage === 1 && this.$store.state.channel.currentChannel && this.$store.state.channel.currentChannel.channelId) {
          params.ownerId = this.$store.state.channel.currentChannel.channelId
        }
        if (!params.ownerId) return // 如果没有关联订货关系，则不请求接口
      }

      // 获取热销产品数据
      api.commonCall(params, 'queryRecommendGoods').then(res => {
        if (res.success) {
          this.cacheList = this.cacheList.concat(res.data.list)
          this.recommendList.splice(0, this.recommendList.length, ...this.cacheList)
          this.page.total = res.data.totalNumber < 6 ? res.data.totalNumber : 6 // 最多显示6个
          this.finished = false
          this.loading = false
          if (this.cacheList.length >= this.page.total) {
            this.finished = true
          }
          setTimeout(() => {
            this.isLoading = false
          }, 100)
        }
      })
    },
    // 再次购买
    purchase (orderItem) {
      let paramList = {}
      let params = {
        items: [],
        itemList: [],
        customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
      }
      let list = []

      orderItem.items.forEach((item, index) => {
        let obj = {
          ownerId: orderItem.ownerId,
          itemId: item.itemId,
          isChoose: '1',
          customerId: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId
        }

        let obj2 = {
          itemId: item.itemId
        }

        let obj3 = {
          ownerId: orderItem.ownerId,
          id: item.itemId,
          name: item.itemName
        }

        if (+item.assistattrId) {
          obj.assistattrId = obj2.assistAttrId = item.assistattrId
        }

        if (item.wtRangeMap && item.wtRangeMap.id) {
          obj.wtRangeId = item.wtRangeMap.id + ''
        }

        obj2.qty = parseInt(item.alterQty)

        obj.unitId = item.itemUnitId
        obj.assistUnitId = item.isAssistOrder ? item.itemAssistUnitId : null

        if (item.isAssistOrder) {
          obj.assistQty = parseInt(item.alterAssistQty)
        } else {
          obj.qty = parseInt(item.alterQty)
        }

        paramList[item.itemId] = obj

        params.items.push(obj2)
        params.itemList.push(obj3)
      })

      if (!params.items.length) {
        this.$toast.fail('请移步 商品详情页面 进行“非单卖品”的购买操作')
        return
      }

      this.purchaseLoading = true
      api.itemIsBuy(params).then(res => {
        if (res.success) {
          if (!res.data.list.length) {
            this.purchaseLoading = false
            this.$toast.fail('商品已失效')
            return
          }

          let hasInValid = params.items.length !== res.data.list.length

          res.data.list.forEach(v => {
            if (+v.isBuy) {
              list.push(paramList[v.itemId])
            }
          })

          if (!list.length) {
            this.purchaseLoading = false
            this.$toast.fail(hasInValid ? '部分商品暂时不能加入购物车或已失效' : '部分商品暂时不能加入购物车')
            return
          }

          api.saveGoods({ list }).then(res => {
            this.purchaseLoading = false
            if (res.success) {
              this.$toast.success('加入购物车成功')
              this.$router.push({ path: '/shoppingCart' })
            } else {
              res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
            }
          })
        } else {
          this.purchaseLoading = false
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    // 下拉刷新
    onRefresh () {
      this.page.index = 1
      this.cacheList = []
      this._recommendGoodsList()
    },
    // 上拉加载
    onLoad () {
      this.page.index++
      this._recommendGoodsList()
    },
    // 去购物车
    toShoppingCart () {
      this.$router.push('/shoppingCart')
    },
    // 分享到微信
    onShareAppMessage () {
      if (!isWeiXin()) {
        this.$toast('请用微信浏览器打开，进行分享')
        return
      }
      this.guideShare = true

      const urlPrefix = window.location.protocol + '//' + window.location.host
      // 需要带回去的参数有：团购id，商品id，团购订单id，服务部id
      const url = urlPrefix + '/groupBuyingDetails?groupId=' + this.$route.query.groupId + '&id=' + this.data.items[0].itemId + '&groupOrderId=' + this.$route.query.groupOrderId + '&ownerId=' + this.data.ownerId
      // 标题模板 【仅剩余XX头】我在XX服务部xx 元拼了XX头XX商品
      let unit = (this.data.items[0].isAssistOrder ? this.data.items[0].itemAssistUnitName : this.data.items[0].itemUnitName)
      let title = '【仅剩余' + this.unCompNumber + unit + '】我在' + this.data.ownerName + '服务部' + this.data.items[0].itemPrice + '元拼了' + this.data.items[0].alterAssistQty + unit + this.data.items[0].itemName + '商品'
      this.WXShare(title, this.data.items[0].itemName, url, this.itemThumbnail && this.itemThumbnail.trim() ? this.allImgDomainName + this.itemThumbnail : urlPrefix + this.defaultProImg)
    },
    // 上传图片
    _uploadImage (file, type, name, size, e) {
      // 传递一个 FormData 对象
      // let formData = new FormData()
      // 'file' 可变 相当于 input 表单的name 属性
      // formData.append('file', file)
      api.uploadImage(file, res => {
        if (res.success) {
          if (type === 'mp4' || type === 'avi' || type === 'quicktime') {
            this.uploadList.push({
              name: name,
              url: res.data[0],
              size: size + ''
            })
          } else {
            this.uploadList.push({ pictureUrl: res.data[0] })
          }
          e.status = 'done'
        } else {
          e.status = 'failed'
          e.message = '上传失败'
          this.$toast.fail(res.msg || '上传图片或视频失败')
        }
      })
    },
    onAfterRead (e) {
      let file = e.file
      let type = file.type.split('/')[1]
      e.status = 'uploading'
      e.message = '上传中...'
      this._uploadImage(file, type, file.name, file.size, e)
    },
    // 删除上传图片
    onBeforeDelete (e) {
      let index = this.previewUploadList.findIndex(v => v.content === e.content)
      if (index > -1) {
        this.uploadList.splice(index, 1)
        return true
      } else {
        return false
      }
    },
    // 图片预览
    viewPicDetail (index, picList) {
      let list = []
      list = picList.map(v => this.allImgDomainName + v)
      ImagePreview({
        images: list,
        startPosition: index
      })
    },
    // 是否是内部用户
    getIsInnerCustomer () {
      api.commonCall({ customer: JSON.parse(sessionStorage.getItem('defaultCustomer')) && JSON.parse(sessionStorage.getItem('defaultCustomer')).customerId }, 'isInnerCustomer').then(res => {
        if (res.success) {
          this.isInnerCustomer = res.data.isInnerCustomer
        }
      })
    },
    // 格式化日期
    formatDate (date) {
      let _date = date || new Date()
      return `${_date.getFullYear()}-${zero(_date.getMonth() + 1)}-${zero(_date.getDate())} ${_date.getHours()}:${_date.getMinutes()}:${zero(_date.getSeconds())}`
    },
    // 确认订单
    confirmOrder () {
      let params = {
        id: this.data.orderId,
        temperature: this.temperature, // 温度
        pictures: this.uploadList // 图片列表
      }
      api.commonCall(params, 'confirmZZOrder').then(res => {
        if (res.success) {
          this.popupShow = false
          this.$toast('确认成功')
          setTimeout(() => {
            this.$router.push({
              name: 'order',
              query: {
                index: 3,
                orderType: 1,
                businessIndex: 0,
                biztypeId: ''
              }
            })
          }, 500)
        } else {
          this.popupShow = false
          res.message && this.$toast.fail(res.message.replace('调用移动分销接口失败：', ''))
        }
      })
    },
    confirmReceipt () {
      this.popupShow = true
      this.deliveryTime = this.formatDate()
    },
    temperatureOnInput () {
      // 保留一位小数(可为负数)
      this.temperature = (this.temperature && this.temperature.match(/^(-?\d{0,1})\d*(\.?\d{0,1})/g)[0]) || null
    },
    // 物流信息跳转
    _goExpressLink (distribution, expressInfo) {
      if (!distribution) {
        window.open(expressInfo.expressLink, '_blank')
      }
    }
  }
}
</script>

<style scoped lang="less">
@import "~@/assets/css/mixin.less";

.order-detail-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f5f5f5;
  z-index: 100;
  .content-wrap {
    height: 100vh;
    box-sizing: border-box;
    padding-bottom: 110px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    .header-wrap {
      position: relative;
      .border-1px();
      .icon-wrap {
        position: absolute;
        right: 0;
        top: 0;
        line-height: 96px;
        .icon-list {
          display: inline-block;
          width: 65px;
          height: 65px;
          background-size: 65px 65px;
          background-repeat: no-repeat;
          vertical-align: middle;
          margin-right: 16px;
          position: relative;
          &.shop-cart {
            .bg-img("~@/assets/images/order/icon-shop-cart");
            span {
              position: absolute;
              top: 0;
              right: 0;
              width: 24px;
              line-height: 24px;
              text-align: center;
              color: #f95c5c;
              border-radius: 50%;
              padding-top: 3px;
              border: 2px solid #f95c5c;
              font-size: 20px;
              background-color: #ffffff;
            }
          }
          &.more {
            .bg-img("~@/assets/images/order/icon-more");
          }
        }
      }
    }
    .order-status-wrap {
      // line-height: 160px;
      // background: url("~@/assets/images/order/order-detail-bg.png") no-repeat center center /
      //   750px auto;
      // span {
      //   display: inline-block;
      //   margin-left: 40px;
      //   font-size: 32px;
      //   color: #ffffff;
      // }
      .border-1px();
      @{deep} .van-steps--horizontal {
        .van-steps__items {
          .van-step--horizontal {
            &.van-step--finish, .van-step--process {
              color: #44ad7b;
            }
            .van-step__circle-container {
              // top: 48px;
              .van-icon {
                font-size: 30px;
              }
              .van-step__circle {
                width: 24px;
                height: 24px;
              }
            }
          }
        }
      }
    }
    .express-delivery-wrap {
      margin-top: 16px;
      background-color: #fff;
      .title-wrap {
        position: relative;
        display: flex;
        box-sizing: border-box;
        width: 100%;
        padding: 26px 32px;
        overflow: hidden;
        color: #333333;
        font-size: 32px;
        line-height: 44px;
        .border-1px();
        >div {
          flex: 1;
        }
      }
      .value-wrap {
        .item-wrap {
          position: relative;
          display: flex;
          box-sizing: border-box;
          width: 100%;
          padding: 22px 32px;
          overflow: hidden;
          &:not(:last-child) {
            .border-1px();
            &::after {
              left: 32px;
              right: 32px;
              width: auto;
            }
          }
          .left {
            width: 80px;
            flex: 0 0 80px;
            display: flex;
            align-items: center;
            .round {
              display: inline-block;
              width: 56px;
              height: 56px;
              line-height: 56px;
              box-sizing: border-box;
              background-color: #D8D8D8;
              border-radius: 50%;
              text-align: center;
              color: #666666;
              font-size: 24px;
              font-family: PingFangSC-Regular, PingFang SC;
            }
          }
          .right {
            flex: 1;
            p {
              line-height: 40px;
              color: #333333;
              font-size: 28px;
              font-family: PingFangSC-Regular, PingFang SC;
              &:not(:first-child) {
                margin-top: 10px;
              }
              .highlight {
                color: #2763CF;
                font-size: 32px;
                text-decoration: underline;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
    .success-trade-wrap {
      padding: 40px 34px 20px;
      margin-top: 16px;
      background-color: #fff;
      .row {
        display: flex;
        box-sizing: border-box;
        font-size: 32px;
        &:not(:first-child) {
          margin-top: 40px;
        }
        // &:not(.photo) {
        //   align-items: center;
        // }
        .title {
          width: 174px;
          line-height: 44px;
          flex: 0 0 174px;
          font-family: PingFangSC-Medium, PingFang SC;
          font-weight: 500;
          color: #434349;
          .must {
            color: #E02020;
          }
        }
        .value {
          flex: 1;
          position: relative;
          overflow: hidden;
          line-height: 44px;
          font-family: PingFangSC-Regular, PingFang SC;
          .content-images {
            img {
              width: 100%;
            }
          }
        }
      }
    }
    .list-wrap {
      margin-top: 16px;
      background-color: #ffffff;
      .title {
        margin-bottom: 43px;
        position: relative;
        font-size: 0;
        display: flex;
        padding: 43px 24px 0px;
        span,
        p {
          display: inline-block;
          vertical-align: middle;
        }
        span {
          &.icon {
            width: 34px;
            height: 30px;
            margin-right: 20px;
            background: url("~@/assets/images/order/shopper@2x.png") no-repeat center center /
              34px 30px;
          }
          &.status {
            line-height: 28px;
            font-size: 26px;
            font-weight: 400;
            color: rgb(255, 93, 19);
          }
        }
        p {
          flex: 1;
          height: 28px;
          font-size: 28px;
          font-weight: 500;
          color: rgb(46, 48, 51);
          line-height: 28px;
          .arrow {
            line-height: 30px;
            font-size: 24px;
            color: rgb(46, 48, 51);
            width: 40px;
            text-align: center;
            top: 2px;
          }
        }
      }
      .list-item {
        font-size: 0;
        margin-bottom: 30px;
        padding: 0 24px;
        &:last-child {
          margin-bottom: 0;
        }
        .img-wrap,
        .text-wrap {
          display: inline-block;
          vertical-align: middle;
        }
        .img-wrap {
          width: 180px;
          img {
            width: 100%;
          }
        }
        .text-wrap {
          width: 498px;
          margin-left: 24px;
          .goods-name {
            font-size: 28px;
            font-weight: 400;
            color: #323437;
            line-height: 34px;
            >span {
              padding: 0 5px;
              background: #f95c5c;
              margin-right: 6px;
              color: white;
            }
          }
          .goods-info {
            color: #8e939a;
            font-size: 22px;
          }
          .goods-detail {
            margin: 9px 0;
            text-align: right;
            /*position: relative;*/
            /*span {*/
              /*color: #8e939a;*/
              /*font-size: 26px;*/
            /*}*/
            /*i {*/
              /*position: absolute;*/
              /*top: 0;*/
              /*right: 0;*/
              font-size: 26px;
              color: #8e939a;
              font-style: normal;
            /*}*/
          }
          .price {
            font-size: 0;
            color: #8e939a;
            i,
            span {
              display: inline-block;
              vertical-align: middle;
            }
            i {
              font-size: 24px;
              font-style: normal;
            }
            span {
              font-size: 32px;
            }
          }
          .more {
            margin-bottom: 20px;
            font-size: 24px;
            color: #f95c5c;
            line-height: 34px;
            text-align: right;
          }
        }
      }
      .list-text {
        padding: 0 24px;
        .border-1px();
        p {
          line-height: 28px;
          color: rgba(94, 97, 102, 1);
          font-size: 26px;
          margin-bottom: 20px;
          &:last-child {
            margin-bottom: 0;
            padding-bottom: 40px;
          }
        }
      }
      .contact-wrap {
        text-align: center;
        line-height: 96px;
        font-size: 0;
        i,
        span {
          display: inline-block;
          vertical-align: middle;
        }
        i {
          width: 37px;
          height: 36px;
          background-repeat: no-repeat;
          background-size: 37px 36px;
          .bg-img("~@/assets/images/order/contact");
        }
        span {
          margin-left: 23px;
          font-size: 28px;
          color: rgba(46, 48, 51, 1);
        }
      }
    }
    .nav-list-wrap {
      margin-top: 16px;
      background-color: #fff;
      .nav-list {
        position: relative;
        padding: 40px 30px 40px 32px;
        font-size: 0;
        .border-1px();
        .icon,
        .nav-text {
          display: inline-block;
          vertical-align: middle;
        }
        .icon {
          width: 48px;
          height: 48px;
          margin-right: 32px;
          background-size: 48px 48px;
          background-repeat: no-repeat;
          &.logisics {
            .bg-img("~@/assets/images/order/Shape");
          }
          &.address {
            .bg-img("~@/assets/images/order/Shape1");
          }
          &.send-type {
            .bg-img("~@/assets/images/order/Shape2");
          }
          &.pay-type {
            .bg-img("~@/assets/images/order/Shape3");
          }
        }
        .nav-text {
          width: 560px;
          &.no-next {
            width: 600px;
          }
          p {
            font-size: 28px;
            line-height: 32px;
            margin-bottom: 20px;
            &:last-child {
              margin-bottom: 0;
            }
            &.color1 {
              color: #4a9c75;
            }
            &.color2 {
              color: #5e6166;
            }
          }
        }
        .next {
          display: block;
          height: 12px;
          width: 12px;
          border-width: 2px 2px 0 0;
          border-color: #4a9c75;
          border-style: solid;
          transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
          position: absolute;
          top: 50%;
          right: 32px;
          margin-top: -6px;
        }
        &:last-child {
          .border-none();
        }
      }
    }
    .goods-content-wrap {
      margin-top: 16px;
      .van-cell {
        color: #2e3033;
        font-weight: 500;
      }
      .goods-count-wrap {
        text-align: right;
        line-height: 120px;
        padding: 0 24px;
        background-color: #ffffff;
        .border-1px();
        span {
          font-weight: 500;
        }
        .title {
          font-size: 24px;
        }
        .money {
          color: #e33240;
          font-size: 28px;
        }
      }
      .confirm-receipt-wrap {
        padding: 30px 34px;
        background-color: #F8F8F8;
        .button {
          display: flex;
          align-items: center;
          justify-content: center;
          background: #E02020;
          border-radius: 21px;
          height: 98px;
          span {
            color: #FFFFFF;
            font-size: 36px;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
          }
        }
      }
    }
  }

  .do-some-wrap {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 110px;
    line-height: 110px;
    background-color: #ffffff;
    text-align: right;
    padding: 0 24px;
    font-size: 0;
    box-shadow: 0 0 15px 0 rgba(232, 233, 235, 1);
    z-index: 100;
    >span {
      &:not(.no-evaluate) {
        display: inline-block;
        vertical-align: middle;
        min-width: 130px;
        line-height: 60px;
        margin-right: 16px;
        border-radius: 35px;
        color: #2e3033;
        font-size: 26px;
        text-align: center;
        position: relative;
        top: 8px;
        border: 2px solid #c1c4ca;
        padding: 0 17px;
        &.color1 {
          color: #ffffff;
          background: linear-gradient(
            90deg,
            rgb(255, 107, 82) 0%,
            rgb(227, 50, 64) 100%
          );
        }
        &.color2 {
          color: #e33240;
          border-color: #e33240;
          background: rgba(255, 248, 249, 1);
          &.purchase-loading {
            opacity: 0.7;
          }
          @{deep}.van-loading {
            .van-loading__spinner {
              width: 32px;
              height: 32px;
            }
            .van-loading__text {
              font-size: 32px;
            }
          }
        }
        &:last-child {
          margin-right: 0;
          border: 0;
        }
      }
      &.no-evaluate {
        display: inline-block;
        font-size: 26px;
        line-height: 60px;
        position: relative;
        top: 8px;
        margin-right: 16px;
        color: rgba(150, 150, 150, .7);
      }
    }
  }
  .other-wrap {
    margin-top: 16px;
  }
  @{deep}.van-popup {
    .confirm-receipt-popup-wrap {
      padding: 40px 34px 24px;
      .row {
        display: flex;
        font-size: 32px;
        &:not(:first-child) {
          margin-top: 40px;
        }
        &:not(.photo) {
          align-items: center;
        }
        .title {
          width: 174px;
          flex: 0 0 174px;
          font-family: PingFangSC-Medium, PingFang SC;
          font-weight: 500;
          color: #434349;
          .must {
            color: #E02020;
          }
        }
        .value {
          flex: 1;
          font-family: PingFangSC-Regular, PingFang SC;
          .form-input {
            font-size: 30px;
            padding: 8px 20px 8px 0;
            &::after {
              border-bottom: 0;
            }
            .border-1px(#CCCCCC);
          }
        }
      }
      .button {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #E02020;
        border-radius: 21px;
        height: 98px;
        margin-top: 40px;
        span {
          color: #FFFFFF;
          font-size: 36px;
          font-family: PingFangSC-Medium, PingFang SC;
          font-weight: 500;
        }
      }
    }
  }
  .guideShare{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 102;
    .arrows-img{
      width: 340px;
      position: absolute;
      right: 20px;
      top: 10px;
    }
    p{
      font-size: 36px;
      color: #fff;
      margin-top: 350px;
      text-align: center;
    }
  }
}
</style>
