<template>
  <div class="video-preview-box" v-if="show">
    <div class="van-video-content">
      <van-icon name="close" @click.stop="close"/>
      <my-video
        ref="myVideo"
        :type="'endHide'"
        :options="videoOpt"
        :url="videoUrl ? videoUrl : ''"
        @playing="playing($refs.myVideo)"
        @hideVideo="hideVideo"
        @ready="toggleReady"
      ></my-video>
    </div>
  </div>
</template>

<script>
import MyVideo from '@/components/my-video/my-video'
import { allImgDomainNameMixin } from '@/assets/js/mixin'

export default {
  name: 'video-preview',
  mixins: [allImgDomainNameMixin],
  props: {
    videoUrl: {
      type: String,
      default: ''
    },
    show: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      videoOpt: {
        controls: true,
        width: window.innerWidth,
        height: window.innerHeight,
        preload: 'auto',
        autoplay: true,
        language: 'zh-CN'
      },
      oldPlayingVideo: null
    }
  },
  watch: {
    show (val) {
      if (val) {
        this.playVideo()
      }
    }
  },
  created () {

  },
  methods: {
    playing (video) {
      if (video === this.oldPlayingVideo) {
        return
      } else if (this.oldPlayingVideo && this.oldPlayingVideo.playing) {
        this.oldPlayingVideo.pause()
      }

      this.oldPlayingVideo = video
    },
    toggleReady (bool) {
      // this.isReady = bool;
    },
    // 播放视频
    playVideo () {
      this.$nextTick(() => {
        this.$refs.myVideo.playVideo()
      })
    },
    pause () {
      this.$refs.myVideo.pause()
      // this.$emit('pause')
    },
    // 隐藏视频弹窗
    hideVideo () {
      // this.isShowVideo = false;
      // this.isReady = false;
    },
    // 关闭预览窗口
    close () {
      this.$emit('close')
    }
  },
  beforeRouteUpdate (to, from, next) {
    // next()
  },
  components: {
    MyVideo
  }
}
</script>

<style lang="less" scoped>
@import "~@/assets/css/mixin.less";

.video-preview-box {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 2011;
  background: black;

  @{deep}.van-nav-bar {
    background: black;

    .van-icon {
      color: rgba(255, 255, 255, .8) !important;
    }
  }

  @{deep}.van-hairline--bottom::after {
    border: 0;
  }

  .van-video-content {
    height: 100%;
    position: relative;
    i {
      position: absolute;
      right: 20px;
      top: 20px;
      font-size: 60px;
      color: #fff;
      z-index: 2;
    }
  }
}
</style>
